openapi: 3.0.3
info:
  title: Rivery API
  description: >

    # Rivery API documentation


    Welcome to the Rivery API Documentation. 


    Using the Rivery API, you can automate any single or group operations you
    perform in the Rivery console. 

    You can create, execute, and delete Rivers, create DataFrames, automate
    processes, and more.

    The Rivery API is structured around REST. It accepts JSON request bodies,
    returns JSON responses,

    and employs conventional HTTP response codes, authentication, and verbs to
    access and use data through HTTP requests. 


    Consult our [Legacy API](https://api-docs.rivery.io/) documentation. 


    Please [contact our Support team](mailto:<contact@rivery.io>) if you have
    any questions or concerns.


    # Authorization

    ## Rivery API Token

    To generate a Bearer token, please check out [Rivery's
    docs](https://docs.rivery.io/docs/rivery-api).


    Every bearer token is a combination of account, environment, and scopes
    attached. Every time the token is provided,

    the API compares its scopes with the request required scope.

    If the scope is not valid, an insufficient permissions (403) response code
    returned.


    ## Scopes

    A scope is defined as a combination of the entity in Rivery, and the
    operation allowed to perform on the entity.


    The entity can be any entity available via the API, for example -
    connection.

    An operation can be one of specific operations allowed for each scope. For
    example: list or edit.

    Therefore, listing connections scope will be set as `connection:list`.

    Please make sure the Bearer token is has the right scopes attached for all
    of the needed requests.
  version: 1.0.0
  contact:
    name: Rivery Documentation
    url: https://docs.rivery.io/
    email: contact@rivery.io
  x-logo:
    url: https://riveryio.wpengine.com/wp-content/uploads/2021/08/logo-main.svg
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: US
    url: https://api.rivery.io
  - description: EU
    url: https://api.eu-west-1.rivery.io
tags:
  - description: Management of rivers
    name: Rivers
  - description: Get the Rivery's activities data with various of GET operations
    name: Activities
  - description: Beta endpoints
    name: Beta Endpoints
  - description: Management of dataframe entities
    name: Dataframes
  - name: Groups
  - description: Listing accounts
    name: Accounts
  - description: Listing account's environments
    name: Environments
  - description: Listing account's audit events
    name: Audit Events
  - description: Management of connection entities
    name: Connections
paths:
  /v1/accounts/{account_id}/environments/{environment_id}/dataframes:
    get:
      tags:
        - Dataframes
      summary: Get Dataframes
      operationId: list_dataframes
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `dataframe:list` 
         
         **Get all dataframe entities from the DB**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - description: The number of items per page in the paginated list.
          required: false
          schema:
            title: Items Per Page
            description: The number of items per page in the paginated list.
            type: integer
            maximum: 500
            minimum: 1
            default: 20
          name: items_per_page
          in: query
        - description: The current page number in the paginated list.
          required: false
          schema:
            title: Page
            description: The current page number in the paginated list.
            type: integer
            minimum: 1
            default: 1
          name: page
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataframePaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - Dataframes
      summary: Add Dataframe
      operationId: add_dataframe
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `dataframe:write` 
         
         **Creates a new dataframe entity.**
        ****
        **Please note that the Dataframe's name has to be unique**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataframeAddInput'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataframeResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/dataframes/{dataframe_name}:
    get:
      tags:
        - Dataframes
      summary: Get Dataframe
      operationId: get_dataframe
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `dataframe:list` 
         
         **Get a specific dataframe by name.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: Dataframe Name
            type: string
          name: dataframe_name
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataframeResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - Dataframes
      summary: Update Dataframe
      operationId: update_dataframe
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `dataframe:write` 
         
         **Updates an existing dataframe entity. Please note that only the connecting_settings field can be modified**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: Dataframe Name
            type: string
          name: dataframe_name
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataframeUpdateInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataframeResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - Dataframes
      summary: Delete Dataframe
      operationId: delete_dataframe
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `dataframe:write` 
         
         **Delete a dataframe.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: Dataframe Name
            type: string
          name: dataframe_name
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDataframeResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/dataframes/{dataframe_name}/download:
    get:
      tags:
        - Dataframes
      summary: Download Dataframe
      operationId: download_dataframe
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `dataframe:list` 
         
         **This endpoint creates a new task for downloading a dataframe.**
        ****
        ****
        **Be advised: the task is an async operation, which means that**
        **after creating the task, the client must call the endpoint GET**
        **operation in order to get the result.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: Dataframe Name
            type: string
          name: dataframe_name
          in: path
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/dataframes/{dataframe_name}/clear:
    post:
      tags:
        - Dataframes
      summary: Clear Dataframe Values
      operationId: Dataframes_clearValues
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `dataframe:write` 
         
         **This endpoint creates an asynchronous operation for clearing the**
        **Dataframe's data.**
        **.**
        ****
        **Please note - this is different from deleting the Dataframe,**
        **which deletes both the Dataframe's data and configuration.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: Dataframe Name
            type: string
          name: dataframe_name
          in: path
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/activities_statistics:
    get:
      tags:
        - Activities
      summary: Get Activities Statistic
      operationId: Activities_getStatistics
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `activity:list` 
         
         **Get environment's activity statistics.**
        ****
        **The statistics include how many units(RPU) were consumed, and how**
        **many runs ended with each status.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - description: >-
            The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: Start Time
            description: >-
              The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: start_time
          in: query
        - description: >-
            The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: End Time
            description: >-
              The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: end_time
          in: query
        - description: A list of statuses to filter
          required: false
          schema:
            description: A list of statuses to filter
            items:
              $ref: '#/components/schemas/ActivityStatusEnum'
            type: array
          name: status
          in: query
        - description: The ID of the group to filter
          required: false
          schema:
            title: Group Id
            description: The ID of the group to filter
            items:
              type: string
            type: array
          name: group_id
          in: query
        - description: >-
            A flag that indicates whether the river is scheduled. If not set
            then activities of all rivers will be returned
          required: false
          schema:
            $ref: '#/components/schemas/ScheduleEnum'
          name: is_scheduled
          in: query
        - description: Get statistics for rivers that has the search query in their name
          required: false
          schema:
            title: Search
            description: Get statistics for rivers that has the search query in their name
            type: string
          name: search
          in: query
        - description: The river type
          required: false
          schema:
            description: The river type
            items:
              $ref: '#/components/schemas/RiverTypeEnum'
            type: array
          name: river_type
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityStatisticResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/activities_statistics:
    get:
      tags:
        - Activities
      summary: Get River Activities Statistic
      operationId: Activities_getRiverActivitiesStatistic
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `activity:list` 
         
         **Get river's activity statistics (summary).**
        ****
        **The statistics include how many units(RPU) were consumed, and how**
        **many runs ended with each status**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - description: >-
            The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: Start Time
            description: >-
              The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: start_time
          in: query
        - description: >-
            The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: End Time
            description: >-
              The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: end_time
          in: query
        - required: false
          schema:
            items:
              $ref: '#/components/schemas/ActivityStatusEnum'
            type: array
          name: status
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverActivityStatisticResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/activities_targets:
    get:
      tags:
        - Activities
      summary: Get River Activities Targets
      operationId: Activities_getRiverActivityTargets
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `activity:list` 
         
         **Get river's activity targets (table names) in a specific time frame for**
        **specific river and their status.**
        ****
        **This endpoint should be used for multi table rivers.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - description: >-
            The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: Start Time
            description: >-
              The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: start_time
          in: query
        - description: >-
            The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: End Time
            description: >-
              The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: end_time
          in: query
        - description: Filter by the run group ID
          required: false
          schema:
            title: Run Group Id
            description: Filter by the run group ID
            type: string
          name: run_group_id
          in: query
        - description: Filter by the sub river ID
          required: false
          schema:
            title: Sub River Id
            description: Filter by the sub river ID
            type: string
          name: sub_river_id
          in: query
        - description: >-
            A list of statuses. Only targets with those statuses will be
            returned
          required: false
          schema:
            description: >-
              A list of statuses. Only targets with those statuses will be
              returned
            items:
              $ref: '#/components/schemas/ActivityStatusEnum'
            type: array
          name: status
          in: query
        - description: Indicates by which parameter to sort the targets
          required: false
          schema:
            $ref: '#/components/schemas/TargetsSortByEnum'
          name: sort_by
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/SortOrderEnum'
          name: sort_order
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverActivityTargetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/activities_run_groups:
    get:
      tags:
        - Activities
      summary: List River Activities Run Groups
      operationId: Activities_listRunGroups
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `activity:list` 
         
         **Get list of run groups that occurred in a specific time**
        **frame for specific river and their status.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - description: >-
            The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: Start Time
            description: >-
              The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: start_time
          in: query
        - description: >-
            The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: End Time
            description: >-
              The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: end_time
          in: query
        - description: Filter by the target table name
          required: false
          schema:
            title: Target Name
            description: Filter by the target table name
            type: string
          name: target_name
          in: query
        - description: Filter by the sub river ID
          required: false
          schema:
            title: Sub River Id
            description: Filter by the sub river ID
            type: string
          name: sub_river_id
          in: query
        - description: >-
            A list of statuses. Only run groups with this statuses will be
            returned.
          required: false
          schema:
            description: >-
              A list of statuses. Only run groups with this statuses will be
              returned.
            items:
              $ref: '#/components/schemas/RunGroupStatusEnum'
            type: array
          name: status
          in: query
        - description: Cache context id is an internal query parameter for cache purposes
          required: false
          schema:
            title: Cache Context Id
            description: Cache context id is an internal query parameter for cache purposes
            type: string
          name: cache_context_id
          in: query
        - required: false
          schema:
            title: Page
            type: integer
            minimum: 1
            default: 1
          name: page
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/RunGroupSortByEnum'
          name: sort_by
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/SortOrderEnum'
          name: sort_order
          in: query
        - required: false
          schema:
            title: Items Per Page
            type: integer
            maximum: 200
            minimum: 1
            default: 50
          name: items_per_page
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverActivityRunGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/activities_run_groups/{run_group_id}:
    get:
      tags:
        - Activities
      summary: Get River Activities Run Groups
      operationId: Activities_getRunGroup
      description: Get a specific run group id
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - required: true
          schema:
            title: Run Group Id
            type: string
          name: run_group_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverActivityRunGroupWithStatistics'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/activities_sub_rivers:
    get:
      tags:
        - Activities
      summary: Get River Activities Sub Rivers
      operationId: Activities_getSubRiverActivities
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `activity:list` 
         
         **Get list of sub rivers that ran in a specific time frame.**
        ****
        **Additional filters can be added such as target name or run group id.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - description: >-
            The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: Start Time
            description: >-
              The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: start_time
          in: query
        - description: >-
            The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: End Time
            description: >-
              The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: end_time
          in: query
        - description: Filter by the target table name
          required: false
          schema:
            title: Target Name
            description: Filter by the target table name
            type: string
          name: target_name
          in: query
        - description: Filter by the run group ID
          required: false
          schema:
            title: Run Group Id
            description: Filter by the run group ID
            type: string
          name: run_group_id
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverActivitySubRiverResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/runs:
    get:
      tags:
        - Activities
      summary: Get River Activities Runs
      operationId: Activities_getRiverRuns
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `activity:list` 
         
         **Get list of runs for a specific river in a specific time frame.**
        ****
        **This endpoint return information about the runs.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - description: >-
            The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: Start Time
            description: >-
              The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: start_time
          in: query
        - description: >-
            The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: End Time
            description: >-
              The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: end_time
          in: query
        - description: Filter by the target table name
          required: false
          schema:
            title: Target Name
            description: Filter by the target table name
            type: string
          name: target_name
          in: query
        - description: Filter by the run group ID
          required: false
          schema:
            title: Run Group Id
            description: Filter by the run group ID
            type: string
          name: run_group_id
          in: query
        - description: Filter by the sub river ID
          required: false
          schema:
            title: Sub River Id
            description: Filter by the sub river ID
            type: string
          name: sub_river_id
          in: query
        - required: false
          schema:
            title: Page
            type: integer
            minimum: 1
            default: 1
          name: page
          in: query
        - required: false
          schema:
            title: Items Per Page
            type: integer
            maximum: 200
            minimum: 1
            default: 20
          name: items_per_page
          in: query
        - description: Indicates by which parameter to sort the runs
          required: false
          schema:
            $ref: '#/components/schemas/RunsSortByEnum'
          name: sort_by
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/SortOrderEnum'
          name: sort_order
          in: query
        - description: Cache context id is an internal query parameter for cache purposes
          required: false
          schema:
            title: Cache Context Id
            description: Cache context id is an internal query parameter for cache purposes
            type: string
          name: cache_context_id
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverActivityRunsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/runs/{run_id}:
    get:
      tags:
        - Activities
      summary: Get River Activities Run
      operationId: Activities_getRiverActivitiesRun
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `activity:list` 
         
         **Get a specific run details.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - required: true
          schema:
            title: Run Id
            type: string
          name: run_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverActivityRun'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/runs/{run_id}/logic_steps:
    get:
      tags:
        - Activities
      summary: Get River Activities Run Logic Steps
      operationId: Activities_getLogicStepsStatus
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `activity:list` 
         
         **Get the status of each logic step for a specific run.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - required: true
          schema:
            title: Run Id
            type: string
          name: run_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverActivityRunLogicStepsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/runs/{run_id}/variables:
    get:
      tags:
        - Activities
      summary: Get Activities Logic Variables
      operationId: Activities_getRunVariables
      security:
        - HTTPBearer: []
      description: >-
        **Authorization scope:** `activity:list` 
         
         **This endpoint retrieves the values of the logic variables in a specific run.**
        **The values are stored for a short period of time and will expire after
        that time.**

        **If the values have expired, an error message will be returned.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - required: true
          schema:
            title: Run Id
            type: string
          name: run_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogicVariableResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/runs/{run_id}/logic_steps/{step_id}/logs:
    get:
      tags:
        - Activities
      summary: Get Activities Logic Step Log
      operationId: Activities_getLogicStepLogs
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `activity:list` 
         
         **Get the logs of a python logic step.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - required: true
          schema:
            title: Run Id
            type: string
          name: run_id
          in: path
        - required: true
          schema:
            title: Step Id
            type: string
          name: step_id
          in: path
        - description: The step iteration number
          required: false
          schema:
            title: Iteration Number
            description: The step iteration number
            type: integer
            minimum: 0
            default: 0
          name: iteration_number
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverActivityRunLogicStepsLogsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/activities:
    get:
      tags:
        - Activities
      summary: Get Activities
      operationId: get_activities
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `activity:list` 
         
         **Get summary of activities for the account and environment summarized by**
        **river.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - description: >-
            The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: Start Time
            description: >-
              The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: start_time
          in: query
        - description: >-
            The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: true
          schema:
            title: End Time
            description: >-
              The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: end_time
          in: query
        - required: false
          schema:
            items:
              $ref: '#/components/schemas/ActivityStatusEnum'
            type: array
          name: status
          in: query
        - description: The ID of the group to filter
          required: false
          schema:
            title: Group Id
            description: The ID of the group to filter
            items:
              type: string
            type: array
          name: group_id
          in: query
        - description: >-
            A flag that indicates whether the river is scheduled. If not set
            then activities of all rivers will be returned
          required: false
          schema:
            $ref: '#/components/schemas/ScheduleEnum'
          name: is_scheduled
          in: query
        - required: false
          schema:
            title: Page
            type: integer
            minimum: 1
            default: 1
          name: page
          in: query
        - required: false
          schema:
            title: Items Per Page
            type: integer
            maximum: 200
            minimum: 1
            default: 20
          name: items_per_page
          in: query
        - description: Cache context id is an internal query parameter for cache purposes
          required: false
          schema:
            title: Cache Context Id
            description: Cache context id is an internal query parameter for cache purposes
            type: string
          name: cache_context_id
          in: query
        - description: Search for a specific river by river name
          required: false
          schema:
            title: Search
            description: Search for a specific river by river name
            type: string
          name: search
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/ActivitySortByEnum'
          name: sort_by
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/SortOrderEnum'
          name: sort_order
          in: query
        - description: The river type
          required: false
          schema:
            description: The river type
            items:
              $ref: '#/components/schemas/RiverTypeEnum'
            type: array
          name: river_type
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/runs/{run_id}/logs:
    get:
      tags:
        - Activities
      summary: Get Run Logs
      operationId: Activities_getRunLogs
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `activity:list` 
         
         **This method fetches the logs for a given run id of a river.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - required: true
          schema:
            title: Run Id
            type: string
          name: run_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/ActivitiesGetRunLogsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/versions:
    get:
      tags:
        - Rivers
      summary: List River Versions
      operationId: Rivers_listVersions
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:list` 
         
         **This endpoint returns all river versions for a given river_cross_id.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - description: The number of items per page in the paginated list.
          required: false
          schema:
            title: Items Per Page
            description: The number of items per page in the paginated list.
            type: integer
            maximum: 500
            minimum: 1
            default: 20
          name: items_per_page
          in: query
        - description: The current page number in the paginated list.
          required: false
          schema:
            title: Page
            description: The current page number in the paginated list.
            type: integer
            minimum: 1
            default: 1
          name: page
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverVersionsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/versions/{version_id}:
    get:
      tags:
        - Rivers
      summary: Get River Version
      operationId: Rivers_getVersion
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:list` 
         
         **This endpoint returns a given version for a version id and river_cross_id.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - required: true
          schema:
            title: Version Id
            type: string
          name: version_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverVersions'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}:
    get:
      tags:
        - Rivers
      summary: Get River
      operationId: get_river
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:list` 
         
         **This endpoint gets a river.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - Beta Endpoints
      summary: Edit River
      operationId: edit_river
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:write` 
         
         **This endpoint updates a river.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteRiverInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - Rivers
      summary: Delete River
      operationId: delete_river
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:write` 
         
         **This endpoint deletes a river**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRiverResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers:
    get:
      tags:
        - Rivers
      summary: List Rivers
      operationId: list_rivers
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:list` 
         
         **This endpoint gets a summary of all the rivers in an environment**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - description: The current page number in the paginated list.
          required: false
          schema:
            title: Page
            description: The current page number in the paginated list.
            type: integer
            minimum: 1
            default: 1
          name: page
          in: query
        - description: The number of items per page in the paginated list.
          required: false
          schema:
            title: Items Per Page
            description: The number of items per page in the paginated list.
            type: integer
            maximum: 500
            minimum: 1
            default: 20
          name: items_per_page
          in: query
        - description: The river group name
          required: false
          schema:
            title: Group Name
            description: The river group name
            type: string
          name: group_name
          in: query
        - description: The river group id
          required: false
          schema:
            title: Group Id
            description: The river group id
            items:
              type: string
            type: array
          name: group_id
          in: query
        - description: The river name
          required: false
          schema:
            title: Name
            description: The river name
            type: string
          name: name
          in: query
        - description: The river schedule status
          required: false
          schema:
            $ref: '#/components/schemas/RiverScheduleStatusEnum'
          name: schedule
          in: query
        - description: The river status
          required: false
          schema:
            description: The river status
            items:
              $ref: '#/components/schemas/RiverStatusEnum'
            type: array
          name: river_status
          in: query
        - description: The river sort by filter
          required: false
          schema:
            $ref: '#/components/schemas/ListRiversSortByFilterEnum'
          name: sort_by
          in: query
        - description: The river sort order filter
          required: false
          schema:
            $ref: '#/components/schemas/SortOrderEnum'
          name: sort_order
          in: query
        - description: The river type
          required: false
          schema:
            description: The river type
            items:
              $ref: '#/components/schemas/RiverTypeEnum'
            type: array
          name: river_type
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - Beta Endpoints
      summary: Add River
      operationId: add_river
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:write` 
         
         **This endpoint creates a river.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteRiverInput'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/cdc_config:
    get:
      tags:
        - Rivers
      summary: Get Cdc Config
      operationId: Rivers_getCdcConfig
      security:
        - HTTPBearer: []
      description: >-
        **Authorization scope:** `river:list` 
         
         **This endpoint gets the cdc config:**
        ****

        *** Gets cdc offset by provided datasource type to see the last position
        of the cdc**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdcConfig'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - Rivers
      summary: Set Cdc Config
      operationId: Rivers_setCdcConfig
      security:
        - HTTPBearer: []
      description: >-
        **Authorization scope:** `river:write` 
         
         **This endpoint set the cdc config:**
        ****

        *** Set the cdc offset that next run of the river can continue from
        specific position**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CdcConfig'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiversSetCdcConfigResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - Rivers
      summary: Delete Cdc Config
      operationId: Rivers_deleteCdcConfig
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:write` 
         
         **This endpoint delete the cdc config:**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiversDeleteCdcConfigResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/cancel_run:
    post:
      tags:
        - Rivers
      summary: Cancel River Run
      operationId: Rivers_cancelRun
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:execute` 
         
         **This endpoint cancels a specific run if run_id is provided or multiple runs if run_group_id is provided.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRiverRunBody'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/run:
    post:
      tags:
        - Rivers
      summary: Run River
      operationId: run_river
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:execute` 
         
         **This endpoint runs a river.**
        ****
        **Throttling rules:**
        *** River can be executed up to 2 times per minute**
        *** Each user can execute a river up to 15 times per minute**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - description: >-
            A flag that indicates whether to run all active sub rivers of the
            master river
          required: false
          schema:
            title: Run Sub Rivers
            description: >-
              A flag that indicates whether to run all active sub rivers of the
              master river
            type: boolean
            default: false
          name: run_sub_rivers
          in: query
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiversRunResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/sub_rivers/{sub_river_id}/run:
    post:
      tags:
        - Rivers
      summary: Run Sub River
      operationId: Rivers_triggerSubRiverRun
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:execute` 
         
         **This endpoint runs a sub_river.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - required: true
          schema:
            title: Sub River Id
            type: string
          name: sub_river_id
          in: path
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiversRunResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/variables:
    get:
      tags:
        - Rivers
      summary: Get River Variables
      operationId: Rivers_getVariables
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:list` 
         
         **Get all river variables**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - description: The number of items per page in the paginated list.
          required: false
          schema:
            title: Items Per Page
            description: The number of items per page in the paginated list.
            type: integer
            maximum: 500
            minimum: 1
            default: 20
          name: items_per_page
          in: query
        - description: The current page number in the paginated list.
          required: false
          schema:
            title: Page
            description: The current page number in the paginated list.
            type: integer
            minimum: 1
            default: 1
          name: page
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverVariablesPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - Rivers
      summary: Update River Variable
      operationId: Rivers_updateRiverVariable
      security:
        - HTTPBearer: []
      description: >-
        **Authorization scope:** `river:write` 
         
         **This endpoint updates a variable for a river.**
        **Given a list of variables, it will replace all existing variables for
        the logic river with the provided list.**
      parameters:
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - description: The number of items per page in the paginated list.
          required: false
          schema:
            title: Items Per Page
            description: The number of items per page in the paginated list.
            type: integer
            maximum: 500
            minimum: 1
            default: 20
          name: items_per_page
          in: query
        - description: The current page number in the paginated list.
          required: false
          schema:
            title: Page
            description: The current page number in the paginated list.
            type: integer
            minimum: 1
            default: 1
          name: page
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRiverVariableInputList'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverVariablesPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments:
    get:
      tags:
        - Environments
      summary: List Environments
      operationId: list_environments
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `environment:list` 
         
         **Get list of environments entities for an account**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: false
          schema:
            title: Include Deleted
            type: boolean
            default: false
          name: include_deleted
          in: query
        - required: false
          schema:
            title: Is Deployable Environments
            type: boolean
            default: false
          name: is_deployable_environments
          in: query
        - description: The number of items per page in the paginated list.
          required: false
          schema:
            title: Items Per Page
            description: The number of items per page in the paginated list.
            type: integer
            maximum: 500
            minimum: 1
            default: 20
          name: items_per_page
          in: query
        - description: The current page number in the paginated list.
          required: false
          schema:
            title: Page
            description: The current page number in the paginated list.
            type: integer
            minimum: 1
            default: 1
          name: page
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEnvironmentsPaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - Beta Endpoints
      summary: Add Environment
      operationId: add_environment
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `environment:list` 
         
         **Creates a new environment entity**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentInput'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentsFields'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}:
    get:
      tags:
        - Environments
      summary: Get Environment
      operationId: get_environment
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `environment:list` 
         
         **Get a specific environment**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentsFields'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - Beta Endpoints
      summary: Patch Environment
      operationId: patch_environment
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `environment:edit` 
         
         **Updates an existing environment entity**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchEnvironmentInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentsFields'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - Beta Endpoints
      summary: Delete Environment
      operationId: delete_environment
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `environment:delete` 
         
         **Delete Environment**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/scim_provisioning:
    get:
      tags:
        - Accounts
      summary: Get Scim Provisioning Status
      operationId: Accounts_getScimProvisioningStatus
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `account:write` 
         
         **Get SCIM provisioning status**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetScimTokenStatusResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - Accounts
      summary: Add Or Update Scim Provisioning
      operationId: Accounts_addOrUpdateScimProvisioning
      security:
        - HTTPBearer: []
      description: >-
        **Authorization scope:** `account:write` 
         
         **Add or update SCIM provisioning.**
        **This endpoint returns the connection string used to communicate with
        your SCIM app and the authentication token**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateScimTokenResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - Accounts
      summary: Delete Scim Provisioning
      operationId: Accounts_deleteScimProvisioning
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `account:write` 
         
         **Deletes the scim provisioning. This endpoint won't delete any existing resource that were already sync by the SCIM.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/audit_events:
    get:
      tags:
        - Audit Events
      summary: List Audit Events
      operationId: AuditEvents_list
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `audit:list` 
         
         **List audit events**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - description: >-
            The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm
          required: false
          schema:
            title: Start Time
            description: >-
              The start UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: start_time
          in: query
        - description: >-
            The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
            YYYY-MM-DDTHH:MM:SS.mmmmmm If end_time is supplied without
            start_time the start_time will be the previous day of the end_time
          required: false
          schema:
            title: End Time
            description: >-
              The end UTC date time. Time format YYYY-MM-DDTHH:MM:SS or
              YYYY-MM-DDTHH:MM:SS.mmmmmm If end_time is supplied without
              start_time the start_time will be the previous day of the end_time
            type: string
            format: date-time
          example: '2020-01-01T12:00:00'
          name: end_time
          in: query
        - description: A list of users id's who initiated the event
          required: false
          schema:
            title: User Id
            description: A list of users id's who initiated the event
            items:
              type: string
            type: array
          example: 5eda28ee6b028e1ce7a2b5ed
          name: user_id
          in: query
        - description: A list of entity types
          required: false
          schema:
            description: A list of entity types
            items:
              $ref: '#/components/schemas/AuditEventTypeEnum'
            type: array
            example: connections
            x-examples:
              - connections
              - rivers
              - river_groups
          name: event_type
          in: query
        - description: A list of event types
          required: false
          schema:
            description: A list of event types
            items:
              $ref: '#/components/schemas/AuditEntityTypeEnum'
            type: array
            example: delete
            x-examples:
              - delete
              - create
              - update
          name: entity_type
          in: query
        - description: A unique logical identifier of an entity, usually the cross_id
          required: false
          schema:
            title: Entity Logical Key
            description: A unique logical identifier of an entity, usually the cross_id
            type: string
          example: 5eda28ee6b028e1ce7a2b5ec
          name: entity_logical_key
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEventsPaginationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/audit_events/{event_id}:
    get:
      tags:
        - Audit Events
      summary: Get Audit Event
      operationId: AuditEvents_getById
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `audit:list` 
         
         **Get a specific audit event by event_id.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - description: The id of the audit event
          required: true
          schema:
            title: Event Id
            description: The id of the audit event
            type: string
          example: eac285a5a9ae4ada9ccd49889a651e16
          name: event_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEventsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/connections/{connection_cross_id}:
    delete:
      tags:
        - Connections
      summary: Delete Connection
      operationId: delete_connection
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `connection:delete` 
         
         **This endpoint deletes a connection**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: Connection Cross Id
            type: string
          name: connection_cross_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteConnectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/teams:
    get:
      tags:
        - Groups
      summary: List Teams
      operationId: list_teams
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `team:list` 
         
         **Get all user teams**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: false
          schema:
            title: Page
            type: integer
            default: 1
          name: page
          in: query
        - required: false
          schema:
            title: Items Per Page
            type: integer
            maximum: 200
            default: 20
          name: items_per_page
          in: query
        - description: The internal display name of the team
          required: false
          schema:
            title: Display Name
            description: The internal display name of the team
            type: string
          example: Marketing team
          name: display_name
          in: query
        - description: The team source local (rivery) or external (Active Directory)
          required: false
          schema:
            title: Source
            description: The team source local (rivery) or external (Active Directory)
            type: string
          example: rivery
          name: source
          in: query
        - description: The remote display name of the team
          required: false
          schema:
            title: Remote Display Name
            description: The remote display name of the team
            type: string
          example: Core team
          name: remote_display_name
          in: query
        - description: Sorted the results by attributes
          required: false
          schema:
            $ref: '#/components/schemas/TeamsSortByEnum'
          name: sort_by
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/SortOrderEnum'
          name: sort_order
          in: query
        - description: List of team ids
          required: false
          schema:
            title: Team Id
            description: List of team ids
            items:
              type: string
            type: array
          example:
            - 65ce173412f5e196b2b9b163
          name: team_id
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTeamsListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - Groups
      summary: Create Team
      operationId: create_team
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `team:write` 
         
         **Create user team**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserTeam'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTeamsModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/teams/{team_id}:
    get:
      tags:
        - Groups
      summary: Get Team
      operationId: get_team
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `team:list` 
         
         **Get user team by id**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Team Id
            type: string
          name: team_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTeamsModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - Groups
      summary: Update Team
      operationId: update_team
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `team:write` 
         
         **Update team**
      parameters:
        - required: true
          schema:
            title: Team Id
            type: string
          name: team_id
          in: path
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserTeamsInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTeamsModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - Groups
      summary: Delete Team
      operationId: delete_team
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `team:write` 
         
         **Delete user team**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Team Id
            type: string
          name: team_id
          in: path
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
        - Groups
      summary: Patch Team
      operationId: patch_team
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `team:write` 
         
         **Patch team by id**
      parameters:
        - required: true
          schema:
            title: Team Id
            type: string
          name: team_id
          in: path
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserTeamsInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTeamsModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/copy:
    post:
      tags:
        - Beta Endpoints
      summary: Copy River
      operationId: copy_river
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:write` 
         
         **This endpoint creates a copy of a river**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
      responses:
        '201':
          description: Successful Response
          headers:
            Location:
              description: The location of the created resource
              type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyRiverResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/restore:
    put:
      tags:
        - Beta Endpoints
      summary: Restore River Version
      operationId: restore_river
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:write` 
         
         **This endpoint restores a river to a specific version**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreRiverVersionInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiverModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/enable_cdc:
    post:
      tags:
        - Beta Endpoints
      summary: Enable Cdc
      operationId: enable_cdc
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:write` 
         
         **This endpoint enables the CDC extraction for a CDC river.**
      parameters:
        - required: true
          schema:
            title: Account Id
            type: string
          name: account_id
          in: path
        - required: true
          schema:
            title: Environment Id
            type: string
          name: environment_id
          in: path
        - required: true
          schema:
            title: River Cross Id
            type: string
          name: river_cross_id
          in: path
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/accounts/{account_id}/environments/{environment_id}/rivers/{river_cross_id}/disable_cdc:
    post:
      tags:
        - Beta Endpoints
      summary: Disable Cdc
      operationId: disable_cdc
      security:
        - HTTPBearer: []
      description: |-
        **Authorization scope:** `river:write` 
         
[...]
