openapi: 3.0.0
info:
  title: Proliant API
  description: >-
    Our customer - facing API allows clients to view and manage company and
    employee data with features that integrate customers' systems with ours.
    These features include, but are not limited to, adding and updating
    Employees Deductions, Employee Information, and Cost Centers.
  version: v1
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://www.readypayonline.com/CompanyAPI
tags:
  - name: LookupValues
  - name: CostCenters
  - name: Accrual
  - name: Payroll
  - name: Employee
  - name: DeductionCode
  - name: EarningCode
  - name: Earnings
  - name: EmployeeDeductionCode
  - name: EmployeeEarningCode
  - name: JobCode
  - name: ShiftCode
  - name: Tax
  - name: Certification
  - name: DailyPay
  - name: Education
  - name: License
  - name: Rate
  - name: Skill
  - name: Training
  - name: Utility
  - name: PayHistory
  - name: Report
  - name: Review
  - name: Company
  - name: EmployeePto
  - name: Onboarding
  - name: TimeImport
  - name: ManualCheck
  - name: Pto
paths:
  /Company/{companyId}/Employee/{employeeId}/Accrual:
    get:
      tags:
        - Accrual
      summary: >-
        Gets all Accrual records associated for the provided company and
        employee
      operationId: Accrual_GetAccruals
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_EmployeeAccrualViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_EmployeeAccrualViewModel_
        '404':
          description: NotFound
    post:
      tags:
        - Accrual
      summary: Creates a accrual record for the provided company and employee
      operationId: Accrual_CreateAccrual
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/EmployeeAccrualViewModel'
      responses:
        '201':
          description: Success! Record has been created!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccrualCreateAccrualResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AccrualCreateAccrual201Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or accrual not found
  /Company/{companyId}/Employee/{employeeId}/Accrual/{code}:
    get:
      tags:
        - Accrual
      summary: Gets a accrual record for the provided company and employee
      operationId: Accrual_GetEmployeeAccrualByCode
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: The record id
          name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EmployeeAccrualViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EmployeeAccrualViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: NotFound
    put:
      tags:
        - Accrual
      summary: Updates a accrual record for the provided company and employee
      operationId: Accrual_UpdateAccrual
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: The accrual
          name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/EmployeeAccrualViewModel'
      responses:
        '200':
          description: Success! Record has been updated!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccrualUpdateAccrualResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AccrualUpdateAccrual200Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company, Employee, or accrual not found
    delete:
      tags:
        - Accrual
      summary: Deletes a accrual record for the provided company and employee
      operationId: Accrual_DeleteAccrual
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: The code
          name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: NotFound
  /Company/{companyId}/Accrual:
    get:
      tags:
        - Accrual
      summary: Gets all Accrual records associated for the provided company
      operationId: Accrual_GetAccruals
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyAccrualViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyAccrualViewModel_
        '404':
          description: NotFound
    post:
      tags:
        - Accrual
      summary: Creates a accrual record for the provided company
      operationId: Accrual_CreateAccrual
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CompanyAccrualViewModel'
      responses:
        '201':
          description: Success! Record has been created!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccrualCreateAccrual201Response1'
            text/json:
              schema:
                $ref: '#/components/schemas/AccrualCreateAccrual201Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or accrual not found
  /Company/{companyId}/Accrual/{code}:
    get:
      tags:
        - Accrual
      summary: Gets a accrual record for the provided company
      operationId: Accrual_GetAccrualByCode
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The record id
          name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_CompanyAccrualViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_CompanyAccrualViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: NotFound
    put:
      tags:
        - Accrual
      summary: Updates a accrual record for the provided company
      operationId: Accrual_UpdateAccrual
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The accrual
          name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CompanyAccrualViewModel'
      responses:
        '200':
          description: Success! Record has been updated!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccrualUpdateAccrual200Response1'
            text/json:
              schema:
                $ref: '#/components/schemas/AccrualUpdateAccrual200Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or accrual code not found
    delete:
      tags:
        - Accrual
      summary: Deletes a accrual record for the provided company
      operationId: Accrual_DeleteAccrual
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The code
          name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: NotFound
  /Company/{companyId}/Employee/{employeeId}/Certification:
    get:
      tags:
        - Certification
      summary: Gets certifications for an employee in a company
      operationId: Certification_GetEmployeeCertifications
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_EmployeeCertificationViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_EmployeeCertificationViewModel_
        '400':
          description: Bad Request!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Employee or Company not found
    post:
      tags:
        - Certification
      summary: Creates a certification for an employee in a company
      operationId: Certification_CreateEmployeeCertification
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/EmployeeCertificationViewModel'
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/Employee/{employeeId}/Certification/{certificationId}:
    put:
      tags:
        - Certification
      summary: Updates a certification for an employee in a company
      operationId: Certification_UpdateEmployeeCertification
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: The certification id
          name: certificationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: '#/components/requestBodies/EmployeeCertificationViewModel'
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    delete:
      tags:
        - Certification
      summary: Deletes a certification for an employee in a company
      operationId: Certification_DeleteEmployeeCertification
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: The certification id
          name: certificationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: Accepted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company, id, or certification not found
  /Company:
    get:
      tags:
        - Company
      summary: Gets a lookup list companies available to the current client
      operationId: Company_GetCompanies
      security:
        - oauth2:
            - Company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_LookupCodeViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_LookupCodeViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}:
    get:
      tags:
        - Company
      summary: Gets Company information by company Id
      operationId: Company_GetCompany
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_CompanyInformationViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_CompanyInformationViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/CostCenter1:
    get:
      tags:
        - CostCenters
      summary: Gets all Cost Center 1 records associated for the provided company
      operationId: CostCenters_GetCc1
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CostCenterViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CostCenterViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    post:
      tags:
        - CostCenters
      summary: Creates a Cost Center 1 record for the provided company
      operationId: CostCenters_CreateCc1
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CostCenterViewModel'
      responses:
        '201':
          description: Success! Cost Center Record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersCreateCc1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersCreateCc1201Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/CostCenter1/{cc}:
    get:
      tags:
        - CostCenters
      summary: Gets a Cost Center 1 record for the provided company
      operationId: CostCenters_GetCc1
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The record id
          name: cc
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_CostCenterViewModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_CostCenterViewModel_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or record not found
    put:
      tags:
        - CostCenters
      summary: Updates a Cost Center 1 record for the provided company
      operationId: CostCenters_UpdateCc1
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The cost center id
          name: cc
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CostCenterViewModel'
      responses:
        '200':
          description: Success! Cost center updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersUpdateCc1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersUpdateCc1200Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or cost center not found
    delete:
      tags:
        - CostCenters
      summary: Deletes a Cost Center 1 record for the provided company
      operationId: CostCenters_DeleteCc1
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The cost center id
          name: cc
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Success! Cost center deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersDeleteCc1Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersDeleteCc1202Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/CostCenter2:
    get:
      tags:
        - CostCenters
      summary: Gets all Cost Center 2 records associated for the provided company
      operationId: CostCenters_GetCc2
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CostCenterViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CostCenterViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    post:
      tags:
        - CostCenters
      summary: Creates a Cost Center 2 record for the provided company
      operationId: CostCenters_CreateCc2
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CostCenterViewModel'
      responses:
        '201':
          description: Success! Cost Center Record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersCreateCc2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersCreateCc2201Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/CostCenter2/{cc}:
    get:
      tags:
        - CostCenters
      summary: Gets a Cost Center 2 record for the provided company
      operationId: CostCenters_GetCc2
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The record id
          name: cc
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_CostCenterViewModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_CostCenterViewModel_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    put:
      tags:
        - CostCenters
      summary: Updates a Cost Center 2 record for the provided company
      operationId: CostCenters_UpdateCc2
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The cost center id
          name: cc
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CostCenterViewModel'
      responses:
        '200':
          description: Success! Cost center updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersUpdateCc2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersUpdateCc2200Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or cost center not found
    delete:
      tags:
        - CostCenters
      summary: Deletes a Cost Center 2 record for the provided company
      operationId: CostCenters_DeleteCc2
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The cost center id
          name: cc
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Success! Cost center deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersDeleteCc2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersDeleteCc2202Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/CostCenter3:
    get:
      tags:
        - CostCenters
      summary: Gets all Cost Center 3 records associated for the provided company
      operationId: CostCenters_GetCc3
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CostCenterViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CostCenterViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    post:
      tags:
        - CostCenters
      summary: Creates a Cost Center 3 record for the provided company
      operationId: CostCenters_CreateCc3
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CostCenterViewModel'
      responses:
        '201':
          description: Success! Cost Center Record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersCreateCc3Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersCreateCc3201Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/CostCenter3/{cc}:
    get:
      tags:
        - CostCenters
      summary: Gets a Cost Center 3 record for the provided company
      operationId: CostCenters_GetCc3
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The record id
          name: cc
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_CostCenterViewModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_CostCenterViewModel_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    put:
      tags:
        - CostCenters
      summary: Updates a Cost Center 3 record for the provided company
      operationId: CostCenters_UpdateCc3
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The cost center id
          name: cc
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CostCenterViewModel'
      responses:
        '200':
          description: Success! Cost center updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersUpdateCc3Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersUpdateCc3200Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    delete:
      tags:
        - CostCenters
      summary: Deletes a Cost Center 3 record for the provided company
      operationId: CostCenters_DeleteCc3
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The cost center id
          name: cc
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Success! Cost center deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersDeleteCc3Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersDeleteCc3202Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/CostCenter4:
    get:
      tags:
        - CostCenters
      summary: Gets all Cost Center 4 records associated for the provided company
      operationId: CostCenters_GetCc4
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CostCenterViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CostCenterViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    post:
      tags:
        - CostCenters
      summary: Creates a Cost Center 4 record for the provided company
      operationId: CostCenters_CreateCc4
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CostCenterViewModel'
      responses:
        '201':
          description: Success! Cost Center Record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersCreateCc4Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersCreateCc4201Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/CostCenter4/{cc}:
    get:
      tags:
        - CostCenters
      summary: Gets a Cost Center 4 record for the provided company
      operationId: CostCenters_GetCc4
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The record id
          name: cc
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_CostCenterViewModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_CostCenterViewModel_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    put:
      tags:
        - CostCenters
      summary: Updates a Cost Center 4 record for the provided company
      operationId: CostCenters_UpdateCc4
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The cost center id
          name: cc
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CostCenterViewModel'
      responses:
        '200':
          description: Success! Cost center updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersUpdateCc4Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersUpdateCc4200Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or cost center not found
    delete:
      tags:
        - CostCenters
      summary: Deletes a Cost Center 4 record for the provided company
      operationId: CostCenters_DeleteCc4
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The cost center id
          name: cc
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Success! Cost center deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersDeleteCc4Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersDeleteCc4202Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/CostCenter5:
    get:
      tags:
        - CostCenters
      summary: Gets all Cost Center 5 records associated for the provided company
      operationId: CostCenters_GetCc5
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CostCenterViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CostCenterViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    post:
      tags:
        - CostCenters
      summary: Creates a Cost Center 5 record for the provided company
      operationId: CostCenters_CreateCc5
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CostCenterViewModel'
      responses:
        '201':
          description: Success! Cost Center Record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersCreateCc5Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersCreateCc5201Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/CostCenter5/{cc}:
    get:
      tags:
        - CostCenters
      summary: Gets a Cost Center 5 record for the provided company
      operationId: CostCenters_GetCc5
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The record id
          name: cc
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_CostCenterViewModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_CostCenterViewModel_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    put:
      tags:
        - CostCenters
      summary: Updates a Cost Center 5 record for the provided company
      operationId: CostCenters_UpdateCc5
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The cost center id
          name: cc
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CostCenterViewModel'
      responses:
        '200':
          description: Success! Cost center updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersUpdateCc5Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersUpdateCc5200Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or cost center not found
    delete:
      tags:
        - CostCenters
      summary: Deletes a Cost Center 5 record for the provided company
      operationId: CostCenters_DeleteCc5
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The cost center id
          name: cc
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Success!Cost center deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersDeleteCc5Response'
            text/json:
              schema:
                $ref: '#/components/schemas/CostCentersDeleteCc5202Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/DailyPay/earnings:
    post:
      tags:
        - DailyPay
      summary: Adds earnings to one or more employee check(s) in the daily pay batch.
      operationId: DailyPay_AddEarnings
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/EarningImportViewModel'
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or deduction code not found
  /Company/{companyId}/DailyPay/calendars:
    get:
      tags:
        - DailyPay
      summary: Gets a list of current active Daily Pay calendars for the company.
      operationId: DailyPay_GetCurrentCalendars
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyCalendarViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyCalendarViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
  /Company/{companyId}/DailyPay/calendars/{date}:
    get:
      tags:
        - DailyPay
      summary: >-
        Gets a list of current active Daily Pay calendars for the company by
        date.
      operationId: DailyPay_GetCurrentCalendars
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The date
          name: date
          in: path
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyCalendarViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyCalendarViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
  /Company/{companyId}/DailyPay/earnings/{calendarId}:
    get:
      tags:
        - DailyPay
      summary: >-
        Gets earnings details by calendar for the designated daily pay batch,
        optionally filtered by a list of employee ids
      operationId: DailyPay_GetEarnings
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The calendar id
          name: calendarId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - description: Optional comma delimited list of employeeIds
          name: employeeIds
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
        '404':
          description: Company or deduction code not found
  /Company/{companyId}/DeductionCode:
    get:
      tags:
        - DeductionCode
      summary: Gets all deduction code records associated for the provided company
      operationId: DeductionCode_GetDeductionCodes
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_DeductionCodeViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_DeductionCodeViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    post:
      tags:
        - DeductionCode
      summary: Creates a deduction code record for the provided company
      operationId: DeductionCode_CreateDeductionCode
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DeductionCodeViewModel'
      responses:
        '201':
          description: Created!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeductionCodeCreateDeductionCodeResponse'
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/DeductionCodeCreateDeductionCode201Response
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or deduction code not found
  /Company/{companyId}/DeductionCode/{code}:
    get:
      tags:
        - DeductionCode
      summary: Gets a Deduction Code record for the provided company
      operationId: DeductionCode_GetDeductionCode
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The record id
          name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_DeductionCodeViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_DeductionCodeViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or deduction code not found
    put:
      tags:
        - DeductionCode
      summary: Updates a Deduction Code record for the provided company
      operationId: DeductionCode_UpdateDeductionCode
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The deduction code
          name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/DeductionCodeViewModel'
      responses:
        '200':
          description: Success! List of Deduction code records returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeductionCodeUpdateDeductionCodeResponse'
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/DeductionCodeUpdateDeductionCode200Response
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or deduction code not found
    delete:
      tags:
        - DeductionCode
      summary: Deletes a deduction code record for the provided company
      operationId: DeductionCode_DeleteDeductionCode
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The code
          name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or deduction code not found
  /Company/{companyId}/EarningCode:
    get:
      tags:
        - EarningCode
      summary: Gets all earning code records associated for the provided company
      operationId: EarningCode_GetEarningCodes
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_EarningCodeViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_EarningCodeViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    post:
      tags:
        - EarningCode
      summary: Creates a earning code record for the provided company
      operationId: EarningCode_CreateEarningCode
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/EarningCodeViewModel'
      responses:
        '201':
          description: Created!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningCodeCreateEarningCodeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/EarningCodeCreateEarningCode201Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or earning code not found
  /Company/{companyId}/EarningCode/{code}:
    get:
      tags:
        - EarningCode
      summary: Gets a earning code record for the provided company
      operationId: EarningCode_GetEarningCode
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The record id
          name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_EarningCodeViewModel_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_EarningCodeViewModel_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or earning code not found
    put:
      tags:
        - EarningCode
      summary: Updates a earning code record for the provided company
      operationId: EarningCode_UpdateEarningCode
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The earning code
          name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/EarningCodeViewModel'
      responses:
        '200':
          description: Success! List of earning code records returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningCodeUpdateEarningCodeResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/EarningCodeUpdateEarningCode200Response'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or earning code not found
    delete:
      tags:
        - EarningCode
      summary: Deletes a earning code record for the provided company
      operationId: EarningCode_DeleteEarningCode
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The code
          name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company or earning code not found
  /Company/{companyId}/Earnings:
    post:
      tags:
        - Earnings
      summary: Adds earnings to one or more employee check(s) in the regular batch.
      operationId: Earnings_AddEarnings
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/EarningImportViewModel'
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
        '404':
          description: Company or deduction code not found
  /Company/{companyId}/Earnings/{calendarId}/{batch}:
    get:
      tags:
        - Earnings
      summary: >-
        Gets earnings details by calendar and batch, optionally filtered by a
        list of employee ids
      operationId: Earnings_GetEarnings
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The calendar id
          name: calendarId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - description: The batch
          name: batch
          in: path
          required: true
          schema:
            type: string
        - description: Optional comma delimited list of employeeIds
          name: employeeIds
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EarningsResponseViewModel_
        '404':
          description: Company or deduction code not found
  /Company/{companyId}/Earnings/calendars:
    get:
      tags:
        - Earnings
      summary: >-
        Gets a list of calendars for the company using today as the transaction
        date.
      operationId: Earnings_GetCurrentCalendars
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyCalendarViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyCalendarViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
  /Company/{companyId}/Earnings/calendars/{date}:
    get:
      tags:
        - Earnings
      summary: Gets a list of calendars for the company by date.
      operationId: Earnings_GetCurrentCalendars
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The transaction date
          name: date
          in: path
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyCalendarViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyCalendarViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
  /Company/{companyId}/Earnings/calendars/search:
    get:
      tags:
        - Earnings
      summary: Gets a list of calendars for the company between the start and end date
      operationId: Earnings_GetAllCalendars
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: Start date (defaults to 1980-01-01)
          name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: End date (defaults to 2100-12-31)
          name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyCalendarViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_CompanyCalendarViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
  /Company/{companyId}/Employee/{employeeId}/Education:
    get:
      tags:
        - Education
      summary: Gets Educations for an employee in a company
      operationId: Education_GetEmployeeEducations
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_EmployeeEducationViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_List_EmployeeEducationViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Employee or Company not found
    post:
      tags:
        - Education
      summary: Creates Education for an employee in a company
      operationId: Education_CreateEmployeeEducation
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/EmployeeEducationViewModel'
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/Employee/{employeeId}/Education/{educationId}:
    put:
      tags:
        - Education
      summary: Updates Education for an employee in a company
      operationId: Education_UpdateEmployeeEducation
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: The Education id
          name: educationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: '#/components/requestBodies/EmployeeEducationViewModel'
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
    delete:
      tags:
        - Education
      summary: Deletes an education record for an employee in a company
      operationId: Education_DeleteEmployeeEducation
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: The education id
          name: educationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: Accepted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/Employee:
    get:
      tags:
        - Employee
      summary: Get employees from a company based on search criteria
      operationId: Employee_GetEmployees
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: Cost center 1
          name: searchCriteria.costCenter1
          in: query
          required: false
          schema:
            type: string
        - description: Cost center 2
          name: searchCriteria.costCenter2
          in: query
          required: false
          schema:
            type: string
        - description: Cost center 3
          name: searchCriteria.costCenter3
          in: query
          required: false
          schema:
            type: string
        - description: Cost center 4
          name: searchCriteria.costCenter4
          in: query
          required: false
          schema:
            type: string
        - description: Cost center 5
          name: searchCriteria.costCenter5
          in: query
          required: false
          schema:
            type: string
        - description: The employee name
          name: searchCriteria.name
          in: query
          required: false
          schema:
            type: string
        - description: The employee ID
          name: searchCriteria.id
          in: query
          required: false
          schema:
            type: string
        - description: Social security number
          name: searchCriteria.ssn
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Whether to return a base64 encoded profile image with the search
            results
          name: searchCriteria.inclueProfileImage
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Whether to include the direct deposit collection associated with
            each employee record
          name: searchCriteria.includeDirectDeposits
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Whether to include the emergency contact collection associated with
            each employee record
          name: searchCriteria.includeEmergencyContacts
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Whether to include the tax collection associated with each employee
            record
          name: searchCriteria.includeTaxes
          in: query
          required: false
          schema:
            type: boolean
        - name: searchCriteria.pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: searchCriteria.pageNumber
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Property to sort results by. Valid properties include any from the
            return entity.
          name: searchCriteria.sortByProperty
          in: query
          required: false
          schema:
            type: string
        - name: searchCriteria.sortDirection
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_PagedDataResult_EmployeeSearchResultsViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_PagedDataResult_EmployeeSearchResultsViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Employee or Company not found
    post:
      tags:
        - Employee
      summary: Creates an employee for a company
      operationId: Employee_CreateEmployee
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: The employee record
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeImportViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/EmployeeImportViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeImportViewModel'
        required: true
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Company not found
  /Company/{companyId}/Employee/{employeeId}:
    get:
      tags:
        - Employee
      summary: Gets an employee for a company
      operationId: Employee_GetEmployee
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Optional query string parameter whether to return only active
            records
          name: activeOnly
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EmployeeGetRequestViewModel_
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseDataWrapper_EmployeeGetRequestViewModel_
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: NotFound
    put:
      tags:
        - Employee
      summary: Updates an employee for a company
      operationId: Employee_UpdateEmployee
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: The employee record
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateViewModel'
        required: true
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Employee or Company not found
    delete:
      tags:
        - Employee
      summary: Deletes an employee by company and employee id
      operationId: Employee_DeleteEmployee
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The Employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: NotFound
  /Company/{companyId}/Employee/{employeeId}/DirectDeposits:
    put:
      tags:
        - Employee
      summary: Updates direct deposits for an employee
      operationId: Employee_UpdateEmployeeDirectDeposits
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Employee direct deposits
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateEmployeeDirectDepositsRequest'
          text/json:
            schema:
              $ref: >-
                #/components/schemas/EmployeeUpdateEmployeeDirectDepositsRequest1
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/EmployeeUpdateEmployeeDirectDepositsRequest2
        required: true
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: Employee or Company not found
  /Company/{companyId}/Employee/{employeeId}/Information:
    put:
      tags:
        - Employee
      summary: Updates demographics information for an employee
      operationId: Employee_UpdateEmployeeInformation
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Employee demographics information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeDemographicsPutViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/EmployeeDemographicsPutViewModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeDemographicsPutViewModel'
        required: true
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: NotFound
  /Company/{companyId}/Employee/{employeeId}/Taxes:
    put:
      tags:
        - Employee
      summary: Updates taxes for an employee
      operationId: Employee_UpdateEmployeeTaxes
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Employee taxes
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateEmployeeTaxesRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateEmployeeTaxesRequest1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateEmployeeTaxesRequest2'
        required: true
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: NotFound
  /Company/{companyId}/Employee/{employeeId}/EmergencyContacts:
    put:
      tags:
        - Employee
      summary: Updates emergency contacts for an employee
      operationId: Employee_UpdateEmployeeEmerencyContacts
      security:
        - oauth2:
            - Company
      parameters:
        - description: The company id
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The employee id
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Employee emergency contacts
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/EmployeeUpdateEmployeeEmerencyContactsRequest
          text/json:
            schema:
              $ref: >-
                #/components/schemas/EmployeeUpdateEmployeeEmerencyContactsRequest1
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/EmployeeUpdateEmployeeEmerencyContactsRequest2
        required: true
      responses:
        '200':
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseDataWrapper_String_'
        '404':
          description: NotFound
  /Company/{companyId}/Employee/{employeeId}/DeductionCode:
    get:
      tags:
[...]
