openapi: 3.0.3
info:
  title: Earth-2 Inference Server
  description: API for submitting to the Earth-2 Inference Server.
  version: 0.1.0
  termsOfService: https://ngc.nvidia.com/legal/terms
  contact:
    name: NVIDIA Support
    url: https://help.nvidia.com/
    email: earth2-support@exchange.nvidia.com
  license:
    name: NVIDIA cuOpt License and Usage Agreement
    url: >-
      https://www.nvidia.com/en-us/data-center/products/nvidia-ai-enterprise/eula/
  x-readme:
    explorer-enabled: false
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - description: URL for NVCF API where Earth-2 Inference Server is deployed.
    url: https://climate.api.nvidia.com/v1
tags:
  - name: Default
  - name: Multimodal API
  - name: Inference
  - name: cuOpt API
  - description: An operation relating to weather forecasting.
    name: forecast
  - name: Chat
  - name: nvidia / embeddings-qa-4
  - name: nvidia / reranking
  - name: Models
paths:
  /chat/completions:
    post:
      tags:
        - Chat
      summary: Creates a model response for the given chat conversation.
      operationId: Chat_generateModelResponse
      description: >-
        Given a list of messages comprising a conversation, the model will
        return a response. Compatible with OpenAI. See
        https://platform.openai.com/docs/api-reference/chat/create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionChunk'
        '202':
          description: |
            Result is pending. Client should poll using the requestId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGenerateModelResponseResponse'
          headers:
            NVCF-REQID:
              description: requestId required for pooling
              schema:
                type: string
                format: uuid
            NVCF-STATUS:
              description: Invocation status
              schema:
                type: string
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequiredError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                title: Unprocessable Entity
                type: urn:nvcf-worker-service:problem-details:unprocessable-entity
                status: 422
                detail: string
                instance: /v2/nvcf/pexec/functions/2f495340-a99f-4b4b-89bd-1beb003dd896
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        '500':
          description: The invocation ended with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                title: Internal Server Error
                type: urn:nvcf-worker-service:problem-details:internal-server-error
                status: 500
                detail: string
                instance: /v2/nvcf/pexec/functions/2f495340-a99f-4b4b-89bd-1beb003dd896
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      x-nvai-meta:
        name: Create chat completion
        returns: >
          Returns a [chat
          completion](https://docs.api.nvidia.com/nim/reference/google-gemma7b)
          object, or a streamed sequence of [chat completion
          chunk](https://docs.api.nvidia.com/nim/reference/google-gemma7b)
          objects if the request is streamed.
        path: create
        templates:
          - title: No Streaming
            requestEjs:
              python: |
                from openai import OpenAI

                client = OpenAI(
                  base_url = "https://integrate.api.nvidia.com/v1",
                  api_key = "$NVIDIA_API_KEY"
                )

                completion = client.chat.completions.create(
                  model="<%- request.model %>",
                  messages=<%- JSON.stringify(request.messages) %>,
                  temperature=<%- request.temperature %>,
                  top_p=<%- request.top_p %>,
                  max_tokens=<%- request.max_tokens %>,
                  stream=<%- request.stream?.toString()[0].toUpperCase() + request.stream?.toString().slice(1) %>
                )
                <% if (request.stream) { %>
                for chunk in completion:
                  if chunk.choices[0].delta.content is not None:
                    print(chunk.choices[0].delta.content, end="")
                <% } else { %>
                print(completion.choices[0].message)
                <% } %>
              node.js: |-
                import OpenAI from 'openai';

                const openai = new OpenAI({
                  apiKey: '$NVIDIA_API_KEY',
                  baseURL: 'https://integrate.api.nvidia.com/v1',
                })

                async function main() {
                  const completion = await openai.chat.completions.create({
                    model: "<%- request.model %>",
                    messages: <%- JSON.stringify(request.messages) %>,
                    temperature: <%- request.temperature %>,
                    top_p: <%- request.top_p %>,
                    max_tokens: <%- request.max_tokens %>,
                    stream: <%- request.stream %>,
                  })
                   <% if (request.stream) { %>
                  for await (const chunk of completion) {
                    process.stdout.write(chunk.choices[0]?.delta?.content || '')
                  }
                  <% } else { %>
                  process.stdout.write(completion.choices[0]?.message?.content);
                  <% } %>
                }

                main();
              curl: |
                curl https://integrate.api.nvidia.com/v1/chat/completions \
                  -H "Content-Type: application/json" \
                  -H "Authorization: Bearer $NVIDIA_API_KEY" \
                  -d '{
                    "model": "mistralai/mixtral-8x7b-instruct-v0.1",
                    "messages": <%- JSON.stringify(request.messages).replaceAll("'", "'\"'\"'") %>,
                    "temperature": <%- request.temperature %>,   
                    "top_p": <%- request.top_p %>,
                    "max_tokens": <%- request.max_tokens %>,
                    "stream": <%- request.stream %>                
                  }'
            response: |
              {
                "id": "chatcmpl-123",
                "object": "chat.completion",
                "created": 1677652288,
                "model": "mistralai/mixtral-8x7b-instruct-v0.1",
                "system_fingerprint": "fp_44709d6fcb",
                "choices": [{
                  "index": 0,
                  "message": {
                    "role": "assistant",
                    "content": "\n\nHello there, how may I assist you today?",
                  },
                  "finish_reason": "stop"
                }],
                "usage": {
                  "prompt_tokens": 9,
                  "completion_tokens": 12,
                  "total_tokens": 21
                }
              }
        example:
          name: Write a limmerick about the wonders of GPU computing.
          requestJson: |
            {
                  "model": "mistralai/mixtral-8x7b-instruct-v0.1",
                  "messages": [
                    {
                      "role": "system",
                      "content": "You are a helpful assistant."
                    },
                    {
                      "role": "user",
                      "content": "Write a limmerick about the wonders of GPU computing."
                    }
                  ],
                  "top_p": 0.7,
                  "max_tokens": 1024,
                  "seed": 42,
                  "stop": null,
                  "stream": true
            }
          responseJson: |
            {
              "id": "id-123",
              "object": "chat.completion",
              "created": 1677652288,
              "model": "mistralai/mixtral-8x7b-instruct-v0.1",
              "system_fingerprint": "fp_44709d6fcb",
              "choices": [{
                "index": 0,
                "message": {
                  "role": "assistant",
                  "content": "Here's a short poem on..."
                },
                "finish_reason": "stop"
              }],
              "usage": {
                "prompt_tokens": 9,
                "completion_tokens": 12,
                "total_tokens": 21
              }
            }
        x-examples:
          - name: Write a limmerick about the wonders of GPU computing.
            requestJson: |
              {
                    "model": "mistralai/mixtral-8x7b-instruct-v0.1",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "Write a limmerick about the wonders of GPU computing."
                      }
                    ],
                    "top_p": 0.7,
                    "max_tokens": 1024,
                    "seed": 42,
                    "stop": null,
                    "stream": true
              }
            responseJson: |
              {
                "id": "id-123",
                "object": "chat.completion",
                "created": 1677652288,
                "model": "mistralai/mixtral-8x7b-instruct-v0.1",
                "system_fingerprint": "fp_44709d6fcb",
                "choices": [{
                  "index": 0,
                  "message": {
                    "role": "assistant",
                    "content": "Here's a short poem on..."
                  },
                  "finish_reason": "stop"
                }],
                "usage": {
                  "prompt_tokens": 9,
                  "completion_tokens": 12,
                  "total_tokens": 21
                }
              }
          - name: What can I see at NVIDIA's GPU Technology Conference?
            requestJson: |
              {
                    "model": "mistralai/mixtral-8x7b-instruct-v0.1",
                    "messages": [
                      {
                        "role": "system",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "What can I see at NVIDIA's GPU Technology Conference?"
                      }
                    ],
                    "top_p": 0.7,
                    "max_tokens": 1024,
                    "seed": 42,
                    "stop": null,
                    "stream": true
              }
            responseJson: |
              {
                "id": "id-123",
                "object": "chat.completion",
                "created": 1677652288,
                "model": "mistralai/mixtral-8x7b-instruct-v0.1",
                "system_fingerprint": "fp_44709d6fcb",
                "choices": [{
                  "index": 0,
                  "message": {
                    "role": "assistant",
                    "content": "At NVIDIA's GTC conference..."
                  },
                  "finish_reason": "stop"
                }],
                "usage": {
                  "prompt_tokens": 9,
                  "completion_tokens": 12,
                  "total_tokens": 21
                }
              }
  /retrieval/nvidia/embeddings:
    post:
      tags:
        - nvidia / embeddings-qa-4
      summary: Creates an embedding vector from the input text.
      operationId: create_embedding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmbeddingResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmbedding400Response'
      x-nvai-meta:
        description: |
          Generates an embedding vector from the provided text
          using a specified model. The embedding can be returned
          in either float array or base64-encoded format.
        name: Create Text Embedding
        path: create
        templates:
          - title: Synchronous requests
            requestEjs:
              curl: >
                curl -X POST
                https://ai.api.nvidia.com/v1/retrieval/nvidia/embeddings \ -H
                "Content-Type: application/json" \ -H "Authorization: Bearer
                $NVCF_API_KEY" \ -d '{"input": "What is the capital of France?",
                "model": "NV-Embed-QA", "input_type": "query",
                "encoding_format": "float", "truncate": "NONE"}'
              python: >
                import requests import os

                headers = {
                    'Content-Type': 'application/json',
                    'Authorization': f'Bearer {os.getenv("NVCF_API_KEY", "unknown")}',
                }

                data = '{"input": "What is the capital of France?", "model":
                "NV-Embed-QA", "input_type": "query", "encoding_format":
                "float", "truncate": "NONE"}'

                response =
                requests.post('https://ai.api.nvidia.com/v1/retrieval/nvidia/embeddings',
                headers=headers, data=data) print(response.json())
              node.js: |
                const https = require('https'); const data = JSON.stringify({
                  'input': 'What is the capital of France?',
                  'model': 'NV-Embed-QA',
                  'input_type': 'query',
                  'encoding_format': 'float',
                  'truncate': 'NONE'
                });
                const options = {
                  hostname: 'ai.api.nvidia.com',
                  port: 443,
                  path: '/v1/retrieval/nvidia/embeddings',
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer YOUR_API_KEY'
                  }
                };
                const req = https.request(options, (res) => {
                  console.log(`statusCode: ${res.statusCode}`);

                  res.on('data', (d) => {
                    process.stdout.write(d);
                  });
                });
                req.on('error', (error) => {
                  console.error(error);
                });
                req.write(data); req.end();
            response: |
              {
                "object": "list",
                "data": [
                  {
                    "object": "embedding",
                    "embedding": [0.1, 0.2, 0.3, ...],
                    "index": 0
                  }
                ],
                "model": "NV-Embed-QA",
                "usage": {
                  "prompt_tokens": 0,
                  "total_tokens": 0
                }
              }
        example:
          name: Embedding vector for text input
          requestJson: |
            {
              "input": "What is the capital of France?",
              "model": "NV-Embed-QA",
              "input_type": "query",
              "encoding_format": "float",
              "truncate": "NONE"
            }
          responseJson: |
            {
              "object": "list",
              "data": [
                {
                  "object": "embedding",
                  "embedding": [0.1, 0.2, 0.3, ...],
                  "index": 0
                }
              ],
              "model": "NV-Embed-QA",
              "usage": {
                "prompt_tokens": 0,
                "total_tokens": 0
              }
            }
        x-examples:
          - name: Embedding vector for text input
            requestJson: |
              {
                "input": "What is the capital of France?",
                "model": "NV-Embed-QA",
                "input_type": "query",
                "encoding_format": "float",
                "truncate": "NONE"
              }
            responseJson: |
              {
                "object": "list",
                "data": [
                  {
                    "object": "embedding",
                    "embedding": [0.1, 0.2, 0.3, ...],
                    "index": 0
                  }
                ],
                "model": "NV-Embed-QA",
                "usage": {
                  "prompt_tokens": 0,
                  "total_tokens": 0
                }
              }
  /retrieval/nvidia/reranking:
    post:
      tags:
        - nvidia / reranking
      summary: Rank passages by their relation to a query.
      operationId: NvidiaReranking_passageRanking
      description: >-
        Order a list of passages by their relation to a query.


        Note that if a given query + passage pair is longer than the ranking
        model's context window,

        it will be automatically truncated.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RankRequest'
        required: true
      responses:
        '200':
          description: The ranked list of texts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RankResponse'
        '422':
          description: The request was invalid.
      x-nvai-meta:
        description: >-
          Ranks a list of passages based on their relevance to a provided query
          using a specific model.
        name: Passage Reranking
        path: create
        example:
          description: >-
            Ranks a list of passages based on their relevance to a provided
            query using a specific model.
          name: Passage Reranking
          requestJson: |
            {
              "model": "nv-rerank-qa-mistral-4b:1",
              "query": {
                "text": "What is the GPU memory bandwidth of H100 SXM?"
              },
              "passages": [
                {
                  "text": "he Hopper GPU is paired with the Grace CPU using NVIDIA's ultra-fast chip-to-chip interconnect, delivering 900GB/s of bandwidth, 7X faster than PCIe Gen5. This innovative design will deliver up to 30X higher aggregate system memory bandwidth to the GPU compared to today's fastest servers and up to 10X higher performance for applications running terabytes of data."
                },
                {
                  "text": "A100 provides up to 20X higher performance over the prior generation and can be partitioned into seven GPU instances to dynamically adjust to shifting demands. The A100 80GB debuts the world's fastest memory bandwidth at over 2 terabytes per second (TB/s) to run the largest models and datasets."
                },
                {
                  "text": "Accelerated servers with H100 deliver the compute power—along with 3 terabytes per second (TB/s) of memory bandwidth per GPU and scalability with NVLink and NVSwitch™."
                }
              ]
            }
          responseJson: |
            {
              "rankings": [
                {
                  "index": 2,
                  "logit": 4.74609375
                },
                {
                  "index": 1,
                  "logit": -6.11328125
                },
                {
                  "index": 0,
                  "logit": -7.25390625
                }
              ]
            }
        x-examples:
          - description: >-
              Ranks a list of passages based on their relevance to a provided
              query using a specific model.
            name: Passage Reranking
            requestJson: |
              {
                "model": "nv-rerank-qa-mistral-4b:1",
                "query": {
                  "text": "What is the GPU memory bandwidth of H100 SXM?"
                },
                "passages": [
                  {
                    "text": "he Hopper GPU is paired with the Grace CPU using NVIDIA's ultra-fast chip-to-chip interconnect, delivering 900GB/s of bandwidth, 7X faster than PCIe Gen5. This innovative design will deliver up to 30X higher aggregate system memory bandwidth to the GPU compared to today's fastest servers and up to 10X higher performance for applications running terabytes of data."
                  },
                  {
                    "text": "A100 provides up to 20X higher performance over the prior generation and can be partitioned into seven GPU instances to dynamically adjust to shifting demands. The A100 80GB debuts the world's fastest memory bandwidth at over 2 terabytes per second (TB/s) to run the largest models and datasets."
                  },
                  {
                    "text": "Accelerated servers with H100 deliver the compute power—along with 3 terabytes per second (TB/s) of memory bandwidth per GPU and scalability with NVLink and NVSwitch™."
                  }
                ]
              }
            responseJson: |
              {
                "rankings": [
                  {
                    "index": 2,
                    "logit": 4.74609375
                  },
                  {
                    "index": 1,
                    "logit": -6.11328125
                  },
                  {
                    "index": 0,
                    "logit": -7.25390625
                  }
                ]
              }
          - description: >-
              Ranks a list of passages based on their relevance to a provided
              query using a specific model.
            name: Passage Reranking
            requestJson: |
              {
                "model": "nv-rerank-qa-mistral-4b:1",
                "query": {
                  "text": "What are the benefits of NVIDIA Morpheus?"
                },
                "passages": [
                  {
                    "text": "Morpheus integrates tools to make it easier to build cybersecurity solutions. Built on the NVIDIA AI platform, including RAPIDS™ libraries, deep learning frameworks, and NVIDIA Triton™ Inference Server, Morpheus simplifies the analysis of logs and telemetry to help detect and mitigate security threats."
                  },
                  {
                    "text": "Morpheus can receive rich, real-time network telemetry from every NVIDIA® BlueField® DPU-accelerated server and NVIDIA DOCA™-based application, including Telemetry Flow Inspector and App Shield, in the data center without impacting performance. Integrating the framework into a third-party cybersecurity offering brings the world&aposs best AI computing to communication networks."
                  },
                  {
                    "text": "Morpheus is a GPU-accelerated SDK enabling, for the first time, the ability to inspect all network traffic in real time, flag anomalies, and provide insights on these anomalies so that threats can be addressed quickly."
                  },
                  {
                    "text": "Integrate Triton Inference Server into DevOps and MLOps solutions such as Kubernetes for scaling and Prometheus for monitoring. It can also be used in all major cloud and on-premises AI and MLOps platforms."
                  },
                  {
                    "text": "NVIDIA AI Enterprise, including NVIDIA Triton Inference Server, is a secure, production-ready AI software platform designed to accelerate time to value with support, security, and API stability."
                  },
                  {
                    "text": "Morpheus ('Fashioner', derived from the Ancient Greek: μορφή meaning 'form, shape') is a god associated with sleep and dreams. In Ovid's Metamorphoses he is the son of Somnus and appears in dreams in human form. From the Middle Ages, the name began to stand more generally for the god of dreams, or of sleep."
                  }
                ]
              }
            responseJson: |
              {
                "rankings": [
                  {
                    "index": 0,
                    "logit": 5.3046875
                  },
                  {
                    "index": 2,
                    "logit": 4.7890625
                  },
                  {
                    "index": 1,
                    "logit": 2.671875
                  },
                  {
                    "index": 4,
                    "logit": -12.0859375
                  },
                  {
                    "index": 3,
                    "logit": -12.3359375
                  },
                  {
                    "index": 5,
                    "logit": -15.9296875
                  }
                ]
              }
  /genai/stabilityai/sdxl-turbo:
    post:
      tags:
        - Inference
      summary: ' Infer'
      operationId: Inference_stabilityPrediction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-nvai-meta:
        name: Generate a new image from a text prompt
        returns: >-
          Returns an Image artifact that consists from a generated image (JPEG)
          encoded in base64, finish reason and a seed used during the generation
        path: infer
        templates:
          - title: Example
            requestEjs:
              python: >-
                import requests


                invoke_url =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/functions/$SDXL_TURBO_FUNCTION_ID"

                fetch_url_format =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/status/"


                headers = {
                    "Authorization": "Bearer $API_KEY_REQUIRED_IF_EXECUTING_OUTSIDE_NGC",
                    "Accept": "application/json",
                }


                payload = {
                    "text_prompts": [
                        {
                            "text": "a photo of an astronaut riding a horse on mars"
                        }
                    ],
                    "seed":0,
                    "steps": 4
                }


                # re-use connections

                session = requests.Session()


                response = session.post(invoke_url, headers=headers,
                json=payload)


                while response.status_code == 202:
                    request_id = response.headers.get("NVCF-REQID")
                    fetch_url = fetch_url_format + request_id
                    response = session.get(fetch_url, headers=headers)

                response.raise_for_status()

                response_body = response.json()

                print(response_body)
              node.js: >
                import fetch from "node-fetch";


                const invokeUrl =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/functions/$SDXL_TURBO_FUNCTION_ID"

                const fetchUrlFormat =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/status/"


                const headers = {
                    "Authorization": "Bearer $API_KEY_REQUIRED_IF_EXECUTING_OUTSIDE_NGC",
                    "Accept": "application/json",
                }


                const payload = {
                  "text_prompts": [
                        {
                            "text": "a photo of an astronaut riding a horse on mars"
                        }
                    ],
                    "seed":0,
                    "steps": 4
                }


                let response = await fetch(invokeUrl, {
                    method: "post",
                    body: JSON.stringify(payload),
                    headers: { "Content-Type": "application/json", ...headers }
                });


                while (response.status == 202) {
                  let requestId = response.headers.get("NVCF-REQID")
                  let fetchUrl = fetchUrlFormat + requestId;
                  response = await fetch(fetchUrl, {
                      method: "get",
                      headers: headers
                  })
                }


                if (response.status != 200) {
                  let errBody = await (await response.blob()).text()
                  throw "invocation failed with status " + response.status + " " + errBody
                }


                let response_body = await response.json()


                console.log(JSON.stringify(response_body))
              curl: "\ninvoke_url='https://api.nvcf.nvidia.com/v2/nvcf/pexec/functions/$SDXL_FUNCTION_ID'\nfetch_url_format='https://api.nvcf.nvidia.com/v2/nvcf/pexec/status/'\n\nauthorization_header='Authorization: Bearer $API_KEY_REQUIRED_IF_EXECUTING_OUTSIDE_NGC'\naccept_header='Accept: application/json'\ncontent_type_header='Content-Type: application/json'\n\ndata='{\n  \"prompt\": \"A photo of a Shiba Inu dog with a backpack riding a bike\",\n  \"negative_prompt\": \"beach\",\n  \"sampler\": \"DPM\",\n  \"seed\": 0,\n  \"guidance_scale\": 5,\n  \"inference_steps\": 25\n}'\n\nresponse=$(curl --silent -i -w \"\n%{http_code}\" --request POST   --url \"$invoke_url\"   --header \"$authorization_header\"   --header \"$accept_header\"   --header \"$content_type_header\"   --data \"$data\"\n)\n\nhttp_code=$(echo \"$response\" | tail -n 1)\nreq_id=$(echo \"$response\" | grep -i '^nvcf-reqid:' | awk '{print $2}' | tr -d '\r')\n\nwhile [ \"$http_code\" -eq 202 ]; do\n  response=$(curl --silent -i -w \"\n%{http_code}\" --request GET     --url \"$fetch_url_format$req_id\"     --header \"$authorization_header\"     --header \"$accept_header\"     --header \"$content_type_header\"   )\n\n  http_code=$(echo \"$response\" | tail -n 1)\n  req_id=$(echo \"$response\" | grep -i '^nvcf-reqid:' | awk '{print $2}' | tr -d '\r')\ndone\n\necho \"$response\" | awk '/{/,EOF-1'\n"
            response: "\ninvoke_url='https://api.nvcf.nvidia.com/v2/nvcf/pexec/functions/$SDXL_TURBO_FUNCTION_ID'\nfetch_url_format='https://api.nvcf.nvidia.com/v2/nvcf/pexec/status/'\n\nauthorization_header='Authorization: Bearer $API_KEY_REQUIRED_IF_EXECUTING_OUTSIDE_NGC'\naccept_header='Accept: application/json'\ncontent_type_header='Content-Type: application/json'\n\ndata='{\n  \"text_prompts\": [\n        {\n            \"text\": \"a photo of an astronaut riding a horse on mars\"\n        }\n    ],\n    \"seed\":0,\n    \"steps\": 4\n}'\n\nresponse=$(curl --silent -i -w \"\n%{http_code}\" --request POST   --url \"$invoke_url\"   --header \"$authorization_header\"   --header \"$accept_header\"   --header \"$content_type_header\"   --data \"$data\"\n)\n\nhttp_code=$(echo \"$response\" | tail -n 1)\nreq_id=$(echo \"$response\" | grep -i '^nvcf-reqid:' | awk '{print $2}' | tr -d '\r')\n\nwhile [ \"$http_code\" -eq 202 ]; do\n  response=$(curl --silent -i -w \"\n%{http_code}\" --request GET     --url \"$fetch_url_format$req_id\"     --header \"$authorization_header\"     --header \"$accept_header\"     --header \"$content_type_header\"   )\n\n  http_code=$(echo \"$response\" | tail -n 1)\n  req_id=$(echo \"$response\" | grep -i '^nvcf-reqid:' | awk '{print $2}' | tr -d '\r')\ndone\n\necho \"$response\" | awk '/{/,EOF-1'\n"
        example:
          name: a photo of an astronaut riding a horse on mars
          requestJson: |
            '{
                "text_prompts": [{"text":"a photo of an astronaut riding a horse on mars"}]
            }'
          responseJson: |
            '{
                "artifacts": [
                    {
                        "base64":  "...very long string...",
                        "finishReason": "SUCCESS",
                        "seed": 1100106574
                    }
                ]
            }'
        x-examples:
          - name: a photo of an astronaut riding a horse on mars
            requestJson: |
              '{
                  "text_prompts": [{"text":"a photo of an astronaut riding a horse on mars"}]
              }'
            responseJson: |
              '{
                  "artifacts": [
                      {
                          "base64":  "...very long string...",
                          "finishReason": "SUCCESS",
                          "seed": 1100106574
                      }
                  ]
              }'
  /genai/stabilityai/stable-diffusion-xl:
    post:
      tags:
        - Inference
      summary: ' Infer'
      operationId: Inference_diffusionXlPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-nvai-meta:
        name: Generate a new image from a text prompt
        returns: >-
          Returns an Image artifact that consists from a generated image (JPEG)
          encoded in base64, finish reason and a seed used during the generation
        path: infer
        templates:
          - title: Example
            requestEjs:
              python: >-
                import requests


                invoke_url =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/functions/$SDXL_FUNCTION_ID"

                fetch_url_format =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/status/"


                headers = {
                    "Authorization": "Bearer $API_KEY_REQUIRED_IF_EXECUTING_OUTSIDE_NGC",
                    "Accept": "application/json",
                }


                payload = {
                    "text_prompts": [
                        {
                            "text": "a photo of an astronaut riding a horse on mars"
                        }
                    ],
                    "cfg_scale": 7.5,
                    "seed":0,
                    "steps": 30
                }


                # re-use connections

                session = requests.Session()


                response = session.post(invoke_url, headers=headers,
                json=payload)


                while response.status_code == 202:
                    request_id = response.headers.get("NVCF-REQID")
                    fetch_url = fetch_url_format + request_id
                    response = session.get(fetch_url, headers=headers)

                response.raise_for_status()

                response_body = response.json()

                print(response_body)
              node.js: >
                import fetch from "node-fetch";


                const invokeUrl =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/functions/$SDXL_FUNCTION_ID"

                const fetchUrlFormat =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/status/"


                const headers = {
                    "Authorization": "Bearer $API_KEY_REQUIRED_IF_EXECUTING_OUTSIDE_NGC",
                    "Accept": "application/json",
                }


                const payload = {
                  "text_prompts": [
                        {
                            "text": "a photo of an astronaut riding a horse on mars"
                        }
                    ],
                    "cfg_scale": 7.5,
                    "seed":0,
                    "steps": 30
                }


                let response = await fetch(invokeUrl, {
                    method: "post",
                    body: JSON.stringify(payload),
                    headers: { "Content-Type": "application/json", ...headers }
                });


                while (response.status == 202) {
                  let requestId = response.headers.get("NVCF-REQID")
                  let fetchUrl = fetchUrlFormat + requestId;
                  response = await fetch(fetchUrl, {
                      method: "get",
                      headers: headers
                  })
                }


                if (response.status != 200) {
                  let errBody = await (await response.blob()).text()
                  throw "invocation failed with status " + response.status + " " + errBody
                }


                let response_body = await response.json()


                console.log(JSON.stringify(response_body))
              curl: "\ninvoke_url='https://api.nvcf.nvidia.com/v2/nvcf/pexec/functions/$SDXL_FUNCTION_ID'\nfetch_url_format='https://api.nvcf.nvidia.com/v2/nvcf/pexec/status/'\n\nauthorization_header='Authorization: Bearer $API_KEY_REQUIRED_IF_EXECUTING_OUTSIDE_NGC'\naccept_header='Accept: application/json'\ncontent_type_header='Content-Type: application/json'\n\ndata='{\n  \"text_prompts\": [\n        {\n            \"text\": \"a photo of an astronaut riding a horse on mars\"\n        }\n    ],\n    \"cfg_scale\": 7.5,\n    \"seed\":0,\n    \"steps\": 30\n}'\n\nresponse=$(curl --silent -i -w \"\n%{http_code}\" --request POST   --url \"$invoke_url\"   --header \"$authorization_header\"   --header \"$accept_header\"   --header \"$content_type_header\"   --data \"$data\"\n)\n\nhttp_code=$(echo \"$response\" | tail -n 1)\nreq_id=$(echo \"$response\" | grep -i '^nvcf-reqid:' | awk '{print $2}' | tr -d '\r')\n\nwhile [ \"$http_code\" -eq 202 ]; do\n  response=$(curl --silent -i -w \"\n%{http_code}\" --request GET     --url \"$fetch_url_format$req_id\"     --header \"$authorization_header\"     --header \"$accept_header\"     --header \"$content_type_header\"   )\n\n  http_code=$(echo \"$response\" | tail -n 1)\n  req_id=$(echo \"$response\" | grep -i '^nvcf-reqid:' | awk '{print $2}' | tr -d '\r')\ndone\n\necho \"$response\" | awk '/{/,EOF-1'\n"
            response: |
              '{
                  "artifacts": [
                      {
                          "base64":  "...very long string...",
                          "finishReason": "SUCCESS",
                          "seed": 1900390440
                      }
                  ]
              }'
        example:
          name: a photo of an astronaut riding a horse on mars
          requestJson: |
            '{
                "text_prompts": [{"text":"a photo of an astronaut riding a horse on mars"}]
            }'
          responseJson: |
            '{
                "artifacts": [
                    {
                        "base64":  "...very long string...",
                        "finishReason": "SUCCESS",
                        "seed": 1100106574
                    }
                ]
            }'
        x-examples:
          - name: a photo of an astronaut riding a horse on mars
            requestJson: |
              '{
                  "text_prompts": [{"text":"a photo of an astronaut riding a horse on mars"}]
              }'
            responseJson: |
              '{
                  "artifacts": [
                      {
                          "base64":  "...very long string...",
                          "finishReason": "SUCCESS",
                          "seed": 1100106574
                      }
                  ]
              }'
          - name: A close-up of a single rose, its petals glistening in the sunlight
            requestJson: |
              '{
                  "text_prompts": [
                      {
                          "text": "A close-up of a single rose, its petals glistening in the sunlight",
                          "weight": 1
                      },
                      {
                          "text": "white",
                          "weight": -1
                      }
                  ]
              }'
            responseJson: |
              '{
                  "artifacts": [
                      {
                          "base64":  "...very long string...",
                          "finishReason": "SUCCESS",
                          "seed": 2469608862
                      }
                  ]
              }'
  /genai/stabilityai/stable-video-diffusion:
    post:
      tags:
        - Inference
      summary: ' Infer'
      operationId: Inference_stableVideoDiffusionPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-nvai-meta:
        name: Generate a new video from an image
        returns: >-
          Returns an video artifact that consists from a generated video (mp4)
          encoded in base64, finish reason and a seed used during the generation
        path: infer
        templates:
          - title: Example
            requestEjs:
              python: >

                import requests


                invoke_url =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/functions/$STABLE_VIDEO_DIFFUSION_FUNCTION_ID"

                fetch_url_format =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/status/"


                headers = {
                    "Authorization": "Bearer $API_KEY_REQUIRED_IF_EXECUTING_OUTSIDE_NGC",
                    "Accept": "application/json",
                }


                payload = {
                  "image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAEElEQVR4nGK6HcwNCAAA//8DTgE8HuxwEQAAAABJRU5ErkJggg==",
                  "cfg_scale": 2.5,
                  "seed": 0
                }


                # re-use connections

                session = requests.Session()


                response = session.post(invoke_url, headers=headers,
                json=payload)


                while response.status_code == 202:
                    request_id = response.headers.get("NVCF-REQID")
                    fetch_url = fetch_url_format + request_id
                    response = session.get(fetch_url, headers=headers)

                response.raise_for_status()

                response_body = response.json()

                print(response_body)
              node.js: >
                import fetch from "node-fetch";


                const invokeUrl =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/functions/$STABLE_VIDEO_DIFFUSION_FUNCTION_ID"

                const fetchUrlFormat =
                "https://api.nvcf.nvidia.com/v2/nvcf/pexec/status/"


                const headers = {
                    "Authorization": "Bearer $API_KEY_REQUIRED_IF_EXECUTING_OUTSIDE_NGC",
                    "Accept": "application/json",
                }


                const payload = {
                  "image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAEElEQVR4nGK6HcwNCAAA//8DTgE8HuxwEQAAAABJRU5ErkJggg==",
                  "cfg_scale": 2.5,
                  "seed": 0
                }


                let response = await fetch(invokeUrl, {
                    method: "post",
                    body: JSON.stringify(payload),
                    headers: { "Content-Type": "application/json", ...headers }
                });


                while (response.status == 202) {
                  let requestId = response.headers.get("NVCF-REQID")
                  let fetchUrl = fetchUrlFormat + requestId;
                  response = await fetch(fetchUrl, {
                      method: "get",
                      headers: headers
                  })
                }


                if (response.status != 200) {
                  let errBody = await (await response.blob()).text()
                  throw "invocation failed with status " + response.status + " " + errBody
                }


                let response_body = await response.json()


                console.log(JSON.stringify(response_body))
              curl: "\ninvoke_url='https://api.nvcf.nvidia.com/v2/nvcf/pexec/functions/$STABLE_VIDEO_DIFFUSION_FUNCTION_ID'\nfetch_url_format='https://api.nvcf.nvidia.com/v2/nvcf/pexec/status/'\n\nauthorization_header='Authorization: Bearer $API_KEY_REQUIRED_IF_EXECUTING_OUTSIDE_NGC'\naccept_header='Accept: application/json'\ncontent_type_header='Content-Type: application/json'\n\ndata='{\n  \"image\": \"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAEElEQVR4nGK6HcwNCAAA//8DTgE8HuxwEQAAAABJRU5ErkJggg==\",\n  \"cfg_scale\": 2.5,\n  \"seed\": 0\n}'\n\nresponse=$(curl --silent -i -w \"\n%{http_code}\" --request POST   --url \"$invoke_url\"   --header \"$authorization_header\"   --header \"$accept_header\"   --header \"$content_type_header\"   --data \"$data\"\n)\n\nhttp_code=$(echo \"$response\" | tail -n 1)\nreq_id=$(echo \"$response\" | grep -i '^nvcf-reqid:' | awk '{print $2}' | tr -d '\r')\n\nwhile [ \"$http_code\" -eq 202 ]; do\n  response=$(curl --silent -i -w \"\n%{http_code}\" --request GET     --url \"$fetch_url_format$req_id\"     --header \"$authorization_header\"     --header \"$accept_header\"     --header \"$content_type_header\"   )\n\n  http_code=$(echo \"$response\" | tail -n 1)\n  req_id=$(echo \"$response\" | grep -i '^nvcf-reqid:' | awk '{print $2}' | tr -d '\r')\ndone\n\necho \"$response\" | awk '/{/,EOF-1'\n"
            response: |
              '{
                          "video":  "...very long string...",
                          "finish_reason": "SUCCESS",
                          "seed": 1100106574
              }'
        example:
          name: ''
          requestJson: |
            '{
                "image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAEElEQVR4nGK6HcwNCAAA//8DTgE8HuxwEQAAAABJRU5ErkJggg==",
            }'
          responseJson: |
            '{
                        "video":  "...very long string...",
                        "finish_reason": "SUCCESS",
                        "seed": 1100106574
            }'
        x-examples:
          - name: ''
            requestJson: |
              '{
                  "image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAEElEQVR4nGK6HcwNCAAA//8DTgE8HuxwEQAAAABJRU5ErkJggg==",
              }'
            responseJson: |
              '{
                          "video":  "...very long string...",
                          "finish_reason": "SUCCESS",
                          "seed": 1100106574
              }'
  /vlm/adept/fuyu-8b:
    post:
      tags:
        - Multimodal API
      summary: Request response from the model
      operationId: MultimodalApi_requestModelResponse
      description: >-
        Invokes inference using the model chat parameters. If uploading large
        images, this POST should be used in conjunction with the NVCF API which
        allows for the upload of large assets. 

        You can find details on how to use NVCF Asset APIs here:
        https://docs.api.nvidia.com/cloud-functions/reference/createasset
      parameters:
        - description: >-
            String of asset IDs separated by commas. Data is uploaded to AWS S3
            using NVCF Asset APIs and associated with these asset IDs.If the
            size of an image is more than 200KB, it needs to be uploaded to a
            presigned S3 URL bucket. The presigned URL allows for secure and
            temporary access to the S3 bucket for uploading the image. Once the
            asset is requested, an asset ID is generated for it. Please include
            this asset ID in this header and to use the uploaded image in a
            prompt, you need to refer to it using the following format: `<img
            src="data:image/png;asset_id,{asset_id}" />`.
          in: header
          name: NVCF-INPUT-ASSET-REFERENCES
          schema:
            type: string
            maxLength: 370
            format: uuid
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
        required: true
      responses:
        '200':
          description: Invocation is fulfilled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletion'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionChunk'
        '202':
          description: |
            Result is pending. Client should poll using the requestId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultimodalApiRequestModelResponseResponse'
          headers:
            NVCF-REQID:
              description: requestId required for pooling
              schema:
                type: string
                format: uuid
                maxLength: 36
            NVCF-STATUS:
              description: Invocation status
              schema:
                type: string
                format: ^[a-zA-Z-]{1,64}$
                maxLength: 64
        '422':
          description: Validation failed, provided entity could not be processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                title: Unprocessable Entity
                type: urn:nvcf-worker-service:problem-details:unprocessable-entity
                status: 422
                detail: string
                instance: /v2/nvcf/pexec/functions/e598bfc1-b058-41af-869d-556d3c7e1b48
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        '500':
          description: The invocation ended with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                title: Internal Server Error
                type: urn:nvcf-worker-service:problem-details:internal-server-error
                status: 500
                detail: string
                instance: /v2/nvcf/pexec/functions/e598bfc1-b058-41af-869d-556d3c7e1b48
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      x-nvai-meta:
        name: Create chat completion
        returns: >
          Returns a [chat
          completion](https://docs.api.nvidia.com/nim/reference/google-gemma7b)
          object, or a streamed sequence of [chat completion
          chunk](https://docs.api.nvidia.com/nim/reference/google-gemma7b)
          objects if the request is streamed.
        path: create
        templates:
          - title: Default
            requestEjs:
              python: >
                <% let pyStream = request.stream.toString()[0].toUpperCase() +
                request.stream.toString().slice(1) %>

                import requests, base64


                invoke_url = "https://ai.api.nvidia.com/v1/vlm/adept/fuyu-8b"

                stream = <%- pyStream %>


                with open("<%- request.image_name.replaceAll('"', '\\"') %>",
                "rb") as f:
                    image_b64 = base64.b64encode(f.read())
                    
                assert len(image_b64) <= 200_000, "To upload larger images, use
                the large assets API (see the documentation)"


                headers = {
                    "Authorization": "Bearer $NVIDIA_API_KEY",
                    "Accept": "application/json" if not stream else "text/event-stream",
                }


                payload = {
                  "max_tokens": <%- request.max_tokens %>,
                  "temperature": <%- request.temperature.toFixed(2) %>,
                  "top_p": <%- request.top_p.toFixed(2) %>,
                  "messages": [
                    {
                      "role": "user",
                      "content": f'<%- request.prompt.replaceAll("'", "\\'") %> <img src="data:image/<%- request.image_name.split('.').pop() %>;base64,{image_b64}" />'
                    }
                  ],
                  "stream": <%- pyStream %>
                }


                response = requests.post(invoke_url, headers=headers,
                json=payload)


                if stream:
                    for line in response.iter_lines():
                        if line:
                            print(line.decode("utf-8"))
                else:
                    print(response.json())
              node.js: >
                import axios from 'axios';

                import { readFile } from 'node:fs/promises';


                const invokeUrl =
                "https://ai.api.nvidia.com/v1/vlm/adept/fuyu-8b";

                const stream = <%- request.stream %>;


                const headers = {
                  "Authorization": `Bearer $NVIDIA_API_KEY`,
                  "Accept": stream ? "text/event-stream" : "application/json",
                };


                readFile("image.png")
                  .then(data => {
                    const imageB64 = Buffer.from(data).toString('base64');
                    if (imageB64.length > 200_000) {
                      throw new Error("To upload larger images, use the assets API (see docs)");
                    }

                    const payload = {
                      "max_tokens": <%- request.max_tokens %>,
                      "temperature": <%- request.temperature.toFixed(2) %>,
                      "top_p": <%- request.top_p.toFixed(2) %>,
                      "messages": [
                        {
                          "role": "user",
                          "content": `<%- request.prompt %> <img src="data:image/<%- request.image_name.split('.').pop() %>;base64,${imageB64}" />`
                        }
                      ],
                      "stream": stream
                    };

                    return axios.post(invokeUrl, payload, { headers: headers, responseType: stream ? 'stream' : 'json' });
                  })
                  .then(response => {
                    if (stream) {
                      response.data.on('data', (chunk) => {
                        console.log(chunk.toString());
                      });
                    } else {
                      console.log(JSON.stringify(response.data));
                    }
                  })
                  .catch(error => {
                    console.error(error);
                  });
              curl: |
                image_b64=$( base64 <%- request.image_name %> )
                stream = <%- request.stream %>

                if [ "$stream" = true ]; then
                    accept_header='Content-Type: text/event-stream'
                else
                    accept_header='Content-Type: application/json'
                fi

                curl https://ai.api.nvidia.com/v1/vlm/adept/fuyu-8b \
                  -H "Authorization: Bearer $NVIDIA_API_KEY" \
                  -H "Content-Type: application/json" \
                  -H "$accept_header"
                  -d '{
                    "messages": [
                      {
                        "role": "user",
                        "content": "<%- request.prompt.replaceAll('"', '\\"').replaceAll("'", "'\"'\"'") %> <img src=\"data:image/<%- request.image_name.split('.').pop() %>;base64,'"$image_b64"'\" />"
                      }
                    ],
                    "max_tokens": <%- request.max_tokens %>,
                    "temperature": <%- request.temperature.toFixed(2) %>,
                    "top_p": <%- request.toFixed(2) %>,
                    "stream": <%- request.stream %>
                  }'
            response: |
              {
                "choices": [{
                  "index": 0,
                  "message": {
                    "role": "assistant",
                    "content": "...",
                  },
                  "finish_reason": "stop"
                }],
                "usage": {
                  "prompt_tokens": 9,
                  "completion_tokens": 12,
                  "total_tokens": 21
                }
              }
  /status/{requestId}:
    get:
      tags:
        - cuOpt API
      summary: >-
        Gets the result of an earlier function invocation request that returned
        a status of 202.
      operationId: CuOptApi_functionResultGet
      parameters:
        - description: requestId to poll results
          name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            maxLength: 36
      responses:
        '200':
          description: Invocation is fulfilled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletion'
        '202':
          description: |
            Result is pending. Client should poll using the requestId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CuOptApiFunctionResultGetResponse'
          headers:
            NVCF-REQID:
              description: requestId required for pooling
              schema:
                type: string
                format: uuid
                maxLength: 36
            NVCF-STATUS:
              description: Invocation status
              schema:
                type: string
                format: ^[a-zA-Z-]{1,64}$
                maxLength: 64
        '422':
          description: The invocation ended with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                title: Unprocessable Entity
                type: urn:nvcf-worker-service:problem-details:unprocessable-entity
                status: 422
                detail: string
                instance: /v2/nvcf/pexec/functions/784a8ca4-ea7d-4c93-bb46-ec027c3fae47
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        '500':
          description: The invocation ended with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                title: Internal Server Error
                type: urn:nvcf-worker-service:problem-details:internal-server-error
                status: 500
                detail: string
                instance: /v2/nvcf/pexec/functions/784a8ca4-ea7d-4c93-bb46-ec027c3fae47
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
  /vlm/google/deplot:
    post:
      tags:
        - Multimodal API
      summary: Request response from the model
      operationId: MultimodalApi_requestModelInference
      description: >-
        Invokes inference using the model chat parameters. If uploading large
        images, this POST should be used in conjunction with the NVCF API which
        allows for the upload of large assets. 

        You can find details on how to use NVCF Asset APIs here:
        https://docs.api.nvidia.com/cloud-functions/reference/createasset
      parameters:
        - description: >-
            String of asset IDs separated by commas. Data is uploaded to AWS S3
            using NVCF Asset APIs and associated with these asset IDs.If the
            size of an image is more than 200KB, it needs to be uploaded to a
            presigned S3 URL bucket. The presigned URL allows for secure and
            temporary access to the S3 bucket for uploading the image. Once the
            asset is requested, an asset ID is generated for it. Please include
            this asset ID in this header and to use the uploaded image in a
            prompt, you need to refer to it using the following format:  `<img
            src="data:image/png;asset_id,{asset_id}" />`.
          in: header
          name: NVCF-INPUT-ASSET-REFERENCES
          schema:
            type: string
            maxLength: 370
            format: uuid
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
        required: true
      responses:
        '200':
          description: Invocation is fulfilled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletion'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionChunk'
        '202':
          description: |
            Result is pending. Client should poll using the requestId.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MultimodalApiRequestModelInferenceResponse
          headers:
            NVCF-REQID:
              description: requestId required for pooling
              schema:
                type: string
                format: uuid
                maxLength: 36
            NVCF-STATUS:
              description: Invocation status
              schema:
                type: string
                format: ^[a-zA-Z-]{1,64}$
                maxLength: 64
        '422':
          description: Validation failed, provided entity could not be processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                title: Unprocessable Entity
                type: urn:nvcf-worker-service:problem-details:unprocessable-entity
                status: 422
                detail: string
                instance: /v2/nvcf/pexec/functions/784a8ca4-ea7d-4c93-bb46-ec027c3fae47
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        '500':
          description: The invocation ended with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                title: Internal Server Error
                type: urn:nvcf-worker-service:problem-details:internal-server-error
                status: 500
                detail: string
                instance: /v2/nvcf/pexec/functions/784a8ca4-ea7d-4c93-bb46-ec027c3fae47
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      x-nvai-meta:
        name: Create chat completion
        returns: >
          Returns a [chat
          completion](https://docs.api.nvidia.com/nim/reference/google-gemma7b)
          object, or a streamed sequence of [chat completion
          chunk](https://docs.api.nvidia.com/nim/reference/google-gemma7b)
          objects if the request is streamed.
        path: create
        templates:
          - title: Default
            requestEjs:
              python: >
                <% let pyStream = request.stream.toString()[0].toUpperCase() +
                request.stream.toString().slice(1) %>

                import requests, base64


                invoke_url = "https://ai.api.nvidia.com/v1/vlm/google/deplot"

                stream = <%- pyStream %>


                with open("<%- request.image_name.replaceAll('"', '\\"') %>",
                "rb") as f:
                    image_b64 = base64.b64encode(f.read())
                    
                assert len(image_b64) <= 200_000, "To upload larger images, use
                the large assets API (see the documentation)"


                headers = {
                    "Authorization": "Bearer $NVIDIA_API_KEY",
                    "Accept": "application/json" if not stream else "text/event-stream",
                }


                payload = {
                  "max_tokens": <%- request.max_tokens %>,
                  "temperature": <%- request.temperature.toFixed(2) %>,
                  "top_p": <%- request.top_p.toFixed(2) %>,
                  "messages": [
                    {
                      "role": "user",
                      "content": f'<%- request.prompt.replaceAll("'", "\\'") %> <img src="data:image/<%- request.image_name.split('.').pop() %>;base64,{image_b64}" />'
                    }
                  ],
                  "stream": <%- pyStream %>
                }


                response = requests.post(invoke_url, headers=headers,
                json=payload)


                if stream:
                    for line in response.iter_lines():
                        if line:
                            print(line.decode("utf-8"))
                else:
                    print(response.json())
              node.js: >
                import axios from 'axios';

                import { readFile } from 'node:fs/promises';


                const invokeUrl =
                "https://ai.api.nvidia.com/v1/vlm/google/deplot";

                const stream = <%- request.stream %>;


                const headers = {
                  "Authorization": `Bearer $NVIDIA_API_KEY`,
                  "Accept": stream ? "text/event-stream" : "application/json",
                };


                readFile("image.png")
                  .then(data => {
                    const imageB64 = Buffer.from(data).toString('base64');
                    if (imageB64.length > 200_000) {
                      throw new Error("To upload larger images, use the assets API (see docs)");
                    }

                    const payload = {
                      "max_tokens": <%- request.max_tokens %>,
                      "temperature": <%- request.temperature.toFixed(2) %>,
                      "top_p": <%- request.top_p.toFixed(2) %>,
                      "messages": [
                        {
                          "role": "user",
                          "content": `<%- request.prompt %> <img src="data:image/<%- request.image_name.split('.').pop() %>;base64,${imageB64}" />`
                        }
                      ],
                      "stream": stream
                    };

                    return axios.post(invokeUrl, payload, { headers: headers, responseType: stream ? 'stream' : 'json' });
                  })
                  .then(response => {
                    if (stream) {
                      response.data.on('data', (chunk) => {
                        console.log(chunk.toString());
                      });
                    } else {
                      console.log(JSON.stringify(response.data));
                    }
                  })
                  .catch(error => {
                    console.error(error);
                  });
              curl: |
                image_b64=$( base64 <%- request.image_name %> )
                stream = <%- request.stream %>

                if [ "$stream" = true ]; then
                    accept_header='Content-Type: text/event-stream'
                else
                    accept_header='Content-Type: application/json'
                fi

                curl https://ai.api.nvidia.com/v1/vlm/google/deplot \
                  -H "Authorization: Bearer $NVIDIA_API_KEY" \
                  -H "Content-Type: application/json" \
                  -H "$accept_header"
                  -d '{
                    "messages": [
                      {
                        "role": "user",
                        "content": "<%- request.prompt.replaceAll('"', '\\"').replaceAll("'", "'\"'\"'") %> <img src=\"data:image/<%- request.image_name.split('.').pop() %>;base64,'"$image_b64"'\" />"
                      }
                    ],
                    "max_tokens": <%- request.max_tokens %>,
                    "temperature": <%- request.temperature.toFixed(2) %>,
                    "top_p": <%- request.toFixed(2) %>,
                    "stream": <%- request.stream %>
                  }'
            response: |
              {
                "choices": [{
                  "index": 0,
                  "message": {
                    "role": "assistant",
                    "content": "...",
                  },
                  "finish_reason": "stop"
                }],
                "usage": {
                  "prompt_tokens": 9,
                  "completion_tokens": 12,
                  "total_tokens": 21
                }
              }
  /vlm/microsoft/kosmos-2:
    post:
      tags:
        - Multimodal API
      summary: Request response from the model
      operationId: MultimodalApi_requestModelResponse
      description: >-
        Invokes inference using the model chat parameters. If uploading large
        images, this POST should be used in conjunction with the NVCF API which
        allows for the upload of large assets. 

        You can find details on how to use NVCF Asset APIs here:
        https://docs.api.nvidia.com/cloud-functions/reference/createasset
      parameters:
        - description: >-
            String of asset IDs separated by commas. Data is uploaded to AWS S3
            using NVCF Asset APIs and associated with these asset IDs.If the
            size of an image is more than 200KB, it needs to be uploaded to a
            presigned S3 URL bucket. The presigned URL allows for secure and
            temporary access to the S3 bucket for uploading the image. Once the
            asset is requested, an asset ID is generated for it. Please include
            this asset ID in this header and to use the uploaded image in a
            prompt, you need to refer to it using the following format: `<img
            src="data:image/png;asset_id,{asset_id}" />`.
          in: header
          name: NVCF-INPUT-ASSET-REFERENCES
          schema:
            type: string
            maxLength: 370
            format: uuid
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
        required: true
      responses:
        '200':
          description: Invocation is fulfilled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletion'
        '202':
          description: |
            Result is pending. Client should poll using the requestId.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MultimodalApiRequestModelResponse202Response
          headers:
            NVCF-REQID:
              description: requestId required for pooling
              schema:
                type: string
                format: uuid
                maxLength: 36
            NVCF-STATUS:
              description: Invocation status
              schema:
                type: string
                format: ^[a-zA-Z-]{1,64}$
                maxLength: 64
        '422':
          description: Validation failed, provided entity could not be processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                title: Unprocessable Entity
                type: urn:nvcf-worker-service:problem-details:unprocessable-entity
                status: 422
                detail: string
                instance: /v2/nvcf/pexec/functions/6018fed7-f227-48dc-99bc-3fd4264d5037
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        '500':
          description: The invocation ended with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                title: Internal Server Error
                type: urn:nvcf-worker-service:problem-details:internal-server-error
                status: 500
                detail: string
                instance: /v2/nvcf/pexec/functions/6018fed7-f227-48dc-99bc-3fd4264d5037
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      x-nvai-meta:
        name: Create chat completion
        returns: >
          Returns a [chat
          completion](https://docs.api.nvidia.com/nim/reference/google-gemma7b)
          object, or a streamed sequence of [chat completion
          chunk](https://docs.api.nvidia.com/nim/reference/google-gemma7b)
          objects if the request is streamed.
        path: create
        templates:
          - title: Default
            requestEjs:
              python: >
                <% let pyStream = request.stream.toString()[0].toUpperCase() +
                request.stream.toString().slice(1) %>

                import requests, base64


                invoke_url =
                "https://ai.api.nvidia.com/v1/vlm/microsoft/kosmos-2"

                stream = <%- pyStream %>


                with open("<%- request.image_name.replaceAll('"', '\\"') %>",
                "rb") as f:
                    image_b64 = base64.b64encode(f.read())
                    
                assert len(image_b64) <= 200_000, "To upload larger images, use
                the large assets API (see the documentation)"


                headers = {
                    "Authorization": "Bearer $NVIDIA_API_KEY",
                    "Accept": "application/json" if not stream else "text/event-stream",
                }


                payload = {
                  "max_tokens": <%- request.max_tokens %>,
                  "temperature": <%- request.temperature.toFixed(2) %>,
                  "top_p": <%- request.top_p.toFixed(2) %>,
                  "messages": [
                    {
                      "role": "user",
                      "content": f'<%- request.prompt.replaceAll("'", "\\'") %> <img src="data:image/<%- request.image_name.split('.').pop() %>;base64,{image_b64}" />'
                    }
                  ],
                  "stream": <%- pyStream %>
                }


                response = requests.post(invoke_url, headers=headers,
                json=payload)


                if stream:
                    for line in response.iter_lines():
                        if line:
                            print(line.decode("utf-8"))
                else:
                    print(response.json())
              node.js: >
                import axios from 'axios';

                import { readFile } from 'node:fs/promises';


                const invokeUrl =
                "https://ai.api.nvidia.com/v1/vlm/microsoft/kosmos-2";

                const stream = <%- request.stream %>;


                const headers = {
                  "Authorization": `Bearer $NVIDIA_API_KEY`,
                  "Accept": stream ? "text/event-stream" : "application/json",
                };


                readFile("image.png")
                  .then(data => {
                    const imageB64 = Buffer.from(data).toString('base64');
                    if (imageB64.length > 200_000) {
                      throw new Error("To upload larger images, use the assets API (see docs)");
                    }

                    const payload = {
                      "max_tokens": <%- request.max_tokens %>,
                      "temperature": <%- request.temperature.toFixed(2) %>,
                      "top_p": <%- request.top_p.toFixed(2) %>,
                      "messages": [
                        {
                          "role": "user",
                          "content": `<%- request.prompt %> <img src="data:image/<%- request.image_name.split('.').pop() %>;base64,${imageB64}" />`
                        }
                      ],
                      "stream": stream
                    };

                    return axios.post(invokeUrl, payload, { headers: headers, responseType: stream ? 'stream' : 'json' });
                  })
                  .then(response => {
                    if (stream) {
                      response.data.on('data', (chunk) => {
                        console.log(chunk.toString());
                      });
                    } else {
                      console.log(JSON.stringify(response.data));
                    }
                  })
                  .catch(error => {
                    console.error(error);
                  });
              curl: |
                image_b64=$( base64 <%- request.image_name %> )
                stream = <%- request.stream %>

                if [ "$stream" = true ]; then
                    accept_header='Content-Type: text/event-stream'
                else
                    accept_header='Content-Type: application/json'
                fi

                curl https://ai.api.nvidia.com/v1/vlm/microsoft/kosmos-2 \
                  -H "Authorization: Bearer $NVIDIA_API_KEY" \
                  -H "Content-Type: application/json" \
                  -H "$accept_header"
                  -d '{
                    "messages": [
                      {
                        "role": "user",
                        "content": "<%- request.prompt.replaceAll('"', '\\"').replaceAll("'", "'\"'\"'") %> <img src=\"data:image/<%- request.image_name.split('.').pop() %>;base64,'"$image_b64"'\" />"
                      }
                    ],
                    "max_tokens": <%- request.max_tokens %>,
                    "temperature": <%- request.temperature.toFixed(2) %>,
                    "top_p": <%- request.toFixed(2) %>,
                    "stream": <%- request.stream %>
                  }'
  /vlm/nvidia/neva-22b:
    post:
      tags:
        - Multimodal API
      summary: Request response from the model
      operationId: MultimodalApi_invokeModelInference
      description: >-
        Invokes inference using the model chat parameters. If uploading large
        images, this POST should be used in conjunction with the NVCF API which
        allows for the upload of large assets. 

        You can find details on how to use NVCF Asset APIs here:
        https://docs.api.nvidia.com/cloud-functions/reference/createasset
      parameters:
        - description: >-
            String of asset IDs separated by commas. Data is uploaded to AWS S3
            using NVCF Asset APIs and associated with these asset IDs.If the
            size of an image is more than 200KB, it needs to be uploaded to a
            presigned S3 URL bucket. The presigned URL allows for secure and
            temporary access to the S3 bucket for uploading the image. Once the
            asset is requested, an asset ID is generated for it. Please include
            this asset ID in this header and to use the uploaded image in a
            prompt, you need to refer to it using the following format: `<img
            src="data:image/png;asset_id,{asset_id}" />`.
          in: header
          name: NVCF-INPUT-ASSET-REFERENCES
          schema:
            type: string
            maxLength: 370
            format: uuid
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
        required: true
      responses:
        '200':
          description: Invocation is fulfilled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletion'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionChunk'
        '202':
          description: |
            Result is pending. Client should poll using the requestId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultimodalApiInvokeModelInferenceResponse'
          headers:
            NVCF-REQID:
              description: requestId required for pooling
              schema:
                type: string
                format: uuid
                maxLength: 36
            NVCF-STATUS:
              description: Invocation status
              schema:
                type: string
                format: ^[a-zA-Z-]{1,64}$
                maxLength: 64
        '422':
          description: Validation failed, provided entity could not be processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                title: Unprocessable Entity
                type: urn:nvcf-worker-service:problem-details:unprocessable-entity
                status: 422
                detail: string
                instance: /v2/nvcf/pexec/functions/bc205f8e-1740-40df-8d32-c4321763498a
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        '500':
          description: The invocation ended with an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              example:
                title: Internal Server Error
                type: urn:nvcf-worker-service:problem-details:internal-server-error
                status: 500
                detail: string
                instance: /v2/nvcf/pexec/functions/bc205f8e-1740-40df-8d32-c4321763498a
                requestId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      x-nvai-meta:
        name: Create chat completion
        returns: >
          Returns a [chat
          completion](https://docs.api.nvidia.com/nim/reference/google-gemma7b)
          object, or a streamed sequence of [chat completion
          chunk](https://docs.api.nvidia.com/nim/reference/google-gemma7b)
          objects if the request is streamed.
        path: create
        templates:
          - title: Default
            requestEjs:
              python: >
                <% let pyStream = request.stream.toString()[0].toUpperCase() +
                request.stream.toString().slice(1) %>

                import requests, base64


                invoke_url = "https://ai.api.nvidia.com/v1/vlm/nvidia/neva-22b"

                stream = <%- pyStream %>


                with open("<%- request.image_name.replaceAll('"', '\\"') %>",
                "rb") as f:
                    image_b64 = base64.b64encode(f.read())
                    
                assert len(image_b64) <= 200_000, "To upload larger images, use
                the large assets API (see the documentation)"


                headers = {
                    "Authorization": "Bearer $NVIDIA_API_KEY",
                    "Accept": "application/json" if not stream else "text/event-stream",
                }


                payload = {
                  "max_tokens": <%- request.max_tokens %>,
                  "temperature": <%- request.temperature.toFixed(2) %>,
                  "top_p": <%- request.top_p.toFixed(2) %>,
                  "messages": [
                    {
                      "role": "user",
                      "content": f'<%- request.prompt.replaceAll("'", "\\'") %> <img src="data:image/<%- request.image_name.split('.').pop() %>;base64,{image_b64}" />'
                    }
                  ],
                  "stream": <%- pyStream %>
                }


                response = requests.post(invoke_url, headers=headers,
                json=payload)


                if stream:
                    for line in response.iter_lines():
                        if line:
                            print(line.decode("utf-8"))
                else:
                    print(response.json())
              node.js: >
                import axios from 'axios';

                import { readFile } from 'node:fs/promises';


                const invokeUrl =
                "https://ai.api.nvidia.com/v1/vlm/nvidia/neva-22b";

                const stream = <%- request.stream %>;


                const headers = {
                  "Authorization": `Bearer $NVIDIA_API_KEY`,
                  "Accept": stream ? "text/event-stream" : "application/json",
                };


                readFile("image.png")
                  .then(data => {
                    const imageB64 = Buffer.from(data).toString('base64');
                    if (imageB64.length > 200_000) {
                      throw new Error("To upload larger images, use the assets API (see docs)");
                    }

                    const payload = {
                      "max_tokens": <%- request.max_tokens %>,
                      "temperature": <%- request.temperature.toFixed(2) %>,
                      "top_p": <%- request.top_p.toFixed(2) %>,
                      "messages": [
                        {
                          "role": "user",
                          "content": `<%- request.prompt %> <img src="data:image/<%- request.image_name.split('.').pop() %>;base64,${imageB64}" />`
                        }
                      ],
                      "stream": stream
                    };

                    return axios.post(invokeUrl, payload, { headers: headers, responseType: stream ? 'stream' : 'json' });
                  })
                  .then(response => {
                    if (stream) {
                      response.data.on('data', (chunk) => {
                        console.log(chunk.toString());
                      });
                    } else {
                      console.log(JSON.stringify(response.data));
                    }
                  })
                  .catch(error => {
                    console.error(error);
                  });
              curl: |
                image_b64=$( base64 <%- request.image_name %> )
                stream = <%- request.stream %>

                if [ "$stream" = true ]; then
                    accept_header='Content-Type: text/event-stream'
                else
                    accept_header='Content-Type: application/json'
                fi

                curl https://ai.api.nvidia.com/v1/vlm/nvidia/neva-22b \
                  -H "Authorization: Bearer $NVIDIA_API_KEY" \
                  -H "Content-Type: application/json" \
                  -H "$accept_header"
                  -d '{
                    "messages": [
                      {
                        "role": "user",
                        "content": "<%- request.prompt.replaceAll('"', '\\"').replaceAll("'", "'\"'\"'") %> <img src=\"data:image/<%- request.image_name.split('.').pop() %>;base64,'"$image_b64"'\" />"
                      }
                    ],
                    "max_tokens": <%- request.max_tokens %>,
                    "temperature": <%- request.temperature.toFixed(2) %>,
                    "top_p": <%- request.toFixed(2) %>,
                    "stream": <%- request.stream %>
                  }'
            response: |
              {
                "choices": [{
                  "index": 0,
                  "message": {
                    "role": "assistant",
                    "content": "...",
                  },
                  "finish_reason": "stop"
                }],
                "usage": {
                  "prompt_tokens": 9,
                  "completion_tokens": 12,
                  "total_tokens": 21
                }
              }
  /biology/mit/diffdock:
    post:
      tags:
        - Default
      summary: Molecular Docking Pose Generation
      operationId: molecular_docking
      description: Predict molecular docking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MolecularDockingRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MolecularDockingResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-nvai-meta:
        name: Generate docking post
        returns: >-
          Returns predicted molecular docking poses of input ligand in the input
          protein.
        path: generate
        example:
          name: Predict ligand poses
          requestJson: >-
            '{"num_poses": 2, "time_divisions": 20, "steps": 18,
            "save_trajectory": true, "is_staged": false, "ligand_file_type":
            "mol2", "ligand": "asdasdadas asdfsd f### 

            ### Created by X-TOOL on Mon Aug  2 16:12:23 2021

            ### 


            @<TRIPOS>MOLECULE

            5zcu_ligand
               35    37     1     0     0
            SMALL

            GAST_HUCK



            @<TRIPOS>ATOM
                  1 S         -21.9840   -3.4930   30.2670 S.o2      1 PYV         0.0724
                  2 BR        -24.1210   -0.6400   35.6790 Br        1 PYV        -0.0495
                  3 C1        -23.4470   -1.7030   34.2030 C.ar      1 PYV         0.0197
                  4 N1        -23.0330   -4.7560   29.7870 N.am      1 PYV        -0.2334
                  5 O1        -20.5870   -3.9290   30.2880 O.2       1 PYV        -0.1496
                  6 C2        -23.0400   -3.0490   34.2500 C.ar      1 PYV        -0.0084
                  7 N2        -25.6720   -6.3800   30.7570 N.ar      1 PYV        -0.2964
                  8 O2        -21.9450   -2.4040   29.2880 O.2       1 PYV        -0.1496
                  9 C3        -22.5840   -3.6600   33.1100 C.ar      1 PYV         0.0112
                 10 C4        -22.5270   -2.9450   31.9060 C.ar      1 PYV         0.1195
                 11 C5        -22.9290   -1.6180   31.8510 C.ar      1 PYV        -0.0306
                 12 C6        -23.3900   -0.9950   33.0070 C.ar      1 PYV        -0.0494
                 13 C7        -22.1770   -5.0060   33.1320 C.ar      1 PYV        -0.0511
                 14 C8        -22.2310   -5.7250   34.3150 C.ar      1 PYV        -0.0605
                 15 C9        -22.6880   -5.1080   35.4720 C.ar      1 PYV        -0.0607
                 16 C10       -23.0940   -3.7790   35.4510 C.ar      1 PYV        -0.0538
                 17 C11       -24.4580   -4.5040   29.6550 C.3       1 PYV         0.0756
                 18 C12       -25.2580   -5.0960   30.8150 C.ar      1 PYV         0.0465
                 19 C13       -26.3850   -6.9080   31.7770 C.ar      1 PYV         0.0028
                 20 C14       -26.7010   -6.1340   32.8800 C.ar      1 PYV        -0.0410
                 21 C15       -26.2930   -4.8430   32.9390 C.ar      1 PYV        -0.0488
                 22 C16       -25.5800   -4.3150   31.9150 C.ar      1 PYV        -0.0308
                 23 H1        -22.6660   -5.6667   29.5974 H         1 PYV         0.1703
                 24 H2        -22.8844   -1.0714   30.9159 H         1 PYV         0.0646
                 25 H3        -23.7046    0.0419   32.9754 H         1 PYV         0.0655
                 26 H4        -21.8215   -5.4803   32.2244 H         1 PYV         0.0630
                 27 H5        -21.9185   -6.7627   34.3373 H         1 PYV         0.0618
                 28 H6        -22.7284   -5.6677   36.3995 H         1 PYV         0.0624
                 29 H7        -23.4516   -3.3060   36.3584 H         1 PYV         0.0620
                 30 H8        -24.8117   -4.9528   28.7151 H         1 PYV         0.0668
                 31 H9        -24.6247   -3.4171   29.6279 H         1 PYV         0.0668
                 32 H10       -26.7103   -7.9410   31.7308 H         1 PYV         0.0803
                 33 H11       -27.2741   -6.5599   33.6956 H         1 PYV         0.0652
                 34 H12       -26.5363   -4.2348   33.8027 H         1 PYV         0.0719
                 35 H13       -25.2605   -3.2799   31.9555 H         1 PYV         0.0652
            @<TRIPOS>BOND
                 1    4    1 am 
                 2    1    5 2  
                 3    1    8 2  
                 4    1   10 1  
                 5    3    2 1  
                 6    6    3 ar 
                 7   12    3 ar 
                 8   17    4 1  
                 9    9    6 ar 
                10    6   16 ar 
                11   18    7 ar 
                12    7   19 ar 
                13   10    9 ar 
                14    9   13 ar 
                15   10   11 ar 
                16   11   12 ar 
                17   13   14 ar 
                18   14   15 ar 
                19   16   15 ar 
                20   17   18 1  
                21   18   22 ar 
                22   19   20 ar 
                23   20   21 ar 
                24   21   22 ar 
                25    4   23 1  
                26   11   24 1  
                27   12   25 1  
                28   13   26 1  
                29   14   27 1  
                30   15   28 1  
                31   16   29 1  
                32   17   30 1  
                33   17   31 1  
                34   19   32 1  
                35   20   33 1  
                36   21   34 1  
                37   22   35 1  
            @<TRIPOS>SUBSTRUCTURE
                 1 PYV         1
            ", "protein": "REMARK Selection 'chain A or chain C'

            ATOM      1  N   ALA A  58     -11.274  42.755  37.461  1.00 
            0.00           N  

            ATOM      2  CA  ALA A  58     -12.250  43.198  38.453  1.00 
            0.00           C  

            ATOM      3  C   ALA A  58     -12.711  42.083  39.413  1.00 
            0.00           C  

            ATOM      4  O   ALA A  58     -12.736  42.303  40.624  1.00 
            0.00           O  

            ATOM      5  CB  ALA A  58     -13.458  43.839  37.758  1.00 
            0.00           C  

            ATOM      6  HA  ALA A  58     -11.798  43.856  39.004  1.00 
            0.00           H  

            ATOM      7  HB1 ALA A  58     -14.099  44.129  38.425  1.00 
            0.00           H  

            ATOM      8  HB2 ALA A  58     -13.164  44.604  37.238  1.00 
            0.00           H  

            ATOM      9  HB3 ALA A  58     -13.875  43.190  37.170  1.00 
            0.00           H  

            ATOM     10  N   PRO A  59     -13.078  40.899  38.906  1.00 
            0.00           N  

            ATOM     11  CA  PRO A  59     -13.494  39.830  39.821  1.00 
            0.00           C  

            ATOM     12  C   PRO A  59     -12.309  39.217  40.551  1.00 
            0.00           C  

            ATOM     13  O   PRO A  59     -11.178  39.207  40.060  1.00 
            0.00           O  

            ATOM     14  CB  PRO A  59     -14.168  38.811  38.896  1.00 
            0.00           C  

            ATOM     15  CG  PRO A  59     -13.508  39.006  37.602  1.00 
            0.00           C  

            ATOM     16  CD  PRO A  59     -13.226  40.475  37.499  1.00 
            0.00           C  

            ATOM     17  HA  PRO A  59     -14.080  40.150  40.524  1.00 
            0.00           H  

            ATOM     18  HB2 PRO A  59     -14.049  37.905  39.221  1.00 
            0.00           H  

            ATOM     19  HB3 PRO A  59     -15.123  38.967  38.833  1.00 
            0.00           H  

            ATOM     20  HG2 PRO A  59     -12.688  38.491  37.549  1.00 
            0.00           H  

            ATOM     21  HG3 PRO A  59     -14.077  38.710  36.874  1.00 
            0.00           H  

            ATOM     22  HD2 PRO A  59     -12.420  40.649  36.987  1.00 
            0.00           H  

            ATOM     23  HD3 PRO A  59     -13.950  40.947  37.058  1.00 
            0.00           H  

            ATOM     24  N   VAL A  60     -12.594  38.690  41.740  1.00 
            0.00           N  

            ATOM     25  CA  VAL A  60     -11.586  38.156  42.650  1.00 
            0.00           C  

            ATOM     26  C   VAL A  60     -11.981  36.723  42.978  1.00 
            0.00           C  

            ATOM     27  O   VAL A  60     -12.982  36.492  43.668  1.00 
            0.00           O  

            ATOM     28  CB  VAL A  60     -11.461  39.005  43.922  1.00 
            0.00           C  

            ATOM     29  CG1 VAL A  60     -10.662  38.269  44.982  1.00 
            0.00           C  

            ATOM     30  CG2 VAL A  60     -10.824  40.352  43.600  1.00 
            0.00           C  

            ATOM     31  H   VAL A  60     -13.396  38.632  42.045  1.00 
            0.00           H  

            ATOM     32  HA  VAL A  60     -10.713  38.178  42.227  1.00 
            0.00           H  

            ATOM     33  HB  VAL A  60     -12.351  39.164  44.274  1.00 
            0.00           H  

            ATOM     34 HG11 VAL A  60     -10.594  38.820  45.777  1.00 
            0.00           H  

            ATOM     35 HG12 VAL A  60     -11.108  37.437  45.204  1.00 
            0.00           H  

            ATOM     36 HG13 VAL A  60      -9.773  38.079  44.644  1.00 
            0.00           H  

            ATOM     37 HG21 VAL A  60     -10.751  40.878  44.412  1.00 
            0.00           H  

            ATOM     38 HG22 VAL A  60      -9.940  40.211  43.226  1.00 
            0.00           H  

            ATOM     39 HG23 VAL A  60     -11.375  40.825  42.957  1.00 
            0.00           H  

            ATOM     40  N   TRP A  61     -11.212  35.757  42.475  1.00 
            0.00           N  

            ATOM     41  CA  TRP A  61     -11.581  34.357  42.626  1.00 
            0.00           C  

            ATOM     42  C   TRP A  61     -10.341  33.472  42.633  1.00 
            0.00           C  

            ATOM     43  O   TRP A  61      -9.248  33.889  42.242  1.00 
            0.00           O  

            ATOM     44  CB  TRP A  61     -12.520  33.905  41.504  1.00 
            0.00           C  

            ATOM     45  CG  TRP A  61     -11.787  33.635  40.228  1.00 
            0.00           C  

            ATOM     46  CD1 TRP A  61     -11.367  32.422  39.758  1.00 
            0.00           C  

            ATOM     47  CD2 TRP A  61     -11.367  34.606  39.263  1.00 
            0.00           C  
[...]
