openapi: 3.0.3
info:
  title: FreeAgent
  description: >-
    One product.🤳 17 years. 📆 250+ employees. 🧑‍💻Over 150,000 users.
    💥There's so much to say about it all. But here's the version that fits the
    character limit.


    We're FreeAgent. 👋 We make award-winning accounting software and provide
    superstar support for small businesses and their accountants and
    bookkeepers. We're a friendly bunch with a single goal bringing us all
    together: making users happier and more successful by putting them in
    control of their finances.


    But how did we get here? 🤔 You might remember 2007 as the year the first
    iPhone, Kindle and Fitbit debuted. It was also the year FreeAgent was
    launched.💡 Founders Ed, Olly and Roan had all been working as freelance
    designers or developers for a while. They created FreeAgent out of the
    frustration that doing the books was just too damn difficult for most of us.
    So they put their heads together and decided that there must be a better way
    to deal with their mounting piles of invoices, spreadsheets and receipts.


    Since our first hire back in 2008, we've also worked hard to make FreeAgent
    a ✨great✨ place to work.  We've grown to over 250 employees and we continue
    to build a diverse, high-performing, happy and collaborative team.


    In early 2018,  the company was acquired by the NatWest Group. Our growth
    has been given a turbo boost, yet we remain operationally independent of the
    group. 🚀


    Today, FreeAgent helps over 150,000 users take care of their finances - from
    the daily admin to big-picture planning - and do it all happily and
    successfully. Just like Ed, Olly and Roan set out to do all those years ago.
    💙
  version: 1.0.0
  contact: {}
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.freeagent.com
tags:
  - name: Invoices
  - name: Estimates
  - name: Credit Notes
  - name: Timeslips
  - name: Journal Sets
  - name: Users
  - name: Bank Accounts
  - name: Bank Transaction Explanations
  - name: Bills
  - name: Capital Asset Types
  - name: Categories
  - name: Contacts
  - name: Credit Note Reconciliations
  - name: Expenses
  - name: Notes
  - name: Properties
  - name: Projects
  - name: Sales Tax Periods
  - name: Tasks
  - name: Estimate Transitions
  - name: Invoice Transitions
  - name: Accountancy Practice API
  - name: Bank Transactions
  - name: Company
  - name: Credit Note Transitions
  - name: Estimates Items
  - name: Attachments
  - name: Bill Items
  - name: Capital Assets
  - name: Payroll
  - name: Price List Items
  - name: Recurring Invoices
  - name: Stock Items
  - name: Timers
  - name: Trial Balance
  - name: _Authorization
  - name: Cashflow
  - name: CIS Bands
  - name: Email Addresses
  - name: Payroll Profiles
  - name: Profit & Loss
paths:
  /v2/token_endpoint:
    post:
      tags:
        - _Authorization
      summary: Refresh access token
      operationId: Authorization_refreshAccessToken
      description: >-
        Request an new Access Token using an existing Refresh Token (you'll need
        to provide a Refresh Token in the request body params)


        https://dev.freeagent.com/docs/oauth/#refreshing-the-access-token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthorizationRefreshAccessTokenRequest'
            examples:
              Refresh access token:
                value:
                  client_id: '{{client_id}}'
                  client_secret: '{{client_secret}}'
                  grant_type: refresh_token
                  refresh_token: ''
      responses:
        '200':
          description: ''
  /v2/clients:
    get:
      tags:
        - Accountancy Practice API
      summary: List all clients
      operationId: AccountancyPracticeApi_getAllClients
      description: List all clients
      responses:
        '200':
          description: ''
  /v2/account_managers:
    get:
      tags:
        - Accountancy Practice API
      summary: List all account managers
      operationId: AccountancyPracticeApi_listAccountManagers
      description: List all account managers
      responses:
        '200':
          description: ''
  /v2/account_managers/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Accountancy Practice API
      summary: Get a single account manager
      operationId: AccountancyPracticeApi_getAccountManager
      description: Get a single account manager
      responses:
        '200':
          description: ''
  /v2/attachments/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Attachments
      summary: Show Attachment
      operationId: Attachments_showAttachment
      description: Show Attachment
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Attachments
      summary: Delete Attachment
      operationId: Attachments_deleteAttachment
      description: Delete Attachment
      responses:
        '200':
          description: ''
  /v2/bank_accounts:
    get:
      tags:
        - Bank Accounts
      summary: List Bank Accounts
      operationId: BankAccounts_listBankAccounts
      description: List Bank Accounts
      parameters:
        - name: view
          in: query
          schema:
            type: string
            example: standard_bank_accounts
      responses:
        '200':
          description: ''
    post:
      tags:
        - Bank Accounts
      summary: Create Bank Account
      operationId: BankAccounts_createNewAccount
      description: Create Bank Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountsCreateNewAccountRequest'
            examples:
              Create Bank Account:
                value:
                  bank_account:
                    created_at: '2011-07-28T11:25:11Z'
                    is_personal: false
                    name: Default bank account
                    opening_balance: '0.0'
                    status: active
                    type: StandardBankAccount
                    updated_at: '2011-07-28T11:25:20Z'
      responses:
        '200':
          description: ''
  /v2/bank_accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Bank Accounts
      summary: Show Bank Account
      operationId: BankAccounts_showDetails
      description: Show Bank Account
      responses:
        '200':
          description: ''
    put:
      tags:
        - Bank Accounts
      summary: Update Bank Account
      operationId: BankAccounts_updateAccount
      description: Update Bank Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountsUpdateAccountRequest'
            examples:
              Update Bank Account:
                value:
                  bank_account:
                    created_at: '2011-07-28T11:25:11Z'
                    is_personal: false
                    name: Default bank account
                    opening_balance: '0.0'
                    status: active
                    type: StandardBankAccount
                    updated_at: '2011-07-28T11:25:20Z'
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Bank Accounts
      summary: Delete Bank Account
      operationId: BankAccounts_deleteAccount
      description: Delete Bank Account
      responses:
        '200':
          description: ''
  /v2/bank_transaction_explanations:
    get:
      tags:
        - Bank Transaction Explanations
      summary: List all bank transaction explanations
      operationId: BankTransactionExplanations_listAll
      description: List all bank transaction explanations
      parameters:
        - name: from_date
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: to_date
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: updated_since
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: bank_account
          in: query
          schema:
            type: string
            example: '{{url}}/v2/bank_accounts/:id'
      responses:
        '200':
          description: ''
    put:
      tags:
        - Bank Transaction Explanations
      summary: Update a bank transaction explanation
      operationId: BankTransactionExplanations_updateExplanation
      description: Update a bank transaction explanation
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/BankTransactionExplanationsUpdateExplanationRequest
            examples:
              Update a bank transaction explanation:
                value:
                  bank_transaction_explanation:
                    description: harness end-to-end e-business
                    attachment:
                      content_src: >-
                        https://s3.amazonaws.com/freeagent-dev/attachments/1/original.png?AWSAccessKeyId=1K3MW21E6T8KWBY84B02&Expires=1314281186&Signature=GFAKDo%2Bi%2FsUMTYEgg6ZWGysB4k4%3D
                      content_type: image/png
                      file_name: barcode.png
                      file_size: 7673
                      url: https://api.freeagent.com/v2/attachments/3
                    bank_account: https://api.freeagent.com/v2/bank_accounts/1
                    bank_transaction: https://api.freeagent.com/v2/bank_transactions/8
                    category: https://api.freeagent.com/v2/categories/285
                    dated_on: '2010-05-01'
                    gross_value: '-730.0'
                    project: https://api.freeagent.com/v2/projects/1
                    rebill_factor: '800'
                    rebill_type: price
      responses:
        '200':
          description: ''
    post:
      tags:
        - Bank Transaction Explanations
      summary: Create a bank transaction explanation
      operationId: BankTransactionExplanations_createExplanation
      description: Create a bank transaction explanation
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/BankTransactionExplanationsCreateExplanationRequest
            examples:
              Create a bank transaction explanation:
                value:
                  bank_transaction_explanation:
                    description: harness end-to-end e-business
                    attachment:
                      content_src: >-
                        https://s3.amazonaws.com/freeagent-dev/attachments/1/original.png?AWSAccessKeyId=1K3MW21E6T8KWBY84B02&Expires=1314281186&Signature=GFAKDo%2Bi%2FsUMTYEgg6ZWGysB4k4%3D
                      content_type: image/png
                      file_name: barcode.png
                      file_size: 7673
                      url: https://api.freeagent.com/v2/attachments/3
                    bank_account: https://api.freeagent.com/v2/bank_accounts/1
                    bank_transaction: https://api.freeagent.com/v2/bank_transactions/8
                    category: https://api.freeagent.com/v2/categories/285
                    dated_on: '2010-05-01'
                    gross_value: '-730.0'
                    project: https://api.freeagent.com/v2/projects/1
                    rebill_factor: '0.25'
                    rebill_type: markup
      responses:
        '200':
          description: ''
  /v2/bank_transaction_explanations/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Bank Transaction Explanations
      summary: Get a single bank transaction explanation
      operationId: BankTransactionExplanations_getSingleExplanation
      description: Get a single bank transaction explanation
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Bank Transaction Explanations
      summary: Delete a bank transaction explanation
      operationId: BankTransactionExplanations_deleteExplanation
      description: Delete a bank transaction explanation
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/BankTransactionExplanationsDeleteExplanationRequest
            examples:
              Delete a bank transaction explanation:
                value:
                  bank_transaction_explanation:
                    description: harness end-to-end e-business
                    attachment:
                      content_src: >-
                        https://s3.amazonaws.com/freeagent-dev/attachments/1/original.png?AWSAccessKeyId=1K3MW21E6T8KWBY84B02&Expires=1314281186&Signature=GFAKDo%2Bi%2FsUMTYEgg6ZWGysB4k4%3D
                      content_type: image/png
                      file_name: barcode.png
                      file_size: 7673
                      url: https://api.freeagent.com/v2/attachments/3
                    bank_account: https://api.freeagent.com/v2/bank_accounts/1
                    bank_transaction: https://api.freeagent.com/v2/bank_transactions/8
                    category: https://api.freeagent.com/v2/categories/285
                    dated_on: '2010-05-01'
                    gross_value: '-730.0'
                    project: https://api.freeagent.com/v2/projects/1
                    rebill_factor: '800'
                    rebill_type: price
      responses:
        '200':
          description: ''
  /v2/bank_transactions:
    get:
      tags:
        - Bank Transactions
      summary: List all bank transactions under a certain bank account
      operationId: BankTransactions_listUnderAccount
      description: List all bank transactions under a certain bank account
      parameters:
        - name: bank_account
          in: query
          schema:
            type: string
            example: '{{url}}/v2/bank_accounts/1'
        - name: from_date
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: to_date
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: updated_since
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: view
          in: query
          schema:
            type: string
            example: all
        - name: last_uploaded
          in: query
          schema:
            type: string
            example: 'true'
      responses:
        '200':
          description: ''
  /v2/bank_transactions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Bank Transactions
      summary: Get a single bank transaction
      operationId: BankTransactions_getSingleTransaction
      description: Get a single bank transaction
      responses:
        '200':
          description: ''
  /v2//bank_transactions/statement:
    post:
      tags:
        - Bank Transactions
      summary: Upload a bank statement
      operationId: BankTransactions_uploadStatement
      description: Upload a bank statement
      parameters:
        - name: bank_account
          in: query
          schema:
            type: string
            example: '{{url}}/v2/bank_accounts/:id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankTransactionsUploadStatementRequest'
            examples:
              Upload a bank statement:
                value:
                  statement:
                    - description: Local Council
                      amount: -100
                      dated_on: '2019-07-01'
                    - description: Sales
                      amount: 3560
                      dated_on: '2019-07-05'
      responses:
        '200':
          description: ''
  /v2/bills:
    get:
      tags:
        - Bills
      summary: List Bills
      operationId: Bills_list
      description: List Bills
      parameters:
        - name: view
          in: query
          schema:
            type: string
            example: all
        - name: from_date
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: to_date
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: updated_since
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: contact
          in: query
          schema:
            type: string
            example: '{{url}}/v2/contacts/:id'
        - name: project
          in: query
          schema:
            type: string
            example: '{{url}}/v2/projects/:id'
      responses:
        '200':
          description: ''
    post:
      tags:
        - Bills
      summary: Create Bill
      operationId: Bills_createBill
      description: Create Bill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillsCreateBillRequest'
            examples:
              Create Bill:
                value:
                  bill:
                    category: '{{url}}/categories/285'
                    contact: '{{url}}/contacts/1'
                    dated_on: '2015-10-17'
                    due_on: '2015-11-17'
                    reference: Bill ref 01
                    sale_tax_rate: '20'
                    total_value: '300'
              Create Bill with Attachment:
                value:
                  bill:
                    attachment:
                      description: photo of the receipt
                      content_type: image/png
                      data: >-
                        iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAYAAAD0eNT6AABOmklEQVR42u2dC5BkWVnn6cmsyqysJIcZHsIgj4EeHs30VGV23ptZVd1UDz3SMvJQ6VZ0Q9Z1cWHVMFzDx4aE79XAZTcMHxurhq91B5X1sfh+G4IagEwsy8qCj3UXEBgYBlBXeSmyJ4lzao9l1b3nVmXe75zz/SriRnXPZP6r63znnt8/v/ud7zzoQXzxxRdffPHFF19Nv+666/IZc93gXWfQQw899NBDD7209Jr+8M7hCz300EMPPfTQS0uvqevommvNu7ondR/ooYceeuihh177eif54YsfuO5da6f8ZdBDDz300EMPvRb1TvLDe+bqe1fvlL8Meuihhx566KHXot5JfvjiB254V/+Uvwx66KGHHnroodeintMMfeGiunBgrk3vWvz9hhP+YPTQQw899NBDr329M7Zo8IbQH774gUPv2jzlL4Meeuihhx566LWr5woI6w2A98NH3jU85S8zRC8OvQsXLkzLsrjI+MnoTewX4yejd3j8Gb929RZjP51Ox4xfa3pnvF0D1QbAvnjg/QNutN9P88s4nRvRk9UriuKCufk+uLiMCXg649eu3mLxMwbsA4tr8WfGr129w+PP+LWr58Z/PB6/P8QEMH6n1nMFhOueAThT9eK+l3oYMdh5wd/cfx8wN94n7LUwAZcYv9bh/wl7fcCOP+PXLvwPxv+ITAzjt2L4u/FfmACzJm0zfivVc7sGDgxAnVPYOPTsgcHOE/6fvI77JMT4rRz+vgkjE9M+/P+BCWD82oV/nQlg/JaiN/B2DSwMQLfuGUHfMwCbDHYeegYwk2Pgf+QnIcavNfiTiZGFP5kYQfh7JuCB7e3tLcZvqXqO4c4ArFWl/rvWITgDMGCws4L/+yvg38gEEI+lw59MjCz8ycQIwv+wCWD8lqLn7xrYqGwaZIsC1jwD0Gew89AzN9U4EP5BJoB4rAz+ZGJk4U8mRhD+vgkoiuku43dqvZFnAPp1RX++AThNu0Imf9rwr4QQ8Vg5/MnEyMKfTIwg/F08FmuWMWF7zOdT6TkDMKjkuX1Tx9sjCPwz0DM30fYJ4U91tCz8ycTIwp9MjCD83WXe/oAxATvM5xPrjYJq+DwD0AX+wJ/q6CjgTyZGFv5kYgTh767xePw+c93B+nIivbDde54BAP75wP+BJcCf6mhZ+JOJkYU/mRhB+Hs1Ae8zkudZX1akd8oThRjsiPTMDbO1ZPhTHS0LfzIxsvAnEyMIf++6P8QEEI/T6TE4wJ/q6PjgTyZGFv5kYmThf2ACzP+/nfUe+KN36KsoijvMzfG+FcKf6mhZ+JOJkYU/mRhZ+FeaAOIB/IH/6uFPdbQs/MnEyMKfTIws/A9MgFnzngY/gD/wbx/+VEfLwp9MjCz8ycTIwv8fmAD4AfzV6pVleV4I/lRHy8KfTIws/MnEyMLfXe/d2ZmX8AP4a4X//YLwV10dHQH8VWdiIoC/6kxMBPB3GveX5XQGP06keYbBAf5UR6cLf5WZmIjgrzITExH8D0xAUUwL+BEOftv3J7hJ0BBYR9Pb//bI4K+qOjpC+KvKxEQIf1WZmAjh7zoGvsdcT4UfQfDvBhkA7zzhEbCOA/7m/ntvhPBXUR0dMfxVZGIihr+KTEys8Pc6BjYyAUrh7877qTYA9sUD++l/BKxl9cy997TI4Z91dXQC8M86E5MA/LPOxMQO/6YmQCn8e/a037XK1v/2xX376X/onS0MrIG/uurohOCfZSYmIfhnmYlJBf6eCbjPfH8K/PgHen17HRiAOqew4RmAIbAWhf97EoJ/VtXRCcI/q0xMgvDPKhOTGvzrTIBSHg0sz50B6NY9I+h7BmATWMvomYl+LlH4Z1EdnTD8s8jEJAz/LDIxqcL/OBOglEeO4c4ArFWl/rvWITgDMADWwF9jdXQG8E86E5MB/JPOxKQOf98EmPc9WSmPXPbeGYBeFfw71h2se88LgLWAXlEUT80E/klWR2cE/yQzMRnBP8lMTC7w90zAu+fz2QWFPBp5BqBfV/TnG4BecJcg4A/8M6qOzhD+SWViMoR/UpmY3ODv9Myvdd/OznyqjEfOAAwqeW7f1PH2CAJ/OfjflyH8k6iOzhj+SWRiMoZ/EpmYXOHvLmsCJop4NAqq4fMMQBf4y+iVZfmUzOEfdXW0AvhHnYlRAP+oMzG5w9/Te5f5oPUkJTwK273nGQDgD/zVVUcrgn+UmRhF8I8yE6MI/u5qZAKy59FJwQ/8lwN/MznfrQj+UVVHK4R/VJkYhfCPKhOjEP4HJmB7e/s2eHSKL+B/6t7+T1YK/yiqoxXDP4pMjGL4R5GJUQx/d72zygQAf2AN/DOtjgb+spkY4C+biQH+/98EmLX4LPAH1q3pmXvvSWZyvgv4y1RHA3/ZTAzwl83EAP9qEwD8gTXwz7Q6GvjLZmKAv2wmBvgffZlh+fOFCQD+wBr4Z1odDfxlMzHAXzYTA/zrTcBsVm4Bf2C9dD0zwW5bVJ4CG5nqaOAvm4kB/rKZGOAfprdYo+fzclsD/IN3/wF/4J9ydTTwl83EAH/ZTAzwb9wx8J02E5Ar31zr/+AmQUPgD/xTrI4G/rKZGOAvm4kB/ifTG4/H7zDfn5Ap/LtBBsA7T3gE/Jt/FUVxduEmWdxkqqOBv2wmBvjLZmKA/+n0mpqARODvzvupNgD2xQP76X8E/IF/StXRwF82EwP8ZTMxwH85esYEvD3EBCQC/5497XetsvW/fXHffvofemcLA3/gH311NPCXzcQAf9lMDPBfrt7CBJRleWvifOvb68AA1DmFDc8ADIF/2NdsNnviYjsJN5NMdTTwl83EAH/ZTAzwX43ecSYgEb4NLM+dAejWPSPoewZgE/gD/xSqo4G/bCYG+MtmYoD/yvXe5puARPjmGO4MwFpV6r9rHYIzAAPgny/8zb/3/cbZPpBDdXSK8F+M/+LKIROTIvwXc9+f/ylnYlKE/+HxT8RMvG1ra+vxifDNZe+dAehVwb9j3cG697wA+Ad8bW9vP8FMpnckCP+x+bdvncQExFQdnSr8i2K6t7icCUg1E5Mq/Bdz383/lDMxqcLfH//EMglvK8vp7QnwbeQZgH5d0Z9vAHrBXYKAf7Lw936HRiYgpurolOHv5p/5826qmZiU4e/Wg8X4p5qJSRn+x60/iZixdxgTdj5yvjkDMKjkuX1Tx9sjCPwD9VKHf1MTEFt1dOrwd/Mv1UxM6vB360GqmZjU4X94/UksE/OOyPk2Cqrh8wxAF/g308sB/qEmgIKh1cA/8UxM8vBPPBOTPPxTzsREzrdhk3a/HeDfXC8X+NdBiMVttfBPPBOTPPwTz8QkD/9UMzFZ8O2k4NcOf98A5AD/xJ/JJQ9/MjGy8CcTIwv/FDMxufEN+DfUyw3+iT+TSx7+ZGJk4U8mRhb+qWVigL/yUwJzhH/i1dHJw59MjCz8ycTIwj+lTAzwV35KYK7wT7w6Onn4k4mRhT+ZGFn4p5KJMf/EM8Bf8UFBOcOf6mhZ+JOJkYU/mRhZ+KeQiakzAMA/c73c4U91tCz8ycTIwp9MjCz8Y8/EVBkA4K9ATwP8qY6WhT+ZGFn4k4mRhX/MmZjjDEAK8A/e/Qf8j9fTAn+qo2XhTyZGFv5kYmThH2sm5igDkADfXOv/4CZBQ+B/tJ4m+FMdLQt/MjGy8CcTIwv/GDMx5p90Q4Lw7wYZAO884RHwP/pLG/ypjpaFP5kYWfiTiZGFf2yZGN8AJAJ/d95PtQGwLx7YT/8j4N/cALRxc0rAn+poWfiTiZGFP5kYWfj7mRjp8XMGIBH49+xpv2uVrf/ti/v20//QO1sY+AcaAC29qLVWR0vDX3smRhr+2jMx0vCPpQ/LwgAkwre+vQ4MQJ1T2PAMwBD4hxsAbb2otVVHxwJ/rZmYWOCvNRMTC/yb7sJaxfg98Ym3dhPg28Dy3BmAbt0zgr5nADaBf7gB0NqLWkt1dGzw15aJiQ3+2jIxMcH/JAZg2eN39epdN0XON8dwZwDWqlL/XesQnAEYAP9wA6C9F3Xu1dGxwl9LJiZW+GvJxMQG/6YGYBXjd/XqlZsj5pvL3jsD0KuCf8e6g3XveQHwDzQAgr2ooxq/XKujY4d/7pmY2OGfeyYmRvg3MQCrGj/PAMS4How8A9CvK/rzDUAvuEuQYvi7CSjcizq68cutOjoV+OeaiUkF/rlmYmKFf6gBWOX4WQMQ63rgDMCgkuf2TR1vjyDwD9SLoBd1lOOXS3V0avDPLROTGvxzy8TEDP8QA7Dq8bM1ALGuB6OgGj7PAHSBfzO9CHpRRzt+qVdHpwr/XDIxqcI/l0xM7PCvMwBtjN+dd+6vR7wehO3e8wwA8G+oF0Ev6qjHL9Xq6NThn3omJnX4p56JSQH+VQagrfHb39/vJs+3k4JfO/x9AyDYizr68UutOjoX+KeaickF/qlmYlKB/3EGoM3xa2oAOCI4M70IelEnMX6pVEfnBv/UMjG5wT+1TExK8D/KALQ9fk0MAPDPUC+CXtTJjF/s1dG5wj+VTEyu8E8lE5Ma/A8bAInxCzUAwD9TvQh6UVMdDfyTz8TkDv/YMzEpwt83AILjtwb8FR8UJA0vqqOBf+qZGC3wjzUTkyr83forPH5rwF9xx0BpeFEdDfxTzsRog39smZiU4R9DH5YqAwD8FehJb+2hOhr4p5qJ0Qr/WDIxqcM/hj4sxxmAFOAfvPsP+Mfbi5rqaOCfYiZGO/ylMzE5wD+GPixHGYAExs+1/g9uEjQE/nH2oqY6GvinlokB/rKZmFzgH0MflnPnzq0nCP9ukAHwzhMesVgeX4Qiua+X6mjgn1ImBvjLZmJygn8MfVh8A5AI/N15P9UGwL54YD/9j1gsmxuANgpUqI4G/qlkYoC/bCYmN/jH0IfFGYBE4N+zp/2uVbb+ty/u20//Q+9sYRbLQAPQVnVqbvFYVXU08JfNxAB/2UxMjvCPoQ/LwgAkMn59ex0YgDqnsOEZgCE3Z7gBaHNrSo7xWHZ1NPCXzcQAf9lMTK7wD3kEu+r1eTze7icwfgPLc2cAunXPCPqeAdjk5gw3AG3vS801Hsuqjgb+spkY4C+bickZ/icxAMten3d3Zw+LfPwcw50BWKtK/XetQ3AGYMDNGW4AJJpS5ByP01ZHA3/ZTAzwl83E5A7/pgZgFevz7u78ERGPn8veOwPQq4J/x7qDde95ATdnoAGQ6kiVezxOWh0N/GUzMcBfNhOjAf5NDMCq1mfPAMQ4fiPPAPTriv58A9AL7hKkfLGU7kWtIR5NTQDwl83EAH/ZTIwW+IcagFWuz9YAxDp+zgAMKnlu39Tx9ggC/0A96V7UWuIRagKAv2wmBvjLZmI0wT/EAKx6fbY1ALGO3yiohs8zAF3g30xPuhe1pnjUQQj4y2ZigL9sJkYb/OsMQBsfzi5f3h9EPH5hu/c8AwD8G+pJ96LWFo/jIAT8ZTMxwF82E6MR/lUGoK3M7P7+fj/5+XdS8HNzyvei1hiPw4sg8JfNxAB/2UyMVvgfZwDafCzb1ABwRHBmetK9qLXGwy2CwF82EwP8ZTMxmuF/lAFouyariQEA/hnqSfei1hyPxTNR4C+biQH+spkYzfA/bAAkCrJDDQDwz1RPuhc18UAPPfS06kn3YZnP5xvAX/Fkle5FTTzQQw89rXrSfVjqDADwz1xPuhc18UAPPfS06kn3YakyAMBfgZ50L2rigR566NGHRWY31nEGIAX4B+/+Y7LG24uaeKCHHnr0YZHZjXWUAUhg/Fzr/+AmQUMma5y9qIkHeuihRx8Wsd1YgwTh3w0yAN55wiMm69Ff0r2oiQd66KFHHxax3ViDxODvzvupNgD2xQP76X/EZG1uANooUCEe6KGHHn1YxHZjDRKCf8+e9rtW2frfvrhvP/0PvbOFmayBBqCt6lTigR566NGHRWw31iCR8evb68AA1DmFDc8ADJms4Qagza0pxAM99NCjD4vMbqyyLIYJjN/A8twZgG7dM4K+ZwA2mazhBqDtfanEAz300NOqJ92HZXd3/sjIx88x3BmAtarUf9c6BGcABkzWcAMg0ZSCeKCHHnpa9aT7sOzt7dwS8fi57L0zAL0q+HesO1j3nhcwWQMNgFRHKuKBHnroadWT7sPiGYAYx2/kGYB+XdGfbwB6wV2ClE9W6V7UxAM99NDTqifdh8UagFjHzxmAQSXP7Zs63h5B4B+oJ92Lmnighx56WvWk+7DYGoBYx28UVMPnGYAu8G+mJ92Lmnighx56WvWk+7Dcccf5UcTjF7Z7zzMAwL+hnnQvauKBHnroadWT7sNy7ty5YfLxOCn4mazyvaiJB3rooadVT7oPS1MDwBHBmelJ96ImHuihh55WPek+LE0MAPDPUE+6FzXxQA899LTqSfdh2d3dfTDwpxe1WDtK4oEeeuhp1ZPuwxJiAIB/xnrSvaiJB3rooadVT7oPS50BAP6Z60n3oiYe6KGHnlY96T4sVQYA+CvQk+5FTTzQQw89+rDI7MY6zgCkAP/g3X9M1nh7URMP9NBDjz4sMruxyrIcJTh+rvV/cJOgIZM1zl7UxAM99NCjD4vMbqzDBiAR+HeDDIB3nvCIyXr0l3QvauKBHnro0YdFZjeWbwASgb8776faANgXD+yn/xGTtbkBaKNAhXighx569GGR2Y3lDEAi8O/Z037XKlv/2xf37af/oXe2MJM10AC0VZ1KPNBDDz36sMjsxloYgETGr2+vAwNQ5xQ2PAMwZLKGG4A2t6YQD/TQQ48+LDK7sYqiuCmB8RtYnjsD0K17RtD3DMAmkzXcALS9L5V4oIceelr1pPuw7O3tfGrk4+cY7gzAWlXqv2sdgjMAAyZruAGQaEpBPNBDDz2tetJ9WC5e3H1MxOPnsvfOAPSq4N+x7mDde17AZA00AFIdqYgHeuihp1VPug+LZwBiHL+RZwD6dUV/vgHoBXcJUj5ZpXtREw/00ENPq550HxZrAGIdP2cABpU8t2/qeHsEgX+gnnQvauKBHnroadWT7sOyszN7TMTjNwqq4fMMQBf4N9OT7kVNPNBDDz2tetJ9WCaT8c0Rj1/Y7j3PAAD/hnrSvaiJB3rooadVT7oPy9bW1kOSj8dJwc9kle9FTTzQQw89rXrSfViaGgCOCM5MT7oXNfFADz30tOpJ92FpYgCAf4Z60r2oiUe6epPJ5N+b61WB18+ZeP/idHrhl9y1+Pvivy/+v/nzlxEP9LTpSfdhOX/+/E3An17UYu0oiUfSTUzuXdZ8MSbgB4kHetr0pPuwhBgA4J+xnnQvauKRdBOTe5c1X0INAPvAZWt2qAHKqw9LnQEA/pnrSS8exCNpeN27rPkSYgDYB54X/KkBku/DUmUAgL+ONK7o4kE8kobXvcuaL3UGgH3g+cGfGiD5PizHGYAU4B+8+4/FPN5e1MQjaXjdu6z5UmUA2AeeJ/ypAZLvwzKfz29OcPxc6//gJkFDFvM4n0ESj6Thde+y5stxBoB94PnCnxog+T4shw1AIvDvBhkA7zzhEYt5nM8giUfS8Lp3WfPlKAPAPvC84U8NkHwfFt8AJAJ/d95PtQGwLx7YT/8jFvM4n0ESj6Thde+y5sthA8A+8PzhTw2QfB8WZwASgX/Pnva7Vtn63764bz/9D72zhVnMI3sGSTyShte9y5ovvgFgH7gO+FMDJN+HZWEAEhm/vr0ODECdU9jwDMCQxTzOZ5DEI2l43bus+eIMAPvA9cCfGiD5PiyzWfnwBMZvYHnuDEC37hlB3zMAmyzm8T6DJB5Jw+veZc2XhQFgH7gu+FMDJN+HZW9v9/GRj59juDMAa1Wp/651CM4ADFjM434GSTyShtcblzhffuTy5Ys3sg9cD/ypAZLvw3Lx4u6tEY+fy947A9Crgn/HuoN173kBi3nkzyCJR/R6Z8bj8S3mumLi9RJzvdx8Wv9pc73BxPSjy5wvRvNvzff7zfVH5s+vMT/zx8337zDXl5g/f7q5zu7v73dziodm+FMDJN+HxTMAMY7fyDMA/bqiP98A9IK7BJHGFV08iEdcegvYm7hcM9e/NX/+bfP9AzHBxvybPma+/09zvdJcLzXX3bPZ7FNSjYdm+FMDJN+HxRqAWMfPGYBBJc/tmzreHkHgn8gzSOIhq7e7u/tgE6Pnm1h8v4Hrn6UKG/Nvf/vCFBRF8VVlWexdurRzE/vA49fTfv9Kx2N3d35rxOM3Cqrh8wxAF/in9QySeLSvV5blYv/xCyeTyS/bT9TZwcb8bovMxasWjy3M7/i4WOOhGf7UAMn3YSmK6SMiHr+w3XueAQD+iT2DJB7t6C0K7KbTC5cMGH/MAPFD2mBjfu83m+tl5pqbIbohlvhqhj81QFGcBfGw5Ne/k4IfOMg/gyQeq9W7evXKzUVRvDDk6F5FB9O805ig7zKv2z1sBrTtA6cGSP1ZEA/Laf0DDok9gyQeq9Ezn/gfYmLxAjPGb9GeZq653maubzPve7LGfeDUAKk/C+JhwJ9e1JwHnpFeWRalicXvaC8wO8H1urIsv3Rvb+cWLfvAqQHS3Ydle3v74cCfXtScB56B3iLdb+LwzW5/PvA/cQHhX02nF77f/PncquOrPR7a71/peIQYAOCfsR7ngeeht7Mzf7IB1+9q31e+TL3FDonD56UvO77a46H9/pWOR50BAP6Z63EeePp6ZVnsmzjcB/yXrveTq46v9nhov3+l41FlAIC/Aj3OA09bryiKzzLj+DfAeiVbBy+tOr7a46H9/pWOx3EGIAX4B+/+A/7xPoMkHqeB//T5fj9+4L88vfF4/IdmqM+sOr7a46F9fZaOxx133PGIBMfPtf4PbhI0BP5xPoMkHidO+18xn1A/DKxXpveSNuKrPR70YZGNx2EDkAj8u0EGwDtPeAT843wGSTya6+3t7Z6zp+YB6xXomU//f3nu3LlhG/HVHg/6sMjGwzcAicDfnfdTbQDsiwf20/8I+Mf5DJJ4NNO7cuXyQxf71YH16vQmk8l3txVf7fGgD4tsPJwBSAT+PXva71pl63/74r799D/0zhYGNpE9gyQezfSKovhWYL1yvae0FV/t8aAPi2w8FgYgkfHr2+vAANQ5hQ3PAAyBf5zPIIlHuF5ZFhOa/Kxc7zfbjK/2eNCHRTYe8/n8UQmM38Dy3BmAbt0zgr5nADaBf7zPIIlHo4KhXwHWq9WbTCaf1WZ8tceDPiyy8bh4cfeJkY+fY7gzAGtVqf+udQjOAAyAf9zPIIlHmN6i6h9Yr1ZvPB6/Y39/v9tmfLXHgz4ssvG4eHHvtojHz2XvnQHoVcG/Y93Buve8APhH/gySeITpmU+mvwCsV6730rbjqz0e2tdn6Xh4BiDG8Rt5BqBfV/TnG4BecJcg5bDhPPD49Waz8mlmrP4eWK9Ob9H3fzabfQrzDz1NfVisAYh1/JwBGFTy3L6p4+0RBP6JPIMkHvV65tP/NwLr1eqZMf5x5h962vqw7O3tnI14/EZBNXyeAegC/7SeQRKPej0zTm8B1ivX22P+oaetD0tZlrdEPH5hu/c8AwD8E3sGSTyq9ba3t28D1ivX++8P8vr+M//Qa0tP+v4oiuKRycfjpOBnssr3oiYetfuEXwKsV6s3mUy+mPmHnoSe9P3R1ABwRHBmepwHHrfeeDx+BbBeqd5f3HHHHZvMP/Qk9KTvjyYGAPhnqMd54HHrmU+nfxw7XI1JeZ/5/rPm3/oN5jUvMH++aP7bU7e2th5tFpiHnj9//qbZrHz4ouBoZ2e+Za6LRTF9rvl/X2Te89Xm+h5z/bJ535+a6+Mt/77fyfxDT0pP+v41992jgD+9qDkPPEK9/f39fuj2P6FT837RLCB3Xr9+vbOs8ZvP5xtGc2L0/7n59n3meuNRY7Cs33dRY8H8Q09KL4KDrx4F/OlFzXngEeqZcb09Uvh/xMD/c1tMky4eVT3LfH/5whAs6/c1v8OvMf/Qk9STfixWZwCAf+Z6nAcer54Zn7sjTftfkxy/nZ35k8uy/NLp9MIvmQXsw6f4XZ/H/ENPUi+Csy8eBfwV63EeeLx6izR4hPD/1ZjGbzIZP9j8m66bheynzSf6Dzf49P/2q1fvuon5h56knnRB7HEGIAX4B+/+Y7LG24uaeBz/ZW7Or4qt4M/89y+IdfzKshwZsP8zM26/U//7Xvgm1gP0pPWkd8OY++WWBMfPtf4PbhI0ZLLG2YuaeFQ+H/zm2LbSFUWxnYh5eqL5936bWeDuO+L3/ejOzuyJrAfoSetJb4U9bAASgX83yAB45wmPmKzHQobzwCPVM+P17bHtozcG4EkpxcP8m9eMGfgc8/3V7vctiukrWQ/Qi0FPug+GbwASgb8776faANgXD+yn/xGTtbkB4DxwWT0DrpfF1kTH/JsupRqP+Xy26D/w42VZXGE9QC8GPek+LM4AJAL/nj3td62y9b99cd9++h96ZwszWQMNAOeBy+sZ2P6bCE/N+zoWc/TQW46edB+WhQFIZPz69jowAHVOYcMzAEMma7gBaBM2xKPSAHx9hO1z/8/Zs2d7LObooXd6Pek+LOPx9mMSGL+B5bkzAN26ZwR9zwBsMlnDDUDbsCEelbH5ykh78b+cxRw99E6vJ92HpSyLJ0c+fo7hzgCsVaX+u9YhOAMwYLKGGwAJ2BCP4/WKonhxxAfxfPPlyxdvZDFHD72T60n3YZnNiqdGPH4ue+8MQK8K/h3rDta95wVM1kADIPVJk3gcr1cU0+dHfgrfr+7t7TyJxRw99E6mJ92HxTMAMY7fyDMA/bqiP98A9IK7BJFmFn3GTDyO19vZmc8TOIL3L8z1lXfeub/O/YYeemn1YbEGINbxcwZgUMlz+6aOt0cQ+AfqST9jJh7H65lP17dEDv8DvfF4/FZ7RsAN3G/ooZdGHxazxjwl4vEbBdXweQagC/yb6Uk/YyYe1XqLnvWxw//QtqI/nEwm/2TRgIf7DT304u7DMpvNHhvx+IXt3vMMAPBvqCf9jJl4VOsZmL4qFfgf6hfw5+b71xZF8VDiix56zQxAW/dvWZafmnw8Tgp+Jqt8L2riUa23aLyTGvwPXR8xv8OPme975tc5Q3zRQ6/aALR5/zY1ABwRnJme9DNm4lG7T/hiwvA/fL3FvP+lFy/u3UZ80UNPvg9LEwMA/DPUk4YD8ajdJ7w2Ho//MgP4H2hMJpO/W2whLIrihZcv7w+4f9HTqid9/5r/9hjgTy9qMTgQj3o9YwBekQv8j9g9sDA3P2z+ftf169c73L/o0Yelvfs3xAAA/4z1pOFAPOr1zCfmz8gR/kfsIHiP+V2/x/z/3UW9APcvevRhWe39W2cAgH/+z5hF4UA86vX29/e7ZqzemTP8jzADf2a+f1NZlrdy/6KXq570/VZlAIC/jmfMonAgHsHVwl+jBf5HXL9pDMELLl7cfSjzBb2c9KTvt+MMQArwD979x2SNtxc18Qj72t3dfbCB4AMK4e/r3W+ul+/t7Z5jvqCXg14E99tjExw/1/o/uEnQkMkaZy9q4hH+NZlMvkIx/P/BLgJz/aQxRNMMMjufUJzZUV8DFEE8Hpsg/LtBBsA7T3gE/MMXoDYXD+IR/jWfz3p2L71a+B+h91vGDDzjQccUDcYeX83wpwZIvg+LbwASgb8776faANgXD+yn/xHwb24A2lg8iEczvbIsrphx+zjw/0dFg79njMCdqcVXM/ypAZLvw+IMQCLw79nTftcqW//bF/ftp/+hd7YwsAk0AG0tHsSjuV5RTL8D+B97BsFvmNeOU4mv8poO9TVAEcTjsYmMX99eBwagzilseAZgCPzjfAZJPJrrXb16103mE+9vAP9jr783148URfFI9oHHrUcfFtl4GMN8awLjN7A8dwagW/eMoO8ZgE3gH+8zSOJxMr3z588vTMAfAf/KXgJ/Zd7/NVevXrmZfeBx6tGHRTYes1n5tMjHzzHcGYC1qtR/1zoEZwAGwD/uZ5DE4+R6W1tbj7fH7gL/6rMH7i3L6Yx94PHp0YdFNh7zeXl7xOPnsvfOAPSq4N+x7mDde14A/CN/Bkk8Tqe3vb19mxnHdwH/Wr3FscT/6kEBuwXajK/23Rza71/peHgGIMbxG3kGoF9X9OcbgF5wlyDlsJFePIjH6fXM+D7Bts4F/vV6P794fBJLfLXHQ/v9Kx0PawBiHT9nAAaVPLdv6nh7BIF/Is8gicdy9O64445HmPF8LfCv11uYpe3t7XMxxFd7PLTfv9LxKMvp7RGP3yiohs8zAF3gn9YzSOKxPL39/f2+GdMfBf5BfQP+0jYQEo2v9nhov3+l42GM8BMiHr+w3XueAQD+iT2DJB5L1ztjxvVFBm4fAv617/uouZ4nGV/t8dB+/0rHY1FInPz6d1LwAxv5Z5DEYzV6Ozvz6aL6HfjXbhX8WzNOz5aKr/Z4aL9/pePR1ABwRHBmetKLB/FYnd6VK5cfauLxUgO5DwH/ShPwYfO+XY37wKkB0t2HpYkBAP4Z6kkvHsRj9XoGcI8zY/2zwL/yun9nZ3ZO2z5waoB092Epy/JW4E8varHFg3i0p7c4LMeM+b3A/2g9Mz5vuHz50sM07QOnBkhWTzoeIQYA+Gesx3ng6vRuMKD7nMWxwsD/H+sVxfRlmvaBUwMkqycdjzoDAPwz1+M8cJ16169f74zH4881MXgT8J/6bYP/1iyK59uKh/ZMjPb7VzoeVQYA+CvQ4zxw9XpnTByeZeLxW/QNmLqiwF9vKx7aH8Nov3+l43GcAUgB/sG7/4BDvM8giUc8evP5bGc6vfBDJi5/rX3rYFWToGXGQ/tjGO33r3Q8Fm3EExw/1/o/uEnQEDjE+QySeMSnd+nS3qMNAF9sPgm/XnG74N9uIx7aazDowyIbj8MGIBH4d4MMgHee8Ag4xPkMknjErVcUxdOMGXhZ6LHDOcFre3t7a9Xx0F6ASR8W2Xj4BiAR+LvzfqoNgH3xwH76H7GYx/kMknikoWeLBq8YI/CfTCz/Wskn1+9ddTy0F2DSh0U2Hs4AJAL/nj3td62y9b99cd9++h96ZwuzmEf2DJJ4pKd37ty5oTECX2ji9+qc4WUMzwP7+/vdVcZD++4L+rDIxmNhABIZv769DgxAnVPY8AzAkMU8zmeQxCNtPWMEnlQU039nvt+XI7wWzZNWOX7at17Sh0U8HrclMH4Dy3NnALp1zwj6ngHYZDGP9xkk8chDb3HuwGxWfp4B5q+auH48F3iZ3+c7Vjl+2rde0odFNh7mnt2KfPwcw50BWKtK/XetQ3AGYMBiHvczSOKRZVrzsQac/2Y8Hr8ng4OCXrfK8dPed4E+LLLxmM/L7YjHz2XvnQHoVcG/Y93Buve8gMU88meQxCNfvXPnzq0bI/D55vqDVOFlDMDHxuPtfq77wKkB0t2HxTMAMY7fyDMA/bqiP98A9IK7BClfzDkPHL0W9M6YWF80RuDnUoRXUXzyqOAs94FTA6S7D4s1ALGOnzMAg0qe2zd1vD2CwD+RZ5DEQ5eeMQHnzfVTKcHLGIAvzHUfODVAuvuwlGWxHfH4jYJq+DwD0AX+aT2DJB5qM0+FMQKvSQFeRVF8Y677wKkB0t2HZbGLJ+LxC9u95xkA4J/YM0jioVfv8uWLDynL8ovMXHlfzPAyf/++XPeBUwOkuw/LeDw+m/z6clLws5jLP4MkHujt7e2cNZ9EXh0xvF5JfNFbhZ60GWtqADgiODM9zgOPV8/cnFMDxqvmj2dy/33Pnj3bM7/vL0X6yfUXWF/QW4WedCamiQEA/hnqcR54vHpmfK65vejmeo75Tzdk/vveGHroUMtp0l9nfUFvFXrSj2G2t7dvA/70ouY88Aj1nAHw3PofGkD+08X++lzns/n9viS2Z9bm3/QbrC/orUJPugYjxAAA/4z1OA88Xr3DBsC73mWg9HXm5n14buNnTM4tERas/QrrC3qr0IvgyOvbgD+9qDkPPEK9CgPgro+Y6yeKYvppi4r6XJoGGRPwociq1X+G9QW9HPuwVBkA4K8jzcx54JHq1RmAQ7F4c1EUXz2blQ9PffyMAfhwZFvffpj1Bb0c+7CYNeNJqcI/ePcfkzXeXtTEozI9eO0E8fjo4hOruT5zUVmf2vgtHmvEtu/dPxGQ9QW9nPqwHGUAEhg/1/o/uEnQkMkaZy9q4tHcADSIxwcNvH7Q/P+79vf3uymM31G/s3Sa1IzhlwMv9HLsw3LYACQC/26QAfDOEx4xWY9dcDkPXAEMx+PxAwZkP2SuZ8/n841Ix2/x/P+3Y+t4txgz4IVejn1YfAOQCPzdeT/VBsC+eGA//Y+YrM0NAOeBizcJubaiI27/xkDt5837v3xnZ357RAcFvSjGdrdHFUoBL/SWoSfdh8UZgETg37On/a5Vtv63L+7bT/9D72xhJmugAeA88CiahFxrIx4GvH8ynV74fmMMnr94Bi/xyd/8G/6l+fl/F2Gv+7++fv16B3ihl2MfFvO+Jycyfn17HRiAOqew4RmAIZM13ABwHng0TUKuCcHwLfZxwb8w/298uPHQsn7fBViN/rPMz3t1rAfdmDH4HeCFXq59WIqieGoC4zewPHcGoFv3jKDvGYBNJmu4AeA88KiahFyPAYbmk/nHzPc3me+vMED8BnN9vvnzzmw2e+yVK5dvCvx9zxiNhy3eZ76/xGj8mPn+3thPuTP/zm8FXuitSk+6D8t8PrsQ+fg5hjsDsFaV+u9ah+AMwIDJGm4AOA88Lj3jzr8ggSNf/95A8v3m+5+Z728y1++b//caA/rfNdfrzd/fbPv7fyTFI27Ne/aBF3qr0pO+f3d25tOIx89l750B6FXBv2Pdwbr3vIDJGmgAOA88Pr2yLF6Y+nnvKesZA/P+xfZJ4IXeqvSk7w/PAMQ4fiPPAPTriv58A9AL7hJEmll08SUex+v5BgBYt6+36KEAvNBbpZ70/TGfz4qIx88ZgEElz+2bOt4eQeAfqCe9+BKP4/WcAQDWMnrGAFwGXuitUk/6/pjPy2nE4zcKquHzDEAX+DfTk158icfxeosaAGAtBv83X7588Ubghd4q9aTvD3Odi3j8wnbveQYA+DfUk158iUdlk5DrwFpGryzLLwFe6K1aL4L74ynJx+Ok4GeyyveiJh6VTUKuAWsRvbdfurT7cOCF3qr1Irg/npJTPJhcDfWkF1/iUdkk5Bqwbl+vKKZfzPxDrw096ftjPB4/FfjTi1ps8SUelU1CrgHrdvXM99ddurRzE/MPvTb0pO+PUAMA/PNNM4suvsSjsknINWDdnt5kMvnYfD7bYf6h15ae9P0RYgCAf95pZtHFl3hUNgm5Bqxb1ft65h96bepJ3x91BgD4559mFl18iUdlk5BrwLodvQsXJr9mU//MP/Ra05O+P6oMAPDXkWYWXXyJR2WTkGvAug34X/jT+bx8HPMPvbb1pO+P7e3tc6nCP3j3H5M13l7UxKMyPXgNWK9WbzKZvHdnZ77F/ENPQk/6/jjKACQwfq71f3CToCGTNc5e1MSjuQEA/kuD//tns3KX+YeelJ70/XHYACQC/26QAfDOEx4xWY8vQpFczIlHMwMA/JcG//uAP3rSetL3h28AEoG/O++n2gDYFw/sp/8Rk7W5AWhjMSce4QYA+C/tmf9b5/PydtYD9KT1pO8PZwASgX/Pnva7Vtn63764bz/9D72zhZmsgQagrcWceIQZAOC/LL0Lr7p8+dKnsh6gF4Oe9P1RFMXTEhm/vr0ODECdU9jwDMCQyRpuANpczInH8V+Lm3MymfwB8F9Kk58Pm+9fefnyxYewDzwePfqwyMajLMvzCYzfwPLcGYBu3TOCvmcANoF/uAFoe/EgHvV68/nszqKY3mMg9iHgfyL4/25ZFhP2gcenRx8W2Xjs7MzLyMfPMdwZgLWq1H/XOgRnAAbAP9wASCwexCNc79KlvUcbmL3YjNtrgX/9Zcbqz80nnC+yn/rZBx6hHn1YZONhDMA84vFz2XtnAHpV8O9Yd7DuPS8A/oEGQGrxIB4n09ve3r7NAO4bxuPxW4H/P+pu9m7z/q99xjMufwr7wOPW074+S8fDMwAxjt/IMwD9uqI/3wD0grsEKYeN9OJBPE6td8YYgfNmLL/JfH+jZvgb8P8P8/1FBvwPZx94Gnra71/peNjDr2IdP2cABpU8t2/qeHsEgX8izyCJx3L1zHg/xozri40ZeJUB4l8pgP8HzfUD5nfd2dq6vcM+8LT0tN+/0vEwBmAW8fiNgmr4PAPQBf5pPYMkHqvTu3z50s3mBn+micO3mOs3jSn4vznAZpHiN7/LD5rr2WfPnu2lHF/tBZ3a71/peBRFcUfE4xe2e88zAMA/sWeQxKM9vec+99lri8cF5nqRub7PgPT15vpQ7LBZAN98/xnzb/4K8+fFgnUml/hq382h/f6Vjof5fnvy699JwQ8c5J9BEg9ZvevXr3cWBYUmFp9prn9trh8216sNaN9uvn+8ZTgs0vlvMNc95nqp+Tc8Z2tr69E5x0P7bg7t9690PJoaAI4IzkxPevEgHvHq3Xnn/vre3s5TZrPyGeb6vKIovqwopoudBy8zsfsP5rp/WfPFfLr/CY3x0L6VU/v9Jh2PRUYQ+NOLWmzxIB7p6hkj8HtLnC/3aIyH9j4O2u836XiEGgDgn6me9OJBPNLVa2IAAubLPRrjob2Jk/b7TToeIQYA+PMMcmWLB/FIVy/UAATOl3s0xkN7Eyft95t0POoMAPDnGeRKFw/ika5eiAFoMF/u0RgP7R0ctd9v0vGoMgDAn2eQK188iEe6enUGoOF8uUdjPLS3b9Z+v0nHw26rTRL+wbv/WMzjfQZJPNLVqzIAJ5gv92iMh/azG7TfbxE01bojwfFzrf+DmwQNWczjfAZJPNLVO84AnHC+3KMxHtoPbqIPi2w8DhuARODfDTIA3nnCIxbzOJ9BEo909Y4yAKeYL/dojIf2I5vpwyIbD98AJAJ/d95PtQGwLx7YT/8jFvM4n0ESj3T1DhuAU86XezTGQzP8qQGS78PiDEAi8O/Z037XKlv/2xf37af/oXe2MIt5ZM8giUe6er4BWMJ8uUdjPDTDnxog+T4s29vbW4mMX99eBwagzilseAZgyGIe5zNI4pGunjMAS5ov92iMh2b4UwMk34fF3MPjBMZvYHnuDEC37hlB3zMAmyzm8T6DJB7p6i0MwBLnyz3sA9cFf2qA5PuwFMV0N/Lxcwx3BmCtKvXftQ7BGYABi3nczyCJR7p6k8nktUucL69gH7gu+FMDJN+HxRiAvYjHz2XvnQHoVcG/Y93Buve8gMU88meQxCNdPWMAXrfE+fJK9oHrgj81QPJ9WDwDEOP4jTwD0K8r+vMNQC+4S5DyxZzzwNE7qZ5vAJbwSeSV7APXBX9qgOT7sOzszC9GPH7OAAwqeW7f1PH2CAL/RJ5BEo909ZwBWNInkVeyD1wX/KkBku/DMp/P9yIev1FQDZ9nALrAP61nkMQjXb1FDcCy5os1AOwDVwR/aoDk+7CUZTGJePzCdu95BgD4J/YMknikqzebzR47Ho/PNr2McXiSWXi2Z7Ny7K69vZ2z7APXBX9qgOT7sBRFsZ38/XZS8LOYyz+DJB7osQ9cJ/ypAZLvw9LUAHBEMM8gOQ8cPfSWpKcZ/tQAyfdhMX8fA396UXMeOHroKdwHTg2Q7j4soQYA+PMMkvPA0UNvyXqa4U8NkHwflhADAPx5Bsl54Oihhx56mfVhqTMAwJ9nkJwHjh566KGXYR+WKgMA/HkGyXng6KGHHnqZ9mGZmK9U4R+8+4/JGu8zSOKBHnro0YdFpgbjKAOQwPi51v/BTYKGTNY4e1ETD/TQQ48+LDIFnYcNQCLw7wYZAO884RGT9egvzgNHDz300JPRk97N4RuARODvzvupNgD2xQP76X/EZG1uADgPHD300EMv3z4szgAkAv+ePe13rbL1v31x3376H3pnCzNZAw0A54Gjhx566OXdh8Xw/0Ii49e314EBqHMKG54BGDJZww0A54Gjhx566Kk4C6JIYPwGlufOAHTrnhH0PQOwyWQNNwCcB44eeuihp6MPS1kWT498/BzDnQFYq0r9d61DcAZgwGQNNwCcB44eeuihp6cPizEA+xGPn8veOwPQq4J/x7qDde95AZM10ABwHjh66KGHnq4+LJ4BiHH8Rp4B6NcV/fkGoBfcJUj5ZOU8cPTQQw89nX1YjAG4HPH4OQMwqOS5fVPH2yMI/AP1OA8cPfTQQ09nH5aimO5HPH6joBo+zwB0gX8zPc4DRw899NDT2YdlMpmUEY9f2O49zwAA/4Z6nAeOHnrooaezD8t4PJ4mH4+Tgp/JKt+Lmnighx56WvWk+7A0NQAcEZyZnnQvauKBHnroadWT7sNi/l4Af3pRi7WjJB7ooYeeVj3pPiyhBgD4Z6on3YuaeKCHHnpa9aT7sIQYAOCfsZ50L2rigR566GnVk+7DUmcAgH/metK9qIkHeuihp1VPug9LlQEA/gr0pHtREw/00EOPPixiu7HKVOEfvPuPyRpvL2rigR566NGHRWw3Vpng+LnW/8FNgoZM1jh7URMP9NBDjz4sYruxygTh3w0yAN55wiMm69Ff0r2oiQd66KFHHxax3VhlYvB35/1UGwD74oH99D9isjY3AG0UqBAP9NBDjz4sYruxyoTg37On/a5Vtv63L+7bT/9D72xhJmugAWirOpV4oIceevRhkdmNNZlMZomMX99eBwagzilseAZgyGQNNwBtbk0hHuihhx59WMR2Y+0kMH4Dy3NnALp1zwj6ngHYZLKGG4C296USD/TQQ0+rnnQflrIsnhH5+DmGOwOwVpX671qH4AzAgMkabgAkmlIQD/TQQ0+rnnQfFmMArkQ8fi577wxArwr+HesO1r3nBUzWQAMg1ZGKeKCHHnpa9aT7sHgGIMbxG3kGoF9X9OcbgF5wlyDlk1W6F7X2eEjXYKCHHjVAevuwGANwV8Tj5wzAoJLn9k0db48g8A/Uk148tMcDOKCnWU/7+iwdD5sBiHX8RkE1fJ4B6AL/ZnrSiwc1GMABPb162tfnCOKxG/H4he3e8wwA8G+oJ714UIMBHNDTq6d9fZaOx2QymSe/np4U/BSoyPeipgYDOKCnV48aINl4NDUAHBGcmZ704kENBnBAT68eNUCy8RiPxzvAn17UYosHNRjAAT29etQAycYj1AAA/0z1pBcPajCAA3p69agBko1HiAEA/hnrSS8e1GAAB/T06lEDJBuPOgMA/DPXk148qMEADujp1aMGSDYeVQYA+CvQk148qMEADujp1aMGSDYe5jW7qcI/ePcf8I+3FzU1GMABPb161ADJxuMoA5DA+LnW/8FNgobAP85e1NRgAAf09OpRAyQbj8MGIBH4d4MMgHee8Aj4V1ehSi0e1GAAB/T06lEDJBsP3wAkAn933k+1AbAvHthP/yPg39wAtLF4UIMBHNDTq0cNkGw8nAFIBP49e9rvWmXrf/vivv30P/TOFgb+gQagrcWDGgzggJ5ePWqAxOOxl8j49e11YADqnMKGZwCGwD/cAHAeuJ4aDPTQowZIbw3QdHrhUgLjN7A8dwagW/eMoO8ZgE3gH24AOA9cVw0GeuhRA6S3Bqgsy2dGPn6O4c4ArFWl/rvWITgDMAD+4QaA88BVngeOHnrUACmtAZrNyqsRj5/L3jsD0KuCf8e6g3XveQHwDzQAnAeuswYDPfSoAdJbA+QZgBjHb+QZgH5d0Z9vAHrBXYIUw99NQM4D11uDgR561ADprQEyBuDTIx4/ZwAGlTy3b+p4ewSBf6Ae54HrrsFADz1qgPTWANkagFjHbxRUw+cZgC7wb6bHeeC6azDQQ48aIL01QNPphadHPH7DJu1+O8C/uR7ngeuuwUAPPWqAVNcAXUx+PT0p+LXDP4Ze1NRgAAf09OpRAyQej4s5rafAv6Ee54HrrsFADz1qgPTWAE0mk0vAn17UnAeutAYDPfSoAdJbAxRqAIB/pnqcB667BgM99KgB0lsDFGIAgH/GepwHrrsGAz30qAHSWwNUZwCAf+Z6nAeuuwYDPfSoAdJbA1RlAIC/Aj3OA9ddg4EeetQA6a0BGo/HT08V/sG7/4B/vL2oqcEADujp1aMGSDYeRxmABMbPtf4PbhI0BP5x9qImHuihhx41QDJm7LABSAT+3SAD4J0nPGKyVlehch44euihh56uGiDfACQCf3feT7UBsC8e2E//IyZrcwPAeeDooYceevnWAJn37CcE/5497XetsvW/fXHffvofemcLM1kDDQDngaOHHnro5V0DtDAAiYxf314HBqDOKWx4BmDIZA03AJwHjh566KGXfx+WopjemcD4DSzPnQHo1j0j6HsGYJPJGm4AOA8cPfTQQ09HH5bZrHxW5OPnGO4MwFpV6r9rHYIzAAMma7gB4Dxw9NBDDz09fViMAfiMiMfPZe+dAehVwb9j3cG697yAyRpoADgPHD300ENPVx+WsjwwADGO38gzAP26oj/fAPSCuwQpn6ycB44eeuihp7MPizUAsY6fMwCDSp7bN3W8PYLAP1CP88DRQw899HT2YSnL4u6Ix28UVMPnGYAu8G+mx3ng6KGHHno6+7BMpxeeEfH4he3e8wwA8G+ox3ng6KGHHno6+7CY63Ly8Tgp+Jms8r2oiQd66KGnVU+6D8tkMrkzp3gwuRrqcR44euihh56MnnQfliYGAPhnqMd54Oihhx56MnrSfVhCDQDwz1SP88DRQw899GT0pPuwhBgA4J+xnnQvauKBHnroadWT7sNSZwCAf+Z60r2oiQd66KGnVU+6D4sxAM8A/or1pHtREw/00EOPPiwyu7GOMwApwD949x+TNd5e1MQDPfTQow+LzG6sowxAAuPnWv8HNwkaMlnj7EVNPNBDDz36sMjsxjpsABKBfzfIAHjnCY+YrEd/SfeiJh7ooYcefVhkdmP5BiAR+LvzfqoNgH3xwH76HzFZmxuANgpUiAd66KFHHxaZ3Vjj8fhKQvDv2dN+1ypb/9sX9+2n/6F3tjCTNdAAtFWdSjzQQw89+rDI7MZaGIBExq9vrwMDUOcUNjwDMGSyhhuANremEA/00EOPPiwyu7Emk/GnJTB+A8tzZwC6dc8I+p4B2GSyhhuAtvelEg/00ENPq550Hxbz/udEPn6O4c4ArFWl/rvWITgDMGCyhhsAiaYUxAM99NDTqifdh6Uops+NePxc9t4ZgF4V/DvWHax7zwuYrIEGQKojFfFADz30tOpJ92GZzcrnRTx+I88A9OuK/nwD0AvuEqR8skr3oiYe6KGHnlY96T4s1gDEOn7OAAwqeW7f1PH2CAL/QD3pXtTEAz300NOqJ92HxRiA50Y8fqOgGj7PAHSBfzM96V7UxAM99NDTqifdh8Vcz4x4/MJ273kGAPg31JPuRU080EMPPa160n1YzPe7ko/HScHPZJXvRU080EMPPa160n1YzPVpOcWDydVQT7oXNfFADz30tOpJ92FpYgCAf4Z60r2oiQd66KGnVU+6D0uoAQD+mepJ96ImHuihh55WPek+LCEGAPhnrCfdi5p4oIceelr1pPuw1BkA4J+5nnQvauKBHnroadWT7sMymUyeCfwV60n3oiYe6KGHHn1YZHZjHWcAUoB/8O4/Jmu8vaiJB3rooUcfFpndWEcZgATGz7X+D24SNGSyxtmLmnighx569GGR2Y112AAkAv9ukAHwzhMeMVmP/pLuRa05HhP7xWIpo1eWxdPNdYnxk9Ez68HUjj99WIR2Y/kGIBH4u/N+qg2AffHAfvofcXM2NwBtFKhohr8Zkw8srhATAGyWD38z/z4YOv6M3/Lhvxj/xbWIBX1YZHZjmal/NSH49+xpv2uVrf/ti/v20//QO1uYmzPQALRVnaoc/m58KiEEbFYG/6DxZ/xWBn+3FnxQayZGug/LwgAkMn59ex0YgDqnsOEZgCE3Z7gBaHNrCvCvhhCwWTn8G5kA4rF0+Lv1QGUmRroPy4ULk2clMH4Dy3NnALp1zwj6ngHY5OYMNwBt70sF/sdDCNi0Bn8yMbLwV5uJke7DUhTTz4p8/BzDnQFYq0r9d61DcAZgwM0ZbgAkmlIA/6MhBGxahz+ZGFn4q8zESPdhKYrisyMeP5e9dwagVwX/jnUH697zAm7OQAMg1ZEK+B8NIe3V0ULwJxMjC391mRjpPixFMX1+xOM38gxAv67ozzcAveAuQdycor2ogf+x46e6OloQ/mRiZOGvKhMj3YfFGoBYx88ZgEElz+2bOt4eQeAfqCfdixr4V47fB9mnLgJ/MjGy8FeTiZHuw2Kuz454/EZBNXyeAegC/2Z60r2ogX/t+LFPXQb+ZGJk4a8iEyPdh2UyGd8d8fiF7d7zDADwb6gn3Ysa+AeNH/vUZeBPJkYW/tlnYqT7sIzH409Pfv6dFPwslvK9qIF/8PixT10G/mRiZOGfdSZGug+L+fOzcpp/3JwN9aR7UQP/RuPHPnUZ+JOJkYV/tpkY6T4sTQwA8M9QT7oXNfCnOjoR+JOJkYV/lpkY6T4soQYA+GeqJ92LGvhTHZ0Q/MnEyMI/u0yMdB+WEAMA/DPWk+5FDfypjk4M/mRiZOGfVSZGug9LnQEA/pnrSfeiBv5URycIfzIxsvDPJhMj3YfFXHcDf8V60r2ogT/V0YnCX3UmJgL4Z5GJiWD87k4V/sG7/4B/vL2ogT/V0QnDX2UmJiL4J5+JiWD87k5wPXCt/4ObBA2Bf5y9qIE/1dGJw19VJiZC+CediYlg/O5OEP7dIAPgnSc8Av7HF6FIwgv4Ux2dAfxVZGIihn+ymZgIxu/uxODvzvupNgD2xQP76X8E/JsbgDbgBfypjs4E/llnYhKAf5KZGOnxM1P1MxKCf8+e9rtW2frfvrhvP/0PvbOFgX+gAWgLXsCf6uiM4J9lJiYh+CeXiZEev4UBSGQ96NvrwADUOYUNzwAMgX+4AWhzsQT+VEdnBv/c9qmnBv+kMjHy4zd5TgLrwcDy3BmAbt0zgr5nADaBf7gBaHuxBP5UR2cI/ywyMQnDP5lMjPT4FcX0euTrgWO4MwBrVan/rnUIzgAMgH+4AZBYLIE/1dGZwj/pTEwG8E8iEyM9fsYAfE7E64HL3jsD0KuCf8e6g3XveQHwDzQAUosl8Kc6OmP4J5mJyQj+0WdipMfPGIDPjXg9GHkGoF9X9OcbgF5wlyDF8HcTUPLmBP5UR2cO/6QyMRnCP+pMjPT4WQMQ63rgDMCgkuf2TR1vjyDwD9STvjmBP9XRCuCfRCYmY/hHm4mRHj/7CCBWvo2Cavg8A9AF/s30pG9O4E91tBL4R52JUQD/KDMx8uM3eW7EfAvbvecZAODfUE/65gT+VEcrgn+UmRhF8I8uEyM9fmYZeHbyfDsp+LXDP4Ze1MBfd3W0QvhHlYlRCP+oMjHS4zcej5+TE9+Af0M96ZtT8pmcYvhHUR2tGP5RZGIUwz+KTIxdf0THr4kBAP4Z6ml9Jgf8Zaujgb9sJgb4y2Zijlp/JMYv1AAA/0z1ND6TA/6y1dHAXzYTA/xlMzGxwD/UAAD/jPW0PZMD/rKZGOAvm4kB/rKZmJjgH2IAgH/mepqeyQF/2UwM8JfNxAB/2UxMbPC3r38u8Fesp+WZHPCXzcQAf9lMDPCXzcTECP8qA5AC/IN3/wH/eHtRt/FMDvjLZmKAv2wmBvjLZmJihf9xBiABvrnW/8FNgobAP85e1Kt+Jgf8ZTMxwF82EwP8ZTMxMcP/KAOQCPy7QQbAO094BPyPXSCyfSYH/GUzMcBfNhMD/GUzMbHD/7ABSAT+7ryfagNgXzywn/5HwL+5AUj5mRzwl83EAH/ZTAzwl83EpAB/ez0vIfj37Gm/a5Wt/+2L+/bT/9A7Wxj4BxqAlJ/JAX/ZTAzwl83EAH/ZTExC8P+kAUiEb317HRiAOqew4RmAIfAPNwApP5MD/rKZGOAvm4kB/rKZmMTgv7g+MwG+DSzPnQHo1j0j6HsGYBP4hxuAlJ/JAX/ZTAzwl83EAH/ZTEyC8P+EuWdfEDnfHMOdAVirSv13rUNwBmAA/Ku/xuPxt+TwTC5F+Juxf2Bx5VAdnSL868Y/pUxMivA3v8b7m4x/zJmYFOG/GP/ZrBxHzDeXvXcGoFcF/451B+ve8wLgH5YF+PaUn8mlCv/t7e2txXXUIphSJiZV+FeNf0qZmIThPw4d/5gzManCvyime5HzbeQZgH5d0Z9vAHrBXYJoGvRJven0wnem+EwuZfi7GBxeBFPKxKQM/+PGP6VMTMrwDx3/mDMxwH+lfHMGYFDJc/umjrdHEPifQM9Miu9O7Zlc6vA/vAimlolJHf51EIo9E5M6/JuagNgyMcB/pXwbBdXweQagC/xPp2cmyHdSMNQu/F08zI25u7hBGb924Z94JiZ5+CeeiQH+q9MbNmn32wH+y9EzN+F3cTO1C38Xj8UN6kwA49ce/BPPxCQP/8QzMcBfUu+k4Af+lacEfi83U7vw9x7F7CZYHZ08/MnEyMKfTAzw54jgePTOmInzH7mZ2oW/i0ei1dHJw59MjCz8ycQAf+Afj94ZM4l+gJupXfgnXh2dPPzJxMjCn0wM8Af+8egtMgE/xOLWLvwTr45OHv5kYmThTyYG+AP/ePRuMJPqR1nc2oU/1dGy8CcTIwt/MjHAH/jHo3eDmVj/Gdi0C3+qo2XhTyZGFv5kYoA/8I9E7+LF+UMuXJj8F2DTLvypjpaFP5kYWfiTiQH+p9r9B/yXp3f16pWbp9MLPw3824U/1dGy8CcTIwt/MjHA3we/7fsT3CRoCPyXp3f16l03mUn3U8C/XfhTHS0LfzIxsvAnEwP8Lfy7QQbAO094BPyXq7e/v981k+9ngH+78Kc6Whb+ZGJk4U8mRj383Xk/1QbAvnhgP/2PgP/y9cwEXDM34X8F/jLx0F4dLQV/MjGy8CcToxb+PXva71pl63/74r799D/0zhYG/kvWW5gAc/088JeJh9bqaGn4a8/ESMNfeyZGGfxvsDzv+wagzilseAZgCKxXp3fu3Ll1cxP+IvCXiYe26uhY4K81ExML/LVmYhTCf2B57gxAt+4ZQd8zAJvAevV6Z8+e7ZnJ+SvAXyYeWqqjY4O/tkxMbPDXlolRCH/HcGcA1qpS/13rEJwBGADr9vT29/f7Zm34NeAvE4/cq6Njhb+WTEys8NeSiVEIf5e9dwagVwX/jnUH697zAmDdst58Pt8wk/W3gL9MPHKtjo4d/rlnYmKHf+6ZGIXwd3V7zgD064r+fAPQC+4SBPyXrre/f+kRZsK+BvhTHa0J/rlmYlKBf66ZGKXwv9EzAINKnts3dbw9gsBfWO/pT997lJn4vw/8qY7WBP/cMjGpwT+3TIxi+DutzdCGPx1bAwD8I9Hb3Z0/0tyEvwf8ZeKRenV0qvDPJROTKvxzycQoh/+Nwbv3PAMA/CPTO3fu3NBM5N8H/jLxSLU6OnX4p56JSR3+qWdigH8DvZOCH1i3o7e7u/tgM6lfC/xl9FKrjs4F/qlmYnKBf6qZGODPEcHZ6ZVlOTI34euBv4xeKtXRucE/tUxMbvBPLRMD/IF/tnpmgt9orjcAf6qjNcE/lUxMrvBPJRMD/IF/9nrnz5+/yawx/w34Ux2tCf6xZ2Jyh3/smRjgD/zV6M3n85vNhH8j8Kc6WhP8Y83EaIF/rJkY4A/81ekVRfFQM/nfBPx1V0drg39smRht8I8tEwP8gb9avd3d+a3mBngL8JfRk66O1gr/WDIxWuEfSyYG+J8O/sG7/4B1vHqzWXnW3Eh/BPxl9KSqo7XDXzoTox3+0pkY4H8qPdf6P7hJ0BBYx6t38eLuE81N+FbgL6PXdnU08JfNxAB/2UwM8D81/LtBBsA7T3jEYMetZ26KR5nrj4G/jF5b1dHAXzYTA/xlMzHA/9Twd+f9VBsA++KB/fQ/YrDj1zM34C3mJvkT4C+jt+rqaOAvm4kB/rKZGOB/avj37Gm/a5Wt/+2L+/bT/9A7W5jBjlxva2vr0eYm/F/AX0ZvVdXRwF82EwP8ZTMxwP/Uen17HRiAOqew4RmAIYOdjp652R5jbpj/DfzzqI4G/rKZGOAvm4kB/qfWG1ieOwPQrXtG0PcMwCaDnZ6eWa8eZ26etwH/tKujgb9sJgb4y2ZigP+p9RzDnQFYq0r9d61DcAZgwGCnq7e1tfV4s3a9HfinWR0N/GUzMcBfNhMD/E+t57L3zgD0quDfse5g3XtewGAnrmcWsieYm/AdwD+t6mjgL5uJAf6ymRjgvxS9kWcA+nVFf74B6AV3CWKwo9ebzcots6i9G/jL6DWtjgb+spkY4C+biQH+S9NzBmBQyXP7po63RxD4Z6ZXloW5ryb3AX8ZvdDqaOAvm4kB/rKZGOC/VL1RUA2fZwC6wD9fvfl8dsHchPcBfxm9uupo4C+biQH+spkY4L90vbDde54BAP6Z65kb8Knmeg/wl9E7rjoa+MtmYoC/bCYG+AvqnRT8DHaaekVRPM3cdPcDfxm9w9XRwF82EwP8ZTMxwJ8jgtFrWc/cdOfNTfg+4C+j5xZB4C+biQH+spkY4A/80RN8Jgf85fSqxp/xay0TA/wFMzHAP134+2cEjJbQLhg99NBDDz300GtR7yQ/3D8jYLiEdsHooYceeuihh16Leif54QOvv/DmEtoFo4ceeuihhx56Leo1/eFnvDMCNrzDBc6ghx566KGHHnpp6DnNJj+8550R0D9lu2D00EMPPfTQQ09GrxPaJOiMd0aAu9ZO+cPRQw899NBDD7329bpBBsB78Zp3dZfww9FDDz300EMPPRm9IAPQOXw96BRf6KGHHnrooYdeFHpn6tzCDd515pQ/HD300EMPPfTQi0Tv/wGA2mlkXJYBNgAAAABJRU5ErkJggg==
                      file_name: receipt.png
                    category: '{{url}}/categories/285'
                    contact: '{{url}}/contacts/1'
                    dated_on: '2015-10-17'
                    due_on: '2015-11-17'
                    reference: Bill ref 01
                    sale_tax_rate: '20'
                    total_value: '300'
      responses:
        '200':
          description: ''
  /v2/bills/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Bills
      summary: Show Bill
      operationId: Bills_getBill
      description: Show Bill
      responses:
        '200':
          description: ''
    put:
      tags:
        - Bills
      summary: Update Bill
      operationId: Bills_updateBill
      description: Update Bill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillsUpdateBillRequest'
            examples:
              Update Bill:
                value:
                  bill:
                    category: '{{url}}/categories/285'
                    contact: '{{url}}/contacts/1'
                    dated_on: '2015-10-17'
                    due_on: '2015-11-17'
                    reference: Bill ref 01
                    sale_tax_rate: '20'
                    total_value: '300'
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Bills
      summary: Delete Bill
      operationId: Bills_deleteBill
      description: Delete Bill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillsDeleteBillRequest'
            examples:
              Delete Bill:
                value:
                  bill:
                    category: https://fac.int5.fre.ag/categories/285
                    contact: https://fac.int5.fre.ag/contacts/1
                    dated_on: '2015-10-17'
                    due_on: '2015-11-17'
                    reference: Bill ref 01
                    sale_tax_rate: '20'
                    total_value: '300'
      responses:
        '200':
          description: ''
  /v2/bill_items:
    get:
      tags:
        - Bill Items
      summary: List Bill Items
      operationId: BillItems_list
      description: List Bill Items
      parameters:
        - name: bill
          in: query
          schema:
            type: string
            example: '{{url}}/v2/bills/6'
      responses:
        '200':
          description: ''
  /v2/bill_items/{bill_item_id}:
    parameters:
      - name: bill_item_id
        in: path
        required: true
        schema:
          type: string
          example: '2'
    get:
      tags:
        - Bill Items
      summary: Show Bill Item
      operationId: BillItems_getItem
      description: Show Bill Item
      responses:
        '200':
          description: ''
  /v2/capital_assets:
    get:
      tags:
        - Capital Assets
      summary: List all capital assets
      operationId: CapitalAssets_getAllAssets
      description: List all capital assets
      parameters:
        - description: >-
            Retrieves information about events in the capital asset life cycle
            (such as purchase, depreciation, and disposal).
          name: include_history
          in: query
          schema:
            type: string
            example: 'true'
      responses:
        '200':
          description: ''
  /v2/capital_asset_types:
    get:
      tags:
        - Capital Asset Types
      summary: List all capital asset types
      operationId: CapitalAssetTypes_listAll
      description: List all capital asset types
      responses:
        '200':
          description: ''
    post:
      tags:
        - Capital Asset Types
      summary: Create capital asset type
      operationId: CapitalAssetTypes_createNewType
      description: Create capital asset type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapitalAssetTypesCreateNewTypeRequest'
            examples:
              Create capital asset type:
                value:
                  capital_asset_type:
                    name: Spaceships
      responses:
        '200':
          description: ''
  /v2/capital_asset_types/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Capital Asset Types
      summary: Get a single capital asset type
      operationId: CapitalAssetTypes_getSingle
      description: Get a single capital asset type
      responses:
        '200':
          description: ''
    put:
      tags:
        - Capital Asset Types
      summary: Update capital asset type
      operationId: CapitalAssetTypes_updateType
      description: Update capital asset type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapitalAssetTypesUpdateTypeRequest'
            examples:
              Update capital asset type:
                value:
                  capital_asset_type:
                    name: Spaceships
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Capital Asset Types
      summary: Delete capital asset type
      operationId: CapitalAssetTypes_deleteType
      description: Delete capital asset type
      responses:
        '200':
          description: ''
  /v2/cashflow:
    get:
      tags:
        - Cashflow
      summary: Cashflow summary for a given date range
      operationId: Cashflow_summaryForGivenDateRange
      description: Cashflow summary for a given date range
      parameters:
        - name: from_date
          in: query
          schema:
            type: string
            example: 01-07-2019
        - name: to_date
          in: query
          schema:
            type: string
            example: 30-09-2019
      responses:
        '200':
          description: ''
  /v2/categories:
    get:
      tags:
        - Categories
      summary: List Categories
      operationId: Categories_list
      description: List Categories
      responses:
        '200':
          description: ''
    post:
      tags:
        - Categories
      summary: Create category
      operationId: Categories_createCategory
      description: >-
        Documentation:
        https://dev.freeagent.com/docs/categories#create-a-category
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesCreateCategoryRequest'
            examples:
              Create category:
                value:
                  category:
                    description: Custom Admin Expenses Category
                    allowable_for_tax: true
                    auto_sales_tax_rate: Standard rate
                    category_group: admin_expenses
                    nominal_code: '212'
                    tax_reporting_name: computer_software_costs
      responses:
        '200':
          description: ''
  /v2/categories/{nominal_code}:
    parameters:
      - name: nominal_code
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Categories
      summary: Get a single category
      operationId: Categories_getSingleCategory
      description: Get a single category
      responses:
        '200':
          description: ''
    put:
      tags:
        - Categories
      summary: Update category
      operationId: Categories_updateCategory
      description: Update category
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesUpdateCategoryRequest'
            examples:
              Update category:
                value:
                  category:
                    description: Updated Category Name
                    allowable_for_tax: true
                    auto_sales_tax_rate: Standard rate
                    nominal_code: '213'
                    tax_reporting_name: business_entertaining
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Categories
      summary: Delete category
      operationId: Categories_removeCategory
      description: Delete category
      responses:
        '200':
          description: ''
  /v2/cis_bands:
    get:
      tags:
        - CIS Bands
      summary: List all CIS bands for a company
      operationId: CisBands_listAllForCompany
      description: List all CIS bands for a company
      responses:
        '200':
          description: ''
  /v2/company:
    get:
      tags:
        - Company
      summary: Company Details
      operationId: Company_detailsGet
      description: Company Details
      responses:
        '200':
          description: ''
  /v2/company/business_categories:
    get:
      tags:
        - Company
      summary: List business categories
      operationId: Company_listBusinessCategories
      description: List business categories
      responses:
        '200':
          description: ''
  /v2/company/tax_timeline:
    get:
      tags:
        - Company
      summary: Show Tax Timeline
      operationId: Company_showTaxTimeline
      description: Show Tax Timeline
      responses:
        '200':
          description: ''
  /v2/contacts:
    get:
      tags:
        - Contacts
      summary: List Contacts
      operationId: Contacts_list
      description: List Contacts
      responses:
        '200':
          description: ''
    post:
      tags:
        - Contacts
      summary: Create Contact
      operationId: Contacts_addNewContact
      description: Create Contact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactsAddNewContactRequest'
            examples:
              Create Contact:
                value:
                  contact:
                    email: fred@testingtonandsons.example.com
                    first_name: Frederick
                    last_name: Testington
      responses:
        '200':
          description: ''
  /v2/contacts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Contacts
      summary: Show Contact
      operationId: Contacts_getById
      description: Show Contact
      responses:
        '200':
          description: ''
    put:
      tags:
        - Contacts
      summary: Update Contact
      operationId: Contacts_updateContactById
      description: Update Contact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactsUpdateContactByIdRequest'
            examples:
              Update Contact:
                value:
                  contact:
                    country: France
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Contacts
      summary: Delete Contact
      operationId: Contacts_deleteContact
      description: Delete Contact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactsDeleteContactRequest'
            examples:
              Delete Contact:
                value:
                  contact:
                    email: fred@testingtonandsons.example.com
                    first_name: Frederick
                    last_name: Testington
      responses:
        '200':
          description: ''
  /v2/credit_notes/{id}/transitions/mark_as_sent:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: '46'
    put:
      tags:
        - Credit Notes
        - Credit Note Transitions
      summary: Mark Credit Note as sent
      operationId: CreditNotes_markAsSent
      description: Mark Credit Note as sent
      responses:
        '200':
          description: ''
  /v2/credit_notes/{id}/transitions/mark_as_cancelled:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: '46'
    put:
      tags:
        - Credit Notes
        - Credit Note Transitions
      summary: Mark Credit Note as cancelled
      operationId: CreditNotes_markAsCancelled
      description: Mark Credit Note as cancelled
      responses:
        '200':
          description: ''
  /v2/credit_notes/{id}/transitions/mark_as_draft:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: '46'
    put:
      tags:
        - Credit Notes
        - Credit Note Transitions
      summary: Mark Credit Notes as draft
      operationId: CreditNotes_markAsDraft
      description: Mark Credit Notes as draft
      responses:
        '200':
          description: ''
  /v2/credit_notes:
    get:
      tags:
        - Credit Notes
      summary: List Credit Notes
      operationId: CreditNotes_list
      description: List Credit Notes
      parameters:
        - name: contact
          in: query
          schema:
            type: string
            example: '{{url}}/v2/contacts/:id'
        - name: project
          in: query
          schema:
            type: string
            example: '{{url}}/v2/projects/:id'
        - name: currency
          in: query
          schema:
            type: string
            example: USD
        - name: view
          in: query
          schema:
            type: string
            example: all
        - name: updated_since
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: sort
          in: query
          schema:
            type: string
            example: updated_at
        - name: nested_credit_note_items
          in: query
          schema:
            type: string
            example: 'true'
      responses:
        '200':
          description: ''
    post:
      tags:
        - Credit Notes
      summary: Create Credit Note
      operationId: CreditNotes_createNewCreditNote
      description: Create Credit Note
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNotesCreateNewCreditNoteRequest'
            examples:
              Create Credit Note:
                value:
                  credit_note:
                    always_show_bic_and_iban: false
                    contact: '{{url}}/v2/contacts/43'
                    credit_note_items:
                      - description: Credit Note Item 1
                        price: -100
                        quantity: 3
                    currency: GBP
                    dated_on: '2020-02-01'
                    due_on: '2019-09-18'
                    omit_header: false
                    payment_terms_in_days: 30
      responses:
        '200':
          description: ''
  /v2/credit_notes/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: '44'
    get:
      tags:
        - Credit Notes
      summary: Show Credit Note
      operationId: CreditNotes_showCreditNote
      description: Show Credit Note
      responses:
        '200':
          description: ''
    put:
      tags:
        - Credit Notes
      summary: Update Credit Note
      operationId: CreditNotes_updateCreditNote
      description: Update Credit Note
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNotesUpdateCreditNoteRequest'
            examples:
              Update Credit Note:
                value:
                  credit_note:
                    comments: An example of some additional text.
                    credit_note_items:
                      - description: New invoice item
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Credit Notes
      summary: Delete Credit Notes
      operationId: CreditNotes_deleteCreditNote
      description: Delete Credit Notes
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreditNotesDeleteCreditNoteRequest'
      responses:
        '200':
          description: ''
  /v2/credit_notes/{id}/pdf:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Credit Notes
      summary: Show Credit Note as PDF
      operationId: CreditNotes_showPdf
      description: Show Credit Note as PDF
      responses:
        '200':
          description: ''
  /v2/credit_notes/{id}/send_email:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: '46'
    post:
      tags:
        - Credit Notes
      summary: Send Credit Note Email
      operationId: CreditNotes_sendEmail
      description: Send Credit Note Email
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNotesSendEmailRequest'
            examples:
              Send Credit Note Email:
                value:
                  credit_note:
                    email:
                      body: Bison bison bison bison bison Bison bison
                      from: Our Company <us@company.com>
                      subject: Testing
                      to: Test Contact <test_contact@example.com>
      responses:
        '200':
          description: ''
  /v2/credit_note_reconciliations:
    get:
      tags:
        - Credit Note Reconciliations
      summary: List Credit Note Reconciliations
      operationId: CreditNoteReconciliations_list
      description: List Credit Note Reconciliations
      parameters:
        - name: updated_since
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: from_date
          in: query
          schema:
            type: string
            example: '2020-07-01'
        - name: to_date
          in: query
          schema:
            type: string
            example: '2020-08-24'
      responses:
        '200':
          description: ''
    post:
      tags:
        - Credit Note Reconciliations
      summary: Create Credit Note Reconciliation
      operationId: CreditNoteReconciliations_createReconciliation
      description: Create Credit Note Reconciliation
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CreditNoteReconciliationsCreateReconciliationRequest
            examples:
              Create Credit Note Reconciliation:
                value:
                  credit_note_reconciliation:
                    credit_note: '{{url}}/v2/credit_notes/2'
                    currency: GBP
                    dated_on: '2020-08-10'
                    exchange_rate: '1.0'
                    gross_value: '100.0'
                    invoice: '{{url}}/v2/invoices/1'
      responses:
        '200':
          description: ''
  /v2/credit_note_reconciliations/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: '1'
    get:
      tags:
        - Credit Note Reconciliations
      summary: Show Credit Note Reconciliation
      operationId: CreditNoteReconciliations_showReconciliation
      description: Show Credit Note Reconciliation
      responses:
        '200':
          description: ''
    put:
      tags:
        - Credit Note Reconciliations
      summary: Update Credit Note Reconciliation
      operationId: CreditNoteReconciliations_updateReconciliation
      description: Update Credit Note Reconciliation
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CreditNoteReconciliationsUpdateReconciliationRequest
            examples:
              Update Credit Note Reconciliation:
                value:
                  credit_note_reconciliation:
                    gross_value: '120.0'
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Credit Note Reconciliations
      summary: Delete Credit Note Reconciliation
      operationId: CreditNoteReconciliations_deleteReconciliation
      description: Delete Credit Note Reconciliation
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/CreditNoteReconciliationsDeleteReconciliationRequest
      responses:
        '200':
          description: ''
  /v2/email_addresses:
    get:
      tags:
        - Email Addresses
      summary: Get a list of verified sender email addresses
      operationId: EmailAddresses_listVerified
      description: Get a list of verified sender email addresses
      responses:
        '200':
          description: ''
  /v2/estimates/{id}/transitions/mark_as_sent:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    put:
      tags:
        - Estimates
        - Estimate Transitions
      summary: Mark estimate as sent
      operationId: Estimates_markAsSent
      description: Mark estimate as sent
      responses:
        '200':
          description: ''
  /v2/estimates/{id}/transitions/mark_as_draft:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    put:
      tags:
        - Estimates
        - Estimate Transitions
      summary: Mark estimate as draft
      operationId: Estimates_markAsDraft
      description: Mark estimate as draft
      responses:
        '200':
          description: ''
  /v2/estimates/{id}/transitions/mark_as_approved:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    put:
      tags:
        - Estimates
        - Estimate Transitions
      summary: Mark estimate as approved
      operationId: Estimates_markAsApproved
      description: Mark estimate as approved
      responses:
        '200':
          description: ''
  /v2/estimates/{id}/transitions/mark_as_rejected:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    put:
      tags:
        - Estimates
        - Estimate Transitions
      summary: Mark estimate as rejected
      operationId: Estimates_markAsRejected
      description: Mark estimate as rejected
      responses:
        '200':
          description: ''
  /v2/estimate_items:
    post:
      tags:
        - Estimates
        - Estimates Items
      summary: Create Estimate Item
      operationId: Estimates_createItem
      description: Create Estimate Item
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimatesCreateItemRequest'
            examples:
              Create Estimate Item:
                value:
                  estimate: '{{url}}/v2/estimates/:id'
                  estimate_item:
                    description: sada
                    category: https://api.freeagent.com/v2/categories/001
                    created_at: '2011-09-15T10:30:22Z'
                    item_type: Hours
                    position: '1'
                    price: '12.2'
                    quantity: '1.03333333'
                    sales_tax_value: '20.0'
                    updated_at: '2011-09-15T10:30:22Z'
      responses:
        '200':
          description: ''
  /v2/estimate_items/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    put:
      tags:
        - Estimates
        - Estimates Items
      summary: Update Estimate Item
      operationId: Estimates_updateItem
      description: Update Estimate Item
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimatesUpdateItemRequest'
            examples:
              Update Estimate Item:
                value:
                  estimate_item:
                    description: sada
                    category: https://api.freeagent.com/v2/categories/001
                    created_at: '2011-09-15T10:30:22Z'
                    item_type: Hours
                    position: '1'
                    price: '12.2'
                    quantity: '1.03333333'
                    sales_tax_value: '20.0'
                    updated_at: '2011-09-15T10:30:22Z'
                    url: https://api.freeagent.com/v2/estimate_items/2
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Estimates
        - Estimates Items
      summary: Delete Estimate Item
      operationId: Estimates_deleteItem
      description: Delete Estimate Item
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimatesDeleteItemRequest'
            examples:
              Delete Estimate Item:
                value:
                  estimate:
                    contact: https://api.freeagent.com/v2/contacts/3
                    currency: GBP
                    dated_on: '2015-08-18'
                    due_on: '2015-09-18'
                    ec_status: UK/Non-EC
                    estimate_type: Estimate
                    notes: This is a note
                    status: Draft
      responses:
        '200':
          description: ''
  /v2/estimates:
    get:
      tags:
        - Estimates
      summary: List Estimates
      operationId: Estimates_list
      description: List Estimates
      parameters:
        - name: view
          in: query
          schema:
            type: string
            example: all
        - name: from_date
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: to_date
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: updated_since
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: nested_estimate_items
          in: query
          schema:
            type: string
            example: 'true'
        - name: contact
          in: query
          schema:
            type: string
            example: '{{url}}/v2/contacts/2'
        - name: project
          in: query
          schema:
            type: string
            example: '{{url}}/v2/projects/2'
        - name: invoice
          in: query
          schema:
            type: string
            example: '{{url}}/v2/invoices/2'
      responses:
        '200':
          description: ''
    post:
      tags:
        - Estimates
      summary: Create Estimate
      operationId: Estimates_createNew
      description: Create Estimate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimatesCreateNewRequest'
            examples:
              Create Estimate:
                value:
                  estimate:
                    contact: '{{url}}contacts/:id'
                    currency: GBP
                    dated_on: '2015-08-18'
                    due_on: '2015-09-18'
                    estimate_type: Estimate
                    status: Draft
      responses:
        '200':
          description: ''
  /v2/estimates/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Estimates
      summary: Show Estimate
      operationId: Estimates_showDetails
      description: Show Estimate
      responses:
        '200':
          description: ''
    put:
      tags:
        - Estimates
      summary: Update Estimate
      operationId: Estimates_updateById
      description: Update Estimate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimatesUpdateByIdRequest'
            examples:
              Update Estimate:
                value:
                  estimate:
                    notes: An example of some additional text.
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Estimates
      summary: Delete Estimate
      operationId: Estimates_deleteEstimate
      description: Delete Estimate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimatesDeleteEstimateRequest'
            examples:
              Delete Estimate:
                value:
                  estimate:
                    contact: https://api.freeagent.com/v2/contacts/3
                    currency: GBP
                    dated_on: '2015-08-18'
                    due_on: '2015-09-18'
                    ec_status: UK/Non-EC
                    estimate_type: Estimate
                    notes: This is a note
                    status: Draft
      responses:
        '200':
          description: ''
  /v2/estimates/{id}/pdf:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Estimates
      summary: Show Estimate as PDF
      operationId: Estimates_getAsPdf
      description: Show Estimate as PDF
      responses:
        '200':
          description: ''
  /v2/expenses:
    get:
      tags:
        - Expenses
      summary: List all expenses
      operationId: Expenses_getAll
      description: List all expenses
      responses:
        '200':
          description: ''
    post:
      tags:
        - Expenses
      summary: Create expense
      operationId: Expenses_createExpense
      description: Create expense
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpensesCreateExpenseRequest'
            examples:
              Batch create expenses:
                value:
                  expenses:
                    - description: Some description
                      category: https://api.freeagent.com/v2/categories/285
                      created_at: '2011-08-24T08:10:40Z'
                      dated_on: '2011-08-24'
                      gross_value: '-12.0'
                      manual_sales_tax_amount: '0.12'
                      sales_tax_rate: '20.0'
                      updated_at: '2011-08-24T08:10:40Z'
                      user: '{{url}}/v2/users/1'
                    - description: Some description
                      category: https://api.freeagent.com/v2/categories/285
                      created_at: '2011-08-25T08:10:40Z'
                      dated_on: '2011-08-24'
                      gross_value: '-5.0'
                      manual_sales_tax_amount: '0.12'
                      sales_tax_rate: '20.0'
                      updated_at: '2011-08-25T08:10:40Z'
                      user: '{{url}}/v2/users/1'
              Create expense:
                value:
                  expense:
                    description: Some description
                    category: https://api.freeagent.com/v2/categories/285
                    created_at: '2011-08-24T08:10:40Z'
                    currency: USD
                    dated_on: '2011-08-24'
                    gross_value: '-20.0'
                    manual_sales_tax_amount: '0.12'
                    native_gross_value: '-12.0'
                    native_sales_tax_value: '-0.12'
                    sales_tax_rate: '1.0'
                    sales_tax_value: '-0.2'
                    updated_at: '2011-08-24T08:10:40Z'
                    user: '{{url}}/v2/users/:id'
      responses:
        '200':
          description: ''
  /v2/expenses/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Expenses
      summary: Get a single expense
      operationId: Expenses_getSingleExpense
      description: Get a single expense
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Expenses
      summary: Delete expense
      operationId: Expenses_deleteExpense
      description: Delete expense
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExpensesDeleteExpenseRequest'
      responses:
        '200':
          description: ''
  /v2/expenses/mileage_settings:
    get:
      tags:
        - Expenses
      summary: Get mileage settings
      operationId: Expenses_getMileageSettings
      description: Get mileage settings
      responses:
        '200':
          description: ''
  /v2/invoices/{id}/transitions/mark_as_sent:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    put:
      tags:
        - Invoices
        - Invoice Transitions
      summary: Mark invoice as sent
      operationId: Invoices_markAsSent
      description: Mark invoice as sent
      responses:
        '200':
          description: ''
  /v2/invoices/{id}/transitions/mark_as_cancelled:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    put:
      tags:
        - Invoices
        - Invoice Transitions
      summary: Mark invoice as cancelled
      operationId: Invoices_markAsCancelled
      description: Mark invoice as cancelled
      responses:
        '200':
          description: ''
  /v2/invoices/{id}/transitions/mark_as_scheduled:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    put:
      tags:
        - Invoices
        - Invoice Transitions
      summary: Mark invoice as scheduled
      operationId: Invoices_markAsScheduled
      description: Mark invoice as scheduled
      responses:
        '200':
          description: ''
  /v2/invoices/{id}/transitions/mark_as_draft:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    put:
      tags:
        - Invoices
        - Invoice Transitions
      summary: Mark invoice as draft
      operationId: Invoices_markAsDraft
      description: Mark invoice as draft
      responses:
        '200':
          description: ''
  /v2/invoices:
    get:
      tags:
        - Invoices
      summary: List Invoices
      operationId: Invoices_getAll
      description: List Invoices
      parameters:
        - name: nested_invoice_items
          in: query
          schema:
            type: string
            example: 'true'
        - name: contact
          in: query
          schema:
            type: string
            example: '{{url}}/v2/contacts/:id'
        - name: project
          in: query
          schema:
            type: string
            example: '{{url}}/v2/projects/:id'
        - name: currency
          in: query
          schema:
            type: string
            example: USD
        - name: view
          in: query
          schema:
            type: string
            example: all
        - name: updated_since
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: sort
          in: query
          schema:
            type: string
            example: updated_at
      responses:
        '200':
          description: ''
    post:
      tags:
        - Invoices
      summary: Create Invoice
      operationId: Invoices_createNewInvoice
      description: Create Invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicesCreateNewInvoiceRequest'
            examples:
              Create Invoice:
                value:
                  invoice:
                    always_show_bic_and_iban: false
                    contact: '{{url}}/v2/contacts/:id'
                    currency: GBP
                    dated_on: '2019-08-18'
                    due_on: '2019-09-18'
                    omit_header: false
                    payment_terms_in_days: 30
      responses:
        '200':
          description: ''
  /v2/invoices/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Invoices
      summary: Show Invoice
      operationId: Invoices_showDetails
      description: Show Invoice
      responses:
        '200':
          description: ''
    put:
      tags:
        - Invoices
      summary: Update Invoice
      operationId: Invoices_updateInvoiceById
      description: Update Invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicesUpdateInvoiceByIdRequest'
            examples:
              Update Invoice:
                value:
                  invoice:
                    notes: An example of some additional text.
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Invoices
      summary: Delete Invoice
      operationId: Invoices_deleteInvoice
      description: Delete Invoice
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InvoicesDeleteInvoiceRequest'
      responses:
        '200':
          description: ''
  /v2/invoices/timeline:
    get:
      tags:
        - Invoices
      summary: Get invoice timeline
      operationId: Invoices_getTimeline
      description: Get invoice timeline
      responses:
        '200':
          description: ''
  /v2/invoices/{id}/pdf:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Invoices
      summary: Show Invoice as PDF
      operationId: Invoices_getPdf
      description: Show Invoice as PDF
      responses:
        '200':
          description: ''
  /v2/invoices/{id}/send_email:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    post:
      tags:
        - Invoices
      summary: Send Invoice Email
      operationId: Invoices_sendEmail
      description: Send Invoice Email
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicesSendEmailRequest'
            examples:
              Send Invoice Email:
                value:
                  invoice:
                    email:
                      body: Bison bison bison bison bison Bison bison
                      from: Our Company <us@company.com>
                      subject: Testing
                      to: Test Contact <test_contact@example.com>
      responses:
        '200':
          description: ''
  /v2/invoices/{id}/direct_debit:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    post:
      tags:
        - Invoices
      summary: Take Payment using GoCardless Direct Debit Mandate
      operationId: Invoices_takePaymentUsingGoCardlessDirectDebitMandate
      description: >-
        Only available for invoices which fit the following criteria:


        - The invoice must be sent

        - The invoice must have gocardless_preauth available and enabled as a
        payment method

        - The invoice must not have already had a payment taken for it
      requestBody:
        content:
          text/plain:
            examples:
              Take Payment using GoCardless Direct Debit Mandate:
                value: ''
            schema:
              description: >-
                WARNING: Missing schema in media type object. Missing schema has
                been filled with this AnyType schema.
      responses:
        '200':
          description: ''
  /v2/invoice_items:
    post:
      tags:
        - Invoices
      summary: Create Invoice Item
      operationId: Invoices_addNewInvoiceItem
      description: Create Invoice Item
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicesAddNewInvoiceItemRequest'
            examples:
              Create Invoice Item:
                value:
                  invoice: https://api.freeagent.com/v2/invoices/1
                  invoice_item:
                    description: Fishing trip
                    item_type: Hours
                    price: 35
                    quantity: 6
      responses:
        '200':
          description: ''
  /v2/journal_sets:
    get:
      tags:
        - Journal Sets
      summary: List all journal sets
      operationId: JournalSets_listAll
      description: List all journal sets
      parameters:
        - name: to_date
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: from_date
          in: query
          schema:
            type: string
            example: '2018-01-01'
        - name: tag
          in: query
          schema:
            type: string
            example: MYAPPTAG
      responses:
        '200':
          description: ''
    put:
      tags:
        - Journal Sets
      summary: Update a journal set
      operationId: JournalSets_updateJournalSet
      description: Update a journal set
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JournalSetsUpdateJournalSetRequest'
            examples:
              Update a journal set:
                value:
                  journal_set:
                    description: An example journal set
                    dated_on: '2011-07-28'
                    journal_entries:
                      - description: A Sales Correction
                        category: https://api.freeagent.com/v2/categories/001
                        debit_value: '-123.45'
                        url: https://api.freeagent.com/v2/journal_entries/1
                      - description: Director's Capital Introduced
                        category: https://api.freeagent.com/v2/categories/901
                        debit_value: '123.45'
                        url: https://api.freeagent.com/v2/journal_entries/2
                        user: https://api.freeagent.com/v2/users/1
                    tag: MYAPPTAG
                    url: https://api.freeagent.com/v2/journal_sets/1
      responses:
        '200':
          description: ''
    post:
      tags:
        - Journal Sets
      summary: Create a journal set
      operationId: JournalSets_createNewSet
      description: Create a journal set
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JournalSetsCreateNewSetRequest'
            examples:
              Create a journal set:
                value:
                  journal_set:
                    description: An example journal set
                    dated_on: '2019-07-28'
                    journal_entries:
                      - description: A Sales Correction
                        category: https://api.freeagent.com/v2/categories/001
                        debit_value: '-123.45'
                      - description: Director's Capital Introduced
                        category: https://api.freeagent.com/v2/categories/901
                        debit_value: '123.45'
                        user: https://api.freeagent.com/v2/users/1
                    tag: MYAPPTAG
      responses:
        '200':
          description: ''
  /v2/journal_sets/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Journal Sets
      summary: Get a single journal set
      operationId: JournalSets_getSingleSet
      description: Get a single journal set
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Journal Sets
      summary: Delete a journal set
      operationId: JournalSets_deleteSet
      description: Delete a journal set
      responses:
        '200':
          description: ''
  /v2/journal_sets/opening_balances:
    get:
      tags:
        - Journal Sets
      summary: Get the Opening Balances
      operationId: JournalSets_getOpeningBalances
      description: Get the Opening Balances
      responses:
        '200':
          description: ''
  /v2/notes:
    get:
      tags:
        - Notes
      summary: List Notes
      operationId: Notes_getAllNotes
      description: List Notes
      parameters:
        - name: contact
          in: query
          schema:
            type: string
            example: '{{url}}/v2/contact/:id'
        - name: project
          in: query
          schema:
            type: string
            example: '{{url}}/v2/project/:id'
      responses:
        '200':
          description: ''
  /v2/notes/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Notes
      summary: Get a single note
      operationId: Notes_getById
      description: Get a single note
      responses:
        '200':
          description: ''
    put:
      tags:
        - Notes
      summary: Update a Note
      operationId: Notes_updateNoteById
      description: Update a Note
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotesUpdateNoteByIdRequest'
            examples:
              Update a Note:
                value:
                  note:
                    author: Development Team
                    created_at: '2012-05-30T10:22:34Z'
                    note: A new note
                    parent_url: https://api.freeagent.com/v2/project/1
                    updated_at: '2012-05-30T10:22:34Z'
      responses:
        '200':
          description: ''
    post:
      tags:
        - Notes
      summary: Create a Note
      operationId: Notes_createNote
      description: Create a Note
      parameters:
        - name: contact
          in: query
          schema:
            type: string
            example: '{{url}}/v2/contact/:id'
        - name: project
          in: query
          schema:
            type: string
            example: '{{url}}/v2/project/:id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotesCreateNoteRequest'
            examples:
              Create a Note:
                value:
                  note:
                    author: Development Team
                    created_at: '2012-05-30T10:22:34Z'
                    note: A new note
                    parent_url: '{{url}}/v2/contact/1'
                    updated_at: '2012-05-30T10:22:34Z'
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Notes
      summary: Delete a note
      operationId: Notes_deleteNote
      description: Delete a note
      responses:
        '200':
          description: ''
  /v2/payroll/{year}:
    parameters:
      - name: year
        in: path
        required: true
        schema:
          type: string
          example: '2018'
    get:
      tags:
        - Payroll
      summary: List all periods for a given tax year
      operationId: Payroll_listPeriodsForYear
      description: List all periods for a given tax year
      responses:
        '200':
          description: ''
  /v2/payroll/{year}/{period}:
    parameters:
      - name: year
        in: path
        required: true
        schema:
          type: string
          example: '2018'
      - name: period
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Payroll
      summary: List all payslips for a given period
      operationId: Payroll_payslipsForPeriod
      description: List all payslips for a given period
      responses:
        '200':
          description: ''
  /v2/payroll_profiles/{year}:
    parameters:
      - name: year
        in: path
        required: true
        schema:
          type: string
          example: '2022'
    get:
      tags:
        - Payroll Profiles
      summary: List all profiles for a given tax year
      operationId: PayrollProfiles_listForGivenYear
      description: List all profiles for a given tax year
      parameters:
        - name: user
          in: query
          schema:
            type: string
            example: '{{url}}/v2/users/107'
      responses:
        '200':
          description: ''
  /v2/price_list_items:
    get:
      tags:
        - Price List Items
      summary: List all Price List Items
      operationId: PriceListItems_getAll
      description: List all Price List Items
      responses:
        '200':
          description: ''
  /v2/price_list_items/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: ''
    get:
      tags:
        - Price List Items
      summary: Get a single Price List Item
      operationId: PriceListItems_getSingleItem
      description: Get a single Price List Item
      responses:
        '200':
          description: ''
  /v2/accounting/profit_and_loss/summary:
    get:
      tags:
        - Profit & Loss
      summary: Get the P&L summary
      operationId: ProfitLoss_summaryGet
      description: Get the P&L summary
      responses:
        '200':
          description: ''
  /v2/properties:
    get:
      tags:
        - Properties
      summary: List all properties
      operationId: Properties_listAllProperties
      description: List all properties
      responses:
        '200':
          description: ''
    post:
      tags:
        - Properties
      summary: Create a new property
      operationId: Properties_createNewProperty
      description: Create a new property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertiesCreateNewPropertyRequest'
            examples:
              Create a new property:
                value:
                  property:
                    address1: 12334 Maple Boulevard
                    country: United States of America
                    region: Wisconsin
                    town: Middleton
      responses:
        '200':
          description: ''
  /v2/properties/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: '6'
    get:
      tags:
        - Properties
      summary: Get a single property
      operationId: Properties_getById
      description: Get a single property
      responses:
        '200':
          description: ''
    put:
      tags:
        - Properties
      summary: Update a property
      operationId: Properties_updateProperty
      description: Update a property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertiesUpdatePropertyRequest'
            examples:
              Update a property:
                value:
                  property:
                    address2: Wilkerson Residence
      responses:
        '200':
          description: ''
    delete:
      tags:
        - Properties
      summary: Delete a property
      operationId: Properties_removeProperty
      description: Delete a property
      responses:
        '200':
          description: ''
  /v2/projects:
    get:
      tags:
        - Projects
      summary: List Projects
      operationId: Projects_getAll
      description: List Projects
      parameters:
        - name: contact
          in: query
          schema:
            type: string
            example: '{{url}}/v2/contacts/:id'
        - description: >-
            Retrieves contact's details as nested JSON objects rather than URL
            references.
          name: nested
          in: query
          schema:
            type: string
            example: 'true'
      responses:
        '200':
          description: ''
    post:
      tags:
        - Projects
      summary: Create Project
      operationId: Projects_createNewProject
      description: Create Project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectsCreateNewProjectRequest'
            examples:
              Create Project:
                value:
                  project:
                    billing_period: hour
                    budget: 28
                    budget_units: Days
                    contact: https://api.freeagent.com/v2/contacts/2
                    currency: GBP
                    ends_on: '2015-12-31'
                    hours_per_day: 8
                    is_ir35: false
                    name: Website Redesign
[...]
