openapi: 3.0.3
info:
  title: Public API
  description: >-
    Echelon solutions simplify your payment process, and offer a wide range of
    features & services to help your business run smoothly.

    With our cutting edge technology, global coverage, our alternative solutions
    - we will connect your business with over 1 billion consumers across Asia.

    Echelon offers you an All-In-One API integration, giving your clients access
    to their preferred local payment method that's also available in their
    native language.

    Offering your business a wide range of services from payments, settlements
    that are both local and international, international remittance and more,
    Echelon is your one stop shop for all things payments.

    We are here to bring you one step closer to expanding your business in East
    and South Asia.
  version: '2.47'
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - description: Sandbox server (uses test data)
    url: https://api.sandbox.echelonpay.com
  - description: Live server (uses live data)
    url: https://api.echelonpay.com
tags:
  - description: Common methods that can be used for payin and payouts.
    name: Payments
  - description: >-
      Incoming payment (payin) is an operation where money is sent from the
      customer account to the merchant account.
    name: Incoming payments
  - description: >-
      Outgoing payment (payout) is an operation where money is sent from the
      merchant account to another account.
    name: Outgoing payments
  - description: Authentication and authorization.
    name: Auth
  - description: Accounts.
    name: Accounts
  - description: Merchant information.
    name: Merchant info
paths:
  /payins/!availablePaymentOptions:
    post:
      tags:
        - Incoming payments
      summary: Available payment options.
      operationId: IncomingPayments_getOptions
      security:
        - httpAuth: []
      description: >-
        Usually the first step when creating a new payment.


        Returns payment methods and payment operators available for the
        requested amount, currency and (optionally) the customer segment.


        The API documentation describes currently supported list of
        `paymentMethodCode`.

        Be aware that to return more items than described is classified as a
        backward-compatible change.

        The list of supported payment methods will grow in the future.

        New payment method is returned only when you have the method configured
        in your account.


        A complete payment flow description can be found in [Accept Incoming
        Payment](payin.html) section of our documentation.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - description: 'TODO: Add description of Id-Customer header'
          name: Id-Customer
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequested'
        required: true
      responses:
        '200':
          description: >-
            The list of possible payment options.

            The list always contains at least one payment option.

            If no available payment options are found, an HTTP 406 response is
            returned with the error code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailablePayinOptionList'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '406':
          description: >-
            Input does not meet business validations. See [406 Not
            Acceptable](responseCodes.html#term-406-Not-Acceptable)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingPaymentsGetOptionsResponse'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
  /payouts/!availablePaymentOptions:
    post:
      tags:
        - Outgoing payments
      summary: Available payment options.
      operationId: OutgoingPayments_getAvailablePaymentOptions
      security:
        - httpAuth: []
      description: >-
        Usually the first step when creating a new payment.


        Returns payment methods and payment operators available for the
        requested amount, currency and (optionally) the customer segment.


        The API documentation describes currently supported list of
        `paymentMethodCode`.

        Be aware that to return more items than described is classified as a
        backward-compatible change.

        The list of supported payment methods will grow in the future.

        New payment method is returned only when you have the method configured
        in your account.


        A complete payment flow description can be found in [Accept Outgoing
        Payment](payout.html) section of our documentation.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - description: 'TODO: Add description of Id-Customer header'
          name: Id-Customer
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequested'
        required: true
      responses:
        '200':
          description: >-
            The list of possible payment options.

            The list always contains at least one payment option.

            If no available payment options are found, an HTTP 406 response is
            returned with the error code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailablePayoutOptionList'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '406':
          description: >-
            Input does not meet business validations. See [406 Not
            Acceptable](responseCodes.html#term-406-Not-Acceptable)
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OutgoingPaymentsGetAvailablePaymentOptionsResponse
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
  /payins/{idPayin}:
    get:
      tags:
        - Incoming payments
      summary: Incoming payment detail.
      operationId: IncomingPayments_getDetails
      security:
        - httpAuth: []
      description: Payment details including payment status and all collected data.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - description: >-
            Unique Merchant Order ID provided by merchant. See [Request
            IDs](general.html#request-ids).
          name: idPayin
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdPayin'
      responses:
        '200':
          description: Detail of incoming payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayinDetail'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '406':
          description: >-
            Input does not meet business validations. See [406 Not
            Acceptable](responseCodes.html#term-406-Not-Acceptable)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingPaymentsGetDetailsResponse'
        '410':
          description: Entity not found. See [410 Gone](responseCodes.html#term-410-Gone).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
    post:
      tags:
        - Incoming payments
      summary: Create payment.
      operationId: IncomingPayments_createPaymentRequest
      security:
        - httpAuth: []
      description: >-
        Create a new payment request (incoming payment - merchant will get money
        from other account).


        For getting list of the available payment options use [`POST
        /payins/!availablePaymentOptions`](https://developers.echelonpay.com)
        API.

        A complete payment flow description can be found in [Accept
        Payment](payorder.html) section.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - description: 'TODO: Add description of Id-Customer header'
          name: Id-Customer
          in: header
          required: false
          schema:
            type: string
        - description: >-
            Unique Merchant Order ID provided by merchant. See [Request
            IDs](general.html#request-ids).
          name: idPayin
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdPayin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payin'
        required: true
      responses:
        '201':
          description: The payment has been accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayinAcceptedResponse'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '406':
          description: >-
            Input does not meet business validations. See [406 Not
            Acceptable](responseCodes.html#term-406-Not-Acceptable)
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IncomingPaymentsCreatePaymentRequestResponse
        '409':
          description: >-
            The provided Merchant Order ID is duplicated. The payment has not
            been accepted.

            For more info about request IDs concepts see our [Request
            IDs](general.html#request-ids) section of our documentation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
      callbacks:
        statusChange:
          '{$request.body#/callbackUrl}':
            post:
              operationId: createPayin_statusChange
              description: >
                Status of the given payment has changed.

                Use `GET /payins/{idPayin}` endpoint to obtain the detail
                information about the payment and its status.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        idEntity:
                          description: Unique payment id provided by merchant.
                          example: ddd013a5d146
                          type: string
                          minLength: 1
                          maxLength: 250
                          pattern: ^[A-Za-z0-9_-]+$
                      required:
                        - idEntity
              responses:
                '200':
                  description: >-
                    Expected merchant server response code. In case of other
                    response code, the callback will be repeated 4 times with 2
                    minutes interval.
  /payouts/{idPayout}:
    get:
      tags:
        - Outgoing payments
      summary: Outgoing payment detail.
      operationId: OutgoingPayments_getDetail
      security:
        - httpAuth: []
      description: Payment details including payment status and all collected data.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - description: >-
            Unique Merchant Order ID provided by merchant. See [Request
            IDs](general.html#request-ids).
          name: idPayout
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdPayout'
      responses:
        '200':
          description: Detail of outgoing payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutDetail'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '406':
          description: >-
            Input does not meet business validations. See [406 Not
            Acceptable](responseCodes.html#term-406-Not-Acceptable)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingPaymentsGetDetailResponse'
        '410':
          description: Entity not found. See [410 Gone](responseCodes.html#term-410-Gone).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
    post:
      tags:
        - Outgoing payments
      summary: Create outgoing payment.
      operationId: OutgoingPayments_createRequest
      security:
        - httpAuth: []
      description: >-
        Create a new outgoing payment request (merchant send money to other
        account).


        A complete payment flow description can be found in [Outgoing
        Payment](payout.html) section.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - description: 'TODO: Add description of Id-Customer header'
          name: Id-Customer
          in: header
          required: false
          schema:
            type: string
        - description: >-
            Unique Merchant Order ID provided by merchant. See [Request
            IDs](general.html#request-ids).
          name: idPayout
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdPayout'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payout'
        required: true
      responses:
        '201':
          description: The outgoing payment has been accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutAccepted'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '406':
          description: >-
            Input does not meet business validations. See [406 Not
            Acceptable](responseCodes.html#term-406-Not-Acceptable)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingPaymentsCreateRequestResponse'
        '409':
          description: >-
            The provided Merchant Order ID is duplicated. The payment has not
            been accepted.

            For more info about request IDs concepts see our [Request
            IDs](general.html#request-ids) section of our documentation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
      callbacks:
        statusChange:
          '{$request.body#/callbackUrl}':
            post:
              operationId: createPayout_statusChange
              description: >
                Status of the given outgoing payment has changed.

                Use `GET /payouts/{idPayout}` endpoint to obtain the detail
                information about the outgoing payment status.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        idEntity:
                          description: Unique payment id provided by merchant.
                          example: ddd013a5d146
                          type: string
                          minLength: 1
                          maxLength: 250
                          pattern: ^[A-Za-z0-9_-]+$
                      required:
                        - idEntity
              responses:
                '200':
                  description: >-
                    Expected merchant server response code. In case of other
                    response code, the callback will be repeated 4 times with 2
                    minutes interval.
  /payins/{idPayin}/!setExternalReference:
    post:
      tags:
        - Incoming payments
      summary: Set external reference for the payment.
      operationId: payin_setExternalReference
      security:
        - httpAuth: []
      description: >-
        Set external reference for the payment. Usually offline payments methods
        require additional payment reference as last step of payment process,
        these references are provided manully by the customer when payment is
        completed.

        See list of our [supported payment methods](payin-methods.html) to check
        which of them require to set the external payment reference.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - description: >-
            Unique Merchant Order ID provided by merchant. See [Request
            IDs](general.html#request-ids).
          name: idPayin
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdPayin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalReference'
        required: true
      responses:
        '204':
          description: External reference has been set.
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '410':
          description: Entity not found. See [410 Gone](responseCodes.html#term-410-Gone).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
  /balances:
    get:
      tags:
        - Accounts
      summary: Account balance.
      operationId: Accounts_getBalances
      security:
        - httpAuth: []
      description: >-
        Account balances for all selected currencies.

        If no currency is selected, all available are returned.

        If account in selected currency is not available, currency is ignored
        and no balance is returned.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - name: currencyCodes
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CommaSeparatedCurrencyCodes'
      responses:
        '200':
          description: Account balances for all selected currencies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceList'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '406':
          description: >-
            Input does not meet business validations. See [406 Not
            Acceptable](responseCodes.html#term-406-Not-Acceptable)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsGetBalancesResponse'
        '410':
          description: Entity not found. See [410 Gone](responseCodes.html#term-410-Gone).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
  /payins/{idPayin}/accounts:
    get:
      tags:
        - Incoming payments
      summary: Incoming payment accounts details.
      operationId: payin_accounts
      security:
        - httpAuth: []
      description: >-
        Payment account details including data collected during the payment
        process.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - description: >-
            Unique Merchant Order ID provided by merchant. See [Request
            IDs](general.html#request-ids).
          name: idPayin
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IdPayin'
      responses:
        '200':
          description: Detail of incoming payment accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAccountDetail'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '406':
          description: >-
            Input does not meet business validations. See [406 Not
            Acceptable](responseCodes.html#term-406-Not-Acceptable)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayinAccountsResponse'
        '410':
          description: Entity not found. See [410 Gone](responseCodes.html#term-410-Gone).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
  /merchant-info:
    get:
      tags:
        - Merchant info
      summary: Merchant information.
      operationId: MerchantInfo_getInfo
      security:
        - httpAuth: []
      description: >-
        Return information about the merchant authorised by [JWT
        token](general.html#security).
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Merchant information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantInfo'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '410':
          description: Entity not found. See [410 Gone](responseCodes.html#term-410-Gone).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
  /currencies:
    get:
      tags:
        - Payments
      summary: Currencies.
      operationId: Payments_getCurrencies
      security:
        - httpAuth: []
      description: >-
        Return list of currencies available for the current merchant (according
        to content of the [JWT token](general.html#security)).


        New currency codes may be added without further notice and are
        considered as non breaking change and do not affect API version.


        Fiat currency codes are based on 3-letter ISO 4217. Crypto currency
        codes are based on commonly used codes.


        For available currencies please refer to section "available currencies"
        on merchant detail page in Merchant Back-office. To add new available
        currency please contact our support.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of available currencies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyList'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '410':
          description: Entity not found. See [410 Gone](responseCodes.html#term-410-Gone).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
  /segments:
    get:
      tags:
        - Payments
      summary: Segments.
      operationId: Payments_listSegments
      security:
        - httpAuth: []
      description: Return list of customer segments available in the system.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of available segments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentList'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
  /payment-operators:
    get:
      tags:
        - Payments
      summary: Payment operators.
      operationId: Payments_getOperatorsList
      security:
        - httpAuth: []
      description: >-
        Return list of [payment
        operators](terminology.html#term-Payment-operator) available in the
        system.


        New payment operators codes may be added without further notice and are
        considered as non breaking change and do not affect API version.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of available payment operators.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOperatorList'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
  /payment-methods:
    get:
      tags:
        - Payments
      summary: Payment methods.
      operationId: Payments_listPaymentMethods
      security:
        - httpAuth: []
      description: >-
        Return list of [payment methods](terminology.html#term-Payment-method)
        available in the system.


        New payment method codes may be added without further notice and are
        considered as non breaking change and do not affect API version.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: List of available payment methods.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodsList'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
  /payment-options:
    get:
      tags:
        - Payments
      summary: Payment options.
      operationId: Payments_getPaymentOptions
      security:
        - httpAuth: []
      description: >-

        Return [payment options](terminology.html#term-Payment-option)
        (combination of payment methods and corresponding payment operators)
        (possibly) available for the merchant specified in the authorization
        token, optionally filtered by the query parameters.


        The API documentation describes currently supported list of
        `paymentMethodCode`.

        Be aware that to return more items than described is classified as a
        backward-compatible change.

        The list of supported payment methods will grow in the future.

        New payment method is returned only when you have the method configured
        in your account.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
        - name: paymentTypeCode
          in: query
          required: false
          schema:
            description: Payment direction from the merchant's point of view.
            type: string
            enum:
              - PAYIN
              - PAYOUT
        - name: paymentMethodCodes
          in: query
          required: false
          schema:
            description: >-
              Comma separated list of requested payment method codes.

              See request body for `paymentMethodCode` description and [Query
              for multiple values](general.html#query-for-multiple-values)
              section.
            type: string
            example: OFFLINE,ONLINE
        - name: currencyCodes
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CommaSeparatedCurrencyCodes'
        - name: segmentCodes
          in: query
          required: false
          schema:
            description: >-
              Comma separated list of requested segment codes.

              See [`GET /segments`](https://developers.echelonpay.com) API and
              [Query for multiple
              values](general.html#query-for-multiple-values) section.
            type: string
        - name: paymentOperatorCodes
          in: query
          required: false
          schema:
            description: >-
              Comma separated list of payment operator codes.

              See request body for `paymentOperators` description and [Query for
              multiple values](general.html#query-for-multiple-values) section.
            type: string
            example: IDR_003,IDR_004
      responses:
        '200':
          description: List of (possibly) available payment options.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOptionsList'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '401':
          description: >-
            Request was not authenticated. Missing or wrong "authorization"
            token header.

            See [401 Unauthorized](responseCodes.html#term-401-Unauthorized).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "authorization" token header does
            not have permission to process the request.

            See [Fine-grained privileges](general.html#fine-grained-privileges)
            description or general [403
            Forbidden](responseCodes.html#term-403-Forbidden) info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '406':
          description: >-
            Input does not meet business validations. See [406 Not
            Acceptable](responseCodes.html#term-406-Not-Acceptable)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsGetPaymentOptionsResponse'
        '410':
          description: Entity not found. See [410 Gone](responseCodes.html#term-410-Gone).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '429':
          description: >-
            Too many requests. See [429 Too Many
            Requests](responseCodes.html#term-429-Too-Many-Requests).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
  /auth-tokens:
    post:
      tags:
        - Auth
      summary: Authorization token.
      operationId: Auth_issueJwt
      description: >

        Issues JSON Web Token (JWT) that can be used to call authorized payment
        API.


        Validates the secret and responds with a JWT allowing the given merchant
        access to the given endpoints.


        For more info about security concepts see the
        [Security](general.html#security) section.


        For more info about payment web app integration security see the
        [Payment Web App - Auth
        Token](payin-webapp.html#get-a-authorization-token) section.


        For more info about direct integration security see the [Direct
        integration - Authentication and Authorization](payin-common.html)
        section.
      parameters:
        - description: Required API version. See [Versioning](general.html#versioning)
          name: X-API-Version
          in: header
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthTokenRequest'
        required: true
      responses:
        '200':
          description: >-
            Auth token for required operations. The Auth token payload can be
            decoded at [JWT official webiste](https://jwt.io/).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          description: |-
            An error has been encountered while validating the input parameters.
            The request is not valid according to this OAS document.

            Some possible mistakes are:

             * wrong data type
             * required field is missing or empty
             * wrong value for field defined by enum
             * maximum length or other constraint violation

            See also [400 Bad Request](responseCodes.html#term-400-Bad-Request).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '403':
          description: >-
            Request was not authorized. Used "secret" body attribute does not
            have permission to process the request.

            See [403 Forbidden](responseCodes.html#term-403-Forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        '406':
          description: >-
            Input does not meet business validations. See [406 Not
            Acceptable](responseCodes.html#term-406-Not-Acceptable)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthIssueJwtResponse'
        '500':
          description: >-
            Server error. See [5XX Internal Server
            Error](responseCodes.html#term-5XX-Internal-Server-Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
components:
  schemas:
    AccountCustomerResponseCapitecPay:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.
      required:
        - accountNumber
      type: object
      properties:
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment.
          type: string
          pattern: ^[0-9]*$
          minLength: 10
          maxLength: 10
    AccountCustomerResponseDuitNow:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.
      required:
        - accountName
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment.
          type: string
    AccountCustomerResponsePayMe:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.
      required:
        - accountName
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment.
          type: string
    AccountCustomerResponsePromptPay:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.
      required:
        - accountNumber
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment.
          type: string
    AccountCustomerResponseQrPh:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment.
          type: string
    AccountCustomerResponseVaPay:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.
      required:
        - accountName
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment.
          type: string
    AccountPayinRequestCapitecPay:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. This account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      required:
        - accountNumber
      type: object
      properties:
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
          pattern: ^[0-9]*$
          minLength: 10
          maxLength: 10
    AccountPayinRequestDuitNow:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. This account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      required:
        - accountName
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
    AccountPayinRequestEWallet:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the wallet account
            which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
    AccountPayinRequestIMPS:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      required:
        - accountName
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
    AccountPayinRequestNetBanking:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
    AccountPayinRequestOffline:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.


            If currency is CNY, JPY or KRW, then accountName field is required.
            Otherwise, it is optional.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.


            If currency is THB, then accountNumber field is required. Otherwise,
            it is optional.
          type: string
    AccountPayinRequestOnline:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
    AccountPayinRequestP2AV2:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.


            If currency is INR, then accountName field is required. Otherwise,
            it is optional.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
    AccountPayinRequestPayMe:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      required:
        - accountName
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
    AccountPayinRequestPromptPay:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      required:
        - accountNumber
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
    AccountPayinRequestQrPh:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. This account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
    AccountPayinRequestQrisPay:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
    AccountPayinRequestVaPay:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      required:
        - accountName
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
    AccountPayinRequestVaPayVerif:
      description: >-
        Parameters of your customer's bank or wallet account which your customer
        sends funds from. These account parameters are used for the sender's
        account verification in processing of the payment.

        Which parameters are mandatory depends on the payment method and the
        currency your customer choose to pay.
      required:
        - accountNumber
      type: object
      properties:
        accountName:
          description: >-
            Account Name is the name of the person who holds the bank or wallet
            account which your customer sends funds from to make his payment.

            The name should be in the same format as the account holder name of
            the account. Must not contain numbers, allows some special
            characters and UNICODE symbols, see validation pattern.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Account Number is the number of your customer's bank account which
            your customer sends funds from to make his payment. Must contain
            only numbers.
          type: string
    AccountPayoutRequestBankTransfer:
      description: >-
        Parameters of a customer's bank account where your customer would like
        his funds to be transferred.

        The returned parameters are depended on the payout request currency.
      required:
        - accountName
        - accountNumber
      type: object
      properties:
        accountName:
          description: >-
            Name of a customer's bank account where your customer would like his
            funds to be transferred.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Number of a customer's bank account where your customer would like
            his funds to be transferred.
          type: string
        accountType:
          description: >-
            Account type of the receiving bank account.


            * If payout currency is JPY, then accountType field is required and
            requested value has to be "savings", "checking", "private",
            "corporate", "general" or "current".

            * If payout currency is ZAR, then accountType field is required and
            requested value has to be "savings", "current", "cheque",
            "transmission".


            Otherwise, accountType is optional.
          type: string
        bankCode:
          description: >-
            Bank code of the bank where your customer would like his funds to be
            transferred.


            If currency is INR, then bankCode field is required and requested
            value has to be an Indian Financial System Code (IFSC bank code).
            Otherwise, it is optional.
          type: string
          minLength: 1
        bankName:
          description: >-
            Name of the bank where your customer would like his funds to be
            transferred.
          type: string
          minLength: 1
        bankBranch:
          description: >-
            Branch name of the bank where your customer would like his funds to
            be transferred.


            If payouts currency is JPY, then bankBranch field is required.
            Otherwise, it is optional.
          type: string
          minLength: 1
        bankCity:
          description: >-
            City of the bank where your customer would like his funds to be
            transferred.
          type: string
          minLength: 1
        bankProvince:
          description: >-
            Province of the bank where your customer would like his funds to be
            transferred.
          type: string
          minLength: 1
    AccountPayoutRequestCryptoTransfer:
      description: >-
        Parameters of a customer's crypto wallet information where your customer
        would like his funds to be transferred.
      required:
        - accountNumber
      type: object
      properties:
        accountNumber:
          description: >-
            Address of a customer's crypto wallet where your customer would like
            his funds to be transferred.
          type: string
          pattern: ^[a-zA-Z0-9]*$
          minLength: 1
          maxLength: 62
    AccountPayoutRequestWalletTransfer:
      description: >-
        Parameters of a customer's wallet information where your customer would
        like his funds to be transferred.
      type: object
      properties:
        accountName:
          description: >-
            Name of a person who holds a wallet where your customer would like
            his funds to be transferred.


            If currency is INR, then accountName field is required. Otherwise,
            it is optional.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Address of customer's wallet where your customer would like his
            funds to be transferred.
          type: string
          example: 123456789@paytm
          pattern: ^[a-zA-Z0-9_\-\.]+@[a-zA-Z0-9_\.]+$
          minLength: 1
          maxLength: 100
    AccountResponseCryptoOffline:
      description: >-
        Parameters of a crypto wallet where we expect that your customer send
        funds to make a payment. These parameters has to be provided to your
        customer in form of an payment instructions.

        The returned parameters are depended on the payment method and currency
        your customer choose to pay.
      required:
        - accountNumber
      type: object
      properties:
        accountNumber:
          description: >-
            Address of the crypto wallet where we expect that your customer
            sends funds to make a payment.

            This parameter is to be shown to your customer in the payment
            instructions.
          type: string
    AccountResponseDetail:
      type: object
      properties:
        accountName:
          description: Name of the bank account.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: Number of the bank account.
          type: string
        accountType:
          description: Type of the bank account.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        bankCode:
          description: Bank code of the bank.
          type: string
          minLength: 1
        paymentOperator:
          description: Payment operator code.
          $ref: '#/components/schemas/PaymentOperatorIncoming'
        bankName:
          description: Name of the bank.
          type: string
          minLength: 1
        bankBranch:
          description: Branch name of the bank.
          type: string
          minLength: 1
        bankCity:
          description: City of the bank.
          type: string
          minLength: 1
        bankProvince:
          description: Province of the bank.
          type: string
          minLength: 1
    AccountResponseOffline:
      description: >-
        Parameters of a bank account where we expect that your customer send
        funds to make a payment. These account parameters has to be provided to
        your customer in form of an payment instructions.

        The returned parameters are depended on the payment method and currency
        your customer choose to pay.
      required:
        - accountName
        - accountNumber
      type: object
      properties:
        accountName:
          description: >-
            Name of the bank account where we expect that your customer sends
            funds to make a payment.

            This parameter is to be shown to your customer in the payment
            instructions.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Number of the bank account where we expect that your customer sends
            funds to make a payment.

            This parameter is to be shown to your customer in the payment
            instructions.
          type: string
        accountType:
          description: >-
            Account type of the receiving bank account e.g. Normal / Current. It
            is used for payments in JPY currency.
          type: string
        bankCode:
          description: >-
            Bank code of the bank where we expect that your customer sends funds
            to make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          minLength: 1
        bankName:
          description: >-
            Name of the bank where we expect that your customer sends funds to
            make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          minLength: 1
        bankBranch:
          description: >-
            Branch name of the bank where we expect that your customer sends
            funds to make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          minLength: 1
        bankCity:
          description: >-
            City of the bank where we expect that your customer sends funds to
            make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          minLength: 1
        bankProvince:
          description: >-
            Province of the bank where we expect that your customer sends funds
            to make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          minLength: 1
    AccountResponseOnlyWithBank:
      description: >-
        Parameters of a bank account where we expect that your customer send
        funds to make a payment. These account parameters has to be provided to
        your customer in form of an payment instructions.

        The returned parameters are depended on the payment method and currency
        your customer choose to pay.
      type: object
      properties:
        accountName:
          type: string
          deprecated: true
        accountNumber:
          type: string
          deprecated: true
        bankCode:
          description: >-
            Bank code of the bank where we expect that your customer sends funds
            to make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          minLength: 1
        bankName:
          description: >-
            Name of the bank where we expect that your customer sends funds to
            make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          minLength: 1
        bankBranch:
          description: >-
            Branch name of the bank where we expect that your customer sends
            funds to make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          deprecated: true
          minLength: 1
        bankCity:
          description: >-
            City of the bank where we expect that your customer sends funds to
            make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          deprecated: true
          minLength: 1
        bankProvince:
          description: >-
            Province of the bank where we expect that your customer sends funds
            to make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          deprecated: true
          minLength: 1
      deprecated: true
    AccountResponseP2AV2:
      description: >-
        Parameters of a bank account where we expect that your customer send
        funds to make a payment. These account parameters has to be provided to
        your customer in form of an payment instructions.

        The returned parameters are depended on the payment method and currency
        your customer choose to pay.
      type: object
      properties:
        accountName:
          description: >-
            Name of the bank account where we expect that your customer sends
            funds to make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          pattern: ^(\p{L}\p{M}*?|[, ;:_'"!%=@#&\-\.\?\$\(\)\+\*\|])*$
          minLength: 1
          maxLength: 64
        accountNumber:
          description: >-
            Number of the bank account where we expect that your customer sends
            funds to make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
        bankCode:
          description: >-
            Bank code of the bank where we expect that your customer sends funds
            to make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          deprecated: true
          minLength: 1
        bankName:
          description: >-
            Name of the bank where we expect that your customer sends funds to
            make a payment.

            If this parameter contains any value then show it to your customer
            in the payment instructions.
          type: string
          deprecated: true
          minLength: 1
        bankBranch:
          description: >-
            Branch name of the bank where we expect that your customer sends
            funds to make a payment.

[...]
