openapi: 3.0.0
info:
  title: Telintel Mobile Number Portability
  description: >-
    The following document describes the procedure to use the Telintel
    Portability HTTPS service. Description and requirements. This service is
    intended for live traffic, it is scoped for SMS notification systems as well
    as extend func. It uses queries through the HTTP protocol. It is intended to
    cover the features expected in standard REST service. The Port Orders
    instance resource represents a single port request comprising the phone
    number that the customer wishes to port to.
  version: 1.0.0
  contact:
    name: Telintel
    url: https://telintel.com/
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - description: Telintel Portability Server
    url: http://hlr.telintel.net:3080/HlrWebService/Hlr2
tags:
  - name: Request
paths:
  /HlrService:
    get:
      tags:
        - Request
      summary: HTTP Query Procedure
      operationId: Request_hlrServiceDetails
      description: >-
        The server and port numbers for the HLR/HTTP service along with your
        username and password will be provided to you by your sales manager.
      parameters:
        - in: query
          name: login
          required: true
          schema:
            type: string
            example: username
        - in: query
          name: pass
          required: true
          schema:
            type: string
            example: password
        - in: query
          name: number
          required: true
          schema:
            type: integer
            example: 573005555555
      responses:
        '200':
          description: Succesfull request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestHlrServiceDetailsResponse'
components:
  schemas:
    request:
      type: object
      properties:
        username:
          description: As login, authentication parameter
          type: string
        password:
          description: User password
          type: string
        phoneNumber:
          description: Phone number to look up
          type: integer
    response:
      type: object
      properties:
        succeded:
          description: >-
            Returns true when the request has been processed. Otherwise false is
            returned. The transaction details will extend the status accordingly
          type: boolean
        country:
          description: Country information for the subscribed phone number
          type: string
        submittedNumber:
          description: (country_code+phone_number) in long format
          type: string
        mcc:
          description: Mobile Country Code
          type: string
        mnc:
          description: Mobile Network Code
          type: string
        isPorted:
          description: Mobile Country Code
          type: boolean
        originalNetwork:
          description: Original operator for the queried number
          type: string
        portedNetwork:
          description: Current operator for the queried number
          type: string
        transactionDetails:
          description: Returns Ok when the queried number is valid or an error statement
          type: string
        portedMnc:
          description: Ported Mobile Network Code
          type: string
        spid:
          description: Spid number
          type: string
    RequestHlrServiceDetailsResponse:
      type: object
      properties:
        succeded:
          type: boolean
          example: true
        country:
          type: string
          example: Country Name
        submittedNumber:
          type: string
          example: PhoneNumber
        mcc:
          type: string
          example: '123'
        mnc:
          type: string
          example:
            - '321'
        isPorted:
          type: boolean
          example: true
        originalNetwork:
          type: string
          example: Original Network Name
        portedNetwork:
          type: string
          example: Ported Network Name
        transactionDetails:
          type: string
          example: ok
        portedMnc:
          type: string
          example:
            - '124'
        spid:
          type: string
          example: 12345!
