openapi: 3.0.1
info:
  title: Diarupt Engine API
  description: Diarupt Conversation Engine API
  version: 0.0.1
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://engine.diarupt.ai
tags:
  - name: Session
  - name: Resources
paths:
  /create-session:
    post:
      tags:
        - Session
      operationId: Session_createInteraction
      security:
        - apiKeyAuth: []
      description: Creates a new Interaction Session
      requestBody:
        description: Create Session options
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
        required: true
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionCreateInteractionResponse'
        '401':
          description: Unauthorized access
  /terminate-session/{session_id}:
    post:
      tags:
        - Session
      operationId: Session_terminateInteraction
      security:
        - apiKeyAuth: []
      description: Terminates an Interaction Session
      parameters:
        - description: Session ID
          in: path
          name: session_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Session terminated
        '401':
          description: Unauthorized access
  /session/{session_id}:
    get:
      tags:
        - Session
      operationId: Session_getInteraction
      security:
        - apiKeyAuth: []
      description: Gets an Interaction Session
      parameters:
        - description: Session ID
          in: path
          name: session_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Got Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          description: Unauthorized access
  /sessions:
    get:
      tags:
        - Session
      operationId: Session_getAllInteractions
      security:
        - apiKeyAuth: []
      description: Gets all Interaction Sessions
      parameters:
        - in: query
          name: limit
          schema:
            default: 10
            type: string
        - in: query
          name: page
          schema:
            default: 1
            type: string
      responses:
        '200':
          description: Got Sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionGetAllInteractionsResponse'
        '401':
          description: Unauthorized access
  /faces:
    get:
      tags:
        - Resources
      operationId: Resources_getAvailableFaces
      description: Gets all available AI Faces
      responses:
        '200':
          description: Got available faces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcesGetAvailableFacesResponse'
        '401':
          description: Unauthorized access
  /profiles:
    get:
      tags:
        - Resources
      operationId: Resources_getAllAiProfiles
      description: Gets all available AI Profiles
      responses:
        '200':
          description: Got available profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcesGetAllAiProfilesResponse'
        '401':
          description: Unauthorized access
components:
  schemas:
    AIFace:
      properties:
        id:
          description: AI Face identifier
          example: obama
          type: string
        image:
          description: AI Face image
          example: https://diarupt.s3.amazonaws.com/obama.jpg
          type: string
        name:
          description: AI Face name
          example: Obama
          type: string
      required:
        - id
        - name
        - image
      type: object
    AIProfile:
      properties:
        description:
          description: AI Profile description
          example: AI to acts as an Interviewer
          type: string
        id:
          description: AI Profile identifier
          example: interviewer
          type: string
        short_name:
          description: AI Profile short name
          example: Interviewer
          type: string
      required:
        - id
        - short_name
        - description
      type: object
    CreateSessionRequest:
      properties:
        behavior:
          description: AI behaviour extension of set profile for session
          example: Assume the role of a doctor. You're conducting an examination.
          type: string
        context:
          description: Additonal context for session, builds on top of selected profile
          example: '- Candidate Name is Jon. - Position is Software Engineer.'
          type: string
        face:
          description: AI Face for session, see /faces for available faces
          example: obama
          type: string
        profile:
          description: AI Profile for session, see /profiles for available profiles
          example: interviewer
          type: string
        time_limit:
          description: >-
            Time limit for session in seconds, if 0 or not set then no time
            limit
          example: 300
          type: number
      required:
        - face
        - profile
      type: object
    HistoryItem:
      properties:
        content:
          type: string
        role:
          type: string
        timestamp:
          type: string
      type: object
    Options:
      properties:
        behavior:
          type: string
        context:
          type: string
        face:
          type: string
        profile:
          type: string
        time_limit:
          type: integer
      type: object
    Session:
      properties:
        created_at:
          type: string
        duration:
          type: integer
        history:
          items:
            $ref: '#/components/schemas/HistoryItem'
          type: array
        id:
          type: string
        options:
          $ref: '#/components/schemas/Options'
        status:
          enum:
            - IDLE
            - ACTIVE
            - PAUSED
            - TERMINATED
          type: string
      type: object
    SessionCreateInteractionResponse:
      type: object
      properties: {}
      example: {}
    SessionGetAllInteractionsResponse:
      items:
        $ref: '#/components/schemas/Session'
      type: array
    ResourcesGetAvailableFacesResponse:
      items:
        $ref: '#/components/schemas/AIFace'
      type: array
    ResourcesGetAllAiProfilesResponse:
      items:
        $ref: '#/components/schemas/AIProfile'
      type: array
  securitySchemes:
    apiKeyAuth:
      in: header
      name: X-API-KEY
      type: apiKey
