openapi: 3.0.3
info:
  title: CircleCI API
  description: This describes the resources that make up the CircleCI API v2.
  version: v2
  license:
    name: MIT
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://circleci.com/api/v2
tags:
  - description: '[__EXPERIMENTAL__] Endpoints related to creating and managing a project.'
    name: Project
  - name: Context
  - name: Insights
  - name: Pipeline
  - description: Endpoints related to managing policies and making policy decisions
    name: Policy Management
  - description: Endpoints related to manage oidc identity tokens
    name: OIDC Token Management
  - name: Workflow
  - name: Webhook
  - name: Schedule
  - name: Job
  - name: User
paths:
  /context:
    get:
      tags:
        - Context
      summary: List contexts
      operationId: Context_listOwnerContexts
      description: List all contexts for an owner.
      parameters:
        - description: >-
            The unique ID of the owner of the context. Specify either this or
            owner-slug.
          in: query
          name: owner-id
          schema:
            type: string
            format: uuid
          required: false
        - description: >-
            A string that represents an organization. Specify either this or
            owner-id. Cannot be used for accounts.
          in: query
          name: owner-slug
          schema:
            type: string
          required: false
        - description: >-
            The type of the owner. Defaults to "organization". Accounts are only
            used as context owners in server.
          in: query
          name: owner-type
          schema:
            type: string
            enum:
              - account
              - organization
          required: false
        - description: A token to retrieve the next page of results.
          in: query
          name: page-token
          schema:
            type: string
          required: false
          allowEmptyValue: true
      responses:
        '200':
          description: A paginated list of contexts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextListOwnerContextsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextListOwnerContextsdefaultResponse'
    post:
      tags:
        - Context
      summary: Create a new context
      operationId: Context_createNewContext
      description: Creates a new context.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContextCreateNewContextRequest'
      responses:
        '200':
          description: The new context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextCreateNewContextResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextCreateNewContextdefaultResponse'
  /context/{context-id}:
    delete:
      tags:
        - Context
      summary: Delete a context
      operationId: Context_removeContext
      parameters:
        - description: ID of the context (UUID)
          in: path
          name: context-id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: A confirmation message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextRemoveContextResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextRemoveContextdefaultResponse'
    get:
      tags:
        - Context
      summary: Get a context
      operationId: Context_getInformation
      description: Returns basic information about a context.
      parameters:
        - description: ID of the context (UUID)
          in: path
          name: context-id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: The context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextGetInformationResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextGetInformationdefaultResponse'
  /context/{context-id}/environment-variable:
    get:
      tags:
        - Context
      summary: List environment variables
      operationId: Context_listEnvironmentVariables
      description: >-
        List information about environment variables in a context, not including
        their values.
      parameters:
        - description: ID of the context (UUID)
          in: path
          name: context-id
          schema:
            type: string
            format: uuid
          required: true
        - description: A token to retrieve the next page of results.
          in: query
          name: page-token
          schema:
            type: string
          required: false
          allowEmptyValue: true
      responses:
        '200':
          description: A paginated list of environment variables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextListEnvironmentVariablesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContextListEnvironmentVariablesdefaultResponse
  /context/{context-id}/environment-variable/{env-var-name}:
    put:
      tags:
        - Context
      summary: Add or update an environment variable
      operationId: Context_updateEnvironmentVariable
      description: >-
        Create or update an environment variable within a context. Returns
        information about the environment variable, not including its value.
      parameters:
        - description: ID of the context (UUID)
          in: path
          name: context-id
          schema:
            type: string
            format: uuid
          required: true
        - description: The name of the environment variable
          in: path
          name: env-var-name
          schema:
            type: string
          required: true
          example: POSTGRES_USER
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContextUpdateEnvironmentVariableRequest'
      responses:
        '200':
          description: The new environment variable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextUpdateEnvironmentVariableResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContextUpdateEnvironmentVariabledefaultResponse
    delete:
      tags:
        - Context
      summary: Remove an environment variable
      operationId: Context_removeEnvironmentVariable
      description: Delete an environment variable from a context.
      parameters:
        - description: The name of the environment variable
          in: path
          name: env-var-name
          schema:
            type: string
          required: true
          example: POSTGRES_USER
        - description: ID of the context (UUID)
          in: path
          name: context-id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: A confirmation message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextRemoveEnvironmentVariableResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContextRemoveEnvironmentVariabledefaultResponse
  /insights/pages/{project-slug}/summary:
    get:
      tags:
        - Insights
      summary: >-
        Get summary metrics and trends for a project across it's workflows and
        branches
      operationId: Insights_getProjectSummaryMetrics
      description: >-
        Get summary metrics and trends for a project at workflow and branch
        level.
                     Workflow runs going back at most 90 days are included in the aggregation window.
                     Trends are only supported upto last 30 days.
                     Please note that Insights is not a financial reporting tool and should not be used for precise credit reporting.  Credit reporting from Insights does not use the same source of truth as the billing information that is found in the Plan Overview page in the CircleCI UI, nor does the underlying data have the same data accuracy guarantees as the billing information in the CircleCI UI.  This may lead to discrepancies between credits reported from Insights and the billing information in the Plan Overview page of the CircleCI UI.  For precise credit reporting, always use the Plan Overview page in the CircleCI UI.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: >-
            The time window used to calculate summary metrics. If not provided,
            defaults to last-90-days
          in: query
          name: reporting-window
          schema:
            type: string
            enum:
              - last-7-days
              - last-90-days
              - last-24-hours
              - last-30-days
              - last-60-days
          required: false
          example: last-90-days
        - description: >-
            The names of VCS branches to include in branch-level workflow
            metrics.
          in: query
          name: branches
          schema:
            type: object
          required: false
          example: >-
            A single branch: ?branches=main or for multiple branches:
            ?branches=main&branches=feature&branches=dev
        - description: The names of workflows to include in workflow-level metrics.
          in: query
          name: workflow-names
          schema:
            type: object
          required: false
          example: |-
            A single workflow name: ?workflow-names=build-test-deploy or
                for multiple workflow names: ?workflow-names=build&workflow-names=test-and-deploy.
      responses:
        '200':
          description: Aggregated summary metrics and trends by workflow and branches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetProjectSummaryMetricsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsGetProjectSummaryMetricsdefaultResponse
  /insights/time-series/{project-slug}/workflows/{workflow-name}/jobs:
    get:
      tags:
        - Insights
      summary: Job timeseries data
      operationId: Insights_getJobTimeseriesData
      description: >-
        Get timeseries data for all jobs within a workflow. Hourly granularity
        data is only retained for 48 hours while daily granularity data is
        retained for 90 days.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: The name of the workflow.
          in: path
          name: workflow-name
          schema:
            type: string
          required: true
          example: build-and-test
        - description: >-
            The name of a vcs branch. If not passed we will scope the API call
            to the default branch.
          in: query
          name: branch
          schema:
            type: string
          required: false
        - description: The granularity for which to query timeseries data.
          in: query
          name: granularity
          schema:
            type: string
            enum:
              - daily
              - hourly
          required: false
          example: hourly
        - description: >-
            Include only executions that started at or after this date. This
            must be specified if an end-date is provided.
          in: query
          name: start-date
          schema:
            type: string
            format: date-time
          required: false
          example: '2020-08-21T13:26:29Z'
        - description: >-
            Include only executions that started before this date. This date can
            be at most 90 days after the start-date.
          in: query
          name: end-date
          schema:
            type: string
            format: date-time
          required: false
          example: '2020-09-04T13:26:29Z'
      responses:
        '200':
          description: An array of timeseries data, one entry per job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetJobTimeseriesDataResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsGetJobTimeseriesDatadefaultResponse
  /insights/{org-slug}/summary:
    get:
      tags:
        - Insights
      summary: >-
        Get summary metrics with trends for the entire org, and for each
        project.
      operationId: Insights_getSummaryMetricsWithTrends
      description: |-
        Gets aggregated summary metrics with trends for the entire org.
                      Also gets aggregated metrics and trends for each project belonging to the org.
      parameters:
        - description: >-
            Org slug in the form `vcs-slug/org-name`. The `/` characters may be
            URL-escaped.
          in: path
          name: org-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public
        - description: >-
            The time window used to calculate summary metrics. If not provided,
            defaults to last-90-days
          in: query
          name: reporting-window
          schema:
            type: string
            enum:
              - last-7-days
              - last-90-days
              - last-24-hours
              - last-30-days
              - last-60-days
          required: false
          example: last-90-days
        - description: List of project names.
          in: query
          name: project-names
          schema:
            type: object
          required: false
          example: >-
            For a single project: ?project-names=some-project or for multiple
            projects: ?project-names=some-project1&project-names=some-project2
      responses:
        '200':
          description: summary metrics with trends for an entire org and it's projects.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsGetSummaryMetricsWithTrendsResponse
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsGetSummaryMetricsWithTrendsdefaultResponse
  /insights/{project-slug}/branches:
    get:
      tags:
        - Insights
      summary: Get all branches for a project
      operationId: Insights_listProjectBranches
      description: >-
        Get a list of all branches for a specified project. The list will only
        contain branches currently available within Insights. The maximum number
        of branches returned by this endpoint is 5,000.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: >-
            The name of a workflow. If not passed we will scope the API call to
            the project.
          in: query
          name: workflow-name
          schema:
            type: string
          required: false
          example: build-and-test
      responses:
        '200':
          description: A list of branches for a project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsListProjectBranchesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsListProjectBranchesdefaultResponse
  /insights/{project-slug}/flaky-tests:
    get:
      tags:
        - Insights
      summary: Get flaky tests for a project
      operationId: Insights_getFlakyTests
      description: >-
        Get a list of flaky tests for a given project. Flaky tests are branch
        agnostic.
                     A flaky test is a test that passed and failed in the same commit.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
      responses:
        '200':
          description: A list of flaky tests for a project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetFlakyTestsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetFlakyTestsdefaultResponse'
  /insights/{project-slug}/workflows:
    get:
      tags:
        - Insights
      summary: Get summary metrics for a project's workflows
      operationId: Insights_getProjectWorkflowMetrics
      description: >-
        Get summary metrics for a project's workflows.  Workflow runs going back
        at most 90 days are included in the aggregation window. Metrics are
        refreshed daily, and thus may not include executions from the last 24
        hours.  Please note that Insights is not a financial reporting tool and
        should not be used for precise credit reporting.  Credit reporting from
        Insights does not use the same source of truth as the billing
        information that is found in the Plan Overview page in the CircleCI UI,
        nor does the underlying data have the same data accuracy guarantees as
        the billing information in the CircleCI UI.  This may lead to
        discrepancies between credits reported from Insights and the billing
        information in the Plan Overview page of the CircleCI UI.  For precise
        credit reporting, always use the Plan Overview page in the CircleCI UI.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: A token to retrieve the next page of results.
          in: query
          name: page-token
          schema:
            type: string
          required: false
          allowEmptyValue: true
        - description: >-
            Whether to retrieve data for all branches combined. Use either this
            parameter OR the branch name parameter.
          in: query
          name: all-branches
          schema:
            type: boolean
          required: false
        - description: >-
            The name of a vcs branch. If not passed we will scope the API call
            to the default branch.
          in: query
          name: branch
          schema:
            type: string
          required: false
        - description: >-
            The time window used to calculate summary metrics. If not provided,
            defaults to last-90-days
          in: query
          name: reporting-window
          schema:
            type: string
            enum:
              - last-7-days
              - last-90-days
              - last-24-hours
              - last-30-days
              - last-60-days
          required: false
          example: last-90-days
      responses:
        '200':
          description: A paginated list of summary metrics by workflow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetProjectWorkflowMetricsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsGetProjectWorkflowMetricsdefaultResponse
  /insights/{project-slug}/workflows/{workflow-name}:
    get:
      tags:
        - Insights
      summary: Get recent runs of a workflow
      operationId: Insights_getRecentWorkflowRuns
      description: >-
        Get recent runs of a workflow. Runs going back at most 90 days are
        returned. Please note that Insights is not a financial reporting tool
        and should not be used for precise credit reporting.  Credit reporting
        from Insights does not use the same source of truth as the billing
        information that is found in the Plan Overview page in the CircleCI UI,
        nor does the underlying data have the same data accuracy guarantees as
        the billing information in the CircleCI UI.  This may lead to
        discrepancies between credits reported from Insights and the billing
        information in the Plan Overview page of the CircleCI UI.  For precise
        credit reporting, always use the Plan Overview page in the CircleCI UI.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: The name of the workflow.
          in: path
          name: workflow-name
          schema:
            type: string
          required: true
          example: build-and-test
        - description: >-
            Whether to retrieve data for all branches combined. Use either this
            parameter OR the branch name parameter.
          in: query
          name: all-branches
          schema:
            type: boolean
          required: false
        - description: >-
            The name of a vcs branch. If not passed we will scope the API call
            to the default branch.
          in: query
          name: branch
          schema:
            type: string
          required: false
        - description: A token to retrieve the next page of results.
          in: query
          name: page-token
          schema:
            type: string
          required: false
          allowEmptyValue: true
        - description: >-
            Include only executions that started at or after this date. This
            must be specified if an end-date is provided.
          in: query
          name: start-date
          schema:
            type: string
            format: date-time
          required: false
          example: '2020-08-21T13:26:29Z'
        - description: >-
            Include only executions that started before this date. This date can
            be at most 90 days after the start-date.
          in: query
          name: end-date
          schema:
            type: string
            format: date-time
          required: false
          example: '2020-09-04T13:26:29Z'
      responses:
        '200':
          description: A paginated list of recent workflow runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetRecentWorkflowRunsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsGetRecentWorkflowRunsdefaultResponse
  /insights/{project-slug}/workflows/{workflow-name}/jobs:
    get:
      tags:
        - Insights
      summary: Get summary metrics for a project workflow's jobs.
      operationId: Insights_getProjectWorkflowJobMetrics
      description: >-
        Get summary metrics for a project workflow's jobs. Job runs going back
        at most 90 days are included in the aggregation window. Metrics are
        refreshed daily, and thus may not include executions from the last 24
        hours. Please note that Insights is not a financial reporting tool and
        should not be used for precise credit reporting.  Credit reporting from
        Insights does not use the same source of truth as the billing
        information that is found in the Plan Overview page in the CircleCI UI,
        nor does the underlying data have the same data accuracy guarantees as
        the billing information in the CircleCI UI.  This may lead to
        discrepancies between credits reported from Insights and the billing
        information in the Plan Overview page of the CircleCI UI.  For precise
        credit reporting, always use the Plan Overview page in the CircleCI UI.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: The name of the workflow.
          in: path
          name: workflow-name
          schema:
            type: string
          required: true
          example: build-and-test
        - description: A token to retrieve the next page of results.
          in: query
          name: page-token
          schema:
            type: string
          required: false
          allowEmptyValue: true
        - description: >-
            Whether to retrieve data for all branches combined. Use either this
            parameter OR the branch name parameter.
          in: query
          name: all-branches
          schema:
            type: boolean
          required: false
        - description: >-
            The name of a vcs branch. If not passed we will scope the API call
            to the default branch.
          in: query
          name: branch
          schema:
            type: string
          required: false
        - description: >-
            The time window used to calculate summary metrics. If not provided,
            defaults to last-90-days
          in: query
          name: reporting-window
          schema:
            type: string
            enum:
              - last-7-days
              - last-90-days
              - last-24-hours
              - last-30-days
              - last-60-days
          required: false
          example: last-90-days
      responses:
        '200':
          description: A paginated list of summary metrics by workflow job.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsGetProjectWorkflowJobMetricsResponse
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsGetProjectWorkflowJobMetricsdefaultResponse
  /insights/{project-slug}/workflows/{workflow-name}/summary:
    get:
      tags:
        - Insights
      summary: Get metrics and trends for workflows
      operationId: Insights_getWorkflowSummaryMetrics
      description: >-
        Get the metrics and trends for a particular workflow on a single branch
        or all branches
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: The name of the workflow.
          in: path
          name: workflow-name
          schema:
            type: string
          required: true
          example: build-and-test
        - description: >-
            Whether to retrieve data for all branches combined. Use either this
            parameter OR the branch name parameter.
          in: query
          name: all-branches
          schema:
            type: boolean
          required: false
        - description: >-
            The name of a vcs branch. If not passed we will scope the API call
            to the default branch.
          in: query
          name: branch
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Metrics and trends for a workflow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetWorkflowSummaryMetricsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsGetWorkflowSummaryMetricsdefaultResponse
  /insights/{project-slug}/workflows/{workflow-name}/test-metrics:
    get:
      tags:
        - Insights
      summary: Get test metrics for a project's workflows
      operationId: Insights_getProjectWorkflowTestMetrics
      description: >-
        Get test metrics for a project's workflows. Currently tests metrics are
        calculated based on 10 most recent workflow runs.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: The name of the workflow.
          in: path
          name: workflow-name
          schema:
            type: string
          required: true
          example: build-and-test
        - description: >-
            The name of a vcs branch. If not passed we will scope the API call
            to the default branch.
          in: query
          name: branch
          schema:
            type: string
          required: false
        - description: >-
            Whether to retrieve data for all branches combined. Use either this
            parameter OR the branch name parameter.
          in: query
          name: all-branches
          schema:
            type: boolean
          required: false
      responses:
        '200':
          description: A list of test metrics by workflow
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsGetProjectWorkflowTestMetricsResponse
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InsightsGetProjectWorkflowTestMetricsdefaultResponse
  /me:
    get:
      tags:
        - User
      summary: User Information
      operationId: User_getInformation
      description: Provides information about the user that is currently signed in.
      responses:
        '200':
          description: User login information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetInformationResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetInformationdefaultResponse'
  /me/collaborations:
    get:
      tags:
        - User
      summary: Collaborations
      operationId: User_listCollaborations
      description: >-
        Provides the set of organizations of which a user is a member or a
        collaborator.


        The set of organizations that a user can collaborate on is composed of:


        * Organizations that the current user belongs to across VCS types (e.g.
        BitBucket, GitHub)

        * The parent organization of repository that the user can collaborate
        on, but is not necessarily a member of

        * The organization of the current user's account
      responses:
        '200':
          description: Collaborations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListCollaborationsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListCollaborationsdefaultResponse'
  /pipeline:
    get:
      tags:
        - Pipeline
      summary: Get a list of pipelines
      operationId: Pipeline_listRecentPipelines
      description: >-
        Returns all pipelines for the most recently built projects (max 250) you
        follow in an organization.
      parameters:
        - description: >-
            Org slug in the form `vcs-slug/org-name`. For projects that use
            GitLab or GitHub App, use `circleci` as the `vcs-slug` and replace
            the `org-name` with the organization ID (found in Organization
            Settings).
          in: query
          name: org-slug
          schema:
            type: string
          required: false
          example: gh/CircleCI-Public
        - description: A token to retrieve the next page of results.
          in: query
          name: page-token
          schema:
            type: string
          required: false
          allowEmptyValue: true
        - description: Only include entries created by your user.
          in: query
          name: mine
          schema:
            type: boolean
          required: false
      responses:
        '200':
          description: A sequence of pipelines.
          links:
            NextPipelinePage:
              operationId: listPipelines
              parameters:
                page-token: $response.body#/next_page_token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListRecentPipelinesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PipelineListRecentPipelinesdefaultResponse
  /pipeline/continue:
    post:
      tags:
        - Pipeline
      summary: Continue a pipeline
      operationId: Pipeline_continueExecution
      description: >-
        Continue a pipeline from the setup phase. For information on using
        pipeline parameters with dynamic configuration, see the [Pipeline values
        and
        parameters](https://circleci.com/docs/pipeline-variables/#pipeline-parameters-and-dynamic-configuration)
        docs.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineContinueExecutionRequest'
      responses:
        '200':
          description: A confirmation message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineContinueExecutionResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineContinueExecutiondefaultResponse'
  /pipeline/{pipeline-id}:
    get:
      tags:
        - Pipeline
      summary: Get a pipeline by ID
      operationId: Pipeline_getById
      description: Returns a pipeline by the pipeline ID.
      parameters:
        - description: The unique ID of the pipeline.
          in: path
          name: pipeline-id
          schema:
            type: string
            format: uuid
          required: true
          example: 5034460f-c7c4-4c43-9457-de07e2029e7b
      responses:
        '200':
          description: A pipeline object.
          links:
            ProjectFromPipeline:
              operationId: getProjectBySlug
              parameters:
                project_slug: $response.body#/project_slug
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetByIdResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetByIddefaultResponse'
  /pipeline/{pipeline-id}/config:
    get:
      tags:
        - Pipeline
      summary: Get a pipeline's configuration
      operationId: Pipeline_getConfigurationById
      description: Returns a pipeline's configuration by ID.
      parameters:
        - description: The unique ID of the pipeline.
          in: path
          name: pipeline-id
          schema:
            type: string
            format: uuid
          required: true
          example: 5034460f-c7c4-4c43-9457-de07e2029e7b
      responses:
        '200':
          description: The configuration strings for the pipeline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetConfigurationByIdResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PipelineGetConfigurationByIddefaultResponse
  /pipeline/{pipeline-id}/workflow:
    get:
      tags:
        - Pipeline
      summary: Get a pipeline's workflows
      operationId: Pipeline_listWorkflows
      description: Returns a paginated list of workflows by pipeline ID.
      parameters:
        - description: The unique ID of the pipeline.
          in: path
          name: pipeline-id
          schema:
            type: string
            format: uuid
          required: true
          example: 5034460f-c7c4-4c43-9457-de07e2029e7b
        - description: A token to retrieve the next page of results.
          in: query
          name: page-token
          schema:
            type: string
          required: false
          allowEmptyValue: true
      responses:
        '200':
          description: A paginated list of workflow objects.
          links:
            NextPipelineWorkflowsPage:
              operationId: listWorkflowsByPipelineId
              parameters:
                pipeline-id: $request.path.pipeline-id
                page-token: $response.body#/next_page_token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListWorkflowsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListWorkflowsdefaultResponse'
  /project/{project-slug}:
    get:
      tags:
        - Project
      summary: Get a project
      operationId: Project_getBySlug
      description: Retrieves a project by project slug.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
      responses:
        '200':
          description: A project object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetBySlugResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetBySlugdefaultResponse'
  /project/{project-slug}/checkout-key:
    get:
      tags:
        - Project
      summary: Get all checkout keys
      operationId: Project_listCheckoutKeys
      description: Returns a sequence of checkout keys for `:project`.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: >-
            The fingerprint digest type to return. This may be either `md5` or
            `sha256`. If not passed, defaults to `md5`.
          in: query
          name: digest
          schema:
            type: string
            enum:
              - sha256
              - md5
          required: false
      responses:
        '200':
          description: A sequence of checkout keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListCheckoutKeysResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListCheckoutKeysdefaultResponse'
    post:
      tags:
        - Project
      summary: Create a new checkout key
      operationId: Project_createCheckoutKey
      description: >-
        Not available to projects that use GitLab or GitHub App. Creates a new
        checkout key. This API request is only usable with a user API token.
                                   Please ensure that you have authorized your account with GitHub before creating user keys.
                                   This is necessary to give CircleCI the permission to create a user key associated with
                                   your GitHub user account. You can find this page by visiting Project Settings > Checkout SSH Keys
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateCheckoutKeyRequest'
      responses:
        '201':
          description: The checkout key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreateCheckoutKeyResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreateCheckoutKeydefaultResponse'
  /project/{project-slug}/checkout-key/{fingerprint}:
    get:
      tags:
        - Project
      summary: Get a checkout key
      operationId: Project_getCheckoutKeyByFingerprint
      description: >-
        Returns an individual checkout key via md5 or sha256 fingerprint. sha256
        keys should be url-encoded.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: An SSH key fingerprint.
          in: path
          name: fingerprint
          schema:
            type: string
          required: true
          example: c9:0b:1c:4f:d5:65:56:b9:ad:88:f9:81:2b:37:74:2f
      responses:
        '200':
          description: The checkout key.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProjectGetCheckoutKeyByFingerprintResponse
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProjectGetCheckoutKeyByFingerprintdefaultResponse
    delete:
      tags:
        - Project
      summary: Delete a checkout key
      operationId: Project_deleteCheckoutKeyByFingerprint
      description: >-
        Deletes the checkout key via md5 or sha256 fingerprint. sha256 keys
        should be url-encoded.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: An SSH key fingerprint.
          in: path
          name: fingerprint
          schema:
            type: string
          required: true
          example: c9:0b:1c:4f:d5:65:56:b9:ad:88:f9:81:2b:37:74:2f
      responses:
        '200':
          description: A confirmation message.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProjectDeleteCheckoutKeyByFingerprintResponse
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProjectDeleteCheckoutKeyByFingerprintdefaultResponse
  /project/{project-slug}/envvar:
    get:
      tags:
        - Project
      summary: List all environment variables
      operationId: Project_listEnvVarValues
      description: >-
        Returns four 'x' characters, in addition to the last four ASCII
        characters of the value, consistent with the display of environment
        variable values on the CircleCI website.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
      responses:
        '200':
          description: A sequence of environment variables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListEnvVarValuesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListEnvVarValuesdefaultResponse'
    post:
      tags:
        - Project
      summary: Create an environment variable
      operationId: Project_createEnvVar
      description: Creates a new environment variable.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateEnvVarRequest'
      responses:
        '201':
          description: The environment variable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreateEnvVarResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreateEnvVardefaultResponse'
  /project/{project-slug}/envvar/{name}:
    delete:
      tags:
        - Project
      summary: Delete an environment variable
      operationId: Project_deleteEnvironmentVariable
      description: Deletes the environment variable named :name.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: The name of the environment variable.
          in: path
          name: name
          schema:
            type: string
          required: true
          example: foo
      responses:
        '200':
          description: A confirmation message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeleteEnvironmentVariableResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProjectDeleteEnvironmentVariabledefaultResponse
    get:
      tags:
        - Project
      summary: Get a masked environment variable
      operationId: Project_getMaskedEnvVar
      description: Returns the masked value of environment variable :name.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: The name of the environment variable.
          in: path
          name: name
          schema:
            type: string
          required: true
          example: foo
      responses:
        '200':
          description: The environment variable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetMaskedEnvVarResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetMaskedEnvVardefaultResponse'
  /project/{project-slug}/job/{job-number}:
    get:
      tags:
        - Job
      summary: Get job details
      operationId: Job_getDetails
      description: Returns job details.
      parameters:
        - description: The number of the job.
          in: path
          name: job-number
          schema: {}
          required: true
          example: '123'
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
      responses:
        '200':
          description: Job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetDetailsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetDetailsdefaultResponse'
  /project/{project-slug}/job/{job-number}/cancel:
    post:
      tags:
        - Job
      summary: Cancel job
      operationId: Job_cancelWithNumber
      description: Cancel job with a given job number.
      parameters:
        - description: The number of the job.
          in: path
          name: job-number
          schema: {}
          required: true
          example: '123'
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCancelWithNumberResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCancelWithNumberdefaultResponse'
  /project/{project-slug}/pipeline:
    get:
      tags:
        - Pipeline
      summary: Get all pipelines
      operationId: Pipeline_getAllPipelines
      description: Returns all pipelines for this project.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: The name of a vcs branch.
          in: query
          name: branch
          schema:
            type: string
          required: false
          allowEmptyValue: true
        - description: A token to retrieve the next page of results.
          in: query
          name: page-token
          schema:
            type: string
          required: false
          allowEmptyValue: true
      responses:
        '200':
          description: A sequence of pipelines.
          links:
            NextPipelinePage:
              operationId: listPipelinesForProject
              parameters:
                project-slug: $request.path.project-slug
                page-token: $response.body#/next_page_token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetAllPipelinesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetAllPipelinesdefaultResponse'
    post:
      tags:
        - Pipeline
      summary: Trigger a new pipeline
      operationId: Pipeline_triggerNewPipeline
      description: >-
        Not yet available to projects that use GitLab or GitHub App. Triggers a
        new pipeline on the project.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineTriggerNewPipelineRequest'
      responses:
        '201':
          description: The created pipeline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineTriggerNewPipelineResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineTriggerNewPipelinedefaultResponse'
  /project/{project-slug}/pipeline/mine:
    get:
      tags:
        - Pipeline
      summary: Get your pipelines
      operationId: Pipeline_listUserPipelines
      description: >-
        Returns a sequence of all pipelines for this project triggered by the
        user.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: A token to retrieve the next page of results.
          in: query
          name: page-token
          schema:
            type: string
          required: false
          allowEmptyValue: true
      responses:
        '200':
          description: A sequence of pipelines.
          links:
            NextPipelinePage:
              operationId: listMyPipelines
              parameters:
                project-slug: $request.path.project-slug
                page-token: $response.body#/next_page_token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListUserPipelinesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListUserPipelinesdefaultResponse'
  /project/{project-slug}/pipeline/{pipeline-number}:
    get:
      tags:
        - Pipeline
      summary: Get a pipeline by pipeline number
      operationId: Pipeline_getByNumber
      description: Returns a pipeline by the pipeline number.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: The number of the pipeline.
          in: path
          name: pipeline-number
          schema: {}
          required: true
          example: '123'
      responses:
        '200':
          description: A pipeline object.
          links:
            ProjectFromPipeline:
              operationId: getProjectBySlug
              parameters:
                project_slug: $response.body#/project_slug
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetByNumberResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetByNumberdefaultResponse'
  /project/{project-slug}/schedule:
    post:
      tags:
        - Schedule
      summary: Create a schedule
      operationId: Schedule_createNewSchedule
      description: >-
        Not yet available to projects that use GitLab or GitHub App. Creates a
        schedule and returns the created schedule.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleCreateNewScheduleRequest'
      responses:
        '201':
          description: A schedule object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleCreateNewScheduleResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleCreateNewScheduledefaultResponse'
    get:
      tags:
        - Schedule
      summary: Get all schedules
      operationId: Schedule_getAllSchedules
      description: Returns all schedules for this project.
      parameters:
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
        - description: A token to retrieve the next page of results.
          in: query
          name: page-token
          schema:
            type: string
          required: false
          allowEmptyValue: true
      responses:
        '200':
          description: A sequence of schedules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleGetAllSchedulesResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleGetAllSchedulesdefaultResponse'
  /project/{project-slug}/{job-number}/artifacts:
    get:
      tags:
        - Job
      summary: Get a job's artifacts
      operationId: Job_getArtifacts
      description: Returns a job's artifacts.
      parameters:
        - description: The number of the job.
          in: path
          name: job-number
          schema: {}
          required: true
          example: '123'
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
      responses:
        '200':
          description: A paginated list of the job's artifacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetArtifactsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetArtifactsdefaultResponse'
  /project/{project-slug}/{job-number}/tests:
    get:
      tags:
        - Job
      summary: Get test metadata
      operationId: Job_getTestMetadata
      description: >-
        Get test metadata for a build. In the rare case where there is more than
        250MB of test data on the job, no results will be returned.
      parameters:
        - description: The number of the job.
          in: path
          name: job-number
          schema: {}
          required: true
          example: '123'
        - description: >-
            Project slug in the form `vcs-slug/org-name/repo-name`. The `/`
            characters may be URL-escaped. For projects that use GitLab or
            GitHub App, use `circleci` as the `vcs-slug`, replace `org-name`
            with the organization ID (found in Organization Settings), and
            replace `repo-name` with the project ID (found in Project Settings).
          in: path
          name: project-slug
          schema:
            type: string
          required: true
          example: gh/CircleCI-Public/api-preview-docs
          allowReserved: true
      responses:
        '200':
          description: A paginated list of test results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetTestMetadataResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetTestMetadatadefaultResponse'
  /schedule/{schedule-id}:
    get:
      tags:
        - Schedule
      summary: Get a schedule
      operationId: Schedule_getById
      description: Get a schedule by id.
      parameters:
        - description: The unique ID of the schedule.
          in: path
          name: schedule-id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: A schedule object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleGetByIdResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleGetByIddefaultResponse'
    patch:
      tags:
        - Schedule
      summary: Update a schedule
      operationId: Schedule_updateSchedule
      description: >-
        Not yet available to projects that use GitLab or GitHub App. Updates a
        schedule and returns the updated schedule.
      parameters:
        - description: The unique ID of the schedule.
          in: path
          name: schedule-id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleUpdateScheduleRequest'
      responses:
        '200':
          description: A schedule object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleUpdateScheduleResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleUpdateScheduledefaultResponse'
    delete:
      tags:
        - Schedule
      summary: Delete a schedule
      operationId: Schedule_removeById
      description: >-
        Not yet available to projects that use GitLab or GitHub App. Deletes the
        schedule by id.
      parameters:
        - description: The unique ID of the schedule.
          in: path
          name: schedule-id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: A confirmation message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleRemoveByIdResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleRemoveByIddefaultResponse'
  /user/{id}:
    get:
      tags:
        - User
      summary: User Information
      operationId: User_getUserInformation
      description: Provides information about the user with the given ID.
      parameters:
        - description: The unique ID of the user.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: User login information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetUserInformationResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetUserInformationdefaultResponse'
  /webhook:
    get:
      tags:
        - Webhook
      summary: List webhooks
      operationId: Webhook_listMatchingScope
      description: >-
        Get a list of outbound webhooks that match the given scope-type and
        scope-id
      parameters:
        - description: >-
            ID of the scope being used (at the moment, only project ID is
            supported)
          in: query
          name: scope-id
          schema:
            type: string
            format: uuid
          required: true
        - description: Type of the scope being used
          in: query
          name: scope-type
          schema:
            type: string
            enum:
              - project
          required: true
      responses:
        '200':
          description: A list of webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListMatchingScopeResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListMatchingScopedefaultResponse'
    post:
      tags:
        - Webhook
      summary: Create an outbound webhook
      operationId: Webhook_createOutboundWebhook
      description: Creates an outbound webhook.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateOutboundWebhookRequest'
      responses:
        '201':
          description: A webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookCreateOutboundWebhookResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WebhookCreateOutboundWebhookdefaultResponse
  /webhook/{webhook-id}:
    get:
      tags:
        - Webhook
      summary: Get a webhook
      operationId: Webhook_getById
      description: Get an outbound webhook by id.
      parameters:
        - description: ID of the webhook (UUID)
          in: path
          name: webhook-id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: A webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookGetByIdResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookGetByIddefaultResponse'
    put:
      tags:
        - Webhook
      summary: Update an outbound webhook
      operationId: Webhook_updateOutboundWebhook
      description: Updates an outbound webhook.
      parameters:
        - description: ID of the webhook (UUID)
          in: path
          name: webhook-id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateOutboundWebhookRequest'
      responses:
        '200':
          description: A webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookUpdateOutboundWebhookResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WebhookUpdateOutboundWebhookdefaultResponse
    delete:
      tags:
        - Webhook
      summary: Delete an outbound webhook
      operationId: Webhook_deleteOutboundWebhook
      description: Deletes an outbound webhook
      parameters:
        - description: ID of the webhook (UUID)
          in: path
          name: webhook-id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: A confirmation message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeleteOutboundWebhookResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WebhookDeleteOutboundWebhookdefaultResponse
  /workflow/{id}:
    get:
      tags:
        - Workflow
      summary: Get a workflow
      operationId: Workflow_getById
      description: Returns summary fields of a workflow by ID.
      parameters:
        - description: The unique ID of the workflow.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          example: 5034460f-c7c4-4c43-9457-de07e2029e7b
      responses:
        '200':
          description: A workflow object.
          links:
            ProjectFromGetWorkflow:
              operationId: getProjectBySlug
              parameters:
                project_slug: $response.body#/project_slug
            WorkflowJobs:
              operationId: listWorkflowJobs
              parameters:
                id: $response.body#/id
            CancelWorkflow:
              operationId: cancelWorkflow
              parameters:
                id: $response.body#/id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowGetByIdResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowGetByIddefaultResponse'
  /workflow/{id}/approve/{approval_request_id}:
    post:
      tags:
        - Workflow
      summary: Approve a job
      operationId: Workflow_approveJob
      description: Approves a pending approval job in a workflow.
      parameters:
        - description: The ID of the job being approved.
          in: path
          name: approval_request_id
          schema:
            type: string
            format: uuid
          required: true
        - description: The unique ID of the workflow.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          example: 5034460f-c7c4-4c43-9457-de07e2029e7b
      responses:
        '202':
          description: A confirmation message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowApproveJobResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowApproveJobdefaultResponse'
  /workflow/{id}/cancel:
    post:
      tags:
        - Workflow
      summary: Cancel a workflow
      operationId: Workflow_cancelWorkflow
      description: Cancels a running workflow.
      parameters:
        - description: The unique ID of the workflow.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          example: 5034460f-c7c4-4c43-9457-de07e2029e7b
      responses:
        '202':
          description: A confirmation message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowCancelWorkflowResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowCancelWorkflowdefaultResponse'
  /workflow/{id}/job:
    get:
      tags:
        - Workflow
      summary: Get a workflow's jobs
      operationId: Workflow_getJobs
      description: Returns a sequence of jobs for a workflow.
      parameters:
        - description: The unique ID of the workflow.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          example: 5034460f-c7c4-4c43-9457-de07e2029e7b
      responses:
        '200':
          description: A paginated sequence of jobs.
          links:
            NextWorkflowJobPage:
              operationId: listWorkflowJobs
              parameters:
                id: $request.path.id
                page-token: $response.body#/next_page_token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowGetJobsResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowGetJobsdefaultResponse'
  /workflow/{id}/rerun:
    post:
      tags:
        - Workflow
      summary: Rerun a workflow
      operationId: Workflow_rerunWorkflow
      description: Reruns a workflow.
      parameters:
        - description: The unique ID of the workflow.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          example: 5034460f-c7c4-4c43-9457-de07e2029e7b
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowRerunWorkflowRequest'
      responses:
        '202':
          description: A confirmation message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRerunWorkflowResponse'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRerunWorkflowdefaultResponse'
  /org/{orgID}/oidc-custom-claims:
    delete:
      tags:
        - OIDC Token Management
      summary: Delete org-level claims
      operationId: OidcTokenManagement_deleteOrgClaims
      description: Deletes org-level custom claims of OIDC identity tokens
      parameters:
        - $ref: '#/components/parameters/OrgID'
        - $ref: '#/components/parameters/Claims'
      responses:
        '200':
          description: Claims successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - OIDC Token Management
      summary: Get org-level claims
      operationId: OidcTokenManagement_getOrgClaims
      description: Fetches org-level custom claims of OIDC identity tokens
      parameters:
        - $ref: '#/components/parameters/OrgID'
      responses:
        '200':
          description: Claims successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - OIDC Token Management
      summary: Patch org-level claims
      operationId: OidcTokenManagement_updateOrgClaims
      description: Creates/Updates org-level custom claims of OIDC identity tokens
      parameters:
        - $ref: '#/components/parameters/OrgID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchClaimsRequest'
      responses:
        '200':
          description: Claims successfully patched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /org/{orgID}/project/{projectID}/oidc-custom-claims:
    delete:
      tags:
        - OIDC Token Management
      summary: Delete project-level claims
      operationId: OidcTokenManagement_deleteProjectClaims
      description: Deletes project-level custom claims of OIDC identity tokens
      parameters:
        - $ref: '#/components/parameters/OrgID'
        - $ref: '#/components/parameters/ProjectID'
        - $ref: '#/components/parameters/Claims'
      responses:
        '200':
          description: Claims successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - OIDC Token Management
      summary: Get project-level claims
      operationId: OidcTokenManagement_getProjectClaims
      description: Fetches project-level custom claims of OIDC identity tokens
      parameters:
        - $ref: '#/components/parameters/OrgID'
        - $ref: '#/components/parameters/ProjectID'
      responses:
        '200':
          description: Claims successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - OIDC Token Management
      summary: Patch project-level claims
      operationId: OidcTokenManagement_updateProjectClaims
      description: Creates/Updates project-level custom claims of OIDC identity tokens
      parameters:
        - $ref: '#/components/parameters/OrgID'
        - $ref: '#/components/parameters/ProjectID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchClaimsRequest'
      responses:
        '200':
          description: Claims successfully patched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /owner/{ownerID}/context/{context}/decision:
    get:
      tags:
        - Policy Management
      summary: Retrieves the owner's decision audit logs.
      operationId: PolicyManagement_getDecisionAuditLogs
      description: >-
        This endpoint will return a list of decision audit logs that were made
        using this owner's policies.
      parameters:
        - $ref: '#/components/parameters/OwnerID'
        - $ref: '#/components/parameters/Context'
        - description: Return decisions matching this decision status.
          in: query
          name: status
          required: false
          schema:
            type: string
        - description: Return decisions made after this date.
          in: query
          name: after
          required: false
          schema:
            format: date-time
            type: string
        - description: Return decisions made before this date.
          in: query
          name: before
          required: false
          schema:
            format: date-time
            type: string
        - description: Return decisions made on this branch.
          in: query
          name: branch
          required: false
          schema:
            type: string
        - description: Return decisions made for this project.
          in: query
          name: project_id
          required: false
          schema:
            type: string
        - description: Return decisions made for this build number.
          in: query
          name: build_number
          required: false
          schema:
            type: string
        - description: Sets the offset when retrieving the decisions, for paging.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Decision logs successfully retrieved.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PolicyManagementGetDecisionAuditLogsResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/UnexpectedServerError'
    post:
      tags:
        - Policy Management
      summary: Makes a decision
      operationId: PolicyManagement_evaluateInputData
      description: >-
        This endpoint will evaluate input data (config+metadata) against owner's
        stored policies and return a decision.
      parameters:
        - $ref: '#/components/parameters/OwnerID'
        - $ref: '#/components/parameters/Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyManagementEvaluateInputDataRequest'
      responses:
        '200':
          description: >-
            Decision rendered by applying the policy against the provided data.
            Response will be modeled by the data and rego processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decision'
        '400':
          description: |
            The request is malformed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyManagementEvaluateInputDataResponse'
        '401':
          description: |
            The request is unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PolicyManagementEvaluateInputData401Response
        '500':
          description: Something unexpected happened on the server.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PolicyManagementEvaluateInputData500Response
  /owner/{ownerID}/context/{context}/decision/settings:
    get:
      tags:
        - Policy Management
      summary: Get the decision settings
      operationId: PolicyManagement_getDecisionSettings
      description: >-
        This endpoint retrieves the current decision settings (eg enable/disable
        policy evaluation)
      parameters:
        - $ref: '#/components/parameters/OwnerID'
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Decision settings successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/UnexpectedServerError'
    patch:
      tags:
        - Policy Management
      summary: Set the decision settings
      operationId: PolicyManagement_modifyDecisionSettings
      description: >-
        This endpoint allows modifying decision settings (eg enable/disable
        policy evaluation)
      parameters:
        - $ref: '#/components/parameters/OwnerID'
        - $ref: '#/components/parameters/Context'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionSettings'
      responses:
        '200':
          description: Decision settings successfully set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/UnexpectedServerError'
  /owner/{ownerID}/context/{context}/decision/{decisionID}:
    get:
      tags:
        - Policy Management
      summary: Retrieves the owner's decision audit log by given decisionID
      operationId: PolicyManagement_getDecisionAuditLogByGivenId
      description: This endpoint will retrieve a decision for a given decision log ID
      parameters:
        - $ref: '#/components/parameters/OwnerID'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/DecisionID'
      responses:
        '200':
          description: Decision log successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionLog'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            There was no decision log found for given decision_id, and owner_id.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PolicyManagementGetDecisionAuditLogByGivenIdResponse
        '500':
          $ref: '#/components/responses/UnexpectedServerError'
  /owner/{ownerID}/context/{context}/decision/{decisionID}/policy-bundle:
    get:
      tags:
        - Policy Management
      summary: Retrieves Policy Bundle for a given decision log ID
      operationId: PolicyManagement_getPolicyBundleForDecision
      description: This endpoint will retrieve a policy bundle for a given decision log ID
      parameters:
        - $ref: '#/components/parameters/OwnerID'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/DecisionID'
      responses:
        '200':
          description: Policy-Bundle retrieved successfully for given decision log ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyBundle'
        '400':
[...]
