openapi: 3.0.2
info:
  title: Belvo API Docs
  description: >
    # Introduction


    Belvo is an open banking API for Latin America that allows companies to
    access banking and fiscal information in a secure as well as agile way.


    Through our API, you can access:



    - **Bank information** such as account information, real-time

    balance, historical transactions, and account owner identification.


    - **Fiscal information** such as received and sent invoices and tax returns.



    <img src="https://files.readme.io/acf27d3-belvo_pipes.png"

    alt="fiscal-endpoints">



    In this API reference you'll find all the information you need about each


    endpoint and resource.



    <div style="background-color:#f4f6f8; border-left: 6px solid

    #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right:

    25px">


    <strong>Tip: </strong> Make sure that you also check out our Developer

    Portal for guides on <a

    href="https://developers.belvo.com/docs/get-started-in-5-minutes"

    target="_blank">how to get started</a>, using our <a

    href="https://developers.belvo.com/docs/test-in-sandbox"

    target="_blank">Sandbox environment</a>, as well as how to <a

    href="https://developers.belvo.com/docs/connect-widget"

    target="_blank">integrate the widget</a> or use our <a

    href="https://developers.belvo.com/docs/quickstart-application"

    target="_blank">quickstart application</a>.


    </div>



    ## Environment


    We currently offer three environments: sandbox, development, and

    production.



    When using our SDKs, make sure to use the **Alias** (and not the Base URL).



    | Environment | Purpose | Access |

    |-----------|-------|-------|

    | **Sandbox** | The [Sandbox
    environment](https://developers.belvo.com/docs/test-in-sandbox) is dedicated
    for your testing and development phases. In this environment, you can create
    links without real credentials and you can pull test data from all
    endpoints. **⚠️The sandbox environment is refreshed frequently and your test
    data can be updated or deleted.** | Base URL (cURL):
    https://sandbox.belvo.com/ <br><br>Alias (SDKs): sandbox|

    |**Development**|The Development environment is dedicated for testing with
    real credentials and institutions with real-world institutions. You can
    create up to 25 links for free in this environment.| Base URL (cURL):
    https://development.belvo.com/ <br><br>Alias (SDKs): development |

    | **Production** | The Production environment is dedicated for live
    applications with real connections to institutions. In this environment, you

    will need real credentials to create links and you will pull real data from
    the institutions.| Base URL (cURL): https://api.belvo.com/ <br><br>Alias

    (SDKs): production|



    For each environment, you'll need to [generate separate API

    keys](https://developers.belvo.com/docs/get-your-belvo-api-keys).



    ## Response codes



    We use the following HTTP status code in the response depending on the

    success or failure:



    | Status Code | Description |

    |-----------|-------|

    | `200` | ✅ **Success** - The content is available in the response body. |

    | `201` | ✅ **Success** - The content was created successfully on Belvo. |

    | `204` | ✅ **Success** - No content to return. |

    | `400` | ❌ **Bad Request Error** - Request returned an error, detail in
    content.|

    | `401` | ❌ **Unauthorized** - The Belvo credentials provided are not
    valid.|

    | `404` | ❌ **Not Found** - The resource you try to access cannot be found.|

    | `405` | ❌ **Method Not Allowed** - The HTTP method you are using is not
    accepted for this resource.|

    | `408` | ❌ **Request Timeout** - The request timed out and was terminated
    by the server.|

    | `428` | ❌ **MFA Token Required** - MFA token was required by the
    institution to connect. |

    | `500` | ❌ **Internal Server Error** - The detail of the error is available
    in the response body.|



    ## Error handling



    ### Error messages



    Belvo API errors are returned in JSON format. For example, an error might

    look like this:



    ```json


    [
        {
          "request_id": "a6e1c493d7a29d91aed4338e6fcf077d",
          "message": "This field is required.",
          "code": "required",
          "field": "link"
        }
    ]


    ```



    Typically, an error response will have the following parameters:


    - `request_id`: a unique ID for the request, you should share it with the

    Belvo support team for investigations.


    - `message`: human-readable description of the error.


    - `code`: a unique code for the error. Check the table below to see how to

    handle each error code.


    - `field` *(optional)*: The specific field in the request body that has an

    issue.




    ### Request identifier


    When you need help with a specific error, add the request identifier

    (`request_id`) in your message to the Belvo support team. This will speed up

    investigations and get you back up and running in no time at all.



    ### Error codes and troubleshooting



    For a full list of errors and how to troubleshoot them, please see our

    dedicated [Error handling

    articles](https://developers.belvo.com/docs/integration-overview#error-handling)

    in our DevPortal.




    ### Retry policy



    Please see our recommended [retry

    policies](https://developers.belvo.com/docs/integration-overview#error-retry-policy)

    in the DevPortal.
  version: 1.106.0
  contact:
    name: Need help?
    url: https://developers.belvo.com
    email: support@belvo.com
  x-logo:
    url: https://files.readme.io/5111448-belvo-for-developers.svg
    altText: Belvo logo
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Sandbox
    url: https://sandbox.belvo.com
  - description: Development
    url: https://development.belvo.com
tags:
  - description: >-
      A **Link** is a set of credentials associated to an end-user's access to
      an **institution**.


      <div style="background-color:#f4f6f8; border-left: 6px solid
      #808080;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right:
      25px">

      <strong>Example: </strong> The username and password combination used to
      log in to an online banking application would be a link.

      </div>


      You will need to register a **Link** before accessing information from
      that specific end-user, such as account or transaction details.


      <div style="background-color:#f4f6f8; border-left: 6px solid
      #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right:
      25px">

      <strong>Note: </strong> We recommend using our <a
      href="https://developers.belvo.com/docs/connect-widget"
      target="_blank">Connect Widget</a> to handle link creation and link status
      updates.

      </div>


      You have the possibility to register two types of links:


      ### Recurrent links (default)


      With recurrent links, Belvo automatically refreshes information weekly and
      notifies you via [Webhooks](https://developers.belvo.com/docs/webhooks) so
      you always have up-to-date data. Then, when you receive the webhook, you
      can make GET requests to the List or Detail endpoints to instantly access
      up-to-date information, without needing to connect to the institution.


      <img src="https://files.readme.io/7b6c0d4-Recurrent_Link_FLow.png"
      alt="fiscal-endpoints" width="950">


      You can also make POST calls directly to the institution, as with single
      links, as soon as the link is created. However, we recommend you follow
      the flow described above (waiting for the webhook event) for a more
      optimal experience.


      ### Single links


      Single links are used to perform ad hoc data access to accounts, owners,
      transactions, and so on. For example, you can use it when you want to do
      an underwriting process to assess risk before lending money.


      For single links, you have to perform POST calls to an institution **every
      time** you want to access fresh data.


      <img src="https://files.readme.io/eda7956-Single_Link_Flow.svg"
      alt="fiscal-endpoints" width="950">
    name: Links
  - description: >-
      An **account** is the representation of a bank account inside a financial
      institution. A user can have one or more accounts in an institution. 


      For example, one user (or link) can have a checking account, several
      credit cards, and a loan account.


      Querying for a user's account information is useful as you can get
      information regarding:


      - what types of accounts the user has.

      - the balance for each account (savings, checking, credit card, loan, and
      so on).

      - detailed information regarding their credit card spending.

      - the current situation of any loans they may have.
    name: Accounts
  - description: >-
      A **transaction** contains the detailed information of each movement
      inside an account. For example, a purchase at a store or a restaurant.
    name: Transactions
  - description: >-
      A **balance** represents the amount of funds available in a checking or
      savings account over a period of time.


      DEPRECATED


      > 📘 

      > 

      > Savings accounts that do not have any associated transactions (for
      example, some _poupança_ accounts in Brazil) will not contain accurate
      Balance information. We do not recommend using the Balance endpoint for
      these types of accounts. 

      > 

      > Savings accounts vary from institution to institution, so we recommend
      that you first use our [Retrieve transactions for a
      link](https://developers.belvo.com/reference/retrievetransactions)
      request, adding the `account` in the request body, to see if the Savings
      account has any associated transactions.
    name: Balances
  - description: >-
      An **owner** represents the person who has access to a Link and is the
      owner of all the accounts inside the Link.


      You can use this endpoint in order to get useful information about your
      client, such as:


      - their full name

      - key contact information

      - information about the ID document they used when opening the account
    name: Owners
  - description: >-
      Use the Incomes endpoint to gather insights on an account's income sources
      for the past 365 days. The endpoint is particularly useful when you want
      to verify a person's income.


      <div style="background-color:#f4f6f8; border-left: 6px solid
      #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right:
      25px">
          <strong>Info: </strong> The incomes resource is <b>only</b> available for Checking and Savings
      accounts associated with banking links.
       </div>
    name: Incomes
  - description: >-
      Belvo's Recurring Expenses API allows you to identify a user's regular
      payments for subscription services, such as Netflix or gym memberships, as
      well as utility payments, such as electricity or phone bills. We return
      information for up to 365 days.


      <div style="background-color:#f4f6f8; border-left: 6px solid
      #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right:
      25px">
          <strong>Info: </strong> The recurring expenses resource is <b>only</b> available for Checking, Savings and Credit Card accounts associated with banking links.
       </div>
    name: Recurring Expenses
  - description: >-
      Belvo's Risk Insights endpoint exposes a set of features that can be used
      to improve your company's credit risk and opportunity decisions.


      This set of features can be used as building blocks to create or iterate
      on your credit score using transactional banking data to improve the
      predictive power of your models. You can use these components as you
      require and make the most sense for your specific use case. 


      We take up to 365 days of transactional data from the user's checking,
      savings, loans, and credit card accounts to calculate the risk insights.
      We perform calculations on this set of transactions and provide aggregate
      metrics in the following periods: three days, one week, one month, three
      months, six months, and twelve months.


      > **Note**: Categorized transaction metrics period

      > 

      > At present, for our categorized transaction metrics (`category_metrics`)
      we only supply the calculated totals for the last three months. 



      If you need to know the currency of the account, make a GET Details
      request to the Accounts endpoint (using the account ID you receive from in
      the accounts array of the response).
    name: Risk Insights
  - description: >-
      An **invoice** is the representation of an electronic invoice, that can be
      received or sent, by a business or an individual and has been uploaded to
      the fiscal institution's website. Multiple INFLOW (invoice received) and
      OUTFLOW (invoice sent) invoices can be retrieved inside each link coming
      from a fiscal institution.
    name: Invoices
  - description: >-
      Our Tax declarations endpoint lets you retrieve the electronic
      representation of the tax declaration document emitted by a country's tax
      authority.


      At the moment, the Tax Declaration resource is available for:


      - 🇨🇴 Colombia (DIAN)
    name: Tax declarations
  - description: >-
      A **tax return** is the representation of the tax return document sent
      every year by a person or a business to the tax authority in the country.


      The tax return data structure will be different depending on if it is
      related to a person or a business (you will find examples for both in the
      endpoints below).
    name: Tax returns
  - description: >-
      Our **Tax status** endpoint lets you retrieve information about a person's
      or business's tax situation, according to the country's tax authority. 


      - For SAT (Mexico), this information is extracted from the _Constancia de
      situación fiscal_ document.

      - For DIAN (Colombia), this information is extracted from the _Registro
      Único Tributario_ document.
    name: Tax status
  - description: >-
      A **tax retention** is the amount of money that the payer must deduct from
      the total amount of a purchase invoice, according to the fiscal
      institution’s regulations.


      With Belvo’s Tax Retentions resource, you can quickly and easily consult
      information regarding a user’s tax retentions over a given period or for a
      specific invoice. This is particularly useful when you want to aid your
      user in their tax returns as for each invoice you receive the:


      - invoice amount

      - amount that is exempt from taxation

      - total amount that is taxed

      - breakdown of all the taxes applied to the invoice
    name: Tax retentions
  - description: >-
      A **tax compliance status** indicates about whether a person or business
      is complying with their tax obligations at the moment of the request. The
      information is extracted from SAT's _Opinion de cumplimiento de
      Obligaciones Fiscales_ document.
    name: Tax compliance status
  - description: >-
      # Credit score


      Belvo's Credit Score (powered by FICO) resource allows you to receive an
      industry-standard credit score based on a link's transactional and account
      data.


      > **Note**: At present, the credit score resource is **only** available
      for OFDA Brazil links.


      For any OFDA Brazil link, you can simply send through the `link` ID (with
      an optional `date_to` parameter), and Belvo will respond with the
      calculated credit score (provided there is at least 30 days of
      transactional data available for the link).


      Request Example

      ```json


      {
        "link": "2ccd5e15-194a-4a19-a45a-e7223c7e6717", // ID of the OFDA link.
        "date_to": "2023-02-28", // Optional date until when you want the credit score to be calculated.
        "save_data": true
      }


      ```


      Response Example

      ```json

      {
        "id": "03a7b0d1-efc7-4ab8-981e-89e0c82db03ea",
        "link": "30cb4806-6e00-48a4-91c9-ca55968576c8",
        "created_at": "2020-04-23T21:32:55.336854+00:00",
        "date_to": "2023-01-01", // Date until when transactional and account data were taken into account for the calculation
        "score": 400, // The resulting credit score.
        "reason_codes": [
          // Array of reasons for the credit score.
          {
            "code": "N02",
            "description": "No description available for this reason code"
          },
          {
            "code": "C06",
            "description": "Out of Pattern transaction checking deposit day"
          }
        ]
      }

      ```




      ## Credit score reason_codes


      Below is a possible list of `reason_codes` that we return for each credit
      score result. 


      > Note: Each credit score result can have up to **four** `reason_codes`.


      | Code |
      Description                                                                           
      |

      | ---- |
      --------------------------------------------------------------------------------------
      |

      | C01  | High checking spend with higher weekday
      spend                                          |

      | C02  | Multiple excessive spend over inflow with small spend
      capability                       |

      | C03  | Multiple excessive spend over inflow with small checking
      balance                       |

      | C04  | Repeated excessive spend over inflow with repeated higher loan
      costs                   |

      | C05  | Low percentage of utility spend with low percentage of utility
      spend                   |

      | C06  | Out of Pattern transaction checking deposit
      day                                        |

      | C07  | Higher weekday
      spend                                                                   |

      | C08  | High bank charge with high checking
      spend                                              |

      | C09  | High number of outflow transfers with low number of
      deposits                           |

      | C10  | Reduction in recent utility
      spend                                                      |

      | C11  | Large number of loan borrowed with high percentage of weekday
      spend                    |

      | C12  | High restaurant spend with lower recent
      deposits                                       |

      | C13  | Multiple excessive spend over inflow with high loan
      inflow                             |

      | C14  | Higher non-essential
      spend                                                             |

      | C15  | High retail spend with high number of outflow
      transfers                                |

      | C16  | High spend over inflow with multiple excessive spend over
      inflow                       |

      | C17  | Multiple excessive spend over inflow with high credit card
      balance                     |

      | C18  | Multiple excessive spend over inflow with high number of bank
      charges                  |

      | C19  | Multiple excessive spend over
      inflow                                                   |

      | C20  | High spend over inflow with high number of outflow
      transfers                           |

      | C21  | Small spend
      capability                                                                
      |

      | C22  | Small checking
      balance                                                                 |

      | C23  | High credit card
      balance                                                               |

      | C24  | High percentage of bank charges with reduction in recent utility
      spend                 |

      | C25  | Low creditcard payment with lower inflow
      value                                         |

      | C26  | Higher spend with out of pattern transaction spend
      day                                 |

      | C27  | Lower inflow
      value                                                                    
      |

      | C28  | Out of pattern transaction checking deposit amount and
      day                             |

      | C29  | Out of pattern transaction checking deposit
      day                                        |

      | C30  | Multiple larger spend over inflow with high credit card
      balance                        |

      | C31  | High credit card balance with large number of loan
      costs                               |

      | C32  | Small inflow
      value                                                                    
      |

      | C33  | High spend over inflow with small checking
      balance                                     |

      | C34  | High spend over
      inflow                                                                 |

      | C35  | Repeated lower net cash flow with lower inflow
      value                                   |

      | C36  | Small percentage of grocery
      spend                                                      |

      | C37  | Small checking balance with higher credit card
      spend                                   |

      | C38  | Small checking balance with higher bank
      charges                                        |

      | C39  | Low net cash
      flow                                                                     
      |

      | C40  | High credit card balance with multiple credit
      cards                                    |

      | C41  | High percentage credit card spend with high percentage of weekday
      spend                |

      | C42  | High credit card balance with high percentage of weekday
      spend                         |

      | C43  | Higher spend over
      inflow                                                               |

      | N01  | No transactions from checking
      accounts                                                 |

      | N02  | Less than thirty days history of transactions across checking and
      credit card accounts |

      | N03  | Less than fewer than thirty transactions across checking and
      credit card accounts      |
    name: Credit Score
  - name: Employment Records Mexico
  - description: >-
      An **institution** is an entity that Belvo can access information from. It
      can be a:


      - bank institution, such as Banamex retail banking or HSBC business
      banking.

      - fiscal institution, such as the Servicio de Administración Tributaria
      (SAT) in Mexico.


      ![](https://files.readme.io/69a4676-Banking__Tax.png)


      You can see a complete list of institutions by either consulting our
      [Institutions article](https://developers.belvo.com/docs/institution) or
      making a List request to this endpoint.
    name: Institutions
  - description: >-
      Our Categorization resource provides you with categorized information for
      a transaction. You’ll need to send a POST Categorize Transactions request
      with raw transactional information (such as amount, description, and
      holder information) to which Belvo:

      - assigns a standardized category to each transaction

      - provides additional information about the merchant involved in the
      transaction (name, logo, website URL)
                                  
    name: Categorization
  - description: >-
      Verify your users' income and forecast their future income potential with
      Belvo. Your only need to send trough a your raw transaction data and Belvo
      returns:


      - insights into your user’s multiple sources of income

      - a stability score that reflects the consistency and regularity of your
      user’s income history

      - a confidence level for future income
    name: Income Verification
  - description: >-
      Belvo's Credit Score (powered by FICO) resource allows you to receive an
      industry-standard credit score based on your customer's *raw*
      transactional and account data.


      **Request example:**


      For details regarding the request body for EYOD Credit Score, see our API
      reference documentation.


      ```json

      [
        {
          "user_id": "AGH7890098789087",
          "reference_date": "2023-06-01",
          "language": "pt",
          "transactions": [ // Up to 10,000 transactions (each transaction must be associated with an account)
            {
              "transaction_id": "3CWE4927CF15355",
              "account_id": "AGH7890098789087-Checking-Erebor",
              "value_date": "2023-05-18",
              "type": "INFLOW",
              "amount": 650.89,
              "currency": "BRL",
              "description": "Pagamento Netflix Maio 2023"
            }
          ],
          "accounts": [
            {
              "id": "AGH7890098789087-Checking-Erebor",
              "category": "CHECKING_ACCOUNT",
              "balance": 12540.67,
              "balance_date": "2023-06-01",
              "currency": "BRL"
            }
          ]
        }
      ]


      ```



      **Response example:**


      Once you send through the raw data, Belvo will analyze and calculate your
      customer's credit score (a value between 350 and 750) along with up to
      *four* reasons for the calculated score.


      ```json

      {
        "id": "03a7b0d1-efc7-4ab8-981e-89e0c82db03ea",
        "link": "30cb4806-6e00-48a4-91c9-ca55968576c8",
        "created_at": "2020-04-23T21:32:55.336854+00:00",
        "date_to": "2023-01-01", // Date until when transactional and account data where taken into account for the calculation
        "score": 400, // The resulting credit score.
        "reason_codes": [
          // Array of reasons for the credit score.
          {
            "code": "N02",
            "description": "No description available for this reason code"
          },
          {
            "code": "C06",
            "description": "Out of Pattern transaction checking deposit day"
          }
        ]
      }

      ```






      ## Credit score reason_codes


      Below is a possible list of `reason_codes` that we return for each credit
      score result. 


      > Note: Each credit score result can have up to four `reason_codes`.


      | Code |
      Description                                                                           
      |

      | ---- |
      --------------------------------------------------------------------------------------
      |

      | C01  | High checking spend with higher weekday
      spend                                          |

      | C02  | Multiple excessive spend over inflow with small spend
      capability                       |

      | C03  | Multiple excessive spend over inflow with small checking
      balance                       |

      | C04  | Repeated excessive spend over inflow with repeated higher loan
      costs                   |

      | C05  | Low percentage of utility spend with low percentage of utility
      spend                   |

      | C06  | Out of Pattern transaction checking deposit
      day                                        |

      | C07  | Higher weekday
      spend                                                                   |

      | C08  | High bank charge with high checking
      spend                                              |

      | C09  | High number of outflow transfers with low number of
      deposits                           |

      | C10  | Reduction in recent utility
      spend                                                      |

      | C11  | Large number of loan borrowed with high percentage of weekday
      spend                    |

      | C12  | High restaurant spend with lower recent
      deposits                                       |

      | C13  | Multiple excessive spend over inflow with high loan
      inflow                             |

      | C14  | Higher non-essential
      spend                                                             |

      | C15  | High retail spend with high number of outflow
      transfers                                |

      | C16  | High spend over inflow with multiple excessive spend over
      inflow                       |

      | C17  | Multiple excessive spend over inflow with high credit card
      balance                     |

      | C18  | Multiple excessive spend over inflow with high number of bank
      charges                  |

      | C19  | Multiple excessive spend over
      inflow                                                   |

      | C20  | High spend over inflow with high number of outflow
      transfers                           |

      | C21  | Small spend
      capability                                                                
      |

      | C22  | Small checking
      balance                                                                 |

      | C23  | High credit card
      balance                                                               |

      | C24  | High percentage of bank charges with reduction in recent utility
      spend                 |

      | C25  | Low creditcard payment with lower inflow
      value                                         |

      | C26  | Higher spend with out of pattern transaction spend
      day                                 |

      | C27  | Lower inflow
      value                                                                    
      |

      | C28  | Out of pattern transaction checking deposit amount and
      day                             |

      | C29  | Out of pattern transaction checking deposit
      day                                        |

      | C30  | Multiple larger spend over inflow with high credit card
      balance                        |

      | C31  | High credit card balance with large number of loan
      costs                               |

      | C32  | Small inflow
      value                                                                    
      |

      | C33  | High spend over inflow with small checking
      balance                                     |

      | C34  | High spend over
      inflow                                                                 |

      | C35  | Repeated lower net cash flow with lower inflow
      value                                   |

      | C36  | Small percentage of grocery
      spend                                                      |

      | C37  | Small checking balance with higher credit card
      spend                                   |

      | C38  | Small checking balance with higher bank
      charges                                        |

      | C39  | Low net cash
      flow                                                                     
      |

      | C40  | High credit card balance with multiple credit
      cards                                    |

      | C41  | High percentage credit card spend with high percentage of weekday
      spend                |

      | C42  | High credit card balance with high percentage of weekday
      spend                         |

      | C43  | Higher spend over
      inflow                                                               |

      | N01  | No transactions from checking
      accounts                                                 |

      | N02  | Less than thirty days history of transactions across checking and
      credit card accounts |

      | N03  | Less than fewer than thirty transactions across checking and
      credit card accounts      |
    name: Credit Score (EYOD)
  - description: >
      Use our Banking API product to access account, balance, owner, bank
      statement, as well as transaction data from banking institutions.<br>



      ![](https://files.readme.io/894213c-Banking_and_Gig.png "Banking and
      Gig.png")



      | API Endpoint                |
      Description                                                              
      | Supported institutions |

      | --------------------------- |
      -------------------------------------------------------------------------
      | ---------------------- |

      | `api/accounts/`             | Get information about your customer's bank
      accounts.                      | Banking        |

      | `api/balances/`             | Get the balance at the end of each day for
      your customer's bank accounts. | Banking                |

      | `api/owners/`               | Get the details of an account
      owner.                                      | Banking        |

      | `api/transactions/`         | Get a list of bank transactions with
      metadata.                            | Banking        |
    name: Banking API introduction
  - description: "Our employment records\_resource for Mexico lets you get a comprehensive view of your user’s current social security contributions and employment history.\n\nWith Belvo's employment records resource for Mexico, you can access information about your user's current social security contributions and employment history. For the each user, we return the:\n\n- personal data\n- work history\n- historical and current daily base salary\n- and more!\n\nAt the moment, the employment records resource is available for:\n\n- 🇲🇽\_Mexico (IMSS)"
    name: Employment Records
  - description: >-
      Belvo's Enrichment API are a set of endpoints that return additional
      insights on your user's banking data. 


      - **Incomes**: Use this endpoint to verify your user's income.

      - **Recurring Expenses**: Use this endpoint to identify the recurrent
      expenses (such as Netflix subscriptions) that your user pays.

      - **Risk Insights**: Use this endpoint to retrieve key data points to feed
      into your risk evaluation models.
    name: Enrichment API introduction
  - description: >
      Our Enrich Your Own Data (EYOD) product provides you with enriched
      transaction information and easy-to-use insights about your users
      incomesfrom various sources, including open finance data or your own
      dataset.




      | API Endpoint                 |
      Description                                                                                                                          
      |

      | ---------------------------- |
      -------------------------------------------------------------------------------------------------------------------------------------
      |

      | `api/categorization`         | Enrich transactions with category,
      subcategory, and merchant
      information.                                                             |

      | `api/enrich/incomes`         | Enrich transaction data from any source
      and gather insights on your user's income sources and asses their future
      income potential. |

      | `api/enrich/risk-insights`   | Enrich transaction data from any source
      and gather a set of features that can be used to improve your company's
      credit risk and opportunity decisions |
    name: EYOD API introduction
  - description: >-
      Use our **Fiscal API** product to access invoices, tax compliance
      statuses, tax returns, tax retentions, and tax statuses from the fiscal
      authority in a given country.


      | API Endpoint                 |
      Description                                                                                                                          
      |

      | ---------------------------- |
      -------------------------------------------------------------------------------------------------------------------------------------
      |

      | `api/invoices/`              | Get all the information about the
      invoices sent and received by a person or a business that have been
      certified by the tax authority. |

      | `api/tax-compliance-status/` | Get information about whether a person or
      business is complying to their tax
      obligations.                                             |

      | `api/tax-compliance-status/` | Get tax declaration information for your
      users. At the moment only available for 🇨🇴 DIAN
      Colombia.                                  |

      | `api/tax-returns/`           | Get all the information about the tax
      returns sent every year to the tax authority by a person or a
      business.                         |

      | `api/tax-retentions/`        | Get information about tax retention
      invoices sent and received by a business or a
      person.                                             |

      | `api/tax-status/`            | Get all the information about the tax
      situation of a person or a
      business.                                                            |


      <div style="background-color:#f4f6f8; border-left: 6px solid
      #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right:
      25px">

      <strong>Note: </strong> You can only access this information with
      <b>fiscal</b> links.

      </div>
    name: Fiscal API introduction
paths:
  /api/links:
    get:
      tags:
        - Links
      summary: List all links
      operationId: Links_listAll
      description: >
        Get a paginated list of all the existing links in your Belvo account. By
        default, we return up to 100 results per page.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/id__in'
        - $ref: '#/components/parameters/institution'
        - $ref: '#/components/parameters/institution__in'
        - $ref: '#/components/parameters/access_mode'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/created_at__gt'
        - $ref: '#/components/parameters/created_at__gte'
        - $ref: '#/components/parameters/created_at__lt'
        - $ref: '#/components/parameters/created_at__lte'
        - $ref: '#/components/parameters/created_at__range'
        - $ref: '#/components/parameters/created_by__not_in'
        - $ref: '#/components/parameters/external_id'
        - $ref: '#/components/parameters/external_id__in'
        - $ref: '#/components/parameters/institution_user_id'
        - $ref: '#/components/parameters/institution_user_id__in'
        - $ref: '#/components/parameters/refresh_rate'
        - $ref: '#/components/parameters/status_links'
        - $ref: '#/components/parameters/status__in_links'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseLink'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksListAllResponse'
    post:
      tags:
        - Links
      summary: Register a new link
      operationId: Links_registerNewLink
      description: >
        Register a new link with your Belvo account.


        <div style="background-color:#f4f6f8; border-left: 6px solid
        #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px;
        margin-right: 25px">

        <strong>Note: </strong> We recommend using our <a
        href="https://developers.belvo.com/docs/connect-widget"
        target="_blank">Connect Widget</a> to handle link creation and link
        status updates.

        </div>
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinksRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksRegisterNewLinkResponse'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksRegisterNewLink401Response'
        '428':
          description: MFA Token Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksRegisterNewLink428Response'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksRegisterNewLink500Response'
    patch:
      tags:
        - Links
      summary: Complete a links request
      operationId: Links_resumeSession
      description: >
        Used to resume a Link register session that was paused because an MFA
        token

        was required by the institution.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBodyWithoutSaveData'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksResumeSessionResponse'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksResumeSession401Response'
        '428':
          description: MFA Token Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksResumeSession428Response'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksResumeSession500Response'
  /api/links/{id}:
    get:
      tags:
        - Links
      summary: Get a link's details
      operationId: Links_getDetails
      description: Get the details of a specific link.
      parameters:
        - description: The `link.id` you want to get detailed information about.
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksGetDetailsResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksGetDetails404Response'
    patch:
      tags:
        - Links
      summary: Change a link's access mode
      operationId: Links_changeAccessMode
      description: >
        Change a link's access mode from `single` to `recurrent` or from
        `recurrent` to single.


        <div style="background-color:#f4f6f8; border-left: 6px solid #df7d03
        ;padding: 6px;margin-left: 15px; border-radius: 4px; margin-right:
        15px">

        <strong>Note: changing the access_mode and billing</strong>

        <p>When you change a link from <code>single</code> to
        <code>recurrent</code> recurrent, the next day a historical update of
        the core resources for the link is triggered (resulting in you receiving
        <code>historical_update</code> webhooks for the link). You are billed
        for these historical updates.</p>

        </div>
      parameters:
        - description: The `link.id` you want to change the `access_mode` for.
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: e4bb1afb-4a4f-4dd6-8be0-e615d233185b
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeAccessMode'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksChangeAccessModeResponse'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksChangeAccessMode401Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksChangeAccessMode404Response'
        '428':
          description: MFA Token Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksChangeAccessMode428Response'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksChangeAccessMode500Response'
    put:
      tags:
        - Links
      summary: Update a link's credentials
      operationId: Links_updateCredentials
      description: >
        Update the credentials of a specific link. If the successfully updated
        link is a recurrent one, we automatically trigger an update of the link.
        If we find fresh data, you'll [receive historical
        update](https://developers.belvo.com/docs/webhooks) webhooks.

        <div style="background-color:#f4f6f8; border-left: 6px solid
        #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px;
        margin-right: 25px"> <strong>Note: </strong> We recommend using our <a
        href="https://developers.belvo.com/docs/connect-widget"
        target="_blank">Connect Widget</a> to handle updating
        <code>invalid</code> or <code>token_required</code> links. </div>
      parameters:
        - description: The `link.id` you want to update.
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinksPutRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksUpdateCredentialsResponse'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksUpdateCredentials401Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksUpdateCredentials404Response'
        '428':
          description: MFA Token Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksUpdateCredentials428Response'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksUpdateCredentials500Response'
    delete:
      tags:
        - Links
      summary: Delete a link
      operationId: Links_deleteLinkAccounts
      description: >
        Delete a specific link and all associated accounts, transactions, and
        owners

        from your Belvo account.


        # Deleting links in batches


        To delete links in bulk, we recommend looping through the list of links
        you want to delete and making the delete request.

          > 🚧 **Rate limiting and IP blocking**
          > 
          > An important technical note for performing operations in batches is to take into consideration our rate-limiting: up to 80 requests every 30 seconds. If you exceed this limit, you run the risk of Belvo blocking your IP from making further requests.
          > 
          > For more information, or if your IP address has been blocked, please contact our [support team](https://support.belvo.com/hc/en-us/requests/new).
      parameters:
        - description: The `link.id` that you want to delete.
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No content
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksDeleteLinkAccountsResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinksDeleteLinkAccounts404Response'
  /api/accounts:
    get:
      tags:
        - Accounts
      summary: List all accounts
      operationId: Accounts_listAll
      description: >
        Get a paginated list of all existing accounts in your Belvo account. By
        default, we return up to 100 results per page.


        > ℹ️ **Note**: This resource may return deprecated fields. Please check
        the response documentation for more information.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize_query'
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/link'
        - $ref: '#/components/parameters/link__in'
        - $ref: '#/components/parameters/balance__available'
        - $ref: '#/components/parameters/balance__available__lt'
        - $ref: '#/components/parameters/balance__available__lte'
        - $ref: '#/components/parameters/balance__available__gt'
        - $ref: '#/components/parameters/balance__available__gte'
        - $ref: '#/components/parameters/balance__available__range'
        - $ref: '#/components/parameters/balance__current'
        - $ref: '#/components/parameters/balance__current__lt'
        - $ref: '#/components/parameters/balance__current__lte'
        - $ref: '#/components/parameters/balance__current__gt'
        - $ref: '#/components/parameters/balance__current__gte'
        - $ref: '#/components/parameters/balance__current__range'
        - $ref: '#/components/parameters/category'
        - $ref: '#/components/parameters/category__in'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/created_at__gt'
        - $ref: '#/components/parameters/created_at__gte'
        - $ref: '#/components/parameters/created_at__lt'
        - $ref: '#/components/parameters/created_at__lte'
        - $ref: '#/components/parameters/created_at__range'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/currency__in'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/id__in'
        - $ref: '#/components/parameters/institution'
        - $ref: '#/components/parameters/institution__in'
        - $ref: '#/components/parameters/name_accounts'
        - $ref: '#/components/parameters/name__icontains'
        - $ref: '#/components/parameters/number_accounts'
        - $ref: '#/components/parameters/number__in_accounts'
        - $ref: '#/components/parameters/public_identification_name'
        - $ref: '#/components/parameters/public_identification_value'
        - $ref: '#/components/parameters/type_accounts'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsListAllResponse'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsListAll401Response'
    post:
      tags:
        - Accounts
      summary: Retrieve accounts for a link
      operationId: Accounts_createLinkAccounts
      description: >
        Retrieve accounts from an existing link.


        > ℹ️ **Note**: This resource may return deprecated fields. Please check
        the response documentation for more information.
      parameters:
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandardRequest'
      responses:
        '200':
          description: Ok (when `save_data=false`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsCreateLinkAccountsResponse'
              examples:
                AccountsBankingChecking:
                  $ref: '#/components/examples/AccountsBankingChecking'
                AccountsBankingCreditCard:
                  $ref: '#/components/examples/AccountsBankingCreditCard'
                AcccountsBankingLoan:
                  $ref: '#/components/examples/AccountsBankingLoan'
                AccountsBankingPension:
                  $ref: '#/components/examples/AccountsBankingPension'
                AccountsBankingSavings:
                  $ref: '#/components/examples/AccountsBankingSavings'
                AccountsOfdaChecking:
                  $ref: '#/components/examples/AccountsOfdaChecking'
                AccountsOfdaCreditCard:
                  $ref: '#/components/examples/AccountsOfdaCreditCard'
                AccountsOfdaLoanData:
                  $ref: '#/components/examples/AccountsOfdaLoanData'
        '201':
          description: Created (when `save_data=true`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsCreateLinkAccounts201Response'
              examples:
                AccountsBankingChecking:
                  $ref: '#/components/examples/AccountsBankingChecking'
                AccountsBankingCreditCard:
                  $ref: '#/components/examples/AccountsBankingCreditCard'
                AcccountsBankingLoan:
                  $ref: '#/components/examples/AccountsBankingLoan'
                AccountsBankingPension:
                  $ref: '#/components/examples/AccountsBankingPension'
                AccountsBankingSavings:
                  $ref: '#/components/examples/AccountsBankingSavings'
                AccountsOfdaChecking:
                  $ref: '#/components/examples/AccountsOfdaChecking'
                AccountsOfdaCreditCard:
                  $ref: '#/components/examples/AccountsOfdaCreditCard'
                AccountsOfdaLoanData:
                  $ref: '#/components/examples/AccountsOfdaLoanData'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsCreateLinkAccounts400Response'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsCreateLinkAccounts401Response'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsCreateLinkAccounts408Response'
        '428':
          description: MFA Token Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsCreateLinkAccounts428Response'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsCreateLinkAccounts500Response'
    patch:
      tags:
        - Accounts
      summary: Complete an accounts request
      operationId: Accounts_resumeRetrieveSession
      description: >
        Used to resume an Account retrieve session that was paused because an
        MFA

        token was required by the institution.


        > ℹ️ **Note**: This resource may return deprecated fields. Please check
        the response documentation for more information.
      parameters:
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBody'
      responses:
        '200':
          description: Ok (when `save_data=false`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResumeRetrieveSessionResponse'
              examples:
                AccountsBankingChecking:
                  $ref: '#/components/examples/AccountsBankingChecking'
                AccountsBankingCreditCard:
                  $ref: '#/components/examples/AccountsBankingCreditCard'
                AcccountsBankingLoan:
                  $ref: '#/components/examples/AccountsBankingLoan'
                AccountsBankingPension:
                  $ref: '#/components/examples/AccountsBankingPension'
                AccountsBankingSavings:
                  $ref: '#/components/examples/AccountsBankingSavings'
                AccountsOfdaChecking:
                  $ref: '#/components/examples/AccountsOfdaChecking'
                AccountsOfdaCreditCard:
                  $ref: '#/components/examples/AccountsOfdaCreditCard'
                AccountsOfdaLoanData:
                  $ref: '#/components/examples/AccountsOfdaLoanData'
        '201':
          description: Created (when `save_data=true`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResumeRetrieveSession201Response'
              examples:
                AccountsBankingChecking:
                  $ref: '#/components/examples/AccountsBankingChecking'
                AccountsBankingCreditCard:
                  $ref: '#/components/examples/AccountsBankingCreditCard'
                AcccountsBankingLoan:
                  $ref: '#/components/examples/AccountsBankingLoan'
                AccountsBankingPension:
                  $ref: '#/components/examples/AccountsBankingPension'
                AccountsBankingSavings:
                  $ref: '#/components/examples/AccountsBankingSavings'
                AccountsOfdaChecking:
                  $ref: '#/components/examples/AccountsOfdaChecking'
                AccountsOfdaCreditCard:
                  $ref: '#/components/examples/AccountsOfdaCreditCard'
                AccountsOfdaLoanData:
                  $ref: '#/components/examples/AccountsOfdaLoanData'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResumeRetrieveSession400Response'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResumeRetrieveSession401Response'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResumeRetrieveSession408Response'
        '428':
          description: MFA Token Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResumeRetrieveSession428Response'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResumeRetrieveSession500Response'
  /api/accounts/{id}:
    get:
      tags:
        - Accounts
      summary: Get an account's details
      operationId: Accounts_getDetails
      description: >
        Get the details of a specific account.


        > ℹ️ **Note**: This resource may return deprecated fields. Please check
        the response documentation for more information.
      parameters:
        - description: The `account.id` you want to get detailed information about.
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsGetDetailsResponse'
              examples:
                AccountsBankingChecking:
                  $ref: '#/components/examples/AccountsBankingChecking'
                AccountsBankingCreditCard:
                  $ref: '#/components/examples/AccountsBankingCreditCard'
                AcccountsBankingLoan:
                  $ref: '#/components/examples/AccountsBankingLoan'
                AccountsBankingPension:
                  $ref: '#/components/examples/AccountsBankingPension'
                AccountsBankingSavings:
                  $ref: '#/components/examples/AccountsBankingSavings'
                AccountsOfdaChecking:
                  $ref: '#/components/examples/AccountsOfdaCheckingDetail'
                AccountsOfdaCreditCard:
                  $ref: '#/components/examples/AccountsOfdaCreditCardDetail'
                AccountsOfdaLoanData:
                  $ref: '#/components/examples/AccountsOfdaLoanDataDetail'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsGetDetails401Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsGetDetails404Response'
    delete:
      tags:
        - Accounts
      summary: Delete an account
      operationId: Accounts_deleteSpecificAccount
      description: >
        Delete a specific account from your Belvo account.


        > ℹ️ **Note**: When you delete an account, all the associated
        transactions and owner information for that account are also removed.
      parameters:
        - description: The `account.id` you want to delete.
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No content
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsDeleteSpecificAccountResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsDeleteSpecificAccount404Response'
  /api/transactions:
    get:
      tags:
        - Transactions
      summary: List all transactions
      operationId: Transactions_listAllTransactions
      description: >
        Get a paginated list of all existing transactions in your Belvo account.
        By default, we return up to 100 results per page.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/link__required'
        - $ref: '#/components/parameters/link__in'
        - $ref: '#/components/parameters/account'
        - $ref: '#/components/parameters/account__in'
        - $ref: '#/components/parameters/account__balance__available'
        - $ref: '#/components/parameters/account__balance__available__lt'
        - $ref: '#/components/parameters/account__balance__available__lte'
        - $ref: '#/components/parameters/account__balance__available__gt'
        - $ref: '#/components/parameters/account__balance__available__gte'
        - $ref: '#/components/parameters/account__balance__available__range'
        - $ref: '#/components/parameters/account__balance__current'
        - $ref: '#/components/parameters/account__balance__current__gt'
        - $ref: '#/components/parameters/account__balance__current__gte'
        - $ref: '#/components/parameters/account__balance__current__lt'
        - $ref: '#/components/parameters/account__balance__current__lte'
        - $ref: '#/components/parameters/account__balance__current__range'
        - $ref: '#/components/parameters/account_type'
        - $ref: '#/components/parameters/account_type__in'
        - $ref: '#/components/parameters/accounting_date'
        - $ref: '#/components/parameters/accounting_date__gt'
        - $ref: '#/components/parameters/accounting_date__gte'
        - $ref: '#/components/parameters/accounting_date__lt'
        - $ref: '#/components/parameters/accounting_date__lte'
        - $ref: '#/components/parameters/accounting_date__range'
        - $ref: '#/components/parameters/amount'
        - $ref: '#/components/parameters/amount__gt'
        - $ref: '#/components/parameters/amount__gte'
        - $ref: '#/components/parameters/amount__lt'
        - $ref: '#/components/parameters/amount__lte'
        - $ref: '#/components/parameters/amount__range'
        - $ref: '#/components/parameters/collected_at'
        - $ref: '#/components/parameters/collected_at__gt'
        - $ref: '#/components/parameters/collected_at__gte'
        - $ref: '#/components/parameters/collected_at__lt'
        - $ref: '#/components/parameters/collected_at__lte'
        - $ref: '#/components/parameters/collected_at__range'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/created_at__gt'
        - $ref: '#/components/parameters/created_at__gte'
        - $ref: '#/components/parameters/created_at__lt'
        - $ref: '#/components/parameters/created_at__lte'
        - $ref: '#/components/parameters/created_at__range'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/currency__in'
        - $ref: '#/components/parameters/credit_card_data__bill_name__in'
        - $ref: '#/components/parameters/reference'
        - $ref: '#/components/parameters/reference__in'
        - $ref: '#/components/parameters/status_transactions'
        - $ref: '#/components/parameters/status__in_transactions'
        - $ref: '#/components/parameters/type_transactions'
        - $ref: '#/components/parameters/type__in_transactions'
        - $ref: '#/components/parameters/value_date'
        - $ref: '#/components/parameters/value_date__gt'
        - $ref: '#/components/parameters/value_date__gte'
        - $ref: '#/components/parameters/value_date__lt'
        - $ref: '#/components/parameters/value_date__lte'
        - $ref: '#/components/parameters/value_date__range'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsListAllTransactionsResponse'
              examples:
                TransactionsCheckingPaginated:
                  $ref: '#/components/examples/TransactionsCheckingPaginated'
                TransactionsSavingsPaginated:
                  $ref: '#/components/examples/TransactionsSavingsPaginated'
                TransactionsCreditCardPaginated:
                  $ref: '#/components/examples/TransactionsCreditCardPaginated'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsListAllTransactions401Response
    post:
      tags:
        - Transactions
      summary: Retrieve transactions for a link
      operationId: Transactions_createLinkTransactions
      description: >
        Retrieve transactions for one or more accounts from a specific link.

        <div style="background-color:#f4f6f8; border-left: 6px solid
        #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px;
        margin-right: 25px"> <strong>Info: </strong> When retrieving
        transactions, it is important to understand that the available
        transaction data ranges depend on each institution. <br><br>

        If you try to access older information than what we can access, we will
        return all the data we can read within that date range. For example, if
        you request transactions for the last year and we can only access the
        last six months, we will return the information corresponding to these
        six months of data. </div>
      parameters:
        - in: header
          name: X-Belvo-Request-Mode
          schema:
            description: >
              Recommended header parameter to make your POST request to retrieve
              transactions asynchronous (thus preventing timeouts).


              When you make a asynchronous request, Belvo responds with a `202 -
              Accepted` payload, including the `request_id`. Once we have
              retrieved the transaction information, you will receive a
              `new_transactions_available` webhook with the link and request
              IDs.



              **Note**: This parameter is case sensitive (in other words, if you
              write `ASYNC`, then Belvo will default to a synchronous call).
            type: string
            enum:
              - async
            example: async
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsRequest'
      responses:
        '200':
          description: Ok (when `save_data=false`)
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsCreateLinkTransactionsResponse
              examples:
                TransactionsChecking:
                  $ref: '#/components/examples/TransactionsChecking'
                TransactionsSavings:
                  $ref: '#/components/examples/TransactionsSavings'
                TransactionsCreditCard:
                  $ref: '#/components/examples/TransactionsCreditCard'
                TransactionsOpenFinanceBrazilChecking:
                  $ref: '#/components/examples/TransactionsCheckingOfda'
        '201':
          description: Created (when `save_data=true`)
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsCreateLinkTransactions201Response
              examples:
                TransactionsChecking:
                  $ref: '#/components/examples/TransactionsChecking'
                TransactionsSavings:
                  $ref: '#/components/examples/TransactionsSavings'
                TransactionsCreditCard:
                  $ref: '#/components/examples/TransactionsCreditCard'
                TransactionsOpenFinanceBrazilChecking:
                  $ref: '#/components/examples/TransactionsCheckingOfda'
        '202':
          description: Accepted (when `X-Belvo-Request-Mode` is `async`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsynchronousAccepted202'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsCreateLinkTransactions400Response
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsCreateLinkTransactions401Response
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsCreateLinkTransactions408Response
        '428':
          description: MFA Token Required
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsCreateLinkTransactions428Response
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsCreateLinkTransactions500Response
    patch:
      tags:
        - Transactions
      summary: Complete a transactions request
      operationId: Transactions_resumeRetrieveSession
      description: >
        Used to resume a Transaction retrieve session that was paused because an
        MFA

        token was required by the institution.
      parameters:
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBody'
      responses:
        '200':
          description: Ok (when `save_data=false`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResumeRetrieveSessionResponse'
              examples:
                TransactionsChecking:
                  $ref: '#/components/examples/TransactionsChecking'
                TransactionsSavings:
                  $ref: '#/components/examples/TransactionsSavings'
                TransactionsCreditCard:
                  $ref: '#/components/examples/TransactionsCreditCard'
                TransactionsOpenFinanceBrazilChecking:
                  $ref: '#/components/examples/TransactionsCheckingOfda'
        '201':
          description: Created (when `save_data=true`)
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsResumeRetrieveSession201Response
              examples:
                TransactionsChecking:
                  $ref: '#/components/examples/TransactionsChecking'
                TransactionsSavings:
                  $ref: '#/components/examples/TransactionsSavings'
                TransactionsCreditCard:
                  $ref: '#/components/examples/TransactionsCreditCard'
                TransactionsOpenFinanceBrazilChecking:
                  $ref: '#/components/examples/TransactionsCheckingOfda'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsResumeRetrieveSession400Response
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsResumeRetrieveSession401Response
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsResumeRetrieveSession408Response
        '428':
          description: MFA Token Required
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsResumeRetrieveSession428Response
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsResumeRetrieveSession500Response
  /api/transactions/{id}:
    get:
      tags:
        - Transactions
      summary: Get a transaction's details
      operationId: Transactions_getDetails
      description: Get the details of a specific transaction.
      parameters:
        - description: The `transaction.id` you want to get detailed information about.
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsGetDetailsResponse'
              examples:
                TransactionsChecking:
                  $ref: '#/components/examples/TransactionsCheckingDetail'
                TransactionsSavings:
                  $ref: '#/components/examples/TransactionsSavingsDetail'
                TransactionsCreditCard:
                  $ref: '#/components/examples/TransactionsCreditCardDetail'
                TransactionsOpenFinanceBrazilChecking:
                  $ref: '#/components/examples/TransactionsCheckingOfdaDetail'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsGetDetails401Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsGetDetails404Response'
    delete:
      tags:
        - Transactions
      summary: Delete a transaction
      operationId: Transactions_removeById
      description: Delete a specific transaction from your Belvo account.
      parameters:
        - description: The `transaction.id` that you want to delete.
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No content
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsRemoveByIdResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsRemoveById404Response'
  /api/balances:
    get:
      tags:
        - Balances
      summary: List all balances
      operationId: Balances_getAll
      description: >
        <div style="background-color:#fde99b; border-left: 6px solid
        #f9c806;padding: 12px;margin-left: 25px; border-radius: 4px;
        margin-right:25px">

        <strong>WARNING: </strong> The Balances resource will be deprecated in
        October 2023.

        </div>


        Get a paginated list of all existing balances in your Belvo account. By
        default, we return up to 100 results per page.


        > ℹ️ **Note**: This resource may return deprecated fields. Please check
        the response documentation for more information.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/link'
        - $ref: '#/components/parameters/link__in'
        - $ref: '#/components/parameters/account'
        - $ref: '#/components/parameters/account__in'
        - $ref: '#/components/parameters/account__type'
        - $ref: '#/components/parameters/account__type__in'
        - $ref: '#/components/parameters/balance'
        - $ref: '#/components/parameters/balance__lt'
        - $ref: '#/components/parameters/balance__lte'
        - $ref: '#/components/parameters/balance__gt'
        - $ref: '#/components/parameters/balance__gte'
        - $ref: '#/components/parameters/balance__range'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/currency__in'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/id__in'
        - $ref: '#/components/parameters/institution'
        - $ref: '#/components/parameters/institution__in'
        - $ref: '#/components/parameters/value_date'
        - $ref: '#/components/parameters/value_date__gt'
        - $ref: '#/components/parameters/value_date__gte'
        - $ref: '#/components/parameters/value_date__lt'
        - $ref: '#/components/parameters/value_date__lte'
        - $ref: '#/components/parameters/value_date__range'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesPaginatedResponse'
              examples:
                BalancesExamplePaginated:
                  $ref: '#/components/examples/BalancesExamplePaginated'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesGetAllResponse'
    post:
      tags:
        - Balances
      summary: Retrieve balances for a link
      operationId: Balances_getLinkBalances
      description: >
        <div style="background-color:#fde99b; border-left: 6px solid
        #f9c806;padding: 12px;margin-left: 25px; border-radius: 4px;
        margin-right:25px">

        <strong>WARNING: </strong> The Balances resource will be deprecated in
        October 2023.

        </div>



        Retrieve balances from one or more accounts for a specific link within a

        specified date range.


        > ℹ️ **Note**: This resource may return deprecated fields. Please check
        the response documentation for more information.
      parameters:
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalancesRequest'
      responses:
        '200':
          description: Ok (when `save_data=false`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesGetLinkBalancesResponse'
              examples:
                BalancesExamplePaginated:
                  $ref: '#/components/examples/BalancesExample'
        '201':
          description: Created (when `save_data=true`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesGetLinkBalances201Response'
              examples:
                BalancesExamplePaginated:
                  $ref: '#/components/examples/BalancesExample'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesGetLinkBalances400Response'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesGetLinkBalances401Response'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesGetLinkBalances408Response'
        '428':
          description: MFA Token Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesGetLinkBalances428Response'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesGetLinkBalances500Response'
    patch:
      tags:
        - Balances
      summary: Complete a balances request
      operationId: Balances_resumeSession
      description: >
        <div style="background-color:#fde99b; border-left: 6px solid
        #f9c806;padding: 12px;margin-left: 25px; border-radius: 4px;
        margin-right:25px">

        <strong>WARNING: </strong> The Balances resource will be deprecated in
        October 2023.

        </div>


        Used to resume a Balance retrieve session that was paused because an MFA

        token was required by the institution.


        > ℹ️ **Note**: This resource may return deprecated fields. Please check
        the response documentation for more information.
      parameters:
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBody'
      responses:
        '200':
          description: Ok (when `save_data=false`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResumeSessionResponse'
              examples:
                BalancesExamplePaginated:
                  $ref: '#/components/examples/BalancesExample'
        '201':
          description: Created (when `save_data=true`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResumeSession201Response'
              examples:
                BalancesExamplePaginated:
                  $ref: '#/components/examples/BalancesExample'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResumeSession400Response'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResumeSession401Response'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResumeSession408Response'
        '428':
          description: MFA Token Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResumeSession428Response'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResumeSession500Response'
  /api/balances/{id}:
    get:
      tags:
        - Balances
      summary: Get a balance's details
      operationId: Balances_getDetails
      description: >
        <div style="background-color:#fde99b; border-left: 6px solid
        #f9c806;padding: 12px;margin-left: 25px; border-radius: 4px;
        margin-right:25px">

        <strong>WARNING: </strong> The Balances resource will be deprecated in
        October 2023.

        </div>



        Get the details of a specific balance.


        > ℹ️ **Note**: This resource may return deprecated fields. Please check
        the response documentation for more information.
      parameters:
        - description: The `balance.id` you want to get detailed information about.
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
              examples:
                BalancesExamplePaginated:
                  $ref: '#/components/examples/BalancesExampleDetail'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesGetDetailsResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesGetDetails404Response'
    delete:
      tags:
        - Balances
      summary: Delete a balance
      operationId: Balances_deleteBalance
      description: >
        <div style="background-color:#fde99b; border-left: 6px solid
        #f9c806;padding: 12px;margin-left: 25px; border-radius: 4px;
        margin-right:25px">

        <strong>WARNING: </strong> The Balances resource will be deprecated in
        October 2023.

        </div>


        Delete a specific balance from your Belvo account.
      parameters:
        - description: The `balance.id` that you want to delete.
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No content
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesDeleteBalanceResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesDeleteBalance404Response'
  /api/institutions:
    get:
      tags:
        - Institutions
      summary: List all institutions
      operationId: Institutions_getAll
      description: >
        Get a paginated list of all the institutions currently supported by
        Belvo. By default, we return up to 100 results per page.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/display_name'
        - $ref: '#/components/parameters/country_code'
        - $ref: '#/components/parameters/country_code__in'
        - $ref: '#/components/parameters/resources__allin'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/name__in'
        - $ref: '#/components/parameters/status_institutions'
        - $ref: '#/components/parameters/status__in_institutions'
        - $ref: '#/components/parameters/type_institutions'
        - $ref: '#/components/parameters/type__in_institutions'
        - $ref: '#/components/parameters/website'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionsPaginatedResponse'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionsGetAllResponse'
  /api/institutions/{id}:
    get:
      tags:
        - Institutions
      summary: Get an institution's details
      operationId: Institutions_getDetails
      description: Get the details of a specific institution.
      parameters:
        - description: The `institution.id` you want to get detailed information about.
          name: id
          required: true
          in: path
          schema:
            type: string
            pattern: '[0-9]+'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionsGetDetailsResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionsGetDetails404Response'
  /api/owners:
    get:
      tags:
        - Owners
      summary: List all owners
      operationId: Owners_listAll
      description: >
        Get a paginated list of all existing owners in your Belvo account. We
        return

        up to 100 results per page.


        > ℹ️ **Note**: This resource may return deprecated fields. Please check
        the response documentation for more information.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/link'
        - $ref: '#/components/parameters/link__in'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/id__in'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/created_at__gt'
        - $ref: '#/components/parameters/created_at__gte'
        - $ref: '#/components/parameters/created_at__lt'
        - $ref: '#/components/parameters/created_at__lte'
        - $ref: '#/components/parameters/created_at__range'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/display_name__icontains'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersListAllResponse'
              examples:
                OwnerBankingAccountPaginated:
                  $ref: '#/components/examples/OwnerBankingAccountPaginated'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersListAll401Response'
    post:
      tags:
        - Owners
      summary: Retrieve owners for a link
      operationId: Owners_getLinkOwner
      description: >
        Retrieve owner information from a specific link.


        > ℹ️ **Note**: This resource may return deprecated fields. Please check
        the response documentation for more information.
      parameters:
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandardRequest'
      responses:
        '200':
          description: Ok (when `save_data=false`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersGetLinkOwnerResponse'
              examples:
                OwnerBankingAccount:
                  $ref: '#/components/examples/OwnerBankingAccount'
                OwnerIndividualOfda:
                  $ref: '#/components/examples/OwnerOfdaIndividual'
                OwnerBusinessOfda:
                  $ref: '#/components/examples/OwnerOfdaBusiness'
        '201':
          description: Created (when `save_data=true`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersGetLinkOwner201Response'
              examples:
                OwnerBankingAccount:
                  $ref: '#/components/examples/OwnerBankingAccount'
                OwnerIndividualOfda:
                  $ref: '#/components/examples/OwnerOfdaIndividual'
                OwnerBusinessOfda:
                  $ref: '#/components/examples/OwnerOfdaBusiness'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersGetLinkOwner400Response'
        '401':
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersGetLinkOwner401Response'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersGetLinkOwner408Response'
        '428':
          description: MFA Token Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersGetLinkOwner428Response'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersGetLinkOwner500Response'
    patch:
      tags:
        - Owners
      summary: Complete an owners request
      operationId: Owners_resumeRetrieveSession
      description: >
        Used to resume an Owner retrieve session that was paused because an MFA

        token was required by the institution.


        > ℹ️ **Note**: This resource may return deprecated fields. Please check
        the response documentation for more information.
      parameters:
        - $ref: '#/components/parameters/omit'
        - $ref: '#/components/parameters/fields'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBody'
      responses:
        '200':
          description: Ok (when `save_data=false`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersResumeRetrieveSessionResponse'
              examples:
                OwnerBankingAccount:
                  $ref: '#/components/examples/OwnerBankingAccount'
                OwnerIndividualOfda:
                  $ref: '#/components/examples/OwnerOfdaIndividual'
                OwnerBusinessOfda:
                  $ref: '#/components/examples/OwnerOfdaBusiness'
        '201':
          description: Created (when `save_data=true`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnersResumeRetrieveSession201Response'
              examples:
                OwnerBankingAccount:
                  $ref: '#/components/examples/OwnerBankingAccount'
                OwnerIndividualOfda:
                  $ref: '#/components/examples/OwnerOfdaIndividual'
[...]
