openapi: 3.0.0
info:
  title: Personnel Data
  description: >-
    API for reading and writing personnel data including data about attendances,
    absences, documents, etc
  version: '1.0'
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.personio.de/v1
tags:
  - name: Employees
  - name: Absences
  - name: Attendances
  - name: Projects
  - name: Custom Reports
  - name: Documents
paths:
  /company/employees:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    get:
      tags:
        - Employees
      operationId: Employees_getList
      security:
        - BearerAuth: []
      description: List Company Employees
      parameters:
        - description: >-
            Pagination attribute to limit the number of employees returned per
            page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 10
            example: 10
        - description: >-
            Pagination attribute to identify the first item in the collection to
            return.
          name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
        - description: >-
            Find an employee with the given email address. The response is still
            a list, containing only the filtered employee. NOTE: when using the
            updated_since filter, the email filter is ignored.
          name: email
          in: query
          required: false
          schema:
            type: string
        - description: >-
            A list of attributes that will be returned for the employees, ie. a
            projection of the employee fields and relationships. In case
            `updated_since` query parameter is used, this list will additionally
            be used to exclude the employees that had none of the provided
            `attributes[]` updated since `updated_since`, ie. a selection
            filter.
          name: attributes[]
          in: query
          example: '?attributes[]=first_name&attributes[]=last_name'
          required: false
          schema:
            type: array
            items:
              type: string
            example:
              - first_name
              - last_name
        - description: >-
            Filter to select and return only the employees that have been
            updated after `updated_since`. When it is used together with the
            `attributes[]` query parameter, the filter will select only the
            employees that have had any of the provided `attributes[]` updated
            since `updated_since`. The format is `ISO 8601`
            (2022-12-24T08:15:30). NOTE: when using the `updated_since` filter,
            the `email`, `limit`, and `offset` parameters are ignored.

            <details> <summary><b>Examples with <code>updated_since</code> and
            <code>attributes[]</code>:</b></summary><br /> In an example company
            that has 17 employees:<br /><br /> <details>
              <summary>
              <code class="language-html">?updated_since=2022-12-24T08:15:30</code>
              will yield 10 employees that were recently updated:
              </summary>
            <p><pre class="prettyprint"><code language="json"
            class="language-json"> {
              "success": true,
              "metadata": {
                "total_elements": 10,
                "current_page": 0,
                "total_pages": 10
              },
              "offset": 0,
              "limit": 1,
              "data": [
                {
                  "type": "Employee",
                  "attributes": {
                    "id": {
                      "label": "ID",
                      "value": 1,
                      "type": "integer",
                      "universal_id": "id"
                    },
                    "first_name": {
                      "label": "First name",
                      "value": "Alexander",
                      "type": "standard",
                      "universal_id": "first_name"
                    },
                    "last_name": {
                      "label": "Last name",
                      "value": "Bergmann",
                      "type": "standard",
                      "universal_id": "last_name"
                    },
                    "email": {
                      "label": "Email",
                      "value": "alexander.bergmann@demo.com",
                      "type": "standard",
                      "universal_id": "email"
                    }
                  }
                }, ...
              ],
              ...
              ...
            } </code></pre></p> </details><br /> <details>
              <summary>
              <code class="language-html">?attributes[]=first_name</code>
              will yield all 17 employees:
              </summary>
            <p><pre class="prettyprint"><code language="json"
            class="language-json"> {
              "success": true,
              "metadata": {
                "total_elements": 17,
                "current_page": 0,
                "total_pages": 17
              },
              "offset": 0,
              "limit": 1,
              "data": [
                {
                  "type": "Employee",
                  "attributes": {
                    "id": {
                      "label": "ID",
                      "value": 1,
                      "type": "integer",
                      "universal_id": "id"
                    },
                    "first_name": {
                      "label": "First name",
                      "value": "Alexander",
                      "type": "standard",
                      "universal_id": "first_name"
                    }
                  }
                }
              ]
            } </code></pre></p> </details><br /> <details>
              <summary>
              <code class="language-html">?attributes[]=first_name&updated_since=2022-12-24T08:15:30</code>
              will yield 3 employees, ones that had their <code>first_name</code> changed since <code>2022-12-24T08:15:30</code>:
              </summary>
            <p><pre class="prettyprint"><code language="json"
            class="language-json"> {
              "success": true,
              "metadata": {
                "total_elements": 3,
                "current_page": 0,
                "total_pages": 3
              },
              "offset": 0,
              "limit": 1,
              "data": [
                {
                  "type": "Employee",
                  "attributes": {
                    "id": {
                      "label": "ID",
                      "value": 1,
                      "type": "integer",
                      "universal_id": "id"
                    },
                    "first_name": {
                      "label": "First name",
                      "value": "Alexander",
                      "type": "standard",
                      "universal_id": "first_name"
                    }
                  }
                }
              ]
            } </code></pre></p> </details> </details>
          name: updated_since
          in: query
          required: false
          example: '2022-12-24T08:15:30'
          schema:
            type: string
            example: '2022-12-24T08:15:30.000Z'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeesResponse'
              examples:
                response:
                  value:
                    success: true
                    metadata:
                      total_elements: 2
                      current_page: 0
                      total_pages: 3
                    offset: 0
                    limit: 20
                    data:
                      - type: Employee
                        attributes:
                          id:
                            label: ID
                            value: 1
                            type: integer
                            universal_id: id
                          first_name:
                            label: First name
                            value: Alexander
                            type: standard
                            universal_id: first_name
                          last_name:
                            label: Last name
                            value: Bergmann
                            type: standard
                            universal_id: last_name
                          preferred_name:
                            label: Name (preferred)
                            value: Alexander Bergmann
                            type: standard
                            universal_id: preferred_name
                          email:
                            label: Email
                            value: alexander.bergmann@demo.email
                            type: standard
                            universal_id: email
                          gender:
                            label: Gender
                            value: male
                            type: standard
                            universal_id: gender
                          status:
                            label: Status
                            value: active
                            type: standard
                            universal_id: status
                          position:
                            label: Position
                            value: CTO
                            type: standard
                            universal_id: position
                          supervisor:
                            label: Supervisor
                            value:
                              type: Employee
                              attributes:
                                id:
                                  label: ID
                                  value: 2
                                  type: integer
                                  universal_id: id
                            type: standard
                            universal_id: supervisor
                          employment_type:
                            label: Employment type
                            value: external
                            type: standard
                            universal_id: employment_type
                          weekly_working_hours:
                            label: Weekly hours
                            value: '40'
                            type: standard
                            universal_id: weekly_working_hours
                          hire_date:
                            label: Hire date
                            value: '2014-11-08T23:00:00.000Z'
                            type: date
                            universal_id: hire_date
                          contract_end_date:
                            label: Contract ends
                            value: null
                            type: date
                            universal_id: contract_end_date
                          termination_date:
                            label: Termination date
                            value: null
                            type: date
                            universal_id: termination_date
                          termination_type:
                            label: Termination type
                            value: null
                            type: standard
                            universal_id: termination_type
                          termination_reason:
                            label: Termination reason
                            value: null
                            type: standard
                            universal_id: termination_reason
                          probation_period_end:
                            label: Probation period end
                            value: null
                            type: date
                            universal_id: probation_period_end
                          created_at:
                            label: created_at
                            value: '2017-05-23T09:49:03+02:00'
                            type: date
                            universal_id: created_at
                          last_modified_at:
                            label: Last modified
                            value: '2020-11-18T17:33:55+01:00'
                            type: date
                            universal_id: last_modified_at
                          subcompany:
                            label: Subcompany
                            value:
                              type: Subcompany
                              attributes:
                                id: 7033
                                name: CS Demo GmbH
                            type: standard
                            universal_id: subcompany
                          office:
                            label: Office
                            value:
                              type: Office
                              attributes:
                                id: 131014
                                name: Munich
                            type: standard
                            universal_id: office
                          department:
                            label: Department
                            value:
                              type: Department
                              attributes:
                                id: 281521
                                name: Customer Support
                            type: standard
                            universal_id: department
                          cost_centers:
                            label: Cost center
                            value:
                              - type: CostCenter
                                attributes:
                                  id: 82957
                                  name: Cost center 1
                                  percentage: 100
                            type: standard
                            universal_id: cost_centers
                          holiday_calendar:
                            label: Public holidays
                            value:
                              type: HolidayCalendar
                              attributes:
                                id: 2
                                name: Deutschland (Bayern) Feiertage
                                country: DE
                                state: Bayern
                            type: standard
                            universal_id: holiday_calendar
                          absence_entitlement:
                            label: Absence entitlement
                            value:
                              - type: TimeOffType
                                attributes:
                                  id: 113437
                                  name: Paid vacation
                                  category: paid_vacation
                                  entitlement: 24
                            type: standard
                            universal_id: absence_entitlement
                          work_schedule:
                            label: Work schedule
                            value:
                              type: WorkSchedule
                              attributes:
                                id: 97188
                                name: >-
                                  Full-time, 40 hours without time tracking,
                                  (mon,tue,wed,thu,fri)
                                valid_from: null
                                monday: '08:00'
                                tuesday: '08:00'
                                wednesday: '08:00'
                                thursday: '08:00'
                                friday: '08:00'
                                saturday: '00:00'
                                sunday: '00:00'
                            type: standard
                            universal_id: work_schedule
                          fix_salary:
                            label: Fix salary
                            value: 3000
                            type: decimal
                            universal_id: fix_salary
                            currency: EUR
                          fix_salary_interval:
                            label: Salary interval
                            value: monthly
                            type: standard
                            universal_id: fix_salary_interval
                          hourly_salary:
                            label: Hourly salary
                            value: 0
                            type: decimal
                            universal_id: hourly_salary
                            currency: EUR
                          vacation_day_balance:
                            label: Vacation day balance
                            value: 2
                            type: decimal
                            universal_id: vacation_day_balance
                          last_working_day:
                            label: Last day of work
                            value: null
                            type: date
                            universal_id: last_working_day
                          profile_picture:
                            label: Profile Picture
                            value: >-
                              https://api.personio.de/v1/company/employees/1132888/profile-picture
                            type: standard
                            universal_id: profile_picture
                          team:
                            label: Team
                            value:
                              type: Team
                              attributes:
                                id: 59026
                                name: T_X
                            type: standard
                            universal_id: team
                          dynamic_24407:
                            label: Titel
                            value: Dr
                            universal_id: null
                            type: standard
                          dynamic_21827:
                            label: IBAN
                            value: DE98 8989 9898 0000 8989 00
                            universal_id: iban
                            type: standard
                          dynamic_33400:
                            label: Anniversary Date
                            value: '2021-01-01T00:00:00.000Z'
                            universal_id: null
                            type: date
    post:
      tags:
        - Employees
      summary: Create an employee
      operationId: Employees_createEmployee
      security:
        - BearerAuth: []
      description: >
        Creates a new employee. If the employee's status is not provided, it
        will be set based on the `hire_date` value - if it is in the past,
        status will be `active`, otherwise `onboarding`. This endpoint responds
        with the `id` of the created employee in case of success.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeesCreateEmployeeRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeesCreateEmployeeRequest1'
      responses:
        '200':
          description: Successful creation of a employee
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeCreatedResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      id: 81723
                      message: success
        '422':
          description: Employee creation failed due to invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeCreationErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 422
                      message: Supervisor with ID 1 not found
  /company/employees/{employee_id}:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    patch:
      tags:
        - Employees
      summary: Update an employee
      operationId: Employees_updateEmployeeFields
      security:
        - BearerAuth: []
      description: >
        Updates an existing employee. Note: Only the fields that are listed in
        the body example are updatable. Attributes that are not part of the
        sample request body but are present inside the request are ignored. It's
        not possible to update the Email field.
      parameters:
        - description: Numeric `id` of the employee
          name: employee_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeesUpdateEmployeeFieldsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeesUpdateEmployeeFieldsRequest1'
      responses:
        '200':
          description: Employee is updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeUpdatedResponse'
        '422':
          description: Employee update failed due to invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeUpdateErrorResponse'
    get:
      tags:
        - Employees
      operationId: Employees_showById
      security:
        - BearerAuth: []
      description: Show employee by ID
      parameters:
        - description: Numeric `id` of the employee
          name: employee_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      type: Employee
                      attributes:
                        id:
                          label: ID
                          value: 1
                          type: integer
                          universal_id: id
                        first_name:
                          label: First name
                          value: Alexander
                          type: standard
                          universal_id: first_name
                        last_name:
                          label: Last name
                          value: Bergmann
                          type: standard
                          universal_id: last_name
                        preferred_name:
                          label: Name (preferred)
                          value: Alexander Bergmann
                          type: standard
                          universal_id: preferred_name
                        email:
                          label: Email
                          value: alexander.bergmann@demo.email
                          type: standard
                          universal_id: email
                        gender:
                          label: Gender
                          value: male
                          type: standard
                          universal_id: gender
                        status:
                          label: Status
                          value: active
                          type: standard
                          universal_id: status
                        position:
                          label: Position
                          value: CTO
                          type: standard
                          universal_id: position
                        supervisor:
                          label: Supervisor
                          value:
                            type: Employee
                            attributes:
                              id:
                                label: ID
                                value: 2
                                type: integer
                                universal_id: id
                          type: standard
                          universal_id: supervisor
                        employment_type:
                          label: Employment type
                          value: external
                          type: standard
                          universal_id: employment_type
                        weekly_working_hours:
                          label: Weekly hours
                          value: '40'
                          type: standard
                          universal_id: weekly_working_hours
                        hire_date:
                          label: Hire date
                          value: '2014-11-08T23:00:00.000Z'
                          type: date
                          universal_id: hire_date
                        contract_end_date:
                          label: Contract ends
                          value: null
                          type: date
                          universal_id: contract_end_date
                        termination_date:
                          label: Termination date
                          value: null
                          type: date
                          universal_id: termination_date
                        termination_type:
                          label: Termination type
                          value: null
                          type: standard
                          universal_id: termination_type
                        termination_reason:
                          label: Termination reason
                          value: null
                          type: standard
                          universal_id: termination_reason
                        probation_period_end:
                          label: Probation period end
                          value: null
                          type: date
                          universal_id: probation_period_end
                        created_at:
                          label: created_at
                          value: '2017-05-23T09:49:03+02:00'
                          type: date
                          universal_id: created_at
                        last_modified_at:
                          label: Last modified
                          value: '2020-11-18T17:33:55+01:00'
                          type: date
                          universal_id: last_modified_at
                        subcompany:
                          label: Subcompany
                          value:
                            type: Subcompany
                            attributes:
                              id: 7033
                              name: CS Demo GmbH
                          type: standard
                          universal_id: subcompany
                        office:
                          label: Office
                          value:
                            type: Office
                            attributes:
                              id: 131014
                              name: Munich
                          type: standard
                          universal_id: office
                        department:
                          label: Department
                          value:
                            type: Department
                            attributes:
                              id: 281521
                              name: Customer Support
                          type: standard
                          universal_id: department
                        cost_centers:
                          label: Cost center
                          value:
                            - type: CostCenter
                              attributes:
                                id: 82957
                                name: Cost center 1
                                percentage: 100
                          type: standard
                          universal_id: cost_centers
                        holiday_calendar:
                          label: Public holidays
                          value:
                            type: HolidayCalendar
                            attributes:
                              id: 2
                              name: Deutschland (Bayern) Feiertage
                              country: DE
                              state: Bayern
                          type: standard
                          universal_id: holiday_calendar
                        absence_entitlement:
                          label: Absence entitlement
                          value:
                            - type: TimeOffType
                              attributes:
                                id: 113437
                                name: Paid vacation
                                category: paid_vacation
                                entitlement: 24
                          type: standard
                          universal_id: absence_entitlement
                        work_schedule:
                          label: Work schedule
                          value:
                            type: WorkSchedule
                            attributes:
                              id: 97188
                              name: >-
                                Full-time, 40 hours without time tracking,
                                (mon,tue,wed,thu,fri)
                              valid_from: null
                              monday: '08:00'
                              tuesday: '08:00'
                              wednesday: '08:00'
                              thursday: '08:00'
                              friday: '08:00'
                              saturday: '00:00'
                              sunday: '00:00'
                          type: standard
                          universal_id: work_schedule
                        fix_salary:
                          label: Fix salary
                          value: 3000
                          type: decimal
                          universal_id: fix_salary
                          currency: EUR
                        fix_salary_interval:
                          label: Salary interval
                          value: monthly
                          type: standard
                          universal_id: fix_salary_interval
                        hourly_salary:
                          label: Hourly salary
                          value: 0
                          type: decimal
                          universal_id: hourly_salary
                          currency: EUR
                        vacation_day_balance:
                          label: Vacation day balance
                          value: 2
                          type: decimal
                          universal_id: vacation_day_balance
                        last_working_day:
                          label: Last day of work
                          value: null
                          type: date
                          universal_id: last_working_day
                        profile_picture:
                          label: Profile Picture
                          value: >-
                            https://api.personio.de/v1/company/employees/1132888/profile-picture
                          type: standard
                          universal_id: profile_picture
                        team:
                          label: Team
                          value:
                            type: Team
                            attributes:
                              id: 59026
                              name: T_X
                          type: standard
                          universal_id: team
                        dynamic_24407:
                          label: Titel
                          value: Dr
                          universal_id: null
                          type: standard
                        dynamic_21827:
                          label: IBAN
                          value: DE98 8989 9898 0000 8989 00
                          universal_id: iban
                          type: standard
                        dynamic_33400:
                          label: Anniversary Date
                          value: '2021-01-01T00:00:00.000Z'
                          universal_id: null
                          type: date
                        dynamic_180883:
                          label: Birthday
                          value: '1983-08-18T00:00:00.000Z'
                          universal_id: date_of_birth
                          type: date
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee404ErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: 'Es ist ein Problem aufgetreten '
  /company/employees/{employee_id}/absences/balance:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    get:
      tags:
        - Employees
      operationId: Employees_getAbsenceBalance
      security:
        - BearerAuth: []
      description: Retrieve the absence balance for a specific employee
      parameters:
        - description: Numeric `id` of the employee
          name: employee_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceBalance'
              examples:
                response:
                  value:
                    success: true
                    data:
                      - id: 21799
                        name: Paid Vacation
                        category: null
                        balance: 14
                      - id: 33523
                        name: Sick Days
                        category: null
                        balance: 0
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee404ErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: 'Es ist ein Problem aufgetreten '
  /company/employees/custom-attributes:
    get:
      tags:
        - Employees
      operationId: Employees_getCustomAttributes
      security:
        - BearerAuth: []
      description: This endpoint is an alias for `/company/employees/attributes`.
      parameters:
        - $ref: '#/components/parameters/XPersonioPartnerID'
        - $ref: '#/components/parameters/XPersonioAppID'
      responses:
        '200':
          description: Please refer to `/company/employees/attributes`
  /company/employees/attributes:
    get:
      tags:
        - Employees
      operationId: Employees_listAttributes
      security:
        - BearerAuth: []
      description: >-
        Lists all the allowed atrributes per API credentials including custom
        (dynamic) attributes.
      parameters:
        - $ref: '#/components/parameters/XPersonioPartnerID'
        - $ref: '#/components/parameters/XPersonioAppID'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                      - key: first_name
                        label: First Name
                        type: standard
                        universal_id: first_name
                      - key: last_name
                        label: Last Name
                        type: standard
                        universal_id: last_name
                      - key: dynamic_1
                        label: IBAN
                        type: standard
                        universal_id: iban
              schema:
                $ref: '#/components/schemas/EmployeesListAttributesResponse'
  /company/employees/{employee_id}/profile-picture/{width}:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    get:
      tags:
        - Employees
      operationId: Employees_showProfilePicture
      security:
        - BearerAuth: []
      description: >-
        Show employee's profile picture. If profile picture is missing, the 404
        error will be thrown. The `Profile Picture` attribute has to be
        whitelisted.
      parameters:
        - description: Numeric `id` of the employee
          name: employee_id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Width of the image. Default is original size
          name: width
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/EmployeesShowProfilePictureResponse'
        '404':
          description: >-
            When the employee doesn't exist or employee doesn't have profile
            picture set or Profile Picture attribute is not whitelisted, this
            error occurs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee404ErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: Etwas ist schiefgelaufen ...
  /company/attendances:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    get:
      tags:
        - Attendances
      operationId: Attendances_getList
      security:
        - BearerAuth: []
      description: >-
        Fetch attendance data for the company employees. The result can be
        `paginated` and `filtered` by period, the date and/or time they were
        updated, and/or specific employee/employees. The result contains a list
        of attendances.
      parameters:
        - description: >-
            First day of the period to be queried. It is inclusive, so the day
            specified as start_date will also be considered on the results
          name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - description: >-
            Last day of the period to be queried. It is inclusive, so the day
            specified as end_date will also be considered on the results.
          name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - description: >-
            Datetime from when the queried periods have been updated. Same
            format as updated_at. It is inclusive, so the day specified as
            updated_from will also be considered on the results. Can be just the
            date, or the date and the time, with or without the timezone.
          name: updated_from
          in: query
          required: false
          schema:
            type: string
            format: datetime
        - description: >-
            Datetime until when the queried periods have been updated. Same
            format as updated_at. It is inclusive, so the day specified as
            updated_to will also be considered on the results. Can be just the
            date, or the date and the time, with or without the timezone.
          name: updated_to
          in: query
          required: false
          schema:
            type: string
            format: datetime
        - description: >-
            Returns AttendancePeriods with a status of pending, rejected and
            confirmed. For pending periods, the end_date attribute is nullable.
            The status of each period is included in the response.
          name: includePending
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            A list of Personio employee ID's to filter the results. The result
            filters including only attendances of provided employees.
          name: employees[]
          in: query
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
            example: '?employees[]=1&employees[]=2'
          allowReserved: true
        - description: Pagination attribute to limit how many attendances are per page
          name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 200
        - description: >-
            The offset from the first record that would be returned. With 3
            results [A, B, C] and an offset of 1, the following two results will
            be returned [B, C].
          name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: The Attendance periods matching the provided filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendancePeriodsResponse'
              examples:
                response:
                  value:
                    success: true
                    metadata:
                      total_elements: 2
                      current_page: 0
                      total_pages: 3
                    offset: 0
                    limit: 200
                    data:
                      - id: 1234
                        type: AttendancePeriod
                        attributes:
                          employee: 325659
                          date: '2017-01-17'
                          start_time: '09:00'
                          end_time: '18:00'
                          updated_at: '2017-01-17T16:41:08+00:00'
                          status: confirmed
                          break: 50
                          comment: I was super productive
                          is_holiday: false
                          is_on_time_off: false,
                          project:
                            id: 567
                            type: Project
                            attributes:
                              name: A project name
                              active: true
                      - id: 1235
                        type: AttendancePeriod
                        attributes:
                          employee: 325660
                          date: '2017-01-18'
                          start_time: '09:30'
                          end_time: '18:30'
                          updated_at: '2017-01-18T16:41:08+01:00'
                          status: pending
                          break: 60
                          comment: I wasn't productive
                          is_holiday: false
                          is_on_time_off: true
                          project: null
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenResponse'
    post:
      tags:
        - Attendances
      operationId: Attendances_createMultipleAttendances
      security:
        - BearerAuth: []
      description: >-
        This endpoint is responsible for adding attendance data for the company
        employees. It is possible to add attendances for one or many employees
        at the same time. The payload sent on the request should be a list of
        attendance periods, in the form of an array containing attendance period
        objects.
      requestBody:
        description: List of attendance periods to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceCreateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewAttendancePeriodParametersRequest'
        required: true
      responses:
        '200':
          description: The attendance periods are successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewAttendancePeriodResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      id:
                        - 1
                        - 2
                      message: success
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceCreateUpdate400ErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: Error when trying to insert Attendances periods rows
                      detailed_message:
                        - success: true
                          error_msg: null
                          id: 1
                          employee: 1234
                          date: '2017-01-01'
                          start_time: '09:00'
                          end_time: '18:00'
                          break: 60
                          comment: ''
                          project_id: 5
                        - success: false
                          error_msg: Existing overlapping attendances periods
                          id: null
                          employee: 1234
                          date: '2017-01-01'
                          start_time: '09:00'
                          end_time: '18:00'
                          break: 60
                          comment: ''
                          project_id: null
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenResponse'
  /company/attendances/{id}:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    delete:
      tags:
        - Attendances
      operationId: Attendances_deleteData
      security:
        - BearerAuth: []
      description: >-
        This endpoint is responsible for deleting attendance data for the
        company employees.
      parameters:
        - description: ID of the attendance period to delete
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: >-
            Optional, default value is true. If set to false, the approval
            status of the attendance period will be "pending" if an approval
            rule is set for the attendances type. The respective approval flow
            will be triggered.
          name: skip_approval
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedAttendanceResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      message: The attendance period was deleted.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceDelete400ErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: Bad Request
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attendance404ErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: The attendance period was not found.
    patch:
      tags:
        - Attendances
      operationId: Attendances_updateAttendanceData
      security:
        - BearerAuth: []
      description: >-
        This endpoint is responsible for updating attendance data for the
        company employees. Attributes are not required and if not specified, the
        current value will be used. It is not possible to change the employee
        id.
      parameters:
        - description: ID of the attendance period to update
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: >-
          Attendance period data to update. At least one of the properties
          (`date`, `start_time`, `end_time`, `break`, `comment`, `project_id`,
          `skip_approval`) is required.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceUpdateRequest'
        required: true
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedAttendanceResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      message: The attendance period was updated.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceCreateUpdate400ErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: Error when trying to insert Attendances periods rows.
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenResponse'
        '404':
          description: Not found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attendance404ErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: The attendance period was not found.
  /company/attendances/projects:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    get:
      tags:
        - Projects
      operationId: Projects_getAll
      security:
        - BearerAuth: []
      description: Provides a list of all company projects.
      responses:
        '200':
          description: List of projects returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsGetAllResponse'
    post:
      tags:
        - Projects
      operationId: Projects_createProject
      security:
        - BearerAuth: []
      description: Creates a project into the company account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectsCreateProjectRequest'
      responses:
        '200':
          description: Project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsCreateProjectResponse'
        '400':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsCreateProject400Response'
  /company/attendances/projects/{id}:
    delete:
      tags:
        - Projects
      operationId: Projects_deleteProject
      security:
        - BearerAuth: []
      description: Deletes a project from the company account
      parameters:
        - description: Numeric `id` of the project
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Project was successfully deleted
        '404':
          description: Project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsDeleteProjectResponse'
    patch:
      tags:
        - Projects
      operationId: Projects_updateData
      security:
        - BearerAuth: []
      description: Updates a project with the given data
      parameters:
        - description: Numeric `id` of the project
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectsUpdateDataRequest'
      responses:
        '200':
          description: Project updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsUpdateDataResponse'
        '400':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsUpdateData400Response'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsUpdateData404Response'
  /company/time-off-types:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    get:
      tags:
        - Absences
      operationId: Absences_listTimeOffTypes
      security:
        - BearerAuth: []
      description: >-
        Provides a list of absence types for absences **time unit** set to
        either **days** or **hours**. For example 'Paid vacation', 'Parental
        leave' or 'Home office'.
      parameters:
        - description: >-
            Pagination attribute to limit how many records will be returned per
            page
          name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 200
        - description: >-
            Pagination attribute to identify which page you are requesting, by
            the form of telling an offset from the first record that would be
            returned.
          name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsencesListTimeOffTypesResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      - type: TimeOffType
                        attributes:
                          id: 1234
                          name: Paid vacation
                          category: null
                          legacy_category: null
                          unit: day
                          half_day_requests_enabled: true
                          certification_required: false
                          substitute_option: disabled
                          approval_required: true
                      - type: TimeOffType
                        attributes:
                          id: 1235
                          name: Home office
                          category: offsite_work
                          legacy_category: offsite_work
                          unit: hour
                          half_day_requests_enabled: true
                          certification_required: true
                          certification_submission_timeframe: 2
                          substitute_option: optional
                          approval_required: true
  /company/time-offs:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    get:
      tags:
        - Absences
      operationId: Absences_getAbsencePeriods
      security:
        - BearerAuth: []
      description: >-
        Fetches absence periods for absences with **time unit** set to **days**.
        The result can be `paginated` and `filtered` by period and/or specific
        employee/employees. The result contains a list of absence periods.
      parameters:
        - description: >-
            First day of the period to be queried. It is inclusive, so the
            result starts from and including the provided `start_date`
          name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
        - description: >-
            Last day of the period to be queried. It is inclusive, so the result
            ends on `end_date` including absences from the `end_date`
          name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
        - description: >-
            Query the periods that created or modified from the date
            `updated_from`. It is inclusive, so all the periods created or
            modified from the beginning of the `updated_from` will be included
            in the results
          name: updated_from
          in: query
          required: false
          schema:
            type: string
            format: date
        - description: >-
            Query the periods that created or modified until the date
            `updated_to`. It is inclusive, so all the periods created or
            modified until the end of the `updated_to` will be included in the
            results
          name: updated_to
          in: query
          required: false
          schema:
            type: string
            format: date
        - description: >-
            A list of Personio employee ID's to filter the results. The result
            filters including only absences of provided employees
          name: employees[]
          in: query
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
          allowReserved: true
        - description: Pagination attribute to limit the number of absence periods per page
          name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 200
        - description: >-
            Pagination attribute to identify which page number you are
            requesting
          name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsencePeriodsResponse'
              examples:
                response:
                  value:
                    success: true
                    metadata:
                      total_elements: 1
                      current_page: 1
                      total_pages: 1
                    data:
                      - type: TimeOffPeriod
                        attributes:
                          id: 12345
                          status: approved
                          start_date: 2017-12-27T00:00:00+0100
                          end_date: 2017-12-29T00:00:00+0100
                          days_count: 3
                          half_day_start: false
                          half_day_end: false
                          time_off_type:
                            type: TimeOffType
                            attributes:
                              id: 54321
                              name: Vacation
                              category: offsite_work
                          employee:
                            type: Employee
                            attributes:
                              id:
                                label: id
                                value: 4567
                                type: integer
                                universal_id: id
                              first_name:
                                label: First name
                                value: Michael
                                type: standard
                                universal_id: first_name
                              last_name:
                                label: Last name
                                value: Miller
                                type: standard
                                universal_id: last_name
                              email:
                                label: Email
                                value: michael.miller@demo.com
                                type: standard
                                universal_id: email
                          certificate:
                            status: not-required
                          created_at: 2017-01-17T10:32:18+0100
                          updated_at: 2017-01-17T10:32:18+0100
                    offset: 0,
                    limit: 200,
    post:
      tags:
        - Absences
      operationId: Absences_addAbsenceData
      security:
        - BearerAuth: []
      description: Adds absence data for absence types with **time unit** set to **days**.
      requestBody:
        description: Absence data
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTimeOffPeriodRequest'
        required: true
      responses:
        '200':
          description: The absence period is successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsencesAddAbsenceDataResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      type: TimeOffPeriod
                      attributes:
                        id: 12345
                        status: approved
                        start_date: 2017-12-27T00:00:00+0100
                        end_date: 2017-12-29T00:00:00+0100
                        days_count: 3
                        half_day_start: false
                        half_day_end: false
                        time_off_type:
                          type: TimeOffType
                          attributes:
                            id: 54321
                            name: Vacation
                            category: offsite_work
                        employee:
                          type: Employee
                          attributes:
                            id:
                              label: id
                              value: 4567
                              type: integer
                              universal_id: id
                            first_name:
                              label: First name
                              value: Michael
                              type: standard
                              universal_id: first_name
                            last_name:
                              label: Last name
                              value: Miller
                              type: standard
                              universal_id: last_name
                            email:
                              label: Email
                              value: michael.miller@demo.com
                              type: standard
                              universal_id: email
                        certificate:
                          status: not-required
                        created_at: 2017-01-17T10:32:18+0100
                        created_by: API
                        updated_at: 2017-01-17T10:32:18+0100
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInsertingAbsenceResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: Error when trying to insert absence period
        '404':
          description: Employee or Absence type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 0
                      message: Time-off type not found.
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCreateAbsenceResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 0
                      message: The given data failed to pass validation.
                      error_data: '{...}'
      x-readme:
        code-samples:
          - language: powershell
            code: >-
              Auto-generated code snippets for this language may not be
              supported
          - language: php
            code: >-
              Auto-generated code snippets for this language may not be
              supported
  /company/time-offs/{id}:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    delete:
      tags:
        - Absences
      operationId: Absences_deleteAbsenceData
      security:
        - BearerAuth: []
      description: >-
        Deletes absence period data for absence types with **time unit** set to
        **days**.
      parameters:
        - description: ID of the absence period to delete
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedAbsenceResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      message: The absence period was deleted.
        '400':
          description: Bad request response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAbsenceResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: The absence period id is invalid.
        '404':
          description: Not found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAbsenceResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: The absence period was not found.
    get:
      tags:
        - Absences
      operationId: Absences_getAbsencePeriod
      security:
        - BearerAuth: []
      description: Gets an absence period for absences with **time unit** set to **days**.
      parameters:
        - description: Numeric `id` of the absence period
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsencePeriodResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      type: TimeOffPeriod
                      attributes:
                        id: 12345
                        status: approved
                        start_date: 2017-12-27T00:00:00+0100
                        end_date: 2017-12-29T00:00:00+0100
                        days_count: 3
                        half_day_start: false
                        half_day_end: false
                        time_off_type:
                          type: TimeOffType
                          attributes:
                            id: 45678
                            name: Vacation
                            category: offsite_work
                        employee:
                          type: Employee
                          attributes:
                            id:
                              label: id
                              value: 2367
                              type: integer
                              universal_id: id
                            first_name:
                              label: First name
                              value: Michael
                              type: standard
                              universal_id: first_name
                            last_name:
                              label: Last name
                              value: Miller
                              type: standard
                              universal_id: last_name
                            email:
                              label: Email
                              value: michael.miller@demo.com
                              type: standard
                              universal_id: email
                        certificate:
                          status: not-required
                        created_at: 2017-01-17T10:32:18+0100
                        updated_at: 2017-01-17T10:32:18+0100
        '404':
          description: Not found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAbsenceResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: The absence period was not found.
  /company/absence-periods:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    get:
      tags:
        - Absences
      operationId: Absences_getHourlyPeriods
      security:
        - BearerAuth: []
      description: >-
        Fetches absence periods for absences with **time unit** set to
        **hours**. The result can be `paginated` and `filtered` by period and/or
        specific employee/employees. The result contains a list of hourly
        absence periods.
      parameters:
        - description: Filter by absence periods that start at or before given date.
          name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
        - description: Filter by absence periods that start at or before given date.
          name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
        - description: >-
            Filter by periods that were created or modified from the date
            updated_from. It is inclusive, so all the periods created or
            modified from the beginning of the updated_from will be included in
            the results.
          name: updated_from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: >-
            Filter by periods that were created or modified until the date
            updated_to. It is inclusive, so all the periods created or modified
            until the end of the updated_to will be included in the results.
          name: updated_to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: >-
            A list of Personio employee ID's to filter the results. The result
            filters including only absences of provided employees
          name: employees[]
          in: query
          required: false
          explode: true
          schema:
            type: array
            items:
              type: integer
          allowReserved: true
        - description: >-
            A list of Personio absence type IDs to filter the results. The
            result filters including only absences of provided absence types.
          name: absence_types[]
          in: query
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
          allowReserved: true
        - description: >-
            A list of Personio absence period IDs to filter the results. The
            result filters including only absences containing the provided ids.
          name: absence_periods[]
          in: query
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
          allowReserved: true
        - description: >-
            Pagination attribute to limit how many absence periods are returned
            per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 200
        - description: >-
            Pagination attribute to identify which page you are requesting, by
            the form of telling an offset from the first record that would be
            returned.
          name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyAbsencePeriodsResponse'
              examples:
                response:
                  value:
                    success: true
                    metadata:
                      total_elements: 1
                      current_page: 1
                      total_pages: 1
                    data:
                      - type: AbsencePeriod
                        attributes:
                          id: 9bba303f-0fbc-4514-9958-0befa21923fb
                          measurement_unit: hour
                          effective_duration: 960
                          employee:
                            type: Employee
                            attributes:
                              id:
                                label: id
                                value: 2367
                                type: integer
                                universal_id: id
                              first_name:
                                label: First name
                                value: Michael
                                type: standard
                                universal_id: first_name
                              last_name:
                                label: Last name
                                value: Miller
                                type: standard
                                universal_id: last_name
                              email:
                                label: Email
                                value: michael.miller@demo.com
                                type: standard
                                universal_id: email
                          absence_type:
                            type: AbsenceType
                            attributes:
                              id: 9bba303f-0fbc-4514-9958-0befa21923fbX
                              name: Absence Type Name
                              time_off_type_id: 45678
                          certificate:
                            status: not-required
                          start: '2022-05-31T22:00:00.0Z'
                          end: '2022-06-02T22:00:00.0Z'
                          half_day_start: true
                          half_day_end: false
                          comment: this is a comment
                          origin: web
                          status: approved
                          created_by: 1
                          created_at: '2022-06-20T14:29:56.510Z'
                          updated_at: '2022-06-20T14:29:56.510Z'
                          approved_at: '2022-06-20T14:29:56.510Z'
                          breakdowns:
                            - date: '2022-06-01'
                              effective_duration: 480
                            - date: '2022-06-02'
                              effective_duration: 480
                    offset: 0,
                    limit: 200,
        '400':
          description: Bad request
          content:
            problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Absences
      operationId: Absences_addAbsencePeriodsData
      security:
        - BearerAuth: []
      description: >-
        Adds absence data for absence types with **time unit** set to **hours**.
        Note that creating periods for absence types with certificate
        requirement enabled is not supported!
      requestBody:
        description: Absence data
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAbsencePeriodRequest'
        required: true
      responses:
        '201':
          description: The absence period was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbsencesAddAbsencePeriodsDataResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      - type: AbsencePeriod
                        attributes:
                          id: 9bba303f-0fbc-4514-9958-0befa21923fbX
                          measurement_unit: hour
                          effective_duration: 960
                          employee:
                            type: Employee
                            attributes:
                              id:
                                label: id
                                value: 2367
                                type: integer
                                universal_id: id
                              first_name:
                                label: First name
                                value: Michael
                                type: standard
                                universal_id: first_name
                              last_name:
                                label: Last name
                                value: Miller
                                type: standard
                                universal_id: last_name
                              email:
                                label: Email
                                value: michael.miller@demo.com
                                type: standard
                                universal_id: email
                          absence_type:
                            type: AbsenceType
                            attributes:
                              id: 9bba303f-0fbc-4514-9958-0befa21923fbX
                              name: Absence Type Name
                              time_off_type_id: 45678
                          certificate:
                            status: not-required
                          start: '2022-05-31T22:00:00.0Z'
                          end: '2022-06-02T22:00:00.0Z'
                          half_day_start: true
                          half_day_end: false
                          comment: this is a comment
                          origin: web
                          status: approved
                          timezone: Europe/Berlin
                          created_by: 1
                          created_at: '2022-06-20T14:29:56.510Z'
                          updated_at: '2022-06-20T14:29:56.510Z'
                          approved_at: '2022-06-20T14:29:56.510Z'
                          breakdowns:
                            - date: '2022-06-01'
                              effective_duration: 480
                            - date: '2022-06-02'
                              effective_duration: 480
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInsertingAbsenceResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: Error when trying to insert absence period
        '404':
          description: Employee or Absence type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 0
                      message: Absence type not found.
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCreateAbsenceResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 0
                      message: The given data failed to pass validation.
                      error_data: '{...}'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 0
                      message: Something went wrong
      x-readme:
        code-samples:
          - language: powershell
            code: >-
              Auto-generated code snippets for this language may not be
              supported
          - language: php
            code: >-
              Auto-generated code snippets for this language may not be
              supported
  /company/absence-periods/{id}:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    delete:
      tags:
        - Absences
      operationId: Absences_deletePeriodData
      security:
        - BearerAuth: []
      description: >-
        Deletes absence period data for absence types with **time unit** set to
        **hours**.
      parameters:
        - description: ID of the absence period to delete
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: 61fe126b-a7b3-449a-b5ee-3865a6fcc546
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedAbsenceResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      message: The absence period was deleted.
        '400':
          description: Bad request response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAbsenceResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: The absence period id is invalid.
        '404':
          description: Not found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAbsenceResponse'
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: The absence period was not found.
  /company/document-categories:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    get:
      tags:
        - Documents
      operationId: Documents_getCategories
      security:
        - BearerAuth: []
      description: >-
        This endpoint is responsible for fetching all document categories of the
        company. The result contains a list of document categories.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCategoriesResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      - id: 1
                        type: DocumentCategory
                        attributes:
                          name: Certificates of employment
                      - id: 2
                        type: DocumentCategory
                        attributes:
                          name: Other documents
  /company/documents:
    parameters:
      - $ref: '#/components/parameters/XPersonioPartnerID'
      - $ref: '#/components/parameters/XPersonioAppID'
    post:
      tags:
        - Documents
      operationId: Documents_uploadForEmployees
      security:
        - BearerAuth: []
      description: >-
        This endpoint is responsible for uploading documents for the company
        employees.
      requestBody:
        description: Data necessary for document upload.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentUploadRequest'
      responses:
        '201':
          description: The document was successfully uploaded to the employees profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadSuccessResponse'
              examples:
                response:
                  value:
                    success: true
                    data:
                      id: 1
                      type: Document
                      attributes:
                        title: Personio
                        date: '2022-02-02'
                        comment: Enable better organisations
                        employee:
                          type: Employee
                          attributes:
                            id:
                              label: ID
                              value: 1
                              type: integer
                              universal_id: id
                            first_name:
                              label: First name
                              value: Demo
                              type: standard
                              universal_id: first_name
                            last_name:
                              label: Last name
                              value: Account
                              type: standard
                              universal_id: last_name
                            email:
                              label: Email
                              value: demo.account@demo.de
                              type: standard
                              universal_id: email
                        category:
                          id: 1
                          type: DocumentCategory
                          attributes:
                            name: Other documents
        '404':
          description: >-
            This status code is returned if the provided employee_id or
            category_id are not found within the company.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentUploadFailedWithBadDocumentCategoryResponse
              examples:
                response:
                  value:
                    success: false
                    error:
                      message: No query results for model [DocumentCategory] 1
                      code: 0
        '422':
          description: >-
            This status code is returned if the provided request parameters
            cannot be processed or if the parameters are invalid.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentUploadFailedWithUnsupportedFileTypeResponse
              examples:
                response:
                  value:
                    success: false
                    error:
                      message: The given data was invalid.
                      code: 0
                      error_data:
                        file:
                          - >-
                            The file must be a file of type: pdf, docx, doc,
                            jpg, zip, png, txt, jpeg, odt, xlsx, rtf, htm, xls,
                            p7s, pptx, pages, rar, ppt, gif, tif, html, msg,
                            asc, tiff, wps, bmp, 7z, csv, ics, vcf, dotx,
                            numbers, eps, gz, ods, otf, odp, odg, rtfd, txz,
                            webarchive, xml, xps, md, fax.
      x-readme:
        code-samples:
          - language: powershell
            code: >-
              Auto-generated code snippets for this language may not be
              supported
          - language: php
            code: >-
              Auto-generated code snippets for this language may not be
              supported
          - language: ruby
            code: >-
              Auto-generated code snippets for this language may not be
              supported
          - language: java
            code: >-
              Auto-generated code snippets for this language may not be
              supported
  /company/custom-reports/reports:
    get:
      tags:
        - Custom Reports
      operationId: CustomReports_getMetadata
      description: >-
        This endpoint provides you with metadata about existing custom reports
        in your Personio account, such as report name, report type, report date
        / timeframe.
      parameters:
        - $ref: '#/components/parameters/XPersonioPartnerID'
        - $ref: '#/components/parameters/XPersonioAppID'
        - description: A list of report ID's to filter the results.
          name: report_ids
          in: query
          schema:
            type: array
            items:
              type: string
          example: >-
            eea50309-d1b1-47d6-bc7e-27de7a3ab491,
            baa50309-d1b1-47d6-bc76-27de7a3ab491
          required: false
        - description: The status of the report to filter the results.
          name: status
          in: query
          schema:
            type: string
          example: up_to_date
          required: false
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicListReportsResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAPIException'
  /company/custom-reports/reports/{report_id}:
    get:
      tags:
        - Custom Reports
      operationId: CustomReports_getData
      description: This endpoint provides you with the data of an existing Custom Report.
      parameters:
        - $ref: '#/components/parameters/XPersonioPartnerID'
        - $ref: '#/components/parameters/XPersonioAppID'
        - description: The ID of the report to filter the result.
          name: report_id
          in: path
          schema:
            type: string
          example: eea50309-d1b1-47d6-bc7e-27de7a3ab491
          required: true
        - description: locale used to translate localized fields.
          name: locale
          in: query
          schema:
            type: string
          example: de
          required: false
        - description: Pagination parameter to identify the page to return.
          name: page
          in: query
          schema:
            type: integer
          example: 1
          required: false
        - description: >-
            Pagination parameter to limit the number of employees returned per
            page.
          name: limit
          in: query
          schema:
            type: integer
          example: 10
          required: false
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicReportResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAPIException'
        '404':
          description: Report not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAPIException'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAPIException'
  /company/custom-reports/columns:
    get:
      tags:
        - Custom Reports
      operationId: CustomReports_getColumnLabels
      description: >-
        This endpoint provides human-readable labels for report table columns.
        It is particularly important if you get a report with custom attributes
        or absence data to match the column IDs to the translation.
      parameters:
        - $ref: '#/components/parameters/XPersonioPartnerID'
        - $ref: '#/components/parameters/XPersonioAppID'
        - description: The columns to filter the results.
          name: columns
          in: query
          schema:
            type: array
            items:
              type: string
          example: first_name,last_name
          required: false
        - description: locale used to translate localized fields.
          name: locale
          in: query
          schema:
            type: string
          example: en
          required: false
        - description: >-
            The ID of the report to filter the result of the columns. If no ID
            is passed, all columns for the company are returned.
          name: report_id
          in: query
          schema:
            type: string
          example: eea50309-d1b1-47d6-bc7e-27de7a3ab491
          required: false
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicListColumnsResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAPIException'
components:
  parameters:
    XPersonioPartnerID:
      description: The partner identifier
      name: X-Personio-Partner-ID
      in: header
      required: false
      schema:
        type: string
    XPersonioAppID:
      description: The application identifier
      name: X-Personio-App-ID
      in: header
      required: false
      schema:
        type: string
  responses:
    401UnauthorizedResponse:
      description: Unauthorized Access
      content:
        application/json:
          schema:
[...]
