openapi: 3.0.3
info:
  title: ClickUp API Reference
  description: >
    This is the ClickUp API Reference where you can learn about specific
    endpoints and parameters in detail.


    Browse the available endpoints using the sidebar on the left.


    **Not sure where to begin?**

    [Get Started with the ClickUp API](https://clickup.com/api)
  version: '2.0'
  contact: {}
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: ClickUp
    url: https://api.clickup.com/api/v2
    variables: {}
  - description: Mock Server
    url: https://a00fb6e0-339c-4201-972f-503b9932d17a.remockly.com
    variables: {}
tags:
  - name: Time Tracking
  - name: Views
  - name: Guests
  - name: Lists
  - name: Comments
  - name: Goals
  - name: Tasks
  - name: Tags
  - name: Task Checklists
  - name: Folders
  - name: Spaces
  - name: Task Relationships
  - name: Teams - User Groups
  - name: Time Tracking (Legacy)
  - name: Users
  - name: Webhooks
  - name: Authorization
  - name: Custom Fields
  - name: Teams - Workspaces
  - name: Members
  - name: Task Templates
  - name: Attachments
  - name: Custom Task Types
  - name: Roles
  - name: Shared Hierarchy
paths:
  /task/{task_id}/attachment:
    parameters: []
    post:
      tags:
        - Attachments
      summary: Create Task Attachment
      operationId: Attachments_uploadFileToTaskAsAttachment
      description: |-
        Upload a file to a task as an attachment. \
         \
        ***Note:** This request uses multipart/form-data as the content type.*
      parameters:
        - description: ''
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hv
            x-examples:
              - 9hv
        - description: >-
            If you want to reference a task by it's custom task id, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.\
             \
            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      requestBody:
        description: ''
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/AttachmentsUploadFileToTaskAsAttachmentRequest
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskAttachmentresponse'
              example:
                title: image.png
                version: '0'
                id: ac434d4e-8b1c-4571-951b-866b6d9f2ee6.png
                date: 1569988578766
                extension: png
                thumbnail_small: >-
                  https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
                thumbnail_large: >-
                  https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
                url: >-
                  https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
      deprecated: false
  /oauth/token:
    parameters: []
    post:
      tags:
        - Authorization
      summary: Get Access Token
      operationId: Authorization_getAccessToken
      security: []
      description: >
        These are the routes for authing the API and going through the [OAuth
        flow](https://clickup.com/api).\
         \
        Applications utilizing a personal API token don't use this endpoint.\
         \
        ***Note:** OAuth tokens are not supported when using the [**Try It**
        feature](https://clickup.com/api) of our Reference docs. You can't try
        this endpoint from your web browser.*
      parameters:
        - description: Oauth app client id
          name: client_id
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - description: Oauth app client secret
          name: client_secret
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
        - description: Code given in redirect url
          name: code
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccessTokenresponse'
              example:
                access_token: access token
      deprecated: false
      x-hideTryItPanel: true
  /user:
    parameters: []
    get:
      tags:
        - Authorization
      summary: Get Authorized User
      operationId: Authorization_viewAccountDetails
      description: View the details of the authenticated user's ClickUp account.
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthorizedUserresponse'
              example:
                user:
                  id: 123
                  username: John Doe
                  color: '#000000'
                  profilePicture: https://clickup.com/avatar.jpg
      deprecated: false
  /team:
    parameters: []
    get:
      tags:
        - Authorization
        - Teams - Workspaces
      summary: Get Authorized Teams (Workspaces)
      operationId: Authorization_getWorkspaceList
      description: View the Workspaces available to the authenticated user.
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthorizedTeamsresponse'
              example:
                teams:
                  - id: '1234'
                    name: My ClickUp Workspace
                    color: '#000000'
                    avatar: https://clickup.com/avatar.jpg
                    members:
                      - user:
                          id: 123
                          username: John Doe
                          color: '#000000'
                          profilePicture: https://clickup.com/avatar.jpg
      deprecated: false
  /task/{task_id}/checklist:
    parameters: []
    post:
      tags:
        - Task Checklists
      summary: Create Checklist
      operationId: TaskChecklists_createNewChecklist
      description: Add a new checklist to a task.
      parameters:
        - description: ''
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hz
            x-examples:
              - 9hz
        - description: >-
            If you want to reference a task by it's custom task id, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.\
             \
            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChecklistrequest'
            example:
              name: Checklist
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChecklistresponse'
              example:
                checklist:
                  id: b955c4dc-b8a8-48d8-a0c6-b4200788a683
                  task_id: 9hz
                  name: Checklist
                  orderindex: 0
                  resolved: 0
                  unresolved: 0
                  items: []
      deprecated: false
  /checklist/{checklist_id}:
    parameters: []
    put:
      tags:
        - Task Checklists
      summary: Edit Checklist
      operationId: TaskChecklists_updateChecklist
      description: >-
        Rename a task checklist, or reorder a checklist so it appears above or
        below other checklists on a task.
      parameters:
        - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
          name: checklist_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: b955c4dc
            x-examples:
              - b955c4dc
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditChecklistrequest'
            example:
              name: Updated Checklist
              position: 1
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskChecklistsUpdateChecklistResponse'
      deprecated: false
    delete:
      tags:
        - Task Checklists
      summary: Delete Checklist
      operationId: TaskChecklists_removeChecklist
      description: Delete a checklist from a task.
      parameters:
        - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
          name: checklist_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: b955c4dc
            x-examples:
              - b955c4dc
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskChecklistsRemoveChecklistResponse'
              example: {}
      deprecated: false
  /checklist/{checklist_id}/checklist_item:
    parameters: []
    post:
      tags:
        - Task Checklists
      summary: Create Checklist Item
      operationId: TaskChecklists_addLineItem
      description: Add a line item to a task checklist.
      parameters:
        - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
          name: checklist_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: b955c4dc
            x-examples:
              - b955c4dc
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChecklistItemrequest'
            example:
              name: Checklist Item
              assignee: 183
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChecklistItemresponse'
              example:
                checklist:
                  id: b955c4dc-b8a8-48d8-a0c6-b4200788a683X
                  task_id: 9hv
                  name: Checklist
                  date_created: '1567711563204'
                  orderindex: 0
                  resolved: 0
                  unresolved: 1
                  items:
                    - id: 21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f
                      name: Checklist Item
                      orderindex: 0
                      assignee:
                        id: 183
                        username: John Doe
                        email: example@email.com
                        color: '#827718'
                        initials: JD
                        profilePicture: >-
                          https://dev-attachments-public.clickup.com/profilePictures/183_nx1.jpg
                      resolved: false
                      parent: null
                      date_created: '1567711566859'
                      children: []
      deprecated: false
  /checklist/{checklist_id}/checklist_item/{checklist_item_id}:
    parameters: []
    put:
      tags:
        - Task Checklists
      summary: Edit Checklist Item
      operationId: TaskChecklists_updateChecklistItem
      description: >-
        Update an individual line item in a task checklist. \
         \
        You can rename it, set the assignee, mark it as resolved, or nest it
        under another checklist item.
      parameters:
        - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
          name: checklist_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: b955c4dc
            x-examples:
              - b955c4dc
        - description: e491-47f5-9fd8-d1dc4cedcc6f (uuid)
          name: checklist_item_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 21e08dc8
            x-examples:
              - 21e08dc8
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditChecklistItemrequest'
            example:
              name: Updated Checklist Item
              assignee: null
              resolved: true
              parent: null
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditChecklistItemresponse'
              example:
                checklist:
                  id: b955c4dc-b8a8-48d8-a0c6-b4200788a683X
                  task_id: 9hv
                  name: Checklist
                  date_created: '1567711563204'
                  orderindex: 0
                  resolved: 1
                  unresolved: 0
                  items:
                    - id: 21e08dc8-e491-47f5-9fd8-d1dc4cedcc6fX
                      name: Updated Checklist Item
                      orderindex: 0
                      assignee: null
                      resolved: true
                      parent: null
                      date_created: '1567711566859'
                      children: []
      deprecated: false
    delete:
      tags:
        - Task Checklists
      summary: Delete Checklist Item
      operationId: TaskChecklists_removeChecklistItem
      description: Delete a line item from a task checklist.
      parameters:
        - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
          name: checklist_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: b955c4dc
            x-examples:
              - b955c4dc
        - description: e491-47f5-9fd8-d1dc4cedcc6f (uuid)
          name: checklist_item_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 21e08dc8
            x-examples:
              - 21e08dc8
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskChecklistsRemoveChecklistItemResponse'
              example: {}
      deprecated: false
  /task/{task_id}/comment:
    parameters: []
    get:
      tags:
        - Comments
      summary: Get Task Comments
      operationId: Comments_getTaskComments
      description: >-
        View task comments. \
         \
        If you do not include the `start` and `start_id` parameters, this
        endpoint will return the most recent 25 comments.\
         \
        Use the `start` and `start id` parameters of the oldest comment to
        retrieve the next 25 comments.
      parameters:
        - description: ''
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hz
            x-examples:
              - 9hz
        - description: >-
            If you want to reference a task by it's custom task id, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.\
             \
            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
        - description: Enter the `date` of a task comment using Unix time in milliseconds.
          name: start
          in: query
          style: form
          explode: true
          schema:
            type: integer
            contentEncoding: int32
        - description: Enter the Comment `id` of a task comment.
          name: start_id
          in: query
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTaskCommentsresponse'
              example:
                comments:
                  - id: '458'
                    comment:
                      - text: Task comment content
                    comment_text: Task comment content
                    user:
                      id: 183
                      username: John Doe
                      initials: JD
                      email: johndoe@gmail.com
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                    resolved: false
                    assignee:
                      id: 183
                      username: John Doe
                      initials: JD
                      email: johndoe@gmail.com
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                    assigned_by:
                      id: 183
                      username: John Doe
                      initials: JD
                      email: johndoe@gmail.com
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                    reactions: []
                    date: '1568036964079'
      deprecated: false
    post:
      tags:
        - Comments
      summary: Create Task Comment
      operationId: Comments_createNewTaskComment
      description: Add a new comment to a task.
      parameters:
        - description: ''
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hz
            x-examples:
              - 9hz
        - description: >-
            If you want to reference a task by it's custom task id, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.\
             \
            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskCommentrequest'
            example:
              comment_text: Task comment content
              assignee: 183
              notify_all: true
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskCommentresponse'
              example:
                id: 458X
                hist_id: '26508'
                date: 1568036964079
      deprecated: false
  /view/{view_id}/comment:
    parameters: []
    get:
      tags:
        - Comments
      summary: Get Chat View Comments
      operationId: Comments_getViewComments
      description: >-
        View comments from a Chat view. \
         \
        If you do not include the `start` and `start_id` parameters, this
        endpoint will return the most recent 25 comments.\
         \
        Use the `start` and `start id` parameters of the oldest comment to
        retrieve the next 25 comments.
      parameters:
        - description: 105 (string)
          name: view_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 3c
            x-examples:
              - 3c
        - description: >-
            Enter the `date` of a Chat view comment using Unix time in
            milliseconds.
          name: start
          in: query
          style: form
          explode: true
          schema:
            type: integer
            contentEncoding: int32
        - description: Enter the Comment `id` of a Chat view comment.
          name: start_id
          in: query
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChatViewCommentsresponse'
              example:
                comments:
                  - id: '459'
                    comment:
                      - text: View comment content
                    comment_text: View comment content
                    user:
                      id: 183
                      username: John Doe
                      initials: JD
                      email: johndoe@gmail.com
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                    resolved: false
                    assignee: null
                    assigned_by: null
                    reactions: []
                    date: '1568036964079'
      deprecated: false
    post:
      tags:
        - Comments
      summary: Create Chat View Comment
      operationId: Comments_createChatViewComment
      description: Add a new comment to a Chat view.
      parameters:
        - description: 105 (string)
          name: view_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 3c
            x-examples:
              - 3c
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatViewCommentrequest'
            example:
              comment_text: View comment content
              notify_all: true
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatViewCommentresponse'
              example:
                id: 459X
                hist_id: 0a45e16e-4e2f-4a9e-99ec-3cf520b87eae
                date: 1568037065216
      deprecated: false
  /list/{list_id}/comment:
    parameters: []
    get:
      tags:
        - Comments
      summary: Get List Comments
      operationId: Comments_getListComments
      description: >-
        View the comments added to a List. \
         \
        If you do not include the `start` and `start_id` parameters, this
        endpoint will return the most recent 25 comments.\
         \
        Use the `start` and `start id` parameters of the oldest comment to
        retrieve the next 25 comments.
      parameters:
        - description: ''
          name: list_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 124
            x-examples:
              - 124
        - description: >-
            Enter the `date` of a List info comment using Unix time in
            milliseconds.
          name: start
          in: query
          style: form
          explode: true
          schema:
            type: integer
            contentEncoding: int32
        - description: Enter the Comment `id` of a List info comment.
          name: start_id
          in: query
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListCommentsresponse'
              example:
                comments:
                  - id: '462'
                    comment:
                      - text: List comment content
                    comment_text: List comment content
                    user:
                      id: 183
                      username: John Doe
                      initials: JD
                      email: johndoe@gmail.com
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                    resolved: false
                    assignee:
                      id: 183
                      username: John Doe
                      initials: JD
                      email: johndoe@gmail.com
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                    assigned_by:
                      id: 183
                      username: John Doe
                      initials: JD
                      email: johndoe@gmail.com
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                    reactions: []
                    date: '1568036964079'
      deprecated: false
    post:
      tags:
        - Comments
      summary: Create List Comment
      operationId: Comments_addToListComment
      description: Add a comment to a List.
      parameters:
        - description: ''
          name: list_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 124
            x-examples:
              - 124
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListCommentrequest'
            example:
              comment_text: List comment content
              assignee: 183
              notify_all: true
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateListCommentresponse'
              example:
                id: 462X
                hist_id: 5bbea9ad-7cc3-4038-a8bb-a89ac1337c08
                date: 1568037341249
      deprecated: false
  /comment/{comment_id}:
    parameters: []
    put:
      tags:
        - Comments
      summary: Update Comment
      operationId: Comments_updateTaskComment
      description: >-
        Replace the content of a task commment, assign a comment, and mark a
        comment as resolved.
      parameters:
        - description: ''
          name: comment_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 456
            x-examples:
              - 456
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommentrequest'
            example:
              comment_text: Updated comment content
              assignee: 183
              resolved: true
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsUpdateTaskCommentResponse'
              example: {}
      deprecated: false
    delete:
      tags:
        - Comments
      summary: Delete Comment
      operationId: Comments_deleteTaskComment
      description: Delete a task comment.
      parameters:
        - description: ''
          name: comment_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 456
            x-examples:
              - 456
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsDeleteTaskCommentResponse'
              example: {}
      deprecated: false
  /list/{list_id}/field:
    parameters: []
    get:
      tags:
        - Custom Fields
      summary: Get Accessible Custom Fields
      operationId: CustomFields_getListFields
      description: View the Custom Fields available on tasks in a specific List.
      parameters:
        - description: ''
          name: list_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccessibleCustomFieldsresponse'
      deprecated: false
  /task/{task_id}/field/{field_id}:
    parameters: []
    post:
      tags:
        - Custom Fields
      summary: Set Custom Field Value
      operationId: CustomFields_setFieldValue
      description: >-
        Add data to a Custom field on a task. \
         \
        You'll need to know the `task_id` of the task you want to update, and
        the universal unique identifier (UUID) `field_id` of the Custom Field
        you want to set. \
         \
        You can use [Get Accessible Custom Fields](https://clickup.com/api) or
        the [Get Task](https://clickup.com/api) endpoint to find the `field_id`.
      parameters:
        - description: Enter the task ID of the task you want to update.
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hv
            x-examples:
              - 9hv
        - description: >-
            Enter the universal unique identifier (UUID) of the Custom Field you
            want to set.
          name: field_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: b955c4dc
            x-examples:
              - b955c4dc
        - description: >-
            If you want to reference a task by its Custom Task ID, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.\
             \
            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCustomFieldValuerequest'
            examples:
              URL Custom Field:
                value:
                  value: https://clickup.com/api
              Dropdown Custom Field:
                value:
                  value: uuid1234
              Email Custom Field:
                value:
                  value: user@company.com
              Phone Custom Field:
                value:
                  value: +1 201 555 0123
              Date Custom Field:
                value:
                  value: 1667367645000
                  value_options:
                    time: true
              Short or Long Text Custom Field:
                value:
                  value: This is short or long text in a Custom Field.
              Number Custom Field:
                value:
                  value: -28
              Money Custom Field:
                value:
                  value: 8000
              Task Relationship Custom Field:
                value:
                  value:
                    add:
                      - abcd1234
                      - efghi5678
                    rem:
                      - jklm9876
                      - yuiop5678
              People Custom Field:
                value:
                  value:
                    add:
                      - 123
                      - 456
                    rem:
                      - 987
                      - 765
              Emoji (Rating) Custom Field:
                value:
                  value: 4
              Manual Progress Custom Field:
                value:
                  value:
                    current: 20
              Label Custom Field:
                value:
                  value:
                    - uuid1234
                    - uuid9876
              Location Custom Field:
                value:
                  value:
                    location:
                      lat: -28.016667
                      lng: 153.4
                    formatted_address: Gold Coast QLD, Australia
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsSetFieldValueResponse'
              example: {}
      deprecated: false
    delete:
      tags:
        - Custom Fields
      summary: Remove Custom Field Value
      operationId: CustomFields_removeFieldValue
      description: >-
        Remove the data from a Custom Field on a task. This does not delete the
        option from the Custom Field.
      parameters:
        - description: ''
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hv
            x-examples:
              - 9hv
        - description: b8a8-48d8-a0c6-b4200788a683 (uuid)
          name: field_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: b955c4dc
            x-examples:
              - b955c4dc
        - description: >-
            If you want to reference a task by it's custom task id, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.\
             \
            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsRemoveFieldValueResponse'
              example: {}
      deprecated: false
  /task/{task_id}/dependency:
    parameters: []
    post:
      tags:
        - Task Relationships
      summary: Add Dependency
      operationId: TaskRelationships_addDependency
      description: Set a task as waiting on or blocking another task.
      parameters:
        - description: This is the task which is waiting on or blocking another task.
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hv
            x-examples:
              - 9hv
        - description: >-
            If you want to reference a task by it's custom task id, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.

            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      requestBody:
        description: >-
          Use the `depends_on` parameter in the request body to specify the task
          that must be completed before the task in the path parameter.\
           \
          Use the `dependency_of` parameter in the request body to specify the
          task that's waiting for the task in the path parameter to be
          completed.\
           \
          You can only use one per request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDependencyrequest'
            example:
              depends_on: 9hw
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRelationshipsAddDependencyResponse'
              example: {}
      deprecated: false
    delete:
      tags:
        - Task Relationships
      summary: Delete Dependency
      operationId: TaskRelationships_removeDependency
      description: Remove the dependency relationship between two or more tasks.
      parameters:
        - description: ''
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hv
            x-examples:
              - 9hv
        - description: ''
          name: depends_on
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: 9hz
            x-examples:
              - 9hz
        - description: ''
          name: dependency_of
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: 9hz
            x-examples:
              - 9hz
        - description: >-
            If you want to reference a task by it's custom task id, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.\
             \
            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRelationshipsRemoveDependencyResponse'
              example: {}
      deprecated: false
  /task/{task_id}/link/{links_to}:
    parameters: []
    post:
      tags:
        - Task Relationships
      summary: Add Task Link
      operationId: TaskRelationships_linkTasks
      description: Link two tasks together.
      parameters:
        - description: ''
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hv
            x-examples:
              - 9hv
        - description: ''
          name: links_to
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hz
            x-examples:
              - 9hz
        - description: >-
            If you want to reference a task by it's custom task id, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.\
             \
            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTaskLinkresponse'
              example:
                task:
                  tags: []
                  id: 9hv
                  name: Task Name
                  status:
                    status: in progress
                    color: '#d3d3d3'
                    orderindex: 1
                    type: custom
                  orderindex: '1.00000000000000000000000000000000'
                  date_created: '1567780450202'
                  date_updated: '1567780450202'
                  date_closed: null
                  creator:
                    id: 183
                    username: John Doe
                    color: '#827718'
                    profilePicture: >-
                      https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  assignees: []
                  checklists: []
                  parent: null
                  priority: null
                  due_date: null
                  start_date: null
                  time_estimate: null
                  time_spent: null
                  list:
                    id: '123'
                  folder:
                    id: '456'
                  space:
                    id: '789'
                  linked_tasks:
                    - task_id: 9hv
                      link_id: 9hz
                      date_created: '1587571108988'
                      userid: '183'
                  url: https://app.clickup.com/t/9hx
      deprecated: false
    delete:
      tags:
        - Task Relationships
      summary: Delete Task Link
      operationId: TaskRelationships_removeLinkBetweenTasks
      description: Remove the link between two tasks.
      parameters:
        - description: ''
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hv
            x-examples:
              - 9hv
        - description: ''
          name: links_to
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 9hz
            x-examples:
              - 9hz
        - description: >-
            If you want to reference a task by it's custom task id, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.\
             \
            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteTaskLinkresponse'
              example:
                task:
                  tags: []
                  id: 9hvX
                  name: Task Name
                  status:
                    status: in progress
                    color: '#d3d3d3'
                    orderindex: 1
                    type: custom
                  orderindex: '1.00000000000000000000000000000000'
                  date_created: '1567780450202'
                  date_updated: '1567780450202'
                  date_closed: null
                  creator:
                    id: 183
                    username: John Doe
                    color: '#827718'
                    profilePicture: >-
                      https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  assignees: []
                  checklists: []
                  parent: null
                  priority: null
                  due_date: null
                  start_date: null
                  time_estimate: null
                  time_spent: null
                  list:
                    id: 123X
                  folder:
                    id: 456X
                  space:
                    id: 789X
                  linked_tasks: []
                  url: https://app.clickup.com/t/9hx
      deprecated: false
  /space/{space_id}/folder:
    parameters: []
    get:
      tags:
        - Folders
      summary: Get Folders
      operationId: Folders_getContentsOf
      description: View the Folders in a Space.
      parameters:
        - description: ''
          name: space_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 789
            x-examples:
              - 789
        - description: ''
          name: archived
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: false
            x-examples:
              - false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                $ref: '#/components/schemas/GetFoldersresponse'
                contentMediaType: application/json
                example:
                  folders:
                    - id: '457'
                      name: Updated Folder Name
                      orderindex: 0
                      override_statuses: false
                      hidden: false
                      space:
                        id: 789X
                        name: Space Name
                        access: true
                      task_count: '0'
                      lists: []
                    - id: 458X
                      name: Second Folder Name
                      orderindex: 1
                      override_statuses: false
                      hidden: false
                      space:
                        id: 789X
                        name: Space Name
                        access: true
                      task_count: '0'
                      lists: []
                x-examples:
                  - folders:
                      - id: '457'
                        name: Updated Folder Name
                        orderindex: 0
                        override_statuses: false
                        hidden: false
                        space:
                          id: 789X
                          name: Space Name
                          access: true
                        task_count: '0'
                        lists: []
                      - id: 458X
                        name: Second Folder Name
                        orderindex: 1
                        override_statuses: false
                        hidden: false
                        space:
                          id: 789X
                          name: Space Name
                          access: true
                        task_count: '0'
                        lists: []
      deprecated: false
    post:
      tags:
        - Folders
      summary: Create Folder
      operationId: Folders_createNewFolder
      description: Add a new Folder to a Space.
      parameters:
        - description: ''
          name: space_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 789
            x-examples:
              - 789
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFolderrequest'
            example:
              name: New Folder Name
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFolderresponse'
              example:
                id: 457X
                name: New Folder Name
                orderindex: 0
                override_statuses: false
                hidden: false
                space:
                  id: 789X
                  name: Space Name
                  access: true
                task_count: '0'
      deprecated: false
  /folder/{folder_id}:
    parameters: []
    get:
      tags:
        - Folders
      summary: Get Folder
      operationId: Folders_getFolderContent
      description: View the Lists within a Folder.
      parameters:
        - description: ''
          name: folder_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 457
            x-examples:
              - 457
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFolderresponse'
              example:
                id: 457X
                name: Updated Folder Name
                orderindex: 0
                override_statuses: false
                hidden: false
                space:
                  id: 789X
                  name: Space Name
                  access: true
                task_count: '0'
                lists: []
      deprecated: false
    put:
      tags:
        - Folders
      summary: Update Folder
      operationId: Folders_renameFolder
      description: Rename a Folder.
      parameters:
        - description: ''
          name: folder_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 457
            x-examples:
              - 457
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFolderrequest'
            example:
              name: Updated Folder Name
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFolderresponse'
              example:
                id: 457X
                name: Updated Folder Name
                orderindex: 0
                override_statuses: false
                hidden: false
                space:
                  id: 789X
                  name: Space Name
                  access: true
                task_count: '0'
      deprecated: false
    delete:
      tags:
        - Folders
      summary: Delete Folder
      operationId: Folders_removeFolder
      description: Delete a Folder from your Workspace.
      parameters:
        - description: ''
          name: folder_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 457
            x-examples:
              - 457
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoldersRemoveFolderResponse'
              example: {}
      deprecated: false
  /team/{team_id}/goal:
    parameters: []
    get:
      tags:
        - Goals
      summary: Get Goals
      operationId: Goals_getWorkspaceGoals
      description: View the Goals available in a Workspace.
      parameters:
        - description: Team ID (Workspace)
          name: team_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
        - description: ''
          name: include_completed
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGoalsresponse'
              example:
                goals:
                  - description: Updated Goal Description
                    id: e53a033c-900e-462d-a849-4a216b06d930
                    pretty_id: '6'
                    name: Goal ABC
                    team_id: '512'
                    creator: 182
                    owner: null
                    color: '#32a852'
                    date_created: '1568044355026'
                    start_date: null
                    due_date: '1568036964079'
                    private: false
                    archived: false
                    multiple_owners: true
                    editor_token: >-
                      goal:792c3027-83a2-45de-be96-2f623b5f9078:1626303240249:38fd99e8-f989-4125-9a05-19ead0ed83a6:57bdc749-4ca6-4082-a78e-3485ed15e675
                    date_updated: '1626130440221'
                    last_update: '1626132992152'
                    folder_id: null
                    pinned: false
                    owners: []
                    key_result_count: 1
                    members:
                      - id: 182
                        username: Jane Doe
                        email: janedoe@gmail.com
                        color: '#827718'
                        permission_level: edit
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/profile.jpg
                        initials: JD
                        isCreator: true
                    group_members: []
                    percent_completed: 0
                folders:
                  - id: 05921253-7737-44af-a1aa-36fd11244e6f
                    name: Quarterly Goals
                    team_id: '512'
                    private: true
                    date_created: '1548802674671'
                    creator: 182
                    goal_count: 1
                    members:
                      - id: 182
                        email: janedoe@gmail.com
                        username: Jane Doe
                        color: '#827718'
                        permission_level: read
                        date_added: 1631599941928
                        added_by: 183
                        initials: JD
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/profile.jpg
                    goals:
                      - description: Goal for Q1
                        id: e53a033c-900e-462d-a849-4a216b06d930X
                        pretty_id: '8'
                        name: Q1 Goals
                        team_id: '512'
                        creator: 182
                        owner: null
                        color: '#32a852'
                        date_created: '1568044355026'
                        start_date: null
                        due_date: '1568036964079'
                        private: false
                        archived: false
                        multiple_owners: true
                        editor_token: >-
                          goal:792c3027-83b5-45de-be96-2f623b5f9078:1626303240249:38fd99e8-f989-4125-9a05-19ead0ed83a6:57bdc749-4ca6-4082-a78e-3485fc22d477
                        date_updated: '1626130440221'
                        last_update: '1626132992152'
                        folder_id: 05921253-7737-44af-a1aa-36fd11244e6f
                        folder_access: true
                        pinned: false
                        owners: []
                        key_result_count: 1
                        members:
                          - id: 182
                            username: Jane Doe
                            email: janedoe@gmail.com
                            color: '#827718'
                            permission_level: edit
                            profilePicture: >-
                              https://attachments-public.clickup.com/profilePictures/profile.jpg
                            initials: JD
                            isCreator: true
                        group_members: []
                        percent_completed: 1
      deprecated: false
    post:
      tags:
        - Goals
      summary: Create Goal
      operationId: Goals_addNewGoalToWorkspace
      description: Add a new Goal to a Workspace.
      parameters:
        - description: Team ID (Workspace)
          name: team_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGoalrequest'
            example:
              description: Goal Description
              name: Goal Name
              due_date: 1568036964079
              multiple_owners: true
              owners:
                - 183
              color: '#32a852'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGoalresponse'
              example:
                goal:
                  description: Goal Description
                  id: e53a033c-900e-462d-a849-4a216b06d930X
                  name: Goal Name
                  team_id: '512'
                  date_created: '1568044355026'
                  start_date: null
                  due_date: '1568036964079'
                  private: false
                  archived: false
                  creator: 183
                  color: '#32a852'
                  pretty_id: '6'
                  multiple_owners: true
                  folder_id: null
                  members: []
                  owners:
                    - id: 183
                      username: John Doe
                      initials: JD
                      email: johndoe@gmail.com
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                  key_results: []
                  percent_completed: 0
                  history: []
                  pretty_url: https://app.clickup.com/512/goals/6
      deprecated: false
  /goal/{goal_id}:
    parameters: []
    get:
      tags:
        - Goals
      summary: Get Goal
      operationId: Goals_getDetails
      description: View the details of a Goal including its Targets.
      parameters:
        - description: 900e-462d-a849-4a216b06d930 (uuid)
          name: goal_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: e53a033c
            x-examples:
              - e53a033c
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGoalresponse'
              example:
                goal:
                  description: Updated Goal Description
                  id: e53a033c-900e-462d-a849-4a216b06d930X
                  name: Updated Goal Name
                  team_id: '512'
                  date_created: '1568044355026'
                  start_date: null
                  due_date: '1568036964079'
                  private: false
                  archived: false
                  creator: 183
                  color: '#32a852'
                  pretty_id: '6'
                  multiple_owners: true
                  folder_id: null
                  members: []
                  owners:
                    - id: 182
                      username: Jane Doe
                      initials: JD
                      email: janedoe@gmail.com
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/182_abc.jpg
                  key_results: []
                  percent_completed: 0
                  history: []
                  pretty_url: https://app.clickup.com/512/goals/6
      deprecated: false
    put:
      tags:
        - Goals
      summary: Update Goal
      operationId: Goals_updateGoalDetails
      description: >-
        Rename a Goal, set the due date, replace the description, add or remove
        owners, and set the Goal color.
      parameters:
        - description: 900e-462d-a849-4a216b06d930 (uuid)
          name: goal_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: e53a033c
            x-examples:
              - e53a033c
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGoalrequest'
            example:
              description: Updated Goal Description
              name: Updated Goal Name
              due_date: 1568036964079
              rem_owners:
                - 183
              add_owners:
                - 184
              color: '#32a852'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateGoalresponse'
              example:
                goal:
                  description: Updated Goal Description
                  id: e53a033c-900e-462d-a849-4a216b06d930X
                  name: Updated Goal Name
                  team_id: '512'
                  date_created: '1568044355026'
                  start_date: null
                  due_date: '1568036964079'
                  private: false
                  archived: false
                  creator: 183
                  color: '#32a852'
                  pretty_id: '6'
                  multiple_owners: true
                  folder_id: null
                  members: []
                  owners:
                    - id: 182
                      username: Jane Doe
                      initials: JD
                      email: janedoe@gmail.com
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/182_abc.jpg
                  key_results: []
                  percent_completed: 0
                  history: []
                  pretty_url: https://app.clickup.com/512/goals/6
      deprecated: false
    delete:
      tags:
        - Goals
      summary: Delete Goal
      operationId: Goals_removeGoal
      description: Remove a Goal from your Workspace.
      parameters:
        - description: 900e-462d-a849-4a216b06d930 (uuid)
          name: goal_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: e53a033c
            x-examples:
              - e53a033c
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalsRemoveGoalResponse'
              example: {}
      deprecated: false
  /goal/{goal_id}/key_result:
    parameters: []
    post:
      tags:
        - Goals
      summary: Create Key Result
      operationId: Goals_addKeyResult
      description: Add a Target to a Goal.
      parameters:
        - description: 900e-462d-a849-4a216b06d930 (uuid)
          name: goal_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: e53a033c
            x-examples:
              - e53a033c
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKeyResultrequest'
            example:
              name: New Key Result Name
              owners:
                - 183
              type: number
              steps_start: 0
              steps_end: 10
              unit: km
              task_ids: []
              list_ids: []
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateKeyResultresponse'
              example:
                key_result:
                  id: 947d46ed-8480-49bc-8c57-e569747efe93
                  goal_id: e53a033c-900e-462d-a849-4a216b06d930
                  name: New Key Result Name
                  type: number
                  unit: km
                  creator: 183
                  date_created: '1568062902048'
                  goal_pretty_id: '6'
                  percent_completed: null
                  completed: false
                  task_ids: []
                  subcategory_ids: []
                  owners:
                    - id: 183
                      username: John Doe
                      email: example@email.com
                      color: '#827718'
                      profilePicture: >-
                        https://dev-attachments-public.clickup.com/profilePictures/183_nx1.jpg
                      initials: JK
                  last_action:
                    id: d3183d0f-5cbd-4158-b015-71465f1df269
                    key_result_id: 947d46ed-8480-49bc-8c57-e569747efe93
                    userid: 183
                    date_modified: '1568062902048'
                    steps_taken: null
                    note: Created Key Result
                    steps_before: null
                    steps_current: null
      deprecated: false
  /key_result/{key_result_id}:
    parameters: []
    put:
      tags:
        - Goals
      summary: Edit Key Result
      operationId: Goals_updateKeyResult
      description: Update a Target.
      parameters:
        - description: 8480-49bc-8c57-e569747efe93 (uuid)
          name: key_result_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 947d46ed
            x-examples:
              - 947d46ed
      requestBody:
        description: >-
          All properties available in the Create Key Result endpoint may also be
          used along with the additional properties below.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditKeyResultrequest'
            example:
              steps_current: 5
              note: Target achieved
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditKeyResultresponse'
              example:
                key_result:
                  id: 947d46ed-8480-49bc-8c57-e569747efe93X
                  goal_id: e53a033c-900e-462d-a849-4a216b06d930
                  name: New Key Result Name
                  type: number
                  unit: km
                  creator: 183
                  date_created: '1568062902048'
                  goal_pretty_id: '6'
                  percent_completed: null
                  completed: false
                  task_ids: []
                  subcategory_ids: []
                  owners:
                    - id: 183
                      username: John Doe
                      email: example@email.com
                      color: '#827718'
                      profilePicture: >-
                        https://dev-attachments-public.clickup.com/profilePictures/183_nx1.jpg
                      initials: JK
                  last_action:
                    id: e889858b-a023-46cc-968a-cac32fd04c1e
                    key_result_id: 19c7a55e-537e-4bc9-b741-08df05a5bda8
                    userid: 183
                    date_modified: '1568122776851'
                    steps_taken: null
                    note: Target achieved
                    steps_before: null
                    steps_current: null
                    steps_before_float: 0
                    steps_taken_float: 5
                    steps_current_float: null
      deprecated: false
    delete:
      tags:
        - Goals
      summary: Delete Key Result
      operationId: Goals_removeTarget
      description: Delete a target from a Goal.
      parameters:
        - description: 8480-49bc-8c57-e569747efe93 (uuid)
          name: key_result_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: 947d46ed
            x-examples:
              - 947d46ed
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalsRemoveTargetResponse'
              example: {}
      deprecated: false
  /team/{team_id}/guest:
    parameters: []
    post:
      tags:
        - Guests
      summary: Invite Guest To Workspace
      operationId: Guests_inviteToWorkspace
      description: >-
        Invite a guest to join a Workspace. To invite a member to your
        Workspace, use the [Invite User to
        Workspace](https://clickup.com/api/clickupreference/operation/InviteUserToWorkspace/)
        endpoint. \
         \
        You'll also need to grant the guest access to specific items using the
        following endpoints: [Add Guest to
        Folder](clickupreference/operation/AddGuestToFolder/), [Add Guest to
        List](clickupreference/operation/AddGuestToList/), or [Add Guest to
        Task](clickupreference/operation/AddGuestToTask/). \
         \
        ***Note:** This endpoint is only available to Workspaces on our
        [Enterprise Plan](https://clickup.com/pricing).*
      parameters:
        - description: Team ID (Workspace)
          name: team_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteGuestToWorkspacerequest'
            example:
              email: guest@example.com
              can_edit_tags: true
              can_see_time_spent: true
              can_see_time_estimated: true
              can_create_views: true
              custom_role_id: 12345
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteGuestToWorkspaceresponse'
              example:
                team:
                  id: '333'
                  name: Team Name
                  color: '#8D00D4'
                  avatar: null
                  members:
                    - user:
                        id: 184
                        username: null
                        email: guest@example.com
                        color: null
                        profilePicture: null
                        initials: G
                        role: 4
                        custom_role:
                          id: 12345
                          name: guest custom
                        last_active: null
                        date_joined: null
                        date_invited: '1583358383412'
                      invited_by:
                        id: 183
                        color: '#827718'
                        username: Jerry
                        email: jerry@example.com
                        initials: J
                        profilePicture: >-
                          https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                      can_see_time_spent: true
                      can_see_time_estimated: true
                      can_edit_tags: true
                      can_create_views: true
                  roles:
                    - id: 1
                      name: owner
                      custom: false
                    - id: 2
                      name: admin
                      custom: false
                    - id: 3
                      name: member
                      custom: false
                    - id: 4
                      name: guest
                      custom: false
                    - id: 998877
                      name: member custom
                      inherited_role: 3
                      custom: true
                    - id: 112233
                      name: admin custom
                      inherited_role: 2
                      custom: true
                    - id: 12345
                      name: guest custom
                      inherited_role: 4
                      custom: true
      deprecated: false
  /team/{team_id}/guest/{guest_id}:
    parameters: []
    get:
      tags:
        - Guests
      summary: Get Guest
      operationId: Guests_getGuestInformation
      description: >-
        View information about a guest. \
         \
        ***Note:** This endpoint is only available to Workspaces on our
        [Enterprise Plan](https://clickup.com/pricing).*
      parameters:
        - description: Team ID (Workspace)
          name: team_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
        - description: ''
          name: guest_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 403
            x-examples:
              - 403
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestsGetGuestInformationResponse'
      deprecated: false
    put:
      tags:
        - Guests
      summary: Edit Guest On Workspace
      operationId: Guests_editGuestOnWorkspace
      description: >-
        Rename and configure options for a guest. \
         \
        ***Note:** This endpoint is only available to Workspaces on our
        [Enterprise Plan](https://clickup.com/pricing).*
      parameters:
        - description: Team ID (Workspace)
          name: team_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
        - description: ''
          name: guest_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 403
            x-examples:
              - 403
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditGuestOnWorkspacerequest'
            example:
              username: Guest User
              can_edit_tags: true
              can_see_time_spent: true
              can_see_time_estimated: true
              can_create_views: true
              custom_role_id: 12345
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditGuestOnWorkspaceresponse'
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    custom_role:
                      id: 12345
                      name: guest custom
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: >-
                      https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  can_create_views: true
                  shared:
                    tasks: []
                    lists: []
                    folders: []
      deprecated: false
    delete:
      tags:
        - Guests
      summary: Remove Guest From Workspace
      operationId: Guests_revokeGuestAccessToWorkspace
      description: >-
        Revoke a guest's access to a Workspace. \
         \
        ***Note:** This endpoint is only available to Workspaces on our
        [Enterprise Plan](https://clickup.com/pricing).*
      parameters:
        - description: Team ID (Workspace)
          name: team_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
        - description: ''
          name: guest_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 403
            x-examples:
              - 403
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveGuestFromWorkspaceresponse'
              example:
                team:
                  id: 333X
                  name: Team Name
                  color: '#8D00D4'
                  avatar: null
                  members: []
      deprecated: false
  /task/{task_id}/guest/{guest_id}:
    parameters: []
    post:
      tags:
        - Guests
      summary: Add Guest To Task
      operationId: Guests_addToTask
      description: >-
        Share a task with a guest. \
         \
        ***Note:** This endpoint is only available to Workspaces on our
        [Enterprise Plan](https://clickup.com/pricing).*
      parameters:
        - description: ''
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: c04
            x-examples:
              - c04
        - description: ''
          name: guest_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 403
            x-examples:
              - 403
        - description: >-
            Exclude details of items shared with the guest by setting this
            parameter to `false`. By default this parameter is set to `true`.
          name: include_shared
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            example: false
            x-examples:
              - false
        - description: >-
            If you want to reference a task by it's custom task id, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.\
             \
            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddGuestToTaskrequest'
            example:
              permission_level: read
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddGuestToTaskresponse'
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: >-
                      https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  shared:
                    tasks:
                      - tags: []
                        id: c04
                        name: Task Name
                        status:
                          status: Open
                          color: '#d3d3d3'
                          type: open
                          orderindex: 0
                        orderindex: '0'
                        date_created: '1574718405408'
                        date_updated: '1574722145869'
                        date_closed: null
                        archived: false
                        creator:
                          id: 183
                          username: Jerry
                          color: '#827718'
                          profilePicture: >-
                            https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                        assignees: []
                        checklists: []
                        parent: null
                        priority:
                          id: '1'
                          priority: urgent
                          color: '#f50000'
                          orderindex: '1'
                        due_date: '1508369194377'
                        start_date: null
                        points: null
                        time_estimate: null
                        custom_fields: []
                        dependencies: []
                        team_id: '108'
                        url: https://app.clickup.com/t/c04
                        permission_level: read
                        list:
                          id: '1752'
                          name: Shared with me
                          access: false
                        folder:
                          id: '1217'
                          name: Shared with me
                          hidden: false
                          access: false
                        space:
                          id: '380'
                    lists: []
                    folders: []
      deprecated: false
    delete:
      tags:
        - Guests
      summary: Remove Guest From Task
      operationId: Guests_revokeAccessToTask
      description: >-
        Revoke a guest's access to a task. \
         \
        ***Note:** This endpoint is only available to Workspaces on our
        [Enterprise Plan](https://clickup.com/pricing).*
      parameters:
        - description: ''
          name: task_id
          in: path
          required: true
          style: simple
          schema:
            type: string
            example: c04
            x-examples:
              - c04
        - description: ''
          name: guest_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 403
            x-examples:
              - 403
        - description: >-
            Exclude details of items shared with the guest by setting this
            parameter to `false`. By default this parameter is set to `true`.
          name: include_shared
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            example: false
            x-examples:
              - false
        - description: >-
            If you want to reference a task by it's custom task id, this value
            must be `true`.
          name: custom_task_ids
          in: query
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            x-examples:
              - true
        - description: |-
            Only used when the `custom_task_ids` parameter is set to `true`.\
             \
            For example: `custom_task_ids=true&team_id=123`.
          name: team_id
          in: query
          style: form
          explode: true
          schema:
            type: number
            contentEncoding: double
            example: 123
            x-examples:
              - 123
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveGuestFromTaskresponse'
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: >-
                      https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  shared:
                    tasks: []
                    lists: []
                    folders: []
      deprecated: false
  /list/{list_id}/guest/{guest_id}:
    parameters: []
    post:
      tags:
        - Guests
      summary: Add Guest To List
      operationId: Guests_shareListWith
      description: >-
        Share a List with a guest. \
         \
        ***Note:** This endpoint is only available to Workspaces on our
        [Enterprise Plan](https://clickup.com/pricing).*
      parameters:
        - description: ''
          name: list_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 1427
            x-examples:
              - 1427
        - description: ''
          name: guest_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 403
            x-examples:
              - 403
        - description: >-
            Exclude details of items shared with the guest by setting this
            parameter to `false`. By default this parameter is set to `true`.
          name: include_shared
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            example: false
            x-examples:
              - false
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddGuestToListrequest'
            example:
              permission_level: read
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddGuestToListresponse'
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: >-
                      https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  shared:
                    tasks: []
                    lists:
                      - id: '1427'
                        name: List Name
                        orderindex: 1
                        status: null
                        priority: null
                        assignee: null
                        task_count: '5'
                        due_date: null
                        start_date: null
                        archived: false
                        override_statuses: true
                        statuses:
                          - status: Open
                            orderindex: 0
                            color: '#d3d3d3'
                            type: open
                          - status: Closed
                            orderindex: 5
                            color: '#6bc950'
                            type: closed
                        permission_level: read
                    folders: []
      deprecated: false
    delete:
      tags:
        - Guests
      summary: Remove Guest From List
      operationId: Guests_removeFromList
      description: >-
        Revoke a guest's access to a List.\
         \
        ***Note:** This endpoint is only available to Workspaces on our
        [Enterprise Plan](https://clickup.com/pricing).*
      parameters:
        - description: ''
          name: list_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 1427
            x-examples:
              - 1427
        - description: ''
          name: guest_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 403
            x-examples:
              - 403
        - description: >-
            Exclude details of items shared with the guest by setting this
            parameter to `false`. By default this parameter is set to `true`.
          name: include_shared
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            example: false
            x-examples:
              - false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveGuestFromListresponse'
              example:
                guest:
                  user:
                    id: 184
                    username: null
                    email: guest@example.com
                    color: null
                    profilePicture: null
                    initials: G
                    role: 4
                    last_active: null
                    date_joined: null
                    date_invited: '1583358383412'
                  invited_by:
                    id: 183
                    color: '#827718'
                    username: Jerry
                    email: jerry@example.com
                    initials: J
                    profilePicture: >-
                      https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                  can_see_time_spent: true
                  can_see_time_estimated: true
                  can_edit_tags: true
                  shared:
                    tasks: []
                    lists: []
                    folders: []
      deprecated: false
  /folder/{folder_id}/guest/{guest_id}:
    parameters: []
    post:
      tags:
        - Guests
      summary: Add Guest To Folder
      operationId: Guests_addGuestToFolder
      description: >-
        Share a Folder with a guest. \
         \
        ***Note:** This endpoint is only available to Workspaces on our
        [Enterprise Plan](https://clickup.com/pricing).*
      parameters:
        - description: ''
          name: folder_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 1057
            x-examples:
              - 1057
        - description: ''
          name: guest_id
          in: path
          required: true
          style: simple
          schema:
            type: number
            contentEncoding: double
            example: 403
            x-examples:
              - 403
        - description: >-
            Exclude details of items shared with the guest by setting this
            parameter to `false`. By default this parameter is set to `true`.
          name: include_shared
          in: query
          required: false
          style: form
[...]
