openapi: 3.0.3
info:
  title: Open Banking
  description: |-
    OpenAPI specification for Finicity APIs.

    Open Banking solutions in the US are provided by Finicity, a Mastercard
    company.
  version: 1.16.2
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/open-banking-us/documentation/support/
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Production
    url: https://api.finicity.com
tags:
  - description: Fetch or refresh customer accounts
    name: Accounts
  - description: >-
      Allow customers to log into their financial institutions and grant
      Finicity authorization
    name: Connect 🔗
  - description: Enroll and manage customers
    name: Customers
  - description: Fetch ACH details and account balances
    name: Payments
  - description: Generate income and employment reports asynchronously
    name: Verify Income and Employment
  - description: Register and assign apps to customers
    name: App Registration
  - description: Balance Analytics for businesses
    name: Balance Analytics
  - description: Cash Flow Analytics for business
    name: Cash Flow Analytics
  - description: Search and fetch financial institutions
    name: Institutions
  - description: >-
      Fetch customer and account transactions and generate reports
      asynchronously
    name: Transactions
  - description: Fetch simple customer accounts
    name: Accounts (Simple)
  - description: >-
      Create and manage consumers associated with customers in order to use
      report services
    name: Consumers
  - description: Payment History for business
    name: Payment History
  - description: Fetch generated reports when ready
    name: Reports
  - description: Manage TxPush subscriptions
    name: TxPush
  - description: Generate asset reports asynchronously
    name: Verify Assets
  - description: >-
      Create and manage business associated with customers in order to use
      Balance Analytics or Cash Flow Analytics
    name: Businesses API
  - description: Micro entries and account verification
    name: Account Validation Assistance
  - description: Fetch account statements and generate reports asynchronously
    name: Bank Statements
  - description: Generate and manage access keys for other partners
    name: Third Party Access
  - description: Generate authentication tokens and manage credentials
    name: Authentication
  - description: Generate cash flow reports asynchronously
    name: Cash Flow
  - description: Generate portfolios of the most recent reports
    name: Portfolios
  - description: Download asset files
    name: Assets
  - description: Upload pay statements
    name: Pay Statements
paths:
  /aggregation/v2/partners/authentication:
    post:
      tags:
        - Authentication
      summary: Create Access Token
      operationId: Authentication_createAccessToken
      security:
        - FinicityAppKey: []
      description: >-
        Send Partner ID and Partner Secret to the Partner Authentication service
        to obtain a token for accessing Finicity APIs.

        * The token is valid for two hours and is required on all calls to the
        Finicity APIs

        * As a best practice, use a single token for all calls. Assign a
        timestamp for each token, and then check the current timestamp before
        making any calls. If the token is greater than 90 minutes, generate a
        new one.

        * ⚠️ After five failed attempts to authenticate, your account will be
        locked. Contact [support@finicity.com](mailto:support@finicity.com) to
        get help resetting your account.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/CreateTokenRequest'
      responses:
        '200':
          $ref: '#/components/responses/CreateTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticationUnauthorizedErrorResponse'
    put:
      tags:
        - Authentication
      summary: Modify Partner Secret
      operationId: Authentication_modifyPartnerSecret
      security:
        - FinicityAppKey: []
      description: >-
        Change the Partner Secret used to authenticate this partner.


        The secret does not expire, but can be changed by calling this API. A
        valid Partner Secret may contain upper and lowercase characters,
        numbers, and the characters !, @, #, $, %, &, *, _, -, +. It must
        include at least one number and at least one letter, and its length
        should be between 12 and 255 characters.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/ModifyPartnerSecretRequest'
      responses:
        '204':
          $ref: '#/components/responses/ModifyPartnerSecretResponse'
        '400':
          $ref: '#/components/responses/ModifyPartnerSecretBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticationUnauthorizedErrorResponse'
  /connect/v2/generate:
    post:
      tags:
        - Connect 🔗
      summary: Generate Connect URL
      operationId: Connect_generateUrl
      description: >-
        Generate a Connect 2.0 URL link to add within your own applications.


        Optional Parameters:

        * `experience`: Configure different customer experiences per Connect
        session by changing the brand, color, logo, icon, the type of credit
        decisioning report to generate after the session ends, and more.

        * `language`: By default, the Connect application is in English. You
        don't need to pass  this parameter unless you want to translate Connect
        into one of our supported languages.

          * Spanish (United States)
          * French (Canada)


        MVS Developers: You can pre-populate the consumer's SSN on the Find
        employment records page at the beginning of the MVS payroll app. Pass
        the SSN value for the consumer in the body of the request call.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/GenerateConnectUrlRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenerateConnectUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /connect/v2/generate/lite:
    post:
      tags:
        - Connect 🔗
      summary: Generate Lite Connect URL
      operationId: Connect_generateLiteUrl
      description: >-
        Connect Lite is a variation of Connect Full (`POST
        /connect/v2/generate`), which has a limited set of features.

        * Sign in, user's credentials, and Multi-Factor Authentication (MFA)

        * No user account management


        The Connect Web SDK isn't a requirement when using Connect lite.
        However, if you want to use the SDK events, routes, and user events,
        then you must integrate with the Connect Web SDK.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/GenerateLiteConnectUrlRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenerateConnectUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /connect/v2/generate/fix:
    post:
      tags:
        - Connect 🔗
      summary: Generate Fix Connect URL
      operationId: Connect_fixUrlGeneration
      description: |-
        Use the Connect Fix API when the following conditions occur:
        * The connection to the user's financial institution is lost
        * The user's credentials were updated (for any number of reasons)
        * The user's MFA challenge has expired

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/GenerateFixConnectUrlRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenerateConnectUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /connect/v2/send/email:
    post:
      tags:
        - Connect 🔗
      summary: Send Connect Email
      operationId: Connect_sendConnectEmail
      description: >-
        Same as Connect Full (`POST /connect/v2/generate`) but send a Connect
        email to a consumer.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/SendConnectEmailRequest'
      responses:
        '200':
          $ref: '#/components/responses/SendConnectEmailResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /connect/v2/generate/jointBorrower:
    post:
      tags:
        - Connect 🔗
      summary: Generate Connect URL - Joint Borrower
      operationId: Connect_generateJointBorrowerUrl
      description: >-
        Same as Connect Full (`POST /connect/v2/generate`) but for joint
        borrowers.


        MVS prompts both the primary and joint borrower to enter each of their
        financial, payroll, and paystub information in the same Connect session.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/GenerateJointBorrowerConnectUrlRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenerateJointBorrowerConnectUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /connect/v2/generate/microentry/verify:
    post:
      tags:
        - Connect 🔗
      summary: Account Validation Assistant User verification of microdeposits
      operationId: Connect_verifyMicroEntryMicrodeposits
      description: >-
        The UI re-engages the consumer to enter two microdeposit amounts found
        in their account and validates them.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/MicroEntryVerifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/MicroEntryVerifyUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /connect/v2/send/email/jointBorrower:
    post:
      tags:
        - Connect 🔗
      summary: Send Connect Email - Joint Borrower
      operationId: Connect_sendEmailJointBorrower
      description: >-
        Same as Connect Joint Borrower (`POST
        /connect/v2/generate/jointBorrower`) but send a Connect email  to at
        least one of the joint borrower's email addresses. 


        When the consumer opens the email, MVS prompts both the primary and
        joint borrower to enter each of their financial, payroll, and paystub
        information in the same Connect session.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/SendJointBorrowerConnectEmailRequest'
      responses:
        '200':
          $ref: '#/components/responses/SendConnectEmailResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /aggregation/v2/customers/testing:
    post:
      tags:
        - Customers
      summary: Add Testing Customer
      operationId: Customers_enrollTestingCustomer
      description: >-
        Enroll a testing customer (Test Drive accounts).


        For using testing customers with FinBank OAuth, you must register a test
        application with your systems engineer or account manager. Then, use
        that testing `applicationId` when creating testing customers.


        Testing Customers can access FinBank profiles (except "FinBank Billable"
        profiles), and cannot access live financial institutions.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/AddCustomerRequest'
      responses:
        '201':
          $ref: '#/components/responses/AddCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /aggregation/v2/customers/active:
    post:
      tags:
        - Customers
      summary: Add Customer
      operationId: Customers_enrollActiveCustomer
      description: >-
        Enroll an active customer, which is the actual owner of one or more
        real-world accounts. This is a billable customer.


        Active customers must use the "FinBank Billable" profiles for testing
        purposes. 


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/AddCustomerRequest'
      responses:
        '201':
          $ref: '#/components/responses/AddCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
  /aggregation/v1/customers:
    get:
      tags:
        - Customers
      summary: Get Customers
      operationId: Customers_findEnrolledUsers
      description: >-
        Find all customers enrolled by the current partner, where the search
        text is found in the customer's username or any combination of
        `firstName` and `lastName` fields. If no search text is provided, all
        customers will be returned.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerUsernameParameter'
        - $ref: '#/components/parameters/CustomerTypeParameter'
        - $ref: '#/components/parameters/CustomerSearchParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomersResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /aggregation/v1/customers/{customerId}/application:
    get:
      tags:
        - Customers
      summary: Get Customer With App Data by ID
      operationId: Customers_getWithAppDataById
      description: >-
        Retrieve a customer along with additional details about the OAuth
        application.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerWithAppDataResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}:
    get:
      tags:
        - Customers
      summary: Get Customer by ID
      operationId: Customers_getById
      description: |-
        Retrieve a customer by ID.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
    put:
      tags:
        - Customers
      summary: Modify Customer by ID
      operationId: Customers_modifyById
      description: |-
        Modify an enrolled customer by ID.

        You must specify either `firstName`, `lastName`, or both in the request.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/ModifyCustomerRequest'
      responses:
        '204':
          $ref: '#/components/responses/ModifyCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
    delete:
      tags:
        - Customers
      summary: Delete Customer by ID
      operationId: Customers_removeById
      description: >-
        Completely remove a customer from the system. This will remove the
        customer and all associated accounts and transactions.


        ⚠️ Use this service carefully! It will not pause for confirmation before
        performing the operation!


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '204':
          $ref: '#/components/responses/DeleteCustomerResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v1/customers/{customerId}/consumer:
    post:
      tags:
        - Consumers
      summary: Create Consumer
      operationId: Consumers_createConsumerRecord
      description: >-
        Create a consumer record associated with the given customer. A consumer
        persists as the owner of any reports that are generated, even after the
        original customer is deleted from the system.


        A consumer must be created for the given customer before calling any of
        the Generate Report services.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/CreateConsumerRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
    get:
      tags:
        - Consumers
      summary: Get Consumer For Customer
      operationId: Consumers_getByCustomerId
      description: |-
        Get the details of a consumer record by customer ID.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetConsumerForCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v1/consumers/{consumerId}:
    get:
      tags:
        - Consumers
      summary: Get Consumer by ID
      operationId: Consumers_getById
      description: |-
        Get the details of a consumer record by consumer ID.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/ConsumerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
    put:
      tags:
        - Consumers
      summary: Modify Consumer by ID
      operationId: Consumers_modifyById
      description: >-
        Modify an existing consumer. All fields are required for a consumer
        record, but individual fields for this call are optional because fields
        that are not specified will be left unchanged.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/ConsumerIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/ModifyConsumerRequest'
      responses:
        '204':
          $ref: '#/components/responses/ModifyConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}/accounts:
    get:
      tags:
        - Accounts
      summary: Get Customer Accounts by Institution Login ID
      operationId: Accounts_getByInstitutionLogin
      description: >-
        Get all accounts associated with the given institution login. All
        accounts returned are accessible by a single set of credentials on a
        single institution.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/InstitutionLoginIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
    post:
      tags:
        - Accounts
      summary: Refresh Customer Accounts by Institution Login ID
      operationId: Accounts_refreshCustomerByInstitutionLogin
      description: >-
        Refresh account and transaction data for all accounts associated with a
        given `institutionLoginId` with a connection to the institution.


        Client apps are not permitted to automate calls to the Refresh services.
        Active accounts are automatically refreshed by Finicity once per day.
        Because many financial institutions only post transactions once per day,
        calling Refresh repeatedly is usually a waste of resources and is not
        recommended.


        Apps may call Refresh services for a specific customer when there is a
        specific business case for the need of data that is up to date as of the
        moment. Please discuss with your account manager and systems engineer
        for further clarification.


        The recommended timeout setting for this request is 120 seconds in order
        to receive a response. However, you can terminate the connection after
        making the call the operation will still complete. You will have to pull
        the account records to check for an updated aggregation attempt date to
        know when the refresh is complete.


        Note: This service is not available for all tiers of dynamic billing.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/InstitutionLoginIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/RefreshCustomerAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v2/customers/{customerId}/institutionLogins/{institutionLoginId}/accounts:
    post:
      tags:
        - Accounts
      summary: Refresh Customer Account by Institution Login ID for Data Access Tiers
      operationId: Accounts_refreshCustomerAccountByInstitutionLogin
      description: >-
        Refresh account and transaction data for all accounts associated with a
        given 'institutionLoginId` with a connection to the institution. Client
        apps are not permitted to automate calls to the Refresh services. Active
        accounts are automatically refreshed by Finicity once per day.


        Apps may call Refresh services for a specific customer when there is a
        specific business case for the need of data that is up to date as of the
        moment. Please discuss with your account manager and systems engineer
        for further clarification.


        Note: This service will be used for dynamic billing tiers ASD, AFD and
        ATD.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/InstitutionLoginIdParameter'
      responses:
        '204':
          $ref: '#/components/responses/RefreshCustomerV2AccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}:
    delete:
      tags:
        - Accounts
      summary: Delete Customer Accounts by Institution Login ID
      operationId: Accounts_removeByInstitutionLogin
      description: >-
        Remove from Finicity aggregation the set of accounts matching the
        institution login ID.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/InstitutionLoginIdParameter'
      responses:
        '204':
          $ref: >-
            #/components/responses/DeleteCustomerAccountsByInstitutionLoginResponse
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v2/customers/{customerId}/accounts/{accountId}:
    get:
      tags:
        - Accounts
      summary: Get Customer Account by ID
      operationId: Accounts_getById
      description: |-
        Get a customer account by ID.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/accounts/{accountId}:
    delete:
      tags:
        - Accounts
      summary: Delete Customer Account by ID
      operationId: Accounts_removeByCustomerIdAndAccountId
      description: |-
        Remove the given account from Finicity aggregation.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
      responses:
        '204':
          $ref: '#/components/responses/DeleteCustomerAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/accounts:
    get:
      tags:
        - Accounts
      summary: Get Customer Accounts
      operationId: Accounts_getCustomerAccounts
      description: |-
        Get all accounts owned by the given customer.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountStatusParameter'
        - $ref: '#/components/parameters/AccountTypeParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
    post:
      tags:
        - Accounts
      summary: Refresh Customer Accounts
      operationId: Accounts_refreshCustomerAggregation
      description: >-
        Refresh account and transaction data for all accounts associated with
        the  given `customerId` with a connection to the institution.


        Client apps are not permitted to automate calls to the Refresh services.
        Active accounts are automatically refreshed by Finicity once per day.
        Because many financial institutions only post transactions once per day,
        calling Refresh services repeatedly is usually a waste of resources and
        is not recommended.


        Apps may call Refresh services for a specific customer when there is a
        specific business case for the need of data that is up to date as of the
        moment. Please discuss with your account manager and systems engineer
        for further clarification.


        The recommended timeout setting for this request is 120 seconds in order
        to receive a response. However, you can terminate the connection after
        making the call the operation will still complete. You will have to pull
        the account records to check for an updated aggregation attempt date to
        know when the refresh is complete.


        Note: This service is not available for all tiers of dynamic billing.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/RefreshCustomerAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v2/customers/{customerId}/accounts:
    post:
      tags:
        - Accounts
      summary: Refresh Customer Accounts for Data Access Tiers
      operationId: Accounts_refreshCustomerData
      description: >-
        Refresh account and transaction data for all accounts associated with
        the  given `customerId` with a connection to the institution.


        Client apps are not permitted to automate calls to the Refresh services.
        Active accounts are automatically refreshed by Finicity once per day.

        Apps may call Refresh services for a specific customer when there is a
        specific business case for the need of data that is up to date as of the
        moment. Please discuss with your account manager and systems engineer
        for further clarification.


        Note: This service will be used for dynamic billing tiers ASD, AFD and
        ATD.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '204':
          $ref: '#/components/responses/RefreshCustomerV2AccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/institutions/{institutionId}/accounts:
    get:
      tags:
        - Accounts
      summary: Get Customer Accounts by Institution ID
      operationId: Accounts_getCustomerInstitutionAccounts
      description: >-
        Get all active accounts owned by the given customer at the given
        institution.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/InstitutionIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/institutions/{institutionId}/accounts/simple:
    get:
      tags:
        - Accounts (Simple)
      summary: Get Customer Accounts by Institution ID (Simple)
      operationId: AccountsSimple_getBasicInfo
      description: >-
        This API is a lighter version of Get Customer Accounts by Institution
        ID, returning only basic information of active accounts owned by the
        given customer at the given institution.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/InstitutionIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountsSimpleResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}/accounts/simple:
    get:
      tags:
        - Accounts (Simple)
      summary: Get Customer Accounts by Institution Login ID (Simple)
      operationId: AccountsSimple_getBasicInfo
      description: >-
        This API is a lighter version of Get Customer Accounts by Institution
        Login ID, returning only basic information of all active accounts owned
        by the given customer at the given institution login ID.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/InstitutionLoginIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountsSimpleResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/accounts/{accountId}/simple:
    get:
      tags:
        - Accounts (Simple)
      summary: Get Customer Account by ID (Simple)
      operationId: AccountsSimple_getBasicInfo
      description: >-
        This API is a lighter version of Get Customer Accounts by ID, returning
        only basic information of a customer account.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountSimpleResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/accounts/simple:
    get:
      tags:
        - Accounts (Simple)
      summary: Get Customer Accounts (Simple)
      operationId: AccountsSimple_getBasicInfo
      description: >-
        This API is a lighter version of Get Customer Accounts, returning only
        basic information of all active customer accounts.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountsSimpleResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/accounts/{accountId}/transactions/historic:
    post:
      tags:
        - Transactions
      summary: Load Historic Transactions for Customer Account
      operationId: Transactions_loadHistoricTransactionsForCustomerAccount
      description: >-
        Connect to the account's financial institution and load up to 24 months
        of historic transactions for the account. Length of history varies by
        institution.


        This is a premium service. The billable event is a call to this service
        specifying a customer ID that has not been seen before by this service.
        (If this service is called multiple times with the same customer ID, to
        load transactions from multiple accounts, only one billable event has
        occurred.)


        The recommended timeout setting for this request is 180 seconds in order
        to receive a response. However, you can terminate the connection after
        making the call the operation will still complete. You will have to pull
        the account records to check for an updated aggregation attempt date to
        know when the refresh is complete.


        The date range sent to the institution is calculated from the account's
        `createdDate`. This means that calling this service a second time for
        the same account normally will not add any new transactions for the
        account. For this reason, a second call to this service for a known
        account ID will usually return immediately.


        In a few specific scenarios, it may be desirable to force a second
        connection to the institution for a known account ID. Some examples are:


        * The institution's policy has changed, making more transactions
        available

        * Finicity has now added a longer transaction history support for the
        institution

        * The first call encountered an error, and the resulting Aggregation
        Ticket has now been fixed by the Finicity Support Team


        In these cases, the POST request can contain the parameter `force=true`
        in the request body to force the second connection.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
      responses:
        '203':
          $ref: '#/components/responses/MFAChallengeNeededResponse'
        '204':
          $ref: >-
            #/components/responses/LoadHistoricTransactionsForCustomerAccountResponse
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/accounts/{accountId}/owner:
    get:
      tags:
        - Payments
      summary: Get Account Owner
      operationId: Payments_getAccountOwnerDetails
      description: >-
        Retrieve the names and addresses of the account owner from a financial
        institution.


        Note: this is a premium service, billable per every successful API call.


        This service retrieves account data from the institution. This usually
        returns quickly, but in some scenarios may take a few minutes to
        complete. In the event of a timeout condition, retry the call.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetAccountOwnerResponse'
        '203':
          $ref: '#/components/responses/MFAChallengeNeededResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v3/customers/{customerId}/accounts/{accountId}/owner:
    get:
      tags:
        - Payments
      summary: Get Account Owner Details
      operationId: Payments_getAccountOwnerDetails
      description: >-
        This service retrieves the account details for an account holder from an
        institution. The following data objects are available.


        * Account holders


        * Addresses


        * Emails


        * Phones


        * Documentations


        * Identity Insights



        Note: The data returned varies from institution to institution as not
        all of them make the same data available. This is a premium service,
        billable per each successful API call.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
        - $ref: '#/components/parameters/WithInsightsParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetAccountOwnerDetailsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /aggregation/v1/partners/applications:
    post:
      tags:
        - App Registration
      summary: Register App
      operationId: AppRegistration_createNewApplication
      description: >-
        Register a new application to access financial institutions using OAuth
        connections.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      requestBody:
        $ref: '#/components/requestBodies/RegisterAppRequest'
      responses:
        '201':
          $ref: '#/components/responses/RegisterAppResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /aggregation/v1/partners/applications/{preAppId}:
    put:
      tags:
        - App Registration
      summary: Modify App Registration
      operationId: AppRegistration_updateRegistration
      description: |-
        Update a registered application.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/PreAppIdPathParameter'
      requestBody:
        $ref: '#/components/requestBodies/ModifyAppRegistrationRequest'
      responses:
        '200':
          $ref: '#/components/responses/ModifyAppRegistrationResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v2/partners/applications:
    get:
      tags:
        - App Registration
      summary: Get App Registration Status
      operationId: AppRegistration_getApplicationStatus
      description: |-
        Get the status of your application registration(s).

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/PreAppIdQueryParameter'
        - $ref: '#/components/parameters/ApplicationIdQueryParameter'
        - $ref: '#/components/parameters/AppRegistrationStatusParameter'
        - $ref: '#/components/parameters/ApplicationNameParameter'
        - $ref: '#/components/parameters/SubmittedDateParameter'
        - $ref: '#/components/parameters/ModifiedDateParameter'
        - $ref: '#/components/parameters/ResultPageParameter'
        - $ref: '#/components/parameters/ResultPageSizeParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetAppRegistrationStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/applications/{applicationId}:
    put:
      tags:
        - App Registration
      summary: Set Customer App ID
      operationId: AppRegistration_assignApplications
      description: >-
        If you have multiple applications for a single client, and you want to
        register their applications to access financial institutions using OAuth
        connections, then use this API to assign applications to an existing
        customer.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ApplicationIdPathParameter'
      responses:
        '200':
          $ref: '#/components/responses/SetCustomerAppIDResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v2/customers/{customerId}/institutionLogins/{institutionLoginId}/migration:
    put:
      tags:
        - App Registration
      summary: Migrate Institution Login Accounts
      operationId: AppRegistration_migrateInstitutionLoginAccounts
      description: >-
        The `institutionLoginId` parameter uses Finicity's internal FI mapping
        to move accounts from the current FI legacy connection to the new OAuth
        FI connection.


        This API returns a list of accounts for the given institution login ID.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/InstitutionLoginIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/MigrateInstitutionLoginAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /institution/v2/certifiedInstitutions/rssd:
    get:
      tags:
        - Institutions
      summary: Get Certified Institutions With RSSD
      operationId: Institutions_getCertifiedInstitutionsWithRssd
      description: |-
        Search for certified financial institutions w/RSSD.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/InstitutionSearchParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/ProductTypeParameter'
        - $ref: '#/components/parameters/SupportedCountriesParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCertifiedInstitutionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /institution/v2/institutions:
    get:
      tags:
        - Institutions
      summary: Get Institutions
      operationId: Institutions_searchFinancialInstitutions
      description: |-
        Search for financial institutions.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/InstitutionSearchParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/ProductTypeParameter'
        - $ref: '#/components/parameters/SupportedCountriesParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetInstitutionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /institution/v2/certifiedInstitutions:
    get:
      tags:
        - Institutions
      summary: Get Certified Institutions
      operationId: Institutions_listCertifiedInstitutions
      description: |-
        Search for financial institutions by certified product.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/InstitutionSearchParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/ProductTypeParameter'
        - $ref: '#/components/parameters/SupportedCountriesParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCertifiedInstitutionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /institution/v2/institutions/{institutionId}:
    get:
      tags:
        - Institutions
      summary: Get Institution by ID
      operationId: Institutions_getByIdDetails
      description: |-
        Get financial institution details by ID.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/InstitutionIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetInstitutionResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /institution/v2/institutions/{institutionId}/branding:
    get:
      tags:
        - Institutions
      summary: Get Institution Branding by ID
      operationId: Institutions_getBrandingById
      description: |-
        Return the branding information for a financial institution.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/InstitutionIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetInstitutionBrandingResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/voa:
    post:
      tags:
        - Verify Assets
      summary: Generate VOA Report
      operationId: VerifyAssets_customerVOAReport
      description: >-
        Generate a Verification of Assets (VOA) report for all checking,
        savings, money market, and investment accounts for the given customer.
        This service retrieves up to twelve months of transaction history for
        each account and uses this information to generate the VOA report.


        This is a premium service. The billing rate is the variable rate for
        Verification of Assets under the current subscription plan. The billable
        event is the successful generation of a VOA report.


        Before calling this API, a consumer must be created for the given
        customer ID (see Consumers APIs).


        If no account of type checking, savings, money market, or investment is
        found, the service will return HTTP 400 Bad Request.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GenerateVOAReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateVOAReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/voaHistory:
    post:
      tags:
        - Verify Assets
      summary: Generate VOA With Income Report
      operationId: VerifyAssets_generateVOAWithIncomeReport
      description: >-
        Generate a Verification of Assets with Income (VOAI) report for all
        checking, savings, money market, and investment accounts for the given
        customer. This service retrieves up to 24 months of transaction history
        for each account and uses this information to generate the VOAI report.
        The report includes 1 - 6 months of all debit and credit transactions
        for asset verification. By default, the history is set to 61 days,
        however, you can change the transaction history in this section by
        setting the `fromDate` parameter. The report also includes up to 24
        months of income credit transactions (ordered by account and confidence
        level) regardless of `fromDate` for income verification.


        This is a premium service. The billable event is the successful
        generation of a VOAI report.


        Before calling this API, a consumer must be created for the given
        customer ID (see Consumers APIs).


        If no account of type checking, savings, money market, or investment is
        found, the service will return HTTP 400 Bad Request.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GenerateVOAWithIncomeReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateVOAWithIncomeReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/preQualVoa:
    post:
      tags:
        - Verify Assets
      summary: Generate Prequalification (CRA) Report
      operationId: VerifyAssets_getCheckingSavingsInvestmentAccounts
      description: >-
        Retrieve all checking, savings, money market, and investment accounts
        for a consumer. The account, owner information, and the number of
        insufficient funds (NSFs) for checking accounts are also provided.


        If no account of type checking, savings, money market, or investment is
        found, the service will return HTTP 400 Bad Request.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GeneratePrequalificationReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GeneratePrequalificationCRAReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/assetSummary:
    post:
      tags:
        - Verify Assets
      summary: Generate Prequalification (Non-CRA) Report
      operationId: VerifyAssets_getAssetSummary
      description: >-
        Retrieve all checking, savings, money market, and investment accounts
        for a customer. The account, owner information, and the number of
        insufficient funds (NSFs) for checking accounts are also provided.


        If no account type of checking, savings, money market, or investment is
        found, the service will return HTTP 400 Bad Request.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GeneratePrequalificationReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GeneratePrequalificationNonCRAReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/voi:
    post:
      tags:
        - Verify Income and Employment
      summary: Generate VOI Report
      operationId: VerifyIncomeAndEmployment_createVOIReport
      description: >-
        Generate a Verification of Income (VOI) report for all checking,
        savings, and money market accounts for the given customer. This service
        retrieves up to two years of transaction history for each account and
        uses this information to generate the VOI report.


        This is a premium service. The billing rate is the variable rate for
        Verification of Income under the current subscription plan. The billable
        event is the successful generation of a VOI report.


        If no account of type checking, savings, or money market is found, the
        service will return HTTP 400 Bad Request.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GenerateVOIReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateVOIReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/voePayroll:
    post:
      tags:
        - Verify Income and Employment
      summary: Generate VOE - Payroll Report
      operationId: VerifyIncomeAndEmployment_generateVoePayrollReport
      description: >-
        Generate or refresh a VOE - Payroll report. Often used as a
        complementary report to the VOIE-Payroll report to fulfill the pre-close
        VOE requirements. It retrieves the customer's employment details and
        employment status through the payroll source without any income
        information.


        This is a premium service. The billable event is the successful
        generation of a VOE - Payroll report.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GeneratePayrollReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateVOEPayrollReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/voeTransactions:
    post:
      tags:
        - Verify Income and Employment
      summary: Generate VOE - Transactions Report
      operationId: VerifyIncomeAndEmployment_generateVOETransactionsReport
      description: >-
        Premium Service: A billable event when the API response is successful.


        MVS-Direct integration developers only.


        Used as a complimentary report to the VOA with Income and VOIE - Paystub
        (with TXVerify) reports and used to fulfill the pre-close VOE
        requirements. 


        Retrieve the latest credit transaction information from the borrower's
        connected bank accounts and groups them into income streams so that you
        can view their payment history to ensure a direct deport was made within
        the expected cadence. The report displays transaction descriptions
        without any dollar amounts so that income re-verification isn't
        necessary.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GenerateVOETransactionsReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateVOETransactionsReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/payStatement:
    post:
      tags:
        - Verify Income and Employment
      summary: Generate Pay Statement Report
      operationId: VerifyIncomeAndEmployment_generatePayStatementReport
      description: >-
        Generate Pay Statement Extraction Report for the given customer. This
        service accepts asset IDs of the stored pay statements to generate a Pay
        Statement Extraction Report. 


        This is a premium service. The billing rate is the variable rate for Pay
        Statement Extraction Report under the current subscription plan. The
        billable event is the successful generation of a Pay Statement
        Extraction Report.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GeneratePayStatementReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GeneratePayStatementReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/voieTxVerify/withInterview:
    post:
      tags:
        - Verify Income and Employment
      summary: Generate VOIE - Paystub (with TXVerify) Report
      operationId: VerifyIncomeAndEmployment_generateVOIEPaystubWithTxVerifyReport
      description: >-
        Generate a VOIE - Paystub (with TXVerify) report for all checking and
        savings under the given customer. This service retrieves up to two years
        of transaction history for the given accounts. It then uses this
        information as well as the provided paystub(s), which are passed into
        the request body as asset IDs (generated using the Store Customer Pay
        Statement API) to generate the VOIE - Paystub (with TXVerify) report.


        Note: if you are using this API to refresh the bank transactions, use
        the same asset ID from the first report. A new paystub is not required
        unless the paystub is too old for underwriting requirements. Using the
        same asset ID that was on the original report and the previously
        extracted details will be used to speed up report generation response
        time.


        This is a premium service. The billing rate is the variable rate for
        VOIE TXVerify under the current subscription plan. The billable event is
        the successful generation of a VOIE TXVerify Report.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: >-
          #/components/requestBodies/GenerateVOIEPaystubWithTXVerifyReportRequest
      responses:
        '202':
          $ref: '#/components/responses/GenerateVOIEPaystubWithTXVerifyReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/voieTxVerify/withStatement:
    post:
      tags:
        - Verify Income and Employment
      summary: Generate VOIE - Paystub Report
      operationId: VerifyIncomeAndEmployment_generateVoiePaystubReport
      description: >-
        Generate a VOIE - Paystub report. This service uses the provided
        paystub(s), which are passed into the request body as asset IDs
        (generated using the Store Customer Pay Statement API) to generate the
        VOIE - Paystub report with digitized paystub details.


        This is a premium service. The billing rate is the variable rate for
        VOIE - Paystub under the current subscription plan. The billable event
        is the successful generation of a VOIE - Paystub Report.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GenerateVOIEPaystubReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateVOIEPaystubReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/voiePayroll:
    post:
      tags:
        - Verify Income and Employment
      summary: Generate VOIE - Payroll Report
      operationId: VerifyIncomeAndEmployment_refreshVOIEPayrollReport
      description: >-
        Generate or refresh a VOIE - Payroll report. For clients using the
        product via a consumer permissioning experience via Connect, the
        original VOIE - Payroll report generates when the consumer completes the
        Connect experience, and this API is only used for future report
        refreshes without reengaging the consumer.


        This is a premium service. The billable event is the successful
        generation of a VOIE - Payroll report.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GeneratePayrollReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/RefreshVOIEPayrollReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/accounts/{accountId}/statement:
    get:
      tags:
        - Bank Statements
      summary: Get Customer Account Statement
      operationId: BankStatements_getCustomerStatementInPdf
      description: >-
        Retrieve the customer's bank statements in PDF format. Up to 24 months
        of history is available depending on the financial institution. Since
        this is a premium service, charges incur per each successful statement
        retrieved.


        For certified financial institutions, statements are available for the
        following account types:

        * Checking

        * Savings

        * Money market

        * CDs

        * Investments

        * Mortgage

        * Credit cards

        * Loans

        * Line of credit

        * Student Loans


        Note: setting the timeout to 180 seconds is recommended to allow enough
        time for a response.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
        - $ref: '#/components/parameters/StatementIndexParameter'
        - $ref: '#/components/parameters/StatementTypeParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountStatementResponse'
        '203':
          $ref: '#/components/responses/MFAChallengeNeededResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/statement:
    post:
      tags:
        - Bank Statements
      summary: Generate Statement Report
      operationId: BankStatements_generateReport
      description: >-
        Generate a Statement Report for the given accounts under the given
        customer.


        This is a premium service. A billable event will be created upon the
        successful generation of the Statement Report.


        Before calling this API, a consumer must be created for the given
        customer ID (see Consumers APIs).


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GenerateStatementReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateStatementReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v3/customers/{customerId}/accounts/{accountId}/statement:
    get:
      tags:
        - Bank Statements
      summary: Get Customer Account Multiple Statements
      operationId: BankStatements_getMultipleStatements
      description: >-
        This endpoint retrieves account statements for a given customer. The
        maximum number of statements that can be returned is 24.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
        - $ref: '#/components/parameters/StatementIndexesParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountsMultipleStatementResponse'
        '203':
          $ref: '#/components/responses/MFAChallengeNeededResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v3/customers/{customerId}/transactions:
    get:
      tags:
        - Transactions
      summary: Get All Customer Transactions
      operationId: Transactions_getAllCustomerTransactions
      description: >-
        Get all transactions available for this customer within the given date
        range, across all accounts. This service supports paging and sorting by
        `transactionDate` (or `postedDate` if no transaction date is provided),
        with a maximum of 1000 transactions per request.


        Standard consumer aggregation provides up to 180 days of transactions
        prior to the date each account was added to the Finicity system. To
        access older transactions, you must first call the service Load Historic
        Transactions for Account.


        There is no limit for the size of the window between `fromDate` and
        `toDate`, however, the maximum number of transactions returned on one
        page is 1000.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/RequiredFromDateParameter'
        - $ref: '#/components/parameters/RequiredToDateParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/IncludePendingParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerTransactionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v2/customers/{customerId}/transactions/{transactionId}:
    get:
      tags:
        - Transactions
      summary: Get Customer Transaction by ID
      operationId: Transactions_getById
      description: |-
        Get details for the given transaction.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/TransactionIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerTransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v4/customers/{customerId}/accounts/{accountId}/transactions:
    get:
      tags:
        - Transactions
      summary: Get Customer Account Transactions
      operationId: Transactions_getCustomerAccountTransactions
      description: >-
        Get all transactions available for this customer account within the
        given date range. This service supports paging and sorting by
        `transactionDate` (or `postedDate` if no transaction date is provided),
        with a maximum of 1000 transactions per request.


        Standard consumer aggregation provides up to 180 days of transactions
        prior to the date each account was added to the Finicity system. To
        access older transactions, you must first call the Cash Flow
        Verification service Load Historic Transactions for Account.


        There is no limit for the size of the window between `fromDate` and
        `toDate`, however, the maximum number of transactions returned on one
        page is 1000.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
        - $ref: '#/components/parameters/RequiredFromDateParameter'
        - $ref: '#/components/parameters/RequiredToDateParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/IncludePendingParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerTransactionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/transactions:
    post:
      tags:
        - Transactions
      summary: Generate Transactions Report
      operationId: Transactions_get24MonthsHistoryAndGenerateReport
      description: >-
        Generate a Transaction Report for the given accounts under the given
        customer. This service retrieves up to 24 months of transaction history
        for the given customer. It then uses this information to generate the
        Transaction Report.


        This is a premium service. A billable event will be created upon the
        successful generation of the Transactions Report. 


        Before calling this API, a consumer must be created for the given
        customer ID (see Consumers APIs).


        There cannot be more than 24 months between `fromDate` and `toDate`.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/RequiredToDateParameter'
        - $ref: '#/components/parameters/IncludePendingParameter'
      requestBody:
        $ref: '#/components/requestBodies/GenerateTransactionsReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateTransactionsReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/reports/balance-analytics/userTypes/{userType}:
    post:
      tags:
        - Balance Analytics
      summary: Generate Balance Analytics Report - Personal/Business
      operationId: BalanceAnalytics_generateReport
      description: >-
        Generate a Balance Analytics Report for a given customer. This service
        retrieves up to two years of transaction history from connected
        accounts.


        Balance  Analytics analyzes bank balances over time to report metrics
        and identify behavior that may indicate risk.


        Before calling this API, A consumer or business may need to be created
        for the given customer ID based on the user type (see Consumer/Business
        APIs).


        If no account type of checking or savings is found, the service will
        return HTTP 400 Bad Request.


        This is a premium service, billable per every successful API call for
        non-testing customers. A successful call to this API will generate
        analytics report which can be retrieved via Get Report by Customer or
        Get Report by Consumer.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/UserTypeParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GenerateBalanceAnalyticsReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateBalanceAnalyticsReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v2/customers/{customerId}/reports/cashflow-analytics/userTypes/{userType}:
    post:
      tags:
        - Cash Flow Analytics
      summary: Generate Cashflow Analytics Report - Personal/Business
      operationId: CashFlowAnalytics_generateReport
      description: >-
        Generate a Cashflow Analytics Report for a given customer. This service
        retrieves up to two years of transaction history from connected
        accounts.


        Cashflow Analytics analyzes transaction over time to report metrics and
        identify behavior that may indicate risk.


        Before calling this API, A consumer or business may need to be created
        for the given customer ID based on the user type (see Consumer/Business
        APIs).


        If no account type of checking or savings is found, the service will
        return HTTP 400 Bad Request.


        This is a premium service, billable per every successful API call for
        non-testing customers. A successful call to this API will generate
        analytics report which can be retrieved via Get Report by Customer or
        Get Report by Consumer.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/UserTypeParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
      requestBody:
        $ref: '#/components/requestBodies/GenerateCashflowAnalyticsReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateCashflowAnalyticsReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/payStatements:
    post:
      tags:
        - Pay Statements
      summary: Store Customer Pay Statement
      operationId: PayStatements_uploadForCustomer
      description: |-
        Upload pay statements for a customer.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/StoreCustomerPayStatementRequest'
      responses:
        '200':
          $ref: '#/components/responses/StoreCustomerPayStatementResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v2/customers/{customerId}/accounts/{accountId}/loanDetails:
    get:
      tags:
        - Payments
      summary: Get Loan Payment Details
      operationId: Payments_getLoanPaymentDetails
      description: |-
        Return the loan payment details of the customer for a loan-type account.

        Note: this is a premium service, billable per every successful API call.

        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetLoanPaymentDetailsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v1/customers/{customerId}/portfolios/{portfolioId}:
    get:
      tags:
        - Portfolios
      summary: Get Portfolio by Customer
      operationId: Portfolios_getMostRecentReports
      description: >
        Return a portfolio of most recently generated reports for each report
        type for the given customer. If there are multiple reports that were
        generated for a report type (VOA, VOI, etc.), only the most recently
        generated report for the type will be returned.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/PortfolioIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetPortfolioByCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/accounts/{accountId}/txpush:
    post:
      tags:
        - TxPush
      summary: Subscribe to TxPush Notifications
      operationId: TxPush_subscribeNotifications
      description: >-
        Register a client app's TxPush Listener to receive TxPush notifications
        related to the given account.


        Each call to this service will return two records, one with class
        account and one with class transaction. Account events are sent when
        values change in the account's fields (such as `balance` or
        `interestRate`). Transaction events are sent whenever a new transaction
        is posted for the account. For institutions that do not provide TxPush
        services, notifications are sent as soon as Finicity finds a new
        transaction or new account data through regular aggregation processes.


        The listener's URL must be secure (HTTPS) for any real-world account. In
        addition, the client's TxPush Listener will need to be verified. HTTP
        and HTTPS connections are only allowed on the standard ports 80 (HTTP)
        and 443 (HTTPS). The use of other ports will result with the call
        failing.


        For additional details on this process, see [TxPush Listener
        Service](https://developer.mastercard.com/open-banking-us/documentation/products/manage/tx-push/#setting-up-the-txpush-listener-service).


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/SubscribeToTxPushNotificationsRequest'
      responses:
        '201':
          $ref: '#/components/responses/SubscribeToTxPushNotificationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
    delete:
      tags:
        - TxPush
      summary: Disable TxPush Notifications
      operationId: TxPush_disableNotifications
      description: >-
        Delete all TxPush subscriptions with their notifications for the given
        account. No more notifications will be sent for account or transaction
        events.


        For additional details on this process, see [TxPush Listener
        Service](https://developer.mastercard.com/open-banking-us/documentation/products/manage/tx-push/#setting-up-the-txpush-listener-service).


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
      responses:
        '204':
          $ref: '#/components/responses/DisableTxPushNotificationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/accounts/{accountId}/transactions:
    post:
      tags:
        - TxPush
      summary: Create TxPush Test Transaction
      operationId: TxPush_injectTestTransaction
      description: >-
        Inject a transaction into the transaction list for a testing account.
        This allows an app to trigger TxPush notifications for the account in
        order to test the app's TxPush Listener service. This causes the
        platform to send one transaction event and one account event (showing
        that the account balance has changed). This service is only supported
        for testing accounts.


        For additional details on this process, see [TxPush Listener
        Service](https://developer.mastercard.com/open-banking-us/documentation/products/manage/tx-push/#setting-up-the-txpush-listener-service).


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/CreateTxPushTestTransactionRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateTxPushTestTransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/subscriptions/{subscriptionId}:
    delete:
      tags:
        - TxPush
      summary: Delete TxPush Subscription
      operationId: TxPush_deleteSubscription
      description: >-
        Delete a specific subscription to TxPush notifications for the given
        account. This could be individual deleting the account or transactions
        events. No more events will be sent for that specific subscription.


        For additional details on this process, see [TxPush Listener
        Service](https://developer.mastercard.com/open-banking-us/documentation/products/manage/tx-push/#setting-up-the-txpush-listener-service).


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          $ref: '#/components/responses/DeleteTxPushSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v1/consumers/{consumerId}/portfolios/{portfolioId}:
    get:
      tags:
        - Portfolios
      summary: Get Portfolio by Consumer
      operationId: Portfolios_getPortfolioByConsumer
      description: >-
        Return a portfolio of most recently generated reports for each report
        type for a given consumer. If there are multiple reports that were
        generated for a report type (VOA, VOI, etc.), only the most recently
        generated report for the type will be returned.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/ConsumerIdParameter'
        - $ref: '#/components/parameters/PortfolioIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetPortfolioByConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v1/customers/{customerId}/accounts/{accountId}/details:
    get:
      tags:
        - Payments
      summary: Get Account ACH Details
      operationId: Payments_getAchDetails
      description: >-
        Return the real account number and routing number details for an ACH
        payment.


        Note: this is a premium service, billable per every successful API call.


        _Supported account types_: "checking", "savings", "moneyMarket", "cd"


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetAccountACHDetailsResponse'
        '400':
          $ref: '#/components/responses/GetAccountACHDetailsBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v3/customers/{customerId}/reports/{reportId}:
    get:
      tags:
        - Reports
      summary: Get Report by Customer and ID
      operationId: Reports_getStatus
      description: >-
        Get a report that has been generated by a previous call to one of the
        Generate Report services.


        The report's `status` field contains "inProgress", "failure", or
        "success". If the status shows "inProgress", the client app should wait
        20 seconds and then call this API again.


        Report data can either be retrieved as a JSON document or a PDF file. 
        To specify the format required, set the _Accept request header_ to
        either **application/json** or **application/pdf**. If neither is set,
        the report format will be returned as a JSON document.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportIdParameter'
        - $ref: '#/components/parameters/OnBehalfOfParameter'
        - $ref: '#/components/parameters/PurposeParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v3/consumers/{consumerId}/reports/{reportId}:
    get:
      tags:
        - Reports
      summary: Get Report by Consumer and ID
      operationId: Reports_getByConsumerAndId
      description: >-
        Get a report that has been generated by a previous call to one of the
        Generate Report services.


        The report's `status` field contains "inProgress", "failure", or
        "success". If the status shows "inProgress", the client app should wait
        20 seconds and then call this API again.


        Report data can either be retrieved as a JSON document or a PDF file. 
        To specify the format required, set the _Accept request header_ to
        either **application/json** or **application/pdf**. If neither is set,
        the report format will be returned as a JSON document.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/PurposeParameter'
        - $ref: '#/components/parameters/ConsumerIdParameter'
        - $ref: '#/components/parameters/ReportIdParameter'
        - $ref: '#/components/parameters/OnBehalfOfParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /decisioning/v1/customers/{customerId}/reports:
    get:
      tags:
        - Reports
      summary: Get Reports by Customer ID
      operationId: Reports_byCustomerId
      description: >-
        Get all reports that have been generated by previous calls to Generate
        Report services for the given customer.


        The `status` fields in the returned list contain "inProgress",
        "failure", or "success". If the status shows "inProgress", the client
        app should wait 20 seconds and then call this API again.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/PurposeParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetReportsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
  /decisioning/v1/consumers/{consumerId}/reports:
    get:
      tags:
        - Reports
      summary: Get Reports by Consumer ID
      operationId: Reports_byConsumerId
      description: >-
        Get all reports that have been generated by previous calls to Generate
        Report services for the given consumer.


        The `status` fields in the returned list contain "inProgress",
        "failure", or "success". If the status shows "inProgress", the client
        app should wait 20 seconds and then call this API again.


        _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
      parameters:
        - $ref: '#/components/parameters/PurposeParameter'
        - $ref: '#/components/parameters/ConsumerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetReportsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
[...]
