openapi: 3.0.0
info:
  title: ShipEngine API
  description: >
    ShipEngine's easy-to-use REST API lets you manage all of your shipping needs
    without worrying about the complexities of different carrier APIs and
    protocols. We handle all the heavy lifting so you can focus on providing a
    first-class shipping experience for your customers at the best possible
    prices.


    Each of ShipEngine's features can be used by itself or in conjunction with
    each other to build powerful shipping functionality into your application or
    service.


    ## Getting Started

    If you're new to REST APIs then be sure to read our [introduction to
    REST](https://www.shipengine.com/docs/rest/) to understand the basics. 
    Learn how to [authenticate yourself to
    ShipEngine](https://www.shipengine.com/docs/auth/), and then use our
    [sandbox environment](https://www.shipengine.com/docs/sandbox/) to kick the
    tires and get familiar with our API. If you run into any problems, then be
    sure to check the [error handling
    guide](https://www.shipengine.com/docs/errors/) for tips.


    Here are some step-by-step **tutorials** to get you started:

      - [Learn how to create your first shipping label](https://www.shipengine.com/docs/labels/create-a-label/)
      - [Calculate shipping costs and compare rates across carriers](https://www.shipengine.com/docs/rates/)
      - [Track packages on-demand or in real time](https://www.shipengine.com/docs/tracking/)
      - [Validate mailing addresses anywhere on Earth](https://www.shipengine.com/docs/addresses/validation/)


    ## Shipping Labels for Every Major Carrier

    ShipEngine makes it easy to [create shipping labels for any
    carrier](https://www.shipengine.com/docs/labels/create-a-label/) and
    [download them](https://www.shipengine.com/docs/labels/downloading/) in a
    [variety of file formats](https://www.shipengine.com/docs/labels/formats/).
    You can even customize labels with your own
    [messages](https://www.shipengine.com/docs/labels/messages/) and
    [images](https://www.shipengine.com/docs/labels/branding/).



    ## Real-Time Package Tracking

    With ShipEngine you can [get the current status of a
    package](https://www.shipengine.com/docs/tracking/) or [subscribe to
    real-time tracking
    updates](https://www.shipengine.com/docs/tracking/webhooks/) via webhooks.
    You can also create [custimized tracking
    pages](https://www.shipengine.com/docs/tracking/branded-tracking-page/) with
    your own branding so your customers will always know where their package is.



    ## Compare Shipping Costs Across Carriers

    Make sure you ship as cost-effectively as possible by [comparing rates
    across carriers](https://www.shipengine.com/docs/rates/get-shipment-rates/)
    using the ShipEngine Rates API. Or if you don't know the full shipment
    details yet, then you can [get rate
    estimates](https://www.shipengine.com/docs/rates/estimate/) with limited
    address info.



    ## Worldwide Address Validation

    ShipEngine supports [address
    validation](https://www.shipengine.com/docs/addresses/validation/) for
    virtually [every country on
    Earth](https://www.shipengine.com/docs/addresses/validation/countries/),
    including the United States, Canada, Great Britain, Australia, Germany,
    France, Norway, Spain, Sweden, Israel, Italy, and over 160 others.
  version: 1.1.202403141503
  termsOfService: https://www.shipengine.com/terms-of-service/
  x-logo:
    url: https://shipengine.github.io/img/shipengine-logo-square.png
    backgroundColor: '#FFFFFF'
    altText: ShipEngine logo
  contact:
    name: ShipEngine Sales & Support
    email: sales@shipengine.com
    url: https://www.shipengine.com/contact/
    x-phone: 1-512-856-5379
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.shipengine.com
tags:
  - description: >
      Shipments are at the center of the ShipEngine API.  A shipment is the
      first step in [creating a shipping
      label](https://www.shipengine.com/docs/labels/create-a-label/), or
      [creating a
      manifest](https://www.shipengine.com/docs/shipping/manifests/).  It's also
      essential for [getting shipping
      rates](https://www.shipengine.com/docs/rates/).
    name: shipments
    externalDocs:
      description: >
        Learn about the shipment object model concept, and how to persist and
        re-use shipment data inside ShipEngine.
      url: https://www.shipengine.com/docs/shipping/create-a-shipment/
    x-displayName: Shipments
  - description: |
      batches
    name: batches
    x-displayName: Batches
  - description: >
      Print shipping labels for any of the top global carriers in
      minutes—instead of weeks. Simply [connect your existing carrier
      accounts](https://www.shipengine.com/docs/carriers/setup/) in the API
      dashboard, and then [begin creating
      labels](https://www.shipengine.com/docs/shipping/use-a-carrier-service/).
    name: labels
    externalDocs:
      description: >-
        Follow this quick start guide to create your first shipping label with
        ShipEngine
      url: https://www.shipengine.com/docs/labels/create-a-label/
    x-displayName: Labels
  - description: |
      carriers
    name: carriers
    x-displayName: Carriers
  - description: |
      For additional information about the ShipEngine account. 
    name: account
    x-displayName: Account
  - description: |
      warehouses
    name: warehouses
    x-displayName: Warehouses
  - description: |
      custom package types
    name: package_types
    x-displayName: Package Types
  - description: >
      [Webhooks](https://www.shipengine.com/docs/tracking/webhooks/) are a
      powerful feature of ShipEngine that can save you from sending repeated
      polling requests to check on the state of something.  With webhooks,
      ShipEngine will automatically contact your servers when the stage
      changes.  This can include [parcel
      tracking](https://www.shipengine.com/docs/tracking/) events, notification
      of the completion of a [batch
      operation](https://www.shipengine.com/docs/labels/bulk/),  or new [salses
      orders](https://www.shipengine.com/docs/orders/).
    name: webhooks
    externalDocs:
      description: Learn how to setup webhooks and start listening to ShipEngine events.
      url: https://www.shipengine.com/docs/tracking/webhooks/
    x-displayName: Webhooks
  - description: |
      carrier accounts
    name: carrier_accounts
    x-displayName: Carrier Accounts
  - description: |
      insurance
    name: insurance
    x-displayName: Insurance
  - description: |
      manifests
    name: manifests
    x-displayName: Manifests
  - description: Scheduled package pickups
    name: package_pickups
    x-displayName: Package Pickups
  - description: >
      Make sure you ship as cost-effectively as possible by [quickly comparing
      rates](https://www.shipengine.com/docs/rates/) using the ShipEngine Rates
      API. As long as you have the carrier connected to your account, you'll be
      able to see and compare different rates and services.
    name: rates
    externalDocs:
      description: >
        This quick start guide shows you how to get shipping rates for multiple
        carriers so you can choose the fastest, cheapest, or most reliable
        option.
      url: https://www.shipengine.com/docs/rates/
    x-displayName: Rates
  - description: |
      tags
    name: tags
    x-displayName: Tags
  - description: >
      [Track packages](https://www.shipengine.com/docs/tracking/) across any of
      our 20+ supported carrier accounts and create tracking events to keep your
      customers up-to-date. Easily integrate real-time tracking information for
      shipments into your app, email, or SMS.
    name: tracking
    externalDocs:
      description: >-
        Learn how to use ShipEngine to track any package with a carrier and a
        tracking number
      url: https://www.shipengine.com/docs/tracking/
    x-displayName: Tracking
  - description: >
      No matter your shipping volume, failed deliveries and address change
      surcharges cut into your bottom line and damage perception with customers.
      Our address validation services ensure your packages make it to the right
      place the first time. [Learn how to leverage our address validation
      services here.](https://www.shipengine.com/docs/addresses/validation/)


      ShipEngine supports address validation for virtually every country on
      Earth, including the United States, Canada, Great Britain, Australia,
      Germany, France, Norway, Spain, Sweden, Israel, Italy, and over 160
      others.
    name: addresses
    externalDocs:
      description: >
        Address validation ensures accurate addresses and can lead to reduced
        shipping costs by preventing address correction surcharges. ShipEngine
        cross references multiple databases to validate addresses and identify
        potential deliverability issues.
      url: https://www.shipengine.com/docs/addresses/validation/
    x-displayName: Addresses
  - name: service_points
    x-displayName: Service Points
  - description: |
      downloads
    name: downloads
    x-displayName: Downloads
  - name: tokens
    x-displayName: Tokens
paths:
  /v1/account/settings:
    summary: Account settings
    description: ShipEngine Account settings
    get:
      tags:
        - account
      summary: List Account Settings
      operationId: Account_listSettings
      description: List all account settings for the ShipEngine account
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_settings'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/account/settings/images:
    summary: Account settings images
    description: ShipEngine Account images
    get:
      tags:
        - account
      summary: List Account Images
      operationId: Account_listImages
      description: List all account images for the ShipEngine account
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paged_list_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    post:
      tags:
        - account
      summary: Create an Account Image
      operationId: Account_createImage
      description: Create an Account Image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_settings_images'
      responses:
        '200':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_settings_images'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/account/settings/images/{label_image_id}:
    summary: Account settings images
    description: ShipEngine Account images
    get:
      tags:
        - account
      summary: Get Account Image By ID
      operationId: Account_getImageById
      description: Retrieve information for an account image.
      parameters:
        - description: Label Image Id
          name: label_image_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/image_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_settings_images'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    put:
      tags:
        - account
      summary: Update Account Image By ID
      operationId: Account_updateImageById
      description: Update information for an account image.
      parameters:
        - description: Label Image Id
          name: label_image_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/image_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_settings_images'
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    delete:
      tags:
        - account
      summary: Delete Account Image By Id
      operationId: Account_deleteImageById
      description: Delete Account Image By Id
      parameters:
        - description: Label Image Id
          name: label_image_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/image_id'
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/addresses/recognize:
    summary: Parse an address
    description: >
      Data often enters your system as unstructured text (for example: emails,
      SMS messages, support tickets, or other documents). ShipEngine's
      address-recognition API helps you extract meaningful address data (e.g.
      recipient name, address line 1, line 2, city, postal code) from this
      unstructured text.
    put:
      tags:
        - addresses
      summary: Parse an address
      operationId: parse_address
      description: >
        The address-recognition API makes it easy for you to extract address
        data from unstructured text, including the recipient name, line 1, line
        2, city, postal code, and more.


        Data often enters your system as unstructured text (for example: emails,
        SMS messages, support tickets, or other documents). ShipEngine's
        address-recognition API helps you extract meaningful, structured data
        from this unstructured text. The parsed address data is returned in the
        same structure that's used for other ShipEngine APIs, such as address
        validation, rate quotes, and shipping labels.


        > **Note:** Address recognition is currently supported for the United
        States, Canada, Australia, New Zealand, the United Kingdom, and Ireland.
      requestBody:
        description: >
          The only required field is `text`, which is the text to be parsed. You
          can optionally also provide an `address` containing already-known
          values. For example, you may already know the recipient's name, city,
          and country, and only want to parse the street address into separate
          lines.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/parse_address_request_body'
            examples:
              text_only:
                summary: Text only
                description: >
                  This is the simplest way to call the address-recognition API.
                  Just pass the text to be parsed and nothing else.
                value:
                  text: >-
                    Margie McMiller at 3800 North Lamar suite 200 in austin,
                    tx.  The zip code there is 78652.
              some_known_fields:
                summary: Some known fields
                description: >
                  You can optionally provide an `address` object containing any
                  already-known values. For example, you may already know the
                  recipient's name, city, and country, and only want to parse
                  the street address into separate lines.
                value:
                  text: >-
                    Margie McMiller at 3800 North Lamar suite 200 in austin,
                    tx.  The zip code there is 78652.
                  address:
                    country_code: US
                    address_residential_indicator: 'yes'
      responses:
        '200':
          description: >
            Returns the parsed address, as well as a confidence score and a list
            of all the entities that were recognized in the text.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/parse_address_response_body'
              examples:
                text_only:
                  description: >
                    This response shows that the address-recognition API was
                    able to recognize all the address entities in the text. 
                    Notice that the `country_code` is not populated and the
                    `address_residential_indicator` is "unknown", since neither
                    of these fields was included in the text.
                  value:
                    score: 0.9122137426845613
                    address:
                      name: Margie McMiller
                      address_line1: 3800 North Lamar
                      address_line2: Suite 200
                      city_locality: Austin
                      state_province: TX
                      postal_code: 78652
                      address_residential_indicator: unknown
                    entities:
                      - type: person
                        score: 0.9519646137063122
                        text: Margie McMiller
                        start_index: 0
                        end_index: 14
                        result:
                          value: Margie McMiller
                      - type: address_line
                        score: 0.9805313966503588
                        text: 3800 North Lamar
                        start_index: 19
                        end_index: 34
                        result:
                          line: 1
                          value: 3800 North Lamar
                      - type: number
                        score: 0.9805313966503588
                        text: 3800
                        start_index: 19
                        end_index: 22
                        result:
                          type: cardinal
                          value: 3800
                      - type: address_line
                        score: 1
                        text: suite 200
                        start_index: 36
                        end_index: 44
                        result:
                          line: 2
                          value: Suite 200
                      - type: number
                        score: 0.9805313966503588
                        text: 200
                        start_index: 42
                        end_index: 44
                        result:
                          type: cardinal
                          value: 200
                      - type: city_locality
                        score: 0.9805313966503588
                        text: austin
                        start_index: 49
                        end_index: 54
                        result:
                          value: Austin
                      - type: state_province
                        score: 0.6082904353940255
                        text: tx
                        start_index: 57
                        end_index: 58
                        result:
                          name: Texas
                          value: TX
                      - type: postal_code
                        score: 0.9519646137063122
                        text: 78652
                        start_index: 84
                        end_index: 88
                        result:
                          value: 78652
                some_known_fields:
                  description: >
                    This response is shows that the address-recognition API was
                    able to recognize all the address entities in the text. 
                    Notice that the `country_code` and
                    `address_residential_indicator` fields are populated with
                    the values that were provided in the request.
                  value:
                    score: 0.9122137426845613
                    address:
                      name: Margie McMiller
                      address_line1: 3800 North Lamar
                      address_line2: Suite 200
                      city_locality: Austin
                      state_province: TX
                      postal_code: 78652
                      country_code: US
                      address_residential_indicator: 'yes'
                    entities:
                      - type: person
                        score: 0.9519646137063122
                        text: Margie McMiller
                        start_index: 0
                        end_index: 14
                        result:
                          value: Margie McMiller
                      - type: address_line
                        score: 0.9805313966503588
                        text: 3800 North Lamar
                        start_index: 19
                        end_index: 34
                        result:
                          line: 1
                          value: 3800 North Lamar
                      - type: number
                        score: 0.9805313966503588
                        text: 3800
                        start_index: 19
                        end_index: 22
                        result:
                          type: cardinal
                          value: 3800
                      - type: address_line
                        score: 1
                        text: suite 200
                        start_index: 36
                        end_index: 44
                        result:
                          line: 2
                          value: Suite 200
                      - type: number
                        score: 0.9805313966503588
                        text: 200
                        start_index: 42
                        end_index: 44
                        result:
                          type: cardinal
                          value: 200
                      - type: city_locality
                        score: 0.9805313966503588
                        text: austin
                        start_index: 49
                        end_index: 54
                        result:
                          value: Austin
                      - type: state_province
                        score: 0.6082904353940255
                        text: tx
                        start_index: 57
                        end_index: 58
                        result:
                          name: Texas
                          value: TX
                      - type: postal_code
                        score: 0.9519646137063122
                        text: 78652
                        start_index: 84
                        end_index: 88
                        result:
                          value: 78652
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/addresses/validate:
    summary: Address Validation
    description: >
      Address validation ensures accurate addresses and can lead to reduced
      shipping costs by preventing address correction surcharges.

      ShipEngine cross references multiple databases to validate addresses and
      identify potential deliverability issues.
    post:
      tags:
        - addresses
      summary: Validate An Address
      operationId: validate_address
      description: >
        Address validation ensures accurate addresses and can lead to reduced
        shipping costs by preventing address correction surcharges.

        ShipEngine cross references multiple databases to validate addresses and
        identify potential deliverability issues.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validate_address_request_body'
            examples:
              all_known_fields_request:
                summary: All Known Fields
                description: A call that returns a status of `verified`.
                value:
                  - name: Mickey and Minnie Mouse
                    phone: 714-781-4565
                    company_name: The Walt Disney Company
                    address_line1: 500 South Buena Vista Street
                    city_locality: Burbank
                    state_province: CA
                    postal_code: 91521
                    country_code: US
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validate_address_response_body'
              examples:
                all_known_fields:
                  summary: All Known Fields
                  description: A response for a `verified` status call.
                  value:
                    - status: verified
                      original_address:
                        name: Mickey and Minnie Mouse
                        phone: 714-781-4565
                        company_name: The Walt Disney Company
                        address_line1: 500 South Buena Vista Street
                        address_line2: null
                        address_line3: null
                        city_locality: Burbank
                        state_province: CA
                        postal_code: 91521
                        country_code: US
                        address_residential_indicator: unknown
                      matched_address:
                        name: MICKEY AND MINNIE MOUSE
                        phone: 714-781-4565
                        company_name: THE WALT DISNEY COMPANY
                        address_line1: 500 S BUENA VISTA ST
                        address_line2: null
                        address_line3: null
                        city_locality: BURBANK
                        state_province: CA
                        postal_code: 91521-0007
                        country_code: US
                        address_residential_indicator: 'no'
                      messages: []
                empty_fields:
                  summary: Empty Fields
                  description: A response for an `unverified` API Call with error message
                  value:
                    - status: unverified
                      original_address:
                        name: null
                        phone: null
                        company_name: null
                        address_line1: null
                        address_line2: null
                        address_line3: null
                        city_locality: null
                        state_province: null
                        postal_code: null
                        country_code: null
                        address_residential_indicator: unknown
                      matched_address: null
                      messages:
                        - code: a1001
                          message: >-
                            country_code is not currently a supported country
                            please check the documentation for acceptable
                            2-letter country codes.
                          type: error
                          detail_code: unsupported_country
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/batches:
    summary: Batches
    description: >
      Batches are an advanced feature of ShipEngine designed for users who need
      to generate hundreds or thousands of labels at a time.

      When ShipEngine generates labels it relies on many carriers, their
      services, their dependencies, and a number of other variables

      to fulfill your requests; those requests can take a few minutes for us to
      get back to you.
    get:
      tags:
        - batches
      summary: List Batches
      operationId: list_batches
      description: List Batches associated with your Shipengine account
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/batch_status'
        - description: >
            Return a specific page of results. Defaults to the first page. If
            set to a number that's greater than the number of pages of results,
            an empty page is returned.
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
          example: 2
        - description: The number of results to return per response.
          name: page_size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 25
          example: 50
        - description: Controls the sort order of the query.
          name: sort_dir
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/sort_dir'
        - description: Batch Number
          name: batch_number
          in: query
          required: false
          schema:
            type: string
        - name: sort_by
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/batches_sort_by'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_batches_response_body'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    post:
      tags:
        - batches
      summary: Create A Batch
      operationId: create_batch
      description: Create a Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_batch_request'
      responses:
        '200':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
        '207':
          description: >-
            The request was a partial success. It contains results, as well as
            processing errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/batches/external_batch_id/{external_batch_id}:
    summary: External Batch ID
    description: Retrive a batch from an external batch ID
    parameters:
      - name: external_batch_id
        in: path
        required: true
        schema:
          type: string
        example: 13553d7f-3c87-4771-bae1-c49bacef11cb
    get:
      tags:
        - batches
      summary: Get Batch By External ID
      operationId: Batches_getByExternalId
      description: Get Batch By External ID
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/batches/{batch_id}:
    summary: Batch By ID
    description: Check the status of your batch by retrieving it with a Batch ID.
    parameters:
      - description: Batch ID
        name: batch_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    delete:
      tags:
        - batches
      summary: Delete Batch By Id
      operationId: delete_batch
      description: Delete Batch By Id
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    get:
      tags:
        - batches
      summary: Get Batch By ID
      operationId: Batches_getById
      description: Get Batch By ID
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    put:
      tags:
        - batches
      summary: Update Batch By Id
      operationId: update_batch
      description: Update Batch By Id
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/batches/{batch_id}/add:
    summary: Add Funds to a Carrier
    description: >
      You can check your balance for a particular carrier by calling [List
      Carriers](https://www.shipengine.com/docs/reference/list-carriers/)
      endpoint.

      For any carrier account where requires_funded_amount is true, you can add
      funds.
    parameters:
      - description: Batch ID
        name: batch_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    post:
      tags:
        - batches
      summary: Add to a Batch
      operationId: Batches_addToBatch
      description: Add a Shipment or Rate to a Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modify_batch'
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/batches/{batch_id}/errors:
    summary: Batch Errors
    description: >
      Error handling in batches are handled differently than in a single
      synchronous request.

      You must retrieve the status of your batch by [getting a
      batch](https://www.shipengine.com/docs/reference/get-batch-by-id/) and
      getting an overview of the statuses or you can list errors directly here
      below to get detailed information about the errors.
    parameters:
      - description: Batch ID
        name: batch_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    get:
      tags:
        - batches
      summary: Get Batch Errors
      operationId: Batches_getErrors
      description: >
        Error handling in batches are handled differently than in a single
        synchronous request.

        You must retrieve the status of your batch by [getting a
        batch](https://www.shipengine.com/docs/reference/get-batch-by-id/) and
        getting an overview of the statuses or you can list errors directly here
        below to get detailed information about the errors.
      parameters:
        - description: >
            Return a specific page of results. Defaults to the first page. If
            set to a number that's greater than the number of pages of results,
            an empty page is returned.
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
          example: 2
        - name: pagesize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_batch_errors_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/batches/{batch_id}/process/labels:
    summary: Process Batch ID Labels
    description: Process Batch ID Labels
    parameters:
      - description: Batch ID
        name: batch_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    post:
      tags:
        - batches
      summary: Process Batch ID Labels
      operationId: process_batch
      description: Process Batch ID Labels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process_batch_request_body'
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/batches/{batch_id}/remove:
    summary: Remove Batch By ID
    description: Remove a list of shipments from a batch
    parameters:
      - description: Batch ID
        name: batch_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    post:
      tags:
        - batches
      summary: Remove From Batch
      operationId: Batches_removeFromBatch
      description: Remove a shipment or rate from a batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modify_batch'
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/carriers:
    summary: Carriers
    description: >
      Carriers are a company or individual that specializes in transporting
      freight from one destination to another.

      Shipengine allows you to easily integrate with multiple carriers so you
      can chose the shipping option that is right for you.
    get:
      tags:
        - carriers
      summary: List Carriers
      operationId: list_carriers
      description: List all carriers that have been added to this account
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_carriers_response_body'
        '207':
          description: >-
            The request was a partial success. It contains results, as well as
            errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_carriers_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/carriers/{carrier_id}:
    summary: Individual carriers
    description: >-
      Perform actions and get information on individual carriers connected with
      your account.
    parameters:
      - description: Carrier ID
        name: carrier_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        example: se-28529731
    get:
      tags:
        - carriers
      summary: Get Carrier By ID
      operationId: Carriers_getById
      description: Retrive carrier info by ID
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carrier'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    delete:
      tags:
        - carriers
      summary: Disconnect Carrier by ID
      operationId: Carriers_disconnectById
      description: Disconnect a Carrier of the given ID from the account
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/carriers/{carrier_id}/add_funds:
    summary: Carrier Funds
    description: >-
      All carriers require that funds to be attached to an account to ensure
      payment for the various services they provide to their customers.
    parameters:
      - description: Carrier ID
        name: carrier_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        example: se-28529731
    put:
      tags:
        - carriers
      summary: Add Funds To Carrier
      operationId: Carriers_addFundsToCarrier
      description: Add Funds To A Carrier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/monetary_value'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add_funds_to_carrier_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/carriers/{carrier_id}/options:
    summary: Carrier Options
    description: >-
      Carriers support various options for particular shipments. Ex.
      (non-machinable, is_alcohol, fragile, etc)
    parameters:
      - description: Carrier ID
        name: carrier_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        example: se-28529731
    get:
      tags:
        - carriers
      summary: Get Carrier Options
      operationId: Carriers_getOptions
      description: Get a list of the options available for the carrier
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_carrier_options_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/carriers/{carrier_id}/packages:
    summary: Carrier Packages
    description: >
      Carriers support many different package types, Shipengine supports
      retrieving all available package so that

      you can best determine what is right for your particular shipment.
    parameters:
      - description: Carrier ID
        name: carrier_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        example: se-28529731
    get:
      tags:
        - carriers
      summary: List Carrier Package Types
      operationId: Carriers_listPackageTypes
      description: List the package types associated with the carrier
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_carrier_package_types_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/carriers/{carrier_id}/services:
    summary: Carrier Services
    description: >
      Carrier services usually refer to the various shipping options that a
      carrier provides to its customers.

      Ex. Priority mail, overnight, international
    parameters:
      - description: Carrier ID
        name: carrier_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        example: se-28529731
    get:
      tags:
        - carriers
      summary: List Carrier Services
      operationId: Carriers_listServices
      description: List the services associated with the carrier ID
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_carrier_services_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/connections/carriers/{carrier_name}:
    summary: Carrier connections
    description: Carrier connections
    parameters:
      - description: >-
          The carrier name, such as `stamps_com`, `ups`, `fedex`, or
          `dhl_express`.
        name: carrier_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/carrier_name'
        example: dhl_express
    post:
      tags:
        - carrier_accounts
      summary: Connect a carrier account
      operationId: connect_carrier
      description: Connect a carrier account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_carrier_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_carrier_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/connections/carriers/{carrier_name}/{carrier_id}:
    summary: Disconnect a carrier
    description: Disconnect a carrier
    parameters:
      - description: >-
          The carrier name, such as `stamps_com`, `ups`, `fedex`, or
          `dhl_express`.
        name: carrier_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/carrier_name'
        example: dhl_express
      - description: Carrier ID
        name: carrier_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        example: se-28529731
    delete:
      tags:
        - carrier_accounts
      summary: Disconnect a carrier
      operationId: disconnect_carrier
      description: Disconnect a carrier
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/connections/carriers/{carrier_name}/{carrier_id}/settings:
    summary: Carrier settings
    description: Carrier settings
    parameters:
      - description: The carrier name, such as `ups`, `fedex`, or `dhl_express`.
        name: carrier_name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/carrier_name_with_settings'
        example: dhl_express
      - description: Carrier ID
        name: carrier_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
        example: se-28529731
    get:
      tags:
        - carrier_accounts
      summary: Get carrier settings
      operationId: Carrieraccounts_getSettings
      description: Get carrier settings
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_carrier_settings_response_body'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    put:
      tags:
        - carrier_accounts
      summary: Update carrier settings
      operationId: Carrieraccounts_updateSettings
      description: Update carrier settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_carrier_settings_request_body'
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/connections/insurance/shipsurance:
    summary: Shipsurance Connection
    description: Shipsurance Connection
    delete:
      tags:
        - insurance
      summary: Disconnect a Shipsurance Account
      operationId: disconnect_insurer
      description: Disconnect a Shipsurance Account
      responses:
        '200':
          description: The request was a success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disconnect_insurer_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    post:
      tags:
        - insurance
      summary: Connect a Shipsurance Account
      operationId: connect_insurer
      description: Connect a Shipsurance Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_insurer_request_body'
        required: true
      responses:
        '200':
          description: The request was a success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_insurer_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/downloads/{dir}/{subdir}/{filename}:
    summary: File Download
    description: >
      This endpoint is used to download forms that are generated in the various
      pdf, png, zpl formats

      such as labels and batches
    parameters:
      - name: subdir
        in: path
        required: true
        schema:
          type: string
      - name: filename
        in: path
        required: true
        schema:
          type: string
      - name: dir
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - downloads
      summary: Download File
      operationId: download_file
      description: Get File
      parameters:
        - name: download
          in: query
          required: false
          schema:
            type: string
        - name: rotation
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The request was a success
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/download_file_pdf_response_body'
            image/png:
              schema:
                $ref: '#/components/schemas/download_file_png_response_body'
            application/zpl:
              schema:
                $ref: '#/components/schemas/download_file_zpl_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/environment/webhooks:
    summary: Webhooks
    description: >
      ShipEngine exposes asynchronous operations for long running operations
      such as batch labels and rates.

      Webhooks allow the ShipEngine servers to contact your servers when an
      operation changes state, such as a batch label creation completion.
    get:
      tags:
        - webhooks
      summary: List Webhooks
      operationId: list_webhooks
      description: List all webhooks currently enabled for the account.
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_webhooks_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    post:
      tags:
        - webhooks
      summary: Create a Webhook
      operationId: create_webhook
      description: Create a webook for specific events in the environment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_webhook_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
        '400':
          $ref: '#/components/responses/400_error_response'
        '409':
          $ref: '#/components/responses/409_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/environment/webhooks/{webhook_id}:
    summary: Webhook
    description: Retrieve, update, and delete information for individual webhooks
    parameters:
      - description: Webhook ID
        name: webhook_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    get:
      tags:
        - webhooks
      summary: Get Webhook By ID
      operationId: Webhooks_getById
      description: Retrieve individual webhook by an ID
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    put:
      tags:
        - webhooks
      summary: Update a Webhook
      operationId: update_webhook
      description: Update the webhook url property
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_webhook_request_body'
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    delete:
      tags:
        - webhooks
      summary: Delete Webhook By ID
      operationId: delete_webhook
      description: Delete a webhook
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/insurance/shipsurance/add_funds:
    summary: Shipsurance
    description: >
      [Shipsurance](https://www.shipsurance.com/) is a shipping insurance
      company offering coverage for shipments sent via the major shipping
      carriers worldwide.
    patch:
      tags:
        - insurance
      summary: Add Funds To Insurance
      operationId: Insurance_autoFundAccount
      description: >
        You may need to auto fund your account from time to time. For example,
        if you don't normally ship items over $100,

        and may want to add funds to insurance rather than keeping the account
        funded.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/monetary_value'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/monetary_value'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/insurance/shipsurance/balance:
    summary: Shipsurance
    description: >
      [Shipsurance](https://www.shipsurance.com/) is a shipping insurance
      company offering coverage for shipments sent via the major shipping
      carriers worldwide.
    get:
      tags:
        - insurance
      summary: Get Insurance Funds Balance
      operationId: Insurance_getFundsBalance
      description: Retrieve the balance of your Shipsurance account.
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/monetary_value'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/labels:
    summary: Print shipping labels
    description: >
      Print shipping labels for any of the top global carriers in
      minutes—instead of weeks. Simply [connect your existing carrier
      accounts](https://www.shipengine.com/docs/carriers/setup/)

      in the API dashboard, and then [begin creating
      labels](https://www.shipengine.com/docs/shipping/use-a-carrier-service/).
    get:
      tags:
        - labels
      summary: List labels
      operationId: list_labels
      description: >
        This endpoint returns a list of labels that you've
        [created](https://www.shipengine.com/docs/labels/create-a-label/). You
        can optionally filter the results as well as control their sort order
        and the number of results returned at a time.


        By default, all labels are returned, 25 at a time, starting with the
        most recently created ones.  You can combine multiple filter options to
        narrow-down the results.  For example, if you only want to get your UPS
        labels for your east coast warehouse you could query by both
        `warehouse_id` and `carrier_id`
      parameters:
        - description: Only return labels that are currently in the specified status
          name: label_status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/label_status'
        - description: >-
            Only return labels for a specific [carrier
            service](https://www.shipengine.com/docs/shipping/use-a-carrier-service/)
          name: service_code
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/service_code'
          example: usps_first_class_mail
        - description: >-
            Only return labels for a specific [carrier
            account](https://www.shipengine.com/docs/carriers/setup/)
          name: carrier_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - description: Only return labels with a specific tracking number
          name: tracking_number
          in: query
          required: false
          schema:
            type: string
            minLength: 1
          example: '9405511899223197428490'
        - description: >-
            Only return labels that were created in a specific
            [batch](https://www.shipengine.com/docs/labels/bulk/)
          name: batch_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - description: Rate ID
          name: rate_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - description: Shipment ID
          name: shipment_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - description: >-
            Only return labels that originate from a specific
            [warehouse](https://www.shipengine.com/docs/shipping/ship-from-a-warehouse/)
          name: warehouse_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - description: >-
            Only return labels that were created on or after a specific
            date/time
          name: created_at_start
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: '2019-03-12T19:24:13.657Z'
        - description: >-
            Only return labels that were created on or before a specific
            date/time
          name: created_at_end
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: '2019-03-12T19:24:13.657Z'
        - description: >
            Return a specific page of results. Defaults to the first page. If
            set to a number that's greater than the number of pages of results,
            an empty page is returned.
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
          example: 2
        - description: The number of results to return per response.
          name: page_size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 25
          example: 50
        - description: Controls the sort order of the query.
          name: sort_dir
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/sort_dir'
        - description: Controls which field the query is sorted by.
          name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - modified_at
              - created_at
            default: created_at
      responses:
        '200':
          description: >
            The response includes a `labels` array containing a page of results
            (as determined by the `page_size` query parameter).  It also
            includes other useful information, such as the total number of
            labels that match the query criteria, the number of pages of
            results, and the URLs of the first, last, next, and previous pages
            of results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paged_list_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    post:
      tags:
        - labels
      summary: Purchase Label
      operationId: create_label
      description: Purchase and print a label for shipment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/label'
      responses:
        '200':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/labels/external_shipment_id/{external_shipment_id}:
    summary: Get Label By External Shipment ID
    description: Find a label using the external shipment id
    parameters:
      - name: external_shipment_id
        in: path
        schema:
          type: string
        required: true
        example: 0bcb569d-1727-4ff9-ab49-b2fec0cee5ae
    get:
      tags:
        - labels
      summary: Get Label By External Shipment ID
      operationId: Labels_getByExternalShipmentId
      description: >
        Find a label by using the external shipment id that was used during
        label creation
      parameters:
        - name: label_download_type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/label_download_type'
          example: url
      responses:
        '200':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/labels/rates/{rate_id}:
    summary: Use a rate to purchase a label
    description: >-
      Purchase a label using a `rate_id` that has been previously generated
      while looking at various rates for a particular shipment.
    parameters:
      - description: Rate ID
        name: rate_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    post:
      tags:
        - labels
      summary: Purchase Label with Rate ID
      operationId: Labels_purchaseLabelWithRateId
      description: >
        When retrieving rates for shipments using the `/rates` endpoint, the
        returned information contains a `rate_id` property that can be used

        to generate a label without having to refill in the shipment information
        repeatedly.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/purchase_label_without_shipment'
      responses:
        '200':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/labels/shipment/{shipment_id}:
    summary: Purchase label using shipment ID
    description: >
      Purchase a label using a shipment ID that has already been created with
      the desired address and

      package info.
    parameters:
      - description: Shipment ID
        name: shipment_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    post:
      tags:
        - labels
      summary: Purchase Label with Shipment ID
      operationId: Labels_purchaseLabelWithShipmentId
      description: >
        Purchase a label using a shipment ID that has already been created with
        the desired address and

        package info.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_label_from_shipment_request_body'
      responses:
        '200':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/labels/{label_id}:
    summary: Label
    description: Retrieve information for individual labels.
    parameters:
      - description: Label ID
        name: label_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    get:
      tags:
        - labels
      summary: Get Label By ID
      operationId: Labels_getById
      description: Retrieve information for individual labels.
      parameters:
        - name: label_download_type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/label_download_type'
          example: url
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/labels/{label_id}/return:
    summary: Return labels
    parameters:
      - description: Label ID
        name: label_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    post:
      tags:
        - labels
      summary: Create a return label
      operationId: Labels_createReturnLabel
      description: Create a return label
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_return_label_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/labels/{label_id}/track:
    summary: Tracking a Label
    description: >-
      Carriers will provide tracking information so the status of your shipment
      can be monitored
    parameters:
      - description: Label ID
        name: label_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    get:
      tags:
        - labels
      summary: Get Label Tracking Information
      operationId: Labels_getTrackingInfo
      description: Retrieve the label's tracking information
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracking_information'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/labels/{label_id}/void:
    summary: Label Voiding
    description: >
      Some carriers charge for creating a label upon purchase vs upon use. The
      Shipengine API allows you

      to void a label to get a refund.
    parameters:
      - description: Label ID
        name: label_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    put:
      tags:
        - labels
      summary: Void a Label By ID
      operationId: void_label
      description: Void a label by ID to get a refund.
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/void_label_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/manifests:
    summary: Manifests
    description: >
      Many manifests are sent electronically to the carrier when you create a
      label, and

      often physical manifests are not necessary. Carriers receive the package
      details, shipping date,

      and other information that help them plan your package's delivery when you
      create a label.


      However, some providers, like USPS require manifests when shipping large
      numbers of packages. Think about how long it would take for a delivery
      driver to arrive, pick up 100 packages, and individually scan each of
      them.


      A manifest exists so the carrier can scan the manifest and check in all
      the packages being shipped.
    get:
      tags:
        - manifests
      summary: List Manifests
      operationId: list_manifests
      description: >-
        Similar to querying shipments, we allow you to query manifests since
        there will likely be a large number over a long period of time.
      parameters:
        - description: Warehouse ID
          name: warehouse_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - description: ship date start range
          name: ship_date_start
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: '2018-09-23T15:00:00.000Z'
        - description: ship date end range
          name: ship_date_end
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: '2018-09-23T15:00:00.000Z'
        - description: >-
            Used to create a filter for when a resource was created (ex. A
            shipment that was created after a certain time)
          name: created_at_start
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: '2019-03-12T19:24:13.657Z'
        - description: >-
            Used to create a filter for when a resource was created, (ex. A
            shipment that was created before a certain time)
          name: created_at_end
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: '2019-03-12T19:24:13.657Z'
        - description: Carrier ID
          name: carrier_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - description: >
            Return a specific page of results. Defaults to the first page. If
            set to a number that's greater than the number of pages of results,
            an empty page is returned.
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
          example: 2
        - description: The number of results to return per response.
          name: page_size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 25
          example: 50
        - name: label_ids
          in: query
          explode: true
          required: false
          schema:
            description: Array of label ids
            type: array
            items:
              title: se_id
              description: >-
                A string that uniquely identifies a ShipEngine resource, such as
                a carrier, label, shipment, etc.
              type: string
              minLength: 1
              maxLength: 25
              pattern: ^se(-[a-z0-9]+)+$
              example: se-28529731
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_manifests_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    post:
      tags:
        - manifests
      summary: Create Manifest
      operationId: create_manifest
      description: >
        Each ShipEngine manifest is created for a specific warehouse, so you'll
        need to provide the warehouse_id

        rather than the ship_from address. You can create a warehouse for each
        location that you want to create manifests for.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_manifest_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_manifest_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/manifests/{manifest_id}:
    summary: Manifest ID
    description: Manifest ID
    parameters:
      - description: The Manifest Id
        name: manifest_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    get:
      tags:
        - manifests
      summary: Get Manifest By Id
      operationId: Manifests_getById
      description: Get Manifest By Id
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manifest'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/manifests/requests/{manifest_request_id}:
    summary: Manifest Request ID
    description: Manifest Request ID
    parameters:
      - description: The Manifest Request Id
        name: manifest_request_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    get:
      tags:
        - manifests
      summary: Get Manifest Request By Id
      operationId: Manifests_getRequestById
      description: Get Manifest Request By Id
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_manifest_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/packages:
    summary: Packages
    description: >
      Sometimes the default package types that carriers provide aren't enough
      and you need to create your own. That's where

      the `/packages` endpoint becomes useful. Create, manage, and delete custom
      package types to suit your specific needs.
    get:
      tags:
        - package_types
      summary: List Custom Package Types
      operationId: Packagetypes_listCustomPackageTypes
      description: List the custom package types associated with the account
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_package_types_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    post:
      tags:
        - package_types
      summary: Create Custom Package Type
      operationId: Packagetypes_createCustomPackageType
      description: >-
        Create a custom package type to better assist in getting accurate rate
        estimates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/package_type'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/package_type'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/packages/{package_id}:
    summary: Package
    description: Create, edit, and delete individual custom packages.
    parameters:
      - description: Package ID
        name: package_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    get:
      tags:
        - package_types
      summary: Get Custom Package Type By ID
      operationId: Packagetypes_getById
      description: Get Custom Package Type by ID
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/package_type'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    put:
      tags:
        - package_types
      summary: Update Custom Package Type By ID
      operationId: Packagetypes_updateCustomPackageTypeById
      description: Update the custom package type object by ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/package_type'
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    delete:
      tags:
        - package_types
      summary: Delete A Custom Package By ID
      operationId: Packagetypes_deleteCustomPackageById
      description: Delete a custom package using the ID
      responses:
        '204':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/empty_response_body'
            text/plain:
              schema:
                $ref: '#/components/schemas/empty_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/pickups:
    summary: Scheduled Pickups
    description: |
      Scheduled package pickups
    get:
      tags:
        - package_pickups
      summary: List Scheduled Pickups
      operationId: Packagepickups_listScheduledPickups
      description: List all pickups that have been scheduled for this carrier
      parameters:
        - description: Carrier ID
          name: carrier_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - description: Warehouse ID
          name: warehouse_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - description: >-
            Only return scheduled pickups that were created on or after a
            specific date/time
          name: created_at_start
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: '2019-03-12T19:24:13.657Z'
        - description: >-
            Only return scheduled pickups that were created on or before a
            specific date/time
          name: created_at_end
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: '2019-03-12T19:24:13.657Z'
        - description: >
            Return a specific page of results. Defaults to the first page. If
            set to a number that's greater than the number of pages of results,
            an empty page is returned.
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
          example: 2
        - description: The number of results to return per response.
          name: page_size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 25
          example: 50
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_pickups_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    post:
      tags:
        - package_pickups
      summary: Schedule a Pickup
      operationId: schedule_pickup
      description: Schedule a package pickup with a carrier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pickup'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedule_pickup_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/pickups/{pickup_id}:
    summary: Scheduled Pickup
    description: |
      A package pickup that has been scheduled with a carrier
    parameters:
      - name: pickup_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/pickup_resource_id'
    get:
      tags:
        - package_pickups
      summary: Get Pickup By ID
      operationId: Packagepickups_getById
      description: Get Pickup By ID
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_pickup_by_id_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
    delete:
      tags:
        - package_pickups
      summary: Delete a Scheduled Pickup
      operationId: Packagepickups_removeScheduledPickup
      description: Delete a previously-scheduled pickup by ID
      responses:
        '200':
          description: >
            Return the `pickup_id` of the scheduled pickup that was successfully
            deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_pickup_by_id_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/rates:
    summary: Rates
    description: Get the various rates for a set of carriers
    post:
      tags:
        - rates
      summary: Get Shipping Rates
      operationId: calculate_rates
      description: >
        It's not uncommon that you want to give your customer the choice between
        whether they want to ship the fastest, cheapest, or the most trusted
        route. Most companies don't solely ship things using a single shipping
        option;

        so we provide functionality to show you all your options!
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rate_request_options'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calculate_rates_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/rates/bulk:
    summary: Bulk Rates
    description: Get specific rates for large groups of shipments
    post:
      tags:
        - rates
      summary: Get Bulk Rates
      operationId: Rates_getBulkShipmentRates
      description: Get Bulk Shipment Rates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rate_request_rate_options'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/compare_bulk_rates_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/rates/estimate:
    summary: Rate Estimates
    description: Show rate estimations between carriers with basic information.
    post:
      tags:
        - rates
      summary: Estimate Rates
      operationId: estimate_rates
      description: Get Rate Estimates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rate_estimate_options'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/estimate_rates_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/rates/{rate_id}:
    summary: Rate
    description: Get Individual rate information.
    parameters:
      - description: Rate ID
        name: rate_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/se_id'
    get:
      tags:
        - rates
      summary: Get Rate By ID
      operationId: Rates_getById
      description: Retrieve a previously queried rate by its ID
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rate'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/service_points/list:
    summary: Service Points
    post:
      tags:
        - service_points
      summary: List Service Points
      operationId: Servicepoints_getByLocation
      description: List carrier service points by location
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/get_service_points_request'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_service_points_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/service_points/{carrier_code}/{country_code}/{service_point_id}:
    summary: Service Points
    parameters:
      - description: Carrier code
        name: carrier_code
        in: path
        required: true
        schema:
          type: string
          minLength: 1
        example: stamps_com
      - description: >
          A two-letter [ISO 3166-1 country
          code](https://en.wikipedia.org/wiki/ISO_3166-1)
        name: country_code
        in: path
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 2
        example: CA
      - name: service_point_id
        in: path
        schema:
          type: string
        required: true
        example: '614940'
    get:
      tags:
        - service_points
      summary: Get Service Point By ID
      operationId: Servicepoints_getById
      description: Returns a carrier service point by using the service_point_id
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_service_point_by_id_response_body'
        '400':
          $ref: '#/components/responses/400_error_response'
        '404':
          $ref: '#/components/responses/404_error_response'
        '500':
          $ref: '#/components/responses/500_error_response'
  /v1/shipments:
    summary: Shipments
    description: >
[...]
