openapi: 3.0.0
info:
  title: Jobsoid API
  description: >-
    Jobsoid is an Online Applicant Tracking System (ATS) which simplifies every
    step of the recruitment process in organizations, streamlining everything
    from sourcing potential candidates to hiring the right one. Jobsoid is the
    only recruitment software with the ability to help save your precious time,
    by automatically screening candidate applications and suggesting the best
    fit candidates for a certain job profile in your company. Instead of
    manually navigating through innumerable resumes, job applications and
    responses, and then trying to track and manage them with spreadsheets or
    emails, let Jobsoid take on the workload for you.

    Our software is designed to make your life and work simpler, by automating
    most of the work involved in recruitment and candidate shortlisting, thereby
    freeing up your time for the actual selection and hiring process. Based on
    your organization's hiring needs, you can opt for a free plan that offers
    all the basics, or use one of our premium plans that are customized for a
    variety of different recruitment and hiring requirements. Jobsoid acts as
    your recruitment helper right from start to finish.

    Post a job opening, send automated responses and bulk emails, filter through
    applications, schedule interviews, set up automated backups, and much more!
  version: '1.0'
servers:
  - url: https://demo.jobsoid.com
tags:
  - description: API to fetch Lookups
    name: Lookups
  - description: API to fetch published jobs
    name: Jobs
paths:
  /api/v1/jobs:
    get:
      tags:
        - Jobs
      operationId: Jobs_listPublished
      description: |
        Get a list of published jobs on your account
      parameters:
        - description: Search by Job Title (optional)
          name: q
          in: query
          schema:
            type: string
        - description: Search by Location (optional)
          name: loc
          in: query
          schema:
            type: integer
        - description: Search by Department (optional)
          name: dept
          in: query
          schema:
            type: integer
        - description: Search by Division (optional)
          name: div
          in: query
          schema:
            type: integer
        - description: Search by Job Function (optional)
          name: fun
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsListPublishedResponse'
  /api/v1/jobs/{jobId}:
    parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - Jobs
      operationId: Jobs_detailsGet
      description: |
        Get details of a Published Job
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsDetailsGetResponse'
  /api/v1/locations:
    get:
      tags:
        - Lookups
      operationId: Lookups_locationList
      description: |
        Get a list of Locations on your account
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupsLocationListResponse'
  /api/v1/departments:
    get:
      tags:
        - Lookups
      operationId: Lookups_getDepartmentsList
      description: |
        Get a list of Departments on your account
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupsGetDepartmentsListResponse'
  /api/v1/divisions:
    get:
      tags:
        - Lookups
      operationId: Lookups_getDivisions
      description: >
        Get a list of Divisions on your account. Please contact support if you
        wish to enable this property on your account.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupsGetDivisionsResponse'
  /api/v1/functions:
    get:
      tags:
        - Lookups
      operationId: Lookups_listJobFunctions
      description: |
        Get a list of Job Functions on your account
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupsListJobFunctionsResponse'
components:
  schemas:
    Job:
      type: object
      properties:
        title:
          type: string
          example: Software Developer
        description:
          type: string
        id:
          type: integer
          example: 1055
        code:
          type: string
          example: JOB-01
        type:
          type: string
          example: Full Time
        positions:
          type: string
          example: 5
        experience:
          type: string
          example: 3 - 5 years
        salary:
          type: string
          example: $5000 - $7000
        industry:
          type: string
          example: Computer / Software
        location:
          $ref: '#/components/schemas/Location'
        department:
          $ref: '#/components/schemas/Department'
        division:
          $ref: '#/components/schemas/Division'
        function:
          $ref: '#/components/schemas/Function'
        postedDate:
          type: string
          format: date-time
        closingDate:
          type: string
          format: date-time
        hostedUrl:
          type: string
          example: https://demo.jobsoid.com/JobDetails/1055
        applyUrl:
          type: string
          example: https://demo.jobsoid.com/Apply/1055
    Location:
      type: object
      properties:
        title:
          type: string
          example: US Head Office
        id:
          type: integer
          example: 10030
        city:
          type: string
          example: Baltimore
        state:
          type: string
          example: MD
        country:
          type: string
          example: United States
        zip:
          type: string
          example: 21202
    Department:
      type: object
      properties:
        title:
          type: string
          example: Software Development
        id:
          type: integer
          example: 2085
    Division:
      type: object
      properties:
        title:
          type: string
          example: Frontend Development
        id:
          type: integer
          example: 1055
    Function:
      type: object
      properties:
        title:
          type: string
          example: Engineering
        id:
          type: integer
          example: 102
    JobsListPublishedResponse:
      type: array
      items:
        $ref: '#/components/schemas/Job'
    JobsDetailsGetResponse:
      type: array
      items:
        $ref: '#/components/schemas/Job'
    LookupsLocationListResponse:
      type: array
      items:
        $ref: '#/components/schemas/Location'
    LookupsGetDepartmentsListResponse:
      type: array
      items:
        $ref: '#/components/schemas/Department'
    LookupsGetDivisionsResponse:
      type: array
      items:
        $ref: '#/components/schemas/Division'
    LookupsListJobFunctionsResponse:
      type: array
      items:
        $ref: '#/components/schemas/Function'
