openapi: 3.0.3
info:
  title: TheirStack API Reference
  description: >+


    # Introduction


    Welcome to TheirStack’s API!

    <br>

    You can use this API to access all our API endpoints, such as the [Jobs
    endpoint](https://api.theirstack.com) to get real-time and historical jobs
    from more than 100 countries or the [Companies
    endpoint](https://api.theirstack.com) to get a list of companies by the
    technology they use or by the roles they are hiring for.


    The API is organized around [REST](https://en.wikipedia.org/wiki/REST). All
    requests should be made over SSL. All request and response bodies, including
    errors, are encoded in JSON.


    # Authentication


    Authentication is done via the API key which you can find in [your account
    settings](https://app.theirstack.com/settings/api).

    When making a call, you’ll have to specify this API key with the
    Authorization header. Here’s an example:


    ```sh

    Authorization: Bearer <token>

    ```

  version: 1.0.0
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.theirstack.com
tags:
  - name: Company Lists
  - name: Saved Searches
  - name: Catalog
  - description: Operations with companies
    name: Companies
  - description: Operations with jobs
    name: Jobs
  - description: Finding decision makers
    name: Decision makers
paths:
  /v0/company_lists:
    get:
      tags:
        - Company Lists
      summary: Get Lists
      operationId: CompanyLists_getAllLists
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      description: Get all the lists for the current user
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyListsGetAllListsResponse'
    post:
      tags:
        - Company Lists
      summary: Create List
      operationId: CompanyLists_createList
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyListCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/company_lists/{list_id}:
    get:
      tags:
        - Company Lists
      summary: Get List
      operationId: CompanyLists_getList
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      parameters:
        - required: true
          schema:
            title: List Id
            type: integer
          name: list_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - Company Lists
      summary: Delete List
      operationId: CompanyLists_removeList
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      parameters:
        - required: true
          schema:
            title: List Id
            type: integer
          name: list_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyListsRemoveListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
        - Company Lists
      summary: Rename List
      operationId: CompanyLists_renameList
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      parameters:
        - required: true
          schema:
            title: List Id
            type: integer
          name: list_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyListRename'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/company_lists/{list_id}/companies:
    get:
      tags:
        - Company Lists
      summary: Get List Companies
      operationId: CompanyLists_getListCompanies
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      parameters:
        - required: true
          schema:
            title: List Id
            type: integer
          name: list_id
          in: path
        - description: Order by field
          required: false
          schema:
            title: Order By
            description: Order by field
            type: string
            enum:
              - added_at_last_time
              - name
            default: added_at_last_time
          name: order_by
          in: query
        - description: Order direction
          required: false
          schema:
            title: Order Direction
            description: Order direction
            type: string
            enum:
              - asc
              - desc
            default: desc
          name: order_direction
          in: query
        - description: Pass a partial company name to filter the list of companies
          required: false
          schema:
            title: Company Name Partial
            description: Pass a partial company name to filter the list of companies
            type: string
          name: company_name_partial
          in: query
        - required: false
          schema:
            title: Page
            type: integer
            default: 0
          name: page
          in: query
        - required: false
          schema:
            title: Limit
            type: integer
            default: 25
          name: limit
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyListsGetListCompaniesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/company_lists/{list_id}/add_companies:
    post:
      tags:
        - Company Lists
      summary: Add Companies To List
      operationId: CompanyLists_addCompaniesToList
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      parameters:
        - required: true
          schema:
            title: List Id
            type: integer
          name: list_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Body_add_companies_to_list_v0_company_lists__list_id__add_companies_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/company_lists/{list_id}/remove_companies:
    post:
      tags:
        - Company Lists
      summary: Remove Companies From List
      operationId: CompanyLists_removeCompaniesFromList
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      parameters:
        - required: true
          schema:
            title: List Id
            type: integer
          name: list_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Body_remove_companies_from_list_v0_company_lists__list_id__remove_companies_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/company_lists/add_companies:
    post:
      tags:
        - Company Lists
      summary: Add Companies To Multiple Lists
      operationId: CompanyLists_addCompaniesToMultipleLists
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Body_add_companies_to_multiple_lists_v0_company_lists_add_companies_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CompanyListsAddCompaniesToMultipleListsResponse
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/saved_searches:
    get:
      tags:
        - Saved Searches
      summary: Get Saved Searches
      operationId: SavedSearches_getAll
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      description: Get all the saved searches for the current user
      parameters:
        - description: >-
            Get saved searches from users with these IDs. The IDs must be from
            people in the current users' team.
          required: false
          schema:
            title: User Ids
            description: >-
              Get saved searches from users with these IDs. The IDs must be from
              people in the current users' team.
            items:
              type: integer
            type: array
          name: user_ids
          in: query
        - description: Filter by type of search. For example, 'jobs' or 'tech_details'
          required: false
          schema:
            title: Types
            description: Filter by type of search. For example, 'jobs' or 'tech_details'
            items:
              type: string
            type: array
          name: types
          in: query
        - description: Order by field
          required: false
          schema:
            title: Order By
            description: Order by field
            type: string
            enum:
              - name
              - created_at
              - updated_at
            default: updated_at
          name: order_by
          in: query
        - description: Order direction
          required: false
          schema:
            title: Order Direction
            description: Order direction
            type: string
            enum:
              - asc
              - desc
            default: desc
          name: order_direction
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearchesGetAllResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
        - Saved Searches
      summary: Upsert Saved Search
      operationId: SavedSearches_upsertSavedSearch
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      description: >-
        Create or update a saved search. If one with the same name and type
        exists, it will be updated. If not, a new one will be created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedSearchCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - Saved Searches
      summary: Create Saved Search
      operationId: SavedSearches_createSearch
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedSearchCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/saved_searches/{search_id}:
    get:
      tags:
        - Saved Searches
      summary: Get Saved Search
      operationId: SavedSearches_getDetails
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      parameters:
        - required: true
          schema:
            title: Search Id
            type: integer
          name: search_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - Saved Searches
      summary: Delete Saved Search
      operationId: SavedSearches_deleteSearch
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      parameters:
        - required: true
          schema:
            title: Search Id
            type: integer
          name: search_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearchesDeleteSearchResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
        - Saved Searches
      summary: Update Saved Search
      operationId: SavedSearches_updateSearch
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      parameters:
        - required: true
          schema:
            title: Search Id
            type: integer
          name: search_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedSearchUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedSearch'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/catalog/technologies:
    get:
      tags:
        - Catalog
      summary: Get Technologies
      operationId: Catalog_getTechnologies
      description: >-
        This endpoint lets you:

        - List all the technologies we track

        - Search for any given technology. Pass a `name_pattern` parameter
        (case-insensitive, can be a regex pattern)

        - List the technologies within one or several categories. Pass a
        `category_pattern` parameter (case-insensitive, can be a regex pattern)


        Calls to this endpoint don't cost you credits.
      parameters:
        - description: Regex pattern of a technology name, case-insensitive
          required: false
          schema:
            title: Name Pattern
            description: Regex pattern of a technology name, case-insensitive
            type: string
          name: name_pattern
          in: query
        - description: >-
            Regex pattern of a technology category, case-insensitive. For
            example, `data|storage|queue` to find data tools.
          required: false
          schema:
            title: Category Pattern
            description: >-
              Regex pattern of a technology category, case-insensitive. For
              example, `data|storage|queue` to find data tools.
            type: string
          name: category_pattern
          in: query
        - description: Slug of one or many technologies
          required: false
          schema:
            title: Slug
            description: Slug of one or many technologies
            items:
              type: string
            type: array
          name: slug
          in: query
        - description: Slugs of one or many technologies
          required: false
          schema:
            title: Slugs
            description: Slugs of one or many technologies
            items:
              type: string
            type: array
          name: slugs
          in: query
        - description: Slug of a technology category
          required: false
          schema:
            title: Category Slug
            description: Slug of a technology category
            type: string
          name: category_slug
          in: query
        - required: false
          schema:
            title: Page
            type: integer
            default: 0
          name: page
          in: query
        - required: false
          schema:
            title: Limit
            type: integer
            default: 25
          name: limit
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogGetTechnologiesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/catalog/industries:
    get:
      tags:
        - Catalog
      summary: Get Industries
      operationId: Catalog_getIndustries
      description: |-
        This endpoint lets you:
        - List all the industries and their codes
        - See how many jobs and companies we have per industry
        - Search for an industry

        Calls to this endpoint don't cost you credits.
      parameters:
        - description: >-
            Name of an industry, case-insensitive. Will return industries that
            contain the given string either in their name, hierarchy or
            description
          required: false
          schema:
            title: Industry
            description: >-
              Name of an industry, case-insensitive. Will return industries that
              contain the given string either in their name, hierarchy or
              description
            type: string
          name: industry
          in: query
        - required: false
          schema:
            title: Page
            type: integer
            default: 0
          name: page
          in: query
        - required: false
          schema:
            title: Limit
            type: integer
            default: 25
          name: limit
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndustryStatsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/catalog/jobs_companies_per_job_country_code:
    get:
      tags:
        - Catalog
      summary: Get Jobs And Companies Per Job Country Code
      operationId: Catalog_getJobsAndCompaniesPerJobCountryCode
      description: >-
        This endpoint will return all the country codes and the number of jobs
        whose location's country code is the given one, and the number of
        companies with jobs in that country.
            
        Calls to this endpoint don't cost you credits.
      parameters:
        - description: >-
            Name of a country. Will return any countries that contain the given
            string
          required: false
          schema:
            title: Country
            description: >-
              Name of a country. Will return any countries that contain the
              given string
            type: string
          name: country
          in: query
        - required: false
          schema:
            title: Page
            type: integer
            default: 0
          name: page
          in: query
        - required: false
          schema:
            title: Limit
            type: integer
            default: 25
          name: limit
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsCompaniesPerJobCountryCodeResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/catalog/companies_per_company_country_code:
    get:
      tags:
        - Catalog
      summary: Get Companies Per Company Country Code
      operationId: Catalog_getCompaniesPerCountryCode
      description: >-
        This endpoint will return all country codes and the number of companies
        whose HQ is in that country.
            
        Calls to this endpoint don't cost you credits.
      parameters:
        - description: >-
            Name of a country. Will return any countries that contain the given
            string
          required: false
          schema:
            title: Country
            description: >-
              Name of a country. Will return any countries that contain the
              given string
            type: string
          name: country
          in: query
        - required: false
          schema:
            title: Page
            type: integer
            default: 0
          name: page
          in: query
        - required: false
          schema:
            title: Limit
            type: integer
            default: 25
          name: limit
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesPerCountryCodeResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/catalog/technologies/categories:
    get:
      tags:
        - Catalog
      summary: Get Technology Categories
      operationId: Catalog_listTechnologyCategories
      description: >-
        This endpoint lets you get all the categories of the technologies we
        monitor, and the number of technologies and companies in each category.
      parameters:
        - description: Category slug
          required: false
          schema:
            title: Category Slug
            description: Category slug
            type: string
          name: category_slug
          in: query
        - description: Number of technologies per category
          required: false
          schema:
            title: Num Technologies Per Category
            description: Number of technologies per category
            type: integer
            default: 5
          name: num_technologies_per_category
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechnologyCategoryResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/jobs/search:
    post:
      tags:
        - Jobs
      summary: Search Jobs
      operationId: Jobs_searchByCriteria
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      description: >-
        This endpoints lets you find the most recent jobs, filter them by
        companies, technologies or any pattern in the job description.
      parameters:
        - description: Page number. Will only apply when not passed in the body
          required: false
          schema:
            title: Page
            description: Page number. Will only apply when not passed in the body
            type: integer
          name: page
          in: query
        - description: >-
            Number of results per page. Will only apply when not passed in the
            body.
          required: false
          schema:
            title: Limit
            description: >-
              Number of results per page. Will only apply when not passed in the
              body.
            type: integer
          name: limit
          in: query
        - description: >-
            Whether to include the total number of results in the response. Will
            only apply when not passed in the body.
          required: false
          schema:
            title: Include Total Results
            description: >-
              Whether to include the total number of results in the response.
              Will only apply when not passed in the body.
            type: boolean
          name: include_total_results
          in: query
        - description: >-
            Group results by a given field and get the number of jobs per group.
            If you pass `company`, you'll get the number of jobs per company. If
            you pass `job_title`, you'll get the number of jobs per job title.
            If you pass `location`, you'll get the number of jobs per location.
            Will only apply when not passed in the body
          required: false
          schema:
            title: Group By
            description: >-
              Group results by a given field and get the number of jobs per
              group. If you pass `company`, you'll get the number of jobs per
              company. If you pass `job_title`, you'll get the number of jobs
              per job title. If you pass `location`, you'll get the number of
              jobs per location. Will only apply when not passed in the body
            items:
              type: string
            type: array
          name: group_by
          in: query
        - description: Format of the response. One of `json` or `csv`. Defaults to `json`.
          required: false
          schema:
            title: Format
            description: >-
              Format of the response. One of `json` or `csv`. Defaults to
              `json`.
            type: string
            enum:
              - json
              - csv
            default: json
          name: format
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobSearchFilters'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsSearchByCriteriaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/companies/search:
    post:
      tags:
        - Companies
      summary: Search Companies
      operationId: Companies_searchFilteredData
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      description: >-
        Search for companies filtering them by

        - company attributes

        - technology attributes

        - jobs attributes.


        Returns a list of companies that match the search criteria, and the jobs
        and technology objects for each company that match the filters you've
        passed.
      parameters:
        - description: Format of the response. One of `json` or `csv`. Defaults to `json`.
          required: false
          schema:
            title: Format
            description: >-
              Format of the response. One of `json` or `csv`. Defaults to
              `json`.
            type: string
            enum:
              - json
              - csv
            default: json
          name: format
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanySearchFilters'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySearchResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/companies/tech_details:
    post:
      tags:
        - Companies
      summary: Tech Details
      operationId: Companies_listTechDetails
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      description: >-
        List all the technologies used by companies, with quantitative details
        for each technology, for one or many companies at once, such as how many
        jobs were found from each technology and company in the last 180/30/7
        days.
            
        This endpoint enables account-based marketing strategies. For example,
        you can find all the companies that use a specific technology, and then
        find out how many jobs they have posted in the last 30 days. You can
        then use this information to target them with a marketing campaign.
      parameters:
        - description: Format of the response. One of `json` or `csv`. Defaults to `json`.
          required: false
          schema:
            title: Format
            description: >-
              Format of the response. One of `json` or `csv`. Defaults to
              `json`.
            type: string
            enum:
              - json
              - csv
            default: json
          name: format
          in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TechDetailsFilters'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyTechDetailsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/companies/search_by_url:
    get:
      tags:
        - Companies
      summary: Search Companies By Domain
      operationId: Companies_searchByDomain
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      description: >-
        Get enriched data for a list of companies given their domains, full URLs
        or emails from those companies.
            
        Calls to this endpoint cost you credits if you hadn't fetched the
        companies returned before.
      parameters:
        - description: >-
            Comma-sep rated list of domains. Deprecated - use the
            `companies_urls` parameter instead. You can pass domains, emails or
            full URLs to it directly.
          required: false
          deprecated: true
          schema:
            title: Domains
            description: >-
              Comma-sep rated list of domains. Deprecated - use the
              `companies_urls` parameter instead. You can pass domains, emails
              or full URLs to it directly.
            type: string
          name: domains
          in: query
        - description: >-
            Comma-sep rated list of emails. Deprecated - use the
            `companies_urls` parameter instead. You can pass domains, emails or
            full URLs to it directly.
          required: false
          deprecated: true
          schema:
            title: Emails
            description: >-
              Comma-sep rated list of emails. Deprecated - use the
              `companies_urls` parameter instead. You can pass domains, emails
              or full URLs to it directly.
            type: string
          name: emails
          in: query
        - description: Format of the response. One of `json` or `csv`. Defaults to `json`.
          required: false
          schema:
            title: Format
            description: >-
              Format of the response. One of `json` or `csv`. Defaults to
              `json`.
            type: string
            enum:
              - json
              - csv
            default: json
          name: format
          in: query
        - description: >-
            Array or comma-separated string containing domains, emails or full
            URLs.
          required: false
          schema:
            title: Companies Urls
            description: >-
              Array or comma-separated string containing domains, emails or full
              URLs.
            items:
              type: string
            type: array
            default: []
          name: companies_urls
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesSearchByDomainResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v0/decision_makers/search:
    get:
      tags:
        - Decision makers
      summary: Search Decision Makers
      operationId: DecisionMakers_findByCriteria
      security:
        - APIKeyQuery: []
        - APIKeyCookie: []
        - Bearer: []
        - OAuth2PasswordBearer: []
      description: >-
        We extract the people job posts tell the hired person would report to.
        This endpoint lets you find those decision makers associated to certain
        technologies, job titles or terms found in the job descriptions.
      parameters:
        - description: >-
            Regex pattern to match any of the technologies we track, listed on
            the /technologies endpoint
          required: false
          schema:
            title: Technology Pattern
            description: >-
              Regex pattern to match any of the technologies we track, listed on
              the /technologies endpoint
            type: string
          name: technology_pattern
          in: query
        - description: Regex pattern to match job titles
          required: false
          schema:
            title: Job Title Pattern
            description: Regex pattern to match job titles
            type: string
          name: job_title_pattern
          in: query
        - description: Country name of the company to filter by. Case sensitive
          required: false
          schema:
            title: Country
            description: Country name of the company to filter by. Case sensitive
            type: string
          name: country
          in: query
        - description: Minimum number of employees
          required: false
          schema:
            title: Min Employee Count
            description: Minimum number of employees
            type: integer
          name: min_employee_count
          in: query
        - description: Minimum number of employees
          required: false
          schema:
            title: Max Employee Count
            description: Minimum number of employees
            type: integer
          name: max_employee_count
          in: query
        - description: Regex pattern to search in job descriptions. Case insensitive
          required: false
          schema:
            title: Description Pattern
            description: Regex pattern to search in job descriptions. Case insensitive
            type: string
          name: description_pattern
          in: query
        - description: Regex pattern to match company names
          required: false
          schema:
            title: Companies Pattern
            description: Regex pattern to match company names
            type: string
          name: companies_pattern
          in: query
        - description: Number of days to look back for jobs
          required: false
          schema:
            title: Fromage
            description: Number of days to look back for jobs
            type: integer
          name: fromage
          in: query
        - description: Format of the response. One of `json` or `csv`. Defaults to `json`.
          required: false
          schema:
            title: Format
            description: >-
              Format of the response. One of `json` or `csv`. Defaults to
              `json`.
            type: string
            enum:
              - json
              - csv
            default: json
          name: format
          in: query
        - required: false
          schema:
            title: Page
            type: integer
            default: 0
          name: page
          in: query
        - required: false
          schema:
            title: Limit
            type: integer
            default: 25
          name: limit
          in: query
        - description: >-
            If `true`, only companies that haven't been fetched by the user will
            be returned. Credits will be consumed.


            If `false`, only companies that have been fetched by the user will
            be returned. In this case, your call won't consume credits.


            If `all`, both new and fetched companies may be returned.


            Defaults to `all`
          required: false
          schema:
            title: New Companies
            description: >-
              If `true`, only companies that haven't been fetched by the user
              will be returned. Credits will be consumed.


              If `false`, only companies that have been fetched by the user will
              be returned. In this case, your call won't consume credits.


              If `all`, both new and fetched companies may be returned.


              Defaults to `all`
            type: string
            enum:
              - 'true'
              - 'false'
              - all
            default: all
          name: new_companies
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionMakersFindByCriteriaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    BaseMetadata:
      title: BaseMetadata
      properties:
        total_results:
          title: Total Results
          description: Total number of results
          type: integer
          example: 2034
      type: object
    BaseMetadataWithTruncatedResults:
      title: BaseMetadataWithTruncatedResults
      properties:
        total_results:
          title: Total Results
          description: Total number of results
          type: integer
          example: 2034
        truncated_results:
          title: Truncated Results
          description: >-
            Number of results that were not returned because the user doesn't
            have enough credits to fetch them all the possible results the API
            could have returned
          type: integer
          default: 0
        truncated_companies:
          title: Truncated Companies
          description: >-
            Number of companies that were not returned because the user doesn't
            have enough credits to fetch all the possible results the API could
            have returned
          type: integer
          default: 0
      type: object
    BaseMetadataWitihTotalCompanies:
      title: BaseMetadataWitihTotalCompanies
      properties:
        total_results:
          title: Total Results
          description: Total number of results
          type: integer
          example: 2034
        truncated_results:
          title: Truncated Results
          description: >-
            Number of results that were not returned because the user doesn't
            have enough credits to fetch them all the possible results the API
            could have returned
          type: integer
          default: 0
        truncated_companies:
          title: Truncated Companies
          description: >-
            Number of companies that were not returned because the user doesn't
            have enough credits to fetch all the possible results the API could
            have returned
          type: integer
          default: 0
        total_companies:
          title: Total Companies
          description: Total number of companies
          type: integer
          example: 1045
      type: object
    Body_add_companies_to_list_v0_company_lists__list_id__add_companies_post:
      title: Body_add_companies_to_list_v0_company_lists__list_id__add_companies_post
      properties:
        company_names:
          title: Company Names
          description: Company names to add to the list
          items:
            type: string
          type: array
          default: []
      type: object
    Body_add_companies_to_multiple_lists_v0_company_lists_add_companies_post:
      title: Body_add_companies_to_multiple_lists_v0_company_lists_add_companies_post
      properties:
        list_ids:
          title: List Ids
          description: List ids to add companies to
          items:
            type: integer
          type: array
          default: []
        company_names:
          title: Company Names
          description: Company names to add to the list
          items:
            type: string
          type: array
          default: []
      type: object
    Body_remove_companies_from_list_v0_company_lists__list_id__remove_companies_post:
      title: >-
        Body_remove_companies_from_list_v0_company_lists__list_id__remove_companies_post
      properties:
        company_names:
          title: Company Names
          description: Company names to remove from the list
          items:
            type: string
          type: array
          default: []
      type: object
    ColumnSortCompanySearch:
      title: ColumnSortCompanySearch
      properties:
        desc:
          title: Desc
          description: Whether to order by descending or ascending values
          type: boolean
          default: true
        field:
          title: Field
          description: Order the results by some of these fields
          type: string
          enum:
            - name
            - num_jobs
            - num_jobs_last_30_days
            - num_jobs_found
            - employee_count
            - alexa_ranking
            - founded_year
            - annual_revenue_usd
            - total_funding_usd
            - last_funding_round_date
            - confidence
            - first_date_found
      type: object
      required:
        - field
    ColumnSortCompanyTechDetails:
      title: ColumnSortCompanyTechDetails
      properties:
        desc:
          title: Desc
          description: Whether to order by descending or ascending values
          type: boolean
          default: true
        field:
          title: Field
          description: Order the results by some of these fields
          type: string
          enum:
            - jobs
            - jobs_last_7_days
            - jobs_last_30_days
            - jobs_last_180_days
            - last_date_found
            - first_date_found
            - relative_occurrence_within_category
            - theirstack_score
            - confidence
            - company.name
            - company.employee_count
            - company.alexa_ranking
            - company.founded_year
            - company.annual_revenue_usd
            - company.total_funding_usd
            - company.last_funding_round_date
      type: object
    ColumnSortJobSearch:
      title: ColumnSortJobSearch
      properties:
        desc:
          title: Desc
          description: Whether to order by descending or ascending values
          type: boolean
          default: true
        field:
          title: Field
          description: Field to order by
          type: string
          enum:
            - date_posted
            - discovered_at
            - salary
            - company
            - num_jobs
          default: date_posted
      type: object
    CompaniesPerCountryCode:
      title: CompaniesPerCountryCode
      properties:
        iso2:
          title: Iso2
          description: ISO2 country code
          type: string
        country:
          title: Country
          description: Country name
          type: string
        num_companies:
          title: Num Companies
          description: Number of companies in the country
          type: integer
      type: object
    CompaniesPerCountryCodeResponse:
      title: CompaniesPerCountryCodeResponse
      properties:
        data:
          title: Data
          items:
            $ref: '#/components/schemas/CompaniesPerCountryCode'
          type: array
        metadata:
          $ref: '#/components/schemas/BaseMetadata'
      type: object
      required:
        - data
        - metadata
    CompanyList:
      title: CompanyList
      properties:
        name:
          title: Name
          type: string
        id:
          title: Id
          type: integer
        created_at:
          title: Created At
          type: string
          format: date-time
        deletable:
          title: Deletable
          type: boolean
        companies_count:
          title: Companies Count
          description: Number of companies in the list
          type: integer
          default: 0
      type: object
      required:
        - name
        - id
        - created_at
        - deletable
    CompanyListCreate:
      title: CompanyListCreate
      properties:
        name:
          title: Name
          type: string
      type: object
      required:
        - name
    CompanyListItem:
      title: CompanyListItem
      properties:
        company_name:
          title: Company Name
          type: string
        added_at:
          title: Added At
          type: string
          format: date-time
        added_at_last_time:
          title: Added At Last Time
          type: string
          format: date-time
        company_object:
          $ref: '#/components/schemas/CompanyWithTechnologySlugs'
      type: object
      required:
        - company_name
        - added_at
        - added_at_last_time
        - company_object
    CompanyListRename:
      title: CompanyListRename
      properties:
        new_name:
          title: New Name
          type: string
      type: object
      required:
        - new_name
    CompanySearchFilters:
      title: CompanySearchFilters
      properties:
        order_by:
          title: Order By
          description: >-
            List of column objects. You can pass several columns to order by, in
            order of priority. Only `field` is required, `desc` is True by
            default
          items:
            $ref: '#/components/schemas/ColumnSortCompanySearch'
          type: array
          default: []
        page:
          title: Page
          description: Page number
          type: integer
          default: 0
          example: 0
          x-examples:
            - 0
        limit:
          title: Limit
          description: >-
            Number of results per page.Default value is 25. Can't be higher than
            500
          type: integer
          default: 25
          example: 25
          x-examples:
            - 25
        company_description_pattern_or:
          title: Company Description Pattern Or
          description: >-
            Case-insensitive patterns to match in the company description. Will
            return companies that match any of the patterns.
          items:
            type: string
          type: array
          default: []
        company_description_pattern_not:
          title: Company Description Pattern Not
          description: >-
            Case-insensitive patterns to match in the company description. Will
            return companies that match any of the patterns.
          items:
            type: string
          type: array
          default: []
        company_description_pattern_accent_insensitive:
          title: Company Description Pattern Accent Insensitive
          description: >-
            Set to True to make company description searches accent insensitive.
            For example, "á" will match "a" as well.
          type: boolean
          default: false
        min_revenue_usd:
          title: Min Revenue Usd
          description: Minimum company revenue, in USD
          type: integer
          example: null
          x-examples:
            - null
        max_revenue_usd:
          title: Max Revenue Usd
          description: Maximum company revenue, in USD
          type: integer
          example: null
          x-examples:
            - null
        min_employee_count:
          title: Min Employee Count
          description: Minimum number of employees in a company
          type: integer
          example: null
          x-examples:
            - null
        max_employee_count:
          title: Max Employee Count
          description: Maximum number of employees in a company
          type: integer
          example: null
          x-examples:
            - null
        min_employee_count_or_null:
          title: Min Employee Count Or Null
          description: >-
            Minimum number of employees in a company. If we don't have company
            size information, we will return it as well.
          type: integer
          example: null
          x-examples:
            - null
        max_employee_count_or_null:
          title: Max Employee Count Or Null
          description: >-
            Maximum number of employees in a company. If we don't have company
            size information, we will return it as well.
          type: integer
          example: null
          x-examples:
            - null
        min_funding_usd:
          title: Min Funding Usd
          description: Minimum company funding, in USD
          type: integer
          example: null
          x-examples:
            - null
        max_funding_usd:
          title: Max Funding Usd
          description: Maximum company funding, in USD
          type: integer
          example: null
          x-examples:
            - null
        funding_stage_or:
          title: Funding Stage Or
          description: >-
            Funding stages of companies returned. One of the values in the round
            column of
            https://docs.google.com/spreadsheets/d/1ybzFfmYH6q_sEux2Jq05ciqVsmIE-6FOpMK5mxJGmIU/edit#gid=472436935
          items:
            type: string
          type: array
          default: []
        industry_or:
          title: Industry Or
          description: >-
            Names of industries, case-insensitive. Results will only include
            companies that belong to any of the industries specified in this
            parameter. Available values:
            https://docs.google.com/spreadsheets/d/1ybzFfmYH6q_sEux2Jq05ciqVsmIE-6FOpMK5mxJGmIU/edit?usp=sharing
          items:
            type: string
          type: array
          default: []
        industry_not:
          title: Industry Not
          description: >-
            Names of industries, case-insensitive. Results will exclude
            companies that belong to any of the industries specified in this
            parameter. Available values:
            https://docs.google.com/spreadsheets/d/1ybzFfmYH6q_sEux2Jq05ciqVsmIE-6FOpMK5mxJGmIU/edit?usp=sharing
          items:
            type: string
          type: array
          default: []
        industry_id_or:
          title: Industry Id Or
          description: >-
            Industry codes. You can use any of LinkedIn's Industry Codes V2:
            https://learn.microsoft.com/en-us/linkedin/shared/references/reference-tables/industry-codes-v2
          items:
            type: integer
          type: array
          default: []
        industry_id_not:
          title: Industry Id Not
          description: >-
            Industry codes to exclude. You can use any of LinkedIn's Industry
            Codes V2:
            https://learn.microsoft.com/en-us/linkedin/shared/references/reference-tables/industry-codes-v2
          items:
            type: integer
          type: array
          default: []
        company_tags_or:
          title: Company Tags Or
          description: Return companies that match any of these keywords
          items:
            type: string
          type: array
          default: []
        company_type:
          title: Company Type
          description: Filter by company type.
          type: string
          enum:
            - recruiting_agency
            - direct_employer
            - all
          default: all
        company_investors_or:
          title: Company Investors Or
          description: Investors of the company
          items:
            type: string
          type: array
          default: []
        company_investors_partial_match_or:
          title: Company Investors Partial Match Or
          description: >-
            Investors of the company. Will return companies for which any of
            their investors contains any of the substrings passed here. For
            example, if you pass 'andree', all funds that match it (like
            'Andreessen Horowitz', 'Andreessen Horowitz LLC', etc).
          items:
            type: string
          type: array
          default: []
        company_technology_slug_or:
          title: Company Technology Slug Or
          description: >-
            Will return jobs from companies that that have mentioned any of
            these technologies in their jobs. Case sensitive. Pass slugs. Check
            out all the technologies we track at
            https://docs.google.com/spreadsheets/d/1ybzFfmYH6q_sEux2Jq05ciqVsmIE-6FOpMK5mxJGmIU/edit#gid=1486730285.
          items:
            type: string
          type: array
          default: []
        company_technology_slug_and:
          title: Company Technology Slug And
          description: >-
            Will return jobs from companies that that have mentioned all of
            these technologies in their jobs (not necessarily in the jobs
            returned). Case sensitive. Pass slugs. Check out all the
            technologies we track at
            https://docs.google.com/spreadsheets/d/1ybzFfmYH6q_sEux2Jq05ciqVsmIE-6FOpMK5mxJGmIU/edit#gid=1486730285.
          items:
            type: string
          type: array
          default: []
        company_technology_slug_not:
          title: Company Technology Slug Not
          description: >-
            Will return jobs from companies that that haven't mentioned any of
            these technologies in their jobs. Case sensitive. Pass slugs. Check
            out all the technologies we track at
            https://docs.google.com/spreadsheets/d/1ybzFfmYH6q_sEux2Jq05ciqVsmIE-6FOpMK5mxJGmIU/edit#gid=1486730285.
          items:
            type: string
          type: array
          default: []
        only_yc_companies:
          title: Only Yc Companies
          description: Only return YC companies
          type: boolean
          default: false
        company_location_pattern_or:
          title: Company Location Pattern Or
          description: >-
            Return companies whose location matches any of the patterns passed
            here. Case insensitive. For example, if you pass 'san francisco', it
            will return companies whose location is 'San Francisco', 'San
            Francisco Bay Area', etc.
          items:
            type: string
          type: array
          default: []
        company_country_code_or:
          title: Company Country Code Or
          description: >-
            Return companies whose HQ country code is any of the ones passed
            here, case sensitive. Pass ISO2 country codes.
          items:
            type: string
          type: array
          default: []
        company_country_code_not:
          title: Company Country Code Not
          description: >-
            Return companies whose HQ country code is not any of the ones passed
            here, case sensitive. Pass ISO2 country codes.
          items:
            type: string
          type: array
          default: []
        company_list_id_or:
          title: Company List Id Or
          description: Return companies that belong to any of the company lists passed here
          items:
            type: integer
          type: array
          default: []
        company_list_id_not:
          title: Company List Id Not
          description: >-
            Return companies that don't belong to any of the company lists
            passed here
          items:
            type: integer
          type: array
          default: []
        company_name_or:
          title: Company Name Or
          description: >-
            Company names. Will return companies that match these names exactly,
            case-sensitively.
          items:
            type: string
          type: array
          default: []
        company_domain_or:
          title: Company Domain Or
          description: Company domains, full URLs or emails
          items:
            type: string
          type: array
          default: []
        company_domain_not:
          title: Company Domain Not
          description: Exclude by domains, full URLs or emails
          items:
            type: string
          type: array
          default: []
        company_name_not:
          title: Company Name Not
          description: >-
            Company names. Will exclude companies that match these names
            exactly, case-sensitively.
          items:
            type: string
          type: array
          default: []
        company_name_partial_match_or:
          title: Company Name Partial Match Or
          description: >-
            Company names. Will return companies whose name contain any of the
            the substrings passed here, case-insensitively. For example, if you
            pass "google", it will return "Google", "Google LLC", "Google Inc",
            etc.
          items:
            type: string
          type: array
          default: []
        company_name_partial_match_not:
          title: Company Name Partial Match Not
          description: >-
            Company names. Will return companies whose name doesn't contain any
            of the the substrings passed here, case-insensitively. For example,
            if you pass 'google', it will exclude 'Google', 'Google LLC',
            'Google Inc', etc.
          items:
            type: string
          type: array
          default: []
        include_total_results:
          title: Include Total Results
          description: >-
            Include a field in the response with the total number of results.
            WARNING: setting this to True will make the responses much slower,
            or you'll very likely get timeouts. Set to true only in combination
            with a date filter, and to get all results, better set a high limit
            and iterate over pages, setting this to False.
          type: boolean
          default: false
        blur_company_data:
          title: Blur Company Data
          description: Blur company data, so that no credits are consumed.
          type: boolean
          default: false
        job_filters:
          $ref: '#/components/schemas/JobFilters'
        tech_filters:
          $ref: '#/components/schemas/TechDetailsTechnologyFilters'
      type: object
    CompanySearchResponse:
      title: CompanySearchResponse
      properties:
        data:
          title: Data
          items:
            $ref: '#/components/schemas/CompanyWithTechnologiesAndJobs'
          type: array
        metadata:
          $ref: '#/components/schemas/BaseMetadataWithTruncatedResults'
      type: object
      required:
        - data
    CompanyTechDetailsResponse:
      title: CompanyTechDetailsResponse
      properties:
        data:
          title: Data
          items:
            $ref: '#/components/schemas/CompanyTechnology'
          type: array
        metadata:
          $ref: '#/components/schemas/BaseMetadataWitihTotalCompanies'
      type: object
    CompanyTechnology:
      title: CompanyTechnology
      properties:
        technology:
          $ref: '#/components/schemas/KeywordExtended'
        jobs:
          title: Jobs
          description: Number of jobs found mentioning this technology
          type: integer
          example: 54
        first_date_found:
          title: First Date Found
          description: >-
            Date when the keyword was first mentioned by the company in a job
            post
          type: string
          format: date
        last_date_found:
          title: Last Date Found
          description: >-
            Date when the keyword was last mentioned by the company in a job
            post
          type: string
          format: date
        rank_within_category:
          title: Rank Within Category
          description: >-
            Measures how common this technology is among the company's jobs,
            compared to other technologies in the same category. The most
            mentioned technology in its category will have a rank of 1. This
            helps you infer which is the technology the company is most likely
            to be using, when they mention several technologies that belong to
            the same category.
          type: integer
        relative_occurrence_within_category:
          title: Relative Occurrence Within Category
          description: >-
            Measures the relative occurance of this technology among other
            technologies in the same category, in jobs by this company. If there
            are 10 jobs where a company mentions 3 categories, and they appear
            in 8, 3 and 2 jobs respectively, its relative occurrences will be
            0.8, 0.3 and 0.2. This helps you infer how likely it is that the
            company is using this technology, when they mention several
            technologies that belong to the same category.
          type: number
        theirstack_score:
          title: Theirstack Score
          description: >-
            This is a score we assign to every technology used by each company
            to asses how likely it is that they're using it, combining the value
            of `jobs` and `relative_occurrence_within_category`. The higher this
            value is, the higher the chances that the company uses this
            technology. Values lower than 1 mean it's not very likely they use
            it. Then, the higher the value of theirstack_score, the more likely
            it is that they actually use it.
          type: number
        confidence:
          title: Confidence
          description: How confident we are that the company uses this technology
          type: string
          enum:
            - low
            - medium
            - high
          default: []
        jobs_last_7_days:
          title: Jobs Last 7 Days
          description: >-
            Number of jobs from the given company mentioning this technology in
            the last 7 days
          type: integer
          default: 0
        jobs_last_30_days:
          title: Jobs Last 30 Days
          description: >-
            Number of jobs from the given company mentioning this technology in
            the last 30 days
          type: integer
          default: 0
        jobs_last_180_days:
          title: Jobs Last 180 Days
          description: >-
            Number of jobs from the given company mentioning this technology in
            the last 180 days
          type: integer
          default: 0
        job_objects:
          title: Job Objects
          description: List of jobs mentioning this technology from this company
          items:
            $ref: '#/components/schemas/JobBase'
          type: array
          default: []
        job_country_codes:
          title: Job Country Codes
          description: >-
            List of unique country codes of the jobs mentioning this technology
            from the given company
          items:
            type: string
          type: array
        company_object:
          $ref: '#/components/schemas/CompanyWithTechnologySlugs'
        has_blurred_data:
          title: Has Blurred Data
          description: >-
            Whether the returned object has company identifiable data blurred or
            not
          type: boolean
          default: false
      type: object
      x-konfig-properties:
        technology:
          title: Technology
          description: Technology object
        company_object:
          title: Company Object
          description: Company object
    CompanyWithTechnologies:
      title: CompanyWithTechnologies
      properties:
        name:
          title: Name
          description: Company name
          type: string
          example: Google
        url:
          title: Url
          description: >-
            Company domain. Same as the "domain" field. Will be deprecated in
            the future.
          type: string
          example: google.com
        domain:
          title: Domain
          description: Company domain
          type: string
          example: google.com
        industry:
          title: Industry
          description: Industry of the company
          type: string
          example: internet
        industry_id:
          title: Industry Id
          description: >-
            Code of the industry. One of LinkedIn's Industry Codes V2 from
            https://learn.microsoft.com/en-us/linkedin/shared/references/reference-tables/industry-codes-v2
          type: integer
        country:
          title: Country
          description: Country of the company's HQ
          type: string
          example: United States
        country_code:
          title: Country Code
          description: ISO2 country code. E.g. "US"
          type: string
        employee_count:
          title: Employee Count
          description: Number of employees of the company
          type: integer
          example: 7543
        linkedin_url:
          title: Linkedin Url
          type: string
          example: http://www.linkedin.com/company/google
        num_jobs:
          title: Num Jobs
          description: Number of jobs from this company in our database
          type: integer
          example: 746
        num_jobs_last_30_days:
          title: Num Jobs Last 30 Days
          description: >-
            Number of jobs from this company in our database posted in the last
            30 days
          type: integer
          example: 34
        num_jobs_found:
          title: Num Jobs Found
          description: >-
            When filtering companies by jobs, number of jobs found for this
            company
          type: integer
          example: 23
        yc_batch:
          title: Yc Batch
          description: If the company went through YC, this is its batch
          type: string
          example: W21
        apollo_id:
          title: Apollo Id
          description: ID of the company in Apollo
          type: string
          example: 5b839bd0324d4445051f9a5a
        linkedin_id:
          title: Linkedin Id
          description: ID of the company in LinkedIn
          type: string
        url_source:
          title: Url Source
          description: Source of the company URL
          type: string
        is_recruiting_agency:
          title: Is Recruiting Agency
          description: Is a recruiting agency
          type: boolean
        logo:
          title: Logo
          description: Logo of the company
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          example: https://example.com/logo.png
        founded_year:
          title: Founded Year
          description: Year the company was founded
          type: integer
          example: 2019
        annual_revenue_usd:
          title: Annual Revenue Usd
          description: Annual revenue of the company in USD
          type: number
          example: 189000000
        annual_revenue_usd_readable:
          title: Annual Revenue Usd Readable
          description: >-
            Annual revenue of the company in USD, formated as an easily readable
            string
          type: string
          example: 189M
        total_funding_usd:
          title: Total Funding Usd
          description: Funding of the company in USD
          type: integer
          example: 500000
        last_funding_round_date:
          title: Last Funding Round Date
          description: Date of the last funding round of the company
          type: string
          format: date
          example: '2020-01-01'
        last_funding_round_amount_readable:
          title: Last Funding Round Amount Readable
          description: >-
            Amount of the last funding round of the company, formated as an
            easily readable string
          type: string
          example: $1.2M
        employee_count_range:
          title: Employee Count Range
          description: Number range of employees at the company
          type: string
          example: 1001-5000
        long_description:
          title: Long Description
          description: Short description of the company
          type: string
          example: >-
            Google is a California-based multinational technology company that
            offers internet-related services such as a search engine, online
            advertising and cloud computing.
        seo_description:
          title: Seo Description
          description: SEO description of the company, extracted from their website
          type: string
        city:
          title: City
          description: City of the company's HQ
          type: string
          example: Mountain View
        postal_code:
          title: Postal Code
          description: Postal code of the company's HQ
          type: string
          example: '28040'
        company_keywords:
          title: Company Keywords
          description: Company keywords, related to what the company does
          items:
            type: string
          type: array
        alexa_ranking:
          title: Alexa Ranking
          description: Alexa ranking
          type: integer
          example: 1
        publicly_traded_symbol:
          title: Publicly Traded Symbol
          type: string
          example: GOOG
        publicly_traded_exchange:
          title: Publicly Traded Exchange
          type: string
          example: NASDAQ
        investors:
          title: Investors
          description: List of investors in this company
          items:
            type: string
          type: array
        funding_stage:
          title: Funding Stage
          description: Latest funding stage of the company
          type: string
        has_blurred_data:
          title: Has Blurred Data
          description: >-
            Whether the returned object has company identifiable data blurred or
            not
          type: boolean
          default: false
        technology_slugs:
          title: Technology Slugs
          description: slugs of the technologies found to be used by the company
          items:
            type: string
          type: array
          example:
            - kafka
            - elasticsearch
        technology_names:
          title: Technology Names
          description: Names of the technologies found to be used by the company
          items:
            type: string
          type: array
          deprecated: true
          example:
            - Kafka
            - Elasticsearch
        technologies_found:
          title: Technologies Found
          description: >-
            List of technologies found to be used by the company, relevant to
            the current search
          items:
            $ref: '#/components/schemas/KeywordFound'
          type: array
      type: object
      required:
        - technologies_found
    CompanyWithTechnologiesAndJobs:
      title: CompanyWithTechnologiesAndJobs
      properties:
        name:
          title: Name
          description: Company name
          type: string
          example: Google
        url:
          title: Url
          description: >-
            Company domain. Same as the "domain" field. Will be deprecated in
            the future.
          type: string
          example: google.com
        domain:
          title: Domain
          description: Company domain
          type: string
          example: google.com
        industry:
          title: Industry
          description: Industry of the company
          type: string
          example: internet
        industry_id:
          title: Industry Id
          description: >-
            Code of the industry. One of LinkedIn's Industry Codes V2 from
            https://learn.microsoft.com/en-us/linkedin/shared/references/reference-tables/industry-codes-v2
          type: integer
        country:
          title: Country
          description: Country of the company's HQ
          type: string
          example: United States
        country_code:
          title: Country Code
          description: ISO2 country code. E.g. "US"
          type: string
        employee_count:
          title: Employee Count
          description: Number of employees of the company
          type: integer
          example: 7543
        linkedin_url:
          title: Linkedin Url
          type: string
          example: http://www.linkedin.com/company/google
        num_jobs:
          title: Num Jobs
          description: Number of jobs from this company in our database
          type: integer
          example: 746
        num_jobs_last_30_days:
          title: Num Jobs Last 30 Days
          description: >-
            Number of jobs from this company in our database posted in the last
            30 days
          type: integer
          example: 34
        num_jobs_found:
          title: Num Jobs Found
          description: >-
            When filtering companies by jobs, number of jobs found for this
            company
          type: integer
          example: 23
        yc_batch:
          title: Yc Batch
          description: If the company went through YC, this is its batch
          type: string
          example: W21
        apollo_id:
          title: Apollo Id
          description: ID of the company in Apollo
          type: string
          example: 5b839bd0324d4445051f9a5a
        linkedin_id:
          title: Linkedin Id
          description: ID of the company in LinkedIn
          type: string
        url_source:
          title: Url Source
          description: Source of the company URL
          type: string
        is_recruiting_agency:
          title: Is Recruiting Agency
          description: Is a recruiting agency
          type: boolean
        logo:
          title: Logo
          description: Logo of the company
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          example: https://example.com/logo.png
        founded_year:
          title: Founded Year
          description: Year the company was founded
          type: integer
          example: 2019
        annual_revenue_usd:
          title: Annual Revenue Usd
          description: Annual revenue of the company in USD
          type: number
          example: 189000000
        annual_revenue_usd_readable:
          title: Annual Revenue Usd Readable
          description: >-
            Annual revenue of the company in USD, formated as an easily readable
            string
          type: string
          example: 189M
        total_funding_usd:
          title: Total Funding Usd
          description: Funding of the company in USD
          type: integer
          example: 500000
        last_funding_round_date:
          title: Last Funding Round Date
          description: Date of the last funding round of the company
          type: string
          format: date
          example: '2020-01-01'
        last_funding_round_amount_readable:
          title: Last Funding Round Amount Readable
          description: >-
            Amount of the last funding round of the company, formated as an
            easily readable string
          type: string
          example: $1.2M
        employee_count_range:
          title: Employee Count Range
          description: Number range of employees at the company
          type: string
          example: 1001-5000
        long_description:
          title: Long Description
          description: Short description of the company
          type: string
          example: >-
            Google is a California-based multinational technology company that
            offers internet-related services such as a search engine, online
            advertising and cloud computing.
        seo_description:
          title: Seo Description
          description: SEO description of the company, extracted from their website
          type: string
        city:
          title: City
          description: City of the company's HQ
          type: string
          example: Mountain View
        postal_code:
          title: Postal Code
          description: Postal code of the company's HQ
          type: string
          example: '28040'
        company_keywords:
          title: Company Keywords
          description: Company keywords, related to what the company does
          items:
            type: string
          type: array
        alexa_ranking:
          title: Alexa Ranking
          description: Alexa ranking
          type: integer
          example: 1
        publicly_traded_symbol:
          title: Publicly Traded Symbol
          type: string
          example: GOOG
        publicly_traded_exchange:
          title: Publicly Traded Exchange
          type: string
          example: NASDAQ
        investors:
          title: Investors
          description: List of investors in this company
          items:
            type: string
          type: array
        funding_stage:
          title: Funding Stage
          description: Latest funding stage of the company
          type: string
        has_blurred_data:
          title: Has Blurred Data
          description: >-
            Whether the returned object has company identifiable data blurred or
            not
          type: boolean
          default: false
        technology_slugs:
          title: Technology Slugs
          description: slugs of the technologies found to be used by the company
          items:
            type: string
          type: array
          example:
            - kafka
            - elasticsearch
        technology_names:
          title: Technology Names
          description: Names of the technologies found to be used by the company
          items:
            type: string
          type: array
          deprecated: true
          example:
            - Kafka
            - Elasticsearch
        technologies_found:
          title: Technologies Found
          description: >-
            List of technologies found to be used by the company, relevant to
            the current search
          items:
            $ref: '#/components/schemas/KeywordFound'
          type: array
        jobs_found:
          title: Jobs Found
          description: >-
            List of jobs found to be posted by the company, relevant to the
            current search
          items:
            $ref: '#/components/schemas/JobBase'
          type: array
      type: object
      required:
        - technologies_found
        - jobs_found
    CompanyWithTechnologySlugs:
      title: CompanyWithTechnologySlugs
      properties:
        name:
          title: Name
          description: Company name
          type: string
          example: Google
        url:
          title: Url
          description: >-
            Company domain. Same as the "domain" field. Will be deprecated in
            the future.
          type: string
          example: google.com
        domain:
          title: Domain
          description: Company domain
          type: string
          example: google.com
        industry:
          title: Industry
          description: Industry of the company
          type: string
          example: internet
        industry_id:
          title: Industry Id
          description: >-
            Code of the industry. One of LinkedIn's Industry Codes V2 from
            https://learn.microsoft.com/en-us/linkedin/shared/references/reference-tables/industry-codes-v2
          type: integer
        country:
          title: Country
          description: Country of the company's HQ
          type: string
          example: United States
        country_code:
          title: Country Code
          description: ISO2 country code. E.g. "US"
          type: string
        employee_count:
          title: Employee Count
          description: Number of employees of the company
          type: integer
          example: 7543
        linkedin_url:
          title: Linkedin Url
          type: string
          example: http://www.linkedin.com/company/google
        num_jobs:
          title: Num Jobs
          description: Number of jobs from this company in our database
          type: integer
          example: 746
        num_jobs_last_30_days:
          title: Num Jobs Last 30 Days
          description: >-
            Number of jobs from this company in our database posted in the last
            30 days
          type: integer
          example: 34
        num_jobs_found:
          title: Num Jobs Found
          description: >-
            When filtering companies by jobs, number of jobs found for this
            company
          type: integer
          example: 23
        yc_batch:
          title: Yc Batch
          description: If the company went through YC, this is its batch
          type: string
          example: W21
        apollo_id:
          title: Apollo Id
          description: ID of the company in Apollo
          type: string
          example: 5b839bd0324d4445051f9a5a
        linkedin_id:
          title: Linkedin Id
          description: ID of the company in LinkedIn
          type: string
        url_source:
          title: Url Source
          description: Source of the company URL
          type: string
        is_recruiting_agency:
          title: Is Recruiting Agency
          description: Is a recruiting agency
          type: boolean
        logo:
          title: Logo
          description: Logo of the company
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          example: https://example.com/logo.png
        founded_year:
          title: Founded Year
          description: Year the company was founded
          type: integer
          example: 2019
        annual_revenue_usd:
          title: Annual Revenue Usd
          description: Annual revenue of the company in USD
          type: number
          example: 189000000
        annual_revenue_usd_readable:
          title: Annual Revenue Usd Readable
          description: >-
            Annual revenue of the company in USD, formated as an easily readable
            string
          type: string
          example: 189M
        total_funding_usd:
          title: Total Funding Usd
          description: Funding of the company in USD
          type: integer
          example: 500000
        last_funding_round_date:
          title: Last Funding Round Date
          description: Date of the last funding round of the company
          type: string
          format: date
          example: '2020-01-01'
        last_funding_round_amount_readable:
          title: Last Funding Round Amount Readable
          description: >-
            Amount of the last funding round of the company, formated as an
            easily readable string
          type: string
          example: $1.2M
        employee_count_range:
          title: Employee Count Range
          description: Number range of employees at the company
          type: string
          example: 1001-5000
        long_description:
          title: Long Description
          description: Short description of the company
          type: string
          example: >-
            Google is a California-based multinational technology company that
            offers internet-related services such as a search engine, online
            advertising and cloud computing.
        seo_description:
          title: Seo Description
          description: SEO description of the company, extracted from their website
          type: string
        city:
          title: City
          description: City of the company's HQ
          type: string
          example: Mountain View
        postal_code:
          title: Postal Code
          description: Postal code of the company's HQ
          type: string
          example: '28040'
        company_keywords:
          title: Company Keywords
          description: Company keywords, related to what the company does
          items:
            type: string
          type: array
        alexa_ranking:
          title: Alexa Ranking
          description: Alexa ranking
          type: integer
          example: 1
        publicly_traded_symbol:
          title: Publicly Traded Symbol
          type: string
          example: GOOG
        publicly_traded_exchange:
          title: Publicly Traded Exchange
          type: string
          example: NASDAQ
        investors:
          title: Investors
          description: List of investors in this company
          items:
            type: string
          type: array
        funding_stage:
          title: Funding Stage
          description: Latest funding stage of the company
          type: string
        has_blurred_data:
          title: Has Blurred Data
          description: >-
            Whether the returned object has company identifiable data blurred or
            not
          type: boolean
          default: false
        technology_slugs:
          title: Technology Slugs
          description: slugs of the technologies found to be used by the company
          items:
            type: string
          type: array
          example:
            - kafka
            - elasticsearch
        technology_names:
          title: Technology Names
          description: Names of the technologies found to be used by the company
          items:
            type: string
          type: array
          deprecated: true
          example:
            - Kafka
            - Elasticsearch
      type: object
    DecisionMaker:
      title: DecisionMaker
      properties:
        decision_maker:
          title: Decision Maker
          type: string
          example: Head of Data
        company_name:
          title: Company Name
          type: string
          example: Zoom
        date_posted:
          title: Date Posted
          type: string
          format: date
        technology:
          title: Technology
          type: string
          example: Kafka
        url:
          title: Url
          description: URL of the job post
          type: string
        country:
          title: Country
          description: Country of the company
          type: string
          example: United States
        job_title:
          title: Job Title
          description: Job title of the job post where the decision maker was found
          type: string
          example: Senior Data Engineer
        employee_count:
          title: Employee Count
          description: Number of employees in the company
          type: integer
          example: 437
      type: object
    HTTPValidationError:
      title: HTTPValidationError
      properties:
        detail:
          title: Detail
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
      type: object
    IndustryStats:
      title: IndustryStats
      properties:
        description:
          title: Description
          description: Description of the industry
          type: string
        industry_id:
          title: Industry Id
          description: ID of the industry
          type: integer
        industry:
          title: Industry
          description: Name of the industry
          type: string
        hierarchy:
          title: Hierarchy
          description: Hierarchy of the industry, according to LinkedIn's taxonomy
          type: string
        companies:
          title: Companies
          description: Number of companies in the industry
          type: integer
        jobs:
          title: Jobs
          description: Number of jobs in the industry
          type: integer
      type: object
    IndustryStatsResponse:
      title: IndustryStatsResponse
      properties:
        data:
          title: Data
          items:
            $ref: '#/components/schemas/IndustryStats'
          type: array
        metadata:
          $ref: '#/components/schemas/BaseMetadata'
      type: object
      required:
        - data
        - metadata
    JobBase:
      title: JobBase
      properties:
        id:
          title: Id
          description: ID of the job
          type: integer
          example: 1234
          x-examples:
            - 1234
        job_title:
          title: Job Title
          description: Job title
          type: string
          example: Senior Data Engineer
          x-examples:
            - Senior Data Engineer
        url:
          title: Url
          description: URL of the job post
          type: string
          example: https://example.com/job/1234
          x-examples:
            - https://example.com/job/1234
        date_posted:
          title: Date Posted
          description: Date when the job was posted
          type: string
          format: date
          example: '2021-01-01'
          x-examples:
            - '2021-01-01'
        has_blurred_data:
          title: Has Blurred Data
          description: >-
            Whether the returned object has company identifiable data blurred or
            not
          type: boolean
          default: false
        company:
          title: Company
          type: string
      type: object
    JobFilters:
      title: JobFilters
      properties:
        job_title_or:
          title: Job Title Or
          description: >-
            Natural language patterns to match job titles. Case-insensitive.
            Only jobs with title that match any of these patterns will be
            returned. Uses Postgres full text search.
          items:
            type: string
          type: array
          default: []
        job_title_not:
          title: Job Title Not
          description: >-
            Natural language patterns to match job titles. Case-insensitive.
            Only jobs with title that do not match any of these patterns will be
            returned. Uses Postgres full text search.
          items:
            type: string
          type: array
          default: []
        job_title_pattern_and:
          title: Job Title Pattern And
          description: >-
            Regex patterns to match job titles. Case-insensitive. Only jobs with
            title that match all of these patterns will be returned.
          items:
            type: string
          type: array
          default: []
        job_title_pattern_or:
          title: Job Title Pattern Or
          description: >-
            Regex patterns to match job titles. Case-insensitive. Jobs whose job
            title matches of the filters will be returned.
          items:
            type: string
          type: array
          default: []
        job_title_pattern_not:
          title: Job Title Pattern Not
          description: >-
            Regex patterns to match job titles. Case-insensitive. Jobs whose job
            title doesn't match any of the patterns will be returned.
          items:
            type: string
          type: array
          default: []
        job_country_code_or:
          title: Job Country Code Or
          description: >-
            2-letter ISO country code of the location of the job. Can pass more
            than 1
          items:
            type: string
          type: array
          default: []
        job_country_code_not:
          title: Job Country Code Not
          description: >-
            2-letter ISO country code of the location of the job. Can pass more
            than 1. Will exclude jobs from these countries
          items:
            type: string
          type: array
          default: []
        posted_at_max_age_days:
          title: Posted At Max Age Days
          description: >-
            Date posted max age in days. If 0, only return jobs posted today. If
            1, from today and yesterday, etc.
          type: integer
          example: null
          x-examples:
            - null
        posted_at_gte:
          title: Posted At Gte
          description: >-
            ISO 8601 date string (yyyy-mm-dd). Only jobs published in this date
            or after will be returned.
          type: string
          format: date
          example: null
          x-examples:
            - null
        posted_at_lte:
          title: Posted At Lte
          description: >-
            ISO 8601 date string (yyyy-mm-dd). Only jobs published in this date
            or before will be returned.
          type: string
          format: date
          example: null
          x-examples:
            - null
        discovered_at_max_age_days:
          title: Discovered At Max Age Days
          description: >-
            If 0, only return jobs added to our database in the current day. If
            1, from today and yesterday, etc.
          type: integer
          example: null
          x-examples:
            - null
        discovered_at_min_age_days:
          title: Discovered At Min Age Days
          description: >-
            If 1, only return jobs created until yesterday. If 2, until 2 days
            ago, etc.
          type: integer
          example: null
          x-examples:
            - null
        discovered_at_gte:
          title: Discovered At Gte
          description: >-
            ISO 8601 date string (yyyy-mm-dd). Only jobs discovered on this date
            or after will be returned.
          type: string
          format: date
          example: null
          x-examples:
            - null
        discovered_at_lte:
          title: Discovered At Lte
          description: >-
            ISO 8601 date string (yyyy-mm-dd). Only jobs discovered on this date
            or before will be returned.
          type: string
          format: date
          example: null
          x-examples:
            - null
        job_description_pattern_or:
          title: Job Description Pattern Or
          description: >-
            Regex patterns to look for in job descriptions. Results will include
            jobs whose description matches any of these patterns. Can pass more
            than one.
          items:
            type: string
          type: array
          default: []
        job_description_pattern_not:
          title: Job Description Pattern Not
          description: >-
            Regex patterns to look for in job descriptions. Results will include
[...]
