openapi: 3.0.1
info:
  title: Budgets API
  description: |

    The budgets API lets you manage your Brex budgets.
  version: '1.0'
  contact:
    name: Admin
    url: https://brex.com
    email: developer-access@brex.com
servers:
  - description: Production
    url: https://platform.brexapis.com
  - description: >-
      Staging (Note: This is not a sandbox. It will not work with customer
      tokens.)
    url: https://platform.staging.brexapps.com
tags:
  - description: Endpoints for budgets data.
    name: Budgets
  - description: Endpoints for budgets programs data.
    name: Budget Programs
paths:
  /v1/budget_programs:
    get:
      tags:
        - Budget Programs
      summary: |

        List Budget Programs
      operationId: BudgetPrograms_list
      security:
        - OAuth2:
            - budgets.readonly
            - budgets
      description: |

        Lists Budget Programs belonging to this account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            nullable: true
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            nullable: true
      responses:
        '200':
          description: listBudgetPrograms 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_BudgetProgram_'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
        - Budget Programs
      summary: |

        Create Budget Program
      operationId: BudgetPrograms_create
      security:
        - OAuth2:
            - budgets
      description: >

        Creates a Budget Program.

        If your account does not have access to budget program features, a 403
        response status will be returned.

        If this is the case and you want to gain access to this endpoint, please
        contact Brex support.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBudgetProgramRequest'
        required: true
      responses:
        '200':
          description: createBudgetProgram 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetProgram'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v1/budget_programs/{id}:
    get:
      tags:
        - Budget Programs
      summary: |

        Get Budget Program
      operationId: BudgetPrograms_getById
      security:
        - OAuth2:
            - budgets.readonly
            - budgets
      description: |

        Retrieves a Budget Program by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: getBudgetProgramById 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetProgram'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
        - Budget Programs
      summary: |

        Update Budget Program
      operationId: BudgetPrograms_updateProgramById
      security:
        - OAuth2:
            - budgets
      description: >

        Updates a Budget Program.

        This endpoint requires budget management. If your account does not have
        access to budget management features, a 403 response status will be
        returned. 

        If this is the case and you want to gain access to this endpoint, please
        contact Brex support.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBudgetProgramRequest'
        required: true
      responses:
        '200':
          description: updateBudgetProgram 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetProgram'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
        - Budget Programs
      summary: |

        Delete Budget Program
      operationId: BudgetPrograms_removeProgramById
      security:
        - OAuth2:
            - budgets
      description: >

        Delete a Budget Program by ID.

        This endpoint requires budget management. If your account does not have
        access to budget management features, a 403 response status will be
        returned. 

        If this is the case and you want to gain access to this endpoint, please
        contact Brex support.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: deleteBudgetProgram 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetProgram'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v1/budgets:
    get:
      tags:
        - Budgets
      summary: |

        List Budgets
      operationId: Budgets_list
      security:
        - OAuth2:
            - budgets.readonly
            - budgets
      description: |

        Lists Budgets belonging to this account
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            nullable: true
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            nullable: true
      responses:
        '200':
          description: listBudgets 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_Budget_'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
        - Budgets
      summary: |

        Create Budget
      operationId: Budgets_create
      security:
        - OAuth2:
            - budgets
      description: >

        Creates a Budget.

        This endpoint requires budget management. If your account does not have
        access to budget management features, a 403 response status will be
        returned. 

        If this is the case and you want to gain access to this endpoint, please
        contact Brex support.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBudgetRequest'
        required: true
      responses:
        '200':
          description: createBudget 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v1/budgets/{id}:
    get:
      tags:
        - Budgets
      summary: |

        Get Budget
      operationId: Budgets_getById
      security:
        - OAuth2:
            - budgets.readonly
            - budgets
      description: |

        Retrieves a Budget by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: getBudgetById 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
        - Budgets
      summary: |

        Update Budget
      operationId: Budgets_updateBudget
      security:
        - OAuth2:
            - budgets
      description: >

        Updates a Budget.

        This endpoint requires budget management. If your account does not have
        access to budget management features, a 403 response status will be
        returned. 

        If this is the case and you want to gain access to this endpoint, please
        contact Brex support.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBudgetRequest'
        required: true
      responses:
        '200':
          description: updateBudget 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v1/budgets/{id}/archive:
    post:
      tags:
        - Budgets
      summary: |

        Archive a budget
      operationId: Budgets_archiveBudgetById
      security:
        - OAuth2:
            - budgets
      description: >

        Archives a budget, making it unusable for future expenses and removing
        it from the UI
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: archiveBudget 200 response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    Budget:
      required:
        - budget_status
        - period_type
        - spend_type
      type: object
      properties:
        description:
          description: |

            Description of what the Budget is used for.
          type: string
          nullable: true
        budget_id:
          description: |

            Unique ID for the Budget.
          type: string
        account_id:
          description: |

            The Brex account this Budget belongs to.
          type: string
        creator_user_id:
          description: |

            The ID of the user who originally created this budget.
          type: string
          nullable: true
        name:
          description: |

            Name for the Budget.
          type: string
        parent_budget_id:
          description: |

            ID of parent Budget.
          type: string
          nullable: true
        owner_user_ids:
          description: |

            User IDs of the owners of the Budget.
          type: array
          items:
            type: string
        member_user_ids:
          description: |

            User IDs of the members of the Budget.
          type: array
          items:
            type: string
        period_type:
          $ref: '#/components/schemas/PeriodType'
        start_date:
          description: |

            The UTC date when the Budget should start counting.
          type: string
          format: date
          nullable: true
        end_date:
          description: |

            The UTC date when the Budget should stop counting.
          type: string
          format: date
          nullable: true
        limit:
          allOf:
            - $ref: '#/components/schemas/Money'
            - nullable: true
        budget_status:
          $ref: '#/components/schemas/BudgetStatus'
        limit_type:
          allOf:
            - $ref: '#/components/schemas/LimitType'
            - nullable: true
        spend_type:
          $ref: '#/components/schemas/SpendType'
        current_period_balance:
          allOf:
            - $ref: '#/components/schemas/BudgetPeriodBalance'
            - nullable: true
    BudgetBlueprint:
      description: |

        Blueprint for provisioning Budgets for a Budget Program.
      required:
        - id
        - limit_type
        - period_type
        - spend_type
      type: object
      properties:
        description:
          description: |

            Description of what the Budget is used for.
          type: string
          nullable: true
        id:
          type: string
        name:
          description: |

            Name for the Budget.
          type: string
        parent_budget_id:
          description: |

            ID of parent Budget.
          type: string
        owner_user_ids:
          description: |

            User IDs of the owners of the Budget.
          type: array
          items:
            type: string
        period_type:
          $ref: '#/components/schemas/PeriodType'
        start_date:
          description: |

            The UTC date when the Budget should start counting.
          type: string
          format: date
          nullable: true
        end_date:
          description: |

            The UTC date when the Budget should stop counting.
          type: string
          format: date
          nullable: true
        limit:
          allOf:
            - $ref: '#/components/schemas/Money'
            - nullable: true
        limit_type:
          $ref: '#/components/schemas/LimitType'
        spend_type:
          $ref: '#/components/schemas/SpendType'
    BudgetPeriodBalance:
      description: |

        Current Budget period balance.
      type: object
      properties:
        start_date:
          type: string
          format: date
          nullable: true
        end_date:
          type: string
          format: date
          nullable: true
        balance:
          allOf:
            - $ref: '#/components/schemas/Money'
            - nullable: true
    BudgetProgram:
      description: |

        Budget Program used to create budgets for eligible users.
      required:
        - budget_blueprints
        - budget_program_status
        - created_at
        - id
        - name
        - updated_at
      type: object
      properties:
        description:
          type: string
          nullable: true
        id:
          type: string
        name:
          type: string
        budget_blueprints:
          type: array
          items:
            $ref: '#/components/schemas/BudgetBlueprint'
        existing_budget_ids:
          description: |

            IDs for existing budgets associated with this Budget Program.
          type: array
          nullable: true
          items:
            type: string
        employee_filter:
          $ref: '#/components/schemas/EmployeeFilter'
        budget_program_status:
          $ref: '#/components/schemas/BudgetProgramStatus'
        creator_user_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date
        updated_at:
          type: string
          format: date
    BudgetProgramStatus:
      type: string
      enum:
        - BUDGET_PROGRAM_STATUS_ACTIVE
        - BUDGET_PROGRAM_STATUS_INACTIVE
        - BUDGET_PROGRAM_STATUS_DELETED
    BudgetStatus:
      description: |

        Status of the Budget e.g. APPROVED.
      type: string
      enum:
        - APPROVED
        - EXPIRED
        - TERMINATED
        - DELETED
    BudgetLimitVisibilityType:
      description: |

        Determines if budget members are allowed to view the budget limit.
      type: string
      enum:
        - SHARED
        - PRIVATE
    CreateBudgetBlueprintRequest:
      description: |

        Blueprint for provisioning Budgets for a Budget Program.
      required:
        - limit
        - limit_type
        - limit_visibility
        - period_type
        - spend_type
      type: object
      properties:
        description:
          description: |

            Description of what the Budget is used for.
          type: string
        name:
          description: |

            Name for the Budget.
          type: string
        parent_budget_id:
          description: |

            ID of parent Budget.
          type: string
        owner_user_ids:
          description: |

            User IDs of the owners of the Budget.
          type: array
          nullable: true
          items:
            type: string
        period_type:
          $ref: '#/components/schemas/PeriodType'
        start_date:
          description: |

            The UTC date when the Budget should start counting.
          type: string
          format: date
          nullable: true
        end_date:
          description: |

            The UTC date when the Budget should stop counting.
          type: string
          format: date
          nullable: true
        limit:
          $ref: '#/components/schemas/Money'
        limit_type:
          $ref: '#/components/schemas/LimitType'
        spend_type:
          $ref: '#/components/schemas/SpendType'
        limit_visibility:
          $ref: '#/components/schemas/BudgetLimitVisibilityType'
    CreateBudgetProgramRequest:
      description: |

        Budget Program used to create budgets for eligible users.
      required:
        - budget_blueprints
        - name
      type: object
      properties:
        description:
          type: string
          nullable: true
        existing_budget_ids:
          description: |

            IDs for existing budgets associated with this Budget Program.
          type: array
          nullable: true
          items:
            type: string
        budget_blueprints:
          type: array
          items:
            $ref: '#/components/schemas/CreateBudgetBlueprintRequest'
        employee_filter:
          allOf:
            - $ref: '#/components/schemas/EmployeeFilter'
            - nullable: true
        name:
          type: string
    CreateBudgetRequest:
      required:
        - parent_budget_id
        - limit
        - limit_type
        - limit_visibility
        - period_type
        - spend_type
      type: object
      properties:
        description:
          description: |

            Description of what the Budget is used for.
          type: string
        name:
          description: |

            Name for the Budget.
          type: string
        parent_budget_id:
          description: |

            ID of parent Budget.
          type: string
        owner_user_ids:
          description: |

            User IDs of the owners of the Budget.
          type: array
          nullable: true
          items:
            type: string
        member_user_ids:
          description: |

            User IDs of the members of the Budget.
          type: array
          nullable: true
          items:
            type: string
        period_type:
          $ref: '#/components/schemas/PeriodType'
        limit:
          $ref: '#/components/schemas/Money'
        limit_type:
          $ref: '#/components/schemas/LimitType'
        spend_type:
          $ref: '#/components/schemas/SpendType'
        start_date:
          description: |

            The UTC date when the Budget should start counting.
          type: string
          format: date
          nullable: true
        end_date:
          description: |

            The UTC date when the Budget should stop counting.
          type: string
          format: date
          nullable: true
        limit_visibility:
          $ref: '#/components/schemas/BudgetLimitVisibilityType'
    EmployeeFilter:
      description: |

        A filter used to determine if a user adheres to a Budget Program.
      type: object
      properties:
        employment_status:
          allOf:
            - $ref: '#/components/schemas/EmploymentStatus'
            - nullable: true
        employment_type:
          allOf:
            - $ref: '#/components/schemas/EmploymentType'
            - nullable: true
    EmploymentStatus:
      description: |

        A filter used to determine if a user adheres to a Budget Program.
      type: string
      enum:
        - EMPLOYMENT_STATUS_ACTIVE
        - EMPLOYMENT_STATUS_INACTIVE
        - EMPLOYMENT_STATUS_PENDING
    EmploymentType:
      description: |

        What kind of employment the employee has.
      type: string
      enum:
        - EMPLOYMENT_TYPE_FULL_TIME
        - EMPLOYMENT_TYPE_PART_TIME
        - EMPLOYMENT_TYPE_CONTRACTOR
        - EMPLOYMENT_TYPE_INTERN
        - EMPLOYMENT_TYPE_FREELANCE
    LimitType:
      description: |

        Whether the Budget limit blocks spend.
      type: string
      enum:
        - HARD
        - SOFT
    Money:
      description: >

        Money fields can be signed or unsigned. Fields are signed (an unsigned
        value will be interpreted as positive). The amount of money will be
        represented in the smallest denomination

        of the currency indicated. For example, USD 7.00 will be represented in
        cents with an amount of 700.
      type: object
      properties:
        amount:
          description: >-
            The amount of money, in the smallest denomination of the currency
            indicated by currency. For example, when currency is USD, amount is
            in cents.
          type: integer
          format: int64
        currency:
          description: >-
            The type of currency, in ISO 4217 format. Default to USD if not
            specified
          type: string
          nullable: true
    Page_BudgetProgram_:
      required:
        - items
      type: object
      properties:
        next_cursor:
          type: string
          nullable: true
        items:
          type: array
          items:
            $ref: '#/components/schemas/BudgetProgram'
    Page_Budget_:
      required:
        - items
      type: object
      properties:
        next_cursor:
          type: string
          nullable: true
        items:
          type: array
          items:
            $ref: '#/components/schemas/Budget'
    PeriodType:
      description: |

        Period type of the Budget e.g. MONTHLY.
      type: string
      enum:
        - WEEKLY
        - MONTHLY
        - QUARTERLY
        - YEARLY
        - ONE_TIME
    SpendType:
      description: >

        Whether this Budget only can be spent from by cards provisioned by this
        Budget. 
      type: string
      enum:
        - BUDGET_PROVISIONED_CARDS_ONLY
        - NON_BUDGET_PROVISIONED_CARDS_ALLOWED
    UpdateBudgetBlueprintRequest:
      description: |

        Blueprint for provisioning Budgets for a Budget Program.
      type: object
      properties:
        description:
          description: |

            Description of what the Budget is used for.
          type: string
          nullable: true
        id:
          description: >

            ID of budget blueprint to update, omit if adding new budget
            blueprint to budget program.
          type: string
          nullable: true
        name:
          description: |

            Name for the Budget.
          type: string
          nullable: true
        parent_budget_id:
          description: |

            ID of parent Budget.
          type: string
          nullable: true
        owner_user_ids:
          description: |

            User IDs of the owners of the Budget.
          type: array
          nullable: true
          items:
            type: string
        period_type:
          allOf:
            - $ref: '#/components/schemas/PeriodType'
            - nullable: true
        start_date:
          description: |

            The UTC date when the Budget should start counting.
          type: string
          format: date
          nullable: true
        end_date:
          description: |

            The UTC date when the Budget should stop counting.
          type: string
          format: date
          nullable: true
        limit:
          allOf:
            - $ref: '#/components/schemas/Money'
            - nullable: true
        limit_type:
          allOf:
            - $ref: '#/components/schemas/LimitType'
            - nullable: true
        spend_type:
          allOf:
            - $ref: '#/components/schemas/SpendType'
            - nullable: true
    UpdateBudgetProgramRequest:
      description: |

        Budget Program used to create budgets for eligible users.
      type: object
      properties:
        description:
          type: string
          nullable: true
        existing_budget_ids:
          description: |

            IDs for existing budgets associated with this Budget Program.
          type: array
          nullable: true
          items:
            type: string
        budget_blueprints:
          description: >

            The Blueprints to update the budget program with. Blueprints without
            an ID are treated as new blueprints to be created.

            Blueprints that exist currently on the Budget Program, but are
            missing from the input, will be deleted.
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/UpdateBudgetBlueprintRequest'
        employee_filter:
          allOf:
            - $ref: '#/components/schemas/EmployeeFilter'
            - nullable: true
        name:
          type: string
          nullable: true
    UpdateBudgetRequest:
      type: object
      properties:
        description:
          description: |

            Description of what the Budget is used for.
          type: string
          nullable: true
        name:
          description: |

            Name for the Budget.
          type: string
          nullable: true
        owner_user_ids:
          description: |

            User IDs of the owners of the Budget.
          type: array
          nullable: true
          items:
            type: string
        member_user_ids:
          description: |

            User IDs of the members of the Budget.
          type: array
          nullable: true
          items:
            type: string
        limit:
          allOf:
            - $ref: '#/components/schemas/Money'
            - nullable: true
        limit_type:
          allOf:
            - $ref: '#/components/schemas/LimitType'
            - nullable: true
        spend_type:
          allOf:
            - $ref: '#/components/schemas/SpendType'
            - nullable: true
        start_date:
          description: |

            The UTC date when the Budget should start counting.
          type: string
          format: date
          nullable: true
        end_date:
          description: |

            The UTC date when the Budget should stop counting.
          type: string
          format: date
          nullable: true
        limit_visibility:
          allOf:
            - $ref: '#/components/schemas/BudgetLimitVisibilityType'
            - nullable: true
  securitySchemes:
    OAuth2:
      description: OAuth2 security scheme
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts-api.brex.com/oauth2/default/v1/authorize
          tokenUrl: https://accounts-api.brex.com/oauth2/default/v1/token
          scopes:
            openid: openid
            offline_access: offline access
            budgets: View and manage budgets data
            budgets.readonly: View budgets data
security:
  - OAuth2: []
x-explorer-enabled: false
