openapi: 3.0.0
info:
  title: Kombo API
  description: >-
    Kombo is changing how B2B SaaS companies provide HR integrations to their
    customers. Instead of having to build and maintain many APIs themselves,
    Kombos customers can integrate with Kombo's API once and offer dozens of
    APIs to their customers instantly.
  version: 1.0.0
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.kombo.dev/v1
tags:
  - description: Unified endpoints to access all the ATS concepts you might need.
    name: Unified ATS API
  - description: Unified endpoints to access all the HR concepts you might need.
    name: Unified HRIS API
  - name: General
  - name: Custom Endpoints
  - name: Unified ATS (Assessment) API
  - description: >-
      Endpoints for Kombo Connect, our end-user-facing flow for setting up new
      integrations.
    name: Kombo Connect
  - description: >-
      Unified endpoints to operate Assessments for many applicant tracking
      systems.
    name: Unified ATS-Assessment API
paths:
  /check-api-key:
    get:
      tags:
        - General
      summary: Check API key
      operationId: General_verifyApiKey
      description: Check whether your API key is working properly.
      responses:
        '200':
          description: GET /check-api-key Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCheckApiKeySuccessfulResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      environment_id: 2Uev1YUTqLFdvMPD3Jtrg2FX
                      customer_id: 2Uev1YUTqLFdvMPD3Jtrg2FX
        '400':
          description: GET /check-api-key Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCheckApiKeyErrorResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
  /force-sync:
    post:
      tags:
        - General
      summary: Trigger sync
      operationId: General_triggerSyncSpecificIntegration
      description: >-
        Trigger a sync for a specific integration.


        <Warning>Please note that it is **not** necessary nor recommended to
        call this endpoint periodically on your side. Kombo already performs
        period syncs for you and you should only trigger syncs yourself in
        special cases (like when a user clicks on a "Sync" button in your
        app).</Warning>
      parameters:
        - description: ID of the integration you want to interact with.
          in: header
          name: X-Integration-Id
          schema:
            type: string
          example: workday:HWUTwvyx2wLoSUHphiWVrp28
          required: true
      requestBody:
        description: POST /force-sync request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostForceSyncRequestBody'
      responses:
        '200':
          description: POST /force-sync Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostForceSyncSuccessfulResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      already_queued: false
                      sync_id: 119ihtp91nA3dqRFiV67nXS6
        '400':
          description: POST /force-sync Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostForceSyncErrorResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
        '401':
          description: Returned when the authentication header was invalid or missing.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GeneralTriggerSyncSpecificIntegrationResponse
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Invalid authorization header!
                example2:
                  value:
                    status: error
                    error:
                      message: Missing authorization header!
  /passthrough/{tool}/{api}:
    post:
      tags:
        - General
      summary: Send passthrough request
      operationId: General_forwardRequestToApi
      description: >-
        Send a request to the specified integration's native API.


        At Kombo we put a lot of work into making sure that our unified API
        covers all our customers' use cases and that they never have to think
        about integration-specific logic again. There are cases, however, where
        our customers want to build features that are very integration-specific.
        That's where this endpoint comes in.


        Pass in details about the request you want to make to the integration's
        API and we'll forward it for you. We'll also take care of setting the
        right base URL and authenticating your requests.


        To get started, please pick the relevant API (some tools provide
        multiple to due different base URLs or authentication schemes) from the
        table below and pass in the `{tool}/{api}` identifier as part of the
        path.


        |Integration|`{tool}/{api}`|Description|

        |---|---|---|

        |Personio|`personio/personnel`|Personio's [Personnel Data
        API](https://developer.personio.de/reference/get_company-employees). We
        automatically authenticate all requests using the client ID and secret
        and use `https://api.personio.de/v1` as the base URL.|

        |Workday|`workday/soap`|[Workday's SOAP
        API](https://community.workday.com/sites/default/files/file-hosting/productionapi/index.html).
        We automatically authenticate all requests. Set `data` to your raw xml
        string. Use `/` as your `path`, as we will always send requests to
        `https://{domain}/ccx/service/{tenant}/{service_name}/38.2`. Set your
        `method` to `POST`. You need to specify the `api_options` object and set
        `service_name` to the name of the service you want to call. Find all
        available services
        [here](https://community.workday.com/sites/default/files/file-hosting/productionapi/versions/v41.0/index.html).
        The string that you submit as `data` will be the content of the
        `soapenv:Body` tag in the request.|

        |SAP SuccessFactors|`successfactors/odata-v2`|[SuccessFactors' OData V2
        API](https://help.sap.com/doc/74597e67f54d4f448252bad4c2b601c9/2211/en-US/SF_HCM_OData_API_REF_en.pdf).
        We automatically authenticate all requests and use
        `https://{api_domain}/odata/v2` as the base URL.|

        |Lever|`lever/v1`|[Lever's v1
        API](https://hire.lever.co/developer/documentation). We automatically
        authenticate all requests using the partner credentials which have been
        configured in the Lever tool settings (this uses Kombo's partner
        credentials by default).|

        |Recruitee|`recruitee/default`|The [Recruitee
        API](https://api.recruitee.com/docs/index.html). We automatically
        authenticate all requests and use
        `https://api.recruitee.com/c/{company_id}` as the base URL.|

        |Greenhouse|`greenhouse/harvest`|Greenhouse [Harvest
        API](https://developers.greenhouse.io/harvest.html). We automatically
        authenticate all requests using the API key and use
        `https://harvest.greenhouse.io/v1` as the base URL.|

        |Teamtailor|`teamtailor/v1`|Teamtailor's
        [JSON-API](https://docs.teamtailor.com/). We authenticate all request
        with the Teamtailor API key and use the base URL
        `https://api.teamtailor.com/v1`.|

        |Personio|`personio/recruiting`|Personio's [Recruiting
        API](https://developer.personio.de/reference/get_company-employees). We
        automatically authenticate all requests using the Recruiting access
        token and use `https://api.personio.de/v1/recruiting` as the base URL.|

        |Personio|`personio/jobboard`|API endpoints exposed on Personio's public
        job board pages ([currently just the XML
        feed](https://developer.personio.de/reference/get_xml)). We
        automatically use the right `https://{company}.jobs.personio.de` base
        URL.|

        |BambooHR|`bamboohr/v1`|BambooHR's
        [API](https://documentation.bamboohr.com/reference/get-employee). We
        automatically authenticate all requests using the customer credentials
        `https://api.bamboohr.com/api/gateway.php/{subdomain}/v1` as the base
        URL.|

        |Workable|`workable/v1`|Workable's
        [API](https://workable.readme.io/reference/generate-an-access-token). We
        automatically authenticate all requests using the client ID and secret
        and use `https://subdomain.workable.com/spi/v3` as the base URL.|

        |HiBob|`hibob/v1`|[HibBob's v1
        API](https://apidocs.hibob.com/reference/get_people). We automatically
        authenticate all requests using the service user credentials (or, for
        old integrations, the API key) and use `https://api.hibob.com/v1` as the
        base URL.|

        |Pinpoint|`pinpoint/v1`|Pinpoint's
        [JSON:API](https://developers.pinpointhq.com/docs). We automatically
        authenticate all requests using the `X-API-KEY` header and use
        `https://{subdomain}.pinpointhq.com/api/v1` as the base URL.|

        |Haufe Umantis|`umantis/v1`|[Umantis API
        v1](https://recruitingapp-91005709.umantis.com/api/v1/swagger-ui). We
        automatically authenticate all requests and use
        `https://{subdomain}.umantis.com/api/v1` as the base URL.|

        |HRworks|`hrworks/v2`|HRWorks's v2
        [API](https://developers.hrworks.de/2.0/endpoints). We automatically
        authenticate all requests using the customer credentials.|

        |JazzHR|`jazzhr/v1`|[JazzHR's v1
        API](https://www.resumatorapi.com/v1/#!`). We automatically authenticate
        all requests.|


        <Note>Please note that the passthrough API endpoints are only meant for
        edge cases. That's why we only expose them for new integrations after
        understanding a concrete customer use case. If you have such a use case
        in mind, please reach out to Kombo.</Note>
      parameters:
        - description: ID of the integration you want to interact with.
          in: header
          name: X-Integration-Id
          schema:
            type: string
          example: greenhouse:HWUTwvyx2wLoSUHphiWVrp28
          required: true
        - description: >-
            The ID of the tool whose passthrough API you want to call (e.g.,
            `personio`).
          name: tool
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/PostPassthroughToolApiParameterTool'
        - description: >-
            The ID of the passthrough API you want to call (some tools provide
            multiple). Check the endpoint description for a list of all
            available APIs.
          name: api
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/PostPassthroughToolApiParameterApi'
      requestBody:
        description: POST /passthrough/:tool/:api request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPassthroughToolApiRequestBody'
      responses:
        '200':
          description: POST /passthrough/:tool/:api Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPassthroughToolApiSuccessfulResponse'
        '400':
          description: POST /passthrough/:tool/:api Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPassthroughToolApiErrorResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
        '401':
          description: Returned when the authentication header was invalid or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralForwardRequestToApiResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Invalid authorization header!
                example2:
                  value:
                    status: error
                    error:
                      message: Missing authorization header!
        '403':
          description: Returned when the passed integration is inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralForwardRequestToApi403Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: >-
                        This integration is inactive. You can only request data
                        from active integrations.
        '404':
          description: Returned when a requested resource is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralForwardRequestToApi404Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Integration not found in this environment!
                example2:
                  value:
                    status: error
                    error:
                      message: Property not found!
        '503':
          description: Returned when no sync has finished successfully yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralForwardRequestToApi503Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: >-
                        The first sync of this integration didn't finish yet!
                        You can keep polling this until you get a successful
                        response or react to our webhooks.
  /integrations/{integration_id}:
    delete:
      tags:
        - General
      summary: Delete integration
      operationId: General_deleteIntegration
      description: |-
        Delete the specified integration.
        **⚠️ This can not be undone!**
      parameters:
        - description: DELETE /integrations/:integration_id parameter
          name: integration_id
          in: path
          required: true
          schema:
            $ref: >-
              #/components/schemas/DeleteIntegrationsIntegrationIdParameterIntegrationId
      requestBody:
        description: DELETE /integrations/:integration_id request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteIntegrationsIntegrationIdRequestBody'
      responses:
        '200':
          description: DELETE /integrations/:integration_id Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DeleteIntegrationsIntegrationIdSuccessfulResponse
        '400':
          description: DELETE /integrations/:integration_id Error response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DeleteIntegrationsIntegrationIdErrorResponse
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
        '401':
          description: Returned when the authentication header was invalid or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralDeleteIntegrationResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Invalid authorization header!
                example2:
                  value:
                    status: error
                    error:
                      message: Missing authorization header!
    get:
      tags:
        - General
      summary: Get integration details
      operationId: General_getIntegrationDetails
      description: >-
        Get the specified integration with everything you need to display it to
        your customer.
      parameters:
        - description: GET /integrations/:integration_id parameter
          name: integration_id
          in: path
          required: true
          schema:
            $ref: >-
              #/components/schemas/GetIntegrationsIntegrationIdParameterIntegrationId
      responses:
        '200':
          description: GET /integrations/:integration_id Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GetIntegrationsIntegrationIdSuccessfulResponse
              examples:
                example1:
                  value:
                    status: success
                    data:
                      id: factorial:8d1hpPsbjxUkoCoa1veLZGe5
                      tool:
                        id: factorial
                        label: Factorial
                        internal_label: null
                        logo_url: >-
                          https://storage.googleapis.com/kombo-assets/integrations/factorial/logo.svg
                        icon_url: >-
                          https://storage.googleapis.com/kombo-assets/integrations/factorial/icon.svg
                      category: HRIS
                      status: ACTIVE
                      end_user:
                        organization_name: Acme
                        creator_email: example-integration-creator@acme.com
                        origin_id: 2DQJAUtSzzzKP9buDTvUvPk3
                      scope_config:
                        id: B1hu5NGyhdjSq5X3hxEz4bAN
                        name: Anonymous Scopes
                      created_at: '2022-08-07T14:01:29.196Z'
                      beta: false
        '400':
          description: GET /integrations/:integration_id Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIntegrationsIntegrationIdErrorResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
        '401':
          description: Returned when the authentication header was invalid or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralGetIntegrationDetailsResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Invalid authorization header!
                example2:
                  value:
                    status: error
                    error:
                      message: Missing authorization header!
  /integrations/{integration_id}/relink:
    post:
      tags:
        - General
      summary: Create reconnection link
      operationId: General_createReconnectionLink
      description: >-
        Create a link that will allow the user to reconnect an integration. This
        is useful if you want to allow your users to update the credentials if
        the old ones for example expired.


        Embed this the same way you would [embed the connect
        link](https://api.kombo.dev). By default, the link will be valid for 1
        hour.


        ### Example Request Body


        ```json

        {
          "language": "en"
        }

        ```
      parameters:
        - description: POST /integrations/:integration_id/relink parameter
          name: integration_id
          in: path
          required: true
          schema:
            $ref: >-
              #/components/schemas/PostIntegrationsIntegrationIdRelinkParameterIntegrationId
          examples:
            example1:
              value: personio:93fCvorjZ2jas7ZekX1V1n5d
      requestBody:
        description: POST /integrations/:integration_id/relink request body
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostIntegrationsIntegrationIdRelinkRequestBody
            examples:
              example1:
                value:
                  language: en
      responses:
        '200':
          description: POST /integrations/:integration_id/relink Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostIntegrationsIntegrationIdRelinkSuccessfulResponse
        '400':
          description: POST /integrations/:integration_id/relink Error response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostIntegrationsIntegrationIdRelinkErrorResponse
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
        '401':
          description: Returned when the authentication header was invalid or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralCreateReconnectionLinkResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Invalid authorization header!
                example2:
                  value:
                    status: error
                    error:
                      message: Missing authorization header!
  /tools/{category}:
    get:
      tags:
        - General
      summary: Get tools
      operationId: General_getToolsCategory
      description: >-
        Get a list of the tools (i.e., integrations) enabled in your
        environment.
         This can (in combination with the `integration_tool` parameter of [the "Create Link" endpoint](https://api.kombo.dev)) be used to, for example, display a custom list or grid of available integrations to your end users instead of exposing Kombo Connect's standard tool selector.
      parameters:
        - description: GET /tools/:category parameter
          name: category
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/GetToolsCategoryParameterCategory'
      responses:
        '200':
          description: GET /tools/:category Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetToolsCategorySuccessfulResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      tools:
                        - id: factorialX
                          label: Factorial
                          internal_label: null
                          assets:
                            logo_url: >-
                              https://storage.googleapis.com/kombo-assets/integrations/factorial/logo.svg
                            icon_url: >-
                              https://storage.googleapis.com/kombo-assets/integrations/factorial/icon.svg
                            icon_black_url: >-
                              https://storage.googleapis.com/kombo-assets/integrations/factorial/icon-black.svg
                          coverage:
                            read_models:
                              - id: hris_employees
                                label: Employees
                              - id: hris_teams
                                label: Groups
                            write_actions:
                              - id: hris_create_employee
                                label: Create employee
                            features:
                              - id: automatic_source_writing
                                label: Automatic Source Writing
        '400':
          description: GET /tools/:category Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetToolsCategoryErrorResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
  /hris/provisioning-groups/{group_id}/diff:
    post:
      tags:
        - Unified HRIS API
      summary: Get provisioning diff
      operationId: UnifiedHrisApi_getProvisioningDiff
      description: >-
        Get the list of users to provision, deprovision, and optionally update
        based on the users you've already provisioned in your system.
      parameters:
        - description: ID of the integration you want to interact with.
          in: header
          name: X-Integration-Id
          schema:
            type: string
          example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
          required: true
        - description: ID of the provisioning group (currently only `default` is allowed).
          name: group_id
          in: path
          required: true
          schema:
            $ref: >-
              #/components/schemas/PostHrisProvisioningGroupsGroupIdDiffParameterGroupId
          examples:
            example1:
              value: n39n320clr8c5amf8v83nbch
      requestBody:
        description: POST /hris/provisioning-groups/:group_id/diff request body
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostHrisProvisioningGroupsGroupIdDiffRequestBody
            examples:
              example1:
                value:
                  provisioned_users:
                    - origin_id: your_id_123
                      email: johndoe@example.com
                  options:
                    employee_fields:
                      - id
                      - first_name
                      - last_name
      responses:
        '200':
          description: POST /hris/provisioning-groups/:group_id/diff Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostHrisProvisioningGroupsGroupIdDiffSuccessfulResponse
        '400':
          description: POST /hris/provisioning-groups/:group_id/diff Error response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostHrisProvisioningGroupsGroupIdDiffErrorResponse
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
  /hris/provisioning-groups/{group_id}/setup-links:
    post:
      tags:
        - Unified HRIS API
      summary: Create provisioning setup link
      operationId: UnifiedHrisApi_createProvisioningSetupLink
      description: >-
        Create a new link that can be passed to the Kombo Connect SDK to open
        the provisioning setup UI.
      parameters:
        - description: ID of the integration you want to interact with.
          in: header
          name: X-Integration-Id
          schema:
            type: string
          example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
          required: true
        - description: ID of the provisioning group (currently only `default` is allowed).
          name: group_id
          in: path
          required: true
          schema:
            $ref: >-
              #/components/schemas/PostHrisProvisioningGroupsGroupIdSetupLinksParameterGroupId
          examples:
            example1:
              value: n39n320clr8c5amf8v83nbch
      requestBody:
        description: POST /hris/provisioning-groups/:group_id/setup-links request body
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostHrisProvisioningGroupsGroupIdSetupLinksRequestBody
            examples:
              example1:
                value:
                  language: en
      responses:
        '200':
          description: >-
            POST /hris/provisioning-groups/:group_id/setup-links Successful
            response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostHrisProvisioningGroupsGroupIdSetupLinksSuccessfulResponse
              examples:
                example1:
                  value:
                    status: success
                    data:
                      url: >-
                        https://connect.kombo.dev/v1/provisioning?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.SWYgeW91IGFyZSByZWFkaW5nIHRoaXMsIHdlIHdvdWxkIGxpa2UgdG8gbGV0IHlvdSBrbm93IHRoYXQgd2UgYXJlIGhpcmluZyBwZW9wbGUgbGlrZSB5b3UgOikuIFJlYWNoIG91dCB0byBhbGV4QGtvbWJvLmRldiB0byBnZXQgaW4gY29udGFjdCBhbmQgdGVsbCBoaW0geW91IGNvbWUgZnJvbSB0aGUgSldUIDsp._hhX5YTtHfLn9ZC806dZceRn2whzxHyrhft1ONzNgOE
                      expires_at: '2023-10-11T12:00:00.000Z'
        '400':
          description: POST /hris/provisioning-groups/:group_id/setup-links Error response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostHrisProvisioningGroupsGroupIdSetupLinksErrorResponse
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
        '401':
          description: Returned when the authentication header was invalid or missing.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/UnifiedHrisApiCreateProvisioningSetupLinkResponse
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Invalid authorization header!
                example2:
                  value:
                    status: error
                    error:
                      message: Missing authorization header!
  /hris/employees:
    get:
      tags:
        - Unified HRIS API
      summary: Get employees
      operationId: UnifiedHrisApi_listEmployees
      description: >-
        Retrieve all employees.


        <Accordion title="Supported integrations" icon="list-check">

        This feature is currently available for the following integrations:


        <ul>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/personio/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Personio</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/workday/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Workday</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/workdaycustomreport/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Workday Custom Reports</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/workdaycustomreportsftp/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Workday Custom Report SFTP</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/successfactors/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />SAP SuccessFactors</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/factorial/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Factorial</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/ukgpro/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />UKG Pro</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/rexx/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />rexx systems</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/afas/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />AFAS Software</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/bamboohr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />BambooHR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/payfitcustomer/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />PayFit Customer</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/payfitpartner/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />PayFit Partner</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/payfit/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />PayFit</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/kenjo/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Kenjo</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/heavenhr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />HeavenHR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/hibob/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />HiBob</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/cezannehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Cezanne HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/entraid/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Entra ID</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/azuread/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Azure AD</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/googleworkspace/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Google Workspace</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/deel/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Deel</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/remotecom/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Remote</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/okta/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Okta</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sagehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Sage HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/humaans/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Humaans</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/eurecia/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Eurécia</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/oraclehcm/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Oracle HCM</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/officient/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Officient</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sesamehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Sesame HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/charliehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Charlie</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/hrworks/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />HRworks</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/abacus/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Abacus</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/zohopeople/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Zoho People</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/gusto/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Gusto</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/breathehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Breathe HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/catalystone/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />CatalystOne</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/mirus/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Mirus</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/alexishr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />AlexisHR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/rippling/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Rippling</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sapling/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Sapling</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/nmbrs/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Nmbrs</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/peoplehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />PeopleHR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/lucca/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Lucca</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/zelt/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Zelt</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/planday/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Planday</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/haileyhr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Hailey HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/silae/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Silae</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sympa/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Sympa</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/iriscascade/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />IRIS Cascade</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sandbox/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Kombo Sandbox</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sftp/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />SFTP</li>

        </ul>


        You'd like to see this feature for another integration? Please reach
        out!

        We're always happy to discuss extending our coverage.

        </Accordion>


        <Note>Not interested in most fields? You can use our [our Scopes
        feature](https://api.kombo.dev) to customize what data points are
        synced.</Note>


        Top level filters use AND, while individual filters use OR if they
        accept multiple arguments. That means filters will be resolved like
        this: `(id IN ids) AND (remote_id IN remote_ids)`
      parameters:
        - description: ID of the integration you want to interact with.
          in: header
          name: X-Integration-Id
          schema:
            type: string
          example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
          required: true
        - description: >-
            An optional cursor string used for pagination. This can be retrieved
            from the `next` property of the previous page response.
          name: cursor
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterCursor'
        - description: The number of results to return per page.
          name: page_size
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterPageSize'
        - description: >-
            Filter the entries based on the modification date in format
            YYYY-MM-DDTHH:mm:ss.sssZ. If you want to track entry deletion, also
            set the `include_deleted=true` query parameter, because otherwise,
            deleted entries will be hidden.
          name: updated_after
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterUpdatedAfter'
        - description: >-
            By default, deleted entries are not returned. Use the
            `include_deleted` query param to include deleted entries too.
          name: include_deleted
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterIncludeDeleted'
        - description: >-
            Filter by a comma-separated list of IDs such as
            `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`. Those IDs are
            validated to be 24 characters long and to exist for this integration
            in the database. If any of the IDs are don't exist, the endpoint
            will return a 404 error.
          name: ids
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterIds'
        - description: Filter by a comma-separated list of remote IDs.
          name: remote_ids
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterRemoteIds'
        - description: >-
            **(⚠️ Deprecated - Use the `employment_statuses` filter instead.)**
            Filter by the `employment_status` field.
          name: employment_status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterEmploymentStatus'
        - description: >-
            Filter by a comma-separated list of `ACTIVE`, `PENDING`, `INACTIVE`,
            `LEAVE` 

            * `ACTIVE`: the employee is **actively employed** 

            * `PENDING`: the employee is **not actively employed yet** (but they
            signed their contract or are part of an onboarding process) 

            * `INACTIVE`: a full-time employee is no longer employed, or, for a
            contract worker when their contract runs out 

            * `LEAVE`: the employee is still employed but **currently on leave**
            (note that not all HR systems support this status — use our absences
            API for detailed information) 
             

            Leave this blank to get results matching all values.
          name: employment_statuses
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterEmploymentStatuses'
        - description: >-
            Filter by a comma-separated list of group IDs. We will only return
            employees that are members of _any_ of the groups.
          name: group_ids
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterGroupIds'
        - description: >-
            Filter by a comma-separated list of legal entity IDs. We will only
            return employees that are members of _any_ of the legal entities.
          name: legal_entity_ids
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterLegalEntityIds'
        - description: >-
            Filter by a comma-separated list of work location IDs. We will only
            return employees who are at _any_ of the work locations.
          name: work_location_ids
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterWorkLocationIds'
        - description: >-
            Filter by a comma-separated list of work emails. We will only return
            employees who have _any_ of the work emails.
          name: work_emails
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterWorkEmails'
        - description: >-
            Filter by a comma-separated list of personal emails. We will only
            return employees who have _any_ of the personal emails.
          name: personal_emails
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisEmployeesParameterPersonalEmails'
      responses:
        '200':
          description: GET /hris/employees Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisEmployeesSuccessfulResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: >-
                        eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                        - id: 26vafvWSRmbhNcxJYqjCzuJg
                          remote_id: '32'
                          employee_number: '3243422'
                          first_name: John
                          last_name: Doe
                          nationality: French
                          display_full_name: John Doe
                          job_title: Integrations Team Lead
                          work_email: john.doe@acme.com
                          personal_email: john@doe.me
                          mobile_phone_number: 801-555-4687
                          ssn: 555-32-6395
                          tax_id: 12 345 678 901
                          gender: MALE
                          ethnicity: BLACK_AFRICAN_AMERICAN
                          marital_status: MARRIED
                          employment_status: INACTIVE
                          employment_type: FULL_TIME
                          weekly_hours: 40
                          avatar: >-
                            https://resources.bamboohr.com/images/photo_person_150x150.png
                          work_location_id: 7E2gyuv6TmvtByzBxW9Sxt53
                          legal_entity_id: xB32bied320csBSsl3XWdlw33
                          manager_id: 9pf2pxBB8VX8EQMC9aipW2Bo
                          home_address:
                            city: Berlin
                            country: DE
                            raw: |-
                              Sonnenallee 63
                              12045 Berlin
                              Germany
                            state: Berlin
                            street_1: Sonnenallee 63
                            street_2: null
                            zip_code: '12045'
                          bank_accounts:
                            - account_number: '1234567890'
                              bank_name: Commerzbank
                              bic: COBADEFFXXX
                              domestic_bank_routing:
                                number: '34567890'
                                type: DE_BANKLEITZAHL
                              holder_name: John Doe
                              iban: DE12345678901234567890
                          date_of_birth: '1986-01-01T00:00:00.000Z'
                          start_date: '2020-04-07T00:00:00.000Z'
                          termination_date: '2022-05-20T00:00:00.000Z'
                          remote_created_at: '2020-04-07T12:32:01.000Z'
                          changed_at: '2022-08-07T14:01:29.196Z'
                          remote_deleted_at: null
                          custom_fields: {}
                          remote_data: null
                          employments:
                            - id: 12vpXR7BeqYNWDShXRgsonnm
                              remote_id: '859'
                              employee_id: 8Xk99QfVKYA6vfEafEUBdEPJ
                              job_title: Social Media Marketer
                              pay_rate: 85000
                              pay_period: YEAR
                              pay_frequency: SEMIMONTHLY
                              employment_type: FULL_TIME
                              pay_currency: EUR
                              effective_date: '2021-01-30T00:00:00.000Z'
                              changed_at: '2022-08-07T14:01:29.196Z'
                              remote_deleted_at: null
                              remote_data: null
                              custom_fields: {}
                          time_off_balances:
                            - id: FuyRuk5NqP3qTcThED3ymTuE
                              remote_id: '124123'
                              employee_id: 2Up4ZCvq1bFVzmzXG6EWzV3j
                              type_id: BQJaBxRCiqN46G27VTegvkEr
                              balance: 14
                              balance_unit: DAYS
                              changed_at: '2022-08-07T14:01:29.196Z'
                              remote_deleted_at: null
                              used: 3
                              used_unit: DAYS
                              remote_data: null
                          manager:
                            first_name: John
                            last_name: Doe
                            display_full_name: John Doe
                            id: 26vafvWSRmbhNcxJYqjCzuJgX
                            work_email: john.doe@acme.com
                            remote_id: '32'
                          groups:
                            - id: 4B9bKBpX5tnwjiG93TAqF7ci
                              remote_id: '49'
                              name: Customer Success
                              type: TEAM
                          legal_entity:
                            id: 4B9bKBpX5tnwjiG93TAqF7ciX
                            remote_id: '49'
                            name: ACME Inc.
                            address:
                              city: Berlin
                              country: DE
                              raw: |-
                                Sonnenallee 63
                                12045 Berlin, Berlin
                                Germany
                              state: Berlin
                              street_1: Sonnenallee 63
                              street_2: null
                              zip_code: '12045'
                          teams:
                            - id: 4B9bKBpX5tnwjiG93TAqF7ciX
                              remote_id: '49'
                              name: Customer Success
                              type: TEAM
                          work_location:
                            id: 22st2Ji8XpncEYEak8mvQgQF
                            remote_id: '1348'
                            name: Kombo HQ
                            address:
                              city: Berlin
                              country: DE
                              raw: |-
                                Sonnenallee 63
                                12045 Berlin, Berlin
                                Germany
                              state: Berlin
                              street_1: Sonnenallee 63
                              street_2: null
                              zip_code: '12045'
                            type: OFFICE
                            changed_at: '2022-08-07T14:01:29.196Z'
                            remote_deleted_at: '2022-08-07T14:01:29.196Z'
                            remote_data: null
        '400':
          description: GET /hris/employees Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisEmployeesErrorResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
        '401':
          description: Returned when the authentication header was invalid or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiListEmployeesResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Invalid authorization header!
                example2:
                  value:
                    status: error
                    error:
                      message: Missing authorization header!
        '403':
          description: Returned when the passed integration is inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiListEmployees403Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: >-
                        This integration is inactive. You can only request data
                        from active integrations.
        '404':
          description: Returned when a requested resource is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiListEmployees404Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Integration not found in this environment!
                example2:
                  value:
                    status: error
                    error:
                      message: Property not found!
        '503':
          description: Returned when no sync has finished successfully yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiListEmployees503Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: >-
                        The first sync of this integration didn't finish yet!
                        You can keep polling this until you get a successful
                        response or react to our webhooks.
    post:
      tags:
        - Unified HRIS API
      summary: Create employee
      operationId: UnifiedHrisApi_createEmployee
      description: >-
        Create a new employee.


        <Accordion title="Supported integrations" icon="list-check">

        This feature is currently available for the following integrations:


        <ul>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/personio/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Personio</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/successfactors/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />SAP SuccessFactors</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/factorial/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Factorial</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/bamboohr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />BambooHR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/hibob/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />HiBob</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/remotecom/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Remote</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sagehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Sage HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/humaans/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Humaans</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/gusto/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Gusto</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/breathehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Breathe HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/alexishr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />AlexisHR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/rippling/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Rippling</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/nmbrs/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Nmbrs</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/silae/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Silae</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sandbox/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Kombo Sandbox</li>

        </ul>


        You'd like to see this feature for another integration? Please reach
        out!

        We're always happy to discuss extending our coverage.

        </Accordion>


        <Note>
          This endpoint requires the permission **Create and manage employees** to be enabled in [your scope config](https://api.kombo.dev).
        </Note>


        ### Example Request Body


        ```json

        {
          "first_name": "John",
          "last_name": "Doe",
          "work_email": "john.doe@acme.com",
          "gender": "MALE",
          "job_title": "Integrations Team Lead",
          "home_address": {
            "city": "Berlin",
            "country": "DE",
            "state": "Berlin",
            "street_1": "Sonnenallee 63",
            "zip_code": "12045"
          },
          "date_of_birth": "1986-01-01",
          "start_date": "2020-04-07"
        }

        ```
      parameters:
        - description: ID of the integration you want to interact with.
          in: header
          name: X-Integration-Id
          schema:
            type: string
          example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
          required: true
      requestBody:
        description: POST /hris/employees request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostHrisEmployeesRequestBody'
            examples:
              example1:
                value:
                  first_name: John
                  last_name: Doe
                  work_email: john.doe@acme.com
                  gender: MALE
                  date_of_birth: '1986-01-01'
                  start_date: '2020-04-07'
                  job_title: Integrations Team Lead
                  home_address:
                    city: Berlin
                    country: DE
                    state: Berlin
                    street_1: Sonnenallee 63
                    zip_code: '12045'
      responses:
        '200':
          description: POST /hris/employees Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostHrisEmployeesSuccessfulResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      id: 26vafvWSRmbhNcxJYqjCzuJgX
                      remote_id: '32'
                      employee_number: '3243422'
                      first_name: John
                      last_name: Doe
                      nationality: French
                      display_full_name: John Doe
                      job_title: Integrations Team Lead
                      work_email: john.doe@acme.com
                      personal_email: john@doe.me
                      mobile_phone_number: 801-555-4687
                      ssn: 555-32-6395
                      tax_id: 12 345 678 901
                      gender: MALE
                      ethnicity: BLACK_AFRICAN_AMERICAN
                      marital_status: MARRIED
                      employment_status: INACTIVE
                      employment_type: FULL_TIME
                      weekly_hours: 40
                      avatar: >-
                        https://resources.bamboohr.com/images/photo_person_150x150.png
                      work_location_id: 7E2gyuv6TmvtByzBxW9Sxt53
                      legal_entity_id: xB32bied320csBSsl3XWdlw33
                      manager_id: 9pf2pxBB8VX8EQMC9aipW2Bo
                      home_address:
                        city: Berlin
                        country: DE
                        raw: |-
                          Sonnenallee 63
                          12045 Berlin
                          Germany
                        state: Berlin
                        street_1: Sonnenallee 63
                        street_2: null
                        zip_code: '12045'
                      bank_accounts:
                        - account_number: '1234567890'
                          bank_name: Commerzbank
                          bic: COBADEFFXXX
                          domestic_bank_routing:
                            number: '34567890'
                            type: DE_BANKLEITZAHL
                          holder_name: John Doe
                          iban: DE12345678901234567890
                      date_of_birth: '1986-01-01T00:00:00.000Z'
                      start_date: '2020-04-07T00:00:00.000Z'
                      termination_date: '2022-05-20T00:00:00.000Z'
                      remote_created_at: '2020-04-07T12:32:01.000Z'
                      changed_at: '2022-08-07T14:01:29.196Z'
                      remote_deleted_at: null
                      custom_fields: {}
                      remote_data: null
        '400':
          description: POST /hris/employees Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostHrisEmployeesErrorResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
        '401':
          description: Returned when the authentication header was invalid or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiCreateEmployeeResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Invalid authorization header!
                example2:
                  value:
                    status: error
                    error:
                      message: Missing authorization header!
        '403':
          description: Returned when the passed integration is inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiCreateEmployee403Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: >-
                        This integration is inactive. You can only request data
                        from active integrations.
        '404':
          description: Returned when a requested resource is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiCreateEmployee404Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Integration not found in this environment!
                example2:
                  value:
                    status: error
                    error:
                      message: Property not found!
        '503':
          description: Returned when no sync has finished successfully yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiCreateEmployee503Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: >-
                        The first sync of this integration didn't finish yet!
                        You can keep polling this until you get a successful
                        response or react to our webhooks.
  /hris/employees/{employee_id}:
    patch:
      tags:
        - Unified HRIS API
      summary: Update employee
      operationId: UnifiedHrisApi_updateEmployee
      description: >-
        Update an employee.


        <Accordion title="Supported integrations" icon="list-check">

        This feature is currently available for the following integrations:


        <ul>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/silae/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Silae</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/datev/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />DATEV LODAS</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/datevlug/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />DATEV Lohn & Gehalt</li>

        </ul>


        You'd like to see this feature for another integration? Please reach
        out!

        We're always happy to discuss extending our coverage.

        </Accordion>


        <Note>
          This endpoint requires the permission **Create and manage employees** to be enabled in [your scope config](https://api.kombo.dev).
        </Note>


        ### Example Request Body


        ```json

        {
          "employee_id": "BkgfzSr5muN9cUTMD4wDQFn4",
          "first_name": "John",
          "last_name": "Doe",
          "work_email": "john.doe@acme.com",
          "ssn": "555-32-6395",
          "tax_id": "12 345 678 901",
          "gender": "MALE",
          "marital_status": "MARRIED",
          "date_of_birth": "1986-01-01",
          "start_date": "2020-04-07",
          "termination_date": "2022-05-20",
          "job_title": "Integrations Team Lead",
          "nationality": "DE",
          "home_address": {
            "city": "Berlin",
            "country": "DE",
            "state": "Berlin",
            "street_1": "Sonnenallee 63",
            "zip_code": "12045"
          }
        }

        ```
      parameters:
        - description: ID of the integration you want to interact with.
          in: header
          name: X-Integration-Id
          schema:
            type: string
          example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
          required: true
        - description: >-
            ID of the employee that should be updated. You can use their Kombo
            `id` or their ID in the remote system by prefixing it with `remote:`
            (e.g., `remote:12312`)
          name: employee_id
          in: path
          required: true
          schema:
            $ref: >-
              #/components/schemas/PatchHrisEmployeesEmployeeIdParameterEmployeeId
          examples:
            example1:
              value: BkgfzSr5muN9cUTMD4wDQFn4
      requestBody:
        description: PATCH /hris/employees/:employee_id request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchHrisEmployeesEmployeeIdRequestBody'
            examples:
              example1:
                value:
                  first_name: John
                  last_name: Doe
                  work_email: john.doe@acme.com
                  ssn: 555-32-6395
                  tax_id: 12 345 678 901
                  gender: MALE
                  marital_status: MARRIED
                  date_of_birth: '1986-01-01'
                  start_date: '2020-04-07'
                  termination_date: '2022-05-20'
                  job_title: Integrations Team Lead
                  nationality: DE
                  home_address:
                    city: Berlin
                    country: DE
                    state: Berlin
                    street_1: Sonnenallee 63
                    zip_code: '12045'
      responses:
        '200':
          description: PATCH /hris/employees/:employee_id Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PatchHrisEmployeesEmployeeIdSuccessfulResponse
              examples:
                example1:
                  value:
                    status: success
                    data:
                      id: 26vafvWSRmbhNcxJYqjCzuJgX
                      remote_id: '32'
                      employee_number: '3243422'
                      first_name: John
                      last_name: Doe
                      nationality: French
                      display_full_name: John Doe
                      job_title: Integrations Team Lead
                      work_email: john.doe@acme.com
                      personal_email: john@doe.me
                      mobile_phone_number: 801-555-4687
                      ssn: 555-32-6395
                      tax_id: 12 345 678 901
                      gender: MALE
                      ethnicity: BLACK_AFRICAN_AMERICAN
                      marital_status: MARRIED
                      employment_status: INACTIVE
                      employment_type: FULL_TIME
                      weekly_hours: 40
                      avatar: >-
                        https://resources.bamboohr.com/images/photo_person_150x150.png
                      work_location_id: 7E2gyuv6TmvtByzBxW9Sxt53
                      legal_entity_id: xB32bied320csBSsl3XWdlw33
                      manager_id: 9pf2pxBB8VX8EQMC9aipW2Bo
                      home_address:
                        city: Berlin
                        country: DE
                        raw: |-
                          Sonnenallee 63
                          12045 Berlin
                          Germany
                        state: Berlin
                        street_1: Sonnenallee 63
                        street_2: null
                        zip_code: '12045'
                      bank_accounts:
                        - account_number: '1234567890'
                          bank_name: Commerzbank
                          bic: COBADEFFXXX
                          domestic_bank_routing:
                            number: '34567890'
                            type: DE_BANKLEITZAHL
                          holder_name: John Doe
                          iban: DE12345678901234567890
                      date_of_birth: '1986-01-01T00:00:00.000Z'
                      start_date: '2020-04-07T00:00:00.000Z'
                      termination_date: '2022-05-20T00:00:00.000Z'
                      remote_created_at: '2020-04-07T12:32:01.000Z'
                      changed_at: '2022-08-07T14:01:29.196Z'
                      remote_deleted_at: null
                      custom_fields: {}
                      remote_data: null
        '400':
          description: PATCH /hris/employees/:employee_id Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchHrisEmployeesEmployeeIdErrorResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
        '401':
          description: Returned when the authentication header was invalid or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiUpdateEmployeeResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Invalid authorization header!
                example2:
                  value:
                    status: error
                    error:
                      message: Missing authorization header!
        '403':
          description: Returned when the passed integration is inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiUpdateEmployee403Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: >-
                        This integration is inactive. You can only request data
                        from active integrations.
        '404':
          description: Returned when a requested resource is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiUpdateEmployee404Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Integration not found in this environment!
                example2:
                  value:
                    status: error
                    error:
                      message: Property not found!
        '503':
          description: Returned when no sync has finished successfully yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiUpdateEmployee503Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: >-
                        The first sync of this integration didn't finish yet!
                        You can keep polling this until you get a successful
                        response or react to our webhooks.
  /hris/employees/{employee_id}/attachments:
    post:
      tags:
        - Unified HRIS API
      summary: Add attachment to employees 🦄
      operationId: UnifiedHrisApi_addAttachmentToEmployees
      description: >-
        Currently in closed beta.

        <Warning>**This endpoint is currently in closed beta!** We're testing it
        with selected customers before its public release. If you're interested
        in learning more or getting early access, please reach out.</Warning>
      parameters:
        - description: ID of the integration you want to interact with.
          in: header
          name: X-Integration-Id
          schema:
            type: string
          example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
          required: true
        - description: POST /hris/employees/:employee_id/attachments parameter
          name: employee_id
          in: path
          required: true
          schema:
            $ref: >-
              #/components/schemas/PostHrisEmployeesEmployeeIdAttachmentsParameterEmployeeId
      requestBody:
        description: POST /hris/employees/:employee_id/attachments request body
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostHrisEmployeesEmployeeIdAttachmentsRequestBody
      responses:
        '200':
          description: POST /hris/employees/:employee_id/attachments Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostHrisEmployeesEmployeeIdAttachmentsSuccessfulResponse
        '400':
          description: POST /hris/employees/:employee_id/attachments Error response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostHrisEmployeesEmployeeIdAttachmentsErrorResponse
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
  /hris/teams:
    get:
      tags:
        - Unified HRIS API
      summary: Get teams (deprecated)
      operationId: UnifiedHrisApi_listTeams
      description: >-
        Get the teams.


        <Accordion title="Supported integrations" icon="list-check">

        This feature is currently available for the following integrations:


        <ul>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/personio/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Personio</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/workday/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Workday</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/workdaycustomreport/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Workday Custom Reports</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/workdaycustomreportsftp/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Workday Custom Report SFTP</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/successfactors/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />SAP SuccessFactors</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/factorial/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Factorial</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/ukgpro/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />UKG Pro</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/rexx/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />rexx systems</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/afas/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />AFAS Software</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/bamboohr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />BambooHR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/payfit/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />PayFit</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/kenjo/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Kenjo</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/heavenhr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />HeavenHR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/hibob/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />HiBob</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/cezannehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Cezanne HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/entraid/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Entra ID</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/azuread/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Azure AD</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/googleworkspace/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Google Workspace</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/deel/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Deel</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/okta/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Okta</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sagehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Sage HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/humaans/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Humaans</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/eurecia/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Eurécia</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/oraclehcm/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Oracle HCM</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/officient/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Officient</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sesamehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Sesame HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/charliehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Charlie</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/hrworks/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />HRworks</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/abacus/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Abacus</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/zohopeople/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Zoho People</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/gusto/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Gusto</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/breathehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Breathe HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/mirus/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Mirus</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/alexishr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />AlexisHR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/rippling/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Rippling</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sapling/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Sapling</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/nmbrs/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Nmbrs</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/peoplehr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />PeopleHR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/lucca/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Lucca</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/zelt/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Zelt</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/planday/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Planday</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/haileyhr/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Hailey HR</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/silae/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Silae</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/iriscascade/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />IRIS Cascade</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sandbox/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />Kombo Sandbox</li>

        <li class="flex items-center"><img
          src="https://storage.googleapis.com/kombo-assets/integrations/sftp/icon.svg"
          height="16px"
          width="16px"
          class="m-0 mr-2"
        />SFTP</li>

        </ul>


        You'd like to see this feature for another integration? Please reach
        out!

        We're always happy to discuss extending our coverage.

        </Accordion>


        <Warning>
              **This endpoint is deprecated!**

              Please use [the `/groups` endpoint](https://api.kombo.dev) instead. It returns the same data but the naming makes more sense as the model not only includes teams but also departments and cost centers..
            </Warning>

        Top level filters use AND, while individual filters use OR if they
        accept multiple arguments. That means filters will be resolved like
        this: `(id IN ids) AND (remote_id IN remote_ids)`
      parameters:
        - description: ID of the integration you want to interact with.
          in: header
          name: X-Integration-Id
          schema:
            type: string
          example: bamboohr:HWUTwvyx2wLoSUHphiWVrp28
          required: true
        - description: >-
            An optional cursor string used for pagination. This can be retrieved
            from the `next` property of the previous page response.
          name: cursor
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisTeamsParameterCursor'
        - description: The number of results to return per page.
          name: page_size
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisTeamsParameterPageSize'
        - description: >-
            Filter the entries based on the modification date in format
            YYYY-MM-DDTHH:mm:ss.sssZ. If you want to track entry deletion, also
            set the `include_deleted=true` query parameter, because otherwise,
            deleted entries will be hidden.
          name: updated_after
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisTeamsParameterUpdatedAfter'
        - description: >-
            By default, deleted entries are not returned. Use the
            `include_deleted` query param to include deleted entries too.
          name: include_deleted
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisTeamsParameterIncludeDeleted'
        - description: >-
            Filter by a comma-separated list of IDs such as
            `222k7eCGyUdgt2JWZDNnkDs3,B5DVmypWENfU6eMe6gYDyJG3`. Those IDs are
            validated to be 24 characters long and to exist for this integration
            in the database. If any of the IDs are don't exist, the endpoint
            will return a 404 error.
          name: ids
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisTeamsParameterIds'
        - description: Filter by a comma-separated list of remote IDs.
          name: remote_ids
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/GetHrisTeamsParameterRemoteIds'
      responses:
        '200':
          description: GET /hris/teams Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisTeamsSuccessfulResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      next: >-
                        eyJwYWdlIjoxMiwibm90ZSI6InRoaXMgaXMganVzdCBhbiBleGFtcGxlIGFuZCBub3QgcmVwcmVzZW50YXRpdmUgZm9yIGEgcmVhbCBjdXJzb3IhIn0=
                      results:
                        - id: 4B9bKBpX5tnwjiG93TAqF7ciX
                          remote_id: '49'
                          name: Customer Success
                          changed_at: '2022-08-07T14:01:29.196Z'
                          remote_deleted_at: null
                          type: TEAM
                          parent_id: KGaJ5XaVPob8mYVfD49W4DGB
                          remote_data: null
        '400':
          description: GET /hris/teams Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHrisTeamsErrorResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
        '401':
          description: Returned when the authentication header was invalid or missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiListTeamsResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Invalid authorization header!
                example2:
                  value:
                    status: error
                    error:
                      message: Missing authorization header!
        '403':
          description: Returned when the passed integration is inactive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedHrisApiListTeams403Response'
              examples:
                example1:
                  value:
                    status: error
                    error:
[...]
