openapi: 3.0.3
info:
  title: MeasureOne API
  description: >-
    Automate your business workflows and lower your costs with MeasureOne, the
    most comprehensive and accurate platform for income, employment, education,
    insurance verification, and more. Benefit from unmatched scale with 10,000+
    data sources, breakthrough processing speeds, and best-in-class
    consumer-permissioned data and document upload workflows for optimal
    conversion. MeasureOne is committed to protecting customer data and
    maintains the highest security standards, including SOC2 compliance. With a
    variety of integration options from no-code to a universal API, your data
    needs are covered. For more information, visit measureone.com.
  version: '3.0'
  termsOfService: https://www.measureone.com/terms-of-service
  contact:
    email: support@measureone.com
  x-logo:
    url: >-
      https://www.measureone.com/hubfs/assets/images/logos/measure-one-logo-on-light@2x.png
    backgroundColor: rgba(0,0,0,0)
    altText: MeasureOne logo
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Production
    url: https://api.measureone.com
  - description: Staging
    url: https://api-stg.measureone.com
tags:
  - description: >
      A consumer-permissioned data workflow is initiated and defined by the Data
      Request resource.   A Data Request specifies or bind together the various
      elements of a consumer-permissioned data workflow, in particular: the
      Individual, the type of data requested, the reports to be generated, the
      Link experience, optional Individual communication and messaging.   The
      consumer experience powered by [MeasureOne
      Link](https://docs.measureone.com) is specified by the required
      `datarequest_id`. MeasureOne supports multiple types of data requests
      catering to different use cases. All services accept `datarequest_id` as a
      reference.
    name: Data Requests
    x-displayName: Data Requests
  - description: >
      Items are the resource representing data shared by Individuals with
      MeasureOne.   The underlying document of an Item is called *source data* 
      These can be college transcripts, pay stubs, real estate titles, etc.  
      Items are stored and information from them can be retrieved through the
      Service API calls.   The information in an Item is shared through the
      Service APIs according to the consumer permission.   Importantly, note
      that unless permissioned by the Individual, the Item data may not be
      shared directly with you.
    name: Items
  - name: Education
  - description: >
      <div class="alert alert-warning" role="alert">
        The Invitations resource is deprecated. Use <strong>/datarequests/</strong> resource to generate a link and /datarequests/notify_user to send the communication to the Individual
        
      </div>


      MeasureOne offers a framework for initiating the consumer-permissioned
      data exchange using automatically generated invitations.    These
      invitations contain unique links that refer the user back to the
      MeasureOne hosted portal in a personalized manner to initiate and complete
      the consumer-permissioned data exchange.     These API endpoints provide a
      programmatic interface to this framework.   Note that a zero code
      alternative to a programmatic implementation is to use the MeasureOne
      Customer Dashboard to interface with the Invitations framework.
    name: Invitations
  - description: >
      MeasureOne authenticates your API requests using access tokens. If you do
      not include the `access_token` when making a request, MeasureOne returns
      an authentication error. 

      To gain access to the MeasureOne API, reach out to us on
      sales@measureone.com. Once you’ve completed the signup process, we’ll
      provide a live `client_id` & `secret` for use in our API.


      You can access our APIs using Access Tokens Or Public Tokens. The Public
      Tokens are short lived with limited scope while Access Tokens are long
      lived. 


      ## Access Tokens

      Access Tokens are long-lived tokens that give you access to the MeasureOne
      infrastructure for your account. 

        **Access tokens should be used only from your own server side applications.**



      ## Public Tokens


      Public tokens are short-lived tokens with defined `scope` and `policy`. 

      The scope indicates the resources and endpoints you can access using these
      tokens while policy indicates the data you can access using the APIs.


      MeasureOne APIs will return a 401 error if the public token is used for
      scope or policy that is different from the token's scope and policy.


      **For example**, if you create a public token for policy having
      **individual_id** `idv_293241AAjy2EZt3R` and if you try to invoke
      /individuals/get_by_id for another individual, it will return a 401 error.


      The table below defines the currently supported scope.





      |API Endpoint|WIDGET|GLOBAL

      |--- |--- |--- |

      |/individuals/new|YES|YES

      |/individuals/get_by_id  |YES|YES      

      |/individuals/get_items|YES|YES

      |/datarequests/new|YES|YES

      |/datarequests/update|YES|YES

      |/datarequests/get|YES|YES

      |/datarequests/get_by_id|YES|YES

      |/datarequests/generate_invitation_link|YES|YES

      |/datarequests/notify_user|YES|YES

      |/datarequests/get_invitation_link|YES|YES

      |/datarequests/expire_invitation_link|YES|YES

      |/datasources/get|YES|YES      

      |/items/new|YES|YES

      |/items/upload|YES|YES

      |/items/get_by_id|YES|YES

      |/items/get_files|YES|YES

      |/items/get_pdf|YES|YES

      |/services/get_academic_summary|NO|YES

      |/services/get_enrollment_status|NO|YES

      |/services/gradscore|NO|YES

      |/services/meritscore|NO|YES

      |/services/get_digest_by_id|NO|YES

      |/services/get_employment_summary|NO|YES

      |/services/get_income_summary|NO|YES

      |/services/get_income_employment_details|NO|YES

      |/services/get_insurance_details|NO|YES

      |/services/get_realized_gains|NO|YES
    name: API Keys and Access
  - description: >-
      The Individual is a core resource that represents your user.   At the
      start of the workflow an Individual representing the user must be
      created.   Retrieved Items are associated with the Individual.    Almost
      all Service APIs take the Individual ID as a reference.
    name: Individuals
  - name: Income & Employment
  - description: >

      <a id='datasources'></a> Data Sources are online locations of Items.  
      Individuals (your users) connect Data Sources and provide MeasureOne with
      their credentials and consent so that MeasureOne may retrieve Items (their
      data) from the Data Source to be subsequently shared with you in a
      strictly permissioned way.    


      Data Sources may be universities, financial institutions, payroll systems,
      government records.    MeasureOne curates the list of Data Sources to
      ensure the provenance of the retrieved documents.   Since not all Data
      Sources may be relevant to your application, the API allows you to
      configure and select the list of Data Sources that are displayed to your
      user.
    name: Datasources
    x-displayName: Data Sources
  - name: Checkcodes
  - name: Insurance
  - name: Tax Records
  - description: >

      MeasureOne offers a secure, API-based platform to power
      consumer-permissioned data sharing,  providing a safe and transparent way
      for consumers to share data with third-party applications.


      The MeasureOne platform acts as a bridge between data sources containing
      the consumer's personal data and data recipients.  Data sources are online
      systems that house the data to be shared and that are accessible to the
      consumer.   Example data sources are academic institutions, payroll
      processors, utility providers government systems and others.  Data
      recipients are any third-party that the consumer wishes to share
      information with, often in return for a product or service that the data
      recipient is offering.   Example recipients are lenders, marketeers,
      background check companies, employers,  recruiters, and others.


      The MeasureOne API allows you as a data recipient to integrate
      consumer-permissioned data into your workflows.   It does so by
      facilitating consent, access, acquisition, and delivery of your users'
      permissioned data.    In the basic workflow of consumer-permissioned
      sharing is as follows.   First, your users provide their consent to
      Measure one to share specific personal information with you.  They then
      share their credentials with MeasureOne providing access to data -- called
      "source data" -- that provides the information that they have consented to
      share with you.  MeasureOne uses these credentials to connect that data
      source to its platform, access and acquire the source data.    MeasureOne
      then provides access to this source data through a set of service APIs.   


      There are several benefits to using the MeasureOne API.   Our API hides
      the complexity involved in the consumer-permissioning workflow behind a
      simple straighforward API so that you can focus on your application and
      customer experience.    We handle user credentials so you don't have to. 
      We handle consents from the user and ensure that you only receive access
      to the consented information, freeing you from the need to worry about
      accessing consumer information improperly.   We also provide guarantees to
      your user that we will not share information outside the scope of their
      consent.    This provides you with the opportunity to have your users
      share information with you that otherwise would not be accessible. 
      Finally,  MeasureOne ensures the provenance of the shared data.   The data
      is shared by the user, with their explicit consent, but without any
      ability to modify or tamper with it.


      The current 3.0 version is not backward compatible with version 2.0.   If
      you are a 2.0 user, please see our [Migration
      Guide](https://docs.measureone.com).
    name: Introduction
  - description: >

      This section gives you some brief use cases for using the API in your
      workflow. For complete details, please see the full documentation. 



      ### Income or Employment Verification


      Extracting income information from paystubs, 1099 or other income-related
      documents provides you with a comprehensive solution to assessing your
      user's income.



      ### Home and Auto Insurance Policy Verification or Quoting


      By facilitating the sharing of home and auto insurance policies,
      MeasureOne enables customers to verify insurance information during auto
      and home transactions or provide detailed policy information for
      comparative quoting purposes.



      ### Academic qualification, history or enrollment status assessment


      MeasureOne supports acquisition and processing of academic documents.  By
      connecting the user's academic institution to our platform, MeasureOne
      uses the shared transcripts and other educational data to provide an
      assessment or verification of educational data.  This includes  academic
      history, degree verification, student enrollment status or other similar
      data.   



      ### Identity and Fraud Detection


      By leveraging multiple items of consumer-permissioned data, MeasureOne
      provides unique opportunities to customers to establish identity and
      protect against fraud.



      ### Alternative Data Financial Underwriting

        MeasureOne's MeritScore is a proprietary predictive analytic that correlates credit performance with academic data.    Using consumer-permissioned transcripts, MeasureOne provides a score that correlates the user's academic performance to credit default risk.   This both reduces risk for the lender while opening up new credit opportunities for young borrowers.
    name: Sample Use cases
  - description: >

      MeasureOne has four core resources. These resources help you seamlessly
      integrate consumer-permissioned-data workflow into your applications. 


      ### Individual


      The Individual is your end user/consumer whom you are requesting to share
      data or information with you as part of your application.   In a typical
      implementation, ths Individual is directed to MeasureOne through an
      invitation initiated from your application or the MeasureOne Dashboard.  
      MeasureOne then interacts with the Individual to complete the
      consumers-permissioned data sharing workflow and shares the accessed
      Individual data with you, either directly with your application or through
      the MeasureOne Dashboard. 


      ### Data Requests


      A consumer-permissioned data workflow is initiated and defined by the Data
      Request resource.   A Data Request specifies or bind together the various
      elements of a consumer-permissioned data workflow, in particular: the
      Individual, the type of data requested, the reports to be generated, the
      Link experience, optional Individual communication and messaging.   

        The following table specifies the supported Data Request types.   Based on the Data Request type, MeasureOne tailors the consumer-permissioned 
        workflow to satisfy the indicated request for data.   

        | Data Request Type | Description                                             | 
        |-------------------|---------------------------------------------------------
        | ACADEMIC_SUMMARY  | Request the education summary of the Individual
        | ENROLLMENT_STATUS | Request the enrollment status of the Individual
        | EMPLOYMENT_SUMMARY| Request the employment summary of the Individual
        | INCOME_SUMMARY    | Request the income summary for the Individual
        | INCOME_EMPLOYMENT_DETAILS | Request the VOIE details of the Individual
        | HOME_INSURANCE_DETAILS | Request the Home insurance details of the individuals
        | AUTO_INSURANCE_DETAILS | Request the Auto insurance details of the individuals
        | REALIZED_GAINS    | Request 1099-B information from the Individual's brokerage account

      ### Items 

        Individuals permission access to documents online for your stated business purpose.   The permissioned documents that MeasureOne accesses and acquires are called *Items*.   Items can be in any format -- HTML, PDF, XML, JSON, etc.   Once the Item is acquired, it is parsed stored.  To enforce the permissions on the Item data,  access to the information in the Items is available solely through [Service APIs](https://docs.measureone.com).    This separation of the Item data from the Service APIs limits the scope of information to just what the Individual has authorized to share, independent of the underlying Item data used to generate it.   This ensures that you receive only the permissioned data and that the Individual's privacy is protected.


      ### Datasources

        The online location of Items is called a *Data Source*.  Data Sources are typically online accounts that are owned by the Individual.   The Individual gives explicit consent to MeasureOne to access their Data Source account and retrieve the Items necessary to fulfill your Data Request.
    name: key_concepts
    x-displayName: Core Resources
  - description: >

      The diagram below depicts a simple integration flow with MeasureOne.


      ![Simple_Integration_Flow_Diagram](https://api.redocly.com/registry/assets/measureone/external/v3/mermaid_chart_v2.png?branch=master)
    name: how_it_works
    x-displayName: How it works
  - description: >
      The current major version of the MeasureOne API is 3.0, and is passed in
      the API path as a `/v3` prefix.   The current 3.0 API version is
      `20210117` and is passed as a request header while calling the API. If no
      version number is specified in the request header, the API will default to
      the version that was live when you first signed up for MeasureOne API
      keys. 

      We periodically release changes to our APIs. While we try to remain
      backward compatible, changes in our API may result in changes to the data
      or schema structures exposed in the current version.
    name: Versioning
  - description: >
      ### Protocols & Header Parameters

      Unless specified otherwise, the MeasureOne API uses POST requests to
      communicate and HTTP [response codes](https://docs.measureone.com) to
      indicate status and errors. Unless explicitly specified, all responses
      come in standard JSON, and all requests must include a Content-Type of
      `application/json` with a valid JSON body.


      |Header Parameters|Values|

      |--- |--- |

      |Authorization|bearer <YOUR_API_KEY>|

      |Content-Type|application/json|

      |version|




      ### Environments 

      MeasureOne provides two API environments:

        |Environment|URL|
        |--- |--- |
        |Staging|https://api-stg.measureone.com/v3/|
        |Production|https://api.measureone.com/v3/|      
    name: API Host and Protocols
  - description: >

      <a id='status-codes'></a>


      #### 2xx Success


      A 2xx status code indicates the request was received and processed
      successfully.


      |Status code|Description|

      |--- |--- |

      |200|OK - The request is successful|

      |201|ACCEPTED - The request is successful and has been accepted for
      further processing. You will receive a    notification once the request
      has completed.|



      </br>


      #### 4xx Client Errors


      A 4xx status code indicates that the request failed due to a client error.
      The response body generally includes more details about the failure.


      |Status code|Description|

      |--- |--- |

      |400|**Bad Request** - The request failed. This will usually occur when
      validations fail. E.g Missing required fields or invalid JSON|




      #### 5xx Server Errors


      A 5xx status codes is returned if something goes wrong on MeasureOne's end


      |Status code|Description|

      |--- |--- |

      |500|Internal Server Error - Something has gone wrong on MeasureOne's end
      while attempting to process the request. Our engineering team has been
      notified of the issue.|
    name: Status Codes
  - description: >


      This section gives you the list of all endpoints exposed by MeasureOne to
      integrate into your application workflow. For complete details, please see
      the full documentation. Unless specified otherwise, all the endpoints
      require `access_token` in the header for authorization. 
        
        
        |Resource|Endpoint|Description|
        |--- |--- |--- |
        |Authentication|/auth/generate_access_token|Generates an access token|
        |Authentication|/auth/invalidate|Invalidates an access token|
        |Authentication|/auth/generate_public_token|Generates a public token|
        |Individuals|/individuals/new|Create a new individual|
        |Individuals|/individuals/get_by_id|Get details of an Individual|        
        |Individuals|/individuals/get_items|Get list of items created for an Individual|
        |Data Requests|/datarequests/new|Create a new Data Request
        |Data Requests|/datarequests/update|Update Data Request
        |Data Requests|/datarequests/get|Get or search Data Requests
        |Data Requests|/datarequests/get_by_id|Get details of a Data Request
        |Data Requests|/datarequests/generate_invitation_link|Generate an invitation link for Data Request
        |Data Requests|/datarequests/notify_user|Send invitation to the user to complete the Data Request
        |Data Requests|/datarequests/get_invitation_link|Get details of an invitation link generated for the Data Request 
        |Data Requests|/datarequests/expire_invitation_link|Expire the invitation link for Data Request
        |Data Sources|/datasources/get| Get or search Data Sources
        |Items|/items/new|Create a new item|
        |Items|/items/upload|Upload item document|
        |Items|/items/get_by_id|Upload item document|
        |Items|/items/get_files|Download the items uploaded via `/items/upload` API|
        |Items|/items/get_pdf|Download the items as PDF document|
        |Services|/services/get_academic_summary|Get the academic summary for an Individual|
        |Services|/services/get_enrollment_status|Get the enrollment status for an Individual|
        |Services|/services/gradscore|Get the Gradscore for a transcript|
        |Services|/services/meritscore|Get the MeritScore for a transcript|
        |Services|/services/get_digest_by_id|Get the Digest for a transcript|
        |Services|/services/get_employment_summary|Get the employment summary for an Individual|
        |Services|/services/get_income_summary|Get the income summary for an Individual|
        |Services|/services/get_income_employment_details|Get the income employment details (VOIE) for an Individual|
        |Services|/services/get_insurance_details|Get the insurance details for an Individual|
        |Services|/services/get_realized_gains|Get the realized gains for a brokerage account|
    name: Endpoints
  - description: >



      Many of MeasureOne APIs are asynchronous in nature. Client applications
      integrating MeasureOne API are required to expose endpoints for MeasureOne
      to send the [Webhook Notifications](https://docs.measureone.com).

      The diagram below depicts how the asynchronous communication will work. 
      APIs having Asynchronous communication may also send a synchronous
      response if the response is readily available.




      ![AsynchronousProcessing](https://api.redocly.com/registry/assets/measureone/external/v3/asynch_processing.png?branch=master)      



      The table below depicts the APIs that require clients to provision
      endpoints for asynchronous communication.
        
        |Resource|Endpoint|Asynchronous|
        |--- |--- |--- |
        |Authentication|/auth/generate_access_token|No|
        |Authentication|/auth/invalidate|No|
        |Authentication|/auth/generate_public_token|No|
        |Individuals|/individuals/new|No|
        |Individuals|/individuals/get_by_id|No|
        |Individuals|/individuals/get_items|No|
        |Data Requests|/datarequests/new|No|
        |Data Requests|/datarequests/update|No|
        |Data Requests|/datarequests/get|No|
        |Data Requests|/datarequests/get_by_id|No|
        |Data Requests|/datarequests/generate_invitation_link|No|
        |Data Requests|/datarequests/notify_user|No|
        |Data Requests|/datarequests/get_invitation_link|No|
        |Data Requests|/datarequests/expire_invitation_link|No|
        |Data Sources|/datasources/get|No|
        |Items|/items/new|No|
        |Items|/items/upload|No|
        |Items|/items/get_by_id|Yes|
        |Items|/items/get_files|No|
        |Items|/items/get_pdf|No|
        |Services|/services/get_academic_summary|Yes|
        |Services|/services/get_enrollment_status|Yes|
        |Services|/services/gradscore|Yes|
        |Services|/services/meritscore|Yes|
        |Services|/services/get_digest_by_id|Yes|
        |Services|/services/get_employment_summary|Yes|
        |Services|/services/get_income_summary|Yes|
        |Services|/services/get_income_employment_details|Yes|
        |Services|/services/get_insurance_details|Yes|
        |Services|/services/get_realized_gains|Yes|
    name: AsynchronousCommunication
    x-displayName: Asynchronous Communication
  - description: >

      MeasureOne Link is a front-end component that provides you all the
      capabilities necessary to initiate the the consumer-permissioning workflow
      for your users.  It enables your users to permit your application to
      access their data in a consumer-permissioned manner.



      Link handles the consent, the data source identification, the credential
      collection, and the integration with the MeasureOne platform to access and
      acquire the consumer-permissioned data. It handles a variety of
      authentication mechanisms including multi-factor authentication and offers
      various configuration options to tailor the UI to your application. 


      As an alternative to the embedded widget, MeasureOne supports hosted
      solutions of Link, providing no-code options for your integrations. 
      Please login to the [Dashboard](https://dashboard.measureone.com) for more
      details.


      ![Link](https://api.redocly.com/registry/assets/measureone/external/v3/widget3.2.png?branch=master)
    name: LinkIntroduction
    x-displayName: Introduction
  - description: >

      Integration of Link is done using a small snippet of javascript that can
      be displayed in any part of your application. 


      Widget integration requires the `m1-link` tag and a set of [configuration
      options](https://docs.measureone.com) as shown in the sample configuration
      JSON.


      Link raises [events](https://docs.measureone.com) for various user actions
      that your application can subscribe to. In addition to these events, the
      MeasureOne platform communicates with the client application via
      [webhooks](https://docs.measureone.com). 


      The LINK javascript is available at the links below

        |Environment|Link|
        |--- |--- |
        |Staging|https://api-stg.measureone.com/v3/js/m1-link-2021042000.js|
        |Production|To enable the LINK widget in production, reach out to us at support@measureone.com|

        The source code sample below shows how to integrate MeasureOne Link widget into your front-end using plain vanilla javascript


        ### Integrating MeasureOne Link Widget
      ```html
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title> YOUR TITLE HERE </title>
            <script src="https://api-stg.measureone.com/v3/js/m1-link-2021042000.js"></script> 
        </head>
        <body>
          <h1>YOUR TITLE HERE</h1>
          <div>
            <m1-link></m1-link>
          
          <script>
            var config = {
                access_key: "<<YOUR_ACCESS_TOKEN>>",
                host_name: "api-stg.measureone.com",
                datarequest_id: "dr_1faOM8Q4efEWIjzdE2SBM2kLq4O",
                branding: {
                    styles: {
                        primary_dark: "#186793",
                        primary_light: "#2e9ccb",
                        secondary_color: "#ffffff",
                        min_height: "700px"
                    }
                },
                options: {
                    "display_profile": false
                }
            }
                    
            // Take reference to widget
            const m1_widget = document.querySelector("m1-link");
            
            // Add configuration
            m1_widget.setAttribute("config", JSON.stringify(config));

            // Add event listeners
            m1_widget.addEventListener('datasourceConnected',(event)=>{
                // Perform operation on datasourceConnected event. 
                console.log(event);
                //hide or destroy the widget once connected
            });
          </script>
        </body>
      </html>

      ```
    name: Integration
  - description: >


      Events are triggered based on user activity in the widget. These events
      provide information to you to enhance the experience within your
      application.   The following table provides the details of supported
      Action Events.

      Each Action Event may have additional data that provides additional
      context for the event.  The following sections describe various events
      generated by the MeasureOne Link widget
    name: Events
  - description: >
      The configuration attribute of the LINK Widget is a JSON Object as
      described below

      <SchemaDefinition schemaRef="#/components/schemas/WIDGET_CONFIG" />
    name: Configuration
  - description: >-
      The school resource provided by MeasureOne helps in integrating various
      functionalities around transcript processing with your application flow. 
      MeasureOne maintains the latest list of schools, their access information,
      and meta-data that you can seamlessly integrate. This resource is
      deprecated. Please refer to [DataSources](https://docs.measureone.com)
    name: Schools
  - description: >

      MeasureOne provides a robust document processing infrastructure for items
      acquired through consumer-permissions.  To process a document you need
      create an item using `/items/new` endpoint. Once an item is created, you
      can call the `/items/get_by_id` to get the digital version of the
      document. Below are the data types for each source data type supported by
      MeasureOne
    name: Document Processing Introduction
    x-displayName: Introduction
  - description: Score a transcript and perform advanced analytics
    name: Analytics
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/M1_TRANSCRIPT" />
    name: m1_transcript_model
    x-displayName: M1_ACADEMIC_RECORD
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/M1_DIGEST" />
    name: m1_digest_model
    x-displayName: M1_DIGEST
  - description: >
      <SchemaDefinition
      schemaRef="#/components/schemas/M1_INCOME_EMPLOYMENT_RECORD" /> 
    name: m1_income_employment_record
    x-displayName: M1_INCOME_EMPLOYMENT_RECORD
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/M1_INSURANCE_RECORD" />
    name: m1_insurance_record
    x-displayName: M1_INSURANCE_RECORD
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/M1_STUDENT_ID_RECORD" />
    name: m1_student_id
    x-displayName: M1_STUDENT_ID_RECORD
  - description: >

      MeasureOne uses webhooks to notify client applications of certain events.
      Whenever a notification event occurs we'll submit a POST to your
      designated webhook URL with information about the event. The webhook URL
      is configured as part of the onboarding process. You can also provide the
      webhook details while creating a Data Request
    name: webhooks
    x-displayName: Webhook Events
  - description: >-
      To acknowledge receipt of a webhook, your endpoint should return a 2xx
      HTTP status code. Any other information returned in the response headers
      or response body is ignored.
    name: responding_to_webhooks
    x-displayName: Responding to Webhooks
  - description: >
      MeasureOne's webhook supports JWT and Basic method authorization.  The API
      key configured during the setup of the webhook in the customer onboarding
      process, will be present in the `Authorization` header.
    name: webhook_security
    x-displayName: Webhook Security
  - description: >
      <span style="color:dark-gray;margin-top:-15px;">This section describes the
      list of all the relevant updates and breaking changes </span>

      <ul style="list-style-type:none;margin:0;">
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>08 February, 2024</h2>
              <p style="padding-bottom:20px;">Added <b>yearly earnings</b> in <a href="#tag/Income-and-Employment/paths/~1v3~1services~1get_income_summary/post">Income Summary</a> and <a href="#tag/Income-and-Employment/paths/~1v3~1services~1get_income_employment_details/post">Income employment details (VOIE)</a>. yearly earnings upto last 2 years will be added in the report.</p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>30 January, 2024</h2>
              <p style="padding-bottom:20px;">Added <b>effective_date</b> in <code>refresh_policy</code> in <a href="#tag/Data-Requests/paths/~1v3~1datarequests~1new/post">Data Request</a>.</p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>24 January, 2024</h2>
              <p style="padding-bottom:20px;">Added <b>refresh_id</b> in <a href="#tag/Items/paths/~1v3~1items~1get_by_id/post">/items/get_by_id</a> and <a href="#tag/Individuals/paths/~1v3~1individuals~1get_items/post">/individuals/get_items</a> response. <b>refresh_id</b> will be populated for items created due to data refresh.</p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>25 October, 2023</h2>
              <p style="padding-bottom:20px;">Added support for <b>consent</b> object in <b>Data Request</b>. This object holds details of user consent.</p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>11 October, 2023</h2>
              <p style="padding-bottom:20px;">Added support for <b>INSURANCE CARD</b> source_data_type in <a href="#tag/Items/paths/~1v3~1items~1new/post">/items/new</a> and <a href="#tag/Items/paths/~1v3~1items~1get_by_id/post">/items/get_by_id</a> API endpoints to support insurance card processing.</p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>05 October, 2023</h2>
              <p style="padding-bottom:20px;">Added <b>duplicates</b> in <a href="#tag/Individuals/paths/~1v3~1individuals~1get_items/post">/individuals/get_items</a> response. <b>duplicates</b> attribute will have list other Item IDs which are duplicate of an item in a datarequest.</p>
              <p style="padding-bottom:20px;">Added <b>duplicates</b> in <a href="#tag/Items/paths/~1v3~1items~1get_by_id/post">/items/get_by_id</a> response. <b>duplicates</b> attribute will have list other Item IDs which are duplicate of an item in a datarequest.</p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>28 September, 2023</h2>
              <p style="padding-bottom:20px;">Added <b>x_auth_token_credentials</b> in <a href="#tag/Data-Requests/paths/~1v3~1datarequests~1new/post">Data Request</a>. <b>x_auth_token_credentials</b> details can be provided when a fresh authorization token needs to be used when MeasureOne delivers webhook.</p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>13 September, 2023</h2>
              <p style="padding-bottom:20px;">Added support for Umbrella policy in <a href="#tag/m1_insurance_record">Insurance Record</a>.</p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>16 August, 2023</h2>
              <p style="padding-bottom:20px;">Added <a href="#tagm1_student_id">M1_STUDENT_ID_RECORD</a> in <b>Data Types</b>.<br><br> Modified <a href="#tag/Items/paths/~1v3~1items~1new/post">/items/new</a> and <a href="#tag/Items/paths/~1v3~1items~1get_by_id/post">/items/get_by_id</a> API endpoints to support student id card processing.</p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>02 August, 2023</h2>
              <p style="padding-bottom:20px;">Added a new API endpoint <a href="#tag/Items/paths/~1v3~1items~1get_pdf/post">/items/get_pdf</a> in <b>Items</b> resource. This endpoint can be used to download the item as PDF document.</p>
          </li>       
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>24 July, 2023</h2>
              <p style="padding-bottom:20px;">Added new webhooks - <a href="#tag/webhooks/paths/datarequest.report_available/post">report_available</a>, <a href="#tag/webhooks/paths/datarequest.report_error/post">report_error</a>, <a href="#tag/webhooks/paths/datarequest.items_available/post">items_available</a> and <a href="#tag/webhooks/paths/datarequest.no_items/post">no_items</a>.<p>
              <p style="padding-bottom:20px;">Added Reason Codes in <b>422</b> responses. Reason Codes will help developer understand what error occurred during processing a service/item.<p>
          </li>      
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>26 May, 2023</h2>
              <p style="padding-bottom:20px;">Added <b>end_date</b> and <b>refresh schedule dates</b> in <code>refresh_policy</code> in <a href="#tag/Data-Requests/paths/~1v3~1datarequests~1new/post">Data Request</a>.
              <p style="padding-bottom:20px;">Added a new API endpoint <a href="#tag/Data-Requests/paths/~1v3~1datarequests~1refresh_now/post">/datarequests/refresh_now</a> in <b>DataRequest</b> resource. This endpoint can be used to refresh data for a Data Request on demand.</p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>19 May, 2023</h2>
              <p style="padding-bottom:20px;"><code>WIDGET</code> scope will be considered as default scope if not specified in the <a href="#tag/API-Keys-and-Access/paths/~1v3~1auth~1generate_public_token/post">public token</a> API.
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>10 May, 2023</h2>
              <p style="padding-bottom:20px;">Added <b>enabled</b> flag in <code>refresh_policy</code> in <a href="#tag/Data-Requests/paths/~1v3~1datarequests~1new/post">Data Request</a>. <code>refresh_policy.enabled</code> can be passed as <b>true</b> if you intend to enable auto-refresh for the Data Request.
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>3 May, 2023</h2>
              <p style="padding-bottom:20px;">Added <b>enable_manual_upload</b> flag in <code>request_details</code> in <a href="#tag/Data-Requests/paths/~1v3~1datarequests~1new/post">Data Request</a>. enable_manual_upload can be set to true to enable manual upload for the Data Request. 
          </li>       
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>25 Apr, 2023</h2>
              <p style="padding-bottom:20px;">Added <b>minor</b> and <b>concentration</b> in <a href="#tag/Education/paths/~1v3~1services~1get_academic_summary/post">/get_academic_summary</a> API.</p>
              <p style="padding-bottom:20px;">Introduced <b>scopes</b> and <b>policy</b> in <a href="#tag/API-Keys-and-Access/paths/~1v3~1auth~1generate_public_token/post">/auth/generate_public_token</a> API. These attributes help in setting scope of the generated public access token.</p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>10 Apr, 2023</h2>
              <p style="padding-bottom:20px;">Added functionality to auto refresh data periodically for <b>Data Request</b>.</p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>22 Mar, 2023</h2>
              <p style="padding-bottom:20px;">Introduced <a href="#tag/Data-Requests">Data Request</a> resource. A Data Request specifies or bind together the various elements of a consumer-permissioned data workflow, in particular: the Individual, the type of data requested, the reports to be generated, the Link experience, optional Individual communication and messaging</p>
              <p style="padding-bottom:20px;">Deprecated <a href="#tag/Invitations">Invitations</a> resource. Use <a href="#tag/Data-Requests">Data Request</a> resource to generate a link and <a href="#tag/Data-Requests/paths/~1v3~1datarequests~1notify_user/post">/datarequests/notify_user</a> to send the communication to the Individual</p>
              <p style="padding-bottom:20px;">Updated <a href="#tag/Configuration">Link Configuration</a> to initiate LINK Widget using <b>datarequest_id</b>. Deprecated method of initiating the MeasureOne Link widget with <b>individual_id</b></p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>20 Mar, 2023</h2>
              <p style="padding-bottom:20px;">Added verification method reason codes in <b>Academic Summary</b>, <b>Enrollment Status</b>, <b>Insurance Details</b>, and <b>Realized Gains</b> services.</p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>14 Mar, 2023</h2>
              <p style="padding-bottom:20px;">Added additional attribute in <a href="#tag/Insurance/paths/~1v3~1services~1get_insurance_details/post">Insurance Details</a> object to provide vehicle's <b>make</b> and <b>year</b> information.</p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>01 Dec, 2022</h2>
              <p style="padding-bottom:20px;">Added <b>enrollment_type</b> in <a href="#tag/Education/paths/~1v3~1services~1get_academic_summary/post">Academic Summary</a> object to provide student enrollment type information.</p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>21 Oct, 2022</h2>
              <p style="padding-bottom:20px;">Added support for a new service <a href="#tag/VOIE/paths/~1v3~1services~1get_income_employment_details/post">/get_income_employment_details</a>. This service can be used to get both employment and income details.</p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>21 Oct, 2022</h2>
              <p style="padding-bottom:20px;">Added two new query types <b>AUTO_INSURANCE</b> and <b>HOME_INSURANCE</b> in <a href="#tag/Invitations">Invitations</a></p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>18 Oct, 2022</h2>
              <p style="padding-bottom:20px;">Added a new webhook <b>session.completed</b>. This webhook will be triggered when a LINK session gets completed.</p>
          </li> 
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>18 Aug, 2022</h2>
              <p style="padding-bottom:20px;">Added reason code <b>ITEM_ON_HOLD</b> in <a href="#tag/Education/paths/~1v3~1services~1get_academic_summary/post">Academic Summary</a> object. Reason code ITEM_ON_HOLD added when an item is on hold.</p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>08 Aug, 2022</h2>
              <p style="padding-bottom:20px;">Added <b>reason codes</b> in <a href="#tag/Education/paths/~1v3~1services~1get_academic_summary/post">Academic Summary</a> object. Reason Codes provides context on how has the academic summary been derived.</p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>03 Aug, 2022</h2>
              <p style="padding-bottom:20px;">Added <b>student_classification</b> in <a href="#tag/Education/paths/~1v3~1services~1get_academic_summary/post">Academic Summary</a> object to provide student level information.</p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>08 Jul, 2022</h2>
              <p style="padding-bottom:20px;">Added a new API endpoint <a href="#tag/Individuals/paths/~1v3~1individuals~1get_items/post">/individuals/get_items</a> in <b>Individuals</b> resources. This endpoint can be used to get the list of items created for an Individual.
              </p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>02 Jun, 2022</h2>
              <p style="padding-bottom:20px;">Support for new service <a href="#tag/Insurance/paths/~1v3~1services~1get_insurance_details/post">/get_insurance_details</a> for <b>Insurance</b> domain.<br>Support for new source-data-types in <a href="#tag/Items/paths/~1v3~1items~1new/post">/items/new</a> API endpoint.
              </p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>19 May, 2022</h2>
              <p style="padding-bottom:20px;">Added <b>credits</b> in <a href="#tag/Education/paths/~1v3~1services~1get_academic_summary/post">Academic Summary</a> object to provide credit earned information.</p>
          </li>   
           <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>01 Apr, 2022</h2>
              <p style="padding-bottom:20px;">Added <strong>institution_name</strong> in <a href="#tag/Invitations">Invitations</a> object to provide verification institution name.</p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>19 Jan, 2022</h2>
              <p style="padding-bottom:20px;">Modified <a href="#tag/m1_transcript_model">M1_ACADEMIC_RECORD</a> object to support high school transcript processing.<br><br>Modified <strong>reason_codes</strong> in <a href="#tag/Income/paths/~1v3~1services~1get_income_summary/post">/get_income_summary</a> and <a href="#tag/Income/paths/~1v3~1services~1get_employment_summary/post">/get_employment_summary</a> API endpoints.</p>
          </li>   
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>16 Dec, 2021</h2>
              <p style="padding-bottom:20px;">Upgraded <a href="#tag/LinkIntroduction"> LINK</a> with no-popup experience and improved navigation control for the user. </p>
          </li>
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>29 Oct, 2021</h2>
              <p style="padding-bottom:20px;">Support for <strong>data_confidence</strong> object in <a href="#tag/Items/paths/~1v3~1items~1get_by_id/post">/items/get_by_id</a> API endpoint. The confidence object represents attributes of an item that the system could not extract with high confidence.</p>
          </li>
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>01 Oct, 2021</h2>
              <p style="padding-bottom:20px;">Support for reason_codes in <a href="#tag/Income/paths/~1v3~1services~1get_income_summary/post">/get_income_summary</a> and <a href="#tag/Income/paths/~1v3~1services~1get_employment_summary/post">/get_employment_summary</a> API endpoints.<br><br>Added an event <strong>itemsCreated</strong> in Link. This event is triggered when one or more items are created</p>
          </li>
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>29 May, 2021</h2>
              <p style="padding-bottom:20px;">Support for check-codes in Link to detect duplicate usage of credentials. This release also introduces <strong>link_id</strong> in the configuration for Link. With this version, you can now integrate multiple instances of link with different configurations in the your applications</p>
          </li>
          <li style="margin-left:0;border-bottom:solid thin #EFEFEF">
              <h2>21 May, 2021</h2>
              <p style="padding-bottom:20px;">Support for new source-data-types in <a href="#tag/Items/paths/~1v3~1items~1new/post">/items/new</a> API endpoint</p>
          </li>
          <li>
              <h2>03 May, 2021</h2>
              <p>Released new version of Link with change in the API platform. These are <span style="color:red">breaking changes</span>. To migrate to the newer version, please review the <a href="#tag/migrationGuide">migration guide</a></p>
          </li>
       
      </ul>
    name: changeLog
    x-displayName: Change Log
  - description: >+
      ## Overview

      Version 3.0 of the MeasureOne API introduced many new features and
      capabilites.   Unfortunately, it is not backward compatible with v2.0.  
      This guide will walk you through the backward incompatible changes that
      you need to be aware of while migrating to 3.0



      ### Endpoint Migration

      The changes in URL will be applicable if you are using the following
      endpoints


      |V2.0|V3.0|

      |----------|----------|

      | /individual/get_academic_summary |/services/get_academic_summary

      | /individual/get_enrollment_status |/services/get_enrollment_status

      | /transcripts/new |/items/new

      | /schools/get |/datasources/get

      | /transcripts/new | /items/new

      | /transcripts/get_by_id | /items/get_by_id

      | /transcripts/get_files | /items/get_files

      | /analytics/meritscore | /services/meritscore

      | /analytics/gradscore | /services/gradscore



      ### Payload Changes

      This section depicts the changes you may have to do in your 

      #### Get Academic Summary


      `individual.datasource_id` has now changed to `individual.datasources`.
      You can now pass multiple datasource_ids to get the academic_summary


      ```json


      {
          "individual": {
          "individual_id": "idv_Cevp4Jw9CIsEeNjpgAAjy2EZt3R",
          "datasources": ["sch_CaIGVqBRRpETI6fkCyUSpNHbHFo", "sch_CaIGVqBRRpETI6fkCyUS233fbHFo"] // changes in 3.0
          }   
      }


      ```


      #### Get Enrollment Status


      `individual.datasource_id` has now changed to `individual.datasources`.
      You can now pass multiple datasource_ids to get the academic_summary


      ```json


      {
          "individual": {
          "individual_id": "idv_Cevp4Jw9CIsEeNjpgAAjy2EZt3R",
          "datasources": ["sch_CaIGVqBRRpETI6fkCyUSpNHbHFo", "sch_CaIGVqBRRpETI6fkCyUS233fbHFo"] // changes in 3.0
          }   
      }


      ```

      #### Creating a new item


      `source_data_type` has should now be at the top of the payload.


      ```json


      {
        "external_id": "ABCDECD",
        "individual_id": "idv_Cevp4Jw9CIsEeNjpgAAjy2EZt3R",
        "source_data_type": "M1_DIGEST", // changes in 3.0
        "source_data": [
          {
            "referrer": "USER",
            "source_data_value": {
              "degree_type": "BACHELORS",
              "years_in_school": 2,
              "min_grade": "D",
              "cgpa": 3.3,
              "last_term_gpa": 3.5,
              "credits_earned": 65
            }
          }
        ]
      }


      ```

      <br>


      ### Migrating to Data Requests

      A consumer-permissioned data workflow is initiated and defined by the Data
      Request resource. A Data Request specifies or binds together the various
      elements of a consumer-permissioned data workflow, in particular: the
      Individual, the type of data requested, the reports to be generated, the
      Link experience, optional Individual communication, and messaging.

      Migrating to Data Request is an important step required to leverage all
      the features of MeasureOne

      If you are using v3 of MeasureOne, and not using Data Requests, the
      following are the steps you should take.

      - After <a
      href="#tag/Individuals/paths/~1v3~1individuals~1new/post">creating the
      Individual</a>, create a new Data Request using this <a
      href="#tag/Data-Requests/paths/~1v3~1datarequests~1new/post">endpoint</a>

      - Once the Data Request is created, pass the `datarequest_id` in the <a
      href="#tag/Configuration">Link Configuration</a> in the Widget

      - Subscribe to webhooks - <a
      href="#tag/webhooks/paths/datarequest.updates_available/post">datarequest.updates_available</a>
      and <a
      href="#tag/webhooks/paths/datarequest.acquisition_complete/post">datarequest.acquisition_complete</a>
      to receive updates

      - On receiving the webhooks, you can now call our <a
      href="http://localhost:8080/#tag/Education/paths/~1v3~1services~1get_academic_summary/post">Service
      APIs</a> as you do in the existing integration.

      - You can also pass `datarequest_id` in the service call to get data
      pertaining to the data request.

    name: migrationGuide
    x-displayName: Migrating to 3.0
paths:
  /v3/invitations/new:
    post:
      tags:
        - Invitations
      summary: Create a new Invitation
      operationId: new_invitation
      description: >
        Creates a new invitation. This API is deprecated. Use
        `/datarequests/generate_link` and `/datarequests/notify_user` to create
        an invitation
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewInvitationRequest'
            examples:
              With_Institution_name:
                $ref: '#/components/examples/v3@invitations@new'
              With_Datasource:
                $ref: '#/components/examples/v3@invitationsWithDatasource@new'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewInvitationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewInvitation400Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewInvitation401Response'
        '403':
          description: Forbidden
        '404':
          description: Invalid Individual ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewInvitation404Response'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewInvitation405Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewInvitation500Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@500'
      deprecated: true
  /v3/invitations/get:
    post:
      tags:
        - Invitations
      summary: Get the list of invitations
      operationId: invitations_get
      description: >
        Get the list of invitations based on the filter criteria provided. This
        API is deprecated. Use `/datarequests/get`
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationsGetRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsGet400Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsGet401Response'
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsGet405Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsGet500Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@500'
      deprecated: true
  /v3/invitations/get_by_id:
    post:
      tags:
        - Invitations
      summary: Get details of an Invitation
      operationId: Invitations_getDetails
      description: >
        Get the details of an Invitation. The endpoint will return an error
        response if the Invitation is not found. This API is deprecated. Use
        `/datarequests/get_by_id`
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationsGetDetailsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/InvitationWithDatasource'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@invitations@get_by_id'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsGetDetailsResponse'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsGetDetails401Response'
        '403':
          description: Forbidden
        '404':
          description: Invalid Invitation ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsGetDetails404Response'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsGetDetails405Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsGetDetails500Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@500'
      deprecated: true
  /v3/invitations/expire:
    post:
      tags:
        - Invitations
      summary: Expire an Invitation
      operationId: invitations_delete
      description: >
        Expire an Invitation. The Invitation can be expired only if it has not
        yet been `EXPIRED`. An attempt to expire an invitation that is already
        expired will return an error. This API is deprecated. Use
        `/datarequests/expire_invitation_link`
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationsDeleteRequest'
      responses:
        '200':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsDeleteResponse'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsDelete401Response'
        '403':
          description: Forbidden
        '404':
          description: Invalid Invitation ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsDelete404Response'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsDelete405Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationsDelete500Response'
              examples:
                Internal_Error_Response:
                  $ref: '#/components/examples/v3@errors@500'
      deprecated: true
  /v3/individuals/new:
    post:
      tags:
        - Individuals
      summary: Create a new Individual
      operationId: Individuals_createNewIndividual
      description: >
        Creates a new Individual.  The returned ID is then used in subsequent
        API calls to reference Items and Services.
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Individual'
            examples:
              Adding_new_individual:
                $ref: '#/components/examples/v3@individuals@new'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsCreateNewIndividualResponse'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@individuals@new-2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsCreateNewIndividual400Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsCreateNewIndividual401Response'
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsCreateNewIndividual405Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsCreateNewIndividual500Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@500'
  /v3/individuals/get_by_id:
    post:
      tags:
        - Individuals
      summary: Get details of an Individual
      operationId: Individuals_getDetails
      description: |
        Retrieve the details of the given Individual.
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualsGetDetailsRequest'
            examples:
              Get_By_ID:
                $ref: '#/components/examples/v3@individuals@get_by_id'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Individual'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@individuals@get_by_id-2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsGetDetailsResponse'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsGetDetails401Response'
        '403':
          description: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsGetDetails404Response'
              examples:
                Individual_Not_found:
                  $ref: '#/components/examples/v3@errors@404'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsGetDetails405Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsGetDetails500Response'
              examples:
                Internal_Server_Error:
                  $ref: '#/components/examples/v3@errors@500'
  /v3/individuals/get_items:
    post:
      tags:
        - Individuals
      summary: Get Items for an individual
      operationId: Individuals_getItems
      description: Retrieve the list of items created for an Individual
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualsGetItemsRequest'
            examples:
              Get_Items_request_with_individual_id:
                $ref: '#/components/examples/v3@individuals@get_items'
              Get_Items_request_with_datarequest_id:
                $ref: >-
                  #/components/examples/v3@services@get_transaction_by_datarequest_id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsGetItemsResponse'
              examples:
                Successful_Response_when_call_with_individual:
                  $ref: '#/components/examples/v3@individuals@get_items-2'
                Successful_Response_when_call_with_datarequest_id:
                  $ref: >-
                    #/components/examples/v3@individuals@get_items_datarequest_id
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsGetItems400Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsGetItems401Response'
        '403':
          description: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsGetItems404Response'
              examples:
                When_Individual_is_not_found:
                  $ref: '#/components/examples/v3@errors@404'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsGetItems405Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualsGetItems500Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@500'
  /v3/items/new:
    post:
      tags:
        - Items
      summary: Submit a new item
      operationId: Items_submitNewItem
      description: |
        ### Usage options 
          The usage of `/v3/items/new` varies depending on its intended use and availability of information. The request payload must include either a `source_data_value` object **OR** a `source_data_reference` object. Passing both as a part of the payload may result in processing errors.

          #### Using Source Data Object
          If the attribute values for a transcript are known, send the source data inline in the request using the `source_data_value` object. 

          #### Using Source Data Reference Object

          If the data is in a document, upload it using the [`/items/upload`](https://docs.measureone.com) endpoint or make it available at a remote location. A reference to the uploaded document should then be included in the request using the `source_data_reference` object. 
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Item'
            examples:
              Submitting_M1_DIGEST_as_Digital_Payload:
                $ref: '#/components/examples/v3@item@new@m1digest_digital_payload'
              Submitting_M1_TRANSCRIPT_as_Digital_Payload:
                $ref: >-
                  #/components/examples/v3@item@new@m1_transcript_digital_payload
              Submitting_Transcripts_as_uploaded_files:
                $ref: >-
                  #/components/examples/v3@item@new@m1_transcript_source_data_ref_remote
              Submitting_Transcripts_as_remote_files:
                $ref: >-
                  #/components/examples/v3@item@new@m1_transcript_source_data_ref
              Submitting_Student_ID_card:
                $ref: '#/components/examples/v3@item@new@student_id'
              Submitting_Insurance_card:
                $ref: '#/components/examples/v3@item@new@insurance_card'
      responses:
        '200':
          description: >-
            Successful Response. You can now call the end points to get desired
            information from a transcript.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsSubmitNewItemResponse'
              examples:
                Successful_Response_when_processing_is_IN_PROGRESS:
                  $ref: '#/components/examples/v3@item@new'
                Successful_Response_when_processing_of_an_academic_record_is_COMPLETED:
                  $ref: '#/components/examples/v3@item@new_completed'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsSubmitNewItem400Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsSubmitNewItem401Response'
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsSubmitNewItem405Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsSubmitNewItem500Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@500'
  /v3/items/upload:
    post:
      tags:
        - Items
      summary: Upload files
      operationId: Items_uploadFile
      description: >
        The /items/upload endpoint is used to upload documents containing source
        data for a new item. </br>

        *Supported File Types*: **HTML**, **JPG**, **JSON**, **PDF**, **PNG**,
        **TIFF**, **TIF**
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        content:
          application/form-data-upload:
            schema:
              $ref: '#/components/schemas/uploadfiles'
            examples:
              Uploading_files:
                $ref: '#/components/examples/v3@item@uploadfiles'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsUploadFileResponse'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@item@upload'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsUploadFile400Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsUploadFile401Response'
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsUploadFile405Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsUploadFile500Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@500'
  /v3/items/get_by_id:
    post:
      tags:
        - Items
      summary: Get item details
      operationId: Items_getById
      description: >
        Retrieves an existing Item data. The endpoint can be used once the
        `processing_status` for an Item is `COMPLETED`. It will return Item data
        in its response payload. If the processing of the Item is not yet
        complete, it will return the current status of the Item. This API is
        [asynchronous](https://docs.measureone.com). 


        The optional `data_confidence` object, if present, lists data attributes
        whose extraction accuracy was lower than 95%. Such a scenario can come
        up when processing images or other unstructured source data items. The
        attributes are specified as a json path within the corresponding data
        object. In the event that the `data_confidence` object is not present
        (i.e., null), the data extraction should be considered 100% accurate. 
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemsGetByIdRequest'
            examples:
              Get_transcript_by_id_for_TRANSCRIPT_FILE:
                $ref: '#/components/examples/v3@item@get_by_id'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
              examples:
                Successful_Response_when_processing_is_complete_for_college_TRANSCRIPT_FILE:
                  $ref: '#/components/examples/v3@item@get_by_id-2'
                Successful_Response_when_processing_is_complete_for_highschool_TRANSCRIPT_FILE:
                  $ref: '#/components/examples/v3@item@get_by_id_hs'
                Successful_Response_when_processing_is_complete_for_PAYSTUB_FILE:
                  $ref: '#/components/examples/v3@item@get_by_id_paystub_file'
                Successful_Response_when_processing_is_complete_for_INSURANCE_POLICY:
                  $ref: '#/components/examples/v3@item@get_by_id_insurance'
                Get_transcript_by_id_for_M1_DIGEST:
                  $ref: '#/components/examples/v3@item@get_by_id_M1_DIGEST'
                Get_Student_id:
                  $ref: '#/components/examples/v3@item@get_by_id_Student_id'
                Successful_Response_when_processing_is_pending:
                  $ref: '#/components/examples/v3@item@get_by_id_pending'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsGetByIdResponse'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsGetById401Response'
        '403':
          description: Forbidden
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsGetById405Response'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsGetById422Response'
              example:
                error_code: UNPROCESSABLE_ENTITY
                error_message: Item cannot be processed
                reason_codes:
                  - description: The item can not be processed due to unsupported format.
                    code: UNSUPPORTED_FORMAT
                    context:
                      media_type: image/jpeg
                timestamp: 1688121957400
                http_code: 422
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsGetById500Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@500'
  /v3/items/get_files:
    post:
      tags:
        - Items
      summary: Get item files
      operationId: Items_downloadZipFile
      description: >-
        The `items/get_files` endpoint is used to download the source data for
        an item. The API returns a byte stream of a zip file.
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemsDownloadZipFileRequest'
            examples:
              Get transcript by id for TRANSCRIPT_FILE:
                $ref: '#/components/examples/v3@item@get_files'
      responses:
        '200':
          description: Successful Response will return a byte stream of a zip file
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ItemsDownloadZipFileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsDownloadZipFile400Response'
              examples:
                Successful Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsDownloadZipFile401Response'
        '403':
          description: Forbidden
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsDownloadZipFile404Response'
              examples:
                Successful Response:
                  $ref: '#/components/examples/v3@errors@404'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsDownloadZipFile405Response'
              examples:
                Successful Response:
                  $ref: '#/components/examples/v3@errors@405'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsDownloadZipFile500Response'
              examples:
                Successful Response:
                  $ref: '#/components/examples/v3@errors@500'
  /v3/items/get_pdf:
    post:
      tags:
        - Items
      summary: Get PDF item
      operationId: Items_downloadPdfItem
      description: >-
        The `items/get_pdf` endpoint is used to download/view an item as PDF
        document. The API returns a byte stream of a PDF item file.
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemsDownloadPdfItemRequest'
      responses:
        '200':
          description: Successful Response will return a byte stream of a PDF file
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/ItemsDownloadPdfItemResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsDownloadPdfItem400Response'
              examples:
                Successful Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsDownloadPdfItem401Response'
        '403':
          description: Forbidden
        '404':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsDownloadPdfItem404Response'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsDownloadPdfItem405Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsDownloadPdfItem500Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@500'
  /v3/checkcodes/get:
    post:
      tags:
        - Checkcodes
      summary: Get checkcodes
      operationId: Checkcodes_getList
      description: >
        Returns the list of checkcodes for a  session. To enable checkcodes for
        your account, please reach out to sales@measureone.com
         
      parameters:
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckcodesGetListRequest'
            examples:
              Get_list_of_checkcodes:
                $ref: '#/components/examples/v3@checkcodes@get'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckcodesGetListResponse'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@checkcodes@get-2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckcodesGetList400Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy .
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckcodesGetList401Response'
        '403':
          description: Forbidden
        '404':
          description: Invalid session_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckcodesGetList404Response'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckcodesGetList405Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckcodesGetList500Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@500'
  /v3/services/get_academic_summary:
    post:
      tags:
        - Education
      summary: Get academic summary
      operationId: Education_getAcademicSummary
      description: >
        Provides a summary of academic and educational data, including dates of
        attendance, degrees achieved, and other fields.  Please see response
        payload for the detailed fields. MeasureOne uses a set of heuristics to
        make a final determination. These heuristics are summarized in Reason
        Codes as detailed in the following table.

        ###  Reason Codes 
          |Code|Description|
          |--- |--- |
          |MAS_DRVD_ATTNDNC_ACAD_SESSION|Attendance determined via academic session enrollments|
          |MAS_DRVD_STD_CLSF_CRSE_IN_PRG|Courses are in progress|
          | MAS_EXPLICIT_TYPE             | Enrollment Type explicitly available on the school website                                                                         |
          | MAS_DRVD_ENRL_TYPE_ENRL_STS   | Enrollment Type derived based INACTIVE enrollment status                                                                           |
          | MAS_DRVD_ENRL_TYPE            | Enrollment Type derived based on credits attempted in currently enrolled term                                                      |
          | MAS_DRVD_ENRL_TYPE_PRV_TERM   | Enrollment Type derived based on credits attempted in the previous enrolled term within 180 days of the date available in the data |
          | MAS_DRVD_ENRL_TYPE_INFR_CRED  | Enrollment Type derived based on inferred credits attempted                                                                        |
          | MAS_DRVD_ENRL_TYPE_COOP_CRSE  | Enrollment Type derived based on enrolled COOP course                                                                              |
          |MAS_INSUFFICIENT_DATA|Attendance record not available|
          |MAS_INSUFFICIENT_DATA|Date degree was awarded not available|
          |MAS_INSUFFICIENT_DATA|Degree GPA not available|
          |MAS_INSUFFICIENT_DATA|Degree majors not available|
          |MAS_INSUFFICIENT_DATA|Description of degree not available|
          |MAS_INSUFFICIENT_DATA|Number of credits not available|
          |MAS_INSUFFICIENT_DATA|Number of degree credits not available|
          |MAS_INSUFFICIENT_DATA|Status of student degree not available|
          |MAS_INSUFFICIENT_DATA|Student classification data not available|
          |MAS_INSUFFICIENT_DATA|Student degree data not available|
          |MAS_INSUFFICIENT_DATA|Student GPA not available|
          |MAS_INSUFFICIENT_DATA|Type of student degree not available|
          |MAS_INSUFFICIENT_DATA|Enrollment Type of student not available|
          |ITEM_ON_HOLD|Student transcript(s) on financial hold|
          |MAS_VF_DAC|Verification method: Direct school account connection|
          |MAS_VF_USD|Verification method: User-submitted transcript|
          |MAS_VF_DAC_USD|Verification method: Direct school account connection and one or more user-submitted transcript|
      parameters:
        - description: Version number of the MeasureOne API you wish to integrate.
          in: header
          name: version
          schema:
            type: number
        - description: >-
            Content-type of the request payload. MeasureOne accepts content in
            application/json format unless specified otherwise
          in: header
          name: Content-type
          schema:
            type: string
            format: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EducationGetAcademicSummaryRequest'
            examples:
              Get_Academic_Summary_request_with_datarequest_id:
                $ref: '#/components/examples/v3@individuals@with_datarequest_id'
              Get_Academic_Summary_request_with_individual_id:
                $ref: '#/components/examples/v3@individuals@get_academic_summary'
              Get_Academic_Summary_request_with_transaction_id:
                $ref: '#/components/examples/v3@individuals@with_transaction_id'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationGetAcademicSummaryResponse'
              examples:
                Get_Academic_Summary_when_processing_is_completed:
                  $ref: >-
                    #/components/examples/v3@services@academic_accounts@academic_summary
                Get_Academic_Summary_when_processing_is_acquiring:
                  $ref: >-
                    #/components/examples/v3@services@academic_accounts@academic_summary_acquiring
                Get_Academic_Summary_when_processing_is_in-progress:
                  $ref: >-
                    #/components/examples/v3@services@academic_accounts@academic_summary_pending
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationGetAcademicSummary400Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '401':
          description: >-
            Authentication with the API Failed due to invalid token OR
            unauthorized scope / policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationGetAcademicSummary401Response'
        '403':
          description: Forbidden
        '404':
          description: >-
            One or more provided parameters were not found. E.g -
            `individual_id` or `transaction_id` or `datarequest_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationGetAcademicSummary404Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@400'
        '422':
          description: >-
            Unprocessable Entity. Occurs when academic summary cannot be
            generated due to data unavailability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationGetAcademicSummary422Response'
              examples:
                Successful_Response:
                  $ref: >-
                    #/components/examples/v3@errors@422-unprocessable_other_services
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationGetAcademicSummary500Response'
              examples:
                Successful_Response:
                  $ref: '#/components/examples/v3@errors@500'
  /v3/services/get_enrollment_status:
    post:
      tags:
        - Education
      summary: Get enrollment status
      operationId: Education_getEnrollmentStatus
      description: >
        This endpoint provides an assessment of the student's enrollment
        status.  MeasureOne uses a set of heuristics to make a final
        determination.   These heuristics are summarized in Reason Codes as
        detailed in the following table.


        ###  Reason Codes 
          |Code|Description|
          |--- |--- |
          |MES_EXPLICIT_STATUS|Enrollment Status explicitly available on school website|
          |MES_CURRENTLY_ENROLLED|Currently enrolled in a program|
          |MES_COURSE_IN_PRG|One or more courses in progress|
          |MES_COURSE_IN_PRG_DEG_AWD_LT_90|One or more courses in progress but degree awarded before 90 days of the date available in the data|
          |MES_LAST_TERM_LT_180|Last term ended within 180 days of date available in the data|
[...]
