openapi: 3.0.1
info:
  title: WANNME API REST
  description: Welcome to WANNME Integration API
  version: 2.7.8
  contact:
    name: Documentación API
    url: https://api.wannme.com
    email: contacto@wannme.com
  license:
    name: Terms of service
    url: https://www.wannme.com/terminos-y-condiciones
servers:
  - description: Generated server url
    url: https://rest-demo.wannme.com/integration/v2
tags:
  - description: Operations for Master data in WANNME PAY.
    name: WANNME PAY MASTER DATA
  - description: Operations for Debt cases payments in WANNME PAY
    name: WANNME PAY DEBT CASES
  - description: Operations for Recurrent payments in WANNME PAY
    name: WANNME PAY RECURRENT PAYMENTS
  - description: Operations for Payments in WANNME PAY
    name: WANNME PAY PAYMENTS
  - description: Operations for Merge payments in WANNME PAY
    name: WANNME PAY MERGE PAYMENTS
  - description: >-
      Operations for Merchants in WANNME PAY. Valid credentials to manage
      merchants in Wannme is required
    name: WANNME PAY MERCHANTS
  - description: Operations for Documents in WANNME PAY
    name: WANNME PAY DOCUMENTS
paths:
  /wannmepay/debt-case/{idDebtcase}:
    get:
      tags:
        - WANNME PAY DEBT CASES
      summary: Get Debt case by idDebtcase (WANNME id)
      operationId: WannmePayDebtCases_getByIdDebtcaseChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: debtCase
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntegrationVO'
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayResultDebtCaseVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      deprecated: true
    put:
      tags:
        - WANNME PAY DEBT CASES
      summary: Update existing Debt case by idDebtcase.
      operationId: WannmePayDebtCases_updateByIdChecksumSha512Partner
      description: >-
        Checksum SHA512[partnerId + privateKey + amountTotalDebt +
        partnerReference1]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayDebtCaseVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayResultDebtCaseVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    post:
      tags:
        - WANNME PAY DEBT CASES
      summary: Get Debt case by idDebtcase with Post (WANNME id)
      operationId: WannmePayDebtCases_getPostChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayResultDebtCaseVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/search:
    get:
      tags:
        - WANNME PAY DEBT CASES
      summary: Multi-criteria search of Debt cases
      operationId: WannmePayDebtCases_multiCriteriaSearch
      description: Checksum SHA512[partnerId + privateKey]
      parameters:
        - name: searchDebtCase
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntWannmePaySearchDebtCaseVO'
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayDebtCasesMultiCriteriaSearchResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      deprecated: true
    post:
      tags:
        - WANNME PAY DEBT CASES
      summary: Multi-criteria search of Debt cases
      operationId: WannmePayDebtCases_multiCriteriaSearch
      description: Checksum SHA512[partnerId + privateKey]
      parameters:
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePaySearchDebtCaseVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayDebtCasesMultiCriteriaSearch200Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/{idDebtcase}/action/cancel:
    post:
      tags:
        - WANNME PAY DEBT CASES
      summary: Cancel Debt case by idDebtcase.
      operationId: WannmePayDebtCases_cancelByIdDebtcaseChecksumSha512Partner
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/{idDebtcase}/payment:
    post:
      tags:
        - WANNME PAY DEBT CASES
      summary: Create new payment for a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_createPaymentChecksumSHA512
      description: Checksum SHA512[partnerId + privateKey + idDebtcase + amount]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayDebtCasePaymentVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayResultPaymentVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/{idDebtcase}/payment/list:
    get:
      tags:
        - WANNME PAY DEBT CASES
      summary: List of payments of a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_getPaymentList
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: payment
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntegrationVO'
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WannmePayDebtCasesGetPaymentListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      deprecated: true
    post:
      tags:
        - WANNME PAY DEBT CASES
      summary: List of payments of a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_listPaymentsByIdDebtCase
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayDebtCasesListPaymentsByIdDebtCaseResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/{idDebtcase}/customer:
    post:
      tags:
        - WANNME PAY DEBT CASES
      summary: Create new customer for a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_createCustomerChecksumSha512Document
      description: Checksum SHA512[partnerId + privateKey + idDebtcase + document]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayDebtCaseCustomerVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayResultDebtCaseCustomerVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/{idDebtcase}/customer/{idCustomer}:
    put:
      tags:
        - WANNME PAY DEBT CASES
      summary: >-
        Update existing customer by idCustomer, of a Debt case specified by
        idDebtcase.
      operationId: WannmePayDebtCases_updateCustomerByIdChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idDebtcase + document]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: idCustomer
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayDebtCaseCustomerVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayDebtCaseCustomerVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      tags:
        - WANNME PAY DEBT CASES
      summary: >-
        Delete existing customer by idCustomer, of a Debt case specified by
        idDebtcase.
      operationId: WannmePayDebtCases_deleteCustomerByIdCase
      description: Checksum SHA512[partnerId + privateKey + idDebtcase + idCustomer]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: idCustomer
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/{idDebtcase}/customer/list:
    get:
      tags:
        - WANNME PAY DEBT CASES
      summary: List of customers of a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_listCustomerByIdChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: integrationVO
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntegrationVO'
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayDebtCasesListCustomerByIdChecksumSha512Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      deprecated: true
    post:
      tags:
        - WANNME PAY DEBT CASES
      summary: List of customers of a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_listCustomerByIdDebtCaseChecksumSha512Partner
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayDebtCasesListCustomerByIdDebtCaseChecksumSha512PartnerResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/{idDebtcase}/invoice:
    post:
      tags:
        - WANNME PAY DEBT CASES
      summary: Create new invoice for a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_createNewInvoiceChecksum
      description: Checksum SHA512[partnerId + privateKey + idDebtcase + reference]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayDebtCaseInvoiceVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayResultDebtCaseInvoiceVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/{idDebtcase}/invoice/{idInvoice}:
    put:
      tags:
        - WANNME PAY DEBT CASES
      summary: >-
        Update existing invoice by idInvoice, of a Debt case specified by
        idDebtcase.
      operationId: WannmePayDebtCases_updateInvoiceByIdChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idDebtcase + reference]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: idInvoice
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayDebtCaseInvoiceVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayResultDebtCaseInvoiceVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      tags:
        - WANNME PAY DEBT CASES
      summary: >-
        Delete existing invoice by idInvoice, of a Debt case specified by
        idDebtcase.
      operationId: WannmePayDebtCases_deleteInvoiceById
      description: Checksum SHA512[partnerId + privateKey + idDebtcase + idInvoice]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: idInvoice
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/{idDebtcase}/invoice/list:
    get:
      tags:
        - WANNME PAY DEBT CASES
      summary: List of invoices of a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_listInvoicesByIdDebtcase
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: integration
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntegrationVO'
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayDebtCasesListInvoicesByIdDebtcaseResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      deprecated: true
    post:
      tags:
        - WANNME PAY DEBT CASES
      summary: List of invoices of a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_listInvoicesByIdDebtcase
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayDebtCasesListInvoicesByIdDebtcase200Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/{idDebtcase}/recurrent-payment:
    post:
      tags:
        - WANNME PAY DEBT CASES
      summary: Create new recurrent payment for a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_createRecurrentPaymentChecksumSha512Partner
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayDebtCaseRecurrentPaymentVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayRecurrentPaymentResultDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/debt-case/{idDebtcase}/recurrent-payment/list:
    get:
      tags:
        - WANNME PAY DEBT CASES
      summary: List of recurrent payments of a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_getListRecurrentPayments
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: integration
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntegrationVO'
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayDebtCasesGetListRecurrentPaymentsResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      deprecated: true
    post:
      tags:
        - WANNME PAY DEBT CASES
      summary: List of recurrent payments of a Debt case specified by idDebtcase.
      operationId: WannmePayDebtCases_getListRecurrentPayments
      description: Checksum SHA512[partnerId + privateKey + idDebtcase]
      parameters:
        - name: idDebtcase
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayDebtCasesGetListRecurrentPayments200Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merchant/{partnerId}:
    get:
      tags:
        - WANNME PAY MERCHANTS
      summary: Get merchant by partnerId (WANNME id)
      operationId: WannmePayMerchants_getByPartnerId
      description: >-
        Checksum SHA512[partnerId (parent) + privateKey (parent) + partnerId
        (url)]
      parameters:
        - name: integrationVO
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntegrationVO'
        - name: partnerId
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayMerchantResultVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      deprecated: true
    put:
      tags:
        - WANNME PAY MERCHANTS
      summary: Update an existing merchant by partnerId (WANNME id)
      operationId: WannmePayMerchants_updateByPartnerIdChecksumSha512
      description: >-
        Checksum SHA512[partnerId (parent) + privateKey (parent) + merchantType
        + partnerId (url)]
      parameters:
        - name: partnerId
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayMerchantVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayMerchantResultVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    post:
      tags:
        - WANNME PAY MERCHANTS
      summary: Get merchant by partnerId (WANNME id)
      operationId: WannmePayMerchants_getByPartnerIdChecksumSha512
      description: >-
        Checksum SHA512[partnerId (parent) + privateKey (parent) + partnerId
        (url)]
      parameters:
        - name: partnerId
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayMerchantResultVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merchant/search:
    get:
      tags:
        - WANNME PAY MERCHANTS
      summary: Multi-criteria search of merchants.
      operationId: WannmePayMerchants_multiCriteriaSearch
      description: Checksum SHA512[partnerId + privateKey]
      parameters:
        - name: searchPayment
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntWannmePaySearchMerchantVO'
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayMerchantsMultiCriteriaSearchResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      deprecated: true
    post:
      tags:
        - WANNME PAY MERCHANTS
      summary: Multi-criteria search of merchants.
      operationId: WannmePayMerchants_multiCriteriaSearch
      description: Checksum SHA512[partnerId + privateKey]
      parameters:
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePaySearchMerchantVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayMerchantsMultiCriteriaSearch200Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merchant/{partnerId}/action/sandbox-end-process-activate-merchant:
    post:
      tags:
        - WANNME PAY MERCHANTS
      summary: >-
        Only available in sandbox environments. Manual adjustment of merchant as
        activated by partnerId (WANNME id).
      operationId: WannmePayMerchants_activateMerchantByPartnerId
      description: >-
        Checksum SHA512[partnerId (parent) + privateKey (parent) + partnerId
        (url)]
      parameters:
        - name: partnerId
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment:
    post:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: Create new Merge payment.
      operationId: WannmePayMergePayments_createChecksumSha512Partner
      description: Checksum SHA512[partnerId + privateKey + partnerReference1]
      parameters:
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayMergePaymentCreateDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayMergePaymentResultDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment/{idMergePayment}:
    put:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: Update existing Merge payment by idMergePayment.
      operationId: WannmePayMergePayments_updateByIdChecksumSha512Partner
      description: Checksum SHA512[partnerId + privateKey + partnerReference1]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayMergePaymentUpdateDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayMergePaymentResultDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    post:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: Get Merge payment by idMergePayment with Post (WANNME id).
      operationId: WannmePayMergePayments_getByIdMergePaymentWithPostSha512Checksum
      description: Checksum SHA512[partnerId + privateKey + idMergePayment]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayMergePaymentResultDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment/search:
    post:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: Multi-criteria search of Merge payments.
      operationId: WannmePayMergePayments_multiCriteriaSearch
      description: Checksum SHA512[partnerId + privateKey]
      parameters:
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayMergePaymentSearchDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayMergePaymentsMultiCriteriaSearchResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment/{idMergePayment}/action/cancel:
    post:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: Cancel Merge payment by idMergePayment.
      operationId: WannmePayMergePayments_cancelById
      description: Checksum SHA512[partnerId + privateKey + idMergePayment]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment/{idMergePayment}/action/initialize:
    post:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: Initialize a Merge payment by idMergePayment.
      operationId: WannmePayMergePayments_initializePaymentSha512Checksum
      description: Checksum SHA512[partnerId + privateKey + idMergePayment]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayMergePaymentResultDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment/{idMergePayment}/payment/list:
    post:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: List of payments of a Merge payment specified by idMergePayment.
      operationId: WannmePayMergePayments_getPaymentListByIdMerge
      description: Checksum SHA512[partnerId + privateKey + idMergePayment]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayMergePaymentsGetPaymentListByIdMergeResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment/{idMergePayment}/slice:
    post:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: Create a slice for a Merge payment specified by idMergePayment.
      operationId: WannmePayMergePayments_createSliceSha512Checksum
      description: Checksum SHA512[partnerId + privateKey + idMergePayment + amount]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayMergePaymentSliceCreateDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayMergePaymentSliceResultDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment/{idMergePayment}/slice/{idSlice}:
    put:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: Update existing slice by idSlice, of a Merge payment
      operationId: WannmePayMergePayments_updateSliceById
      description: Checksum SHA512[partnerId + privateKey + idMergePayment + amount]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: idSlice
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayMergePaymentSliceUpdateDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayMergePaymentSliceResultDTO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: Delete existing slice by idSlice, of a Merge payment
      operationId: WannmePayMergePayments_deleteSliceById
      description: Checksum SHA512[partnerId + privateKey + idMergePayment + idSlice]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: idSlice
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment/{idMergePayment}/slice/list:
    post:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: List of slices of a Merge payment specified by idMergePayment.
      operationId: WannmePayMergePayments_listSlicesByIdMergePayment
      description: Checksum SHA512[partnerId + privateKey + idMergePayment]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayMergePaymentsListSlicesByIdMergePaymentResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment/{idMergePayment}/slice/{idSlice}/split:
    post:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: >-
        Create a split-payment definitiopn for the specified slice of a Merge
        payment specified by idMergePayment.
      operationId: WannmePayMergePayments_createSplitPaymentDefinition
      description: >-
        Checksum SHA512[partnerId + privateKey + idMergePayment + idSlice +
        amount(split-payment)]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: idSlice
          in: path
          required: true
          schema:
            type: string
        - name: isDebug
          in: query
          required: true
          schema:
            type: boolean
        - name: version
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayMergePaymentSliceSplitDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IntWannmePayMergePaymentSliceSplitResultDTO
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment/{idMergePayment}/slice/{idSlice}/split/{idSplit}:
    put:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: >-
        Update existing split of slice of a Merge payment by idMergePayment and
        idSplit
      operationId: WannmePayMergePayments_updateExistingSplitOfSlice
      description: >-
        Checksum SHA512[partnerId + privateKey + idMergePayment + idSlice +
        idSplit + amount(split-payment)]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: idSlice
          in: path
          required: true
          schema:
            type: string
        - name: idSplit
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayMergePaymentSliceSplitDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IntWannmePayMergePaymentSliceSplitResultDTO
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: Delete existing split of slice of a Merge payment by idSplit
      operationId: WannmePayMergePayments_deleteSplitOfSliceById
      description: >-
        Checksum SHA512[partnerId + privateKey + idMergePayment + idSlice +
        idSplit]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: idSlice
          in: path
          required: true
          schema:
            type: string
        - name: idSplit
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/merge-payment/{idMergePayment}/slice/{idSlice}/split/list:
    post:
      tags:
        - WANNME PAY MERGE PAYMENTS
      summary: >-
        List of splits of a slice of a Merge payment specified by idMergePayment
        and idSlice.
      operationId: WannmePayMergePayments_listSliceSplit
      description: Checksum SHA512[partnerId + privateKey + idMergePayment + idSlice]
      parameters:
        - name: idMergePayment
          in: path
          required: true
          schema:
            type: string
        - name: idSlice
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayMergePaymentsListSliceSplitResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}:
    get:
      tags:
        - WANNME PAY PAYMENTS
      summary: Get payment by idPayment (WANNME id)
      operationId: WannmePayPayments_getByIdPaymentChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idPayment]
      parameters:
        - name: payment
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntegrationVO'
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayResultPaymentVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      deprecated: true
    put:
      tags:
        - WANNME PAY PAYMENTS
      summary: >-
        Update existing payment by idPayment. If there are splits, paymentAmount
        is the sum of the splits amount.
      operationId: WannmePayPayments_updatePaymentByIdChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + amount + partnerReference1]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayPaymentVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayResultPaymentVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: Get payment by idPayment with Post (WANNME id)
      operationId: WannmePayPayments_getByIdPaymentChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idPayment]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayResultPaymentVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/search:
    get:
      tags:
        - WANNME PAY PAYMENTS
      summary: Multi-criteria search of payments.
      operationId: WannmePayPayments_multiCriteriaSearch
      description: Checksum SHA512[partnerId + privateKey]
      parameters:
        - name: searchPayment
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntWannmePaySearchPaymentVO'
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayPaymentsMultiCriteriaSearchResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      deprecated: true
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: Multi-criteria search of payments.
      operationId: WannmePayPayments_multiCriteriaSearch
      description: Checksum SHA512[partnerId + privateKey]
      parameters:
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePaySearchPaymentVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayPaymentsMultiCriteriaSearch200Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/action/cancel:
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: Cancel payment by idPayment.
      operationId: WannmePayPayments_cancelById
      description: Checksum SHA512[partnerId + privateKey + idPayment]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/action/reset:
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: Reset payment from Error to Accessed, by idPayment.
      operationId: WannmePayPayments_resetPaymentByIdChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idPayment]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/action/share:
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: 'Share payment using the predefined channels: email, sms, etc.'
      operationId: WannmePayPayments_sharePaymentUsingChannels
      description: Checksum SHA512[partnerId + privateKey + idPayment]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePaySharePaymentVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/action/send-receipt:
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: Send the receipt of a payment (complete), by idPayment.
      operationId: WannmePayPayments_sendReceiptChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idPayment + email]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePaySendReceiptPaymentVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/action/total-refund:
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: Refund of the total amount of a payment, by idPayment.
      operationId: WannmePayPayments_refundTotalAmountById
      description: Checksum SHA512[partnerId + privateKey + idPayment]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayTotalRefundVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/action/partial-refund:
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: >-
        Refund of a part of a payment, by idPayment. If there are splits,
        refundAmount is the sum of the splits amount.
      operationId: WannmePayPayments_partialRefundActionChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idPayment + refundAmount]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayPartialRefundVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/action/import-sepa-mandate:
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: >-
        Import SEPA (Single uro Payment Area) mandate into a payment by
        idPayment.
      operationId: WannmePayPayments_importSepaMandateChecksumSha512Partner
      description: Checksum SHA512[partnerId + privateKey + idPayment + mandateReference]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayImportSEPAMandatePaymentVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/action/import-redsys-token:
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: Import Redsys token into a payment by idPayment.
      operationId: WannmePayPayments_importRedsysToken
      description: Checksum SHA512[partnerId + privateKey + idPayment + tokenId + cofId]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayImportRedsysTokenPaymentVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/action/init-bizum-rtp:
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: Pay payment using Bizum RTP
      operationId: WannmePayPayments_payUsingBizumRtp
      description: Checksum SHA512[partnerId + privateKey + idPayment]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayRTPPaymentVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/action/pay-by-call:
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: >-
        Pay payment using PayByCall (use transferPayment true if you want a
        transfer call, default value false). The language that will be used in
        the IVR will be selected in the Content-Language header if it is
        present. For further information please see WANNME developer docs.
      operationId: WannmePayPayments_payByCallChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idPayment]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
        - name: Content-Language
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntWannmePayByCallPaymentVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntWannmePayByCallPaymentResponseVO'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/action/sandbox-settle-payment:
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: Only available in sandbox environments. Settle payment by idPayment.
      operationId: WannmePayPayments_settleByIdPaymentChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idPayment]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/payment/{idPayment}/refund/list:
    get:
      tags:
        - WANNME PAY PAYMENTS
      summary: List of refunds of a payment, by idPayment.
      operationId: WannmePayPayments_getRefundListByIdPayment
      description: Checksum SHA512[partnerId + privateKey + idPayment]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: payment
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntegrationVO'
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayPaymentsGetRefundListByIdPaymentResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      deprecated: true
    post:
      tags:
        - WANNME PAY PAYMENTS
      summary: List of refunds of a payment, by idPayment.
      operationId: WannmePayPayments_listRefundByIdPaymentChecksumSha512
      description: Checksum SHA512[partnerId + privateKey + idPayment]
      parameters:
        - name: idPayment
          in: path
          required: true
          schema:
            type: string
        - name: Wannme-Integration-Version
          in: header
          required: false
          schema:
            type: string
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationVO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/WannmePayPaymentsListRefundByIdPaymentChecksumSha512Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /wannmepay/recurrent-payment/{idRecurrentPayment}:
    get:
      tags:
        - WANNME PAY RECURRENT PAYMENTS
      summary: Get Recurrent payment by idRecurrentPayment (WANNME id).
      operationId: WannmePayRecurrentPayments_getByIdRecurrentPaymentChecksumSha512Partner
      description: Checksum SHA512[partnerId + privateKey + idRecurrentPayment]
      parameters:
        - name: idRecurrentPayment
          in: path
          required: true
          schema:
            type: string
        - name: recurrentPayment
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/IntegrationVO'
        - name: Wannme-Is-Debug
          in: header
          required: false
          schema:
            type: boolean
[...]
