openapi: 3.0.0
info:
  title: Pappers API
  description: >
    L'API de Pappers vous permet de récupérer des informations et documents sur
    les entreprises françaises à partir de leur numéro SIREN ou SIRET.


    Vous devez indiquer votre clé d'API dans les requêtes, en utilisant le
    paramètre `api_token`.


    L'URL d'accès à l'API est https://api.pappers.fr/v2/


    Lien vers la documentation de la V1 :
    https://www.pappers.fr/api/documentation/v1


    Lien vers la documentation de la V3 :
    https://www.pappers.fr/api/documentation/v3


    Lien vers la documentation de l'API internationale :
    https://www.pappers.in/api/documentation


    L'historique des modifications (changelog) est accessible à l'url suivante :
    https://www.pappers.fr/api/changelog
  version: 2.13.0
  contact:
    name: Support technique Pappers
    email: support@pappers.fr
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://api.pappers.fr/v2
tags:
  - name: Documents
  - name: Recherche
  - name: Surveillance
  - name: Fiche entreprise
  - name: Fiche association
  - name: Suggestions / Autocomplete
  - name: Comptes annuels
  - name: Cartographie
  - name: Conformité
  - name: Suivi utilisation
paths:
  /entreprise:
    get:
      tags:
        - Fiche entreprise
      summary: Récupère l'ensemble des informations disponibles sur une entreprise.
      operationId: FicheEntreprise_getInformation
      description: >-
        Vous devez fournir soit le SIREN, soit le SIRET. Si vous indiquez le
        SIREN, tous les établissements associés à ce SIREN seront renvoyés dans
        la clé `etablissements`. Si vous indiquez le SIRET, seul l'établissement
        associé sera renvoyé dans la clé `etablissement`.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: SIREN de l'entreprise
          name: siren
          in: query
          required: false
          schema:
            type: string
            example: 443061841
        - description: SIRET de l'entreprise
          name: siret
          in: query
          required: false
          schema:
            type: string
            example: 44306184100047
        - description: >-
            Si vrai et si l'entreprise est en diffusion partielle, le retour
            renverra les informations partielles disponibles. Valeur par défaut
            : `false`.
          name: integrer_diffusions_partielles
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Format attendu pour les publications BODACC. Valeur par défaut :
            `"objet"`.
          name: format_publications_bodacc
          in: query
          required: false
          schema:
            type: string
            enum:
              - objet
              - texte
            example: objet
        - description: >-
            Si vrai, le retour inclura les marques éventuelles de l'entreprise.
            Valeur par défaut : `false`.
          name: marques
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Si vrai, le champ validite_tva_intracommunautaire du retour
            indiquera si le numéro de tva est valide auprès de la Commission
            européenne. Valeur par défaut : `false`.
          name: validite_tva_intracommunautaire
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Pappers traite les publications BODACC afin de supprimer les
            publications périmée. Si vrai, le retour inclura les publications
            bodacc sans traitement. Valeur par défaut : `false`.
          name: publications_bodacc_brutes
          in: query
          required: false
          schema:
            type: boolean
        - description: >
            Liste des champs supplémentaires à inclure dans le retour. Certains
            champs peuvent entraîner une consommation de jetons supplémentaires.


            Champs supplémentaires disponibles :

            - `sites_internet` : 1 jeton supplémentaire

            - `telephone` : 1 jeton supplémentaire *

            - `email` : 1 jeton supplémentaire *

            - `enseigne_1` : gratuit

            - `enseigne_2` : gratuit

            - `enseigne_3` : gratuit

            - `distribution_speciale` : gratuit

            - `code_cedex` : gratuit

            - `libelle_cedex` : gratuit

            - `code_commune` : gratuit

            - `code_region` : gratuit

            - `region` : gratuit

            - `code_departement` : gratuit

            - `departement` : gratuit

            - `nomenclature_code_naf` : gratuit

            - `labels` : gratuit

            - `labels:orias` : 0.5 jeton supplémentaire

            - `micro_entreprise` : gratuit

            - `sanctions` : 1 jeton supplémentaire

            - `personne_politiquement_exposee` : 1 jeton supplémentaire

            - `scoring_financier` : 10 jetons supplémentaires

            - `scoring_non_financier` : 10 jetons supplémentaires


            \* : le coût des champs `telephone` et `email` est de 1 jeton
            supplémentaire au total, même si les deux sont demandés.
          name: champs_supplementaires
          in: query
          required: false
          schema:
            type: string
            example: site_internet,telephone
      responses:
        '200':
          description: >-
            Entreprise trouvée. Le retour contient un objet décrivant
            l'entreprise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntrepriseFiche'
        '206':
          description: >-
            Entreprise trouvée. Le retour est cependant partiel : au moins une
            source de données n'a pas répondu dans le temps imparti.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntrepriseFiche'
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: Entreprise inexistante.
  /association:
    get:
      tags:
        - Fiche association
      summary: Récupère l'ensemble des informations disponibles sur une association.
      operationId: FicheAssociation_getInfo
      description: >-
        Vous devez fournir soit l'identifiant de l'association, soit le SIREN,
        soit le SIRET.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: Identifiant de l'association
          name: id_association
          in: query
          required: false
          schema:
            type: string
            example: W142005389
        - description: SIRET de l'association
          name: siret
          in: query
          required: false
          schema:
            type: string
            example: 95037097300014
        - description: SIREN de l'association
          name: siren
          in: query
          required: false
          schema:
            type: string
            example: 950370973
      responses:
        '200':
          description: >-
            Association trouvée. Le retour contient un objet décrivant
            l'association.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Association'
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: Association inexistante.
        '503':
          description: Service momentanément indisponible.
  /recherche:
    get:
      tags:
        - Recherche
      summary: Recherche les entreprises qui correspondent à des critères.
      operationId: Recherche_criteriaEnterprisesGet
      description: >
        Tous les paramètres sont optionnels et servent à filtrer la recherche.
        Les différentes entreprises seront renvoyées dans un tableau
        `resultats`, et le nombre total de résultats sera renvoyé dans le champ
        `total`.


        Pour parcourir l'ensemble des résultats, deux solutions sont possibles :


        - La pagination (paramètres `page` et `par_page`), limitée aux 400
        premiers résultats ;

        - Les curseurs (paramètres `curseur` et `par_curseur`).
      parameters:
        - $ref: '#/components/parameters/api_token'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/par_page'
        - $ref: '#/components/parameters/curseur'
        - $ref: '#/components/parameters/par_curseur'
        - $ref: '#/components/parameters/bases'
        - $ref: '#/components/parameters/precision'
        - description: >-
            Texte à rechercher. Dénomination pour une personne morale, nom et
            prénom pour une personne physique.

            Si vous recherchez dans plusieurs bases, ce paramètre sera utilisé
            pour rechercher dans toutes les bases.
          name: q
          in: query
          required: false
          schema:
            type: string
            example: Google France
        - description: Défini si la requête se base sur le siège
          name: siege
          in: query
          required: false
          schema:
            type: string
            example: 'true'
        - $ref: '#/components/parameters/code_naf'
        - $ref: '#/components/parameters/departement'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/code_postal'
        - $ref: '#/components/parameters/convention_collective'
        - $ref: '#/components/parameters/categorie_juridique'
        - $ref: '#/components/parameters/entreprise_cessee'
        - $ref: '#/components/parameters/statut_rcs'
        - $ref: '#/components/parameters/objet_social'
        - $ref: '#/components/parameters/date_immatriculation_rcs_min'
        - $ref: '#/components/parameters/date_immatriculation_rcs_max'
        - $ref: '#/components/parameters/date_radiation_rcs_min'
        - $ref: '#/components/parameters/date_radiation_rcs_max'
        - $ref: '#/components/parameters/capital_min'
        - $ref: '#/components/parameters/capital_max'
        - $ref: '#/components/parameters/chiffre_affaires_min'
        - $ref: '#/components/parameters/chiffre_affaires_max'
        - $ref: '#/components/parameters/resultat_min'
        - $ref: '#/components/parameters/resultat_max'
        - $ref: '#/components/parameters/date_creation_min'
        - $ref: '#/components/parameters/date_creation_max'
        - $ref: '#/components/parameters/tranche_effectif_min'
        - $ref: '#/components/parameters/tranche_effectif_max'
        - $ref: '#/components/parameters/type_dirigeant'
        - $ref: '#/components/parameters/qualite_dirigeant'
        - $ref: '#/components/parameters/nationalite_dirigeant'
        - $ref: '#/components/parameters/nom_dirigeant'
        - $ref: '#/components/parameters/prenom_dirigeant'
        - $ref: '#/components/parameters/age_dirigeant_min'
        - $ref: '#/components/parameters/age_dirigeant_max'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
        - $ref: '#/components/parameters/age_beneficiaire_min'
        - $ref: '#/components/parameters/age_beneficiaire_max'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
        - $ref: '#/components/parameters/nationalite_beneficiaire'
        - $ref: '#/components/parameters/date_depot_document_min'
        - $ref: '#/components/parameters/date_depot_document_max'
        - $ref: '#/components/parameters/type_publication'
        - $ref: '#/components/parameters/date_publication_min'
        - $ref: '#/components/parameters/date_publication_max'
      responses:
        '200':
          description: >-
            Recherche réussie. Le retour contient la liste des entreprises qui
            répondent aux critères indiqués.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RechercheCriteriaEnterprisesGetResponse'
        '401':
          description: Clé API incorrecte.
        '404':
          description: Aucune entreprise ne correspond aux critères indiqués.
        '503':
          description: Service momentanément indisponible.
  /recherche-dirigeants:
    get:
      tags:
        - Recherche
      summary: Recherche les dirigeants qui correspondent à des critères.
      operationId: Recherche_leadersSearchCriteriaGet
      description: >-
        Tous les paramètres sont optionnels et servent à filtrer la recherche.
        Les différents dirigeants seront renvoyées dans un tableau `resultats`.
      parameters:
        - $ref: '#/components/parameters/api_token'
        - $ref: '#/components/parameters/par_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/precision'
        - description: >-
            Texte à rechercher. Nom et prénom du dirigeant pour une personne
            physique, dénomination pour une personne morale.
          name: q
          in: query
          required: false
          schema:
            type: string
            example: Google France
        - $ref: '#/components/parameters/type_dirigeant'
        - $ref: '#/components/parameters/qualite_dirigeant'
        - $ref: '#/components/parameters/nationalite_dirigeant'
        - $ref: '#/components/parameters/nom_dirigeant'
        - $ref: '#/components/parameters/prenom_dirigeant'
        - $ref: '#/components/parameters/age_dirigeant_min'
        - $ref: '#/components/parameters/age_dirigeant_max'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
        - $ref: '#/components/parameters/code_naf'
        - $ref: '#/components/parameters/departement'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/code_postal'
        - $ref: '#/components/parameters/convention_collective'
        - $ref: '#/components/parameters/categorie_juridique'
        - $ref: '#/components/parameters/entreprise_cessee'
        - $ref: '#/components/parameters/statut_rcs'
        - $ref: '#/components/parameters/objet_social'
        - $ref: '#/components/parameters/date_immatriculation_rcs_min'
        - $ref: '#/components/parameters/date_immatriculation_rcs_max'
        - $ref: '#/components/parameters/date_radiation_rcs_min'
        - $ref: '#/components/parameters/date_radiation_rcs_max'
        - $ref: '#/components/parameters/capital_min'
        - $ref: '#/components/parameters/capital_max'
        - $ref: '#/components/parameters/chiffre_affaires_min'
        - $ref: '#/components/parameters/chiffre_affaires_max'
        - $ref: '#/components/parameters/resultat_min'
        - $ref: '#/components/parameters/resultat_max'
        - $ref: '#/components/parameters/date_creation_min'
        - $ref: '#/components/parameters/date_creation_max'
        - $ref: '#/components/parameters/tranche_effectif_min'
        - $ref: '#/components/parameters/tranche_effectif_max'
        - $ref: '#/components/parameters/age_beneficiaire_min'
        - $ref: '#/components/parameters/age_beneficiaire_max'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
        - $ref: '#/components/parameters/nationalite_beneficiaire'
        - $ref: '#/components/parameters/date_depot_document_min'
        - $ref: '#/components/parameters/date_depot_document_max'
        - $ref: '#/components/parameters/type_publication'
        - $ref: '#/components/parameters/date_publication_min'
        - $ref: '#/components/parameters/date_publication_max'
        - $ref: '#/components/parameters/siren'
      responses:
        '200':
          description: >-
            Recherche réussie. Le retour contient la liste des dirigeants qui
            répondent aux critères indiqués.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RechercheLeadersSearchCriteriaGetResponse'
        '401':
          description: Clé API incorrecte.
        '404':
          description: Aucun dirigeant ne correspond aux critères indiqués.
        '503':
          description: Service momentanément indisponible.
  /recherche-beneficiaires:
    get:
      tags:
        - Recherche
      summary: Recherche les bénéficiaires effectifs qui correspondent à des critères.
      operationId: Recherche_effectiveBeneficiariesSearch
      description: >-
        Tous les paramètres sont optionnels et servent à filtrer la recherche.
        Les différents bénéficiaires effectifs seront renvoyées dans un tableau
        `resultats`.
      parameters:
        - $ref: '#/components/parameters/api_token'
        - $ref: '#/components/parameters/par_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/precision'
        - description: Nom et/ou prénom du bénéficiaire effectif.
          name: q
          in: query
          required: false
          schema:
            type: string
            example: Xavier Niel
        - $ref: '#/components/parameters/age_beneficiaire_min'
        - $ref: '#/components/parameters/age_beneficiaire_max'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
        - $ref: '#/components/parameters/nationalite_beneficiaire'
        - $ref: '#/components/parameters/code_naf'
        - $ref: '#/components/parameters/departement'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/code_postal'
        - $ref: '#/components/parameters/convention_collective'
        - $ref: '#/components/parameters/categorie_juridique'
        - $ref: '#/components/parameters/entreprise_cessee'
        - $ref: '#/components/parameters/statut_rcs'
        - $ref: '#/components/parameters/objet_social'
        - $ref: '#/components/parameters/date_immatriculation_rcs_min'
        - $ref: '#/components/parameters/date_immatriculation_rcs_max'
        - $ref: '#/components/parameters/date_radiation_rcs_min'
        - $ref: '#/components/parameters/date_radiation_rcs_max'
        - $ref: '#/components/parameters/capital_min'
        - $ref: '#/components/parameters/capital_max'
        - $ref: '#/components/parameters/chiffre_affaires_min'
        - $ref: '#/components/parameters/chiffre_affaires_max'
        - $ref: '#/components/parameters/resultat_min'
        - $ref: '#/components/parameters/resultat_max'
        - $ref: '#/components/parameters/date_creation_min'
        - $ref: '#/components/parameters/date_creation_max'
        - $ref: '#/components/parameters/tranche_effectif_min'
        - $ref: '#/components/parameters/tranche_effectif_max'
        - $ref: '#/components/parameters/type_dirigeant'
        - $ref: '#/components/parameters/qualite_dirigeant'
        - $ref: '#/components/parameters/nationalite_dirigeant'
        - $ref: '#/components/parameters/nom_dirigeant'
        - $ref: '#/components/parameters/prenom_dirigeant'
        - $ref: '#/components/parameters/age_dirigeant_min'
        - $ref: '#/components/parameters/age_dirigeant_max'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
        - $ref: '#/components/parameters/date_depot_document_min'
        - $ref: '#/components/parameters/date_depot_document_max'
        - $ref: '#/components/parameters/type_publication'
        - $ref: '#/components/parameters/date_publication_min'
        - $ref: '#/components/parameters/date_publication_max'
        - $ref: '#/components/parameters/siren'
      responses:
        '200':
          description: >-
            Recherche réussie. Le retour contient la liste des bénéficiaires
            effectifs qui répondent aux critères indiqués.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/RechercheEffectiveBeneficiariesSearchResponse
        '401':
          description: Clé API incorrecte.
        '404':
          description: Aucun bénéficiaire effectif ne correspond aux critères indiqués.
        '503':
          description: Service momentanément indisponible.
  /recherche-documents:
    get:
      tags:
        - Recherche
      summary: Recherche les documents qui correspondent à des critères.
      operationId: Recherche_matchingDocumentsGet
      description: >-
        Tous les paramètres sont optionnels et servent à filtrer la recherche.
        Les différents documents seront renvoyées dans un tableau `resultats`.
      parameters:
        - $ref: '#/components/parameters/api_token'
        - $ref: '#/components/parameters/par_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/precision'
        - description: Mot-clé à rechercher dans le contenu du document.
          name: q
          in: query
          required: false
          schema:
            type: string
            example: Rémunération
        - $ref: '#/components/parameters/date_depot_document_min'
        - $ref: '#/components/parameters/date_depot_document_max'
        - $ref: '#/components/parameters/code_naf'
        - $ref: '#/components/parameters/departement'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/code_postal'
        - $ref: '#/components/parameters/convention_collective'
        - $ref: '#/components/parameters/categorie_juridique'
        - $ref: '#/components/parameters/entreprise_cessee'
        - $ref: '#/components/parameters/statut_rcs'
        - $ref: '#/components/parameters/objet_social'
        - $ref: '#/components/parameters/date_immatriculation_rcs_min'
        - $ref: '#/components/parameters/date_immatriculation_rcs_max'
        - $ref: '#/components/parameters/date_radiation_rcs_min'
        - $ref: '#/components/parameters/date_radiation_rcs_max'
        - $ref: '#/components/parameters/capital_min'
        - $ref: '#/components/parameters/capital_max'
        - $ref: '#/components/parameters/chiffre_affaires_min'
        - $ref: '#/components/parameters/chiffre_affaires_max'
        - $ref: '#/components/parameters/resultat_min'
        - $ref: '#/components/parameters/resultat_max'
        - $ref: '#/components/parameters/date_creation_min'
        - $ref: '#/components/parameters/date_creation_max'
        - $ref: '#/components/parameters/tranche_effectif_min'
        - $ref: '#/components/parameters/tranche_effectif_max'
        - $ref: '#/components/parameters/type_dirigeant'
        - $ref: '#/components/parameters/qualite_dirigeant'
        - $ref: '#/components/parameters/nationalite_dirigeant'
        - $ref: '#/components/parameters/nom_dirigeant'
        - $ref: '#/components/parameters/prenom_dirigeant'
        - $ref: '#/components/parameters/age_dirigeant_min'
        - $ref: '#/components/parameters/age_dirigeant_max'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
        - $ref: '#/components/parameters/age_beneficiaire_min'
        - $ref: '#/components/parameters/age_beneficiaire_max'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
        - $ref: '#/components/parameters/nationalite_beneficiaire'
        - $ref: '#/components/parameters/type_publication'
        - $ref: '#/components/parameters/date_publication_min'
        - $ref: '#/components/parameters/date_publication_max'
        - $ref: '#/components/parameters/siren'
      responses:
        '200':
          description: >-
            Recherche réussie. Le retour contient la liste des documents qui
            répondent aux critères indiqués.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RechercheMatchingDocumentsGetResponse'
        '401':
          description: Clé API incorrecte.
        '404':
          description: Aucun document ne correspond aux critères indiqués.
        '503':
          description: Service momentanément indisponible.
  /recherche-publications:
    get:
      tags:
        - Recherche
      summary: Recherche les publications BODACC qui correspondent à des critères.
      operationId: Recherche_matchingPublicationsGet
      description: >-
        Tous les paramètres sont optionnels et servent à filtrer la recherche.
        Les différentes publications seront renvoyées dans un tableau
        `resultats`.
      parameters:
        - $ref: '#/components/parameters/api_token'
        - $ref: '#/components/parameters/par_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/precision'
        - description: Mot-clé à rechercher dans le contenu de la publication.
          name: q
          in: query
          required: false
          schema:
            type: string
            example: Liquidation
        - $ref: '#/components/parameters/code_naf'
        - $ref: '#/components/parameters/departement'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/code_postal'
        - $ref: '#/components/parameters/convention_collective'
        - $ref: '#/components/parameters/categorie_juridique'
        - $ref: '#/components/parameters/entreprise_cessee'
        - $ref: '#/components/parameters/statut_rcs'
        - $ref: '#/components/parameters/objet_social'
        - $ref: '#/components/parameters/date_immatriculation_rcs_min'
        - $ref: '#/components/parameters/date_immatriculation_rcs_max'
        - $ref: '#/components/parameters/date_radiation_rcs_min'
        - $ref: '#/components/parameters/date_radiation_rcs_max'
        - $ref: '#/components/parameters/capital_min'
        - $ref: '#/components/parameters/capital_max'
        - $ref: '#/components/parameters/chiffre_affaires_min'
        - $ref: '#/components/parameters/chiffre_affaires_max'
        - $ref: '#/components/parameters/resultat_min'
        - $ref: '#/components/parameters/resultat_max'
        - $ref: '#/components/parameters/date_creation_min'
        - $ref: '#/components/parameters/date_creation_max'
        - $ref: '#/components/parameters/tranche_effectif_min'
        - $ref: '#/components/parameters/tranche_effectif_max'
        - $ref: '#/components/parameters/type_dirigeant'
        - $ref: '#/components/parameters/qualite_dirigeant'
        - $ref: '#/components/parameters/nationalite_dirigeant'
        - $ref: '#/components/parameters/nom_dirigeant'
        - $ref: '#/components/parameters/prenom_dirigeant'
        - $ref: '#/components/parameters/age_dirigeant_min'
        - $ref: '#/components/parameters/age_dirigeant_max'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
        - $ref: '#/components/parameters/age_beneficiaire_min'
        - $ref: '#/components/parameters/age_beneficiaire_max'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
        - $ref: '#/components/parameters/nationalite_beneficiaire'
        - $ref: '#/components/parameters/date_depot_document_min'
        - $ref: '#/components/parameters/date_depot_document_max'
        - $ref: '#/components/parameters/type_publication'
        - $ref: '#/components/parameters/date_publication_min'
        - $ref: '#/components/parameters/date_publication_max'
        - $ref: '#/components/parameters/siren'
      responses:
        '200':
          description: >-
            Recherche réussie. Le retour contient la liste des publications qui
            répondent aux critères indiqués.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RechercheMatchingPublicationsGetResponse'
        '401':
          description: Clé API incorrecte.
        '404':
          description: Aucune publication ne correspond aux critères indiqués.
        '503':
          description: Service momentanément indisponible.
  /suggestions:
    get:
      tags:
        - Suggestions / Autocomplete
      summary: >-
        Recherche les entreprises qui correspondent à un début de recherche
        textuelle (type autocomplete).
      operationId: SuggestionsAutocomplete_searchText
      description: >-
        Cette route nécessite généralement d'avoir un temps de réponse très
        faible. Une URL avec un temps de réponse plus faible a été mise en place
        : `https://suggestions.pappers.fr/v2?q=googl`. D'autre part, afin de
        permettre une intégration en front-end la plus directe, cette route ne
        nécessite pas de token d'authentification.
      parameters:
        - description: Début de recherche textuelle
          name: q
          in: query
          required: true
          schema:
            type: string
            example: googl
        - description: 'Nombre de résultats. Maximum 100. Valeur par défaut : `10`.'
          name: longueur
          in: query
          required: false
          schema:
            type: integer
            example: 20
        - description: >-
            Cibles de la recherche, séparées par des virgules. Valeur par défaut
            : `"nom_entreprise"`.
          name: cibles
          in: query
          required: false
          schema:
            type: string
            enum:
              - nom_entreprise
              - denomination
              - nom_complet
              - representant
              - siren
              - siret
            example: nom_entreprise,siren,siret
      responses:
        '200':
          description: >-
            Requête correctement exécutée. Le retour contient une ou plusieurs
            listes d'entreprises en fonction du paramètre `cibles` de la
            requête.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestionsAutocompleteSearchTextResponse'
        '400':
          description: Paramètres de la requête incorrects.
  /entreprise/comptes:
    get:
      tags:
        - Comptes annuels
      summary: Récupère les comptes annuels publiés d'une entreprise.
      operationId: ComptesAnnuels_getBySiren
      description: >-
        Vous devez fournir le SIREN de l'entreprise pour laquelle vous souhaitez
        obtenir les comptes annuels.
      parameters:
        - $ref: '#/components/parameters/api_token'
        - description: SIREN de l'entreprise
          name: siren
          in: query
          required: false
          schema:
            type: string
            example: 443061841
        - description: >-
            Année de cloture des comptes souhaités. Il est possible d'indiquer
            plusieurs années en les séparant par des virgules. Si le paramètre
            n'est pas fourni, toutes les années disponibles seront retournées.
          name: annee
          in: query
          required: false
          schema:
            type: string
            example: 2016,2017,2018
      responses:
        '200':
          description: >-
            Comptes annuels disponibles. Le retour contient les comptes
            détaillés, ainsi que les ratios associés.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComptesAnnuelsGetBySirenResponse'
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: Comptes annuels indisponibles.
        '503':
          description: Service momentanément indisponible.
  /entreprise/cartographie:
    get:
      tags:
        - Cartographie
      summary: >-
        Récupère les données permettant d'établir une cartographie d'une
        entreprise.
      operationId: Cartographie_getData
      description: >
        Cette route fournit les données nécessaires à l'établissement de la
        cartographie Pappers d'une entreprise telle qu'elle apparaît sur les
        fiches Pappers (exemple
        https://www.pappers.fr/entreprise/google-france-443061841#cartographie).


        - La requête est gratuite (erreur 404) si seul le noeud principal
        (l'entreprise recherchée) est disponible.

        - La requête coûte 1 jeton si, en plus du noeud principal, des noeuds
        dirigeants directs de l'entreprise sont disponibles. Il est possible de
        rejeter ces cas avec le paramètre `rejeter_premier_degre`. La requête
        est alors gratuite (erreur 404).

        - La requête coûte 3 jetons si des noeuds supplémentaires sont
        disponibles.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: SIREN de l'entreprise
          name: siren
          in: query
          required: true
          schema:
            type: string
            example: 443061841
        - description: >-
            Si vrai, la cartographie intègrera les entreprises dirigées par
            l'entreprise recherchée et les entreprises qui dirigent l'entreprise
            recherchée. Valeur par défaut : `true`.
          name: inclure_entreprises_dirigees
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Si vrai, la cartographie intègrera les entreprises citées
            conjointement avec l'entreprise recherchée dans des actes et
            statuts. Valeur par défaut : `false`.
          name: inclure_entreprises_citees
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Si vrai, la cartographie intègrera les SCI. Valeur par défaut :
            `true`.
          name: inclure_sci
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Si vrai, la cartographie pourra adapter automatiquement ses
            paramètres si ceux choisis manuellement ne sont pas idéaux. Valeur
            par défaut : `false`.
          name: autoriser_modifications
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Si vrai et que la cartographie ne fait apparaître que l'entreprise
            recherchée ainsi que ses dirigeants directs, une erreur 404 sera
            renvoyée et la requête ne sera pas comptabilisée dans le quota de
            jetons. Valeur par défaut : `false`.
          name: rejeter_premier_degre
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Permet de choisir manuellement un degré pour la cartographie. Seuls
            deux états sont possibles : un nombre <= 2 ou bien un nombre > 2.
            Cela veut dire que 0, 1 ou 2 donneront la même cartographie, tout
            comme 3, 4 ou 5.
          name: degre
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: >-
            Cartographie disponible. Le retour contient un objet permettant de
            reconstruire la cartographie.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cartographie'
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: >-
            La cartographie n'est pas disponible car elle ne contient qu'un seul
            noeud ou bien le paramètre `rejeter_premier_degre` a été utilisé.
  /document/telechargement:
    get:
      tags:
        - Documents
      summary: Télécharge un document PDF ou XLSX à partir de son token.
      operationId: Documents_downloadDocumentByToken
      description: >-
        Vous devez fournir le token du document. Le document vous sera envoyé au
        format PDF ou XLSX.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: Token du document
          name: token
          in: query
          required: true
          schema:
            type: string
            example: >-
              QTQ0MzA2MTg0MTIwMjAwNDA3RMOpY2lzaW9uKHMpIGRlIGwnYXNzb2Npw6kgdW5pcXVl
      responses:
        '200':
          description: >-
            Document disponible. Le retour contient le document au format PDF ou
            XLSX.
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/DocumentsDownloadDocumentByTokenResponse'
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: Document indisponible.
        '503':
          description: Service momentanément indisponible.
  /document/extrait_pappers:
    get:
      tags:
        - Documents
      summary: >-
        Télécharge l'extrait Pappers d'une entreprise à partir de son SIREN ou
        SIRET.
      operationId: Documents_downloadPappersExtrait
      description: >-
        Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera
        envoyé au format PDF.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: SIREN de l'entreprise
          name: siren
          in: query
          required: false
          schema:
            type: string
            example: 443061841
        - description: SIRET de l'entreprise
          name: siret
          in: query
          required: false
          schema:
            type: string
            example: 44306184100047
      responses:
        '200':
          description: >-
            Document disponible. Le retour contient l'extrait Pappers au format
            PDF.
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/DocumentsDownloadPappersExtraitResponse'
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: Document indisponible.
        '503':
          description: Service momentanément indisponible.
  /document/extrait_inpi:
    get:
      tags:
        - Documents
      summary: >-
        Télécharge l'extrait INPI d'une entreprise à partir de son SIREN ou
        SIRET.
      operationId: Documents_getExtraitInpi
      description: >-
        Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera
        envoyé au format PDF.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: SIREN de l'entreprise
          name: siren
          in: query
          required: false
          schema:
            type: string
            example: 443061841
        - description: SIRET de l'entreprise
          name: siret
          in: query
          required: false
          schema:
            type: string
            example: 44306184100047
      responses:
        '200':
          description: >-
            Document disponible. Le retour contient l'extrait INPI au format
            PDF.
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/DocumentsGetExtraitInpiResponse'
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: Document indisponible.
        '503':
          description: Service momentanément indisponible.
  /document/avis_situation_insee:
    get:
      tags:
        - Documents
      summary: >-
        Télécharge l'avis de situation INSEE d'une entreprise à partir de son
        SIREN ou SIRET.
      operationId: Documents_downloadInseeSituation
      description: >-
        Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera
        envoyé au format PDF.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: SIREN de l'entreprise
          name: siren
          in: query
          required: false
          schema:
            type: string
            example: 443061841
        - description: SIRET de l'entreprise
          name: siret
          in: query
          required: false
          schema:
            type: string
            example: 44306184100047
      responses:
        '200':
          description: >-
            Document disponible. Le retour contient l'avis de situation au
            format PDF.
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/DocumentsDownloadInseeSituationResponse'
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: Document indisponible.
        '503':
          description: Service momentanément indisponible.
  /document/statuts:
    get:
      tags:
        - Documents
      summary: >-
        Télécharge les derniers statuts disponibles d'une entreprise à partir de
        son SIREN ou SIRET.
      operationId: Documents_telechargementStatuts
      description: >-
        Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera
        envoyé au format PDF.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: SIREN de l'entreprise
          name: siren
          in: query
          required: false
          schema:
            type: string
            example: 443061841
        - description: SIRET de l'entreprise
          name: siret
          in: query
          required: false
          schema:
            type: string
            example: 44306184100047
      responses:
        '200':
          description: Document disponible. Le retour contient les statuts au format PDF.
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/DocumentsTelechargementStatutsResponse'
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: Document indisponible.
        '503':
          description: Service momentanément indisponible.
  /document/declaration_beneficiaires_effectifs:
    get:
      tags:
        - Documents
      summary: >-
        Télécharge la déclaration des bénéficiaires effectifs d'une entreprise à
        partir de son SIREN.
      operationId: Documents_telechargementBeneficiairesEffectifs
      description: >-
        Vous devez fournir le SIREN. Le document vous sera envoyé au format PDF.


        Seules les autorités de contrôle (<a rel='noreferrer noopener'
        target='_blank'
        href='https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000041578272/'>article
        R. 561-57 du Code monétaire et financier en dénombre 18</a>) et les
        personnes assujetties à la lutte contre le blanchiment des capitaux et
        le financement du terrorisme (<a rel='noreferrer noopener'
        target='_blank'
        href='https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042648575/'>article
        L. 561-2 du code monétaire et financier</a>) peuvent accéder à ces
        informations.


        Pour pouvoir utiliser cette route veuillez nous contacter au préalable à
        api@pappers.fr
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: SIREN de l'entreprise
          name: siren
          in: query
          required: false
          schema:
            type: string
            example: 443061841
      responses:
        '200':
          description: >-
            Document disponible. Le retour contient la déclaration des
            bénéficiaires effectifs au format PDF.
          content:
            application/pdf:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsTelechargementBeneficiairesEffectifsResponse
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '403':
          description: Vous n'avez pas les droits pour exécuter cette requête.
        '404':
          description: Document indisponible.
        '503':
          description: Service momentanément indisponible.
  /document/rapport_solvabilite:
    get:
      tags:
        - Documents
      summary: >-
        Télécharge un Rapport de solvabilité d'une entreprise à partir de son
        SIREN.
      operationId: Documents_downloadSolvabilityReport
      description: Vous devez fournir le SIREN. Le document vous sera envoyé au format PDF.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: SIREN de l'entreprise
          name: siren
          in: query
          required: false
          schema:
            type: string
            example: 443061841
      responses:
        '200':
          description: >-
            Document disponible. Le retour contient le rapport de solvabilité au
            format PDF.
          content:
            application/pdf:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsDownloadSolvabilityReportResponse
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: Document indisponible.
        '503':
          description: Service momentanément indisponible.
  /conformite/personne_physique:
    get:
      tags:
        - Conformité
      summary: >-
        Vérifie le statut de personne politiquement exposée et la présence de
        sanctions internationales pour une personne physique.
      operationId: Conformit_personnePhysiqueStatusCheck
      description: >
        Cette route vérifie le statut de personne politiquement exposée et la
        présence de sanctions internationales pour une personne physique.


        Pour vérifier le statut de dirigeants et bénéficiaires effectifs
        d'entreprises, vous pouvez directement utiliser la route `/entreprise`
        avec les champs supplémentaires `personne_politiquement_exposee` et
        `sanctions`.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: Nom de la personne physique
          name: nom
          in: query
          required: true
          schema:
            type: string
            example: Macron
        - description: Prénom de la personne physique
          name: prenom
          in: query
          required: true
          schema:
            type: string
            example: Emmanuel
        - description: >-
            Date de naissance de la personne physique, au format AAAA-MM-JJ ou
            AAAA-MM
          name: date_de_naissance
          in: query
          required: true
          schema:
            type: string
            example: '1977-12-21T00:00:00.000Z'
      responses:
        '200':
          description: La personne physique a pu être vérifiée.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConformitPersonnePhysiqueStatusCheckResponse
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '503':
          description: Erreur interne. La personne physique n'a pas pu être vérifiée.
  /suivi-jetons:
    get:
      tags:
        - Suivi utilisation
      summary: Récupère le suivi d'utilisation des jetons.
      operationId: SuiviUtilisation_getTokenUsage
      description: Vous devez fournir la clé d'utilisation de l'API.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
      responses:
        '200':
          description: Succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuiviUtilisationGetTokenUsageResponse'
        '401':
          description: Clé API incorrecte.
        '503':
          description: Service momentanément indisponible.
  /liste:
    post:
      tags:
        - Surveillance
      summary: Ajoute un (ou plusieurs) dirigeant(s) à une liste de dirigeants.
      operationId: Surveillance_listeDirigeantsAjout
      description: >-
        Vous devez fournir la clé d'utilisation de l'API ainsi que l'identifiant
        de votre liste. Les informations à renseigner sont différentes selon le
        type de personne à ajouter (morale ou physique)
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: Identifiant unique de votre liste de surveillance de dirigeants
          name: id_liste
          in: query
          required: true
          schema:
            type: string
            example: votre_identifiant_ici
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurveillanceListeDirigeantsAjoutRequest'
      responses:
        '200':
          description: Aucun changement, les données étaient déjà présentes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SurveillanceListeDirigeantsAjoutResponse'
        '201':
          description: Créés, liste mise à jour.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SurveillanceListeDirigeantsAjout201Response
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '403':
          description: Offre dépassée.
        '404':
          description: Liste non trouvée.
        '503':
          description: Service momentanément indisponible.
    delete:
      tags:
        - Surveillance
      summary: Supprime une (ou plusieurs) notification(s) d'une liste.
      operationId: Surveillance_listDelete
      description: >-
        Vous devez fournir la clé d'utilisation de l'API ainsi que l'identifiant
        de votre liste.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: Identifiant unique de votre liste de surveillance
          name: id_liste
          in: query
          required: true
          schema:
            type: string
            example: votre_identifiant_ici
        - description: >-
            Liste des sirens des notifications à supprimer, séparés par une
            virgule
          name: siren
          in: query
          required: false
          schema:
            type: string
            example: 443061841,950370973
        - description: Liste des ids des notifications à supprimer, séparés par une virgule
          name: id
          in: query
          required: false
          schema:
            type: string
            example: >-
              ecfca3e5fb1ce07bb3fdfe8760a28df5aa617ed4951b7f61,a67b9de66189ba98eb4aede09f4b2b565b0f18fe694da7bc
        - description: Suppression de toutes les notifications de la liste
          name: supprimer_totalite
          in: query
          required: false
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: Succés.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SurveillanceListDeleteResponse'
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: Liste non trouvée.
        '503':
          description: Service momentanément indisponible.
  /liste-informations:
    post:
      tags:
        - Surveillance
      summary: Ajoute des informations à une (ou plusieurs) notification(s).
      operationId: Surveillance_addNotifications
      description: >-
        Vous devez fournir la clé d'utilisation de l'API ainsi que l'identifiant
        de votre liste.
      parameters:
        - description: Clé d'utilisation de l'API
          name: api_token
          in: query
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - description: Identifiant unique de votre liste de surveillance d'entreprises
          name: id_liste
          in: query
          required: true
          schema:
            type: string
            example: votre_identifiant_ici
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurveillanceAddNotificationsRequest'
      responses:
        '200':
          description: Succés.
        '400':
          description: Paramètres de la requête incorrects.
        '401':
          description: Clé API incorrecte.
        '404':
          description: Liste non trouvée.
        '503':
          description: Service momentanément indisponible.
components:
  parameters:
    api_token:
      description: Clé d'utilisation de l'API
      name: api_token
      in: query
      required: true
      schema:
        type: string
        example: votre_clé_ici
    par_page:
      description: 'Nombre de résultats affichés sur une page. Valeur par défaut : `10`.'
      name: par_page
      in: query
      required: false
      schema:
        type: integer
        example: 20
    page:
      description: 'Page de résultats. Valeur par défaut : `1`.'
      name: page
      in: query
      required: false
      schema:
        type: integer
        example: 1
    bases:
      description: >-
        Bases de données dans lesquelles rechercher. Il est possible d'indiquer
        plusieurs bases en les séparant par des virgules. Valeur par défaut :
        `"entreprises"`.
      name: bases
      in: query
      required: false
      schema:
        type: string
        enum:
          - entreprises
          - dirigeants
          - beneficiaires
          - documents
          - publications
        example: entreprises
    precision:
      description: 'Niveau de précision de la recherche. Valeur par défaut : `"standard"`.'
      name: precision
      in: query
      required: false
      schema:
        type: string
        enum:
          - approximative
          - standard
          - exacte
        example: standard
    curseur:
      description: >-
        Curseur servant à parcourir l'ensemble des résultats (alternativement à
        la pagination qui est limitée à 400 résultats maximum). Doit valoir `*`
        pour la première requête, et doit pour les requêtes suivantes reprendre
        la valeur `curseurSuivant` retournée par la dernière réponse.
      name: curseur
      in: query
      required: false
      schema:
        type: string
        example: '*'
    par_curseur:
      description: >-
        Nombre de résultats affichés par curseur. Valeur par défaut : `50`.
        Valeur minimale: `1`. Valeur maximale : `1000`.
      name: par_curseur
      in: query
      required: false
      schema:
        type: integer
        example: 20
    code_naf:
      description: >-
        Code NAF de l'entreprise. Il est possible d'indiquer plusieurs codes NAF
        en les séparant par des virgules.
      name: code_naf
      in: query
      required: false
      schema:
        type: string
        example: 70.10Z
    departement:
      description: >-
        Numéro de département de l'un des établissements de l'entreprise. Il est
        possible d'indiquer plusieurs départements en les séparant par des
        virgules.
      name: departement
      in: query
      required: false
      schema:
        type: string
        example: 75
    region:
      description: >-
        Code de la région de l'un des établissements de l'entreprise, selon la
        [nomenclature
        Insee](https://www.insee.fr/fr/information/4316069#titre-bloc-18). Il
        est possible d'indiquer plusieurs codes régions en les séparant par des
        virgules.
      name: region
      in: query
      required: false
      schema:
        type: string
        example: 11
    code_postal:
      description: >-
        Code postal de l'un des établissements de l'entreprise. Il est possible
        d'indiquer plusieurs codes postaux en les séparant par des virgules.
      name: code_postal
      in: query
      required: false
      schema:
        type: string
        example: 75009
    convention_collective:
      description: Convention collective de l'entreprise.
      name: convention_collective
      in: query
      required: false
      schema:
        type: string
        example: 1486
    categorie_juridique:
      description: >-
        Catégorie juridique de l'entreprise, selon la [nomenclature
        Insee](https://www.insee.fr/fr/information/2028129). 


        **Note** : Le code correspond à celui de l'INSEE, à l'exception des SASU
        qui auront comme code 5720 et les EURL qui auront comme code 5498.
      name: categorie_juridique
      in: query
      required: false
      schema:
        type: string
        example: 5499
    entreprise_cessee:
      description: Activité de l'entreprise cessée ou non.
      name: entreprise_cessee
      in: query
      required: false
      schema:
        type: boolean
        example: false
    statut_rcs:
      description: Statut au RCS
      name: statut_rcs
      in: query
      required: false
      schema:
        type: string
        enum:
          - inscrit
          - radie
          - non inscrit
        example: inscrit
    objet_social:
      description: Objet social de l'entreprise déclaré au RCS.
      name: objet_social
      in: query
      required: false
      schema:
        type: string
        example: La conception de moteurs de recherche sur internet.
    date_immatriculation_rcs_min:
      description: >-
        Date d'immatriculation au RCS minimale de l'entreprise, au format
        JJ-MM-AAAA.
      name: date_immatriculation_rcs_min
      in: query
      required: false
      schema:
        type: string
        example: 15-05-2002
    date_immatriculation_rcs_max:
      description: d'immatriculation au RCS minimale de l'entreprise, au format JJ-MM-AAAA.
      name: date_immatriculation_rcs_max
      in: query
      required: false
      schema:
        type: string
        example: 15-05-2002
    date_radiation_rcs_min:
      description: Date de radiation au RCS minimale de l'entreprise, au format JJ-MM-AAAA.
      name: date_radiation_rcs_min
      in: query
      required: false
      schema:
        type: string
        example: 15-05-2002
    date_radiation_rcs_max:
      description: Date de radiation au RCS maximale de l'entreprise, au format JJ-MM-AAAA.
      name: date_radiation_rcs_max
      in: query
      required: false
      schema:
        type: string
        example: 17-05-2002
    capital_min:
      description: Capital minimum de l'entreprise.
      name: capital_min
      in: query
      required: false
      schema:
        type: string
        example: 411016200
    capital_max:
      description: Capital maximum de l'entreprise.
      name: capital_max
      in: query
      required: false
      schema:
        type: string
        example: 411016400
    chiffre_affaires_min:
      description: >-
        Chiffre d'affaires minimum de l'entreprise.


        **Note** : Filtrer sur ce critère restreint énormément les entreprises
        retournées car cela élimine d'office toutes les entreprises dont les
        comptes ne sont pas publiés.
      name: chiffre_affaires_min
      in: query
      required: false
      schema:
        type: string
        example: 411016200
    chiffre_affaires_max:
      description: >-
        Chiffre d'affaires maximum de l'entreprise.


        **Note** : Filtrer sur ce critère restreint énormément les entreprises
        retournées car cela élimine d'office toutes les entreprises dont les
        comptes ne sont pas publiés.
      name: chiffre_affaires_max
      in: query
      required: false
      schema:
        type: string
        example: 411016400
    resultat_min:
      description: >-
        Résultat minimum de l'entreprise.


        **Note** : Filtrer sur ce critère restreint énormément les entreprises
        retournées car cela élimine d'office toutes les entreprises dont les
        comptes ne sont pas publiés.
      name: resultat_min
      in: query
      required: false
      schema:
        type: string
        example: 29327000
    resultat_max:
      description: >-
        Résultat maximum de l'entreprise.


        **Note** : Filtrer sur ce critère restreint énormément les entreprises
        retournées car cela élimine d'office toutes les entreprises dont les
        comptes ne sont pas publiés.
      name: resultat_max
      in: query
      required: false
      schema:
        type: string
        example: 29327100
    date_creation_min:
      description: Date de création minimale de l'entreprise, au format JJ-MM-AAAA.
      name: date_creation_min
      in: query
      required: false
      schema:
        type: string
        example: 15-05-2002
    date_creation_max:
      description: Date de création maximale de l'entreprise, au format JJ-MM-AAAA.
      name: date_creation_max
      in: query
      required: false
      schema:
        type: string
        example: 17-05-2002
    tranche_effectif_min:
      description: >-
        Tranche d'effectifs minimale de l'entreprise, selon la [nomenclature
        Sirene](https://www.sirene.fr/sirene/public/variable/tefen).


        **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non
        employeur
      name: tranche_effectif_min
      in: query
      required: false
      schema:
        type: string
        example: 40
    tranche_effectif_max:
      description: >-
        Tranche d'effectifs maximale de l'entreprise, selon la [nomenclature
        Sirene](https://www.sirene.fr/sirene/public/variable/tefen).


        **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non
        employeur
      name: tranche_effectif_max
      in: query
      required: false
      schema:
        type: string
        example: 42
    type_dirigeant:
      description: >-
        Type du dirigeant (ou de l'un des dirigeants de l'entreprise pour une
        recherche d'entreprises).
      name: type_dirigeant
      in: query
      required: false
      schema:
        type: string
        enum:
          - physique
          - morale
        example: physique
    qualite_dirigeant:
      description: >-
        Qualité du dirigeant (ou de l'un des dirigeants de l'entreprise pour une
        recherche d'entreprises).
      name: qualite_dirigeant
      in: query
      required: false
      schema:
        type: string
        example: Administrateur
    nationalite_dirigeant:
      description: >-
        Nationalité du dirigeant (ou de l'un des dirigeants de l'entreprise pour
        une recherche d'entreprises).
      name: nationalite_dirigeant
      in: query
      required: false
      schema:
        type: string
        example: Française
    nom_dirigeant:
      description: >-
        Nom du dirigeant (ou de l'un des dirigeants de l'entreprise pour une
        recherche d'entreprises).
      name: nom_dirigeant
      in: query
      required: false
      schema:
        type: string
        example: Yi
    prenom_dirigeant:
      description: >-
        Prénom du dirigeant (ou de l'un des dirigeants de l'entreprise pour une
        recherche d'entreprises).
      name: prenom_dirigeant
      in: query
      required: false
      schema:
        type: string
        example: Kenneth H.
    age_dirigeant_min:
      description: >-
        Âge minimal du dirigeant (ou de l'un des dirigeants de l'entreprise pour
        une recherche d'entreprises).
      name: age_dirigeant_min
      in: query
      required: false
      schema:
        type: integer
        example: 40
    age_dirigeant_max:
      description: >-
        Âge maximal du dirigeant (ou de l'un des dirigeants de l'entreprise pour
        une recherche d'entreprises).
      name: age_dirigeant_max
      in: query
      required: false
      schema:
        type: integer
        example: 42
    date_de_naissance_dirigeant_min:
      description: >-
        Date de naissance minimale du dirigeant (ou de l'un des dirigeants de
        l'entreprise pour une recherche d'entreprises), au format JJ-MM-AAAA.
      name: date_de_naissance_dirigeant_min
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '1970-01-01T00:00:00.000Z'
    date_de_naissance_dirigeant_max:
      description: >-
        Date de naissance maximale du dirigeant (ou de l'un des dirigeants de
        l'entreprise pour une recherche d'entreprises) de l'entreprise, au
        format JJ-MM-AAAA.
      name: date_de_naissance_dirigeant_max
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '1970-12-31T00:00:00.000Z'
    age_beneficiaire_min:
      description: >-
        Âge minimal du bénéficiaire effectif (ou de l'un des bénéficiaires
        effectifs de l'entreprise pour une recherche d'entreprises).
      name: age_beneficiaire_min
      in: query
      required: false
      schema:
        type: integer
        example: 40
    age_beneficiaire_max:
      description: >-
        Âge maximal du bénéficiaire effectif (ou de l'un des bénéficiaires
        effectifs de l'entreprise pour une recherche d'entreprises).
      name: age_beneficiaire_max
      in: query
      required: false
      schema:
        type: integer
        example: 42
    date_de_naissance_beneficiaire_min:
      description: >-
        Date de naissance minimale du bénéficiaire effectif (ou de l'un des
        bénéficiaires effectifs de l'entreprise pour une recherche
        d'entreprises), au format JJ-MM-AAAA.
      name: date_de_naissance_beneficiaire_min
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '1970-01-01T00:00:00.000Z'
    date_de_naissance_beneficiaire_max:
      description: >-
        Date de naissance maximale du bénéficiaire effectif (ou de l'un des
        bénéficiaires effectifs de l'entreprise pour une recherche
        d'entreprises) de l'entreprise, au format JJ-MM-AAAA.
      name: date_de_naissance_beneficiaire_max
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '1970-12-31T00:00:00.000Z'
    nationalite_beneficiaire:
      description: >-
        Nationalité du bénéficiaire effectif (ou de l'un des bénéficiaires
        effectifs de l'entreprise pour une recherche d'entreprises).
      name: nationalite_beneficiaire
      in: query
      required: false
      schema:
        type: string
        example: Française
    date_depot_document_min:
      description: Date de dépôt minimale du document, au format JJ-MM-AAAA.
      name: date_depot_document_min
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2000-01-01T00:00:00.000Z'
    date_depot_document_max:
      description: Date de dépôt maximale du document, au format JJ-MM-AAAA.
      name: date_depot_document_max
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2000-12-31T00:00:00.000Z'
    type_publication:
      description: Type de publication
      name: type_publication
      in: query
      required: false
      schema:
        type: string
        enum:
          - Création
          - Immatriculation
          - Modification
          - Vente
          - Radiation
          - Procédure collective
          - Dépôt des comptes
        example: Procédure collective
    date_publication_min:
      description: Date publication minimale de la publication, au format JJ-MM-AAAA.
      name: date_publication_min
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2000-01-01T00:00:00.000Z'
    date_publication_max:
      description: Date de publication maximale de la publication, au format JJ-MM-AAAA.
      name: date_publication_max
      in: query
      required: false
      schema:
        type: string
        format: date
        example: '2000-12-31T00:00:00.000Z'
    siren:
      description: SIREN de l'entreprise.
      name: siren
      in: query
      required: false
      schema:
        type: string
        example: null
  schemas:
    EntrepriseBase:
      type: object
      properties:
        siren:
          description: Le numéro SIREN de l'entreprise au format xxxxxxxxx.
          type: string
          example: '443061841'
        siren_formate:
          description: Le numéro SIREN de l'entreprise au format xxx xxx xxx.
          type: string
          example: 443 061 841
        nom_entreprise:
          description: >-
            Le nom de l'entreprise. Il est égal à sigle + dénomination en cas de
            personne morale, ou à nom + prénom en cas de personne physique.
            Nullable si le paramètre `integrer_diffusions_partielles` est à
            vrai.
          type: string
          example: GOOGLE FRANCE
        personne_morale:
          description: Vrai en cas de personne morale, faux en cas de personne physique.
          type: boolean
        denomination:
          description: Dénomination de l'entreprise si personne morale.
          type: string
          format: nullable
          example: GOOGLE FRANCE
        nom:
          description: Nom si personne physique.
          type: string
          format: nullable
          example: null
        prenom:
          description: Prénom si personne physique.
          type: string
          format: nullable
          example: null
        sexe:
          description: Sexe si personne physique. F pour féminin, M pour masculin.
          type: string
          format: nullable
          example: null
        code_naf:
          description: Code NAF de l'entreprise.
          type: string
          example: 70.10Z
        libelle_code_naf:
          description: Libellé du code NAF de l'entreprise.
          type: string
          example: Activités des sièges sociaux
        domaine_activite:
          description: Domaine d'activité de l'entreprise.
          type: string
          example: Activités des sièges sociaux ; conseil de gestion
        conventions_collectives:
          description: Liste des conventions collectives de l'entreprise.
          type: array
          items:
            type: object
            properties:
              nom:
                description: Nom de la convention collective.
                type: string
                example: >-
                  Convention collective nationale applicable au personnel des
                  bureaux d'études techniques des cabinets d'ingénieurs-conseils
                  et des sociétés de conseils(BET SYNTEC)
              idcc:
                description: Code IDCC de l'entreprise.
                type: integer
                example: 1486
              confirmee:
                description: >-
                  Si confirmée, l'information est issue de la DSN de
                  l'entreprise et fournie par le ministère du Travail. Si non
                  confirmée, ce n'est qu'une estimation à partir du code NAF de
                  l'entreprise.
                type: boolean
              pourcentage:
                description: >-
                  Pourcentage de fiabilité de l'estimation. Si la convention est
                  confirmée, vaut null.
                type: number
                format: nullable
                example: 96.2
        date_creation:
          description: Date de création de l'entreprise au format AAAA-MM-JJ.
          type: string
          format: date
          example: '2002-05-16'
        date_creation_formate:
          description: Date de création de l'entreprise au format JJ/MM/AAAA.
          type: string
          example: 16/05/2002
        entreprise_cessee:
          description: >-
            Si vrai, l'entreprise n'est plus en activité. Sinon, elle est
            toujours en activité.
          type: boolean
        date_cessation:
          description: Date de cessation de l'entreprise au format AAAA-MM-JJ.
          type: string
          format: nullable
          example: '2002-05-16'
        entreprise_employeuse:
          description: Si vrai, l'entreprise a au moins un employé.
          type: boolean
        societe_a_mission:
          description: Si vrai, l'entreprise est société à mission.
          type: boolean
          format: nullable
        categorie_juridique:
          description: >-
            Catégorie juridique de l'entreprise, selon la [nomenclature
            Insee](https://www.insee.fr/fr/information/2028129). 


            **Note** : Le code correspond à celui de l'INSEE, à l'exception des
            SASU qui auront comme code 5720 et les EURL qui auront comme code
            5498.
          type: string
          example: '5499'
        forme_juridique:
          description: Forme juridique de l'entreprise.
          type: string
          example: Société à responsabilité limitée (SARL)
        forme_exercice:
          description: Forme d'exercice de l'activité principale.
          type: string
          enum:
            - Agent commercial
            - 'Agricole : Périmètre des non actifs agricoles'
            - 'Agricole : Périmètre des actifs agricoles'
            - Artisanale non réglementée
            - Artisanale réglementée
            - Commerciale
            - Libérale non réglementée
            - Libérale réglementée
            - Loueur meublé
            - Toute forme d'activité
            - Gestion de biens
            - Loueur terre agricole
            - Activité de prospection uniquement (non commerciale)
            - Sans activité
          format: nullable
          example: Commerciale
        effectif:
          description: Tranche d'effectif de l'entreprise.
          type: string
          example: Entre 500 et 999 salariés
        effectif_min:
          description: Effectif minimal de l'entreprise.
          type: integer
          example: 500
        effectif_max:
          description: Effectif maximal de l'entreprise.
          type: integer
          example: 999
        tranche_effectif:
          description: >-
            Tranche d'effectif de l'entreprise, selon la [nomenclature
            Sirene](https://www.sirene.fr/sirene/public/variable/tefen#:~:text=Cette%20variable%20correspond%20%C3%A0%20la,effectif%20salari%C3%A9%20de%20l'entreprise.).
          type: string
          format: nullable
          example: '41'
        annee_effectif:
          description: >-
            Année de validité des variables effectif, effectif_min et
            effectif_max.
          type: integer
          format: nullable
          example: 2017
        capital:
          description: Capital de l'entreprise.
          type: number
          format: nullable
          example: 464884017
        statut_rcs:
          description: Statut de l'entreprise au RCS
          type: string
          format: nullable
          example: Inscrit
    EntrepriseFiche:
      allOf:
        - $ref: '#/components/schemas/EntrepriseBase'
        - type: object
          properties:
            siege:
              $ref: '#/components/schemas/EtablissementFiche'
            diffusable:
              description: >-
                Le statut de diffusion de l'entreprise. Non diffusable
                correspond à une entreprise ayant demandé une diffusion
                partielle de ses données. Aucune information n'est alors
                disponible, sauf si vous utilisez le paramètre
                `integrer_diffusions_partielles`.
              type: boolean
            sigle:
              description: Sigle de l'entreprise si personne morale.
              type: string
              format: nullable
              example: null
            objet_social:
              description: Objet social de l'entreprise.
              type: string
              format: nullable
              example: >-
                Fourniture de services et/ou conseils relatifs aux logiciels au
                réseau internet aux réseaux télématiques ou en ligne notamment
                L'intermediation en matière de vente de publicité en ligne la
                promotion sous toutes ses formes de la publicité en ligne la
                promotion directe de produits et services et la mise en oeuvre
                de centres de traitement de l'information
            capital_formate:
              description: Capital l'entreprise au format xx xxx €.
              type: string
              format: nullable
              example: "464 884 017,00\_€"
            capital_actuel_si_variable:
              description: Capital actuel de l'entreprise si variable.
              type: string
              format: nullable
              example: null
            devise_capital:
              description: Devise de capital_formate et capital_actuel_si_variable.
              type: string
              format: nullable
              example: Euros
            numero_rcs:
              description: Numéro RCS de l'entreprise.
              type: string
              format: nullable
              example: 464884017 R.C.S. Paris
            date_cloture_exercice:
              description: Date de clôture d'exercice de l'entreprise.
              type: string
              format: nullable
              example: null
            date_cloture_exercice_exceptionnelle:
              description: Date de clôture d'exercice exceptionnel de l'entreprise.
              type: string
              format: nullable
              example: null
            date_cloture_exercice_exceptionnelle_formate:
              description: >-
                Date de clôture d'exercice exceptionnel formatée de
                l'entreprise.
              type: string
              format: nullable
              example: null
            prochaine_date_cloture_exercice:
              description: Prochaine date de clôture d'exercice de l'entreprise.
              type: string
              format: nullable
              example: null
            prochaine_date_cloture_exercice_formate:
              description: Prochaine date de clôture d'exercice formatée de l'entreprise.
              type: string
              format: nullable
              example: null
            economie_sociale_solidaire:
              description: >-
                Vrai si l'entreprise est une entreprise de l'économie sociale et
                solidaire.
              type: boolean
            duree_personne_morale:
              description: Durée de la personne morale.
              type: string
              format: nullable
              example: null
            dernier_traitement:
              description: Date de dernier traitement de l'entreprise.
              type: string
              format: date
              example: '2020-07-09'
            derniere_mise_a_jour_sirene:
              description: >-
                Dernière mise à jour de la base de donnée sirène au format
                AAAA-MM-JJ.
              type: string
              format: date
              example: '2020-08-13'
            derniere_mise_a_jour_rcs:
              description: >-
                Dernière mise à jour de la base de donnée RCS au format
                AAAA-MM-JJ.
              type: string
              format: date
              example: '2020-06-25'
            statut_rcs:
              description: Statut de l'entreprise au RCS.
              type: string
              enum:
                - Inscrit
                - Non inscrit
                - Radié
              example: Inscrit
            greffe:
              description: Greffe RCS de l'entreprise.
              type: string
              format: nullable
              example: Paris
            code_greffe:
              description: Code greffe RCS de l'entreprise.
              type: string
              format: nullable
              example: '7501'
            date_immatriculation_rcs:
              description: Date d'immatriculation de l'entreprise au RCS.
              type: string
              format: nullable
              example: null
            date_premiere_immatriculation_rcs:
              description: Date de la première immatriculation de l'entreprise au RCS.
              type: string
              format: nullable
              example: null
            date_debut_activite:
              description: Date de début d'activité de l'entreprise.
              type: string
              format: nullable
              example: '2002-08-14'
            date_debut_premiere_activite:
              description: Date de début d'activité de l'entreprise.
              type: string
              format: nullable
              example: null
            date_radiation_rcs:
              description: Date de radiation de l'entreprise au RCS.
              type: string
              format: nullable
              example: null
            statut_rne:
              description: Statut de l'entreprise au RNE.
              type: string
              format: nullable
              enum:
                - Inscrit
                - Non inscrit
                - Radié
              example: null
            date_immatriculation_rne:
              description: Date d'immatriculation de l'entreprise au RNE.
              type: string
              format: nullable
              example: null
            date_radiation_rne:
              description: Date de radiation de l'entreprise au RNE.
              type: string
              format: nullable
              example: null
            numero_tva_intracommunautaire:
              description: Numéro de TVA intracommunautaire de l'entreprise.
              type: string
              example: FR64443061841
            validite_tva_intracommunautaire:
              description: >-
                Présent uniquement si le paramètre
                validite_tva_intracommunautaire a été mis à vrai.


                Si vrai, le numéro de TVA intracommunautaire est valide. Si
                faux, il est invalide. Si null, la validité n'a pas pu être
                vérifiée.
              type: boolean
              format: optional, nullable
              example: true
            associe_unique:
              description: >-
                Si vrai, l'entreprise est à associé unique (notamment pour les
                SASU et les EURL).
              type: boolean
              format: nullable
            micro_entreprise:
              description: Si vrai, l'entreprise possède le statut de micro-entrepreneur
              type: boolean
              format: optional
              example: false
            etablissements:
              description: Liste des établissements de l'entreprise.
              type: array
              items:
                $ref: '#/components/schemas/EtablissementFiche'
            finances:
              description: Liste des finances de l'entreprise.
              type: array
              items:
                allOf:
                  - type: object
                    properties:
                      annee:
                        description: Année de cloture d'exercice.
                        type: integer
                        example: 2018
                      date_de_cloture_exercice:
                        description: >-
                          Date de cloture de l'exercice des finances de
                          l'entreprise.
                        type: string
                        format: date
                        example: '2018-12-31'
                      duree_exercice:
                        description: Durée de l'exercice de l'entreprise."
                        type: integer
                        example: 12
                  - $ref: '#/components/schemas/Ratios'
            representants:
              description: Liste des représentants de l'entreprise.
              type: array
              items:
                $ref: '#/components/schemas/Representant'
            beneficiaires_effectifs:
              description: >-
                Liste des bénéficiaires effectifs de l'entreprise (si
                disponibles).
              type: array
              items:
                type: object
                properties:
                  date_greffe:
                    description: >-
                      Date de génération des bénéficiaires effectifs, au format
                      AAAA-MM-JJ.
                    type: string
                    format: date nullable
                    example: '2021-01-06'
                  type:
                    description: Type du bénéficiaire effectif
                    type: string
                    format: nullable
                    example: BE_SOC
                  nom:
                    description: Nom du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: McCourt JR
                  nom_usage:
                    description: Nom d'usage du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: null
                  prenom:
                    description: Prénom du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: Frank
                  pseudonyme:
                    type: string
                    format: nullable
                    example: null
                  date_de_naissance_formatee:
                    description: >-
                      Mois et année de naissance du bénéficiaire effectif, au
                      format MM/AAAA.
                    type: string
                    format: nullable
                    example: 08/1953
                  date_de_naissance_complete_formatee:
                    description: >-
                      Date de naissance complète du bénéficiaire effectif, au
                      format JJ/MM/AAAA.
                    type: string
                    format: date nullable
                    example: 14/08/1953
                  nationalite:
                    description: Nationalité du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: Américaine (Etats Unis)
                  code_nationalite:
                    description: Code de la nationalité du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: US
                  ville_de_naissance:
                    description: Ville de naissance du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: Massachusetts
                  pays_de_naissance:
                    description: Pays de naissance du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: ETATS-UNIS D'AMERIQUE
                  code_pays_de_naissance:
                    description: Code du pays de naissance du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: US
                  adresse_ligne_1:
                    description: Première ligne de l'adresse du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: null
                  adresse_ligne_2:
                    description: Deuxième ligne de l'adresse du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: 888 Seventh Avenue 43rd Floor New York (Etat de New York)
                  adresse_ligne_3:
                    description: Troisième ligne de l'adresse du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: null
                  code_postal:
                    description: Code postal du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: null
                  ville:
                    description: Ville du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: null
                  pays:
                    description: Pays du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: ETATS-UNIS D'AMERIQUE
                  code_pays:
                    description: Code du pays du bénéficiaire effectif.
                    type: string
                    format: nullable
                    example: US
                  pourcentage_parts:
                    description: >-
                      Parts détenues par le bénéficiaire effectif, en
                      pourcentage des parts totales.
                    type: number
                    format: nullable
                  pourcentage_parts_directes:
                    description: >-
                      Parts détenues de façon directe par le bénéficiaire
                      effectif, en pourcentage des parts totales.
                    type: number
                    format: nullable
                  pourcentage_parts_indirectes:
                    description: >-
                      Parts détenues de façon indirecte par le bénéficiaire
                      effectif, en pourcentage des parts totales.
                    type: number
                    format: nullable
                  pourcentage_parts_vocation_titulaire:
                    description: >-
                      Parts dont le bénéficiaire effectif a vocation à devenir
                      titulaire par l'effet d'un acte juridique, en pourcentage
                      des parts totales.
                    type: number
                    format: nullable
                  details_parts_directes:
                    description: >-
                      Détails des parts détenues de façon directe par le
                      bénéficiaire effectif.
                    type: object
                    format: nullable
                    properties:
                      pourcentage_pleine_propriete:
                        description: >-
                          Parts détenues de façon directe en pleine propriété
                          par le bénéficiaire effectif, en pourcentage des parts
                          totales.
                        type: number
                      pourcentage_nue_propriete:
                        description: >-
                          Parts détenues de façon directe en nue propriété par
                          le bénéficiaire effectif, en pourcentage des parts
                          totales.
                        type: number
                  details_parts_indirectes:
                    description: >-
                      Détails des parts détenues de façon indirecte par le
                      bénéficiaire effectif.
                    type: object
                    format: nullable
                    properties:
                      pourcentage_en_indivision:
                        description: >-
                          Parts détenues de façon indirecte par le biais d'une
                          indivision par le bénéficiaire effectif, en
                          pourcentage des parts totales.
                        type: number
                      pourcentage_en_personne_morale:
                        description: >-
                          Parts détenues de façon indirecte par le biais d'une
                          personne morale par le bénéficiaire effectif, en
                          pourcentage des parts totales.
                        type: number
                      details_en_indivision:
                        description: >-
                          Détails des parts détenues de façon indirecte par le
                          biais d'une indivision par le bénéficiaire effectif.
                        type: object
                        format: nullable
                        properties:
                          pourcentage_pleine_propriete:
                            description: >-
                              Parts détenues de façon indirecte par le biais
                              d'une indivision en pleine propriété par le
                              bénéficiaire effectif, en pourcentage des parts
                              totales.
                            type: number
                          pourcentage_nue_propriete:
                            description: >-
                              Parts détenues de façon indirecte par le biais
                              d'une indivision en nue propriété par le
                              bénéficiaire effectif, en pourcentage des parts
                              totales.
                            type: number
                      details_en_personne_morale:
                        description: >-
                          Détails des parts détenues de façon indirecte par le
                          biais d'une personne morale par le bénéficiaire
                          effectif.
                        type: object
                        format: nullable
                        properties:
                          pourcentage_pleine_propriete:
                            description: >-
                              Parts détenues de façon indirecte par le biais
                              d'une personne morale en pleine propriété par le
                              bénéficiaire effectif, en pourcentage des parts
                              totales.
                            type: number
                          pourcentage_nue_propriete:
                            description: >-
                              Parts détenues de façon indirecte par le biais
                              d'une personne morale en nue propriété par le
                              bénéficiaire effectif, en pourcentage des parts
                              totales.
                            type: number
                  details_parts_vocation_titulaire:
                    description: >-
                      Détails des parts dont le bénéficiaire effectif a vocation
                      à devenir titulaire.
                    type: object
                    format: nullable
                    properties:
                      pourcentage_directes:
                        description: >-
                          Parts dont le bénéficiaire effectif a vocation à
                          devenir titulaire de façon directe, en pourcentage des
                          parts totales.
                        type: number
                      pourcentage_indirectes:
                        description: >-
                          Parts dont le bénéficiaire effectif a vocation à
                          devenir titulaire de façon indirecte, en pourcentage
                          des parts totales.
                        type: number
                      details_directes:
                        description: >-
                          Détails des parts dont le bénéficiaire effectif a
                          vocation à devenir titulaire de façon directe.
                        type: object
                        format: nullable
                        properties:
                          pourcentage_pleine_propriete:
                            description: >-
                              Parts dont le bénéficiaire effectif a vocation à
                              devenir titulaire de façon directe en pleine
                              propriété, en pourcentage des parts totales.
                            type: number
                          pourcentage_nue_propriete:
[...]
