openapi: 3.0.1
info:
  title: Melodie API
  description: Track API
  version: 1.0.0
  contact:
    email: api@melod.ie
  x-logo:
    url: https://melod.ie/logo.png
    altText: Melod.ie
servers:
  - url: https://api.melod.ie
tags:
  - name: Search
  - name: Collections
  - name: Trending
  - name: Download
  - name: Genres
  - name: Genre groups
  - name: Moods
  - name: Instruments
  - name: Purposes
  - name: Info
  - name: Download track version
paths:
  /api/v1/collections:
    get:
      tags:
        - Collections
      summary: Get list of all available collections
      operationId: Collections_getListAll
      parameters:
        - description: Your API token.
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionsGetListAllResponse'
  /api/v1/collections/{collection_safename}:
    get:
      tags:
        - Collections
      summary: Get tracks from a collection
      operationId: Collections_getTracks
      parameters:
        - description: Your API token.
          name: Authorization
          in: header
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/CollectionSafeName'
      responses:
        '200':
          description: Collection tracks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionsGetTracksResponse'
  /api/v1/tracks/search:
    get:
      tags:
        - Search
      summary: Perform track search
      operationId: Search_tracks
      parameters:
        - description: Your API token.
          name: Authorization
          in: header
          required: true
          schema:
            type: string
        - description: Page of the results you want to retrieve.
          name: page
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Sorting of results, possible values are “latest”, “shuffle” and
            “featured” (used by default).
          name: sort
          in: query
          required: false
          schema:
            type: string
        - description: >-
            General string query to search for (mostly to use for track names,
            composers).
          name: q
          in: query
          required: false
          schema:
            type: string
        - description: Array of genre groups to search for.
          name: genreGroup[]
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Logic operator for genre groups, can be AND or OR (default, also
            selected if invalid value is provided). Operator is case sensitive!
          name: genreGroupOperator
          in: query
          required: false
          schema:
            type: string
        - description: Array of genre groups to exclude from the search.
          name: notGenreGroup[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of genres to search for.
          name: genre[]
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Logic operator for genres, can be AND or OR (default, also selected
            if invalid value is provided). Operator is case sensitive!
          name: genreOperator
          in: query
          required: false
          schema:
            type: string
        - description: Array of genres to exclude from the search.
          name: notGenre[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of moods to search for.
          name: mood[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of moods to exclude from the search.
          name: notMood[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of instruments to search for.
          name: instrument[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of instruments to exclude from the search.
          name: notInstrument[]
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Array of purposes to search for. Purposes are like 'TV production
            genres'.
          name: purpose[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of purposes to exclude from the search.
          name: notPurpose[]
          in: query
          required: false
          schema:
            type: string
        - description: True/false; Should return tracks with variable tempo or not.
          name: variable_tempo
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Minimal tempo in BPM for searched tracks (must be used together with
            max_tempo).
          name: min_tempo
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Maximal tempo in BPM for searched tracks (must be used together with
            min_tempo).
          name: max_tempo
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Minimal duration in seconds for searched tracks (must be used
            together with max_duration).
          name: min_duration
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Maximal duration in seconds for searched tracks (must be used
            together with min_duration).
          name: max_duration
          in: query
          required: false
          schema:
            type: string
        - description: Array of desired keys of the tracks.
          name: key[]
          in: query
          required: false
          schema:
            type: string
        - description: Amount of results per page (default is 15, max is 200)
          name: per_page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchTracksResponse'
  /api/v1/tracks/simplified_search:
    get:
      tags:
        - Search
      summary: Perform track search - with main tracks info only
      operationId: Search_mainTracksInfoGet
      parameters:
        - description: Your API token.
          name: Authorization
          in: header
          required: true
          schema:
            type: string
        - description: Page of the results you want to retrieve.
          name: page
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Sorting of results, possible values are “latest”, “shuffle” and
            “featured” (used by default).
          name: sort
          in: query
          required: false
          schema:
            type: string
        - description: >-
            General string query to search for (mostly to use for track names,
            composers).
          name: q
          in: query
          required: false
          schema:
            type: string
        - description: Array of genre groups to search for.
          name: genreGroup[]
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Logic operator for genre groups, can be AND or OR (default, also
            selected if invalid value is provided). Operator is case sensitive!
          name: genreGroupOperator
          in: query
          required: false
          schema:
            type: string
        - description: Array of genre groups to exclude from the search.
          name: notGenreGroup[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of genres to search for.
          name: genre[]
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Logic operator for genres, can be AND or OR (default, also selected
            if invalid value is provided). Operator is case sensitive!
          name: genreOperator
          in: query
          required: false
          schema:
            type: string
        - description: Array of genres to exclude from the search.
          name: notGenre[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of moods to search for.
          name: mood[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of moods to exclude from the search.
          name: notMood[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of instruments to search for.
          name: instrument[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of instruments to exclude from the search.
          name: notInstrument[]
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Array of purposes to search for. Purposes are like 'TV production
            genres'.
          name: purpose[]
          in: query
          required: false
          schema:
            type: string
        - description: Array of purposes to exclude from the search.
          name: notPurpose[]
          in: query
          required: false
          schema:
            type: string
        - description: True/false; Should return tracks with variable tempo or not.
          name: variable_tempo
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Minimal tempo in BPM for searched tracks (must be used together with
            max_tempo).
          name: min_tempo
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Maximal tempo in BPM for searched tracks (must be used together with
            min_tempo).
          name: max_tempo
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Minimal duration in seconds for searched tracks (must be used
            together with max_duration).
          name: min_duration
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Maximal duration in seconds for searched tracks (must be used
            together with min_duration).
          name: max_duration
          in: query
          required: false
          schema:
            type: string
        - description: Array of desired keys of the tracks.
          name: key[]
          in: query
          required: false
          schema:
            type: string
        - description: Amount of results per page (default is 15, max is 200)
          name: per_page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchMainTracksInfoGetResponse'
  /api/v1/tracks/genres:
    get:
      tags:
        - Genres
      summary: Get list of all current genres
      operationId: Genres_getAllGenres
      responses:
        '200':
          description: List of genres
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenresGetAllGenresResponse'
  /api/v1/tracks/genre_groups:
    get:
      tags:
        - Genre groups
      summary: Get list of all current genre groups
      operationId: GenreGroups_getAllGenreGroups
      responses:
        '200':
          description: List of genre groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreGroupsGetAllGenreGroupsResponse'
  /api/v1/tracks/moods:
    get:
      tags:
        - Moods
      summary: Get list of all current moods
      operationId: Moods_getAll
      responses:
        '200':
          description: List of moods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoodsGetAllResponse'
  /api/v1/tracks/instruments:
    get:
      tags:
        - Instruments
      summary: Get list of all current instruments
      operationId: Instruments_getAllInstruments
      responses:
        '200':
          description: List of instruments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentsGetAllInstrumentsResponse'
  /api/v1/tracks/purposes:
    get:
      tags:
        - Purposes
      summary: Get list of all current purposes
      operationId: Purposes_getAll
      responses:
        '200':
          description: List of purposes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurposesGetAllResponse'
  /api/v1/tracks/trending:
    get:
      tags:
        - Trending
      summary: Get 25 most popular tracks currently
      operationId: Trending_getPopularTracks
      parameters:
        - description: Your API token.
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Trending tracks results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingGetPopularTracksResponse'
  /api/v1/tracks/simplified_trending:
    get:
      tags:
        - Trending
      summary: Get 25 most popular tracks currently - with main tracks info only
      operationId: Trending_getPopularTracks
      parameters:
        - description: Your API token.
          name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Trending tracks results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingGetPopularTracks200Response'
  /api/v1/tracks/{track_id}/info:
    get:
      tags:
        - Info
      summary: Get info about the specific track id
      operationId: Info_trackInfoGet
      parameters:
        - description: Your API token.
          name: Authorization
          in: header
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/TrackId'
      responses:
        '200':
          description: Track info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoTrackInfoGetResponse'
  /api/v1/tracks/{track_id}/download:
    get:
      tags:
        - Download
      summary: Download a track
      operationId: Download_trackFile
      parameters:
        - description: Your API token.
          name: Authorization
          in: header
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/TrackId'
        - description: >-
            Version of the track to be retrived, can be "wav" or "mp3" ("wav" is
            default)
          name: version
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Zip file containing all track versions
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/DownloadTrackFileResponse'
  /api/v1/tracks/{track_version_id}/download_version:
    get:
      tags:
        - Download track version
      summary: Download a track version
      operationId: DownloadTrackVersion_getVersionDownload
      parameters:
        - description: Your API token.
          name: Authorization
          in: header
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/TrackVersionId'
        - description: >-
            Version of the track to be retrived, can be "wav" or "mp3" ("wav" is
            default)
          name: version
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Audio file
          content:
            application/wav:
              schema:
                $ref: >-
                  #/components/schemas/DownloadTrackVersionGetVersionDownloadResponse
components:
  parameters:
    TrackId:
      name: track_id
      in: path
      required: true
      schema:
        oneOf:
          - $ref: '#/components/schemas/Id'
    TrackVersionId:
      name: track_version_id
      in: path
      required: true
      schema:
        oneOf:
          - $ref: '#/components/schemas/Id'
    CollectionSafeName:
      name: collection_safename
      in: path
      required: true
      schema:
        oneOf:
          - $ref: '#/components/schemas/SafeName'
  schemas:
    Id:
      description: Numeric resource identifier.
      type: integer
      minimum: 1
      example: 1
    SafeName:
      description: Safename of a collection
      type: string
      example: collection-name
    CollectionsGetListAllResponse:
      type: object
      properties:
        data:
          description: Array of collections
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                      safename:
                        description: HTML safe name of the collection
                        type: string
    CollectionsGetTracksResponse:
      type: object
      properties:
        data:
          description: Array of tracks
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      title:
                        type: string
                      description:
                        type: string
                      id:
                        type: integer
                      tempo:
                        type: integer
                      stream_url:
                        description: >-
                          Url for audio stream for preview in player of the main
                          track oversion of this track.
                        type: string
                      variable_tempo:
                        type: boolean
                      instruments:
                        type: array
                        items:
                          type: string
                      moods:
                        type: array
                        items:
                          type: string
                      genres:
                        type: array
                        items:
                          type: string
                      purposes:
                        type: array
                        items:
                          type: string
                      artist_name:
                        type: string
                      composers:
                        type: array
                        items:
                          type: string
                      length:
                        description: Length in seconds for main track version.
                        type: integer
                      publisher:
                        type: string
                      isrc:
                        type: string
                      cat_id:
                        type: string
                      relese_year:
                        type: string
                      start_key:
                        type: string
                      end_key:
                        type: string
                      avatar:
                        description: Url for artist avatar.
                        type: string
                      track_versions:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            id:
                              type: string
                            stream_url:
                              description: >-
                                Url for audio preview in player for the specific
                                track version.
                              type: string
                            length:
                              description: Length in seconds for this specific version.
                              type: integer
                            download_link:
                              description: >-
                                Download link for the specific track version (if
                                available in the API plan).
                              type: string
    SearchTracksResponse:
      type: object
      properties:
        data:
          description: Array of tracks
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      title:
                        type: string
                      description:
                        type: string
                      id:
                        type: integer
                      tempo:
                        type: integer
                      stream_url:
                        description: >-
                          Url for audio stream for preview in player of the main
                          track oversion of this track.
                        type: string
                      variable_tempo:
                        type: boolean
                      instruments:
                        type: array
                        items:
                          type: string
                      moods:
                        type: array
                        items:
                          type: string
                      genres:
                        type: array
                        items:
                          type: string
                      purposes:
                        type: array
                        items:
                          type: string
                      artist_name:
                        type: string
                      composers:
                        type: array
                        items:
                          type: string
                      length:
                        description: Length in seconds for main track version.
                        type: integer
                      publisher:
                        type: string
                      isrc:
                        type: string
                      cat_id:
                        type: string
                      relese_year:
                        type: string
                      start_key:
                        type: string
                      end_key:
                        type: string
                      avatar:
                        description: Url for artist avatar.
                        type: string
                      track_versions:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            id:
                              type: string
                            stream_url:
                              description: >-
                                Url for audio preview in player for the specific
                                track version.
                              type: string
                            length:
                              description: Length in seconds for this specific version.
                              type: integer
                            download_link:
                              description: >-
                                Download link for the specific track version (if
                                available in the API plan).
                              type: string
        meta:
          description: Metadata
          type: object
          properties:
            obj_count:
              description: Total count of found objects
              type: integer
            page_count:
              description: Total count of pages
              type: integer
    SearchMainTracksInfoGetResponse:
      type: object
      properties:
        data:
          description: Array of tracks
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      title:
                        type: string
                      description:
                        type: string
                      id:
                        type: integer
                      tempo:
                        type: integer
                      stream_url:
                        description: >-
                          Url for audio stream for preview in player of the main
                          track oversion of this track.
                        type: string
                      variable_tempo:
                        type: boolean
                      instruments:
                        type: array
                        items:
                          type: string
                      moods:
                        type: array
                        items:
                          type: string
                      genres:
                        type: array
                        items:
                          type: string
                      purposes:
                        type: array
                        items:
                          type: string
                      artist_name:
                        type: string
                      composers:
                        type: array
                        items:
                          type: string
                      length:
                        description: Length in seconds for main track version.
                        type: integer
                      publisher:
                        type: string
                      isrc:
                        type: string
                      cat_id:
                        type: string
                      relese_year:
                        type: string
                      start_key:
                        type: string
                      end_key:
                        type: string
                      avatar:
                        description: Url for artist avatar.
                        type: string
                      main_track_versions:
                        type: object
                        properties:
                          title:
                            type: string
                          id:
                            type: string
                          stream_url:
                            description: >-
                              Url for audio preview in player for the specific
                              track version.
                            type: string
                          length:
                            description: Length in seconds for this specific version.
                            type: integer
                          download_link:
                            description: >-
                              Download link for the specific track version (if
                              available in the API plan).
                            type: string
        meta:
          description: Metadata
          type: object
          properties:
            obj_count:
              description: Total count of found objects
              type: integer
            page_count:
              description: Total count of pages
              type: integer
    GenresGetAllGenresResponse:
      type: object
      properties:
        data:
          description: Array of genres
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                      genre_group_name:
                        type: string
    GenreGroupsGetAllGenreGroupsResponse:
      type: object
      properties:
        data:
          description: Array of genre groups
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
                      genre_names:
                        description: Array of genres
                        type: array
                        items:
                          oneOf:
                            - type: string
    MoodsGetAllResponse:
      type: object
      properties:
        data:
          description: Array of moods
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
    InstrumentsGetAllInstrumentsResponse:
      type: object
      properties:
        data:
          description: Array of instruments
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
    PurposesGetAllResponse:
      type: object
      properties:
        data:
          description: Array of purposes
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      name:
                        type: string
    TrendingGetPopularTracksResponse:
      type: object
      properties:
        data:
          description: Array of tracks
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      title:
                        type: string
                      description:
                        type: string
                      id:
                        type: integer
                      tempo:
                        type: integer
                      stream_url:
                        description: >-
                          Url for audio stream for preview in player of the main
                          track oversion of this track.
                        type: string
                      variable_tempo:
                        type: boolean
                      instruments:
                        type: array
                        items:
                          type: string
                      moods:
                        type: array
                        items:
                          type: string
                      genres:
                        type: array
                        items:
                          type: string
                      purposes:
                        type: array
                        items:
                          type: string
                      artist_name:
                        type: string
                      composers:
                        type: array
                        items:
                          type: string
                      length:
                        description: Length in seconds for main track version.
                        type: integer
                      publisher:
                        type: string
                      isrc:
                        type: string
                      cat_id:
                        type: string
                      relese_year:
                        type: string
                      start_key:
                        type: string
                      end_key:
                        type: string
                      avatar:
                        description: Url for artist avatar.
                        type: string
                      track_versions:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            id:
                              type: string
                            stream_url:
                              description: >-
                                Url for audio preview in player for the specific
                                track version.
                              type: string
                            length:
                              description: Length in seconds for this specific version.
                              type: integer
                            download_link:
                              description: >-
                                Download link for the specific track version (if
                                available in the API plan).
                              type: string
        meta:
          description: Metadata
          type: object
          properties:
            obj_count:
              description: Total count of found objects
              type: integer
            page_count:
              description: Total count of pages
              type: integer
    TrendingGetPopularTracks200Response:
      type: object
      properties:
        data:
          description: Array of tracks
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      title:
                        type: string
                      description:
                        type: string
                      id:
                        type: integer
                      tempo:
                        type: integer
                      stream_url:
                        description: >-
                          Url for audio stream for preview in player of the main
                          track oversion of this track.
                        type: string
                      variable_tempo:
                        type: boolean
                      instruments:
                        type: array
                        items:
                          type: string
                      moods:
                        type: array
                        items:
                          type: string
                      genres:
                        type: array
                        items:
                          type: string
                      purposes:
                        type: array
                        items:
                          type: string
                      artist_name:
                        type: string
                      composers:
                        type: array
                        items:
                          type: string
                      length:
                        description: Length in seconds for main track version.
                        type: integer
                      publisher:
                        type: string
                      isrc:
                        type: string
                      cat_id:
                        type: string
                      relese_year:
                        type: string
                      start_key:
                        type: string
                      end_key:
                        type: string
                      avatar:
                        description: Url for artist avatar.
                        type: string
                      main_track_version:
                        type: object
                        properties:
                          title:
                            type: string
                          id:
                            type: string
                          stream_url:
                            description: >-
                              Url for audio preview in player for the specific
                              track version.
                            type: string
                          length:
                            description: Length in seconds for this specific version.
                            type: integer
                          download_link:
                            description: >-
                              Download link for the specific track version (if
                              available in the API plan).
                            type: string
        meta:
          description: Metadata
          type: object
          properties:
            obj_count:
              description: Total count of found objects
              type: integer
            page_count:
              description: Total count of pages
              type: integer
    InfoTrackInfoGetResponse:
      type: object
      properties:
        data:
          description: Array of tracks
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  attributes:
                    type: object
                    properties:
                      title:
                        type: string
                      description:
                        type: string
                      id:
                        type: integer
                      tempo:
                        type: integer
                      stream_url:
                        description: >-
                          Url for audio stream for preview in player of the main
                          track oversion of this track.
                        type: string
                      variable_tempo:
                        type: boolean
                      instruments:
                        type: array
                        items:
                          type: string
                      moods:
                        type: array
                        items:
                          type: string
                      genres:
                        type: array
                        items:
                          type: string
                      purposes:
                        type: array
                        items:
                          type: string
                      artist_name:
                        type: string
                      composers:
                        type: array
                        items:
                          type: string
                      length:
                        description: Length in seconds for main track version.
                        type: integer
                      publisher:
                        type: string
                      isrc:
                        type: string
                      cat_id:
                        type: string
                      relese_year:
                        type: string
                      start_key:
                        type: string
                      end_key:
                        type: string
                      avatar:
                        description: Url for artist avatar.
                        type: string
                      track_versions:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            id:
                              type: string
                            stream_url:
                              description: >-
                                Url for audio preview in player for the specific
                                track version.
                              type: string
                            length:
                              description: Length in seconds for this specific version.
                              type: integer
                            download_link:
                              description: >-
                                Download link for the specific track version (if
                                available in the API plan).
                              type: string
    DownloadTrackFileResponse:
      type: zip
    DownloadTrackVersionGetVersionDownloadResponse:
      type: string
      format: binary
