openapi: 3.0.3
info:
  title: Moffin API
  description: >
    # Introduction


    Moffin allows you to validate and evaluate the credit profile of your
    clients in an instant. Consult and automatically evaluate their financial
    information.


    Moffin API is implemented as a [REST
    API](https://en.wikipedia.org/wiki/Representational_State_Transfer)
    architecture.

    Our API has predictable resource-oriented URLs, accepts form-encoded request
    bodies, returns JSON responses, and uses standard HTTP response codes,
    authentication, and verbs.


    Click [here](https://guides.moffin.mx) to consult our guides.


    # Environments


    | Name           |
    Description                                                                                                                                                                                                                                                   
    | Base URL                         |

    | -------------- |
    --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    | -------------------------------- |

    | **Sandbox**    | The Sandbox environment is dedicated to development and
    testing. In this environment, no real taxpayer credentials are required and
    all interaction with the Moffin is simulated generating life-like data,
    allowing you to pull test data from all endpoints. |
    https://sandbox.moffin.mx/api/v1 |

    | **Production** | The Production environment is dedicated to the
    application with real connections to Moffin. In this environment, real
    client credentials are required and you will get real data through
    Moffin.                                                               |
    https://app.moffin.mx/api/v1     |


    Each environment has a different API Key for authentication.


    # Generate access token


    Go to the settings panel in Moffin to create an access token.

    Go to 'Configuración' > 'API' > 'Crear nuevo token':


    - [Set up token in sandbox](https://sandbox.moffin.mx/configuracion/api)

    - [Set up token in production](https://app.moffin.mx/configuracion/api)


    You can then set the token as shown in this example:


    ```sh
      curl --location 'https://sandbox.moffin.mx/api/v1/report' \
        --header 'Authorization: Token $TOKEN'
    ```
  version: 0.1.0
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Moffin Sandbox
    url: https://sandbox.moffin.mx
  - description: Moffin Production
    url: https://app.moffin.mx
tags:
  - description: Endpoints related to query a service
    name: Query data sources
  - description: Profile related end-points
    name: profiles
  - name: form
  - name: formconfigs
  - name: forms
  - description: Report related end-points
    name: reports
  - name: beta
  - description: Postal codes related end-points
    name: postal codes
  - description: Customers related end-points
    name: customers
  - description: Endpoints related to getting service queries
    name: Service queries
  - name: evaluations
paths:
  /api/v1/profiles/{id}:
    put:
      tags:
        - profiles
      operationId: Profiles_updateProfile
      description: Edit a profile
      parameters:
        - schema:
            type: number
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilesUpdateProfileRequest'
            examples:
              PF:
                value:
                  email: maestela@moffin.mx
                  firstName: MA
                  middleName: ESTELA
                  rfc: AESE500614JK1
                  basicRFC: AESE500614
                  firstLastName: ARENAS
                  secondLastName: SANCHEZ
                  address: ZARAGOZA OTE NO 15-A
                  city: TLAXCALA
                  state: TLA
                  zipCode: '90500'
                  nationality: MX
                  exteriorNumber: ''
                  interiorNumber: ''
                  neighborhood: HUAMANTLA
                  municipality: ''
                  accountType: PF
                  country: MX
              PM:
                value:
                  tradeName: ALMACENES GHINOS,SA DE CV
                  rfc: AGS930324RN7
                  basicRFC: AGS930324
                  address: AV IGNACIO ALLENDE LOTE 11-B LOCAL 2
                  city: TEPEAPULCO
                  state: HID
                  zipCode: '43990'
                  nationality: MX
                  country: MX
                  neighborhood: CD SAHAGUN HGO
                  accountType: PM
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilesUpdateProfileResponse'
    get:
      tags:
        - profiles
      operationId: Profiles_getById
      description: Get a profile by ID
      parameters:
        - schema:
            type: number
          in: path
          name: id
          required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilesGetByIdResponse'
  /api/v1/profiles:
    post:
      tags:
        - profiles
      operationId: Profiles_createProfile
      description: Create profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilesCreateProfileRequest'
            examples:
              PF:
                value:
                  email: maestela@moffin.mx
                  firstName: MA
                  middleName: ESTELA
                  rfc: AESE500614JK1
                  basicRFC: AESE500614
                  firstLastName: ARENAS
                  secondLastName: SANCHEZ
                  address: ZARAGOZA OTE NO 15-A
                  city: TLAXCALA
                  state: TLA
                  zipCode: '90500'
                  nationality: MX
                  exteriorNumber: ''
                  interiorNumber: ''
                  neighborhood: HUAMANTLA
                  municipality: ''
                  accountType: PF
                  country: MX
              PM:
                value:
                  tradeName: ALMACENES GHINOS,SA DE CV
                  rfc: AGS930324RN7
                  basicRFC: AGS930324
                  address: AV IGNACIO ALLENDE LOTE 11-B LOCAL 2
                  city: TEPEAPULCO
                  state: HID
                  zipCode: '43990'
                  nationality: MX
                  country: MX
                  neighborhood: CD SAHAGUN HGO
                  accountType: PM
        required: true
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilesCreateProfileResponse'
    get:
      tags:
        - profiles
      operationId: Profiles_listWithPagination
      description: Get profiles with pagination
      parameters:
        - schema:
            type: integer
            minimum: 10
            maximum: 2000
          in: query
          name: limit
          required: false
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
          required: false
        - schema:
            type: string
            enum:
              - DESC
              - ASC
          in: query
          name: order
          required: false
        - schema:
            type: string
            minLength: 12
            maxLength: 13
          in: query
          name: rfc
          required: false
        - schema:
            type: string
          in: query
          name: externalId
          required: false
        - schema:
            type: string
          in: query
          name: search
          required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilesListWithPaginationResponse'
  /api/v1/profiles/info:
    post:
      tags:
        - profiles
      operationId: Profiles_createMultiple
      description: Create or update many profiles at the same time
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilesCreateMultipleRequest'
            examples:
              PF:
                value:
                  - email: maestela@moffin.mx
                    firstName: MA
                    middleName: ESTELA
                    rfc: AESE500614JK1
                    basicRFC: AESE500614
                    firstLastName: ARENAS
                    secondLastName: SANCHEZ
                    address: ZARAGOZA OTE NO 15-A
                    city: TLAXCALA
                    state: TLA
                    zipCode: '90500'
                    nationality: MX
                    exteriorNumber: ''
                    interiorNumber: ''
                    neighborhood: HUAMANTLA
                    municipality: ''
                    accountType: PF
                    country: MX
              PM:
                value:
                  - tradeName: ALMACENES GHINOS,SA DE CV
                    rfc: AGS930324RN7
                    basicRFC: AGS930324
                    address: AV IGNACIO ALLENDE LOTE 11-B LOCAL 2
                    city: TEPEAPULCO
                    state: HID
                    zipCode: '43990'
                    nationality: MX
                    country: MX
                    neighborhood: CD SAHAGUN HGO
                    accountType: PM
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilesCreateMultipleResponse'
  /api/v1/profiles/{id}/query:
    post:
      tags:
        - profiles
      operationId: Profiles_queryProfileServices
      description: Query profile services
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilesQueryProfileServicesRequest'
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilesQueryProfileServicesResponse'
        '500':
          description: Error schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilesQueryProfileServices500Response'
  /api/v1/profiles/{id}/info:
    get:
      tags:
        - profiles
      operationId: Profiles_getMoffinReducedInfo
      description: Get a moffin reduced profile
      parameters:
        - schema:
            type: number
          in: path
          name: id
          required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilesGetMoffinReducedInfoResponse'
  /api/v1/report:
    get:
      tags:
        - reports
      operationId: Reports_getData
      description: Get reports
      parameters:
        - schema:
            type: integer
            minimum: 10
            maximum: 2000
          in: query
          name: limit
          required: false
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
          required: false
        - schema:
            type: string
            enum:
              - DESC
              - ASC
          in: query
          name: order
          required: false
        - schema:
            type: string
          in: query
          name: search
          required: false
        - schema:
            type: integer
            minimum: 1
          in: query
          name: profileId
          required: false
        - schema:
            type: integer
            minimum: 1
          in: query
          name: formId
          required: false
        - schema:
            type: string
            enum:
              - SUCCESS
              - FAIL
              - PENDING
          in: query
          name: status
          required: false
        - description: >-
            To send an array you must send several times service=value as in the
            following examples: service=sat_rfc&service=bureau_pf or
            service[]=sat_rfc&service[]=bureau_pf 
          schema:
            type: array
            items:
              type: string
              enum:
                - bureau_pf
                - bureau_pm
                - prospector_pf
                - jumio_id_validation
                - renapo_curp
                - sat_1
                - sat_rfc
                - imss_job_history
                - ca_blacklist
                - circulo_credito_pf
            default:
              - bureau_pf
              - bureau_pm
              - prospector_pf
              - jumio_id_validation
              - renapo_curp
              - sat_1
              - sat_rfc
              - imss_job_history
              - ca_blacklist
              - circulo_credito_pf
          in: query
          name: service
          required: false
        - description: >-
            Filter reports by createdAt timestamps. Use timestamps in ISO
            format. Use the format createdAt[from]="timestamp" and
            createdAt[to]="timestamp" to query reports within a date
          schema:
            type: object
            properties:
              from:
                description: Return reports created at or after this timestamp
                type: string
                format: date-time
              to:
                description: Return reports created at of before this timestamp
                type: string
                format: date-time
          in: query
          name: createdAt
          required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsGetDataResponse'
      deprecated: true
  /api/v1/report/{id}:
    get:
      tags:
        - reports
      operationId: Reports_getById
      description: Get report by ID
      parameters:
        - description: >-
            <p></p><p>Enable this flag to generate a link to downloadthe PDF
            file. The link will be available in the <code>pdfURL</code>
            property. Only <i>bureau_pf</i> and <i>bureau_pm</i> reports have
            this service available. Each link expires in 15 minutes.</p>
          schema:
            enum:
              - 'true'
              - 'false'
            default: 'false'
            type: string
          in: query
          name: withPDF
          required: false
        - schema:
            type: number
          in: path
          name: id
          required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsGetByIdResponse'
  /api/v1/postal-codes/{postalCode}:
    get:
      tags:
        - postal codes
      operationId: PostalCodes_getNeighborhoodsByZip
      description: Get neighborhoods by zip code
      parameters:
        - schema:
            type: string
            pattern: ^\d{5}$
          in: path
          name: postalCode
          required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostalCodesGetNeighborhoodsByZipResponse'
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostalCodesGetNeighborhoodsByZip400Response
        '404':
          description: Postal code not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PostalCodesGetNeighborhoodsByZip404Response
  /api/v1/forms:
    get:
      tags:
        - forms
      operationId: Forms_getFormSubmissions
      description: Retrieve form submissions
      parameters:
        - schema:
            type: integer
            minimum: 10
            maximum: 2000
          in: query
          name: limit
          required: false
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
          required: false
        - schema:
            type: string
            enum:
              - DESC
              - ASC
          in: query
          name: order
          required: false
        - schema:
            type: number
          in: query
          name: profileId
          required: false
        - schema:
            type: string
          in: query
          name: search
          required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormsGetFormSubmissionsResponse'
  /api/v1/forms/{id}:
    get:
      tags:
        - forms
      operationId: Forms_getSubmission
      description: Retrieve form submission
      parameters:
        - schema:
            type: number
            minimum: 1
          in: path
          name: id
          required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormsGetSubmissionResponse'
  /api/v1/forms/{id}/query:
    post:
      tags:
        - forms
      operationId: Forms_createFormQuery
      description: Request form services
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormsCreateFormQueryRequest'
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormsCreateFormQueryResponse'
        '500':
          description: Error schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormsCreateFormQuery500Response'
  /api/v1/formconfigs/{id}:
    get:
      tags:
        - formconfigs
      operationId: Formconfigs_getById
      description: Retrieve form config
      parameters:
        - schema:
            type: number
          in: path
          name: id
          required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormconfigsGetByIdResponse'
    patch:
      tags:
        - formconfigs
      operationId: Formconfigs_editConfig
      description: Edit form config
      parameters:
        - schema:
            type: number
            minimum: 1
          in: path
          name: id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormconfigsEditConfigRequest'
            examples:
              PM:
                value:
                  name: PM form
                  slug: pm-form
                  serviceQueries:
                    bureauPM: true
                    satBlackList: true
                    satRFC: true
                  configuration:
                    isPublic: true
                    isActive: true
                  formCompletedUrl: https://moffin.mx/
              PF:
                value:
                  name: PF form
                  slug: pf-form
                  serviceQueries:
                    bureauPM: true
                    bureauPF: true
                    renapoCURP: true
                  configuration:
                    isPublic: true
                    isActive: true
                  formCompletedUrl: https://moffin.mx/
      responses:
        '204':
          description: Default Response
  /api/v1/formconfigs:
    get:
      tags:
        - formconfigs
      operationId: Formconfigs_getWithPagination
      description: Retrive form configs with pagination
      parameters:
        - schema:
            type: integer
            minimum: 10
            maximum: 2000
          in: query
          name: limit
          required: false
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
          required: false
        - schema:
            type: string
            enum:
              - DESC
              - ASC
          in: query
          name: order
          required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormconfigsGetWithPaginationResponse'
    post:
      tags:
        - formconfigs
      operationId: Formconfigs_createConfig
      description: Create form config
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormconfigsCreateConfigRequest'
            examples:
              PM:
                value:
                  name: PM form
                  slug: pm-form
                  serviceQueries:
                    bureauPM: true
                    satBlackList: true
                    satRFC: true
                  configuration:
                    isActive: true
                  accountType: PM
              PF:
                value:
                  name: PF form
                  slug: pf-form
                  serviceQueries:
                    bureauPM: true
                    bureauPF: true
                    renapoCURP: true
                  configuration:
                    isActive: true
                    rfc:
                      homoclave:
                        enabled: true
                  accountType: PF
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormconfigsCreateConfigResponse'
  /api/v1/evaluations:
    get:
      tags:
        - customers
        - evaluations
      operationId: Customers_listWithPagination
      description: Get evaluations with pagination
      parameters:
        - schema:
            type: integer
            minimum: 10
            maximum: 2000
          in: query
          name: limit
          required: false
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
          required: false
        - schema:
            type: string
            enum:
              - DESC
              - ASC
          in: query
          name: order
          required: false
        - schema:
            type: integer
            minimum: 1
          in: query
          name: formId
          required: false
        - schema:
            type: integer
            minimum: 1
          in: query
          name: profileId
          required: false
        - schema:
            type: boolean
          in: query
          name: hideDuplicates
          required: false
        - schema:
            type: string
            enum:
              - PASS
              - FAIL
          in: query
          name: status
          required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersListWithPaginationResponse'
  /api/v1/query/prospector_pf:
    post:
      tags:
        - Query data sources
      operationId: QueryDataSources_prospectorPfScore
      description: Bureau "persona fisica" score
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDataSourcesProspectorPfScoreRequest'
            example:
              birthdate: '1980-01-01'
              email: test-dev@moffin.mx
              firstName: UNO
              firstLastName: PRUEBA
              secondLastName: PROSPECTOR
              rfc: PRPU800101HM2
              accountType: PF
              address: Jaime Balmes
              city: Cd de Mexico
              municipality: Miguel Hidalgo
              state: CMX
              zipCode: '11510'
              exteriorNumber: '8'
              neighborhood: Los morales
              country: MX
              nationality: MX
        required: true
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDataSourcesProspectorPfScoreResponse'
              example:
                id: 1
                authentication: CUSTOM
                service: prospector_pf
                status: SUCCESS
                state: null
                metadata:
                  clientType: PF
                  reportType: prospector_pf
                  query:
                    rfc: CARA2210175B8
                    city: Cd de Mexico
                    curp: ''
                    email: example@example.com
                    phone: ''
                    state: CMX
                    address: Jaime Balmes
                    country: MX
                    zipCode: '11510'
                    birthdate: '2001-10-18T06:00:00.000Z'
                    firstName: UNO
                    externalId: ''
                    middleName: ''
                    accountType: PF
                    nationality: MX
                    municipality: Miguel Hidalgo
                    neighborhood: Los morales
                    firstLastName: PRUEBA
                    secondLastName: PROSPECTOR
                query:
                  header:
                    version: '12'
                    reference: 881b06bf-efa3-4b3c-9e8b-a
                    countryCode: MX
                    userKey: ZM4*******
                    password: '********'
                    productKey: '107'
                    language: SP
                    responsibilityType: I
                    productType: CC
                    currencyCode: MX
                    loanAmount: '000000000'
                    outputType: '01'
                    responseBlockSize: ' '
                  name:
                    firstname: UNO
                    firstLastname: PRUEBA
                    secondLastname: PROSPECTOR
                    birthdate: '18102001'
                    rfc: CARA2210175B8
                    countryKey: MX
                    nationality: MX
                  address:
                    address: JAIME BALMES 8
                    municipality: MIGUEL HIDALGO
                    city: CD DE MEXICO
                    neighborhood: LOS MORALES
                    state: CDMX
                    zipCode: '11510'
                    addressCountry: MX
                response:
                  intlQuery: >-
                    INTL12881b06bf-efa3-4b3c-9e8b-a107MX0000ZM4***************ICCMX000000000SP01    
                    0000000PN06PRUEBA0010PROSPECTOR0203UNO0408181020010513CARA2210175B80802MX1602MXPA14JAIME
                    BALMES 80111LOS MORALES0214MIGUEL HIDALGO0312CD DE
                    MEXICO0404CDMX0505115101302MXES05002650002**
                  intl: "INTL12881b06bf-efa3-4b3c-9e8b-aMX0000ZM4*******10PN06PRUEBA0010PROSPECTOR0203UNO0408181020010513CARA2210175B80802MX1602MXPA14JAIME BALMES 80111LOS MORALES0214MIGUEL HIDALGO0312CD DE MEXICO0404CDMX0505115101302MXSC08BC SCORE000300701040707020204030209ES0500279001020179170430102**\x13"
                  json:
                    reference: 881b06bf-efa3-4b3c-9e8b-a
                    name:
                      firstname: UNO
                      firstLastname: PRUEBA
                      secondLastname: PROSPECTOR
                      birthdate: '18102001'
                      rfc: CARA2210175B8
                      nationality: MX
                    address:
                      address: JAIME BALMES 8
                      neighborhood: LOS MORALES
                      municipality: MIGUEL HIDALGO
                      city: CD DE MEXICO
                      state: CDMX
                      zipCode: '11510'
                    score:
                      name: BC SCORE
                      code: '007'
                      value: '0707'
                      cause1: '04'
                      cause2: '09'
                    header:
                      version: '12'
                      segmentTag: INTL
                      reference: 881b06bf-efa3-4b3c-9e8b-a
                      countryCode: MX
                      reservedUse1: '0000'
                      userKey: ZM44441180
                      wasFound: '1'
                      reservedUse2: '0'
                    fileEnd:
                      fileLength: '00279'
                      endMark: '**'
                requesterId: 1
                organizationId: 1
                profileId: 1
                formId: null
                externalId: null
                createdAt: '2023-07-05T16:56:25.435Z'
                updatedAt: '2023-07-05T16:56:28.201Z'
                deletedAt: null
                cachedFrom: null
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesProspectorPfScore400Response
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesProspectorPfScore500Response
  /api/v1/query/bureau_pf:
    post:
      tags:
        - Query data sources
      operationId: QueryDataSources_bureauPersonaFisicaReport
      description: Bureau "persona fisica" report
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/QueryDataSourcesBureauPersonaFisicaReportRequest
            example:
              birthdate: '1950-01-12'
              firstName: DIMITRI
              middleName: ARNULFO
              firstLastName: ADAMS
              secondLastName: ARETIA
              accountType: PF
              rfc: BEAS50121757A
              address: PRL BQUES REFORMA114 EDI 2 A DEP701
              municipality: CUAJIMALPA DE MORELOS
              neighborhood: BQUES DE LAS LOMAS
              zipCode: '05120'
              state: CMX
              city: Ciudad de Mexico
              country: MX
              exteriorNumber: '114'
              nationality: MX
        required: true
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesBureauPersonaFisicaReportResponse
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesBureauPersonaFisicaReport400Response
        '429':
          description: >-
            Usually, we send this error when you have reached your API limit
            usage. If this is the case, please contact team@moffin.mx
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesBureauPersonaFisicaReport429Response
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesBureauPersonaFisicaReport500Response
  /api/v1/query/bureau_pm:
    post:
      tags:
        - Query data sources
      operationId: QueryDataSources_bureauPmReport
      description: Bureau "persona moral" report
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDataSourcesBureauPmReportRequest'
            examples:
              Persona moral:
                value:
                  productType: INFORME_BURO
                  accountType: PM
                  email: test+almacenes-ghinos@moffin.mx
                  tradeName: ALMACENES GHINOS,SA DE CV
                  rfc: AGS930324RN7
                  address: AV IGNACIO ALLENDE LOTE 11-B LOCAL 2
                  city: TEPEAPULCO
                  state: HID
                  zipCode: '43990'
                  exteriorNumber: '62900'
                  interiorNumber: ''
                  neighborhood: CD SAHAGUN HGO
                  municipality: TEPEAPULCO
                  nationality: MX
                  country: MX
              Persona fisica con actividad empresarial:
                value:
                  accountType: PF
                  productType: INFORME_BURO
                  email: test-dev@moffin.mx
                  firstName: UNO
                  firstLastName: PRUEBA
                  secondLastName: PROSPECTOR
                  rfc: DIMM021113HM2
                  address: Jaime Balmes
                  city: Cd de Mexico
                  municipality: Cd de Mexico
                  state: CMX
                  zipCode: '11510'
                  exteriorNumber: '8'
                  neighborhood: Los morales
                  country: MX
                  birthdate: '2000-04-17'
                  nationality: MX
      responses:
        '201':
          description: Created response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDataSourcesBureauPmReportResponse'
              example:
                id: 1
                authentication: CUSTOM
                service: bureau_pm
                status: PENDING
                state: null
                metadata:
                  query:
                    rfc: AESE500614JK1
                    city: TLAXCALA
                    state: TLAX
                    address: ZARAGOZA OTE NO 15-A
                    country: MX
                    firstname: MA
                    clientType: PF
                    middlename: ESTELA
                    postalCode: '90500'
                    firstSurname: ARENAS
                    neighborhood: HUAMANTLA
                    secondSurname: SANCHEZ
                  clientType: PF
                  reportType: bureau_pm
                  saveResponse: true
                query:
                  consulta:
                    encabezado:
                      usuario: 999********
                      contrasena: '********'
                      tipoReporte: INFORME_BURO
                      formatoReporte: XML
                      variablesCnbv: 'Y'
                      generarConsolidado: 'N'
                      firmaAutografa: 'Y'
                    persona:
                      rfc: AESE500614JK1
                      tipoCliente: PFAE
                      primerNombre: MA
                      segundoNombre: ESTELA
                      apellidoPaterno: ARENAS
                      apellidoMaterno: SANCHEZ
                    domicilio:
                      direccion: ZARAGOZA OTE NO 15-A
                      ciudad: TLAXCALA
                      colonia: HUAMANTLA
                      codigoPostal: '90500'
                      estado: TLAX
                      pais: MX
                response:
                  respuesta:
                    encabezado:
                      identificadorConsulta: '1111'
                      claveRetorno: '1'
                      identificadorTransaccion: '0029695657'
                      fechaConsulta: '09122021'
                    datosGenerales:
                      tipoCliente: '2'
                      rfcCliente: AESE500614JK1
                      nombre: MA
                      segundoNombre: ESTELA
                      apellidoPaterno: ARENAS
                      apellidoMaterno: SANCHEZ
                      direccion1: ZARAGOZA OTE NO 15-A
                      coloniaPoblacion: HUAMANTLA
                      ciudad: HUAMANTLA
                      estado: TLAX
                      codigoPostal: '90500'
                      pais: MX
                      actividadEconomica1: '31142'
                      actividadEconomica2: '46611'
                      actividadEconomica3: '93212'
                      consultaEntidadFinancieraUltimos3Meses: '0'
                      consultaEntidadFinancieraUltimos12Meses: '0'
                      consultaEntidadFinancieraUltimos24Meses: '0'
                      consultaEntidadFinancieraMas24Meses: '0'
                      consultaEmpresaComercialUltimos3Meses: '421'
                      consultaEmpresaComercialUltimos12Meses: '657'
                      consultaEmpresaComercialUltimos24Meses: '657'
                      consultaEmpresaComercialMas24Meses: '139'
                      indicadorInformacionAdicional: OD
                      prevenciones: '0183'
                    hawkHr:
                      fechaMensajeHawk: '09122021'
                      codigoHawk: '000'
                      descripcionPrevencionHawk: NO SE ENCONTRO INFORMACION
                    creditoFinanciero:
                      - rfcCliente: AESE500614JK1
                        numeroCuenta: '185002908'
                        tipoUsuario: Pruebas BC
                        saldoInicial: '116000'
                        moneda: '001'
                        apertura: '01011980'
                        plazo: '1'
                        tipoCambio: '1.00'
                        claveObservacion: SG
                        tipoCredito: '1305'
                        saldoVigente: '12326'
                        saldoVencidoDe1a29Dias: '0'
                        saldoVencidoDe30a59Dias: '0'
                        saldoVencidoDe60a89Dias: '0'
                        saldoVencidoDe90a119Dias: '0'
                        saldoVencidoDe120a179Dias: '0'
                        saldoVencidoDe180DiasOMas: '485861'
                        ultimoPeriodoActualizado: '201106'
                        historicoPagos: '777777777777777777777777'
                        atrasoMayor: '999'
                      - rfcCliente: AESE500614JK1
                        numeroCuenta: '185002907'
                        tipoUsuario: Pruebas BC
                        saldoInicial: '116000'
                        moneda: '001'
                        apertura: '01011980'
                        plazo: '1'
                        tipoCambio: '1.00'
                        claveObservacion: SG
                        tipoCredito: '1305'
                        saldoVigente: '35003'
                        saldoVencidoDe1a29Dias: '0'
                        saldoVencidoDe30a59Dias: '0'
                        saldoVencidoDe60a89Dias: '0'
                        saldoVencidoDe90a119Dias: '0'
                        saldoVencidoDe120a179Dias: '0'
                        saldoVencidoDe180DiasOMas: '81436'
                        ultimoPeriodoActualizado: '201106'
                        historicoPagos: '777777777777777777777777'
                        atrasoMayor: '999'
                      - rfcCliente: AESE500614JK1
                        numeroCuenta: '00000000000283417'
                        tipoUsuario: Pruebas BC
                        saldoInicial: '40920'
                        moneda: '001'
                        apertura: '26061992'
                        plazo: '1050'
                        tipoCambio: '1.00'
                        claveObservacion: SG
                        tipoCredito: '1305'
                        saldoVigente: '18985'
                        saldoVencidoDe1a29Dias: '0'
                        saldoVencidoDe30a59Dias: '0'
                        saldoVencidoDe60a89Dias: '0'
                        saldoVencidoDe90a119Dias: '0'
                        saldoVencidoDe120a179Dias: '0'
                        saldoVencidoDe180DiasOMas: '51985'
                        ultimoPeriodoActualizado: '201107'
                        historicoPagos: '777777777777777777777777'
                        atrasoMayor: '999'
                    historia:
                      - rfc: AESE500614JK1
                        periodo: '201712'
                      - rfc: AESE500614JK1
                        periodo: '201801'
                      - rfc: AESE500614JK1
                        periodo: '201802'
                      - rfc: AESE500614JK1
                        periodo: '201803'
                      - rfc: AESE500614JK1
                        periodo: '201804'
                      - rfc: AESE500614JK1
                        periodo: '201805'
                      - rfc: AESE500614JK1
                        periodo: '201806'
                      - rfc: AESE500614JK1
                        periodo: '201807'
                      - rfc: AESE500614JK1
                        periodo: '201808'
                      - rfc: AESE500614JK1
                        periodo: '201809'
                      - rfc: AESE500614JK1
                        periodo: '201810'
                      - rfc: AESE500614JK1
                        periodo: '201811'
                    califica:
                      - clave: '0'
                        nombre: BK12_CLEAN
                        valorCaracteristica: '1'
                      - clave: '1'
                        nombre: BK12_NUM_CRED
                        valorCaracteristica: '0'
                      - clave: '2'
                        nombre: BK12_NUM_TC_ACT
                        valorCaracteristica: '0'
                      - clave: '3'
                        nombre: NBK12_NUM_CRED
                        valorCaracteristica: '0'
                      - clave: '4'
                        nombre: BK12_NUM_EXP_PAIDONTIME
                        valorCaracteristica: '--'
                      - clave: '5'
                        nombre: BK12_PCT_PROMT
                        valorCaracteristica: '--'
                      - clave: '6'
                        nombre: NBK12_PCT_PROMT
                        valorCaracteristica: '0'
                      - clave: '7'
                        nombre: BK12_PCT_SAT
                        valorCaracteristica: '--'
                      - clave: '8'
                        nombre: NBK12_PCT_SAT
                        valorCaracteristica: '0'
                      - clave: '9'
                        nombre: BK24_PCT_60PLUS
                        valorCaracteristica: '--'
                      - clave: '10'
                        nombre: NBK24_PCT_60PLUS
                        valorCaracteristica: '1'
                      - clave: '11'
                        nombre: NBK12_COMM_PCT_PLUS
                        valorCaracteristica: '--'
                      - clave: '12'
                        nombre: BK12_PCT_90PLUS
                        valorCaracteristica: '--'
                      - clave: '13'
                        nombre: BK12_DPD_PROM
                        valorCaracteristica: '--'
                      - clave: '14'
                        nombre: BK12_IND_QCRA
                        valorCaracteristica: '--'
                      - clave: '15'
                        nombre: BK12_MAX_CREDIT_AMT
                        valorCaracteristica: '--'
                      - clave: '16'
                        nombre: MONTHS_ON_FILE_BANKING
                        valorCaracteristica: '267'
                      - clave: '17'
                        nombre: MONTHS_SINCE_LAST_OPEN_BANKING
                        valorCaracteristica: '--'
                      - clave: '18'
                        nombre: BK_IND_PMOR
                        valorCaracteristica: '0'
                      - clave: '19'
                        nombre: BK24_IND_EXP
                        valorCaracteristica: '0'
                      - clave: '20'
                        nombre: 12_INST
                        valorCaracteristica: '1'
                      - clave: '21'
                        nombre: BK_DEUDA_TOT
                        valorCaracteristica: '0'
                      - clave: '22'
                        nombre: BK_DEUDA_CP
                        valorCaracteristica: '0'
                      - clave: '23'
                        nombre: NBK_DEUDA_TOT
                        valorCaracteristica: '51985'
                      - clave: '24'
                        nombre: NBK_DEUDA_CP
                        valorCaracteristica: '51985'
                      - clave: '25'
                        nombre: DEUDA_TOT
                        valorCaracteristica: '51985'
                      - clave: '26'
                        nombre: DEUDA_TOT_CP
                        valorCaracteristica: '51985'
                requesterId: 1
                organizationId: 1
                profileId: 1
                formId: null
                externalId: null
                createdAt: '2023-06-20T18:14:18.912Z'
                updatedAt: '2023-06-20T19:28:08.039Z'
                deletedAt: null
                cachedFrom: null
                uuid: f8b795b2-ca22-4016-881d-dcf67cf92905
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDataSourcesBureauPmReport400Response'
        '429':
          description: >-
            Usually, we send this error when you have reached your API limit
            usage. If this is the case, please contact team@moffin.mx
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDataSourcesBureauPmReport429Response'
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDataSourcesBureauPmReport500Response'
  /api/v1/query/bureau_pm/resume/{id}:
    get:
      tags:
        - Query data sources
      operationId: QueryDataSources_getPendingReportById
      description: Get a pending report with its bureau report id
      parameters:
        - schema:
            type: number
          in: path
          name: id
          required: true
      responses:
        '200':
          description: Created response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesGetPendingReportByIdResponse
              example:
                id: 1
                authentication: CUSTOM
                service: bureau_pm
                status: PENDING
                state: null
                metadata:
                  query:
                    rfc: AESE500614JK1
                    city: TLAXCALA
                    state: TLAX
                    address: ZARAGOZA OTE NO 15-A
                    country: MX
                    firstname: MA
                    clientType: PF
                    middlename: ESTELA
                    postalCode: '90500'
                    firstSurname: ARENAS
                    neighborhood: HUAMANTLA
                    secondSurname: SANCHEZ
                  clientType: PF
                  reportType: bureau_pm
                  saveResponse: true
                query:
                  consulta:
                    encabezado:
                      usuario: 999********
                      contrasena: '********'
                      tipoReporte: INFORME_BURO
                      formatoReporte: XML
                      variablesCnbv: 'Y'
                      generarConsolidado: 'N'
                      firmaAutografa: 'Y'
                    persona:
                      rfc: AESE500614JK1
                      tipoCliente: PFAE
                      primerNombre: MA
                      segundoNombre: ESTELA
                      apellidoPaterno: ARENAS
                      apellidoMaterno: SANCHEZ
                    domicilio:
                      direccion: ZARAGOZA OTE NO 15-A
                      ciudad: TLAXCALA
                      colonia: HUAMANTLA
                      codigoPostal: '90500'
                      estado: TLAX
                      pais: MX
                response:
                  respuesta:
                    encabezado:
                      identificadorConsulta: '1111'
                      claveRetorno: '1'
                      identificadorTransaccion: '0029695657'
                      fechaConsulta: '09122021'
                    datosGenerales:
                      tipoCliente: '2'
                      rfcCliente: AESE500614JK1
                      nombre: MA
                      segundoNombre: ESTELA
                      apellidoPaterno: ARENAS
                      apellidoMaterno: SANCHEZ
                      direccion1: ZARAGOZA OTE NO 15-A
                      coloniaPoblacion: HUAMANTLA
                      ciudad: HUAMANTLA
                      estado: TLAX
                      codigoPostal: '90500'
                      pais: MX
                      actividadEconomica1: '31142'
                      actividadEconomica2: '46611'
                      actividadEconomica3: '93212'
                      consultaEntidadFinancieraUltimos3Meses: '0'
                      consultaEntidadFinancieraUltimos12Meses: '0'
                      consultaEntidadFinancieraUltimos24Meses: '0'
                      consultaEntidadFinancieraMas24Meses: '0'
                      consultaEmpresaComercialUltimos3Meses: '421'
                      consultaEmpresaComercialUltimos12Meses: '657'
                      consultaEmpresaComercialUltimos24Meses: '657'
                      consultaEmpresaComercialMas24Meses: '139'
                      indicadorInformacionAdicional: OD
                      prevenciones: '0183'
                    hawkHr:
                      fechaMensajeHawk: '09122021'
                      codigoHawk: '000'
                      descripcionPrevencionHawk: NO SE ENCONTRO INFORMACION
                    creditoFinanciero:
                      - rfcCliente: AESE500614JK1
                        numeroCuenta: '185002908'
                        tipoUsuario: Pruebas BC
                        saldoInicial: '116000'
                        moneda: '001'
                        apertura: '01011980'
                        plazo: '1'
                        tipoCambio: '1.00'
                        claveObservacion: SG
                        tipoCredito: '1305'
                        saldoVigente: '12326'
                        saldoVencidoDe1a29Dias: '0'
                        saldoVencidoDe30a59Dias: '0'
                        saldoVencidoDe60a89Dias: '0'
                        saldoVencidoDe90a119Dias: '0'
                        saldoVencidoDe120a179Dias: '0'
                        saldoVencidoDe180DiasOMas: '485861'
                        ultimoPeriodoActualizado: '201106'
                        historicoPagos: '777777777777777777777777'
                        atrasoMayor: '999'
                      - rfcCliente: AESE500614JK1
                        numeroCuenta: '185002907'
                        tipoUsuario: Pruebas BC
                        saldoInicial: '116000'
                        moneda: '001'
                        apertura: '01011980'
                        plazo: '1'
                        tipoCambio: '1.00'
                        claveObservacion: SG
                        tipoCredito: '1305'
                        saldoVigente: '35003'
                        saldoVencidoDe1a29Dias: '0'
                        saldoVencidoDe30a59Dias: '0'
                        saldoVencidoDe60a89Dias: '0'
                        saldoVencidoDe90a119Dias: '0'
                        saldoVencidoDe120a179Dias: '0'
                        saldoVencidoDe180DiasOMas: '81436'
                        ultimoPeriodoActualizado: '201106'
                        historicoPagos: '777777777777777777777777'
                        atrasoMayor: '999'
                      - rfcCliente: AESE500614JK1
                        numeroCuenta: '00000000000283417'
                        tipoUsuario: Pruebas BC
                        saldoInicial: '40920'
                        moneda: '001'
                        apertura: '26061992'
                        plazo: '1050'
                        tipoCambio: '1.00'
                        claveObservacion: SG
                        tipoCredito: '1305'
                        saldoVigente: '18985'
                        saldoVencidoDe1a29Dias: '0'
                        saldoVencidoDe30a59Dias: '0'
                        saldoVencidoDe60a89Dias: '0'
                        saldoVencidoDe90a119Dias: '0'
                        saldoVencidoDe120a179Dias: '0'
                        saldoVencidoDe180DiasOMas: '51985'
                        ultimoPeriodoActualizado: '201107'
                        historicoPagos: '777777777777777777777777'
                        atrasoMayor: '999'
                    historia:
                      - rfc: AESE500614JK1
                        periodo: '201712'
                      - rfc: AESE500614JK1
                        periodo: '201801'
                      - rfc: AESE500614JK1
                        periodo: '201802'
                      - rfc: AESE500614JK1
                        periodo: '201803'
                      - rfc: AESE500614JK1
                        periodo: '201804'
                      - rfc: AESE500614JK1
                        periodo: '201805'
                      - rfc: AESE500614JK1
                        periodo: '201806'
                      - rfc: AESE500614JK1
                        periodo: '201807'
                      - rfc: AESE500614JK1
                        periodo: '201808'
                      - rfc: AESE500614JK1
                        periodo: '201809'
                      - rfc: AESE500614JK1
                        periodo: '201810'
                      - rfc: AESE500614JK1
                        periodo: '201811'
                    califica:
                      - clave: '0'
                        nombre: BK12_CLEAN
                        valorCaracteristica: '1'
                      - clave: '1'
                        nombre: BK12_NUM_CRED
                        valorCaracteristica: '0'
                      - clave: '2'
                        nombre: BK12_NUM_TC_ACT
                        valorCaracteristica: '0'
                      - clave: '3'
                        nombre: NBK12_NUM_CRED
                        valorCaracteristica: '0'
                      - clave: '4'
                        nombre: BK12_NUM_EXP_PAIDONTIME
                        valorCaracteristica: '--'
                      - clave: '5'
                        nombre: BK12_PCT_PROMT
                        valorCaracteristica: '--'
                      - clave: '6'
                        nombre: NBK12_PCT_PROMT
                        valorCaracteristica: '0'
                      - clave: '7'
                        nombre: BK12_PCT_SAT
                        valorCaracteristica: '--'
                      - clave: '8'
                        nombre: NBK12_PCT_SAT
                        valorCaracteristica: '0'
                      - clave: '9'
                        nombre: BK24_PCT_60PLUS
                        valorCaracteristica: '--'
                      - clave: '10'
                        nombre: NBK24_PCT_60PLUS
                        valorCaracteristica: '1'
                      - clave: '11'
                        nombre: NBK12_COMM_PCT_PLUS
                        valorCaracteristica: '--'
                      - clave: '12'
                        nombre: BK12_PCT_90PLUS
                        valorCaracteristica: '--'
                      - clave: '13'
                        nombre: BK12_DPD_PROM
                        valorCaracteristica: '--'
                      - clave: '14'
                        nombre: BK12_IND_QCRA
                        valorCaracteristica: '--'
                      - clave: '15'
                        nombre: BK12_MAX_CREDIT_AMT
                        valorCaracteristica: '--'
                      - clave: '16'
                        nombre: MONTHS_ON_FILE_BANKING
                        valorCaracteristica: '267'
                      - clave: '17'
                        nombre: MONTHS_SINCE_LAST_OPEN_BANKING
                        valorCaracteristica: '--'
                      - clave: '18'
                        nombre: BK_IND_PMOR
                        valorCaracteristica: '0'
                      - clave: '19'
                        nombre: BK24_IND_EXP
                        valorCaracteristica: '0'
                      - clave: '20'
                        nombre: 12_INST
                        valorCaracteristica: '1'
                      - clave: '21'
                        nombre: BK_DEUDA_TOT
                        valorCaracteristica: '0'
                      - clave: '22'
                        nombre: BK_DEUDA_CP
                        valorCaracteristica: '0'
                      - clave: '23'
                        nombre: NBK_DEUDA_TOT
                        valorCaracteristica: '51985'
                      - clave: '24'
                        nombre: NBK_DEUDA_CP
                        valorCaracteristica: '51985'
                      - clave: '25'
                        nombre: DEUDA_TOT
                        valorCaracteristica: '51985'
                      - clave: '26'
                        nombre: DEUDA_TOT_CP
                        valorCaracteristica: '51985'
                requesterId: 1
                organizationId: 1
                profileId: 1
                formId: null
                externalId: null
                createdAt: '2023-06-20T18:14:18.912Z'
                updatedAt: '2023-06-20T19:28:08.039Z'
                deletedAt: null
                cachedFrom: null
                uuid: f8b795b2-ca22-4016-881d-dcf67cf92905
        '304':
          description: Empty response
        '401':
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesGetPendingReportById401Response
        '409':
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesGetPendingReportById409Response
        '500':
          description: Error schema
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesGetPendingReportById500Response
  /api/v1/query/sat_blacklist:
    post:
      tags:
        - Query data sources
      operationId: QueryDataSources_satBlacklistProfileQuery
      description: Sat blacklist profile query
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/QueryDataSourcesSatBlacklistProfileQueryRequest
            example:
              rfc: BEAS50121757A
              accountType: PF
        required: true
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesSatBlacklistProfileQueryResponse
              example:
                id: 1
                authentication: MOFFIN
                service: sat_1
                status: SUCCESS
                state: null
                metadata:
                  clientType: PM
                  reportType: sat_1
                  query:
                    rfc: AAA080808HL8
                query:
                  rfc: AAA080808HL8
                response:
                  RFC: AAA080808HL8
                  RazonSocial: ASESORES EN AVAL�OS Y ACTIVOS, S.A. DE C.V.
                  Estatus: Sentencia Favorable
                  NumOficioPresuntoSAT: 500-05-2018-16632 de fecha 01 de junio de 2018
                  FechaOficioPresuntoSAT: '2018-06-01'
                  NumOficioPresuntoDOF: 500-05-2018-16632 de fecha 01 de junio de 2018
                  FechaOficioPresuntoDOF: '2018-06-25'
                  NumOficioDesvirtuadoSAT: ''
                  FechaOficioDesvirtuadoSAT: ''
                  FechaOficioDesvirtuadoDOF: ''
                  NumOficioDefinitivoSAT: 500-05-2018-27105 de fecha 27 de septiembre de 2018
                  FechaOficioDefinitivoSAT: '2018-09-28'
                  FechaOficioDefinitivoDOF: '2018-10-23'
                  NumOficioSentenciaFavorableSAT: 500-05-2019-7305 de fecha 5 de marzo de 2019
                  FechaOficioSentenciaFavorableSAT: '2019-03-05'
                  NumOficioSentenciaFavortableDOF: 500-05-2019-7305 de fecha 5 de marzo de 2019
                  FechaOficioSentenciaFavorableDOF: '2019-04-16'
                requesterId: 1
                organizationId: 1
                profileId: 1
                formId: null
                externalId: null
                createdAt: '2023-07-05T18:23:26.341Z'
                updatedAt: '2023-07-05T18:23:26.357Z'
                deletedAt: null
                cachedFrom: null
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesSatBlacklistProfileQuery400Response
  /api/v1/query/sat_rfc:
    post:
      tags:
        - Query data sources
      operationId: QueryDataSources_getSatRfcCertificatesProfile
      description: Sat rfc certificates profile query
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/QueryDataSourcesGetSatRfcCertificatesProfileRequest
            example:
              rfc: BEAS50121757A
              accountType: PF
        required: true
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesGetSatRfcCertificatesProfileResponse
              example:
                id: 1
                authentication: MOFFIN
                service: sat_rfc
                status: SUCCESS
                state: null
                metadata:
                  clientType: PM
                  reportType: sat_rfc
                  query:
                    rfc: AGS930324RN7
                    profileId: 1
                query:
                  rfc: AGS930324RN7
                response:
                  success: true
                  exists: true
                  data:
                    tradeName: ALMACENES GHINO S SA DE CV
                    certificates:
                      - url: https://example@example.com
                        state: Revocado
                        type: SELLO
                        startDate: '2014-01-27 16:50:04'
                        endDate: '2017-07-03 21:32:23'
                      - url: https://example@example.com
                        state: Caduco
                        type: FIEL
                        startDate: '2014-01-27 14:27:01'
                        endDate: '2018-01-27 14:27:41'
                        userData:
                          email: example@example.com
                          curp: ''
                          counselCurp: XXXX410215XXXXXX08
                          name: ALMACENES GHINO S SA DE CV
                          orgName: ALMACENES GHINO S SA DE CV
                          country: MX
                          fullname: >-
                            CN=ALMACENES GHINO S SA DE CV, 2.5.4.41=ALMACENES
                            GHINO S SA DE CV, O=ALMACENES GHINO S SA DE CV,
                            C=MX, 1.2.840.113549.1.9.1=example@example.com,
                            2.5.4.45=AGS930324RN7 / XXXX410215XX2, SN= /
                            XXXX410215XXXXXX08
                          rfc: AGS930324RN7
                          counselRfc: XXXX410215XX2
                      - url: https://example@example.com
                        state: Caduco
                        type: FIEL
                        startDate: '2010-12-15 17:33:51'
                        endDate: '2013-03-14 17:33:51'
                        userData:
                          email: ''
                          curp: ''
                          counselCurp: XXXX410215XXXXXX08
                          name: ALMACENES GHINO S SA DE CV
                          orgName: ALMACENES GHINO S SA DE CV
                          country: MX
                          fullname: >-
                            CN=ALMACENES GHINO S SA DE CV, 2.5.4.41=ALMACENES
                            GHINO S SA DE CV, O=ALMACENES GHINO S SA DE CV,
                            C=MX, 1.2.840.113549.1.9.1=example@example.com,
                            2.5.4.45=AGS930324RN7 / XXXX410215XX2, SN= /
                            XXXX410215XXXXXX08
                          rfc: AGS930324RN7
                          counselRfc: XXXX410215XX2
                      - url: https://example@example.com
                        state: Revocado
                        type: FIEL
                        startDate: '2009-01-14 16:56:19'
                        endDate: '2010-12-15 17:33:52'
                      - url: https://example@example.com
                        state: Caduco
                        type: FIEL
                        startDate: '2005-07-28 16:58:20'
                        endDate: '2007-07-28 16:58:20'
                requesterId: 1
                organizationId: 1
                profileId: 1
                formId: null
                externalId: null
                createdAt: '2023-07-05T18:29:12.521Z'
                updatedAt: '2023-07-05T18:29:35.784Z'
                deletedAt: null
                cachedFrom: null
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesGetSatRfcCertificatesProfile400Response
  /api/v1/query/renapo_curp:
    post:
      tags:
        - Query data sources
      operationId: QueryDataSources_getRenapoCurp
      description: RENAPO CURP query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDataSourcesGetRenapoCurpRequest'
        required: true
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDataSourcesGetRenapoCurpResponse'
              example:
                id: 1
                authentication: MOFFIN
                service: renapo_curp
                status: SUCCESS
                state: null
                metadata:
                  clientType: PF
                  reportType: renapo_curp
                  query:
                    curp: PETJ970221XXXXXX00
                query:
                  curp: PETJ970221XXXXXX00
                response:
                  estatus: OK
                  codigoValidacion: xx0000000000.0000000
                  curp: PETJ970221XXXXXX00
                  nombre: JUAN JOSE
                  apellidoPaterno: TORRES
                  apellidoMaterno: LOPEZ
                  sexo: HOMBRE
                  fechaNacimiento: 21/02/1997
                  paisNacimiento: MEXICO
                  estadoNacimiento: JALISCO
                  docProbatorio: 1
                  datosDocProbatorio:
                    anioReg: '1997'
                    foja: ''
                    tomo: ''
                    libro: ''
                    numActa: '00000'
                    claveEntidadRegistro: '14'
                    entidadRegistro: JALISCO
                    claveMunicipioRegistro: '097'
                    municipioRegistro: TONALA
                  estatusCurp: RCN
                  codigoMensaje: '0'
                requesterId: 1
                organizationId: 1
                profileId: 1
                formId: null
                externalId: null
                createdAt: '2023-07-05T18:38:33.643Z'
                updatedAt: '2023-07-05T18:38:33.650Z'
                deletedAt: null
                cachedFrom: null
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDataSourcesGetRenapoCurp400Response'
  /api/v1/query/id_validation/jumio:
    post:
      tags:
        - Query data sources
      operationId: QueryDataSources_createJumioKycLink
      description: Create JUMIO KYC link
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDataSourcesCreateJumioKycLinkRequest'
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesCreateJumioKycLinkResponse
              example:
                id: 1
                authentication: CUSTOM
                service: jumio_id_validation
                status: PENDING
                state: null
                metadata:
                  clientType: PF
                  reportType: PF
                  query:
                    failURL: https://moffin.mx
                    successURL: https://moffin.mx
                query:
                  successURL: https://moffin.mx
                  failURL: https://moffin.mx
                response:
                  id: 11111111-2249-4f1e-a19d-a34dd08611deX
                  formURL: https://example.com
                  formURLExpiresAt: '2023-07-06T19:40:21.907Z'
                requesterId: 1
                organizationId: 1
                profileId: null
                formId: null
                externalId: null
                createdAt: '2023-07-05T19:40:21.897Z'
                updatedAt: '2023-07-05T19:40:21.908Z'
                deletedAt: null
                cachedFrom: null
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesCreateJumioKycLink400Response
        '401':
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesCreateJumioKycLink401Response
        '403':
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesCreateJumioKycLink403Response
  /api/v1/query/imss-job-history:
    post:
      tags:
        - Query data sources
      summary: Get IMSS Job History
      operationId: QueryDataSources_getImssJobHistory
      description: >-
        Get IMSS Job History<p>This endpoint will return a pending response. The
        complete response will be returned shortly afterwards as a webhook
        response (imss_job_history).</p><p>Guide:
        https://guides.moffin.mx/imss-historial-de-trabajo</p>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDataSourcesGetImssJobHistoryRequest'
            example:
              curp: ROGE820204MTSDRR08
        required: true
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDataSourcesGetImssJobHistoryResponse'
              example:
                id: 1
                authentication: MOFFIN
                service: imss_job_history
                status: PENDING
                state: null
                metadata:
                  clientType: PF
                  reportType: PF
                  query:
                    curp: XXXX021113XXXXXXX3
                query:
                  curp: XXXX021113XXXXXXX3
                response:
                  name: null
                  nss: null
                  curp: XXXX021113XXXXXXX3
                  paymentsToIMSS: null
                  jobs: null
                requesterId: 1
                organizationId: 1
                profileId: 1
                formId: null
                externalId: null
                createdAt: '2023-07-05T19:13:27.876Z'
                updatedAt: '2023-07-05T19:13:27.896Z'
                deletedAt: null
                cachedFrom: null
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/QueryDataSourcesGetImssJobHistory400Response
  /api/v1/query/ca-blacklist:
    post:
      tags:
        - beta
        - Query data sources
      summary: Get Comply Advantage Blacklist
      operationId: Beta_getComplyAdvantageBlacklist
      description: Get Comply Advantage Blacklist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaGetComplyAdvantageBlacklistRequest'
            examples:
              Carlos Moffin:
                value:
                  firstName: Carlos
                  firstLastName: Moffin
                  accountType: PF
              Bad Organizatio:
                value:
                  tradeName: Bad Organization
                  accountType: PM
              no match:
                value:
                  tradeName: no match
                  accountType: PM
        required: true
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaGetComplyAdvantageBlacklistResponse'
              examples:
                Carlos  Moffin:
                  value:
                    id: 44
                    uuid: cb2b266b-a4e6-4760-8b70-ce58d15e968f
                    authentication: CUSTOM
                    service: ca_blacklist
                    status: SUCCESS
                    state: {}
                    metadata:
                      clientType: PF
                      reportType: PF
                      query:
                        searchTerm: 'Carlos  Moffin '
                        accountType: PF
                    query:
                      searchTerm: 'Carlos  Moffin '
                      accountType: PF
                    response:
                      searchTerm: 'Carlos  Moffin '
                      searchId: '1312796095'
                      matchStatus: potential_match
                      riskLevel: unknown
                      resultsFound:
                        - title: Carlos Moffin
                          matched:
                            - sanction
                          score: 3.511
                          sources:
                            - swiss-seco-list
                          type: person
                      totalHits: 1
                      totalMatches: 1
                      createdAt: '2023-08-07T02:40:49.210Z'
                      updatedAt: '2023-08-07T02:40:49.210Z'
                    requesterId: 1001
                    organizationId: 1
                    profileId: 24
                    formId: null
                    externalId: null
                    createdAt: '2023-08-07T02:40:49.211Z'
                    updatedAt: '2023-08-07T02:40:49.213Z'
                    deletedAt: null
                    cachedFrom: null
                Bad Organization:
                  value:
                    id: 45
                    uuid: 1d6ad0ac-5aaa-42b4-864c-2fbca835e80f
                    authentication: CUSTOM
                    service: ca_blacklist
                    status: SUCCESS
                    state: {}
                    metadata:
                      clientType: PM
                      reportType: PM
                      query:
                        searchTerm: Bad Organization
                        accountType: PM
                    query:
                      searchTerm: Bad Organization
                      accountType: PM
                    response:
                      searchTerm: Bad Organization
                      searchId: '1312796095'
                      matchStatus: potential_match
                      riskLevel: unknown
                      resultsFound:
                        - title: Bad Organization
                          matched:
                            - warning
                          score: 0.7
                          sources:
                            - >-
                              russian-federation-ministry-of-justice-list-of-undesirable-foreign-and-international-non-governmental-organizations
                          type: organisation
                      totalHits: 1
                      totalMatches: 1
                      createdAt: '2023-08-07T02:41:22.071Z'
                      updatedAt: '2023-08-07T02:41:22.071Z'
                    requesterId: 1001
                    organizationId: 1
                    profileId: 25
                    formId: null
                    externalId: null
                    createdAt: '2023-08-07T02:41:22.072Z'
                    updatedAt: '2023-08-07T02:41:22.075Z'
                    deletedAt: null
                    cachedFrom: null
                no match:
                  value:
                    id: 42
                    uuid: 2263493c-3b4b-4239-b952-e947cb80091e
                    authentication: CUSTOM
                    service: ca_blacklist
                    status: SUCCESS
                    state: {}
                    metadata:
                      clientType: PM
                      reportType: PM
                      query:
                        searchTerm: no match
                        accountType: PM
                    query:
                      searchTerm: no match
                      accountType: PM
                    response:
                      searchTerm: no match
                      searchId: '1312796095'
                      matchStatus: no_match
                      riskLevel: unknown
                      resultsFound: []
                      totalHits: 0
                      totalMatches: 0
                      createdAt: '2023-08-07T02:39:18.562Z'
                      updatedAt: '2023-08-07T02:39:18.562Z'
                    requesterId: 1001
                    organizationId: 1
                    profileId: 22
                    formId: null
                    externalId: null
                    createdAt: '2023-08-07T02:39:18.563Z'
                    updatedAt: '2023-08-07T02:39:18.567Z'
                    deletedAt: null
                    cachedFrom: null
  /api/v1/query/circulo_credito_pf:
    post:
      tags:
        - beta
        - Query data sources
      summary: Circulo de Crédito - Persona Física (Beta)
      operationId: Beta_consolidatedReportWithScore
      description: Reporte Consolidado V2 con Score
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaConsolidatedReportWithScoreRequest'
        required: true
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BetaConsolidatedReportWithScoreResponse'
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BetaConsolidatedReportWithScore400Response
        '401':
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BetaConsolidatedReportWithScore401Response
        '403':
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BetaConsolidatedReportWithScore403Response
        '404':
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BetaConsolidatedReportWithScore404Response
        '429':
          description: >-
            Usually, we send this error when you have reached your API limit
            usage. If this is the case, please contact team@moffin.mx
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BetaConsolidatedReportWithScore429Response
        '500':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BetaConsolidatedReportWithScore500Response
  /api/v1/form/{formConfigId}:
    post:
      tags:
        - form
      operationId: Form_createNewForm
      description: Endpoint to create new form
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: path
          name: formConfigId
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormCreateNewFormRequest'
      responses:
        '201':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormCreateNewFormResponse'
  /api/v1/form/{formId}:
    patch:
      tags:
        - form
      operationId: Form_updateForm
      description: Endpoint to update an existing form
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: path
          name: formId
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormUpdateFormRequest'
      responses:
        '200':
          description: Default Response
  /api/v1/form/submit/{formId}:
    post:
      tags:
        - form
      operationId: Form_submitFormById
      description: Endpoint to submit a form
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: path
          name: formId
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormSubmitFormByIdRequest'
      responses:
        '200':
          description: Default Response
  /api/v1/form/nip/validate/{formId}:
    post:
      tags:
        - form
      operationId: Form_validateNipForm
      description: Endpoint to validate a NIP from a form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormValidateNipFormRequest'
      responses:
        '204':
          description: Default Response
        '400':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormValidateNipFormResponse'
        '401':
          description: Error thrown if the user is not autorized to do this
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormValidateNipForm401Response'
        '409':
          description: The form is already submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormValidateNipForm409Response'
  /api/v1/form/nip/send-sms/{formId}:
    post:
      tags:
        - form
      operationId: Form_sendSmsVerification
      description: Endpoint to send sms to verify phone in form
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: path
          name: formId
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormSendSmsVerificationRequest'
      responses:
        '200':
          description: Default Response
  /api/v1/form/nip/send-email/{formId}:
    post:
      tags:
        - form
      operationId: Form_sendEmailVerification
      description: Endpoint to send email to verify in form
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: path
          name: formId
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormSendEmailVerificationRequest'
      responses:
        '200':
          description: Default Response
  /api/v1/service_queries:
    get:
      tags:
        - Service queries
      operationId: ServiceQueries_getServiceQueries
      description: Get service queries
      parameters:
        - schema:
            type: integer
            minimum: 10
            maximum: 100
          in: query
          name: limit
          required: false
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
          required: false
        - schema:
            type: string
            enum:
              - DESC
              - ASC
          in: query
          name: order
          required: false
        - schema:
            type: string
          in: query
          name: search
          required: false
        - schema:
            type: integer
            minimum: 1
          in: query
          name: profileId
          required: false
        - schema:
            type: integer
            minimum: 1
          in: query
          name: formId
          required: false
        - schema:
            type: string
            enum:
              - SUCCESS
              - FAIL
              - PENDING
          in: query
          name: status
          required: false
        - description: >-
            To send an array you must send several times service=value as in the
            following examples: service=sat_rfc&service=bureau_pf or
            service[]=sat_rfc&service[]=bureau_pf 
          schema:
            type: array
            items:
              type: string
              enum:
                - bureau_pf
                - bureau_pm
                - prospector_pf
                - jumio_id_validation
                - renapo_curp
                - sat_1
                - sat_rfc
                - imss_job_history
                - ca_blacklist
                - circulo_credito_pf
            default:
              - bureau_pf
              - bureau_pm
              - prospector_pf
              - jumio_id_validation
              - renapo_curp
              - sat_1
              - sat_rfc
              - imss_job_history
              - ca_blacklist
              - circulo_credito_pf
          in: query
          name: service
          required: false
        - description: >-
            Filter reports by createdAt timestamps. Use timestamps in ISO
            format. Use the format createdAt[from]="timestamp" and
            createdAt[to]="timestamp" to query reports within a date
          schema:
            type: object
            properties:
              from:
                description: Return reports created at or after this timestamp
                type: string
                format: date-time
              to:
                description: Return reports created at of before this timestamp
                type: string
                format: date-time
          in: query
          name: createdAt
          required: false
        - description: >-
            If set `true` it will generate a link to download the available
            files for `sat_rfc` and `sat_1` services. Allowing this flag will
            increase request response considerably.
          schema:
            type: boolean
            default: false
          in: query
          name: withFileURL
          required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQueriesGetServiceQueriesResponse'
components:
  schemas:
    ProfilesUpdateProfileRequest:
      type: object
      anyOf:
        - title: Birthdate
          type: object
          properties:
            birthdate:
              description: 'Example: "1980-01-20"'
              type: string
              format: date
              nullable: true
        - title: Date and time of birth
          type: object
          properties:
            birthdate:
              description: >-
                Example: "1980-01-20T00:00:00+00" ISO timestamps are allowed but
                the time part is ignored.
              type: string
              format: date-time
              nullable: true
      properties:
        email:
          type: string
          format: email
          nullable: true
        externalId:
          type: string
          maxLength: 256
        firstName:
          type: string
          maxLength: 256
          pattern: ^[a-zA-ZñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜÿŸ'`’\s.-]*$
        middleName:
          type: string
          maxLength: 256
          pattern: ^[a-zA-ZñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜÿŸ'`’\s.-]*$
          nullable: true
        firstLastName:
          type: string
          maxLength: 256
          pattern: ^[a-zA-ZñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜÿŸ'`’\s.-]*$
        secondLastName:
          type: string
          maxLength: 256
          pattern: ^[a-zA-ZñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜÿŸ'`’\s.-]*$
          nullable: true
        tradeName:
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9ñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜÿŸ&\.\-\s,'`’<>()/]*$
        rfc:
          description: RFC with homoclave
          type: string
          RFCValidator:
            rfcType: ALL
            homoclave:
              enabled: true
              required: true
          minLength: 12
          maxLength: 13
        basicRFC:
          description: >-
            RFC without homoclave. If it is `null`, it will autocomplete using
            the `RFC` field (RFC with homoclave).
          type: string
          RFCValidator:
            rfcType: ALL
            homoclave:
              enabled: false
              required: false
          minLength: 9
          maxLength: 10
        phone:
          description: >-
            In prospector PF service if the number it's not mexican, is omitted
            in the service
          type: string
          maxLength: 256
          PhoneValidator:
            allowNull: true
          nullable: true
        curp:
          type: string
          pattern: ^[a-zA-Z0-9ñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜÿŸ&\.\-\s,'`’<>()/]*$
          maxLength: 18
          minLength: 18
          nullable: true
        accountType:
          type: string
          enum:
            - PF
            - PM
        neighborhood:
          type: string
          maxLength: 256
        address:
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9ñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜÿŸ&\.\-\s,'`’<>()/]*$
        address2:
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9ñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜÿŸ&\.\-\s,'`’<>()/]*$
        city:
          type: string
          maxLength: 256
        state:
          description: >-
            ISO 3166-2:MX codes (ignoring `MX-` prefix), bureau codes are
            converted to ISO codes. https://www.iso.org/obp/ui/#iso:code:3166:MX
          type: string
          enum:
            - AGU
            - BCN
            - BCS
            - CAM
            - CHP
            - CHH
            - CMX
            - COA
            - COL
            - DUR
            - GUA
            - GRO
            - HID
            - JAL
            - MEX
            - MIC
            - MOR
            - NAY
            - NLE
            - OAX
            - PUE
            - QUE
            - ROO
            - SLP
            - SIN
            - SON
            - TAB
            - TAM
            - TLA
            - VER
            - YUC
            - ZAC
            - AGS
            - CHS
            - CHI
            - CDMX
            - DGO
            - GTO
            - HGO
            - EM
            - MICH
            - NL
            - QRO
            - QR
            - TLAX
        zipCode:
          description: >-
            Zip code must match to state. First two digits identify the state or
            part thereof to which it belongs. For example: zip code 01455, 01
            corresponds to CMX state


            More info:
            https://www.correosdemexico.gob.mx/SSLServicios/ConsultaCP/Descarga.aspx
          type: string
          minLength: 5
          maxLength: 5
          ZipCodeMatchState: true
        exteriorNumber:
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9ñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜÿŸ&\.\-\s,'`’<>()/]*$
        interiorNumber:
          type: string
          maxLength: 256
          pattern: ^[a-zA-Z0-9ñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜÿŸ&\.\-\s,'`’<>()/]*$
        country:
          type: string
          maxLength: 256
          enum:
            - AF
            - AL
            - DE
            - AD
            - AO
            - AI
            - AQ
            - AG
            - SA
            - DZ
            - AR
            - AM
            - AW
            - AU
            - AT
            - AZ
            - BS
            - BH
            - BD
            - BB
            - BE
            - BZ
            - BJ
            - BM
            - BY
            - BO
            - BQ
            - BA
            - BW
            - BR
            - BN
            - BG
            - BF
            - BI
            - BT
            - CV
            - KH
            - CM
            - CA
            - CL
            - CN
            - CY
            - CO
            - CI
            - CR
            - HR
            - CU
            - CW
            - DK
            - DJ
            - DM
            - EC
            - EG
            - SV
            - ER
            - SK
            - SI
            - ES
            - US
            - EE
            - ET
            - FJ
            - PH
            - FI
            - FR
            - GA
            - GM
            - GS
            - GH
            - GI
            - GD
            - GR
            - GL
            - GP
            - GU
            - GT
            - GY
            - GF
            - GG
            - GN
            - GW
            - HT
            - HN
            - HK
            - HU
            - IN
            - ID
            - IQ
            - IR
            - IE
            - BV
            - IM
            - CX
            - HM
            - NF
            - IS
            - AX
            - KY
            - CK
            - FK
            - FO
            - MP
            - MH
            - PN
            - RE
            - SB
            - VI
            - VG
            - IL
            - IT
            - JM
            - JP
            - JE
            - JO
            - QA
            - KZ
            - KE
            - KG
            - KI
            - KW
            - SY
            - KR
            - CD
            - KP
            - LA
            - UM
            - TC
            - LS
            - LV
            - LB
            - LR
            - LY
            - LI
            - LT
            - AE
            - NL
            - LU
            - MO
            - MK
            - MG
            - MY
            - MW
            - MV
            - ML
            - MT
            - MA
            - MQ
            - MR
            - MU
            - YT
            - MX
            - FM
            - MD
            - MC
            - MN
            - ME
            - MS
            - MZ
            - NA
            - NR
            - NP
            - NI
            - NE
            - NG
            - NU
            - 'NO'
            - NC
            - NZ
            - OM
            - PK
            - PW
            - PS
            - PA
            - PG
            - PY
            - PE
            - PF
            - PL
            - PT
            - PR
            - GB
            - CF
            - CZ
            - GE
            - MM
            - TD
            - CG
            - ST
            - TL
            - DO
            - TZ
            - RW
            - RO
            - RU
            - EH
            - AS
            - WS
            - BL
            - KN
            - SM
            - MF
            - PM
            - VC
            - SH
            - LC
            - SN
            - RS
            - SC
            - SL
            - SG
            - SX
            - SO
            - LK
            - ZA
            - SD
            - SS
            - SE
            - CH
            - SR
            - SJ
            - SZ
            - TH
            - TW
            - TJ
            - IO
            - CC
            - TF
            - TG
            - TK
            - TO
            - TT
            - TN
            - TM
            - TR
            - TV
            - UA
            - UG
            - KM
[...]
