openapi: 3.0.3
info:
  title: Resend
  description: Resend is the email platform for developers.
  version: 1.1.0
servers:
  - url: https://api.resend.com
tags:
  - description: Create and manage domains through the Resend API.
    name: Domains
  - description: Create and manage Contacts through the Resend API.
    name: Contacts
  - description: Create and manage Audiences through the Resend API.
    name: Audiences
  - description: Start sending emails through the Resend API.
    name: Emails
  - description: Create and manage API Keys through the Resend API.
    name: API Keys
paths:
  /emails:
    post:
      tags:
        - Emails
      summary: Send an email
      operationId: Emails_sendEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResponse'
  /emails/{email_id}:
    get:
      tags:
        - Emails
      summary: Retrieve a single email
      operationId: Emails_getSingleEmail
      parameters:
        - name: email_id
          in: path
          required: true
          schema:
            description: The ID of the email.
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
  /emails/batch:
    post:
      tags:
        - Emails
      summary: Trigger up to 100 batch emails at once.
      operationId: Emails_triggerBatchEmails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailsTriggerBatchEmailsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBatchEmailsResponse'
  /domains:
    post:
      tags:
        - Domains
      summary: Create a new domain
      operationId: Domains_createNewDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDomainResponse'
    get:
      tags:
        - Domains
      summary: Retrieve a list of domains
      operationId: Domains_getList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDomainsResponse'
  /domains/{domain_id}:
    get:
      tags:
        - Domains
      summary: Retrieve a single domain
      operationId: Domains_getSingleDomain
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            description: The ID of the domain.
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
    delete:
      tags:
        - Domains
      summary: Remove an existing domain
      operationId: Domains_removeDomain
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            description: The ID of the domain.
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDomainResponse'
    patch:
      tags:
        - Domains
      summary: Update an existing domain
      operationId: Domains_updateExistingDomain
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            description: The ID of the domain.
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainOptions'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDomainResponseSuccess'
  /domains/{domain_id}/verify:
    post:
      tags:
        - Domains
      summary: Verify an existing domain
      operationId: Domains_verifyDomain
      parameters:
        - name: domain_id
          in: path
          required: true
          schema:
            description: The ID of the domain.
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyDomainResponse'
  /api-keys:
    post:
      tags:
        - API Keys
      summary: Create a new API key
      operationId: ApiKeys_createNewKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
    get:
      tags:
        - API Keys
      summary: Retrieve a list of API keys
      operationId: ApiKeys_getList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
  /api-keys/{api_key_id}:
    delete:
      tags:
        - API Keys
      summary: Remove an existing API key
      operationId: ApiKeys_removeExistingKey
      parameters:
        - name: api_key_id
          in: path
          required: true
          schema:
            description: The API key ID.
            type: string
      responses:
        '200':
          description: OK
  /audiences:
    post:
      tags:
        - Audiences
      summary: Create a list of contacts
      operationId: Audiences_createContactList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAudienceOptions'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAudienceResponseSuccess'
    get:
      tags:
        - Audiences
      summary: Retrieve a list of audiences
      operationId: Audiences_getList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAudiencesResponseSuccess'
  /audiences/{id}:
    delete:
      tags:
        - Audiences
      summary: Remove an existing audience
      operationId: Audiences_removeExistingAudience
      parameters:
        - name: id
          in: path
          required: true
          schema:
            description: The Audience ID.
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveAudienceResponseSuccess'
    get:
      tags:
        - Audiences
      summary: Retrieve a single audience
      operationId: Audiences_getSingleAudience
      parameters:
        - name: id
          in: path
          required: true
          schema:
            description: The Audience ID.
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAudienceResponseSuccess'
  /audiences/{audience_id}/contacts:
    post:
      tags:
        - Contacts
      summary: Create a new contact
      operationId: Contacts_createNewContact
      parameters:
        - name: audience_id
          in: path
          required: true
          schema:
            description: The Audience ID.
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactOptions'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContactResponseSuccess'
    get:
      tags:
        - Contacts
      summary: Retrieve a list of contacts
      operationId: Contacts_getList
      parameters:
        - name: audience_id
          in: path
          required: true
          schema:
            description: The Audience ID.
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContactsResponseSuccess'
  /audiences/{audience_id}/contacts/{email}:
    delete:
      tags:
        - Contacts
      summary: Remove an existing contact by email
      operationId: Contacts_removeByEmail
      parameters:
        - name: email
          in: path
          required: true
          schema:
            description: The Contact ID.
            type: string
        - name: audience_id
          in: path
          required: true
          schema:
            description: The Audience ID.
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveContactResponseSuccess'
  /audiences/{audience_id}/contacts/{id}:
    delete:
      tags:
        - Contacts
      summary: Remove an existing contact by id
      operationId: Contacts_removeById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            description: The Contact ID.
            type: string
        - name: audience_id
          in: path
          required: true
          schema:
            description: The Audience ID.
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveContactResponseSuccess'
    get:
      tags:
        - Contacts
      summary: Retrieve a single contact
      operationId: Contacts_getSingle
      parameters:
        - name: id
          in: path
          required: true
          schema:
            description: The Contact ID.
            type: string
        - name: audience_id
          in: path
          required: true
          schema:
            description: The Audience ID.
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContactResponseSuccess'
    patch:
      tags:
        - Contacts
      summary: Update a single contact
      operationId: Contacts_updateSingleContact
      parameters:
        - name: id
          in: path
          required: true
          schema:
            description: The Contact ID.
            type: string
        - name: audience_id
          in: path
          required: true
          schema:
            description: The Audience ID.
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactOptions'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateContactResponseSuccess'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    SendEmailRequest:
      type: object
      required:
        - from
        - to
        - subject
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        from:
          description: >-
            Sender email address. To include a friendly name, use the format
            "Your Name <sender@domain.com>".
          type: string
        to:
          type: array
          items:
            description: >-
              Recipient email address. For multiple addresses, send as an array
              of strings. Max 50.
            type: string
        subject:
          description: Email subject.
          type: string
        bcc:
          description: >-
            Bcc recipient email address. For multiple addresses, send as an
            array of strings.
          type: string
        cc:
          description: >-
            Cc recipient email address. For multiple addresses, send as an array
            of strings.
          type: string
        reply_to:
          description: >-
            Reply-to email address. For multiple addresses, send as an array of
            strings.
          type: string
        html:
          description: The HTML version of the message.
          type: string
        text:
          description: The plain text version of the message.
          type: string
        headers:
          description: Custom headers to add to the email.
          type: object
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
    Attachment:
      type: object
      properties:
        content:
          description: Content of an attached file.
          type: string
          format: binary
        filename:
          description: Name of attached file.
          type: string
        path:
          description: Path where the attachment file is hosted
          type: string
    Tag:
      type: object
      properties:
        name:
          description: >-
            The name of the email tag. It can only contain ASCII letters (a–z,
            A–Z), numbers (0–9), underscores (_), or dashes (-). It can contain
            no more than 256 characters.
          type: string
        value:
          description: >-
            The value of the email tag.It can only contain ASCII letters (a–z,
            A–Z), numbers (0–9), underscores (_), or dashes (-). It can contain
            no more than 256 characters.
          type: string
    SendEmailResponse:
      type: object
      properties:
        id:
          description: The ID of the sent email.
          type: string
    Email:
      type: object
      properties:
        object:
          description: The type of object.
          type: string
          example: email
        id:
          description: The ID of the email.
          type: string
          example: 4ef9a417-02e9-4d39-ad75-9611e0fcc33c
        to:
          type: array
          items:
            description: The email addresses of the recipients.
            type: string
          example:
            - delivered@resend.dev
        from:
          description: The email address of the sender.
          type: string
          example: Acme <onboarding@resend.dev>
        created_at:
          description: The date and time the email was created.
          type: string
          format: date-time
          example: '2023-04-03T22:13:42.674981+00:00'
        subject:
          description: The subject line of the email.
          type: string
          example: Hello World
        html:
          description: The HTML body of the email.
          type: string
          example: Congrats on sending your <strong>first email</strong>!
        text:
          description: The plain text body of the email.
          type: string
        bcc:
          description: The email addresses of the blind carbon copy recipients.
          type: array
          items:
            type: string
        cc:
          description: The email addresses of the carbon copy recipients.
          type: array
          items:
            type: string
        reply_to:
          description: The email addresses to which replies should be sent.
          type: array
          items:
            type: string
        last_event:
          description: The status of the email.
          type: string
          example: delivered
    CreateBatchEmailsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                description: The ID of the sent email.
                type: string
    CreateDomainRequest:
      type: object
      required:
        - name
      properties:
        name:
          description: The name of the domain you want to create.
          type: string
        region:
          description: >-
            The region where emails will be sent from. Possible values are
            us-east-1' | 'eu-west-1' | 'sa-east-1
          type: string
          enum:
            - us-east-1
            - eu-west-1
            - sa-east-1
          default: us-east-1
    CreateDomainResponse:
      type: object
      properties:
        id:
          description: The ID of the domain.
          type: string
        name:
          description: The name of the domain.
          type: string
        created_at:
          description: The date and time the domain was created.
          type: string
          format: date-time
        status:
          description: The status of the domain.
          type: string
        records:
          type: array
          items:
            $ref: '#/components/schemas/DomainRecord'
        region:
          description: The region where the domain is hosted.
          type: string
    DomainRecord:
      type: object
      properties:
        record:
          description: The type of record.
          type: string
        name:
          description: The name of the record.
          type: string
        type:
          description: The type of record.
          type: string
        ttl:
          description: The time to live for the record.
          type: string
        status:
          description: The status of the record.
          type: string
        value:
          description: The value of the record.
          type: string
        priority:
          description: The priority of the record.
          type: integer
    Domain:
      type: object
      properties:
        object:
          description: The type of object.
          type: string
          example: domain
        id:
          description: The ID of the domain.
          type: string
          example: d91cd9bd-1176-453e-8fc1-35364d380206
        name:
          description: The name of the domain.
          type: string
          example: example.com
        status:
          description: The status of the domain.
          type: string
          example: not_started
        created_at:
          description: The date and time the domain was created.
          type: string
          format: date-time
          example: '2023-04-26T20:21:26.347412+00:00'
        region:
          description: The region where the domain is hosted.
          type: string
          example: us-east-1
        records:
          type: array
          items:
            $ref: '#/components/schemas/DomainRecord'
    VerifyDomainResponse:
      type: object
      properties:
        object:
          description: The type of object.
          type: string
          example: domain
        id:
          description: The ID of the domain.
          type: string
          example: d91cd9bd-1176-453e-8fc1-35364d380206
    ListDomainsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ListDomainsItem'
    ListDomainsItem:
      type: object
      properties:
        id:
          description: The ID of the domain.
          type: string
          example: d91cd9bd-1176-453e-8fc1-35364d380206
        name:
          description: The name of the domain.
          type: string
          example: example.com
        status:
          description: The status of the domain.
          type: string
          example: not_started
        created_at:
          description: The date and time the domain was created.
          type: string
          format: date-time
          example: '2023-04-26T20:21:26.347412+00:00'
        region:
          description: The region where the domain is hosted.
          type: string
          example: us-east-1
    UpdateDomainOptions:
      type: object
      properties:
        click_tracking:
          description: Enable or disable click tracking for the domain.
          type: boolean
          example: true
        open_tracking:
          description: Enable or disable open tracking for the domain.
          type: boolean
          example: true
    UpdateDomainResponseSuccess:
      type: object
      properties:
        id:
          description: The ID of the updated domain.
          type: string
          example: d91cd9bd-1176-453e-8fc1-35364d380206
        object:
          description: The object type representing the updated domain.
          type: string
          example: domain
    DeleteDomainResponse:
      type: object
      properties:
        object:
          description: The type of object.
          type: string
          example: domain
        id:
          description: The ID of the domain.
          type: string
          example: d91cd9bd-1176-453e-8fc1-35364d380206
        deleted:
          description: Indicates whether the domain was deleted successfully.
          type: boolean
          example: true
    CreateApiKeyRequest:
      type: object
      required:
        - name
      properties:
        name:
          description: The API key name.
          type: string
        permission:
          description: >-
            The API key can have full access to Resend’s API or be only
            restricted to send emails. * full_access - Can create, delete, get,
            and update any resource. * sending_access - Can only send emails.
          type: string
          enum:
            - full_access
            - sending_access
        domain_id:
          description: >-
            Restrict an API key to send emails only from a specific domain. Only
            used when the permission is sending_acces.
          type: string
    CreateApiKeyResponse:
      type: object
      properties:
        id:
          description: The ID of the API key.
          type: string
        token:
          description: The token of the API key.
          type: string
    ListApiKeysResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApiKey'
    ApiKey:
      type: object
      properties:
        id:
          description: The ID of the API key.
          type: string
        name:
          description: The name of the API key.
          type: string
        created_at:
          description: The date and time the API key was created.
          type: string
          format: date-time
    CreateAudienceOptions:
      type: object
      required:
        - name
      properties:
        name:
          description: The name of the audience you want to create.
          type: string
    CreateAudienceResponseSuccess:
      type: object
      properties:
        id:
          description: The ID of the audience.
          type: string
          example: 78261eea-8f8b-4381-83c6-79fa7120f1cf
        object:
          description: The object of the audience.
          type: string
          example: audience
        name:
          description: The name of the audience.
          type: string
          example: Registered Users
    GetAudienceResponseSuccess:
      type: object
      properties:
        id:
          description: The ID of the audience.
          type: string
          example: 78261eea-8f8b-4381-83c6-79fa7120f1cf
        object:
          description: The object of the audience.
          type: string
          example: audience
        name:
          description: The name of the audience.
          type: string
          example: Registered Users
        created_at:
          description: The date that the object was created.
          type: string
          example: '2023-10-06T22:59:55.977Z'
    RemoveAudienceResponseSuccess:
      type: object
      properties:
        id:
          description: The ID of the audience.
          type: string
          example: 78261eea-8f8b-4381-83c6-79fa7120f1cf
        object:
          description: The object of the audience.
          type: string
          example: audience
        deleted:
          description: >-
            The deleted attribute indicates that the corresponding audience has
            been deleted.
          type: boolean
          example: true
    ListAudiencesResponseSuccess:
      type: object
      properties:
        object:
          description: Type of the response object.
          type: string
          example: list
        data:
          description: Array containing audience information.
          type: array
          items:
            type: object
            properties:
              id:
                description: Unique identifier for the audience.
                type: string
                example: 78261eea-8f8b-4381-83c6-79fa7120f1cf
              name:
                description: Name of the audience.
                type: string
                example: Registered Users
              created_at:
                description: Timestamp indicating when the audience was created.
                type: string
                format: date-time
                example: '2023-10-06T22:59:55.977Z'
    CreateContactOptions:
      type: object
      required:
        - email
      properties:
        email:
          description: Email address of the contact.
          type: string
          example: steve.wozniak@gmail.com
        first_name:
          description: First name of the contact.
          type: string
          example: Steve
        last_name:
          description: Last name of the contact.
          type: string
          example: Wozniak
        unsubscribed:
          description: Indicates if the contact is unsubscribed.
          type: boolean
          example: false
        audience_id:
          description: Unique identifier of the audience to which the contact belongs.
          type: string
          example: 78261eea-8f8b-4381-83c6-79fa7120f1cf
    CreateContactResponseSuccess:
      type: object
      properties:
        object:
          description: Type of the response object.
          type: string
          example: contact
        id:
          description: Unique identifier for the created contact.
          type: string
          example: 479e3145-dd38-476b-932c-529ceb705947
    GetContactResponseSuccess:
      type: object
      properties:
        object:
          description: Type of the response object.
          type: string
          example: contact
        id:
          description: Unique identifier for the contact.
          type: string
          example: e169aa45-1ecf-4183-9955-b1499d5701d3
        email:
          description: Email address of the contact.
          type: string
          example: steve.wozniak@gmail.com
        first_name:
          description: First name of the contact.
          type: string
          example: Steve
        last_name:
          description: Last name of the contact.
          type: string
          example: Wozniak
        created_at:
          description: Timestamp indicating when the contact was created.
          type: string
          format: date-time
          example: '2023-10-06T23:47:56.678Z'
        unsubscribed:
          description: Indicates if the contact is unsubscribed.
          type: boolean
          example: false
    UpdateContactOptions:
      type: object
      properties:
        email:
          description: Email address of the contact.
          type: string
          example: steve.wozniak@gmail.com
        first_name:
          description: First name of the contact.
          type: string
          example: Steve
        last_name:
          description: Last name of the contact.
          type: string
          example: Wozniak
        unsubscribed:
          description: Indicates the subscription status of the contact.
          type: boolean
          example: false
    UpdateContactResponseSuccess:
      type: object
      properties:
        object:
          description: Type of the response object.
          type: string
          example: contact
        id:
          description: Unique identifier for the updated contact.
          type: string
          example: 479e3145-dd38-476b-932c-529ceb705947
    RemoveContactResponseSuccess:
      type: object
      properties:
        object:
          description: Type of the response object.
          type: string
          example: contact
        id:
          description: Unique identifier for the removed contact.
          type: string
          example: 520784e2-887d-4c25-b53c-4ad46ad38100
        deleted:
          description: Indicates whether the contact was successfully deleted.
          type: boolean
          example: true
    ListContactsResponseSuccess:
      type: object
      properties:
        object:
          description: Type of the response object.
          type: string
          example: list
        data:
          description: Array containing contact information.
          type: array
          items:
            type: object
            properties:
              id:
                description: Unique identifier for the contact.
                type: string
                example: e169aa45-1ecf-4183-9955-b1499d5701d3
              email:
                description: Email address of the contact.
                type: string
                example: steve.wozniak@gmail.com
              first_name:
                description: First name of the contact.
                type: string
                example: Steve
              last_name:
                description: Last name of the contact.
                type: string
                example: Wozniak
              created_at:
                description: Timestamp indicating when the contact was created.
                type: string
                format: date-time
                example: '2023-10-06T23:47:56.678Z'
              unsubscribed:
                description: Indicates if the contact is unsubscribed.
                type: boolean
                example: false
    EmailsTriggerBatchEmailsRequest:
      type: array
      items:
        $ref: '#/components/schemas/SendEmailRequest'
security:
  - bearerAuth: []
