openapi: 3.0.3
info:
  summary: Pay.com API
  title: Pay.com API
  description: ''
  version: '1.0'
  contact:
    name: Pay.com Team
    url: https://pay.com
    email: support@pay.com
  termsOfService: https://pay.com/legal/terms-and-conditions
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Test mode (Sandbox)
    url: https://api.sandbox.pay.com
  - description: Live mode (Production)
    url: https://api.pay.com
tags:
  - name: Session
  - name: Hold
  - name: Customer
  - name: Charge
  - name: PaymentMethod
  - name: Refund
  - name: Payout
  - name: Attempt
paths:
  /v1/sessions/payment:
    parameters: []
    post:
      tags:
        - Session
      summary: Create a Payment Session
      operationId: Session_createPayment
      description: >-
        Create a new Payment Session


        After a Payment Session is successfully confirmed by the customer, a
        Charge (or a Hold when `capture=false`) will be created and executed
        with the payment method entered by the customer during the session.
      requestBody:
        $ref: '#/components/requestBodies/Create-Payment-Session'
      responses:
        '200':
          $ref: '#/components/responses/Create-Payment-Session'
  /v1/sessions/payment/{id}:
    parameters:
      - description: The id of the Payment Session to retrieve.
        schema:
          type: string
          example: ps_217940156986951680
          pattern: ^ps_\d{18,20}
        name: id
        in: path
        required: true
    get:
      tags:
        - Session
      summary: Retrieve a Payment Session
      operationId: Session_getPaymentDetails
      description: >-
        Retrieves the details of a Payment Session.


        Querying the API with the unique identifier of a Payment Session that
        was returned from a previous request will return the corresponding
        Payment Session information.
      responses:
        '200':
          $ref: '#/components/responses/Payment-Session'
  /v1/sessions/setup:
    parameters: []
    post:
      tags:
        - Session
      summary: Create a Setup Session
      operationId: Session_createSetup
      description: >-
        Create a new Setup Session


        After a Setup Session is successfully confirmed by the customer, a
        Payment Method will be created and can be used to create Charges or
        Holds from the API.
      requestBody:
        $ref: '#/components/requestBodies/Create-Setup-Session'
      responses:
        '200':
          $ref: '#/components/responses/Create-Setup-Session'
  /v1/sessions/setup/{id}:
    parameters:
      - description: The id of the Setup Session to retrieve.
        schema:
          type: string
          example: ss_217940156986951680
          pattern: ^ss_\d{18,20}
        name: id
        in: path
        required: true
    get:
      tags:
        - Session
      summary: Retrieve a Setup Session
      operationId: Session_getDetails
      description: >-
        Retrieves the details of a Setup Session.


        Querying the API with the unique identifier of a Setup Session that was
        returned from a previous request will return the corresponding Setup
        Session information.
      responses:
        '200':
          $ref: '#/components/responses/Setup-Session'
  /v1/sessions/payment/{id}/attempts:
    parameters:
      - description: The id of the Payment Session to retrieve attempts for.
        schema:
          type: string
          example: ps_217940156986951680
          pattern: ^ps_\d{18,20}
        name: id
        in: path
        required: true
    get:
      tags:
        - Session
      summary: Retrieve Attempts of a Session
      operationId: Session_getAttempts
      description: >-
        Retrieves the details of a Payment Session.


        Querying the API with the unique identifier of a Payment Session that
        was returned from a previous request will return the corresponding
        Payment Attempts.
      responses:
        '200':
          $ref: '#/components/responses/Payment-Attempts'
  /v1/sessions/setup/{id}/attempts:
    parameters:
      - description: The id of the Setup Session to retrieve attempts for.
        schema:
          type: string
          example: ss_217940156986951680
          pattern: ^ss_\d{18,20}
        name: id
        in: path
        required: true
    get:
      tags:
        - Session
      summary: Retrieve Attempts of a Session
      operationId: Session_getSessionAttempts
      description: >-
        Retrieves the details of a Setup Session.


        Querying the API with the unique identifier of a Setup Session that was
        returned from a previous request will return the corresponding Setup
        Attempts.
      responses:
        '200':
          $ref: '#/components/responses/Setup-Attempts'
  /v1/sessions/authentication/linked:
    parameters: []
    post:
      tags:
        - Session
      summary: Create a Linked Session
      operationId: Session_createLinked
      description: >-
        Create a new Linked Authentication Session


        A Linked Authentication Session can be used to authenticate a Charge or
        Hold with a `requires_authentication` status.
      requestBody:
        $ref: '#/components/requestBodies/Create-a-Linked-Authentication-Session'
      responses:
        '200':
          $ref: '#/components/responses/Authentication-Session'
  /v1/sessions/authentication/independent:
    parameters: []
    post:
      tags:
        - Session
      summary: Create an Independent Session
      operationId: Session_createIndependent
      description: >-
        Create a new Independent Authentication Session


        An Independent Authentication Session can be used to authentication a
        payment with SCA, without proccessing a payment.
      requestBody:
        $ref: >-
          #/components/requestBodies/Create-an-Independent-Authentication-Session
      responses:
        '200':
          $ref: '#/components/responses/Authentication-Session'
  /v1/attempts/payment/{id}:
    parameters:
      - description: The id of the Payment Session to retrieve.
        schema:
          type: string
          example: psatt_217940156986951680_0
          pattern: ^psatt_\d{18,20}_\d{1}
        name: id
        in: path
        required: true
    get:
      tags:
        - Session
      summary: Retrieve a Payment Session
      operationId: Session_getPaymentAttempt
      description: >-
        Retrieves the details of a Payment Attempt.


        Querying the API with the unique identifier of a Payment Attempt that
        was returned from a previous request will return the corresponding
        Payment Attempt information.
      responses:
        '200':
          $ref: '#/components/responses/Payment-Attempt'
  /v1/attempts/setup/{id}:
    parameters:
      - description: The id of the Setup Attempt to retrieve.
        schema:
          type: string
          example: ssatt_217940156986951680_0
          pattern: ^ssatt_\d{18,20}_\d{1}
        name: id
        in: path
        required: true
    get:
      tags:
        - Attempt
      summary: Retrieve a Setup Attempt
      operationId: Attempt_getDetails
      description: >-
        Retrieves the details of a Setup Attempt.


        Querying the API with the unique identifier of a Setup Attempt that was
        returned from a previous request will return the corresponding Setup
        Attempt information.
      responses:
        '200':
          $ref: '#/components/responses/Setup-Attempt'
  /v1/charges:
    parameters: []
    post:
      tags:
        - Charge
      summary: Create a Charge
      operationId: Charge_createCharge
      requestBody:
        $ref: '#/components/requestBodies/Create-Charge'
      responses:
        '200':
          $ref: '#/components/responses/Charge'
  /v1/charges/{id}:
    parameters:
      - description: The id of the Charge to retrieve.
        schema:
          type: string
          example: chrg_146231656762572800
          pattern: ^chrg_\d{18,20}
        name: id
        in: path
        required: true
    get:
      tags:
        - Charge
      summary: Retrieve a Charge
      operationId: Charge_getDetails
      description: >-
        Retrieves the details of a Charge.


        Querying the API with the unique identifier of a Charge that was
        returned from a previous request will return the corresponding Charge
        information.
      responses:
        '200':
          $ref: '#/components/responses/Charge'
  /v1/charges/{id}/confirm:
    parameters:
      - description: The id of the Charge to confirm.
        schema:
          type: string
          example: chrg_146231656762572800
          pattern: ^chrg_\d{18,20}
        name: id
        in: path
        required: true
    post:
      tags:
        - Charge
      summary: Confirm a Charge
      operationId: Charge_confirmCharge
      description: >-
        Confirms a Charge with status of `requires_confirmation` after
        successful authentication.
      responses:
        '200':
          $ref: '#/components/responses/Charge'
  /v1/refunds:
    parameters: []
    post:
      tags:
        - Refund
      summary: Create a Refund
      operationId: Refund_paymentMethod
      description: >-
        Refund the funds from a Charge to the Payment Method.


        Creating a Refund will refund a Charge that has previously been
        created. 

        Funds will be returned to the Payment Method that was originally
        charged.


        You can optionally refund only part of a charge. 

        You can do so multiple times, until the entire charge has been refunded.
      requestBody:
        $ref: '#/components/requestBodies/Create-Refund'
      responses:
        '200':
          $ref: '#/components/responses/Refund'
  /v1/refunds/{id}:
    parameters:
      - description: The id of the Refund to retrieve.
        schema:
          type: string
          example: rfnd_179937907841176576
          pattern: ^rfnd_\d{18,20}
        name: id
        in: path
        required: true
    get:
      tags:
        - Refund
      summary: Retrieve a Refund
      operationId: Refund_getDetails
      description: >-
        Retrieves the details of a Refund.


        Querying the API with the unique identifier of a Refund that was
        returned from a previous request will return the corresponding Refund
        information.
      responses:
        '200':
          $ref: '#/components/responses/Refund'
  /v1/holds:
    parameters: []
    post:
      tags:
        - Hold
      summary: Create a Hold
      operationId: Hold_createHold
      requestBody:
        $ref: '#/components/requestBodies/Create-Hold'
      responses:
        '200':
          $ref: '#/components/responses/Hold'
  /v1/holds/{id}:
    parameters:
      - description: The id of the Hold to retrieve.
        schema:
          type: string
          example: hld_158938670341035008
          pattern: ^hld_\d{18,20}
        name: id
        in: path
        required: true
    get:
      tags:
        - Hold
      summary: Retrieve a Hold
      operationId: Hold_getDetails
      description: >-
        Retrieves the details of a Hold.


        Querying the API with the unique identifier of a Hold that was returned
        from a previous request will return the corresponding Hold information.
      responses:
        '200':
          $ref: '#/components/responses/Hold'
  /v1/holds/{id}/capture:
    parameters:
      - description: The identifier of the Hold to capture.
        schema:
          type: string
          example: hld_158938670341035008
          pattern: ^hld_\d{18,20}
        name: id
        in: path
        required: true
    post:
      tags:
        - Hold
      summary: Capture a Hold
      operationId: Hold_captureHold
      description: >-
        Capture the funds of an existing, uncaptured, Hold. 


        This is the second half of the two-step payment flow, where first a Hold
        was created with the `/holds` API or with a Payment Session (`capture`
        flag set to `false`).


        The API will create a Charge from the referenced Hold and response with
        the created Charge information.
      requestBody:
        $ref: '#/components/requestBodies/Capture-a-Hold'
      responses:
        '200':
          $ref: '#/components/responses/Charge'
  /v1/holds/{id}/cancel:
    parameters:
      - description: The identifier of the Hold to cancel.
        schema:
          type: string
          example: hld_158938670341035008
          pattern: ^hld_\d{18,20}
        name: id
        in: path
        required: true
    post:
      tags:
        - Hold
      summary: Cancel a Hold
      operationId: Hold_cancelHold
      description: >-
        Cancels the hold on a funds being held by an uncaptured Hold. 


        A Hold object can be canceled when it is in the status of:
        `requires_capture`. Once canceled, the remaining `amount_capturable`
        will automatically be released and no additional charges can be created
        from the Hold. 
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/Canceled-Hold'
  /v1/holds/{id}/confirm:
    parameters:
      - description: The id of the Charge to confirm.
        schema:
          type: string
          example: hld_146231656762572800
          pattern: ^hld_\d{18,20}
        name: id
        in: path
        required: true
    post:
      tags:
        - Hold
      summary: Confirm a Hold
      operationId: Hold_confirmHoldStatus
      description: >-
        Confirms a Hold with status of `requires_confirmation` after successful
        authentication.
      responses:
        '200':
          $ref: '#/components/responses/Hold'
  /v1/payouts:
    parameters: []
    post:
      tags:
        - Payout
      summary: Create a Payout
      operationId: Payout_createPayout
      requestBody:
        $ref: '#/components/requestBodies/Create-Payout'
      responses:
        '200':
          $ref: '#/components/responses/Payout'
  /v1/payouts/{id}:
    parameters:
      - description: The id of the Payout to retrieve.
        schema:
          type: string
          example: po_220442125165133824
        name: id
        in: path
        required: true
    get:
      tags:
        - Payout
      summary: Retrieve a Payout
      operationId: Payout_getDetails
      description: >-
        Retrieves the details of a Payout.


        Querying the API with the unique identifier of a Payout that was
        returned from a previous request will return the corresponding Payout
        information.
      responses:
        '200':
          $ref: '#/components/responses/Payout'
  /v1/payment_methods:
    post:
      tags:
        - PaymentMethod
      summary: Create a Payment Method
      operationId: PaymentMethod_createPaymentMethod
      requestBody:
        $ref: '#/components/requestBodies/Create-Payment-Method'
      responses:
        '200':
          $ref: '#/components/responses/Payment-Method'
  /v1/payment_methods/{id}:
    parameters:
      - description: The id of the Payment Method.
        schema:
          type: string
          example: pm_card_220442125165133824
        name: id
        in: path
        required: true
    get:
      tags:
        - PaymentMethod
      summary: Retrieve a Payment Method
      operationId: PaymentMethod_getDetails
      description: >-
        Retrieves the details of a Payment Method.


        Querying the API with the unique identifier of a Payment Method that was
        returned from a previous request will return the corresponding Payment
        Method information.
      responses:
        '200':
          $ref: '#/components/responses/Payment-Method'
    delete:
      tags:
        - PaymentMethod
      summary: Delete a Payment Method
      operationId: PaymentMethod_deleteMethod
      description: Delete a Payment Method.
      responses:
        '200':
          description: OK
  /v1/customers/{reference_id}/payment_methods:
    parameters:
      - description: The reference id of the Customer to retrieve the payment methods for.
        schema:
          type: string
          example: 927071e4-464c-4f5d-a079-4aa097f922ca
        name: reference_id
        in: path
        required: true
    get:
      tags:
        - Customer
      summary: Retrieve Payment Methods
      operationId: Customer_getPaymentMethods
      description: >-
        Retrieves details of all Payment Methods associated with a customer.


        Querying the API with the reference id of a customer will return the
        corresponding Payment Method information.
      responses:
        '200':
          $ref: '#/components/responses/Payment-Methods'
  /v1/customers:
    post:
      tags:
        - Customer
      summary: Create a Customer
      operationId: Customer_createCustomer
      requestBody:
        $ref: '#/components/requestBodies/Create-Customer'
      responses:
        '200':
          $ref: '#/components/responses/Customer'
  /v1/customers/{reference_id}:
    parameters:
      - description: The reference id of the Customer.
        schema:
          type: string
          example: 927071e4-464c-4f5d-a079-4aa097f922ca
        name: reference_id
        in: path
        required: true
    get:
      tags:
        - Customer
      summary: Retrieve a Customer
      operationId: Customer_getDetails
      description: >-
        Retrieves the details of a Customer


        Querying the API with the reference id of a customer will return the
        corresponding Customer information.
      responses:
        '200':
          $ref: '#/components/responses/Customer'
    delete:
      tags:
        - Customer
      summary: Delete a Customer
      operationId: Customer_deleteCustomer
      description: Delete a Customer
      responses:
        '200':
          description: OK
    put:
      tags:
        - Customer
      summary: Update a Customer
      operationId: Customer_updateDetails
      description: Update details of a Customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDetailsRequest'
      responses:
        '200':
          $ref: '#/components/responses/Customer'
components:
  responses:
    Setup-Attempt:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Setup-Attempt'
          examples:
            Example response:
              value:
                id: ssatt_217940156986951680_0X
                resource: setup_attempt
                created: '2022-09-07T13:40:41.751Z'
                customer: cust_222712682678060032
                customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                failure_code: null
                failure_message: null
                metadata: {}
                payment_method: pm_card_202779025452569600
                payment_method_details:
                  type: card
                  card:
                    bin: '424242'
                    brand: visa
                    country: US
                    exp_month: '11'
                    exp_year: '25'
                    fingerprint: >-
                      c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
                    funding: credit
                    last4: '4242'
                    network: visa
                    security_checks:
                      address_line1_check: unavailable
                      address_postal_code_check: unavailable
                      cvc_check: pass
                    three_d_secure: null
                    token: tok_card_202779025452569600
                    wallet: null
                reference: null
                setup_session: ss_217940156986951680
                status: succeeded
    Payment-Attempt:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Payment-Attempt'
          examples:
            Example response:
              value:
                id: psatt_217940156986951680_0X
                resource: payment_attempt
                amount: 10000
                amount_human_readable: '100.00'
                currency: usd
                created: '2022-09-07T13:40:41.751Z'
                customer: cust_222712682678060032
                customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                failure_code: null
                failure_message: null
                metadata: {}
                payment_method: pm_card_202779025452569600
                payment_method_details:
                  type: card
                  card:
                    bin: '424242'
                    brand: visa
                    country: US
                    exp_month: '11'
                    exp_year: '25'
                    fingerprint: >-
                      c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
                    funding: credit
                    last4: '4242'
                    network: visa
                    security_checks:
                      address_line1_check: unavailable
                      address_postal_code_check: unavailable
                      cvc_check: pass
                    three_d_secure: null
                    token: tok_card_202779025452569600
                    wallet: null
                payment_session: ps_217940156986951680
                reference: null
                status: succeeded
    Payment-Session:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Payment-Session'
          examples:
            Example response:
              value:
                description: null
                id: ps_217940156986951680X
                resource: payment_session
                amount: 10000
                amount_human_readable: '''100.00'''
                capture: true
                charge: null
                currency: usd
                created: '2022-09-07T13:40:41.751Z'
                setup_future_usage: null
                customer: cust_222712682678060032
                customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                hold: null
                metadata: {}
                payment_method: null
                payment_method_details: null
                payment_method_options:
                  card:
                    accepted_card_brands:
                      - visa
                      - mastercard
                    accepted_card_categories:
                      - consumer
                    accepted_card_funding:
                      - debit
                      - credit
                    accepted_card_jurisdictions:
                      - domestic
                    duplicate_card_check: true
                    enforce_customer_name_as_cardholder_name: false
                    security_checks:
                      address_line1_check: false
                      address_postal_code_check: false
                      cvv_check: true
                    request_threed_secure: challenge
                payment_method_types:
                  - card
                reference: null
                receipt_email: null
                receipt_number: null
                receipt_url: null
                shipping: null
                billing_details: null
                statement_descriptor_suffix: TEST
                status: open
    Setup-Session:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Setup-Session'
          examples:
            Example response:
              value:
                id: ss_217940156986951680X
                resource: setup_session
                currency: usd
                created: '2022-09-07T13:40:41.751Z'
                customer: cust_222712682678060032
                customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                client_secret: >-
                  eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
                metadata: {}
                payment_method: null
                payment_method_details: null
                payment_method_options:
                  card:
                    accepted_card_brands:
                      - visa
                      - mastercard
                    accepted_card_categories:
                      - consumer
                    accepted_card_funding:
                      - debit
                      - credit
                    accepted_card_jurisdictions:
                      - domestic
                    duplicate_card_check: true
                    enforce_customer_name_as_cardholder_name: false
                    security_checks:
                      address_line1_check: false
                      address_postal_code_check: false
                      cvv_check: true
                    request_threed_secure: challenge
                payment_method_types:
                  - card
                billing_details: null
                setup_future_usage: null
                status: open
    Charge:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Charge'
          examples:
            Example response:
              value:
                description: null
                id: chrg_146231656762572800X
                resource: charge
                amount: 10000
                amount_human_readable: '100.00'
                amount_refunded: 0
                billing_details: null
                calculated_statement_descriptor: PAYCOM * TEST
                created: '2022-09-07T13:40:41.751Z'
                currency: usd
                customer: cust_199440887619523584
                customer_reference_id: 2s68c46d-8d15-4c2a-ae4c-30ec77abed9f
                disputed: false
                failure_code: null
                failure_message: null
                metadata: {}
                paid: false
                payment_session: null
                hold: hld_220204193980350464
                payment_method: pm_card_202779025452569600
                payment_method_details:
                  type: card
                  card:
                    bin: '424242'
                    brand: visa
                    country: US
                    exp_month: '11'
                    exp_year: '25'
                    fingerprint: >-
                      c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
                    funding: credit
                    last4: '4242'
                    network: visa
                    security_checks:
                      address_line1_check: unavailable
                      address_postal_code_check: unavailable
                      cvc_check: pass
                    three_d_secure: null
                    token: tok_card_202779025452569600
                    wallet: null
                payment_method_options:
                  card:
                    accepted_card_brands:
                      - visa
                      - mastercard
                    accepted_card_categories:
                      - consumer
                    accepted_card_funding:
                      - debit
                      - credit
                    accepted_card_jurisdictions:
                      - domestic
                    duplicate_card_check: true
                    enforce_customer_name_as_cardholder_name: false
                    security_checks:
                      address_line1_check: false
                      address_postal_code_check: false
                      cvv_check: true
                    request_threed_secure: challenge
                receipt_email: null
                receipt_number: null
                receipt_url: null
                refunded: false
                refunds:
                  data: []
                  url: /v1/charges/chrg_146231656762572800/refunds
                reference: null
                shipping: null
                statement_descriptor_suffix: TEST
                status: succeeded
    Hold:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Hold'
          examples:
            Example response:
              value:
                description: null
                id: hld_158938670341035008X
                resource: hold
                amount: 10000
                amount_human_readable: '100.00'
                amount_capturable: 10000
                billing_details: null
                created: '2022-09-07T13:40:41.751Z'
                currency: usd
                canceled: false
                canceled_at: null
                charges:
                  data: []
                  url: /v1/holds/hld_158938670341035008/charges
                customer: cust_222779369167260672
                customer_reference_id: null
                failure_code: null
                failure_message: null
                metadata: {}
                payment_session: null
                payment_method: pm_card_202779025452569600
                payment_method_details:
                  type: card
                  card:
                    bin: '424242'
                    brand: visa
                    country: US
                    exp_month: '11'
                    exp_year: '25'
                    fingerprint: >-
                      c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
                    funding: credit
                    last4: '4242'
                    network: visa
                    security_checks:
                      address_line1_check: unavailable
                      address_postal_code_check: unavailable
                      cvc_check: pass
                    three_d_secure: null
                    token: tok_card_202779025452569600
                    wallet: null
                payment_method_options:
                  card:
                    accepted_card_brands:
                      - visa
                      - mastercard
                    accepted_card_categories:
                      - consumer
                    accepted_card_funding:
                      - debit
                      - credit
                    accepted_card_jurisdictions:
                      - domestic
                    duplicate_card_check: true
                    enforce_customer_name_as_cardholder_name: false
                    security_checks:
                      address_line1_check: false
                      address_postal_code_check: false
                      cvv_check: true
                    request_threed_secure: challenge
                reference: null
                shipping: null
                statement_descriptor_suffix: null
                status: requires_capture
    Canceled-Hold:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Hold'
          examples:
            Example response:
              value:
                description: null
                id: hld_158938670341035008X
                resource: hold
                amount: 10000
                amount_human_readable: '100.00'
                amount_capturable: 0
                billing_details: null
                created: '2022-09-07T13:40:41.751Z'
                currency: usd
                canceled: true
                canceled_at: 1662573940676
                charges:
                  data: []
                  url: /v1/holds/hld_158938670341035008/charges
                customer: cust_222779369167260672
                customer_reference_id: null
                failure_code: null
                failure_message: null
                metadata: {}
                payment_session: null
                payment_method: pm_card_202779025452569600
                payment_method_details:
                  type: card
                  card:
                    bin: '424242'
                    brand: visa
                    country: US
                    exp_month: '11'
                    exp_year: '25'
                    fingerprint: >-
                      c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
                    funding: credit
                    last4: '4242'
                    network: visa
                    security_checks:
                      address_line1_check: unavailable
                      address_postal_code_check: unavailable
                      cvc_check: pass
                    three_d_secure: null
                    token: tok_card_202779025452569600
                    wallet: null
                reference: null
                shipping: null
                statement_descriptor_suffix: null
                status: canceled
    Payout:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Payout'
          examples:
            Example response:
              value:
                description: null
                id: po_220442125165133824X
                resource: payout
                amount: 10000
                amount_human_readable: '100.00'
                billing_details: null
                calculated_statement_descriptor: PAYCOM * TEST
                created: '2022-09-07T13:40:41.751Z'
                currency: usd
                customer: cust_199440887619523584
                customer_reference_id: 2s68c46d-8d15-4c2a-ae4c-30ec77abed9f
                failure_code: null
                failure_message: null
                metadata: {}
                payment_method: pm_card_202779025452569600
                payment_method_details:
                  type: card
                  card:
                    bin: '424242'
                    brand: visa
                    country: US
                    exp_month: '11'
                    exp_year: '25'
                    fingerprint: >-
                      c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
                    funding: credit
                    last4: '4242'
                    network: visa
                    security_checks:
                      address_line1_check: unavailable
                      address_postal_code_check: unavailable
                      cvc_check: pass
                    three_d_secure: null
                    token: tok_card_202779025452569600
                    wallet: null
                reference: null
                statement_descriptor_suffix: TEST
                status: succeeded
    Refund:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Refund'
          examples:
            Example response:
              value:
                id: rfnd_179937907841176576X
                resource: refund
                amount: 10000
                amount_human_readable: '100.00'
                charge: chrg_146231656762572800
                created: '2022-09-07T13:40:41.751Z'
                currency: usd
                customer: cust_199440887619523584
                customer_reference_id: 69727f0f-8865-4d20-8f63-4ff4fafdacd8
                metadata: {}
                reference: null
                status: succeeded
    Create-Payment-Session:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Payment-Session'
          examples:
            Example response:
              value:
                description: null
                id: ps_217940156986951680X
                resource: payment_session
                amount: 10000
                amount_human_readable: '100.00'
                capture: true
                charge: null
                currency: usd
                created: '2022-09-07T13:40:41.751Z'
                setup_future_usage: null
                customer: cust_222712682678060032
                customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                client_secret: >-
                  eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
                hold: null
                metadata: {}
                payment_method: null
                payment_method_details: null
                payment_method_options:
                  card:
                    accepted_card_brands:
                      - visa
                      - mastercard
                    accepted_card_categories:
                      - consumer
                    accepted_card_funding:
                      - debit
                      - credit
                    accepted_card_jurisdictions:
                      - domestic
                    duplicate_card_check: true
                    enforce_customer_name_as_cardholder_name: false
                    security_checks:
                      address_line1_check: false
                      address_postal_code_check: false
                      cvv_check: true
                    request_threed_secure: challenge
                reference: null
                receipt_email: null
                receipt_number: null
                receipt_url: null
                shipping: null
                billing_details: null
                statement_descriptor_suffix: TEST
                status: open
    Create-Setup-Session:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Setup-Session'
          examples:
            Example response:
              value:
                id: ss_217940156986951680X
                resource: setup_session
                currency: usd
                created: '2022-09-07T13:40:41.751Z'
                customer: cust_222712682678060032
                customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                client_secret: >-
                  eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
                metadata: {}
                payment_method: null
                payment_method_details: null
                payment_method_options:
                  card:
                    accepted_card_brands:
                      - visa
                      - mastercard
                    accepted_card_categories:
                      - consumer
                    accepted_card_funding:
                      - debit
                      - credit
                    accepted_card_jurisdictions:
                      - domestic
                    duplicate_card_check: true
                    enforce_customer_name_as_cardholder_name: false
                    security_checks:
                      address_line1_check: false
                      address_postal_code_check: false
                      cvv_check: true
                    request_threed_secure: challenge
                billing_details: null
                setup_future_usage: null
                status: open
    Payment-Attempts:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SessionGetAttemptsResponse'
          examples:
            Example response:
              value:
                - id: psatt_217940156986951680_0X
                  resource: payment_attempt
                  amount: 10000
                  amount_human_readable: '100.00'
                  currency: usd
                  created: '2022-09-07T13:40:41.751Z'
                  customer: cust_222712682678060032
                  customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                  failure_code: null
                  failure_message: null
                  metadata: {}
                  payment_method: pm_card_202779025452569600
                  payment_method_details:
                    type: card
                    card:
                      bin: '424242'
                      brand: visa
                      country: US
                      exp_month: '11'
                      exp_year: '25'
                      fingerprint: >-
                        c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
                      funding: credit
                      last4: '4242'
                      network: visa
                      security_checks:
                        address_line1_check: unavailable
                        address_postal_code_check: unavailable
                        cvc_check: pass
                      three_d_secure: null
                      token: tok_card_202779025452569600
                      wallet: null
                  payment_session: ps_217940156986951680
                  reference: null
                  status: succeeded
    Setup-Attempts:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SessionGetSessionAttemptsResponse'
          examples:
            Example resonse:
              value:
                - id: ssatt_217940156986951680_0X
                  resource: setup_attempt
                  created: '2022-09-07T13:40:41.751Z'
                  customer: cust_222712682678060032
                  customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                  failure_code: null
                  failure_message: null
                  metadata: {}
                  payment_method: pm_card_202779025452569600
                  payment_method_details:
                    type: card
                    card:
                      bin: '424242'
                      brand: visa
                      country: US
                      exp_month: '11'
                      exp_year: '25'
                      fingerprint: >-
                        c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
                      funding: credit
                      last4: '4242'
                      network: visa
                      security_checks:
                        address_line1_check: unavailable
                        address_postal_code_check: unavailable
                        cvc_check: pass
                      three_d_secure: null
                      token: tok_card_202779025452569600
                      wallet: null
                  reference: null
                  setup_session: ss_217940156986951680
                  status: succeeded
    Authentication-Session:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Authentication-Session'
          examples:
            Example response:
              value:
                version: null
                id: sca_217940156986951680X
                resource: authentication_session
                amount: 10000
                amount_human_readable: '100.00'
                billing_details: null
                cavv: null
                confirm: true
                charge: null
                currency: usd
                created: '2022-09-07T13:40:41.751Z'
                customer: cust_222712682678060032
                customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                client_secret: >-
                  eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
                ds_trans_id: null
                eci: null
                flow: null
                hold: null
                metadata: {}
                payment_method: null
                payment_method_details: null
                return_url: https://example.com/callback.html
                shipping: null
                reference: null
                status: open
                url: >-
                  https://sca.pay.com/authenticate?client_secret=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
                xid: null
        application/xml:
          schema:
            $ref: '#/components/schemas/SessionCreateLinkedResponse'
    Customer:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Customer'
          examples:
            Example response:
              value:
                id: cust_202779025452569600X
                resource: customer
                address: null
                created: '2022-09-07T13:40:41.751Z'
                default_source: pm_card_222712682678060032
                email: null
                name: John Doe
                phone: null
                metadata: {}
                reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                shipping: null
    Payment-Method:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Payment-Method'
          examples:
            Example response:
              value:
                id: pm_card_202779025452569600X
                resource: payment_method
                billing_details: null
                card:
                  bin: '424242'
                  brand: visa
                  country: US
                  exp_month: '11'
                  exp_year: '25'
                  fingerprint: >-
                    c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
                  funding: credit
                  last4: '4242'
                  network: visa
                  token: tok_card_202779025452569600
                  wallet: null
                created: '2022-09-07T13:40:41.751Z'
                customer: cust_222712682678060032
                customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                metadata: {}
                type: card
    Payment-Methods:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerGetPaymentMethodsResponse'
          examples:
            Example response:
              value:
                - id: pm_card_202779025452569600X
                  resource: payment_method
                  billing_details: null
                  card:
                    bin: '424242'
                    brand: visa
                    country: US
                    exp_month: '11'
                    exp_year: '25'
                    fingerprint: >-
                      c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
                    funding: credit
                    last4: '4242'
                    network: visa
                    token: tok_card_202779025452569600
                    wallet: null
                  created: '2022-09-07T13:40:41.751Z'
                  customer: cust_222712682678060032
                  customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
                  metadata: {}
                  type: card
  securitySchemes:
    x-paycom-api-key:
      name: x-paycom-api-key
      type: apiKey
      in: header
  schemas:
    Setup-Session:
      type: object
      x-internal: false
      properties:
        id:
          description: Unique identifier for Setup Session object.
          type: string
        resource:
          description: String representing the resource type.
          type: string
        billing_details:
          description: >-
            Billing information associated with the customer at the time of the
            Setup Session.
          $ref: '#/components/schemas/Billing-Details'
        created:
          description: Time at which the resource was created. ISO String format.
          type: string
        client_secret:
          description: >-
            Client secret to use with Pay Components to render the Setup
            Session.
          type: string
        customer:
          description: ID of the customer this Setup Session is for if one exists.
          type: string
        customer_reference_id:
          description: >-
            A unique identifier for your customer, This should be a customer ID
            that identifies the customer in your system. Used to retrieve and
            manage your customer's saved payment methods.
          type: string
        failure_code:
          type: string
        failure_reason:
          type: string
        metadata:
          description: >-
            Set of key-value pairs that you can attach to the resource. This can
            be useful for storing additional information about the object in a
            structured format.
          type: object
        payment_method:
          description: ID of the Payment Method used in the Setup Session.
          type: string
        payment_method_details:
          description: Details about the payment method.
          $ref: '#/components/schemas/Payment-Method-Details'
        payment_method_options:
          description: Payment method specific configurations.
          $ref: '#/components/schemas/Payment-Method-Options'
        payment_method_types:
          description: >-
            The list of payment method types that this Setup Session is allowed
            to use. If this is not provided, defaults to `["card"]`.
          type: array
          items:
            type: string
        setup_future_usage:
          description: >-
            Indicates that you intend to make future payments with this payment
            method that will be used in this Payment.


            **Possible enum values:**

            `on_session`

            Use `on_session` if you intend to only reuse the payment method when
            your customer is present in your checkout flow.


            `off_session`

            Use `off_session` if your customer may or may not be present in your
            checkout flow.
          type: string
        status:
          description: Status of the Setup Session.
          type: string
          enum:
            - open
            - completed
            - failed
      example:
        id: ss_217940156986951680
        resource: setup_session
        currency: usd
        created: '2022-09-07T13:40:41.751Z'
        customer: cust_222712682678060032
        customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
        client_secret: >-
          eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
        metadata: {}
        payment_method: null
        payment_method_details: null
        payment_method_options:
          card:
            accepted_card_brands:
              - visa
              - mastercard
            accepted_card_categories:
              - consumer
            accepted_card_funding:
              - debit
              - credit
            accepted_card_jurisdictions:
              - domestic
            duplicate_card_check: true
            enforce_customer_name_as_cardholder_name: false
            security_checks:
              address_line1_check: false
              address_postal_code_check: false
              cvv_check: true
            request_threed_secure: challenge
        payment_method_types:
          - card
        billing_details: null
        setup_future_usage: null
        status: open
      x-examples:
        - id: ss_217940156986951680
          resource: setup_session
          currency: usd
          created: '2022-09-07T13:40:41.751Z'
          customer: cust_222712682678060032
          customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
          client_secret: >-
            eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
          metadata: {}
          payment_method: null
          payment_method_details: null
          payment_method_options:
            card:
              accepted_card_brands:
                - visa
                - mastercard
              accepted_card_categories:
                - consumer
              accepted_card_funding:
                - debit
                - credit
              accepted_card_jurisdictions:
                - domestic
              duplicate_card_check: true
              enforce_customer_name_as_cardholder_name: false
              security_checks:
                address_line1_check: false
                address_postal_code_check: false
                cvv_check: true
              request_threed_secure: challenge
          payment_method_types:
            - card
          billing_details: null
          setup_future_usage: null
          status: open
    Authentication-Session:
      type: object
      properties:
        version:
          description: 3DS version used for authenticating the card.
          type: string
        id:
          description: Unique identifier for Authetication Session object.
          type: string
        resource:
          description: String representing the resource type.
          type: string
        amount:
          description: Amount, in minor units.
          type: integer
        amount_human_readable:
          description: Amount in human readable format.
          type: string
        billing_details:
          description: >-
            Billing information associated with the customer at the time of the
            Authentication Session.
          $ref: '#/components/schemas/Billing-Details'
        cavv:
          description: >-
            Card authentication verification value, provided by the 3D Secure
            Provider.
          type: string
        confirm:
          type: boolean
        charge:
          description: >-
            Unique identifer of the linked Charge for a Linked Authenitcation
            Session.
          type: string
        currency:
          description: Three-letter ISO currency code, in lowercase.
          type: string
        created:
          description: Time at which the resource was created. ISO String format.
          type: string
        customer:
          description: ID of the customer this Authentication Session is for if one exists.
          type: string
        customer_reference_id:
          description: >-
            A unique identifier for your customer, This should be a customer ID
            that identifies the customer in your system. Used to retrieve and
            manage your customer's saved payment methods.
          type: string
        client_secret:
          description: >-
            Client secret to use with Pay Components to render the
            Authentication Session.
          type: string
        ds_trans_id:
          description: >-
            Universally unique transaction identifier assigned by the ACS to
            identify a single transaction.
          type: string
        eci:
          description: This indicator shows the value of the result of the authentication.
          type: string
        flow:
          description: The authentication flow.
          type: string
          enum:
            - frictionless
            - challenge
        hold:
          description: >-
            Unique identifer of the linked Hold for a Linked Authenitcation
            Session.
          type: string
        metadata:
          description: >-
            Set of key-value pairs that you can attach to the resource. This can
            be useful for storing additional information about the object in a
            structured format.
          type: object
        payment_method:
          description: ID of the Payment Method used in the Authenitcation Session.
          type: string
        payment_method_details:
          description: Details about the payment method.
          $ref: '#/components/schemas/Payment-Method-Details'
        return_url:
          description: A URL to return to after performing the authentication.
          type: string
        shipping:
          description: Shipping information of the payment.
          $ref: '#/components/schemas/Shipping-Details'
        reference:
          description: A unique string to reference the Authentication Session.
          type: string
        status:
          description: Status of the Authentication Session.
          type: string
          enum:
            - open
            - authenticated
            - failed
        url:
          description: >-
            URL to redirect the customer to in order to perform the
            Authenticaton Session.
          type: string
        xid:
          description: Transaction ID from the 3D Secure provider.
          type: string
      example:
        version: null
        id: sca_217940156986951680
        resource: authentication_session
        amount: 10000
        amount_human_readable: '100.00'
        billing_details: null
        cavv: null
        confirm: true
        charge: null
        currency: usd
        created: '2022-09-07T13:40:41.751Z'
        customer: cust_222712682678060032
        customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
        client_secret: >-
          eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
        ds_trans_id: null
        eci: null
        flow: null
        hold: null
        metadata: {}
        payment_method: null
        payment_method_details: null
        return_url: https://example.com/callback.html
        shipping: null
        reference: null
        status: open
        url: >-
          https://sca.pay.com/authenticate?client_secret=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
        xid: null
      x-examples:
        - version: null
          id: sca_217940156986951680
          resource: authentication_session
          amount: 10000
          amount_human_readable: '100.00'
          billing_details: null
          cavv: null
          confirm: true
          charge: null
          currency: usd
          created: '2022-09-07T13:40:41.751Z'
          customer: cust_222712682678060032
          customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
          client_secret: >-
            eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
          ds_trans_id: null
          eci: null
          flow: null
          hold: null
          metadata: {}
          payment_method: null
          payment_method_details: null
          return_url: https://example.com/callback.html
          shipping: null
          reference: null
          status: open
          url: >-
            https://sca.pay.com/authenticate?client_secret=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
          xid: null
    Payment-Session:
      type: object
      x-internal: false
      properties:
        description:
          description: >-
            A string attached to the resource. Often useful for displaying to
            users.
          type: string
        id:
          description: Unique identifier for Payment Session object.
          type: string
        resource:
          description: String representing the resource type.
          type: string
        amount:
          description: Amount, in minor units.
          type: integer
        amount_human_readable:
          description: Amount in human readable format.
          type: string
        billing_details:
          description: >-
            Billing information associated with the customer at the time of the
            Payment Session.
          $ref: '#/components/schemas/Billing-Details'
        capture:
          description: >-
            Whether to immediately capture the payment and create a charge.
            Defaults to `true`. When `false`, the payment sessions issues a Hold
            (authorization), that will need to be captured later. Uncaptured
            holds expire after a set number of days (7 by default).
          type: boolean
        charge:
          description: >-
            Unique identifer of the Charge created from this Payment Session if
            `capture=true`.
          type: string
        currency:
          description: Three-letter ISO currency code, in lowercase.
          type: string
        created:
          description: Time at which the resource was created. ISO String format.
          type: string
        setup_future_usage:
          description: >-
            Indicates that you intend to make future payments with this payment
            method that will be used in this Payment.


            **Possible enum values:**

            `on_session`

            Use `on_session` if you intend to only reuse the payment method when
            your customer is present in your checkout flow.


            `off_session`

            Use `off_session` if your customer may or may not be present in your
            checkout flow.
          type: string
        client_secret:
          description: >-
            Client secret to use with Pay Components to render the Payment
            Session.
          type: string
        customer:
          description: ID of the customer this Payment Session is for if one exists.
          type: string
        customer_reference_id:
          description: >-
            A unique identifier for your customer, This should be a customer ID
            that identifies the customer in your system. Used to retrieve and
            manage your customer's saved payment methods.
          type: string
        failure_code:
          type: string
        failure_reason:
          type: string
        hold:
          description: >-
            Unique identifer of the Hold created from this Payment Session if
            `capture=false`.
          type: string
        metadata:
          description: >-
            Set of key-value pairs that you can attach to the resource. This can
            be useful for storing additional information about the object in a
            structured format.
          type: object
        payment_method:
          description: ID of the Payment Method used in the Payment Session.
          type: string
        payment_method_details:
          description: Details about the payment method.
          $ref: '#/components/schemas/Payment-Method-Details'
        payment_method_options:
          description: Specific payment method configurations.
          $ref: '#/components/schemas/Payment-Method-Options'
        payment_method_types:
          description: >-
            The list of payment method types that this Payment Session is
            allowed to use. If this is not provided, defaults to `["card"]`.
          type: array
          items:
            type: string
        reference:
          description: >-
            A unique string to reference the Payment Session and the Charge/Hold
            created after a successful payment. Can be used to reconcile the
            object with your internal systems.
          type: string
        receipt_email:
          description: >-
            This is the email address that the receipt for this payment session
            was sent to.
          type: string
        receipt_number:
          description: The number of the generated receipt.
          type: string
        receipt_url:
          description: The URL to access the receipt.
          type: string
        shipping:
          description: Shipping information of the payment.
          $ref: '#/components/schemas/Shipping-Details'
        statement_descriptor_suffix:
          description: >-
            Provides information about the payment that customers can see on
            their charge statements. Concatenated with the statement descriptor
            that’s set on the account during onboarding the complete statement
            descriptor, maximum of 22 characters for the concatenated
            descriptor.
          type: string
        status:
          description: Status of the Payment Session.
          type: string
          enum:
            - open
            - completed
            - failed
      example:
        description: null
        id: ps_217940156986951680
        resource: payment_session
        amount: 10000
        amount_human_readable: '100.00'
        capture: true
        charge: null
        currency: usd
        created: '2022-09-07T13:40:41.751Z'
        setup_future_usage: null
        customer: cust_222712682678060032
        customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
        client_secret: >-
          eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
        failure_code: null
        failure_reason: null
        hold: null
        metadata: {}
        payment_method: null
        payment_method_details: null
        payment_method_options:
          card:
            accepted_card_brands:
              - visa
              - mastercard
            accepted_card_categories:
              - consumer
            accepted_card_funding:
              - debit
              - credit
            accepted_card_jurisdictions:
              - domestic
            duplicate_card_check: true
            enforce_customer_name_as_cardholder_name: false
            security_checks:
              address_line1_check: false
              address_postal_code_check: false
              cvv_check: true
            request_threed_secure: challenge
        payment_method_types:
          - card
        reference: null
        receipt_email: null
        receipt_number: null
        receipt_url: null
        shipping: null
        billing_details: null
        statement_descriptor_suffix: TEST
        status: open
      x-examples:
        - description: null
          id: ps_217940156986951680
          resource: payment_session
          amount: 10000
          amount_human_readable: '100.00'
          capture: true
          charge: null
          currency: usd
          created: '2022-09-07T13:40:41.751Z'
          setup_future_usage: null
          customer: cust_222712682678060032
          customer_reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
          client_secret: >-
            eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJAcGF5LWNvbS9wYXltZW50LWdhdGV3YXkiLCJpYXQiOjE2Mjk2NDczMjYsImV4cCI6MTY2MTE4MzMyNiwiYXVkIjoiaGkiLCJzdWIiOiJ3ZSBsb3ZlIHlvdSA6KSJ9.XK1D0v0XjcNYoQrwOeNPemCEFA6TGuHtGflyiUTtjYs
          failure_code: null
          failure_reason: null
          hold: null
          metadata: {}
          payment_method: null
          payment_method_details: null
          payment_method_options:
            card:
              accepted_card_brands:
                - visa
                - mastercard
              accepted_card_categories:
                - consumer
              accepted_card_funding:
                - debit
                - credit
              accepted_card_jurisdictions:
                - domestic
              duplicate_card_check: true
              enforce_customer_name_as_cardholder_name: false
              security_checks:
                address_line1_check: false
                address_postal_code_check: false
                cvv_check: true
              request_threed_secure: challenge
          payment_method_types:
            - card
          reference: null
          receipt_email: null
          receipt_number: null
          receipt_url: null
          shipping: null
          billing_details: null
          statement_descriptor_suffix: TEST
          status: open
    Address:
      description: ''
      type: object
      x-internal: false
      properties:
        city:
          description: City, district, suburb, town, or village.
          type: string
        country:
          description: Two-letter country code (ISO 3166-1 alpha-2).
          type: string
          example: US
          minLength: 2
          maxLength: 2
        line1:
          description: Address line 1 (e.g., street, PO Box, or company name).
          type: string
        line2:
          description: Address line 2 (e.g., apartment, suite, unit, or building).
          type: string
        postal_code:
          description: ZIP or postal code.
          type: string
        state:
          description: State, county, province, or region.
          type: string
    Billing-Details:
      title: Billing-Details
      description: >-
        Billing information associated with the customer at the time of the
        session.
      x-stoplight:
        id: 3610zjetn1wj7
      type: object
      properties:
        address:
          description: Billing Address.
          $ref: '#/components/schemas/Address'
        name:
          description: Full name.
          type: string
        email:
          description: Email address.
          type: string
          format: email
        phone:
          description: Billing phone number.
          type: string
    Shipping-Details:
      title: Shipping-Details
      description: Shipping information for the payment.
      x-stoplight:
        id: 8godkj187wb68
      type: object
      examples: []
      properties:
        address:
          description: Shipping address.
          $ref: '#/components/schemas/Address'
        name:
          description: Full name.
          type: string
        phone:
          description: Recipient phone.
          type: string
    Metadata:
      title: Metadata
      type: object
      x-stoplight:
        id: aqwewbm2iqxee
    Source-Data:
      title: Source-Data
      description: ''
      x-stoplight:
        id: okj9x63tjeyw9
      type: object
      examples: []
      properties:
        type:
          description: >-
            The type of the payment method to be used as the source for the
            payment
          type: string
          enum:
            - card
            - google_pay
        card:
          description: Raw details of a card payment method
          $ref: '#/components/schemas/Card-Source-Details'
        google_pay:
          description: The payload that was retrieved from the Google Pay response
          type: string
        setup_future_usage:
          description: >-
            Indicates that you intend to make future payments with this payment
            method that will be used in this Payment.


            **Possible enum values:**

            `on_session`

            Use `on_session` if you intend to only reuse the payment method when
            your customer is present in your checkout flow.


            `off_session`

            Use `off_session` if your customer may or may not be present in your
            checkout flow.
          type: string
          enum:
            - on_session
            - off_session
    Card-Source-Authentication-Details:
      title: Card-Source-Authentication-Details
      x-stoplight:
        id: k2424f0rcc1nc
      type: object
      properties:
        number:
          description: The card number, as a string without any separators.
          type: string
        expiry_month:
          description: Two-digit number representing the card's expiration month.
          type: string
        expiry_year:
          description: Two or four-digit number representing the card's expiration year.
          type: string
        cvc:
          description: Card security code.
          type: string
        name:
          description: Cardholder's full name.
          type: string
      required:
        - number
        - expiry_month
        - expiry_year
        - cvc
        - name
    Card-Source-Details:
      title: Card-Source-Details
      x-stoplight:
        id: k2424f0rcc1nc
      type: object
      properties:
        number:
          description: The card number, as a string without any separators.
          type: string
        expiry_month:
          description: Two-digit number representing the card's expiration month.
          type: string
        expiry_year:
          description: Two or four-digit number representing the card's expiration year.
          type: string
        cvc:
          description: Card security code.
          type: string
        name:
          description: Cardholder's full name.
          type: string
        billing_address:
          description: >-
            Billing address associated with the customer at the time of the
            payment.
          $ref: '#/components/schemas/Address'
        three_ds:
          description: >-
            Required information to process a payment that has been 3DS
            authenticated using a Third Party provider.
          $ref: '#/components/schemas/Three-Ds-Raw'
      required:
        - number
        - expiry_month
        - expiry_year
        - cvc
    Three-Ds-Raw:
      title: Three-Ds-Raw
      description: >-
        Required information to process a payment that has been 3DS
        authenticated using a Third Party provider.
      x-stoplight:
        id: i79nxc84zl04b
      type: object
      properties:
        version:
          description: >-
            Indicates the version of 3D Secure that was used for
            authentication. 


            Defaults to 1.0.0 if not provided
          type: string
        eci:
          description: >-
            The Electronic Commerce Indicator security level associated with the
            3D Secure enrollment result.
          type: string
        cavv:
          description: >-
            A Base64 encoded cryptographic identifier (CAVV) used by the card
            schemes to validate the cardholder authentication result (3D
            Secure).
          type: string
        ds_trans_id:
          description: |-
            The 3D Secure transaction identifier. 

            Required for 3D Secure 2.X.X and a Mastercard card.
          type: string
        xid:
          description: |-
            Transaction identifier resulting from authentication processing.

            Required for 3DS version 1.0.0.
          type: string
      required:
        - eci
        - cavv
    Card-Destination-Details:
      title: Card-Destination-Details
      x-stoplight:
        id: k2424f0rcc1nc
      type: object
      properties:
        number:
          description: The card number, as a string without any separators.
          type: string
        expiry_month:
          description: Two-digit number representing the card's expiration month.
          type: string
        expiry_year:
          description: Two or four-digit number representing the card's expiration year.
          type: string
        cvc:
          description: Card security code.
          type: string
        name:
          description: Cardholder's full name.
          type: string
        billing_address:
          description: >-
            Billing address associated with the customer at the time of the
            payment.
          $ref: '#/components/schemas/Address'
      required:
        - number
        - expiry_month
        - expiry_year
        - cvc
    Destination-Data:
      title: Destination-Data
      description: ''
      x-stoplight:
        id: okj9x63tjeyw9
      type: object
      examples: []
      properties:
        type:
          description: >-
            The type of the payment method to be used as the destination for the
            payoutt
          type: string
          enum:
            - card
        card:
          description: Raw details of a card payment method
          $ref: '#/components/schemas/Card-Destination-Details'
    Customer:
      type: object
      properties:
        id:
          description: Unique identifier for Payment Method object.
          type: string
        resource:
          description: String representing the resource type.
          type: string
        address:
          description: Billing address associated with the Payment Method.
          $ref: '#/components/schemas/Address'
        created:
          description: Time at which the resource was created. ISO String format.
          type: string
        default_source:
          description: The default payment method of the customer.
          type: string
        email:
          description: Email address of the customer.
          type: string
          format: email
        name:
          description: Full name of the customer.
          type: string
        phone:
          description: Phone number of the customer.
          type: string
        reference_id:
          description: >-
            A unique identifier for your customer, This should be a customer ID
            that identifies the customer in your system. Used to retrieve and
            manage your customer's saved payment methods.
          type: string
        metadata:
          description: Set of key-value pairs that you can attach to the resource.
          type: object
        shipping:
          description: Shipping information of the customer.
          $ref: '#/components/schemas/Shipping-Details'
      example:
        id: cust_202779025452569600
        resource: customer
        address: null
        created: '2022-09-07T13:40:41.751Z'
        default_source: pm_card_222712682678060032
        email: null
        name: John Doe
        phone: null
        metadata: {}
        reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
        shipping: null
      x-examples:
        - id: cust_202779025452569600
          resource: customer
          address: null
          created: '2022-09-07T13:40:41.751Z'
          default_source: pm_card_222712682678060032
          email: null
          name: John Doe
          phone: null
          metadata: {}
          reference_id: 927071e4-464c-4f5d-a079-4aa097f922ca
          shipping: null
    Charge:
      title: Charge
      type: object
      properties:
        description:
          description: >-
            A string attached to the resource. Often useful for displaying to
            users.
          type: string
        id:
          description: Unique identifier for Charge object.
          type: string
        resource:
          description: String representing the resource type.
          type: string
        amount:
          description: Amount recieved, in minor units.
          type: integer
        amount_human_readable:
          description: Amount in human readable format.
          type: string
        amount_refunded:
          description: Amount refunded out of the total amount received, in minor units.
          type: integer
        billing_details:
          description: >-
            Billing information associated with the customer at the time of the
            Charge.
          $ref: '#/components/schemas/Billing-Details'
        calculated_statement_descriptor:
          description: >-
            The full statement descriptor that is displayed on your customers’
            bank statements. Allows you to see what the statement descriptor
            looks like after the static and dynamic portions are combined.
          type: string
        created:
          description: Time at which the resource was created. ISO String format.
          type: string
        currency:
          description: Three-letter ISO currency code, in lowercase.
          type: string
        customer:
          description: ID of the customer this Charge is for if one exists.
          type: string
        customer_reference_id:
          description: >-
            A unique identifier for your customer, This is a customer ID that
            identifies the customer that the Charge belongs to.
          type: string
        disputed:
          description: Indicates whether the charge was disputed.
          type: boolean
        failure_code:
          type: string
        failure_message:
          type: string
        metadata:
          description: Set of key-value pairs that you can attach to the resource.
          type: object
        paid:
          description: >-
            Indicates whether the charge was setteled and paid to your bank
            account.
          type: boolean
        payment_session:
          description: ID of the Payment Session the Charge was created from if exists.
          type: string
        hold:
          description: ID of the Hold the Charge was created from if exists.
          type: string
        payment_method:
          description: ID of the Payment Method used for the Charge.
          type: string
        payment_method_details:
          description: Details about the payment method.
          $ref: '#/components/schemas/Payment-Method-Details'
        payment_method_options:
          description: Payment method specific configurations.
          $ref: '#/components/schemas/Payment-Method-Options'
        refunded:
          description: >-
            Indicates whether the Charge was refunded, will only be `true` if
            the Charge was fully refunded.
          type: boolean
        refunds:
          description: List of all the successful refunds created from the resource.
          $ref: '#/components/schemas/Refunds'
        reference:
          description: >-
            A unique string to reference the Charge that was entered while
            creating the resource. Can be used to reconcile the object with your
            internal systems.
          type: string
        shipping:
          description: Shipping information of the payment.
          $ref: '#/components/schemas/Shipping-Details'
        statement_descriptor_suffix:
          description: >-
            Provides information about the payment that customers can see on
            their charge statements. Concatenated with the statement descriptor
            that’s set on the account during onboarding the complete statement
            descriptor, maximum of 22 characters for the concatenated
            descriptor.
          type: string
        status:
          description: Status of the Charge.
          type: string
          enum:
            - succeeded
            - failed
            - pending
            - requires_authentication
            - requires_confirmation
      example:
        description: null
        id: chrg_146231656762572800
        resource: charge
        amount: 10000
        amount_human_readable: '100.00'
        amount_refunded: 0
        billing_details: null
        calculated_statement_descriptor: PAYCOM * TEST
        created: '2022-09-07T13:40:41.751Z'
        currency: usd
        customer: cust_199440887619523584
        customer_reference_id: 2s68c46d-8d15-4c2a-ae4c-30ec77abed9f
        disputed: false
        failure_code: null
        failure_message: null
        metadata: {}
        paid: false
        payment_session: null
        hold: hld_220204193980350464
        payment_method: pm_card_202779025452569600
        payment_method_details:
          type: card
          card:
            bin: '424242'
            brand: visa
            country: US
            exp_month: '11'
            exp_year: '25'
            fingerprint: c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
            funding: credit
            last4: '4242'
            network: visa
            security_checks:
              address_line1_check: unavailable
              address_postal_code_check: unavailable
              cvc_check: pass
            three_d_secure: null
            token: tok_card_202779025452569600
            wallet: null
        payment_method_options:
          card:
            accepted_card_brands:
              - visa
              - mastercard
            accepted_card_categories:
              - consumer
            accepted_card_funding:
              - debit
              - credit
            accepted_card_jurisdictions:
              - domestic
            duplicate_card_check: true
            enforce_customer_name_as_cardholder_name: false
            security_checks:
              address_line1_check: false
              address_postal_code_check: false
              cvv_check: true
            request_threed_secure: challenge
        refunded: false
        refunds:
          data: []
          url: /v1/charges/chrg_146231656762572800/refunds
        reference: null
        shipping: null
        statement_descriptor_suffix: TEST
        status: succeeded
      x-examples:
        - description: null
          id: chrg_146231656762572800
          resource: charge
          amount: 10000
          amount_human_readable: '100.00'
          amount_refunded: 0
          billing_details: null
          calculated_statement_descriptor: PAYCOM * TEST
          created: '2022-09-07T13:40:41.751Z'
          currency: usd
          customer: cust_199440887619523584
          customer_reference_id: 2s68c46d-8d15-4c2a-ae4c-30ec77abed9f
          disputed: false
          failure_code: null
          failure_message: null
          metadata: {}
          paid: false
          payment_session: null
          hold: hld_220204193980350464
          payment_method: pm_card_202779025452569600
          payment_method_details:
            type: card
            card:
              bin: '424242'
              brand: visa
              country: US
              exp_month: '11'
              exp_year: '25'
              fingerprint: c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
              funding: credit
              last4: '4242'
              network: visa
              security_checks:
                address_line1_check: unavailable
                address_postal_code_check: unavailable
                cvc_check: pass
              three_d_secure: null
              token: tok_card_202779025452569600
              wallet: null
          payment_method_options:
            card:
              accepted_card_brands:
                - visa
                - mastercard
              accepted_card_categories:
                - consumer
              accepted_card_funding:
                - debit
                - credit
              accepted_card_jurisdictions:
                - domestic
              duplicate_card_check: true
              enforce_customer_name_as_cardholder_name: false
              security_checks:
                address_line1_check: false
                address_postal_code_check: false
                cvv_check: true
              request_threed_secure: challenge
          refunded: false
          refunds:
            data: []
            url: /v1/charges/chrg_146231656762572800/refunds
          reference: null
          shipping: null
          statement_descriptor_suffix: TEST
          status: succeeded
    Charges:
      title: ''
      description: ''
      type: object
      properties:
        data:
          description: List of all the successful charges created from the resource.
          type: array
          items:
            type: object
        url:
          description: URL where the resources can be accessed directly.
          type: string
      example:
        data: []
        url: string
      x-examples:
        - data: []
          url: string
    Refunds:
      title: ''
      description: ''
      type: object
      properties:
        data:
          description: List of all the successful refunds created from the resource.
          type: array
          items:
            type: object
        url:
          description: URL where the resources can be accessed directly.
          type: string
      example:
        data: []
        url: string
      x-examples:
        - data: []
          url: string
    Hold:
      title: Hold
      x-stoplight:
        id: dc6rey2p06rbw
      type: object
      properties:
        description:
          description: >-
            A string attached to the resource. Often useful for displaying to
            users.
          type: string
        id:
          description: Unique identifier for Hold object.
          type: string
        resource:
          description: String representing the resource type.
          type: string
        amount:
          description: Amount held, in minor units.
          type: integer
        amount_capturable:
          description: Amount that is still captureable from the Hold, in minor units.
          type: integer
        amount_human_readable:
          description: Amount in human readable format.
          type: string
        billing_details:
          description: >-
            Billing information associated with the customer at the time of the
            Hold.
          $ref: '#/components/schemas/Billing-Details'
        created:
          description: Time at which the resource was created. ISO String format.
          type: string
        currency:
          description: Three-letter ISO currency code, in lowercase.
          type: string
        canceled:
          description: >-
            Indicates that the hold on the funds was cancelled and they were
            released back to the customer.
          type: boolean
        canceled_at:
          description: >-
            Populated when status is canceled and `canceled=true`. Indicates
            time at which the Hold was canceled, ISO String format.
          type: string
        cancellation_reason:
          description: The reason the hold on the funds was canceled.
          type: string
          enum:
            - hold_on_funds_expired
            - requested_by_merchant
        charges:
          description: List of all the successful charges created from the resource.
          $ref: '#/components/schemas/Charges'
        customer:
          description: ID of the customer this Hold is for if one exists.
          type: string
        customer_reference_id:
          description: >-
            A unique identifier for your customer, This is a customer ID that
            identifies the customer that the Hold belongs to.
          type: string
        failure_code:
          type: string
        failure_message:
          type: string
        metadata:
          description: Set of key-value pairs that you can attach to the resource.
          type: object
        payment_session:
          description: ID of the Payment Session that created the Hold if one exsited.
          type: string
        payment_method:
          description: ID of the payment method used in this Hold.
          type: string
        payment_method_details:
          description: Details about the payment method.
          $ref: '#/components/schemas/Payment-Method-Details'
        payment_method_options:
          description: Payment method specific configurations.
          $ref: '#/components/schemas/Payment-Method-Options'
        reference:
          description: >-
            A unique string to reference the Hold that was entered while
            creating the resource. Can be used to reconcile the object with your
            internal systems.
          type: string
        shipping:
          description: Shipping information of the payment.
          $ref: '#/components/schemas/Shipping-Details'
        statement_descriptor_suffix:
          description: >-
            Provides information about the payment that customers can see on
            their charge statements. Concatenated with the statement descriptor
            that’s set on the account during onboarding the complete statement
            descriptor, maximum of 22 characters for the concatenated
            descriptor.
          type: string
        status:
          description: Status of the Hold.
          type: string
          enum:
            - requires_capture
            - succeeded
            - failed
            - requires_authentication
            - requires_confirmation
      example:
        description: null
        id: hld_158938670341035008
        resource: hold
        amount: 10000
        amount_human_readable: '100.00'
        amount_capturable: 10000
        billing_details: null
        created: '2022-09-07T13:40:41.751Z'
        currency: usd
        canceled: false
        canceled_at: null
        charges:
          data: []
          url: /v1/holds/hld_158938670341035008/charges
        customer: cust_222779369167260672
        customer_reference_id: null
        failure_code: null
        failure_message: null
        metadata: {}
        payment_session: null
        payment_method: pm_card_202779025452569600
        payment_method_details:
          type: card
          card:
            bin: '424242'
            brand: visa
            country: US
            exp_month: '11'
            exp_year: '25'
            fingerprint: c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
            funding: credit
            last4: '4242'
            network: visa
            security_checks:
              address_line1_check: unavailable
              address_postal_code_check: unavailable
              cvc_check: pass
            three_d_secure: null
            token: tok_card_202779025452569600
            wallet: null
        payment_method_options:
          card:
            accepted_card_brands:
              - visa
              - mastercard
            accepted_card_categories:
              - consumer
            accepted_card_funding:
              - debit
              - credit
            accepted_card_jurisdictions:
              - domestic
            duplicate_card_check: true
            enforce_customer_name_as_cardholder_name: false
            security_checks:
              address_line1_check: false
              address_postal_code_check: false
              cvv_check: true
            request_threed_secure: challenge
        reference: null
        shipping: null
        statement_descriptor_suffix: null
        status: requires_capture
      x-examples:
        - description: null
          id: hld_158938670341035008
          resource: hold
          amount: 10000
          amount_human_readable: '100.00'
          amount_capturable: 10000
          billing_details: null
          created: '2022-09-07T13:40:41.751Z'
          currency: usd
          canceled: false
          canceled_at: null
          charges:
            data: []
            url: /v1/holds/hld_158938670341035008/charges
          customer: cust_222779369167260672
          customer_reference_id: null
          failure_code: null
          failure_message: null
          metadata: {}
          payment_session: null
          payment_method: pm_card_202779025452569600
          payment_method_details:
            type: card
            card:
              bin: '424242'
              brand: visa
              country: US
              exp_month: '11'
              exp_year: '25'
              fingerprint: c5338f1c33863cce001e80648ea80df1068ed5f94dbb4bfb561ed8da8988fe0a
              funding: credit
              last4: '4242'
              network: visa
              security_checks:
                address_line1_check: unavailable
                address_postal_code_check: unavailable
                cvc_check: pass
              three_d_secure: null
              token: tok_card_202779025452569600
              wallet: null
          payment_method_options:
            card:
              accepted_card_brands:
                - visa
                - mastercard
              accepted_card_categories:
                - consumer
              accepted_card_funding:
                - debit
                - credit
              accepted_card_jurisdictions:
                - domestic
              duplicate_card_check: true
              enforce_customer_name_as_cardholder_name: false
              security_checks:
                address_line1_check: false
                address_postal_code_check: false
                cvv_check: true
              request_threed_secure: challenge
          reference: null
          shipping: null
          statement_descriptor_suffix: null
          status: requires_capture
    Refund:
      title: Refund
      x-stoplight:
        id: 2i9tj1x16ygy7
      type: object
      properties:
        id:
          description: Unique identifier for Refund object.
          type: string
        resource:
          description: String representing the resource type.
          type: string
          default: refund
          example: refund
        amount:
          description: Amount, in minor units.
          type: integer
        amount_human_readable:
          description: Amount in human readable format.
          type: string
        charge:
          description: ID of the Charge that was refunded.
          type: string
        created:
          description: Time at which the resource was created. ISO String format.
          type: string
        currency:
          description: Three-letter ISO currency code, in lowercase.
          type: string
        customer:
          description: ID of the customer this Refund is for if one exists.
          type: string
        customer_reference_id:
          description: >-
            A unique identifier for your customer, This is a customer ID that
            identifies the customer that the Refund belongs to that was supplied
            at creation of the Charge.
          type: string
        metadata:
          description: >-
            Set of key-value pairs that were attached to the resource at
            creation.
          type: object
        reference:
          description: >-
            A unique string to reference the Refund that was entered while
[...]
