openapi: 3.0.3
info:
  title: External API
  description: >-


    # Developer Resources
     Refer
    [Developer Resources](https://developer.paychex.com/resources/overview/) for
    more details on API specification 
  version: '1.0'
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://api.paychex.com
tags:
  - name: Worker
  - name: Company
  - name: Payroll
  - name: Webhooks
  - name: Authentication
  - name: Management
paths:
  /auth/oauth/v2/token:
    post:
      tags:
        - Authentication
      summary: Create Bearer token
      operationId: Authentication_createBearerToken
      description: >-
        Request a Bearer token that will be used as an access token when making
        calls to resources.  The credentials need to be sent within the body of
        the request.
      requestBody:
        description: user info to be filled
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthenticationCreateBearerTokenRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication'
  /companies:
    get:
      tags:
        - Company
      summary: Companies
      operationId: Company_list
      description: >-
        Array of companies that your application has been granted with some
        level of access. Your Application (API Key) can be granted access to one
        or more companies (clients) accounts that are associated with one or
        more product lines within Paychex.
      parameters:
        - description: >-
            The client account number used for identification purposes. (no dash
            or spaces allowed, only the last 8 characters  of the ID)
          name: displayid
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResource'
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_GET'
            application/vnd.paychex.companies.v1+json:
              schema:
                $ref: '#/components/schemas/CompanyResource'
              examples:
                Companies:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_GET'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: User doesn't have access to this endpoint (API-2)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}:
    get:
      tags:
        - Company
      summary: A Company
      operationId: Company_getInformation
      description: Information about a single company that your application has access to.
      parameters:
        - description: The ID of the company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResource'
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANY_GET'
            application/vnd.paychex.company.v1+json:
              schema:
                $ref: '#/components/schemas/CompanyResource'
              examples:
                company:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANY_GET'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '409':
          description: default response
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/calculationbases:
    get:
      tags:
        - Company
      summary: Company Calculation Bases
      operationId: Company_getCalculationBases
      description: >-
        Array of calculation bases that are used with a worker pay components
        that are not FLAT_DOLLAR_AMOUNT allow you to determine what to apply the
        calculation against when determining the amount during the pay run.
      parameters:
        - description: The ID of the company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationBase'
              examples:
                defaultResponse:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANY_CALCBASE_GET
            application/vnd.paychex.payroll.calculationbases.v1+json:
              schema:
                $ref: '#/components/schemas/CalculationBase'
              examples:
                CompanyCalculationBases:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANY_CALCBASE_GET
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/checks:
    get:
      tags:
        - Payroll
      summary: Company Checks
      operationId: Payroll_getCompanyChecksByPayPeriod
      description: >-
        Get check(s) that are for a specific company within a processed or
        unprocessed pay period.
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The id assigned to the pay period that the check will be within.
          name: payperiodid
          in: query
          required: true
          schema:
            type: string
        - description: The zero based offset of the next page of data to be presented.
          name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - description: The maximum number of elements to be returned in a page transition.
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - description: Filter by User Id.
          name: filterbyuserid
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckResource'
              examples:
                defaultResponse:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/UN_PROCESSED_CHECK_GET
            application/vnd.paychex.payroll.checks.v1+json:
              schema:
                $ref: '#/components/schemas/CheckResource'
              examples:
                unProcessed:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/UN_PROCESSED_CHECK_GET
            application/vnd.paychex.payroll.processedchecks.v1+json:
              schema:
                $ref: '#/components/schemas/CheckResource'
              examples:
                processed:
                  $ref: '#/components/examples/JSONEXAMPLES/value/PROCESSED_CHECK_GET'
        '400':
          description: Missing query parameter (API-49), Invalid query parameter (API-40)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request isn't valid.
                    code: API-40
                    resolution: Please send the valid request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
    post:
      tags:
        - Payroll
      summary: Company Checks
      operationId: Payroll_addCompanyChecks
      description: >-
        Add a check for one or more worker within a company for an available pay
        period.
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/vnd.paychex.payroll.checks.v1+json:
            schema:
              $ref: '#/components/schemas/CheckResource'
            examples:
              CompanyChecks:
                $ref: >-
                  #/components/examples/JSONEXAMPLES/value/COMPANIES_CHECKS_POST_REQ
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckResource'
              examples:
                defaultResponse:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CHECKS_POST_RES
            application/vnd.paychex.payroll.checks.v1+json:
              schema:
                $ref: '#/components/schemas/CheckResource'
              examples:
                CompaniesChecks:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CHECKS_POST_RES
        '400':
          description: >-
            Amount should be between 0.00-9999.99 (API-28), Invalid Org ID
            (API-40), Required field missing (API-46), Required field ambiguous
            (API-47), Required field invalid (API-48), Pay period is in a state
            that will not allow checks to be modified (API-51), Empty request
            (API-52), All checks must have the same pay period in the request
            (API-53), Missing required field for one or more request (API-54),
            At least one worker doesn't belong to this client (API-55),
            Duplicate correlation ID (API-56), The pay component doesn't support
            the corresponding worker type (API-57), The pay component can't be
            REDUCTION type (API-60), Product was not set up for this client as
            of the check date of the given pay period (API-65), The pay rate's
            start date is after the provided PayPeriod's date range (API-69),
            This worker does not have a default pay rate set (API-70) 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request isn't valid.
                    code: API-40
                    resolution: Please send the valid request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: >-
            Unsupported method type (API-59), Check is not allowed to be
            modified (API-51)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '413':
          description: Post more than 100 checks per request (API-44)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example: >-
                {"errors" : [{"code": "API-44","description": "Request exceeded
                the max content size available for this request": "-"}]}
        '423':
          description: Client locked (API-10)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client is locked because another user or process is
                      updating it.  Your changes cannot be  saved while the
                      client is locked.
                    code: API-10
                    resolution: Please try again later.
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/contacttypes:
    get:
      tags:
        - Company
      summary: Company Contact Types
      operationId: Company_getContactTypes
      description: >-
        Information about contact types that your application has been granted
        access to.
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactTypeResource'
              examples:
                companyContactTypesResDef:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANY_CONTACT_TYPES_GET
            application/vnd.paychex.company.contacttypes.v1+json:
              schema:
                $ref: '#/components/schemas/ContactTypeResource'
              examples:
                companyContactTypesResVMT:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANY_CONTACT_TYPES_GET
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/customfields:
    get:
      tags:
        - Company
      summary: Custom Fields
      operationId: Company_getCustomFields
      description: 'Array of customFields Configured at the company level '
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
              examples:
                defaultResponse:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELDS_GET
            application/vnd.paychex.company.customfields.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
              examples:
                CompaniesCustomfields:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELDS_GET
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
    post:
      tags:
        - Company
      summary: Custom Field
      operationId: Company_createCustomFieldAtCompanyLevel
      description: >-
        Create CustomFields at the company level which a company could be
        assigned.
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldsResource'
            examples:
              CompCusomFieldsDef:
                $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_REQ'
          application/vnd.paychex.company.customfields.v1+json:
            schema:
              $ref: '#/components/schemas/CustomFieldsResource'
            examples:
              CompanyCusomFields:
                $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_REQ'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
            application/vnd.paychex.company.customfields.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
              examples:
                CompaniesCustomFields:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
        '400':
          description: The value for the one of the field is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request isn't valid.
                    code: API-40
                    resolution: Please send the valid request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/customfields/{customFieldId}:
    get:
      tags:
        - Company
      summary: Custom Field
      operationId: Company_getCustomField
      description: Information about a single CustomField.
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: ID associated with desired custom field.
          name: customFieldId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
              examples:
                defaultResponse:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELD_GET
            application/vnd.paychex.company.customfield.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
              examples:
                CompaniesCustomfield:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELD_GET
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/customfields/{customfieldid}:
    delete:
      tags:
        - Company
      summary: Custom Field
      operationId: Company_deleteCustomField
      description: Delete CustomField at the company level.
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: ID associated with desired custom field.
          name: customfieldid
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: successful operation
        '400':
          description: The value for the one of the field is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request isn't valid.
                    code: API-40
                    resolution: Please send the valid request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
    patch:
      tags:
        - Company
      summary: Custom Field
      operationId: Company_updateCustomField
      description: >-
        Update CustomFields at the company level which a company could be
        assigned.
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: ID associated with desired custom field.
          name: customfieldid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/vnd.paychex.company.customfields.v1+json:
            schema:
              $ref: '#/components/schemas/CustomFieldsResource'
            examples:
              CompanyCusomFields:
                $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_REQ'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
            application/vnd.paychex.company.customfields.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
              examples:
                CompaniesCustomFields:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
        '400':
          description: The value for the one of the field is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request isn't valid.
                    code: API-40
                    resolution: Please send the valid request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/customfieldscategories:
    get:
      tags:
        - Company
      summary: Custom Fields Categories
      operationId: Company_getCustomFieldCategories
      description: 'Array of CustomFieldsCategories Configured at the company level '
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
              examples:
                defaultResponse:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORIES_GET
            application/vnd.paychex.company.customfieldscategories.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
              examples:
                CompaniesCustomfieldsCategories:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORIES_GET
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
    post:
      tags:
        - Company
      summary: Custom Fields Category
      operationId: Company_createCustomFieldCategory
      description: >-
        Create CustomFieldsCategory at the company level which a company could
        be assigned.
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldsCategoryResource'
          application/vnd.paychex.company.customfieldscategories.v1+json:
            schema:
              $ref: '#/components/schemas/CustomFieldsCategoryResource'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
              examples:
                defaultResponse:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
            application/vnd.paychex.company.customfieldscategories.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
              examples:
                PostCompaniesCustomfieldsCategory:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
        '400':
          description: The value for the one of the field is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request isn't valid.
                    code: API-40
                    resolution: Please send the valid request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/customfieldscategories/{categoryId}:
    get:
      tags:
        - Company
      summary: Custom Fields Category
      operationId: Company_getCustomFieldsCategory
      description: Information about a single CustomFieldsCategory.
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: ID associated with desired category.
          name: categoryId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
              examples:
                defaultResponse:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
            application/vnd.paychex.company.customfieldscategory.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
              examples:
                CompaniesCustomfieldsCategory:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/customfieldscategories/{categoryid}:
    delete:
      tags:
        - Company
      summary: Custom Fields Category
      operationId: Company_deleteCustomFieldsCategory
      description: Delete CustomFieldsCategory at the company level.
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: ID associated with desired category.
          name: categoryid
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: successful operation
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
    patch:
      tags:
        - Company
      summary: Custom Fields Category
      operationId: Company_updateCustomFieldsCategory
      description: Update  CustomFieldsCategory at the company level.
      parameters:
        - description: ID associated with desired company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: ID associated with desired custom field.
          name: categoryid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldsCategoryResource'
          application/vnd.paychex.company.customfieldscategory.v1+json:
            schema:
              $ref: '#/components/schemas/CustomFieldsCategoryResource'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
              examples:
                defaultResponse:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
            application/vnd.paychex.company.customfieldscategories.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
              examples:
                UpdateCompaniesCustomfieldsCategory:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/jobs:
    get:
      tags:
        - Company
      summary: Company Jobs
      operationId: Company_getJobs
      description: Array of jobs set at the company level.
      parameters:
        - description: The ID of the company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: Returns all jobs as of the date used in the request.
          name: asof
          in: query
          required: false
          schema:
            type: string
          example: '2020-01-04T00:00:00Z'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_GET'
            application/vnd.paychex.company.jobs.v1+json:
              schema:
                $ref: '#/components/schemas/JobResource'
              examples:
                CompaniesJobs:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_GET'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
    post:
      tags:
        - Company
      summary: Company Job
      operationId: Company_addJob
      description: >-
        Add a company level job. If a client has their job numbering structured
        in 2-3 separate 'segments', you may need to first do a GET on the
        jobsegements endpoint, so you can see how many segments and the
        character length of each segment, as well as the name of those segments,
        which you will need to have before you POST.
      parameters:
        - description: The ID of the company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/vnd.paychex.company.jobs.v1+json:
            schema:
              $ref: '#/components/schemas/JobResource'
            examples:
              CompanyJobs:
                $ref: >-
                  #/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_POST_REQ
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
              examples:
                defaultResponse:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_POST_RES
            application/vnd.paychex.company.jobs.v1+json:
              schema:
                $ref: '#/components/schemas/JobResource'
              examples:
                CompaniesJobs:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_POST_RES
        '400':
          description: >-
            Invalid resource or field,The request cannot be performed since the
            worker is in a state which does not allow this action(API-19)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              examples:
                resorce Not Found:
                  description: resorce Not Found
                  value:
                    errors:
                      - description: The request isn't valid.
                        code: API-40
                        resolution: Please send the valid request
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/jobs/{jobId}:
    get:
      tags:
        - Company
      summary: Company Job
      operationId: Company_getJobInformation
      description: Information about a single Job.
      parameters:
        - description: The ID of the company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The ID of the job.
          name: jobId
          in: path
          required: true
          schema:
            type: string
        - description: Returns job as of the date used in the request.
          name: asof
          in: query
          required: false
          schema:
            type: string
          example: '2020-01-04T00:00:00Z'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_JOB_GET'
            application/vnd.paychex.company.job.v1+json:
              schema:
                $ref: '#/components/schemas/JobResource'
              examples:
                CompaniesJob:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_JOB_GET'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
    patch:
      tags:
        - Company
      summary: Company Job
      operationId: Company_updateJob
      description: Update a single Job.
      parameters:
        - description: The ID of the company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: The ID of the job.
          name: jobId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobResource'
          application/vnd.paychex.company.jobs.v1+json:
            schema:
              $ref: '#/components/schemas/JobResource'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
              examples:
                defaultResponse:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_POST_RES
            application/vnd.paychex.company.jobs.v1+json:
              schema:
                $ref: '#/components/schemas/JobResource'
              examples:
                UpdateCompaniesJobs:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_POST_RES
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/jobsegments:
    get:
      tags:
        - Company
      summary: Company Job Segments
      operationId: Company_getJobSegmentStructureSetup
      description: >-
        Retrieve job segment structure setup for this client. This endpoint is
        only available if the client has their job numbering set up in '2-3
        separate 'segments'.  The response will give you back the exact
        character lengths and the segment names so you are able to POST.
      parameters:
        - description: The ID of the company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSegmentsConfigResource'
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_JOBSEGMTS_GET'
            application/vnd.paychex.company.jobsegments.v1+json:
              schema:
                $ref: '#/components/schemas/JobSegmentsConfigResource'
              examples:
                CompaniesJobSegments:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_JOBSEGMTS_GET'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
                    resolution: Send a valid resource in your request
        '405':
          description: Unsupported method type (API-59)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: The request method type is unsupported.
                    code: API-59
        '406':
          description: Unsupported Accept header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Invalid vendor media type.
                    code: API-75
                    resolution: >-
                      Please refer to our documentation and send the correct
                      vendor media type
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: Internal Server Error.
                    code: API-1
                    resolution: Please contact Paychex API Developer Center Support.
  /companies/{companyId}/jobtitles:
    get:
      tags:
        - Company
      summary: Company Job Titles
      operationId: Company_listJobTitles
      description: >-
        Array of job titles set at the company level which a worker could be
        assigned.
      parameters:
        - description: The ID of the company.
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTitleResource'
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_JOBTITLES_GET'
            application/vnd.paychex.company.jobtitles.v1+json:
              schema:
                $ref: '#/components/schemas/JobTitleResource'
              examples:
                CompaniesJobTitles:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_JOBTITLES_GET'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The client could not be authenticated due to missing or
                      invalid client credentials.
                    code: API-102
                    resolution: >-
                      Make sure that you are using the correct API key/Secret
                      and that your application is enabled.
        '403':
          description: >-
            User doesn't have access to this endpoint (API-2), Client has been
            end dated (API-68)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      Your application is not authorized to access the 
                      resource.
                    code: API-2
                    resolution: >-
                      Please have your company administrator give your
                      application access to the resource.
        '404':
          description: Invalid resource ID (API-7)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResource'
              example:
                errors:
                  - description: >-
                      The resource or status is invalid. You may have an
                      incorrect resource ID.
                    code: API-7
[...]
