openapi: 3.0.0
info:
  title: Text Request API v3
  description: >
    This page contains documentation for Text Request's v3 API. [Click
    here](https://www.textrequest.com/api/v2) for v2 documentation.


    The Text Request API makes it easy to programmatically interact with your
    Text Request account. It provides the ability to **send messages**,
    **retrieve conversations**, **send payment requests**, **manage contacts,
    groups, dashboards, and users**, and **create and delete web hooks**. 


    Web hooks allow you to get notifications when **messages are sent**, **new
    messages are received**, **contacts are created**, **contacts are updated**,
    **payment requests are updated**, and when **location requests are
    received**.


    # Security


    All calls to the Text Request API will be authenticated with an API key. All
    API keys will be transmitted in the request **x-api-key** header. 
      
    ```

    x-api-key: 095E5113DE4142C28FB7815CC10BEB56

    ```
      
    Failure to specify an authorization header for any request will result in a
    HTTP `400 (Bad Request)` response.
      
    You can find your account's API key on your Text Request account:

    * Log into Text Request as an administrator

    * Click on the Integrations sidebar menu item

    * Choose the API tile near the top of the screen. If your account does not
    have api access, you can upgrade your account by clicking the "Buy Now"
    option on the API tile.

    * Copy your API Key from the box on-screen
      
    # Error Handling
      
      In the event of a failed request, the API will return an appropriate HTTP response code. If the error is due to an invalid request, a human readable error will also be returned is the response's *message* property. For blatantly obvious errors (`404 (Not Found)` responses, for example), this may be left blank. 
      
      Here's an example of an error response for an omitted field.
      
      ```
      HTTP 400
      
      Response Body
      
      {
        "status": 400,
        "errorCode": null,
        "message": "A first name must be specified."
      } 
      ```
      
      # Pagination for Returned Collections
      
      When querying a collection such as users or conversations, there may be thousands of results. To prevent responses from getting massively large, these collections are paginated. For any request to a resource that returns a collection, `page` and `page_size` querystring parameters may be specified to return a subset of entities.
      
      API endpoints that return a collection also include `meta` properties in the response, specifying **the returned page**, **the returned page size**, and **the total number of items in the collection**.
      
      Here's an example collection return, with the items represented by the ellipses (...):
      
      ```
      HTTP 200
      
      Response Body
      
      {
        "items": [
          ...
        ],
        "meta": {
            "page": 0,
            "page_size": 100,
            "total_items": 276
        }
      } 
      ```
      
      Here are the rules for how page, page_size, and link headers work:
      
      * If omitted, page = 0 and page_size = 100 is implied.
      * If page or page_size is invalid (negative number or non-numeric), a HTTP `400 (Bad Request)` response is returned.
      * If page * page_size is greater than the number of entities in the collection, the `items` array will be empty.
      * Collection `GET` requests will always return the `page`, `page_size`, and `total_items` properties.
      
      # Web hook Payloads

      Text Request has a variety of web hooks for hitting URLs you own if you want extra functionality in your own apps. Each webhook has a unique data payload that is sent whenever the trigger is set off. To see the payloads:
      * Scroll down to the `POST /dashboards/{dashboard_id}/hooks` API call on this page
      * Between the **Parameters** tab and the **Try it out** button, click the "Callbacks" tab
      * Click to view the payload sent in any of these web hooks. The payload will be the same regardless of whether it's a `POST`, `PUT`, or `DELETE` request.

      Web hooks can be created in the [web app](https://app.textrequest.com), or through the `POST` endpoint. Web hooks created by endpoints will not appear in the web app, but web hooks created in the web app will be seen by the `GET /dashboards/{dashboard_id}/hooks` api endpoint.

      Now that security and pagination are out of the way, lets take a look at the endpoints. You can try out each endpoint from directly within your browser by clicking the Authorize button below and entering your Text Request API key.
  version: 3.0.0
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://api.textrequest.com/api/v3
tags:
  - description: Sending and receiving messages
    name: Messages
  - name: Payments
  - description: Managing contacts
    name: Contacts
  - description: Get information on dashboards
    name: Dashboard
  - name: Conversations
  - description: Managing custom fields
    name: Custom Fields
  - description: Managing contact tags
    name: Tags
  - description: Managing groups
    name: Groups
  - name: Users
  - name: Keywords
  - name: Webhooks
  - name: Reviews
paths:
  /mms:
    post:
      tags:
        - Messages
      summary: Post an MMS attachment to Text Request.
      operationId: Messages_postMmsAttachment
      description: >-
        Use this endpoint to post an MMS attachment to Text Request. If
        successful, mms details including a mms_id unique identifier will be
        returned. You can use this mms_id when sending MMS messages through the
        API. Valid file types are gif, jpeg, png, and mp4. The reason for first
        uploading an MMS attachment is for speed during reuse. If you are
        sending multiple messages, you can reuse a single uploaded MMS instead
        of re-uploading the same attachment multiple times.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/mms_media_upload'
      responses:
        '200':
          description: The specified file was successfully uploaded to the dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mms_media'
        '400':
          description: >-
            Bad Request. Request parameters were either invalid or omitted. See
            the error_message for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                error_message: >-
                  Invalid mime_type. Valid values are image/gif, image/jpeg,
                  image/png, and video/mp4.
        '401':
          description: >-
            Unauthorized. Either the Authorization request header was missing,
            in an invalid format, or the API key provided was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                error_message: The Authorization request header is missing.
  /messages:
    post:
      tags:
        - Messages
      summary: Sends a message
      operationId: Messages_sendMessageWithLocationRequestCallback
      description: >
        Sends a message through a dashboard in your Text Request account. You
        can optionally specify a delivery status callback URL to track the
        status of the message on a third-party site. If a delivery callback URL
        is specified, you will receive either a delivered callback, or an error
        callback with a status code explaining the issue. Messages are sent at
        the throttle rate on your dashboard. The throttle rate is defined as
        your 10DLC message rate, or at one message per second for non-10dlc
        registered dashboards.


        Sent messages can also include Location requests. Location requests are
        urls sent in texts that contacts can access to send their location to
        Text Request. This info will be shown in their queue, but can also be
        sent via a callback to some third-party url.


        Location requests can be done in one of two ways:

        * Set geolocation_requested to true in the request body. This will add
        the phrase "Go to *\<text request url\>* to share your location"

        * Add the tag **[LocationRequest]** to your message body. This tag will
        be replaced by the text request url.


        Location requests can also have a callback that is returned when the
        location request is completed by the contact. This information will be
        sent as a POST request to the **location_callback** property. See the
        callbacks tab below for the schema of the callback.


        **WARNING:** The location_callback property only works with the
        **[LocationRequest]** tag. If no tag exsits, even if
        geolocation_requested is true, the callback will not work and the
        send-message request will return a `400 (Bad Request)` exception.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_message_request'
      responses:
        '200':
          description: >-
            The message was received by Text Request, request fields were
            validated, and it is being sent. This does not mean that the message
            was successfully delivered - it is possible for a valid message to
            be rejected and not delivered due to a number of factors such as an
            invalid recipient, the destination handset being switched off, or if
            the message is filtered as spam by the receiving carrier. For
            delivery confirmation, please add a valid webhook URL for the
            status_callback parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_message_response'
        '400':
          description: >-
            Bad request. Sent if required properties are omitted or invalid.
            Check the return value to determine the reason that the message was
            rejected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      callbacks:
        messageStatus:
          status_callback:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/webhook_payload_message_status'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        locationRequest:
          location_callback:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/webhook_payload_location_callback'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
  /dashboards:
    get:
      tags:
        - Dashboard
      summary: Get all dashboards in an account.
      operationId: Dashboard_listAllDashboards
      description: Returns all dashboards in an account.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: All dashboards will be returned by this call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard_response_container'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Dashboard
      summary: Create a new dashboard with the given name and phone number
      operationId: Dashboard_createNewDashboard
      description: >-
        Creates a new dashboard in the account. Once the dashboard is created,
        admins will be emailed about the changed, and can begin assigning users.
        This endpoint can make a dashboard for any provisioned numbers. You can
        search for provisioned numbers in a specific area code using GET
        /dashboards/provisioning. If the phone number is already in use, a Bad
        Request exception will be thrown.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_dashboard_request'
      responses:
        '200':
          description: The new dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard'
        '400':
          description: Bad request. Sent if required properties are omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}:
    get:
      tags:
        - Dashboard
      summary: Get info on this specific dashboard
      operationId: Dashboard_getInfo
      description: Returns the name and phone of the dashboard.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      responses:
        '200':
          description: Info on the specified dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard'
        '400':
          description: Thrown if the dashboard id is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Dashboard
      summary: Update a specific dashboard's name
      operationId: Dashboard_updateName
      description: >-
        Updates a dashboard. This does not change a dashboard's phone number. If
        you want a new number with another dashboard's contacts, you will have
        to create a new dashboard with a POST and add the contacts with a bulk
        export/import.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_dashboard_request'
      responses:
        '200':
          description: Info on the specified dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Dashboard
      summary: Deletes the specified dashboard.
      operationId: Dashboard_deleteDashboardById
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      responses:
        '204':
          description: The dashboard was deleted.
        '400':
          description: Thrown if the dashboard id or phone number is invalid.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Thrown if no dashboard with that id exists in the account.
  /dashboards/provisioning:
    get:
      tags:
        - Dashboard
      summary: Get available provisioned numbers for hosting with a dashboard
      operationId: Dashboard_getProvisionedNumbers
      description: >-
        Returns a list of 30 provisioning numbers. These numbers can be used for
        creating a dashboard with POST /dashboards. All numbers and area codes
        must be in the United States. Text Request only hosts numbers with the
        +1 country code.
      parameters:
        - description: Area code to search for provisioned numbers of
          name: area_code
          in: query
          required: true
          schema:
            type: integer
            example: 423
      responses:
        '200':
          description: Array of provisioned phone numbers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardGetProvisionedNumbersResponse'
        '400':
          description: Thrown if the provided area code is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                error_message: A three digit area code must be supplied.
                error_code: parameterInvalid
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/conversations:
    get:
      tags:
        - Conversations
      summary: Retrieves all conversations for this dashboard.
      operationId: Conversations_getAllDashboardMessages
      description: Retrieves the last message across all conversations in this dashboard.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: >-
            List or singular guid referencing the contact tags you want to
            filter by
          name: tags
          in: query
          required: false
          schema:
            type: string
          examples:
            empty:
              summary: Do Not Filter By Tags
              value: ''
            single:
              summary: Singular tag
              value: 00000000-0000-0000-0000-000000000000
            multiple:
              summary: Comma-separated list of tags
              value: >-
                00000000-0000-0000-0000-000000000000,11111111-1111-1111-1111-111111111111
        - name: show_unresolved_only
          in: query
          required: false
          schema:
            type: boolean
        - name: include_archived
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Search term for filtering conversations by phone number or display
            name. If the search term is less than a full name or phone number,
            the search will return all conversations that partially match it.
          name: search
          in: query
          required: false
          schema:
            type: string
          examples:
            empty:
              summary: Do Not Search By Phone
              value: ''
            phone:
              summary: Full phone number
              value: 321-654-7890
            partialphone:
              summary: Partial phone number
              value: 654-3210
            name:
              summary: Partial Display Name
              value: Joe
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Conversations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversation_response_container'
        '204':
          description: No conversations exist in the provided dashboard.'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/contacts/{phone_number}/messages:
    get:
      tags:
        - Conversations
        - Messages
      summary: Get a conversation's messages by contact phone.
      operationId: Conversations_getConversationMessagesByContactPhone
      description: >-
        Retrieves the conversation between the specified dashboard and phone
        number.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Phone number
          name: phone_number
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Messages in the conversation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message_response_container'
        '204':
          description: No contact in the dashboard matches the provided number.'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Conversations
        - Messages
      summary: Send a message to the contact with the given phone number
      operationId: Conversations_sendMessageToContact
      description: >
        Sends a message (starting a new conversation if the given phone number
        has no message history). You can optionally specify a delivery status
        callback URL to track the status of the message on a third-party site.
        Upon successful execution, a message will be in a 'sent' status. If a
        delivery callback URL is specified, you will receive either a delivered
        callback, or an error callback with a status code explaining the issue.
        Messages are sent at the throttle rate on your dashboard. The throttle
        rate is defined as your 10DLC message rate, or at one message per second
        for non-10dlc registered dashboards.


        Sent messages can also include Location requests. Location requests are
        urls sent in texts that contacts can access to send their location to
        Text Request. This info will be shown in their queue, but can also be
        sent via a callback to some third-party url.


        Location requests can be done in one of two ways:

        * Set geolocation_requested to true in the request body. This will add
        the phrase "Go to *<text request url>* to share your location"

        * Add the tag **[LocationRequest]** to your message body. This tag will
        be replaced by the text request url.


        Location requests can also have a callback that is returned when the
        location request is completed by the contact. This information will be
        sent as a POST request to the **location_callback** property. See the
        callbacks tab below for the schema of the callback.


        **WARNING:** The location_callback property only works with the
        **[LocationRequest]** tag. If no tag exsits, even if
        geolocation_requested is true, the callback will not work and the
        send-message request will return a `400 (Bad Request)` exception.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Phone number
          name: phone_number
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact_message_request'
      responses:
        '200':
          description: The new message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message'
        '400':
          description: Bad request. Some required parameters were missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      callbacks:
        messageStatus:
          status_callback:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/webhook_payload_message_status'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        locationRequest:
          location_callback:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/webhook_payload_location_callback'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
  /dashboards/{dashboard_id}/messages:
    get:
      tags:
        - Conversations
        - Messages
      summary: Get all messages for a dashboard.
      operationId: Conversations_getDashboardMessages
      description: >-
        Retrieves the text messages sent and received in the specified
        dashboard. Optionally, can provide a start and end date to filter the
        message history by. Messages will always be sorted from oldest to newest
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Start date to filter messages in this dashboard by
          name: start_date
          in: query
          schema:
            type: string
            format: date-time
        - description: End date to filter messages in this dashboard by
          name: end_date
          in: query
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Messages in the conversation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard_message_response_container'
        '204':
          description: No contact in the dashboard matches the provided number.'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/contacts/{phone_number}/conversations/archive:
    put:
      tags:
        - Conversations
      summary: Archive a Conversation
      operationId: Conversations_archiveConversation
      description: >-
        Archiving a conversation removes it from the results of all conversation
        retrieval endpoints. A conversation will be automatically unarchived if
        the customer sends a text to your Text Request number, or if you send
        the customer a text from your Text Request number. Archiving
        conversations is a good way to remove clutter from customers that you
        don’t plan on talking to in the future. Note that if a customer texts in
        "STOP"” to prevent you from sending them any further SMS messages, the
        conversation is automatically archived.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Phone number
          name: phone_number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success. No content is returned.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/contacts/{phone_number}/conversations/unarchive:
    put:
      tags:
        - Conversations
      summary: Unarchive a Conversation
      operationId: Conversations_unarchiveConversation
      description: >-
        Unarchive a conversation. Once a conversation is unarchived, it will
        once again appear in the queue. it will also appear in conversations
        returned by the /conversations endpoint. If a conversation is already
        unarchived, this method has no effect.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Phone number
          name: phone_number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success. No content is returned.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /messages/{message_id}/redact:
    put:
      tags:
        - Messages
      summary: Redact a message
      operationId: Messages_redactMessage
      description: >-
        Redacts a previously sent message in the Text Request queue. This does
        not undo sending the message, but hides the message body on Text
        Request's side in case the message body contains sensitive information.
        This operation can be undone with the /messages/{message_id}/unredact
        endpoint.
      parameters:
        - description: Id of message to redact
          name: message_id
          in: path
          required: true
          schema:
            type: string
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Success. No content is returned.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /messages/{message_id}/unredact:
    put:
      tags:
        - Messages
      summary: Unredact a message
      operationId: Messages_unredactMessage
      description: >-
        Removes the redaction on a previously redacted message in the Text
        Request queue. See the /messages/{message_id}/redact endpoint.
      parameters:
        - description: Id of message to unredact
          name: message_id
          in: path
          required: true
          schema:
            type: string
            example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Success. No content is returned.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/contacts:
    summary: Contacts at the dashboard level.
    description: Contact management for all contacts in a given dashboard.
    get:
      tags:
        - Contacts
      summary: Retrieves all contacts that match the specified filtering criterion.
      operationId: Contacts_getMatches
      description: >-
        As many as all filter parameters and as few as none may be set. Only the
        dashboard specified will be searched; contacts are organized by
        dashboard, and there is no account level search for a number available.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: >-
            The phone number that you're searching for. This uses "starts with"
            searching.
          name: contact_phone_number
          in: query
          required: false
          schema:
            type: string
        - name: last_message_timestamp_before_utc
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: last_message_timestamp_after_utc
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: contact_created_before
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: contact_created_after
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: is_resolved
          in: query
          required: false
          schema:
            type: boolean
        - name: has_message_history
          in: query
          required: false
          schema:
            type: boolean
        - name: is_blocked
          in: query
          required: false
          schema:
            type: boolean
        - name: is_archived
          in: query
          required: false
          schema:
            type: boolean
        - name: is_suppressed
          in: query
          required: false
          schema:
            type: boolean
        - name: has_opted_out
          in: query
          required: false
          schema:
            type: boolean
        - name: last_message_sent_before
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: last_message_sent_after
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: last_message_received_before
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: last_message_received_after
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: >-
            List or singular guid referencing the contact tags you want to
            filter by
          name: tags
          in: query
          required: false
          schema:
            type: string
          examples:
            empty:
              summary: Do Not Filter By Tags
              value: ''
            single:
              summary: Singular tag
              value: 00000000-0000-0000-0000-000000000000
            multiple:
              summary: Comma-separated list of tags
              value: >-
                00000000-0000-0000-0000-000000000000,11111111-1111-1111-1111-111111111111
        - description: List or singular ids referencing the groups you want to filter by
          name: groups
          in: query
          required: false
          schema:
            type: string
          examples:
            empty:
              summary: Do Not Filter By Groups
              value: ''
            single:
              summary: Singular group
              value: '17'
            multiple:
              summary: Comma-separated list of groups
              value: 17,18,21
        - description: >-
            Id of custom field to filter by. Requires value for
            custom_field_value_1 to specify the desired custom field value
          name: custom_field_id_1
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter value of the custom field specied in custom_field_id_1.
            Requires value for custom_field_id_1 to specify which custom field
            to filter by
          name: custom_field_value_1
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Id of custom field to filter by. Requires value for
            custom_field_value_2 to specify the desired custom field value
          name: custom_field_id_2
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter value of the custom field specied in custom_field_id_2.
            Requires value for custom_field_id_2 to specify which custom field
            to filter by
          name: custom_field_value_2
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Id of custom field to filter by. Requires value for
            custom_field_value_3 to specify the desired custom field value
          name: custom_field_id_3
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter value of the custom field specied in custom_field_id_3.
            Requires value for custom_field_id_3 to specify which custom field
            to filter by
          name: custom_field_value_3
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: A list of contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_response_container'
        '400':
          description: Bad request. Sent if a query is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Contacts
      summary: >-
        Bulk update contacts, updating contacts with matching phone numbers or
        creating new contacts for new phone numbers.
      operationId: Contacts_bulkUpdate
      description: >-
        Only the dashboard specified will have contacts added; contacts are
        organized by dashboard, and there is no account level search for a
        number available.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactsBulkUpdateRequest'
      responses:
        '200':
          description: A list of contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsBulkUpdateResponse'
        '400':
          description: Bad request. Sent if a query is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/contacts/{phone_number}:
    get:
      tags:
        - Contacts
      summary: Retrieves the contact with the specified phone number.
      operationId: Contacts_getByPhoneNumber
      description: >-
        If a contact does not yet exist with this phone number in this
        dashboard, no content will be returned, and no error will be thrown.
        Only the dashboard specified will be searched; contacts are organized by
        dashboard, and there is no account level search for a number available.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Phone number
          name: phone_number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contact with this number will be returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
        '204':
          description: No contact in the dashboard matches the provided number.'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Contacts
      summary: Deletes the contact with the specified phone number.
      operationId: Contacts_deleteByPhoneNumber
      description: >-
        If a contact does not exist with this phone number in this dashboard, no
        content will be returned. If a contact does exist, but has no message
        history, no content will be returned, and a successful status code will
        indicate it was deleted. If a contact has any message history, it cannot
        be deleted, then a Bad Request error will be returned.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Phone number
          name: phone_number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The contact was deleted.
        '400':
          description: >-
            Thrown if the dashboard id or phone number is invalid, or if the
            contact exists, but has a message history.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: >-
            Thrown if no contact with the specified phone number exists in the
            dashboard.
    post:
      tags:
        - Contacts
      summary: Create or update a contact with the given phone number
      operationId: Contacts_createOrUpdateByPhoneNumber
      description: >-
        Creates or updates a contact (depending on whether one already exists
        with the given phone number).
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Phone number
          name: phone_number
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_contact_request'
      responses:
        '200':
          description: The new/updated contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
        '400':
          description: Bad request. There are no required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    patch:
      tags:
        - Contacts
      summary: >-
        Add or remove a group, contact tag, or custom field to a contact with
        the given phone number
      operationId: Contacts_updateContactDetails
      description: >-
        Adds or removes a group, contact tag, or custom field to a contact
        (depending on the secondary boolean value in the request body).
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Phone number
          name: phone_number
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_contact_request'
      responses:
        '200':
          description: The new/updated contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
        '400':
          description: Bad request. There are no required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/groups:
    get:
      tags:
        - Groups
      summary: Retrieves all groups.
      operationId: Groups_getAll
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: All groups in a list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/group_response_container'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Groups
      summary: Creates a new group
      operationId: Groups_createNewGroup
      description: Creates a new group with the provided name.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_group_request'
      responses:
        '200':
          description: The new group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/group'
        '400':
          description: Bad request - no name was specified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/groups/{group_id}:
    get:
      tags:
        - Groups
      summary: Retrieves the group with the specified id.
      operationId: Groups_getById
      description: Retrieves the group with the specified id.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of group
          name: group_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The group's details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/group'
        '204':
          description: No group in the dashboard matches the provided id.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Groups
      summary: Deletes the group with the specified id.
      operationId: Groups_deleteGroupById
      description: >-
        This will succeed even if there are contacts that are members of the
        group (the contacts will not be deleted).
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of group
          name: group_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: The group was deleted.
        '400':
          description: Thrown if the dashboard id or group id is invalid.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Thrown if no group with that id exists in the dashboard.
    put:
      tags:
        - Groups
      summary: Update a group with the given id
      operationId: Groups_updateGroupName
      description: Updates a group's name.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of group
          name: group_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_group_request'
      responses:
        '200':
          description: The group was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/group'
        '400':
          description: Bad request. Sent if required properties are omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /users:
    get:
      tags:
        - Users
      summary: Retrieves all users.
      operationId: Users_getAllUsers
      parameters:
        - description: >-
            External User Id to filter the results by. The External User Id is a
            custom value that can only be set from within the API. Multiple
            users can have the same external user id.
          name: external_user_id
          in: query
          required: false
          schema:
            type: string
        - description: >-
            User's email address to filter the results by. A user's email
            address cannot be changed. Only one user can exist in an account for
            an email address.
          name: email
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: All users for this account in a list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_response_container'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Users
      summary: Creates a new user
      operationId: Users_createUser
      description: >-
        Creates a new user with the provided email address and password. This
        endpoint does not generate an email to send to the user. Users created
        through the web app get an auto-generated password emailed to them. Due
        to the password being a part of this endpoint's request body, this email
        is not necessary.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_user_request'
      responses:
        '200':
          description: The new user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
        '400':
          description: Bad request - no name, email, or password was specified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /users/{user_id}:
    get:
      tags:
        - Users
      summary: Retrieves the user with the specified id.
      operationId: Users_getById
      description: Retrieves the user with the specified id.
      parameters:
        - description: Id of user
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            example: 508
      responses:
        '200':
          description: The user's details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
        '204':
          description: No user in the account matches the provided id.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Users
      summary: Deletes the user with the specified id
      operationId: Users_deleteUserWithPermissions
      description: >-
        Deletes the user with the specified id and removes permissions from all
        dashboards.
      parameters:
        - description: Id of user
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            example: 508
      responses:
        '204':
          description: The user was deleted.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: No user in the account matches the provided id.
    put:
      tags:
        - Users
      summary: Update a user with the given id
      operationId: Users_updateUserDetails
      description: Updates a user's name and permissions.
      parameters:
        - description: Id of user
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            example: 508
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_user_request'
      responses:
        '200':
          description: The user was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
        '400':
          description: Bad request. Sent if required properties are omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/keywords:
    get:
      tags:
        - Keywords
      summary: Retrieves all keywords.
      operationId: Keywords_getAll
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: All keywords.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/keyword_response_container'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Keywords
      summary: Creates a new keyword
      operationId: Keywords_createNewKeyword
      description: Creates a new keyword with the provided name.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_keyword_request'
      responses:
        '200':
          description: The new group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/keyword'
        '400':
          description: Bad request - no name was specified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/keywords/{keyword_id}:
    get:
      tags:
        - Keywords
      summary: Retrieves the keyword with the specified id.
      operationId: Keywords_getById
      description: Retrieves the keyword with the specified id.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of keyword
          name: keyword_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The keyword's details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/keyword'
        '204':
          description: No keyword in the dashboard matches the provided id.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Keywords
      summary: Deletes the keywood with the specified id.
      operationId: Keywords_deleteKeywordById
      description: >-
        This will succeed even if there are contacts that are members of the
        keyword (the contacts will not be deleted).
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of keyword
          name: keyword_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: The keyword was deleted.
        '400':
          description: Thrown if the dashboard id or keyword id is invalid.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Thrown if no keyword with that id exists in the dashboard.
    put:
      tags:
        - Keywords
      summary: Update the keyword with the given id
      operationId: Keywords_updateKeywordById
      description: Updates a keyword's name or description.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of keyword
          name: keyword_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_keyword_request'
      responses:
        '200':
          description: The keyword was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/keyword'
        '400':
          description: Bad request. Sent if required properties are omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/tags:
    get:
      tags:
        - Tags
      summary: Retrieves all the tags for this dashboard.
      operationId: Tags_getAllDashboardTags
      description: Retrieves all tags.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: The tags and their details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag_response_container'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Tags
      summary: Creates a new tag
      operationId: Tags_createNewTag
      description: Creates a new tag with the provided name and color.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_tag_request'
      responses:
        '200':
          description: The new tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
        '400':
          description: >-
            Bad request. No name was specified, or tag with that name already
            exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/tags/{tag_id}:
    get:
      tags:
        - Tags
      summary: Retrieves the tag with the specified id.
      operationId: Tags_getTagById
      description: Retrieves the tag with the specified id, including its name and color.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of tag
          name: tag_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The tag's details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
        '204':
          description: No tag in the dashboard matches the provided id.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Tags
      summary: Deletes the tag with the specified id.
      operationId: Tags_deleteTagById
      description: >-
        This will succeed even if there are contacts that are tagged (the
        contacts will not be deleted).
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of tag
          name: tag_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The tag was deleted.
        '400':
          description: Thrown if the dashboard id or tag id is invalid.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Thrown if no tag with that id exists in the dashboard.
    put:
      tags:
        - Tags
      summary: Update a tag with the given id
      operationId: Tags_updateTagById
      description: Updates a tag's name or color.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of tag
          name: tag_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_tag_request'
      responses:
        '200':
          description: The updated tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/fields/{field_id}:
    get:
      tags:
        - Custom Fields
      summary: Retrieves the custom field with the specified id.
      operationId: CustomFields_getFieldById
      description: Pagination information will be in the header.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of field
          name: field_id
          in: path
          required: true
          schema:
            type: string
            example: f0d364d4-52e7-44a7-a1bb-b7ce0ccb5ead
      responses:
        '200':
          description: The custom field name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom_field'
        '204':
          description: No custom field in the dashboard matches the provided Guid.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Custom Fields
      summary: Deletes the field with the specified id.
      operationId: CustomFields_deleteFieldById
      description: >-
        If at least one contact has a value for this field specified, deletion
        will fail.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of field
          name: field_id
          in: path
          required: true
          schema:
            type: string
            example: f0d364d4-52e7-44a7-a1bb-b7ce0ccb5ead
      responses:
        '204':
          description: >-
            Either the field was deleted, or no field with that guid existed in
            the dashboard.
        '400':
          description: >-
            Thrown if the dashboard id or field id is invalid, or if the field
            exists, but some contacts have a value for that field.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Thrown if no field with that id exists in the dashboard.
    put:
      tags:
        - Custom Fields
      summary: Update a custom field's name
      operationId: CustomFields_updateFieldName
      description: Updates a custom field's name.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of field
          name: field_id
          in: path
          required: true
          schema:
            type: string
            example: f0d364d4-52e7-44a7-a1bb-b7ce0ccb5ead
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_custom_field'
      responses:
        '200':
          description: The updated custom field object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom_field'
        '400':
          description: Bad request. Sent if required properties are omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/fields:
    get:
      tags:
        - Custom Fields
      summary: Retrieves all custom fields.
      operationId: CustomFields_getAllFields
      description: All custom fields will be returned.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      responses:
        '200':
          description: >-
            The custom fields. There is no pagination; all fields will be
            returned at once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsGetAllFieldsResponse'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Custom Fields
      summary: Create a new custom field.
      operationId: CustomFields_createNewField
      description: Create a custom field with the provided name.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_custom_field'
      responses:
        '200':
          description: The new custom field object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom_field'
        '400':
          description: >-
            Bad request. Sent if too many custom fields alreay exist for this
            dashboard, or invalid parameters were passed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/payments:
    get:
      tags:
        - Payments
      summary: Retrieves all payments.
      operationId: Payments_getAll
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: >-
            User-defined id defined when payments are created that can be used
            to quickly find payments. Reference numbers are not unique; many
            payments can have the same reference.
          name: reference_number
          in: query
          required: false
          schema:
            type: string
        - description: Phone number
          name: phone_number
          in: query
          required: false
          schema:
            type: string
        - description: Property to sort payments by.
          name: sort_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - amount
              - contact
              - date
              - status
            default: date
        - description: >-
            Direction to sort payments in. Either greatest to smallest, or
            smallest to greatest.
          name: sort_direction
          in: query
          required: false
          schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: All payments in a list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_response_container'
        '400':
          description: >-
            Bad Request. Payments haven't been set up in this dashboard yet, or
            if invalid sort parameters are passed in.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                error_message: Payments is not enabled on this dashboard
                error_code: null
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Payments
      summary: Creates a new payment
      operationId: Payments_createNewPayment
      description: Creates a new payment with the provided message to the provided contact.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_payment_request'
      responses:
        '200':
          description: The new payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment'
        '400':
          description: >-
            Bad Request. Request info is invalid or missing, or payments haven't
            been set up in this dashboard yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                error_message: Payments is not enabled on this dashboard
                error_code: null
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/payments/{payment_id}:
    get:
      tags:
        - Payments
      summary: Retrieves the payment with the specified id.
      operationId: Payments_getPaymentById
      description: Retrieves the payment with the specified id.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of payment
          name: payment_id
          in: path
          required: true
          schema:
            type: integer
            example: 2510
      responses:
        '200':
          description: The payment's details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment'
        '204':
          description: No payment in the dashboard matches the provided id.
        '400':
          description: Bad Request. Payments haven't been set up in this dashboard yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                error_message: Payments is not enabled on this dashboard
                error_code: null
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/payments/{payment_id}/mark_as_paid:
    post:
      tags:
        - Payments
      summary: Mark a payment as paid
      operationId: Payments_markAsPaid
      description: >-
        Closes a payment as "paid". Use this endpoint for when the payment is
        paid through a means other than the payment request portal. This will
        close the payment and add its payment amount to your statistics. This
        endpoint is not required for payments paid through the payments-portal
        sent through Text Request; that will automatically mark a payment as
        paid.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of payment
          name: payment_id
          in: path
          required: true
          schema:
            type: integer
            example: 2510
      responses:
        '200':
          description: The payment that was marked as paid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment'
        '400':
          description: >-
            Bad Request. This payment was paid or cancelled, and so is no longer
            in progress, or payments haven't been set up in this dashboard yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                error_message: Payment request is not in progress
                error_code: null
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/payments/{payment_id}/resend:
    post:
      tags:
        - Payments
      summary: Send a follow-up text reminding the user to pay the specified payment.
      operationId: Payments_sendReminder
      description: Sends a reminder. Only one reminder can be sent per payment
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of payment
          name: payment_id
          in: path
          required: true
          schema:
            type: integer
            example: 2510
      responses:
        '200':
          description: The payment reminder was sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment'
        '400':
          description: >-
            Bad Request. This payment was paid or cancelled, and so is no longer
            in progress, a reminder has already been sent for this payment, or
            payments haven't been set up in this dashboard yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                error_message: A reminder for this payment request has already been sent.
                error_code: null
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/payments/{payment_id}/cancel:
    post:
      tags:
        - Payments
      summary: Cancels the specified payment.
      operationId: Payments_cancelPayment
      description: >-
        Cancels the specified payment, texting the user that the payment has
        been cancelled. Payments cannot be editted, so cancelling and issuing a
        new payment is the best way to correct a payment.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of payment
          name: payment_id
          in: path
          required: true
          schema:
            type: integer
            example: 2510
      responses:
        '200':
          description: >-
            The payment was cancelled. Returns the payment, now with the
            cancelled status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment'
        '400':
          description: >-
            Bad Request. This payment was paid or cancelled, and so is no longer
            in progress, or payments haven't been set up in this dashboard yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                error_message: A reminder for this payment request has already been sent.
                error_code: null
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/activate_payments:
    post:
      tags:
        - Payments
      summary: Activates payments for a dashboard.
      operationId: Payments_activateDashboardPayments
      description: >-
        Turns payments on or off based on input. If an authvia merchant id does
        not exist for this account, one is created.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsActivateDashboardPaymentsRequest'
      responses:
        '200':
          description: The activation was successful
        '400':
          description: >-
            Bad Request. This payment was paid or cancelled, and so is no longer
            in progress, or payments haven't been set up in this dashboard yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              example:
                error_message: A reminder for this payment request has already been sent.
                error_code: null
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/reviews:
    summary: Reviews for the dashboard level.
    description: Review retrieval for all reviews in a given dashboard.
    get:
      tags:
        - Reviews
      summary: Retrieves all reviews that match the specified filtering criterion.
      operationId: Reviews_getMatchingReviews
      description: >-
        As many as all filter parameters and as few as none may be set. Only the
        dashboard specified will be searched; reviews are organized by
        dashboard. There is no account level search for a number available.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: A list of reviews.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/review_response_container'
        '400':
          description: Bad request. Sent if a query is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/campaigns:
    summary: Campaigns for the dashboard level.
    description: Campaign retrieval for all campaigns in a given dashboard.
    get:
      tags:
        - Reviews
      summary: Retrieves all campaigns.
      operationId: Reviews_getAllCampaigns
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - name: include_archived
          in: query
          schema:
            type: boolean
            default: false
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: A list of campaigns.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaign_response_container'
        '400':
          description: Bad request. Sent if a query is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/campaigns/{campaign_id}:
    get:
      tags:
        - Reviews
      summary: Retrieves the campaign with the specified id.
      operationId: Reviews_getCampaignById
      description: Retrieves the campaign with the specified id.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of campaign
          name: campaign_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The campaign's details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaign'
        '204':
          description: No campaign in the dashboard matches the provided id.
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /eventTypes:
    get:
      tags:
        - Webhooks
      summary: Retrieve all available web hooks types
      operationId: Webhooks_getAllTypes
      description: Retrieve all available web hook types.
      responses:
        '200':
          description: All webhooks types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksGetAllTypesResponse'
              example:
                - webhook_type_1
                - webhook_type_2
                - webhook_type_3
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /dashboards/{dashboard_id}/hooks:
    get:
      tags:
        - Webhooks
      summary: Retrieve all web hooks for a dashboard
      operationId: Webhooks_getAllForDashboard
      description: Retrieve all web hooks for a dashboard.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: All webhooks in the specified dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Webhooks
      summary: Register Web Hook
      operationId: Webhooks_registerNewWebhook
      description: >-
        Registers a new Web Hook. Web hooks can be registered to send callbacks
        when messages are received, sent, or when a contact is created. The same
        event can hit multiple urls, but not the same url multiple times.
        Webhooks can be used for third party integrations such as Zapier and
        other partner integrations.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_webhook_request'
      responses:
        '201':
          description: The new webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
        '400':
          description: Bad request. Sent if required properties are omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized. Sent if the API key is omitted or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: Conflict. A webhook for this event and url already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      callbacks:
        MessageSentPayload:
          msg_sent:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/webhook_payload_msg'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
          msg_received:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/webhook_payload_msg'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
          contact_created:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/webhook_payload_contact_created'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
          contact_updated:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/webhook_payload_contact_updated'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
          payment_status_updated:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/webhook_payload_payment'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
          msg_status_updated:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/webhook_payload_message_status'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
          location_received:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/webhook_payload_location_callback'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
  /dashboards/{dashboard_id}/hooks/{webhook_id}:
    delete:
      tags:
        - Webhooks
      summary: Deletes a web hook
      operationId: Webhooks_deleteWebhookFromPhoneNumber
      description: Removes a web hook from a phone number.
      parameters:
        - description: Id of dashboard
          name: dashboard_id
          in: path
          required: true
          schema:
            type: integer
            example: 121
        - description: Id of the web hook that you want to delete
[...]
