openapi: 3.0.0
info:
  title: FastSpring API
  description: >
    The FastSpring API and its supported requests, data, endpoints, and rate
    limits.


    The FastSpring API is a backend service you can use to communicate with your
    FastSpring Store programmatically. It requires basic understanding of HTTP
    communication methods. The primary API communication methods include:

    - **GET** - request data from your store

    - **POST** - send data to your store, such as creating a new product record

    - **DELETE** - remove data from your store


    The structure of the JSON data sent and received using the API is very
    similar to Webhooks. However, using the FastSpring API, you initiate all
    communication with your FastSpring Store.


    If you prefer a client-side method of communicating with your FastSpring
    Store and generating dynamic webpage content, check out the [Store Builder
    Library](https://fastspring.com/docs/get-started-with-store-builder-library/).


    ## Access the API


    #### API Credentials and Authentication


    FastSpring API credentials consist of a single username and password for
    your entire Store. The username and password are used for [Basic
    Authentication](https://en.wikipedia.org/wiki/Basic_access_authentication)
    when making requests to the API.


    #### Obtain Your API Credentials


    1. Log on to the FastSpring App and navigate to
    [Integrations](https://fastspring.com/docs/integrations) > **API
    Credentials**. Initially, the only option on this page is the **Create**
    command.


    2. Click **Create** to generate your API **Username** and **Password**. The
    page automatically refreshes, and then your credentials are displayed.


    3. Make a note of the credentials and store them securely.


    The API credentials allow complete access and control over your FastSpring
    Store. You will not be able to view the password in the FastSpring App after
    this session. If you forget your API credentials, you can reset them,
    however any of your stored procedures that rely on API access must be
    updated immediately with the new credentials. Otherwise, the API requests
    will fail.


    ## API Requests


    **Make all requests to https://api.fastspring.com**


    When you make your requests, consider the following:

    - Ensure that the HTTP methods for all calls use uppercase letters (“GET,”
    “POST,” “DELETE”) Lowercase letters may result in a 404 error response.

    - FastSpring requires TLS 1.2 (or later) encryption for all calls to the
    FastSpring API. 

    - The API requires a **User-Agent** header in all requests. If your request
    does not include it, you may receive an 401 error message when attempting to
    make API requests.

    - The API uses basic authentication and does not support URL-encoded
    authentication. Use **Base64** to encode your username and password in the
    header.
  version: '1.0'
  contact: {}
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://api.fastspring.com
tags:
  - description: Use the /products endpoint to create or update products.
    name: Products
  - description: >
      Use the /subscriptions endpoint to retrieve complete details of one or
      more specific subscription instances.
    name: Subscriptions
  - description: >
      This article provides information about the /orders endpoint of the
      FastSpring API.


      Use the **/orders** API endpoint to retrieve information about a single
      order or retrieve a list of multiple orders matching a set of criteria.


      You can retrieve orders by order ID, product path, or date range. You can
      optionally combine parameters in your request, for example, retrieving all
      orders for a particular product that occurred in a given date range.


      When retrieving multiple orders, the API paginates the response with a
      limit of 50 records per page by default. To assist with paging through the
      results, you can optionally specify a custom limit to the number of
      records per page, and the desired **page** number in your request.
    name: Orders
  - description: >
      This article provides information about the /coupons endpoint of the
      FastSpring API. 


      Use this endpoint to create, update, delete, and get coupons.
    name: Quotes
  - description: >
      Use the /data/v1/ to generate sync or async reports based on the flag
      "async". Also available to download and verify job status.


      ### To take into account in the requests to generate the reports:

      If **async** flag is not specified in the request, the report will be
      generated as async = false as long as days between startDate and endDate
      are not greater than 90.


      If **pageCount** is not specified in the request, it will take 1000 as
      default. pageCount and pageNumber are used only when "async": false


      - **filter.startDate** - Only return results after this date


      - **filter.endDate** - Only return results before this date


      - **filter.productNames** - Optional. Only return items with these product
      names


      - **filter.productPaths** - Optional. Only return items with these product
      paths


      - **filter.countryISO** - Optional. Only return items with these country
      ISO


      - **filter.segments** - Optional. Only return items with these segments


      - **filter.syncDate** - Optional. Only return updated items before this
      date


      - **groupBy** - Optional. Aggregate results by these columns. If no
      groupBy is included this returns raw data. If the reportColumns filter is
      used a non-numerical column when using the groupBy filter, it will be
      automatically used in the groupBy even if that column is not in the
      groupBy filter.


      - **pageCount** - Optional. The max number of records to return per page.
      Max value is 1k when async = false. 


      - **pageNumber** - Optional. 0 based page number.


      - **async** - Optional. Flag to define if the report will be generated
      asynchronous or not.


      - **reportColumns** - Optional. List of columns to include in the report. 
      Excluding this will return all columns without using groupBy filter. If
      the groupBy filter is used, the data service will just return columns used
      in the groupBy and the requested in reportColumns filter as well.


      - **notificationEmails** - Optional. List of emails to notify when report
      is generated by using the flag async = true. 
    name: Data
  - description: >
      Use the **/accounts** endpoint of the FastSpring API to create, update, or
      get information on FastSpring customer accounts created by you or created
      automatically by FastSpring when a new customer places an order.
    name: Accounts
  - description: >
      Use the /coupons endpoint to create, update, delete and get coupons to
      offer promotional product discounts.
    name: Coupons
  - description: >
      Use the /events endpoint to retrieve the payloads for passed webhook
      events. Events are either processed or unprocessed, depending on whether
      the webhook endpoint has acknowledged the handling of the event. 
    name: Events
  - description: >
      Use the /returns endpoint to retrieve return details or create full order
      returns. 
    name: Returns
  - description: >
      A session may contain discounts, price overrides, custom tags, and more.
      When you create a session via the [FastSpring
      API](https://fastspring.com/docs/fastspring-api), the response from the
      API includes the session ID, which you can use to collect payment. A
      customer cannot change the details of the session. A successful payment
      via the session creates an order record.


      ### Session Behavior


      - **Expiration:** Sessions created via the /sessions endpoint are valid
      for 24 hours by default and up to 7 days if specified. Use "expiration"
      with a value between 1 and 7 to represents the number of days to remain
      valid.


      - **Customer Accounts:** Posts to the /sessions endpoint require an
      existing customer account. If your customer has purchased from you
      previously and you have obtained the customer's FastSpring-generated
      account ID, you can pass that into the POST. Otherwise, you need to
      pre-create an account with the customer's name and email address via the
      API. See [/accounts](https://fastspring.com/docs/accounts).


      - **Products Allowed:** Each session or order can only contain a single
      occurrence of any given product or its [product
      variations](https://fastspring.com/docs/product-variations). If you
      include more than one variation of the same product in a single session,
      it will result in an error 400 with the message "Item exists."


      - **Session Object:** The recipient object used with the [Store Builder
      Library session
      object](https://fastspring.com/docs/access-the-library-with-javascript/#AccessingtheLibraryfromJavascript-sessionUnderstandingtheSessionObject) 
      and fastspring.builder.recognizeRecipients() method is not currently
      supported via the /sessions API endpoint. It is not possible to pre-fill
      [gift recipient](https://fastspring.com/docs/gift-purchases/) information
      via the /sessions endpoint.


      - **Customer Country:** The account country is required for certain
      non-credit card payment methods so be sure the customer account includes
      the customer's country. Transactions based on sessions could fail if the
      country is not included in the customer's account.


      An example to use the /sessions API endpoint is to provide customers with
      an option to pay what you want. Design your website to accept price data
      from your customers and use the /sessions endpoint to create a session
      that overrides the default prices. Alternatively, you can do this using a
      [secure
      request](https://fastspring.com/docs/passing-sensitive-data-with-secure-requests)
      via the [Store Builder
      Library](https://fastspring.com/docs/get-started-with-store-builder-library/).
      Read more about the [Order Flow](https://fastspring.com/docs/Order-Flow).
    name: Sessions
  - name: Webhooks
paths:
  /accounts/{account_id}:
    get:
      tags:
        - Accounts
      summary: Get an account
      operationId: Accounts_getAccountById
      parameters:
        - description: Account Id
          name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOneAccount'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOneAccountError'
      deprecated: false
    post:
      tags:
        - Accounts
      summary: Update account
      operationId: Accounts_updateAccountById
      parameters:
        - description: Account Id
          name: account_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOneAccount'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOneAccountResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOneAccountError'
      deprecated: false
  /accounts/{account_id}/authenticate:
    get:
      tags:
        - Accounts
      summary: Get authenticated account management URL
      operationId: Accounts_getAuthenticatedManagementUrl
      parameters:
        - description: Account Id
          name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticateAccount'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticateAccountError'
      deprecated: false
  /accounts:
    post:
      tags:
        - Accounts
      summary: Create an account
      operationId: Accounts_createNewAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOneAccount'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOneAccountResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOneAccountError'
      deprecated: false
    get:
      tags:
        - Accounts
      summary: Get all accounts or Search for accounts by parameter
      operationId: Accounts_getByParameter
      description: >-
        If no parameters are sent, the operation will return a list of
        accountIDs.
      parameters:
        - description: Account email
          name: email
          in: query
          schema:
            type: string
        - description: Account custom key
          name: custom
          in: query
          schema:
            type: string
        - description: Account global key
          name: global
          in: query
          schema:
            type: string
        - description: Order id
          name: orderID
          in: query
          schema:
            type: string
        - description: Order Reference
          name: orderReference
          in: query
          schema:
            type: string
        - description: Subscription ID
          name: subscriptionId
          in: query
          schema:
            type: string
        - description: Product ID
          name: products
          in: query
          schema:
            type: string
        - description: >-
            "active", "ended", "canceled", "started" will return accounts with
            subscriptions in the corresponding state
          name: subscriptions
          in: query
          schema:
            type: string
        - description: 'true'
          name: refunds
          in: query
          schema:
            type: string
        - description: >-
            integer value indicating the maximum number of records to be
            returned Or, when used together with page, the maximum number of
            records to be returned per page
          name: limit
          in: query
          schema:
            type: number
        - description: >-
            Integer value that must be used in conjunction with limit to specify
            which page of results should be returned
          name: page
          in: query
          schema:
            type: number
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsGetByParameterResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookUpAccountError'
      deprecated: false
  /coupons:
    post:
      tags:
        - Coupons
      summary: Create a coupon
      operationId: Coupons_createNewCoupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateanewcouponRequest'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /coupons/{coupon_id}:
    post:
      tags:
        - Coupons
      summary: Assign codes to a coupon
      operationId: Coupons_assignCodesToCoupon
      parameters:
        - description: Coupon Id
          name: coupon_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddcouponcodestoacouponRequest'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
        - Coupons
      summary: Retrieve coupon details
      operationId: Coupons_getDetails
      parameters:
        - description: Coupon Id
          name: coupon_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCouponsDetailsResponse'
      deprecated: false
  /coupons/{coupon_id}/codes:
    get:
      tags:
        - Coupons
      summary: Get coupon codes assigned to a coupon
      operationId: Coupons_getCodesAssignedToCoupon
      parameters:
        - description: Coupon Id
          name: coupon_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCouponCodesRequest'
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCouponCodesResponse'
      deprecated: false
    delete:
      tags:
        - Coupons
      summary: Delete all codes associated with a coupon
      operationId: Coupons_deleteAssociatedCodes
      parameters:
        - description: Coupon Id
          name: coupon_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /events/processed:
    get:
      tags:
        - Events
      summary: Get processed events
      operationId: Events_getProcessedEvents
      parameters:
        - description: ''
          name: days
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponseBad'
      deprecated: false
  /events/unprocessed:
    get:
      tags:
        - Events
      summary: Get unprocessed events
      operationId: Events_getUnprocessedEvents
      parameters:
        - description: ''
          name: begin
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponseBad'
      deprecated: false
  /events/{event_id}:
    post:
      tags:
        - Events
      summary: Update an event
      operationId: Events_updateEventById
      parameters:
        - description: Event Id
          name: event_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateasingleeventRequest'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /orders/{order_id}:
    get:
      tags:
        - Orders
      summary: Get orders by ID
      operationId: Orders_getById
      parameters:
        - description: Order Id
          name: order_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersById'
        '400':
          description: Bad request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByIdError'
      deprecated: false
  /orders?products={product_path}&limit={limit}&page={page}:
    get:
      tags:
        - Orders
      summary: Get orders by product path
      operationId: Orders_getByProductPath
      parameters:
        - description: Product path
          name: product_path
          in: path
          required: true
          schema:
            type: string
        - description: >-
            integer limits the number of order records returned per page
            (default is 50 records)
          name: limit
          in: path
          required: true
          schema:
            type: number
        - description: >-
            specifies page number of results to be returned; used together with
            limit to control pagination
          name: page
          in: path
          required: true
          schema:
            type: number
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByProductPath'
      deprecated: false
  /orders?begin={begin_date}&end={end_date}&limit={limit}&page={page}:
    get:
      tags:
        - Orders
      summary: Get orders by date range
      operationId: Orders_getByDateRange
      parameters:
        - description: >-
            filters results to include transactions after the specified begin
            date (must be at least one day before the specified end date), the
            format must be MM/DD/YY
          name: begin_date
          in: path
          required: true
          schema:
            type: string
        - description: >-
            filters results to include transactions before the specified end
            date, the format must be MM/DD/YY
          name: end_date
          in: path
          required: true
          schema:
            type: string
        - description: >-
            integer limits the number of order records returned per page
            (default is 50 records)
          name: limit
          in: path
          required: true
          schema:
            type: number
        - description: >-
            specifies page number of results to be returned; used together with
            limit to control pagination
          name: page
          in: path
          required: true
          schema:
            type: number
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByDates'
        '400':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByDatesError'
      deprecated: false
  /orders?products={product_path}&begin={begin_date}&end={end_date}:
    get:
      tags:
        - Orders
      summary: Get orders by product path AND date range
      operationId: Orders_getByProductPathAndDateRange
      parameters:
        - description: Product path
          name: product_path
          in: path
          required: true
          schema:
            type: string
        - description: >-
            filters results to include transactions after the specified begin
            date (must be at least one day before the specified end date), the
            format must be yyyy-mm-dd
          name: begin_date
          in: path
          required: true
          schema:
            type: string
        - description: >-
            filters results to include transactions before the specified end
            date, the format must be yyyy-mm-dd
          name: end_date
          in: path
          required: true
          schema:
            type: string
        - description: >-
            integer limits the number of order records returned per page
            (default is 50 records)
          name: limit
          in: query
          schema:
            type: number
        - description: >-
            specifies page number of results to be returned; used together with
            limit to control pagination
          name: page
          in: query
          schema:
            type: number
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByProductPathDates'
      deprecated: false
  /orders?end={end_date}:
    get:
      tags:
        - Orders
      summary: Get orders by end date
      operationId: Orders_getByEndDate
      parameters:
        - description: >-
            filters results to include transactions before the specified end
            date, the format must be MM/DD/YY
          name: end_date
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersByEndDate'
      deprecated: false
  /orders?begin={begin_date}&end={end_date}&returns={return}:
    get:
      tags:
        - Orders
      summary: Get orders with returns only
      operationId: Orders_getOrdersWithReturns
      parameters:
        - description: >-
            filters results to include transactions after the specified begin
            date (must be at least one day before the specified end date), the
            format must be MM/DD/YY
          name: begin_date
          in: path
          required: true
          schema:
            type: string
        - description: >-
            filters results to include transactions before the specified end
            date, the format must be MM/DD/YY
          name: end_date
          in: path
          required: true
          schema:
            type: string
        - description: ''
          name: return
          in: path
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersWithReturnOnly'
      deprecated: false
  /orders:
    post:
      tags:
        - Orders
      summary: Update order tags and attributes
      operationId: Orders_updateTagsAndAttributes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderTags'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersUpdateTagsAndAttributesResponse'
      deprecated: false
  /products/{product_path}:
    get:
      tags:
        - Products
      summary: Get products by path
      operationId: Products_getByProductPath
      parameters:
        - description: Product path
          name: product_path
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductsByPth'
      deprecated: false
  /products:
    get:
      tags:
        - Products
      summary: Get all product IDs
      operationId: Products_getAllProductIds
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProducts'
      deprecated: false
    post:
      tags:
        - Products
      summary: Create and update products
      operationId: Products_createAndUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateoneormorenewproductsRequest'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsCreateAndUpdateResponse'
        '201':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProductsResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProductsResponseError'
      deprecated: false
  /products/offers/{product_path}:
    get:
      tags:
        - Products
      summary: Get all offers for a product by offer type
      operationId: Products_getAllOffersByType
      parameters:
        - description: Product path
          name: product_path
          in: path
          required: true
          schema:
            type: string
        - description: Offer Type
          name: type
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GetAllOffersforProductByOfferTypeSuccessResponse
      deprecated: false
    post:
      tags:
        - Products
      summary: Create or Update Product offers
      operationId: Products_createOrUpdateOffers
      parameters:
        - description: Product path
          name: product_path
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateorupdateProductOffersRequest'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsCreateOrUpdateOffersResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateorupdateProductOffersError'
      deprecated: false
  /products/price:
    get:
      tags:
        - Products
      summary: Get all product prices
      operationId: Products_getAllProductPrices
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsPrice'
      deprecated: false
  /products/price/{id}:
    get:
      tags:
        - Products
      summary: Get a product price
      operationId: Products_getPriceById
      parameters:
        - description: Product Id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductPrice'
      deprecated: false
  /products/price?country={country}:
    get:
      tags:
        - Products
      summary: Get all product prices in specified country
      operationId: Products_getAllProductPricesByCountry
      parameters:
        - description: Country code
          name: country
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsPrice'
      deprecated: false
  /products/price?country={country}&currency={currency}:
    get:
      tags:
        - Products
      summary: Get all product prices in specified country and currency
      operationId: Products_getAllProductPricesByCountryAndCurrency
      parameters:
        - description: Country code
          name: country
          in: path
          required: true
          schema:
            type: string
        - description: Currency code
          name: currency
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllProductsPrice'
      deprecated: false
  /products/price/{id}?country={country}&currency={currency}:
    get:
      tags:
        - Products
      summary: Get a product price in a specified country and currency
      operationId: Products_getProductPriceByCountryAndCurrency
      parameters:
        - description: Product Id
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: Country code
          name: country
          in: path
          required: true
          schema:
            type: string
        - description: currency code
          name: currency
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductPrice'
      deprecated: false
  /products/price/{id}?country={country}:
    get:
      tags:
        - Products
      summary: Get a product price in a specified country
      operationId: Products_getProductPriceByCountry
      parameters:
        - description: Product Id
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: country code
          name: country
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductPrice'
      deprecated: false
  /products/{id}:
    delete:
      tags:
        - Products
      summary: Delete products
      operationId: Products_deleteProductById
      parameters:
        - description: Product Id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProductsResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProductsResponseBad'
      deprecated: false
  /returns/{id}:
    get:
      tags:
        - Returns
      summary: Get returns
      operationId: Returns_getById
      parameters:
        - description: ''
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReturnsResponse'
      deprecated: false
  /returns:
    post:
      tags:
        - Returns
      summary: Create returns
      operationId: Returns_createNewReturn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostReturnsRequest'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostReturnsResponse'
      deprecated: false
  /sessions:
    post:
      tags:
        - Sessions
      summary: Create a session
      operationId: Sessions_createNewSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CreateasessionwithoutoverridinganydefaultvaluesRequest
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSessionsResponse'
        '400':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSessionsResponseBad'
      deprecated: false
  /subscriptions:
    get:
      tags:
        - Subscriptions
      summary: Get all subscriptions
      operationId: Subscriptions_getAllSubscriptions
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllSubscriptionsInstancesResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGetErrorResponse'
      deprecated: false
    post:
      tags:
        - Subscriptions
      summary: Update a subscription
      operationId: Subscriptions_updateSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ChangetheproductforanactivesubscriptionRequest
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeProductResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeProductResponseBad'
      deprecated: false
  /subscriptions/estimate:
    post:
      tags:
        - Subscriptions
      summary: Preview a proposed prorated plan change
      operationId: Subscriptions_previewPlanChange
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateSubscriptionRequest'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateSubscriptionSuccessResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateSubscriptionErrorResponse'
      deprecated: false
  /subscriptions/{subscription_id}:
    get:
      tags:
        - Subscriptions
      summary: Get a subscription
      operationId: Subscriptions_getById
      parameters:
        - description: Subscription Id
          name: subscription_id
          in: path
          required: true
          schema:
            type: string
        - description: >-
            specify a specific customer account whose subscriptions you want to
            retrieve
          name: accountId
          in: query
          schema:
            type: string
        - description: specify the beginning of a date range in yyyy-mm-dd-format
          name: begin
          in: query
          schema:
            type: string
        - description: specify the end of a date range in yyyy-mm-dd format
          name: end
          in: query
          schema:
            type: string
        - description: >-
            In each event, use begin and end to retrieve the corresponding
            subscriptions
          name: event
          in: query
          schema:
            type: string
        - description: >-
            enter one or more product ids to filter the response to include only
            subscriptions for the specified products; use commas to separate
            multiple values
          name: products
          in: query
          schema:
            type: string
        - description: ''
          name: scope
          in: query
          schema:
            type: string
        - description: ''
          name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetASubscriptionResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGetErrorResponse'
      deprecated: false
    delete:
      tags:
        - Subscriptions
      summary: Cancel a subscription
      operationId: Subscriptions_cancelSubscriptionById
      parameters:
        - description: Subscription Id
          name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSubscriptionResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionCancelErrorResponse'
      deprecated: false
    post:
      tags:
        - Subscriptions
      summary: Resume a canceled subscription
      operationId: Subscriptions_resumeSubscription
      parameters:
        - description: Subscription Id
          name: subscription_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/UncancelasubscriptionpriortodeactivationRequest
        required: true
      responses:
        '200':
          description: ''
          headers: {}
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGetErrorResponse'
      deprecated: false
  /subscriptions/{subscription_id}/entries:
    get:
      tags:
        - Subscriptions
      summary: Get subscription entries
      operationId: Subscriptions_getEntries
      parameters:
        - description: Subscription Id
          name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGetErrorResponse'
      deprecated: false
  /subscriptions/charge:
    post:
      tags:
        - Subscriptions
      summary: Rebill a managed subscription
      operationId: Subscriptions_rebillManagedSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubscriptionRequest'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeSubscriptionResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionChargeErrorResponse'
      deprecated: false
  /subscriptions/{subscription_id}/pause:
    post:
      tags:
        - Subscriptions
      summary: Pause a subscription
      operationId: Subscriptions_pauseSubscription
      parameters:
        - description: Subscription Id
          name: subscription_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseSubscriptionRequest'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PauseSubscriptionResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PauseSubscriptionErrorResponse'
      deprecated: false
  /subscriptions/{subscription_id}/resume:
    post:
      tags:
        - Subscriptions
      summary: Remove a scheduled pause
      operationId: Subscriptions_removeScheduledPause
      parameters:
        - description: Subscription Id
          name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetASubscriptionResponse'
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeSubscriptionErrorResponse'
      deprecated: false
  /subscriptions/{subscription_id}/convert:
    post:
      tags:
        - Subscriptions
      summary: Convert an Expired Trial Subscription without a Payment Method
      operationId: Subscriptions_convertExpiredTrialWithoutPaymentMethod
      parameters:
        - description: Subscription Id
          name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConvertExpiredTrialWithoutPaymentMethodResponse
        '400':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConvertExpiredTrialWithoutPaymentMethodErrorResponse
      deprecated: false
  /subscriptions/{subscription_id}/history:
    get:
      tags:
        - Subscriptions
      summary: Get subscription plan change history
      operationId: Subscriptions_getPlanChangeHistory
      parameters:
        - description: Subscription Id
          name: subscription_id
          in: path
          required: true
          schema:
            type: string
        - description: Type of items to return
          name: scope
          in: query
          required: false
          schema:
            type: string
            enum:
              - base_plan
              - add_on
        - description: Sort Order for the results
          name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - increasing
              - decreasing
      responses:
        '200':
          description: ''
          headers: {}
        '500':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionGetErrorResponse'
      deprecated: false
  /quotes/{id}:
    get:
      tags:
        - Quotes
      summary: Get a quote
      operationId: Quotes_getById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QuoteResponse'
    put:
      tags:
        - Quotes
      summary: Update a quote
      operationId: Quotes_updateQuoteById
      parameters:
        - description: A unique identifier for the quote
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotesUpdateQuoteByIdRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QuoteResponse'
    delete:
      tags:
        - Quotes
      summary: Delete a quote
      operationId: Quotes_deleteQuoteById
      parameters:
        - description: A unique identifier for the quote
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QuoteResponse'
  /quotes/{id}/cancel:
    post:
      tags:
        - Quotes
      summary: Cancel a quote
      operationId: Quotes_cancelQuoteById
      parameters:
        - description: A unique identifier for the quote
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QuoteResponse'
  /quotes:
    get:
      tags:
        - Quotes
      summary: Get all quotes
      operationId: Quotes_getAllQuotes
      parameters:
        - description: The format must be YYYY-MM-DD
          name: createdBegin
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: The format must be YYYY-MM-DD
          name: createdEnd
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: createdEmail
          in: query
          required: false
          schema:
            type: string
        - description: The format must be YYYY-MM-DD
          name: expiresBegin
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: The format must be YYYY-MM-DD
          name: expiresEnd
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: searchParam
          in: query
          required: false
          schema:
            type: string
        - description: The format must be YYYY-MM-DD
          name: expiredBefore
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: onlyQuoteId
          in: query
          required: false
          schema:
            type: boolean
        - name: statuses
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CollectionModelQuoteResponse'
    post:
      tags:
        - Quotes
      summary: Create a quote
      operationId: Quotes_createNewQuote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuoteRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
  /webhooks/keys:
    post:
      tags:
        - Webhooks
      summary: Update a webhook key secret
      operationId: Webhooks_updateWebhookKeySecret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhooksUpdateWebhookKeySecretRequest'
      responses:
        '200':
          description: Successful key rotation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksUpdateWebhookKeySecretResponse'
        '400':
          description: Bad request due to validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksUpdateWebhookKeySecret400Response'
  /data/v1/subscription:
    post:
      tags:
        - Data
      summary: Generates a subscription report
      operationId: Data_generateSubscriptionReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSubscriptionReportRequest'
        required: true
      responses:
        '200':
          description: Subscription response
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataGenerateSubscriptionReportResponse'
        '400':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSubscriptionResponseBad'
      deprecated: false
  /data/v1/revenue:
    post:
      tags:
        - Data
      summary: Generates a revenue report
      operationId: Data_generateRevenueReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRevenueReportRequest'
        required: true
      responses:
        '200':
          description: Revenue response
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataGenerateRevenueReportResponse'
        '400':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRevenueResponseBad'
      deprecated: false
  /data/v1/jobs/{id}:
    get:
      tags:
        - Data
      summary: Get job information based on a job ID.
      operationId: Data_getJobInformation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobIdResponse'
        '400':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobIdResponseBad'
  /data/v1/jobs:
    get:
      tags:
        - Data
      summary: Get information from a job listing.
      operationId: Data_getJobInformation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobsResponse'
  /data/v1/util/cache:
    get:
      tags:
        - Data
      summary: Reset cache for data service end points.
      operationId: Data_resetCacheForServiceEndPoints
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DataResetCacheForServiceEndPointsResponse'
  /data/v1/downloads/{id}:
    get:
      tags:
        - Data
      summary: Download a report based on job ID.
      operationId: Data_downloadReportById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DataDownloadReportByIdResponse'
        '400':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDownloadIdResponseBad'
components:
  securitySchemes:
    auth:
      type: http
      scheme: basic
  schemas:
    DeleteProductsResponse:
      title: DeleteProductsResponse
      example:
        products:
          - action: products.delete
            result: success
            product: deletion-test-2
    DeleteProductsResponseBad:
      title: DeleteProductsResponseBad
      example:
        products:
          - action: products.delete
            product: deletion-test
            result: error
            error:
              product: Not found
    PostSessionsResponse:
      title: PostSessionsResponse
      example:
        id: FnE_y0t9R_WF5b2W0DI72Q
        currency: USD
        expires: 1490109872476
        order: null
        account: uKj7izONRfanVwBL9eiG_A
        subtotal: 9.95
        items:
          - product: example-product-1
            quantity: 1
    PostSessionsResponseBad:
      title: PostSessionsResponseBad
      example:
        message: Can not parse request body.
        params: []
    GenerateSubscriptionReportRequest:
      title: GenerateSubscriptionReportRequest
      example:
        filter:
          startDate: '2022-06-21T00:00:00.000Z'
          endDate: '2022-06-21T00:00:00.000Z'
          syncDate: '2022-01-01T00:00:00.000Z'
          countryISO:
            - CO
            - VE
          productNames:
            - primary subscription (addon-subscription)
          productPaths:
            - primary subscription (addon-subscription)
          segments:
            - demographic
        reportColumns:
          - activations
          - arr
          - average_mrr
          - buyer_email
          - buyer_id
          - cancellations
          - chargeback_true_false
          - churn_type
          - company_id
          - company_name
          - country_iso
          - country_name
          - coupon
          - customer_churn
          - discount
          - driving_offer_type
          - driving_product_path
          - item_id
          - lifetime_value
          - mrr
          - mrr_decrease
          - mrr_downgrade
          - mrr_growth_rate
          - mrr_increase
          - mrr_paused
          - mrr_resumed
          - mrr_upgrade
          - new_subscribers
          - occurred_date
          - product_display_name
          - product_id
          - product_name
          - product_path
          - purchase_type
          - return_true_false
          - revenue_churn
          - segment
          - store_id
          - store_name
          - subscriber_loss
          - subscribers
          - subscription_id
          - subscription_period
          - subscription_period_end
          - subscription_period_start
          - subscription_start_date
          - subscription_status
          - subscription_true_false
          - subscriptions
          - sync_date
          - transaction_currency
          - transaction_date
          - transaction_day
          - transaction_month
          - transaction_time_utc
          - transaction_year
        groupBy:
          - buyer_email
          - buyer_id
          - chargeback_true_false
          - company_id
          - company_name
          - country_iso
          - country_name
          - coupon
          - discount
          - driving_offer_type
          - driving_product_path
          - item_id
          - occurred_date
          - order_id
          - product_display_name
          - product_id
          - product_name
          - product_path
          - purchase_type
          - return_true_false
          - store_id
          - store_name
          - subscription_period
          - subscription_period_end
          - subscription_period_start
          - subscription_start_date
          - subscription_status
          - subscription_true_false
          - sync_date
          - transaction_currency
          - transaction_date
          - transaction_month
          - transaction_year
        pageCount: 30
        pageNumber: 0
        async: false
        notificationEmails:
          - any@fastspring.com
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/FilterSubscriptionReportRequest'
        reportColumns:
          type: array
          items:
            type: string
        groupBy:
          type: array
          items:
            type: string
        pageCount:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        pageNumber:
          type: integer
          minimum: 0
          format: int32
        async:
          type: boolean
        notificationEmails:
          type: array
          items:
            type: string
    PostSubscriptionSyncResponse:
      title: PostSubscriptionSyncResponse
      example:
        report:
          - arr: 1080
            subscriptions: 1
            subscriber_loss: 0
            customer_churn: 0
            subscribers: 1
            mrr_growth_rate: 0
            new_subscribers: 0
            average_mrr: 90
            mrr: 90
            product_name: primary subscription (addon-subscription)
            occurred_date: '2022-06-21T00:00:00.000Z'
            cancellations: 0
            revenue_churn: 0
            lifetime_value: 0
            mrr_decrease: 0
            mrr_increase: 0
            site_id: XhY8La7GTfs
            country_name: Uruguay
            activations: 0
        request:
          filter:
            startDate: '2022-06-21T00:00:00.000Z'
            endtDate: '2022-06-21T00:00:00.000Z'
            productNames:
              - primary subscription (addon-subscription)
            countryNames:
              - Uruguay
          reportColumns: null
          pageCount: 30
          pageNumber: 0
          async: false
          notificationEmails:
            - any@fastspring.com
    PostSubscriptionAsyncResponse:
      title: PostSubscriptionAsyncResponse
      example:
        id: JOBAZXRDGMSYZDNZELLVJIY7GBTHM
        name: SubscriptionReport
        status: PROCESSING
        request:
          filter:
            startDate: '2022-04-01T00:00:00.000Z'
            endDate: '2022-08-28T00:00:00.000Z'
            productNames:
              - primary subscription (addon-subscription)
            countryNames:
              - Uruguay
          reportColumns:
            - arr
            - subscriptions
            - subscriber_loss
            - mrr_add_on
            - product_name
          pageCount: 30
          pageNumber: 0
          async: true
          notificationEmails:
            - any@fastspring.com
    PostSubscriptionResponseBad:
      title: PostSubscriptionResponseBad
      example:
        status: BAD_REQUEST
        timestamp: 31-08-2022 06:53:43
        id: FSPFTG5AL6ORDWRHDZLL5GUIZNAQ
        message: Invalid sql
        details: null
        errors: []
    GenerateRevenueReportRequest:
      title: GenerateRevenueReportRequest
      example:
        filter:
          startDate: '2022-06-21T00:00:00.000Z'
          endDate: '2022-06-21T00:00:00.000Z'
          countryISO:
            - CO
          productNames:
            - toxin product (toxin-product)
          productPaths:
            - toxin-product
          segments:
            - demographic
          syncDate: '2022-01-01T00:00:00.000Z'
        reportColumns:
          - buyer_id
          - buyer_email
          - chargeback_true_false
          - company_id
          - company_name
          - country_iso
          - country_name
          - countryiso
          - coupon
          - digital_backup_fulfillment_fee
          - digital_backup_fulfillment_fee_in_usd
          - digital_fulfillment_fee
          - digital_fulfillment_fee_in_usd
          - discount
          - driving_offer_type
          - driving_product_path
          - end_date
          - enddate
          - fixed_fee
          - fixed_fee_in_usd
          - grand_total_in_usd
          - income
          - income_in_usd
          - item_id
          - order_count
          - order_id
          - physical_backup_fulfillment_fee
          - physical_backup_fulfillment_fee_in_usd
          - product_count
          - product_display_name
          - product_id
          - product_name
          - product_path
          - product_units
          - productpath
          - purchase_type
          - return_fee
          - return_fee_in_usd
          - return_true_false
          - segment
          - start_date
          - startdate
          - store_chargeback_fee
          - store_id
          - store_name
          - subscription_period
          - subscription_period_end
          - subscription_period_start
          - subscription_start_date
          - subscription_status
          - subscription_true_false
          - syncdate
          - tax
          - tax_fee
          - tax_fee_in_usd
          - tax_in_usd
          - transaction_amount
          - transaction_amount_in_usd
          - transaction_currency
          - transaction_date
          - transaction_day
          - transaction_fee
          - transaction_fee_in_usd
          - transaction_item_count
          - transaction_month
          - transaction_rate
          - transaction_time_utc
          - transaction_year
        groupBy:
          - buyer_email
          - buyer_id
          - chargeback_true_false
          - company_id
          - country_iso
          - company_name
          - country_name
          - coupon
          - discount
          - driving_offer_type
          - driving_product_path
          - end_date
          - item_id
          - order_id
          - product_display_name
          - product_id
          - product_name
          - product_path
          - purchase_type
          - return_true_false
          - segment
          - start_date
          - store_id
          - store_name
          - subscription_period
          - subscription_status
          - subscription_true_false
          - transaction_currency
          - transaction_date
          - transaction_day
          - transaction_month
          - transaction_year
          - countryiso
          - enddate
          - productpath
          - startdate
          - syncdate
        pageCount: 30
        pageNumber: 0
        async: false
        notificationEmails:
          - any@fastspring.com
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/FilterRevenueReportRequest'
        reportColumns:
          type: array
          items:
            type: string
        groupBy:
          type: array
          items:
            type: string
        pageCount:
          type: integer
          minimum: 1
          maximum: 1000
          format: int32
        pageNumber:
          type: integer
          minimum: 0
          format: int32
        async:
          type: boolean
        notificationEmails:
          type: array
          items:
            type: string
    PostRevenueSyncResponse:
      title: PostRevenueSyncResponse
      example:
        report:
          - coupon: 10OFF
            company_name: FastSpring QA
            country_name: Colombia
            country_iso: CO
            return_true_false: false
        request:
          filter:
            startDate: '2022-01-01T00:00:00.000Z'
            endtDate: '2022-01-11T00:00:00.000Z'
            syncDate: '2022-01-01T00:00:00.000Z'
            productNames:
              - toxin product (toxin-product)
            productPaths:
              - toxin-product
            countryISO:
              - CO
          reportColumns:
            - Company_Name
            - Country_ISO
            - Country_Name
            - Coupon
          groupBy:
            - Company_Name
            - Country_ISO
            - Country_Name
          pageCount: 30
          pageNumber: 0
          async: false
          notificationEmails:
            - any@fastspring.com
    PostRevenueAsyncResponse:
      title: PostRevenueAsyncResponse
      example:
        id: JOBAKP3KVAHPFHMVMSPHFRS7OWJCI
        name: RevenueReport
        status: PROCESSING
        request:
          filter:
            startDate: '2020-01-01T00:00:00.000Z'
            endDate: '2020-01-11T00:00:00.000Z'
            syncDate: '2022-01-01T00:00:00.000Z'
            productNames:
              - toxin product (toxin-product)
            productPaths:
              - toxin-product
            countryISO:
              - CO
          groupBy:
            - Company_Name
            - Country_ISO
            - Country_Name
          reportColumns:
            - Company_Name
            - Country_ISO
            - Country_Name
            - Coupon
          pageCount: 30
          pageNumber: 0
          async: true
          notificationEmails:
            - any@fastspring.com
    PostRevenueResponseBad:
      title: PostRevenueResponseBad
      example:
        status: BAD_REQUEST
        timestamp: 31-08-2022 06:53:43
        id: FSPFTG5AL6ORDWRHDZLL5GUIZNAQX
        message: < fixed_fee_in_us > field is not valid
        details: null
        errors:
          - erroCode: invalid.field
            field: fixed_fee_in_us
            message: < fixed_fee_in_us > field is not valid
            rejectedValue: fixed_fee_in_us
    GetJobIdResponse:
      title: GetJobIdResponse
      example:
        id: JOBZNCFWNVJOZGBFBGBFFFTMEUBPM
        status: COMPLETE
        name: RevenueReport
        created: '2022-09-08T12:11:01.000Z'
        completeDate: '2022-09-08T12:12:35.000Z'
        downloadUrl: >-
          https://api.fastspring.com/data/v1/downloads/JOBZNCFWNVJOZGBFBGBFFFTMEUBPM
        notificationEmails:
          - any@fastspring.com
    GetJobIdResponseBad:
      title: GetJobIdResponseBad
      example:
        status: BAD_REQUEST
        timestamp: 31-08-2022 06:53:43
        id: FS2J43PGKSMNEG7LNV7AYLKPJND4
        message: Invalid JobId
        details: null
        errors:
          - erroCode: invalid
            field: jobId
            message: Invalid JobId
            rejectedValue: JOBZNCFWNVJOZGBFBGBFFFTMEUBP
    GetEventsResponseBad:
      title: GetEventsResponseBad
      example:
        action: events.get
        result: error
        error:
          begin: Can not parse begin
          end: Can not parse end.
          days: Can not parse days.
    GetJobsResponse:
      title: GetJobsResponse
      example:
        - id: JOBZNCFWNVJOZGBFBGBFFFTMEUBPMX
          status: COMPLETE
          name: RevenueReport
          created: '2022-09-08T12:11:01.000Z'
          completeDate: '2022-09-08T12:12:35.000Z'
          downloadUrl: >-
            https://api.fastspring.com/data/v1/downloads/JOBZNCFWNVJOZGBFBGBFFFTMEUBPM
          notificationEmails:
            - any@fastspring.com
        - id: JOBZHZNSFRSZVDHDHMWNRJU4D2QNM
          status: FAILED
          name: SubscriptionReport
          created: '2022-09-08T12:11:01.000Z'
          notificationEmails:
            - any@fastspring.com
    GetDownloadIdResponseBad:
      title: GetDownloadIdResponseBad
      example:
        status: BAD_REQUEST
        timestamp: 31-08-2022 06:53:43
        id: FS2J43PGKSMNEG7LNV7AYLKPJND4X
        message: Invalid JobId
        details: null
        errors:
          - erroCode: invalid
            field: jobId
            message: Invalid JobId
            rejectedValue: JOBZNCFWNVJOZGBFBGBFFFTMEUBP
    GetEventsResponse:
      title: GetEventsResponse
      example:
        action: events.get
        result: success
        page: null
        limit: null
        nextPage: null
        total: 0
        events:
          - id: 88qMx0P2RZCalzQ5ERXfXA
            processed: false
            created: 1542239788941
            type: payoutEntry.created
            live: false
            data:
              orderId: EGr98BxdQ-idUfSZf_g-gw
              reference: YES200314-8442-49161
              live: false
              order:
                order: EGr98BxdQ-idUfSZf_g-gw
                id: EGr98BxdQ-idUfSZf_g-gw
                reference: YES200314-8442-49161
                buyerReference: null
                completed: true
                changed: 1542239788922
                changedValue: 1542239788922
                changedInSeconds: 1542239788
                changedDisplay: 03/14/20
                language: en
                live: false
                currency: USD
                payoutCurrency: USD
                invoiceUrl: >-
                  https://youexamplestore.onfastspring.com/account/order/FUR181114-8442-49161/invoice
                account: N8FjcSWcQNeYCc-suM1O8g
                total: 59.99
                totalDisplay: $59.99
                totalInPayoutCurrency: 59.99
                totalInPayoutCurrencyDisplay: $59.99
                tax: 0
                taxDisplay: $0.00
                taxInPayoutCurrency: 0
                taxInPayoutCurrencyDisplay: $0.00
                subtotal: 59.99
                subtotalDisplay: $59.99
                subtotalInPayoutCurrency: 59.99
                subtotalInPayoutCurrencyDisplay: $59.99
                discount: 0
                discountDisplay: $0.00
                discountInPayoutCurrency: 0
                discountInPayoutCurrencyDisplay: $0.00
                discountWithTax: 0
                discountWithTaxDisplay: $0.00
                discountWithTaxInPayoutCurrency: 0
                discountWithTaxInPayoutCurrencyDisplay: $0.00
                billDescriptor: FS* fsprg.com
                payment:
                  type: test
                  cardEnding: '4242'
                customer:
                  first: Marcellus
                  last: Walrus
                  email: ne1@all.com
                  company: Acme, Inc.
                  phone: null
                address:
                  city: Santa Barbara
                  regionCode: CA
                  regionDisplay: California
                  region: California
                  postalCode: '93101'
                  country: US
                  display: Santa Barbara, California, 93101, US
                recipients:
                  - recipient:
                      first: Marcellus
                      last: Walrus
                      email: ne1@all.com
                      company: Acme, Inc.
                      phone: null
                      account: N8FjcSWcQNeYCc-suM1O8g
                      address:
                        city: Santa Barbara
                        regionCode: CA
                        regionDisplay: California
                        region: California
                        postalCode: '93101'
                        country: US
                        display: Santa Barbara, California, 93101, US
                notes: []
                items:
                  - product: example-product-1
                    quantity: 1
                    display: Example Product 1
                    sku: skuex1
                    subtotal: 59.99
                    subtotalDisplay: $59.99
                    subtotalInPayoutCurrency: 59.99
                    subtotalInPayoutCurrencyDisplay: $59.99
                    discount: 0
                    discountDisplay: $0.00
                    discountInPayoutCurrency: 0
                    discountInPayoutCurrencyDisplay: $0.00
                    fulfillments:
                      example-product-1_file_2:
                        - display: EXAMPLE.EXE
                          size: 129
                          file: >-
                            https://yourexamplestore.onfastspring.com/account/file/YES200314-8442-79162F
                          type: file
                      example-product-1_license_0:
                        - license: Example-aw0r5H3YKBf8w9FNSqI2
                          display: License Key
                          type: license
                      instructions: >-
                        Thank you for purchasing Example Product 1. To register,
                        please launch the trial version and select Help |
                        Register Example Product 1. Then, copy and paste the
                        license key above into the License Key field and click
                        Submit.
              account:
                id: N8FjcSWcQNeYCc-suM1O8g
                account: N8FjcSWcQNeYCc-suM1O8g
                contact:
                  first: Marcellus
                  last: Walrus
                  email: ne1@all.com
                  company: Acme, Inc.
                  phone: null
                language: en
                country: US
                lookup:
                  global: TVWhu0iwQhKJyuhpT_2yMw
                url: https://yourexamplestore.onfastspring.com/account
              subscriptions: []
              subtractions:
                tax:
                  currency: USD
                  amount: 0
                  percentage: 0
                fastspring:
                  currency: USD
                  amount: 5.3391
                  percentage: 8.9
              payouts:
                - payee: exmaplepayee
                  currency: USD
                  payout: '54.65'
                  subtotal: 54.65
                  total: '59.99'
            event: 88qMx0P2RZCalzQ5ERXfXA
          - id: f_4YLUhbTPyaFhFPMKncWQ
            processed: false
            created: 1542239789431
            type: order.completed
            live: false
            data:
              order: EGr98BxdQ-idUfSZf_g-gw
              id: EGr98BxdQ-idUfSZf_g-gwX
              reference: YES200314-8442-49161
              buyerReference: null
              completed: true
              changed: 1542239788922
              changedValue: 1542239788922
              changedInSeconds: 1542239788
              changedDisplay: 03/14/20
              language: en
              live: false
              currency: USD
              payoutCurrency: USD
              invoiceUrl: >-
                https://yourexamplestore.onfastspring.com/account/order/YES200314-8442-49161/invoice
              account:
                id: N8FjcSWcQNeYCc-suM1O8gX
                account: N8FjcSWcQNeYCc-suM1O8g
                contact:
                  first: Marcellus
                  last: Walrus
                  email: ne1@all.com
                  company: Acme, Inc.
                  phone: null
                language: en
                country: US
                lookup:
                  global: TVWhu0iwQhKJyuhpT_2yMw
                url: https://yourexamplestore.onfastspring.com/account
              total: 59.99
              totalDisplay: $59.99
              totalInPayoutCurrency: 59.99
              totalInPayoutCurrencyDisplay: $59.99
              tax: 0
              taxDisplay: $0.00
              taxInPayoutCurrency: 0
              taxInPayoutCurrencyDisplay: $0.00
              subtotal: 59.99
              subtotalDisplay: $59.99
              subtotalInPayoutCurrency: 59.99
              subtotalInPayoutCurrencyDisplay: $59.99
              discount: 0
              discountDisplay: $0.00
              discountInPayoutCurrency: 0
              discountInPayoutCurrencyDisplay: $0.00
              discountWithTax: 0
              discountWithTaxDisplay: $0.00
              discountWithTaxInPayoutCurrency: 0
              discountWithTaxInPayoutCurrencyDisplay: $0.00
              billDescriptor: FS* fsprg.com
              payment:
                type: test
                cardEnding: '4242'
              customer:
                first: Marcellus
                last: Walrus
                email: ne1@all.com
                company: Acme, Inc.
                phone: null
              address:
                city: Santa Barbara
                regionCode: CA
                regionDisplay: California
                region: California
                postalCode: '93101'
                country: US
                display: Santa Barbara, California, 93101, US
              recipients:
                - recipient:
                    first: Marcellus
                    last: Walrus
                    email: ne1@all.com
                    company: Acme, Inc.
                    phone: null
                    account:
                      id: N8FjcSWcQNeYCc-suM1O8gX
                      account: N8FjcSWcQNeYCc-suM1O8g
                      contact:
                        first: Marcellus
                        last: Walrus
                        email: ne1@all.com
                        company: Acme, Inc.
                        phone: null
                      language: en
                      country: US
                      lookup:
                        global: TVWhu0iwQhKJyuhpT_2yMw
                      url: https://yourexamplestore.onfastspring.com/account
                    address:
                      city: Santa Barbara
                      regionCode: CA
                      regionDisplay: California
                      region: California
                      postalCode: '93101'
                      country: US
                      display: Santa Barbara, California, 93101, US
              notes: []
              items:
                - product: example-product-1
                  quantity: 1
                  display: Example Product 1
                  sku: skuex1
                  subtotal: 59.99
                  subtotalDisplay: $59.99
                  subtotalInPayoutCurrency: 59.99
                  subtotalInPayoutCurrencyDisplay: $59.99
                  discount: 0
                  discountDisplay: $0.00
                  discountInPayoutCurrency: 0
                  discountInPayoutCurrencyDisplay: $0.00
                  fulfillments:
                    example-product-1_file_2:
                      - display: EXAMPLE.EXE
                        size: 129
                        file: >-
                          https://yourexamplestore.onfastspring.com/account/file/YES200314-8442-79162F
                        type: file
                    example-product-1_license_0:
                      - license: Example-aw0r5H3YKBf8w9FNSqI2
                        display: License Key
                        type: license
                    instructions: >-
                      Thank you for purchasing Example Product 1. To register,
                      please launch the trial version and select Help | Register
                      Examle Product 1. Then, copy and paste the license key
                      above into the License Key field and click Submit.
            event: f_4YLUhbTPyaFhFPMKncWQ
          - id: ik6eEaJHSlC-_ML8xzW5RQ
            processed: false
            created: 1542240018122
            type: mailingListEntry.updated
            live: false
            data:
              id: 0cb4fdfbcf39be1eb6dd6c2032c8397fb7b60f604ba6094c6b261323a7641226
              list: subscribed
              updated: 1542239788792
              reason: subscribed
              order:
                reference: YES200314-8442-49161
                id: EGr98BxdQ-idUfSZf_g-gwX
                order: EGr98BxdQ-idUfSZf_g-gw
                items:
                  - summary: This is the **Summary** for Example Product 1
                    product: example-product-1
                    quantity: 1
                    display: Example Product 1
                    imageUrl: >-
                      https://d8y8nchqlnmka.cloudfront.net/VTetZH1kQD8/x4CxtvLjTBo/example-box.png
              email: ne1@all.com
              firstName: Marcellus
              lastName: Walrus
              country: US
              currency: USD
              language: en
              storefront: yourexamplestore
            event: ik6eEaJHSlC-_ML8xzW5RQ
        more: true
    GetCouponCodesRequest:
      title: GetCouponCodesRequest
      example:
        codes:
          - code1
          - code2
    GetCouponCodesResponse:
      title: GetCouponCodesResponse
      example:
        coupon: AXL
        codes:
          - AXL1
    GetCouponsDetailsResponse:
      title: GetCouponsDetailsResponse
      example:
        coupon: blackfriday
        discount:
          type: percent
          percent: 20
        combine: false
        reason:
          en: Holiday Savings!
        limit: '1'
        available:
          start: 2018-11-01 00:00
          end: 2018-12-25 22:59
        codes:
          - 0793PE2TSK
          - 0BXB6NMMCT
        products: []
    PostReturnsRequest:
      title: PostReturnsRequest
      example:
        returns:
          - order: 17VblT1XR1aAnIIScCgpfw
            reason: DUPLICATE_ORDER
            note: As requested by customer
            notification: ORIGINAL
    PostReturnsResponse:
      title: PostReturnsResponse
      example:
        returns:
          - return: JV8jCQrJT1GD7yndYgrorw
            reference: FUR191003-4739-52106X
            completed: true
            changed: 1570130905372
            changedValue: 1570130905372
            changedInSeconds: 1570130905
            changedDisplay: 10/3/19
            live: true
            account: 2-hl9JWwQrualioCsY5lbg
            currency: USD
            payoutCurrency: USD
            totalReturn: 5.31
            totalReturnDisplay: $5.31
            totalReturnInPayoutCurrency: 5.31
            totalReturnInPayoutCurrencyDisplay: $5.31
            tax: 0.36
            taxDisplay: $0.36
            taxInPayoutCurrency: 0.36
            taxInPayoutCurrencyDisplay: $0.36
            subtotal: 4.95
            subtotalDisplay: $4.95
            subtotalInPayoutCurrency: 4.95
            subtotalInPayoutCurrencyDisplay: $4.95
            totalRefundInPayoutCurrency: 5.31
            payment:
              type: creditcard
              creditcard: visa
              cardEnding: '0369'
            reason: DUPLICATE_ORDER
            note: As requested by customer
            original:
              id: kfPW5xbyTG-TuivKhtZYrA
              order: kfPW5xbyTG-TuivKhtZYrA
              reference: FUR191003-8210-23117
              account: 2-hl9JWwQrualioCsY5lbg
              currency: USD
              payoutCurrency: USD
              total: 5.31
              totalDisplay: $5.31
              totalInPayoutCurrency: 5.31
              totalInPayoutCurrencyDisplay: $5.31
              tax: 0.36
              taxDisplay: $0.36
              taxInPayoutCurrency: 0.36
              taxInPayoutCurrencyDisplay: $0.36
              subtotal: 4.95
              subtotalDisplay: $4.95
              subtotalInPayoutCurrency: 4.95
              subtotalInPayoutCurrencyDisplay: $4.95
              notes: []
            customer:
              first: Leeroy
              last: Jenkins
              email: ne1@all.com
              company: null
              phone: null
            items:
              - product: eggs
                quantity: 1
                display: Eggs
                sku: falcon1
                subtotal: 4.95
                subtotalDisplay: $4.95
                subtotalInPayoutCurrency: 4.95
                subtotalInPayoutCurrencyDisplay: $4.95
                attributes:
                  conditions: '{exclude:{countries:[''AT'',''GB'']}}'
            action: return.create
            result: success
    GetReturnsResponse:
      title: GetReturnsResponse
      example:
        returns:
          - return: QpMoe70PT5mMb5OMT4N5lA
            reference: SUD160811-6921-74128X
            completed: true
            changed: 1470953997043
            changedValue: 1470953997043
            changedInSeconds: 1470953997
            changedDisplay: 8/11/16
            live: false
            account: _sOMzG2pSIyAeWXkcoNgUA
            currency: USD
            payoutCurrency: USD
            totalReturn: 10
            totalReturnDisplay: $10.00
            totalReturnInPayoutCurrency: 10
            totalReturnInPayoutCurrencyDisplay: $10.00
            tax: 0
            taxDisplay: $0.00
            taxInPayoutCurrency: 0
            taxInPayoutCurrencyDisplay: $0.00
            subtotal: 10
            subtotalDisplay: $10.00
            subtotalInPayoutCurrency: 10
            subtotalInPayoutCurrencyDisplay: $10.00
            totalRefundInPayoutCurrency: 10
            payment:
              type: test
              cardEnding: '4242'
            reason: Product Not Received
            note: Note during the refund of the order(Canceling The Subscription)
            type: RETURN
            original:
              id: embMdXyCQZinGxkk2v85GA
              order: embMdXyCQZinGxkk2v85GA
              reference: SUD160811-1752-43151
              account: _sOMzG2pSIyAeWXkcoNgUA
              currency: USD
              payoutCurrency: USD
              total: 10
              totalDisplay: $10.00
              totalInPayoutCurrency: 10
              totalInPayoutCurrencyDisplay: $10.00
              tax: 0
              taxDisplay: $0.00
              taxInPayoutCurrency: 0
              taxInPayoutCurrencyDisplay: $0.00
              subtotal: 10
              subtotalDisplay: $10.00
              subtotalInPayoutCurrency: 10
              subtotalInPayoutCurrencyDisplay: $10.00
              notes:
                - note: Before canceling the subscription
                  creator: admin@yourexamplestore.com
              subscriptions:
                - RPN1Bp62Q3mEXloZvxUxmg
            customer:
              first: Test
              last: Order
              email: test@tes.com
              company: Test
              phone: '1234567890'
            items:
              - product: newtestsuborder
                quantity: 1
                display: newtestsuborder
                sku: null
                subtotal: 10
                subtotalDisplay: $10.00
                subtotalInPayoutCurrency: 10
                subtotalInPayoutCurrencyDisplay: $10.00
                subscription: RPN1Bp62Q3mEXloZvxUxmg
            action: return.get
            result: success
    PauseSubscriptionRequest:
      title: PauseSubscriptionRequest
      properties:
        pausePeriodCount:
          type: integer
          format: int32
      example:
        - pausePeriodCount: 2
    PauseSubscriptionResponse:
      title: PauseSubscriptionResponse
      example:
        id: fPNQtjeSTOW0-tfaiyW6cA
        quote: null
        subscription: fPNQtjeSTOW0-tfaiyW6cA
        active: true
        state: active
        isSubscriptionEligibleForPauseByBuyer: false
        isPauseScheduled: true
        changed: 1659631759255
        changedValue: 1659631759255
        changedInSeconds: 1659631759
        changedDisplay: 8/4/22
        changedDisplayISO8601: '2022-08-04'
        live: false
        currency: USD
        account: auqeDztxSrG_brzKUlZGng
        product: monthly-prodsub-digauto
        sku: null
        display: Monthly prodSub DigAuto
        quantity: 1
        adhoc: false
        autoRenew: true
        price: 100
        priceDisplay: $100.00
        priceInPayoutCurrency: 100
        priceInPayoutCurrencyDisplay: $100.00
        discount: 0
        discountDisplay: $0.00
        discountInPayoutCurrency: 0
        discountInPayoutCurrencyDisplay: $0.00
        subtotal: 100
        subtotalDisplay: $100.00
        subtotalInPayoutCurrency: 100
        subtotalInPayoutCurrencyDisplay: $100.00
        next: 1672790400000
        nextValue: 1672790400000
        nextInSeconds: 1672790400
        nextDisplay: 1/4/23
        nextDisplayISO8601: '2023-01-04'
        end: null
        endValue: null
        endInSeconds: null
        endDisplay: null
        endDisplayISO8601: null
        canceledDate: null
        canceledDateValue: null
        canceledDateInSeconds: null
        canceledDateDisplay: null
        canceledDateDisplayISO8601: null
        deactivationDate: null
        deactivationDateValue: null
        deactivationDateInSeconds: null
        deactivationDateDisplay: null
        deactivationDateDisplayISO8601: null
        sequence: 1
        periods: null
        remainingPeriods: null
        begin: 1659571200000
        beginValue: 1659571200000
        beginInSeconds: 1659571200
        beginDisplay: 8/4/22
        beginDisplayISO8601: '2022-08-04'
        intervalUnit: month
        intervalLength: 1
        nextChargeCurrency: USD
        nextChargeDate: 1672790400000
        nextChargeDateValue: 1672790400000
        nextChargeDateInSeconds: 1672790400
        nextChargeDateDisplay: 1/4/23
        nextChargeDateDisplayISO8601: '2023-01-04'
        nextChargePreTax: 100
        nextChargePreTaxDisplay: $100.00
        nextChargePreTaxInPayoutCurrency: 100
        nextChargePreTaxInPayoutCurrencyDisplay: $100.00
        nextChargeTotal: 100
        nextChargeTotalDisplay: $100.00
        nextChargeTotalInPayoutCurrency: 100
        nextChargeTotalInPayoutCurrencyDisplay: $100.00
        paymentOverdue:
          intervalUnit: week
          intervalLength: 1
          total: 4
          sent: 0
        cancellationSetting:
          cancellation: AFTER_LAST_NOTIFICATION
          intervalUnit: week
          intervalLength: 1
        pauseDate: 1667520000000
        pauseDateValue: 1667520000000
        pauseDateInSeconds: 1667520000
        pauseDateDisplay: 11/4/22
        pauseDateDisplayISO8601: '2022-11-04'
        resumeDate: 1672790400000
        resumeDateValue: 1672790400000
        resumeDateInSeconds: 1672790400
        resumeDateDisplay: 1/4/23
        resumeDateDisplayISO8601: '2023-01-04'
        fulfillments: {}
        instructions:
          - product: monthly-prodsub-digauto
            type: regular
            periodStartDate: null
            periodStartDateValue: null
            periodStartDateInSeconds: null
            periodStartDateDisplay: null
            periodStartDateDisplayISO8601: null
            periodEndDate: null
            periodEndDateValue: null
            periodEndDateInSeconds: null
            periodEndDateDisplay: null
            periodEndDateDisplayISO8601: null
            intervalUnit: month
            intervalLength: 1
            discountPercent: 0
            discountPercentValue: 0
            discountPercentDisplay: 0%
            discountTotal: 0
            discountTotalDisplay: $0.00
            discountTotalInPayoutCurrency: 0
            discountTotalInPayoutCurrencyDisplay: $0.00
            unitDiscount: 0
            unitDiscountDisplay: $0.00
            unitDiscountInPayoutCurrency: 0
            unitDiscountInPayoutCurrencyDisplay: $0.00
            price: 100
            priceDisplay: $100.00
            priceInPayoutCurrency: 100
            priceInPayoutCurrencyDisplay: $100.00
            priceTotal: 100
            priceTotalDisplay: $100.00
            priceTotalInPayoutCurrency: 100
            priceTotalInPayoutCurrencyDisplay: $100.00
            unitPrice: 100
            unitPriceDisplay: $100.00
            unitPriceInPayoutCurrency: 100
            unitPriceInPayoutCurrencyDisplay: $100.00
            total: 100
            totalDisplay: $100.00
            totalInPayoutCurrency: 100
            totalInPayoutCurrencyDisplay: $100.00
        initialOrderId: fEMc5woCSlWSwpL3u9-B9A
        initialOrderReference: KEV220804-8637-55123
        action: subscriptions.pause.get
        result: success
    PauseSubscriptionErrorResponse:
      title: PauseSubscriptionErrorResponse
      example:
        action: subscriptions.pause
        result: error
        error:
          subscription.pause: Invalid number of Periods.
    ResumeSubscriptionErrorResponse:
      title: ResumeSubscriptionErrorResponse
      example:
        action: subscriptions.resume
        result: error
        error:
          subscription.resume: Unable to find subscription.
    ChargeSubscriptionRequest:
      title: ChargeSubscriptionRequest
      example:
        subscriptions:
          - subscription: subscription-id
    ChargeSubscriptionResponse:
      title: ChargeSubscriptionResponse
      example:
        subscription:
          - subscription: subscription-id-1
            action: subscription.charge
            result: success
    ChargeSubscriptionResponseBad:
      title: ChargeSubscriptionResponseBad
      example:
        subscription:
          - subscription: subscription-id-2
            action: subscription.charge
            result: error
            error:
              subscription: >-
                Only 1 successful rebill per day and 4 successful rebills per 30
                days allowed.
    SubscriptionChargeErrorResponse:
      title: SubscriptionChargeErrorResponse
      example:
        subscription: subscription-id
        action: subscription.charge
        result: error
        error:
          subscription: EXPIRED_CARD
    SubscriptionCancelErrorResponse:
      title: SubscriptionCancelErrorResponse
      example:
        subscription: subscription-id
        action: subscription.cancel
        result: error
        error:
[...]
