openapi: 3.0.0
info:
  title: BANKS/Connect API Reference
  description: ''
  version: '2.0'
  contact: {}
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://banksapi.io
    variables: {}
tags:
  - name: Auth
  - name: Customer Bank Access
  - name: Customer Payment
  - name: Providers
  - name: Customer Bank Access Consent
  - name: Customer Bank Access Payment
  - description: >-
      Legacy endpoints, that will be replaced by the endpoints in 'Customer
      Payment'
    name: Customer Ueberweisung
  - name: Customer Consent
  - name: Customer REG/Protect
  - name: Customer Bank Access Builder
  - name: Customer
  - name: Encrypt
paths:
  /auth/mgmt/v1/tenants/{tenant-name}/users:
    post:
      tags:
        - Auth
      summary: Create User
      operationId: Auth_createTenantUser
      description: >-
        Creates a technical user corresponding (one-to-one) a tenant's user.
        Users are needed to use BANKSapi's core features like adding accounts or
        performing payments. After creating a user, they're automatically
        activated.
      parameters:
        - $ref: '#/components/parameters/tenant-name'
      requestBody:
        $ref: '#/components/requestBodies/CreateUser'
      responses:
        '201':
          description: >-
            Returns with a location header under which the user data can be
            retrieved.
          headers:
            Location:
              schema:
                type: string
                example: >-
                  https://banksapi.io/auth/tenants/demo/users/8fb65b0e-9418-412d-9865-b960ef81b43f
      deprecated: false
    get:
      tags:
        - Auth
      summary: Get Users
      operationId: Auth_getActivatedUsers
      description: Get all activated users
      parameters:
        - $ref: '#/components/parameters/tenant-name'
        - description: Whether or not to also include inactive users
          name: includeInactive
          in: query
          schema:
            type: boolean
            example: true
            default: false
      responses:
        '200':
          description: Returns an array of User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthGetActivatedUsersResponse'
              example:
                - userReference: 1c5b33f6-9c4d-11e6-ba80-480fcfb9550f
                  username: demo-user
      deprecated: false
  /auth/oauth2/token:
    post:
      tags:
        - Auth
      summary: Create Token
      operationId: Auth_createToken
      security:
        - basicAuth: []
      description: >-
        Creates a client or user token valid for 24 hours. Client tokens are
        needed for administrative use cases such as creating users. User tokens
        are needed when creating or querying banking accounts.
      requestBody:
        description: The request body contains form object with following parameters
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateToken'
            example:
              grant_type: client_credentials
              scope: http://banksapi.io/provider/read
        required: true
      responses:
        '200':
          description: Returns token object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
              example:
                scope: >-
                  http://banksapi.io/customer/read
                  http://banksapi.io/customer/modify
                tenant: demo
                client: demo-client
                user: 1fad71ee-6dbf-49c7-9cb2-fff588de011f
                additionalData:
                  username: demouser
                validTo: '2021-10-16T10:46:47.000Z'
                access_token: 0defaced-1337-d00d-c0de-face8badcafe
                token_type: Bearer
        '401':
          description: >-
            The basic authorization header was not sent or the value was
            incorrect.
      deprecated: false
  /auth/mgmt/v1/tenants:
    get:
      tags:
        - Auth
      summary: Get Tenants
      operationId: Auth_getTenants
      description: Get all tenants
      responses:
        '200':
          description: Returns an array of Tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthGetTenantsResponse'
              example:
                - description: A Tenant for demonstration purposes
                  name: demo
      deprecated: false
  /auth/mgmt/v1/tenants/{tenant-name}/users/{user-id}:
    get:
      tags:
        - Auth
      summary: Get User
      operationId: Auth_getActivatedUser
      description: This function can be used to retrieve a single activated user.
      parameters:
        - $ref: '#/components/parameters/tenant-name'
        - $ref: '#/components/parameters/user-id'
      responses:
        '200':
          description: Returns a User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                userReference: 1c5b33f6-9c4d-11e6-ba80-480fcfb9550f
                username: demo-user
      deprecated: false
    delete:
      tags:
        - Auth
      summary: Delete User
      operationId: Auth_deleteUser
      description: Deletes a single user. The user must be deactivated beforehand.
      parameters:
        - $ref: '#/components/parameters/tenant-name'
        - $ref: '#/components/parameters/user-id'
        - description: Reference type of user ID ("id" (default) or "username")
          name: reftype
          in: query
          schema:
            type: string
            example: username
      responses:
        '200':
          description: Returns HTTP status of 200 (OK)
        '405':
          description: >-
            Returns HTTP status of 405 (Method Not Allowed) if user has not been
            deactivated.
    put:
      tags:
        - Auth
      summary: Change user details
      operationId: Auth_changeUserDetails
      description: Changes user details, such as username, first name or last name
      parameters:
        - $ref: '#/components/parameters/tenant-name'
        - $ref: '#/components/parameters/user-id'
        - description: Reference type of user ID ("id" (default) or "username")
          name: reftype
          in: query
          schema:
            type: string
            example: username
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeUserDetails'
            example:
              username: demouser
              firstname: demo
              lastname: user
      responses:
        '200':
          description: Change successful
        '409':
          description: Username already exists
  /auth/mgmt/v1/tenants/{tenant-name}/users/{user-id}/deactivate:
    put:
      tags:
        - Auth
      summary: Deactivate User
      operationId: Auth_deactivateUser
      description: Deactivates a single user
      parameters:
        - $ref: '#/components/parameters/tenant-name'
        - $ref: '#/components/parameters/user-id'
        - description: Reference type of user ID ("id" (default) or "username")
          name: reftype
          in: query
          schema:
            type: string
            example: username
      responses:
        '200':
          description: Returns HTTP status of 200 (OK)
      deprecated: false
  /auth/mgmt/v1/tenants/{tenant-name}/users/{user-id}/reactivate:
    post:
      tags:
        - Auth
      summary: Reactivate User
      operationId: Auth_reactivateUser
      description: Reactivate a single deactivated user
      parameters:
        - $ref: '#/components/parameters/tenant-name'
        - $ref: '#/components/parameters/user-id'
        - description: Reference type of user ID ("id" (default) or "username")
          name: reftype
          in: query
          schema:
            type: string
            example: username
      requestBody:
        $ref: '#/components/requestBodies/CreateUser'
      responses:
        '200':
          description: Returns HTTP status of 200 (OK)
      deprecated: false
  /auth/oauth2/revoke:
    post:
      tags:
        - Auth
      summary: Revoke Token
      operationId: Auth_revokeToken
      security:
        - basicAuth: []
      description: >-
        To revoke a token, the user token is sent to the URL
        `https://banksapi.io/auth/oauth2/revoke` via a POST request.
      requestBody:
        description: The request body contains form object with following parameters
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthRevokeTokenRequest'
            example:
              token: 0defaced-1337-d00d-c0de-face8badcafe
        required: true
      responses:
        '200':
          description: Returns HTTP status of 200 (OK)
      deprecated: false
  /auth/oauth2/introspect:
    get:
      tags:
        - Auth
      summary: Introspect Token
      operationId: Auth_tokenInfo
      security: []
      description: Returns information about a token
      parameters:
        - description: The Token to introspect
          name: token
          in: query
          required: true
          schema:
            type: string
            format: uuid
            example: 0defaced-1337-d00d-c0de-face8badcafe
      responses:
        '200':
          description: Returns token object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
              example:
                scope: >-
                  http://banksapi.io/customer/read
                  http://banksapi.io/customer/modify
                tenant: demo
                client: demo-client
                user: CN=Demo User,OU=Personal,DC=banksapi,DC=io
                additionalData:
                  username: demouser
                validTo: '2021-10-16T10:46:47.000Z'
                access_token: 0defaced-1337-d00d-c0de-face8badcafe
                token_type: Bearer
        '400':
          description: No token was provided.
        '401':
          description: >-
            The basic authorization header was not sent or the value was
            incorrect.
        '403':
          description: The provided token is not valid.
      deprecated: false
  /encrypt:
    put:
      tags:
        - Encrypt
      summary: Encrypt plaintexts
      operationId: Encrypt_plaintext
      description: >-
        Encrypt a given plaintext for the tenant identified by the given bearer
        token.
      requestBody:
        description: Plaintext to encrypt encoded in Base64
        content:
          application/octet-stream+base64:
            schema:
              $ref: '#/components/schemas/EncryptPlaintextRequest'
            example: aGCZBgX ... 8Fi7xMQ=
        required: true
      responses:
        '200':
          description: Ciphertext (encrypted plaintext) encoded in Base64
          content:
            application/octet-stream+base64:
              schema:
                $ref: '#/components/schemas/EncryptPlaintextResponse'
              example: aGCZBgX ... 8Fi7xMQ=
  /providers/v2:
    get:
      tags:
        - Providers
      summary: Get Providers
      operationId: Providers_getAll
      description: Retrieve a list of and information for all providers.
      responses:
        '200':
          description: Returns an array of providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersGetAllResponse'
              example:
                - id: 00000000-0000-0000-0000-000000000000
                  name: Demo Provider
                  consumerRelevant: true
                  group: demo
                  blz: '12345678'
                  bic: DEMO1234
                  relations:
                    - rel: self
                      href: >-
                        https://banksapi.io/providers/v2/00000000-0000-0000-0000-000000000000
                    - rel: logo
                      href: https://banksapi.io/providers/v2/demo.svg
                  capabilities:
                    - KONTEN
                    - KARTEN
                    - DEPOTS
                  channels:
                    - - GIROKONTO
                    - - KREDITKARTE
                      - TAGESGELDKONTO
                  authenticationInfo:
                    loginHint: >-
                      Der Demo Provider bietet drei Zugänge demo1/demo1,
                      demo2/demo2 und demo3/demo3
                    fields:
                      - fieldkey: userid
                        label: Demo-User
                        secret: false
                        hint: demo1, demo2 oder demo3
                        format: ^.{1,50}$
                      - fieldkey: pin
                        label: Demo-Passwort
                        secret: true
                        hint: demo1, demo2 oder demo3
                        format: ^.{1,50}$
      deprecated: false
  /providers/v2/coredata:
    get:
      tags:
        - Providers
      summary: Get Providers core data
      operationId: Providers_listCoreData
      description: Retrieve a list of core data for all providers.
      parameters:
        - description: Filter providers by capability
          name: capability
          in: query
          required: false
          schema:
            type: string
            enum:
              - KONTEN
              - KARTEN
              - DEPOTS
              - BAUSPAR
      responses:
        '200':
          description: Returns an array of core data for providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersListCoreDataResponse'
              example:
                - id: 00000000-0000-0000-0000-000000000000X
                  name: Demo Provider
                  group: demo
                  blz: '12345678'
                  bic: DEMO1234
                  logo: https://banksapi.io/providers/v2/demo.svg
      deprecated: false
  /providers/v2/statistics/jobs:
    get:
      tags:
        - Providers
      summary: Get Providers job statistics
      operationId: Providers_getJobStatistics
      description: >-
        Retrieve a list of provider logos with statistical data about the data
        jobs. If there were no successful data jobs or no data jobs at all in
        the specified time period, no entry is returned for the corresponding
        logo.
      parameters:
        - description: >-
            Specifies the number of past days for fetching job statistics. When
            used together with "hours", their values are summed. If none of the
            parameters are specified, 2 hours are fetched.
          name: days
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Specifies the number of past hours for fetching job statistics. When
            used together with "days", their values are summed. If none of the
            parameters are specified, 2 hours are fetched.
          name: hours
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: If only EBICS jobs should be considered for the response.
          name: ebics
          in: query
          required: false
          schema:
            type: boolean
            example: false
        - description: >-
            If only provider logos with at least one job including a strong
            customer authentication (SCA) should be considered for the response.
            In case of `false` it will not be checked whether there was an SCA
            or not.
          name: sca
          in: query
          required: false
          schema:
            type: boolean
            example: false
      responses:
        '200':
          description: Returns a list of job statistics for providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersGetJobStatisticsResponse'
              example:
                - logo: demo
                  latestSuccessDate: '2023-09-20T11:21:02.000Z'
                  averageDuration: 29962
                  successRate: 1
                - logo: sparkasse
                  latestSuccessDate: '2023-09-20T11:28:57.000Z'
                  averageDuration: 54186
                  successRate: 0.99
      deprecated: false
  /providers/v2/{provider-id}:
    get:
      tags:
        - Providers
      summary: Get Provider
      operationId: Providers_getInformation
      description: Retrieve information for a specific provider.
      parameters:
        - $ref: '#/components/parameters/provider-id'
      responses:
        '200':
          description: Returns a single provider object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
              example:
                id: 00000000-0000-0000-0000-000000000000X
                name: Demo Provider
                consumerRelevant: true
                group: demo
                blz: '12345678'
                bic: DEMO1234
                relations:
                  - rel: self
                    href: >-
                      https://banksapi.io/providers/v2/00000000-0000-0000-0000-000000000000
                  - rel: logo
                    href: https://banksapi.io/providers/v2/demo.svg
                capabilities:
                  - KONTEN
                  - KARTEN
                  - DEPOTS
                channels:
                  - - GIROKONTO
                  - - KREDITKARTE
                    - TAGESGELDKONTO
                authenticationInfo:
                  loginHint: >-
                    Der Demo Provider bietet drei Zugänge demo1/demo1,
                    demo2/demo2 und demo3/demo3
                  fields:
                    - fieldkey: userid
                      label: Demo-User
                      secret: false
                      hint: demo1, demo2 oder demo3
                      format: ^.{1,50}$
                    - fieldkey: pin
                      label: Demo-Passwort
                      secret: true
                      hint: demo1, demo2 oder demo3
                      format: ^.{1,50}$
          links:
            self:
              $ref: '#/components/links/self'
            logo:
              description: Provider logo in SVG format
        '404':
          description: >-
            If the URL does not point to a provider, you will get the HTTP
            status 404 (Not found).
      deprecated: false
  /providers/v2/{provider-id}/ebics:
    get:
      tags:
        - Providers
      summary: Get Provider EBICS Info
      operationId: Providers_getEbicsInfo
      description: Retrieve EBICS information for a specific provider (if available).
      parameters:
        - $ref: '#/components/parameters/provider-id'
      responses:
        '200':
          description: Returns an EBICS info object for a specific provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderEbicsInfo'
              example:
                hostId: HOSTIDXY
                hostUrl: https://ebics.bank.com/ebics
        '404':
          description: >-
            If the URL does not point to a provider, you will get the HTTP
            status 404 (Not found).
      deprecated: false
  /customer/v2:
    get:
      tags:
        - Customer
      summary: Get Customer
      operationId: Customer_getObject
      description: >-
        Retrieves the customer object for the authenticated user. It is also the
        entry point to the deeper functions of the interface.
      responses:
        '200':
          description: Returns customer object of the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                bankzugaenge:
                  4000fda7-18af-463f-b694-bbafe5d23a48:
                    messages:
                      - level: INFO
                        code: BA3010
                        message: SCA benötigt
                        details: Bitte wählen Sie eine SCA-Methode aus
                    sicherheitsverfahren:
                      - kodierung: 980
                        name: mTAN
                        hinweis: mTAN
                      - name: SMS_OTP
                        kodierung: '942'
                        hinweis: SMS OTP
                    relations:
                      - rel: startSCA
                        href: >-
                          https://banksapi.io/v2/customer/consent/1345340218050910215PSDDE-BAFIN-152070CO4960JJ
                relations:
                  - rel: self
                    href: https://banksapi.io/customer/v2
                  - rel: get_bankzugaenge
                    href: https://banksapi.io/customer/v2/bankzugaenge
                  - rel: add_bankzugaenge
                    href: https://banksapi.io/customer/v2/bankzugaenge
                  - rel: delete_bankzugaenge
                    href: https://banksapi.io/customer/v2/bankzugaenge
          links:
            self:
              $ref: '#/components/links/self'
            get_bankzugaenge:
              $ref: '#/components/links/get_bankzugaenge'
            add_bankzugaenge:
              $ref: '#/components/links/add_bankzugaenge'
            delete_bankzugaenge:
              $ref: '#/components/links/delete_bankzugaenge'
            delete_regprotect_sessions:
              $ref: '#/components/links/delete_regprotect_sessions'
            get_contracts:
              $ref: '#/components/links/get_contracts'
            get_sales_triggers:
              $ref: '#/components/links/get_sales_triggers'
            get_life_events:
              $ref: '#/components/links/get_life_events'
            get_life_stages:
              $ref: '#/components/links/get_life_stages'
            get_cashflow:
              $ref: '#/components/links/get_cashflow'
            get_credit_check:
              $ref: '#/components/links/get_credit_check'
            get_disposable_money:
              $ref: '#/components/links/get_disposable_money'
            get_affinities:
              $ref: '#/components/links/get_affinities'
            get_credit_attributes:
              $ref: '#/components/links/get_credit_attributes'
            get_tagging_rules:
              $ref: '#/components/links/get_tagging_rules'
            delete_tagging_rules:
              $ref: '#/components/links/delete_tagging_rules'
            add_tagging_rules:
              $ref: '#/components/links/add_tagging_rules'
      deprecated: false
  /customer/v2/bankzugaenge:
    post:
      tags:
        - Customer Bank Access
      summary: Add Bank Access
      operationId: CustomerBankAccess_addBankAccess
      description: Adds a bank access for the given user and set of credentials.
      parameters:
        - $ref: '#/components/parameters/customer-ip-address'
        - $ref: '#/components/parameters/callbackUrl'
        - description: >-
            If the bank access already exists, regardless of the **background**
            update, all revenues and information are retrieved by the provider,
            if true
          name: refresh
          in: query
          required: false
          schema:
            type: boolean
            example: false
        - $ref: '#/components/parameters/queryTanSettings'
        - description: >-
            Flag to solely fetch header data of the account without balances and
            transactions (e.g. to get the list of selectable bank products). If
            this flag is `true` the flag `sync` in the request payload has to be
            `false` and no `selectedBankProducts` can be specified.
          name: headOnly
          in: query
          required: false
          schema:
            type: boolean
            example: true
        - description: Indicator if transactions older than 90 days should be fetched.
          name: maxTransactions
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/MaxTransactions'
        - description: >-
            Flag to solely fetch payment accounts. Other accounts will be
            ignored, which can result in fewer SCAs.
          name: paymentAccountsOnly
          in: query
          required: false
          schema:
            type: boolean
            example: true
      requestBody:
        description: >-
          The body contains information about the bank access. REG/Hosting
          tenants need to provide credentials in case this is not a
          "refresh"-request. In case of a REG/Protect tenant or a
          "refresh"-request the value for the access-id-key should be an empty
          object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBankAccess'
            example:
              815251d6-c062-4f61-bec0-182bc14a48fb:
                providerId: 00000000-0000-0000-0000-000000000000
                credentials:
                  userid: mOd2uKYr+2 ... TWOPCAt5zP
                  pin: Hhnc+aW/eM ... 7F+XRSHasW
                sync: true
                selectedBankProducts:
                  - DE00123456789012345679
        required: true
      responses:
        '201':
          $ref: '#/components/responses/bankAccessCreated'
        '451':
          $ref: '#/components/responses/regprotect'
        '504':
          description: The started request could not be answered in the given time
      deprecated: false
    get:
      tags:
        - Customer Bank Access
      summary: Get Bank Accesses
      operationId: CustomerBankAccess_getAll
      description: Retrieves all bank accesses for this user.
      responses:
        '200':
          description: The success response contains an collection of bank accesses.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfBankAccesses'
              example:
                0b7f4783-4c93-4820-8e73-354a0f1c469e:
                  id: 0b7f4783-4c93-4820-8e73-354a0f1c469e
                  providerId: 00000000-0000-0000-0000-000000000000
                  aktualisierungszeitpunkt: '2021-10-15T09:13:44.000Z'
                  tanMedien:
                    - name: Mobil
                      medienklasse: MOBIL
                      gueltigVon: '2021-10-15T09:13:44.000Z'
                      gueltigBis: '2021-10-15T09:13:44.000Z'
                  sicherheitsverfahren:
                    - kodierung: 1
                      name: mockTAN
                      hinweis: Gib eine durch 2 teilbare Zahl ein
                    - kodierung: 999
                      name: iTAN
                      hinweis: Gib die TAN "12" an.
                  aktivesSicherheitsverfahren:
                    kodierung: 999
                    name: iTAN
                    hinweis: Gib die TAN "12" an.
                  relations:
                    - rel: self
                      href: >-
                        https://banksapi.io/customer/v2/bankzugaenge/0b7f4783-4c93-4820-8e73-354a0f1c469e
                    - rel: delete_bankzugang
                      href: >-
                        https://banksapi.io/customer/v2/bankzugaenge/0b7f4783-4c93-4820-8e73-354a0f1c469e
                  status: VOLLSTAENDIG
                  bankprodukte:
                    - id: DE00123456789012345679
                      status: VOLLSTAENDIG
                      bezeichnung: Tagesgeldkonto
                      kategorie: TAGESGELDKONTO
                      saldo: 27365.56
                      aktualisierungszeitpunkt: '2021-10-15T09:13:44.000Z'
                      saldoDatum: '2021-10-15T00:00:00.000Z'
                      waehrung: EUR
                      kontonummer: '9012345679'
                      iban: DE00123456789012345679
                      bic: XXX12345678
                      blz: '12345678'
                      kreditinstitut: Demo Provider
                      inhaber: Fritz Testmüller
                      transferSupport: true
                      relations:
                        - rel: get_kontoumsaetze
                          href: >-
                            https://banksapi.io/customer/v2/bankzugaenge/0b7f4783-4c93-4820-8e73-354a0f1c469e/DE00123456789012345679/kontoumsaetze
                        - rel: initiate_single_transfer
                          href: >-
                            https://banksapi.io/customer/v2/payment/single-transfer
                        - rel: initiate_bulk_transfer
                          href: >-
                            https://banksapi.io/customer/v2/payment/bulk-transfer
                      messages: []
                      verfuegungsrahmen: 27365.56
                      verfuegterBetrag: 0
                  sync: true
                4000fda7-18af-463f-b694-bbafe5d23a48:
                  status: VOLLSTAENDIG
                  tanMedien:
                    - gueltigVon: '2016-06-03T17:17:41.000Z'
                      gueltigBis: '2016-06-03T17:17:41.000Z'
                      name: Mobil
                      medienklasse: MOBIL
                  sicherheitsverfahren:
                    - kodierung: 2
                      name: mTAN
                      hinweis: mTAN
                    - kodierung: 1
                      name: Mock-TAN
                      hinweis: Mock-TAN
                  aktivesSicherheitsverfahren:
                    kodierung: 1
                    name: Mock-TAN
                    hinweis: Mock-TAN
                  aktualisierungszeitpunkt: '2016-06-10T17:17:40.000Z'
                  timeout: '2016-12-24T13:37:42.000Z'
                  messages: []
                  bankprodukte: []
                  relations: []
                  sync: false
        '401':
          description: >-
            The bearer authorization header was not sent or the value was
            incorrect.
      deprecated: false
    delete:
      tags:
        - Customer Bank Access
      summary: Delete All Bank Accesses
      operationId: CustomerBankAccess_removeAllBankAccesses
      description: Removes all bank accesses of the authenticated user.
      parameters:
        - $ref: '#/components/parameters/customer-ip-address'
      responses:
        '200':
          description: The HTTP status 200 returns without any further response body.
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}:
    get:
      tags:
        - Customer Bank Access
      summary: Get Bank Access
      operationId: CustomerBankAccess_getSpecificBankAccess
      description: Retrieves a specific bank access for this user.
      parameters:
        - $ref: '#/components/parameters/access-id'
      responses:
        '200':
          description: Returns a bank access object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccess'
              example:
                status: VOLLSTAENDIG
                tanMedien:
                  - gueltigVon: '2016-06-03T17:17:41.000Z'
                    gueltigBis: '2016-06-03T17:17:41.000Z'
                    name: Mobil
                    medienklasse: MOBIL
                sicherheitsverfahren:
                  - kodierung: 2
                    name: mTAN
                    hinweis: mTAN
                  - kodierung: 1
                    name: Mock-TAN
                    hinweis: Mock-TAN
                aktivesSicherheitsverfahren:
                  kodierung: 1
                  name: Mock-TAN
                  hinweis: Mock-TAN
                aktualisierungszeitpunkt: '2016-06-10T17:17:40.000Z'
                timeout: '2016-12-24T13:37:42.000Z'
                messages: []
                bankprodukte: []
                relations: []
                sync: false
          links:
            self:
              $ref: '#/components/links/self'
            delete_bankzugang:
              $ref: '#/components/links/delete_bankzugang'
            get_issues:
              $ref: '#/components/links/get_issues'
            get_challenge_pdf:
              $ref: '#/components/links/get_challenge_pdf'
            set_method:
              $ref: '#/components/links/set_method'
            set_medium:
              $ref: '#/components/links/set_medium'
            authenticate:
              $ref: '#/components/links/authenticate'
            authenticate_decoupled:
              $ref: '#/components/links/authenticate_decoupled'
            cancel:
              $ref: '#/components/links/cancel'
            redirect_url:
              $ref: '#/components/links/redirect_url'
            refresh_bankzugang:
              $ref: '#/components/links/refresh_bankzugang'
        '504':
          description: The started request could not be answered in the given time
      deprecated: false
    delete:
      tags:
        - Customer Bank Access
      summary: Delete Bank Access
      operationId: CustomerBankAccess_deleteBankAccess
      description: Deletes a specific bank access.
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/customer-ip-address'
      responses:
        '200':
          description: Returns without any further response body.
        '404':
          description: >-
            The bank access with the given access-id was not found / does not
            exist.
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/issues:
    get:
      tags:
        - Customer Bank Access
      summary: Get Bank Access Issues
      operationId: CustomerBankAccess_getIssues
      description: Retrieves last known issues for a specific bank access for this user.
      parameters:
        - $ref: '#/components/parameters/access-id'
      responses:
        '200':
          description: Returns a bank access issues object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccessIssues'
              example:
                id: 815251d6-c062-4f61-bec0-182bc14a48fb
                providerId: 00000000-0000-0000-0000-000000000000
                tanMedien:
                  - gueltigVon: '2016-06-03T17:17:41.000Z'
                    gueltigBis: '2016-06-03T17:17:41.000Z'
                    name: Mobil
                    medienklasse: MOBIL
                sicherheitsverfahren:
                  - kodierung: 2
                    name: mTAN
                    hinweis: mTAN
                  - kodierung: 1
                    name: Mock-TAN
                    hinweis: Mock-TAN
                aktivesSicherheitsverfahren:
                  kodierung: 1
                  name: Mock-TAN
                  hinweis: Mock-TAN
                challenge:
                  name: Mock-TAN-Verfahren
                  content:
                    instructions: Enter a TAN that is divisible by 2
                  decoupled: false
                  redirect: false
                aktualisierungszeitpunkt: '2016-06-10T17:17:40.000Z'
                messages:
                  - level: INFO
                    code: BA3010
                    message: SCA benötigt
                    details: Bitte wählen Sie eine SCA-Methode aus
                relations:
                  - rel: set_method
                    href: >-
                      https://banksapi.io/v2/customer/consent/1345340218050910215PSDDE-BAFIN-152070CO4960JJ
          links:
            self:
              $ref: '#/components/links/self'
            delete_bankzugang:
              $ref: '#/components/links/delete_bankzugang'
            get_issues:
              $ref: '#/components/links/get_issues'
            set_method:
              $ref: '#/components/links/set_method'
            set_medium:
              $ref: '#/components/links/set_medium'
            authenticate:
              $ref: '#/components/links/authenticate'
            authenticate_decoupled:
              $ref: '#/components/links/authenticate_decoupled'
            cancel:
              $ref: '#/components/links/cancel'
            redirect_url:
              $ref: '#/components/links/redirect_url'
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/challenge/pdf:
    get:
      tags:
        - Customer Bank Access
      summary: Get Bank Access Challenge PDF
      operationId: CustomerBankAccess_getBankAccessChallengePdf
      description: Retrieves the PDF file from the bank access challenge if available.
      parameters:
        - $ref: '#/components/parameters/access-id'
      responses:
        '200':
          description: Returns the PDF file from the bank access challenge if available.
          content:
            application/pdf:
              schema:
                $ref: >-
                  #/components/schemas/CustomerBankAccessGetBankAccessChallengePdfResponse
              example: <binary PDF document>
        '404':
          description: The PDF file for the given access-id was not found / does not exist.
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/{product-id}:
    get:
      tags:
        - Customer Bank Access
      summary: Get Bank Product
      operationId: CustomerBankAccess_getBankProduct
      description: Retrieve information for a single bank product.
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/product-id'
      responses:
        '200':
          description: Returns data of the bank product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
              example:
                kategorie: GIROKONTO
                produktbezeichnung: Demo-Girokonto
                produktId: DE1235233452324553423442A
                inhaber: Dan Cooper
                aktualisierungsdatum: '2016-05-23T13:37:00.000Z'
                saldo: '200000.00'
                waehrung: USD
                saldoDatum: '2016-05-23T13:37:00.000Z'
                kontonummer: '0123456789'
                iban: DE1235233452324553423442
                bic: BICIS133742
                blz: '12345678'
                kreditinstitut: Demo-Bank
                messages: []
                relations:
                  - rel: get_kontoumsaetze
                    href: >-
                      https://test.banksapi.io/customer/v2/bankzugaenge/cba09da4-57fb-4262-b11c-3192b3438265/DE00123456789012345679/kontoumsaetze
                  - rel: initiate_single_transfer
                    href: https://banksapi.io/customer/v2/payment/single-transfer
                  - rel: initiate_bulk_transfer
                    href: https://banksapi.io/customer/v2/payment/bulk-transfer
          links:
            self:
              $ref: '#/components/links/self'
            get_kontoumsaetze:
              $ref: '#/components/links/get_kontoumsaetze'
            initiate_single_transfer:
              $ref: '#/components/links/initiate_single_transfer'
            initiate_bulk_transfer:
              $ref: '#/components/links/initiate_bulk_transfer'
            initiate_single_transfer_with_saved_credentials:
              $ref: >-
                #/components/links/initiate_single_transfer_with_saved_credentials
            initiate_bulk_transfer_with_saved_credentials:
              $ref: '#/components/links/initiate_bulk_transfer_with_saved_credentials'
            get_depotpositionen:
              $ref: '#/components/links/get_depotpositionen'
            get_kontoumsaetze_categories:
              $ref: '#/components/links/get_kontoumsaetze_categories'
            get_kontoumsaetze_business_partners:
              $ref: '#/components/links/get_kontoumsaetze_business_partners'
            get_kontoumsaetze_periods:
              $ref: '#/components/links/get_kontoumsaetze_periods'
            get_kontoumsaetze_insurance_types:
              $ref: '#/components/links/get_kontoumsaetze_insurance_types'
            get_kontoumsaetze_freelancer_categories:
              $ref: '#/components/links/get_kontoumsaetze_freelancer_categories'
        '504':
          description: The started request could not be answered in the given time
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/{product-id}/kontoumsaetze:
    get:
      tags:
        - Customer Bank Access
      summary: Get Transactions
      operationId: CustomerBankAccess_getTransactions
      description: >-
        Retrieves all transactions for a specific product of a specific access
        of this user.
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/product-id'
        - description: >-
            Only return transactions with a booking date after this Date/Time
            (ISO 8601 formatted timestamp); may be used with `to` to specify a
            time window
          name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2022-02-20T00:00:00.000Z'
        - description: >-
            Only return transactions with a booking date before this Date/Time
            (ISO 8601 formatted timestamp); may be used with `from` to specify a
            time window
          name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2022-03-20T00:00:00.000Z'
        - description: >-
            The resulting transactions will each contain Categorization objects
            of the corresponding tag type
          name: tag
          in: query
          required: false
          schema:
            enum:
              - categories
              - business-partners
              - periods
              - insurance-types
              - freelancer-categories
              - custom-categories
            type: string
        - description: >-
            Filter to apply to result set. Filter expression must be
            URL-encoded. Filter expression must be in the form
            `<field-selector><predicate><value>`.
          name: filter
          in: query
          schema:
            description: >-
              URL-encoded filter expression in the form
              <field-selector><predicate><value>
            type: string
            example: identifier.batchId%3Df257c0de-c5f0-4ffd-b942-94b1e631babb
      responses:
        '200':
          description: Returns an array of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerBankAccessGetTransactionsResponse'
              example:
                - betrag: -70
                  verwendungszweck: EC 68096654 140215204106OC3 Ref. 5CC15048A1824480/89280
                  buchungsdatum: '2016-11-17T00:00:00.000Z'
                  wertstellungsdatum: '2016-11-15T00:00:00.000Z'
                  gegenkontoInhaber: La Sopia GmbH München
                  gegenkontoIban: DE00123456789012345679
                  gegenkontoBic: XXX12345678
                  primanotaNummer: '421337'
    post:
      tags:
        - Customer Bank Access Builder
      summary: Push transactions for the given product
      operationId: CustomerBankAccessBuilder_pushTransactions
      description: >-
        Pushes transactions for the given product identified by an access and a
        product ID
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/product-id'
      requestBody:
        description: List of transactions for this product
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CustomerBankAccessBuilderPushTransactionsRequest
            example:
              - betrag: -70
                verwendungszweck: EC 68096654 140215204106OC3 Ref. 5CC15048A1824480/89280
                buchungsdatum: '2016-11-17T00:00:00.000Z'
                wertstellungsdatum: '2016-11-15T00:00:00.000Z'
                gegenkontoInhaber: La Sopia GmbH München
                gegenkontoIban: DE00123456789012345679
                gegenkontoBic: XXX12345678
                primanotaNummer: '421337'
                identifier:
                  batchId: eeToqu2V
              - betrag: -42.23
                verwendungszweck: My in-app purchase
                buchungsdatum: '2022-11-17T00:00:00.000Z'
                wertstellungsdatum: '2022-11-17T00:00:00.000Z'
                gegenkontoInhaber: Gaming Now
                gegenkontoIban: DE80123456789012345777
                gegenkontoBic: XXX12345678
                identifier:
                  batchId: eeToqu2V
        required: true
      responses:
        '201':
          description: Created
  /customer/v2/bankzugaenge/{access-id}/{product-id}/kontoumsaetze/{transaction-id}:
    put:
      tags:
        - Customer Bank Access
      summary: modify categorisation of transactions
      operationId: CustomerBankAccess_modifyTransactionCategorization
      description: >-
        This method applies corrections to the categorization of transactions.

        Initial categorization is required before recategorization.


        Input contains the tag tree item that should be used for
        recategorization.

        A valid tag tree item has to be provided.


        The flag createRule creates a user specific rule that automatically
        categorizes this

        counterparty with the provided tag tree item in all future transactions.

        This is a smart solution to eradicate a recurring recategorization
        process.


        The flag changeExisting recategorizes all existing transactions of the
        same

        counterparty.


        The tagTreeItem has to include a tagTree and has to be wrapped in tags:
        [].


        The recategorization currently relies on the systemName value of
        tagTreeItem and

        tagTree, but as this might change in the future, both systemName and
        systemId should

        be included in the payload, all other fields are ignored.


        To get a full list of tag tree items, use:

        GET https://banksapi.io/tags/v1/tags/tag_trees/1/tag_tree_items/
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/product-id'
        - $ref: '#/components/parameters/transaction-id'
        - description: ''
          name: changeExisting
          in: query
          required: false
          schema:
            type: boolean
            example: true
        - description: ''
          name: createRule
          in: query
          required: false
          schema:
            type: boolean
            example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WrappedTags'
        required: true
      responses:
        '200':
          description: transaction was successfully modified
        '400':
          description: error in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: transaction was not found
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/{product-id}/depotpositionen:
    get:
      tags:
        - Customer Bank Access
      summary: Get Portfolio
      operationId: CustomerBankAccess_getDepotPositions
      description: >-
        Retrieves all investments in a specific banking product of type
        brokerage account (portfolio depot) for this user.
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/product-id'
      responses:
        '200':
          description: >-
            Returns an array of investments, e.g. stocks, bonds and other
            positions.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerBankAccessGetDepotPositionsResponse
              example:
                - name: Aberdeen Global - Emer. Markets Equity E2
                  menge: 210.819609
                  handelseinheit: STUECK
                  isin: LU0498181733
                  wkn: A1C5UV
                  kurs: 15.4117
                  kursDatum: '2021-10-15T15:50:20.000Z'
                  waehrung: EUR
                  waehrungskurs: 1
                  handelsplatz: KAG
                  gesamtwert: 3249.09
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/consent:
    post:
      tags:
        - Customer Bank Access Consent
      summary: Start SCA
      operationId: CustomerBankAccessConsent_startScaRenewal
      description: Starts the SCA renewal process
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/customer-ip-address'
        - $ref: '#/components/parameters/callbackUrl'
        - $ref: '#/components/parameters/queryTanSettings'
        - description: Indicator if transactions older than 90 days should be fetched.
          name: maxTransactions
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/MaxTransactions'
      requestBody:
        description: >-
          Login data for the access. Only needed if access is not being
          automatically synchronized with the provider (`sync=false`).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBankAccess'
            example:
              815251d6-c062-4f61-bec0-182bc14a48fb:
                providerId: 00000000-0000-0000-0000-000000000000
                credentials:
                  userid: mOd2uKYr+2 ... TWOPCAt5zP
                  pin: Hhnc+aW/eM ... 7F+XRSHasW
                sync: true
                selectedBankProducts:
                  - DE00123456789012345679
        required: false
      responses:
        '201':
          $ref: '#/components/responses/bankAccessCreated'
        '451':
          $ref: '#/components/responses/regprotect'
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/consent/{consent-id}:
    post:
      tags:
        - Customer Bank Access Consent
      summary: Update Bank Access Consent
      operationId: CustomerBankAccessConsent_updateScaMethod
      description: >-
        Submits a SCA method, medium or authentication data for the current SCA
        (e.g. when creating a bank access).
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/consent-id'
      requestBody:
        $ref: '#/components/requestBodies/SubmitScaData'
      responses:
        '200':
          description: Returns a bank access object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccess'
              example:
                status: VOLLSTAENDIG
                tanMedien:
                  - gueltigVon: '2016-06-03T17:17:41.000Z'
                    gueltigBis: '2016-06-03T17:17:41.000Z'
                    name: Mobil
                    medienklasse: MOBIL
                sicherheitsverfahren:
                  - kodierung: 2
                    name: mTAN
                    hinweis: mTAN
                  - kodierung: 1
                    name: Mock-TAN
                    hinweis: Mock-TAN
                aktivesSicherheitsverfahren:
                  kodierung: 1
                  name: Mock-TAN
                  hinweis: Mock-TAN
                aktualisierungszeitpunkt: '2016-06-10T17:17:40.000Z'
                timeout: '2016-12-24T13:37:42.000Z'
                messages: []
                bankprodukte: []
                relations: []
                sync: false
          links:
            set_method:
              $ref: '#/components/links/set_method'
            set_medium:
              $ref: '#/components/links/set_medium'
            authenticate:
              $ref: '#/components/links/authenticate'
            authenticate_decoupled:
              $ref: '#/components/links/authenticate_decoupled'
            cancel:
              $ref: '#/components/links/cancel'
      deprecated: false
    get:
      tags:
        - Customer Bank Access Consent
      summary: Poll Bank Access Consent
      operationId: CustomerBankAccessConsent_pollStatus
      description: >-
        Can be used for the decoupled SCA approach to check if the SCA has
        already been confirmed.
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/consent-id'
      responses:
        '200':
          description: Returns a bank access object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccess'
              example:
                status: VOLLSTAENDIG
                tanMedien:
                  - gueltigVon: '2016-06-03T17:17:41.000Z'
                    gueltigBis: '2016-06-03T17:17:41.000Z'
                    name: Mobil
                    medienklasse: MOBIL
                sicherheitsverfahren:
                  - kodierung: 2
                    name: mTAN
                    hinweis: mTAN
                  - kodierung: 1
                    name: Mock-TAN
                    hinweis: Mock-TAN
                aktivesSicherheitsverfahren:
                  kodierung: 1
                  name: Mock-TAN
                  hinweis: Mock-TAN
                aktualisierungszeitpunkt: '2016-06-10T17:17:40.000Z'
                timeout: '2016-12-24T13:37:42.000Z'
                messages: []
                bankprodukte: []
                relations: []
                sync: false
          links:
            set_method:
              $ref: '#/components/links/set_method'
            set_medium:
              $ref: '#/components/links/set_medium'
            authenticate:
              $ref: '#/components/links/authenticate'
            authenticate_decoupled:
              $ref: '#/components/links/authenticate_decoupled'
            cancel:
              $ref: '#/components/links/cancel'
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/consent/{consent-id}/cancel:
    post:
      tags:
        - Customer Bank Access Consent
      summary: Cancel Bank Access Consent
      operationId: CustomerBankAccessConsent_cancelScaRedirect
      description: >-
        Cancels an SCA redirect and stops the corresponding access
        synchronization. This request is permitted only for the redirect SCA
        approach.
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/consent-id'
      responses:
        '200':
          description: Returns a bank access object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccess'
              example:
                id: 815251d6-c062-4f61-bec0-182bc14a48fbX
                providerId: 00000000-0000-0000-0000-000000000000
                aktualisierungszeitpunkt: '2022-02-02T22:22:22.000Z'
                messages:
                  - level: ERROR
                    code: BA3040
                    message: SCA fehlgeschlagen
                    details: Redirect-SCA wurde abgebrochen
                  - level: INFO
                    code: BA3000
                    message: SCA notwendig
                tanMedien: []
                sicherheitsverfahren: []
                relations:
                  - rel: self
                    href: >-
                      https://banksapi.io/customer/v2/bankzugaenge/815251d6-c062-4f61-bec0-182bc14a48fb
                  - rel: delete_bankzugang
                    href: >-
                      https://banksapi.io/customer/v2/bankzugaenge/815251d6-c062-4f61-bec0-182bc14a48fb
                  - rel: get_issues
                    href: >-
                      https://banksapi.io/customer/v2/bankzugaenge/815251d6-c062-4f61-bec0-182bc14a48fb/issues
                  - rel: start_sca
                    href: >-
                      https://banksapi.io/customer/v2/bankzugaenge/815251d6-c062-4f61-bec0-182bc14a48fb/consent
                status: VOLLSTAENDIG
                bankprodukte: []
                sync: false
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/{product-id}/payment/single-transfer:
    post:
      tags:
        - Customer Bank Access Payment
      summary: Initiate a single transfer
      operationId: CustomerBankAccessPayment_initiateSingleTransfer
      description: >-
        Initiates a payment for the given bank access, without providing access
        credentials
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/product-id'
        - $ref: '#/components/parameters/customer-ip-address'
        - $ref: '#/components/parameters/callbackUrl'
      requestBody:
        description: >-
          The request body object carries the data for a payment. It is expected
          when creating a payment.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CustomerBankAccessPaymentInitiateSingleTransferRequest
            example:
              transferDetails:
                recipient: netzpolitik.org e. V.
                purpose: Spende netzpolitik.de
                iban: DE62430609671149278400
                bic: GENODEM1GLS
                currency: EUR
                amount: 1337.42
                endToEndId: be7649876d5f439886fa816993ac9f9f
        required: true
      responses:
        '200':
          $ref: '#/components/responses/singleTransferInitiated'
        '404':
          description: Bank Access Credentials could not be found
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/{product-id}/payment/bulk-transfer:
    post:
      tags:
        - Customer Bank Access Payment
      summary: Initiate a bulk transfer
      operationId: CustomerBankAccessPayment_initiateBulkTransfer
      description: >-
        Initiates a payment for the given bank access, without providing access
        credentials
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/product-id'
        - $ref: '#/components/parameters/customer-ip-address'
        - $ref: '#/components/parameters/callbackUrl'
      requestBody:
        description: >-
          The request body object carries the data for a payment. It is expected
          when creating a payment.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CustomerBankAccessPaymentInitiateBulkTransferRequest
            example:
              transferDetails:
                - recipient: UNICEF
                  purpose: Spende UNICEF
                  iban: DE57370205000000300000
                  bic: BFSWDE33XXX
                  currency: EUR
                  amount: 150
                  endToEndId: be7649876d5f439886fa816993ac9f9f
                - recipient: netzpolitik.org e. V.
                  purpose: Spende netzpolitik.de
                  iban: DE62430609671149278400
                  bic: GENODEM1GLS
                  currency: EUR
                  amount: 75
                  endToEndId: be7649876d5f439886fa816993ac9f9f
        required: true
      responses:
        '200':
          $ref: '#/components/responses/bulkTransferInitiated'
        '404':
          description: Bank Access Credentials could not be found
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/{product-id}/payment/single-debit:
    post:
      tags:
        - Customer Bank Access Payment
      summary: Initiate a single debit
      operationId: CustomerBankAccessPayment_initiateSingleDebit
      description: >-
        Initiates a payment for the given bank access, without providing access
        credentials
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/product-id'
      requestBody:
        description: >-
          The request body object carries the data for a payment. It is expected
          when creating a payment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SingleDebitDataBankAccess'
            example:
              business: false
              sequenceType: OOFF
              creditorSchemeIdentification: GlauebigerId
              requestedCollectionDate: '2022-02-22T00:00:00.000Z'
              debitDetails:
                amount: 1337.42
                currency: EUR
                purpose: Verwendungszweck
                endToEndId: '123'
                debtorName: Max Mustermann
                debtorIban: DE62430609671149278400
                debtorAccountNumber: '1149278400'
                debtorBankCode: '43060967'
                debtorBic: GENODEM1GLS
                mandateIdentification: MandatsId
                mandateDateOfSignature: '2022-02-02T00:00:00.000Z'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/singleDebitInitiated'
        '404':
          description: Bank Access Credentials could not be found
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/{product-id}/payment/bulk-debit:
    post:
      tags:
        - Customer Bank Access Payment
      summary: Initiate a bulk debit
      operationId: CustomerBankAccessPayment_initiateBulkDebit
      description: >-
        Initiates a payment for the given bank access, without providing access
        credentials
      parameters:
        - $ref: '#/components/parameters/access-id'
        - $ref: '#/components/parameters/product-id'
      requestBody:
        description: >-
          The request body object carries the data for a payment. It is expected
          when creating a payment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDebitDataBankAccess'
            example:
              business: false
              sequenceType: OOFF
              creditorSchemeIdentification: GlauebigerId
              requestedCollectionDate: '2022-02-22T00:00:00.000Z'
              debitDetails:
                - amount: 1337.42
                  currency: EUR
                  purpose: Verwendungszweck
                  endToEndId: '123'
                  debtorName: Max Mustermann
                  debtorIban: DE62430609671149278400
                  debtorAccountNumber: '1149278400'
                  debtorBankCode: '43060967'
                  debtorBic: GENODEM1GLS
                  mandateIdentification: MandatsId
                  mandateDateOfSignature: '2022-02-02T00:00:00.000Z'
                - amount: 42
                  currency: EUR
                  purpose: Verwendungszweck 2
                  endToEndId: '124'
                  debtorName: Maxi Mustermann
                  debtorIban: DE00123456789012345678
                  debtorAccountNumber: '9012345678'
                  debtorBankCode: '12345678'
                  debtorBic: SSKMDEMMXXX
                  mandateIdentification: MandatsId
                  mandateDateOfSignature: '2022-02-02T00:00:00.000Z'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/bulkDebitInitiated'
        '404':
          description: Bank Access Credentials could not be found
      deprecated: false
  /customer/v2/ueberweisung/{provider-id}/{product-id}:
    post:
      tags:
        - Customer Ueberweisung
      summary: Create Transfer
      operationId: CustomerUeberweisung_createPayment
      description: Creates a payment (i.e. initializes a SEPA transfer).
      parameters:
        - $ref: '#/components/parameters/provider-id'
        - $ref: '#/components/parameters/product-id'
        - $ref: '#/components/parameters/customer-ip-address'
        - $ref: '#/components/parameters/callbackUrl'
      requestBody:
        description: >-
          The request body object carries the data for a payment. It is expected
          when creating a payment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransfer'
            example:
              credentials:
                userid: mXlkGe+ukAEs+2iHjc ... 6uyURWRD/MOfGsd8HY=
                pin: XO2jgZX9V5GvB9rg8 ... CbzjWKilAXdeBXVHC9W1Rv5GfhKpZmw=
              empfaenger: netzpolitik.org e. V.
              verwendungszweck: Spende netzpolitik.de
              iban: DE62430609671149278400
              bic: GENODEM1GLS
              waehrung: EUR
              betrag: 1337.42
              ausfuehrungsdatum: '2016-12-24T00:00:00.000Z'
              sicherheitsverfahrenKodierung: '1'
              tanMediumName: Mobil
        required: true
      responses:
        '200':
          description: Returns object with the transfer status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaInteraction'
              example:
                ueberweisung:
                  empfaenger: netzpolitik.org e. V.
                  verwendungszweck: Spende netzpolitik.de
                  iban: DE62430609671149278400
                  bic: GENODEM1GLS
                  waehrung: EUR
                  betrag: 1337.42
                ausfuehrungsdatum: '2016-12-24T00:00:00.000Z'
                tanMediumName: Mobil
                tanMedien:
                  - gueltigVon: '2016-06-03T17:17:41.000Z'
                    gueltigBis: '2016-06-03T17:17:41.000Z'
                    name: Mobil
                    medienklasse: MOBIL
                sicherheitsverfahren:
                  - kodierung: 2
                    name: mTAN
                    hinweis: mTAN
                  - kodierung: 1
                    name: Mock-TAN
                    hinweis: Mock-TAN
                messages:
                  - level: INFO
                    code: BA3010
                    message: SCA benötigt
                    details: Bitte wählen Sie eine SCA-Methode aus
                relations:
                  - rel: set_method
                    href: >-
                      https://banksapi.io/customer/v2/ueberweisung/3e97fa51-ce7b-42a0-9101-50fd67dbc3e7/consent
          links:
            set_method:
              description: Set SCA method
      deprecated: true
  /customer/v2/ueberweisung/bulk/{provider-id}/{product-id}:
    post:
      tags:
        - Customer Ueberweisung
      summary: Create Bulk Transfer
      operationId: CustomerUeberweisung_createBulkTransfer
      description: Creates a bulk payment (i.e. initializes a SEPA transfer).
      parameters:
        - $ref: '#/components/parameters/provider-id'
        - $ref: '#/components/parameters/product-id'
        - $ref: '#/components/parameters/customer-ip-address'
        - $ref: '#/components/parameters/callbackUrl'
      requestBody:
        description: >-
          The request body object carries the data for a payment. It is expected
          when creating a payment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBulkTransferLegacy'
            example:
              credentials:
                userid: mXlkGe+u ... /MOfGsd8HY=
                pin: XO2jgZX ... v5GfhKpZmw=
              payments:
                - empfaenger: UNICEF
                  verwendungszweck: Spende UNICEF
                  iban: DE57370205000000300000
                  bic: BFSWDE33XXX
                  waehrung: EUR
                  betrag: 150
                - empfaenger: netzpolitik.org e. V.
                  verwendungszweck: Spende netzpolitik.de
                  iban: DE62430609671149278400
                  bic: GENODEM1GLS
                  waehrung: EUR
                  betrag: 75
              sicherheitsverfahrenKodierung: '1'
              tanMediumName: Mobil
        required: true
      responses:
        '200':
          description: Returns object with the transfer status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaInteraction'
              example:
                payments:
                  - empfaenger: UNICEF
                    verwendungszweck: Spende UNICEF
                    iban: DE57370205000000300000
                    bic: BFSWDE33XXX
                    waehrung: EUR
                    betrag: 150
                  - empfaenger: netzpolitik.org e. V.
                    verwendungszweck: Spende netzpolitik.de
                    iban: DE62430609671149278400
                    bic: GENODEM1GLS
                    waehrung: EUR
                    betrag: 75
                ausfuehrungsdatum: '2016-12-24T00:00:00.000Z'
                tanMediumName: Mobil
                tanMedien:
                  - gueltigVon: '2016-06-03T17:17:41.000Z'
                    gueltigBis: '2016-06-03T17:17:41.000Z'
                    name: Mobil
                    medienklasse: MOBIL
                sicherheitsverfahren:
                  - kodierung: 2
                    name: mTAN
                    hinweis: mTAN
                  - kodierung: 1
                    name: Mock-TAN
                    hinweis: Mock-TAN
                messages:
                  - level: INFO
                    code: BA3010
                    message: SCA benötigt
                    details: Bitte wählen Sie eine SCA-Methode aus
                relations:
                  - rel: set_method
                    href: >-
                      https://banksapi.io/customer/v2/ueberweisung/3e97fa51-ce7b-42a0-9101-50fd67dbc3e7/consent
          links:
            set_method:
              description: Set SCA method
      deprecated: true
  /customer/v2/ueberweisung/{provider-id}/{product-id}/{payment-id}:
    put:
      tags:
        - Customer Ueberweisung
      summary: Submit TAN
      operationId: CustomerUeberweisung_submitTan
      description: Submits a TAN for a previously created payment.
      parameters:
        - $ref: '#/components/parameters/provider-id'
        - $ref: '#/components/parameters/product-id'
        - $ref: '#/components/parameters/payment-id'
      requestBody:
        description: Object required to submit a TAN.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTextTan'
            example:
              tan: '4103582'
        required: true
      responses:
        '200':
          description: >-
            Returns the transfer status. If the TAN was wrong, the hint has
            changed accordingly and there is still a timeout and the relation
            `submit_text_tan`. If the TAN was correct then Timeout and the
            Relations disappear.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
              example:
                hinweis: Bitte geben Sie die SMS-TAN ein
                timeout: '2016-12-24T20:00:00.000Z'
                relations:
                  - rel: submit_text_tan
                    href: >-
                      https://banksapi.io/customer/v2/ueberweisung/DE1235233452324553423442/9b90127c-9b85-11e6-82d8-480fcfb9550f
          links:
            submit_text_tan:
              description: Submit TAN
      deprecated: true
  /customer/v2/ueberweisung/bulk/{provider-id}/{product-id}/{payment-id}:
    put:
      tags:
        - Customer Ueberweisung
      summary: Submit TAN (Bulk)
      operationId: CustomerUeberweisung_submitTanBulk
      description: >-
        Submits a TAN for a previously created bulk payment. Confer [Submit
        TAN](https://docs.banksapi.de) for details.
      parameters:
        - $ref: '#/components/parameters/provider-id'
        - $ref: '#/components/parameters/product-id'
        - $ref: '#/components/parameters/payment-id'
      responses:
        '200':
          description: >-
            Returns the transfer status. If the TAN was wrong, the hint has
            changed accordingly and there is still a timeout and the relation
            `submit_text_tan`. If the TAN was correct then Timeout and the
            Relations disappear.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
      deprecated: true
  /customer/v2/payment/single-transfer:
    post:
      tags:
        - Customer Payment
      summary: Initiate Single Transfer
      operationId: CustomerPayment_initiateSingleTransfer
      description: Initiates a single transfer (e.g. a SEPA transfer).
      parameters:
        - $ref: '#/components/parameters/customer-ip-address'
        - $ref: '#/components/parameters/callbackUrl'
        - $ref: '#/components/parameters/queryTanSettings'
      requestBody:
        description: >-
          The request body object carries the data for a payment. It is expected
          when creating a payment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SingleTransferData'
            example:
              provider: ca650b48-3edc-45f4-938d-d21df8cba761
              credentials:
                userid: mXlkGe+ukAEs+2iH ... D/MOfGsd8HY=
                pin: XO2jgZ ... 5GfhKpZmw=
              product: DE89370400440532013000
              transferDetails:
                recipient: netzpolitik.org e. V.
                purpose: Spende netzpolitik.de
                iban: DE62430609671149278400
                bic: GENODEM1GLS
                currency: EUR
                amount: 1337.42
                endToEndId: be7649876d5f439886fa816993ac9f9f
        required: true
      responses:
        '200':
          $ref: '#/components/responses/singleTransferInitiated'
        '451':
          $ref: '#/components/responses/regprotectPayment'
      deprecated: false
  /customer/v2/payment/single-transfer/{payment-id}:
    get:
      tags:
        - Customer Payment
      summary: Get Single Transfer
      operationId: CustomerPayment_getStatus
      description: Get the current status of the single transfer.
      parameters:
        - $ref: '#/components/parameters/payment-id'
      responses:
        '200':
          description: Returns the current status of the single transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleTransferResult'
              example:
                messages:
                  - level: INFO
                    code: BA3010
                    message: SCA Methode auswählen
                    details: Bitte wählen Sie eine SCA-Methode aus
                scaMethods:
                  - code: 2
                    name: mTAN
                    hint: mTAN
                  - code: 1
                    name: Mock-TAN
                    hint: Mock-TAN
                relations:
                  - rel: self
                    href: >-
                      https://banksapi.io/customer/v2/payment/single-transfer/3e97fa51-ce7b-42a0-9101-50fd67dbc3e7
                  - rel: set_method
                    href: >-
                      https://banksapi.io/customer/v2/payment/single-transfer/3e97fa51-ce7b-42a0-9101-50fd67dbc3e7/consent
                transfer:
                  provider: ca650b48-3edc-45f4-938d-d21df8cba761
                  product: DE89370400440532013000
                  paymentId: 5208b5cb-2f88-4bba-87a5-c5e0356c460c
                  transferDetails:
                    recipient: netzpolitik.org e. V.
                    purpose: Spende netzpolitik.de
                    iban: DE62430609671149278400
                    bic: GENODEM1GLS
                    currency: EUR
                    amount: 1337.42
                    endToEndId: be7649876d5f439886fa816993ac9f9f
      deprecated: false
  /customer/v2/payment/bulk-transfer:
    post:
      tags:
        - Customer Payment
      summary: Initiate Bulk Transfer
      operationId: CustomerPayment_initiateBulkTransfer
      description: Initiates a bulk transfer (e.g. a SEPA bulk transfer).
      parameters:
        - $ref: '#/components/parameters/customer-ip-address'
        - $ref: '#/components/parameters/callbackUrl'
        - $ref: '#/components/parameters/queryTanSettings'
      requestBody:
        description: >-
          The request body object carries the data for a payment. It is expected
          when creating a payment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkTransferData'
            example:
              provider: ca650b48-3edc-45f4-938d-d21df8cba761
              credentials:
                userid: mXlkGe+ukAEs+2iH... D/MOfGsd8HY=
                pin: XO2jgZ... 5GfhKpZmw=
              product: DE89370400440532013000
              transferDetails:
                - recipient: UNICEF
                  purpose: Spende UNICEF
                  iban: DE57370205000000300000
                  bic: BFSWDE33XXX
                  currency: EUR
                  amount: 150
                  endToEndId: be7649876d5f439886fa816993ac9f9f
                - recipient: netzpolitik.org e. V.
                  purpose: Spende netzpolitik.de
                  iban: DE62430609671149278400
                  bic: GENODEM1GLS
                  currency: EUR
                  amount: 75
                  endToEndId: be7649876d5f439886fa816993ac9f9f
        required: true
      responses:
        '200':
          $ref: '#/components/responses/bulkTransferInitiated'
        '451':
          $ref: '#/components/responses/regprotectPayment'
      deprecated: false
  /customer/v2/payment/bulk-transfer/{payment-id}:
    get:
      tags:
        - Customer Payment
      summary: Get Bulk Transfer
      operationId: CustomerPayment_getStatusBulkTransfer
      description: Get the current status of the bulk transfer.
      parameters:
        - $ref: '#/components/parameters/payment-id'
      responses:
        '200':
          description: Returns the current status of the bulk transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkTransferResult'
              example:
                messages:
                  - level: INFO
                    code: BA3010
                    message: SCA Methode auswählen
                    details: Bitte wählen Sie eine SCA-Methode aus
                scaMethods:
                  - code: 2
                    name: mTAN
                    hint: mTAN
                  - code: 1
                    name: Mock-TAN
                    hint: Mock-TAN
                relations:
                  - rel: self
                    href: >-
                      https://banksapi.io/customer/v2/payment/bulk-transfer/fdc61bcd-d0ee-4999-9c77-eff3ba8db0ce
                  - rel: set_method
                    href: >-
                      https://banksapi.io/customer/v2/payment/bulk-transfer/fdc61bcd-d0ee-4999-9c77-eff3ba8db0ce/consent
                transfer:
                  provider: ca650b48-3edc-45f4-938d-d21df8cba761
                  product: DE89370400440532013000
                  paymentId: 5208b5cb-2f88-4bba-87a5-c5e0356c460c
                  transferDetails:
                    - recipient: UNICEF
                      purpose: Spende UNICEF
                      iban: DE57370205000000300000
                      bic: BFSWDE33XXX
                      currency: EUR
                      amount: 150
                      endToEndId: be7649876d5f439886fa816993ac9f9f
                    - recipient: netzpolitik.org e. V.
                      purpose: Spende netzpolitik.de
                      iban: DE62430609671149278400
                      bic: GENODEM1GLS
                      currency: EUR
                      amount: 75
                      endToEndId: be7649876d5f439886fa816993ac9f9f
      deprecated: false
  /customer/v2/payment/single-debit:
    post:
      tags:
        - Customer Payment
      summary: Initiate Single Debit
      operationId: CustomerPayment_initiateSingleDebit
      description: Initiates a single debit (e.g. a SEPA debit).
      parameters:
        - $ref: '#/components/parameters/queryTanSettings'
      requestBody:
        description: >-
          The request body object carries the data for a payment. It is expected
          when creating a payment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SingleDebitData'
            example:
              provider: ca650b48-3edc-45f4-938d-d21df8cba761
              credentials:
                userid: mXlkGe+ukAEs+2iH ... D/MOfGsd8HY=
                pin: XO2jgZ ... 5GfhKpZmw=
              product: DE89370400440532013000
              business: false
              sequenceType: OOFF
              creditorSchemeIdentification: GlauebigerId
              requestedCollectionDate: '2022-02-22T00:00:00.000Z'
              debitDetails:
                amount: 1337.42
                currency: EUR
                purpose: Verwendungszweck
                endToEndId: '123'
                debtorName: Max Mustermann
                debtorIban: DE62430609671149278400
                debtorAccountNumber: '1149278400'
                debtorBankCode: '43060967'
                debtorBic: GENODEM1GLS
                mandateIdentification: MandatsId
                mandateDateOfSignature: '2022-02-02T00:00:00.000Z'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/singleDebitInitiated'
        '451':
          $ref: '#/components/responses/regprotectPayment'
      deprecated: false
  /customer/v2/payment/single-debit/{payment-id}:
    get:
      tags:
        - Customer Payment
      summary: Get Single Debit
      operationId: CustomerPayment_getDebitStatus
      description: Get the current status of the single debit.
      parameters:
        - $ref: '#/components/parameters/payment-id'
      responses:
        '200':
          $ref: '#/components/responses/singleDebitInitiated'
      deprecated: false
  /customer/v2/payment/bulk-debit:
    post:
      tags:
        - Customer Payment
      summary: Initiate Bulk Debit
      operationId: CustomerPayment_initiateBulkDebit
      description: Initiates a bulk debit (e.g. a SEPA debit).
      parameters:
        - $ref: '#/components/parameters/queryTanSettings'
      requestBody:
        description: >-
          The request body object carries the data for a payment. It is expected
          when creating a payment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDebitData'
            example:
              provider: ca650b48-3edc-45f4-938d-d21df8cba761
              credentials:
                userid: mXlkGe+ukAEs+2iH ... D/MOfGsd8HY=
                pin: XO2jgZ ... 5GfhKpZmw=
              product: DE89370400440532013000
              business: false
              sequenceType: OOFF
              creditorSchemeIdentification: GlauebigerId
              requestedCollectionDate: '2022-02-22T00:00:00.000Z'
              debitDetails:
                - amount: 1337.42
                  currency: EUR
                  purpose: Verwendungszweck
                  endToEndId: '123'
                  debtorName: Max Mustermann
                  debtorIban: DE62430609671149278400
                  debtorAccountNumber: '1149278400'
                  debtorBankCode: '43060967'
                  debtorBic: GENODEM1GLS
                  mandateIdentification: MandatsId
                  mandateDateOfSignature: '2022-02-02T00:00:00.000Z'
                - amount: 42
                  currency: EUR
                  purpose: Verwendungszweck 2
                  endToEndId: '124'
                  debtorName: Maxi Mustermann
                  debtorIban: DE00123456789012345678
                  debtorAccountNumber: '9012345678'
                  debtorBankCode: '12345678'
                  debtorBic: SSKMDEMMXXX
                  mandateIdentification: MandatsId
                  mandateDateOfSignature: '2022-02-02T00:00:00.000Z'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/bulkDebitInitiated'
        '451':
          $ref: '#/components/responses/regprotectPayment'
      deprecated: false
  /customer/v2/payment/bulk-debit/{payment-id}:
    get:
      tags:
        - Customer Payment
      summary: Get Bulk Debit
      operationId: CustomerPayment_getStatus
      description: Get the current status of the bulk debit.
      parameters:
        - $ref: '#/components/parameters/payment-id'
      responses:
        '200':
          $ref: '#/components/responses/bulkDebitInitiated'
      deprecated: false
  /customer/v2/consent/{consent-id}:
    get:
      tags:
        - Customer Consent
      summary: Get Consent
      operationId: CustomerConsent_getCurrentStatus
      description: Get the current status of the consent, without polling the provider
      parameters:
        - $ref: '#/components/parameters/consent-id'
      responses:
        '200':
          description: Returns the current status of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consent'
              example:
                messages:
                  - level: INFO
                    code: BA3020
                    message: SCA Medium auswählen
                    details: Bitte wählen Sie ein SCA-Medium aus
                scaMediums:
                  - name: Handy Eins
                    mediaClass: MOBILE
                relations:
                  - rel: self
                    href: >-
                      https://banksapi.io/customer/v2/consent/3e97fa51-ce7b-42a0-9101-50fd67dbc3e7
                  - rel: set_medium
                    href: >-
                      https://banksapi.io/customer/v2/consent/3e97fa51-ce7b-42a0-9101-50fd67dbc3e7
          links:
            self:
              $ref: '#/components/links/self'
            set_method:
              $ref: '#/components/links/set_method'
            set_medium:
              $ref: '#/components/links/set_medium'
            authenticate:
              $ref: '#/components/links/authenticate'
            authenticate_decoupled:
              $ref: '#/components/links/authenticate_decoupled'
            cancel:
              $ref: '#/components/links/cancel'
            get_single_transfer:
              $ref: '#/components/links/get_single_transfer'
            get_bulk_transfer:
              $ref: '#/components/links/get_bulk_transfer'
            get_single_debit:
              $ref: '#/components/links/get_single_debit'
            get_bulk_debit:
              $ref: '#/components/links/get_bulk_debit'
      deprecated: false
    post:
      tags:
        - Customer Consent
      summary: Update Consent
      operationId: CustomerConsent_submitScaData
      description: Submits a SCA method, medium or authentication data for the current SCA.
      parameters:
        - $ref: '#/components/parameters/consent-id'
      requestBody:
        $ref: '#/components/requestBodies/SubmitScaData'
      responses:
        '200':
          description: Returns the current status of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consent'
              example:
                messages:
                  - level: INFO
                    code: BA3020
                    message: SCA Medium auswählen
                    details: Bitte wählen Sie ein SCA-Medium aus
                scaMediums:
                  - name: Handy Eins
                    mediaClass: MOBILE
                relations:
                  - rel: self
                    href: >-
                      https://banksapi.io/customer/v2/consent/3e97fa51-ce7b-42a0-9101-50fd67dbc3e7
                  - rel: set_medium
                    href: >-
                      https://banksapi.io/customer/v2/consent/3e97fa51-ce7b-42a0-9101-50fd67dbc3e7
          links:
            self:
              $ref: '#/components/links/self'
            set_method:
              $ref: '#/components/links/set_method'
            set_medium:
              $ref: '#/components/links/set_medium'
            authenticate:
              $ref: '#/components/links/authenticate'
            authenticate_decoupled:
              $ref: '#/components/links/authenticate_decoupled'
            cancel:
              $ref: '#/components/links/cancel'
            get_single_transfer:
              $ref: '#/components/links/get_single_transfer'
            get_bulk_transfer:
              $ref: '#/components/links/get_bulk_transfer'
            get_single_debit:
              $ref: '#/components/links/get_single_debit'
            get_bulk_debit:
              $ref: '#/components/links/get_bulk_debit'
      deprecated: false
  /customer/v2/consent/{consent-id}/poll:
    get:
      tags:
        - Customer Consent
      summary: Poll Consent
      operationId: CustomerConsent_pollStatus
      description: >-
        Can be used for the decoupled SCA approach to check if the SCA has
        already been confirmed.
      parameters:
        - $ref: '#/components/parameters/consent-id'
      responses:
        '200':
          description: Returns the current status of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consent'
              example:
                messages:
                  - level: INFO
                    code: BA3030
                    message: SCA Challenge
                    details: Bitte autorisieren Sie den Vorgang
                challenge:
                  name: Entkoppelte Authentifizierung
                  content:
                    instructions: Bitte führen Sie die entkoppelte Authentifizierung durch.
                  decoupled: true
                  redirect: false
                relations:
                  - rel: self
                    href: >-
                      https://banksapi.io/customer/v2/consent/3e97fa51-ce7b-42a0-9101-50fd67dbc3e7
                  - rel: authenticate
                    href: >-
                      https://banksapi.io/customer/v2/consent/3e97fa51-ce7b-42a0-9101-50fd67dbc3e7
                  - rel: authenticate_decoupled
                    href: >-
                      https://banksapi.io/customer/v2/consent/3e97fa51-ce7b-42a0-9101-50fd67dbc3e7/poll
          links:
            self:
              $ref: '#/components/links/self'
            set_method:
              $ref: '#/components/links/set_method'
            set_medium:
              $ref: '#/components/links/set_medium'
            authenticate:
              $ref: '#/components/links/authenticate'
            authenticate_decoupled:
              $ref: '#/components/links/authenticate_decoupled'
            cancel:
              $ref: '#/components/links/cancel'
            get_single_transfer:
              $ref: '#/components/links/get_single_transfer'
            get_bulk_transfer:
              $ref: '#/components/links/get_bulk_transfer'
            get_single_debit:
              $ref: '#/components/links/get_single_debit'
            get_bulk_debit:
              $ref: '#/components/links/get_bulk_debit'
      deprecated: false
  /customer/v2/consent/{consent-id}/cancel:
    post:
      tags:
        - Customer Consent
      summary: Cancel a Consent
      operationId: CustomerConsent_cancelScaRedirect
      description: >-
        Cancels an SCA redirect and stops the corresponding access
        synchronization. This request is permitted only for the redirect SCA
        approach.
      parameters:
        - $ref: '#/components/parameters/consent-id'
      responses:
        '200':
          description: Returns the current status of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consent'
              example:
                messages:
                  - level: ERROR
                    code: BA3040
                    message: SCA fehlgeschlagen
                    details: Redirect-SCA wurde abgebrochen
      deprecated: false
  /customer/v2/regprotect/sessions:
    delete:
      tags:
        - Customer REG/Protect
      summary: Delete all REG/Protect sessions
      operationId: CustomerRegProtect_invalidateSessions
      description: Invalidates all REG/Protect sessions of the authenticated user.
      responses:
        '200':
          description: The HTTP status 200 returns without any further response body.
      deprecated: false
  /customer/v2/bankzugaenge/{access-id}/selectedbankproducts:
    put:
      tags:
        - Customer REG/Protect
      summary: Change bank product selection
      operationId: CustomerRegProtect_changeBankProductSelection
      description: Change the selected products of the given bank access
      parameters:
        - $ref: '#/components/parameters/access-id'
      responses:
        default:
          $ref: '#/components/responses/regprotect'
      deprecated: false
  /customer/v2/bankzugaenge/builder:
    put:
      tags:
        - Customer Bank Access Builder
      summary: Create Bank Access Builder
      operationId: CustomerBankAccessBuilder_createInstance
      description: Creates a builder instance for a bank access.
      requestBody:
        description: >-
          The body contains information about the bank access to create the
          builder for.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBankAccessBuilder'
            example:
              id: 815251d6-c062-4f61-bec0-182bc14a48fbX
              providerId: e966438b-83cf-49b7-bdcb-3d0550bfd8b2
              bankprodukte:
                - id: DE89370400440532013000
                  bezeichnung: Tagesgeldkonto
                  kategorie: TAGESGELDKONTO
                  saldo: 27365.56
                  saldoDatum: '2021-10-15T00:00:00.000Z'
                  waehrung: EUR
                  kontonummer: '32013000'
                  iban: DE89370400440532013000
                  bic: XXX12345678
                  blz: '12345678'
                  kreditinstitut: Fnord Bank GmbH
                  inhaber: Jane and John Doe
                - id: DE00123456789012345679X
                  saldo: 42
                  iban: DE00123456789012345679
                  inhaber: Jane Doe
        required: true
      responses:
        '201':
          $ref: '#/components/responses/bankAccessCreated'
components:
  parameters:
    access-id:
      description: ID of the bank access
      name: access-id
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: d23710a9-8e4b-4595-b01c-dad9499c9fdb
    product-id:
      description: ID of a banking product
      name: product-id
      in: path
      required: true
      schema:
        type: string
        example: DE00123456789012345678
    transaction-id:
      description: ID of a transaction
      name: transaction-id
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 6f8b9367-22a9-4026-bf8e-1944d435b408
    provider-id:
      description: ID of a provider
      name: provider-id
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 00000000-0000-0000-0000-000000000000
    tenant-name:
      description: >-
        Tenant name plays a role in using the API. The tenant name is a URL
        component in the management API.
      name: tenant-name
      in: path
      required: true
      schema:
        type: string
        example: demo
    user-id:
      description: User reference of the user
      name: user-id
      in: path
      required: true
      schema:
        type: string
        example: 1c5b33f6-9c4d-11e6-ba80-480fcfb9550f
    consent-id:
      description: ID of the consent
      name: consent-id
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 3e97fa51-ce7b-42a0-9101-50fd67dbc3e7
    payment-id:
      description: ID of the payment
      name: payment-id
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: d308a7ae-b762-4a20-8996-7fa22aed6b73
    bearer-user-token-authorization:
      description: The **Authorization** header contains the bearer token.
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: Bearer 596cc7a4-f971-4906-bb5f-ecad8af2ba9a
    customer-ip-address:
      description: The IP address of the customer. Must be a public IP address (IPv4, IPv6)
      name: Customer-IP-Address
      in: header
      required: true
      schema:
        type: string
        example: 154.25.45.133
    callbackUrl:
      description: A callback URL.
      name: callbackUrl
      in: query
      required: true
      schema:
        type: string
        format: url
        example: https://demo-tenant.com/callback?state=123
    queryTanSettings:
      description: Flag to ignore saved TAN-settings and query them.
      name: queryTanSettings
      in: query
      required: false
      schema:
        type: boolean
        example: true
  responses:
    regprotect:
      description: >-
        This response is for REG/Protect tenants. It contains a link to the
        REG/Protect application in the HTTP header Location
      headers:
        Location:
          description: >-
            Link to the REG/Protect application. Append a callbackUrl
            query-parameter to the URL
          schema:
            type: string
            example: >-
              https://banksapi.io/customer/v2/webform?session=e8c22f9e-fb70-4728-a558-793cef314276&useCase=EXAMPLE_CASE
    regprotectPayment:
      description: >-
        This response is for REG/Protect tenants. It contains a link to the
        REG/Protect application in the HTTP header Location
      headers:
        Location:
          description: >-
            Link to the REG/Protect application. Append a callbackUrl
            query-parameter to the URL
[...]
