openapi: 3.0.0
info:
  title: Core API
  description: >-
    Front is a customer operations platform that enables support, sales, and
    account management teams to deliver exceptional service at scale. Front
    streamlines customer communication by combining the efficiency of a help
    desk and the familiarity of email, with automated workflows and real-time
    collaboration behind the scenes.


    With Front, teams can centralize messages across channels, route them to the
    right person, and unlock visibility and insights across all of their
    customer operations. More than 8000 businesses use Front to drive
    operational efficiency that prevents churn, improves retention, and propels
    customer growth.
  version: 1.0.0
  contact:
    name: Front Platform
    url: https://community.front.com
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api2.frontapp.com
tags:
  - name: Knowledge Bases
  - name: Conversations
  - name: Tags
  - name: Teammate groups
  - name: Contacts
  - name: Message Template Folders
  - name: Message Templates
  - name: Contact Groups
  - name: Inboxes
  - name: Shifts
  - name: Accounts
  - name: Custom Fields
  - name: Channels
  - name: Messages
  - name: Signatures
  - name: Drafts
  - name: Rules
  - name: Links
  - name: Teammates
  - name: Analytics
  - name: Comments
  - name: Teams
  - name: Contact Handles
  - name: Contact Notes
  - name: Events
  - name: Attachments
  - name: Token Identity
paths:
  /accounts:
    get:
      tags:
        - Accounts
      summary: List Accounts
      operationId: Accounts_listCompanyAccounts
      description: List the accounts of the company.
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/sortByAccounts'
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          $ref: '#/components/responses/listOfAccounts'
    post:
      tags:
        - Accounts
      summary: Create account
      operationId: Accounts_createNewAccount
      description: Create a new account.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
              $ref: '#/components/schemas/Account'
      responses:
        '201':
          $ref: '#/components/responses/account'
  /accounts/custom_fields:
    get:
      tags:
        - Custom Fields
      summary: List Account's custom fields
      operationId: CustomFields_listAccountCustomFields
      description: Lists the custom fields that can be attached to an Account.
      responses:
        '200':
          $ref: '#/components/responses/listOfCustomFields'
  /accounts/{account_id}:
    get:
      tags:
        - Accounts
      summary: Fetch an account
      operationId: Accounts_getAccount
      description: Fetches an account
      parameters:
        - description: >-
            The Account ID. Alternatively, you can supply the account domain or
            external ID as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: account_id
          required: true
          schema:
            type: string
            default: acc_123
      responses:
        '200':
          $ref: '#/components/responses/account'
    patch:
      tags:
        - Accounts
      summary: Update account
      operationId: Accounts_updateAccount
      description: Updates an account.
      parameters:
        - description: >-
            The Account ID. Alternatively, you can supply the account domain or
            external ID as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: account_id
          required: true
          schema:
            type: string
            default: acc_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPatch'
      responses:
        '200':
          $ref: '#/components/responses/account'
    delete:
      tags:
        - Accounts
      summary: Delete an account
      operationId: Accounts_deleteAccount
      description: Deletes an account
      parameters:
        - description: >-
            The Account ID. Alternatively, you can supply the account domain or
            external ID as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: account_id
          required: true
          schema:
            type: string
            default: acc_123
      responses:
        '204':
          description: No content
  /accounts/{account_id}/contacts:
    get:
      tags:
        - Accounts
      summary: List account contacts
      operationId: Accounts_listAccountContacts
      description: Lists the contacts associated with an Account
      parameters:
        - description: >-
            The Account ID. Alternatively, you can supply the account domain or
            external ID as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: account_id
          required: true
          schema:
            type: string
            default: acc_123
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sortByCards'
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          $ref: '#/components/responses/listOfContacts'
    post:
      tags:
        - Accounts
      summary: Add contact to Account
      operationId: Accounts_addContactsToAccount
      description: Adds a list of contacts to an Account
      parameters:
        - description: >-
            The Account ID. Alternatively, you can supply the account domain or
            external ID as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: account_id
          required: true
          schema:
            type: string
            default: acc_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactIds'
      responses:
        '204':
          description: No content
    delete:
      tags:
        - Accounts
      summary: Remove contact from Account
      operationId: Accounts_removeContactFrom
      description: Removes a list of contacts from an Account
      parameters:
        - description: >-
            The Account ID. Alternatively, you can supply the account domain or
            external ID as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: account_id
          required: true
          schema:
            type: string
            default: acc_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactIds'
      responses:
        '204':
          description: No content
  /analytics/exports:
    post:
      tags:
        - Analytics
      summary: Create a new analytics export.
      operationId: Analytics_createNewExport
      description: >
        Create a new analytics export of messages or events (activities) over a
        specific time span.

        The export will be executed asynchronously. The response will include a
        link that can be used to retrieve the export status & result. Refer to
        the [Analytics](https://dev.frontapp.com/reference/analytics) topic for
        details about specific metrics.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsExportRequest'
      responses:
        '201':
          description: An analytics export.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsCreateNewExportResponse'
  /analytics/exports/{export_id}:
    get:
      tags:
        - Analytics
      summary: Fetch an analytics export.
      operationId: Analytics_getExport
      description: >-
        Fetch an analytics exports. Refer to the
        [Analytics](https://dev.frontapp.com/reference/analytics) topic for
        details about specific metrics.
      parameters:
        - description: The export ID.
          in: path
          name: export_id
          required: true
          schema:
            type: string
            default: exp_123
      responses:
        '200':
          description: An analytics export.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsGetExportResponse'
  /analytics/reports:
    post:
      tags:
        - Analytics
      summary: Create a new analytics report.
      operationId: Analytics_createNewReport
      description: >
        Create a new analytics report for a set of metrics over a specific time
        span. Different filters (e.g. Inbox v Tag v Teammates) will be joined
        with AND logic, but the IDs within a filter will be joined with OR logic
        (e.g. Inbox A or Inbox B, Tag A or Tag B).

        The report will be executed asynchronously. The response will include a
        link that can be used to retrieve the

        report status & result. Refer to the
        [Analytics](https://dev.frontapp.com/reference/analytics) topic for
        details about specific metrics.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsReportRequest'
      responses:
        '201':
          description: An analytics report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsCreateNewReportResponse'
  /analytics/reports/{report_uid}:
    get:
      tags:
        - Analytics
      summary: Fetch an analytics report.
      operationId: Analytics_getReport
      description: >-
        Fetch an analytics report. Refer to the
        [Analytics](https://dev.frontapp.com/reference/analytics) topic for
        details about specific metrics.
      parameters:
        - description: The report UID.
          in: path
          name: report_uid
          required: true
          schema:
            type: string
            default: 723ec32796f12c6f05f6b124d8ef76191a38cec990e0f65d549206c51373f1a0
      responses:
        '200':
          description: An analytics report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsGetReportResponse'
  /channels:
    get:
      tags:
        - Channels
      summary: List channels
      operationId: Channels_list
      description: List the channels of the company.
      responses:
        '200':
          $ref: '#/components/responses/listOfChannels'
  /channels/{channel_id}:
    get:
      tags:
        - Channels
      summary: Get channel
      operationId: Channels_getChannel
      description: Fetch a channel.
      parameters:
        - description: >-
            The Channel ID. Alternatively, you can supply the channel address as
            a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: channel_id
          required: true
          schema:
            type: string
            default: cha_123
      responses:
        '200':
          $ref: '#/components/responses/channel'
    patch:
      tags:
        - Channels
      summary: Update Channel
      operationId: Channels_updateChannel
      description: Update a channel.
      parameters:
        - description: >-
            The Channel ID. Alternatively, you can supply the channel address as
            a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: channel_id
          required: true
          schema:
            type: string
            default: cha_123
      requestBody:
        description: Channel details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannel'
      responses:
        '204':
          description: No content
  /channels/{channel_id}/drafts:
    post:
      tags:
        - Drafts
      summary: Create draft
      operationId: Drafts_createNewDraftMessage
      description: >-
        Create a draft message which is the first message of a new
        [conversation](https://dev.frontapp.com/reference/conversations).
      parameters:
        - description: >-
            The channel ID. Alternatively, you can supply the channel address as
            a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: channel_id
          required: true
          schema:
            type: string
            default: cha_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDraft'
      responses:
        '200':
          $ref: '#/components/responses/message'
  /channels/{channel_id}/incoming_messages:
    post:
      tags:
        - Messages
      summary: Receive custom messages
      operationId: Messages_receiveCustomMessage
      description: >-
        Receive a custom message in Front. This endpoint is available for custom
        channels **ONLY**.
      parameters:
        - description: >-
            The channel ID. Alternatively, you can supply the channel address as
            a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: channel_id
          required: true
          schema:
            type: string
            default: cha_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomMessage'
      responses:
        '202':
          $ref: '#/components/responses/acceptedMessage'
  /channels/{channel_id}/messages:
    post:
      tags:
        - Messages
      summary: Create message
      operationId: Messages_createNewMessage
      description: >-
        Send a new message from a channel. This is one of the ways to create a
        new
        [conversation](https://dev.frontapp.com/reference/conversations#creating-a-new-conversation).
        The new conversation will support both messages and comments
        (discussions).
      parameters:
        - description: >-
            The sending channel ID. Alternatively, you can supply the sending
            channel address as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: channel_id
          required: true
          schema:
            type: string
            default: cha_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundMessage'
      responses:
        '202':
          $ref: '#/components/responses/message'
  /channels/{channel_id}/validate:
    post:
      tags:
        - Channels
      summary: Validate channel
      operationId: Channels_validateSMTPSettings
      description: >-
        Asynchronously validate an SMTP channel (this endpoint is irrelevant to
        other channel types). When you create an SMTP channel via the API,
        [create a
        channel](https://dev.frontapp.com/reference/post_inboxes-inbox-id-channels)
        with type smtp and the send_as set to the needed email address. You then
        [configure the email provider](https://help.front.com/en/articles/2081),
        after which you use this endpoint to asynchronously validate the SMTP
        settings.
      parameters:
        - description: >-
            The Channel ID. Alternatively, you can supply the channel address as
            a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: channel_id
          required: true
          schema:
            type: string
            default: cha_123
      responses:
        '202':
          $ref: '#/components/responses/accepted'
  /comments/{comment_id}:
    patch:
      tags:
        - Comments
      summary: Update comment
      operationId: Comments_updateComment
      description: >-
        Update a comment in a
        [conversation](https://dev.frontapp.com/reference/conversations).
      parameters:
        - description: The Comment ID
          in: path
          name: comment_id
          required: true
          schema:
            type: string
            default: com_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateComment'
      responses:
        '200':
          $ref: '#/components/responses/comment'
  /comments/{comment_id}/mentions:
    get:
      tags:
        - Comments
      summary: List comment mentions
      operationId: Comments_listMentionedTeammates
      description: List the teammates mentioned in a comment.
      parameters:
        - description: The Comment ID
          in: path
          name: comment_id
          required: true
          schema:
            type: string
            default: com_123
      responses:
        '200':
          $ref: '#/components/responses/listOfTeammates'
  /company/rules:
    get:
      tags:
        - Rules
      summary: List all company rules
      operationId: Rules_listAllCompanyRules
      description: List the company rules.
      responses:
        '200':
          $ref: '#/components/responses/listOfRules'
  /company/tags:
    get:
      tags:
        - Tags
      summary: List company tags
      operationId: Tags_listCompany
      description: List the company tags.
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/sortByTags'
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          $ref: '#/components/responses/listOfTags'
    post:
      tags:
        - Tags
      summary: Create company tag
      operationId: Tags_createCompanyTag
      description: Create a company tag.
      requestBody:
        description: Tag to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTag'
      responses:
        '201':
          $ref: '#/components/responses/tag'
  /contact_groups:
    get:
      tags:
        - Contact Groups
      summary: List groups
      operationId: ContactGroups_listGroups
      description: List the contact groups.
      responses:
        '200':
          $ref: '#/components/responses/listOfContactGroups'
    post:
      tags:
        - Contact Groups
      summary: Create group
      operationId: ContactGroups_createNewGroup
      description: Create a new contact group in the default team (workspace).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactGroup'
      responses:
        '204':
          description: No content
  /contact_groups/{contact_group_id}:
    delete:
      tags:
        - Contact Groups
      summary: Delete group
      operationId: ContactGroups_deleteGroup
      description: Delete a contact group.
      parameters:
        - description: The contact group ID
          in: path
          name: contact_group_id
          required: true
          schema:
            type: string
            default: grp_123
      responses:
        '204':
          description: No content
  /contact_groups/{contact_group_id}/contacts:
    get:
      tags:
        - Contact Groups
      summary: List contacts in group
      operationId: ContactGroups_listGroupContacts
      description: List the contacts belonging to the requested group.
      parameters:
        - description: The contact group ID
          in: path
          name: contact_group_id
          required: true
          schema:
            type: string
            default: grp_123
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/listOfContacts'
    post:
      tags:
        - Contact Groups
      summary: Add contacts to group
      operationId: ContactGroups_addContactsToGroup
      description: Add contacts to the requested group.
      parameters:
        - description: The contact group ID
          in: path
          name: contact_group_id
          required: true
          schema:
            type: string
            default: grp_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContactsToGroup'
      responses:
        '204':
          description: No content
    delete:
      tags:
        - Contact Groups
      summary: Remove contacts from group
      operationId: ContactGroups_removeContacts
      description: Remove contacts from the requested group.
      parameters:
        - description: The contact group ID
          in: path
          name: contact_group_id
          required: true
          schema:
            type: string
            default: grp_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveContactsFromGroup'
      responses:
        '204':
          description: No content
  /contacts:
    get:
      tags:
        - Contacts
      summary: List contacts
      operationId: Contacts_listCompanyContacts
      description: List the contacts of the company.
      parameters:
        - $ref: '#/components/parameters/cardQuery'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/sortByCards'
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          $ref: '#/components/responses/listOfContacts'
    post:
      tags:
        - Contacts
      summary: Create contact
      operationId: Contacts_createNewContact
      description: Create a new contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContact'
      responses:
        '201':
          $ref: '#/components/responses/contact'
  /contacts/custom_fields:
    get:
      tags:
        - Custom Fields
      summary: List Contact's custom fields
      operationId: CustomFields_listContactFields
      description: Lists the custom fields that can be attached to a Contact.
      responses:
        '200':
          $ref: '#/components/responses/listOfCustomFields'
  /contacts/merge:
    post:
      tags:
        - Contacts
      summary: Merge contacts
      operationId: Contacts_mergeContacts
      description: >
        Merges the contacts specified into a single contact, deleting the
        merged-in contacts.

        If a target contact ID is supplied, the other contacts will be merged
        into that one.

        Otherwise, some contact in the contact ID list will be treated as the
        target contact.

        Merge conflicts will be resolved in the following ways:
          * name will prioritize manually-updated and non-private contact names
          * descriptions will be concatenated and separated by newlines in order from
            oldest to newest with the (optional) target contact's description first
          * all handles, groups, links, and notes will be preserved
          * other conflicts will use the most recently updated contact's value
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeContacts'
      responses:
        '200':
          $ref: '#/components/responses/contact'
  /contacts/{contact_id}:
    get:
      tags:
        - Contacts
      summary: Get contact
      operationId: Contacts_getOneContact
      description: Fetch a contact.
      parameters:
        - description: >-
            The contact ID. Alternatively, you can supply the contact's source
            and handle as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: contact_id
          required: true
          schema:
            type: string
            default: crd_123
      responses:
        '200':
          $ref: '#/components/responses/contact'
    patch:
      tags:
        - Contacts
      summary: Update a contact
      operationId: Contacts_updateContact
      description: Updates a contact.
      parameters:
        - description: >-
            The contact ID. Alternatively, you can supply the contact's source
            and handle as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: contact_id
          required: true
          schema:
            type: string
            default: crd_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '204':
          description: No content
    delete:
      tags:
        - Contacts
      summary: Delete a contact
      operationId: Contacts_deleteContact
      description: Delete a contact.
      parameters:
        - description: >-
            The contact ID. Alternatively, you can supply the contact's source
            and handle as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: contact_id
          required: true
          schema:
            type: string
            default: crd_123
      responses:
        '204':
          description: No content
  /contacts/{contact_id}/conversations:
    get:
      tags:
        - Contacts
      summary: List contact conversations
      operationId: Contacts_listConversationsReverseChronologicalOrder
      description: >
        List the conversations for a contact in reverse chronological order
        (newest first). For more advanced filtering, see the [search
        endpoint](https://dev.frontapp.com/reference/conversations#search-conversations).
      parameters:
        - description: >-
            The Contact ID. Alternatively, you can supply the contact's source
            and handle as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: contact_id
          required: true
          schema:
            type: string
            default: crd_123
        - $ref: '#/components/parameters/conversationQuery'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/listOfConversations'
  /contacts/{contact_id}/handles:
    post:
      tags:
        - Contact Handles
      summary: Add contact handle
      operationId: ContactHandles_addNewHandle
      description: Adds a new handle to a contact.
      parameters:
        - description: >-
            The contact ID. Alternatively, you can supply the contact's source
            and handle as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: contact_id
          required: true
          schema:
            type: string
            default: crd_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactHandle'
      responses:
        '204':
          description: No content
    delete:
      tags:
        - Contact Handles
      summary: Delete contact handle
      operationId: ContactHandles_removeHandle
      description: Remove a handle from a contact.
      parameters:
        - description: >-
            The contact ID. Alternatively, you can supply the contact's source
            and handle as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: contact_id
          required: true
          schema:
            type: string
            default: crd_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteContactHandle'
      responses:
        '204':
          description: No content
  /contacts/{contact_id}/notes:
    get:
      tags:
        - Contact Notes
      summary: List notes
      operationId: ContactNotes_list
      description: List the notes added to a contact.
      parameters:
        - description: >-
            The contact ID. Alternatively, you can supply the contact's source
            and handle as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: contact_id
          required: true
          schema:
            type: string
            default: crd_123
      responses:
        '202':
          $ref: '#/components/responses/listOfContactNotes'
    post:
      tags:
        - Contact Notes
      summary: Add note
      operationId: ContactNotes_createNewNote
      description: Create a new note on a contact.
      parameters:
        - description: >-
            The contact ID. Alternatively, you can supply the contact's source
            and handle as a [resource
            alias](https://dev.frontapp.com/docs/resource-aliases-1).
          in: path
          name: contact_id
          required: true
          schema:
            type: string
            default: crd_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactNote'
      responses:
        '201':
          $ref: '#/components/responses/contactNote'
  /conversations:
    get:
      tags:
        - Conversations
      summary: List conversations
      operationId: Conversations_listInReverseChronologicalOrder
      description: >
        List the conversations in the company in reverse chronological order
        (most recently updated first). The order will respect your company's
        [bump
        settings](https://help.front.com/t/y729th/customize-when-conversations-bump-up),
        which determine when conversations bump to the top. For more advanced
        filtering, see the [search
        endpoint](https://dev.frontapp.com/reference/conversations#search-conversations).
      parameters:
        - $ref: '#/components/parameters/conversationQuery'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/sortByConversations'
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          $ref: '#/components/responses/listOfConversations'
    post:
      tags:
        - Conversations
      summary: Create discussion conversation
      operationId: Conversations_createDiscussion
      description: >-
        Create a new
        [conversation](https://dev.frontapp.com/reference/conversations#creating-a-new-conversation)
        that only supports comments (known as discussions in Front). If you want
        to create a conversation that supports messages, use the [Create
        message](https://dev.frontapp.com/reference/post_channels-channel-id-messages)
        endpoint. If you want to add a comment to an existing conversation, use
        the [Add
        comment](https://dev.frontapp.com/reference/post_conversations-conversation-id-comments)
        endpoint.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversation'
      responses:
        '201':
          $ref: '#/components/responses/conversation'
  /conversations/custom_fields:
    get:
      tags:
        - Custom Fields
      summary: List Conversation's custom fields
      operationId: CustomFields_listConversationCustomFields
      description: Lists the custom fields that can be attached to a Conversation.
      responses:
        '200':
          $ref: '#/components/responses/listOfCustomFields'
  /conversations/search/{query}:
    get:
      tags:
        - Conversations
      summary: Search conversations
      operationId: Conversations_searchByQuery
      description: >
        Search for conversations. Response will include a count of total matches
        and an array of conversations in descending order by last activity.

        See the [search syntax
        documentation](https://dev.frontapp.com/docs/search-1) for usage
        examples.

        **Note:** This endpoint is subject to [proportional rate
        limiting](https://dev.frontapp.com/docs/rate-limiting#additional-proportional-limiting)
        at 40% of your company's rate limit.
      parameters:
        - description: >-
            Search query string. See
            [Search](https://dev.frontapp.com/docs/search-1) topic for usage
            details.
          in: path
          name: query
          required: true
          schema:
            type: string
            default: inbox:inb_123 tag:tag_345
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/listOfConversationSearchResults'
  /conversations/{conversation_id}:
    get:
      tags:
        - Conversations
      summary: Get conversation
      operationId: Conversations_getById
      description: |
        Fetch a conversation.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      responses:
        '200':
          $ref: '#/components/responses/conversation'
    patch:
      tags:
        - Conversations
      summary: Update conversation
      operationId: Conversations_updateConversationById
      description: Update a conversation.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConversation'
      responses:
        '204':
          description: No content
        '400':
          description: Invalid input, such as invalid custom fields
  /conversations/{conversation_id}/assignee:
    put:
      tags:
        - Conversations
      summary: Update conversation assignee
      operationId: Conversations_updateAssignee
      description: Assign or unassign a conversation.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConversationAssignee'
      responses:
        '204':
          description: No content
  /conversations/{conversation_id}/comments:
    get:
      tags:
        - Comments
      summary: List conversation comments
      operationId: Comments_listConversationComments
      description: >-
        List the comments in a conversation in reverse chronological order
        (newest first).
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      responses:
        '200':
          $ref: '#/components/responses/listOfComments'
    post:
      tags:
        - Comments
      summary: Add comment
      operationId: Comments_addNewComment
      description: >-
        Add a comment to a
        [conversation](https://dev.frontapp.com/reference/conversations). If you
        want to create a new comment-only conversation, use the [Create
        discussion
        conversation](https://dev.frontapp.com/reference/create-conversation)
        endpoint.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComment'
      responses:
        '201':
          $ref: '#/components/responses/comment'
  /conversations/{conversation_id}/drafts:
    get:
      tags:
        - Drafts
      summary: List conversation drafts
      operationId: Drafts_listConversationDrafts
      description: List the drafts in a conversation.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      responses:
        '200':
          $ref: '#/components/responses/listOfMessages'
    post:
      tags:
        - Drafts
      summary: Create draft reply
      operationId: Drafts_createDraftReply
      description: Create a new draft as a reply to the last message in the conversation.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyDraft'
      responses:
        '200':
          $ref: '#/components/responses/message'
  /conversations/{conversation_id}/events:
    get:
      tags:
        - Conversations
      summary: List conversation events
      operationId: Conversations_listEvents
      description: >-
        List the events that occured for a conversation in reverse chronological
        order (newest first). The order will respect your company's [bump
        settings](https://help.front.com/t/y729th/customize-when-conversations-bump-up),
        which determine when conversations bump to the top.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/listOfEvents'
  /conversations/{conversation_id}/followers:
    get:
      tags:
        - Conversations
      summary: List conversation followers
      operationId: Conversations_listFollowers
      description: List the teammates following a conversation.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      responses:
        '200':
          $ref: '#/components/responses/listOfTeammates'
    post:
      tags:
        - Conversations
      summary: Add conversation followers
      operationId: Conversations_addFollowers
      description: Adds teammates to the list of followers of a conversation.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationsAddFollowersRequest'
      responses:
        '204':
          description: No content
    delete:
      tags:
        - Conversations
      summary: Delete conversation followers
      operationId: Conversations_removeFollowers
      description: Removes teammates from the list of followers of a conversation.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationsRemoveFollowersRequest'
      responses:
        '204':
          description: No content
  /conversations/{conversation_id}/inboxes:
    get:
      tags:
        - Conversations
      summary: List conversation inboxes
      operationId: Conversations_listInboxes
      description: List the inboxes in which a conversation is listed.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      responses:
        '200':
          $ref: '#/components/responses/listOfInboxes'
  /conversations/{conversation_id}/links:
    post:
      tags:
        - Conversations
      summary: Add conversation link
      operationId: Conversations_addLink
      description: Adds one or more links to a conversation
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationsAddLinkRequest'
      responses:
        '204':
          description: No content
    delete:
      tags:
        - Conversations
      summary: Remove conversation links
      operationId: Conversations_removeLinks
      description: Removes one or more links to a conversation
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationsRemoveLinksRequest'
      responses:
        '204':
          description: No content
  /conversations/{conversation_id}/messages:
    get:
      tags:
        - Conversations
      summary: List conversation messages
      operationId: Conversations_listMessagesInReverseChronologicalOrder
      description: >-
        List the messages in a conversation in reverse chronological order
        (newest first).
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/sortByConversationMessages'
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          $ref: '#/components/responses/listOfMessages'
    post:
      tags:
        - Messages
      summary: Create message reply
      operationId: Messages_createMessageReply
      description: >-
        Reply to a conversation by sending a message and appending it to the
        conversation.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundReplyMessage'
      responses:
        '202':
          $ref: '#/components/responses/message'
  /conversations/{conversation_id}/reminders:
    patch:
      tags:
        - Conversations
      summary: Update conversation reminders
      operationId: Conversations_updateReminders
      description: >
        Snooze or unsnooze a conversation for the provided user.

        For private conversations, reminders can only be created and edited
        through the API for teammates that own the conversation.

        For shared conversations, reminders created and edited through the API
        are shared for all teammates within the shared inbox(es) that the
        conversation belongs to.
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConversationReminders'
      responses:
        '204':
          description: No content
  /conversations/{conversation_id}/tags:
    post:
      tags:
        - Conversations
      summary: Add conversation tag
      operationId: Conversations_addTagsToConversation
      description: Adds one or more tags to a conversation
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        description: Tag IDs to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagIds'
      responses:
        '204':
          description: No content
    delete:
      tags:
        - Conversations
      summary: Remove conversation tag
      operationId: Conversations_removeTag
      description: Removes one or more tags to a conversation
      parameters:
        - description: The conversation ID
          in: path
          name: conversation_id
          required: true
          schema:
            type: string
            default: cnv_123
      requestBody:
        description: Tag IDs to remove
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagIds'
      responses:
        '204':
          description: No content
  /custom_fields:
    get:
      tags:
        - Custom Fields
      summary: List Contact's custom fields
      operationId: CustomFields_listContactCustomFields
      description: >
        Lists the custom fields that can be attached to a Contact.


        > ⚠️ Deprecated endpoint

        >

        > This endpoint has been deprecated. Please use the fully compatible
        `GET /contacts/custom_fields` endpoint instead.
      responses:
        '200':
          $ref: '#/components/responses/listOfCustomFields'
      deprecated: true
  /download/{attachment_link_id}:
    get:
      tags:
        - Attachments
      summary: Download attachment
      operationId: Attachments_downloadAttachmentFile
      description: Download an attachment file.
      parameters:
        - description: The Attachment ID
          in: path
          name: attachment_link_id
          required: true
          schema:
            type: string
            default: fil_55c8c149
      responses:
        '200':
          $ref: '#/components/responses/attachment'
  /drafts/{draft_id}:
    delete:
      tags:
        - Drafts
      summary: Delete draft
      operationId: Drafts_deleteDraftMessage
      description: Delete a draft message.
      parameters:
        - description: The draft ID
          in: path
          name: draft_id
          required: true
          schema:
            type: string
            default: msg_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDraft'
      responses:
        '204':
          description: No content
  /events:
    get:
      tags:
        - Events
      summary: List events
      operationId: Events_listDetailedInboxEvents
      description: >
        Lists all the detailed events which occured in the inboxes of the
        company ordered in reverse chronological order (newest first).

        Refer to the [Events](https://dev.frontapp.com/reference/events) topic
        for more information, including sorting and filtering.
      parameters:
        - $ref: '#/components/parameters/activityQuery'
        - description: Max number of results per page (max 15)
          in: query
          name: limit
          schema:
            type: integer
            default: 15
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/sortByActivities'
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          $ref: '#/components/responses/listOfEvents'
  /events/{event_id}:
    get:
      tags:
        - Events
      summary: Get event
      operationId: Events_getEvent
      description: >
        Fetch an event.

        Refer to the [Events](https://dev.frontapp.com/reference/events) topic
        for more information, including sorting and filtering.
      parameters:
        - description: The event ID
          in: path
          name: event_id
          required: true
          schema:
            type: string
            default: evt_55c8c149
      responses:
        '200':
          $ref: '#/components/responses/event'
  /inboxes:
    get:
      tags:
        - Inboxes
      summary: List inboxes
      operationId: Inboxes_listInboxes
      description: List the inboxes of the company.
      responses:
        '200':
          $ref: '#/components/responses/listOfInboxes'
    post:
      tags:
        - Inboxes
      summary: Create inbox
      operationId: Inboxes_createDefaultTeamInbox
      description: >-
        Create an inbox in the default team (workspace). The default team will
        be the oldest team created that still exists at the time of the request.
      requestBody:
        description: Inbox details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInbox'
      responses:
        '204':
          description: No content
  /inboxes/custom_fields:
    get:
      tags:
        - Custom Fields
      summary: List Inbox's custom fields
      operationId: CustomFields_listInboxCustomFields
      description: Lists the custom fields that can be attached to an Inbox.
      responses:
        '200':
          $ref: '#/components/responses/listOfCustomFields'
  /inboxes/{inbox_id}:
    get:
      tags:
        - Inboxes
      summary: Get inbox
      operationId: Inboxes_getInbox
      description: Fetch an inbox.
      parameters:
        - description: The Inbox ID
          in: path
          name: inbox_id
          required: true
          schema:
            type: string
            default: inb_123
      responses:
        '200':
          $ref: '#/components/responses/inbox'
  /inboxes/{inbox_id}/channels:
    get:
      tags:
        - Inboxes
      summary: List inbox channels
      operationId: Inboxes_listChannels
      description: List the channels in an inbox.
      parameters:
        - description: The Inbox ID
          in: path
          name: inbox_id
          required: true
          schema:
            type: string
            default: inb_123
      responses:
        '200':
          $ref: '#/components/responses/listOfChannels'
    post:
      tags:
        - Channels
      summary: Create a channel
      operationId: Channels_createInboxChannel
      description: Create a channel in an inbox.
      parameters:
        - description: The Inbox ID
          in: path
          name: inbox_id
          required: true
          schema:
            type: string
            default: inb_123
      requestBody:
        description: Channel to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannel'
      responses:
        '204':
          description: No content
  /inboxes/{inbox_id}/conversations:
    get:
      tags:
        - Inboxes
      summary: List inbox conversations
      operationId: Inboxes_listConversationsInbox
      description: >
        List the conversations in an inbox. For more advanced filtering, see the
        [search
        endpoint](https://dev.frontapp.com/reference/conversations#search-conversations).
      parameters:
        - description: The Inbox ID
          in: path
          name: inbox_id
          required: true
          schema:
            type: string
            default: inb_123
        - $ref: '#/components/parameters/conversationQuery'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/listOfConversations'
  /inboxes/{inbox_id}/imported_messages:
    post:
      tags:
        - Messages
      summary: Import message
      operationId: Messages_importNewInboxMessage
      description: Import a new message in an inbox.
      parameters:
        - description: The Inbox ID
          in: path
          name: inbox_id
          required: true
          schema:
            type: string
            default: inb_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportMessage'
      responses:
        '202':
          $ref: '#/components/responses/acceptedMessage'
  /inboxes/{inbox_id}/teammates:
    get:
      tags:
        - Inboxes
      summary: List inbox access
      operationId: Inboxes_listTeammatesAccess
      description: List the teammates with access to an inbox.
      parameters:
        - description: The Inbox ID
          in: path
          name: inbox_id
          required: true
          schema:
            type: string
            default: inb_123
      responses:
        '200':
          $ref: '#/components/responses/listOfTeammates'
    post:
      tags:
        - Inboxes
      summary: Add inbox access
      operationId: Inboxes_addTeammateAccess
      description: Give access to one or more teammates to an inbox.
      parameters:
        - description: The Inbox ID
          in: path
          name: inbox_id
          required: true
          schema:
            type: string
            default: inb_123
      requestBody:
        description: >-
          Teammate IDs to add. Alternatively, you can supply teammate emails as
          a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeammateIds'
      responses:
        '204':
          description: No content
    delete:
      tags:
        - Inboxes
      summary: Removes inbox access
      operationId: Inboxes_removeAccess
      description: Remove access of one or more teammates from an inbox.
      parameters:
        - description: The Inbox ID
          in: path
          name: inbox_id
          required: true
          schema:
            type: string
            default: inb_123
      requestBody:
        description: >-
          Teammate IDs to remove. Alternatively, you can supply teammate emails
          as a [resource
          alias](https://dev.frontapp.com/docs/resource-aliases-1).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeammateIds'
      responses:
        '204':
          description: No content
  /knowledge_base_articles/{article_id}:
    get:
      tags:
        - Knowledge Bases
      summary: Get a knowledge base article
      operationId: KnowledgeBases_getArticleById
      description: >
        Fetches a knowledge base article.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the article to fetch
          in: path
          name: article_id
          required: true
          schema:
            type: string
            default: kba_123
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseArticleSlim'
    delete:
      tags:
        - Knowledge Bases
      summary: Delete an article
      operationId: KnowledgeBases_deleteArticle
      description: >
        Deletes an article and all its content and translations.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the article to delete
          in: path
          name: article_id
          required: true
          schema:
            type: string
            default: kba_123
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseArticleSlim'
  /knowledge_base_articles/{article_id}/content:
    get:
      tags:
        - Knowledge Bases
      summary: Get knowledge base article with content in default locale
      operationId: KnowledgeBases_getContentDefaultLocale
      description: >
        Fetches a knowledge base article with content in the default locale.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the article to fetch
          in: path
          name: article_id
          required: true
          schema:
            type: string
            default: kba_123
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseArticle'
    patch:
      tags:
        - Knowledge Bases
      summary: Update article content in default locale.
      operationId: KnowledgeBases_updateArticleContentDefaultLocale
      description: >
        Updates an article's content in the default locale


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the article to update
          in: path
          name: article_id
          required: true
          schema:
            type: string
            default: kba_123
      requestBody:
        content:
          application/json:
            schema:
              required:
                - author_id
                - content
              $ref: '#/components/schemas/KnowledgeBaseArticlePatch'
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseArticle'
  /knowledge_base_articles/{article_id}/download/{attachment_id}:
    get:
      tags:
        - Knowledge Bases
      summary: Download attachment from an article
      operationId: KnowledgeBases_downloadAttachmentArticle
      description: >
        Downloads the attachment from an article.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the article
          in: path
          name: article_id
          required: true
          schema:
            type: string
            default: kba_123
        - description: The ID of the file to download
          in: path
          name: attachment_id
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/attachment'
  /knowledge_base_articles/{article_id}/locales/{locale}/content:
    get:
      tags:
        - Knowledge Bases
      summary: Get knowledge base article with content in specified locale
      operationId: KnowledgeBases_getArticleContent
      description: >
        Fetches a knowledge base article with content for a given locale.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the article to fetch
          in: path
          name: article_id
          required: true
          schema:
            type: string
            default: kba_123
        - description: >-
            The
            [locale](https://dev.frontapp.com/reference/knowledge-bases#locales)
            of the content to fetch
          in: path
          name: locale
          required: true
          schema:
            type: string
            default: en
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseArticle'
    patch:
      tags:
        - Knowledge Bases
      summary: Update article content in specified locale
      operationId: KnowledgeBases_updateArticleContentLocale
      description: >
        Updates an article's content for a given locale.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the article to update
          in: path
          name: article_id
          required: true
          schema:
            type: string
            default: kba_123
        - description: >-
            The
            [locale](https://dev.frontapp.com/reference/knowledge-bases#locales)
            of the updated content
          in: path
          name: locale
          required: true
          schema:
            type: string
            default: en
      requestBody:
        content:
          application/json:
            schema:
              required:
                - author_id
                - content
              $ref: '#/components/schemas/KnowledgeBaseArticlePatch'
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseArticle'
  /knowledge_base_categories/{category_id}:
    get:
      tags:
        - Knowledge Bases
      summary: Get a knowledge base category
      operationId: KnowledgeBases_getCategory
      description: >
        Fetches a knowledge base category.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the category to fetch
          in: path
          name: category_id
          required: true
          schema:
            type: string
            default: kbc_123
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseCategorySlim'
    delete:
      tags:
        - Knowledge Bases
      summary: Delete a knowledge base category
      operationId: KnowledgeBases_deleteCategory
      description: >
        Deletes a knowledge base category.


        > ⚠️ Warning

        >

        > When a category is deleted, all articles in the category are also
        deleted.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the category to delete
          in: path
          name: category_id
          required: true
          schema:
            type: string
            default: kbc_123
      responses:
        '204':
          description: No content
  /knowledge_base_categories/{category_id}/articles:
    get:
      tags:
        - Knowledge Bases
      summary: List articles in a category
      operationId: KnowledgeBases_listArticlesInCategory
      description: >
        List articles in a category.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the category
          in: path
          name: category_id
          required: true
          schema:
            type: string
            default: kbc_123
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/listOfKnowledgeBaseArticles'
  /knowledge_base_categories/{category_id}/content:
    get:
      tags:
        - Knowledge Bases
      summary: Get knowledge base category content in default locale
      operationId: KnowledgeBases_getCategoryContentDefaultLocale
      description: >
        Fetches a knowledge base category with content in the default locale.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the category to fetch
          in: path
          name: category_id
          required: true
          schema:
            type: string
            default: kbc_123
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseCategory'
    patch:
      tags:
        - Knowledge Bases
      summary: Update knowledge base category in default locale
      operationId: KnowledgeBases_updateCategoryDefaultLocale
      description: >
        Updates a knowledge base category in the default locale. Will republish
        the knowledge base if the knowledge base is currently published.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the category to update
          in: path
          name: category_id
          required: true
          schema:
            type: string
            default: kbc_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KnowledgeBaseCategoryPatch'
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseCategory'
  /knowledge_base_categories/{category_id}/locales/{locale}/content:
    get:
      tags:
        - Knowledge Bases
      summary: Get knowledge base category with content in specified locale
      operationId: KnowledgeBases_getCategoryContentLocale
      description: >
        Fetches a knowledge base category with content for a given locale.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the category to fetch
          in: path
          name: category_id
          required: true
          schema:
            type: string
            default: kbc_123
        - description: >-
            The
            [locale](https://dev.frontapp.com/reference/knowledge-bases#locales)
            of the content to fetch
          in: path
          name: locale
          required: true
          schema:
            type: string
            default: en
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseCategory'
    patch:
      tags:
        - Knowledge Bases
      summary: Update knowledge base category in specified locale
      operationId: KnowledgeBases_updateCategoryContentLocale
      description: >
        Updates a knowledge base category for a given locale. Will republish the
        knowledge base if the knowledge base is currently published.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the category to update
          in: path
          name: category_id
          required: true
          schema:
            type: string
            default: kbc_123
        - description: >-
            The
            [locale](https://dev.frontapp.com/reference/knowledge-bases#locales)
            of the updated content
          in: path
          name: locale
          required: true
          schema:
            type: string
            default: en
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KnowledgeBaseCategoryPatch'
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseCategory'
  /knowledge_bases:
    get:
      tags:
        - Knowledge Bases
      summary: List knowledge bases
      operationId: KnowledgeBases_listKnowledgeBases
      description: >
        List the knowledge bases of the company.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      responses:
        '200':
          $ref: '#/components/responses/listOfKnowledgeBases'
    post:
      tags:
        - Knowledge Bases
      summary: Create a knowledge base
      operationId: KnowledgeBases_createNewKnowledgeBase
      description: >
        Creates a knowledge base.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
              $ref: '#/components/schemas/KnowledgeBaseCreate'
      responses:
        '201':
          $ref: '#/components/responses/knowledgeBase'
  /knowledge_bases/{knowledge_base_id}:
    get:
      tags:
        - Knowledge Bases
      summary: Get a knowledge base
      operationId: KnowledgeBases_getKnowledgeBase
      description: >
        Fetches a knowledge base.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the knowledge base to fetch
          in: path
          name: knowledge_base_id
          required: true
          schema:
            type: string
            default: knb_123
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBaseSlim'
  /knowledge_bases/{knowledge_base_id}/articles:
    get:
      tags:
        - Knowledge Bases
      summary: List articles in a knowledge base
      operationId: KnowledgeBases_listArticlesInBase
      description: >
        List articles in a knowledge base


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the knowledge base
          in: path
          name: knowledge_base_id
          required: true
          schema:
            type: string
            default: knb_123
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/listOfKnowledgeBaseArticles'
    post:
      tags:
        - Knowledge Bases
      summary: Create article in a knowledge base in default locale
      operationId: KnowledgeBases_createArticleDefaultLocale
      description: >
        Creates an article in a knowledge base in the default locale.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the knowledge base to create the article in
          in: path
          name: knowledge_base_id
          required: true
          schema:
            type: string
            default: knb_123
      requestBody:
        content:
          application/json:
            schema:
              required:
                - author_id
                - subject
                - content
              $ref: '#/components/schemas/KnowledgeBaseArticleCreate'
      responses:
        '201':
          $ref: '#/components/responses/knowledgeBaseArticle'
  /knowledge_bases/{knowledge_base_id}/categories:
    get:
      tags:
        - Knowledge Bases
      summary: List categories in a knowledge base
      operationId: KnowledgeBases_listCategoriesInBase
      description: >
        List categories in a knowledge base.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the knowledge base
          in: path
          name: knowledge_base_id
          required: true
          schema:
            type: string
            default: knb_123
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/listOfKnowledgeBaseCategories'
    post:
      tags:
        - Knowledge Bases
      summary: Create knowledge base category in default locale
      operationId: KnowledgeBases_createCategoryDefaultLocale
      description: >
        Creates a knowledge base category in the default locale.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the knowledge base to create the category in
          in: path
          name: knowledge_base_id
          required: true
          schema:
            type: string
            default: knb_123
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
              $ref: '#/components/schemas/KnowledgeBaseCategoryCreate'
      responses:
        '201':
          $ref: '#/components/responses/knowledgeBaseCategory'
  /knowledge_bases/{knowledge_base_id}/content:
    get:
      tags:
        - Knowledge Bases
      summary: Get a knowledge base with content in default locale
      operationId: KnowledgeBases_getContentDefaultLocale
      description: >
        Fetches a knowledge base with its content in the default locale.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the knowledge base to fetch
          in: path
          name: knowledge_base_id
          required: true
          schema:
            type: string
            default: knb_123
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBase'
    patch:
      tags:
        - Knowledge Bases
      summary: Update knowledge base in default locale
      operationId: KnowledgeBases_updateDefaultKnowledgeBase
      description: >
        Updates a knowledge base in the default locale. Will republish the
        knowledge base if the knowledge base is currently published.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the knowledge base to update
          in: path
          name: knowledge_base_id
          required: true
          schema:
            type: string
            default: knb_123
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
              $ref: '#/components/schemas/KnowledgeBasePatch'
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBase'
  /knowledge_bases/{knowledge_base_id}/locales/{locale}/articles:
    post:
      tags:
        - Knowledge Bases
      summary: Create article in a knowledge base in specified locale
      operationId: KnowledgeBases_createArticleLocale
      description: >
        Create an article for a given locale in a knowledge base.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the knowledge base to create the article in
          in: path
          name: knowledge_base_id
          required: true
          schema:
            type: string
            default: knb_123
        - description: >-
            The
            [locale](https://dev.frontapp.com/reference/knowledge-bases#locales)
            of the article's content
          in: path
          name: locale
          required: true
          schema:
            type: string
            default: en
      requestBody:
        content:
          application/json:
            schema:
              required:
                - author_id
                - subject
                - content
              $ref: '#/components/schemas/KnowledgeBaseArticleCreate'
      responses:
        '201':
          $ref: '#/components/responses/knowledgeBaseArticle'
  /knowledge_bases/{knowledge_base_id}/locales/{locale}/categories:
    post:
      tags:
        - Knowledge Bases
      summary: Create knowledge base category in specified locale
      operationId: KnowledgeBases_createCategoryInLocale
      description: >
        Creates a knowledge base category for a given locale.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the knowledge base to create the category in
          in: path
          name: knowledge_base_id
          required: true
          schema:
            type: string
            default: knb_123
        - description: >-
            The
            [locale](https://dev.frontapp.com/reference/knowledge-bases#locales)
            of the category's content
          in: path
          name: locale
          required: true
          schema:
            type: string
            default: en
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
              $ref: '#/components/schemas/KnowledgeBaseCategoryCreate'
      responses:
        '201':
          $ref: '#/components/responses/knowledgeBaseCategory'
  /knowledge_bases/{knowledge_base_id}/locales/{locale}/content:
    get:
      tags:
        - Knowledge Bases
      summary: Get a knowledge base with content in specified locale
      operationId: KnowledgeBases_getKnowledgeBaseContentInLocale
      description: >
        Fetches a knowledge base with its content for a given locale.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the knowledge base to fetch
          in: path
          name: knowledge_base_id
          required: true
          schema:
            type: string
            default: knb_123
        - description: >-
            The
            [locale](https://dev.frontapp.com/reference/knowledge-bases#locales)
            of the content to fetch
          in: path
          name: locale
          required: true
          schema:
            type: string
            default: en
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBase'
    patch:
      tags:
        - Knowledge Bases
      summary: Update knowledge base in specified locale
      operationId: KnowledgeBases_updateKnowledgeBaseLocale
      description: >
        Updates a knowledge base for a given locale. Will republish the
        knowledge base if the knowledge base is currently published.


        **Note**: You must use an API token to authenticate. OAuth is not
        supported at this time.
      parameters:
        - description: The ID of the knowledge base to update
          in: path
          name: knowledge_base_id
          required: true
          schema:
            type: string
            default: knb_123
        - description: >-
            The
            [locale](https://dev.frontapp.com/reference/knowledge-bases#locales)
            of the updated content
          in: path
          name: locale
          required: true
          schema:
            type: string
            default: en
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
              $ref: '#/components/schemas/KnowledgeBasePatch'
      responses:
        '200':
          $ref: '#/components/responses/knowledgeBase'
  /links:
    get:
      tags:
        - Links
      summary: List links
      operationId: Links_listByIdAndType
      description: >-
        List the links of the company paginated by id. Allows filtering by link
        type via the q.types param.
      parameters:
        - $ref: '#/components/parameters/topicQuery'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/sortByLinks'
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          $ref: '#/components/responses/listOfLinks'
    post:
      tags:
        - Links
      summary: Create link
      operationId: Links_createLink
      description: >-
        Create a link. You must supply either `pattern` or `external_url` in the
        request, but not both (`pattern` is for dynamic objects while
        `external_url` is for standard links). If `pattern` is provided, the API
        call updates the dynamic objects matching the exact pattern. If the link
        is resolved to an installed links integration, any name retrieved from
        the integration will override the provided name in the request.
      requestBody:
        description: Link to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLink'
      responses:
        '201':
          $ref: '#/components/responses/link'
  /links/custom_fields:
    get:
      tags:
        - Custom Fields
      summary: List Link's custom fields
      operationId: CustomFields_getList
      description: Lists the custom fields that can be attached to a Link.
      responses:
        '200':
          $ref: '#/components/responses/listOfCustomFields'
  /links/{link_id}:
    get:
      tags:
        - Links
      summary: Get link
      operationId: Links_getLink
      description: Fetch a link.
      parameters:
        - description: The link ID
          in: path
          name: link_id
          required: true
          schema:
            type: string
            default: top_123
      responses:
        '200':
          $ref: '#/components/responses/link'
    patch:
      tags:
        - Links
      summary: Update a link
      operationId: Links_updateLink
      description: Update a link.
      parameters:
        - description: The link ID
          in: path
          name: link_id
          required: true
          schema:
            type: string
            default: top_123
      requestBody:
        description: Link fields to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLink'
      responses:
        '204':
          description: No content
  /links/{link_id}/conversations:
    get:
      tags:
        - Links
      summary: List link conversations
      operationId: Links_listConversations
      description: >
        List the conversations linked to a specific link. For more advanced
        filtering, see the [search
        endpoint](https://dev.frontapp.com/reference/conversations#search-conversations).
      parameters:
        - description: The Link ID
          in: path
          name: link_id
          required: true
          schema:
            type: string
            default: top_123
        - $ref: '#/components/parameters/conversationQuery'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/sortByConversations'
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          $ref: '#/components/responses/listOfConversations'
  /me:
    get:
      tags:
        - Token Identity
      summary: API Token details
      operationId: TokenIdentity_getDetails
      description: Fetch the details of the API token.
      responses:
        '200':
          $ref: '#/components/responses/identity'
  /message_template_folders:
    get:
      tags:
        - Message Template Folders
      summary: List folders
      operationId: MessageTemplateFolders_listFolders
      description: List the message template folders.
      parameters:
        - $ref: '#/components/parameters/sortByCannedAnswerFolders'
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          $ref: '#/components/responses/listOfCannedAnswerFolders'
    post:
      tags:
        - Message Template Folders
      summary: Create folder
      operationId: MessageTemplateFolders_createNewFolder
      description: Create a new message template folder.
      requestBody:
        description: Message template folder to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageTemplateFolder'
      responses:
        '201':
          $ref: '#/components/responses/cannedAnswerFolder'
  /message_template_folders/{message_template_folder_id}:
    get:
      tags:
        - Message Template Folders
      summary: Get folder
      operationId: MessageTemplateFolders_getFolder
      description: Fetch a message template folder.
      parameters:
        - description: The message template folder ID
          in: path
          name: message_template_folder_id
          required: true
          schema:
            type: string
            default: rsf_123
      responses:
        '200':
          $ref: '#/components/responses/cannedAnswerFolder'
    patch:
      tags:
        - Message Template Folders
      summary: Update folder
      operationId: MessageTemplateFolders_updateFolder
      description: Update message template folder
      parameters:
        - description: The message template folder ID
          in: path
          name: message_template_folder_id
          required: true
          schema:
            type: string
            default: rsf_123
      requestBody:
        description: Message template folder to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMessageTemplateFolder'
      responses:
        '200':
          $ref: '#/components/responses/cannedAnswerFolder'
    delete:
      tags:
        - Message Template Folders
      summary: Delete folder
      operationId: MessageTemplateFolders_deleteFolder
      description: Delete a message template folder and child folders/templates
      parameters:
        - description: The message template folder id
          in: path
          name: message_template_folder_id
          required: true
          schema:
            type: string
            default: rsf_123
      responses:
        '202':
          $ref: '#/components/responses/acceptedCannedAnswerFolderDeletion'
  /message_template_folders/{message_template_folder_id}/message_template_folders:
    get:
      tags:
        - Message Template Folders
      summary: Get child folders
      operationId: MessageTemplateFolders_getChildFolders
      description: Fetch the child message templates folders of a message template folder.
      parameters:
        - description: The message template folder ID
          in: path
          name: message_template_folder_id
          required: true
          schema:
            type: string
            default: rsf_123
      responses:
        '200':
          $ref: '#/components/responses/listOfCannedAnswerFolders'
    post:
      tags:
        - Message Template Folders
      summary: Create child folder
      operationId: MessageTemplateFolders_createChildFolder
      description: Create a new message template folder as a child of the given folder
      parameters:
        - description: The parent message template folder ID
          in: path
          name: message_template_folder_id
          required: true
          schema:
            type: string
            default: rsf_123
      requestBody:
        description: Message template folder to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageTemplateFolderAsChild'
      responses:
        '201':
          $ref: '#/components/responses/cannedAnswerFolder'
  /message_template_folders/{message_template_folder_id}/message_templates:
    get:
      tags:
        - Message Templates
      summary: Get child templates
      operationId: MessageTemplates_getChildTemplates
      description: Fetch the child message templates of a message template folder.
      parameters:
        - description: The message template folder ID
          in: path
          name: message_template_folder_id
          required: true
          schema:
            type: string
            default: rsf_123
      responses:
        '200':
          $ref: '#/components/responses/listOfCannedAnswerFolders'
    post:
      tags:
        - Message Templates
      summary: Create child template
      operationId: MessageTemplates_createChildTemplate
      description: Create a new message template as a child of the given folder
      parameters:
        - description: The parent message template folder ID
          in: path
          name: message_template_folder_id
          required: true
          schema:
            type: string
            default: rsf_123
      requestBody:
        description: Message template to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageTemplateAsChild'
      responses:
        '201':
          $ref: '#/components/responses/cannedAnswer'
  /message_templates:
    get:
      tags:
        - Message Templates
      summary: List message templates
      operationId: MessageTemplates_list
      description: List the message templates.
      parameters:
        - $ref: '#/components/parameters/sortByCannedAnswers'
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          $ref: '#/components/responses/listOfCannedAnswers'
    post:
      tags:
        - Message Templates
      summary: Create message template
      operationId: MessageTemplates_createNewTemplate
      description: Create a new message template.
      requestBody:
        description: Message template to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSharedMessageTemplate'
      responses:
        '201':
          $ref: '#/components/responses/cannedAnswer'
  /message_templates/{message_template_id}:
    get:
      tags:
        - Message Templates
      summary: Get message template
      operationId: MessageTemplates_getTemplateById
      description: Fetch a message template.
      parameters:
        - description: The message template ID
          in: path
          name: message_template_id
          required: true
          schema:
            type: string
            default: rsp_123
      responses:
        '200':
          $ref: '#/components/responses/cannedAnswer'
    patch:
      tags:
        - Message Templates
      summary: Update message template
      operationId: MessageTemplates_updateTemplateById
      description: Update message template
      parameters:
        - description: The message template ID
          in: path
          name: message_template_id
          required: true
          schema:
            type: string
            default: rsp_123
      requestBody:
        description: Message template to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMessageTemplate'
      responses:
        '200':
          $ref: '#/components/responses/cannedAnswer'
    delete:
      tags:
        - Message Templates
      summary: Delete message template
      operationId: MessageTemplates_deleteTemplate
      description: Delete a message template
      parameters:
        - description: The message template ID
          in: path
          name: message_template_id
          required: true
          schema:
            type: string
            default: rsp_123
      responses:
        '204':
          description: No content
  /messages/{message_id}:
    get:
      tags:
        - Messages
      summary: Get message
      operationId: Messages_getMessageById
      description: >
        Fetch a message.


        > ℹ️ The HTTP Header `Accept` can be used to request the message in a
        different format.

        > By default, Front will return the documented JSON response. By
        requesting `message/rfc822`, the response will contain the message in
        the EML format (for email messages only).
      parameters:
        - description: The message ID
          in: path
          name: message_id
          required: true
          schema:
            type: string
            default: msg_123
      responses:
        '200':
          $ref: '#/components/responses/message'
  /messages/{message_id}/seen:
    get:
      tags:
        - Messages
      summary: Get message seen status
      operationId: Messages_getMessageSeenStatus
      description: >-
        Get the seen receipts for the given message. If no seen-by information
        is available, there will be a single entry for the first time the
        message was seen by any recipient. If seen-by information is available,
        there will be an entry for each recipient who has seen the message.
      parameters:
        - description: The message ID
          in: path
          name: message_id
          required: true
          schema:
            type: string
            default: msg_123
      responses:
        '200':
          $ref: '#/components/responses/listOfSeenReceipts'
    post:
      tags:
        - Messages
      summary: Mark message seen
      operationId: Messages_markMessageSeen
      description: >-
        Mark an outbound message from Front as seen. Note, the message seen
        route should only be called in response to an actual end-user's
        message-seen action. In accordance with this behavior, the route is rate
        limited to 10 requests per hour. The request body should send an empty
        object.
      parameters:
        - description: The message ID
          in: path
          name: message_id
          required: true
          schema:
            type: string
            default: msg_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessagesMarkMessageSeenRequest'
      responses:
        '204':
          description: No content
  /rules:
    get:
      tags:
        - Rules
      summary: List rules
      operationId: Rules_listCompanyRules
      description: List the rules of the company.
      responses:
        '200':
          $ref: '#/components/responses/listOfRules'
  /rules/{rule_id}:
    get:
      tags:
        - Rules
      summary: Get rule
      operationId: Rules_getRule
      description: Fetch a rule.
      parameters:
        - description: The Rule ID
          in: path
          name: rule_id
          required: true
          schema:
            type: string
            default: rul_123
      responses:
        '200':
          $ref: '#/components/responses/rule'
  /shift/{shift_id}:
    get:
      tags:
        - Shifts
      summary: Get shift
      operationId: Shifts_getShift
      description: Fetch a shift.
      parameters:
        - description: The Shift ID
          in: path
          name: shift_id
          required: true
          schema:
            type: string
            default: shf_123
      responses:
        '200':
          $ref: '#/components/responses/shift'
  /shift/{shift_id}/teammates:
    get:
      tags:
        - Shifts
      summary: List shift's teammates
      operationId: Shifts_listShiftTeammates
      description: List the teammates assigned to a shift.
      parameters:
        - description: The Shift ID
          in: path
          name: shift_id
          required: true
          schema:
            type: string
            default: shf_123
      responses:
        '200':
          $ref: '#/components/responses/listOfTeammates'
    post:
      tags:
        - Shifts
      summary: Add teammates to shift
      operationId: Shifts_addTeammatesToShift
      description: >-
        Add teammates to a shift. The selected teammates must be in the team
        that owns the shift.
      parameters:
        - description: The Shift ID
          in: path
          name: shift_id
          required: true
          schema:
            type: string
            default: shf_123
      requestBody:
        description: >-
          Teammate IDs to add. Alternatively, you can supply emails as a
          [resource alias](https://dev.frontapp.com/docs/resource-aliases-1).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeammateIds'
      responses:
        '204':
          description: No content
    delete:
      tags:
        - Shifts
      summary: Remove teammates from shift
      operationId: Shifts_removeTeammatesFromShift
      description: Remove teammates from a shift.
      parameters:
        - description: The Shift ID
          in: path
          name: shift_id
          required: true
          schema:
            type: string
            default: shf_123
      requestBody:
        description: >-
          Teammate IDs to remove. Alternatively, you can supply emails as a
          [resource alias](https://dev.frontapp.com/docs/resource-aliases-1).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeammateIds'
      responses:
        '204':
          description: No content
  /shifts:
    get:
      tags:
        - Shifts
      summary: List Shifts
      operationId: Shifts_listShifts
      description: List the shifts.
      responses:
        '200':
          $ref: '#/components/responses/listOfShifts'
    post:
      tags:
        - Shifts
      summary: Create shift
      operationId: Shifts_createShift
      description: Create a shift.
      requestBody:
        description: Shift to create details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShift'
      responses:
        '201':
          $ref: '#/components/responses/shift'
  /shifts/{shift_id}:
    patch:
      tags:
        - Shifts
      summary: Update shift
      operationId: Shifts_updateShift
      description: Update a shift.
      parameters:
        - description: The Shift ID
          in: path
          name: shift_id
          required: true
          schema:
            type: string
            default: shf_123
      requestBody:
        description: Updated Shift Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShift'
      responses:
        '204':
          description: No content
  /signatures/{signature_id}:
    get:
      tags:
        - Signatures
      summary: Get signatures
      operationId: Signatures_getSignature
      description: Get the given signature.
      parameters:
        - description: The signature ID
          in: path
          name: signature_id
          required: true
          schema:
            type: string
            default: sig_123
      responses:
        '200':
          $ref: '#/components/responses/signature'
    patch:
      tags:
        - Signatures
      summary: Update signature
      operationId: Signatures_updateSignature
      description: Update signature
      parameters:
        - description: The signature ID
          in: path
          name: signature_id
          required: true
          schema:
            type: string
            default: sig_123
      requestBody:
        description: Signature to update
        content:
          application/json:
            schema:
[...]
