openapi: 3.0.2
info:
  title: Unit OpenAPI specifications
  description: An OpenAPI specifications for unit-sdk clients
  version: 0.0.2
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.s.unit.sh
tags:
  - name: StopPayment
  - name: Get Application
  - name: Update Application
  - name: Cancel Application
  - name: Get List Applications
  - name: Create Application
  - name: Get List Application Forms
  - name: Create ApplicationForm
  - name: Upload a PNG Document for an Application
  - name: Upload a JPEG Document for an Application
  - name: Upload a PNG Document for an Application - Back Side
  - name: Upload a JPEG Document for an Application - Back Side
  - name: Get List of Documents
  - name: Create a Document for an Application
  - name: Verify a Document for an Application
  - name: Download a Document
  - name: Download a Document - Back Side
  - name: Get Application Form
  - name: Get List Accounts
  - name: Create Account
  - name: Get Account
  - name: Update Account
  - name: Get Account Limits
  - name: Unfreeze Account
  - name: Freeze an Account
  - name: Close an Account
  - name: Reopen an Account
  - name: Enter Control Agreement for Account
  - name: Activate Control Agreement for Account
  - name: Deactivate Control Agreement for Account
  - name: Get list account end-of-day balances history
  - name: Get Customer
  - name: Update Customer
  - name: Get List Customers
  - name: Archive Customer
  - name: Get List Payments
  - name: Create a Payment
  - name: Get Payment
  - name: Update Payment
  - name: Cancel Payment
  - name: Get Received Payments List
  - name: Get Received Payment
  - name: Update Received Payment
  - name: Advance Received Payment
  - name: Get List Counterparties
  - name: Create Counterparty
  - name: Delete Counterparty
  - name: Get Counterparty
  - name: Update Counterparty
  - name: Get Counterparty Balance
  - name: Get List Recurring Payments
  - name: Create Recurring Payment
  - name: Get Recurring Payment
  - name: Disable Recurring Payment
  - name: Enable Recurring Payment
  - name: Get List of Cards
  - name: Create a Card
  - name: Get Card
  - name: Update Card
  - name: Get Card PIN Status
  - name: Report Card as Stolen
  - name: Report Card as Lost
  - name: Close a Card
  - name: Freeze a Card
  - name: Unfreeze a Card
  - name: Get Card Limits
  - name: Get List Authorizations
  - name: Get Authorization
  - name: Get List Authorization Requests
  - name: Get Authorization Request
  - name: Approve Authorization Request
  - name: Decline Authorization Request
  - name: Get List Statements
  - name: Get Statement HTML
  - name: Get Statement PDF
  - name: Get Bank verification PDF
  - name: Get List Rewards
  - name: Create Reward
  - name: Get Reward
  - name: Get List Events
  - name: Get Event
  - name: Fire Event
  - name: Get Institution
  - name: Create Fee
  - name: Get List Check Deposits
  - name: Create Check Deposit
  - name: Get Check Deposit
  - name: Update Check Deposit
  - name: Confirm Check Deposit
  - name: Get Check Deposit Front Image
  - name: Get Check Deposit Back Image
  - name: Get List Org API Tokens
  - name: Create Org Api Token
  - name: Revoke Org API Token
  - name: Create Customer Token
  - name: Create Customer Token Verification
  - name: Get List Webhooks
  - name: Create Webhook
  - name: Get Webhook
  - name: Update Webhook
  - name: Enable Webhook
  - name: Disable Webhook
  - name: Get ATM Locations List
  - name: Get Transaction
  - name: Update Transaction
  - name: Get List Transactions
  - name: Get List Disputes
  - name: Get Dispute
  - name: Get List Repayments
  - name: Create a Repayment
  - name: Get Repayment
  - name: Get List Check Payments
  - name: Create Check Payment
  - name: Get Check Payment
  - name: Approve Check Payment
  - name: Cancel Check Payment
  - name: Return Check Payment
  - name: Get a front image
  - name: Get a back image
  - name: Upload a PDF Document for an Application
  - name: Upload a PDF Document for an Application - Back Side
paths:
  /applications/{applicationId}:
    get:
      tags:
        - Get Application
      summary: Get Application by Id
      operationId: GetApplication_byId
      description: 'Get an Application from API '
      parameters:
        - description: ID of the application to get
          schema:
            type: string
          name: applicationId
          in: path
          required: true
        - name: included
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetApplicationByIdResponse'
    patch:
      tags:
        - Update Application
      summary: Update Application
      operationId: UpdateApplication_viaApi
      description: 'Update an Application via API '
      parameters:
        - description: ID of the application to update
          schema:
            type: string
          name: applicationId
          in: path
          required: true
      requestBody:
        description: Update Application Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationViaApiRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1applications~1%7BapplicationId%7D/get/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema
  /applications/{applicationId}/cancel:
    post:
      tags:
        - Cancel Application
      summary: Cancel Application by Id
      operationId: CancelApplication_byId
      description: 'Cancel a Application via API '
      parameters:
        - description: ID of the application to get
          schema:
            type: string
          name: applicationId
          in: path
          required: true
      requestBody:
        description: Cancel Application Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CancelApplicationByIdRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CancelApplicationByIdResponse'
  /applications:
    get:
      tags:
        - Get List Applications
      summary: Get List Application
      operationId: GetListApplications_fromApi
      description: 'Get List Applications from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              tags:
                type: object
                additionalProperties:
                  type: string
              query:
                type: string
              status:
                type: array
                items:
                  type: string
                  enum:
                    - AwaitingDocuments
                    - PendingReview
                    - Pending
                    - Approved
                    - Denied
                    - Canceled
              email:
                type: string
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetListApplicationsFromApi200Response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListApplicationsFromApiResponse'
    post:
      tags:
        - Create Application
      summary: Create Application
      operationId: CreateApplication_viaApi
      description: 'Create an Application via API '
      requestBody:
        title: CreateApplicationRequest
        description: Create Application Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateApplicationViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateApplicationViaApiResponse'
  /application-forms:
    get:
      tags:
        - Get List Application Forms
      summary: Get List Application Forms
      operationId: GetListApplicationForms_viaApi
      description: 'Get List Application Forms from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              tags:
                type: object
                additionalProperties:
                  type: string
              query:
                type: string
              status:
                type: array
                items:
                  type: string
                  enum:
                    - Pending
                    - Approved
              email:
                type: string
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListApplicationFormsViaApiResponse'
    post:
      tags:
        - Create ApplicationForm
      summary: Create Application Form
      operationId: CreateApplicationForm_viaApi
      description: 'Create an Application Form via API '
      requestBody:
        description: Create Application Form Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateApplicationFormViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateApplicationFormViaApiResponse'
  /applications/{applicationId}/documents/{documentId}:
    put:
      tags:
        - Upload a PNG Document for an Application
      summary: Upload a PNG document
      operationId: UploadAPngDocumentForAnApplication_byId
      description: 'Upload a PNG file via API '
      parameters:
        - description: ID of the application to upload a file to
          schema:
            type: string
          name: applicationId
          in: path
          required: true
        - description: ID of the document to upload a file for
          schema:
            type: string
          name: documentId
          in: path
          required: true
      requestBody:
        description: Upload PNG File
        required: true
        content:
          image/png:
            schema:
              $ref: >-
                #/components/schemas/UploadAPngDocumentForAnApplicationByIdRequest
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1applications~1%7BapplicationId%7D~1documents/post/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema
  /applications/{applicationId}/documents/{documentId}/?:
    put:
      tags:
        - Upload a JPEG Document for an Application
      summary: Upload a JPEG document
      operationId: UploadAJpegDocumentForAnApplication_viaApi
      description: 'Upload a JPEG file via API '
      parameters:
        - description: ID of the application to upload a file to
          schema:
            type: string
          name: applicationId
          in: path
          required: true
        - description: ID of the document to upload a file for
          schema:
            type: string
          name: documentId
          in: path
          required: true
      requestBody:
        description: Upload JPEG File
        required: true
        content:
          image/jpeg:
            schema:
              $ref: >-
                #/components/schemas/UploadAJpegDocumentForAnApplicationViaApiRequest
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1applications~1%7BapplicationId%7D~1documents/post/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema
  /applications/{applicationId}/documents/{documentId}/back:
    put:
      tags:
        - Upload a PNG Document for an Application - Back Side
      summary: Upload a PNG document - Back Side
      operationId: UploadAPngDocumentForAnApplicationBackSide_put
      description: Upload a PNG file via API - Back Side
      parameters:
        - description: ID of the application to upload a file to
          schema:
            type: string
          name: applicationId
          in: path
          required: true
        - description: ID of the document to upload a file for
          schema:
            type: string
          name: documentId
          in: path
          required: true
      requestBody:
        description: Upload PNG File - Back Side
        required: true
        content:
          image/png:
            schema:
              $ref: >-
                #/components/schemas/UploadAPngDocumentForAnApplicationBackSidePutRequest
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1applications~1%7BapplicationId%7D~1documents/post/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema
  /applications/{applicationId}/documents/{documentId}/back/?:
    put:
      tags:
        - Upload a JPEG Document for an Application - Back Side
      summary: Upload a JPEG document - Back Side
      operationId: UploadAJpegDocumentForAnApplicationBackSide_put
      description: Upload a JPEG file via API - Back Side
      parameters:
        - description: ID of the application to upload a file to
          schema:
            type: string
          name: applicationId
          in: path
          required: true
        - description: ID of the document to upload a file for
          schema:
            type: string
          name: documentId
          in: path
          required: true
      requestBody:
        description: Upload JPEG File - Back Side
        required: true
        content:
          image/jpeg:
            schema:
              $ref: >-
                #/components/schemas/UploadAJpegDocumentForAnApplicationBackSidePutRequest
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1applications~1%7BapplicationId%7D~1documents/post/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema
  /applications/{applicationId}/documents:
    get:
      tags:
        - Get List of Documents
      summary: Get List of Documents
      operationId: GetListOfDocuments_viaApi
      description: 'Get List of Documents via API '
      parameters:
        - description: ID of the application to get documents for
          schema:
            type: string
          name: applicationId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListOfDocumentsViaApiResponse'
    post:
      tags:
        - Create a Document for an Application
      summary: Create a document
      operationId: CreateADocumentForAnApplication_viaApi
      description: 'Create a document via API '
      parameters:
        - description: ID of the application to create a file for
          schema:
            type: string
          name: applicationId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/components/schemas/CreateADocumentForAnApplicationViaApiResponse
  /applications/{applicationId}/documents/{documentId}/verify:
    put:
      tags:
        - Verify a Document for an Application
      summary: Verify a document
      operationId: VerifyADocumentForAnApplication_put
      description: 'Verify a document via API '
      parameters:
        - description: ID of the application to verify a file for
          schema:
            type: string
          name: applicationId
          in: path
          required: true
        - description: ID of the document to verify
          schema:
            type: string
          name: documentId
          in: path
          required: true
      requestBody:
        description: Verify Document
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyADocumentForAnApplicationPutRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1applications~1%7BapplicationId%7D~1documents/post/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema
  /applications/{applicationId}/documents/{documentId}/download:
    get:
      tags:
        - Download a Document
      summary: Download a Document
      operationId: DownloadADocument_viaApi
      description: 'Download a Document via API '
      parameters:
        - description: ID of the application
          schema:
            type: string
          name: applicationId
          in: path
          required: true
        - description: ID of the document to download
          schema:
            type: string
          name: documentId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/DownloadADocumentViaApiResponse'
  /applications/{applicationId}/documents/{documentId}/download/back:
    get:
      tags:
        - Download a Document - Back Side
      summary: Download a Document - Back Side
      operationId: DownloadADocumentBackSide_viaApi
      description: Download a Document - Back Side via API
      parameters:
        - description: ID of the application
          schema:
            type: string
          name: applicationId
          in: path
          required: true
        - description: ID of the document to download
          schema:
            type: string
          name: documentId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/DownloadADocumentBackSideViaApiResponse'
  /application-forms/{applicationFormId}:
    get:
      tags:
        - Get Application Form
      summary: Get ApplicationForm by Id
      operationId: GetApplicationForm_byId
      description: 'Get an Application Form from API '
      parameters:
        - description: ID of the application form to get
          schema:
            type: string
          name: applicationFormId
          in: path
          required: true
        - name: included
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetApplicationFormByIdResponse'
  /accounts:
    get:
      tags:
        - Get List Accounts
      summary: Get List Accounts
      operationId: GetListAccounts_fromApi
      description: 'Get List Accounts from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              tags:
                type: object
                additionalProperties:
                  type: string
              customerId:
                type: string
              status:
                type: array
                items:
                  type: string
                  enum:
                    - Open
                    - Frozen
                    - Closed
              type:
                type: array
                items:
                  type: string
                  enum:
                    - deposit
                    - credit
              fromBalance:
                type: number
              toBalance:
                type: number
        - name: include
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListAccountsFromApiResponse'
        '401':
          description: UnitError
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              status:
                type: string
              code:
                type: string
              detail:
                type: string
              details:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
              meta:
                type: object
    post:
      tags:
        - Create Account
      summary: Create Account
      operationId: CreateAccount_viaApi
      description: 'Create Account via API '
      requestBody:
        title: CreateAccountRequest
        description: Create Account Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateAccountViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
  /accounts/{accountId}:
    get:
      tags:
        - Get Account
      summary: Get Account by Id
      operationId: GetAccount_byId
      description: 'Get an Account from API '
      parameters:
        - description: ID of the account to get
          schema:
            type: string
          name: accountId
          in: path
          required: true
        - name: include
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetAccountByIdResponse'
    patch:
      tags:
        - Update Account
      summary: Update Account
      operationId: UpdateAccount_viaApi
      description: 'Update an Account via API '
      parameters:
        - description: ID of the account to update
          schema:
            type: string
          name: accountId
          in: path
          required: true
      requestBody:
        title: UpdateAccountRequest
        description: Update Account Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateAccountViaApiRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateAccountViaApiResponse'
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
  /accounts/{accountId}/limits:
    get:
      tags:
        - Get Account Limits
      summary: Get Account Limits by Id
      operationId: GetAccountLimits_byId
      description: 'Get Account Limits from API '
      parameters:
        - description: ID of the account to get
          schema:
            type: string
          name: accountId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetAccountLimitsByIdResponse'
  /accounts/{accountId}/unfreeze:
    post:
      tags:
        - Unfreeze Account
      summary: Unfreeze Account by Id
      operationId: UnfreezeAccount_byId
      description: 'Unfreeze an Account via API '
      parameters:
        - description: ID of the account to get
          schema:
            type: string
          name: accountId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
  /accounts/{accountId}/freeze:
    post:
      tags:
        - Freeze an Account
      summary: Freeze Account by Id
      operationId: FreezeAnAccount_byId
      description: 'Freeze Account via API '
      parameters:
        - description: ID of the account to freeze
          schema:
            type: string
          name: accountId
          in: path
          required: true
      requestBody:
        title: FreezeAccountRequest
        description: Freeze Account Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/FreezeAnAccountByIdRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
  /accounts/{accountId}/close:
    post:
      tags:
        - Close an Account
      summary: Close an Account by Id
      operationId: CloseAnAccount_byId
      description: 'Close an Account via API '
      parameters:
        - description: ID of the account to close
          schema:
            type: string
          name: accountId
          in: path
          required: true
      requestBody:
        title: CloseAccountRequest
        description: Close Account Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CloseAnAccountByIdRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
  /accounts/{accountId}/reopen:
    post:
      tags:
        - Reopen an Account
      summary: Reopen an Account by Id
      operationId: ReopenAnAccount_byId
      description: 'Reopen an Account via API '
      parameters:
        - description: ID of the account to close
          schema:
            type: string
          name: accountId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
  /accounts/{accountId}/enter-daca:
    post:
      tags:
        - Enter Control Agreement for Account
      summary: Enter Account Control Agreement by Id
      operationId: EnterControlAgreementForAccount_byId
      description: 'Enter Control Agreement for Account via API '
      parameters:
        - description: ID of the account
          schema:
            type: string
          name: accountId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
  /accounts/{accountId}/activate-daca:
    post:
      tags:
        - Activate Control Agreement for Account
      summary: Activate Account Control Agreement by Id
      operationId: ActivateControlAgreementForAccount_byId
      description: 'Activate Control Agreement for Account via API '
      parameters:
        - description: ID of the account
          schema:
            type: string
          name: accountId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
  /accounts/{accountId}/deactivate-daca:
    post:
      tags:
        - Deactivate Control Agreement for Account
      summary: Deactivate Account Control Agreement by Id
      operationId: DeactivateControlAgreementForAccount_byId
      description: Deactivate Control Agreement for Account via API
      parameters:
        - description: ID of the account
          schema:
            type: string
          name: accountId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1accounts~1%7BaccountId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
        '404':
          $ref: '#/paths/~1accounts/get/responses/401'
  /account-end-of-day:
    get:
      tags:
        - Get list account end-of-day balances history
      summary: Get AccountEndOfDay List
      operationId: GetListAccountEndofdayBalancesHistory_fromApi
      description: 'Get AccountEndOfDay List from API '
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/components/schemas/GetListAccountEndofdayBalancesHistoryFromApiResponse
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
  /customers/{customerId}:
    get:
      tags:
        - Get Customer
      summary: Get Customer by Id
      operationId: GetCustomer_byId
      description: 'Get a Customer from API '
      parameters:
        - description: ID of the customer to get
          schema:
            type: string
          name: customerId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1customers~1%7BcustomerId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
    patch:
      tags:
        - Update Customer
      summary: Update Customer
      operationId: UpdateCustomer_viaApi
      description: 'Update an Customer via API '
      parameters:
        - description: ID of the customer to update
          schema:
            type: string
          name: customerId
          in: path
          required: true
      requestBody:
        description: Update Customer Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerViaApiRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerViaApiResponse'
  /customers:
    get:
      tags:
        - Get List Customers
      summary: Get Customers List
      operationId: GetListCustomers_apiList
      description: 'Get Customers List from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              tags:
                type: object
                additionalProperties:
                  type: string
              query:
                type: string
              status:
                type: array
                items:
                  type: string
                  enum:
                    - Active
                    - Archived
              email:
                type: string
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListCustomersApiListResponse'
  /customers/{customerId}/archive:
    post:
      tags:
        - Archive Customer
      summary: Archive Customer by Id
      operationId: ArchiveCustomer_byId
      description: 'Archive a Customer via API '
      parameters:
        - description: ID of the customer to archive
          schema:
            type: string
          name: customerId
          in: path
          required: true
      requestBody:
        description: Archive Customer Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ArchiveCustomerByIdRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1customers~1%7BcustomerId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
  /payments:
    get:
      tags:
        - Get List Payments
      summary: Get List Payments
      operationId: GetListPayments_fromApi
      description: 'Get List Payments from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              tags:
                type: object
                additionalProperties:
                  type: string
              accountId:
                type: string
              customerId:
                type: string
              counterpartyAccountId:
                type: string
              status:
                type: array
                items:
                  type: string
                  enum:
                    - Rejected
                    - Pending
                    - Canceled
                    - Pending Review
                    - Clearing
                    - Sent
                    - Returned
              type:
                type: array
                items:
                  type: string
                  enum:
                    - AchPayment
                    - BookPayment
                    - WirePayment
              direction:
                type: array
                items:
                  type: string
                  enum:
                    - Debit
                    - Credit
              since:
                type: string
              until:
                type: string
              fromAmount:
                type: integer
              toAmount:
                type: integer
              recurringPaymentId:
                type: integer
              feature:
                type: array
                items:
                  type: string
                  enum:
                    - SameDay
                    - RecurringPayment
        - name: include
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListPaymentsFromApiResponse'
    post:
      tags:
        - Create a Payment
      summary: Create a Payment
      operationId: CreateAPayment_viaApi
      description: 'Create a Payment via API '
      requestBody:
        description: Create Payment Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateAPaymentViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1payments~1%7BpaymentId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
  /payments/{paymentId}:
    get:
      tags:
        - Get Payment
      summary: Get Payment by Id
      operationId: GetPayment_byId
      description: 'Get a Payment from API '
      parameters:
        - description: ID of the payment to get
          schema:
            type: string
          name: paymentId
          in: path
          required: true
        - name: included
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetPaymentByIdResponse'
    patch:
      tags:
        - Update Payment
      summary: Update Payment
      operationId: UpdatePayment_viaApi
      description: 'Update an Payment via API '
      parameters:
        - description: ID of the payment to update
          schema:
            type: string
          name: paymentId
          in: path
          required: true
      requestBody:
        description: Update Payment Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentViaApiRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdatePaymentViaApiResponse'
  /payments/{paymentId}/cancel:
    post:
      tags:
        - Cancel Payment
      summary: Cancel a Payment by Id
      operationId: CancelPayment_byId
      description: 'Cancel a Payment via API '
      parameters:
        - description: ID of the payment to cancel
          schema:
            type: string
          name: paymentId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1payments~1%7BpaymentId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
  /received-payments:
    get:
      tags:
        - Get Received Payments List
      summary: Get Received Payments List
      operationId: GetReceivedPaymentsList_fromApi
      description: 'Get Received Payments from API '
      parameters:
        - name: included
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetReceivedPaymentsListFromApiResponse'
  /received-payments/{paymentId}:
    get:
      tags:
        - Get Received Payment
      summary: Get Received Payment by Id
      operationId: GetReceivedPayment_byId
      description: 'Get a Received Payment from API '
      parameters:
        - description: ID of the payment to get
          schema:
            type: string
          name: paymentId
          in: path
          required: true
        - name: included
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetReceivedPaymentByIdResponse'
    patch:
      tags:
        - Update Received Payment
      summary: Update Received Payment
      operationId: UpdateReceivedPayment_viaApi
      description: 'Update a Received Payment via API '
      parameters:
        - description: ID of the payment to update
          schema:
            type: string
          name: paymentId
          in: path
          required: true
      requestBody:
        description: Update Received Payment Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateReceivedPaymentViaApiRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateReceivedPaymentViaApiResponse'
  /received-payments/{paymentId}/advance:
    post:
      tags:
        - Advance Received Payment
      summary: Advance Received Payment by Id
      operationId: AdvanceReceivedPayment_byId
      description: 'Advance a Received Payment via API '
      parameters:
        - description: ID of the payment to advance
          schema:
            type: string
          name: paymentId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1received-payments~1%7BpaymentId%7D/patch/responses/200/content/application~1vnd.api%2Bjson/schema
  /counterparties:
    get:
      tags:
        - Get List Counterparties
      summary: Get Counterparties List
      operationId: GetListCounterparties_fromApi
      description: 'Get Counterparties List from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              tags:
                type: object
                additionalProperties:
                  type: string
              customerId:
                type: string
              accountNumber:
                type: string
              routingNumber:
                type: string
              permissions:
                type: array
                items:
                  type: string
                  enum:
                    - CreditOnly
                    - DebitOnly
                    - CreditAndDebit
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListCounterpartiesFromApiResponse'
    post:
      tags:
        - Create Counterparty
      summary: Create Counterparty
      operationId: CreateCounterparty_viaApi
      description: 'Create a counterparty via API '
      requestBody:
        description: Create Counterparty Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCounterpartyViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateCounterpartyViaApiResponse'
  /counterparties/{counterpartyId}:
    get:
      tags:
        - Get Counterparty
      summary: Get Counterparty by Id
      operationId: GetCounterparty_byId
      description: 'Get a Counterparty from API '
      parameters:
        - description: ID of the counterparty to get
          schema:
            type: string
          name: counterpartyId
          in: path
          required: true
        - name: included
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCounterpartyByIdResponse'
    patch:
      tags:
        - Update Counterparty
      summary: Update Counterparty
      operationId: UpdateCounterparty_viaApi
      description: 'Update a Counterparty via API '
      parameters:
        - description: ID of the counterparty to update
          schema:
            type: string
          name: counterpartyId
          in: path
          required: true
      requestBody:
        description: Update Counterparty Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCounterpartyViaApiRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateCounterpartyViaApiResponse'
    delete:
      tags:
        - Delete Counterparty
      summary: Delete Counterparty by Id
      operationId: DeleteCounterparty_byId
      description: 'Delete Counterparty via API '
      parameters:
        - description: ID of the counterparty to delete
          schema:
            type: string
          name: counterpartyId
          in: path
          required: true
      responses:
        '204':
          description: Successful Response
  /counterparties/{counterpartyId}/balance:
    get:
      tags:
        - Get Counterparty Balance
      summary: Get Counterparty Balance
      operationId: GetCounterpartyBalance_recurringPaymentFromApi
      description: 'Get Recurring Payment from API '
      parameters:
        - description: ID of the counterparty to get
          schema:
            type: string
          name: counterpartyId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/components/schemas/GetCounterpartyBalanceRecurringPaymentFromApiResponse
  /recurring-payments:
    get:
      tags:
        - Get List Recurring Payments
      summary: Get Recurring Payments List
      operationId: GetListRecurringPayments_fromApi
      description: 'Get Recurring Payments List from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              accountId:
                type: string
              customerId:
                type: string
              status:
                type: array
                items:
                  type: string
              type:
                type: array
                items:
                  type: string
                  enum:
                    - recurringCreditAchPayment
                    - recurringDebitAchPayment
                    - recurringCreditBookPayment
              fromStartTime:
                type: string
              toStartTime:
                type: string
              fromEndTime:
                type: string
              toEndTime:
                type: string
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListRecurringPaymentsFromApiResponse'
    post:
      tags:
        - Create Recurring Payment
      summary: Create Recurring Payment
      operationId: CreateRecurringPayment_viaApi
      description: 'Create a Recurring Payment via API '
      requestBody:
        description: Create Recurring Payment Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateRecurringPaymentViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateRecurringPaymentViaApiResponse'
  /recurring-payments/{paymentId}:
    get:
      tags:
        - Get Recurring Payment
      summary: Get Recurring Payment
      operationId: GetRecurringPayment_byId
      description: 'Get Recurring Payment from API '
      parameters:
        - description: ID of the payment to get
          schema:
            type: string
          name: paymentId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1recurring-payments/post/responses/201/content/application~1vnd.api%2Bjson/schema
  /recurring-payments/{paymentId}/disable:
    post:
      tags:
        - Disable Recurring Payment
      summary: Disable Recurring Payment
      operationId: DisableRecurringPayment_viaApi
      description: 'Disable Recurring Payment via API '
      parameters:
        - description: ID of the payment to disable
          schema:
            type: string
          name: paymentId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1recurring-payments/post/responses/201/content/application~1vnd.api%2Bjson/schema
  /recurring-payments/{paymentId}/enable:
    post:
      tags:
        - Enable Recurring Payment
      summary: Enable Recurring Payment
      operationId: EnableRecurringPayment_viaApi
      description: 'Enable Recurring Payment via API '
      parameters:
        - description: ID of the payment to enable
          schema:
            type: string
          name: paymentId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/paths/~1recurring-payments/post/responses/201/content/application~1vnd.api%2Bjson/schema
  /cards:
    get:
      tags:
        - Get List of Cards
      summary: Get List of Cards
      operationId: GetListOfCards_fromApi
      description: 'Get List of Cards from API '
      parameters:
        - name: page
          in: query
          schema:
            type: object
            properties:
              limit:
                type: integer
                default: 100
                maximum: 1000
              offset:
                type: integer
                default: 0
        - name: filter
          style: deepObject
          allowReserved: true
          in: query
          schema:
            type: object
            properties:
              tags:
                type: object
                additionalProperties:
                  type: string
              status:
                type: array
                items:
                  type: string
                  enum:
                    - Inactive
                    - Active
                    - Stolen
                    - Lost
                    - Frozen
                    - ClosedByCustomer
                    - SuspectedFraud
              accountId:
                type: string
              customerId:
                type: string
        - name: include
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListOfCardsFromApiResponse'
    post:
      tags:
        - Create a Card
      summary: Create a Card
      operationId: CreateACard_viaApi
      description: 'Create a Card via API '
      requestBody:
        description: Create Card Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateACardViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CreateACardViaApiResponse'
  /cards/{cardId}:
    get:
      tags:
        - Get Card
      summary: Get Card by Id
      operationId: GetCard_byId
      description: 'Get a Card from API '
      parameters:
        - description: ID of the card to get
          schema:
            type: string
          name: cardId
          in: path
          required: true
        - name: included
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCardByIdResponse'
    patch:
      tags:
        - Update Card
      summary: Update Card
      operationId: UpdateCard_viaApi
      description: 'Update a Card via API '
      parameters:
        - description: ID of the card to update
          schema:
            type: string
          name: cardId
          in: path
          required: true
      requestBody:
        description: Update Card Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCardViaApiRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateCardViaApiResponse'
  /cards/{cardId}/secure-data/pin/status:
    get:
      tags:
        - Get Card PIN Status
      summary: Get Card PIN Status
      operationId: GetCardPinStatus_pinStatus
      description: 'Get Card PIN Status via API '
      parameters:
        - description: ID of the card to get PIN status
          schema:
            type: string
          name: cardId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCardPinStatusPinStatusResponse'
  /cards/{cardId}/report-stolen:
    post:
      tags:
        - Report Card as Stolen
      summary: Report card as stolen
      operationId: ReportCardAsStolen_viaApi
      description: 'Report card as stolen via API '
      parameters:
        - description: ID of the card
          schema:
            type: string
          name: cardId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ReportCardAsStolenViaApiResponse'
  /cards/{cardId}/report-lost:
    post:
      tags:
        - Report Card as Lost
      summary: Report lost as stolen
      operationId: ReportCardAsLost_viaApi
      description: 'Report lost as stolen via API '
      parameters:
        - description: ID of the card
          schema:
            type: string
          name: cardId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ReportCardAsLostViaApiResponse'
  /cards/{cardId}/close:
    post:
      tags:
        - Close a Card
      summary: Close a Card
      operationId: CloseACard_viaApi
      description: 'Close a Card via API '
      parameters:
        - description: ID of the card to close
          schema:
            type: string
          name: cardId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CloseACardViaApiResponse'
  /cards/{cardId}/freeze:
    post:
      tags:
        - Freeze a Card
      summary: Freeze a Card
      operationId: FreezeACard_viaApi
      description: 'Freeze a Card via API '
      parameters:
        - description: ID of the card to freeze
          schema:
            type: string
          name: cardId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FreezeACardViaApiResponse'
  /cards/{cardId}/unfreeze:
    post:
      tags:
        - Unfreeze a Card
      summary: Unfreeze a Card
      operationId: UnfreezeACard_byId
      description: 'Unfreeze a Card via API '
      parameters:
        - description: ID of the card to unfreeze
          schema:
            type: string
          name: cardId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnfreezeACardByIdResponse'
  /cards/{cardId}/limits:
    get:
      tags:
        - Get Card Limits
      summary: Get Card Limit by Id
      operationId: GetCardLimits_byId
      description: 'Get a Card Limits from API '
      parameters:
        - description: ID of the card to get
          schema:
            type: string
          name: cardId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCardLimitsByIdResponse'
  /authorizations:
    get:
      tags:
        - Get List Authorizations
      summary: Get List authorizations
      operationId: GetListAuthorizations_fromApi
      description: 'Get List Authorizations from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              accountId:
                type: string
              accountType:
                type: string
              customerId:
                type: string
              cardId:
                type: string
              includeNonAuthorized:
                type: boolean
              merchantCategoryCode:
                type: array
                items:
                  type: string
              since:
                type: string
              until:
                type: string
              fromAmount:
                type: integer
              toAmount:
                type: integer
              status:
                type: array
                items:
                  type: string
                  enum:
                    - Authorized
                    - Completed
                    - Canceled
                    - Declined
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListAuthorizationsFromApiResponse'
  /authorizations/{authorizationId}:
    get:
      tags:
        - Get Authorization
      summary: Get Authorization by Id
      operationId: GetAuthorization_byId
      description: 'Get a Authorization from API '
      parameters:
        - description: ID of the authorization to get
          schema:
            type: string
          name: authorizationId
          in: path
          required: true
        - name: includeNoneAuthorized
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetAuthorizationByIdResponse'
  /authorization-requests:
    get:
      tags:
        - Get List Authorization Requests
      summary: Get List Authorization Requests
      operationId: GetListAuthorizationRequests_fromApi
      description: 'Get List Authorization Requests from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              accountId:
                type: string
              customerId:
                type: string
              merchantCategoryCode:
                type: array
                items:
                  type: string
              fromAmount:
                type: integer
              toAmount:
                type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/components/schemas/GetListAuthorizationRequestsFromApiResponse
  /authorization-requests/{authorizationId}:
    get:
      tags:
        - Get Authorization Request
      summary: Get Authorization Request by Id
      operationId: GetAuthorizationRequest_byId
      description: 'Get a Authorization Request from API '
      parameters:
        - description: ID of the authorization request to get
          schema:
            type: string
          name: authorizationId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetAuthorizationRequestByIdResponse'
  /authorization-requests/{authorizationId}/approve:
    post:
      tags:
        - Approve Authorization Request
      summary: Approve Authorization Request by Id
      operationId: ApproveAuthorizationRequest_byId
      description: 'Approve a Authorization Request via API '
      parameters:
        - description: ID of the authorization request to approve
          schema:
            type: string
          name: authorizationId
          in: path
          required: true
      requestBody:
        description: Approve Authorization Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ApproveAuthorizationRequestByIdRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ApproveAuthorizationRequestByIdResponse'
  /authorization-requests/{authorizationId}/decline:
    post:
      tags:
        - Decline Authorization Request
      summary: Decline Authorization Request
      operationId: DeclineAuthorizationRequest_viaApi
      description: 'Decline Authorization Request via API '
      parameters:
        - description: ID of the authorization request to decline
          schema:
            type: string
          name: authorizationId
          in: path
          required: true
      requestBody:
        description: Decline Authorization Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DeclineAuthorizationRequestViaApiRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DeclineAuthorizationRequestViaApiResponse'
  /statements:
    get:
      tags:
        - Get List Statements
      summary: Get List Statements
      operationId: GetListStatements_fromApi
      description: 'Get List Statements from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              accountId:
                type: string
              customerId:
                type: string
              period:
                type: string
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListStatementsFromApiResponse'
  /statements/{statementId}/html:
    get:
      tags:
        - Get Statement HTML
      summary: Get HTML Statement by Id
      operationId: GetStatementHtml_byId
      description: 'Get a HTML Statement from API '
      parameters:
        - description: ID of the statement to get
          schema:
            type: string
          name: statementId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/GetStatementHtmlByIdResponse'
  /statements/{statementId}/pdf:
    get:
      tags:
        - Get Statement PDF
      summary: Get PDF Statement by Id
      operationId: GetStatementPdf_byId
      description: 'Get a PDF Statement from API '
      parameters:
        - description: ID of the statement to get
          schema:
            type: string
          name: statementId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GetStatementPdfByIdResponse'
  /statements/{accountId}/bank/pdf:
    get:
      tags:
        - Get Bank verification PDF
      summary: Get Bank verification PDF
      operationId: GetBankVerificationPdf_fromApi
      description: 'Get Get Bank verification PDF from API '
      parameters:
        - description: ID of the account to get
          schema:
            type: string
          name: accountId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GetBankVerificationPdfFromApiResponse'
  /rewards:
    post:
      tags:
        - Create Reward
      summary: Create Reward
      operationId: CreateReward_viaApi
      description: 'Create a Reward via API '
      requestBody:
        description: Create Reward Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateRewardViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateRewardViaApiResponse'
    get:
      tags:
        - Get List Rewards
      summary: Get Rewards List
      operationId: GetListRewards_fromApi
      description: 'Get Rewards List from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              tags:
                type: object
                additionalProperties:
                  type: string
              transactionId:
                type: string
              rewardedTransactionId:
                type: string
              receivingAccountId:
                type: string
              customerId:
                type: string
              cardId:
                type: string
              since:
                type: string
              until:
                type: string
              status:
                type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: include
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListRewardsFromApiResponse'
  /rewards/{rewardId}:
    get:
      tags:
        - Get Reward
      summary: Get Reward by Id
      operationId: GetReward_byId
      description: 'Get a Reward from API '
      parameters:
        - description: ID of the reward to get
          schema:
            type: string
          name: rewardId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetRewardByIdResponse'
  /events:
    get:
      tags:
        - Get List Events
      summary: Get Events List
      operationId: GetListEvents_fromApi
      description: 'Get Events List from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              since:
                type: string
              until:
                type: string
              type:
                type: array
                items:
                  type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListEventsFromApiResponse'
  /events/{eventId}:
    get:
      tags:
        - Get Event
      summary: Get Event by Id
      operationId: GetEvent_byId
      description: 'Get an Event from API '
      parameters:
        - description: ID of the event to get
          schema:
            type: string
          name: eventId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetEventByIdResponse'
    post:
      tags:
        - Fire Event
      summary: Fire Event by Id
      operationId: FireEvent_byId
      description: 'Fire an Event via API '
      parameters:
        - description: ID of the event to fire
          schema:
            type: string
          name: eventId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/FireEventByIdResponse'
  /institutions/{routingNumber}:
    get:
      tags:
        - Get Institution
      summary: Get Institution by Routing Number
      operationId: GetInstitution_byRoutingNumber
      description: 'Get an Institution from API '
      parameters:
        - description: routingNumber of the institution to get
          schema:
            type: string
          name: routingNumber
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetInstitutionByRoutingNumberResponse'
  /fees:
    post:
      tags:
        - Create Fee
      summary: Create Fee
      operationId: CreateFee_viaApi
      description: 'Create a Fee via API '
      requestBody:
        description: Create Fee Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateFeeViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateFeeViaApiResponse'
  /check-deposits:
    get:
      tags:
        - Get List Check Deposits
      summary: Get List Check Deposits
      operationId: GetListCheckDeposits_fromApi
      description: 'Get List Check Deposits from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              tags:
                type: object
                additionalProperties:
                  type: string
              accountId:
                type: string
              customerId:
                type: string
              status:
                type: array
                items:
                  type: string
                  enum:
                    - AwaitingImages
                    - AwaitingFrontImage
                    - AwaitingBackImage
                    - Pending
                    - PendingReview
                    - Rejected
                    - Clearing
                    - Sent
                    - Canceled
                    - Returned
                    - AwaitingCustomerConfirmation
        - name: sort
          in: query
          schema:
            type: string
        - name: include
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListCheckDepositsFromApiResponse'
    post:
      tags:
        - Create Check Deposit
      summary: Create Check Deposit
      operationId: CreateCheckDeposit_viaApi
      description: 'Create a Check Deposit via API '
      requestBody:
        description: Create Check Deposit Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCheckDepositViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateCheckDepositViaApiResponse'
  /check-deposits/{checkDepositId}:
    get:
      tags:
        - Get Check Deposit
      summary: Get Check Deposit by Id
      operationId: GetCheckDeposit_byId
      description: 'Get a Check Deposit from API '
      parameters:
        - description: ID of the check deposit to get
          schema:
            type: string
          name: checkDepositId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCheckDepositByIdResponse'
    patch:
      tags:
        - Update Check Deposit
      summary: Update Check Deposit
      operationId: UpdateCheckDeposit_byId
      description: 'Update a Check Deposit via API '
      parameters:
        - description: ID of the check deposit to update
          schema:
            type: string
          name: checkDepositId
          in: path
          required: true
      requestBody:
        description: Update Check Deposit Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCheckDepositByIdRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateCheckDepositByIdResponse'
  /check-deposits/{checkDepositId}/confirm:
    post:
      tags:
        - Confirm Check Deposit
      summary: Confirm by Id
      operationId: ConfirmCheckDeposit_byId
      description: 'Confirm a Check Deposit from API '
      parameters:
        - description: ID of the check deposit to confirm
          schema:
            type: string
          name: checkDepositId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ConfirmCheckDepositByIdResponse'
  /check-deposits/{checkDepositId}/front:
    get:
      tags:
        - Get Check Deposit Front Image
      summary: Get Front Check Deposit Image by Id
      operationId: GetCheckDepositFrontImage_byId
      description: 'Get Front Check Deposit Image from API '
      parameters:
        - description: ID of the check deposit to get
          schema:
            type: string
          name: checkDepositId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCheckDepositFrontImageByIdResponse'
  /check-deposits/{checkDepositId}/back:
    get:
      tags:
        - Get Check Deposit Back Image
      summary: Get Back Check Deposit Image by Id
      operationId: GetCheckDepositBackImage_byId
      description: 'Get Back Check Deposit Image from API '
      parameters:
        - description: ID of the check deposit to get
          schema:
            type: string
          name: checkDepositId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetCheckDepositBackImageByIdResponse'
  /users/{userId}/api-tokens:
    get:
      tags:
        - Get List Org API Tokens
      summary: Get List Org API Tokens
      operationId: GetListOrgApiTokens_fromApi
      description: 'Get List Org API Tokens from API '
      parameters:
        - description: ID of the user to revoke token
          schema:
            type: string
          name: userId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListOrgApiTokensFromApiResponse'
    post:
      tags:
        - Create Org Api Token
      summary: Create Org API Token
      operationId: CreateOrgApiToken_viaApi
      description: 'Create an Org API Token via API '
      parameters:
        - description: ID of the user to create token for
          schema:
            type: string
          name: userId
          in: path
          required: true
      requestBody:
        description: Create Org API Token Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateOrgApiTokenViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateOrgApiTokenViaApiResponse'
  /users/{userId}/api-tokens/{tokenId}:
    delete:
      tags:
        - Revoke Org API Token
      summary: Get Reward by Id
      operationId: RevokeOrgApiToken_rewardById
      description: 'Get a Reward from API '
      parameters:
        - description: ID of the user to revoke token
          schema:
            type: string
          name: userId
          in: path
          required: true
        - description: ID of the token to revoke
          schema:
            type: string
          name: tokenId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/RevokeOrgApiTokenRewardByIdResponse'
  /customers/{customerId}/token:
    post:
      tags:
        - Create Customer Token
      summary: Create Customer Token
      operationId: CreateCustomerToken_viaApi
      description: 'Create a Customer Token via API '
      parameters:
        - description: ID of the customer to create token for
          schema:
            type: string
          name: customerId
          in: path
          required: true
      requestBody:
        description: Create Customer Token Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCustomerTokenViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CreateCustomerTokenViaApiResponse'
  /customers/{customerId}/token/verification:
    post:
      tags:
        - Create Customer Token Verification
      summary: Create Customer Token Verification
      operationId: CreateCustomerTokenVerification_viaApi
      description: 'Create a Customer Token Verification via API '
      parameters:
        - description: ID of the customer to create token for
          schema:
            type: string
          name: customerId
          in: path
          required: true
      requestBody:
        description: Create Customer Token Verification Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: >-
                #/components/schemas/CreateCustomerTokenVerificationViaApiRequest
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: >-
                  #/components/schemas/CreateCustomerTokenVerificationViaApiResponse
  /webhooks:
    get:
      tags:
        - Get List Webhooks
      summary: Get List Webhooks
      operationId: GetListWebhooks_fromApi
      description: 'Get List Webhooks from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              since:
                type: string
              until:
                type: string
              fromId:
                type: integer
              toId:
                type: integer
        - name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetListWebhooksFromApiResponse'
    post:
      tags:
        - Create Webhook
      summary: Create Webhook
      operationId: CreateWebhook_viaApi
      description: 'Create a Webhook via API '
      requestBody:
        description: Create Webhook Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateWebhookViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CreateWebhookViaApiResponse'
  /webhooks/{webhookId}:
    get:
      tags:
        - Get Webhook
      summary: Get Webhook Id
      operationId: GetWebhook_byId
      description: 'Get a Webhook from API '
      parameters:
        - description: ID of the webhook to get
          schema:
            type: string
          name: webhookId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetWebhookByIdResponse'
    patch:
      tags:
        - Update Webhook
      summary: Update Webhook
      operationId: UpdateWebhook_viaApi
      description: 'Update a Webhook via API '
      parameters:
        - description: ID of the Webhook to update
          schema:
            type: string
          name: webhookId
          in: path
          required: true
      requestBody:
        description: Update Webhook Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateWebhookViaApiResponse'
  /webhooks/{webhookId}/enable:
    post:
      tags:
        - Enable Webhook
      summary: Enable Webhook
      operationId: EnableWebhook_viaApi
      description: 'Enable a Webhook via API '
      parameters:
        - description: ID of the webhook to enable
          schema:
            type: string
          name: webhookId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/EnableWebhookViaApiResponse'
  /webhooks/{webhookId}/disable:
    post:
      tags:
        - Disable Webhook
      summary: Disable a Webhook
      operationId: DisableWebhook_viaApi
      description: 'Disable a Webhook via API '
      parameters:
        - description: ID of the webhook to disable
          schema:
            type: string
          name: webhookId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/DisableWebhookViaApiResponse'
  /atm-locations:
    get:
      tags:
        - Get ATM Locations List
      summary: Get List ATM Locations
      operationId: GetAtmLocationsList_fromApi
      description: 'Get List ATM Locations from API '
      parameters:
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              coordinates:
                type: object
              searchRadius:
                type: integer
              postalCode:
                type: string
              address:
                type: object
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetAtmLocationsListFromApiResponse'
  /accounts/{accountId}/transactions/{transactionId}:
    get:
      tags:
        - Get Transaction
      summary: Get Transaction by Id
      operationId: GetTransaction_byId
      description: 'Get a Transaction from API '
      parameters:
        - description: ID of the account to get transaction from
          schema:
            type: string
          name: accountId
          in: path
          required: true
        - description: ID of the transaction
          schema:
            type: string
          name: transactionId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetTransactionByIdResponse'
    patch:
      tags:
        - Update Transaction
      summary: Update Transaction
      operationId: UpdateTransaction_viaApi
      description: 'Update a Transaction via API '
      parameters:
        - description: ID of the account to update transaction from
          schema:
            type: string
          name: accountId
          in: path
          required: true
        - description: ID of the transaction to update
          schema:
            type: string
          name: transactionId
          in: path
          required: true
      requestBody:
        description: Update Transaction Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateTransactionViaApiRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UpdateTransactionViaApiResponse'
  /transactions:
    get:
      tags:
        - Get List Transactions
      summary: Get List Transactions
      operationId: GetListTransactions_fromApi
      description: 'Get List Transactions from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              tags:
                type: object
                additionalProperties:
                  type: string
              accountId:
                type: string
              customerId:
                type: string
              query:
                type: string
              since:
                type: string
              until:
                type: string
              cardId:
                type: string
              excludeFees:
                type: boolean
              type:
                type: array
                items:
                  type: string
              direction:
                type: array
                items:
                  type: string
                  enum:
                    - Debit
                    - Credit
              fromAmount:
                type: integer
              toAmount:
                type: integer
              accountType:
                type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: include
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/GetListTransactionsFromApiResponse'
  /disputes:
    get:
      tags:
        - Get List Disputes
      summary: Get List Disputes
      operationId: GetListDisputes_fromApi
      description: 'Get List Disputes from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              query:
                type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListDisputesFromApiResponse'
  /disputes/{disputeId}:
    get:
      tags:
        - Get Dispute
      summary: Get Dispute by Id
      operationId: GetDispute_byId
      description: 'Get a Dispute from API '
      parameters:
        - description: ID of the dispute to get
          schema:
            type: string
          name: disputeId
          in: path
          required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetDisputeByIdResponse'
  /repayments:
    get:
      tags:
        - Get List Repayments
      summary: Get List Repayments
      operationId: GetListRepayments_fromApi
      description: 'Get List Repayments from API '
      parameters:
        - name: page
          in: query
          schema:
            $ref: '#/paths/~1cards/get/parameters/0/schema'
        - name: filter
          in: query
          style: deepObject
          allowReserved: true
          schema:
            type: object
            properties:
              accountId:
                type: string
              creditAccountId:
                type: string
              customerId:
                type: string
              status:
                type: array
                items:
                  type: string
                  enum:
                    - Pending
                    - PendingReview
                    - Returned
                    - Sent
                    - Rejected
              type:
                type: array
                items:
                  type: string
                  enum:
                    - AchRepayment
                    - BookRepayment
      responses:
        '200':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/GetListRepaymentsFromApiResponse'
        '401':
          $ref: '#/paths/~1accounts/get/responses/401'
    post:
      tags:
        - Create a Repayment
      summary: Create a Repayment
      operationId: CreateARepayment_viaApi
      description: 'Create a Repayment via API '
      requestBody:
        description: Create a Repayment Request
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateARepaymentViaApiRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/CreateARepaymentViaApiResponse'
        default:
          $ref: '#/paths/~1accounts/get/responses/401'
  /repayments/{repaymentId}:
    get:
      tags:
[...]
