openapi: 3.0.1
info:
  title: HR API
  description: <a href='swaggerv2.json'>Download Swagger Json in OAS2 Format.</a>
  version: '2'
  contact:
    name: Iris Software Group
    url: https://help.iris.co.uk/hr/cascade/api/
    email: hrapi@iris.co.uk
servers:
  - url: https://api.iris.co.uk/hr/v2
tags:
  - name: Absences
  - name: AbsenceDays
  - name: Employees
  - name: Jobs
  - name: BankDetails
  - name: Hierarchy
  - name: AbsenceReasons
  - name: Entitlements
  - name: Benefits
  - name: PublicHolidays
paths:
  /employees:
    get:
      tags:
        - Employees
      summary: Gets a list of Employees.
      operationId: Employees_getList
      parameters:
        - description: >-
            Show only the first n items, maximum of 250, see [Paging -
            Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          name: $top
          in: query
          schema:
            maximum: 250
            minimum: 0
            type: integer
        - description: >-
            Skip the first n items, see [Paging -
            Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
        - description: >-
            Filter items by property values, see
            [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          name: $filter
          in: query
          schema:
            type: string
        - description: >-
            Select properties to be returned, see
            [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          name: $select
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: >-
            Order items by property values, see
            [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          name: $orderby
          in: query
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: string
        - description: >-
            Include count of items, see
            [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          name: $count
          in: query
          schema:
            minimum: 0
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
    post:
      tags:
        - Employees
      summary: Creates a new Employee.
      operationId: Employees_createNewEmployee
      requestBody:
        description: New Employee.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=minimal; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=full; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=none; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/xml; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/prs.odatatestxx-odata; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          text/json; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/*+json; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployeeResponse'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
  /employees/{id}:
    get:
      tags:
        - Employees
      summary: Gets a single Employee referenced by ID.
      operationId: Employees_getById
      parameters:
        - description: Employee ID.
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
    put:
      tags:
        - Employees
      summary: Update an Employee referenced by ID.
      operationId: Employees_updateById
      parameters:
        - description: The ID of Employee to update.
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: The new state of the Employee.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=minimal; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=full; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=none; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/xml; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/prs.odatatestxx-odata; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          text/json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/*+json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
      responses:
        '204':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /jobs:
    get:
      tags:
        - Jobs
      summary: Gets a list of Jobs.
      operationId: Jobs_getList
      parameters:
        - description: >-
            Show only the first n items, maximum of 250, see [Paging -
            Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          name: $top
          in: query
          schema:
            maximum: 250
            minimum: 0
            type: integer
        - description: >-
            Skip the first n items, see [Paging -
            Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
        - description: >-
            Filter items by property values, see
            [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          name: $filter
          in: query
          schema:
            type: string
        - description: >-
            Select properties to be returned, see
            [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          name: $select
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: >-
            Order items by property values, see
            [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          name: $orderby
          in: query
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: string
        - description: >-
            Include count of items, see
            [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          name: $count
          in: query
          schema:
            minimum: 0
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
    post:
      tags:
        - Jobs
      summary: Creates a new Job.
      operationId: Jobs_createNewJob
      requestBody:
        description: New Job.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=minimal; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=full; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=none; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/xml; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/prs.odatatestxx-odata; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          text/json; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/*+json; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJobResponse'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
  /jobs/{id}:
    get:
      tags:
        - Jobs
      summary: Gets a single Job referenced by an ID.
      operationId: Jobs_getById
      parameters:
        - description: Job ID.
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetByIdResponse'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
    put:
      tags:
        - Jobs
      summary: Update a Job referenced by an ID.
      operationId: Jobs_updateById
      parameters:
        - description: The ID of the Job to update.
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: The new state of the Job.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=minimal; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=full; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=none; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/xml; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/prs.odatatestxx-odata; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          text/json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/*+json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
      responses:
        '204':
          description: Success
  /hierarchy:
    get:
      tags:
        - Hierarchy
      summary: Gets a list of Hierarchy Nodes.
      operationId: Hierarchy_getList
      parameters:
        - description: >-
            Show only the first n items, maximum of 250, see [Paging -
            Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          name: $top
          in: query
          schema:
            maximum: 250
            minimum: 0
            type: integer
        - description: >-
            Skip the first n items, see [Paging -
            Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
        - description: >-
            Filter items by property values, see
            [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          name: $filter
          in: query
          schema:
            type: string
        - description: >-
            Select properties to be returned, see
            [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          name: $select
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: >-
            Order items by property values, see
            [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          name: $orderby
          in: query
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: string
        - description: >-
            Include count of items, see
            [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          name: $count
          in: query
          schema:
            minimum: 0
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
  /hierarchy/{id}:
    get:
      tags:
        - Hierarchy
      summary: Gets a single Hierarchy Node by ID.
      operationId: Hierarchy_getNodeById
      parameters:
        - description: Hierarchy Node ID.
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
  /hierarchy/{id}/path:
    get:
      tags:
        - Hierarchy
      summary: >-
        Gets a Hierarchy Path by ID. The path is an array of nodes traversed
        from the root to the node specified.
      operationId: Hierarchy_getPathById
      parameters:
        - description: Hierarchy Node ID.
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
        '404':
          description: Not Found
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /bankdetails:
    get:
      tags:
        - BankDetails
      summary: Gets a list of Bank Details.
      operationId: BankDetails_getList
      parameters:
        - description: >-
            Show only the first n items, maximum of 250, see [Paging -
            Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          name: $top
          in: query
          schema:
            maximum: 250
            minimum: 0
            type: integer
        - description: >-
            Skip the first n items, see [Paging -
            Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
        - description: >-
            Filter items by property values, see
            [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          name: $filter
          in: query
          schema:
            type: string
        - description: >-
            Select properties to be returned, see
            [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          name: $select
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: >-
            Order items by property values, see
            [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          name: $orderby
          in: query
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: string
        - description: >-
            Include count of items, see
            [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          name: $count
          in: query
          schema:
            minimum: 0
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
    post:
      tags:
        - BankDetails
      summary: Creates a Bank Details.
      operationId: BankDetails_createBankDetail
      requestBody:
        description: The value of Bank Details.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=minimal; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=full; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=none; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/xml; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/prs.odatatestxx-odata; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          text/json; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/*+json; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetailResponse'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
  /bankdetails/{id}:
    get:
      tags:
        - BankDetails
      summary: Gets a single Bank Details by an ID.
      operationId: BankDetails_getById
      parameters:
        - description: Bank Details ID.
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
    put:
      tags:
        - BankDetails
      summary: Updates Bank Details.
      operationId: BankDetails_updateBankDetail
      parameters:
        - description: The ID of Bank Details to update.
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: The value of Bank Details.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=minimal; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=full; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=none; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/xml; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/prs.odatatestxx-odata; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          text/json; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/*+json; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
      responses:
        '204':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /attendance/absencereasons:
    get:
      tags:
        - AbsenceReasons
      summary: Gets a list of Absence Reasons
      operationId: AbsenceReasons_list
      parameters:
        - description: >-
            Show only the first n items, maximum of 250, see [Paging -
            Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          name: $top
          in: query
          schema:
            maximum: 250
            minimum: 0
            type: integer
        - description: >-
            Skip the first n items, see [Paging -
            Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
        - description: >-
            Filter items by property values, see
            [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          name: $filter
          in: query
          schema:
            type: string
        - description: >-
            Select properties to be returned, see
            [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          name: $select
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: >-
            Order items by property values, see
            [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          name: $orderby
          in: query
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: string
        - description: >-
            Include count of items, see
            [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          name: $count
          in: query
          schema:
            minimum: 0
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
  /attendance/absencereasons/{id}:
    get:
      tags:
        - AbsenceReasons
      summary: Gets a single Absence Reason referenced by ID.
      operationId: AbsenceReasons_getById
      parameters:
        - description: Absence Reason ID.
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
  /attendance/absencereasons/{id}/employees/{employeeId}:
    get:
      tags:
        - AbsenceReasons
      summary: Gets a single Employee Absence Reason referenced by ID.
      operationId: AbsenceReasons_getEmployeeById
      parameters:
        - description: Absence Reason ID.
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: Employee ID.
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
  /attendance/entitlements:
    get:
      tags:
        - Entitlements
      summary: Gets a list of Entitlements.
      operationId: Entitlements_getList
      parameters:
        - description: >-
            Show only the first n items, maximum of 250, see [Paging -
            Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          name: $top
          in: query
          schema:
            maximum: 250
            minimum: 0
            type: integer
        - description: >-
            Skip the first n items, see [Paging -
            Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
        - description: >-
            Filter items by property values, see
            [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          name: $filter
          in: query
          schema:
            type: string
        - description: >-
            Select properties to be returned, see
            [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          name: $select
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: >-
            Order items by property values, see
            [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          name: $orderby
          in: query
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: string
        - description: >-
            Include count of items, see
            [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          name: $count
          in: query
          schema:
            minimum: 0
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
  /attendance/entitlements/{id}:
    get:
      tags:
        - Entitlements
      summary: Gets an Entitlement by ID.
      operationId: Entitlements_getById
      parameters:
        - description: Entitlement ID.
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementModel'
  /attendance/absences:
    get:
      tags:
        - Absences
      summary: Gets a list of Absences.
      operationId: Absences_getList
      parameters:
        - description: >-
            Show only the first n items, maximum of 250, see [Paging -
            Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)
          name: $top
          in: query
          schema:
            maximum: 250
            minimum: 0
            type: integer
        - description: >-
            Skip the first n items, see [Paging -
            Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)
          name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
        - description: >-
            Filter items by property values, see
            [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)
          name: $filter
          in: query
          schema:
            type: string
        - description: >-
            Select properties to be returned, see
            [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)
          name: $select
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: >-
            Order items by property values, see
            [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)
          name: $orderby
          in: query
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: string
        - description: >-
            Include count of items, see
            [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)
          name: $count
          in: query
          schema:
            minimum: 0
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceQueryModel'
    post:
      tags:
        - Absences
      summary: Creates a new Absence.
      operationId: Absences_createNewAbsence
      description: >-
        ![Beta](https://img.shields.io/badge/Status-Beta-yellow) <b>This API
        request method is currently in beta testing.</b> To gain access to use
        this method, please contact <a
        href='mailto:hrapi@iris.co.uk'>hrapi@iris.co.uk.</a>
      requestBody:
        description: New Absence.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/json;odata.metadata=minimal; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/json;odata.metadata=full; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/json;odata.metadata=none; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/json;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/json;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/json; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/xml; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/prs.odatatestxx-odata; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          text/json; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
          application/*+json; version=1:
            schema:
              $ref: '#/components/schemas/CreateAbsenceCommand'
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsenceResponse'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsencesCreateNewAbsence200Response'
  /attendance/absences/{id}:
    get:
      tags:
        - Absences
      summary: Gets a single Absence referenced by ID.
      operationId: Absences_getById
      parameters:
        - description: Absence ID.
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceModel'
    put:
      tags:
        - Absences
      summary: Update an Absence referenced by ID.
      operationId: Absences_updateById
      description: >-
        ![Beta](https://img.shields.io/badge/Status-Beta-yellow) <b>This API
        request method is currently in beta testing.</b> To gain access to use
        this method, please contact <a
        href='mailto:hrapi@iris.co.uk'>hrapi@iris.co.uk.</a>
      parameters:
        - description: The ID of the Absence to update.
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: The new state of the Absence.
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/json;odata.metadata=minimal; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/json;odata.metadata=full; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/json;odata.metadata=none; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/json;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/json;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/json; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/xml; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/prs.odatatestxx-odata; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          text/json; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
          application/*+json; version=1:
            schema:
              $ref: '#/components/schemas/UpdateAbsenceCommand'
      responses:
        '204':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
[...]
