openapi: 3.0.0
info:
  title: Paycor Public API
  description: >-

    Welcome to Paycor's Public API! This document is a reference for the APIs
    Paycor has available, and acts as a complement to the "Guides" section. 


    # Getting Started


    <strong>To learn more about getting started with Paycor's Public APIs, check
    out our <a href="/guides">Guides.</a></strong>


    # GET, PUT, POST


    * When requesting object, use GET endpoints. All list endpoints support
    paging, as described [in the other doc]. 

    * When creating an object, use POST endpoints. Your code will need to create
    an object and send it to Paycor in your API call request body as JSON. You
    can use the "request sample" body as a starting point. Our endpoints will
    return a reference to the created object (the ID and GET API URL) for your
    system.

    * When updating an object, you will use PUT endpoints. The general flow
    would be to: GET the object you want to update, modify the fields as
    desired, then PUT the object (as JSON in the request body) to our endpoints.
    Some fields like the object's ID cannot be updated because they are
    system-set.'



    # Error Handling


    * 400: Please consult the response text to correct your request
    information. 

    * 401 with response "Access denied due to missing subscription key": Please
    include your APIM Subscription Key as header Ocp-Apim-Subscription-Key or
    querystring parameter subscription-key. 

    * 401 with no response: Please ensure you included a valid & current Access
    Token in the Authorization header.

    * 403: Please ensure your Access Token's scope has all the relevant access
    you need, on the AppCreator Data Access screen. 

    * 404: Please validate the API route you are using. If that is correct, one
    of your IDs most likely does not exist or is not in a valid state. 

    * 429: Paycor implements rate limits for our Public API. Each customer
    (implemented via APIM subscription key) has a limited number of calls. The
    number of calls is counted across all APIs, not per individual API. Please
    use bulk endpoints where available and spread your calls over a wider
    timespan.
      * The default rate limit is up to 1000 API calls per minute (total across all our Public APIs). 
    * 500: Please contact Paycor. When you make a POST or PUT call and receive a
    500, please do not retry the call automatically - this may result in
    double-posting. GETs can be safely retried.



    # IDs


    * ClientId = LegalEntityId

    * TenantId = CompanyId

    * EmployeeId is not visible in Paycor's UI, you must retrieve it from the
    Public API


    # Earnings, Deductions, Taxes


    This section describes the domain model for Paycor's Earnings, Deductions,
    and Taxes. This will provide background for many paydata-related Public API
    endpoints. 


    Paycor stores Earnings, Deductions, and Taxes each at three levels:

    * Global: Same data across all legal entities. Setup by Paycor for customers
    to choose from. Sample Codes (note these will not be setup on every Legal
    Entity):
      * Earnings: REG, OT
      * Taxes: FITWH, SOC, SOCER, OHCIN
      * Deductions: 401k, KMat, H125, UWay
    * Legal Entity or Tenant: Codes setup &amp; customized on the legal entity
    or Tenant level. Must be tied to a Global Code. 
      * Perform UI allows creating Deduction and Earning codes on Tenant level (under Configure Company nav menu). These will be returned by the Legal Entity Public API endpoints. 
    * Employee: codes setup on a particular employee, tied to a Legal
    Entity-level or Tenant-level code
      * Employee Earnings/Deductions/Taxes are applied during payroll. Many properties are inherited from the Legal Entity or Global levels, but some can be overridden. 

    # Authentication


    <!-- ReDoc-Inject: <security-definitions> -->
  version: ''
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://apis.paycor.com
tags:
  - description: >-
      These endpoints interact with Employees.

      * An Employee is linked to a single Legal Entity, a single Person, and a
      single Tenant.

      * Each Person will be linked to one or more Employees (setup by the admin
      in the Manage People screen).

      * Employee APIs will return Work email addresses, not Home.
    name: Employees
  - description: "\r\nEmployees can setup Direct Deposit accounts to send their paycheck into bank accounts or HSA accounts. \r\n* To use the Employee Direct Deposit endpoints, the Legal Entity must have the Direct Deposit Workflow product or an error will be returned\r\n* Employees can choose a 'partial' or a 'full' (called Net) Direct Deposit. Partial Direct Deposits must set either a Rate or an Amount.\r\n* All Direct Deposits and HSA Direct Deposits must be tied to a Deduction Code that has already been setup on the Legal Entity.\r\n  * To add a new DD, you'll need to call 'GET Legal Entity Deductions' and find a Deduction Code of the correct type - usually one with DD or HSA in the Code.\r\n"
    name: Employee Direct Deposits
  - description: "\r\nFor more information, see documentation section titled 'Earnings, Deductions, and Taxes.'\r\n"
    name: Employee Taxes
  - description: Legal entity work locations information.
    name: Legal Entity Work Locations
  - description: >-
      A Person is tied to a single Tenant, and will work in one or more Legal
      Entities (FEINs) - each of which will be be represented by one or more
      Employee rows. 

      * Person APIs will return all Phone types, and Home-type emails (not
      work-type emails). 
    name: Persons
  - description: "\r\nFor more information, see documentation section titled 'Earnings, Deductions, and Taxes.'\r\n"
    name: Employee Deductions
  - description: "\r\nFor more information, see documentation section titled 'Earnings, Deductions, and Taxes.'\r\n"
    name: Employee Earnings
  - description: "\r\nThis API allows working with an employee's Pay Stubs. Each Pay Period will generate one Pay Stub.\r\n* Calling GET Legal Entity Pay Data is required before calling GET Employee Pay Stubs, to obtain a list of valid check dates.\r\n\r\n"
    name: Employee Pay Stubs
  - description: "\r\nThese APIs interact with Paycor’s Perform Time Scheduling system. They will only be available to customers with Perform Time Scheduling service\r\n* Perform Time Scheduling (sometimes called Legacy Scheduling) stores basic information about Shifts\r\n* The Public APIs do not communicate with the more powerful “Paycor Scheduling” system. For Paycor Scheduling please refer to the documentation under the ‘Employee Scheduling’ section.\r\n"
    name: Employee (Legacy / Perform Time) Schedules
  - description: "These APIs allow querying employees' requests to take time off.\r\n* These APIs require the 'Perform Time Off' service.\r\n"
    name: Time Off Requests
  - description: "\r\nThese APIs allow working with the Departments (also called Organizations) that have been configured on the Legal Entity. \r\n"
    name: Legal Entity Departments
  - description: "\r\nThese APIs interact with Paycor's Perform Time system. \r\n* And will only work with 'Perform Time' service/product enabled clients - otherwise you will receive an error.\r\n"
    name: Legal Entity Time Data
  - description: "Applicant Tracking System\r\n\r\nThese endpoints can only be used if the Client has the Applicant Tracking Service."
    name: Applicant Tracking System
  - description: Employee certification information
    name: Employee Certifications
  - description: "\r\nThese endpoints allow working with an Employee's pay rate, as setup on their profile by the Administrator. \r\n"
    name: Employee Pay Rates
  - description: This API allows working with Labor Codes
    name: Labor Codes
  - description: >-
      A Tenant is a collection of multiple Legal Entities. Each Legal Entity is
      one FEIN. 

      * In Paycor terminology, a Tenant is also known as a Company. 
    name: Tenants
  - description: ' This API allows working with an employee''s custom fields '
    name: Employee Custom Fields
  - description: This APIs allow working with Documents of the Employees
    name: Employee Documents
  - description: "\r\nThese APIs interact with Paycor's Payroll system directly. They do not go through any Time system.\r\n\r\n* Paycor will need to add the 'Integration Payroll Time Partner' or have the Trackforce product enabled.\r\n* They are useful if you are integrating a third-party time product with Paycor.\r\n* You will need to choose an Earning Code for each set of Hours. The Code must already be setup on the particular Employee - you can use the Employee Earnings endpoints for this.\r\n* Calling this endpoint kicks off a backend import process. Currently, there are no APIs to read or monitor the import process. A client administrator must import, review & submit the payrun before any employees will be paid.\r\n* Client administrator will need to login to Paycor's Paygrid and use the Import Time Card feature to see & approve the values. They will see an Import Pay screen when they Begin a new Payrun.\r\n"
    name: Employee Payroll Hours
  - description: ' This API allows working with an employee''s I9 Verification fields '
    name: Employee I9 Verification
  - description: "\r\nThese APIs allow working with employees in the onboarding state.\r\n\r\nThese endpoints can only be used if the Client has the Onboarding Service."
    name: Employee Onboarding
  - description: "\r\nThese APIs interact with Paycor's Perform Time system.\r\n* They will only work with Perform Time-enabled clients - otherwise you will receive an error.\r\n* These APIs will not work for Time on Demand or Attendance on Demand clients.\r\n"
    name: Employee Time Card Punches
  - description: "Accruals are time-off benefits for employees that increase over time, and are updated when a payrun is run (the employee is paid). \r\n* Common plans include PTO, vacation time, sick time, and floating holidays. \r\n* Accrual types and plans are setup at the Tenant level in Paycor's UI by the HR Admin. \r\n* Each employee can participate in a number of individual Accrual plans. \r\n* This API is only available to legal entities with the 'Perform Accruals' service. It is not available to clients with the older 'Perform Time Off' service. There is a migration path available. "
    name: Employee Time Off Accruals
  - description: "\r\nA Legal Entity is a single FEIN (Federal ID number, for tax purposes). A Legal Entity will have a single Tenant as its parent. \r\n* In Paycor terminology, a Legal Entity is called a 'client'. \r\n  * Paycor customers are often familiar with their ClientId, which is a synonym for Public API's Legal Entity ID. \r\n"
    name: Legal Entities
  - description: Legal entity certification information
    name: Legal Entity Certifications
  - description: Post Emergency Contact Details.
    name: Employee Emergency Contact
  - description: "\r\nThis API allows working with an employee's scheduled Pay Periods, which indicates when the employee was/will be paid (known as a payrun). \r\n* Note that Pay Schedule is unrelated to the employee's work schedule or timecard information. \r\n* The employee's actual pay dates may not match the Pay Schedule, depending on the payroll admin's processing. \r\n  * An employee may be excluded from scheduled payruns. \r\n  * An employee may also have Additional Payruns (such as for bonuses) - which this API will not return. \r\n* A given employee will have a default Pay Frequency (such as Biweekly), which will define the Pay Schedule calendar.\r\n  * The employee's Pay Frequency is defined by the Paygroup they are assigned to. \r\n* This endpoint can be used to retrieve parameters for GET Employee Pay Stubs, although 'GET Legal Entity Paydata' would be more accurate for that. \r\n"
    name: Employee Pay Schedule
  - description: "These APIs interact with Paycor Scheduling system.\r\n\r\nIn order to use these apis you must have either Paycor Scheduling or Paycor Scheduling Pro Service."
    name: Employee Scheduling
  - description: This API allows working with clients General Ledger
    name: General Ledger
  - description: This API allows working with clients Job Costing
    name: General Ledger Job Costing
  - description: This API allows working with Labor Categories
    name: Labor Categories
  - description: "\r\nPaycor's Public API doesn't currently include editing Legal Entity-level Deductions. Those must be setup by a client administrator in Paycor's system. \r\n\r\nFor more information, see documentation section titled 'Earnings, Deductions, and Taxes.'\r\n\r\n"
    name: Legal Entity Deductions
  - description: "\r\nPaycor's Public API doesn't currently include editing Legal Entity-level Earnings. Those must be setup by a client administrator in Paycor's system. \r\n\r\nFor more information, see documentation section titled 'Earnings, Deductions, and Taxes.'\r\n"
    name: Legal Entity Earnings
  - description: Legal entity job titles information
    name: Legal Entity Job Titles
  - description: "\r\nAllows working with Pay Data information from Paycor's Payroll system.\r\n* Works with the dates that employees are actually paid, as opposed to the Pay Schedule which returns their scheduled pay dates.\r\n\r\n"
    name: Legal Entity Pay Data
  - description: "\r\nEach Paycor Legal Entity has a collection of one or more Payrolls. Each Payroll contains one or more Paygroups. These APIs return data about both. \r\n\r\nThis structure can be modified by the client administrator - there are currently no Public APIs for editing. \r\n"
    name: Legal Entity Pay Groups
  - description: This API allows working with legal entity pay periods
    name: Legal Entity Payroll Processing Data
  - description: "\r\nThis API allows working with a Paygroup's scheduled Pay Periods, which indicates when its employees was/will be paid (known as a payrun). \r\n* Note that Pay Schedule is unrelated to the employee's work schedule or timecard information. \r\n* The actual pay dates may vary depending on when the Payroll Admin processes payroll. \r\n* This endpoint can be used to retrieve parameters for GET Employee Pay Stubs, although 'GET Legal Entity Paydata' would be more accurate for that. \r\n"
    name: Legal Entity Pay Schedule
  - description: This API allows working with Activity Types
    name: Legal Entity Activity Types
  - name: Legal Entity Schedule Groups
  - description: "\r\nLegal Entity Services are optional products and offerings that the entity may choose to subscribe. \r\n* Calling certain Public APIs will require the Legal Entity to have a certain Service. \r\n"
    name: Legal Entity Services
  - name: Legal Entity Status Reason
  - description: >-
      For more information, see documentation section titled 'Earnings,
      Deductions, and Taxes.'
    name: ' Legal Entity Taxes'
  - name: Legal Entity Time Off Types
  - name: Legal Entity Work Sites
  - name: Events
  - name: Job Titles
paths:
  /v1/legalEntities/{legalEntityId}/ats/{atsAccountId}/jobs:
    get:
      tags:
        - Applicant Tracking System
      summary: Get a list of ATS Account jobs for ATS Account Id
      operationId: ApplicantTrackingSystem_getAccountJobs
      description: 'Data Access: View ATS Account jobs by ATS Account ID'
      parameters:
        - description: >-
            Paycor Legal Entity ID of the legal entity for which you want to get
            the ATS account jobs
          name: legalEntityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
          x-position: 1
        - description: ATS account ID of for which you want to get the ATS account jobs
          name: atsAccountId
          in: path
          required: true
          schema:
            type: string
            nullable: true
          x-position: 2
        - description: >-
            Options to include more data: All, Hiring managers, Recruiters, Team
            members, Executives
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes'
          x-position: 3
        - description: >-
            Option to filter jobs based on if they are posted to the careers
            page
          name: postedToCareers
          in: query
          schema:
            type: boolean
            nullable: true
          x-position: 4
        - description: Option to filter jobs by status
          name: status
          in: query
          schema:
            nullable: true
            $ref: '#/components/schemas/JobStatus'
          x-position: 5
        - name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 6
      responses:
        '200':
          description: Returns a list of ATS Account jobs for ATS Account Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfJob'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/legalEntities/{legalEntityId}/ats/{atsAccountId}/jobs/{atsJobId}:
    get:
      tags:
        - Applicant Tracking System
      summary: Get an ATS Account Job for ATS Account Id
      operationId: ApplicantTrackingSystem_getJobByJobId
      description: 'Data Access: View ATS Account Job by ATS Job Id'
      parameters:
        - description: >-
            Paycor Legal Entity ID of the legal entity for which you want to get
            the ATS account job
          name: legalEntityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
          x-position: 1
        - description: ATS account ID of for which you want to get the ATS account job
          name: atsAccountId
          in: path
          required: true
          schema:
            type: string
            nullable: true
          x-position: 2
        - description: ATS Job ID
          name: atsJobId
          in: path
          required: true
          schema:
            type: string
            nullable: true
          x-position: 3
        - description: >-
            Options to include more data: All, Hiring managers, Recruiters, Team
            members, Executives
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes2'
          x-position: 4
      responses:
        '200':
          description: Returns an Account job for an ATS Account Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/legalEntities/{legalEntityId}/ats/accounts:
    get:
      tags:
        - Applicant Tracking System
      summary: Get a list of ATS Accounts for Legal Entity
      operationId: ApplicantTrackingSystem_listAtsAccountsByLegalEntity
      description: 'Data Access: View ATS Accounts By Legal Entity Id'
      parameters:
        - description: >-
            Paycor Legal Entity ID of the legal entity for which you want to get
            the ATS accounts
          name: legalEntityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
          x-position: 1
        - name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 2
      responses:
        '200':
          description: Returns a list of ATS Accounts for Legal Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfATSAccount'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/emergencycontact:
    post:
      tags:
        - Employee Emergency Contact
      operationId: EmployeeEmergencyContact_createUpdate
      description: |-
        Either Home Phone, Work Phone or Mobile Phone must be specified

        Data Access: Create Emergency Contact
      parameters:
        - name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        x-name: emergencyContactPost
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyContact'
        required: true
        x-position: 2
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/certifications:
    get:
      tags:
        - Employee Certifications
      summary: Get a list of Employee Certifications for an employee
      operationId: EmployeeCertifications_listByEmployeeId
      description: 'Data Access: View Certification Information for Employee'
      parameters:
        - description: ID of the employee for which you want to get the certifications
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 2
      responses:
        '200':
          description: Returns a list of Employee Certifications for an employee
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeCertification'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    put:
      tags:
        - Employee Certifications
      summary: Update Employee Certification
      operationId: EmployeeCertifications_updateCertification
      description: 'Data Access: Create and Update Certification'
      parameters:
        - description: ID of the employee for which you want to update the certifications
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        x-name: certification
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeCertification2'
        required: true
        x-position: 2
      responses:
        '200':
          description: Returns a resource reference for employee certifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    post:
      tags:
        - Employee Certifications
      summary: Add Employee Certification
      operationId: EmployeeCertifications_addNewCertification
      description: 'Data Access: Create and Update Certification'
      parameters:
        - description: ID of an Employee for whom you want to add the certification
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: Certification object
        x-name: certification
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certification'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/customfields:
    get:
      tags:
        - Employee Custom Fields
      summary: Get Employee Custom Fields by EmployeeID
      operationId: EmployeeCustomFields_getByEmployeeId
      description: 'Data Access: View Employee Custom Fields'
      parameters:
        - description: ID of the employee for whom you want to get the custom fields
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: Token to get the next set of employee custom fields
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 2
      responses:
        '200':
          description: >-
            Returns a collection of employee custom fields based on EmployeeID
            provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeCustomField'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    put:
      tags:
        - Employee Custom Fields
      summary: Update Custom Field by EmployeeID
      operationId: EmployeeCustomFields_updateByEmployeeId
      description: 'Data Access: Update Employee Custom Fields'
      parameters:
        - description: ID of an Employee for whom you want to update the custom field
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: CustomFields object
        x-name: customFields
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/EmployeeCustomFieldsUpdateByEmployeeIdRequest
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/deductions/{employeeDeductionId}:
    get:
      tags:
        - Employee Deductions
      summary: Get Employee Deduction by EmployeeID and EmployeeDeductionID
      operationId: EmployeeDeductions_getByEmployeeIdAndDeductionId
      description: 'Data Access: View Employee Deduction Information'
      parameters:
        - description: ID of an Employee for whom you want to get the deduction.
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: ID of the Employee Deduction you want to get.
          name: employeeDeductionId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 2
        - description: |-
            Options to include more data: All, AmountData

            Data Access required

            AmountData = View Employee Deduction Amounts
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes3'
          x-position: 3
      responses:
        '200':
          description: >-
            Returns an Employee Deduction based on the EmployeeID and
            DeductionID provided. 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeDeduction'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/deductions:
    get:
      tags:
        - Employee Deductions
      summary: Get Employee Deductions by EmployeeID
      operationId: EmployeeDeductions_getByEmployeeId
      description: 'Data Access: View Employee Deductions Information'
      parameters:
        - description: ID of the employee for whom you want to get the deductions
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: |-
            Options to include more data: All, AmountData

            Data Access required

            AmountData = View Employee Deductions Amounts
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes4'
          x-position: 2
        - description: Token to get the next set of employee earnings
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 3
      responses:
        '200':
          description: >-
            Returns a collection of employee deductions based on EmployeeID
            provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeDeduction'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    post:
      tags:
        - Employee Deductions
      summary: Add Deduction to Employee
      operationId: EmployeeDeductions_addDeductionToEmployee
      description: >-
        Tip: first call "Get Legal Entity Deductions by Legal Entity ID" to get
        the valid Deduction Codes


        Data Access: Add Employee Deduction
      parameters:
        - description: ID of an Employee for whom you want to add the deduction
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: EmployeeDeduction object
        x-name: employeeDeduction
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeDeduction2'
        required: true
        x-position: 2
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/EmployeeDeductionsAddDeductionToEmployeeResponse
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    put:
      tags:
        - Employee Deductions
      summary: Update Employee Deduction by EmployeeID
      operationId: EmployeeDeductions_updateByEmployeeId
      description: 'Data Access: Update Employee Deduction'
      parameters:
        - description: ID of an Employee that has the Deduction you wish to update
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: EmployeeDeduction with ID set and fields updated
        x-name: employeeDeduction
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeDeduction3'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/HSAaccounts:
    get:
      tags:
        - Employee Direct Deposits
      summary: Get Employee HSA Direct Deposits by EmployeeID
      operationId: EmployeeDirectDeposits_getByEmployeeIdHSA
      description: 'Data Access: View Employee HSA Account Information'
      parameters:
        - description: ID of employee for whom you want to get HSA Direct Deposits
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: Token to get next set of HSA Direct Deposits
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 2
      responses:
        '200':
          description: Returns HSA Direct Deposits based on EmployeeID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeDirectDeposit'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    post:
      tags:
        - Employee Direct Deposits
      summary: Add Employee HSA Direct Deposits by EmployeeID
      operationId: EmployeeDirectDeposits_addByEmployeeIdHsa
      description: 'Data Access: Add Employee HSA Account'
      parameters:
        - description: ID of employee for which you want to add HSA Direct Deposits
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: HSA Direct Deposit object to insert
        x-name: employeeDirectDeposit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeHsaDirectDeposit'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    put:
      tags:
        - Employee Direct Deposits
      summary: Update Employee HSA Direct Deposits by EmployeeID
      operationId: EmployeeDirectDeposits_updateHsaDirectDepositsByEmployeeId
      description: 'Data Access: Update Employee HSA Account Information'
      parameters:
        - description: ID of employee for which you want to update HSA Direct Deposits
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: HSA Employee Direct Deposit object with updated fields
        x-name: employeeDirectDeposit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeHsaDirectDeposit2'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/DirectDeposits:
    post:
      tags:
        - Employee Direct Deposits
      summary: Add Employee Direct Deposits by EmployeeID
      operationId: EmployeeDirectDeposits_addByEmployeeId
      description: 'Data Access: Add Employee Direct Deposit'
      parameters:
        - description: Id of employee for which you want to add Direct Deposits
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: Direct Deposit object to insert
        x-name: employeeDirectDeposit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeDirectDeposit2'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    get:
      tags:
        - Employee Direct Deposits
      summary: Get Employee Direct Deposits by EmployeeID
      operationId: EmployeeDirectDeposits_getByEmployeeId
      description: 'Data Access: View Employee Direct Deposit Information by Employee Id'
      parameters:
        - description: ID of employee for which you want to get Direct Deposits
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: Token to get next set of direct deposits
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 2
      responses:
        '200':
          description: Returns Direct Deposits based on EmployeeID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeDirectDeposit'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    put:
      tags:
        - Employee Direct Deposits
      summary: Update Employee Direct Deposits by EmployeeID
      operationId: EmployeeDirectDeposits_updateByEmployeeIdDDD
      description: 'Data Access: Update Employee Direct Deposit Information'
      parameters:
        - description: ID of employee for which you want to update Direct Deposit
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: Employee Direct Deposit object with updated fields
        x-name: employeeDirectDeposit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeDirectDeposit3'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/DirectDeposits/{directDepositId}:
    get:
      tags:
        - Employee Direct Deposits
      summary: Get Employee Direct Deposit by EmployeeID and DirectDepositID
      operationId: EmployeeDirectDeposits_getByEmployeeAndDepositId
      description: >-
        Data Access: View Employee Direct Deposit Information by Direct Deposit
        Id
      parameters:
        - description: ID of employee for which you want to get Direct Deposits
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: ID of an employee direct deposit which you want to retrieve
          name: directDepositId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: Returns Direct Deposits based on EmployeeID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeDirectDeposit'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/paystubDocumentData:
    get:
      tags:
        - Employee Documents
      summary: Get Employee Pay Stubs document link by EmployeeID
      operationId: EmployeeDocuments_getPayStubDocumentByEmployeeId
      description: |-
        Start Date and End Date are required parameters.

        Data Access: Get Employee Pay Stub Document Link
      parameters:
        - description: >-
            ID of an Employee for whom you want to get the Pay Stubs Document
            Link
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: Date that is earlier or equal to paycheck date
          name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          x-position: 2
        - description: Date that is after or equal to paycheck date
          name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          x-position: 3
        - description: Token to get the next set of Employee Pay Stubs Document Links
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 4
      responses:
        '200':
          description: >-
            Returns a Employee Pay Stubs document link based on EmployeeID and
            date provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPayStubFile'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/PayStubDocument/{documentId}:
    get:
      tags:
        - Employee Documents
      summary: Download Employee Pay Stub Document
      operationId: EmployeeDocuments_downloadPayStub
      description: 'Data Access: Download Employee Pay Stub Document'
      parameters:
        - description: Id of an Employee for whom you want to get the Pay Stub Document
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: Id of Pay Stub Document
          name: documentId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '200':
          description: Returns Pay Stub Document that can be downloaded
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/EmployeeDocumentsDownloadPayStubResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/earnings/{employeeEarningId}:
    get:
      tags:
        - Employee Earnings
      summary: Get Employee Earning by EmployeeID and EmployeeEarningID
      operationId: EmployeeEarnings_getByEmployeeAndEarning
      description: 'Data Access: View Employee Earning Information'
      parameters:
        - description: ID of an Employee for whom you want to get the Earning
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: ID of an Employee Earning you want to get
          name: employeeEarningId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 2
        - description: |-
            Options to include more data: All, AmountData

            Data Access required

            AmountData = View Employee Earning Amounts
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes5'
          x-position: 3
      responses:
        '200':
          description: >-
            Returns an Employee Earning based on the EmployeeID and
            EmployeeEarningID provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeEarning'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/earnings:
    get:
      tags:
        - Employee Earnings
      summary: Get Employee Earnings by EmployeeID
      operationId: EmployeeEarnings_getByEmployeeId
      description: 'Data Access: View Employee Earnings Information'
      parameters:
        - description: ID of an Employee for whom you want to get the Earnings
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: |-
            Options to include more data: All, AmountData

            Data Access required

            AmountData = View Employee Earnings Amounts
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes6'
          x-position: 2
        - description: Token to get the next set of Employee Earnings
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 3
      responses:
        '200':
          description: >-
            Returns a collection of Employee Earnings based on EmployeeID
            provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeEarning'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    post:
      tags:
        - Employee Earnings
      summary: Add Earning to Employee
      operationId: EmployeeEarnings_addNewEarning
      description: 'Data Access: Add Employee Earning'
      parameters:
        - description: ID of an Employee for whom you want to add an Earning
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: Employee Earning object to insert
        x-name: employeeEarning
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeEarning2'
        required: true
        x-position: 2
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    put:
      tags:
        - Employee Earnings
      summary: Update Employee Earning
      operationId: EmployeeEarnings_updateData
      description: 'Data Access: Update Employee Earning'
      parameters:
        - description: ID of an Employee that has the Earning you wish to update
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: Employee Earning object with updated fields
        x-name: employeeEarning
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeEarning3'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/legalentities/{legalEntityId}/payrollhours:
    post:
      tags:
        - Employee Payroll Hours
      summary: Add Employee Hours And Earnings To Paygrid
      operationId: EmployeePayrollHours_addHoursAndEarningsToPaygrid
      description: >-
        Required parameters in body are: IntegrationVendor, ProcessId,
        LegalEntityId, EmployeeNumber, DepartmentCode, EarningCode,
        BusinessStartDate


        Data Access: Import Employee Hours and Earnings to Paygrid
      parameters:
        - description: >-
            ID of the Legal Entity for which you want to set employee hours and
            earnings
          name: legalEntityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
            maximum: 2147483647
            minimum: 1
          x-position: 1
        - description: >-
            If "True" is passed for this query parameter and a matching
            ProcessID is passed, then the system will fully replace the entire
            record that was previously added.
          name: replaceData
          in: query
          schema:
            type: boolean
          x-position: 3
        - description: >-
            If "True" is passed for this query parameter, then the system will
            NOT replace any record that was previously added.
          name: appendData
          in: query
          schema:
            type: boolean
          x-position: 4
      requestBody:
        x-name: importPayrollHours
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportPayrollHours'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/EmployeePayrollHoursAddHoursAndEarningsToPaygridResponse
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/payrollhours:
    post:
      tags:
        - Employee Payroll Hours
      summary: Import Payroll Hours to Employee
      operationId: EmployeePayrollHours_importToEmployee
      description: 'Data Access: Import Payroll Hours to Employee'
      parameters:
        - description: ID of an Employee for whom you want to add the payroll hours
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: Employee Hours object
        x-name: employeePayrollHours
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeTimeCard2'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/EmployeePayrollHoursImportToEmployeeResponse
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/I9Verification:
    get:
      tags:
        - Employee I9 Verification
      summary: Get Employee I9 Verification by EmployeeID
      operationId: EmployeeI9Verification_getByEmployeeId
      description: 'Data Access: View I9 Verification'
      parameters:
        - description: ID of the employee for whom you want to get the I9 information
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: 'Options to include more data: documents'
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes7'
          x-position: 2
      responses:
        '200':
          description: >-
            Returns a list of employee I9 verification docs based on EmployeeID
            provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/I9Verification'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    put:
      tags:
        - Employee I9 Verification
      summary: Update I9 Verification by EmployeeID
      operationId: EmployeeI9Verification_updateByEmployeeIdI9Verification
      description: 'Data Access: Edit I9 Verification'
      parameters:
        - description: ID of an Employee for whom you want to update the I9 Verification
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: I9 Verification object
        x-name: i9Verification
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/I9Verification2'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/payrates:
    get:
      tags:
        - Employee Pay Rates
      summary: Get Employee Payrates by EmployeeID
      operationId: EmployeePayRates_getByEmployeeId
      description: 'Data Access: View Employee Payrates'
      parameters:
        - description: ID of employee for which you want to get payrates
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: Token to get next set of payrates
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 2
      responses:
        '200':
          description: Returns payrates based on EmployeeID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeePayRate'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    post:
      tags:
        - Employee Pay Rates
      summary: Add Payrate to Employee
      operationId: EmployeePayRates_addNewRate
      description: >-
        This immediately creates a new payrate related to an Employee in
        Paycor's system. There is no way to undo or reverse this operation. 


        Data Access: Create Employee PayRates

        Sequence numbers must be consecutive and unique
      parameters:
        - description: ID of the Employee you wish to create the payrate for
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: Create Payrate model
        x-name: payRatePost
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeePayRate2'
        required: true
        x-position: 2
      responses:
        '201':
          description: Returns a CreateOrUpdateResponse object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/payrates/{payrateId}:
    put:
      tags:
        - Employee Pay Rates
      summary: Update Employee Payrate by EmployeeID
      operationId: EmployeePayRates_updateByEmployeeIdAndPayrateId
      description: 'Data Access: Update Employee PayRates'
      parameters:
        - description: ID of an Employee that has the Payrate you wish to update
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: ID of the Payrate you wish to update
          name: payrateId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 2
      requestBody:
        description: EmployeePayRate with ID set and fields updated
        x-name: employeePayRate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeePayRate3'
        required: true
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/payschedule:
    get:
      tags:
        - Employee Pay Schedule
      summary: Get Employee Pay Schedule by EmployeeID
      operationId: EmployeePaySchedule_getUpcomingCheckDates
      description: >-
        This API will return upcoming pay scheduled for a given employee
        (upcoming check dates),

        or allow looking up the check date for specific pay period dates.

        * You must either specify the exact Period Start & End Date, or leave
        them blank. 
          * Alternatively you may consider 'GET Legal Entity Pay Schedule' which takes a range parameter.
          * You can look up pay period dates from 'GET Legal Entity Pay Schedule' (scheduled dates) or 'GET Legal Entity Pay Data' (actual dates)
        * The actual pay dates may change depending on when the client admin
        processes payroll.


        Data Access: View Employee Pay Schedule
      parameters:
        - description: ID of the Employee for which you want to get the Pay Schedule
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: 'Exact Period Start Date of Pay Schedule, to lookup specific payrun. '
          name: periodStartDate
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
          x-position: 2
        - description: >-
            Exact Period End Date of Pay Schedule, if you wish to filter -
            defaults to showing upcoming (future) runs
          name: periodEndDate
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
          x-position: 3
        - description: Token to get the next set of Employee Pay Schedule
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 4
        - description: 'Options to include more data: Additional Runs'
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes8'
          x-position: 5
      responses:
        '200':
          description: >-
            Returns a collection of Employee's Pay Schedules based on EmployeeID
            and filters provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPayPeriod'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/paystubs:
    get:
      tags:
        - Employee Pay Stubs
      summary: Get Employee Pay Stubs by EmployeeID
      operationId: EmployeePayStubs_getByEmployeeId
      description: >-
        Note: Either CheckDate, ProcessDate or PlannerId is required as a
        parameter. You can find a list of valid dates by calling 'GET Legal
        Entity Pay Data by Legal Entity ID'.


        Data Access: View Paystub Information
      parameters:
        - description: ID of an Employee for whom you want to get the Pay Stubs
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: Check Date of Pay Stubs - required (unless processDate supplied)
          name: checkDate
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
          x-position: 2
        - description: Process Date of Pay Stubs - required (unless checkDate supplied)
          name: processDate
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
          x-position: 3
        - description: ID of the Planner for which you want to get the Pay Stubs.
          name: plannerId
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 4
        - description: >-
            Options to include more data: All, GrossAmount, NetAmount, Earnings,
            Taxes, Deductions


            Data Access required


            GrossAmount = View Paystub Gross Pay Information


            NetAmount = View Paystub Net Pay Information


            Earnings = View Paystub Earning Information


            Taxes = View Paystub Tax Information


            Deductions = View Paystub Deduction Information
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes9'
          x-position: 5
        - description: Token to get the next set of Employee Pay Stubs
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 6
      responses:
        '200':
          description: >-
            Returns a collection of Employee Pay Stubs based on EmployeeID and
            date provided, with properties populated based on Include parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPayStub'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/legalentities/{legalEntityId}/paystubs:
    get:
      tags:
        - Employee Pay Stubs
      summary: Get Employee Pay Stubs by Legal Entity ID
      operationId: EmployeePayStubs_getByLegalEntity
      description: >-
        Note: Either CheckDate, ProcessDate or PlannerId is required as a
        parameter.


        Data Access: View Paystub Information by Legal Entity Id
      parameters:
        - description: ID of a Legal entity for which you want to get the Pay Stubs
          name: legalEntityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
          x-position: 1
        - description: Check Date of Pay Stubs - required (unless processDate supplied)
          name: checkDate
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
          x-position: 2
        - description: Process Date of Pay Stubs - required (unless checkDate supplied)
          name: processDate
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
          x-position: 3
        - description: ID of the Planner for which you want to get the Pay Stubs.
          name: plannerId
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 4
        - description: >-
            Options to include more data: All, GrossAmount, NetAmount, Earnings,
            Taxes, Deductions


            Data Access required


            GrossAmount = View Paystub Gross Pay Information


            NetAmount = View Paystub Net Pay Information


            Earnings = View Paystub Earning Information


            Taxes = View Paystub Tax Information


            Deductions = View Paystub Deduction Information
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes10'
          x-position: 5
        - description: Token to get the next set of Employee Pay Stubs
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 6
      responses:
        '200':
          description: >-
            Returns a collection of Employee Pay Stubs based on Legal Entity ID
            and date provided, with properties populated based on Include
            parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPayStub2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/paystubsytd:
    get:
      tags:
        - Employee Pay Stubs
      summary: Get Employee Pay Stubs YTD by EmployeeID
      operationId: EmployeePayStubs_getYtdByEmployeeId
      description: >-
        * To Check Date is required parameter.  

        * To get a list of check dates, you can use the GET Legal Entity Pay
        data endpoint.


        Data Access: View Paystub Information YTD
      parameters:
        - description: ID of an Employee for whom you want to get the Pay Stubs
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: 'Check Date of latest Pay Stub for YTD data. '
          name: toCheckDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          x-position: 2
        - description: |-
            Options to include more data: All, Earnings, Taxes, Deductions

            Data Access required

            Earnings = View Paystub Earning Information YTD

            Taxes = View Paystub Tax Information YTD

            Deductions = View Paystub Deduction Information YTD
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes11'
          x-position: 3
      responses:
        '200':
          description: >-
            Returns a Employee Pay Stubs based on EmployeeID and date provided,
            with properties populated based on Include parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeePayStubHistory'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/legalentities/{legalEntityId}/paystubsytd:
    get:
      tags:
        - Employee Pay Stubs
      summary: Get Employee Pay Stubs YTD by Legal entity ID
      operationId: EmployeePayStubs_getYtdByLegalEntity
      description: >-
        * To Check Date is required parameter.  

        * To get a list of check dates, you can use the GET Legal Entity Pay
        data endpoint.


        Data Access: View Paystub Information YTD By Legal Entity
      parameters:
        - description: ID of a Legal entity for which you want to get the Pay Stubs
          name: legalEntityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
          x-position: 1
        - description: 'Check Date of latest Pay Stub for YTD data. '
          name: toCheckDate
          in: query
          required: true
          schema:
            type: string
            format: date-time
          x-position: 2
        - description: |-
            Options to include more data: All, Earnings, Taxes, Deductions

            Data Access required

            Earnings = View Paystub Earning Information YTD By Legal Entity

            Taxes = View Paystub Tax Information YTD By Legal Entity

            Deductions = View Paystub Deduction Information YTD By Legal Entity
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes12'
          x-position: 3
        - name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 4
      responses:
        '200':
          description: >-
            Returns a Employee Pay Stubs based on Legal Entity ID and date
            provided, with properties populated based on Include parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeePayStubHistory'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/schedules:
    get:
      tags:
        - Employee (Legacy / Perform Time) Schedules
      summary: Get Employee Schedules by EmployeeID
      operationId: EmployeeLegacyPerformTimeSchedules_getByEmployeeId
      description: |-
        Date requirements:
        * Start Date and End Date must not be more than one year ago
        * Start Date must not be in future
        * Start date and end date range can be no greater than 90 days

        Data Access: View Legacy/Perform Employee Schedules by Employee Id
      parameters:
        - description: ID of employee for which you want to get schedules
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: Date range filter, showing which records to return
          name: startDate
          in: query
          schema:
            type: string
            format: date-time
          x-position: 2
        - description: Date range filter, showing which records to return
          name: endDate
          in: query
          schema:
            type: string
            format: date-time
          x-position: 3
      responses:
        '200':
          description: >-
            Collection of Employee Schedules, based on EmployeeID and provided
            date ranges
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/EmployeeLegacyPerformTimeSchedulesGetByEmployeeIdResponse
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    post:
      tags:
        - Employee (Legacy / Perform Time) Schedules
      summary: Add Schedule to Employee
      operationId: EmployeeLegacyPerformTimeSchedules_addToEmployee
      description: 'Data Access: Create Legacy/Perform Time Employee Schedule'
      parameters:
        - description: ID of an Employee for whom you want to add a schedule
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
      requestBody:
        description: Employee Schedule object to insert
        x-name: employeeSchedule
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule2'
        required: true
        x-position: 2
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/legalEntities/{legalEntityId}/schedules:
    get:
      tags:
        - Employee (Legacy / Perform Time) Schedules
      summary: Get Employee Schedules by Legal Entity ID
      operationId: EmployeeLegacyPerformTimeSchedules_getByLegalEntityId
      description: |-
        Date requirements:
        * Start Date and End Date must not be more than one year ago
        * Start Date must not be in future
        * Start date and end date range can be no greater than 90 days

        Data Access: View Legacy/Perform Employee Schedules by Legal Entity Id
      parameters:
        - description: ID of Legal Entity for which you want to get schedules
          name: legalEntityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
          x-position: 1
        - description: Date range filter, showing which records to return
          name: startDate
          in: query
          schema:
            type: string
            format: date-time
          x-position: 2
        - description: Date range filter, showing which records to return
          name: endDate
          in: query
          schema:
            type: string
            format: date-time
          x-position: 3
        - name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 4
      responses:
        '200':
          description: >-
            Collection of Employee Schedules, based on Legal Entity ID and
            provided date ranges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeSchedule'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}/schedules/{scheduleId}:
    delete:
      tags:
        - Employee (Legacy / Perform Time) Schedules
      summary: Delete Employee Schedule
      operationId: EmployeeLegacyPerformTimeSchedules_deleteLegacySchedule
      description: 'Data Access: Delete Legacy/Perform Time Employee Schedule'
      parameters:
        - description: Employee ID of the schedule record you want to delete
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: Schedule ID to delete
          name: scheduleId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 2
      responses:
        '204':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/legalentities/{legalEntityId}/SchedulingJobs:
    get:
      tags:
        - Employee Scheduling
      summary: Get Scheduling Jobs by LegalEntityID
      operationId: EmployeeScheduling_getSchedulingJobsByLegalEntityId
      description: 'Data Access: View Legal Entity Scheduling Jobs'
      parameters:
        - description: Legal Entity ID
          name: legalEntityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
            maximum: 2147483647
            minimum: 1
          x-position: 1
        - name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 2
      responses:
        '200':
          description: Collection of Legal Entity Scheduling Jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfSchedulingJob'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees/{employeeId}:
    get:
      tags:
        - Employees
      summary: Get Employee by EmployeeID
      operationId: Employees_getByEmployeeId
      description: >-
        Tip: you can retrieve a valid EmployeeID guid via endpoints like 'Get
        Employees by Legal Entity ID'
                    
        Data Access: View Employee Information
      parameters:
        - description: ID of the Employee you want to get
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 1
        - description: >-
            Options to include more data: All, EmploymentDates, Status,
            Position, WorkLocation
                        
            Data Access required
                        
            EmploymentDates = View Employee Employment Dates
                        
            Status = View Employee Status
                        
            Position = View Employee Position
                        
            WorkLocation = View Employee Work Location
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes13'
          x-position: 2
        - description: >-
            Options to specify which emaill address to return. Work email type
            will be returned if none are specified: Home, Work
          name: emailType
          in: query
          schema:
            nullable: true
            $ref: '#/components/schemas/EmailTypeOptions'
          x-position: 3
      responses:
        '200':
          description: >-
            Returns an Employee object based on the EmployeeID, with some fields
            populated based on the Include parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeReturnItem'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
    put:
      tags:
        - Employees
      summary: Update Employee Contact
      operationId: Employees_updateContact
      description: >-
        This immediately updates an employee's contact information and
        associated Person's in Paycor's system.
                    
        Data Access: Update Employee Contact
      parameters:
        - description: Id of the employee
          name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: guid
          x-position: 2
      requestBody:
        description: Put Employee Contact model
        x-name: employeePut
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeContact'
        required: true
        x-position: 1
      responses:
        '201':
          description: Returns a CreateOrUpdateResponse object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/tenants/{tenantId}/employees:
    get:
      tags:
        - Employees
      summary: Get Employees By TenantID
      operationId: Employees_listByTenantId
      description: 'Data Access: View Tenant Employees'
      parameters:
        - description: ID of the tenant for which you want to get employees
          name: tenantId
          in: path
          required: true
          schema:
            type: integer
            format: int32
            maximum: 2147483647
            minimum: 1
          x-position: 1
        - description: Option to filter by employment status
          name: statusFilter
          in: query
          schema:
            $ref: '#/components/schemas/EmploymentStatus'
          x-position: 2
        - description: Option to filter by Employee Number.
          name: employeeNumber
          in: query
          schema:
            type: integer
            format: int32
            nullable: true
          x-position: 3
        - description: Option to filter by Employee Last Name.
          name: lastName
          in: query
          schema:
            type: string
            nullable: true
          x-position: 4
        - description: Option to filter by Department Code.
          name: departmentCode
          in: query
          schema:
            type: integer
            format: int64
            nullable: true
          x-position: 5
        - description: Option to filter by Work Location Name.
          name: workLocationName
          in: query
          schema:
            type: string
            nullable: true
          x-position: 6
        - description: Option to filter by Job Code.
          name: jobCode
          in: query
          schema:
            type: string
            nullable: true
          x-position: 7
        - description: Token to get the next set of employees
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 8
      responses:
        '200':
          description: >-
            Returns a collection of EmployeeList (with a subset of Employee
            fields) objects based on the TenantID provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeList'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/legalentities/{legalEntityId}/employees:
    get:
      tags:
        - Employees
      summary: Get Employees by Legal Entity ID
      operationId: Employees_listByLegalEntityId
      description: 'Data Access: View Legal Entity Employees'
      parameters:
        - description: ID of the legal entity for which you want to get employees
          name: legalEntityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
            maximum: 2147483647
            minimum: 1
          x-position: 1
        - description: >-
            Options to include more data: All, EmploymentDates, Status,
            Position, WorkLocation
                        
            Data Access required
                        
            EmploymentDates = View Legal Entity Employees Employment Dates
                        
            Status = View Legal Entity Employees Status
                        
            Position = View Legal Entity Employees Position
                        
            WorkLocation = View Legal Entity Employees Work Location
          name: include
          in: query
          style: form
          explode: true
          schema:
            type: array
            nullable: true
            xml:
              name: ArrayOfIncludes
              wrapped: true
            items:
              xml:
                name: Includes
              $ref: '#/components/schemas/Includes14'
          x-position: 2
        - description: >-
            Options to specify which email address to return. Work email type
            will be returned if none are specified: Home, Work
          name: emailType
          in: query
          schema:
            nullable: true
            $ref: '#/components/schemas/EmailTypeOptions2'
          x-position: 3
        - description: Option to filter by employment status.
          name: statusFilter
          in: query
          schema:
            $ref: '#/components/schemas/EmploymentStatus'
          x-position: 4
        - description: Option to filter by Employee Number.
          name: employeeNumber
          in: query
          schema:
            type: integer
            format: int32
            nullable: true
          x-position: 5
        - description: Option to filter by Employee Last Name.
          name: lastName
          in: query
          schema:
            type: string
            nullable: true
          x-position: 6
        - description: Option to filter by Department Code.
          name: departmentCode
          in: query
          schema:
            type: integer
            format: int64
            nullable: true
          x-position: 7
        - description: Option to filter by Work Location Name.
          name: workLocationName
          in: query
          schema:
            type: string
            nullable: true
          x-position: 8
        - description: Token to get the next set of employees
          name: continuationToken
          in: query
          schema:
            type: string
            format: guid
            nullable: true
          x-position: 9
      responses:
        '200':
          description: >-
            Returns Employee objects based on the Legal Entity ID & Include
            parameter provided.
                        
            This endpoint returns all Employee details (based on the Include
            parameter) except for SSN, DOB, and Emergency Contact. Those fields
            are not currently available in bulk.

            Returns 200 records per page to allow for ease of use for larger
            clients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfEmployeeReturnItem'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaycorError'
  /v1/employees:
    post:
      tags:
        - Employees
      summary: Create Employee
      operationId: Employees_createNewEmployee
      description: >-
[...]
