openapi: 3.0.3
info:
  title: SightMap® REST API
  description: >
    # Introduction


    The SightMap® API uses standard HTTP verbs to communicate and HTTP status

    codes to indicate status and errors. All responses come in standard JSON.

    The SightMap API is served over HTTPS to ensure data privacy; HTTP is not

    supported.


    # Versioning


    Versions are communicated as `VERSION.RELEASE-DATE`, where `VERSION` denotes

    the version number of the API and prefixed to all API request paths, such as

    `/v1/assets`. `RELEASE-DATE` denotes backwards-compatible changes to the

    API.


    When any non-backwards compatible additions must be made to the API, the

    version number will be incremented.


    ## Backwards-compatible changes


    We consider the following changes to be backwards-compatible:


    - Adding new API resources.

    - Adding new optional request parameters to existing API methods.

    - Adding new properties to existing API responses.

    - Changing the order of properties in existing API responses.

    - Changing the length or format of object IDs or other opaque strings.

    - You can safely assume object IDs we generate will never exceed 255
      characters, but you should be able to handle IDs of up to that length. If
      for example you’re using MySQL, you should store IDs in a `VARCHAR(255)
      COLLATE utf8_bin` column (the `COLLATE` configuration ensures
      case-sensitivity in lookups).

    # Authentication


    For requests which require Authentication, an API Key can be provided by

    either the `api-key` query parameter or `API-Key` header. We recommend the

    header over the query parameter as it avoids your API key from being stored

    in browser history and most server logs. If neither query parameter or

    header is provided, a `401` status code is returned with the following JSON:


    ```

    {
      "message": "No API key found in request"
    }

    ```


    If your API key cannot be validated, a `403` status code is returned with

    the following JSON:


    ```

    {
      "message": "Invalid authentication credentials"
    }

    ```


    <SecurityDefinitions />


    # Experimental features


    We provide new API features via experimental flags. This allows users to
    opt-in

    for new functionality and provide feedback prior to a feature becoming
    generally

    available (GA). We believe in stability without stagnation. This ability
    allows

    our team to build and ship best-in-class APIs faster while upholding

    backwards-compatibility on GA features.


    Experimental features are subject to change while undergoing development and

    feedback. Therefore, they are exempt from any backwards-compatibility
    guarantees

    until they reach GA. We do not expect nor recommend using experimental
    features

    in production environments unless a partnership has been established with
    our

    teams working closely together.


    Flags are provided via the `Experimental-Flags` header. A comma-separated
    list

    is expected in order to pass multiple flags on a single request.


    ```

    curl -i https://api.sightmap.com/v1/assets \
      -H "API-Key: 12345" \
      -H "Experimental-Flags: flag-1,flag-2"
    ```


    # Errors


    The SightMap API uses standard HTTP status codes to indicate the success or

    failure of the API request. The body of the response will be JSON in the

    following format:


    ```

    {
      "message": "Not found"
    }

    ```
  version: v1.20230828
  license:
    name: Engrain Terms of Service
    url: https://engrain.com/terms-and-conditions/
  contact:
    url: https://developers.sightmap.com
  x-logo:
    url: https://api.sightmap.com/v1/openapi/images/sightmap-logo.svg
    altText: SightMap® Logo
servers:
  - url: https://api.sightmap.com/v1
tags:
  - name: assets/filters
    x-displayName: Filters
  - name: assets/units/descriptions
    x-displayName: Unit Descriptions
  - name: assets/pricing
    x-displayName: Pricing & Availability
  - name: assets/maps
    x-displayName: Unit Maps
  - name: assets/units/outbound-links
    x-displayName: Unit Outbound Links
  - description: |
      References provide unit ID mappings to other third-party systems.
    name: assets/units/references
    x-displayName: Unit References
  - name: assets/floor-plans
    x-displayName: Floor Plans
  - name: assets/units
    x-displayName: Units
  - name: assets
    x-displayName: Assets
  - name: assets/buildings
    x-displayName: Buildings
  - name: assets/floors
    x-displayName: Floors
  - description: |
      References provide asset ID mappings to other third-party systems.
    name: assets/references
    x-displayName: Asset References
  - name: assets/outbound-links
    x-displayName: Asset Outbound Links
  - name: accounts/assets
    x-displayName: Assets
  - name: accounts
    x-displayName: Accounts
  - name: accounts/embeds
    x-displayName: Embeds
  - name: assets/marker-descriptions
    x-displayName: Marker Descriptions
  - name: assets/galleries
    x-displayName: Image Galleries
  - name: assets/landing-pages
    x-displayName: Landing Pages
  - name: assets/caches
    x-displayName: Caches
paths:
  /accounts:
    get:
      tags:
        - accounts
      summary: List accounts
      operationId: Accounts_listAccounts
      security:
        - apiKey: []
      description: |
        Returns a list of accounts.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsListAccountsResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /accounts/{account}:
    parameters:
      - $ref: '#/components/parameters/Account'
    get:
      tags:
        - accounts
      summary: View an account
      operationId: Accounts_getSpecificAccount
      security:
        - apiKey: []
      description: |
        Returns a specific account.
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /accounts/{account}/embeds:
    parameters:
      - $ref: '#/components/parameters/Account'
    get:
      tags:
        - accounts/embeds
      summary: List embeds
      operationId: Accountsembeds_list
      security:
        - apiKey: []
      description: >
        Returns a list of embeds for an account.


        Requires `sightmap.embeds.read` permission.


        **NOTICE:** This resource is experimental and requires the
        `embed-resource`

        [experimental flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - description: An asset ID to filter the list on.
          name: asset
          in: query
          required: false
          schema:
            type: string
            format: id
            maxLength: 255
        - description: >-
            This resource is experimental and requires the `embed-resource`
            [experimental flag](https://api.sightmap.com/v1/openapi).
          name: Experimental-Flags
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsembedsListResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /accounts/{account}/embeds/{embed}:
    parameters:
      - $ref: '#/components/parameters/Account'
      - description: An embed ID.
        name: embed
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
    get:
      tags:
        - accounts/embeds
      summary: View an embed
      operationId: Accountsembeds_viewEmbed
      security:
        - apiKey: []
      description: >
        Returns a specific embed.


        Requires `sightmap.embeds.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `embed-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - description: An embed ID.
          name: embed
          in: path
          required: true
          schema:
            type: string
            format: id
            maxLength: 255
        - description: >-
            This resource is experimental and requires the `embed-resource`
            [experimental flag](https://api.sightmap.com/v1/openapi).
          name: Experimental-Flags
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Embed'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /accounts/{account}/assets:
    parameters:
      - $ref: '#/components/parameters/Account'
    get:
      tags:
        - accounts/assets
      summary: List assets
      operationId: Accountsassets_listAllowedAssets
      description: >
        Returns a list of allowed assets on an account.


        **NOTICE:** This resource is experimental and requires the
        `accounts-assets`

        [experimental flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - description: An asset ID to filter the list on.
          name: asset
          in: query
          required: false
          schema:
            type: string
            format: id
            maxLength: 255
        - description: >-
            This resource is experimental and requires the `accounts-assets`
            [experimental flag](https://api.sightmap.com/v1/openapi).
          name: Experimental-Flags
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsassetsListAllowedAssetsResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - accounts/assets
      summary: Assign assets
      operationId: Accountsassets_assignAssetsToAccount
      security:
        - apiKey: []
      description: >
        Assign one or more assets to an account.


        Requires `sightmap.accounts.update-assets` permission.


        **NOTICE:** This resource is experimental and requires the

        `accounts-assets` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsassetsAssignAssetsToAccountRequest'
      responses:
        '204':
          description: Assets assigned successfully
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '409':
          description: Resource conflict
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AccountsassetsAssignAssetsToAccountResponse
              example:
                message: Operation failed due to a foreign key constraint
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /accounts/{account}/assets/remove:
    parameters:
      - $ref: '#/components/parameters/Account'
    put:
      tags:
        - accounts/assets
      summary: Unassign assets
      operationId: Accountsassets_unassignAssets
      security:
        - apiKey: []
      description: >
        Unassign one or more assets from an account.


        Requires `sightmap.accounts.update-assets` permission.


        **NOTICE:** This resource is experimental and requires the

        `accounts-assets` [experimental
        flag](https://api.sightmap.com/v1/openapi).


        **WARNING**: When an asset is unassigned from an account, any embeds or

        other related data may be deleted and cannot be undone.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsassetsUnassignAssetsRequest'
      responses:
        '204':
          description: Assets unassigned successfully
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '409':
          description: Resource conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsassetsUnassignAssetsResponse'
              example:
                message: Operation failed due to a foreign key constraint
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets:
    get:
      tags:
        - assets
      summary: List assets
      operationId: Assets_getAllowedList
      security:
        - apiKey: []
      description: |
        Returns a list of allowed assets.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsGetAllowedListResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - assets
      summary: Create an asset
      operationId: Assets_createAssetPermission
      security:
        - apiKey: []
      description: Requires `sightmap.assets.create` permission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsCreateAssetPermissionRequest'
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '409':
          description: Resource conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsCreateAssetPermissionResponse'
              example:
                message: A resource already exists with the given name and address
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}:
    parameters:
      - $ref: '#/components/parameters/Asset'
    get:
      tags:
        - assets
      summary: View an asset
      operationId: Assets_viewAsset
      security:
        - apiKey: []
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets
      summary: Update an asset
      operationId: Assets_updateAsset
      security:
        - apiKey: []
      description: Requires `sightmap.assets.update` permission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsUpdateAssetRequest'
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '409':
          description: Resource conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsUpdateAssetResponse'
              example:
                message: A resource already exists with the given name and address
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/units:
    parameters:
      - $ref: '#/components/parameters/Asset'
    get:
      tags:
        - assets/units
      summary: List units
      operationId: Assetsunits_listUnits
      security:
        - apiKey: []
      description: |
        Returns a list of units for an asset.

        Requires `sightmap.units.read` permission.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - description: A unit number to filter the list on.
          name: unit-number
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsunitsListUnitsResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - assets/units
      summary: Create a unit
      operationId: Assetsunits_createUnit
      security:
        - apiKey: []
      description: |
        Create a unit for an asset.

        Requires `sightmap.units.create` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsunitsCreateUnitRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssetsunitsCreateUnitRequest1'
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/units/{unit}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A unit ID.
        name: unit
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
    get:
      tags:
        - assets/units
      summary: View a unit
      operationId: Assetsunits_getSpecificUnit
      security:
        - apiKey: []
      description: |
        Returns a specific unit.

        Requires `sightmap.units.read` permission.
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/units
      summary: Update a unit
      operationId: Assetsunits_updateMultifamilyUnit
      security:
        - apiKey: []
      description: Requires `sightmap.units.update` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsunitsUpdateMultifamilyUnitRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssetsunitsUpdateMultifamilyUnitRequest1'
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - assets/units
      summary: Delete a unit
      operationId: Assetsunits_deleteUnit
      security:
        - apiKey: []
      description: Requires `sightmap.units.delete` permission.
      responses:
        '200':
          description: Deleted resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '409':
          $ref: '#/components/responses/ForeignKeyConstraintError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/buildings:
    parameters:
      - $ref: '#/components/parameters/Asset'
    get:
      tags:
        - assets/buildings
      summary: List buildings
      operationId: Assetsbuildings_listBuildingsForAsset
      security:
        - apiKey: []
      description: |
        Returns a list of buildings for an asset.

        Requires `sightmap.buildings.read` permission.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsbuildingsListBuildingsForAssetResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - assets/buildings
      summary: Create a building
      operationId: Assetsbuildings_createBuilding
      security:
        - apiKey: []
      description: |
        Create a building for an asset.

        Requires `sightmap.buildings.create` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsbuildingsCreateBuildingRequest'
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/buildings/{building}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A building ID.
        name: building
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
    get:
      tags:
        - assets/buildings
      summary: View a building
      operationId: Assetsbuildings_getSpecificBuilding
      security:
        - apiKey: []
      description: |
        Returns a specific building.

        Requires `sightmap.buildings.read` permission.
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/buildings
      summary: Update a building
      operationId: Assetsbuildings_updateBuilding
      security:
        - apiKey: []
      description: Requires `sightmap.buildings.update` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsbuildingsUpdateBuildingRequest'
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/filters:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: >-
          This resource is experimental and requires the `filters-resource`
          [experimental flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/filters
      summary: List filters
      operationId: Assetsfilters_listFilters
      security:
        - apiKey: []
      description: >
        Returns a list of filters.


        Requires `sightmap.filters.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `filters-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfiltersListFiltersResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - assets/filters
      summary: Create a filter
      operationId: Assetsfilters_createNewFilter
      security:
        - apiKey: []
      description: >
        Creates a new filter.


        Requires `sightmap.filters.create` permission.


        **NOTICE:** This resource is experimental and requires the

        `filters-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsfiltersCreateNewFilterRequest'
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfiltersCreateNewFilterResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/filters/{filter}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A filter ID.
        name: filter
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: >-
          This resource is experimental and requires the `filters-resource`
          [experimental flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/filters
      summary: View a filter
      operationId: Assetsfilters_getSpecificFilter
      security:
        - apiKey: []
      description: >
        Returns a specific filter.


        Requires `sightmap.filters.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `filters-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfiltersGetSpecificFilterResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/filters
      summary: Update a filter
      operationId: Assetsfilters_updateFilter
      security:
        - apiKey: []
      description: >
        Updates a filter.


        When updating a filter, the filter type cannot be changed.


        Requires `sightmap.filters.update` permission.


        **NOTICE:** This resource is experimental and requires the

        `filters-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsfiltersUpdateFilterRequest'
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfiltersUpdateFilterResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/filters/{filter}/options:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A filter ID.
        name: filter
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: >-
          This resource is experimental and requires the `filters-resource`
          [experimental flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/filters
      summary: List options
      operationId: Assetsfilters_listOptions
      security:
        - apiKey: []
      description: >
        Returns a list of options.


        Requires `sightmap.filters.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `filters-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfiltersListOptionsResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - assets/filters
      summary: Create an option
      operationId: Assetsfilters_createOption
      security:
        - apiKey: []
      description: >
        Creates a new option for a filter.


        Requires `sightmap.filters.create` permission.


        **NOTICE:** This resource is experimental and requires the

        `filters-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsfiltersCreateOptionRequest'
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfiltersCreateOptionResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/filters/{filter}/options/{option}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A filter ID.
        name: filter
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: An option ID.
        name: option
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: >-
          This resource is experimental and requires the `filters-resource`
          [experimental flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/filters
      summary: View an option
      operationId: Assetsfilters_viewOption
      security:
        - apiKey: []
      description: >
        Returns a specific filter.


        Requires `sightmap.filters.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `filters-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfiltersViewOptionResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/filters
      summary: Update an option
      operationId: Assetsfilters_updateOption
      security:
        - apiKey: []
      description: >
        Updates an option.


        Requires `sightmap.filters.update` permission.


        **NOTICE:** This resource is experimental and requires the

        `filters-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsfiltersUpdateOptionRequest'
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfiltersUpdateOptionResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/filters/{filter}/options/{option}/units:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A filter ID.
        name: filter
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: An option ID.
        name: option
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: >-
          This resource is experimental and requires the `filters-resource`
          [experimental flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/filters
      summary: List units assigned to a custom option
      operationId: Assetsfilters_listUnitsForOption
      security:
        - apiKey: []
      description: >
        Returns a list of units for a custom option.


        Requires `sightmap.filters.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `filters-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfiltersListUnitsForOptionResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/filters
      summary: Assign units to a custom option
      operationId: Assetsfilters_assignUnitsToOption
      security:
        - apiKey: []
      description: >
        Assign one or more units to one or more options.


        Requires `sightmap.filters.update` permission.


        **NOTICE:** This resource is experimental and requires the

        `filters-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsfiltersAssignUnitsToOptionRequest'
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfiltersAssignUnitsToOptionResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '409':
          description: Resource conflict
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsfiltersAssignUnitsToOption409Response
              example:
                message: The filter option type does not support unit assignment.
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/floors:
    parameters:
      - $ref: '#/components/parameters/Asset'
    get:
      tags:
        - assets/floors
      summary: List floors
      operationId: Assetsfloors_getList
      security:
        - apiKey: []
      description: |
        Returns a list of floors for an asset.

        Requires `sightmap.floors.read` permission.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfloorsGetListResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
    post:
      tags:
        - assets/floors
      summary: Create a floor
      operationId: Assetsfloors_createFloorMultifamily
      security:
        - apiKey: []
      description: |
        Create a floor for an asset.

        Requires `sightmap.floors.create` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsfloorsCreateFloorMultifamilyRequest'
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Floor-2'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/floors/{floor}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A floor ID.
        name: floor
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
    get:
      tags:
        - assets/floors
      summary: View a floor
      operationId: Assetsfloors_viewFloor
      security:
        - apiKey: []
      description: |
        Returns a specific floor.

        Requires `sightmap.floors.read` permission.
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Floor-2'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/floors
      summary: Update a floor
      operationId: Assetsfloors_updateFloorMultifamily
      security:
        - apiKey: []
      description: Requires `sightmap.floors.update` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsfloorsUpdateFloorMultifamilyRequest'
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Floor-2'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/floor-plans:
    parameters:
      - $ref: '#/components/parameters/Asset'
    get:
      tags:
        - assets/floor-plans
      summary: List floor plans
      operationId: Assetsfloorplans_listFloorPlans
      security:
        - apiKey: []
      description: |
        Returns a list of floor plans for an asset.

        Requires `sightmap.floor-plans.read` permission.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsfloorplansListFloorPlansResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - assets/floor-plans
      summary: Create a floor plan
      operationId: Assetsfloorplans_createMultifamilyFloorPlan
      security:
        - apiKey: []
      description: |
        Create a floor plan for an asset.

        Requires `sightmap.floor-plans.create` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AssetsfloorplansCreateMultifamilyFloorPlanRequest
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/AssetsfloorplansCreateMultifamilyFloorPlanRequest1
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloorPlan-2'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/floor-plans/{floor-plan}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A floor plan ID.
        name: floor-plan
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
    get:
      tags:
        - assets/floor-plans
      summary: View a floor plan
      operationId: Assetsfloorplans_viewSpecificFloorPlan
      security:
        - apiKey: []
      description: |
        Returns a specific floor plan.
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloorPlan-2'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/floor-plans
      summary: Update a floor plan
      operationId: Assetsfloorplans_updateFloorPlan
      security:
        - apiKey: []
      description: Requires `sightmap.floor-plans.update` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsfloorplansUpdateFloorPlanRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssetsfloorplansUpdateFloorPlanRequest1'
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloorPlan-2'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - assets/floor-plans
      summary: Delete a floor plan
      operationId: Assetsfloorplans_deleteFloorPlan
      security:
        - apiKey: []
      description: Requires `sightmap.floor-plans.delete` permission.
      responses:
        '200':
          description: Deleted resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloorPlan-2'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '409':
          $ref: '#/components/responses/ForeignKeyConstraintError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/marker-descriptions:
    parameters:
      - $ref: '#/components/parameters/Asset'
    get:
      tags:
        - assets/marker-descriptions
      summary: List marker descriptions
      operationId: Assetsmarkerdescriptions_listMarkerDescriptions
      security:
        - apiKey: []
      description: >
        Returns a list of marker descriptions for an asset.


        Requires `sightmap.marker-descriptions.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `marker-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - description: >-
            This resource is experimental and requires the
            `marker-descriptions-resource` [experimental
            flag](https://api.sightmap.com/v1/openapi).
          name: Experimental-Flags
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsmarkerdescriptionsListMarkerDescriptionsResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
      deprecated: false
  /assets/{asset}/multifamily/marker-descriptions/{marker-descriptions}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A Marker Description ID.
        name: marker-description
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
    get:
      tags:
        - assets/marker-descriptions
      summary: View a marker description
      operationId: Assetsmarkerdescriptions_viewSpecificMarkerDescription
      security:
        - apiKey: []
      description: >
        Returns a specific marker description.


        Requires `sightmap.marker-descriptions.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `marker-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - description: >-
            This resource is experimental and requires the
            `marker-descriptions-resource` [experimental
            flag](https://api.sightmap.com/v1/openapi).
          name: Experimental-Flags
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkerDescription'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
      deprecated: false
  /assets/{asset}/multifamily/galleries:
    parameters:
      - $ref: '#/components/parameters/Asset'
    get:
      tags:
        - assets/galleries
      summary: List galleries
      operationId: Assetsgalleries_listGalleries
      security:
        - apiKey: []
      description: >
        Returns a list of image galleries for an asset.


        Requires `sightmap.galleries.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `gallery-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - description: >-
            This resource is experimental and requires the `gallery-resource`
            [experimental flag](https://api.sightmap.com/v1/openapi).
          name: Experimental-Flags
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsgalleriesListGalleriesResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/galleries/{gallery}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A gallery ID.
        name: gallery
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
    get:
      tags:
        - assets/galleries
      summary: View a gallery
      operationId: Assetsgalleries_viewSpecificGallery
      security:
        - apiKey: []
      description: >
        Returns a specific image gallery.


        **NOTICE:** This resource is experimental and requires the

        `gallery-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - description: >-
            This resource is experimental and requires the `gallery-resource`
            [experimental flag](https://api.sightmap.com/v1/openapi).
          name: Experimental-Flags
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gallery'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/outbound-links:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: >-
          This resource is experimental and requires the
          `asset-outbound-links-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/outbound-links
      summary: List asset outbound links
      operationId: Assetsoutboundlinks_listOutboundLinks
      security:
        - apiKey: []
      description: >
        Returns a list of asset outbound links.


        Requires `sightmap.asset-outbound-links.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `asset-outbound-links-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsoutboundlinksListOutboundLinksResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - assets/outbound-links
      summary: Create an asset outbound link
      operationId: Assetsoutboundlinks_createAssetOutboundLink
      security:
        - apiKey: []
      description: >
        Create an asset outbound link for an asset.


        Requires `sightmap.asset-outbound-links.create` permission.


        **NOTICE:** This resource is experimental and requires the

        `asset-outbound-links-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AssetsoutboundlinksCreateAssetOutboundLinkRequest
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetOutboundLink'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/outbound-links/{outbound-link}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: An asset outbound link ID.
        name: outbound-link
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: >-
          This resource is experimental and requires the
          `asset-outbound-links-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/outbound-links
      summary: View an asset outbound link
      operationId: Assetsoutboundlinks_viewAssetOutboundLink
      security:
        - apiKey: []
      description: >
        Returns a specific asset outbound link.


        Requires `sightmap.asset-outbound-links.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `asset-outbound-links-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetOutboundLink'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/outbound-links
      summary: Update an asset outbound link
      operationId: Assetsoutboundlinks_updateLink
      security:
        - apiKey: []
      description: >
        Requires `sightmap.asset-outbound-links.update` permission.


        **NOTICE:** This resource is experimental and requires the

        `asset-outbound-links-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsoutboundlinksUpdateLinkRequest'
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetOutboundLink'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/units/outbound-links:
    parameters:
      - $ref: '#/components/parameters/Asset'
    get:
      tags:
        - assets/units/outbound-links
      summary: List unit outbound links
      operationId: Assetsunitsoutboundlinks_listOutboundLinks
      security:
        - apiKey: []
      description: |
        Returns a list of unit outbound links.

        Requires `sightmap.unit-outbound-links.read` permission.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsoutboundlinksListOutboundLinksResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - assets/units/outbound-links
      summary: Create a unit outbound link
      operationId: Assetsunitsoutboundlinks_createUnitOutboundLink
      security:
        - apiKey: []
      description: |
        Create a unit outbound link for an asset.

        Requires `sightmap.unit-outbound-links.create` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AssetsunitsoutboundlinksCreateUnitOutboundLinkRequest
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsoutboundlinksCreateUnitOutboundLinkResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/units/outbound-links/{outbound-link}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A unit outbound link ID.
        name: outbound-link
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
    get:
      tags:
        - assets/units/outbound-links
      summary: View a unit outbound link
      operationId: Assetsunitsoutboundlinks_viewSpecificLink
      security:
        - apiKey: []
      description: |
        Returns a specific unit outbound link.

        Requires `sightmap.unit-outbound-links.read` permission.
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsoutboundlinksViewSpecificLinkResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/units/outbound-links
      summary: Update a unit outbound link
      operationId: Assetsunitsoutboundlinks_updateUnitOutboundLink
      security:
        - apiKey: []
      description: |
        Requires `sightmap.unit-outbound-links.create` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AssetsunitsoutboundlinksUpdateUnitOutboundLinkRequest
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsoutboundlinksUpdateUnitOutboundLinkResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/units/outbound-links/{outbound-link}/urls:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A unit outbound link ID.
        name: outbound-link
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
    get:
      tags:
        - assets/units/outbound-links
      summary: List unit outbound link URLs
      operationId: Assetsunitsoutboundlinks_listUnitOutboundLinkUrls
      security:
        - apiKey: []
      description: |
        Returns a list of URLs for each unit when the unit outbound link type is
        `urls_per_unit`.

        Requires `sightmap.unit-outbound-links.read` permission.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsoutboundlinksListUnitOutboundLinkUrlsResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '409':
          description: Resource conflict
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsoutboundlinksListUnitOutboundLinkUrls409Response
              example:
                message: The unit outbound link must be of type `urls_per_unit`
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/units/outbound-links
      summary: Update unit outbound link URLs
      operationId: Assetsunitsoutboundlinks_updateUrls
      security:
        - apiKey: []
      description: |
        Update a URL for any or all units when the unit outbound link type is
        `urls_per_unit`.

        Requires `sightmap.unit-outbound-links.update` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsunitsoutboundlinksUpdateUrlsRequest'
      responses:
        '204':
          description: URLs updated successfully
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '409':
          description: Resource conflict
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsoutboundlinksUpdateUrlsResponse
              example:
                message: The unit outbound link does not support URLs per unit
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/landing-pages:
    parameters:
      - $ref: '#/components/parameters/Asset'
    get:
      tags:
        - assets/landing-pages
      summary: List landing pages
      operationId: Assetslandingpages_listLandingPages
      security:
        - apiKey: []
      description: >
        Returns a list of landing pages for an asset.


        Requires `sightmap.landing-pages.read` permission.


        **NOTICE:** This resource is experimental and requires the
        `landing-page-resource`

        [experimental flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - description: An asset ID to filter the list on.
          name: asset
          in: query
          required: false
          schema:
            type: string
            format: id
            maxLength: 255
        - description: >-
            This resource is experimental and requires the
            `landing-page-resource` [experimental
            flag](https://api.sightmap.com/v1/openapi).
          name: Experimental-Flags
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetslandingpagesListLandingPagesResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/landing-pages/{landing-page}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A landing page ID.
        name: landing-page
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
    get:
      tags:
        - assets/landing-pages
      summary: View a landing page
      operationId: Assetslandingpages_viewLandingPage
      security:
        - apiKey: []
      description: >
        Returns a specific landing page.


        Requires `sightmap.landing-pages.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `landing-page-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - description: A landing page ID.
          name: landing-page
          in: path
          required: true
          schema:
            type: string
            format: id
            maxLength: 255
        - description: >-
            This resource is experimental and requires the
            `landing-page-resource` [experimental
            flag](https://api.sightmap.com/v1/openapi).
          name: Experimental-Flags
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandingPage'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/units/description-groups:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: >-
          This resource is experimental and requires the
          `unit-descriptions-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/units/descriptions
      summary: List groups
      operationId: Assetsunitsdescriptions_listGroups
      security:
        - apiKey: []
      description: >
        Returns a list of unit description groups for an asset.


        Requires `sightmap.unit-descriptions.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `unit-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsunitsdescriptionsListGroupsResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - assets/units/descriptions
      summary: Create a group
      operationId: Assetsunitsdescriptions_createUnitDescriptionGroup
      security:
        - apiKey: []
      description: >
        Create a unit description group.


        Requires `sightmap.unit-descriptions.create` permission.


        **NOTICE:** This resource is experimental and requires the

        `unit-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AssetsunitsdescriptionsCreateUnitDescriptionGroupRequest
            example:
              asset_id: '1323'
              name: Amenities
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitDescriptionGroup'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/units/description-groups/{description-group}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A unit description group ID.
        name: group
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: >-
          This resource is experimental and requires the
          `unit-description-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/units/descriptions
      summary: View a group
      operationId: Assetsunitsdescriptions_viewGroup
      security:
        - apiKey: []
      description: >
        Returns a specific unit description group.


        Requires `sightmap.unit-descriptions.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `unit-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitDescriptionGroup'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/units/descriptions
      summary: Update a group
      operationId: Assetsunitsdescriptions_updateGroup
      security:
        - apiKey: []
      description: >
        Update a unit description group.


        Requires `sightmap.unit-descriptions.update` permission.


        **NOTICE:** This resource is experimental and requires the

        `unit-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsunitsdescriptionsUpdateGroupRequest'
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitDescriptionGroup'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/units/description-groups/{description-group}/descriptions:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A unit description group ID.
        name: group
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: >-
          This resource is experimental and requires the
          `unit-descriptions-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/units/descriptions
      summary: List descriptions
      operationId: Assetsunitsdescriptions_listUnitDescriptionGroups
      security:
        - apiKey: []
      description: >
        Returns a list of descriptions for a unit description group.


        Requires `sightmap.unit-descriptions.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `unit-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsdescriptionsListUnitDescriptionGroupsResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - assets/units/descriptions
      summary: Create a description
      operationId: Assetsunitsdescriptions_createUnitDescriptions
      security:
        - apiKey: []
      description: >
        Create one or more unit descriptions.


        Requires `sightmap.unit-descriptions.create` permission.


        **NOTICE:** This resource is experimental and requires the

        `unit-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AssetsunitsdescriptionsCreateUnitDescriptionsRequest
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsdescriptionsCreateUnitDescriptionsResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/units/descriptions
      summary: Update a description
      operationId: Assetsunitsdescriptions_updateDescriptions
      security:
        - apiKey: []
      description: >
        Update one or more unit descriptions.


        Requires `sightmap.unit-descriptions.update` permission.


        **NOTICE:** This resource is experimental and requires the

        `unit-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AssetsunitsdescriptionsUpdateDescriptionsRequest
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsdescriptionsUpdateDescriptionsResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/units/description-groups/{description-group}/descriptions/{description}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A unit description group ID.
        name: group
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: A unit description ID.
        name: description
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: >-
          This resource is experimental and requires the
          `unit-description-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/units/descriptions
      summary: View a description
      operationId: Assetsunitsdescriptions_viewSpecificDescription
      security:
        - apiKey: []
      description: >
        Returns a specific unit description.


        Requires `sightmap.unit-descriptions.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `unit-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitDescription'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/units/description-groups/{description-group}/units:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A unit description group ID.
        name: group
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
      - description: >-
          This resource is experimental and requires the
          `unit-descriptions-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        name: Experimental-Flags
        in: header
        required: true
        schema:
          type: string
    get:
      tags:
        - assets/units/descriptions
      summary: List units assigned to descriptions
      operationId: Assetsunitsdescriptions_listAssignedUnits
      security:
        - apiKey: []
      description: >
        Returns a list of units for a unit description group.


        Requires `sightmap.unit-descriptions.read` permission.


        **NOTICE:** This resource is experimental and requires the

        `unit-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsdescriptionsListAssignedUnitsResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/units/descriptions
      summary: Assign units to descriptions
      operationId: Assetsunitsdescriptions_assignUnitsToDescriptionGroups
      security:
        - apiKey: []
      description: >
        Assign one or more units to one or more descriptions.


        Requires `sightmap.unit-descriptions.update` permission.


        **NOTICE:** This resource is experimental and requires the

        `unit-descriptions-resource` [experimental
        flag](https://api.sightmap.com/v1/openapi).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AssetsunitsdescriptionsAssignUnitsToDescriptionGroupsRequest
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AssetsunitsdescriptionsAssignUnitsToDescriptionGroupsResponse
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/maps:
    parameters:
      - $ref: '#/components/parameters/Asset'
    get:
      tags:
        - assets/maps
      summary: List unit maps
      operationId: Assetsmaps_listUnitMaps
      security:
        - apiKey: []
      description: |
        Returns a list of unit maps for an asset.

        Requires `sightmap.unit-maps.read` permission.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Tags'
      responses:
        '200':
          description: Resource list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsmapsListUnitMapsResponse'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - assets/maps
      summary: Create a unit map
      operationId: Assetsmaps_createUnitMap
      security:
        - apiKey: []
      description: >
        Create a Unit Map for an asset.


        Requires `sightmap.unit-maps.create` permission.


        **NOTICE:** This resource is experimental and requires the
        `create-unitmap-resource`

        [experimental flag](https://api.sightmap.com/v1/openapi).
      parameters:
        - description: >-
            This resource is experimental and requires the
            `create-unitmap-resource` [experimental
            flag](https://api.sightmap.com/v1/openapi).
          name: Experimental-Flags
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssetsmapsCreateUnitMapRequest'
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitMap'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '415':
          description: Unsupported media type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsmapsCreateUnitMapResponse'
              example:
                message: Content type must be `multipart/form-data`
        '422':
          $ref: '#/components/responses/ResourceValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
  /assets/{asset}/multifamily/maps/{map}:
    parameters:
      - $ref: '#/components/parameters/Asset'
      - description: A unit map ID.
        name: map
        in: path
        required: true
        schema:
          type: string
          format: id
          maxLength: 255
    get:
      tags:
        - assets/maps
      summary: View a unit map
      operationId: Assetsmaps_viewUnitMap
      security:
        - apiKey: []
      description: |
        Returns a specific unit map.

        Requires `sightmap.unit-maps.read` permission.
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitMap'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
        - assets/maps
      summary: Update a unit map
      operationId: Assetsmaps_updateUnitMap
      security:
        - apiKey: []
      description: Requires `sightmap.unit-maps.update` permission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsmapsUpdateUnitMapRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssetsmapsUpdateUnitMapRequest1'
      responses:
        '200':
          description: Resource returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitMap'
        '401':
          $ref: '#/components/responses/NoAPIKeyError'
        '403':
          $ref: '#/components/responses/AccessDeniedError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '422':
[...]
