openapi: 3.0.0
info:
  title: Recruiterflow API Documentation
  description: >-
    All requests to any Recruiterflow API must include the RF-Api-Key header.
    Unless otherwise specified, all data is in JSON. Domain for all API requests
    should be api.recruiterflow.com
  version: 0.0.1
  termsOfService: ''
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://recruiterflow.com
tags:
  - name: Candidate APIs
  - name: Job APIs
  - name: Contact APIs
  - name: Client APIs
  - name: Deal APIs
  - name: Other APIs
  - name: Campaign APIs
  - name: Placement APIs
  - name: User APIs
paths:
  /api/external/campaign/add-to-campaign:
    post:
      tags:
        - Campaign APIs
      summary: Add candidate/contact to campaign
      operationId: CampaignApIs_addToCampaign
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignApIsAddToCampaignRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignApIsAddToCampaignResponse'
  /api/external/campaign/get-campaign-report:
    get:
      tags:
        - Campaign APIs
      summary: This endpoint lists all communications sent in a particular campaign
      operationId: CampaignApIs_listCampaignCommunications
      parameters:
        - description: Campaign id you want to fetch.
          example: 10
          explode: true
          in: query
          name: campaign_id
          required: false
          schema:
            type: string
          style: form
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CampaignApIsListCampaignCommunicationsResponse
  /api/external/campaign/list:
    get:
      tags:
        - Campaign APIs
      summary: This endpoint lists all campaigns created within Recruiterflow
      operationId: CampaignApIs_getAllCampaigns
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignApIsGetAllCampaignsResponse'
  /api/external/campaign/remove-from-campaign:
    post:
      tags:
        - Campaign APIs
      summary: Remove candidate/contact from campaign.
      operationId: CampaignApIs_removeCandidateFromCampaign
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CampaignApIsRemoveCandidateFromCampaignRequest
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CampaignApIsRemoveCandidateFromCampaignResponse
  /api/external/campaign/status/list:
    get:
      tags:
        - Campaign APIs
      summary: This endpoint lists all campaign-related statuses
      operationId: CampaignApIs_getCampaignStatusList
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignApIsGetCampaignStatusListResponse'
  /api/external/candidate/activities/stage-movement/list:
    get:
      tags:
        - Candidate APIs
      summary: Get all stage movements for a candidate
      operationId: CandidateApIs_getStageMovements
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Candidate ID for which the data is needed.
          example: 157877
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: After time for which the calls are needed in ISO format.
          example: '2023-04-30T10:30:00'
          explode: false
          in: query
          name: after
          required: false
          schema:
            type: string
          style: simple
        - description: Before time for which the calls are needed in ISO format.
          example: '2023-05-01T15:00:00'
          explode: false
          in: query
          name: before
          required: false
          schema:
            type: string
          style: simple
        - description: Number of records per page.
          example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - description: The page number.
          example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateApIsGetStageMovementsResponse'
  /api/external/candidate/add:
    post:
      tags:
        - Candidate APIs
      summary: Add a candidate record.
      operationId: CandidateApIs_addRecord
      description: >-
        <br/><b>Please find the format of custom field input below.</b><br/><li>
        Single select:<br/>{<br/> "id": single_select_cf_id,<br/> "value":
        "string"<br/>}<br/></li><br/><br/><li> Multi select :<br/>{<br/> "id":
        multi_select_cf_id,<br/> "value": ["string1",
        "string2"]<br/>}<br/></li><br/><br/><li> Short/Long text:<br/>{<br/>
        "id": short_text_cf_id,<br/> "value": "text"<br/>}</li><br/><br/><li>
        Money:<br/>{<br/>  "id": money custom field id,<br/>  "value":
        {"number": Integer(The amount), "currency": "string(Currency code eg.
        USD, GBP)"}<br/>}<br/><br/><li> Money Range:<br/>{<br/>  "id": money
        reange custom field id,<br/>  "value": {"number1": Integer(Starting
        Amount), "number2": "Ending Amount", "currency": "string(Currency code
        eg. USD, GBP)"}<br/>}<br/><br/><li> Number/Date:<br/>{<br/> "id":
        cf_id,<br/> "value": number/date to store<br/>}<br/></li><br/><br/><li>
        Yes No:<br/>{<br/> "id": yes_no_cf_id,<br/> "value": 0 for No and 1 for
        Yes<br/>}</li><br/><br/><li> Profile :<br/>{<br/> "id":
        profile_cf_id,<br/> "value": [{"id": profile_id, "type":
        entity_type(Candidate, Contact, Company)}]<br/>}<br/>
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            examples:
              '0':
                value: |-
                  {
                    "name"              : "swagger candidate",
                    "email"             : [{
                                          "email": "swagger@mail.com",
                                          "is_primary" : 1
                                         }
                                        ],
                    "phone_number"      : [
                                          {
                                            "phone_number" : "987689928",
                                            "type" : 1
                                          }
                                        ],
                    "linkedin_profile"  : "https://www.linkedin.com/in/abhishek-bachchan/",
                    "twitter_profile"   : "https://twitter.com/989fabd17d7341a",
                    "facebook_profile"  : "https://www.facebook.com/bikash.shaw.56884",
                    "github_profile"    : "https://github.com/bikashkumarshaw",
                    "angellist_profile" : "https://angel.co/u/bikash-shaw-1",
                    "tags"              : ["swagger"],
                    "skills"            : ["swagger"],
                    "title"             : "swagger pos",
                    "organization"      : "swagger company",
                    "source"            : "linkedin",
                    "lead_owner_id"            : 1,
                    "custom_fields"     : [
                                          {
                                            "id": 16,
                                            "value": {"currency": "USD", "number": 600000}
                                          },
                                          {
                                            "id": 17,
                                            "value": {"currency": "USD", "number1": 600000, "number2": 800000}
                                          },
                                          {
                                            "id": 19,
                                            "value": {"number1": 600000, "number2": 800000}
                                          },
                                          {
                                            "id": 20,
                                            "value": ["choice1", "choice2"]
                                          },
                                          {
                                            "id" : 33,
                                            "value" : "Random"
                                          }
                                        ],
                    "location"         : {
                                            "location" : "New York Metropolitan Area",
                                            "city": "New York city",
                                            "state": "New York",
                                            "country": "United States",
                                            "postal_code": "3256"
                                          },
                    "experience"        : [
                                            {"organization":"Facebook",
                                            "designation":"SDE",
                                            "from":["2","2021"],
                                            "to":["2","2021"]
                                          }
                                        ],
                    "education"        : [
                                            {"school":"HPCA",
                                            "degree":"10th",
                                            "specialization": "MATHS",
                                            "from":["5","2021"],
                                            "to":["5","2022"]
                                          }
                                        ]
                  }
            schema:
              $ref: '#/components/schemas/CandidateApIsAddRecordRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              example:
                RESULT: SUCCESS
                data:
                  id: 154721
              schema:
                $ref: '#/components/schemas/CandidateApIsAddRecordResponse'
  /api/external/candidate/add-application-form:
    post:
      tags:
        - Candidate APIs
      summary: >-
        The add application form endpoint allows you to export application
        information about a job to Recruiterflow.
      operationId: CandidateApIs_exportApplicationInfo
      description: >-
        Use the 'key' of the application form parts (from /api/external/job) as
        the form element names to pass values for each application form
        input.<br/>Files can also be uploaded in the form using the appropriate
        'key' from the application form detail.<br/>
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CandidateApIsExportApplicationInfoRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              example:
                RESULT: SUCCESS
              schema:
                $ref: >-
                  #/components/schemas/CandidateApIsExportApplicationInfoResponse
  /api/external/candidate/add-to-job:
    post:
      tags:
        - Candidate APIs
      summary: >-
        Add a candidate to a job, candidates will show up under the Sourced
        stage
      operationId: CandidateApIs_addToJob
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateApIsAddToJobRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              example:
                RESULT: SUCCESS
              schema:
                $ref: '#/components/schemas/CandidateApIsAddToJobResponse'
  /api/external/candidate/calendar-event/list:
    get:
      tags:
        - Candidate APIs
      summary: Get all calendar events for a candidate
      operationId: CandidateApIs_getCalendarEvents
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Candidate ID for which the tasks are needed.
          example: 157877
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: After time for which the calls are needed in ISO format.
          example: '2023-04-30T10:30:00'
          explode: false
          in: query
          name: after
          required: false
          schema:
            type: string
          style: simple
        - description: Before time for which the calls are needed in ISO format.
          example: '2023-05-01T15:00:00'
          explode: false
          in: query
          name: before
          required: false
          schema:
            type: string
          style: simple
        - description: Number of records per page.
          example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - description: The page number.
          example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateApIsGetCalendarEventsResponse'
  /api/external/candidate/calls/list:
    get:
      tags:
        - Candidate APIs
      summary: Get all calls list for a candidate
      operationId: CandidateApIs_getCallsList
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Candidate ID for which the calls are needed.
          example: 22
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: After time for which the calls are needed in ISO format.
          example: '2023-04-30T10:30:00'
          explode: false
          in: query
          name: after
          required: false
          schema:
            type: string
          style: simple
        - description: Before time for which the calls are needed in ISO format.
          example: '2023-05-01T15:00:00'
          explode: false
          in: query
          name: before
          required: false
          schema:
            type: string
          style: simple
        - description: Number of records per page.
          example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - description: The page number.
          example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateApIsGetCallsListResponse'
  /api/external/candidate/custom-field/list:
    get:
      tags:
        - Candidate APIs
      summary: The endpoint lists all candidate custom fields.
      operationId: CandidateApIs_getCustomFieldList
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              example:
                data:
                  - choices:
                      - id: 855
                        name: Basic
                      - id: 856
                        name: Moderate
                      - id: 857
                        name: High
                      - id: 858
                        name: Expert
                    id: 245
                    name: Proficiency
                    type: single_select
                total_items: 1
              schema:
                $ref: '#/components/schemas/CandidateApIsGetCustomFieldListResponse'
  /api/external/candidate/disqualify:
    post:
      tags:
        - Candidate APIs
      summary: Disqualify a candidate with a reason.
      operationId: CandidateApIs_disqualifyCandidateWithReason
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CandidateApIsDisqualifyCandidateWithReasonRequest
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CandidateApIsDisqualifyCandidateWithReasonResponse
  /api/external/candidate/emails/list:
    get:
      tags:
        - Candidate APIs
      summary: Get all emails list for a Candidate
      operationId: CandidateApIs_getAllCandidateEmails
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Candidate ID for which the calls are needed.
          example: 22
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: After time for which the calls are needed in ISO format.
          example: '2023-04-30T10:30:00'
          explode: false
          in: query
          name: after
          required: false
          schema:
            type: string
          style: simple
        - description: Before time for which the calls are needed in ISO format.
          example: '2023-05-01T15:00:00'
          explode: false
          in: query
          name: before
          required: false
          schema:
            type: string
          style: simple
        - description: Number of records per page.
          example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - description: The page number.
          example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CandidateApIsGetAllCandidateEmailsResponse
  /api/external/candidate/file/add:
    post:
      tags:
        - Candidate APIs
      summary: >-
        Please add ARGUMENTS (AS A FORM), the api is used to attach files to
        candidates.
      operationId: CandidateApIs_attachFile
      description: If file is being added by url, file_name is mandatory<br/>
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CandidateApIsAttachFileRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              example:
                RESULT: SUCCESS
                data:
                  num_files: 3
              schema:
                $ref: '#/components/schemas/CandidateApIsAttachFileResponse'
  /api/external/candidate/get:
    get:
      tags:
        - Candidate APIs
      summary: Fields are the same as the candidate list API above.
      operationId: CandidateApIs_getCandidateInfo
      parameters:
        - description: Prospect id you want to fetch.
          example: 10
          explode: true
          in: query
          name: id
          required: false
          schema:
            type: string
          style: form
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateApIsGetCandidateInfoResponse'
  /api/external/candidate/list:
    get:
      tags:
        - Candidate APIs
      summary: Get details of a particular candidate record
      operationId: CandidateApIs_getCandidateDetails
      parameters:
        - description: Number of records per page.
          example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - description: The page number.
          example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - description: Include candidate files in response, defaults to False.
          example: 0
          explode: true
          in: query
          name: include_files
          required: false
          schema:
            type: integer
          style: form
        - description: Include candidate notes in response, defaults to False.
          example: 1
          explode: true
          in: query
          name: include_notes
          required: false
          schema:
            type: integer
          style: form
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              example:
                data:
                  - tags: []
                    added_by:
                      id: 18993
                      img_link: >-
                        https://s3-eu-central-1.amazonaws.com/com-recruiterflow-static-content-eu/user-profile-pictures/18993/profile-picture.jpe
                      name: Bikash Shaw
                    added_time: 2021-01-15T05:46:01+0000
                    angellist_profile: null
                    behance_profile: null
                    client: null
                    client_company_id: null
                    current_designation: null
                    current_organization: null
                    custom_fields: []
                    do_not_email: false
                    dribbble_profile: null
                    education: []
                    email: []
                    experience: []
                    facebook_profile: null
                    files:
                      - filename: 10250.pdf
                        id: 3202
                        link: >-
                          https://com-recruiterflow-document-store-eu.s3.amazonaws.com/db_b18c893c749e320e66fbb2f7fef6b1be/documents/3202/10250.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJGJEHP5AAWSJVTMA%2F20210118%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20210118T120927Z&X-Amz-Expires=604700&X-Amz-SignedHeaders=host&X-Amz-Signature=b2f5c36db2ea531754e94ce7cf821740effbbf58dca0e7c383880d716b3b8674
                        permission: 1
                        upload_time: '2021-01-18T11:34:16+05:30'
                    first_name: Sumit
                    github_profile: None
                    id: 154651
                    img_link: >-
                      https://s3-eu-central-1.amazonaws.com/com-recruiterflow-static-content-eu/profile-pictures/prod/db_b18c893c749e320e66fbb2f7fef6b1be/154651/profile-picture.jpe
                    jobs:
                      - added_to_job_by:
                          id: <int>
                          name: <str>
                        client_company_id: <int>
                        client_company_name: <str>
                        department_name: <str>
                        disqualification_reason: <str>
                        is_open: <bool>
                        job_id: <int>
                        job_visibility_id: <int>
                        name: <str>
                        stage_moved: <str>
                        stage_name: <str>
                        starred: <int>
                    last_contact_type: null
                    last_contacted: null
                    last_engaged: null
                    last_engagement_type: null
                    last_name: Neogi
                    latest_activity_time: 2021-01-18T06:04:16+0000
                    lead_owner:
                      id: 18993
                      img_link: >-
                        https://s3-eu-central-1.amazonaws.com/com-recruiterflow-static-content-eu/user-profile-pictures/18993/profile-picture.jpe
                      name: Bikash Shaw
                    linkedin_profile: sumitneogi
                    location:
                      city: ''
                      country: ''
                      google_place_id: ''
                      location: ''
                      postal_code: ''
                      state: ''
                      street_address_1: ''
                      street_address_2: ''
                    name: Sumit Neogi
                    notes: []
                    phone_number:
                      - '23432443'
                    prospect_id: 154651
                    prospect_type_id: 1
                    skills: []
                    source_name: LinkedIn
                    status:
                      id: null
                      name: null
                    submission_times: []
                    twitter_profile: null
                    upcoming_activities: {}
                    xing_profile: null
                total_items: 1
              schema:
                $ref: '#/components/schemas/CandidateApIsGetCandidateDetailsResponse'
  /api/external/candidate/move-to-stage:
    post:
      tags:
        - Candidate APIs
      summary: Move a candidate to a stage in a job
      operationId: CandidateApIs_moveToStage
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateApIsMoveToStageRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateApIsMoveToStageResponse'
  /api/external/candidate/notes/add:
    post:
      tags:
        - Candidate APIs
      summary: The endpoint adds notes to the specified candidate.
      operationId: CandidateApIs_addCandidateNotes
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateApIsAddCandidateNotesRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateApIsAddCandidateNotesResponse'
  /api/external/candidate/placement-record/list:
    get:
      tags:
        - Candidate APIs
      summary: Get all placement records for a candidate
      operationId: CandidateApIs_getPlacementRecords
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Candidate ID for which the placement records are needed.
          example: 157877
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateApIsGetPlacementRecordsResponse'
  /api/external/candidate/profile-image/upload:
    post:
      tags:
        - Candidate APIs
      summary: Update profile picture for a candidate
      operationId: CandidateApIs_updateProfilePicture
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Candidate ID for which the image is being updated
          example: 157877
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Content of the profile image in base64-encoded format
          example: abcdef==
          explode: false
          in: query
          name: img
          required: true
          schema:
            type: string
          style: simple
        - description: File name of the profile image
          example: profile-picture.png
          explode: false
          in: query
          name: filename
          required: false
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: OK
  /api/external/candidate/scorecard/get:
    get:
      tags:
        - Candidate APIs
      summary: This API returns scorecard details specified.
      operationId: CandidateApIs_getScorecardDetails
      parameters:
        - description: scorecard id.
          example: 111
          explode: true
          in: query
          name: id
          required: false
          schema:
            type: string
          style: form
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateApIsGetScorecardDetailsResponse'
  /api/external/candidate/scorecard/list:
    get:
      tags:
        - Candidate APIs
      summary: Get all scorecards for a candidate and job_id
      operationId: CandidateApIs_getScorecards
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Candidate ID for which the scorecards are needed.
          example: 157877
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Job ID for which the scorecard is needed.
          example: 784
          explode: false
          in: query
          name: job_id
          required: true
          schema:
            type: string
          style: simple
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateApIsGetScorecardsResponse'
  /api/external/candidate/search:
    post:
      tags:
        - Candidate APIs
      summary: Find all search types in the link below.
      operationId: CandidateApIs_findSearchTypes
      description: >-
        <a
        href="https://com-recruiterflow-site-static-content.s3.eu-central-1.amazonaws.com/static/resources/Candidate%20Search.pdf">Link</a><br/><br/><b>Note:
        Structure changes to {"data": [], "total_items": int} when include_count
        is enabled.</b><br><br/>
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            examples:
              '0':
                value: |-
                  {
                      "items_per_page": 20,
                      "conjunction": "match-all",  
                      "filters": [
                                      {
                                          "filter_type": "less-than", 
                                          "is_relative": true, 
                                          "key": "last_activity", 
                                          "name": "Last activity", 
                                          "rank": 1050,
                                          "status": "COMPLETE",
                                          "text": "less than 10 days ago",
                                          "type": "date",
                                          "days": 10
                                      }
                              ], 
                      "current_page": 1,
                      "include_count": true
                  }
              '1':
                value: |-
                  {
                      "conjunction": "match-all", 
                      "current_page": 1, 
                      "filters": [
                                      {
                                          "filter_type": "less-than", 
                                          "is_relative": true, 
                                          "key": "last_activity", 
                                          "name": "Last activity", 
                                          "rank": 1050,
                                          "status": "COMPLETE",
                                          "text": "less than 10 days ago",
                                          "type": "date",
                                          "days": 10
                                      }
                              ], 
                      "items_per_page": 20
                  }
            schema:
              $ref: '#/components/schemas/CandidateApIsFindSearchTypesRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateApIsFindSearchTypesResponse'
  /api/external/candidate/task/list:
    get:
      tags:
        - Candidate APIs
      summary: Get all tasks for a candidate
      operationId: CandidateApIs_getCandidateTaskList
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Candidate ID for which the tasks are needed.
          example: 157877
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: After time for which the calls are needed in ISO format.
          example: '2023-04-30T10:30:00'
          explode: false
          in: query
          name: after
          required: false
          schema:
            type: string
          style: simple
        - description: Before time for which the calls are needed in ISO format.
          example: '2023-05-01T15:00:00'
          explode: false
          in: query
          name: before
          required: false
          schema:
            type: string
          style: simple
        - description: Number of records per page.
          example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - description: The page number.
          example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateApIsGetCandidateTaskListResponse'
  /api/external/candidate/update:
    post:
      tags:
        - Candidate APIs
      summary: >-
        This API implements a complete update which means that any existing data
        in the provided key will be wiped out and replaced with the data
        provided, in case a key is not provided no update happens to it.
      operationId: CandidateApIs_completeUpdate
      description: >-
        <b>Please find the format of custom field input below.</b><br/><li>
        Single select:<br/>{<br/> "id": single_select_cf_id,<br/> "value":
        "string"<br/>}<br/></li><br/><br/><li> Multi select :<br/>{<br/> "id":
        multi_select_cf_id,<br/> "value": ["string1",
        "string2"]<br/>}<br/></li><br/><br/><li> Short/Long text:<br/>{<br/>
        "id": short_text_cf_id,<br/> "value": "text"<br/>}</li><br/><br/><li>
        Money:<br/>{<br/>  "id": money custom field id,<br/>  "value":
        {"number": Integer(The amount), "currency": "string(Currency code eg.
        USD, GBP)"}<br/>}<br/><br/><li> Money Range:<br/>{<br/>  "id": money
        reange custom field id,<br/>  "value": {"number1": Integer(Starting
        Amount), "number2": "Ending Amount", "currency": "string(Currency code
        eg. USD, GBP)"}<br/>}<br/><br/><li> Number/Date:<br/>{<br/> "id":
        cf_id,<br/> "value": number/date to store<br/>}<br/></li><br/><br/><li>
        Yes No:<br/>{<br/> "id": yes_no_cf_id,<br/> "value": 0 for No and 1 for
        Yes<br/>}</li><br/><br/>
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            examples:
              '0':
                value: |-
                  {
                    "name"              : "swagger contact",
                    "first_name"            : "swagger",
                    "last_name"                     : "contact",
                    "email"             : [{
                                          "email": "swagger@mail.com",
                                          "is_primary" : 1
                                         }
                                        ],
                    "id"                : 5157,
                    "phone_number"      : [
                                          {
                                            "phone_number" : "987689928",
                                            "type" : 1
                                          }
                                        ],
                    "linkedin_profile"  : "https://www.linkedin.com/in/abhishek-bachchan/",
                    "twitter_profile"   : "https://twitter.com/989fabd17d7341a",
                    "facebook_profile"  : "https://www.facebook.com/bikash.shaw.56884",
                    "github_profile"    : "https://github.com/bikashkumarshaw",
                    "angellist_profile" : "https://angel.co/u/bikash-shaw-1",
                    "tags"              : ["swagger"],
                    "skills"            : ["swagger"],
                    "title"             : "swagger pos",
                    "organization"      : "swagger company",
                    "source"            : "linkedin",
                    "custom_fields"     : [
                                          {
                                            "id": 16,
                                            "value": {"currency": "USD", "number": 600000}
                                          },
                                          {
                                            "id": 17,
                                            "value": {"currency": "USD", "number1": 600000, "number2": 800000}
                                          },
                                          {
                                            "id": 19,
                                            "value": {"number1": 600000, "number2": 800000}
                                          },
                                          {
                                            "id": 20,
                                            "value": ["choice1", "choice2"]
                                          },
                                          {
                                            "id" : 33,
                                            "value" : "Random"
                                          }
                                          ],
                    "location"          :{
                                            "location" : "New York Metropolitan Area",
                                            "city": "New York city",
                                            "state": "New York",
                                            "country": "United States",
                                            "postal_code": "3256"
                                          },
                    "experience"        : [
                                            {"organization":"Facebook",
                                            "designation":"SDE",
                                            "from":["2","2021"],
                                            "to":["2","2021"]
                                          }
                                        ],
                    "education"        : [
                                            {"school":"HPCA",
                                            "degree":"10th",
                                            "specialization": "MATHS",
                                            "from":["5","2021"],
                                            "to":["5","2022"]
                                          }
                                        ]
                  }
            schema:
              $ref: '#/components/schemas/CandidateApIsCompleteUpdateRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              example:
                RESULT: SUCCESS
              schema:
                $ref: '#/components/schemas/CandidateApIsCompleteUpdateResponse'
  /api/external/client/add:
    post:
      tags:
        - Client APIs
      summary: This enpoint is used to add client company.
      operationId: ClientApIs_addCompany
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            examples:
              '0':
                value: |-
                  {
                    "name"              : "swagger company swagging",
                    "phone_number"      : "987689928",
                    "linkedin_page"  : "https://www.linkedin.com/in/abhishek-bachchan/",
                    "careers_page"   : "https://twitter.com/989fabd17d7341a",
                    "domain"  : "https://www.nutanix.com",
                    "lead_owner_id"    : 1,
                    "added_by" : 1,
                    "industry_id"              : 1,
                    "company_size"            : "2",
                    "revenue"             : {
                                              "currency": "USD",
                                              "number": "1000"
                    },
                    "location"      : {
                                        "city": "Dallas",
                                        "country": "United States",
                                        "location": "Dallas, TX, USA",
                                        "postal_code": "",
                                        "state": "Texas",
                                        "street_address_1": "",
                                        "street_address_2": ""
                    },
                    "status_id"     : 3,
                    "tags"          : ["swagger"],
                    "custom_fields"     : [ 
                                          { 
                                            "id" : 30,
                                            "value" : ["Random"]
                                          }
                                        ]
                  }
            schema:
              $ref: '#/components/schemas/ClientApIsAddCompanyRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApIsAddCompanyResponse'
  /api/external/client/custom-field/list:
    get:
      tags:
        - Client APIs
      summary: Lists all company custom fields.
      operationId: ClientApIs_getAllCompanyCustomFields
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ClientApIsGetAllCompanyCustomFieldsResponse
  /api/external/client/get:
    get:
      tags:
        - Client APIs
      summary: Get client company details for the specified client.
      operationId: ClientApIs_companyDetailsGet
      parameters:
        - description: company id.
          example: 1
          explode: true
          in: query
          name: id
          required: false
          schema:
            type: integer
          style: form
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApIsCompanyDetailsGetResponse'
  /api/external/client/list:
    get:
      tags:
        - Client APIs
      summary: Lists all client company in the account.
      operationId: ClientApIs_listAllClients
      parameters:
        - example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApIsListAllClientsResponse'
  /api/external/client/notes/add:
    post:
      tags:
        - Client APIs
      summary: Adds note to the specified client company
      operationId: ClientApIs_addNoteToCompany
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientApIsAddNoteToCompanyRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApIsAddNoteToCompanyResponse'
  /api/external/client/search:
    post:
      tags:
        - Client APIs
      summary: Find all search types in the link below.
      operationId: ClientApIs_searchClientTypes
      description: >-
        <a
        href="https://com-recruiterflow-site-static-content.s3.eu-central-1.amazonaws.com/static/resources/Client%20Search.pdf">Link</a><br/>
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientApIsSearchClientTypesRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApIsSearchClientTypesResponse'
  /api/external/client/update:
    post:
      tags:
        - Client APIs
      summary: Updates existing client company details, including custom fields
      operationId: ClientApIs_updateClientDetails
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            examples:
              '0':
                value: |-
                  {
                    "id"                : 341,
                    "name"              : "swagger company swagging",
                    "phone_number"      : "987689928",
                    "linkedin_page"  : "https://www.linkedin.com/in/abhishek-bachchan/",
                    "careers_page"   : "https://twitter.com/989fabd17d7341a",
                    "domain"  : "https://www.nutanix.com",
                    "lead_owner_id"    : 1,
                    "added_by" : 1,
                    "industry_id"              : 1,
                    "company_size"            : "2",
                    "subsidiary_company_ids"  : [1, 2],
                    "parent_company_id"       : 1,
                    "revenue"             : {
                                              "currency": "USD",
                                              "number": "1000"
                    },
                    "location"      : {
                                        "city": "Dallas",
                                        "country": "United States",
                                        "location": "Dallas, TX, USA",
                                        "postal_code": "",
                                        "state": "Texas",
                                        "street_address_1": "",
                                        "street_address_2": ""
                    },
                    "status_id"     : 3,
                    "tags"          : ["swagger"],
                    "custom_fields"     : [
                                          {
                                            "id" : 30,
                                            "value" : ["Random"]
                                          }
                                        ]
                  }
            schema:
              $ref: '#/components/schemas/ClientApIsUpdateClientDetailsRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApIsUpdateClientDetailsResponse'
  /api/external/company-size/list:
    get:
      tags:
        - Client APIs
      summary: Lists all company size.
      operationId: ClientApIs_listCompanySize
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientApIsListCompanySizeResponse'
  /api/external/contact/add:
    post:
      tags:
        - Contact APIs
      summary: >-
        The contacts endpoint allows you to export all contact-related
        information from Recruiterflow.
      operationId: ContactApIs_addContactInfo
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            examples:
              '0':
                value: |-
                  {
                    "first_name"        : "swagger",
                    "last_name"         : "contact",
                    "email"             : [{
                                          "email": "swagger@mail.com",
                                          "is_primary" : 1
                                         }
                                        ],
                    "phone_number"      : [
                                          {
                                            "phone_number" : "987689928",
                                            "type" : 1
                                          }
                                        ],
                    "client_company"    : "swagger company",
                    "linkedin_profile"  : "https://www.linkedin.com/in/abhishek-bachchan/",
                    "twitter_profile"   : "https://twitter.com/989fabd17d7341a",
                    "facebook_profile"  : "https://www.facebook.com/bikash.shaw.56884",
                    "github_profile"    : "https://github.com/bikashkumarshaw",
                    "angellist_profile" : "https://angel.co/u/bikash-shaw-1",
                    "tags"              : ["swagger"],
                    "skills"            : ["swagger"],
                    "title"             : "swagger pos",
                    "organization"      : "swagger company",
                    "source"            : "linkedin",
                    "custom_fields"     : [
                                          {
                                            "id" : 33,
                                            "value" : "Random"
                                          }
                                        ],
                    "experience"        : [
                                            {"organization":"Facebook",
                                            "designation":"SDE",
                                            "from":["2","2021"],
                                            "to":["2","2021"]
                                          }
                                        ],
                    "education"        : [
                                            {"school":"HPCA",
                                            "degree":"10th",
                                            "specialization": "MATHS",
                                            "from":["5","2021"],
                                            "to":["5","2022"]
                                          }
                                        ]
                  }
            schema:
              $ref: '#/components/schemas/ContactApIsAddContactInfoRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              example:
                RESULT: SUCCESS
                data:
                  id: 154721
              schema:
                $ref: '#/components/schemas/ContactApIsAddContactInfoResponse'
  /api/external/contact/calendar-event/list:
    get:
      tags:
        - Contact APIs
      summary: Get all calendar events for a contact
      operationId: ContactApIs_getCalendarEvents
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Contact ID for which the tasks are needed.
          example: 157877
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: After time for which the calls are needed in ISO format.
          example: '2023-04-30T10:30:00'
          explode: false
          in: query
          name: after
          required: false
          schema:
            type: string
          style: simple
        - description: Before time for which the calls are needed in ISO format.
          example: '2023-05-01T15:00:00'
          explode: false
          in: query
          name: before
          required: false
          schema:
            type: string
          style: simple
        - description: Number of records per page.
          example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - description: The page number.
          example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApIsGetCalendarEventsResponse'
  /api/external/contact/calls/list:
    get:
      tags:
        - Contact APIs
      summary: Get all calls list for a Contact
      operationId: ContactApIs_getAllCallsList
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Contact ID for which the calls are needed.
          example: 22
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: After time for which the calls are needed in ISO format.
          example: '2023-04-30T10:30:00'
          explode: false
          in: query
          name: after
          required: false
          schema:
            type: string
          style: simple
        - description: Before time for which the calls are needed in ISO format.
          example: '2023-05-01T15:00:00'
          explode: false
          in: query
          name: before
          required: false
          schema:
            type: string
          style: simple
        - description: Number of records per page.
          example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - description: The page number.
          example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApIsGetAllCallsListResponse'
  /api/external/contact/custom-field/list:
    get:
      tags:
        - Contact APIs
      summary: The endpoint lists all contact custom fields.
      operationId: ContactApIs_listCustomField
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              example:
                - choices:
                    - id: 855
                      name: Basic
                    - id: 856
                      name: Moderate
                    - id: 857
                      name: High
                    - id: 858
                      name: Expert
                  id: 245
                  name: Proficiency
                  x: single_select
              schema:
                $ref: '#/components/schemas/ContactApIsListCustomFieldResponse'
  /api/external/contact/emails/list:
    get:
      tags:
        - Contact APIs
      summary: Get all emails list for a Contact
      operationId: ContactApIs_getAllContactEmails
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Contact ID for which the calls are needed.
          example: 22
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: After time for which the calls are needed in ISO format.
          example: '2023-04-30T10:30:00'
          explode: false
          in: query
          name: after
          required: false
          schema:
            type: string
          style: simple
        - description: Before time for which the calls are needed in ISO format.
          example: '2023-05-01T15:00:00'
          explode: false
          in: query
          name: before
          required: false
          schema:
            type: string
          style: simple
        - description: Number of records per page.
          example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - description: The page number.
          example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApIsGetAllContactEmailsResponse'
  /api/external/contact/get:
    get:
      tags:
        - Contact APIs
      summary: Returns the contacts info for the specified id.
      operationId: ContactApIs_getContactInfo
      parameters:
        - description: Prospect id you want to fetch.
          example: 10
          explode: true
          in: query
          name: id
          required: false
          schema:
            type: string
          style: form
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApIsGetContactInfoResponse'
  /api/external/contact/list:
    get:
      tags:
        - Contact APIs
      summary: Lists all contacts and their details.
      operationId: ContactApIs_getContactList
      parameters:
        - description: Number of records per page.
          example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - description: The page number.
          example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - description: Include contact files in response, defaults to False.
          example: 0
          explode: true
          in: query
          name: include_files
          required: false
          schema:
            type: integer
          style: form
        - description: Include contact notes in response, defaults to False.
          example: 1
          explode: true
          in: query
          name: include_notes
          required: false
          schema:
            type: integer
          style: form
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApIsGetContactListResponse'
  /api/external/contact/notes/add:
    post:
      tags:
        - Contact APIs
      summary: The endpoint adds notes to the specified contact.
      operationId: ContactApIs_addNotesToContact
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            example:
              note_id: 1
            schema:
              $ref: '#/components/schemas/ContactApIsAddNotesToContactRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
  /api/external/contact/profile-image/upload:
    post:
      tags:
        - Contact APIs
      summary: Update profile picture for a contact
      operationId: ContactApIs_updateProfilePicture
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Contact ID for which the image is being updated
          example: 157877
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: Content of the profile image in base64-encoded format
          example: abcdef==
          explode: false
          in: query
          name: img
          required: true
          schema:
            type: string
          style: simple
        - description: File name of the profile image
          example: profile-picture.png
          explode: false
          in: query
          name: filename
          required: false
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: OK
  /api/external/contact/search:
    post:
      tags:
        - Contact APIs
      summary: Find all search types in the link below.
      operationId: ContactApIs_findSearchTypes
      description: >-
        <a
        href="https://com-recruiterflow-site-static-content.s3.eu-central-1.amazonaws.com/static/resources/Candidate%20Search.pdf">Link</a><br/><br/><b>Note:
        Structure changes to {"data": [], "total_items": int} when include_count
        is enabled.</b><br><br/>
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            examples:
              '0':
                value: |-
                  {
                      "items_per_page": 20,
                      "conjunction": "match-all",  
                      "filters": [
                                      {
                                          "filter_type": "less-than", 
                                          "is_relative": true, 
                                          "key": "last_activity", 
                                          "name": "Last activity", 
                                          "rank": 900,
                                          "status": "COMPLETE",
                                          "text": "less than 10 days ago",
                                          "type": "date",
                                          "days": 10
                                      }
                              ], 
                      "current_page": 1,
                      "include_count": true
                  }
              '1':
                value: |-
                  {
                      "conjunction": "match-all", 
                      "current_page": 1, 
                      "filters": [
                                      {
                                          "filter_type": "less-than", 
                                          "is_relative": true, 
                                          "key": "last_activity", 
                                          "name": "Last activity", 
                                          "rank": 1050,
                                          "status": "COMPLETE",
                                          "text": "less than 10 days ago",
                                          "type": "date",
                                          "days": 10
                                      }
                              ], 
                      "items_per_page": 20
                  }
            schema:
              $ref: '#/components/schemas/ContactApIsFindSearchTypesRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApIsFindSearchTypesResponse'
  /api/external/contact/task/list:
    get:
      tags:
        - Contact APIs
      summary: Get all tasks for a candidate
      operationId: ContactApIs_getAllCandidateTasks
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
        - description: Contact ID for which the tasks are needed.
          example: 157877
          explode: false
          in: query
          name: id
          required: true
          schema:
            type: string
          style: simple
        - description: After time for which the calls are needed in ISO format.
          example: '2023-04-30T10:30:00'
          explode: false
          in: query
          name: after
          required: false
          schema:
            type: string
          style: simple
        - description: Before time for which the calls are needed in ISO format.
          example: '2023-05-01T15:00:00'
          explode: false
          in: query
          name: before
          required: false
          schema:
            type: string
          style: simple
        - description: Number of records per page.
          example: 10
          explode: true
          in: query
          name: items_per_page
          required: false
          schema:
            type: string
          style: form
        - description: The page number.
          example: 1
          explode: true
          in: query
          name: current_page
          required: false
          schema:
            type: string
          style: form
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApIsGetAllCandidateTasksResponse'
  /api/external/contact/update:
    post:
      tags:
        - Contact APIs
      summary: >-
        This API implements a complete update which means that any existing data
        in the provided key will be wiped out and replaced with the data
        provided, in case a key is not provided no update happens to it.
      operationId: ContactApIs_completeUpdate
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            examples:
              '0':
                value: |-
                  {
                    "name"              : "swagger contact",
                    "first_name"            : "swagger",
                    "last_name"                     : "contact",
                    "email"             : [{
                                          "email": "swagger@mail.com",
                                          "is_primary" : 1
                                         }
                                        ],
                    "id"                : 5157,
                    "client_company"    : "swagger company",
                    "phone_number"      : [
                                          {
                                            "phone_number" : "987689928",
                                            "type" : 1
                                          }
                                        ],
                    "linkedin_profile"  : "https://www.linkedin.com/in/abhishek-bachchan/",
                    "twitter_profile"   : "https://twitter.com/989fabd17d7341a",
                    "facebook_profile"  : "https://www.facebook.com/bikash.shaw.56884",
                    "github_profile"    : "https://github.com/bikashkumarshaw",
                    "angellist_profile" : "https://angel.co/u/bikash-shaw-1",
                    "tags"              : ["swagger"],
                    "skills"            : ["swagger"],
                    "title"             : "swagger pos",
                    "organization"      : "swagger company",
                    "source"            : "linkedin",
                    "custom_fields"     : [
                                          {
                                            "id" : 33,
                                            "value" : "Random"
                                          }
                                        ],
                    "experience"        : [
                                            {"organization":"Facebook",
                                            "designation":"SDE",
                                            "from":["2","2021"],
                                            "to":["2","2021"]
                                          }
                                        ],
                    "education"        : [
                                            {"school":"HPCA",
                                            "degree":"10th",
                                            "specialization": "MATHS",
                                            "from":["5","2021"],
                                            "to":["5","2022"]
                                          }
                                        ]
                  }
            schema:
              $ref: '#/components/schemas/ContactApIsCompleteUpdateRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              example:
                RESULT: SUCCESS
              schema:
                $ref: '#/components/schemas/ContactApIsCompleteUpdateResponse'
  /api/external/deal/create:
    post:
      tags:
        - Deal APIs
      summary: Create a New Deal.
      operationId: DealApIs_createNewDeal
      description: >-
        <br/><b>Please find the format of custom field input below.</b><br/><li>
        Single select:<br/>{<br/>"id": single_select_cf_id,<br/>"value":
        "string"<br/>}<br/></li><br/><br/><li> Multi select :<br/>{<br/>"id":
        multi_select_cf_id,<br/>"value": ["string1",
        "string2"]<br/>}<br/></li><br/><br/><li> Short/Long
        text:<br/>{<br/>"id": short_text_cf_id,<br/>"value":
        "text"<br/>}</li><br/><br/><li> Money:<br/>{<br/>"id": money custom
        field id,<br/>"value": {"number": Integer(The amount), "currency":
        "string(Currency code eg. USD, GBP)"}<br/>}<br/><br/><li> Money
        Range:<br/>{<br/>"id": money reange custom field id,<br/>"value":
        {"number1": Integer(Starting Amount), "number2": "Ending Amount",
        "currency": "string(Currency code eg. USD, GBP)"}<br/>}<br/><br/><li>
        Number/Date:<br/>{<br/>"id": cf_id,<br/>"value": number/date to
        store<br/>}<br/></li><br/><br/><li> Yes No:<br/>{<br/>"id":
        yes_no_cf_id,<br/>"value": 0 for No and 1 for
        Yes<br/>}</li><br/><br/><li> Profile :<br/>{<br/>"id":
        profile_cf_id,<br/>"value": [{"id": profile_id, "type":
        entity_type(Candidate, Contact, Company)}]<br/>}<br/>
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: true
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            examples:
              '0':
                value: |-
                  {
                      "name"   : "Deal 1",
                      "amount_currency": "USD",
                      "amount": 1000,
                      "stage_id": 6,
                      "user_id": 1,
                      "closed_date": "2023-01-01",
                      "client_company": "X.Y.Z",
                      "won_reason": ["Candidate Selected"],
                      "lost_reason": null,
                      "deal_owner_id": 1,
                      "entities":[
                                      {
                                          "id":260,
                                          "type":2      (Entities only supports Contacts, which is type=2)
                                      }
                                  ],
                      "custom_fields": [
                                          {
                                              "id":2,
                                              "value":"This deal is a test."
                                          }
                                      ]
                  }                   
            schema:
              $ref: '#/components/schemas/DealApIsCreateNewDealRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealApIsCreateNewDealResponse'
  /api/external/deal/custom-field/list:
    get:
      tags:
        - Deal APIs
      summary: Lists all Deal custom fields available.
      operationId: DealApIs_listCustomFields
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - description: Count of total records
          example: true
          explode: true
          in: query
          name: include_count
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealApIsListCustomFieldsResponse'
  /api/external/deal/get:
    get:
      tags:
        - Deal APIs
      summary: Get details of a particular deal.
      operationId: DealApIs_detailsGet
      parameters:
        - description: Deal id you want to fetch.
          example: 10
          explode: true
          in: query
          name: id
          required: false
          schema:
            type: string
          style: form
        - description: User ID fetching deal.
          example: 10
          explode: true
          in: query
          name: user_id
          required: true
          schema:
            type: string
          style: form
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              example:
                data:
                  amount: 10000
                  amount_currency: USD
                  client_company:
                    id: 1
                    img_link: null
                    name: X.Y.Z.
                  closed_date: '2023-03-23'
                  closed_reasons:
                    lost_reason_ids: null
                    won_reason_ids:
                      - 3
                  current_stage:
                    id: 6
                    moved_time: 2023-02-28T22:55:51+0000
                    name: Closed won
                    percentage: 100
                    rank: 6
                  custom_fields: []
                  deal_owner:
                    id: 1
                    name: ABC
                  entities: []
                  files: []
                  followers: []
                  id: 1
                  name: test
                  pipeline:
                    id: 1
                    name: Default pipeline
              schema:
                $ref: '#/components/schemas/DealApIsDetailsGetResponse'
  /api/external/deal/list-stages:
    get:
      tags:
        - Deal APIs
      summary: Get all stages for deal pipeline
      operationId: DealApIs_getStages
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealApIsGetStagesResponse'
  /api/external/deal/move-stage:
    post:
      tags:
        - Deal APIs
      summary: Move a deal to a new stage
      operationId: DealApIs_moveStage
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: true
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            examples:
              '0':
                value: |-
                  {
                      "id": 6,
                      "user_id": 1,
                      "closed_date": "2023-01-01",
                      "won_reason": ["Candidate Selected"],
                      "lost_reason": null,
                      "to_stage": {
                                      "id": 1,
                                      "name": "Client Pitch"
                                  }
                  }             
            schema:
              $ref: '#/components/schemas/DealApIsMoveStageRequest'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealApIsMoveStageResponse'
  /api/external/deal/search:
    post:
      tags:
        - Deal APIs
      summary: Find all search types in the link below.
      operationId: DealApIs_searchDealTypes
      description: >-
        <a
        href="https://com-recruiterflow-site-static-content.s3.eu-central-1.amazonaws.com/static/resources/Deal%20Search.pdf">Link</a><br/>
      parameters:
        - explode: false
          in: header
          name: RF-Api-Key
          required: false
          schema:
            type: string
          style: simple
        - example: application/json
          explode: false
          in: header
          name: content-type
          required: false
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
[...]
