openapi: 3.0.0
info:
  title: API TramitApp
  description: >
    # Introducción

    Aquí se describen los recursos que conforman el API de TramitApp. Mediante
    él, podrás acceder a la información

    que gestiona TramitApp de manera automática, permitiendo coordinar tus
    sistemas informáticos existentes con nuestra plataforma.


    Mediante nuestro API, podrás consultar la información relativa a los
    trámites de tus empleados, como por ejemplo,

    las ausencias que han tenido, sean por vacaciones, permisos, bajas médicas,
    o simplemente porque trabajaron desde casa.


    También podrás acceder la información relativa a los gastos, dietas y
    kilometrajes que te hayan pasado, así como las imputaciones de horas
    normales y extras

    que hayan realizado desde TramitApp para poder integrarlo directamente en
    tus sistemas contables de forma sencilla y evitar procesos manuales


    Te proporcionamos además una información detallada de la situación laboral
    de tus empleados, los tipos de contratos,

    los saldos de vacaciones, y mucho más.


    Si lo deseas, también podrás automatizar las altas y bajas de empleados en
    nuestro sistema directamente desde nuestro

    API, evitando así duplicidades y mejorando tu eficiencia en los procesos de
    incorporación y salida de la compañía.


    # Comenzando a utilizar el API de TramitApp

    Pensamos que la mejor forma de aprender a utilizar un API es experimentando
    un poco, por lo que vamos a darte

    unos ejemplos que te permitan conocer cómo funcionamos y te ayuden a
    acelerar al máximo tus desarrollos.


    ## Hola TramitApp!

    La mejor forma de empezar a familiarizarte con nuestro API es mediante una
    herramienta sencilla como

    [curl](https://github.com/curl/curl). Por supuesto, puedes otras
    herramientas como [PostMan](https://www.getpostman.com/)

    o directamente utilizar tu lenguaje de programación favorito.


    Veamos un ejemplo que nos proporciona la lista de compañías a la que tu
    usuario tiene acceso:


    ```curl -H 'auth: YOUR_AUTH_KEY'
    https://rrhh.tramitapp.com/tramitapi/companies```


    La respuesta será un listado en formato JSON de las empresas parecido a
    este.

    ```
      [{
        "_id": "69bdb59e00aa129e8766ec0e",
        "name": "Tu empresa",
        "nationalId": "B16159433",
        "workplaces": [{
          "_id": "592ff42760804fd378e982ca", "name": "Oficina Central"
        }]
      }]

    ```

     ## Mis empleados
     Para consultar un listado de tus empleados, y en general para todas las operaciones
     excepto para el listado de compañías, nos tendrás que indicar qué empresa quieres consultar.

     ```curl -H 'auth: YOUR_AUTH_KEY' https://rrhh.tramitapp.com/tramitapi/{company._id}/employees```

    La respuesta será un listado de los empleados de la empresa, similar al
    siguiente:

    ```

    [{ _id: '5b7fcf3ef9ad0b3f65c4b91f',
         companies_id: '57bdb59e00aa129e8766ec0e',
         nationalId: '00000001R',
         ssn: '281234567840',
         lastName: 'Arranz',
         lastName2: 'Perez',
         firstName: 'Paco',
         birthday: '1982-04-01',
         gender: 'man',
         nationality: 'Spanish',
         education: null,
         contract_type: 'temporal_contract',
         contract_date: '2016-11-19',
         contract_end_date: null,
         trial_period: '12',
         category: 'ppopo',
         gross_salary: 18000.0,
         email: 'test0.9794606036734297@domain.com',
         province: '28',
         city: 'madrid',
         address: 'c/ bracamonte',
         zip_code: '28051',
         iban: 'ES6398966338433871330966' }]

    ```

    ## Nuevo empleado


    Para 'contratar' un empleado en TramitApp bastará con que nos hagas un POST
    con los datos correspondientes.

    De nuevo, es necesario especificar el id de la empresa a la que pertenecerá
    el empleado.


    ```curl -d "@employee_example.json" -H 'auth: YOUR_AUTH_KEY' -X POST
    https://rrhh.tramitapp.com/tramitapi/{company._id}/employees```


    La respuesta será el empleado ya creado, similar a esta:

    ```
                {_id: '5b7fcf3ef9ad0b3f65c4b91f',
                 companies_id: '57bdb59e00aa129e8766ec0e',
                 nationalId: '00000001R',
                 ssn: '281234567840',
                 lastName: 'Arranz',
                 lastName2: 'Perez',
                 firstName: 'Paco',
                 birthday: '1982-04-01',
                 gender: 'man',
                 nationality: 'Spanish',
                 contract_type: 'temporal_contract',
                 contract_date: '2016-11-19',
                 contract_end_date: null,
                 email: 'test0.9794606036734297@domain.com',
                 iban: 'ES6398966338433871330966' }
     ```



    # Qué necesito para empezar a usar el API?

    Como has podido ver en los ejemplos anteriores, para poder acceder al API de
    TramitApp
     debes contar con una clave de API, que te proporcionará nuestro equipo de soporte.
    Esta clave lleva asociada tu configuración de seguridad y por tanto deberá
    viajar en las cabeceras HTTP de todas las peticiones:


    ```

    > GET /tramitapi/companies HTTP/1.1

    > Host:  rrhh.tramitapp.com

    > Accept: */*

    > auth: YOUR_AUTH_KEY

    ```
  version: 1.0.0
  x-logo:
    url: https://www.tramitapp.com/wp-content/uploads/2017/07/flat-icon-web-alt.png
    backgroundColor: '#fafafa'
    altText: API TramitApp
  contact:
    name: Equipo TramitApp
    email: devs@tramitapp.com
    url: https://www.tramitapp.com
servers:
  - url: https://rrhh.tramitapp.com/tramitapi
tags:
  - name: Trámites
  - name: Sociedades
  - name: Empleados
  - name: Turnos y horarios
  - name: Saldo de Vacaciones
  - name: Documentos
paths:
  /companies:
    get:
      tags:
        - Sociedades
      summary: Listado de sociedades
      operationId: Sociedades_listadoSociedades
      description: >
        ```GET /companies```


        Proporciona un listado de todas las sociedades/empresas a las que se
        tiene acceso.
      parameters:
        - description: >-
            Fecha de última modificación en formato timestamp, para
            actualizaciones incrementales. El cliente debe soportar que se
            devuelvan datos aunque no haya habido cambios.
          name: modified_since
          in: query
          required: false
          schema:
            type: string
        - description: >
            Lista de campos a proyectar (seleccionados) en la respuesta. Por
            ejemplo, el parámetro "columns=_id&columns=correlation_id"
            proyectará el documento y solo recuperará objetos con el siguiente
            contenido

            ```

            {_id:"someid", correlation_id:"some_correlation_id"}

            ```
          name: columns
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Listado de sociedades
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SociedadesListadoSociedadesResponse'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /companies/{id}:
    get:
      tags:
        - Sociedades
      summary: Consultar sociedad por ID
      operationId: Sociedades_consultarPorId
      description: |
        ```GET /companies/{id}```

        Devuelve una sociedad por su identificador
      parameters:
        - description: ID de la sociedad
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: sociedad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/workplaces:
    post:
      tags:
        - Sociedades
      summary: Crear centro de trabajo
      operationId: Sociedades_addWorkplace
      description: |
        ```POST /{company_id}/workplaces```

        Añade un centro de trabajo a la sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/new_workplace'
      responses:
        '200':
          description: La sociedad actualizada con el nuevo centro de trabajo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/workplaces/{workplace_id}:
    post:
      tags:
        - Sociedades
      summary: Actualizar centro de trabajo
      operationId: Sociedades_updateWorkplace
      description: |
        ```POST /{company_id}/workplaces/{workplace_id}```

        Actualiza un centro de trabajo de la sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: ID del centro de trabajo
          name: workplace_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_workplace'
      responses:
        '200':
          description: La sociedad actualizada con los cambios en el centro de trabajo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/teams:
    post:
      tags:
        - Sociedades
      summary: Crear equipo
      operationId: Sociedades_addTeam
      description: |
        ```POST /{company_id}/teams```

        Añade un equipo a la sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/new_team'
      responses:
        '200':
          description: La sociedad actualizada con el nuevo equipo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/teams/{team_id}:
    post:
      tags:
        - Sociedades
      summary: Actualizar equipo
      operationId: Sociedades_updateTeam
      description: |
        ```POST /{company_id}/teams/{team_id}```

        Actualiza un equipo de la sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: ID del equipo
          name: team_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_team'
      responses:
        '200':
          description: La sociedad actualizada con los cambios en el equipo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/projects:
    post:
      tags:
        - Sociedades
      summary: Crear proyecto
      operationId: Sociedades_addProject
      description: |
        ```POST /{company_id}/projects```

        Añade un proyecto a la sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/new_project'
      responses:
        '200':
          description: La sociedad actualizada con el nuevo proyecto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/projects/{project_id}:
    post:
      tags:
        - Sociedades
      summary: Actualizar proyecto
      operationId: Sociedades_updateProjectInfo
      description: >
        ```POST /{company_id}/projects/{project_id}```


        Actualiza un proyecto de la sociedad. Es posible actualizar todos los
        campos a excepción del accountProject
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: ID del proyecto
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_project'
      responses:
        '200':
          description: La sociedad actualizada con los cambios en el equipo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/locations:
    post:
      tags:
        - Sociedades
      summary: Actualizar localizacion
      operationId: Sociedades_updateLocation
      description: |
        ```POST /{company_id}/locations/{location_id}```

        Actualiza una localización de la sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: ID de la localización
          name: location_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_location'
      responses:
        '200':
          description: La sociedad actualizada con los cambios en el equipo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/employees:
    get:
      tags:
        - Empleados
      summary: Listado de empleados
      operationId: Empleados_obtenerListado
      description: |
        ```GET /{company_id}/employees```

        Proporciona un listado de todos los empleados de una sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Fecha de última modificación en formato timestamp, para
            actualizaciones incrementales. El cliente debe soportar que se
            devuelvan datos aunque no haya habido cambios.
          name: modified_since
          in: query
          required: false
          schema:
            type: string
        - description: >
            Lista de campos a proyectar (seleccionados) en la respuesta. Por
            ejemplo, el parámetro "columns=_id&columns=correlation_id"
            proyectará el documento y solo recuperará objetos con el siguiente
            contenido

            ```

            {_id:"someid", correlation_id:"some_correlation_id"}

            ```
          name: columns
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: listado de empleados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmpleadosObtenerListadoResponse'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Empleados
      summary: Contratar un empleado
      operationId: Empleados_contratarEmpleadoEnTramitApp
      description: |
        ```POST /{company_id}/employees```

        Contrata un empleado en TramitApp
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/new_employee'
      responses:
        '200':
          description: El empleado contratado con los datos adicionales (incluyendo el _id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/employees/{id}:
    get:
      tags:
        - Empleados
      summary: Consultar empleado por ID
      operationId: Empleados_consultarPorId
      description: |
        ```GET /{company_id}/employees/{id}```

        Devuelve un empleado por su identificador
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: ID del empleado
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Empleado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Empleados
      summary: Actualizar empleado por ID
      operationId: Empleados_actualizarPorId
      description: |
        ```PUT /{company_id}/employees/{id}```

        Actualiza un empleado en TramitApp
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: ID del empleado
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_employee'
      responses:
        '200':
          description: El empleado actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/employees/{id}/fire:
    post:
      tags:
        - Empleados
      summary: Dar de baja un empleado
      operationId: Empleados_darDeBaja
      description: |
        ```POST /{company_id}/employees/{id}/fire```

        Genera una baja de un empleado en TramitApp
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: ID del empleado
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fire_employee'
      responses:
        '200':
          description: El empleado actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/employees/{id}/renew:
    post:
      tags:
        - Empleados
      summary: Renovar contrato
      operationId: Empleados_renewContract
      description: |
        ```POST /{company_id}/employees/{id}/renew```

        Genera una renovación de contrato de un empleado en TramitApp
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: ID del empleado
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/renew_employee'
      responses:
        '200':
          description: El empleado actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/absences:
    get:
      tags:
        - Trámites
      summary: Listado de ausencias
      operationId: Trmites_listAbsences
      description: |
        ```GET /{company_id}/absences```

        Proporciona un listado de las ausencias de los empleados de una sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: Día de inicio, en formato YYYY-MM-DD (por ejemplo 2018-01-01)
          name: start
          in: query
          required: true
          schema:
            type: string
        - description: Día de fin, en formato YYYY-MM-DD (por ejemplo 2018-01-01)
          name: end
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: listado de ausencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmitesListAbsencesResponse'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Trámites
      summary: Añadir ausencias
      operationId: Trmites_addAbsences
      description: |
        ```POST /{company_id}/absences```

        Permite añadir ausencias de los empleados de una sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/absence_request'
      responses:
        '200':
          description: listado de ausencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmitesAddAbsencesResponse'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/absences/{id}/cancel:
    post:
      tags:
        - Trámites
      summary: Cancelar Ausencia
      operationId: Trmites_cancelAbsence
      description: |
        ```POST /{company_id}/absences/{id}/cancel```

        Cancela una ausencia del empleado en TramitApp
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: ID de la ausencia
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: La ausencia cancelada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/absence'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/expenses:
    get:
      tags:
        - Trámites
      summary: Listado de gastos
      operationId: Trmites_listCompanyExpenses
      description: |
        ```GET /{company_id}/expenses```

        Proporciona un listado de las gastos de los empleados de una sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: Fecha de inicio, en formato YYYY-MM-DD (por ejemplo 2018-01-31)
          name: start
          in: query
          required: true
          schema:
            type: string
        - description: Fecha de fin, en formato YYYY-MM (por ejemplo 2018-02-04)
          name: end
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: listado de gastos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmitesListCompanyExpensesResponse'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/clocking:
    post:
      tags:
        - Trámites
      summary: Añadir fichaje auto
      operationId: Trmites_addAutoClocking
      description: |
        ```POST /{company_id}/clocking```

        Permite añadir fichajes de los empleados de una sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clocking_request'
      responses:
        '200':
          description: Resultado del fichaje
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmitesAddAutoClockingResponse'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/batch_clocking:
    post:
      tags:
        - Trámites
      summary: Batch de fichajes automáticos
      operationId: Trmites_addBatchClocking
      description: |
        ```POST /{company_id}/batch_clocking```

        Permite añadir fichajes de los empleados de una sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/batch_clocking_request'
      responses:
        '200':
          description: Resultado del fichaje
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmitesAddBatchClockingResponse'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/hours:
    get:
      tags:
        - Trámites
      summary: Listado de horas
      operationId: Trmites_listHours
      description: |
        ```GET /{company_id}/hours```

        Proporciona un listado de las horas de los empleados de una sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: Mes de inicio, en formato YYYY-MM (por ejemplo 2018-01)
          name: start
          in: query
          required: true
          schema:
            type: string
        - description: Mes de fin, en formato YYYY-MM (por ejemplo 2018-01)
          name: end
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: listado de horas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmitesListHoursResponse'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Trámites
      summary: Añadir fichajes manuales
      operationId: Trmites_addManualTimesheets
      description: |
        ```POST /{company_id}/hours```

        Permite añadir fichajes de los empleados de una sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hour_request'
      responses:
        '200':
          description: listado de fichajes creados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmitesAddManualTimesheetsResponse'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/hours/{id}/cancel:
    post:
      tags:
        - Trámites
      summary: Cancelar fichaje
      operationId: Trmites_cancelEmployeeShift
      description: |
        ```POST /{company_id}/hours/{id}/cancel```

        Cancela un fichaje del empleado en TramitApp
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: ID del fichaje
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: El fichaje cancelado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hour'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/vacations:
    get:
      tags:
        - Saldo de Vacaciones
      summary: Saldo de vacaciones
      operationId: SaldoDeVacaciones_listEmployeeBalances
      description: >
        ```GET /{company_id}/vacations```


        Proporciona un listado de los saldos de vacaciones de los empleados de
        una sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: listado de saldos de vacaciones
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SaldoDeVacacionesListEmployeeBalancesResponse
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/shifts:
    get:
      tags:
        - Turnos y horarios
      summary: Planificación de jornadas y turnos de empleados
      operationId: TurnosYHorarios_listEmployeeShifts
      description: >
        ```GET /{company_id}/shifts```


        Proporciona un listado de jornadas y turnos de los empleados de una
        sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: Mes de inicio, en formato YYYY-MM (por ejemplo 2018-01)
          name: start
          in: query
          required: true
          schema:
            type: string
        - description: Mes de fin, en formato YYYY-MM (por ejemplo 2018-01)
          name: end
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: listado de turnos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TurnosYHorariosListEmployeeShiftsResponse'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Turnos y horarios
      summary: Añadir listado de jornadas y turnos
      operationId: TurnosYHorarios_addShiftsToEmployees
      description: >
        ```POST /{company_id}/shifts```


        Permite añadir listado de jornadas y turnos a los empleados de una
        sociedad
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: Mes de inicio, en formato YYYY-MM (por ejemplo 2018-01)
          name: start
          in: query
          required: true
          schema:
            type: string
        - description: Mes de fin, en formato YYYY-MM (por ejemplo 2018-01)
          name: end
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shift'
      responses:
        '200':
          description: listado de jornadas y turnos creados
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TurnosYHorariosAddShiftsToEmployeesResponse
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/schedules:
    get:
      tags:
        - Turnos y horarios
      summary: Calendario del empleado
      operationId: TurnosYHorarios_listEmployeeSchedules
      description: >
        ```GET /{company_id}/schedules```


        Proporciona un listado del calendario de cada uno de los empleados de la
        sociedad entre las fechas seleccionadas. El máximo son 31 días.
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Fecha de inicio en formato timestamp ("2021-01-01" o
            "2021-01-01T00:00:00Z"). Se inicializa por defecto a "hoy".
          name: start
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Fecha de fin en formato timestamp ("2021-01-01" o
            "2021-01-01T00:00:00Z"). Se inicializa por defecto a "hoy+6 días"
          name: end
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Fecha de última modificación en formato timestamp, para
            actualizaciones incrementales. El cliente debe soportar que se
            devuelvan datos aunque no haya habido cambios.
          name: modified_since
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: listado de calendarios
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TurnosYHorariosListEmployeeSchedulesResponse
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /{company_id}/documents:
    post:
      tags:
        - Documentos
      summary: Consulta de documentos
      operationId: Documentos_consultarFiltrado
      description: >
        ```POST /{company_id}/documents```


        Permite consultar los documentos de los empleados. En el body del post
        viajaran los campos de filtrado para el listado de documentos. 

        En el caso de no existir ningún documento de empleados que cumpla los
        criterios de filtrado entonces se devolverá [] 
      parameters:
        - description: ID de la sociedad
          name: company_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document_request'
      responses:
        '200':
          description: listado de documentos de los empleados solicitados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentosConsultarFiltradoResponse'
        '400':
          description: Request errónea. Ver códigos de error para más detalles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/employees:
    post:
      tags:
        - Empleados
      summary: Notificaciones sobre empleados
      operationId: Empleados_notifyChanges
      description: >
        ```POST {your_url} ```


        Mediante tecnología webhook, Tramitapp te puede enviar notificaciones
        sobre los cambios en TramitApp

        de los datos de los empleados: altas, bajas, renovaciones de contrato,
        etc.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employee_event'
      responses:
        '200':
          description: >-
            Es obligatorio responder con 200 OK, en caso contrario el evento se
            encolará. El resto de la respuesta se ignorará.
  /webhooks/absences:
    post:
      tags:
        - Trámites
      summary: Notificaciones sobre ausencias
      operationId: Trmites_notifyAbsences
      description: >
        ```POST {your_url} ```


        Mediante tecnología webhook, Tramitapp te puede enviar notificaciones
        cuando los empleados

        reporten sus ausencias.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/absences_event'
      responses:
        '200':
          description: >-
            Es obligatorio responder con 200 OK, en caso contrario el evento se
            encolará. El resto de la respuesta se ignorará.
  /webhooks/hours:
    post:
      tags:
        - Trámites
      summary: Notificaciones sobre horas de trabajo
      operationId: Trmites_notifyWorkHours
      description: >
        ```POST {your_url} ```


        Mediante tecnología webhook, Tramitapp te puede enviar notificaciones
        cuando los empleados

        reporten sus horas de trabajo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hours_event'
      responses:
        '200':
          description: >-
            Es obligatorio responder con 200 OK, en caso contrario el evento se
            encolará. El resto de la respuesta se ignorará.
  /webhooks/expenses:
    post:
      tags:
        - Trámites
      summary: Notificaciones sobre gastos, dietas y kilometrajes
      operationId: Trmites_notifyExpenses
      description: >
        ```POST {your_url} ```


        Mediante tecnología webhook, Tramitapp te puede enviar notificaciones
        cuando los empleados

        reporten sus gastos, dietas y kilometrajes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/expenses_event'
      responses:
        '200':
          description: >-
            Es obligatorio responder con 200 OK, en caso contrario el evento se
            encolará. El resto de la respuesta se ignorará.
components:
  schemas:
    event:
      type: object
      properties:
        _id:
          description: identificador único del evento.
          type: string
        type:
          description: >-
            tipo de evento. Los tipos posibles cambian en función de si son de
            empleados, gastos, horas, etc.
          type: string
        payload:
          description: >-
            el cuerpo del evento. Será un empleado, un gasto, un registro de
            horas,una ausencia, etc.
          type: object
          enum:
            - employee
        companies_id:
          description: id de la compañía del evento.
          type: string
        create_date:
          description: sello de tiempo del evento en formato ISODate.
          type: string
          format: datetime
        entity:
          description: tipo de notificación.
          type: string
          enum:
            - employees
            - absences
            - expenses
            - hours
    employee_event:
      allOf:
        - $ref: '#/components/schemas/event'
        - type: object
      properties:
        type:
          description: tipo de evento.
          type: string
          enum:
            - new_employee
            - update_employee
            - fire_employee
            - renew_employee
    absences_event:
      allOf:
        - $ref: '#/components/schemas/event'
        - type: object
      properties:
        type:
          description: tipo de evento.
          type: string
          enum:
            - add_absence
            - update_absence
            - remove_absence
    hours_event:
      allOf:
        - $ref: '#/components/schemas/event'
        - type: object
      properties:
        type:
          description: tipo de evento.
          type: string
          enum:
            - add_hours
            - update_hours
            - remove_hours
    expenses_event:
      allOf:
        - $ref: '#/components/schemas/event'
        - type: object
      properties:
        type:
          description: tipo de evento.
          type: string
          enum:
            - add_expense
            - update_expense
            - remove_expense
    company:
      type: object
      properties:
        _id:
          description: identificador único de la sociedad
          type: string
        correlation_id:
          description: >-
            identificador de correlación. Un id interno del usuario del API que
            posteriormente devolveremos.
          type: string
        name:
          description: nombre de la sociedad
          type: string
        nationalId:
          description: CIF de la sociedad
          type: string
        workplaces:
          description: Centros de trabajo
          type: array
          items:
            type: object
            properties:
              _id:
                description: identificador único del centro de trabajo
                type: string
              name:
                description: nombre del centro de trabajo
                type: string
              correlation_id:
                description: >-
                  identificador de correlación. Un id interno del usuario del
                  API que devolvemos.
                type: string
              address:
                type: object
                properties:
                  street:
                    description: dirección del centro de trabajo
                    type: string
                  city:
                    description: Localidad del centro de trabajo
                    type: string
                  province:
                    description: Provincia del centro de trabajo
                    type: string
                  zip:
                    description: código postal del centro de trabajo
                    type: string
                  country:
                    description: código postal del centro de trabajo
                    type: string
        teams:
          description: Equipos
          type: array
          items:
            type: object
            properties:
              _id:
                description: identificador único del equipo
                type: string
              name:
                description: nombre del equipo
                type: string
              is_collective:
                description: si el equipo es un colectivo en el sentido TramiApp.
                type: boolean
              leaders:
                description: lista de los jefes de equipo
                type: array
                items:
                  description: Ids de los jefes de equipo
                  type: string
              members:
                description: lista de los miembros del equipo
                type: array
                items:
                  description: Ids de los miembros del equipo
                  type: string
              correlation_id:
                description: >-
                  identificador de correlación. Un id interno del usuario del
                  API que posteriormente devolveremos.
                type: string
        projects:
          description: Proyectos o cuentas de imputación
          type: array
          items:
            type: object
            properties:
              description:
                description: texto largo del proyecto o cuenta, a mostrar a los empleados
                type: string
              code:
                description: código de proyecto, definido por el usuario
                type: string
              correlation_id:
                description: >-
                  identificador de correlación. Un id interno del usuario del
                  API que posteriormente devolveremos.
                type: string
        calendars:
          description: Nombres de los calendarios disponibles
          type: array
          items:
            type: object
            properties:
              calendar_name:
                description: Nombre del calendario
                type: string
              correlation_id:
                description: >-
                  identificador de correlación. Un id interno del usuario del
                  API que posteriormente devolveremos.
                type: string
        locations:
          description: Localizaciones
          type: array
          items:
            type: object
            properties:
              _id:
                description: Identificador único de localización
                type: string
              name:
                description: Nombre definido para la localización
                type: string
    new_workplace:
      type: object
      properties:
        correlation_id:
          description: >-
            identificador de correlación. Un id interno del usuario del API que
            posteriormente devolveremos.
          type: string
        name:
          description: nombre del centro de trabajo
          type: string
        address:
          type: object
          properties:
            street:
              description: Dirección del centro de trabajo
              type: string
            city:
              description: Localidad del centro de trabajo
              type: string
            province:
              description: Provincia del centro de trabajo
              type: string
            zip:
              description: Código postal del centro de trabajo
              type: string
            country:
              description: País del centro de trabajo
              type: string
      required:
        - name
    update_workplace:
      allOf:
        - $ref: '#/components/schemas/new_workplace'
        - type: object
      properties:
        _id:
          description: Identificador del centro de trabajo
          type: string
      required:
        - _id
    new_team:
      type: object
      properties:
        correlation_id:
          description: >-
            identificador de correlación. Un id interno del usuario del API que
            posteriormente devolveremos.
          type: string
        name:
          description: nombre del equipo
          type: string
        is_collective:
          description: >-
            flag que indica que el equipo es un colectivo. Los colectivos son
            grupos de personas en los cuales no hay aprobaciones pero sí que
            comparten por ejemplo documentos específicos.
          type: boolean
      required:
        - name
    update_team:
      allOf:
        - $ref: '#/components/schemas/new_team'
        - type: object
      properties:
        _id:
          description: Identificador del equipo
          type: string
      required:
        - _id
    new_project:
      type: object
      properties:
        description:
          description: descripción del proyecto
          type: string
        accountProject:
          description: código del proyecto
          type: string
        locations:
          description: listado de ids de las localizaciones asociadas a este proyecto
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        teams:
          description: listado de ids de los equipos asociados a este proyecto
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
      required:
        - accountProject
        - description
    update_project:
      allOf:
        - $ref: '#/components/schemas/new_project'
        - type: object
      properties:
        _id:
          description: Identificador del equipo
          type: string
      required:
        - _id
    new_location:
      type: object
      properties:
        name:
          description: nombre de la localización
          type: string
        address:
          description: >-
            dirección de la localización. El formato debe ser <calle, código
            postal, localidad, provincia>
          type: string
        radius:
          description: >-
            radio alrededor de la localización en la que el fichaje será
            automático, mínimo 50 metros
          type: string
        ip_address:
          description: >-
            cadena de texto con el listado de IPs públicas separadas por comas
            desde las cuales es posible realizar el fichaje web
          type: string
      required:
        - name
        - address
    update_location:
      allOf:
        - $ref: '#/components/schemas/new_location'
        - type: object
      properties:
        _id:
          description: Identificador de la localización
          type: string
      required:
        - _id
    employee:
      type: object
      properties:
        _id:
          description: identificador único del empleado
          type: string
        correlation_id:
          description: >-
            identificador de correlación. Un id interno del usuario del API que
            posteriormente devolveremos..
          type: string
        companies_id:
          description: identificador de la sociedad para la que trabaja
          type: string
        workplace_id:
          description: identificador del centro de trabajo
          type: string
        nationalId:
          description: Documento de identidad del empleado
          type: string
        ssn:
          description: Número de afiliación a la seguridad social
          type: string
        firstName:
          description: Nombre propio del empleado
          type: string
        lastName:
          description: Primer apellido del empleado
          type: string
        lastName2:
          description: Segundo apellido del empleado
          type: string
        birthday:
          description: fecha de nacimiento
          type: string
          format: date
        start_day_in_company:
          description: En caso de subrogaciones, representa fecha de incorporación
          type: string
          format: date
        gender:
          description: Género
          type: string
          enum:
            - man
            - woman
            - none
        nationality:
          description: Nacionalidad
          type: string
        education:
          description: Nivel de estudios
          type: string
        civil_status:
          description: Estado civil
          type: string
          enum:
            - married
            - single
            - widower
            - divorcee
            - separate
        contract_code:
          description: Código del contratos SEPE
          type: string
          enum:
            - '100'
            - '200'
        contract_date:
          description: Fecha de contratación
          type: string
          format: date
        trial_period:
          description: Periodo de prueba
          type: string
        category:
          description: Categoría profesional
          type: string
        gross_salary:
          description: Salario bruto anual
          type: number
        nationalId_expiration_date:
          description: Fecha de caducidad DNI/NIE
          type: string
          format: date
        disability:
          description: Presenta alguna discapacidad
          type: boolean
        degree_disability_detail:
          description: Grado de discapacidad
          type: number
        expiration_disability_date:
          description: Fecha de revisión del grado de discapacidad
          type: string
          format: date
        is_permanent_disability:
          description: >-
            Flag que indica que la discapacidad es permanente. En este caso no
            exisitrá el campo "expiration_disability_date"
          type: boolean
        contribution_account:
          description: Cuenta cotización empresa
          type: string
        phone:
          description: phone
          type: string
        corporate_phone:
          description: corporate_phone
          type: string
        email:
          description: email
          type: string
        province:
          description: >-
            Provincia del domicilio. Corresponde a los digitos de los códigos
            postales,   por ejemplo, '28' para Madrid y '08' para Barcelona.
          type: string
        city:
          description: Ciudad del domicilio
          type: string
        address:
          description: Dirección del domicilio
          type: string
        zip_code:
          description: Código postal del domicilio
          type: string
        iban:
          description: IBAN
          type: string
        direct_reports_to:
          description: >-
            Identificador del empleado al que reporta para pintar el
            organigrama. No se soporta que se informe a si mismo y tampoco las
            dependencias cíclicas.
          type: string
        teams:
          description: >-
            Equipos de los que el empleado es miembro o lider. Si el campo no
            existe o viene a null, se respetará la información previa.
          type: object
          properties:
            teamleader_of:
              description: >-
                equipos de los que el empleado es lider. Si se informa array
                vacío, se borrará la información previa, si el campo no existe o
                viene a null, se respetará la información previa.
              type: array
              items:
                description: id de equipo
                type: string
            member_of:
              description: >-
                equipos de los que el empleado es miembro. Si se informa array
                vacío, se borrará la información previa, si el campo no existe o
                viene a null, se respetará la información previa.
              type: array
              items:
                description: id de equipo
                type: string
        user_exists:
          description: Indica si el empleado tiene usuario de acceso a TramitApp
          type: boolean
    update_employee:
      allOf:
        - $ref: '#/components/schemas/employee'
        - type: object
      properties:
        create_user:
          description: >-
            Creará el usuario dando acceso al empleado a TramitApp. El empleado
            recibirá un email con las credenciales de acceso
          type: boolean
        reset_user:
          description: >-
            Flag para resetear las credenciales del empleado. Se enviará un
            nuevo email al empleado con las nuevas credenciales
          type: boolean
        delete_user:
          description: >-
            Flag para eliminar el usuario del empleado. El empleado dejará de
            tener acceso a TramitApp
          type: boolean
        hire_again:
          description: >-
            Flag para recontratar al empleado si éste estaba previamente
            despedido
          type: boolean
        calendar_name:
          description: >-
            Nombre del calendario de festivos del empleado. Deberá coincidir con
            el nombre de algún calendario dado de alta en la empresa
          type: string
        calendar_correlation_id:
          description: >-
            Identificador interno del calendario de festivos del empleado.
            Deberá coincidir con el correlation_id de algún calendario dado de
            alta en la empresa. En el caso de venir informados los campos
            calendar_name y calendar_correlation_id, solamante se tendrá en
            cuenta el campo calendar_correlation_id
          type: string
        start_clocking_from:
          description: Fecha que indica cuándo comenzará a fichar en TramitApp
          type: string
          format: date
        employment_periods:
          description: Periodos de contratación del empleado
          type: array
          items:
            $ref: '#/components/schemas/employement_periods'
        workplace_history:
          description: Histórico de centros de trabajo del empleado
          type: array
          items:
            $ref: '#/components/schemas/workplace_history'
      required:
        - _id
        - workplace_id
        - nationalId
        - email
    new_employee:
      type: object
      properties:
        correlation_id:
          description: >-
            identificador de correlación. Un id interno del usuario del API que
            posteriormente devolveremos.
          type: string
        workplace_id:
          description: Identificador del centro de trabajo
          type: string
        nationalId:
          description: Documento de identidad del empleado
          type: string
        ssn:
          description: Numero de afiliación a la seguridad social
          type: string
        firstName:
          description: Nombre propio del empleado
          type: string
        lastName:
          description: Apellido del empleado
          type: string
        lastName2:
          description: Segundo apellido del empleado
          type: string
        birthday:
          description: Fecha de nacimiento
          type: string
        start_day_in_company:
          description: En caso de subrogaciones, representa fecha de incorporación
          type: string
          format: date
        gender:
          description: Género
          type: string
          enum:
            - man
            - woman
            - none
        nationality:
          description: Nacionalidad
          type: string
        civil_status:
          description: Estado civil
          type: string
          enum:
            - married
            - single
            - widower
            - divorcee
            - separate
        education:
          description: Nivel de estudios
          type: string
        contract_code:
          description: >-
            Código del tipo de contrato utilizado en la seguridad social. En el
            caso de empleado autónomo el código sería "999"
          type: string
          enum:
            - '100'
            - '109'
            - '130'
            - '131'
            - '139'
            - '141'
            - '150'
            - '151'
            - self_employed
        contract_date:
          description: Fecha de contratación
          type: string
          format: date
        contract_end_date:
          description: Fecha de fin de contratación
          type: string
          format: date
        gross_salary:
          description: Salario bruto anual
          type: number
        nationalId_expiration_date:
          description: Fecha de caducidad DNI/NIE
          type: string
          format: date
        disability:
          description: Presenta alguna discapacidad
          type: boolean
        degree_disability_detail:
          description: Grado de discapacidad
          type: number
        expiration_disability_date:
          description: Fecha de revisión del grado de discapacidad
          type: string
          format: date
        is_permanent_disability:
          description: >-
            Flag que indica que la discapacidad es permanente. En este caso no
            exisitrá el campo "expiration_disability_date"
          type: boolean
        contribution_account:
          description: Cuenta cotización empresa
          type: string
        trial_period:
          description: Periodo de prueba
          type: string
        category:
          description: Categoría profesional
          type: string
        email:
          description: E-mail
          type: string
        province:
          description: >-
            Provincia del domicilio. Corresponde a los digitos de los códigos
            postales,  por ejemplo, '28' para Madrid y '08' para Barcelona.
          type: string
        city:
          description: Ciudad del domicilio
          type: string
        address:
          description: Dirección del domicilio
          type: string
        zip_code:
          description: Código postal del domicilio
          type: string
        iban:
          description: IBAN
          type: string
        calendar_name:
          description: >-
            Nombre del calendario de festivos del empleado. Deberá coincidir con
            el nombre de algún calendario dado de alta en la empresa
          type: string
        calendar_correlation_id:
          description: >-
            Identificador interno del calendario de festivos del empleado.
            Deberá coincidir con el correlation_id de algún calendario dado de
            alta en la empresa. En el caso de venir informados los campos
            calendar_name y calendar_correlation_id, solamante se tendrá en
            cuenta el campo calendar_correlation_id
          type: string
        start_clocking_from:
          description: Fecha que indica cuándo comenzará a fichar en TramitApp
          type: string
          format: date
        create_user:
          description: >-
            Creará el usuario dando acceso al empleado a TramitApp. El empleado
            recibirá un email con las credenciales de acceso
          type: boolean
        direct_reports_to:
          description: >-
            Identificador del empleado al que reporta para pintar el
            organigrama. No se soporta que se informe a si mismo y tampoco las
            dependencias cíclicas.
          type: string
        teams:
          description: Equipos de los que el empleado es miembro o lider
          type: object
          properties:
            teamleader_of:
              description: equipos de los que el empleado es lider
              type: array
              items:
                description: id de equipo
                type: string
            member_of:
              description: equipos de los que el empleado es miembro
              type: array
              items:
                description: id de equipo
                type: string
        employment_periods:
          description: Periodos de contratación del empleado
          type: array
          items:
            $ref: '#/components/schemas/employement_periods'
        workplace_history:
          description: Histórico de centros de trabajo del empleado
          type: array
          items:
            $ref: '#/components/schemas/workplace_history'
      required:
        - workplace_id
        - nationalId
        - firstName
        - lastName
        - contract_code
        - contract_date
        - email
    fire_employee:
      type: object
      properties:
        _id:
          description: Identificador único del empleado
          type: string
        firing_type:
          description: Tipo de despido
          type: string
          enum:
            - disciplinary
            - objective
            - collective
            - voluntary_resignation
            - contract_end
            - trial_period_end
        fire_date:
          description: Fecha efectiva de baja del empleado
          type: string
          format: date
        delete_user:
          description: Flag para indicar si debemos eliminar el usuario para ese empleado
          type: boolean
          default: false
      required:
        - _id
        - firing_type
        - fire_date
    renew_employee:
      type: object
      properties:
        _id:
          description: Identificador único del empleado
          type: string
        renewal_type:
          description: >-
            Tipo de renovación. Puede ser prórroga  o transformación a
            indefinido.
          type: string
          enum:
            - to_regular_contract
            - contract_extension
        contract_code:
          description: Código del contrato SEPE
          type: string
          enum:
            - '100'
            - '200'
            - etc
        end_date:
          description: >-
            Fecha de fin de nuevo contrato. Obligatoria si es una prórroga
            (```contract_extension```)
          type: string
          format: date
        change_date:
          description: >-
            Fecha de entrada en vigor del cambio. Obligatoria si es una
            conversion a indefinido (```to_regular_contract```). Se ignora si
            no.
          type: string
          format: date
      required:
        - _id
        - renewal_type
        - contract_code
    absence_request:
      type: object
      properties:
        employees_id:
          description: Identificador único del empleado
          type: string
        type:
          description: Tipo de ausencia.
          type: string
          enum:
            - absence
            - sickness
            - vacation
        subtype:
          description: subtipo de ausencia
          type: string
          enum:
            - wedding
            - birth
            - family_admission
            - family_death
            - family_surgery
            - family_accident
            - moving_from_home
            - test
            - public_duty
            - unpaid_leave
            - personal_matter
            - union
            - strike
            - shift_change
            - others
            - common_sickness
            - accident_outside_work
            - accident_at_work
            - professional_sickness
            - high_risk_pregnancy
            - maternity_leave
            - paternity_leave
            - miscarriage
            - menstruation
            - pregnancy
        start_date:
          description: Fecha de inicio de la ausencia
          type: string
          format: date
        end_date:
          description: Fecha de fin de la ausencia
          type: string
          format: date
        start_time:
          description: Hora de inicio de la ausencia
          type: string
        end_time:
          description: Hora de fin de la ausencia
          type: string
    absence:
      type: object
      properties:
        description:
          description: La descripción de la ausencia, si existe
          type: string
        _id:
          description: Identificador único de la ausencia
          type: string
        employees_id:
          description: Identificador único del empleado
          type: string
        type:
          description: Tipo de ausencia.
          type: string
          enum:
            - absence
            - sickness
            - vacation
        subtype:
          description: subtipo de ausencia
          type: string
          enum:
            - wedding
            - birth
            - family_admission
            - family_death
            - family_surgery
            - family_accident
            - moving_from_home
            - test
            - public_duty
            - unpaid_leave
            - personal_matter
            - union
            - strike
            - shift_change
            - others
            - common_sickness
            - accident_outside_work
            - accident_at_work
            - professional_sickness
            - high_risk_pregnancy
            - maternity_leave
            - paternity_leave
        status:
          description: estado de la ausencia
          type: string
          enum:
            - pending
            - done
            - canceled
            - rejected
        start_date:
          description: Fecha de inicio de la ausencia
          type: string
          format: date
        end_date:
          description: Fecha de fin de la ausencia
          type: string
          format: date
        start_time:
          description: Hora de inicio de la ausencia
          type: string
        end_time:
          description: Hora de fin de la ausencia
          type: string
    expense:
      type: object
      properties:
        description:
          description: comentarios del gasto
          type: string
        _id:
          description: identificador único del gasto
          type: string
        employees_id:
          description: identificador único del empleado
          type: string
        type:
          description: categoría de gasto.
          type: string
          enum:
            - meal_expense
            - parking_expense
            - highway_expense
            - travel_expense
            - goods_expense
            - taxi_expense
            - fuel_expense
            - representation_expense
            - mileage_expense
            - allowance_expense
        status:
          description: estado del gasto
          type: string
          enum:
            - pending
            - done
            - canceled
            - rejected
        amount:
          description: importe
          type: number
        currency:
          description: divisa
          type: string
        date:
          description: Fecha del gasto
          type: string
          format: date
        approved_date:
          description: fecha en la que se aprobó el gasto
          type: string
          format: date
        project:
          description: código de proyecto o cuenta
          type: string
        paid_with_corporate_card:
          description: >-
            pagado con tarjeta corporativa o con caja de la empresa, no requiere
            reembolso.
          type: boolean
        merchant:
          description: proveeedor
          type: string
        mileage:
          description: >-
            number of kilometers for the expense. Only for expenses with type
            mileage_expense
          type: number
    hour:
      type: object
      properties:
        description:
          description: comentarios
          type: string
        _id:
          description: identificador único de la imputación de horas
          type: string
        employees_id:
          description: identificador único del empleado
          type: string
        status:
          description: estado de la imputación de horas
          type: string
          enum:
            - pending
            - done
            - canceled
            - rejected
        start_date:
          description: Fecha de inicio de la imputación
          type: string
          format: date
        start_time:
          description: Hora de inicio de la imputación
          type: string
        end_date:
          description: Fecha de fin de la imputación
          type: string
          format: date
        end_time:
          description: Hora de fin de la imputación
          type: string
        total_hours:
          description: >-
            duración de la imputación en horas, con decimales que representan
            fracción.
          type: number
        approved_date:
          description: fecha en la que se aprobó la imputación
          type: string
          format: date
        project:
          description: código de proyecto o cuenta
          type: string
        location_in:
          description: código de localización de entrada
          type: string
        location_out:
          description: código de localización de salida
          type: string
        start_device:
          description: dispositivo de inicio de fichaje
          type: string
        stop_device:
          description: dispositivo de cierre de fichaje
          type: string
    hour_request:
      type: object
      properties:
        description:
          description: comentarios
          type: string
        employees_id:
          description: Identificador único del empleado
          type: string
        start_date:
          description: Fecha de inicio de la imputación
          type: string
          format: date
        start_time:
          description: Hora de inicio de la imputación
          type: string
        end_date:
          description: Fecha de fin de la imputación
          type: string
          format: date
        end_time:
          description: Hora de fin de la imputación
          type: string
        location_in:
          description: código de localización de entrada
          type: string
        location_out:
          description: código de localización de salida
          type: string
    batch_clocking_request:
      description: Fi
      type: array
      items:
        $ref: '#/components/schemas/clocking_request'
    clocking_request:
      type: object
      properties:
        employees_id:
          description: Identificador único del empleado
          type: string
          required: true
        date:
          description: Fecha y hora del fichaje
          type: string
          format: date
          required: true
        tz:
          description: Zona horaria desde donde se realiza el fichaje. Ej 'Europe/Madrid'
          type: string
          format: código válido de zona horaria
          required: true
        in:
          description: true si es fichaje de entrada, false si lo es de salida
          type: boolean
        online:
          description: true si es fichaje online y false si es offline
          type: boolean
        location:
          description: Coordenadas GPS desde donde se está realizando el fichaje
          type: object
          properties:
            lat:
              description: Campo latitud de la coordenada GPS. Ej 40.3658733
              type: number
            lon:
              description: Campo longitud de la coordenada GPS. Ej -3.6141819
              type: number
        device_id:
          description: código único del dispositivo de fichaje
          type: string
        correlation_id:
          description: Identificador único del evento
          type: string
      required:
        - employees_id
        - date
        - tz
        - in
    clocking_response:
      type: object
      properties:
        result:
          description: Resultado del fichaje automático
          type: string
          enum:
            - clocking_allowed
            - clocking_not_allowed
        reason:
          description: Descripción del motivo en el caso de clocking_not_allowed
          type: string
    schedule_response:
      description: un objeto para cada empleado
      type: object
      properties:
        _id:
          description: id del empleado
          type: string
        days:
          description: cada día de la ventana de cálculo.
          type: object
          properties:
            YYYYMMDD:
              description: >-
                Cada clave de este objeto es una fecha en formato YYYYMMDD, por
                ejemplo, 20210123 para el 23/01/2021
              type: object
              properties:
                schedules:
                  type: array
                  items:
                    description: horarios de ese día
                    type: object
                    properties:
                      start:
                        description: fecha y hora de inicio de horario
                        type: string
                        format: datetime
                      end:
                        description: fecha y hora de fin de horario
                        type: string
                        format: datetime
    vacation:
      type: object
      properties:
        _id:
          description: identificador del empleado
          type: string
        pending_today:
          description: >-
            saldo de vacaciones a día de hoy (el que se usaría para una
            liquidación por ejemplo).
          type: number
        pending_eoy:
          description: saldo de vacaciones a fin de año.
          type: number
        pending_eoc:
          description: >-
            saldo de vacaciones a fecha de fin de contrato. Solo aplica para
            contratos con fecha de fin (temporales y duración determinada).
          type: number
    shift:
      type: object
      properties:
        employees_id:
          description: identificador único del empleado
          type: string
        shifts:
          description: listado de turnos
          type: array
          items:
            type: object
            properties:
              description:
                description: nombre del turno
                type: string
              _id:
                description: identificador del turno
                type: string
              start_date:
                description: >-
                  fecha de inicio del turno. Si no se especifica fecha de fin,
                  tambien corresponde a la fecha de fin del turno.
                type: string
              end_date:
                description: fecha de fin del turno.
                type: string
              start_time:
                description: Hora de inicio del turno
                type: string
              end_time:
                description: Hora de fin del turno
                type: string
              flex_start_date:
                description: fecha flexible de inicio del turno.
                type: string
              flex_end_date:
                description: fecha flexible de fin del turno.
                type: string
              flex_start_time:
                description: Hora flexible de inicio del turno
                type: string
              flex_end_time:
                description: Hora flexible de fin del turno
                type: string
              type:
                description: tipo de turno.
                enum:
                  - normal
                type: string
              availability:
                description: turno de disponibilidad, no genera horas planificadas
                type: boolean
              overwrite:
                description: debería reemplazar secuencias u horarios preexistentes
                type: boolean
              dont_work_freedays:
                description: no se trabaja en día libre
                type: boolean
              dont_work_festives:
                description: no se trabaja en festivo
                type: boolean
              omit_breaks:
                description: >-
                  descontar descansos automáticamente (todavía en beta,
                  consultar)
                type: boolean
              color:
                description: codigo de color para el renderizado en el cuadrante
                type: string
              breaks:
                description: descansos opcionales del turno
                type: array
                items:
                  $ref: '#/components/schemas/break'
        sequences:
          description: listado de secuencias de turnos
          type: array
          items:
            type: object
            properties:
              _id:
                description: identificador de secuencia
                type: string
              start_date:
                description: fecha de entrada en vigor de la secuencia
                type: string
              end_date:
                description: fecha de fin de la secuencia
                type: string
              name:
                description: nombre de la secuencia
                type: string
              availability:
                description: turno de disponibilidad, no genera horas planificadas
                type: boolean
              overwrite:
                description: debería reemplazar secuencias u horarios preexistentes
                type: boolean
              dont_work_freedays:
                description: no se trabaja en día libre
                type: boolean
              dont_work_festives:
                description: no se trabaja en festivo
                type: boolean
              omit_breaks:
                description: descontar descansos automáticamente
                type: boolean
              color:
                description: codigo de color para el renderizado en el cuadrante
                type: string
              days:
                description: specificaciones diarias de la secuencia
                type: array
                items:
                  type: object
                  properties:
                    workable:
                      description: dia laborable.
                      type: boolean
                    start_time:
                      description: inicio del turno
                      type: string
                    end_time:
                      description: fin del turno
                      type: string
                    flex_start_time:
                      description: inicio del turno
                      type: string
                    flex_end_time:
                      description: fin del turno
                      type: string
                    breaks:
                      description: descansos
                      type: array
                      items:
                        $ref: '#/components/schemas/break'
                    blockings:
                      description: >-
                        descriptores de bloqueo. Debe llevar o bien inicio y fin
                        o bien duración.
                      type: object
                      properties:
                        start_time:
                          description: inicio del bloqueo.
                          type: string
                        end_time:
                          description: inicio del bloqueo.
                          type: string
                        duration:
                          description: duración en minutos
                          type: number
    break:
      type: object
      properties:
        start_time:
          description: hora de inicio del descanso
          type: string
        end_time:
          description: hora de fin del descanso
          type: string
        duration:
          description: duración del descanso en minutos
          type: number
    document_type:
      description: Tipo de documento.
      type: string
      enum:
        - expense_report
        - absence_report
        - regular_payroll
        - contract
        - work_order
        - daily_report
        - cv
        - mod145
        - request_change_withholding_tax
        - prl_employee
        - temporal_contract
        - regular_contract
        - learning_contract
        - learning_contract_annex
        - training_contract
        - clauses_annex
        - extra_hours_annex
        - contract_modification
        - contract_extension
        - time_sheet_report
        - minor_fine
        - serious_fine
        - too_serious_fine
        - notification_fine
        - offense
        - extra_payroll
        - bonus_payroll
        - vacation_summary
        - expense_note
        - fire_letter
        - fire_payroll
        - workday_novation
        - confidentiality_notice
        - payment_in_advance_req
        - up_to_date_payroll_payments_report
        - others
    document_request:
      type: object
      properties:
        dates:
          description: Fechas de inicio y fin para filtrar en la búqueda de documentos
          type: object
          properties:
            start:
              description: >-
                Fecha en formato timestamp ("2021-01-01") a partir de la cual se
                quiere consultar los documentos. Si el campo no viene informado
                no se tendrá en cuenta en el filtrado de documentos.
              type: string
              format: date
            end:
              description: >-
                Fecha en formato timestamp ("2021-01-01") hasta la cual se
                quiere consultar documentos. Si el campo no viene informado no
                se tendrá en cuenta en el filtrado de documentos
              type: string
              format: date
        nationalId:
          description: >-
            listado de documentos de identidad de los empleados sobre los que se
            quieren obtener sus documentos
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        type:
          description: >
            Tipos de documentos que se quieren obtener en el listado. Por
            defecto serán todos los tipos disponibles.
              - work_order: Orden de Trabajo
              - daily_report: Parte Diario
              - contract: Contrato
              - mod145: Situación Familiar (mod. 145)
              - request_change_withholding_tax: Solicitud cambio IRPF
              - prl_employee: Prevención de Riesgos Laborales
              - temporal_contract: Contrato Temporal,
              - regular_contract: Contrato Indefinido
              - learning_contract: Contrato Formación
              - learning_contract_annex: Anexo Contrato Formación y Aprendizaje
              - training_contract: Contrato en Prácticas
              - clauses_annex: Cláusulas Anexas
              - extra_hours_annex: Anexo Horas Complementarias
              - contract_modification: Modificación de Contrato
              - contract_extension: Prórroga de Contrato
              - time_sheet_report: Parte de Horas
              - minor_fine: Sanción leve
              - serious_fine: Sanción grave
              - too_serious_fine: Sanción muy grave
              - notification_fine: Notificación
              - offense: Falta
              - regular_payroll: Nómina
              - extra_payroll: Paga extra
              - bonus_payroll: Variable/Bonus
              - vacation_summary: Resumen vacaciones
              - expense_note: Nota de gastos
              - fire_letter: Notificación baja/Carta despido
              - fire_payroll: Finiquito/Liquidación
              - workday_novation: Anexo Modificación de Horas
              - confidentiality_notice: Politica de Confidencialidad
              - payment_in_advance_req: Solicitud de anticipo
              - up_to_date_payroll_payments_report: Justificante estar al corriente del pago nóminas
              - others: Otros              
              - expense_report: Justificante gasto 
              - absence_report: Justificante
          type: array
          items:
            $ref: '#/components/schemas/document_type'
    document:
      type: object
      properties:
        name:
          description: Nombre del documento
          type: string
        type:
          description: Tipo de documento.
          type: string
          $ref: '#/components/schemas/document_type'
        size:
          description: Tamaño del fichero en Bytes.
          type: number
        sha256:
          description: Código sha256 del documento
          type: string
        date:
          description: Fecha del documento
          type: string
          format: date
        employees_id:
          description: Identificador único del empleado
          type: string
        email:
          description: Email del empleado
          type: string
        correlation_id:
          description: >-
            Identificador de correlación. Un id interno del usuario del API que
            posteriormente devolveremos.
          type: string
        nationalId:
          description: Documento de identidad del empleado
          type: string
        url:
          description: Url para la descarga del documento
          type: string
    employement_periods:
      type: object
      properties:
        companies_id:
          description: Identificador de la empresa donde está contratado en este periodo
          type: string
          required: true
        companies_correlation_id:
          description: >-
            Identificador interno de la empresa. Si este campo va informado no
            es necesario que se informe el companies_id
          type: string
        start:
          description: Fecha de inicio del periodo
          type: string
          format: date
          required: true
        end:
          description: Fecha de fin del periodo
          type: string
          format: date
        contract_code:
          description: Código de contrato
          type: string
    workplace_history:
      type: object
      properties:
        _id:
          description: Identificador único del centro de trabajo
          type: string
          required: true
        start:
          description: Fecha de inicio en el centro de trabajo
          type: string
          format: date
          required: true
        end:
          description: Fecha de fin en el centro de trabajo. Cuando aplique.
          type: string
          format: date
    Error:
      type: array
      items:
        type: object
        properties:
          code:
            description: código del error
            type: string
          message:
            description: descripción del error
            type: string
    SociedadesListadoSociedadesResponse:
      type: array
      items:
        $ref: '#/components/schemas/company'
    EmpleadosObtenerListadoResponse:
      type: array
      items:
        $ref: '#/components/schemas/employee'
    TrmitesListAbsencesResponse:
      type: array
      items:
        $ref: '#/components/schemas/absence'
    TrmitesAddAbsencesResponse:
      type: array
      items:
        $ref: '#/components/schemas/absence'
    TrmitesListCompanyExpensesResponse:
      type: array
      items:
        $ref: '#/components/schemas/expense'
    TrmitesAddAutoClockingResponse:
      type: object
      properties:
        processed:
          description: Número de eventos procesados
          type: number
    TrmitesAddBatchClockingResponse:
      type: object
      properties:
        processed:
          description: Número de eventos procesados
          type: number
    TrmitesListHoursResponse:
      type: array
      items:
        $ref: '#/components/schemas/hour'
    TrmitesAddManualTimesheetsResponse:
      type: array
      items:
        $ref: '#/components/schemas/hour'
    SaldoDeVacacionesListEmployeeBalancesResponse:
      type: array
      items:
        $ref: '#/components/schemas/vacation'
    TurnosYHorariosListEmployeeShiftsResponse:
      type: array
      items:
        $ref: '#/components/schemas/shift'
    TurnosYHorariosAddShiftsToEmployeesResponse:
      type: array
      items:
        $ref: '#/components/schemas/shift'
    TurnosYHorariosListEmployeeSchedulesResponse:
      type: array
      items:
        $ref: '#/components/schemas/schedule_response'
    DocumentosConsultarFiltradoResponse:
      type: array
      items:
        $ref: '#/components/schemas/document'
