openapi: 3.0.0
info:
  title: Slack Web API
  description: >-
    One way to interact with the Slack platform is its HTTP RPC-based Web API, a
    collection of methods requiring OAuth 2.0-based user, bot, or workspace
    tokens blessed with related OAuth scopes.
  version: 1.7.0
  contact:
    name: Slack developer relations
    url: https://api.slack.com/support
  x-apisguru-categories:
    - collaboration
    - messaging
  x-logo:
    url: http://static.tumblr.com/wvuzcz9/LlKncfhmp/slack_logo_240.png
  x-origin:
    - version: '3.0'
      format: openapi
      url: >-
        https://raw.githubusercontent.com/slackapi/slack-api-specs/master/web-api/slack_web_openapi_v2.json
  x-providerName: slack.com
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://slack.com/api
tags:
  - name: admin
  - name: conversations
  - name: admin.conversations
  - name: files
  - name: users
  - name: chat
  - name: admin.users
  - name: apps
  - name: usergroups
  - name: admin.teams.settings
  - name: calls
  - name: files.remote
  - name: admin.emoji
  - name: dnd
  - name: reminders
  - name: team
  - name: admin.usergroups
  - name: reactions
  - name: views
  - name: admin.conversations.restrictAccess
  - name: admin.inviteRequests
  - name: oauth
  - name: pins
  - name: stars
  - name: workflows
  - name: admin.apps
  - name: admin.teams
  - name: admin.users.session
  - name: apps.permissions
  - name: apps.permissions.users
  - name: auth
  - name: calls.participants
  - name: usergroups.users
  - name: users.profile
  - name: admin.apps.approved
  - name: admin.apps.requests
  - name: admin.apps.restricted
  - name: admin.conversations.ekm
  - name: admin.inviteRequests.approved
  - name: admin.inviteRequests.denied
  - name: admin.teams.admins
  - name: admin.teams.owners
  - name: api
  - name: apps.event.authorizations
  - name: apps.permissions.resources
  - name: apps.permissions.scopes
  - name: bots
  - name: chat.scheduledMessages
  - name: dialog
  - name: emoji
  - name: files.comments
  - name: migration
  - name: oauth.v2
  - name: rtm
  - name: search
  - name: team.profile
paths:
  /admin.apps.approve:
    post:
      tags:
        - admin.apps
        - admin
      operationId: Adminapps_approveAppInstallation
      security:
        - slackAuth:
            - admin.apps:write
      description: Approve an app for installation on a workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.apps:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminappsApproveAppInstallationRequest'
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminappsApproveAppInstallationResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminappsApproveAppInstallationdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approve
  /admin.apps.approved.list:
    get:
      tags:
        - admin.apps.approved
        - admin
      operationId: Adminappsapproved_list
      security:
        - slackAuth:
            - admin.apps:read
      description: List approved apps for an org or workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.apps:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - description: >-
            Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: team_id
          schema:
            type: string
        - in: query
          name: enterprise_id
          schema:
            type: string
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    approved_apps:
                      - app:
                          description: test app
                          additional_info: ''
                          app_directory_url: >-
                            https://myteam.enterprise.slack.com/apps/A0W7UKG8E-my-test-app
                          app_homepage_url: https://www.slack.com
                          help_url: https://www.slack.com
                          icons:
                            image_1024: >-
                              https://3026743124446w96_2bd4ea1ad1f89a23c242_1024.png
                            image_128: >-
                              https://30267341249446w6_2bd4ea1ad1f89a23c242_128.png
                            image_192: >-
                              https://30267431249446w6_2bd4ea1ad1f89a23c242_192.png
                            image_32: >-
                              https://302674312496446w_2bd4ea1ad1f89a23c242_32.png
                            image_36: >-
                              https://302674312496446w_2bd4ea1ad1f89a23c242_36.png
                            image_48: >-
                              https://302674312496446w_2bd4ea1ad1f89a23c242_48.png
                            image_512: >-
                              https://30267431249446w6_2bd4ea1ad1f89a23c242_512.png
                            image_64: >-
                              https://302674312496446w_2bd4ea1ad1f89a23c242_64.png
                            image_72: >-
                              https://302674312496446w_2bd4ea1ad1f89a23c242_72.png
                            image_96: >-
                              https://302674312496446w_2bd4ea1ad1f89a23c242_96.png
                            image_original: >-
                              https://302674446w12496_2bd4ea1ad1f89a23c242_original.png
                          id: A0W7UKG8E
                          is_app_directory_approved: false
                          is_internal: false
                          name: My Test App
                          privacy_policy_url: https://www.slack.com
                        date_updated: 1574296707
                        last_resolved_by:
                          actor_id: W0G82F4FD
                          actor_type: user
                        scopes:
                          - description: >-
                              Add the ability for people to direct message or
                              mention @my_test_app
                            is_sensitive: true
                            name: bot
                            token_type: bot
                    ok: true
                    response_metadata:
                      next_cursor: ''
              schema:
                $ref: '#/components/schemas/AdminappsapprovedListResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminappsapprovedListdefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approved.list
  /admin.apps.requests.list:
    get:
      tags:
        - admin.apps.requests
        - admin
      operationId: Adminappsrequests_list
      security:
        - slackAuth:
            - admin.apps:read
      description: List app requests for a team/workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.apps:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - description: >-
            Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: team_id
          schema:
            type: string
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    app_requests:
                      - app:
                          description: ''
                          additional_info: ''
                          app_directory_url: https://acmecorp.slack.com/apps/A061BL8RQ0-test-app
                          app_homepage_url: ''
                          help_url: ''
                          icons:
                            image_1024: /cdn/15258203/img/testapp/service_1024.png
                            image_128: /cdn/157258203/img/testapp/service_128.png
                            image_192: /cdn/157258203/img/testapp/service_192.png
                            image_32: /cdn/157658203/img/testapp/service_32.png
                            image_36: /cdn/157658203/img/testapp/service_36.png
                            image_48: /cdn/157658203/img/testapp/service_48.png
                            image_512: /cdn/15758203/img/testapp/service_512.png
                            image_64: /cdn/157658203/img/testapp/service_64.png
                            image_72: /cdn/157658203/img/testapp/service_72.png
                            image_96: /cdn/157658203/img/testapp/service_96.png
                          id: A061BL8RQ0
                          is_app_directory_approved: true
                          is_internal: false
                          name: Test App
                          privacy_policy_url: https://testapp.com/privacy
                        date_created: 1578956327
                        id: Ar0XJGFLMLS
                        message: test test again
                        previous_resolution: null
                        scopes:
                          - description: Post messages to specific channels in Slack
                            is_sensitive: false
                            name: incoming-webhook
                            token_type: user
                        team:
                          domain: acmecorp
                          id: T0M94LNUCR
                          name: Acme Corp
                        user:
                          email: janedoe@example.com
                          id: W08RA9G5HR
                          name: Jane Doe
                    ok: true
                    response_metadata:
                      next_cursor: ''
              schema:
                $ref: '#/components/schemas/AdminappsrequestsListResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: missing_scope
                    needed: admin.apps:read
                    ok: false
                    provided: read,client,admin,identify,post,apps
              schema:
                $ref: '#/components/schemas/AdminappsrequestsListdefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.requests.list
  /admin.apps.restrict:
    post:
      tags:
        - admin.apps
        - admin
      operationId: Adminapps_restrictApp
      security:
        - slackAuth:
            - admin.apps:write
      description: Restrict an app for installation on a workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.apps:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminappsRestrictAppRequest'
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminappsRestrictAppResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminappsRestrictAppdefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restrict
  /admin.apps.restricted.list:
    get:
      tags:
        - admin.apps.restricted
        - admin
      operationId: Adminappsrestricted_getList
      security:
        - slackAuth:
            - admin.apps:read
      description: List restricted apps for an org or workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.apps:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - description: >-
            Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: team_id
          schema:
            type: string
        - in: query
          name: enterprise_id
          schema:
            type: string
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    response_metadata:
                      next_cursor: ''
                    restricted_apps:
                      - app:
                          description: A fun test app for Slack
                          additional_info: ''
                          app_directory_url: >-
                            https://myteam.enterprise.slack.com/apps/A0FDLP8M2L-my-test-app
                          app_homepage_url: https://example.com
                          help_url: https://example.com
                          icons:
                            image_1024: >-
                              https://1433265338rl878408_eb57dbc818daa4ba15d6_1024.png
                            image_128: >-
                              https://4332653438rl87808_eb57dbc818daa4ba15d6_128.png
                            image_192: >-
                              https://4332653438rl87808_eb57dbc818daa4ba15d6_192.png
                            image_32: >-
                              https://143326534038rl8788_eb57dbc818daa4ba15d6_32.png
                            image_36: >-
                              https://143326534038rl8788_eb57dbc818daa4ba15d6_36.png
                            image_48: >-
                              https://143326534038rl8788_eb57dbc818daa4ba15d6_48.png
                            image_512: >-
                              https://4332653438rl87808_eb57dbc818daa4ba15d6_512.png
                            image_64: >-
                              https://143326534038rl8788_eb57dbc818daa4ba15d6_64.png
                            image_72: >-
                              https://143326534038rl8788_eb57dbc818daa4ba15d6_72.png
                            image_96: >-
                              https://143326534038rl8788_eb57dbc818daa4ba15d6_96.png
                            image_original: >-
                              https://143338rl8782653408_eb57dbc818daa4ba15d6_original.png
                          id: A0FDLP8M2L
                          is_app_directory_approved: true
                          is_internal: false
                          name: My Test App
                          privacy_policy_url: https://example.com
                        date_updated: 1574296721
                        last_resolved_by:
                          actor_id: W0G82LMFD
                          actor_type: user
                        scopes:
                          - description: >-
                              Upload, edit, and delete files on the user‟s
                              behalf
                            is_sensitive: true
                            name: files:write:user
                            token_type: user
              schema:
                $ref: '#/components/schemas/AdminappsrestrictedGetListResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminappsrestrictedGetListdefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restricted.list
  /admin.conversations.archive:
    post:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_archiveChannel
      security:
        - slackAuth:
            - admin.conversations:write
      description: Archive a public or private channel.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsArchiveChannelRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsArchiveChannelResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsArchiveChanneldefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.archive
  /admin.conversations.convertToPrivate:
    post:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_convertToPrivateChannel
      security:
        - slackAuth:
            - admin.conversations:write
      description: Convert a public channel to a private channel.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminconversationsConvertToPrivateChannelRequest
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsConvertToPrivateChannelResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsConvertToPrivateChanneldefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.convertToPrivate
  /admin.conversations.create:
    post:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_createChannelBasedConversation
      security:
        - slackAuth:
            - admin.conversations:write
      description: Create a public or private channel-based conversation.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminconversationsCreateChannelBasedConversationRequest
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    channel_id: C12345
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsCreateChannelBasedConversationResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsCreateChannelBasedConversationdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.create
  /admin.conversations.delete:
    post:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_deleteChannel
      security:
        - slackAuth:
            - admin.conversations:write
      description: Delete a public or private channel.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsDeleteChannelRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsDeleteChannelResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsDeleteChanneldefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.delete
  /admin.conversations.disconnectShared:
    post:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_disconnectSharedChannel
      security:
        - slackAuth:
            - admin.conversations:write
      description: Disconnect a connected channel from one or more workspaces.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminconversationsDisconnectSharedChannelRequest
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsDisconnectSharedChannelResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsDisconnectSharedChanneldefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.disconnectShared
  /admin.conversations.ekm.listOriginalConnectedChannelInfo:
    get:
      tags:
        - admin.conversations.ekm
        - admin
      operationId: Adminconversationsekm_listOriginalConnectedChannelInfo
      security:
        - slackAuth:
            - admin.conversations:read
      description: >-
        List all disconnected channels—i.e., channels that were once connected
        to other workspaces and then disconnected—and the corresponding original
        channel IDs for key revocation with EKM.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: A comma-separated list of channels to filter to.
          in: query
          name: channel_ids
          schema:
            type: string
        - description: >-
            A comma-separated list of the workspaces to which the channels you
            would like returned belong.
          in: query
          name: team_ids
          schema:
            type: string
        - description: >-
            The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - description: >-
            Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page.
          in: query
          name: cursor
          schema:
            type: string
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    channels:
                      - id: string
                        internal_team_ids: array
                        original_connected_channel_id: string
                        original_connected_host_id: string
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsekmListOriginalConnectedChannelInfoResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsekmListOriginalConnectedChannelInfodefaultResponse
      externalDocs:
        description: API method documentation
        url: >-
          https://api.slack.com/methods/admin.conversations.ekm.listOriginalConnectedChannelInfo
  /admin.conversations.getConversationPrefs:
    get:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_getConversationPrefs
      security:
        - slackAuth:
            - admin.conversations:read
      description: Get conversation preferences for a public or private channel.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: The channel to get preferences for.
          in: query
          name: channel_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsGetConversationPrefsResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsGetConversationPrefsdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getConversationPrefs
  /admin.conversations.getTeams:
    get:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_getTeamsList
      security:
        - slackAuth:
            - admin.conversations:read
      description: >-
        Get all the workspaces a given public or private channel is connected to
        within this Enterprise org.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: >-
            The channel to determine connected workspaces within the
            organization for.
          in: query
          name: channel_id
          required: true
          schema:
            type: string
        - description: >-
            Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - description: >-
            The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    teams:
                      - T1234
                      - T5678
              schema:
                $ref: '#/components/schemas/AdminconversationsGetTeamsListResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsGetTeamsListdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getTeams
  /admin.conversations.invite:
    post:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_inviteUserToChannel
      security:
        - slackAuth:
            - admin.conversations:write
      description: Invite a user to a public or private channel.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminconversationsInviteUserToChannelRequest
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsInviteUserToChannelResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsInviteUserToChanneldefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.invite
  /admin.conversations.rename:
    post:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_renameChannel
      security:
        - slackAuth:
            - admin.conversations:write
      description: Rename a public or private channel.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsRenameChannelRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminconversationsRenameChannelResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsRenameChanneldefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.rename
  /admin.conversations.restrictAccess.addGroup:
    post:
      tags:
        - admin.conversations.restrictAccess
        - admin
      operationId: AdminconversationsrestrictAccess_addGroupIdpGroups
      security:
        - slackAuth:
            - admin.conversations:write
      description: Add an allowlist of IDP groups for accessing a channel
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminconversationsrestrictAccessAddGroupIdpGroupsRequest
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsrestrictAccessAddGroupIdpGroupsResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsrestrictAccessAddGroupIdpGroupsdefaultResponse
      externalDocs:
        description: API method documentation
        url: >-
          https://api.slack.com/methods/admin.conversations.restrictAccess.addGroup
  /admin.conversations.restrictAccess.listGroups:
    get:
      tags:
        - admin.conversations.restrictAccess
        - admin
      operationId: AdminconversationsrestrictAccess_listGroups
      security:
        - slackAuth:
            - admin.conversations:read
      description: List all IDP Groups linked to a channel
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - in: query
          name: channel_id
          required: true
          schema:
            type: string
        - description: >-
            The workspace where the channel exists. This argument is required
            for channels only tied to one workspace, and optional for channels
            that are shared across an organization.
          in: query
          name: team_id
          schema:
            type: string
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    group_ids:
                      - YOUR_GROUP_ID
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsrestrictAccessListGroupsResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsrestrictAccessListGroupsdefaultResponse
      externalDocs:
        description: API method documentation
        url: >-
          https://api.slack.com/methods/admin.conversations.restrictAccess.listGroups
  /admin.conversations.restrictAccess.removeGroup:
    post:
      tags:
        - admin.conversations.restrictAccess
        - admin
      operationId: AdminconversationsrestrictAccess_removeIdpGroup
      security:
        - slackAuth:
            - admin.conversations:write
      description: Remove a linked IDP group linked from a private channel
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminconversationsrestrictAccessRemoveIdpGroupRequest
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsrestrictAccessRemoveIdpGroupResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsrestrictAccessRemoveIdpGroupdefaultResponse
      externalDocs:
        description: API method documentation
        url: >-
          https://api.slack.com/methods/admin.conversations.restrictAccess.removeGroup
  /admin.conversations.search:
    get:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_searchChannels
      security:
        - slackAuth:
            - admin.conversations:read
      description: Search for public or private channels in an Enterprise organization.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: >-
            Comma separated string of team IDs, signifying the workspaces to
            search through.
          in: query
          name: team_ids
          schema:
            type: string
        - description: Name of the the channel to query by.
          in: query
          name: query
          schema:
            type: string
        - description: >-
            Maximum number of items to be returned. Must be between 1 - 20 both
            inclusive. Default is 10.
          in: query
          name: limit
          schema:
            type: integer
        - description: >-
            Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page.
          in: query
          name: cursor
          schema:
            type: string
        - description: >-
            The type of channel to include or exclude in the search. For example
            `private` will search private channels, while `private_exclude` will
            exclude them. For a full list of types, check the [Types
            section](#types).
          in: query
          name: search_channel_types
          schema:
            type: string
        - description: >-
            Possible values are `relevant` (search ranking based on what we
            think is closest), `name` (alphabetical), `member_count` (number of
            users in the channel), and `created` (date channel was created). You
            can optionally pair this with the `sort_dir` arg to change how it is
            sorted 
          in: query
          name: sort
          schema:
            type: string
        - description: >-
            Sort direction. Possible values are `asc` for ascending order like
            (1, 2, 3) or (a, b, c), and `desc` for descending order like (3, 2,
            1) or (c, b, a)
          in: query
          name: sort_dir
          schema:
            type: string
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    channels:
                      - created: 1449252889
                        creator: U012A3CDE
                        id: C012AB3CD
                        is_archived: false
                        is_channel: true
                        is_ext_shared: false
                        is_general: true
                        is_group: false
                        is_im: false
                        is_member: true
                        is_mpim: false
                        is_org_shared: false
                        is_pending_ext_shared: false
                        is_private: false
                        is_shared: false
                        name: general
                        name_normalized: general
                        num_members: 4
                        pending_shared: []
                        previous_names: []
                        purpose:
                          creator: ''
                          last_set: 0
                          value: >-
                            This channel is for team-wide communication and
                            announcements. All team members are in this channel.
                        topic:
                          creator: ''
                          last_set: 0
                          value: Company-wide announcements and work-based matters
                        unlinked: 0
                    ok: true
                    response_metadata:
                      next_cursor: dGVhbTpDMDYxRkE1UEI=
              schema:
                $ref: '#/components/schemas/AdminconversationsSearchChannelsResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: not_an_enterprise
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsSearchChannelsdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.search
  /admin.conversations.setConversationPrefs:
    post:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_setConversationPrefs
      security:
        - slackAuth:
            - admin.conversations:write
      description: Set the posting permissions for a public or private channel.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminconversationsSetConversationPrefsRequest
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsSetConversationPrefsResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsSetConversationPrefsdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.setConversationPrefs
  /admin.conversations.setTeams:
    post:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_setTeamsWorkspaceConnection
      security:
        - slackAuth:
            - admin.conversations:write
      description: >-
        Set the workspaces in an Enterprise grid org that connect to a public or
        private channel.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminconversationsSetTeamsWorkspaceConnectionRequest
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsSetTeamsWorkspaceConnectionResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsSetTeamsWorkspaceConnectiondefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.setTeams
  /admin.conversations.unarchive:
    post:
      tags:
        - admin.conversations
        - admin
      operationId: Adminconversations_unarchiveChannel
      security:
        - slackAuth:
            - admin.conversations:write
      description: Unarchive a public or private channel.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.conversations:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminconversationsUnarchiveChannelRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsUnarchiveChannelResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminconversationsUnarchiveChanneldefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.unarchive
  /admin.emoji.add:
    post:
      tags:
        - admin.emoji
        - admin
      operationId: Adminemoji_addEmoji
      security:
        - slackAuth:
            - admin.teams:write
      description: Add an emoji.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminemojiAddEmojiRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminemojiAddEmojiResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminemojiAddEmojidefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.add
  /admin.emoji.addAlias:
    post:
      tags:
        - admin.emoji
        - admin
      operationId: Adminemoji_aliasAdd
      security:
        - slackAuth:
            - admin.teams:write
      description: Add an emoji alias.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminemojiAliasAddRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminemojiAliasAddResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminemojiAliasAdddefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.addAlias
  /admin.emoji.list:
    get:
      tags:
        - admin.emoji
        - admin
      operationId: Adminemoji_listEnterpriseEmoji
      security:
        - slackAuth:
            - admin.teams:read
      description: List emoji for an Enterprise Grid organization.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.teams:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: >-
            Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - description: >-
            The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    cache_ts: '1575283387.000000'
                    categories:
                      - emoji_names:
                          - grinning
                          - grin
                          - joy
                          - etc etc ...
                        name: Smileys & People
                    categories_version: '5'
                    emoji:
                      black_square: alias:black_large_square
                      bowtie: >-
                        https://emoji.slack-edge.com/T9TK3CUKW/bowtie/f3ec6f2bb0.png
                      cubimal_chick: >-
                        https://emoji.slack-edge.com/T9TK3CUKW/cubimal_chick/85961c43d7.png
                      dusty_stick: >-
                        https://emoji.slack-edge.com/T9TK3CUKW/dusty_stick/6177a62312.png
                      glitch_crab: >-
                        https://emoji.slack-edge.com/T9TK3CUKW/glitch_crab/db049f1f9c.png
                      piggy: >-
                        https://emoji.slack-edge.com/T9TK3CUKW/piggy/b7762ee8cd.png
                      pride: >-
                        https://emoji.slack-edge.com/T9TK3CUKW/pride/56b1bd3388.png
                      shipit: alias:squirrel
                      simple_smile:
                        apple: >-
                          https://a.slack-edge.com/80588/img/emoji_2017_12_06/apple/simple_smile.png
                        google: >-
                          https://a.slack-edge.com/80588/img/emoji_2017_12_06/google/simple_smile.png
                      slack: >-
                        https://emoji.slack-edge.com/T9TK3CUKW/slack/7d462d2443.png
                      slack_call: >-
                        https://emoji.slack-edge.com/T9TK3CUKW/slack_call/b81fffd6dd.png
                      squirrel: >-
                        https://emoji.slack-edge.com/T9TK3CUKW/squirrel/465f40c0e0.png
                      thumbsup_all: >-
                        https://emoji.slack-edge.com/T9TK3CUKW/thumbsup_all/50096a1020.gif
                      white_square: alias:white_large_square
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminemojiListEnterpriseEmojiResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminemojiListEnterpriseEmojidefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.list
  /admin.emoji.remove:
    post:
      tags:
        - admin.emoji
        - admin
      operationId: Adminemoji_removeEnterpriseEmoji
      security:
        - slackAuth:
            - admin.teams:write
      description: Remove an emoji across an Enterprise Grid organization
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminemojiRemoveEnterpriseEmojiRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminemojiRemoveEnterpriseEmojiResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminemojiRemoveEnterpriseEmojidefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.remove
  /admin.emoji.rename:
    post:
      tags:
        - admin.emoji
        - admin
      operationId: Adminemoji_renameEmoji
      security:
        - slackAuth:
            - admin.teams:write
      description: Rename an emoji.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminemojiRenameEmojiRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminemojiRenameEmojiResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminemojiRenameEmojidefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.rename
  /admin.inviteRequests.approve:
    post:
      tags:
        - admin.inviteRequests
        - admin
      operationId: AdmininviteRequests_approveRequest
      security:
        - slackAuth:
            - admin.invites:write
      description: Approve a workspace invite request.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.invites:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/admin_inviteRequests_approve'
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsApproveRequestResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdmininviteRequestsApproveRequestdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.approve
  /admin.inviteRequests.approved.list:
    get:
      tags:
        - admin.inviteRequests.approved
        - admin
      operationId: AdmininviteRequestsapproved_list
      security:
        - slackAuth:
            - admin.invites:read
      description: List all approved workspace invite requests.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.invites:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: ID for the workspace where the invite requests were made.
          in: query
          name: team_id
          schema:
            type: string
        - description: >-
            Value of the `next_cursor` field sent as part of the previous API
            response
          in: query
          name: cursor
          schema:
            type: string
        - description: >-
            The number of results that will be returned by the API on each
            invocation. Must be between 1 - 1000, both inclusive
          in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsapprovedListResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdmininviteRequestsapprovedListdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.approved.list
  /admin.inviteRequests.denied.list:
    get:
      tags:
        - admin.inviteRequests.denied
        - admin
      operationId: AdmininviteRequestsdenied_list
      security:
        - slackAuth:
            - admin.invites:read
      description: List all denied workspace invite requests.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.invites:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: ID for the workspace where the invite requests were made.
          in: query
          name: team_id
          schema:
            type: string
        - description: >-
            Value of the `next_cursor` field sent as part of the previous api
            response
          in: query
          name: cursor
          schema:
            type: string
        - description: >-
            The number of results that will be returned by the API on each
            invocation. Must be between 1 - 1000 both inclusive
          in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsdeniedListResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdmininviteRequestsdeniedListdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.denied.list
  /admin.inviteRequests.deny:
    post:
      tags:
        - admin.inviteRequests
        - admin
      operationId: AdmininviteRequests_denyRequest
      security:
        - slackAuth:
            - admin.invites:write
      description: Deny a workspace invite request.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.invites:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/admin_inviteRequests_approve'
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdmininviteRequestsDenyRequestResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdmininviteRequestsDenyRequestdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.deny
  /admin.inviteRequests.list:
    get:
      tags:
        - admin.inviteRequests
        - admin
      operationId: AdmininviteRequests_listPendingWorkspaceInviteRequests
      security:
        - slackAuth:
            - admin.invites:read
      description: List all pending workspace invite requests.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.invites:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: ID for the workspace where the invite requests were made.
          in: query
          name: team_id
          schema:
            type: string
        - description: >-
            Value of the `next_cursor` field sent as part of the previous API
            response
          in: query
          name: cursor
          schema:
            type: string
        - description: >-
            The number of results that will be returned by the API on each
            invocation. Must be between 1 - 1000, both inclusive
          in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdmininviteRequestsListPendingWorkspaceInviteRequestsResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdmininviteRequestsListPendingWorkspaceInviteRequestsdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.list
  /admin.teams.admins.list:
    get:
      tags:
        - admin.teams.admins
        - admin
      operationId: Adminteamsadmins_getAll
      security:
        - slackAuth:
            - admin.teams:read
      description: List all of the admins on a given workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.teams:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return.
          in: query
          name: limit
          schema:
            type: integer
        - description: >-
            Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page.
          in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: team_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    admin_ids:
                      - U1234
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminteamsadminsGetAllResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamsadminsGetAlldefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.admins.list
  /admin.teams.create:
    post:
      tags:
        - admin.teams
        - admin
      operationId: Adminteams_createEnterpriseTeam
      security:
        - slackAuth:
            - admin.teams:write
      description: Create an Enterprise team.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.teams:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminteamsCreateEnterpriseTeamRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    team: T12345
              schema:
                $ref: '#/components/schemas/AdminteamsCreateEnterpriseTeamResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminteamsCreateEnterpriseTeamdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.create
  /admin.teams.list:
    get:
      tags:
        - admin.teams
        - admin
      operationId: Adminteams_listAll
      security:
        - slackAuth:
            - admin.teams:read
      description: List all teams on an Enterprise organization
      parameters:
        - description: 'Authentication token. Requires scope: `admin.teams:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of items to return. Must be between 1 - 100 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - description: >-
            Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page.
          in: query
          name: cursor
          schema:
            type: string
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    teams:
                      - discoverability: hidden
                        id: T1234
                        name: My Team
                        primary_owner:
                          email: bront@slack.com
                          user_id: W1234
                        team_url: https://subarachnoid.slack.com/
              schema:
                $ref: '#/components/schemas/AdminteamsListAllResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamsListAlldefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.list
  /admin.teams.owners.list:
    get:
      tags:
        - admin.teams.owners
        - admin
      operationId: Adminteamsowners_listOwners
      security:
        - slackAuth:
            - admin.teams:read
      description: List all of the owners on a given workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.teams:read`'
          in: query
          name: token
          required: true
          schema:
            type: string
        - in: query
          name: team_id
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - description: >-
            Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page.
          in: query
          name: cursor
          schema:
            type: string
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    owner_ids:
                      - U1234
              schema:
                $ref: '#/components/schemas/AdminteamsownersListOwnersResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamsownersListOwnersdefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.owners.list
  /admin.teams.settings.info:
    get:
      tags:
        - admin.teams.settings
        - admin
      operationId: Adminteamssettings_getInfo
      security:
        - slackAuth:
            - admin.teams:read
      description: Fetch information about settings in a workspace
      parameters:
        - description: 'Authentication token. Requires scope: `admin.teams:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - in: query
          name: team_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    team:
                      default_channels: array
                      domain: string
                      email_domain: string
                      enterprise_id: string
                      enterprise_name: string
                      icon: array
                      id: stringX
                      name: string
              schema:
                $ref: '#/components/schemas/AdminteamssettingsGetInfoResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamssettingsGetInfodefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.info
  /admin.teams.settings.setDefaultChannels:
    post:
      tags:
        - admin.teams.settings
        - admin
      operationId: Adminteamssettings_setDefaultChannels
      security:
        - slackAuth:
            - admin.teams:write
      description: Set the default channels of a workspace.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminteamssettingsSetDefaultChannelsRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminteamssettingsSetDefaultChannelsResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminteamssettingsSetDefaultChannelsdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDefaultChannels
  /admin.teams.settings.setDescription:
    post:
      tags:
        - admin.teams.settings
        - admin
      operationId: Adminteamssettings_setDescription
      security:
        - slackAuth:
            - admin.teams:write
      description: Set the description of a given workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.teams:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminteamssettingsSetDescriptionRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetDescriptionResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminteamssettingsSetDescriptiondefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDescription
  /admin.teams.settings.setDiscoverability:
    post:
      tags:
        - admin.teams.settings
        - admin
      operationId: Adminteamssettings_setDiscoverabilityOfWorkspace
      security:
        - slackAuth:
            - admin.teams:write
      description: >-
        An API method that allows admins to set the discoverability of a given
        workspace
      parameters:
        - description: 'Authentication token. Requires scope: `admin.teams:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminteamssettingsSetDiscoverabilityOfWorkspaceRequest
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminteamssettingsSetDiscoverabilityOfWorkspaceResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminteamssettingsSetDiscoverabilityOfWorkspacedefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDiscoverability
  /admin.teams.settings.setIcon:
    post:
      tags:
        - admin.teams.settings
        - admin
      operationId: Adminteamssettings_setIcon
      security:
        - slackAuth:
            - admin.teams:write
      description: Sets the icon of a workspace.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminteamssettingsSetIconRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetIconResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetIcondefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setIcon
  /admin.teams.settings.setName:
    post:
      tags:
        - admin.teams.settings
        - admin
      operationId: Adminteamssettings_setName
      security:
        - slackAuth:
            - admin.teams:write
      description: Set the name of a given workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.teams:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminteamssettingsSetNameRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetNameResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminteamssettingsSetNamedefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setName
  /admin.usergroups.addChannels:
    post:
      tags:
        - admin.usergroups
        - admin
      operationId: Adminusergroups_addDefaultChannels
      security:
        - slackAuth:
            - admin.usergroups:write
      description: Add one or more default channels to an IDP group.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.usergroups:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminusergroupsAddDefaultChannelsRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminusergroupsAddDefaultChannelsResponse'
        default:
          description: >-
            Typical error response if the token provided is not associated with
            an Org Admin or Owner
          content:
            application/json:
              examples:
                response:
                  value:
                    error: not_an_admin
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminusergroupsAddDefaultChannelsdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.addChannels
  /admin.usergroups.addTeams:
    post:
      tags:
        - admin.usergroups
        - admin
      operationId: Adminusergroups_associateDefaultWorkspaces
      security:
        - slackAuth:
            - admin.teams:write
      description: >-
        Associate one or more default workspaces with an organization-wide IDP
        group.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.teams:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminusergroupsAssociateDefaultWorkspacesRequest
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: >-
                  #/components/schemas/AdminusergroupsAssociateDefaultWorkspacesResponse
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminusergroupsAssociateDefaultWorkspacesdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.addTeams
  /admin.usergroups.listChannels:
    get:
      tags:
        - admin.usergroups
        - admin
      operationId: Adminusergroups_listChannelsGet
      security:
        - slackAuth:
            - admin.usergroups:read
      description: List the channels linked to an org-level IDP group (user group).
      parameters:
        - description: 'Authentication token. Requires scope: `admin.usergroups:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: ID of the IDP group to list default channels for.
          in: query
          name: usergroup_id
          required: true
          schema:
            type: string
        - description: ID of the the workspace.
          in: query
          name: team_id
          schema:
            type: string
        - description: Flag to include or exclude the count of members per channel.
          in: query
          name: include_num_members
          schema:
            type: boolean
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    channels:
                      - id: C024BE91L
                        name: fun
                        num_members: 34
                        team_id: T024BE911
                      - id: C024BE91K
                        name: more fun
                        team_id: T024BE912
                      - id: C024BE91M
                        is_redacted: true
                        name: public-channel
                        num_members: 34
                        team_id: T024BE911
                      - id: C024BE91N
                        name: some more fun
                        team_id: T024BE921
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminusergroupsListChannelsGetResponse'
        default:
          description: >-
            Typical error response if the token provided is not associated with
            an Org Admin or Owner
          content:
            application/json:
              examples:
                response:
                  value:
                    error: not_an_admin
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminusergroupsListChannelsGetdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.listChannels
  /admin.usergroups.removeChannels:
    post:
      tags:
        - admin.usergroups
        - admin
      operationId: Adminusergroups_removeChannels
      security:
        - slackAuth:
            - admin.usergroups:write
      description: >-
        Remove one or more default channels from an org-level IDP group (user
        group).
      parameters:
        - description: 'Authentication token. Requires scope: `admin.usergroups:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminusergroupsRemoveChannelsRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminusergroupsRemoveChannelsResponse'
        default:
          description: >-
            Typical error response if the token provided is not associated with
            an Org Admin or Owner
          content:
            application/json:
              examples:
                response:
                  value:
                    error: not_an_admin
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminusergroupsRemoveChannelsdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.removeChannels
  /admin.users.assign:
    post:
      tags:
        - admin.users
        - admin
      operationId: Adminusers_addWorkspaceUser
      security:
        - slackAuth:
            - admin.users:write
      description: Add an Enterprise user to a workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.users:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminusersAddWorkspaceUserRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminusersAddWorkspaceUserResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: '#/components/schemas/AdminusersAddWorkspaceUserdefaultResponse'
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.assign
  /admin.users.invite:
    post:
      tags:
        - admin.users
        - admin
      operationId: Adminusers_inviteUserToWorkspace
      security:
        - slackAuth:
            - admin.users:write
      description: Invite a user to a workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.users:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminusersInviteUserToWorkspaceRequest'
        required: true
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
              schema:
                $ref: '#/components/schemas/AdminusersInviteUserToWorkspaceResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminusersInviteUserToWorkspacedefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.invite
  /admin.users.list:
    get:
      tags:
        - admin.users
        - admin
      operationId: Adminusers_listWorkspaceUsers
      security:
        - slackAuth:
            - admin.users:read
      description: List users on a workspace
      parameters:
        - description: 'Authentication token. Requires scope: `admin.users:read`'
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: The ID (`T1234`) of the workspace.
          in: query
          name: team_id
          required: true
          schema:
            type: string
        - description: >-
            Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page.
          in: query
          name: cursor
          schema:
            type: string
        - description: Limit for how many users to be retrieved per page
          in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: Typical success response
          content:
            application/json:
              examples:
                response:
                  value:
                    ok: true
                    users:
                      - email: bront@slack.com
                        id: T1234X
                        is_admin: false
                        is_bot: false
                        is_owner: false
                        is_primary_owner: false
                        is_restricted: false
                        is_ultra_restricted: false
              schema:
                $ref: '#/components/schemas/AdminusersListWorkspaceUsersResponse'
        default:
          description: Typical error response
          content:
            application/json:
              examples:
                response:
                  value:
                    error: invalid_auth
                    ok: false
              schema:
                $ref: >-
                  #/components/schemas/AdminusersListWorkspaceUsersdefaultResponse
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.list
  /admin.users.remove:
    post:
      tags:
        - admin.users
        - admin
      operationId: Adminusers_removeUserFromWorkspace
      security:
        - slackAuth:
            - admin.users:write
      description: Remove a user from a workspace.
      parameters:
        - description: 'Authentication token. Requires scope: `admin.users:write`'
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
[...]
