openapi: 3.0.3
info:
  title: FastAPI
  description: >-
    Beam is the intelligent way to manage risk with laser precision in real
    time.


    Beam's state-of-the-art software solution sources traditional and
    alternative data to give you a real-time affordability analysis of your
    customer and makes manual analysis, fragmented data sources, high costs and
    slow processes a thing of the past so that you and your team get better data
    with sharper insight.


    Beam makes it easy and seamless to access multiple data sources like bank
    statements from multiple accounts, bureau data and alternative data for
    thin-file customers, giving you the most up-to-date and precise view of your
    customer's financial position so that your organisation can make accelerated
    credit decisions.


    Our completely digital customer onboarding process allows for near-instant
    credit approval.


    Beam's API-first solution reduces credit decision-making time from days to
    seconds while helping you forecast your customer's income and expenses
    instantly. Beam Console's audit-ready reporting dashboard lets your admin,
    risk and underwriting teams easily and efficiently manage your customer data
    from one place.
  version: 0.1.0
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.beamlend.com
tags:
  - name: application_configs
  - name: bank_connections
  - name: applications
  - name: billing
  - name: personal_info_connections
  - name: payments
  - name: organisations
  - name: white_label
paths:
  /v1/applications/applications/{application_id}:
    get:
      tags:
        - applications
      summary: Get Application By Id
      operationId: Applications_getById
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            title: Application Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOutSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/applications/applicants/{applicant_id}:
    get:
      tags:
        - applications
      summary: Get Applicant
      operationId: Applications_getApplicantDetails
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: applicant_id
          in: path
          required: true
          schema:
            title: Applicant Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicantOutSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/applications/applications/revet:
    post:
      tags:
        - applications
      summary: Revet Submission
      operationId: Applications_submitRevetApplication
      security:
        - OAuth2PasswordBearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevetApplicationSchema'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApplicationsSubmitRevetApplicationResponse
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/applications/applications/revet_upload:
    post:
      tags:
        - applications
      summary: Revet Csv Submission
      operationId: Applications_submitCsv
      security:
        - OAuth2PasswordBearer: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/Body_revet_csv_submission_v1_applications_applications_revet_upload_post
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsSubmitCsvResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/applications/get_template:
    get:
      tags:
        - applications
      summary: Revet Csv Template
      operationId: Applications_getCsvTemplate
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsGetCsvTemplateResponse'
  /v1/application_configs/connections_available:
    get:
      tags:
        - application_configs
      summary: Get Connections Available
      operationId: Applicationconfigs_listConnectionsAvailable
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableConnectionSchema'
  /v1/application_configs/{app_config_id}:
    get:
      tags:
        - application_configs
      summary: Get Application Configs By Id
      operationId: Applicationconfigs_getApplicationConfigById
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: app_config_id
          in: path
          required: true
          schema:
            title: App Config Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationConfigOutSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/personal_info_connections/{connection_id}:
    get:
      tags:
        - personal_info_connections
      summary: Get Organisation Personal Connections By Id
      operationId: Personalinfoconnections_getOrganisationsPersonalConnectionsById
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            title: Connection Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalInfoOutSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bank_connections/{application_id}/transactions/labelled:
    get:
      tags:
        - bank_connections
      summary: Get Labelled Transactions
      operationId: Bankconnections_getLabelledTransactions
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            title: Application Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BankconnectionsGetLabelledTransactionsResponse
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                connection_not_ready:
                  value:
                    error_type: code
                    code: connection_not_ready
                    message: Connection not ready
              schema:
                $ref: >-
                  #/components/schemas/BankconnectionsGetLabelledTransactions400Response
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                bank_connection_not_found:
                  value:
                    error_type: code
                    code: bank_connection_not_found
                    message: Bank connection not found
                resource_not_found:
                  value:
                    error_type: code
                    code: resource_not_found
                    message: Resource Not Found
                error_still_analysing_connection:
                  value:
                    error_type: code
                    code: error_still_analysing_connection
                    message: Still Crunching
                error_analysing_connection:
                  value:
                    error_type: code
                    code: error_analysing_connection
                    message: Connection could not be analysed
              schema:
                $ref: >-
                  #/components/schemas/BankconnectionsGetLabelledTransactions404Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bank_connections/{application_id}/affordability:
    get:
      tags:
        - bank_connections
      summary: Get Affordability
      operationId: Bankconnections_getAffordability
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            title: Application Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffordabilityAnalysisOutSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bank_connections/{application_id}/income_analysis:
    get:
      tags:
        - bank_connections
      summary: Get Income Analysis
      operationId: Bankconnections_getIncomeAnalysis
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            title: Application Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeAnalysisOutSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bank_connections/{application_id}/risk_insights:
    get:
      tags:
        - bank_connections
      summary: Get Risk Insights
      operationId: Bankconnections_getRiskInsights
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            title: Application Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskInsightOutModelSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bank_connections/{application_id}/liquidity_score:
    get:
      tags:
        - bank_connections
      summary: Get Liquidity Score
      operationId: Bankconnections_getLiquidityScore
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            title: Application Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidityScoreOutSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bank_connections/{application_id}/expenses_analysis:
    get:
      tags:
        - bank_connections
      summary: Get Expense Insights
      operationId: Bankconnections_getExpenseInsights
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            title: Application Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpensesInsightsOutModelSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bank_connections/{application_id}/recrunch:
    get:
      tags:
        - bank_connections
      summary: Rerun Crunch Analysis
      operationId: Bankconnections_rerunCrunchAnalysis
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            title: Application Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BankconnectionsRerunCrunchAnalysisResponse
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/bank_connections/{application_id}/rethread:
    get:
      tags:
        - bank_connections
      summary: Rerun Thread Analysis
      operationId: Bankconnections_rerunThreadAnalysis
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            title: Application Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BankconnectionsRerunThreadAnalysisResponse
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /transactions/{application_id}:
    get:
      tags:
        - bank_connections
      summary: Get Labelled Transactions
      operationId: Bankconnections_getLabelledTransactions
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            title: Application Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BankconnectionsGetLabelledTransactions200Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /liquidity/{application_id}:
    get:
      tags:
        - bank_connections
      summary: Get Liquidity Score
      operationId: Bankconnections_getLiquidityScore
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: application_id
          in: path
          required: true
          schema:
            title: Application Id
            type: string
            example: 5eb7cf5a86d9755df3a6c593
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidityScoreOutSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/billing/outstanding_bill_amount:
    get:
      tags:
        - billing
      summary: Get Outstanding Bill Amount
      operationId: Billing_getOutstandingBillAmount
      security:
        - OAuth2PasswordBearer: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutstandingBillOutSchema'
  /v1/billing/billable_events:
    get:
      tags:
        - billing
      summary: List Events
      operationId: Billing_listEvents
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: skip
          in: query
          required: false
          schema:
            title: Skip
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            title: Limit
            type: integer
            default: 10
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingListEventsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/billing/pricing:
    get:
      tags:
        - billing
      summary: Get Pricing
      operationId: Billing_getPricing
      security:
        - OAuth2PasswordBearer: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGetPricingResponse'
  /v1/webhooks/payments/peach:
    get:
      tags:
        - payments
      summary: Peach Webhook
      operationId: Payments_getPeachWebhook
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsGetPeachWebhookResponse'
    post:
      tags:
        - payments
      summary: Peach Webhook
      operationId: Payments_createPeachWebhook
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsCreatePeachWebhookResponse'
  /v1/applications/applications:
    get:
      tags:
        - applications
      summary: Get Organisation Applications
      operationId: Applications_getOrganisationApplications
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: skip
          in: query
          required: false
          schema:
            title: Skip
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            title: Limit
            type: integer
            default: 10
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApplicationsGetOrganisationApplicationsResponse
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/applications/applicants:
    get:
      tags:
        - applications
      summary: Get Organisations Applicants
      operationId: Applications_getApplicantsList
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: skip
          in: query
          required: false
          schema:
            title: Skip
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            title: Limit
            type: integer
            default: 10
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsGetApplicantsListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
        - applications
      summary: Create Applicant
      operationId: Applications_submitApplicant
      security:
        - OAuth2PasswordBearer: []
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicantOutSchema'
  /v1/applications:
    post:
      tags:
        - applications
      summary: Create Application
      operationId: Applications_createNewApplication
      security:
        - OAuth2PasswordBearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInSchema'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationOutSchema'
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                application_config_not_found:
                  value:
                    error_type: code
                    code: application_config_not_found
                    message: Application config not found.
                applicant_not_found:
                  value:
                    error_type: code
                    code: applicant_not_found
                    message: Applicant not found
              schema:
                $ref: '#/components/schemas/ApplicationsCreateNewApplicationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/organisations:
    get:
      tags:
        - organisations
      summary: Get Organisation
      operationId: Organisations_list
      security:
        - OAuth2PasswordBearer: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationGetSchema'
  /v1/application_configs/data_point_args:
    get:
      tags:
        - application_configs
      summary: Get Data Point Args
      operationId: Applicationconfigs_getDataPointArgs
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApplicationconfigsGetDataPointArgsResponse
  /v1/application_configs:
    get:
      tags:
        - application_configs
      summary: Get Application Configs By Organisation
      operationId: Applicationconfigs_getByOrganisation
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: skip
          in: query
          required: false
          schema:
            title: Skip
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            title: Limit
            type: integer
            default: 10
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApplicationconfigsGetByOrganisationResponse
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/application_configs/application_configs:
    post:
      tags:
        - application_configs
      summary: Create Application Config
      operationId: Applicationconfigs_createConfig
      security:
        - OAuth2PasswordBearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationConfigInSchema'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationConfigOutSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/personal_info_connections:
    get:
      tags:
        - personal_info_connections
      summary: Get Organisations Personal Connections
      operationId: Personalinfoconnections_getOrganisationsPersonalConnections
      security:
        - OAuth2PasswordBearer: []
      parameters:
        - name: skip
          in: query
          required: false
          schema:
            title: Skip
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            title: Limit
            type: integer
            default: 10
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PersonalinfoconnectionsGetOrganisationsPersonalConnectionsResponse
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/white_label/config:
    patch:
      tags:
        - white_label
      summary: Update Org Whitelabel
      operationId: Whitelabel_updateOrgConfig
      security:
        - OAuth2PasswordBearer: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWhiteLabelInSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhiteLabelOutSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    APITokenCreateInSchema:
      title: APITokenCreateInSchema
      properties:
        name:
          title: Name
          type: string
        scopes:
          title: Scopes
          items:
            type: string
          type: array
      type: object
      required:
        - name
        - scopes
    APITokenCreateOutSchema:
      title: APITokenCreateOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        name:
          title: Name
          type: string
        bearer_token:
          title: Bearer Token
          type: string
        scopes:
          title: Scopes
          items:
            type: string
          type: array
      type: object
      required:
        - id
        - name
        - bearer_token
        - scopes
    APITokenOutSchema:
      title: APITokenOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        name:
          title: Name
          type: string
        scopes:
          title: Scopes
          items:
            type: string
          type: array
      type: object
      required:
        - id
        - name
        - scopes
    AccountSummaryAccount:
      title: AccountSummaryAccount
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        bank_name:
          title: Bank Name
          type: string
        account_name:
          title: Account Name
          type: string
        account_number:
          title: Account Number
          type: string
        account_holder_name:
          title: Account Holder Name
          type: string
          nullable: true
        balance:
          title: Balance
          type: number
      type: object
      required:
        - id
        - bank_name
        - account_name
        - account_number
        - account_holder_name
        - balance
    AccountSummaryWidgetSchema:
      title: AccountSummaryWidgetSchema
      properties:
        accounts:
          title: Accounts
          items:
            $ref: '#/components/schemas/AccountSummaryAccount'
          type: array
      type: object
      required:
        - accounts
    AffordabilityAnalysis:
      title: AffordabilityAnalysis
      properties:
        monthly_affordability:
          title: Monthly Affordability
          items:
            $ref: '#/components/schemas/AffordabilityMonth'
          type: array
        average_full_month_primary_income:
          title: Average Full Month Primary Income
          type: number
          nullable: true
        average_full_month_secondary_income:
          title: Average Full Month Secondary Income
          type: number
          nullable: true
        average_full_month_discretionary_expenses:
          title: Average Full Month Discretionary Expenses
          type: number
          nullable: true
        average_full_month_non_discretionary_expenses:
          title: Average Full Month Non Discretionary Expenses
          type: number
          nullable: true
        average_full_month_affordability:
          title: Average Full Month Affordability
          type: number
      type: object
      required:
        - monthly_affordability
        - average_full_month_affordability
    AffordabilityAnalysisOutSchema:
      title: AffordabilityAnalysisOutSchema
      properties:
        bank_connection:
          title: Bank Connection
          type: string
        affordability:
          $ref: '#/components/schemas/AffordabilityAnalysis'
      type: object
      required:
        - bank_connection
        - affordability
    AffordabilityMonth:
      title: AffordabilityMonth
      properties:
        year:
          title: Year
          type: integer
        month:
          title: Month
          type: integer
        primary_income:
          title: Primary Income
          type: number
        secondary_income:
          title: Secondary Income
          type: number
        non_discretionary_expenses:
          title: Non Discretionary Expenses
          type: number
        discretionary_expenses:
          title: Discretionary Expenses
          type: number
        affordability_amount:
          title: Affordability Amount
          type: number
        full_month:
          title: Full Month
          type: boolean
      type: object
      required:
        - year
        - month
        - primary_income
        - secondary_income
        - non_discretionary_expenses
        - discretionary_expenses
        - affordability_amount
        - full_month
    ApplicantOutSchema:
      title: ApplicantOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        organisation:
          title: Organisation
          type: string
          example: 5eb7cf5a86d9755df3a6c593
      type: object
      required:
        - id
        - organisation
    ApplicationConfigInSchema:
      title: ApplicationConfigInSchema
      properties:
        name:
          title: Name
          type: string
        connections:
          title: Connections
          items:
            $ref: '#/components/schemas/ConnectionSchema'
          type: array
          minItems: 1
        is_default:
          title: Is Default
          type: boolean
          default: false
        default_redirect_url:
          title: Default Redirect Url
          type: string
          minLength: 1
          format: uri
          nullable: true
      type: object
      required:
        - name
        - connections
    ApplicationConfigOutSchema:
      title: ApplicationConfigOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        name:
          title: Name
          type: string
        organisation:
          title: Organisation
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        connections:
          title: Connections
          items:
            $ref: '#/components/schemas/ConnectionSchema'
          type: array
        is_default:
          title: Is Default
          type: boolean
        default_redirect_url:
          title: Default Redirect Url
          type: string
          minLength: 1
          format: uri
          nullable: true
      type: object
      required:
        - id
        - name
        - organisation
        - connections
        - is_default
    ApplicationEmailInviteSchema:
      title: ApplicationEmailInviteSchema
      properties:
        recepient:
          title: Recepient
          type: string
          format: email
        name:
          title: Name
          type: string
        application_config_id:
          title: Application Config Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
          nullable: true
        applicant_id:
          title: Applicant Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
          nullable: true
      type: object
      required:
        - recepient
        - name
    ApplicationInSchema:
      title: ApplicationInSchema
      properties:
        application_config_id:
          title: Application Config Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        applicant_id:
          title: Applicant Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        redirect_url:
          title: Redirect Url
          type: string
          minLength: 1
          format: uri
      type: object
      required:
        - application_config_id
        - applicant_id
        - redirect_url
    ApplicationLink:
      title: ApplicationLink
      properties:
        application_id:
          title: Application Id
          type: string
        link:
          title: Link
          type: string
      type: object
      required:
        - application_id
        - link
    ApplicationOutSchema:
      title: ApplicationOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        applicant:
          title: Applicant
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        redirect_url:
          title: Redirect Url
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          nullable: true
        proxy_id:
          title: Proxy Id
          type: string
      type: object
      required:
        - id
        - applicant
        - redirect_url
        - proxy_id
    AtmAndCashInsights:
      title: AtmAndCashInsights
      properties:
        monthly_atm_and_cash_spend_analysis:
          title: Monthly Atm And Cash Spend Analysis
          items:
            $ref: '#/components/schemas/MonthlyAtmAndCashSpendAnalysi'
          type: array
        atm_and_cash_average_amount:
          title: Atm And Cash Average Amount
          type: number
        average_withdrawal_proportion:
          title: Average Withdrawal Proportion
          type: number
      type: object
      required:
        - monthly_atm_and_cash_spend_analysis
        - atm_and_cash_average_amount
        - average_withdrawal_proportion
    AvailableAccountsSchema:
      title: AvailableAccountsSchema
      properties:
        account_id:
          title: Account Id
          type: string
        bank_slug:
          title: Bank Slug
          type: string
        account_number:
          title: Account Number
          type: string
        account_name:
          title: Account Name
          type: string
      type: object
      required:
        - account_id
        - bank_slug
        - account_number
        - account_name
    AvailableConnectionSchema:
      title: AvailableConnectionSchema
      properties:
        connections:
          title: Connections
          items:
            $ref: '#/components/schemas/ConnectionSchema'
          type: array
      type: object
      required:
        - connections
    BalanceForecast:
      title: BalanceForecast
      properties:
        date:
          title: Date
          type: string
        balance:
          title: Balance
          type: number
      type: object
      required:
        - date
        - balance
    BalanceSchema:
      title: BalanceSchema
      properties:
        balance:
          title: Balance
          type: number
        date:
          title: Date
          type: string
        label:
          title: Label
          type: string
          nullable: true
        month:
          title: Month
          type: integer
        year:
          title: Year
          type: integer
        day:
          title: Day
          type: integer
        forecast:
          title: Forecast
          type: boolean
      type: object
      required:
        - balance
        - date
        - month
        - year
        - day
        - forecast
    Body_login_token_v1_in_auth_login_token_post:
      title: Body_login_token_v1_in_auth_login_token_post
      properties:
        grant_type:
          title: Grant Type
          type: string
          pattern: password
          nullable: true
        username:
          title: Username
          type: string
        password:
          title: Password
          type: string
        scope:
          title: Scope
          type: string
          default: ''
        client_id:
          title: Client Id
          type: string
          nullable: true
        client_secret:
          title: Client Secret
          type: string
          nullable: true
      type: object
      required:
        - username
        - password
    Body_revet_csv_submission_v1_applications_applications_revet_upload_post:
      title: Body_revet_csv_submission_v1_applications_applications_revet_upload_post
      properties:
        file:
          title: File
          type: string
          format: binary
        application_config_id:
          title: Application Config Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
      type: object
      required:
        - file
    Body_upload_statements_v1_in_bank_connections__proxy_id__upload_file_post:
      title: >-
        Body_upload_statements_v1_in_bank_connections__proxy_id__upload_file_post
      properties:
        files:
          title: Files
          items:
            type: string
            format: binary
          type: array
      type: object
      required:
        - files
    ConnectionSchema:
      title: ConnectionSchema
      properties:
        name:
          title: Name
          type: string
        data_points:
          title: Data Points
          items:
            $ref: '#/components/schemas/DataPointSchema'
          type: array
          minItems: 1
      type: object
      required:
        - name
        - data_points
    CreateCardInSchema:
      title: CreateCardInSchema
      properties:
        name:
          title: Name
          type: string
      type: object
      required:
        - name
    CreateCardOutSchema:
      title: CreateCardOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        name:
          title: Name
          type: string
        redirect_url:
          title: Redirect Url
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
      type: object
      required:
        - id
        - name
        - redirect_url
    CreatePasswordInSchema:
      title: CreatePasswordInSchema
      properties:
        token:
          title: Token
          type: string
        new_password:
          title: New Password
          type: string
      type: object
      required:
        - token
        - new_password
    DataPointArgPropertySchema:
      title: DataPointArgPropertySchema
      properties:
        property_name:
          title: Property Name
          type: string
        type:
          title: Type
          type: string
      type: object
      required:
        - property_name
        - type
    DataPointArgSchema:
      title: DataPointArgSchema
      properties:
        type:
          title: Type
          type: string
        properties:
          title: Properties
          items:
            $ref: '#/components/schemas/DataPointArgPropertySchema'
          type: array
        not_null:
          title: Not Null
          items:
            type: string
          type: array
      type: object
      required:
        - type
        - properties
        - not_null
    DataPointSchema:
      title: DataPointSchema
      properties:
        name:
          title: Name
          type: string
        input_args:
          title: Input Args
          items:
            type: string
          type: array
        output_args:
          title: Output Args
          items:
            type: string
          type: array
      type: object
      required:
        - name
        - input_args
        - output_args
    DeleteCardOutSchema:
      title: DeleteCardOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        name:
          title: Name
          type: string
        deleted:
          title: Deleted
          type: boolean
      type: object
      required:
        - id
        - name
        - deleted
    EmailSentResponseSchema:
      title: EmailSentResponseSchema
      properties:
        message:
          title: Message
          type: string
          default: Connect email sent
      type: object
    ExpenseInsights:
      title: ExpenseInsights
      properties:
        top_expense_amounts:
          title: Top Expense Amounts
          items:
            $ref: '#/components/schemas/TopExpenseAmount'
          type: array
        unique_months:
          title: Unique Months
          type: integer
        spend_split:
          $ref: '#/components/schemas/SpendSplit'
      type: object
      required:
        - top_expense_amounts
        - unique_months
        - spend_split
    ExpensesInsightsOutModelSchema:
      title: ExpensesInsightsOutModelSchema
      properties:
        bank_connection:
          title: Bank Connection
          type: string
        expenses_insights:
          $ref: '#/components/schemas/ExpenseInsights'
      type: object
      required:
        - bank_connection
        - expenses_insights
    ExpensesWidgetOutSchema:
      title: ExpensesWidgetOutSchema
      properties:
        average_income:
          title: Average Income
          type: number
        average_income_with_transfers:
          title: Average Income With Transfers
          type: number
        average_discretionary_expenses:
          title: Average Discretionary Expenses
          type: number
        average_non_discretionary_expenses:
          title: Average Non Discretionary Expenses
          type: number
        average_net_disposable_income:
          title: Average Net Disposable Income
          type: number
        spend_categories:
          title: Spend Categories
          items:
            $ref: '#/components/schemas/SpendCategoryWidgetSchema'
          type: array
        top_spend_categories:
          title: Top Spend Categories
          items:
            $ref: '#/components/schemas/SpendCategoryWidgetSchema'
          type: array
        expense_breakdown:
          $ref: '#/components/schemas/SpendSplit'
      type: object
      required:
        - average_income
        - average_income_with_transfers
        - average_discretionary_expenses
        - average_non_discretionary_expenses
        - average_net_disposable_income
        - spend_categories
        - top_spend_categories
        - expense_breakdown
    GamblingInsights:
      title: GamblingInsights
      properties:
        monthly_gambling_analysis:
          title: Monthly Gambling Analysis
          items:
            $ref: '#/components/schemas/MonthlyGamblingAnalysis'
          type: array
        monthly_average_gambling_spend:
          title: Monthly Average Gambling Spend
          type: number
        monthly_average_gambling_proportion:
          title: Monthly Average Gambling Proportion
          type: number
      type: object
      required:
        - monthly_gambling_analysis
        - monthly_average_gambling_spend
        - monthly_average_gambling_proportion
    GetCardOutSchema:
      title: GetCardOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        name:
          title: Name
          type: string
        is_linked:
          title: Is Linked
          type: boolean
        deleted:
          title: Deleted
          type: boolean
        last_four:
          title: Last Four
          type: string
          nullable: true
        brand:
          title: Brand
          type: string
          nullable: true
      type: object
      required:
        - id
        - name
        - is_linked
        - deleted
        - last_four
        - brand
    GetPricingOutSchema:
      title: GetPricingOutSchema
      properties:
        display_title:
          title: Display Title
          type: string
        type:
          title: Type
          type: string
        price:
          title: Price
          type: number
      type: object
      required:
        - display_title
        - type
        - price
    HTTPValidationError:
      title: HTTPValidationError
      properties:
        detail:
          title: Detail
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
      type: object
    IncomeAnalysis:
      title: IncomeAnalysis
      properties:
        consistency_score:
          title: Consistency Score
          type: number
          nullable: true
        longevity_score:
          title: Longevity Score
          type: number
          nullable: true
        regularity_score:
          title: Regularity Score
          type: number
          nullable: true
        income_month_breaks:
          title: Income Month Breaks
          type: number
          nullable: true
        income_indicator:
          title: Income Indicator
          anyOf:
            - type: number
            - type: string
          nullable: true
        months_back:
          title: Months Back
          type: number
          nullable: true
      type: object
    IncomeAnalysisOutSchema:
      title: IncomeAnalysisOutSchema
      properties:
        bank_connection:
          title: Bank Connection
          type: string
        income_analysis:
          $ref: '#/components/schemas/IncomeAnalysis'
      type: object
      required:
        - bank_connection
        - income_analysis
    IncomeWidgetOutSchema:
      title: IncomeWidgetOutSchema
      properties:
        liquidity:
          $ref: '#/components/schemas/LiqiudityWidgetSchema'
        income:
          $ref: '#/components/schemas/IncomeWidgetSchema'
        salary:
          title: Salary
          items:
            $ref: '#/components/schemas/SalaryWidgetSchema'
          type: array
        balance:
          title: Balance
          items:
            $ref: '#/components/schemas/BalanceSchema'
          type: array
      type: object
      required:
        - liquidity
        - income
        - salary
        - balance
    IncomeWidgetSchema:
      title: IncomeWidgetSchema
      properties:
        longevity:
          title: Longevity
          type: number
          nullable: true
        consistency:
          title: Consistency
          type: number
          nullable: true
        regularity:
          title: Regularity
          type: number
          nullable: true
      type: object
    IsAutomatedLinkOut:
      title: IsAutomatedLinkOut
      properties:
        is_automated_link:
          title: Is Automated Link
          type: boolean
      type: object
      required:
        - is_automated_link
    LabelledTransactionSchema:
      title: LabelledTransactionSchema
      properties:
        description:
          title: Description
          type: string
          nullable: true
        id:
          title: Id
          type: string
        datetime:
          title: Datetime
          type: string
          format: date-time
        amount:
          title: Amount
          type: number
        reference:
          title: Reference
          type: string
          nullable: true
        currency:
          title: Currency
          type: string
        label:
          title: Label
          type: string
        balance:
          title: Balance
          type: number
        bank_slug:
          title: Bank Slug
          type: string
      type: object
      required:
        - id
        - datetime
        - amount
        - currency
        - balance
        - bank_slug
    LiqiudityWidgetSchema:
      title: LiqiudityWidgetSchema
      properties:
        liquidity_30_days:
          title: Liquidity 30 Days
          type: number
        liquidity_60_days:
          title: Liquidity 60 Days
          type: number
        liquidity_90_days:
          title: Liquidity 90 Days
          type: number
      type: object
      required:
        - liquidity_30_days
        - liquidity_60_days
        - liquidity_90_days
    LiquidityScore:
      title: LiquidityScore
      properties:
        start_date:
          title: Start Date
          type: string
        end_date:
          title: End Date
          type: string
        30_day_liquidity_score:
          title: 30 Day Liquidity Score
          type: number
        60_day_liquidity_score:
          title: 60 Day Liquidity Score
          type: number
        90_day_liquidity_score:
          title: 90 Day Liquidity Score
          type: number
        balance_forecast:
          title: Balance Forecast
          items:
            $ref: '#/components/schemas/BalanceForecast'
          type: array
          nullable: true
      type: object
      required:
        - start_date
        - end_date
        - 30_day_liquidity_score
        - 60_day_liquidity_score
        - 90_day_liquidity_score
    LiquidityScoreOutSchema:
      title: LiquidityScoreOutSchema
      properties:
        bank_connection:
          title: Bank Connection
          type: string
        liquidity_score:
          $ref: '#/components/schemas/LiquidityScore'
      type: object
      required:
        - bank_connection
        - liquidity_score
    ListApplicantConnectOutSchema:
      title: ListApplicantConnectOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        config:
          title: Config
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        applicant:
          title: Applicant
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        created_at:
          title: Created At
          type: string
          format: date-time
        status:
          title: Status
          type: string
        latest_connect:
          title: Latest Connect
          type: boolean
          default: false
      type: object
      required:
        - id
        - config
        - applicant
        - created_at
        - status
    ListBillingEventOutSchema:
      title: ListBillingEventOutSchema
      properties:
        title:
          title: Title
          type: string
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        type:
          title: Type
          type: string
        billed_price:
          title: Billed Price
          type: number
        created_at:
          title: Created At
          type: string
          format: date-time
        billable_item:
          title: Billable Item
          type: string
          example: 5eb7cf5a86d9755df3a6c593
      type: object
      required:
        - id
        - title
        - type
        - billed_price
        - created_at
        - billable_item
    ListConnectOutSchema:
      title: ListConnectOutSchema
      properties:
        data:
          title: Data
          items:
            $ref: '#/components/schemas/SingleConnectOutSchema'
          type: array
        count:
          title: Count
          type: integer
        has_next:
          title: Has Next
          type: boolean
        has_prev:
          title: Has Prev
          type: boolean
      type: object
      required:
        - data
        - count
        - has_next
        - has_prev
    ListFilesSchema:
      title: ListFilesSchema
      properties:
        title:
          title: Title
          type: string
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        size_bytes:
          title: Size Bytes
          type: integer
        size:
          title: Size
          type: number
        size_unit:
          title: Size Unit
          type: string
        size_unit_concat:
          title: Size Unit Concat
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        modified_at:
          title: Modified At
          type: string
          format: date-time
        file_url:
          title: File Url
          type: string
      type: object
      required:
        - id
        - title
        - size_bytes
        - size
        - size_unit
        - size_unit_concat
        - created_at
        - modified_at
        - file_url
    MonthlyAtmAndCashSpendAnalysi:
      title: MonthlyAtmAndCashSpendAnalysi
      properties:
        year:
          title: Year
          type: integer
        month:
          title: Month
          type: integer
        total_withdrawal_amount:
          title: Total Withdrawal Amount
          type: number
        total_salary_amount:
          title: Total Salary Amount
          type: number
        cash_proportion:
          title: Cash Proportion
          type: number
      type: object
      required:
        - year
        - month
        - total_withdrawal_amount
        - total_salary_amount
        - cash_proportion
    MonthlyGamblingAnalysis:
      title: MonthlyGamblingAnalysis
      properties:
        year:
          title: Year
          type: integer
        month:
          title: Month
          type: integer
        total_gambling_amount:
          title: Total Gambling Amount
          type: number
        total_salary_amount:
          title: Total Salary Amount
          type: number
        gambling_proportion:
          title: Gambling Proportion
          type: number
      type: object
      required:
        - year
        - month
        - total_gambling_amount
        - total_salary_amount
        - gambling_proportion
    MonthlyOverdraftAnalysis:
      title: MonthlyOverdraftAnalysis
      properties:
        year:
          title: Year
          type: integer
        month:
          title: Month
          type: integer
        days_in_overdraft:
          title: Days In Overdraft
          type: integer
      type: object
      required:
        - year
        - month
        - days_in_overdraft
    MonthlySSIAnalysis:
      title: MonthlySSIAnalysis
      properties:
        year:
          title: Year
          type: integer
        month:
          title: Month
          type: integer
        total_social_security_amount:
          title: Total Social Security Amount
          type: number
      type: object
      required:
        - year
        - month
        - total_social_security_amount
    NetSaverSpender:
      title: NetSaverSpender
      properties:
        net_saver_spender:
          title: Net Saver Spender
          type: string
      type: object
      required:
        - net_saver_spender
    OrganisationCreateInSchema:
      title: OrganisationCreateInSchema
      properties:
        name_slug:
          title: Name Slug
          type: string
        email:
          title: Email
          type: string
          format: email
        password:
          title: Password
          type: string
      type: object
      required:
        - name_slug
        - email
        - password
    OrganisationCreateOutSchema:
      title: OrganisationCreateOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        name_slug:
          title: Name Slug
          type: string
        bearer_token:
          title: Bearer Token
          type: string
      type: object
      required:
        - id
        - name_slug
        - bearer_token
    OrganisationGetSchema:
      title: OrganisationGetSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        name_slug:
          title: Name Slug
          type: string
      type: object
      required:
        - id
        - name_slug
    OrganisationUserOutSchema:
      title: OrganisationUserOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        name:
          title: Name
          type: string
        email:
          title: Email
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        last_login:
          title: Last Login
          type: string
          format: date-time
          nullable: true
      type: object
      required:
        - id
        - name
        - email
        - created_at
    OrganisationUserPermission:
      title: OrganisationUserPermission
      properties:
        permissions:
          title: Permissions
          items:
            type: string
          type: array
      type: object
      required:
        - permissions
    OrganisationUsers:
      title: OrganisationUsers
      properties:
        users:
          title: Users
          items:
            $ref: '#/components/schemas/OrganisationUserOutSchema'
          type: array
      type: object
      required:
        - users
    OutstandingBillOutSchema:
      title: OutstandingBillOutSchema
      properties:
        amount:
          title: Amount
          type: number
      type: object
      required:
        - amount
    OverdraftInsights:
      title: OverdraftInsights
      properties:
        total_days_in_overdraft:
          title: Total Days In Overdraft
          type: integer
        total_proportion_of_days_in_overdraft:
          title: Total Proportion Of Days In Overdraft
          type: number
        unique_months:
          title: Unique Months
          type: integer
        monthly_average_days_in_overdraft:
          title: Monthly Average Days In Overdraft
          type: number
        monthly_overdraft_analysis:
          title: Monthly Overdraft Analysis
          items:
            $ref: '#/components/schemas/MonthlyOverdraftAnalysis'
          type: array
      type: object
      required:
        - total_days_in_overdraft
        - total_proportion_of_days_in_overdraft
        - unique_months
        - monthly_average_days_in_overdraft
        - monthly_overdraft_analysis
    PasswordResetInSchema:
      title: PasswordResetInSchema
      properties:
        token:
          title: Token
          type: string
        new_password:
          title: New Password
          type: string
      type: object
      required:
        - token
        - new_password
    PasswordResetRequestInSchema:
      title: PasswordResetRequestInSchema
      properties:
        username:
          title: Username
          type: string
      type: object
      required:
        - username
    PermissionDetail:
      title: PermissionDetail
      properties:
        description:
          title: Description
          type: string
        permission:
          title: Permission
          type: string
        ui_display_name:
          title: Ui Display Name
          type: string
      type: object
      required:
        - permission
        - ui_display_name
        - description
    PermissionList:
      title: PermissionList
      properties:
        permissions:
          title: Permissions
          items:
            $ref: '#/components/schemas/PermissionDetail'
          type: array
      type: object
      required:
        - permissions
    PersonalInfoConsoleDetailOutSchema:
      title: PersonalInfoConsoleDetailOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        application:
          title: Application
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        first_names:
          title: First Names
          type: string
        last_names:
          title: Last Names
          type: string
        date_of_birth:
          title: Date Of Birth
          type: string
        gov_id:
          title: Gov Id
          type: string
        id_country:
          title: Id Country
          type: string
        id_type:
          title: Id Type
          type: string
        nationality:
          title: Nationality
          type: string
        email:
          title: Email
          type: string
          format: email
          nullable: true
        phone:
          title: Phone
          type: string
          nullable: true
        created_at:
          title: Created At
          type: string
          format: date-time
      type: object
      required:
        - id
        - application
        - first_names
        - last_names
        - date_of_birth
        - gov_id
        - id_country
        - id_type
        - nationality
        - email
        - phone
        - created_at
    PersonalInfoDataSchema:
      title: PersonalInfoDataSchema
      properties:
        first_names:
          title: First Names
          type: string
        last_names:
          title: Last Names
          type: string
        date_of_birth:
          title: Date Of Birth
          type: string
        gov_id:
          title: Gov Id
          type: string
        id_country:
          title: Id Country
          type: string
        id_type:
          title: Id Type
          type: string
        nationality:
          title: Nationality
          type: string
        email:
          title: Email
          type: string
          format: email
          nullable: true
        phone:
          title: Phone
          type: string
          nullable: true
      type: object
      required:
        - first_names
        - last_names
        - date_of_birth
        - gov_id
        - id_country
        - id_type
        - nationality
        - email
        - phone
    PersonalInfoInputDataSchema:
      title: PersonalInfoInputDataSchema
      properties:
        first_names:
          title: First Names
          type: string
          maxLength: 24
          minLength: 2
        last_names:
          title: Last Names
          type: string
          maxLength: 24
          minLength: 2
        date_of_birth:
          title: Date Of Birth
          type: string
          format: date
        nationality:
          title: Nationality
          type: string
        id_type:
          title: Id Type
          type: string
        id_country:
          title: Id Country
          type: string
        email:
          title: Email
          type: string
          format: email
        phone:
          title: Phone
          type: string
          maxLength: 12
          minLength: 10
          nullable: true
        gov_id:
          title: Gov Id
          type: string
          maxLength: 13
          minLength: 7
      type: object
      required:
        - first_names
        - last_names
        - date_of_birth
        - nationality
        - id_type
        - id_country
        - email
        - gov_id
    PersonalInfoOutSchema:
      title: PersonalInfoOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        application:
          title: Application
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        data:
          $ref: '#/components/schemas/PersonalInfoDataSchemaNullable'
      type: object
      required:
        - id
        - application
        - data
    ReconnectBankOnlySchema:
      title: ReconnectBankOnlySchema
      properties:
        new_application_id:
          title: New Application Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
      type: object
      required:
        - new_application_id
    RelinkCardOutSchema:
      title: RelinkCardOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        name:
          title: Name
          type: string
        redirect_url:
          title: Redirect Url
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
      type: object
      required:
        - id
        - name
        - redirect_url
    ReturnedDebitOrderInsights:
      title: ReturnedDebitOrderInsights
      properties:
        last_month_count:
          title: Last Month Count
          type: number
        last_3_months_count:
          title: Last 3 Months Count
          type: number
        last_6_months_count:
          title: Last 6 Months Count
          type: number
        last_12_months_count:
          title: Last 12 Months Count
          type: number
        monthly_average_debit_order_value:
          title: Monthly Average Debit Order Value
          type: number
      type: object
      required:
        - last_month_count
        - last_3_months_count
        - last_6_months_count
        - last_12_months_count
        - monthly_average_debit_order_value
    RevetApplicationSchema:
      title: RevetApplicationSchema
      properties:
        applications:
          title: Applications
          items:
            $ref: '#/components/schemas/RevetLoanApplicationSchema'
          type: array
        application_config_id:
          title: Application Config Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
          nullable: true
      type: object
      required:
        - applications
    RevetLoanApplicationSchema:
      title: RevetLoanApplicationSchema
      properties:
        name:
          title: Name
          type: string
        email:
          title: Email
          type: string
          format: email
        phone:
          title: Phone
          type: string
        contact_method:
          title: Contact Method
          type: string
          default: email
        installment_value:
          title: Installment Value
          type: number
          nullable: true
        loan_duration:
          title: Loan Duration
          type: integer
          nullable: true
        loan_amount:
          title: Loan Amount
          type: number
          nullable: true
      type: object
      required:
        - name
        - email
        - phone
    RiskInsightOutModelSchema:
      title: RiskInsightOutModelSchema
      properties:
        bank_connection:
          title: Bank Connection
          type: string
        risk_insights:
          $ref: '#/components/schemas/RiskInsights'
      type: object
      required:
        - bank_connection
        - risk_insights
    RiskInsights:
      title: RiskInsights
      properties:
        begin_date:
          title: Begin Date
          type: string
        end_date:
          title: End Date
          type: string
        risk_insights:
          $ref: '#/components/schemas/Risks'
      type: object
      required:
        - begin_date
        - end_date
        - risk_insights
    RiskInsightsOutWidgetSchema:
      title: RiskInsightsOutWidgetSchema
      properties:
        risk_insights:
          title: Risk Insights
          items:
            $ref: '#/components/schemas/RiskInsightsWidgetSchema'
          type: array
      type: object
      required:
        - risk_insights
    RiskInsightsWidgetSchema:
      title: RiskInsightsWidgetSchema
      properties:
        title:
          title: Title
          type: string
        description:
          title: Description
          type: string
        risk:
          title: Risk
          type: string
      type: object
      required:
        - title
        - description
        - risk
    Risks:
      title: Risks
      properties:
        gambling_insights:
          $ref: '#/components/schemas/GamblingInsights'
        overdraft_insights:
          $ref: '#/components/schemas/OverdraftInsights'
        returned_debit_orders_insights:
          $ref: '#/components/schemas/ReturnedDebitOrderInsights'
        atm_and_cash_insights:
          $ref: '#/components/schemas/AtmAndCashInsights'
        net_saver_spender_insights:
          $ref: '#/components/schemas/NetSaverSpenderNullable'
        ssi_insights:
          $ref: '#/components/schemas/SSIInsightsNullable'
      type: object
      required:
        - gambling_insights
        - overdraft_insights
        - returned_debit_orders_insights
        - atm_and_cash_insights
    SSIInsights:
      title: SSIInsights
      properties:
        monthly_ssi_analysis:
          title: Monthly Ssi Analysis
          items:
            $ref: '#/components/schemas/MonthlySSIAnalysis'
          type: array
        monthly_average_ssi:
          title: Monthly Average Ssi
          type: number
          nullable: true
      type: object
      required:
        - monthly_ssi_analysis
    SalaryWidgetSchema:
      title: SalaryWidgetSchema
      properties:
        description:
          title: Description
          type: string
        account_number:
          title: Account Number
          type: string
        salary:
          title: Salary
          type: number
        month:
          title: Month
          type: string
        year:
          title: Year
          type: integer
        date:
          title: Date
          type: string
          format: date-time
      type: object
      required:
        - account_number
        - description
        - salary
        - month
        - year
        - date
    SingleConnectOutSchema:
      title: SingleConnectOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        config:
          title: Config
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        applicant:
          title: Applicant
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        organisation:
          title: Organisation
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        created_at:
          title: Created At
          type: string
          format: date-time
        applicant_name:
          title: Applicant Name
          type: string
          nullable: true
        id_number:
          title: Id Number
          type: string
          nullable: true
        phone_number:
          title: Phone Number
          type: string
          nullable: true
        status:
          title: Status
          type: string
        email:
          title: Email
          type: string
          nullable: true
        nationality:
          title: Nationality
          type: string
          nullable: true
      type: object
      required:
        - id
        - config
        - applicant
        - organisation
        - created_at
        - applicant_name
        - id_number
        - phone_number
        - status
    SingleTransactionDetailSchema:
      title: SingleTransactionDetailSchema
      properties:
        description:
          title: Description
          type: string
          nullable: true
        account:
          title: Account
          type: string
        account_number:
          title: Account Number
          type: string
        datetime:
          title: Datetime
          type: string
          format: date-time
        amount:
          title: Amount
          type: number
        reference:
          title: Reference
          type: string
          nullable: true
        currency:
          title: Currency
          type: string
        label:
          title: Label
          type: string
        balance:
          title: Balance
          type: number
        bank_slug:
          title: Bank Slug
          type: string
      type: object
      required:
        - account
        - account_number
        - datetime
        - amount
        - currency
        - balance
        - bank_slug
    SpendCategoryWidgetSchema:
      title: SpendCategoryWidgetSchema
      properties:
        category:
          title: Category
          type: string
        amount:
          title: Amount
          type: number
      type: object
      required:
        - category
        - amount
    SpendSplit:
      title: SpendSplit
      properties:
        discretionary_spend_percentage:
          title: Discretionary Spend Percentage
          default: 0
          type: number
          nullable: true
        non_discretionary_spend_percentage:
          title: Non Discretionary Spend Percentage
          default: 0
          type: number
          nullable: true
      type: object
    ThreadBankAccountSummary:
      title: ThreadBankAccountSummary
      properties:
        account_name:
          title: Account Name
          type: string
        account_number:
          title: Account Number
          type: string
        account_type:
          title: Account Type
          type: string
          nullable: true
        balance:
          title: Balance
          type: number
        currency:
          title: Currency
          type: string
      type: object
      required:
        - account_name
        - account_number
        - account_type
        - balance
        - currency
    ThreadBankSummaryOutSchema:
      title: ThreadBankSummaryOutSchema
      properties:
        bank_id:
          title: Bank Id
          type: string
        accounts:
          title: Accounts
          items:
            $ref: '#/components/schemas/ThreadBankAccountSummary'
          type: array
          nullable: true
      type: object
      required:
        - bank_id
    ThreadOAuthCodeInSchema:
      title: ThreadOAuthCodeInSchema
      properties:
        code:
          title: Code
          type: string
        code_verifier:
          title: Code Verifier
          type: string
        redirect_uri:
          title: Redirect Uri
          type: string
          minLength: 1
          format: uri
      type: object
      required:
        - code
        - code_verifier
        - redirect_uri
    ThreadOAuthCodeOutSchema:
      title: ThreadOAuthCodeOutSchema
      properties:
        success:
          title: Success
          type: boolean
          default: true
      type: object
    TopExpenseAmount:
      title: TopExpenseAmount
      properties:
        label:
          title: Label
          type: string
        amount:
          title: Amount
          type: number
        average_monthly_spend:
          title: Average Monthly Spend
          type: number
        percentage_of_total_spend:
          title: Percentage Of Total Spend
          default: 0
          type: number
          nullable: true
      type: object
      required:
        - label
        - amount
        - average_monthly_spend
    TopupInSchema:
      title: TopupInSchema
      properties:
        card_id:
          title: Card Id
          type: string
        topup_amount:
          title: Topup Amount
          type: number
      type: object
      required:
        - card_id
        - topup_amount
    TopupOutSchema:
      title: TopupOutSchema
      properties:
        message:
          title: Message
          type: string
        status:
          title: Status
          type: string
        new_balance:
          title: New Balance
          type: number
      type: object
      required:
        - message
        - status
        - new_balance
    TransactionsLabelledDetailOutSchema:
      title: TransactionsLabelledDetailOutSchema
      properties:
        count:
          title: Count
          type: integer
        has_next:
          title: Has Next
          type: boolean
        has_prev:
          title: Has Prev
          type: boolean
        data:
          title: Data
          items:
            $ref: '#/components/schemas/SingleTransactionDetailSchema'
          type: array
        available_accounts:
          title: Available Accounts
          items:
            $ref: '#/components/schemas/AvailableAccountsSchema'
          type: array
        crunch_categories:
          title: Crunch Categories
          items:
            type: string
          type: array
          default:
            - Alcohol
            - ATM and Cash Withdrawal
            - Auto Insurance
            - Auto Loan Repayment
            - Bank Charges and Fees
            - Bank Transfer
            - BNPL
            - Cash Deposit
            - Cash Deposit Fee
            - Cash Withdrawal Fee
            - Cellular Data Purchase
            - Children and Dependents
            - Clothing
            - Coffee
            - Credit Card Repayments
            - Debt Review Payment
            - Debit Order
            - Donation
            - Education
            - Electronics and Appliances
            - Entertainment
            - Eating Out
            - Fuel
            - Funeral Cover
            - Gambling
            - General Insurance
            - General Loan Repayment
            - General Purchases
            - Groceries
            - Health and Medical
            - Health Insurance
            - Holidays and Travel
            - Home and Garden
            - Home Insurance
            - Home Loan Repayment
            - Insufficient Funds Fee
            - Interest Received
            - Interest Repayment
            - Investments
            - Life Insurance
            - Nightlife & Entertainment
            - Online Purchase
            - Overdraft Fee
            - Parking
            - Personal Care
            - Refund
            - Rent
            - Returned Debit Order
            - Salaries and Wages
            - SARS
            - Savings Transfer
            - Social Security Income
            - Spend Limit Exceeded Fee
            - Sport
            - Subscriptions
            - Tax Payment
            - Tobacco & Smoking
            - Transaction Declined Fee
            - Transport
            - UIF
            - Uncategorised
            - Utilities - Electricity
            - Utilities - Telephone
            - Utilities - Water
            - Loan Disbursement
      type: object
      required:
        - count
        - has_next
        - has_prev
        - data
        - available_accounts
    TransactionsLabelledOutSchema:
      title: TransactionsLabelledOutSchema
      properties:
        account:
          title: Account
          type: string
        transactions:
          title: Transactions
          items:
            $ref: '#/components/schemas/LabelledTransactionSchema'
          type: array
      type: object
      required:
        - account
        - transactions
    UpdateWhiteLabelInSchema:
      title: UpdateWhiteLabelInSchema
      properties:
        display_name:
          title: Display Name
          type: string
          nullable: true
        primary_colour_hex:
          title: Primary Colour Hex
          type: string
          nullable: true
        secondary_colour_hex:
          title: Secondary Colour Hex
          type: string
          nullable: true
        image_base64:
          title: Image Base64
          type: string
          nullable: true
        welcome_title:
          title: Welcome Title
          type: string
          nullable: true
        welcome_description:
          title: Welcome Description
          type: string
          nullable: true
      type: object
    UserCreateInSchema:
      title: UserCreateInSchema
      properties:
        name:
          title: Name
          type: string
        email:
          title: Email
          type: string
          format: email
        permissions:
          title: Permissions
          items:
            type: string
          type: array
      type: object
      required:
        - name
        - email
        - permissions
    UserCreateOutSchema:
      title: UserCreateOutSchema
      properties:
        id:
          title: Id
          type: string
          example: 5eb7cf5a86d9755df3a6c593
        name:
          title: Name
          type: string
        email:
          title: Email
          type: string
          format: email
      type: object
      required:
        - id
        - name
        - email
    ValidTabs:
      title: ValidTabs
      properties:
        tabs:
          title: Tabs
          items:
            type: string
          type: array
      type: object
      required:
        - tabs
    ValidationError:
      title: ValidationError
      properties:
        loc:
          title: Location
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      type: object
      required:
        - loc
        - msg
        - type
    WhiteLabelOutSchema:
      title: WhiteLabelOutSchema
      properties:
        display_name:
          title: Display Name
          type: string
        primary_colour_hex:
          title: Primary Colour Hex
          type: string
        secondary_colour_hex:
          title: Secondary Colour Hex
          type: string
          nullable: true
        image_url:
          title: Image Url
          type: string
          minLength: 1
          format: uri
          nullable: true
        welcome_title:
          title: Welcome Title
          type: string
        welcome_description:
          title: Welcome Description
          type: string
      type: object
      required:
        - display_name
        - primary_colour_hex
        - secondary_colour_hex
        - image_url
        - welcome_title
        - welcome_description
    PersonalInfoDataSchemaNullable:
      title: PersonalInfoDataSchema
      properties:
        first_names:
          title: First Names
          type: string
        last_names:
          title: Last Names
          type: string
        date_of_birth:
          title: Date Of Birth
          type: string
        gov_id:
          title: Gov Id
          type: string
        id_country:
          title: Id Country
          type: string
        id_type:
          title: Id Type
          type: string
        nationality:
          title: Nationality
          type: string
        email:
          title: Email
          type: string
          format: email
          nullable: true
        phone:
          title: Phone
          type: string
          nullable: true
      type: object
      required:
        - first_names
        - last_names
        - date_of_birth
        - gov_id
        - id_country
        - id_type
        - nationality
        - email
        - phone
      nullable: true
    NetSaverSpenderNullable:
      title: NetSaverSpender
      properties:
        net_saver_spender:
          title: Net Saver Spender
          type: string
      type: object
      required:
        - net_saver_spender
      nullable: true
    SSIInsightsNullable:
      title: SSIInsights
      properties:
        monthly_ssi_analysis:
          title: Monthly Ssi Analysis
          items:
            $ref: '#/components/schemas/MonthlySSIAnalysis'
          type: array
        monthly_average_ssi:
          title: Monthly Average Ssi
          type: number
          nullable: true
      type: object
      required:
        - monthly_ssi_analysis
      nullable: true
    ApplicationsSubmitRevetApplicationResponse:
      title: Response Revet Submission V1 Applications Applications Revet Post
      type: object
    ApplicationsSubmitCsvResponse:
      title: >-
        Response Revet Csv Submission V1 Applications Applications Revet Upload
        Post
      type: object
    ApplicationsGetCsvTemplateResponse:
      type: object
      properties: {}
      example: {}
    BankconnectionsGetLabelledTransactionsResponse:
      title: >-
        Response Get Labelled Transactions V1 Bank Connections  Application Id 
        Transactions Labelled Get
      type: array
      items:
        $ref: '#/components/schemas/TransactionsLabelledOutSchema'
    BankconnectionsGetLabelledTransactions400Response:
      type: object
      properties:
        error_type:
          type: string
          example: code
        code:
          type: string
          example: connection_not_ready
        message:
          type: string
          example: Connection not ready
      example:
        error_type: code
        code: connection_not_ready
        message: Connection not ready
    BankconnectionsGetLabelledTransactions404Response:
      type: object
      properties:
        error_type:
          type: string
          example: code
        code:
          type: string
          example: bank_connection_not_found
        message:
          type: string
          example: Bank connection not found
      example:
        error_type: code
        code: bank_connection_not_found
        message: Bank connection not found
    BankconnectionsRerunCrunchAnalysisResponse:
      title: >-
        Response Rerun Crunch Analysis V1 Bank Connections  Application Id 
        Recrunch Get
      type: object
    BankconnectionsRerunThreadAnalysisResponse:
      type: object
      properties: {}
      example: {}
    BankconnectionsGetLabelledTransactions200Response:
      title: Response Get Labelled Transactions Transactions  Application Id  Get
      type: array
      items:
        $ref: '#/components/schemas/TransactionsLabelledOutSchema'
    BillingListEventsResponse:
      title: Response List Events V1 Billing Billable Events Get
      type: array
      items:
        $ref: '#/components/schemas/ListBillingEventOutSchema'
    BillingGetPricingResponse:
      title: Response Get Pricing V1 Billing Pricing Get
      items:
        $ref: '#/components/schemas/GetPricingOutSchema'
      type: array
    PaymentsGetPeachWebhookResponse:
      title: Response Peach Webhook V1 Webhooks Payments Peach Get
      type: object
    PaymentsCreatePeachWebhookResponse:
      title: Response Peach Webhook V1 Webhooks Payments Peach Post
      type: object
    ApplicationsGetOrganisationApplicationsResponse:
      title: Response Get Organisation Applications V1 Applications Applications  Get
      type: array
      items:
        $ref: '#/components/schemas/ApplicationOutSchema'
    ApplicationsGetApplicantsListResponse:
      title: Response Get Organisations Applicants V1 Applications Applicants  Get
      type: array
      items:
        $ref: '#/components/schemas/ApplicantOutSchema'
    ApplicationsCreateNewApplicationResponse:
      type: object
      properties:
        error_type:
          type: string
          example: code
        code:
          type: string
          example: application_config_not_found
        message:
          type: string
          example: Application config not found.
      example:
        error_type: code
        code: application_config_not_found
        message: Application config not found.
    ApplicationconfigsGetDataPointArgsResponse:
      title: Response Get Data Point Args V1 Application Configs Data Point Args  Get
      items:
        $ref: '#/components/schemas/DataPointArgSchema'
      type: array
    ApplicationconfigsGetByOrganisationResponse:
      title: >-
        Response Get Application Configs By Organisation V1 Application Configs 
        Get
      type: array
      items:
        $ref: '#/components/schemas/ApplicationConfigOutSchema'
    PersonalinfoconnectionsGetOrganisationsPersonalConnectionsResponse:
      title: >-
        Response Get Organisations Personal Connections V1 Personal Info
        Connections  Get
      type: array
      items:
        $ref: '#/components/schemas/PersonalInfoOutSchema'
  securitySchemes:
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes:
            internal: Allow internal endpoints.
            organisation:api: Allow API.
          tokenUrl: v1/in/auth/login/token
