openapi: 3.0.3
info:
  title: Relysia Blockchain API
  description: Relysia makes blockchain adoption frictionless and easy.
  version: 2.4.8
servers:
  - url: https://api.relysia.com
tags:
  - name: admin
  - description: Blockchain transaction related APIs.
    name: Transactions
    externalDocs:
      description: Our Documentation
      url: https://docs.relysia.com/payments/transactions
  - description: Useful blockchain tools.
    name: Utility
    externalDocs:
      description: Our documentation
      url: https://docs.relysia.com/utility
  - description: Blockchain wallet management related APIs.
    name: Wallets
    externalDocs:
      description: 'Our Documentation:'
      url: https://docs.relysia.com/wallets
  - description: BSV alias related APIs
    name: paymail
  - description: Token and Smart Contract related APIs.
    name: Smart Contracts
    externalDocs:
      description: Our documentation
      url: https://docs.relysia.com/token
  - description: User Authentication and Registration.
    name: Authentication
    externalDocs:
      description: find more info about auth Api
      url: https://docs.relysia.com/getting-started/setup
  - description: 'Danger Zone: Delete Entries from the DB.'
    name: Delete
  - name: quota
  - description: Push Notifications.
    name: Notifications
  - description: User identity related APIs.
    name: Identity
    externalDocs:
      description: find more info about user Api.
      url: https://docs.relysia.com/getting-started/setup
paths:
  /:
    get:
      tags:
        - Utility
      operationId: Utility_getData
      responses:
        '200':
          description: Default Response
  /v1/issue:
    post:
      tags:
        - Smart Contracts
      summary: Mint a Token.
      operationId: SmartContracts_mintToken
      security:
        - authToken: []
        - serviceID: []
      description: >-
        Mint a token with given specifications (can be both token or NFT). More
        on docs.relysia.com.
      parameters:
        - schema:
            type: string
            default: STAS
          in: header
          name: protocol
          required: false
        - schema:
            type: boolean
            default: 'false'
          in: header
          name: reminting
          required: false
        - schema:
            type: string
          in: header
          name: walletID
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartContractsMintTokenRequest'
            examples:
              example1:
                value:
                  description: A supermarket bonus point.
                  name: Store Bonus Points
                  protocolId: STAS
                  symbol: SBP
                  image: >-
                    https://upload.wikimedia.org/wikipedia/en/9/95/Test_image.jpg
                  tokenSupply: 3
                  decimals: 0
                  satsPerToken: 1
                  properties:
                    legal:
                      terms: >-
                        STAS, Inc. retains all rights to the token script.  Use
                        is subject to terms at https://stastoken.com/license.
                      licenceId: stastoken.com
                    issuer:
                      organisation: Vaionex Corp.
                      legalForm: Limited
                      governingLaw: US
                      issuerCountry: US
                      jurisdiction: US
                      email: info@vaionex.com
                    meta:
                      schemaId: STAS1.0
                      website: vaionex.com
                      legal:
                        terms: Your token terms and description.
                      media:
                        - URI: string
                          type: string
                          altURI: string
                  splitable: true
                  data: {}
              example2:
                value:
                  description: A supermarket bonus point.
                  name: Store Bonus Points
                  protocolId: STAS-20
                  symbol: SBP
                  image: >-
                    https://upload.wikimedia.org/wikipedia/en/9/95/Test_image.jpg
                  tokenSupply: 3
                  decimals: 0
                  satsPerToken: 1
                  properties:
                    legal:
                      terms: >-
                        STAS, Inc. retains all rights to the token script.  Use
                        is subject to terms at https://stastoken.com/license.
                      licenceId: stastoken.com
                    issuer:
                      organisation: Vaionex Corp.
                      legalForm: Limited
                      governingLaw: US
                      issuerCountry: US
                      jurisdiction: US
                      email: info@vaionex.com
                    meta:
                      schemaId: STAS1.0
                      website: vaionex.com
                      legal:
                        terms: Your token terms and description.
                      media:
                        - URI: string
                          type: string
                          altURI: string
                  splitable: true
                  data:
                    data1:
                      - data1
                      - data2
                    data2:
                      - data1
                      - data2
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartContractsMintTokenResponse'
              example:
                statusCode: 200
                data:
                  status: success
                  msg: Token created successfully.
                  tokenId: cb75d56ad85630475ca4af078dcbf37828970d8d-HELLO12344
                  tokenObj:
                    description: A supermarket bonus point.
                    userId: JZzO1ySdhkPkBYQLXa66EbXDUFD2
                    symbol: HELLO12344
                    name: Store Bonus Points
                    image: >-
                      https://upload.wikimedia.org/wikipedia/en/9/95/Test_image.jpg
                    totalSupply: 3
                    satsPerToken: 1
                    decimals: 0
                    properties:
                      legal:
                        terms: >-
                          STAS, Inc. retains all rights to the token script. 
                          Use is subject to terms at
                          https://stastoken.com/license.
                        licenceId: stastoken.com
                      issuer:
                        organisation: Vaionex Corp.
                        legalForm: Limited
                        governingLaw: US
                        issuerCountry: US
                        jurisdiction: US
                        email: info@vaionex.com
                      meta:
                        schemaId: STAS1.0
                        website: vaionex.com
                        legal:
                          terms: Your token terms and description.
                        media:
                          - URI: string
                            type: string
                            altURI: string
                    splittable: true
                    protocolId: STAS
                    contractTxid: >-
                      ec376960b7cf25ae846338253e403082fe5f4bc76d06ad547bf03403ee4403b5
                    issueTxid: >-
                      e3dcb8dfee84a7a510b1b073d7b1b773ac61749370e51a6dbe38d8171213d36f
                    contractAddress: 1KYoLAjrtNGULBHvPy1fT6T5xwqtcFQ4yA
                    contractPublickey: >-
                      02e8f852e5015f8f12c228992a84b3b70c6789630b9ebef70529b802061db7a42f
                    splitable: true
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartContractsMintToken400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/token/{id}:
    get:
      tags:
        - Smart Contracts
      summary: Get STAS token details.
      operationId: SmartContracts_getTokenDetails
      description: Insert your STAS tokenId to receive information about it.
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartContractsGetTokenDetailsResponse'
              example:
                statusCode: 200
                data:
                  description: A supermarket bonus point.
                  status: success
                  msg: Token details fetched successfully
                  token_id: 8a9e7ec666f0610ff3f0540ed55f07162e9dd7a8
                  symbol: SBPgdsfgdfsgds
                  name: Store Bonus Points
                  schema_id: STAS1.0
                  protocol: STAS-789
                  image: >-
                    https://upload.wikimedia.org/wikipedia/en/9/95/Test_image.jpg
                  total_supply: 3
                  sats_per_token: 1
                  splitable: false
                  properties:
                    legal:
                      terms: >-
                        STAS, Inc. retains all rights to the token script.  Use
                        is subject to terms at https://stastoken.com/license.
                      licenceId: stastoken.com
                    issuer:
                      organisation: Vaionex Corp.
                      legal_form: Limited
                      governing_law: US
                      issuer_country: US
                      jurisdiction: US
                      email: info@vaionex.com
                    meta:
                      legal: '{"terms":"Your token terms and description."}'
                      media: '[{"URI":"string","type":"string","altURI":"string"}]'
                      schemaId: STAS1.0
                      website: vaionex.com
                  contract_txs:
                    - >-
                      d1f376ffb62f30efdd1336ec379eb462ab1068dd67a55789ab1c445cf35c540d
                  issuance_txs:
                    - >-
                      7f06cdece4c08192e8872be802f120b85f0610e6f8e448b85c301e89ccc5bfe1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartContractsGetTokenDetails400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/URI:
    get:
      tags:
        - Utility
      summary: Resolve address and paymail alias information.
      operationId: Utility_resolveAddressInfo
      description: >-
        The URI endpoint helps developers to resolve addresses, paymails and
        invoices and puts them into a standardized response format.
      parameters:
        - schema:
            type: string
          in: header
          name: uri
          required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityResolveAddressInfoResponse'
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Operation completed successfully
                      data:
                        uri: payto:91@dev.relysia.com?amount=1
                        type: paymail
                        mainProtocol: paymail
                        outputs:
                          - script: 76a9141a608132952ba364d19d6ef0c09e074fb3fcfedf88ac
                            satoshis: 1
                        inputs: []
                        memo: Send to 91@dev.relysia.com
                        isBSV: true
                        peer: >-
                          https://dev.relysia.com/api/bsvalias/receive-transaction/91@dev.relysia.com
                        peerData: >-
                          eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ2ZXJzaW9uIjoxLCJkZXJpdmF0aW9uUm9vdFBhdGgiOiJtLzUiLCJkZXJpdmF0aW9uUm9vdEluZGV4IjozOTE1LCJjb3VudCI6MX0.vgN6mSoxuVzSmdwXA_hJtvS_s6xyFdRVedsFAx4mt5K2fsI0Ps2pw4OCXWy6msUbAKYGOEeAqs9BoyJCOlgyng
                        peerProtocol: paymail
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Operation completed successfully
                      data:
                        uri: >-
                          bitcoin:13ofTSnVngWV8VgvqpYZE4YuaWuARBkBp3?amount=0.00000001
                        type: bip21
                        mainProtocol: bip21
                        outputs:
                          - script: 76a9141ec37cb9f5ab9ae49be75e8d45c02d1f2fd1c5a288ac
                            satoshis: 1
                        inputs: []
                        memo: Payment to Address
                        isBSV: false
                        peer: null
                        peerData: null
                        peerProtocol: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityResolveAddressInfo400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/signUp:
    post:
      tags:
        - Authentication
      summary: User Registration.
      operationId: Authentication_createUserToken
      security:
        - serviceID: []
      description: >-
        Creates a new user and returns the auth token required for API
        interactions.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationCreateUserTokenRequest'
            examples:
              example1:
                value:
                  email: satoshiasdsa@gmail.com
                  password: 4m4z1ngT3ch
              example2:
                value:
                  email: satoshiasdsa@gmail.com
                  password: 4m4z1ngT3ch
                  photo: Base64 encoded image
              example3:
                value:
                  email: satoshiasdsa@gmail.com
                  password: 4m4z1ngT3ch
                  displayName: Satoshi Nakamoto
              example4:
                value:
                  email: satoshiasdsa@gmail.com
                  password: 4m4z1ngT3ch
                  photo: Base64 encoded image
                  displayName: Satoshi Nakamoto
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateUserTokenResponse'
              example:
                statusCode: 200
                data:
                  status: success
                  msg: User created successfully.
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
                  userId: 5f1b0b3b1c9d440000f3e9b0
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationCreateUserToken400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/auth:
    post:
      tags:
        - Authentication
      summary: Login Endpoint.
      operationId: Authentication_userLogin
      security:
        - serviceID: []
      description: Login with an existing user account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationUserLoginRequest'
            example:
              email: satoshiasdsa@gmail.com
              password: 4m4z1ngT3ch
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationUserLoginResponse'
              example:
                statusCode: 200
                data:
                  status: success
                  msg: Login successful
                  token: >-
                    eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZXJ2aWNlSWQiOiIxMjM0NTY3ODkwIiwiaWF0IjoxNTE2M
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationUserLogin400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/password/change:
    post:
      tags:
        - Authentication
      summary: Change password Endpoint
      operationId: Authentication_changeUserPassword
      security:
        - authToken: []
        - serviceID: []
      description: Change password endpoint for existing users to change their password.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationChangeUserPasswordRequest'
            example:
              newPassword: 4m4z1ngT3ch
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationChangeUserPasswordResponse'
              example:
                statusCode: 200
                data:
                  status: success
                  msg: Password changed successfully.
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
                  userId: 5e8b2c9b0f1c1a1b1c1d1e1f
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AuthenticationChangeUserPassword400Response
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/user:
    get:
      tags:
        - Identity
      summary: Profile details.
      operationId: Identity_getProfileDetails
      security:
        - authToken: []
        - serviceID: []
      description: Call the /User endpoint to receive all account specific information.
      parameters:
        - schema:
            type: string
          in: header
          name: oauth
          required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityGetProfileDetailsResponse'
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: User details fetched successfully
                      userDetails:
                        userId: 5f7f1b9b9b9b9b9b9b9b9b9b
                        passwordHash: $2b$1
                        passwordUpdatedAt: 1602222222
                        validSince: '2020-10-10T10:10:10.000Z'
                        lastLoginAt: '2020-10-10T10:10:10.000Z'
                        createdAt: '2020-10-10T10:10:10.000Z'
                        lastRefreshAt: '2020-10-10T10:10:10.000Z'
                        photo: https://example.com/photo.jpg
                        displayName: John Doe
                        phoneNumber: +1-202-555-0104
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: User details fetched successfully
                      userDetails:
                        userId: 5f7f1b9b9b9b9b9b9b9b9b9b
                        passwordHash: $2b$1
                        passwordUpdatedAt: 1602222222
                        validSince: '2020-10-10T10:10:10.000Z'
                        lastLoginAt: '2020-10-10T10:10:10.000Z'
                        createdAt: '2020-10-10T10:10:10.000Z'
                        lastRefreshAt: '2020-10-10T10:10:10.000Z'
                        photo: null
                        displayName: null
                        phoneNumber: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityGetProfileDetails400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
    delete:
      tags:
        - Delete
      summary: delete user account
      operationId: Delete_userAccount
      security:
        - authToken: []
        - serviceID: []
      description: >-
        you can delete user related whole data like wallets, paymail, account
        etc.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUserAccountResponse'
              example:
                statusCode: 200
                data:
                  status: success
                  msg: account deleted successfully !
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUserAccount400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/send:
    post:
      tags:
        - Transactions
      summary: Transfer coins to an address.
      operationId: Transactions_createTransactionToAddress
      security:
        - authToken: []
        - serviceID: []
      description: >-
        Use the /send endpoint to create transactions to peers. The /send
        endpoint is agnostic to sending either Tokens or BSV.
      parameters:
        - schema:
            type: string
          in: header
          name: walletID
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/TransactionsCreateTransactionToAddressRequest
            examples:
              example1:
                value:
                  dataArray:
                    - to: 17n2JVhrCf1oYSMkZtZNjcf1deteUEKQsH
                      amount: 0.000005
              example2:
                value:
                  dataArray:
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
              example3:
                value:
                  dataArray:
                    - to: 17n2JVhrCf1oYSMkZtZNjcf1deteUEKQsH
                      amount: 0.000005
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 0.000005
                      notes: test
              example4:
                value:
                  dataArray:
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
                      sn: 5
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
                      sn: 3
                      notes: test
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
                      sn: 3
                      notes: test
                      data:
                        - test1
                        - test2
              example5:
                value:
                  bundle: false
                  dataArray:
                    - to: 17n2JVhrCf1oYSMkZtZNjcf1deteUEKQsH
                      amount: 1.e-7
                    - to: 17n2JVhrCf1oYSMkZtZNjcf1deteUEKQsH
                      amount: 1.e-7
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsCreateTransactionToAddressResponse
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Transaction(s) created successfully.
                      txIds:
                        - >-
                          93a69ce25cec69b3a096427edb9d9761ace5671debcdc1a02cb260eacf037d21
                      errors: []
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Transaction(s) created successfully.
                      txIds:
                        - >-
                          93a69ce25cec69b3a096427edb9d9761ace5671debcdc1a02cb260eacf037d21
                        - >-
                          80e5b09f1613a0f82c94216e84db747b80b631be8618eb97f3ea4ab440ea223f
                      errors: []
                example3:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Transaction(s) created successfully.
                      txIds:
                        - >-
                          18d3c8cef40ba055e8151c9377d4c5f144dd1fe44f83f07079e2d0046dc79bc9
                      errors: []
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsCreateTransactionToAddress400Response
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/rawtx:
    post:
      tags:
        - Transactions
      summary: Build and return a rawTx
      operationId: Transactions_createRawTx
      security:
        - authToken: []
        - serviceID: []
      description: >-
        Use the /rawTx endpoint containing a single input and output.
        Transactions can be held and the utxo that is used will be blocked from
        the user access.
      parameters:
        - schema:
            type: string
          in: header
          name: walletID
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsCreateRawTxRequest'
            examples:
              example1:
                value:
                  dataArray:
                    - to: 17n2JVhrCf1oYSMkZtZNjcf1deteUEKQsH
                      amount: 0.000005
              example2:
                value:
                  dataArray:
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
              example3:
                value:
                  dataArray:
                    - to: 17n2JVhrCf1oYSMkZtZNjcf1deteUEKQsH
                      amount: 0.000005
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 0.000005
                      notes: test
                      data:
                        - test1
                        - test2
              example4:
                value:
                  dataArray:
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
                      sn: 5
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
                      sn: 3
                      notes: test
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
                      sn: 3
                      notes: test
                      data:
                        - test1
                        - test2
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsCreateRawTxResponse'
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Operation completed successfully
                      rawTxs:
                        - >-
                          0100000002e36d2003986bc84d1dec875ed686960e3794334c2e53bd8ee0d7897e4bf3f521000000006a4730440220063953703f06f9557691dba7b0424b9a1ca6dba2ec35bae7dd41e7b15fd38f1d0220439c01459709def5c824ded74102f4170ab3cee9ba7ab9f3b92dc80d7fcecf74412103c63be73d975c3f6274539704e27b2cb811bcc80dc11e95157cef3df8a5b3ac36ffffffffe36d2003986bc84d1dec875ed686960e3794334c2e53bd8ee0d7897e4bf3f521010000006b483045022100e5e0b6e4a61b7bad5c69a5b83032d6a48bb5976d582d52c881db2910ad79bb58022040a10e7dd9cde95c3756c63f33d6b5c119f35dcb4cedd29cc4424bf01e3548ed4121020824bb65d1cc92de2a37410e4279211a0d53788140a528b17f7ada7f4ad8a9a9ffffffff0101000000000000001976a91447431db9649fd75c28834cb152f17cc8ea7fa11f88ac00000000
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Operation completed successfully
                      rawTxs:
                        - rawtx: >-
                            010000000227e26846dea42dd3aec67b801205b500cfbef214e630ea3ecbc7f2d24ce362e800000000fdc5075114fa6e04492aa0ce9eaa5aea00f1e6ac76ea8b5eba54148d30f8237c83b899e51f41a27e1317a735749f6d002002a733b75ebe47ee5600f38034e5a3019935405751ebc63db24c5d9fde623cec004d0907010000004f278468deaeedfb0010da3278cbbb88c2c496bbfffab8749d1fd85c039ff4c7752adad0a7b9ceca853768aebb6965eca126a62965f698a0c1bc43d83db632ad27e26846dea42dd3aec67b801205b500cfbef214e630ea3ecbc7f2d24ce362e800000000fd6a0676a9148da5aaef86362ed2487f5a01380886480617487c88ac6976aa607f5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7c5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01007e818b21414136d08c5ed2bf3ba048afe6dcaebafeffffffffffffffffffffffffffffff007d976e7c5296a06394677768827601249301307c7e23022079be667ef9dcbbac55a06295ce870b07029bfcdb2dce28d959f2815b16f81798027e7c7e7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01417e21038ff83d8cf12121491609c4939dc11c4aa35503508fe432dc5a5c1905608b9218ad547f7701207f01207f7701247f517f7801007e8102fd00a063546752687f7801007e817f727e7b01177f777b557a766471567a577a786354807e7e676d68aa880067765158a569765187645294567a5379587a7e7e78637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6867567a6876aa587a7d54807e577a597a5a7a786354807e6f7e7eaa727c7e676d6e7eaa7c687b7eaa587a7d877663516752687c72879b69537a647500687c7b547f77517f7853a0916901247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77788c6301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f777852946301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77686877517f7c52797d8b9f7c53a09b91697c76638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6876638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6863587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f7768587f517f7801007e817602fc00a06302fd00a063546752687f7801007e81727e7b7b687f75537f7c0376a9148801147f775379645579887567726881766968789263556753687a76026c057f7701147f8263517f7c766301007e817f7c6775006877686b537992635379528763547a6b547a6b677c6b567a6b537a7c717c71716868547a587f7c81547a557964936755795187637c686b687c547f7701207f75748c7a7669765880748c7a76567a876457790376a9147e7c7e557967041976a9147c7e0288ac687e7e5579636c766976748c7a9d58807e6c0376a9147e748c7a7e6c7e7e676c766b8263828c007c80517e846864745aa0637c748c7a76697d937b7b58807e56790376a9147e748c7a7e55797e7e6868686c567a5187637500678263828c007c80517e846868647459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e687459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e68687c537a9d547963557958807e041976a91455797e0288ac7e7e68aa87726d77776a1400b91626e0a4b97f624bc1f0d8fa3a3ef35ac6640100064b30513447384cc87c20565354207c2062343836613566623363386239616437366161363137393830306539666265373339313562363839383761636664383432326136326663346265616134356263207c2068747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f656e2f392f39352f546573745f696d6167652e6a7067207c2037207c2031207c205465737420546f6b656e202d2047656e657261746564206175746f6d61746963616c6c7920666f726d207465737473207c2030207c0100000000000000ffffffff01770f392bdddc76123f01a331b066d69d51ec56592574c1b7a8041999ea65be0000000041000000473044022026db83cccbd78b22d4c93080f916a00a5901eac67f675d553d5036869632d63e02205736dbc31e972c84bbc2e391db430022158f7e3b263d9c479589ce9e347edcd54121031a574b129d4dd0c9e0eae917bf06711d22219a2281debcc6c9bb5a6e87bb7c3fffffffff02a733b75ebe47ee5600f38034e5a3019935405751ebc63db24c5d9fde623cec000000006b483045022100bb0e41f70df285e205a8285dcb718ce7fd9539c93414e9a149ac6c427a043abb0220012213d0ba9e8905d2f39886b24b8457b5e06c2bc2c37dad0dd806c4107af7be4121020b90adc336dcef4d35a7fb8cd7ba0f1d321c46eebc94a3bd1ed4ef63fa4e949bffffffff020100000000000000fd6a0676a914fa6e04492aa0ce9eaa5aea00f1e6ac76ea8b5eba88ac6976aa607f5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7c5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01007e818b21414136d08c5ed2bf3ba048afe6dcaebafeffffffffffffffffffffffffffffff007d976e7c5296a06394677768827601249301307c7e23022079be667ef9dcbbac55a06295ce870b07029bfcdb2dce28d959f2815b16f81798027e7c7e7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01417e21038ff83d8cf12121491609c4939dc11c4aa35503508fe432dc5a5c1905608b9218ad547f7701207f01207f7701247f517f7801007e8102fd00a063546752687f7801007e817f727e7b01177f777b557a766471567a577a786354807e7e676d68aa880067765158a569765187645294567a5379587a7e7e78637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6867567a6876aa587a7d54807e577a597a5a7a786354807e6f7e7eaa727c7e676d6e7eaa7c687b7eaa587a7d877663516752687c72879b69537a647500687c7b547f77517f7853a0916901247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77788c6301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f777852946301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77686877517f7c52797d8b9f7c53a09b91697c76638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6876638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6863587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f7768587f517f7801007e817602fc00a06302fd00a063546752687f7801007e81727e7b7b687f75537f7c0376a9148801147f775379645579887567726881766968789263556753687a76026c057f7701147f8263517f7c766301007e817f7c6775006877686b537992635379528763547a6b547a6b677c6b567a6b537a7c717c71716868547a587f7c81547a557964936755795187637c686b687c547f7701207f75748c7a7669765880748c7a76567a876457790376a9147e7c7e557967041976a9147c7e0288ac687e7e5579636c766976748c7a9d58807e6c0376a9147e748c7a7e6c7e7e676c766b8263828c007c80517e846864745aa0637c748c7a76697d937b7b58807e56790376a9147e748c7a7e55797e7e6868686c567a5187637500678263828c007c80517e846868647459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e687459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e68687c537a9d547963557958807e041976a91455797e0288ac7e7e68aa87726d77776a1400b91626e0a4b97f624bc1f0d8fa3a3ef35ac6640100064b30513447384cc87c20565354207c2062343836613566623363386239616437366161363137393830306539666265373339313562363839383761636664383432326136326663346265616134356263207c2068747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f656e2f392f39352f546573745f696d6167652e6a7067207c2037207c2031207c205465737420546f6b656e202d2047656e657261746564206175746f6d61746963616c6c7920666f726d207465737473207c2030207c04000000000000001976a9148d30f8237c83b899e51f41a27e1317a735749f6d88ac00000000
                example3:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Operation completed successfully
                      rawTxs:
                        - >-
                          0100000002e36d2003986bc84d1dec875ed686960e3794334c2e53bd8ee0d7897e4bf3f521000000006a4730440220063953703f06f9557691dba7b0424b9a1ca6dba2ec35bae7dd41e7b15fd38f1d0220439c01459709def5c824ded74102f4170ab3cee9ba7ab9f3b92dc80d7fcecf74412103c63be73d975c3f6274539704e27b2cb811bcc80dc11e95157cef3df8a5b3ac36ffffffffe36d2003986bc84d1dec875ed686960e3794334c2e53bd8ee0d7897e4bf3f521010000006b483045022100e5e0b6e4a61b7bad5c69a5b83032d6a48bb5976d582d52c881db2910ad79bb58022040a10e7dd9cde95c3756c63f33d6b5c119f35dcb4cedd29cc4424bf01e3548ed4121020824bb65d1cc92de2a37410e4279211a0d53788140a528b17f7ada7f4ad8a9a9ffffffff0101000000000000001976a91447431db9649fd75c28834cb152f17cc8ea7fa11f88ac00000000
                        - >-
                          0100000002050495956b562d31679124288101008e85f844787d9e5e62cc738f3b7ab4893a000000006a47304402201f8d1cb5d28d446cee5aad22f606a5fe743d69ecc9a4e1f692550e5ac0a8edf002202aa6e86a8c4cffad21b3af615a88467b0246ab9664350035885e7c0715c0d991412103c63be73d975c3f6274539704e27b2cb811bcc80dc11e95157cef3df8a5b3ac36ffffffff050495956b562d31679124288101008e85f844787d9e5e62cc738f3b7ab4893a010000006b483045022100a3b373d96ce85974d4f75dc160fbf1a2d8e08861a167e22a171c7a2de4f534a4022063ba605fff149e350b5b3806e6c5ed025d29e6d93f4fade7744b447f7fa3eea64121020824bb65d1cc92de2a37410e4279211a0d53788140a528b17f7ada7f4ad8a9a9ffffffff0101000000000000001976a91477cb578d9fab608a794871e6c994c6ff2e55a70788ac00000000
                example4:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Operation completed successfully
                      rawTxs:
                        - rawtx: >-
                            010000000227e26846dea42dd3aec67b801205b500cfbef214e630ea3ecbc7f2d24ce362e800000000fdc5075114fa6e04492aa0ce9eaa5aea00f1e6ac76ea8b5eba54148d30f8237c83b899e51f41a27e1317a735749f6d002002a733b75ebe47ee5600f38034e5a3019935405751ebc63db24c5d9fde623cec004d0907010000004f278468deaeedfb0010da3278cbbb88c2c496bbfffab8749d1fd85c039ff4c7752adad0a7b9ceca853768aebb6965eca126a62965f698a0c1bc43d83db632ad27e26846dea42dd3aec67b801205b500cfbef214e630ea3ecbc7f2d24ce362e800000000fd6a0676a9148da5aaef86362ed2487f5a01380886480617487c88ac6976aa607f5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7c5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01007e818b21414136d08c5ed2bf3ba048afe6dcaebafeffffffffffffffffffffffffffffff007d976e7c5296a06394677768827601249301307c7e23022079be667ef9dcbbac55a06295ce870b07029bfcdb2dce28d959f2815b16f81798027e7c7e7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01417e21038ff83d8cf12121491609c4939dc11c4aa35503508fe432dc5a5c1905608b9218ad547f7701207f01207f7701247f517f7801007e8102fd00a063546752687f7801007e817f727e7b01177f777b557a766471567a577a786354807e7e676d68aa880067765158a569765187645294567a5379587a7e7e78637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6867567a6876aa587a7d54807e577a597a5a7a786354807e6f7e7eaa727c7e676d6e7eaa7c687b7eaa587a7d877663516752687c72879b69537a647500687c7b547f77517f7853a0916901247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77788c6301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f777852946301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77686877517f7c52797d8b9f7c53a09b91697c76638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6876638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6863587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f7768587f517f7801007e817602fc00a06302fd00a063546752687f7801007e81727e7b7b687f75537f7c0376a9148801147f775379645579887567726881766968789263556753687a76026c057f7701147f8263517f7c766301007e817f7c6775006877686b537992635379528763547a6b547a6b677c6b567a6b537a7c717c71716868547a587f7c81547a557964936755795187637c686b687c547f7701207f75748c7a7669765880748c7a76567a876457790376a9147e7c7e557967041976a9147c7e0288ac687e7e5579636c766976748c7a9d58807e6c0376a9147e748c7a7e6c7e7e676c766b8263828c007c80517e846864745aa0637c748c7a76697d937b7b58807e56790376a9147e748c7a7e55797e7e6868686c567a5187637500678263828c007c80517e846868647459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e687459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e68687c537a9d547963557958807e041976a91455797e0288ac7e7e68aa87726d77776a1400b91626e0a4b97f624bc1f0d8fa3a3ef35ac6640100064b30513447384cc87c20565354207c2062343836613566623363386239616437366161363137393830306539666265373339313562363839383761636664383432326136326663346265616134356263207c2068747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f656e2f392f39352f546573745f696d6167652e6a7067207c2037207c2031207c205465737420546f6b656e202d2047656e657261746564206175746f6d61746963616c6c7920666f726d207465737473207c2030207c0100000000000000ffffffff01770f392bdddc76123f01a331b066d69d51ec56592574c1b7a8041999ea65be0000000041000000473044022026db83cccbd78b22d4c93080f916a00a5901eac67f675d553d5036869632d63e02205736dbc31e972c84bbc2e391db430022158f7e3b263d9c479589ce9e347edcd54121031a574b129d4dd0c9e0eae917bf06711d22219a2281debcc6c9bb5a6e87bb7c3fffffffff02a733b75ebe47ee5600f38034e5a3019935405751ebc63db24c5d9fde623cec000000006b483045022100bb0e41f70df285e205a8285dcb718ce7fd9539c93414e9a149ac6c427a043abb0220012213d0ba9e8905d2f39886b24b8457b5e06c2bc2c37dad0dd806c4107af7be4121020b90adc336dcef4d35a7fb8cd7ba0f1d321c46eebc94a3bd1ed4ef63fa4e949bffffffff020100000000000000fd6a0676a914fa6e04492aa0ce9eaa5aea00f1e6ac76ea8b5eba88ac6976aa607f5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7c5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01007e818b21414136d08c5ed2bf3ba048afe6dcaebafeffffffffffffffffffffffffffffff007d976e7c5296a06394677768827601249301307c7e23022079be667ef9dcbbac55a06295ce870b07029bfcdb2dce28d959f2815b16f81798027e7c7e7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01417e21038ff83d8cf12121491609c4939dc11c4aa35503508fe432dc5a5c1905608b9218ad547f7701207f01207f7701247f517f7801007e8102fd00a063546752687f7801007e817f727e7b01177f777b557a766471567a577a786354807e7e676d68aa880067765158a569765187645294567a5379587a7e7e78637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6867567a6876aa587a7d54807e577a597a5a7a786354807e6f7e7eaa727c7e676d6e7eaa7c687b7eaa587a7d877663516752687c72879b69537a647500687c7b547f77517f7853a0916901247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77788c6301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f777852946301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77686877517f7c52797d8b9f7c53a09b91697c76638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6876638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6863587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f7768587f517f7801007e817602fc00a06302fd00a063546752687f7801007e81727e7b7b687f75537f7c0376a9148801147f775379645579887567726881766968789263556753687a76026c057f7701147f8263517f7c766301007e817f7c6775006877686b537992635379528763547a6b547a6b677c6b567a6b537a7c717c71716868547a587f7c81547a557964936755795187637c686b687c547f7701207f75748c7a7669765880748c7a76567a876457790376a9147e7c7e557967041976a9147c7e0288ac687e7e5579636c766976748c7a9d58807e6c0376a9147e748c7a7e6c7e7e676c766b8263828c007c80517e846864745aa0637c748c7a76697d937b7b58807e56790376a9147e748c7a7e55797e7e6868686c567a5187637500678263828c007c80517e846868647459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e687459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e68687c537a9d547963557958807e041976a91455797e0288ac7e7e68aa87726d77776a1400b91626e0a4b97f624bc1f0d8fa3a3ef35ac6640100064b30513447384cc87c20565354207c2062343836613566623363386239616437366161363137393830306539666265373339313562363839383761636664383432326136326663346265616134356263207c2068747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f656e2f392f39352f546573745f696d6167652e6a7067207c2037207c2031207c205465737420546f6b656e202d2047656e657261746564206175746f6d61746963616c6c7920666f726d207465737473207c2030207c04000000000000001976a9148d30f8237c83b899e51f41a27e1317a735749f6d88ac00000000
                        - rawtx: >-
                            010000000227e26846dea42dd3aec67b801205b500cfbef214e630ea3ecbc7f2d24ce362e800000000fdc5075114fa6e04492aa0ce9eaa5aea00f1e6ac76ea8b5eba54148d30f8237c83b899e51f41a27e1317a735749f6d002002a733b75ebe47ee5600f38034e5a3019935405751ebc63db24c5d9fde623cec004d0907010000004f278468deaeedfb0010da3278cbbb88c2c496bbfffab8749d1fd85c039ff4c7752adad0a7b9ceca853768aebb6965eca126a62965f698a0c1bc43d83db632ad27e26846dea42dd3aec67b801205b500cfbef214e630ea3ecbc7f2d24ce362e800000000fd6a0676a9148da5aaef86362ed2487f5a01380886480617487c88ac6976aa607f5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7c5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01007e818b21414136d08c5ed2bf3ba048afe6dcaebafeffffffffffffffffffffffffffffff007d976e7c5296a06394677768827601249301307c7e23022079be667ef9dcbbac55a06295ce870b07029bfcdb2dce28d959f2815b16f81798027e7c7e7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01417e21038ff83d8cf12121491609c4939dc11c4aa35503508fe432dc5a5c1905608b9218ad547f7701207f01207f7701247f517f7801007e8102fd00a063546752687f7801007e817f727e7b01177f777b557a766471567a577a786354807e7e676d68aa880067765158a569765187645294567a5379587a7e7e78637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6867567a6876aa587a7d54807e577a597a5a7a786354807e6f7e7eaa727c7e676d6e7eaa7c687b7eaa587a7d877663516752687c72879b69537a647500687c7b547f77517f7853a0916901247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77788c6301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f777852946301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77686877517f7c52797d8b9f7c53a09b91697c76638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6876638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6863587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f7768587f517f7801007e817602fc00a06302fd00a063546752687f7801007e81727e7b7b687f75537f7c0376a9148801147f775379645579887567726881766968789263556753687a76026c057f7701147f8263517f7c766301007e817f7c6775006877686b537992635379528763547a6b547a6b677c6b567a6b537a7c717c71716868547a587f7c81547a557964936755795187637c686b687c547f7701207f75748c7a7669765880748c7a76567a876457790376a9147e7c7e557967041976a9147c7e0288ac687e7e5579636c766976748c7a9d58807e6c0376a9147e748c7a7e6c7e7e676c766b8263828c007c80517e846864745aa0637c748c7a76697d937b7b58807e56790376a9147e748c7a7e55797e7e6868686c567a5187637500678263828c007c80517e846868647459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e687459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e68687c537a9d547963557958807e041976a91455797e0288ac7e7e68aa87726d77776a1400b91626e0a4b97f624bc1f0d8fa3a3ef35ac6640100064b30513447384cc87c20565354207c2062343836613566623363386239616437366161363137393830306539666265373339313562363839383761636664383432326136326663346265616134356263207c2068747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f656e2f392f39352f546573745f696d6167652e6a7067207c2037207c2031207c205465737420546f6b656e202d2047656e657261746564206175746f6d61746963616c6c7920666f726d207465737473207c2030207c0100000000000000ffffffff01770f392bdddc76123f01a331b066d69d51ec56592574c1b7a8041999ea65be0000000041000000473044022026db83cccbd78b22d4c93080f916a00a5901eac67f675d553d5036869632d63e02205736dbc31e972c84bbc2e391db430022158f7e3b263d9c479589ce9e347edcd54121031a574b129d4dd0c9e0eae917bf06711d22219a2281debcc6c9bb5a6e87bb7c3fffffffff02a733b75ebe47ee5600f38034e5a3019935405751ebc63db24c5d9fde623cec000000006b483045022100bb0e41f70df285e205a8285dcb718ce7fd9539c93414e9a149ac6c427a043abb0220012213d0ba9e8905d2f39886b24b8457b5e06c2bc2c37dad0dd806c4107af7be4121020b90adc336dcef4d35a7fb8cd7ba0f1d321c46eebc94a3bd1ed4ef63fa4e949bffffffff020100000000000000fd6a0676a914fa6e04492aa0ce9eaa5aea00f1e6ac76ea8b5eba88ac6976aa607f5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7c5f7f7c5e7f7c5d7f7c5c7f7c5b7f7c5a7f7c597f7c587f7c577f7c567f7c557f7c547f7c537f7c527f7c517f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01007e818b21414136d08c5ed2bf3ba048afe6dcaebafeffffffffffffffffffffffffffffff007d976e7c5296a06394677768827601249301307c7e23022079be667ef9dcbbac55a06295ce870b07029bfcdb2dce28d959f2815b16f81798027e7c7e7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c8276638c687f7c7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e7e01417e21038ff83d8cf12121491609c4939dc11c4aa35503508fe432dc5a5c1905608b9218ad547f7701207f01207f7701247f517f7801007e8102fd00a063546752687f7801007e817f727e7b01177f777b557a766471567a577a786354807e7e676d68aa880067765158a569765187645294567a5379587a7e7e78637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6878637c8c7c53797e577a7e6867567a6876aa587a7d54807e577a597a5a7a786354807e6f7e7eaa727c7e676d6e7eaa7c687b7eaa587a7d877663516752687c72879b69537a647500687c7b547f77517f7853a0916901247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77788c6301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f777852946301247f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e816854937f77686877517f7c52797d8b9f7c53a09b91697c76638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6876638c7c587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f777c6863587f77517f7c01007e817602fc00a06302fd00a063546752687f7c01007e81687f7768587f517f7801007e817602fc00a06302fd00a063546752687f7801007e81727e7b7b687f75537f7c0376a9148801147f775379645579887567726881766968789263556753687a76026c057f7701147f8263517f7c766301007e817f7c6775006877686b537992635379528763547a6b547a6b677c6b567a6b537a7c717c71716868547a587f7c81547a557964936755795187637c686b687c547f7701207f75748c7a7669765880748c7a76567a876457790376a9147e7c7e557967041976a9147c7e0288ac687e7e5579636c766976748c7a9d58807e6c0376a9147e748c7a7e6c7e7e676c766b8263828c007c80517e846864745aa0637c748c7a76697d937b7b58807e56790376a9147e748c7a7e55797e7e6868686c567a5187637500678263828c007c80517e846868647459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e687459a0637c748c7a76697d937b7b58807e55790376a9147e748c7a7e55797e7e68687c537a9d547963557958807e041976a91455797e0288ac7e7e68aa87726d77776a1400b91626e0a4b97f624bc1f0d8fa3a3ef35ac6640100064b30513447384cc87c20565354207c2062343836613566623363386239616437366161363137393830306539666265373339313562363839383761636664383432326136326663346265616134356263207c2068747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f656e2f392f39352f546573745f696d6167652e6a7067207c2037207c2031207c205465737420546f6b656e202d2047656e657261746564206175746f6d61746963616c6c7920666f726d207465737473207c2030207c04000000000000001976a9148d30f8237c83b899e51f41a27e1317a735749f6d88ac00000000
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsCreateRawTx400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/migrateToken:
    post:
      tags:
        - admin
      summary: Migrate token
      operationId: Admin_migrateTokenRequest
      security:
        - authToken: []
        - serviceID: []
      parameters:
        - schema:
            type: string
          in: header
          name: walletID
          required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMigrateTokenRequestResponse'
              example:
                statusCode: 200
                data:
                  status: success
                  msg: migration started successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMigrateTokenRequest400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
      deprecated: true
  /v1/tokenMetrics:
    get:
      tags:
        - Utility
      summary: sync token from blockchain
      operationId: Utility_syncTokenFromBlockchain
      security:
        - authToken: []
        - serviceID: []
      parameters:
        - schema:
            type: string
          in: header
          name: walletID
          required: false
        - schema:
            type: boolean
            default: false
          in: header
          name: force
          required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilitySyncTokenFromBlockchainResponse'
              example:
                statusCode: 200
                data:
                  status: success
                  msg: migration started successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilitySyncTokenFromBlockchain400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/drop:
    post:
      tags:
        - Transactions
      summary: Withdraws coins from PrivateKeys.
      operationId: Transactions_withdrawFromPrivateKey
      security:
        - serviceID: []
      description: >-
        The drop endpoints allows users to transfer coins (BSV or Token) from a
        PrivateKey.
      parameters:
        - schema:
            type: string
          in: header
          name: secretKey
          required: false
        - schema:
            type: string
          in: header
          name: privateKey
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsWithdrawFromPrivateKeyRequest'
            examples:
              example1:
                value:
                  dataArray:
                    - to: 17n2JVhrCf1oYSMkZtZNjcf1deteUEKQsH
                      amount: 0.000005
              example2:
                value:
                  dataArray:
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
              example3:
                value:
                  dataArray:
                    - to: 17n2JVhrCf1oYSMkZtZNjcf1deteUEKQsH
                      amount: 0.000005
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 0.000005
                      notes: test
                      data:
                        - test1
                        - test2
              example4:
                value:
                  dataArray:
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
                      sn: 5
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
                      sn: 3
                      notes: test
                    - to: 1JQheacLPdM5ySCkrZkV66G2ApAXe1mqLj
                      amount: 1
                      tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-Mordor-bulk
                      sn: 3
                      notes: test
                      data:
                        - test1
                        - test2
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsWithdrawFromPrivateKeyResponse
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Transaction(s) created successfully.
                      txIds:
                        - >-
                          93a69ce25cec69b3a096427edb9d9761ace5671debcdc1a02cb260eacf037d21
                      errors: []
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Transaction(s) created successfully.
                      txIds:
                        - >-
                          93a69ce25cec69b3a096427edb9d9761ace5671debcdc1a02cb260eacf037d21
                        - >-
                          80e5b09f1613a0f82c94216e84db747b80b631be8618eb97f3ea4ab440ea223f
                      errors: []
                example3:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Transaction(s) created successfully.
                      txIds:
                        - >-
                          18d3c8cef40ba055e8151c9377d4c5f144dd1fe44f83f07079e2d0046dc79bc9
                      errors: []
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsWithdrawFromPrivateKey400Response
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/sweep:
    post:
      tags:
        - Transactions
      summary: Transfers all assets from PrivateKey to the User.
      operationId: Transactions_transferAssetsFromPrivateKey
      security:
        - authToken: []
        - serviceID: []
      description: >-
        The sweep endpoints allows users to transfer all coins (BSV and Tokens)
        from a PrivateKey.
      parameters:
        - schema:
            type: string
          in: header
          name: walletID
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/TransactionsTransferAssetsFromPrivateKeyRequest
            example:
              privateKey: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsTransferAssetsFromPrivateKeyResponse
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Transaction(s) created successfully.
                      txIds:
                        - >-
                          93a69ce25cec69b3a096427edb9d9761ace5671debcdc1a02cb260eacf037d21
                      errors: []
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Transaction(s) created successfully.
                      txIds:
                        - >-
                          93a69ce25cec69b3a096427edb9d9761ace5671debcdc1a02cb260eacf037d21
                        - >-
                          80e5b09f1613a0f82c94216e84db747b80b631be8618eb97f3ea4ab440ea223f
                      errors: []
                example3:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Transaction(s) created successfully.
                      txIds:
                        - >-
                          18d3c8cef40ba055e8151c9377d4c5f144dd1fe44f83f07079e2d0046dc79bc9
                      errors: []
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsTransferAssetsFromPrivateKey400Response
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/offer:
    post:
      tags:
        - Transactions
      summary: Create an Atomic Swap
      operationId: Transactions_createAtomicSwap
      security:
        - authToken: []
        - serviceID: []
      description: >-
        This endpoint allows user to create a swap offer. For token to BSV swap
        use tokenId, amount(number of tokens) and sn(optional serial number if
        NFT) and wantedAmount in BSV value (decimal). For token to token swap
        use wantedAmount(wanted number of tokens), wantedTokenId and
        wantedSn(optional serial number if NFT), can also instead use
        wantedScript using a token script hex value instead of wantedTokenId and
        wantedSn
      parameters:
        - schema:
            type: string
          in: header
          name: walletID
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsCreateAtomicSwapRequest'
            examples:
              example1:
                value:
                  dataArray:
                    - tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-WDG
                      amount: 1
                      wantedAmount: 1
                      wantedTokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-YJO
              example2:
                value:
                  dataArray:
                    - tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-WDG
                      sn: 85
                      amount: 1
                      wantedAmount: 1
                      wantedTokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-YJO
                      wantedSn: 45
              example3:
                value:
                  dataArray:
                    - tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-WDG
                      amount: 1
                      wantedAmount: 2.5e-7
              example4:
                value:
                  dataArray:
                    - tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-WDG
                      sn: 85
                      amount: 1
                      wantedAmount: 2.5e-7
              example5:
                value:
                  dataArray:
                    - amount: 2.5e-7
                      wantedAmount: 1
                      wantedTokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-YJO
              example6:
                value:
                  dataArray:
                    - amount: 2.5e-7
                      wantedAmount: 1
                      wantedTokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-YJO
                      wantedSn: 60
              example7:
                value:
                  dataArray:
                    - amount: 2.5e-7
                      wantedAmount: 1
                      wantedTokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-YJO
                    - tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-WDG
                      amount: 1
                      wantedAmount: 2.5e-7
                    - tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-WDG
                      amount: 1
                      wantedAmount: 1
                      wantedTokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-YJO
              example8:
                value:
                  dataArray:
                    - amount: 2.5e-7
                      wantedAmount: 1
                      wantedTokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-YJO
                      wantedSn: 60
                    - tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-WDG
                      sn: 85
                      amount: 1
                      wantedAmount: 2.5e-7
                    - tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-WDG
                      sn: 85
                      amount: 1
                      wantedAmount: 1
                      wantedTokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2-YJO
                      wantedSn: 45
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsCreateAtomicSwapResponse'
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Offer created successfully
                      contents:
                        - >-
                          010000000184c5740d26e45e7d3574f51bc57346bdec86478669c4a4c90252acaa7a69353d000000006b483045022100876446ffa4fb4dbe362f00adca8d13c5010e5ef5dbfc3f261849fe267352bb2202201b367635c117cd1ce002033a12e115a56be5fa8f59cdaa2ed15f8ed683d23f6dc3210387d82034a417c41916f212a70978c199fead7a3a2769f4d3ed0ebce8f361f835ffffffff0150c30000000000001976a914ec83f1fb2c52dbd7b2d4c70cf95150560d611b9088ac00000000
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Offer created successfully
                      contents:
                        - >-
                          0100000001c5a3b200dce3761303df00166b7f424987ba7bce0ca2806ccfd6c0492fd43b98000000006a47304402201a289a73ca3c3e3dd183193c9c52fd1cbd1607d31769879b56da5eadd00071810220296232d51d8591406848eb4a7ee7dd246403de69237afbab687f0bc84e6354cbc3210387d82034a417c41916f212a70978c199fead7a3a2769f4d3ed0ebce8f361f835ffffffff0150c30000000000001976a914ec83f1fb2c52dbd7b2d4c70cf95150560d611b9088ac00000000
                        - >-
                          0100000001b0619eea04bf5f1f765097cbbe2fad314dc6cedebedfe45e97bd30e261008820000000006a473044022075b1b3d916dc32bd7b4dd13e1681e5cb68944331a515ea5d169eb665f032617b022050d287f19c63d0b99a78af62ba580c4574b43373db134b9fc9cb157b9156d882c3210387d82034a417c41916f212a70978c199fead7a3a2769f4d3ed0ebce8f361f835ffffffff0150c30000000000001976a914ec83f1fb2c52dbd7b2d4c70cf95150560d611b9088ac00000000
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsCreateAtomicSwap400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/swap:
    post:
      tags:
        - Transactions
      summary: Accepting atomic swap offers.
      operationId: Transactions_acceptSwapOffer
      security:
        - authToken: []
        - serviceID: []
      description: >-
        This endpoint allows users to accept swap offers by passing respective
        hex value values.
      parameters:
        - schema:
            type: string
          in: header
          name: walletID
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsAcceptSwapOfferRequest'
            examples:
              example1:
                value:
                  dataArray:
                    - swapHex: >-
                        010000000184c5740d26e45e7d3574f51bc57346bdec86478669c4a4c90252acaa7a69353d000000006b483045022100876446ffa4fb4dbe362f00adca8d13c5010e5ef5dbfc3f261849fe267352bb2202201b367635c117cd1ce002033a12e115a56be5fa8f59cdaa2ed15f8ed683d23f6dc3210387d82034a417c41916f212a70978c199fead7a3a2769f4d3ed0ebce8f361f835ffffffff0150c30000000000001976a914ec83f1fb2c52dbd7b2d4c70cf95150560d611b9088ac00000000
              example2:
                value:
                  dataArray:
                    - swapHex: >-
                        0100000001c5a3b200dce3761303df00166b7f424987ba7bce0ca2806ccfd6c0492fd43b98000000006a47304402201a289a73ca3c3e3dd183193c9c52fd1cbd1607d31769879b56da5eadd00071810220296232d51d8591406848eb4a7ee7dd246403de69237afbab687f0bc84e6354cbc3210387d82034a417c41916f212a70978c199fead7a3a2769f4d3ed0ebce8f361f835ffffffff0150c30000000000001976a914ec83f1fb2c52dbd7b2d4c70cf95150560d611b9088ac00000000
                    - swapHex: >-
                        0100000001b0619eea04bf5f1f765097cbbe2fad314dc6cedebedfe45e97bd30e261008820000000006a473044022075b1b3d916dc32bd7b4dd13e1681e5cb68944331a515ea5d169eb665f032617b022050d287f19c63d0b99a78af62ba580c4574b43373db134b9fc9cb157b9156d882c3210387d82034a417c41916f212a70978c199fead7a3a2769f4d3ed0ebce8f361f835ffffffff0150c30000000000001976a914ec83f1fb2c52dbd7b2d4c70cf95150560d611b9088ac00000000
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsAcceptSwapOfferResponse'
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Swap offer accepted successfully.
                      txIds:
                        - >-
                          2e74b8df67efebbd64e90994417f2c42b4eddd1c58327bb0d548453b2409bbe0
                      errors: []
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Swap offer accepted successfully.
                      txIds:
                        - >-
                          0d1fa874f233e1a46ad3a74217e5eb656eed8f2c2dafe889e1566851e7deae3c
                        - >-
                          81ab5a4ac721ab9eb4539cf173e248d5bb6e9226263d8361a175d38a983587ba
                      errors: []
                example3:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Swap offer accepted successfully.
                      txIds:
                        - >-
                          2e74b8df67efebbd64e90994417f2c42b4eddd1c58327bb0d548453b2409bbe0
                      errors:
                        - 'Tx Number 1 : unsupported script type'
                        - 'Tx Number 2 : unsupported token type'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsAcceptSwapOffer400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/exchangeOffer:
    post:
      tags:
        - Transactions
      summary: Creates swap offer for exchange - returns swap ID
      operationId: Transactions_createSwapOffer
      security:
        - authToken: []
        - serviceID: []
      description: >-
        This endpoint allows user to create a swap offer object that can be used
        for the exchange endpoint. The amount value is the value in satoshis
        wanted in exchange for the token. Payment field is to add in extra
        outputs if requested with amount in satoshis and to for address string.
        NOTE : maximum of 2 extra outputs allowed
      parameters:
        - schema:
            type: string
          in: header
          name: walletID
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsCreateSwapOfferRequest'
            examples:
              example1:
                value:
                  dataArray:
                    - tokenId: >-
                        900d39ffb5cd0728a59c76c79ab6939af19c3c0d-sToken51br5a656s5126j
                      amount: 1.e-8
                      type: BSV
              example2:
                value:
                  dataArray:
                    - tokenId: >-
                        900d39ffb5cd0728a59c76c79ab6939af19c3c0d-sToken51br5a656s5126j
                      sn: 5
                      amount: 1.e-8
                      type: BSV
                      payment:
                        - to: 1CZRgtb2G7ykqyfBqFXf9AutRaWKY2fN4x
                          amount: 1.e-8
                        - to: 1CZRgtb2G7ykqyfBqFXf9AutRaWKY2we4x
                          amount: 1.e-8
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsCreateSwapOfferResponse'
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Swap offer created successfully
                      contents:
                        - swapId: 0be1541d-c44d-4209-a5d0-f197ec587e7b
                          swapOfferHex: >-
                            0100000001e7440cf4384e060ae765557c9889a2df9547bb89c9e319c687d0845ed653e4d4000000006b48304502210086cee5783fe831dcd647ff9d2b516562573afcc80df0d3c7004f0978916a9139022058a0e27ac520e207f289cdfbd342083651b6ef77b0fcf7b8c6109386fbd6544fc3210209d882c772f19ef511c81fb161abaf98c561767b29c92f424b0b2fa16e147eb4ffffffff0100e1f505000000001976a9140bb9eb13c821d10af1f5fbf01c04577305c24d3788ac00000000
                          tokenSatoshis: 1
                          tokenContractTxid: >-
                            4d68e9178f7eb1fc8bd4a0ac9a9f034e8f4c61010eaa286ba6344827e0b5d1cd
                          payment: null
                          prevTxid: >-
                            d4e453d65e84d087c619e3c989bb4795dfa289987c5565e70a064e38f40c44e7
                          tokenId: 8226da9a724b0581928ee508df0174ed7b233a81-IR_MAN
                          tokenOwnerAddress: 12519wQZvqjuqxggUco872zKs66L9x438C
                          totalOutputSatoshis: 100000000
                          makerPublicKeyHash: 0bb9eb13c821d10af1f5fbf01c04577305c24d37
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Swap offer created successfully
                      contents:
                        - swapId: 7ef4c018-1ba8-493d-9738-649994e24a86
                          swapOfferHex: >-
                            0100000001e7440cf4384e060ae765557c9889a2df9547bb89c9e319c687d0845ed653e4d4000000006b48304502210086cee5783fe831dcd647ff9d2b516562573afcc80df0d3c7004f0978916a9139022058a0e27ac520e207f289cdfbd342083651b6ef77b0fcf7b8c6109386fbd6544fc3210209d882c772f19ef511c81fb161abaf98c561767b29c92f424b0b2fa16e147eb4ffffffff0100e1f505000000001976a9140bb9eb13c821d10af1f5fbf01c04577305c24d3788ac00000000
                          tokenSatoshis: 1
                          tokenContractTxid: >-
                            4d68e9178f7eb1fc8bd4a0ac9a9f034e8f4c61010eaa286ba6344827e0b5d1cd
                          payment: null
                          prevTxid: >-
                            d4e453d65e84d087c619e3c989bb4795dfa289987c5565e70a064e38f40c44e7
                          tokenId: 8226da9a724b0581928ee508df0174ed7b233a81-IR_MAN
                          tokenOwnerAddress: 12519wQZvqjuqxggUco872zKs66L9x438C
                          totalOutputSatoshis: 100000000
                          makerPublicKeyHash: 0bb9eb13c821d10af1f5fbf01c04577305c24d37
                        - swapId: 45c108dc-28da-4544-b938-fa966ff8151b
                          swapOfferHex: >-
                            0100000001e7440cf4384e060ae765557c9889a2df9547bb89c9e319c687d0845ed653e4d4000000006b483045022100ccd4f2025ec90b337fcb66c03ebae80d9057d8da36c554df3db93be3068430b90220710d6eda3911c94c36652fcb82085d7511354df3ad8f0dda3e9ac023deee9a29c3210209d882c772f19ef511c81fb161abaf98c561767b29c92f424b0b2fa16e147eb4ffffffff0100a3e111000000001976a9140bb9eb13c821d10af1f5fbf01c04577305c24d3788ac00000000
                          tokenSatoshis: 1
                          tokenContractTxid: >-
                            4d68e9178f7eb1fc8bd4a0ac9a9f034e8f4c61010eaa286ba6344827e0b5d1cd
                          payment: null
                          prevTxid: >-
                            d4e453d65e84d087c619e3c989bb4795dfa289987c5565e70a064e38f40c44e7
                          tokenId: 8226da9a724b0581928ee508df0174ed7b233a81-IR_MAN
                          tokenOwnerAddress: 12519wQZvqjuqxggUco872zKs66L9x438C
                          totalOutputSatoshis: 300000000
                          makerPublicKeyHash: 0bb9eb13c821d10af1f5fbf01c04577305c24d37
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsCreateSwapOffer400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/exchangeSwap:
    post:
      tags:
        - Transactions
      summary: Atomic Swap
      operationId: Transactions_acceptSwapOffer
      security:
        - authToken: []
        - serviceID: []
      description: This endpoint allows users to accept a swap offers via swap ID
      parameters:
        - schema:
            type: string
          in: header
          name: walletID
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsAcceptSwapOfferRequest1'
            examples:
              example1:
                value:
                  dataArray:
                    - swapId: 0a82d337-28ad-43d6-b16d-6cc60c3018f0
              example2:
                value:
                  dataArray:
                    - swapId: 57d28adb-5c6b-4b3e-8572-87daa794f265
                    - swapId: 43daaaf6-878c-46c0-a3fc-b34709e96c48
                    - swapId: 2631b389-4231-4e35-a7c8-ee5f6c3c1c36
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsAcceptSwapOffer200Response'
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Swap offer accepted successfully
                      txIds:
                        - >-
                          93a69ce25cec69b3a096427edb9d9761ace5671debcdc1a02cb260eacf037d21
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Swap offer accepted successfully
                      txIds:
                        - >-
                          93a69ce25cec69b3a096427edb9d9761ace5671debcdc1a02cb260eacf037d21
                        - >-
                          80e5b09f1613a0f82c94216e84db747b80b631be8618eb97f3ea4ab440ea223f
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsAcceptSwapOffer400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/inspect:
    post:
      tags:
        - Transactions
      summary: Inspect an atomic swap offer.
      operationId: Transactions_inspectAtomicSwapOffer
      security:
        - authToken: []
        - serviceID: []
      description: >-
        This endpoint allows users to inspect an atomic swap hex to verify the
        validity of the offer.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsInspectAtomicSwapOfferRequest'
            examples:
              example1:
                value:
                  dataArray:
                    - swapHex: >-
                        010000000184c5740d26e45e7d3574f51bc57346bdec86478669c4a4c90252acaa7a69353d000000006b483045022100876446ffa4fb4dbe362f00adca8d13c5010e5ef5dbfc3f261849fe267352bb2202201b367635c117cd1ce002033a12e115a56be5fa8f59cdaa2ed15f8ed683d23f6dc3210387d82034a417c41916f212a70978c199fead7a3a2769f4d3ed0ebce8f361f835ffffffff0150c30000000000001976a914ec83f1fb2c52dbd7b2d4c70cf95150560d611b9088ac00000000
              example2:
                value:
                  dataArray:
                    - swapHex: >-
                        0100000001c5a3b200dce3761303df00166b7f424987ba7bce0ca2806ccfd6c0492fd43b98000000006a47304402201a289a73ca3c3e3dd183193c9c52fd1cbd1607d31769879b56da5eadd00071810220296232d51d8591406848eb4a7ee7dd246403de69237afbab687f0bc84e6354cbc3210387d82034a417c41916f212a70978c199fead7a3a2769f4d3ed0ebce8f361f835ffffffff0150c30000000000001976a914ec83f1fb2c52dbd7b2d4c70cf95150560d611b9088ac00000000
                    - swapHex: >-
                        0100000001b0619eea04bf5f1f765097cbbe2fad314dc6cedebedfe45e97bd30e261008820000000006a473044022075b1b3d916dc32bd7b4dd13e1681e5cb68944331a515ea5d169eb665f032617b022050d287f19c63d0b99a78af62ba580c4574b43373db134b9fc9cb157b9156d882c3210387d82034a417c41916f212a70978c199fead7a3a2769f4d3ed0ebce8f361f835ffffffff0150c30000000000001976a914ec83f1fb2c52dbd7b2d4c70cf95150560d611b9088ac00000000
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsInspectAtomicSwapOfferResponse
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Offer details fetched successfully
                      offerDetails:
                        - tokenOwnerAddress: 1NZaXzJHBLTqeBXn45AvkoPCkbwatizDCW
                          tokenCreatorAddress: 1BuEAp4mjJdeDGcpw6XdvtA9fWmHNF2mMX
                          tokenSatoshis: 1
                          wantedSatoshis: 25
                          tokenImage: >-
                            https://upload.wikimedia.org/wikipedia/en/9/95/Test_image.jpg
                          serialNumber: 85
                          splittbale: false
                          contractTxid: >-
                            e24cd3c552d71c2dd8513cdeac81a6d2ca48a055f73cbc58d118a33f037c9ca1
                          tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2
                          symbol: WDG
                          tokenSupply: 123
                          verified: true
                          tokenName: White Dragon
                          tokenDescription: White Dragon
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Offer details fetched successfully
                      offerDetails:
                        - tokenOwnerAddress: 12fKJzMbsMW6HxAsCMsrL4jrxC2p8umDGf
                          tokenCreatorAddress: 1BuEAp4mjJdeDGcpw6XdvtA9fWmHNF2mMX
                          tokenSatoshis: 1
                          wantedSatoshis: 100000000
                          tokenImage: >-
                            https://upload.wikimedia.org/wikipedia/en/9/95/Test_image.jpg
                          serialNumber: 0
                          splittbale: true
                          contractTxid: >-
                            a29f4948fd8c17d2e9be8e21f7312dcbcafe2f65b0eb4f0bf4d261a3e3a13c8c
                          tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2
                          symbol: SBPTEST12345
                          tokenSupply: 5
                          verified: true
                          tokenName: Store Bonus Points
                          tokenDescription: Store Bonus Points
                        - tokenOwnerAddress: 1NZaXzJHBLTqeBXn45AvkoPCkbwatizDCW
                          tokenCreatorAddress: 1BuEAp4mjJdeDGcpw6XdvtA9fWmHNF2mMX
                          tokenSatoshis: 1
                          wantedSatoshis: 25
                          tokenImage: >-
                            https://upload.wikimedia.org/wikipedia/en/9/95/Test_image.jpg
                          serialNumber: 85
                          splittbale: false
                          contractTxid: >-
                            e24cd3c552d71c2dd8513cdeac81a6d2ca48a055f73cbc58d118a33f037c9ca1
                          tokenId: 7791e1839f705e2813ec744a15fd10d355ff99b2
                          symbol: WDG
                          tokenSupply: 123
                          verified: true
                          tokenName: White Dragon
                          tokenDescription: White Dragon
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsInspectAtomicSwapOffer400Response
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/redeem:
    post:
      tags:
        - Smart Contracts
      summary: Smart contract Redemption.
      operationId: SmartContracts_redeemTokens
      security:
        - authToken: []
        - serviceID: []
      description: >-
        This endpoint lets user redeem tokens and thus dissolving the smart
        contract for satoshis.
      parameters:
        - schema:
            type: string
          in: header
          name: walletID
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartContractsRedeemTokensRequest'
            examples:
              example1:
                value:
                  dataArray:
                    - amount: 1
                      tokenId: 8a9e7ec666f0610ff3f0540ed55f07162e9dd7a8-SBP
                      sn: 0
              example2:
                value:
                  dataArray:
                    - amount: 1
                      tokenId: 8a9e7ec666f0610ff3f0540ed55f07162e9dd7a8-SBP
                      sn: 0
                    - amount: 1
                      tokenId: 8a9e7ec666f0610ff3f0540ed55f07162e9dd7a8-SBP_TEST
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartContractsRedeemTokensResponse'
              examples:
                example1:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Redemption successful.
                      txIds:
                        - >-
                          7f06cdece4c08192e8872be802f120b85f0610e6f8e448b85c301e89ccc5bfe1
                      errors: []
                example2:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Redemption successful.
                      txIds:
                        - >-
                          7f06cdece4c08192e8872be802f120b85f0610e6f8e448b85c301e89ccc5bfe1
                        - >-
                          d1f376ffb62f30efdd1336ec379eb462ab1068dd67a55789ab1c445cf35c540d
                      errors: []
                example3:
                  value:
                    statusCode: 200
                    data:
                      status: success
                      msg: Redemption successful.
                      txIds:
                        - >-
                          d1f376ffb62f30efdd1336ec379eb462ab1068dd67a55789ab1c445cf35c540d
                      errors:
                        - Error message 1
                        - Error message 2
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartContractsRedeemTokens400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/createWallet:
    get:
      tags:
        - Wallets
      summary: Create a wallet.
      operationId: Wallets_createHDWalletOfChoice
      security:
        - authToken: []
        - serviceID: []
      description: >-
        Create a HD wallet of choice in your user account. You can select
        between standard, secure, escrow and shared wallets (see
        docs.relysia.com).
      parameters:
        - schema:
            type: string
          in: header
          name: walletTitle
          required: true
        - schema:
            type: string
          in: header
          name: mnemonicPhrase
          required: false
        - schema:
            type: string
          in: header
          name: paymail
          required: false
        - schema:
            type: boolean
          in: header
          name: paymailActivate
          required: false
        - schema:
            type: string
          in: header
          name: type
          required: false
        - schema:
            type: string
            nullable: true
          in: header
          name: walletLogo
          required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletsCreateHdWalletOfChoiceResponse'
              example:
                statusCode: 200
                data:
                  status: success
                  msg: Wallet created successfully.
                  walletID: 5f7b1b1b-5f7b-1b1b-5f7b-1b1b5f7b1b1b
                  paymail: 14735@dev.relysia.com
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletsCreateHdWalletOfChoice400Response'
              example:
                statusCode: 400
                data:
                  status: error
                  msg: Err msg
  /v1/metrics:
    get:
      tags:
        - Utility
      summary: Get the latest wallet UTXO state.
      operationId: Utility_getLatestUtxoState
      security:
        - authToken: []
        - serviceID: []
      description: >-
        UTXOs are the base unit of transactions in the Bitcoin network. The
        metrics endpoint first updates the last UTXO state, and then shows a
        detailled output of each UTXO in the wallet.
      parameters:
        - schema:
            type: string
          in: header
          name: walletID
          required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityGetLatestUtxoStateResponse'
              example:
                statusCode: 200
                data:
                  status: success
                  msg: UTXO state updated successfully
                  data:
                    balance: 6078
                    userUtxos:
                      - userId: JZzO1ySdhkPkBYQLXa66EbXDUFD2
                        walletId: 58c4e3e0-c4d3-413e-a8b9-3b30508e8c83
                        script: 76a914ee31f7eae549febdffc53a995bdee8ff0ba2300688ac
                        tx_pos: 0
                        address: 1NiTgXKyS4oS3fyzHp6PryeBvc6FMJDW12
                        path: m/44'/0'/0'/0/0
                        tx_hash: >-
                          43f7f41c0ff873f3b576894fc3c7626a187258cd838f36062f54bc3b14fe3620
                        value: 25
                      - userId: JZzO1ySdhkPkBYQLXa66EbXDUFD2
                        walletId: 58c4e3e0-c4d3-413e-a8b9-3b30508e8c83
                        script: 76a914ee31f7eae549febdffc53a995bdee8ff0ba2300688ac
                        tx_pos: 1
                        address: 1NiTgXKyS4oS3fyzHp6PryeBvc6FMJDW12
                        path: m/44'/0'/0'/0/0
                        tx_hash: >-
                          43f7f41c0ff873f3b576894fc3c7626a187258cd838f36062f54bc3b14fe3620
                        value: 481
                      - userId: JZzO1ySdhkPkBYQLXa66EbXDUFD2
                        walletId: 58c4e3e0-c4d3-413e-a8b9-3b30508e8c83
                        script: 76a914d703dafb29efd43caad53e9f1bcb924e6546694e88ac
                        tx_pos: 1
                        address: 1Lbtu82Jm9poEdgKB3HsTDWS9YSC91Hpny
                        path: m/44'/0'/0'/0/1
                        tx_hash: >-
                          76d79ad05cfeb4068535377cdff0113a084b084e936b7751c39895587be41d3d
                        value: 4933
                      - userId: JZzO1ySdhkPkBYQLXa66EbXDUFD2
                        walletId: 58c4e3e0-c4d3-413e-a8b9-3b30508e8c83
                        script: 76a91498de3990604e4fe330f65e6b0125243eb909d1dd88ac
                        tx_pos: 0
                        address: 1EwHvcWDjWcBGBXJLae8k4dsaVo8QKsqCP
[...]
