openapi: 3.0.1
info:
  title: Linkcy Api
  description: >
    # Overview


    This is the partner API from [linkcy](https://linkcy.io/). Here you can find
    our API documentation.


    LinkCy API allows you to create fully embedded banking products for your own
    company or consumers. This API is backed by

    all mandatory requirements by financial authorities. To process, information

    provided into the API must be accurate.


    # Authentication


    You can obtain a LinkCy Authorization Key by contacting our commercial team
    [here](mailto:romaric.bouxin@linkcy.io).
  version: 1.78.0
  contact:
    url: https://linkcy.io/#contact
  x-logo:
    url: https://linkcy.io/content/uploads/2022/06/logo.svg
    altText: LinkCy
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Generated server url
    url: https://api.sandbox.linkcy.cloud
tags:
  - name: Card
  - name: KYB
  - name: Ledger
  - name: Sandbox
  - name: KYC
  - name: Direct Debit Mandate
  - name: Partner
  - name: Transaction
  - description: >
      The consumer represents the individual partner client. It must have a
      valid phone number and be formally identified with

      a [KYC](https://docs.sandbox.linkcy.io/) procedure before carrying out any
      operation. 
    name: Consumer
  - name: Strong Authentication
  - name: Authentication
  - name: Corporate
  - name: Beneficiary
  - name: Documents
  - name: Acquiring
  - name: Additional
  - name: End-user
  - name: Webhook
  - name: Web Pages
paths:
  /paynovate/mvc-count: {}
  /api/partner/cards/{cardId}/rules:
    put:
      tags:
        - Card
      summary: Update a rule from card
      operationId: Card_updateRule
      description: >-
        Update card by creating a new card rule. When creating a card rule with
        a type that already exists, it will override the previous one.


        Both partner and enduser can set a rule of the same type. The more
        restrictive one will be applied.


        This operation might require **SCA**.
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - description: >-
            The strategy to use when a SCA is required:

            <details>

            <summary>More information:</summary>


            - `PUSH_NOTIFICATION`: will send a notification if the SCA is
            required.

            - `JOIN_CODE`: will return a join code if SCA is required.

            - `FAIL`: will fail if SCA is required.

            - `BY_PASS`: Sandbox only - will ignore any SCA if used.

            </details>



            <details>

            <summary>ErrorCode</summary>


            - 409 Conflict
                - `SCA_REQUIRED`: The operation requires SCA. Can be returned if you try to use BY_PASS while not allowed. Will be returned if strategy is FAIL.
                - `SCA_DEVICE_NOT_SET`: The operation requires SCA and strategy allows it, but the user has no sca device set up. You need to enroll one first. 
            </details>
          name: Linkcy-SCA-Strategy
          in: header
          required: false
          schema:
            type: string
            default: PUSH_NOTIFICATION
            enum:
              - PUSH_NOTIFICATION
              - JOIN_CODE
              - FAIL
              - BY_PASS
        - description: >
            The factor type required for the operation :

            <details>

            <summary>More information:</summary>


            - `BIOMETRY`: will require fingerprint or face recognition depending
            on device.

            - `PIN`: will require the endpoint pin. When using this factor, a
            pin must have been registered through the SDK first. Sca pin and end
            user password can differ.

            </details>


            <details>

            <summary>ErrorCode</summary>


            - 400 Bad Request
                - `SCA_FACTOR_NOT_SET`: The user has a sca device set up, but the factor requested is not enrolled yet. You must either enroll it or change the factor.
            </details>
          name: Linkcy-SCA-Factor
          in: header
          required: false
          schema:
            type: string
            default: BIOMETRY
            enum:
              - BIOMETRY
              - PIN
        - description: |-
            The id of the completed SCA operation.

            <details>
            <summary>ErrorCode</summary>

            - 404 Not Found
                - `SCA_INTERACTION_NOT_FOUND`: The specified id could not be found.
            - 409 Conflict
                - `SCA_INTERACTION_NOT_COMPLETED`: The SCA interaction is not completed (pending).
                - `SCA_INTERACTION_DECLINED`: The SCA interaction was declined by user or expired. 
                - `SCA_INTERACTION_ALREADY_CONSUMED`: The SCA interaction has already been used, you need to create a new one.
                - `SCA_INTERACTION_DOES_NOT_MATCH`: The SCA interaction does not match the one you are trying to make. Body or url is different.
            </details>
          name: Linkcy-SCA-Id
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardRuleUpdateDto'
        required: true
      responses:
        '202':
          description: Waiting SCA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardUpdateRuleResponse'
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardUpdateRule404Response'
              examples:
                Card-not-found:
                  value:
                    errorCode: CARD_NOT_FOUND
                    message: Card {0} was not found.
                    error: linkcy.not.found
                    status: 404
                    timestamp: '2024-03-26T09:01:26.130652269Z'
  /api/partner/card-profiles/{cardProfileId}/rules:
    put:
      tags:
        - Card
      summary: Create a default card profile rule
      operationId: Card_createDefaultRule
      description: >-
        When creating a card with this profile, profile rules will by default be
        applied to the card.


        Any modification on a rule type will ONLY apply to new created cards.


        Any card created PRIOR to that modification will NOT be affected by it,
        and will retain all rules applied on creation.
      parameters:
        - name: cardProfileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardRuleUpdateDto'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardCreateDefaultRuleResponse'
              examples:
                Card-profile-not-found:
                  value:
                    errorCode: CARD_PROFILE_NOT_FOUND
                    message: Card profile with id {0} was not found.
                    error: linkcy.not.found
                    status: 404
                    timestamp: '2024-03-26T09:01:26.244286386Z'
  /api/internal/partners/restrictions: {}
  /paynovate/cards-productions: {}
  /paynovate/card-programs: {}
  /paynovate/card-designs: {}
  /api/partner/verifications/phone/verify:
    post:
      tags:
        - KYC
      summary: Verify phone verification code
      operationId: Kyc_verifyPhoneVerificationCode
      description: >-
        This second step allow LinkCy to verify that the phone number and
        country code provided by the consumer is valid and he controls the SIM.


        If the consumer does not provide a valid code, he will not get access to
        the KYC step which is also mandatory.


        The SMS code is a 6-digits and valid for 10 minutes and the consumer has
        5 attempts. Once the delay of the number of attempts is reached, you
        have to ask for another code by using: Send consumer verification code
        Endpoint here. 


        Note: You can simulate that step in a Sandbox environment. Code is
        always 123456.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneVerifyRequestDto'
        required: true
      responses:
        '204':
          description: Phone was successfully verified
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycVerifyPhoneVerificationCodeResponse'
              examples:
                Invalid-phone-code:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Phone code is not valid.
                    errorCode: INVALID_PHONE_CODE
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:26.620613460Z'
                Person-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Person of type {0} with id {1} was not found.
                    errorCode: PERSON_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:26.620621748Z'
                Person-id-required:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: >-
                          You must either specify a person id or be
                          authenticated as CONSUMER. Current user type is {0}.
                    errorCode: PERSON_ID_REQUIRED
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:26.620625631Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycVerifyPhoneVerificationCode409Response'
              examples:
                Phone-already-verified:
                  value:
                    errorCode: PHONE_ALREADY_VERIFIED
                    message: Phone is already verified for user {0}.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.616485315Z'
                Phone-code-has-expired:
                  value:
                    errorCode: PHONE_CODE_HAS_EXPIRED
                    message: >-
                      Phone code has expired, please restart the creation
                      process.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.616491997Z'
  /api/partner/verifications/phone/send:
    post:
      tags:
        - KYC
      summary: Send phone verification code by sms
      operationId: Kyc_sendPhoneVerificationSms
      description: >+
        This Endpoint allows you to send a verification code to your user by
        SMS. This code is a 6-digit code.


        If you want to personalize the Sender Name, please contact your customer
        care.


        NOTE : In Sandbox, no SMS is sent. Verification code will always be
        123456

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneVerificationSendRequestDto'
        required: true
      responses:
        '200':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneVerificationSendResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycSendPhoneVerificationSmsResponse'
              examples:
                Person-id-required:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: >-
                          You must either specify a person id or be
                          authenticated as CONSUMER. Current user type is {0}.
                    errorCode: PERSON_ID_REQUIRED
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:26.637805438Z'
                Person-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Person of type {0} with id {1} was not found.
                    errorCode: PERSON_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:26.637811801Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycSendPhoneVerificationSms409Response'
              examples:
                Phone-already-verified:
                  value:
                    errorCode: PHONE_ALREADY_VERIFIED
                    message: Phone is already verified for user {0}.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.633810771Z'
                Phone-code-still-active:
                  value:
                    errorCode: PHONE_CODE_STILL_ACTIVE
                    message: Phone code for user {0} is still active.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.633834932Z'
                Phone-code-must-be-sent:
                  value:
                    errorCode: PHONE_CODE_MUST_BE_SENT
                    message: >-
                      Phone code must be sent, please follow the steps of
                      creation process.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.633839045Z'
  /api/partner/verifications/email/send:
    post:
      tags:
        - KYC
      summary: Send an email verification link by email
      operationId: Kyc_sendEmailVerification
      description: >+
        This Endpoint allows you to send an email verification to your user. The
        user will receive a link by email in order to verify his current email.

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationSendRequestDto'
        required: true
      responses:
        '200':
          description: Verification email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailVerificationSendResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycSendEmailVerificationResponse'
              examples:
                Person-not-found:
                  value:
                    errorCode: PERSON_NOT_FOUND
                    message: Person of type {0} with id {1} was not found.
                    error: linkcy.not.found
                    status: 404
                    timestamp: '2024-03-26T09:01:26.730174893Z'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycSendEmailVerification409Response'
              examples:
                Email-already-verified:
                  value:
                    errorCode: EMAIL_ALREADY_VERIFIED
                    message: Email address is already verified.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.728279465Z'
                Email-must-not-be-null:
                  value:
                    errorCode: EMAIL_MUST_NOT_BE_NULL
                    message: Email must not be null in order to verify it.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.728285809Z'
  /api/partner/verifications/address:
    post:
      tags:
        - KYC
      summary: Verify the address of an end-user
      operationId: Kyc_verifyAddress
      description: >-
        This endpoint allows you to verify an end-user's address using different
        methods:

         - LINK: This method generates a URL link that the end-user can use to complete its Proof of Address (POA).

         - UPLOADED_DOCUMENT: Use this method when a POA document has already been [uploaded](https://docs.sandbox.linkcy.io/) which will be used to verify the address.

         - DELEGATED: When the address verification is delegated to the partner (property "delegatedPoa" set to "true") and the POA document has been [uploaded](https://docs.sandbox.linkcy.io/), you can use this method to update the address status to "VERIFIED".
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KycVerifyAddressRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressVerifyWithLinkResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycVerifyAddressResponse'
              examples:
                End-user-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: End-user with id {0} was not found.
                    errorCode: END_USER_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:26.821343163Z'
                Document-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Document with id {0} was not found.
                    errorCode: DOCUMENT_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:26.821348875Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycVerifyAddress409Response'
              examples:
                Operation-not-allowed:
                  value:
                    errorCode: OPERATION_NOT_ALLOWED
                    message: >-
                      This operation is not allowed by your current
                      configuration.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.817516498Z'
                Invalid-document-type:
                  value:
                    errorCode: INVALID_DOCUMENT_TYPE
                    message: Document with id {0} must have {1} type but has {2} type.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.817523607Z'
  /api/partner/transactions:
    get:
      tags:
        - Transaction
      summary: List transactions
      operationId: Transaction_getAll
      description: Fetch all transactions.
      parameters:
        - name: sortAttribute
          in: query
          required: false
          schema:
            type: string
            enum:
              - CREATION_DATE
        - description: The id of the end user who is transaction actor (sender / receiver)
          name: endUserId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - description: Get transactions made from or to this ledger (ledgerFrom / ledgerTo)
          name: ledgerId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - description: Get transactions made from this card
          name: cardId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: transactionTypes
          in: query
          required: false
          schema:
            type: array
            items:
              title: TransactionType
              description: Get transactions of these transaction types
              type: string
              enum:
                - CARD_AUTHORIZATION
                - CARD_CLEARING
                - SEPA_DIRECT_DEBIT
                - INTER_LEDGER
                - ACQUIRING
                - FX
                - SEPA_CREDIT_TRANSFER
                - UK_CREDIT_TRANSFER
                - UNKNOWN
        - name: paymentTypes
          in: query
          required: false
          schema:
            type: array
            items:
              description: Get transactions of these payment types
              type: string
              enum:
                - MONEY_TRANSFER
                - TECH_MVC_CREATION
                - TECH_TRANSACTION
                - ACCOUNT_LOAD
                - PAYMENT
                - ACCOUNT_FUNDING
                - ACCOUNT_TRANSFER
                - ACCOUNT_VERIFICATION
                - ADJUSTMENT_CREDIT
                - ADJUSTMENT_DEBIT
                - CASH_ADVANCE
                - CARD_LOAD
                - CARD_UNLOAD
                - CHECK_DEPOSIT
                - DEPOSIT
                - FEE_COLLECTION
                - ORIGINAL_CREDIT
                - PAYMENT_TRANSACTION
                - PURCHASE
                - PURCHASE_RETURN_OR_REFUND
                - PURCHASE_WITH_CASHBACK
                - QUASI_CASH
                - UNIQUE_MCC_TRANSACTION
                - WITHDRAWAL
                - TECH_CARD_SETTLEMENT
                - SCT_RECEIVE
                - SCT_INST_RECEIVE
                - SCT_SEND
                - SCT_INST_SEND
                - SDD_SEND
                - SDD_RECEIVE
                - BACS_RECEIVE
                - FASTER_PAYMENT_RECEIVE
                - BACS_SEND
                - FASTER_PAYMENT_SEND
                - GLOBAL_SWIFT
                - UNKNOWN
        - description: >-
            Get transactions in RELEASED status (card authorization), by default
            is true
          name: showReleasedTransaction
          in: query
          required: false
          schema:
            type: boolean
        - description: Get transactions in DECLINED and ABORTED status, by default is true
          name: showDeclinedTransaction
          in: query
          required: false
          schema:
            type: boolean
        - description: 'Get transactions from this date, example: 2022-05-16T10:30'
          name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: 'Get transactions until this date, example: 2022-05-16T10:30'
          name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: status
          in: query
          required: false
          schema:
            type: array
            items:
              description: >-
                The transaction status. If empty, the query will return
                transactions for all transaction status.
              type: string
              enum:
                - APPROVED
                - DECLINED
                - RELEASED
                - REVERSED
                - PENDING
                - PENDING_REVIEW
                - UNKNOWN
                - ABORTED
        - description: The size of the page to be returned.
          name: pageSize
          in: query
          required: false
          schema:
            maximum: 100
            type: integer
            format: int32
        - description: The page number.
          name: page
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: sortDirection
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ListResponseDtoTransactionResponseDto_Partner
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
    post:
      tags:
        - Transaction
      summary: Create a transaction to a beneficiary
      operationId: Transaction_createBeneficiaryTransaction
      description: |-
        Create a transaction between a ledger and a beneficiary.

        This operation might require **SCA**.
      parameters:
        - description: >-
            The strategy to use when a SCA is required:

            <details>

            <summary>More information:</summary>


            - `PUSH_NOTIFICATION`: will send a notification if the SCA is
            required.

            - `JOIN_CODE`: will return a join code if SCA is required.

            - `FAIL`: will fail if SCA is required.

            - `BY_PASS`: Sandbox only - will ignore any SCA if used.

            </details>



            <details>

            <summary>ErrorCode</summary>


            - 409 Conflict
                - `SCA_REQUIRED`: The operation requires SCA. Can be returned if you try to use BY_PASS while not allowed. Will be returned if strategy is FAIL.
                - `SCA_DEVICE_NOT_SET`: The operation requires SCA and strategy allows it, but the user has no sca device set up. You need to enroll one first. 
            </details>
          name: Linkcy-SCA-Strategy
          in: header
          required: false
          schema:
            type: string
            default: PUSH_NOTIFICATION
            enum:
              - PUSH_NOTIFICATION
              - JOIN_CODE
              - FAIL
              - BY_PASS
        - description: >
            The factor type required for the operation :

            <details>

            <summary>More information:</summary>


            - `BIOMETRY`: will require fingerprint or face recognition depending
            on device.

            - `PIN`: will require the endpoint pin. When using this factor, a
            pin must have been registered through the SDK first. Sca pin and end
            user password can differ.

            </details>


            <details>

            <summary>ErrorCode</summary>


            - 400 Bad Request
                - `SCA_FACTOR_NOT_SET`: The user has a sca device set up, but the factor requested is not enrolled yet. You must either enroll it or change the factor.
            </details>
          name: Linkcy-SCA-Factor
          in: header
          required: false
          schema:
            type: string
            default: BIOMETRY
            enum:
              - BIOMETRY
              - PIN
        - description: |-
            The id of the completed SCA operation.

            <details>
            <summary>ErrorCode</summary>

            - 404 Not Found
                - `SCA_INTERACTION_NOT_FOUND`: The specified id could not be found.
            - 409 Conflict
                - `SCA_INTERACTION_NOT_COMPLETED`: The SCA interaction is not completed (pending).
                - `SCA_INTERACTION_DECLINED`: The SCA interaction was declined by user or expired. 
                - `SCA_INTERACTION_ALREADY_CONSUMED`: The SCA interaction has already been used, you need to create a new one.
                - `SCA_INTERACTION_DOES_NOT_MATCH`: The SCA interaction does not match the one you are trying to make. Body or url is different.
            </details>
          name: Linkcy-SCA-Id
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryTransactionCreateRequestDto'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryTransactionCreateResponseDto'
        '202':
          description: Waiting SCA
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionCreateBeneficiaryTransactionResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionCreateBeneficiaryTransaction400Response
              examples:
                Ledger-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Ledger with id {0} was not found.
                    errorCode: LEDGER_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:26.841095409Z'
                Beneficiary-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Beneficiary with id {0} was not found.
                    errorCode: BENEFICIARY_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:26.841101212Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionCreateBeneficiaryTransaction409Response
              examples:
                Consumer-kyc-must-be-validated:
                  value:
                    errorCode: CONSUMER_KYC_MUST_BE_VALIDATED
                    message: Consumer kyc must be validated.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837559448Z'
                Corporate-kyb-must-be-validated:
                  value:
                    errorCode: CORPORATE_KYB_MUST_BE_VALIDATED
                    message: Corporate kyb must be validated.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837565410Z'
                Linkcy-status-must-be-validated:
                  value:
                    errorCode: LINKCY_STATUS_MUST_BE_VALIDATED
                    message: >-
                      The current linkcy status ({0}) of current end-user
                      (id={1}) does not allow this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837569218Z'
                End-user-must-not-be-suspended:
                  value:
                    errorCode: END_USER_MUST_NOT_BE_SUSPENDED
                    message: >-
                      End-user (with id {0}) must not be suspended to do this
                      operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837582981Z'
                Banking-status-must-be-validated:
                  value:
                    errorCode: BANKING_STATUS_MUST_BE_VALIDATED
                    message: >-
                      The current banking status ({0}) of current end-user
                      (id={1}) does not allow this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837586365Z'
                Ledger-must-be-active:
                  value:
                    errorCode: LEDGER_MUST_BE_ACTIVE
                    message: Ledger must be active to do this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837589641Z'
                Ledger-must-be-provisioned:
                  value:
                    errorCode: LEDGER_MUST_BE_PROVISIONED
                    message: Ledger must be provisioned to perform this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837592714Z'
                Beneficiary-must-be-active:
                  value:
                    errorCode: BENEFICIARY_MUST_BE_ACTIVE
                    message: The beneficiary with id {0} is not active.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837595811Z'
                Beneficiary-must-be-valid:
                  value:
                    errorCode: BENEFICIARY_MUST_BE_VALID
                    message: >-
                      The beneficiary with id {0} is not VALID, current status
                      is {1}.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837598746Z'
                Ledger-must-be-upgraded:
                  value:
                    errorCode: LEDGER_MUST_BE_UPGRADED
                    message: Ledger must be upgraded to do this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837601539Z'
                Terms-and-conditions-not-accepted:
                  value:
                    errorCode: TERMS_AND_CONDITIONS_NOT_ACCEPTED
                    message: >-
                      The {0} with id {1} has not accepted the latest terms and
                      conditions.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837604861Z'
                Beneficiary-not-compatible:
                  value:
                    errorCode: BENEFICIARY_NOT_COMPATIBLE
                    message: >-
                      We can not create a transaction to a {0} beneficiary from
                      this ledger.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.837607648Z'
  /api/partner/transactions/inter-ledger:
    post:
      tags:
        - Transaction
      summary: Create an inter-ledger transaction
      operationId: Transaction_createInterLedgerTransaction
      description: |-
        Create a transaction between ledgers of two of your end-users.

        This operation might require **SCA**.
      parameters:
        - description: >-
            The strategy to use when a SCA is required:

            <details>

            <summary>More information:</summary>


            - `PUSH_NOTIFICATION`: will send a notification if the SCA is
            required.

            - `JOIN_CODE`: will return a join code if SCA is required.

            - `FAIL`: will fail if SCA is required.

            - `BY_PASS`: Sandbox only - will ignore any SCA if used.

            </details>



            <details>

            <summary>ErrorCode</summary>


            - 409 Conflict
                - `SCA_REQUIRED`: The operation requires SCA. Can be returned if you try to use BY_PASS while not allowed. Will be returned if strategy is FAIL.
                - `SCA_DEVICE_NOT_SET`: The operation requires SCA and strategy allows it, but the user has no sca device set up. You need to enroll one first. 
            </details>
          name: Linkcy-SCA-Strategy
          in: header
          required: false
          schema:
            type: string
            default: PUSH_NOTIFICATION
            enum:
              - PUSH_NOTIFICATION
              - JOIN_CODE
              - FAIL
              - BY_PASS
        - description: >
            The factor type required for the operation :

            <details>

            <summary>More information:</summary>


            - `BIOMETRY`: will require fingerprint or face recognition depending
            on device.

            - `PIN`: will require the endpoint pin. When using this factor, a
            pin must have been registered through the SDK first. Sca pin and end
            user password can differ.

            </details>


            <details>

            <summary>ErrorCode</summary>


            - 400 Bad Request
                - `SCA_FACTOR_NOT_SET`: The user has a sca device set up, but the factor requested is not enrolled yet. You must either enroll it or change the factor.
            </details>
          name: Linkcy-SCA-Factor
          in: header
          required: false
          schema:
            type: string
            default: BIOMETRY
            enum:
              - BIOMETRY
              - PIN
        - description: |-
            The id of the completed SCA operation.

            <details>
            <summary>ErrorCode</summary>

            - 404 Not Found
                - `SCA_INTERACTION_NOT_FOUND`: The specified id could not be found.
            - 409 Conflict
                - `SCA_INTERACTION_NOT_COMPLETED`: The SCA interaction is not completed (pending).
                - `SCA_INTERACTION_DECLINED`: The SCA interaction was declined by user or expired. 
                - `SCA_INTERACTION_ALREADY_CONSUMED`: The SCA interaction has already been used, you need to create a new one.
                - `SCA_INTERACTION_DOES_NOT_MATCH`: The SCA interaction does not match the one you are trying to make. Body or url is different.
            </details>
          name: Linkcy-SCA-Id
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterLedgerTransactionCreateRequestDto'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterLedgerTransactionCreateResponseDto'
        '202':
          description: Waiting SCA
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionCreateInterLedgerTransactionResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionCreateInterLedgerTransaction400Response
              examples:
                Ledger-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Ledger with id {0} was not found.
                    errorCode: LEDGER_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:26.926153125Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionCreateInterLedgerTransaction409Response
              examples:
                Consumer-kyc-must-be-validated:
                  value:
                    errorCode: CONSUMER_KYC_MUST_BE_VALIDATED
                    message: Consumer kyc must be validated.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.922458682Z'
                Corporate-kyb-must-be-validated:
                  value:
                    errorCode: CORPORATE_KYB_MUST_BE_VALIDATED
                    message: Corporate kyb must be validated.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.922464663Z'
                Linkcy-status-must-be-validated:
                  value:
                    errorCode: LINKCY_STATUS_MUST_BE_VALIDATED
                    message: >-
                      The current linkcy status ({0}) of current end-user
                      (id={1}) does not allow this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.922468268Z'
                End-user-must-not-be-suspended:
                  value:
                    errorCode: END_USER_MUST_NOT_BE_SUSPENDED
                    message: >-
                      End-user (with id {0}) must not be suspended to do this
                      operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.922471767Z'
                Banking-status-must-be-validated:
                  value:
                    errorCode: BANKING_STATUS_MUST_BE_VALIDATED
                    message: >-
                      The current banking status ({0}) of current end-user
                      (id={1}) does not allow this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.922474962Z'
                Ledger-must-be-active:
                  value:
                    errorCode: LEDGER_MUST_BE_ACTIVE
                    message: Ledger must be active to do this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.922478276Z'
                Ledger-must-be-provisioned:
                  value:
                    errorCode: LEDGER_MUST_BE_PROVISIONED
                    message: Ledger must be provisioned to perform this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.922481225Z'
                Terms-and-conditions-not-accepted:
                  value:
                    errorCode: TERMS_AND_CONDITIONS_NOT_ACCEPTED
                    message: >-
                      The {0} with id {1} has not accepted the latest terms and
                      conditions.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.922484527Z'
                Inter-ledger-transaction-must-be-two-different-ledgers:
                  value:
                    errorCode: INTER_LEDGER_TRANSACTION_MUST_BE_TWO_DIFFERENT_LEDGERS
                    message: >-
                      Inter ledger transaction must be done between two
                      different ledgers.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:26.922488631Z'
  /api/partner/transactions/direct-debit:
    post:
      tags:
        - Transaction
      summary: Create a direct debit transaction
      operationId: Transaction_createDirectDebit
      description: >-
        Create a SEPA Direct Debit transaction. The ledger and the mandate must
        be activated.


        If the mandate is not recurring, only one transaction will be allowed.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitTransactionCreateRequestDto'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitTransactionCreateResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionCreateDirectDebitResponse'
              examples:
                Mandate-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Direct debit mandate with id {0} was not found.
                    errorCode: MANDATE_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.019506144Z'
                Ledger-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Ledger with id {0} was not found.
                    errorCode: LEDGER_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.019512240Z'
                Invalid-date:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: >-
                          The specified date is invalid. Please choose a later
                          date that is at least two days from today (J+2).
                    errorCode: INVALID_DATE
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.019515727Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionCreateDirectDebit409Response'
              examples:
                Mandate-must-be-active:
                  value:
                    errorCode: MANDATE_MUST_BE_ACTIVE
                    message: Direct debit mandate with id {0} must be validated
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.015651996Z'
                Ledger-must-be-active:
                  value:
                    errorCode: LEDGER_MUST_BE_ACTIVE
                    message: Ledger must be active to do this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.015658848Z'
                Mandate-not-recurring:
                  value:
                    errorCode: MANDATE_NOT_RECURRING
                    message: >-
                      More than one transaction is not permited on a
                      non-recurring mandate
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.015662666Z'
                Corporate-kyb-must-be-validated:
                  value:
                    errorCode: CORPORATE_KYB_MUST_BE_VALIDATED
                    message: Corporate kyb must be validated.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.015666847Z'
                Linkcy-status-must-be-validated:
                  value:
                    errorCode: LINKCY_STATUS_MUST_BE_VALIDATED
                    message: >-
                      The current linkcy status ({0}) of current end-user
                      (id={1}) does not allow this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.015670747Z'
                End-user-must-not-be-suspended:
                  value:
                    errorCode: END_USER_MUST_NOT_BE_SUSPENDED
                    message: >-
                      End-user (with id {0}) must not be suspended to do this
                      operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.015674567Z'
                Banking-status-must-be-validated:
                  value:
                    errorCode: BANKING_STATUS_MUST_BE_VALIDATED
                    message: >-
                      The current banking status ({0}) of current end-user
                      (id={1}) does not allow this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.015678179Z'
  /api/partner/sms:
    post:
      tags:
        - Additional
      summary: Send SMS
      operationId: Additional_sendSms
      description: >-
        Send a SMS to any user. For more information about allowed characters or
        SMS length, please refer to the [twilio
        documentation](https://www.twilio.com/docs/glossary/what-sms-character-limit#:~:text=A%20single%20SMS%20message%20technically,longer%20messages%20to%20be%20sent).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsSendRequestDto'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalSendSmsResponse'
              examples:
                Person-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Person of type {0} with id {1} was not found.
                    errorCode: PERSON_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.041988493Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalSendSms409Response'
              examples:
                Service-not-active:
                  value:
                    errorCode: SERVICE_NOT_ACTIVE
                    message: This service is not active
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.038717212Z'
  /api/partner/shares:
    post:
      tags:
        - KYB
      summary: Create a share
      operationId: Kyb_createShare
      description: Create a new corporate-related share.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareCreateRequestDto'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareCreateResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybCreateShareResponse'
              examples:
                Corporate-related-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Corporate related with id {0} was not found.
                    errorCode: CORPORATE_RELATED_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.120742236Z'
                Total-shares-percentage-is-over-100:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: >-
                          The shares of this entity would cause its owned
                          corporate to exceed 100% of shares ({1}%).
                    errorCode: TOTAL_SHARES_PERCENTAGE_IS_OVER_100
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.120749573Z'
                Share-percentage-equals-zero:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: The share percentage can not be zero.
                    errorCode: SHARE_PERCENTAGE_EQUALS_ZERO
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.120753920Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybCreateShare409Response'
              examples:
                Share-already-exist:
                  value:
                    errorCode: SHARE_ALREADY_EXIST
                    message: >-
                      The corporate-related {0} has already share with the owned
                      corporate id {1}.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.117341086Z'
                Cyclic-share-dependency:
                  value:
                    errorCode: CYCLIC_SHARE_DEPENDENCY
                    message: >-
                      An owned corporate-related has shares of the current
                      corporate-related which would lead to a cyclic share
                      dependency.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.117346929Z'
  /api/partner/sca:
    post:
      tags:
        - Strong Authentication
      summary: Onboard a known mobile.
      operationId: StrongAuthentication_onboardDeviceSca
      description: >-
        Onboard an end user device (with its endpointID) as a second factor to
        enable Strong Customer Authentication (SCA).


        This operation can be retried as long as no factor has not yet been
        validated.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScaDeviceCreateRequestDto'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaDeviceCreateResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/StrongAuthenticationOnboardDeviceScaResponse
              examples:
                End-user-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: End-user with id {0} was not found.
                    errorCode: END_USER_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.143196668Z'
                End-user-id-required:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Field endUserId is required when authenticated as {0}.
                    errorCode: END_USER_ID_REQUIRED
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.143202552Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/StrongAuthenticationOnboardDeviceSca409Response
              examples:
                Sca-device-already-set:
                  value:
                    errorCode: SCA_DEVICE_ALREADY_SET
                    message: The SCA device for this user has already been set up.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.139995870Z'
  /api/partner/sca/qr-codes:
    post:
      tags:
        - Strong Authentication
      summary: Onboard an unknown mobile with QR code
      operationId: StrongAuthentication_generateQrCode
      description: >-
        Get a QR code to onboard a device as a second factor to enable Strong
        Customer Authentication (SCA).


        This operation can be retried as long as no factor has not yet been
        validated. 


        Only one QR_CODE will be active by user. Asking for a knew one will
        deactivate previous ones.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScaDeviceCreateQrRequestDto'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaDeviceCreateQrResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/StrongAuthenticationGenerateQrCodeResponse
              examples:
                End-user-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: End-user with id {0} was not found.
                    errorCode: END_USER_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.217779824Z'
                End-user-id-required:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Field endUserId is required when authenticated as {0}.
                    errorCode: END_USER_ID_REQUIRED
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.217786303Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/StrongAuthenticationGenerateQrCode409Response
              examples:
                Sca-device-already-set:
                  value:
                    errorCode: SCA_DEVICE_ALREADY_SET
                    message: The SCA device for this user has already been set up.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.153431379Z'
  /api/partner/refresh:
    post:
      tags:
        - Authentication
      summary: Log with refresh token
      operationId: Authentication_refreshLogin
      security:
        - {}
      description: >-
        Log into the application with a refresh token and get a new access token
        and a new refresh token.


        This operation might require **SCA**.
      parameters:
        - description: >-
            The strategy to use when a SCA is required:

            <details>

            <summary>More information:</summary>


            - `PUSH_NOTIFICATION`: will send a notification if the SCA is
            required.

            - `JOIN_CODE`: will return a join code if SCA is required.

            - `FAIL`: will fail if SCA is required.

            - `BY_PASS`: Sandbox only - will ignore any SCA if used.

            </details>



            <details>

            <summary>ErrorCode</summary>


            - 409 Conflict
                - `SCA_REQUIRED`: The operation requires SCA. Can be returned if you try to use BY_PASS while not allowed. Will be returned if strategy is FAIL.
                - `SCA_DEVICE_NOT_SET`: The operation requires SCA and strategy allows it, but the user has no sca device set up. You need to enroll one first. 
            </details>
          name: Linkcy-SCA-Strategy
          in: header
          required: false
          schema:
            type: string
            default: PUSH_NOTIFICATION
            enum:
              - PUSH_NOTIFICATION
              - JOIN_CODE
              - FAIL
              - BY_PASS
        - description: >
            The factor type required for the operation :

            <details>

            <summary>More information:</summary>


            - `BIOMETRY`: will require fingerprint or face recognition depending
            on device.

            - `PIN`: will require the endpoint pin. When using this factor, a
            pin must have been registered through the SDK first. Sca pin and end
            user password can differ.

            </details>


            <details>

            <summary>ErrorCode</summary>


            - 400 Bad Request
                - `SCA_FACTOR_NOT_SET`: The user has a sca device set up, but the factor requested is not enrolled yet. You must either enroll it or change the factor.
            </details>
          name: Linkcy-SCA-Factor
          in: header
          required: false
          schema:
            type: string
            default: BIOMETRY
            enum:
              - BIOMETRY
              - PIN
        - description: |-
            The id of the completed SCA operation.

            <details>
            <summary>ErrorCode</summary>

            - 404 Not Found
                - `SCA_INTERACTION_NOT_FOUND`: The specified id could not be found.
            - 409 Conflict
                - `SCA_INTERACTION_NOT_COMPLETED`: The SCA interaction is not completed (pending).
                - `SCA_INTERACTION_DECLINED`: The SCA interaction was declined by user or expired. 
                - `SCA_INTERACTION_ALREADY_CONSUMED`: The SCA interaction has already been used, you need to create a new one.
                - `SCA_INTERACTION_DOES_NOT_MATCH`: The SCA interaction does not match the one you are trying to make. Body or url is different.
            </details>
          name: Linkcy-SCA-Id
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefreshRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenLoginResponseDto'
        '202':
          description: Waiting SCA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationRefreshLoginResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
  /api/partner/passwords/reset:
    post:
      tags:
        - Authentication
      summary: Initialize or reset a password
      operationId: Authentication_initializePasswordReset
      security:
        - {}
      description: >-
        Whether you want to initialize first password or reset a password, you
        should use this endpoint. Send a secret by sms to the account owner that
        can be used to change the password of the account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequestDto'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AuthenticationInitializePasswordResetResponse
              examples:
                End-user-forbidden:
                  value:
                    errorCode: END_USER_FORBIDDEN
                    message: End-user with id {0} is forbidden.
                    error: linkcy.forbidden
                    status: 403
                    timestamp: '2024-03-26T09:01:27.251853297Z'
  /api/partner/passwords/reset/sandbox:
    post:
      tags:
        - Sandbox
      summary: Initialize or reset a password with secret in response
      operationId: Sandbox_initializePasswordWithSecretInResponse
      description: >-
        Whether you want to initialize first password or reset a password, you
        should use this endpoint. Send a secret in response that can be used to
        change the password of the account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordResetResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
  /api/partner/passwords/change:
    post:
      tags:
        - Authentication
      summary: Change user password
      operationId: Authentication_changeUserPassword
      security:
        - {}
      description: Change a user password.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordChangeRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenLoginResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
  /api/partner/mandates:
    get:
      tags:
        - Direct Debit Mandate
      summary: List direct debit mandates
      operationId: DirectDebitMandate_list
      description: Fetch all direct debit mandates based on parameters.
      parameters:
        - name: sortAttribute
          in: query
          required: false
          schema:
            type: string
            enum:
              - DEBTOR_NAME
              - CREATION_DATE
        - description: >-
            The ID of the end user. If empty, the query will return results for
            all end-users.
          name: endUserId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - AWAITING_ACTIVATION
              - ACTIVATING
              - ACTIVATED
              - CANCELING
              - CANCELED
              - FAILED
        - description: The size of the page to be returned.
          name: pageSize
          in: query
          required: false
          schema:
            maximum: 100
            type: integer
            format: int32
        - description: The page number.
          name: page
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: sortDirection
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ListResponseDtoDirectDebitMandateListElementDto_Partner
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitMandateListResponse'
              examples:
                Consumer-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Consumer with id {0} was not found.
                    errorCode: CONSUMER_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:31.336577777Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
    post:
      tags:
        - Direct Debit Mandate
      summary: Create a new direct debit mandate
      operationId: DirectDebitMandate_createNewMandate
      description: >-
        Create a direct debit mandate. Once created, the mandate must be
        activated in order to be effective.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitMandateCreateRequestDto'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitMandateCreateResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DirectDebitMandateCreateNewMandateResponse
              examples:
                End-user-not-found:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: End-user with id {0} was not found.
                    errorCode: END_USER_NOT_FOUND
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.436268917Z'
                End-user-id-required:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Field endUserId is required when authenticated as {0}.
                    errorCode: END_USER_ID_REQUIRED
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.436275172Z'
                Iban-not-supported:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Iban from {0} are not supported.
                    errorCode: IBAN_NOT_SUPPORTED
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.436279326Z'
                Invalid-bic-swift:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: Bic or Swift is invalid.
                    errorCode: INVALID_BIC_SWIFT
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.436282609Z'
                Not-allowed-bic-swift:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: This bic or swift is not allowed at linkcy.
                    errorCode: NOT_ALLOWED_BIC_SWIFT
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.436286242Z'
                Invalid-expiration-date:
                  value:
                    details:
                      - field: '{path.to.field}'
                        rejectedValue: '{rejectedValue}'
                        message: The expiration date must be after {0} and before {1}.
                    errorCode: INVALID_EXPIRATION_DATE
                    error: linkcy.bad.request
                    status: 400
                    timestamp: '2024-03-26T09:01:27.436289452Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DirectDebitMandateCreateNewMandate409Response
              examples:
                Corporate-kyb-must-be-validated:
                  value:
                    errorCode: CORPORATE_KYB_MUST_BE_VALIDATED
                    message: Corporate kyb must be validated.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.433240615Z'
                Linkcy-status-must-be-validated:
                  value:
                    errorCode: LINKCY_STATUS_MUST_BE_VALIDATED
                    message: >-
                      The current linkcy status ({0}) of current end-user
                      (id={1}) does not allow this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.433246807Z'
                End-user-must-not-be-suspended:
                  value:
                    errorCode: END_USER_MUST_NOT_BE_SUSPENDED
                    message: >-
                      End-user (with id {0}) must not be suspended to do this
                      operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.433250854Z'
                Banking-status-must-be-validated:
                  value:
                    errorCode: BANKING_STATUS_MUST_BE_VALIDATED
                    message: >-
                      The current banking status ({0}) of current end-user
                      (id={1}) does not allow this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.433254309Z'
                Mandate-not-available-for-consumers:
                  value:
                    errorCode: MANDATE_NOT_AVAILABLE_FOR_CONSUMERS
                    message: Direct debit mandate is not available yet for consumers.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.433258157Z'
  /api/partner/mandates/{mandateId}/cancel:
    post:
      tags:
        - Direct Debit Mandate
      summary: Cancel a direct debit mandate
      operationId: DirectDebitMandate_cancelMandate
      description: Cancel a direct debit mandate. This operation is irreversible.
      parameters:
        - name: mandateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitMandateCancelResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitMandateCancelMandateResponse'
              examples:
                Mandate-not-found:
                  value:
                    errorCode: MANDATE_NOT_FOUND
                    message: Direct debit mandate with id {0} was not found.
                    error: linkcy.not.found
                    status: 404
                    timestamp: '2024-03-26T09:01:27.443924595Z'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DirectDebitMandateCancelMandate409Response
              examples:
                Conflicting-mandate-status:
                  value:
                    errorCode: CONFLICTING_MANDATE_STATUS
                    message: >-
                      The current status of the mandate ({0}) does not allow
                      this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.442584115Z'
  /api/partner/mandates/{mandateId}/activate:
    post:
      tags:
        - Direct Debit Mandate
      summary: Activate a direct debit mandate
      operationId: DirectDebitMandate_activateMandate
      description: >-
        Activate a direct debit mandate. You must complete debtor banking
        details before activating the mandate.
      parameters:
        - name: mandateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitMandateActivateResponseDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitMandateActivateMandateResponse'
              examples:
                Mandate-not-found:
                  value:
                    errorCode: MANDATE_NOT_FOUND
                    message: Direct debit mandate with id {0} was not found.
                    error: linkcy.not.found
                    status: 404
                    timestamp: '2024-03-26T09:01:27.451344755Z'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DirectDebitMandateActivateMandate409Response
              examples:
                Missing-mandate-data:
                  value:
                    errorCode: MISSING_MANDATE_DATA
                    message: >-
                      A direct debit mandate cannot be activated without the
                      following data: {0}.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.449989856Z'
                Conflicting-mandate-status:
                  value:
                    errorCode: CONFLICTING_MANDATE_STATUS
                    message: >-
                      The current status of the mandate ({0}) does not allow
                      this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.449995540Z'
                Corporate-kyb-must-be-validated:
                  value:
                    errorCode: CORPORATE_KYB_MUST_BE_VALIDATED
                    message: Corporate kyb must be validated.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.449999635Z'
                Linkcy-status-must-be-validated:
                  value:
                    errorCode: LINKCY_STATUS_MUST_BE_VALIDATED
                    message: >-
                      The current linkcy status ({0}) of current end-user
                      (id={1}) does not allow this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.450003171Z'
                End-user-must-not-be-suspended:
                  value:
                    errorCode: END_USER_MUST_NOT_BE_SUSPENDED
                    message: >-
                      End-user (with id {0}) must not be suspended to do this
                      operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.450006779Z'
                Banking-status-must-be-validated:
                  value:
                    errorCode: BANKING_STATUS_MUST_BE_VALIDATED
                    message: >-
                      The current banking status ({0}) of current end-user
                      (id={1}) does not allow this operation.
                    error: linkcy.conflict
                    status: 409
                    timestamp: '2024-03-26T09:01:27.450009857Z'
  /api/partner/login:
    post:
      tags:
        - Authentication
      summary: Log into the application
      operationId: Authentication_userLogin
      security:
        - {}
      description: >-
        Log into the application with user credentials and get an access token
        and a refresh token.


        This operation might require **SCA**.
      parameters:
        - description: >-
            The strategy to use when a SCA is required:

            <details>

            <summary>More information:</summary>


            - `PUSH_NOTIFICATION`: will send a notification if the SCA is
            required.

            - `JOIN_CODE`: will return a join code if SCA is required.

            - `FAIL`: will fail if SCA is required.

            - `BY_PASS`: Sandbox only - will ignore any SCA if used.

            </details>



            <details>

            <summary>ErrorCode</summary>


            - 409 Conflict
                - `SCA_REQUIRED`: The operation requires SCA. Can be returned if you try to use BY_PASS while not allowed. Will be returned if strategy is FAIL.
                - `SCA_DEVICE_NOT_SET`: The operation requires SCA and strategy allows it, but the user has no sca device set up. You need to enroll one first. 
            </details>
          name: Linkcy-SCA-Strategy
          in: header
          required: false
          schema:
            type: string
            default: PUSH_NOTIFICATION
            enum:
              - PUSH_NOTIFICATION
              - JOIN_CODE
              - FAIL
              - BY_PASS
        - description: >
            The factor type required for the operation :

            <details>

            <summary>More information:</summary>


            - `BIOMETRY`: will require fingerprint or face recognition depending
            on device.

            - `PIN`: will require the endpoint pin. When using this factor, a
            pin must have been registered through the SDK first. Sca pin and end
            user password can differ.

            </details>


            <details>

            <summary>ErrorCode</summary>


            - 400 Bad Request
                - `SCA_FACTOR_NOT_SET`: The user has a sca device set up, but the factor requested is not enrolled yet. You must either enroll it or change the factor.
            </details>
          name: Linkcy-SCA-Factor
          in: header
          required: false
          schema:
            type: string
            default: BIOMETRY
            enum:
              - BIOMETRY
              - PIN
        - description: |-
            The id of the completed SCA operation.

            <details>
            <summary>ErrorCode</summary>

            - 404 Not Found
                - `SCA_INTERACTION_NOT_FOUND`: The specified id could not be found.
            - 409 Conflict
                - `SCA_INTERACTION_NOT_COMPLETED`: The SCA interaction is not completed (pending).
                - `SCA_INTERACTION_DECLINED`: The SCA interaction was declined by user or expired. 
                - `SCA_INTERACTION_ALREADY_CONSUMED`: The SCA interaction has already been used, you need to create a new one.
                - `SCA_INTERACTION_DOES_NOT_MATCH`: The SCA interaction does not match the one you are trying to make. Body or url is different.
            </details>
          name: Linkcy-SCA-Id
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPassLoginRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPassLoginResponseDto'
        '202':
          description: Waiting SCA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationUserLoginResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationUserLogin403Response'
              examples:
                End-user-forbidden:
                  value:
                    errorCode: END_USER_FORBIDDEN
                    message: End-user with id {0} is forbidden.
                    error: linkcy.forbidden
                    status: 403
                    timestamp: '2024-03-26T09:01:27.527288008Z'
  /api/partner/ledgers:
    get:
      tags:
        - Ledger
      summary: List ledgers
      operationId: Ledger_getAll
      description: Fetch all ledger based on parameters.
      parameters:
        - name: sortAttribute
          in: query
          required: false
          schema:
            type: string
            enum:
              - CREATION_DATE
        - description: >-
            The ID of the end user. If empty, the query will return results for
            all end-users.
          name: endUserId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          schema:
            type: array
            items:
              description: >-
                The ledger status. If empty, the query will return ledgers for
                all ledger status.
              type: string
              enum:
                - PENDING
                - ACTIVE
                - CLOSING
                - CLOSED
                - SUSPENDED
                - FAILED
        - description: >-
            The ID of the parent ledger you want to retrieve virtual ledgers
            from. If empty, the query will return ledgers regardless of parent.
          name: parentId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: iban
          in: query
          required: false
          schema:
            type: string
        - description: The size of the page to be returned.
          name: pageSize
          in: query
          required: false
          schema:
            maximum: 100
            type: integer
            format: int32
        - description: The page number.
          name: page
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: sortDirection
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ListResponseDtoPartnerLedgerListElementDto
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorInfo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorInfo'
    post:
      tags:
        - Ledger
      summary: Create a ledger
      operationId: Ledger_createIban
      description: >-
        This is the very first point to enter into the banking ecosystem. 


        You will have the possibility to choose the type and the country of the
[...]
