openapi: 3.0.0
info:
  title: Account Information API
  description: >
    In this document, you'll find the steps your organization needs to take to
    use our API services. Included in this guide are details of request and
    response messages used to support your organization’s integration. The
    intended audience for this document are **Technical Architects**,
    **Development Engineers**, **Test Engineers**, and **Operation & Maintenance
    Engineers** involved in development and support of your organization’s
    integration. Setting up our API Services is best completed with the
    assistance of your organization’s IT team, or someone with experience and
    knowledge of application programming interfaces. This should include
    experience with **JSON payloads**, **security** and **public key
    infrastructure (PKI)**. This Document describes the following request and
    response structure of HSBCnet - Account Information API. For detail
    implementation guidelines, please refer to the respective section from
    [develop.hsbc.com](https://develop.hsbc.com/ob-api-documentation/account-information-uk-personal-v319)
  version: 3.1.11
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://sandbox.ob.hsbcnet.com/mock/ce/obie/open-banking/v3.1/aisp
tags:
  - description: Manage Account Access Consents
    name: Account Access Consents
  - name: Accounts
  - description: Get Scheduled Payments
    name: Scheduled Payments
  - description: Get Standing Orders
    name: Standing Orders
  - description: Get Transactions
    name: Transactions
  - description: Get Balances
    name: Balances
  - description: Get Beneficiaries
    name: Beneficiaries
  - description: Get Parties
    name: Parties
  - description: Get Products
    name: Products
  - name: Direct Debits
paths:
  /account-access-consents:
    post:
      tags:
        - Account Access Consents
      summary: Create Account Access Consents
      operationId: AccountAccessConsents_createConsent
      security:
        - BearerAuth: []
        - TPPOAuth2Security:
            - accounts
      description: >-
        This endpoint enables TPP to create account access consent. Supports all
        product types -Personal Current Account, Savings Account, Credit Cards,
        Foreign Currency Accounts, Global Money, Working Capital
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201AccountAccessConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
  /account-access-consents/{ConsentId}:
    get:
      tags:
        - Account Access Consents
      summary: Get Account Access Consents
      operationId: AccountAccessConsents_getByConsentId
      security:
        - BearerAuth: []
        - TPPOAuth2Security:
            - accounts
      description: >-
        This endpoint enables TPP to get account access consent by ConsentId.
        Supports all product types -Personal Current Account, Savings Account,
        Credit Cards, Foreign Currency Accounts, Global Money Working Capital
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountAccessConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
    delete:
      tags:
        - Account Access Consents
      summary: Delete Account Access Consents
      operationId: AccountAccessConsents_deleteConsent
      security:
        - BearerAuth: []
        - TPPOAuth2Security:
            - accounts
      description: This endpoint enables TPP to delete account access consent
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '204':
          $ref: '#/components/responses/204AccountAccessConsentsConsentIdDeleted'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
  /accounts:
    get:
      tags:
        - Accounts
      summary: Get Accounts
      operationId: Accounts_getAll
      security:
        - BearerAuth: []
        - PSUOAuth2Security:
            - accounts
      description: >-
        This endpoint enables to get Accounts. Supports all product types
        -Personal Current Account, Savings Account, Credit Cards, Foreign
        Currency Accounts, Global Money, Working Capital
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
  /accounts/{AccountId}:
    get:
      tags:
        - Accounts
      summary: Get Accounts by AccountId
      operationId: Accounts_getBalancesByAccountId
      security:
        - BearerAuth: []
        - PSUOAuth2Security:
            - accounts
      description: >-
        This endpoint enables to get Balances by AccountId. Supports all product
        types -Personal Current Account, Savings Account, Credit Cards, Foreign
        Currency Accounts, Global Money, Working Capital
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
  /accounts/{AccountId}/balances:
    get:
      tags:
        - Balances
      summary: Get Account Balances
      operationId: Balances_getByAccountId
      security:
        - BearerAuth: []
        - PSUOAuth2Security:
            - accounts
      description: >-
        This endpoint enables to get Balances by AccountId. Supports all product
        types -Personal Current Account, Savings Account, Credit Cards, Foreign
        Currency Accounts, Global Money, Working Capital
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdBalancesRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
  /accounts/{AccountId}/direct-debits:
    get:
      tags:
        - Direct Debits
      summary: Get Account Direct Debits
      operationId: DirectDebits_getByAccountId
      security:
        - BearerAuth: []
        - PSUOAuth2Security:
            - accounts
      description: >-
        This endpoint enables to get Direct Debits by AccountId. Supported
        product type is Personal Current Account
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdDirectDebitsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
  /accounts/{AccountId}/scheduled-payments:
    get:
      tags:
        - Scheduled Payments
      summary: Get Account Scheduled Payments
      operationId: ScheduledPayments_getByAccountId
      security:
        - BearerAuth: []
        - PSUOAuth2Security:
            - accounts
      description: >-
        This endpoint enables to get Scheduled Payments by AccountId. Supported
        product types -Personal Current Account, Savings Account, Foreign
        Currency Accounts, Global Money.
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdScheduledPaymentsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
  /accounts/{AccountId}/standing-orders:
    get:
      tags:
        - Standing Orders
      summary: Get Account Standing Orders
      operationId: StandingOrders_getByAccountId
      security:
        - BearerAuth: []
        - PSUOAuth2Security:
            - accounts
      description: >-
        This endpoint enables to get Standing Orders by AccountId. Supported
        product types -Personal Current Account, Foreign Currency Accounts.
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdStandingOrdersRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
  /accounts/{AccountId}/transactions:
    get:
      tags:
        - Transactions
      summary: Get Account Transactions
      operationId: Transactions_getByAccountId
      security:
        - BearerAuth: []
        - PSUOAuth2Security:
            - accounts
      description: >-
        This endpoint enables to get account Transactions by AccountId. Supports
        all product types -Personal Current Account, Savings Account, Credit
        Cards, Foreign Currency Accounts, Global Money, Working Capital
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/FromBookingDateTimeParam'
        - $ref: '#/components/parameters/ToBookingDateTimeParam'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdTransactionsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
  /accounts/{AccountId}/beneficiaries:
    get:
      tags:
        - Beneficiaries
      summary: Get Account Beneficiaries
      operationId: Beneficiaries_getByAccountId
      security:
        - BearerAuth: []
        - PSUOAuth2Security:
            - accounts
      description: This endpoint enables to get Beneficiaries by AccountId
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdBeneficiariesRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
  /accounts/{AccountId}/parties:
    get:
      tags:
        - Parties
      summary: Get Account Parties
      operationId: Parties_getByAccountId
      security:
        - BearerAuth: []
        - PSUOAuth2Security:
            - accounts
      description: This endpoint enables to get Parties by AccountId
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdPartiesRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
  /accounts/{AccountId}/product:
    get:
      tags:
        - Products
      summary: Get Account Products
      operationId: Products_getByAccountId
      security:
        - BearerAuth: []
        - PSUOAuth2Security:
            - accounts
      description: This endpoint enables to get Products by AccountId
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdProductRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
components:
  parameters:
    FromBookingDateTimeParam:
      description: >-
        The UTC ISO 8601 Date Time to filter transactions FROM

        NB Time component is optional - set to 00:00:00 for just Date.

        If the Date Time contains a timezone, the ASPSP must ignore the timezone
        component.
      in: query
      name: fromBookingDateTime
      schema:
        type: string
        format: date-time
      example: '2023-01-04T13:21:07+00:00'
    ToBookingDateTimeParam:
      description: >-
        The UTC ISO 8601 Date Time to filter transactions TO

        NB Time component is optional - set to 00:00:00 for just Date.

        If the Date Time contains a timezone, the ASPSP must ignore the timezone
        component.
      in: query
      name: toBookingDateTime
      schema:
        type: string
        format: date-time
      example: '2023-02-04T13:21:07+00:00'
    FromStatementDateTimeParam:
      description: >-
        The UTC ISO 8601 Date Time to filter statements FROM

        NB Time component is optional - set to 00:00:00 for just Date.

        If the Date Time contains a timezone, the ASPSP must ignore the timezone
        component.
      in: query
      name: fromStatementDateTime
      schema:
        type: string
        format: date-time
      example: '2023-01-04T13:21:07+00:00'
    ToStatementDateTimeParam:
      description: >-
        The UTC ISO 8601 Date Time to filter statements TO

        NB Time component is optional - set to 00:00:00 for just Date.

        If the Date Time contains a timezone, the ASPSP must ignore the timezone
        component.
      in: query
      name: toStatementDateTime
      schema:
        type: string
        format: date-time
      example: '2023-02-04T13:21:07+00:00'
    ConsentId:
      description: ConsentId
      name: ConsentId
      in: path
      required: true
      schema:
        type: string
      example: 7404e99b-1a4d-4b08-b441-c327661527f0
    AccountId:
      description: AccountId
      name: AccountId
      in: path
      required: true
      schema:
        type: string
      example: ThR-RpLMV5lZzDu8vrfEFg
    StatementId:
      description: StatementId
      name: StatementId
      in: path
      required: true
      schema:
        type: string
      example: StatementId
    Authorization1:
      description: >-
        An authorisation token which was obtained from an authorisation server
        using Client Credentials Grant
        (https://www.rfc-editor.org/rfc/rfc6749#section-4.4). The obtained token
        must be sent using 'Bearer' scheme
        (https://tools.ietf.org/html/rfc6750#section-2) for this request
      in: header
      name: Authorization
      required: true
      example: Bearer LbGDbcFVVfE-ngpjj8KaH5wrEfg
      schema:
        type: string
    Authorization2:
      description: >-
        An authorisation token which was obtained from an authorisation server
        using Authorisation Code Grant
        (https://www.rfc-editor.org/rfc/rfc6749#section-4.1). The obtained token
        must be sent using 'Bearer' scheme
        (https://tools.ietf.org/html/rfc6750#section-2) for this request
      in: header
      name: Authorization
      required: true
      example: Bearer GtbuGXK9ByYYHX-Fg9cT_8b31S8
      schema:
        type: string
    x-customer-user-agent:
      description: Indicates the user-agent that the PSU is using.
      in: header
      name: x-customer-user-agent
      required: false
      schema:
        type: string
      example: >-
        Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
        (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36
    x-fapi-customer-ip-address:
      description: The PSU's IP address if the PSU is currently logged in with the TPP.
      in: header
      name: x-fapi-customer-ip-address
      required: false
      schema:
        type: string
        pattern: >-
          ^((((25[0-5]|2[0-4]\d|[0-1]?\d?\d)(\.(25[0-5]|2[0-4]\d|[0-1]?\d?\d)){3}\s?)|(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))\s?),?\s?)+$
      example: 12.201.45.125
    x-fapi-auth-date:
      description: >-
        The time when the PSU last logged in with the TPP. 

        All dates in the HTTP headers are represented as RFC 7231 Full Dates. An
        example is below: 

        Sun, 10 Sep 2017 19:43:31 UTC
      in: header
      name: x-fapi-auth-date
      required: false
      schema:
        type: string
        pattern: >-
          ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2}
          (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}
          \d{2}:\d{2}:\d{2} (GMT|UTC)$
      example: Tue, 18 Apr 2023 14:42:25 UTC
    x-fapi-interaction-id:
      description: An RFC4122 UID used as a correlation id.
      in: header
      name: x-fapi-interaction-id
      required: false
      schema:
        type: string
      example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
    x-idempotency-key:
      description: |
        Every request will be processed only once per x-idempotency-key.  The
        Idempotency Key will be valid for 24 hours.
      name: x-idempotency-key
      in: header
      required: true
      schema:
        type: string
        maxLength: 40
        pattern: ^(?!\s)(.*)(\S)$
      example: igxlwFGgIk015ImMlH4d
    x-jws-signature:
      description: A detached JWS signature of the body of the payload.
      in: header
      name: x-jws-signature
      required: true
      schema:
        type: string
      example: >-
        eyJodHRwOlwvXC9vcGVuYmFua2luZy5vcmcudWtcL2lhdCI6MTY3MzMzNjQ0OSwiaHR0cDpcL1wvb3BlbmJhbmtpbmcub3JnLnVrXC90YW4iOiJkd3U5OTZ2dzIxOTFmLmNsb3VkZnJvbnQubmV0IiwiY3JpdCI6WyJodHRwOlwvXC9vcGVuYmFua2luZy5vcmcudWtcL2lhdCIsImh0dHA6XC9cL29wZW5iYW5raW5nLm9yZy51a1wvdGFuIiwiaHR0cDpcL1wvb3BlbmJhbmtpbmcub3JnLnVrXC9pc3MiXSwia2lkIjoiZXh0ZXJuYWxfMjAyMiIsInR5cCI6IkpPU0UiLCJodHRwOlwvXC9vcGVuYmFua2luZy5vcmcudWtcL2lzcyI6IkM9R0IsTD1Mb25kb24sTz1IU0JDIEdyb3VwIE1hbmFnZW1lbnQgU2VydmljZXMgTGltaXRlZCxPVT1PcGVuIEJhbmtpbmcgU2hhcmVkIFNlcnZpY2VzLENOPVByZXByb2QtUFNEMi1FeHRlcm5hbC1TaWduYXR1cmUuaHNiYy5jby51ayIsImFsZyI6IlBTMjU2In0..VKQA7mVLNwGPUpAngcvtyumGa9heFwrVSatjlnbnDBpeJnNH9JAo66IqyG0VKFlVE53K-RY47ka7h2ugAAjJnzkGhqxVmvI5K0UdIH7h1ctasTZzU9He6jI-HI5YIR0Mz7myVTDDiP0BHg22WyftzdudaXkgyRJNk8BEHpLWO4kWMuXX6AO6u0rjnsMf1lYuroAe18N2M5XTbWJ0CbJvQfNL_OgPbKpAhzF-tuNoN_9qnYXa2oP-K2GbaW6Chmu4DKIcLX5vswAmXbQuIRfeckou3rk4-VDAmeA1Izm-P1pYsVFAjOVHK1sYHnwbQBY8GMutYsCOn5ZRCtMy1C_IjA
  responses:
    201AccountAccessConsentsCreated:
      description: Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadConsentResponse1'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadConsentResponse1'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadConsentResponse1'
    200AccountAccessConsentsConsentIdRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadConsentResponse1'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadConsentResponse1'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadConsentResponse1'
    204AccountAccessConsentsConsentIdDeleted:
      description: No Content
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
          schema:
            type: string
    200AccountsRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadAccount6'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadAccount6'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadAccount6'
    200AccountsAccountIdRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadAccount6'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadAccount6'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadAccount6'
    200AccountsAccountIdBalancesRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadBalance1'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadBalance1'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadBalance1'
    200BalancesRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadBalance1'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadBalance1'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadBalance1'
    200AccountsAccountIdBeneficiariesRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadBeneficiary5'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadBeneficiary5'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadBeneficiary5'
    200BeneficiariesRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 20177a90-5e29-43ba-bea0-cc6c344a9d32
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadBeneficiary5'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadBeneficiary5'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadBeneficiary5'
    200AccountsAccountIdDirectDebitsRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadDirectDebit2'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadDirectDebit2'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadDirectDebit2'
    200DirectDebitsRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadDirectDebit2'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadDirectDebit2'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadDirectDebit2'
    200AccountsAccountIdOffersRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadOffer1'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadOffer1'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadOffer1'
    200OffersRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadOffer1'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadOffer1'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadOffer1'
    200AccountsAccountIdPartiesRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadParty3'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadParty3'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadParty3'
    200AccountsAccountIdPartyRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadParty2'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadParty2'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadParty2'
    200AccountsAccountIdProductRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadProduct2'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadProduct2'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadProduct2'
    200ProductsRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadProduct2'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadProduct2'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadProduct2'
    200AccountsAccountIdScheduledPaymentsRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadScheduledPayment3'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadScheduledPayment3'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadScheduledPayment3'
    200ScheduledPaymentsRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadScheduledPayment3'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadScheduledPayment3'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadScheduledPayment3'
    200AccountsAccountIdStandingOrdersRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadStandingOrder6'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadStandingOrder6'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadStandingOrder6'
    200StandingOrdersRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: 7507f324-b4e6-43f4-8497-153930017bd9
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadStandingOrder6'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadStandingOrder6'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadStandingOrder6'
    200AccountsAccountIdStatementsRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadStatement2'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadStatement2'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadStatement2'
    200AccountsAccountIdStatementsStatementIdRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadStatement2'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadStatement2'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadStatement2'
    200AccountsAccountIdStatementsStatementIdFileRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/File'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/File'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/File'
    200AccountsAccountIdStatementsStatementIdTransactionsRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadTransaction6'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadTransaction6'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadTransaction6'
    200StatementsRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadStatement2'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadStatement2'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadStatement2'
    200AccountsAccountIdTransactionsRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadTransaction6'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadTransaction6'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadTransaction6'
    200TransactionsRead:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBReadTransaction6'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBReadTransaction6'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBReadTransaction6'
    400Error:
      description: Bad request
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    401Error:
      description: Unauthorized
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
            example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
    403Error:
      description: Forbidden
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
          example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    404Error:
      description: Not found
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
          example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
    405Error:
      description: Method Not Allowed
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
          example: cc0fe5bf-0522-4cd4-8d08-417cf8f81841
    406Error:
      description: Not Acceptable
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
          example: 7507f324-b4e6-43f4-8497-153930017bd9
    415Error:
      description: Unsupported Media Type
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
          example: 7507f324-b4e6-43f4-8497-153930017bd9
    429Error:
      description: Too Many Requests
      headers:
        Retry-After:
          description: Number in seconds to wait
          schema:
            type: integer
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
          example: 1452697e-68ff-499e-a1f2-980da8e2cea1
    500Error:
      description: Internal Server Error
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          required: true
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
        application/jose+jwe:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
  securitySchemes:
    BearerAuth:
      description: >-
        Authorization scheme used to authenticate & authorize access to a
        protected resource on a web server. It is used in conjunction with the
        OAuth 2.0 protocol for securing API endpoints.
      type: http
      scheme: bearer
    TPPOAuth2Security:
      description: >-
        TPP client credential authorisation flow with the ASPSP. Token URL to be
        used by TPP to obtain a token. Check the well-known configuration
        endpoint, the 'token_endpoint' property.
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /obie/open-banking/v1.1/oauth2/token
          scopes:
            accounts: Ability to read Accounts information
    PSUOAuth2Security:
      description: >-
        OAuth flow, it is required when the PSU needs to perform SCA with the
        ASPSP when a TPP wants to access an ASPSP resource owned by the PSU.
        Authorization URL to be used by TPP to redirect the PSU in order to
        start consent authorization journey. Check the well-known configuration
        endpoint, the 'authorization_endpoint' property. Token URL to be used by
        TPP to obtain a token. Check the well-known configuration endpoint, the
        'token_endpoint' property.
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /obie/open-banking/v1.1/oauth2/authorize
          tokenUrl: /obie/open-banking/v1.1/oauth2/token
          scopes:
            accounts: Ability to read Accounts information
  schemas:
    AccountId:
      description: >-
        A unique and immutable identifier used to identify the account resource.
        This identifier has no meaning to the account owner.
      type: string
      minLength: 1
      maxLength: 40
      example: WQEF7_6iy3HEWspIs8CDOw
    ActiveOrHistoricCurrencyCode_0:
      description: >-
        Identification of the currency in which the account is held. 

        Usage: Currency should only be used in case one and the same account
        number covers several currencies

        and the initiating party needs to identify which currency needs to be
        used for settlement on the account.
      type: string
      pattern: ^[A-Z]{3,3}$
      example: x5555
    ActiveOrHistoricCurrencyCode_1:
      description: >-
        A code allocated to a currency by a Maintenance Agency under an
        international identification scheme, as described in the latest edition
        of the international standard ISO 4217 "Codes for the representation of
        currencies and funds".
      type: string
      pattern: ^[A-Z]{3,3}$
      example: USD
    AddressLine:
      description: >-
        Information that locates and identifies a specific address for a
        transaction entry, that is presented in free format text.
      type: string
      minLength: 1
      maxLength: 70
      example: 17 Dean's Yard, Westminster, London
    BeneficiaryId:
      description: >-
        A unique and immutable identifier used to identify the beneficiary
        resource. This identifier has no meaning to the account owner.
      type: string
      minLength: 1
      maxLength: 40
      example: BeneficiaryId
    BookingDateTime:
      description: >-
        Date and time when a transaction entry is posted to an account on the
        account servicer's books.

        Usage: Booking date is the expected booking date, unless the status is
        booked, in which case it is the actual booking date.All dates in the
        JSON payloads are represented in ISO 8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      type: string
      format: date-time
      example: '2023-01-04T13:22:20+00:00'
    BuildingNumber:
      description: Number that identifies the position of a building on a street.
      type: string
      minLength: 1
      maxLength: 16
      example: 24A
    CountryCode:
      description: Nation with its own government, occupying a particular territory.
      type: string
      pattern: ^[A-Z]{2,2}$
      example: GB
    CountrySubDivision:
      description: Identifies a subdivision of a country eg, state, region, county.
      type: string
      minLength: 1
      maxLength: 35
      example: Salzburg
    CreationDateTime:
      description: >-
        Date and time at which the resource was created.All dates in the JSON
        payloads are represented in ISO 8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      type: string
      format: date-time
      example: '2023-01-04T13:22:20+00:00'
    DateTime:
      description: >-
        Date and time associated with the date time type.All dates in the JSON
        payloads are represented in ISO 8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      type: string
      format: date-time
      example: '2023-01-04T13:22:20+00:00'
    DebtorReference:
      description: >-
        A reference value provided by the PSU to the PISP while setting up the
        scheduled payment.
      type: string
      minLength: 1
      maxLength: 35
      example: A sample referance.
    Description_0:
      description: Specifies the description of the account type.
      type: string
      minLength: 1
      maxLength: 35
      example: Test Description
    Description_1:
      description: Description that may be available for the statement fee.
      type: string
      minLength: 1
      maxLength: 128
      example: Test Description
    Description_2:
      description: Description that may be available for the statement interest.
      type: string
      minLength: 1
      maxLength: 128
      example: Test Description
    Description_3:
      description: Description to describe the purpose of the code
      type: string
      minLength: 1
      maxLength: 350
      example: Test Description
    DirectDebitId:
      description: >-
        A unique and immutable identifier used to identify the direct debit
        resource. This identifier has no meaning to the account owner.
      type: string
      minLength: 1
      maxLength: 40
      example: DDid
    EmailAddress:
      description: Address for electronic mail (e-mail).
      type: string
      minLength: 1
      maxLength: 256
      example: '@google.com'
    EndDateTime:
      description: >-
        Date and time at which the statement period ends.All dates in the JSON
        payloads are represented in ISO 8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      type: string
      format: date-time
      example: '2023-03-04T13:21:59+00:00'
    File:
      type: object
      properties: {}
    FinalPaymentDateTime:
      description: >-
        The date on which the final payment for a Standing Order schedule will
        be made.All dates in the JSON payloads are represented in ISO 8601
        date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      type: string
      format: date-time
      example: '2023-02-04T13:21:59+00:00'
    FirstPaymentDateTime:
      description: >-
        The date on which the first payment for a Standing Order schedule will
        be made.All dates in the JSON payloads are represented in ISO 8601
        date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      type: string
      format: date-time
      example: '2023-01-04T13:21:59+00:00'
    Frequency_1:
      description: >-
        Individual Definitions:

        NotKnown - Not Known

        EvryDay - Every day

        EvryWorkgDay - Every working day

        IntrvlDay - An interval specified in number of calendar days (02 to 31)

        IntrvlWkDay - An interval specified in weeks (01 to 09), and the day
        within the week (01 to 07)

        WkInMnthDay - A monthly interval, specifying the week of the month (01
        to 05) and day within the week (01 to 07)

        IntrvlMnthDay - An interval specified in months (between 01 to 06, 12,
        24), specifying the day within the month (-05 to -01, 01 to 31)

        QtrDay - Quarterly (either ENGLISH, SCOTTISH, or RECEIVED)

        ENGLISH = Paid on the 25th March, 24th June, 29th September and 25th
        December.

        SCOTTISH = Paid on the 2nd February, 15th May, 1st August and 11th
        November.

        RECEIVED = Paid on the 20th March, 19th June, 24th September and 20th
        December.

        Individual Patterns:

        NotKnown (ScheduleCode)

        EvryDay (ScheduleCode)

        EvryWorkgDay (ScheduleCode)

        IntrvlDay:NoOfDay (ScheduleCode + NoOfDay)

        IntrvlWkDay:IntervalInWeeks:DayInWeek (ScheduleCode + IntervalInWeeks +
        DayInWeek)

        WkInMnthDay:WeekInMonth:DayInWeek (ScheduleCode + WeekInMonth +
        DayInWeek)

        IntrvlMnthDay:IntervalInMonths:DayInMonth (ScheduleCode +
        IntervalInMonths + DayInMonth)

        QtrDay: + either (ENGLISH, SCOTTISH or RECEIVED) ScheduleCode +
        QuarterDay

        The regular expression for this element combines five smaller versions
        for each permitted pattern. To aid legibility - the components are
        presented individually here:

        NotKnown

        EvryDay

        EvryWorkgDay

        IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1])

        IntrvlWkDay:0[1-9]:0[1-7]

        WkInMnthDay:0[1-5]:0[1-7]

        IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01])

        QtrDay:(ENGLISH|SCOTTISH|RECEIVED)

        Full Regular Expression:

        ^(NotKnown)$|^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1]))$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$
      type: string
      pattern: >-
        ^(NotKnown)$|^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1]))$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$
      example: Frequency_1
    FullLegalName:
      description: Specifies a character string with a maximum length of 350 characters.
      type: string
      minLength: 1
      maxLength: 350
      example: PTTestB7003
    ISODateTime:
      description: >-
        All dates in the JSON payloads are represented in ISO 8601 date-time
        format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      type: string
      format: date-time
      example: '2023-01-04T13:21:59+00:00'
    Identification_0:
      description: >-
        Identification assigned by an institution to identify an account. This
        identification is known by the account owner.
      type: string
      minLength: 1
      maxLength: 256
      example: Sample Identyfication0
    Identification_1:
      description: Unique and unambiguous identification of the servicing institution.
      type: string
      minLength: 1
      maxLength: 35
      example: example for Identification_1
    Identification_2:
      description: >-
        Unique and unambiguous identification of a financial institution or a
        branch of a financial institution.
      type: string
      minLength: 1
      maxLength: 35
      example: Identification_2
    LastPaymentDateTime:
      description: >-
        The date on which the last (most recent) payment for a Standing Order
        schedule was made.All dates in the JSON payloads are represented in ISO
        8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      type: string
      format: date-time
      example: '2023-01-04T13:21:59+00:00'
    Links:
      description: Links relevant to the payload
      type: object
      properties:
        Self:
          description: A link to the same resource used for the current request.
          type: string
          format: uri
        First:
          type: string
          format: uri
        Prev:
          type: string
          format: uri
        Next:
          type: string
          format: uri
        Last:
          type: string
          format: uri
      required:
        - Self
    MandateIdentification:
      description: >-
        Direct Debit reference. For AUDDIS service users provide Core Reference.
        For non AUDDIS service users provide Core reference if possible or last
        used reference.
      type: string
      minLength: 1
      maxLength: 35
      example: '40010000010901'
    MaturityDate:
      description: >-
        Maturity date of the account.All dates in the JSON payloads are
        represented in ISO 8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      type: string
      format: date-time
      example: '2023-01-04T13:21:59+00:00'
    Meta:
      title: MetaData
      description: Meta Data relevant to the payload
      type: object
      properties:
        TotalPages:
          type: integer
        FirstAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        LastAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
    Name_0:
      description: >-
        The account name is the name or names of the account owner(s)
        represented at an account level, as displayed by the ASPSP's online
        channels.

        Note, the account name is not the product name or the nickname of the
        account.
      type: string
      minLength: 1
      maxLength: 350
      example: ABC
    Name_1:
      description: >-
        Name by which an agent is known and which is usually used to identify
        that agent.
      type: string
      minLength: 1
      maxLength: 140
      example: ABC
    Name_2:
      description: Name of Service User.
      type: string
      minLength: 1
      maxLength: 70
      example: ABC
    Name_3:
      description: >-
        Name by which a party is known and which is usually used to identify
        that party.
      type: string
      minLength: 1
      maxLength: 350
      example: ABC
    Name_4:
      description: Long name associated with the code
      type: string
      minLength: 1
      maxLength: 70
      example: ABC
    NextPaymentDateTime:
      description: >-
        The date on which the next payment for a Standing Order schedule will be
        made.All dates in the JSON payloads are represented in ISO 8601
        date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      type: string
      format: date-time
      example: '2023-01-04T13:21:59+00:00'
    Nickname:
      description: >-
        The nickname of the account, assigned by the account owner in order to
        provide an additional means of identification of the account.
      type: string
      minLength: 1
      maxLength: 70
      example: CAB ALL CARE
    NumberOfPayments:
      description: >-
        Number of the payments that will be made in completing this frequency
        sequence including any executed since the sequence start date.
      type: string
      minLength: 1
      maxLength: 35
      example: '10'
    Number_0:
      description: >-
        Indicates whether the advertised overdraft rate is guaranteed to be
        offered to a borrower by the bank e.g. if it�s part of a government
        scheme, or whether the rate may vary dependent on the applicant�s
        circumstances.
      type: integer
      example: 1
    Number_1:
      description: >-
        fee/charges are captured dependent on the number of occurrences rather
        than capped at a particular amount
      type: integer
      example: 10
    OBAccount6:
      description: >-
        Unambiguous identification of the account to which credit and debit
        entries are made. The following fields are optional only for accounts
        that are switched:

          * Data.Currency  
          * Data.AccountType  
          * Data.AccountSubType

        For all other accounts, the fields must be populated by the ASPSP.
      type: object
      required:
        - AccountId
      properties:
        AccountId:
          $ref: '#/components/schemas/AccountId'
        Status:
          $ref: '#/components/schemas/OBAccountStatus1Code'
        StatusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_0'
        AccountType:
          $ref: '#/components/schemas/OBExternalAccountType1Code'
        AccountSubType:
          $ref: '#/components/schemas/OBExternalAccountSubType1Code'
        Description:
          $ref: '#/components/schemas/Description_0'
        Nickname:
          $ref: '#/components/schemas/Nickname'
        OpeningDate:
          $ref: '#/components/schemas/OpeningDate'
        MaturityDate:
          $ref: '#/components/schemas/MaturityDate'
        SwitchStatus:
          $ref: '#/components/schemas/OBExternalSwitchStatusCode'
        Account:
          type: array
          items:
            description: Provides the details to identify an account.
            type: object
            required:
              - SchemeName
              - Identification
            properties:
              SchemeName:
                description: >-
                  Name of the identification scheme, in a coded form as
                  published in an external list.
                type: string
                enum:
                  - UK.OBIE.BBAN
                  - UK.OBIE.IBAN
                  - UK.OBIE.PAN
                  - UK.OBIE.Wallet
                example: UK.OBIE.BBAN
              Identification:
                $ref: '#/components/schemas/Identification_0'
              Name:
                $ref: '#/components/schemas/Name_0'
              SecondaryIdentification:
                $ref: '#/components/schemas/SecondaryIdentification'
        Servicer:
          $ref: >-
            #/components/schemas/OBBranchAndFinancialInstitutionIdentification5_0
    OBAccount6Basic:
      description: >-
        Unambiguous identification of the account to which credit and debit
        entries are made.
      type: object
      required:
        - AccountId
        - Currency
        - AccountType
        - AccountSubType
      properties:
        AccountId:
          $ref: '#/components/schemas/AccountId'
        Status:
          $ref: '#/components/schemas/OBAccountStatus1Code'
        StatusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_0'
        AccountType:
          $ref: '#/components/schemas/OBExternalAccountType1Code'
        AccountSubType:
          $ref: '#/components/schemas/OBExternalAccountSubType1Code'
        Description:
          $ref: '#/components/schemas/Description_0'
        Nickname:
          $ref: '#/components/schemas/Nickname'
        OpeningDate:
          $ref: '#/components/schemas/OpeningDate'
        MaturityDate:
          $ref: '#/components/schemas/MaturityDate'
        SwitchStatus:
          $ref: '#/components/schemas/OBExternalSwitchStatusCode'
    OBAccount6Detail:
      description: >-
        Unambiguous identification of the account to which credit and debit
        entries are made.
      type: object
      required:
        - AccountId
        - Currency
        - AccountType
        - AccountSubType
        - Account
      properties:
        AccountId:
          $ref: '#/components/schemas/AccountId'
        Status:
          $ref: '#/components/schemas/OBAccountStatus1Code'
        StatusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_0'
        AccountType:
          $ref: '#/components/schemas/OBExternalAccountType1Code'
        AccountSubType:
          $ref: '#/components/schemas/OBExternalAccountSubType1Code'
        Description:
          $ref: '#/components/schemas/Description_0'
        Nickname:
          $ref: '#/components/schemas/Nickname'
        OpeningDate:
          $ref: '#/components/schemas/OpeningDate'
        MaturityDate:
          $ref: '#/components/schemas/MaturityDate'
        SwitchStatus:
          $ref: '#/components/schemas/OBExternalSwitchStatusCode'
        Account:
          type: array
          items:
            description: Provides the details to identify an account.
            type: object
            required:
              - SchemeName
              - Identification
            properties:
              SchemeName:
                $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
              Identification:
                $ref: '#/components/schemas/Identification_0'
              Name:
                $ref: '#/components/schemas/Name_0'
              SecondaryIdentification:
                $ref: '#/components/schemas/SecondaryIdentification'
        Servicer:
          $ref: >-
            #/components/schemas/OBBranchAndFinancialInstitutionIdentification5_0
    OBAccountStatus1Code:
      description: Specifies the status of account resource in code form.
      type: string
      enum:
        - Deleted
        - Disabled
        - Enabled
        - Pending
        - ProForma
      example: Enabled
    OBActiveCurrencyAndAmount_SimpleType:
      description: >-
        A number of monetary units specified in an active currency where the
        unit of currency is explicit and compliant with ISO 4217.
      type: string
      pattern: ^\d{1,13}$|^\d{1,13}\.\d{1,5}$
      example: '1000'
    OBActiveOrHistoricCurrencyAndAmount_0:
      description: The amount of the most recent direct debit collection.
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBActiveOrHistoricCurrencyAndAmount_1:
      description: >-
        Amount of money to be moved between the debtor and creditor, before
        deduction of charges, expressed in the currency as ordered by the
        initiating party.

        Usage: This amount has to be transported unchanged through the
        transaction chain.
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBActiveOrHistoricCurrencyAndAmount_10:
      description: Transaction charges to be paid by the charge bearer.
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBActiveOrHistoricCurrencyAndAmount_11:
      description: The amount of the last (most recent) Standing Order instruction.
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBActiveOrHistoricCurrencyAndAmount_2:
      description: The amount of the first Standing Order
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBActiveOrHistoricCurrencyAndAmount_3:
      description: The amount of the next Standing Order.
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBActiveOrHistoricCurrencyAndAmount_4:
      description: The amount of the final Standing Order
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBActiveOrHistoricCurrencyAndAmount_5:
      description: Amount of money associated with the statement benefit type.
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBActiveOrHistoricCurrencyAndAmount_6:
      description: Amount of money associated with the statement fee type.
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBActiveOrHistoricCurrencyAndAmount_7:
      description: Amount of money associated with the statement interest amount type.
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBActiveOrHistoricCurrencyAndAmount_8:
      description: Amount of money associated with the amount type.
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBActiveOrHistoricCurrencyAndAmount_9:
      description: Amount of money in the cash transaction entry.
      type: object
      required:
        - Amount
        - Currency
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
    OBAddressTypeCode:
      description: Identifies the nature of the postal address.
      type: string
      enum:
        - Business
        - Correspondence
        - DeliveryTo
        - MailTo
        - POBox
        - Postal
        - Residential
        - Statement
      example: Business
    OBBCAData1:
      title: BCA
      type: object
      properties:
        ProductDetails:
          title: ProductDetails
          type: object
          properties:
            Segment:
              title: Segment
              description: >-
                Market segmentation is a marketing term referring to the
                aggregating of prospective buyers into groups, or segments, that
                have common needs and respond similarly to a marketing action.
                Market segmentation enables companies to target different
                categories of consumers who perceive the full value of certain
                products and services differently from one another.


                Read more: Market Segmentation
                http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd 

                With respect to BCA products, they are segmented in relation to
                different markets that they wish to focus on. 
              type: array
              items:
                description: >-
                  Market segmentation is a marketing term referring to the
                  aggregating of prospective buyers into groups, or segments,
                  that have common needs and respond similarly to a marketing
                  action. Market segmentation enables companies to target
                  different categories of consumers who perceive the full value
                  of certain products and services differently from one another.


                  Read more: Market Segmentation
                  http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd 

                  With respect to BCA products, they are segmented in relation
                  to different markets that they wish to focus on. 
                type: string
                enum:
                  - ClientAccount
                  - Standard
                  - NonCommercialChaitiesClbSoc
                  - NonCommercialPublicAuthGovt
                  - Religious
                  - SectorSpecific
                  - Startup
                  - Switcher
            FeeFreeLength:
              title: FeeFreeLength
              description: The length/duration of the fee free period
              type: number
              format: float
              example: 10
            FeeFreeLengthPeriod:
              title: FeeFreeLengthPeriod
              description: >-
                The unit of period (days, weeks, months etc.) of the promotional
                length
              type: string
              enum:
                - Day
                - Half Year
                - Month
                - Quarter
                - Week
                - Year
              example: Day
            Notes:
              title: Notes
              description: Optional additional notes to supplement the Core product details
              type: array
              items:
                description: maxLength 2000 text
                type: string
                minLength: 1
                maxLength: 2000
        CreditInterest:
          title: CreditInterest
          description: >-
            Details about the interest that may be payable to the BCA account
            holders
          type: object
          properties:
            TierBandSet:
              title: TierBandSet
              description: >-
                The group of tiers or bands for which credit interest can be
                applied.
              type: array
              items:
                description: >-
                  The group of tiers or bands for which credit interest can be
                  applied.
                type: object
                properties:
                  TierBandMethod:
                    title: TierBandMethod
                    description: >-
                      The methodology of how credit interest is paid/applied. It
                      can be:-


                      1. Banded

                      Interest rates are banded. i.e. Increasing rate on whole
                      balance as balance increases.


                      2. Tiered

                      Interest rates are tiered. i.e. increasing rate for each
                      tier as balance increases, but interest paid on tier fixed
                      for that tier and not on whole balance.


                      3. Whole

                      The same interest rate is applied irrespective of the BCA
                      balance
                    type: string
                    enum:
                      - Banded
                      - Tiered
                      - Whole
                    example: Whole
                  CalculationMethod:
                    title: CalculationMethod
                    description: Methods of calculating interest
                    type: string
                    enum:
                      - Compound
                      - SimpleInterest
                    example: Compound
                  Destination:
                    title: Destination
                    description: >-
                      Describes whether accrued interest is payable only to the
                      BCA or to another bank account
                    type: string
                    enum:
                      - PayAway
                      - SelfCredit
                    example: PayAway
                  Notes:
                    title: Notes
                    description: >-
                      Optional additional notes to supplement the Tier Band Set
                      details
                    type: array
                    items:
                      description: maxLength 2000 text
                      type: string
                      minLength: 1
                      maxLength: 2000
                  TierBand:
                    title: TierBand
                    description: Tier Band Details
                    type: array
                    items:
                      description: Tier Band Details
                      type: object
                      properties:
                        Identification:
                          title: Identification
                          description: >-
                            Unique and unambiguous identification of a  Tier
                            Band for a BCA.
                          type: string
                          minLength: 1
                          maxLength: 35
                          example: '40180000173916'
                        TierValueMinimum:
                          title: TierValueMinimum
                          description: >-
                            Minimum deposit value for which the credit interest
                            tier applies.
                          type: string
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                          example: '100'
                        TierValueMaximum:
                          title: TierValueMaximum
                          description: >-
                            Maximum deposit value for which the credit interest
                            tier applies.
                          type: string
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                          example: '1000'
                        CalculationFrequency:
                          title: CalculationFrequency
                          description: >-
                            How often is credit interest calculated for the
                            account.
                          type: string
                          enum:
                            - Daily
                            - HalfYearly
                            - Monthly
                            - Other
                            - Quarterly
                            - PerStatementDate
                            - Weekly
                            - Yearly
                          example: Monthly
                        ApplicationFrequency:
                          title: ApplicationFrequency
                          description: >-
                            How often is interest applied to the BCA for this
                            tier/band i.e. how often the financial institution
                            pays accumulated interest to the customer's BCA.
                          type: string
                          enum:
                            - Daily
                            - HalfYearly
                            - Monthly
                            - Other
                            - Quarterly
                            - PerStatementDate
                            - Weekly
                            - Yearly
                          example: Weekly
                        DepositInterestAppliedCoverage:
                          title: DepositInterestAppliedCoverage
                          description: Amount on which Interest applied.
                          type: string
                          enum:
                            - Banded
                            - Tiered
                            - Whole
                          example: Whole
                        FixedVariableInterestRateType:
                          title: FixedVariableInterestRateType
                          description: Type of interest rate, Fixed or Variable
                          type: string
                          enum:
                            - Fixed
                            - Variable
                          example: Variable
                        AER:
                          title: AER
                          description: >-
                            The annual equivalent rate (AER) is interest that is
                            calculated under the assumption that any interest
                            paid is combined with the original balance and the
                            next interest payment will be based on the slightly
                            higher account balance. Overall, this means that
                            interest can be compounded several times in a year
                            depending on the number of times that interest
                            payments are made. 


                            Read more: Annual Equivalent Rate (AER)
                            http://www.investopedia.com/terms/a/aer.asp#ixzz4gfR7IO1A
                          type: string
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                          example: 1,5%
                        BankInterestRateType:
                          title: BankInterestRateType
                          description: >-
                            Interest rate types, other than AER, which financial
                            institutions may use to describe the annual interest
                            rate payable to the BCA.
                          type: string
                          enum:
                            - Gross
                            - Other
                          example: Gross
                        BankInterestRate:
                          title: BankInterestRate
                          description: Bank Interest for the BCA product
                          type: string
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                          example: 0.25%
                        Notes:
                          title: Notes
                          description: >-
                            Optional additional notes to supplement the Tier
                            Band details
                          type: array
                          items:
                            description: maxLength 2000 text
                            type: string
                            minLength: 1
                            maxLength: 2000
                        OtherBankInterestType:
                          title: OtherBankInterestType
                          description: >-
                            Other interest rate types which are not available in
                            the standard code list
                          type: object
                          properties:
                            Code:
                              title: Code
                              description: >-
                                The four letter Mnemonic used within an XML file
                                to identify a code
                              type: string
                              pattern: ^\w{0,4}$
                              minLength: 0
                              maxLength: 4
                              example: ABC
                            Name:
                              title: Name
                              description: Long name associated with the code
                              type: string
                              minLength: 1
                              maxLength: 70
                              example: Bobby Lee
                            Description:
                              title: Description
                              description: Description to describe the purpose of the code
                              type: string
                              minLength: 1
                              maxLength: 350
                              example: desc.
                          required:
                            - Name
                            - Description
                        OtherApplicationFrequency:
                          title: OtherApplicationFrequency
                          description: >-
                            Other application frequencies that are not available
                            in the standard code list
                          type: object
                          properties:
                            Code:
                              title: Code
                              description: >-
                                The four letter Mnemonic used within an XML file
                                to identify a code
                              type: string
                              pattern: ^\w{0,4}$
                              minLength: 0
                              maxLength: 4
                            Name:
                              title: Name
                              description: Long name associated with the code
                              type: string
                              minLength: 1
                              maxLength: 70
                              example: Jerry Smith
                            Description:
                              title: Description
                              description: Description to describe the purpose of the code
                              type: string
                              minLength: 1
                              maxLength: 350
                              example: desc.
                          required:
                            - Name
                            - Description
                        OtherCalculationFrequency:
                          title: OtherCalculationFrequency
                          description: >-
                            Other calculation frequency which is not available
                            in the standard code set.
                          type: object
                          properties:
                            Code:
                              title: Code
                              description: >-
                                The four letter Mnemonic used within an XML file
                                to identify a code
                              type: string
                              pattern: ^\w{0,4}$
                              minLength: 0
                              maxLength: 4
                              example: ABC
                            Name:
                              title: Name
                              description: Long name associated with the code
                              type: string
                              minLength: 1
                              maxLength: 70
                              example: Jerry Smith
                            Description:
                              title: Description
                              description: Description to describe the purpose of the code
                              type: string
                              minLength: 1
                              maxLength: 350
                              example: desc.
                          required:
                            - Name
                            - Description
                      required:
                        - TierValueMinimum
                        - ApplicationFrequency
                        - FixedVariableInterestRateType
                        - AER
                    minItems: 1
                required:
                  - TierBandMethod
                  - Destination
                  - TierBand
              minItems: 1
          required:
            - TierBandSet
        Overdraft:
          title: Overdraft
          description: Borrowing details
          type: object
          properties:
            Notes:
              title: Notes
              description: Associated Notes about the overdraft rates
              type: array
              items:
                description: maxLength 2000 text
                type: string
                minLength: 1
                maxLength: 2000
            OverdraftTierBandSet:
              title: OverdraftTierBandSet
              description: Tier band set details
              type: array
              items:
                description: Tier band set details
                type: object
                properties:
                  TierBandMethod:
                    title: TierBandMethod
                    description: >-
                      The methodology of how overdraft is charged. It can be:

                      'Whole'  Where the same charge/rate is applied to the
                      entirety of the overdraft balance (where charges are
                      applicable). 

                      'Tiered' Where different charges/rates are applied
                      dependent on overdraft maximum and minimum balance amount
                      tiers defined by the lending financial organisation

                      'Banded' Where different charges/rates are applied
                      dependent on overdraft maximum and minimum balance amount
                      bands defined by a government organisation.
                    type: string
                    enum:
                      - Banded
                      - Tiered
                      - Whole
                    example: Banded
                  OverdraftType:
                    title: OverdraftType
                    description: >-
                      An overdraft can either be 'committed' which means that
                      the facility cannot be withdrawn without reasonable
                      notification before it's agreed end date, or 'on demand'
                      which means that the financial institution can demand
                      repayment at any point in time.
                    type: string
                    enum:
                      - Committed
                      - OnDemand
                    example: Committed
                  Identification:
                    title: Identification
                    description: >-
                      Unique and unambiguous identification of a  Tier Band for
                      a overdraft product.
                    type: string
                    minLength: 1
                    maxLength: 35
                    example: idstring
                  AuthorisedIndicator:
                    title: AuthorisedIndicator
                    description: >-
                      Indicates if the Overdraft is authorised (Y) or
                      unauthorised (N)
                    type: boolean
                    example: true
                  BufferAmount:
                    title: BufferAmount
                    description: >-
                      When a customer exceeds their credit limit, a financial
                      institution will not charge the customer unauthorised
                      overdraft charges if they do not exceed by more than the
                      buffer amount. Note: Authorised overdraft charges may
                      still apply.
                    type: string
                    pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                    example: '100'
                  Notes:
                    title: Notes
                    description: >-
                      Optional additional notes to supplement the overdraft Tier
                      Band Set details
                    type: array
                    items:
                      description: maxLength 2000 text
                      type: string
                      minLength: 1
                      maxLength: 2000
                  OverdraftTierBand:
                    title: OverdraftTierBand
                    description: Provides overdraft details for a specific tier or band
                    type: array
                    items:
                      description: Provides overdraft details for a specific tier or band
                      type: object
                      properties:
                        Identification:
                          title: Identification
                          description: >-
                            Unique and unambiguous identification of a  Tier
                            Band for a overdraft.
                          type: string
                          minLength: 1
                          maxLength: 35
                        TierValueMin:
                          title: TierValueMin
                          description: Minimum value of Overdraft Tier/Band
                          type: string
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                        TierValueMax:
                          title: TierValueMax
                          description: Maximum value of Overdraft Tier/Band
                          type: string
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                        EAR:
                          title: EAR
                          description: >-
                            EAR means Effective Annual Rate and/or Equivalent
                            Annual Rate (frequently

                            used interchangeably), being the actual annual
                            interest rate of an Overdraft.
                          type: string
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                        RepresentativeAPR:
                          title: RepresentativeAPR
                          description: >-
                            An annual percentage rate (APR) is the annual rate
                            charged for borrowing or earned through an
                            investment. APR is expressed as a percentage that
                            represents the actual yearly cost of funds over the
                            term of a loan. This includes any fees or additional
                            costs associated with the transaction but does not
                            take compounding into account.
                          type: string
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                          example: '0'
                        AgreementLengthMin:
                          title: AgreementLengthMin
                          description: >-
                            Specifies the minimum length of a band for a fixed
                            overdraft agreement
                          type: number
                          format: float
                          example: 2.2
[...]
