openapi: 3.0.0
info:
  title: Secoda API
  description: >
    Use this API to programmatically use Secoda's data enablement features. With
    these APIs, you can bring in resource metadata, build documentation
    pipelines, and manage workspace settings programmatically.


    To learn more about Secoda, visit the [Secoda
    documentation](https://docs.secoda.co/).


    To get in touch with Secoda, contact customer support at support@secoda.co.


    ## Getting Started


    ### Authentication


    Secoda API's require an Authorization header with a Bearer token. You can
    generate an API key in your workspace, as outlined
    [here](https://docs.secoda.co/secoda-api/authentication).


    ### Base URL


    To determine the base URL of your API requests, please refer to the chart
    below.


    | Workspace URL          | Base URL               |

    | ---------------------- | ---------------------- |

    | app.secoda.co          | api.secoda.co          |

    | eu.secoda.co           | eapi.secoda.co         |

    | apac.secoda.co         | aapi.secoda.co        |


    For teams with an On Premise or Managed instance with a custom domain, the
    Base URL is the custom domain followed by `/api/v1`.


    ## Helpful Information


    Secoda’s APIs generally follow the CRUD pattern (Create, Read, Update,
    Delete). The data elements that are managed with these APIs are called
    Resources. Generally, each resource maps to an integration, with many set
    and customizable properties called Metadata.


    ### Important Terminology


    **Workspace:**

    In Secoda, a workspace is the environment within the application where teams
    can integrate resources and metadata and add documentation, either through
    the UI or programatically through the API.


    **Resource:**

    In Secoda, a resource is any entity that metadata can be added to. This
    includes, but is not limited to, tables, dashboards, charts, columns,
    queries, documents, dictionary terms, and more.


    **Metadata:**

    In Secoda, metadata is the additional information you can provide to add
    context to your resources. This includes descriptions, definitions, owners,
    custom properties, and more. Metadata is the lifeblood of Secoda; the more
    you put in, the more you'll get out of the tool!


    ### Resource Heirarchy


    Nearly all resources in Secoda can be nested under a parent. A resource has
    a one to many relationship with its child. This means thats a parent
    resource can have several children, but a child resource can only have one
    parent.


    For Collections, Dictionary Terms, and Documents, the parent must be the
    same resource type. However, there are two unique heirarchy structures that
    the application expects when adding net new resources.


    **Table Heirarchy:** Integration > Databases > Schemas > Tables > Columns >
    Columns (if nested)


    **Dashboard Heirarchy:** Integration > Groups > Dashboards > Charts
  version: 1.0.0
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - description: Base URL for all US cloud based workspaces.
    url: https://api.secoda.co
  - description: Base URL for all EU cloud based workspaces.
    url: https://eapi.secoda.co
  - description: Base URL for all APAC cloud based workspaces.
    url: https://aapi.secoda.co
  - description: Base URL for On Premise Secoda workspaces.
    url: https://{customer_domain}.secoda.co/api/v1
    variables:
      customer_domain:
        description: The specific domain set up for your On Premise Secoda workspace.
        default: customer_domain
tags:
  - description: >
      Questions asked by data consumers and their associated answers in the
      workspace. Learn more about questions
      [here](https://docs.secoda.co/features/ask-questions-in-secoda).
    name: Questions
  - description: >
      Metrics in Secoda are a way to centralize, visualize and define your
      organization's metrics. Metrics allow you to plug in a query and generate
      a graph visualization of that query. Learn more about metrics
      [here](https://docs.secoda.co/features/metrics).
    name: Metrics
  - description: External sources from which resources and metadata are extracted.
    name: Integrations
  - description: Tables or similar data elements from an integration.
    name: Tables
  - description: Columns or similar data elements from an integration.
    name: Columns
  - description: Dashboards or similar visualization elements from an integration.
    name: Dashboards
  - description: Charts or similar visualization elements from an integration.
    name: Charts
  - description: Data elements representing an event from an integration.
    name: Events
  - description: The properties associated with an event from an integration.
    name: Event Properties
  - description: >-
      Labels used to categorize, filter, and classify resources. Learn more
      about tags
      [here](https://docs.secoda.co/resource-and-metadata-management/tags/custom-tags).
    name: Tags
  - description: >
      Definitions and explanations of specific data-related concepts. Learn more
      about terms [here](https://docs.secoda.co/features/metrics).
    name: Terms
  - description: >
      Groups of related resources within the workspace. Learn more about
      collections [here](https://docs.secoda.co/features/collections-1).
    name: Collections
  - description: >
      Mark down content used to add documentation to the workspace. Learn more
      about documents [here](https://docs.secoda.co/features/documents).
    name: Documents
  - description: >
      Members within the workspace. Learn more about user management
      [here](https://docs.secoda.co/user-management).
    name: Users
  - description: >
      Teams within the workspace. Learn more about team management
      [here](https://docs.secoda.co/user-management/teams).
    name: Teams
  - description: >
      Groups within the workspace. Learn more about team management
      [here](https://docs.secoda.co/user-management/groups).
    name: User Groups
  - description: >
      Monitors allow Secoda admins to have insight into the health of the data
      stack. Learn more about monitors
      [here](https://docs.secoda.co/features/monitoring).
    name: Monitors
  - description: Schemas or similar data elements from an integration.
    name: Schemas
  - description: >
      The dependencies between resources. Learn more about lineage
      [here](https://docs.secoda.co/features/data-lineage).
    name: Lineage
  - description: Databases or similar data elements from an integration.
    name: Databases
  - description: A grouping of related dashboards or charts from an integration.
    name: Dashboard Groups
  - description: A grouping of related events from an integration.
    name: Event Categories
  - description: >
      Queries from an extraction. Learn more about queries
      [here](https://docs.secoda.co/features/queries).
    name: Queries
paths:
  /integration/integrations:
    post:
      tags:
        - Integrations
      summary: Create a New Integration
      operationId: Integrations_createNewIntegration
      description: >-
        Use this endpoint to create a [custom
        integration](https://docs.secoda.co/integrations/custom-integration), or
        add credentials for a native integration programatically.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationsCreateNewIntegrationRequest'
      responses:
        '201':
          description: Integration created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponse'
        '400':
          description: Bad request.
        '500':
          description: Internal server error.
    get:
      tags:
        - Integrations
      summary: List Integrations
      operationId: Integrations_listActive
      description: This endpoint will return all the integrations active in your workspace.
      parameters:
        - description: The type of integrations to filter.
          name: type
          in: query
          schema:
            type: string
          example: bigquery
      responses:
        '200':
          description: List of integrations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationsListActiveResponse'
        '400':
          description: Bad request.
        '500':
          description: Internal server error.
  /integration/integrations/{integration_id}:
    get:
      tags:
        - Integrations
      summary: Get Integration by ID
      operationId: Integrations_getById
      description: This endpoint will provide the details of an individual integration.
      parameters:
        - description: The ID of the integration to retrieve.
          name: integration_id
          in: path
          required: true
          schema:
            type: string
          example: d31e59c7-cd52-4398-9d6e-da313a7b7775
      responses:
        '200':
          description: Integration details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResponse'
        '404':
          description: Integration not found.
        '500':
          description: Internal server error.
  /integration/integrations/{integration_id}/import_metadata:
    post:
      tags:
        - Integrations
      summary: Upload Integration Metadata (via CSV)
      operationId: Integrations_uploadMetadataCsv
      description: >-
        This endpoint allows the upload of integration metadata using a CSV.
        This can also be done through the UI. See more about CSV uploads
        [here](https://docs.secoda.co/integrations/custom-integration/import-your-resources).
      parameters:
        - description: The ID of the integration to upload metadata for.
          name: integration_id
          in: path
          required: true
          schema:
            type: string
          example: d31e59c7-cd52-4398-9d6e-da313a7b7775
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IntegrationsUploadMetadataCsvRequest'
      responses:
        '200':
          description: Integration metadata uploaded successfully.
        '404':
          description: Integration not found.
        '500':
          description: Internal server error.
  /integration/integrations/{integration_id}/import_jsonl_metadata:
    post:
      tags:
        - Integrations
      summary: Upload Integration Metadata (via JSONL)
      operationId: Integrations_uploadJsonlMetadata
      description: >-
        This endpoint allows the upload of integration metadata as well as
        integration lineage using a JSONL file. This can also be done through
        the UI. See more about JSONL uploads
        [here](https://docs.secoda.co/integrations/custom-integration/import-your-resources).
      parameters:
        - description: The ID of the integration to upload metadata and/or lineage for.
          name: integration_id
          in: path
          required: true
          schema:
            type: string
          example: d31e59c7-cd52-4398-9d6e-da313a7b7775
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IntegrationsUploadJsonlMetadataRequest'
      responses:
        '200':
          description: Integration JSONL file uploaded successfully.
        '404':
          description: Integration not found.
        '500':
          description: Internal server error.
  /table/databases:
    post:
      tags:
        - Databases
      summary: Create a New Database
      operationId: Databases_createNewDatabase
      description: >-
        Create a new database resource. It must have a schema as a parent, and
        an associated integration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Database created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad request.
        '500':
          description: Internal server error.
    get:
      tags:
        - Databases
      summary: List Databases
      operationId: Databases_listAllActive
      description: Use this endpoint to see all the databases active in your workspace.
      parameters:
        - description: The title of the database to search for.
          in: query
          name: title
          schema:
            type: string
          example: customers
      responses:
        '200':
          description: List of databases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabasesListAllActiveResponse'
        '400':
          description: Bad request.
        '500':
          description: Internal server error.
  /table/databases/{database_id}:
    get:
      tags:
        - Databases
      summary: Get Database by ID
      operationId: Databases_getById
      description: Use this endpoint for retrieving a specific database by its ID.
      parameters:
        - description: The unique identifier of the database to retrieve.
          in: path
          name: database_id
          required: true
          schema:
            type: string
          example: 27498d73-db31-4a4e-8cf0-faccff1bed0f
      responses:
        '200':
          description: Database retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Database not found.
        '500':
          description: Internal server error.
  /table/schemas:
    post:
      tags:
        - Schemas
      summary: Create a New Schema
      operationId: Schemas_createNewSchema
      description: >-
        Create a new schema. Schema must have one database as a parent, and be
        associated with an integration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Schema created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad request.
        '500':
          description: Internal server error.
    get:
      tags:
        - Schemas
      summary: List Schemas
      operationId: Schemas_listWithFilter
      description: >-
        Endpoint for retrieving a list of schemas with optional filtering by
        parent schema and title.
      parameters:
        - description: The ID of the parent database to filter by.
          in: query
          name: parent
          schema:
            type: string
        - description: The title of the schema to filter by.
          in: query
          name: title
          schema:
            type: string
      responses:
        '200':
          description: List of schemas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemasListWithFilterResponse'
        '400':
          description: Bad request.
        '500':
          description: Internal server error.
  /table/schemas/{schema_id}:
    parameters:
      - description: The ID of the schema to retrieve or update.
        in: path
        name: schema_id
        required: true
        example: df2c0597-13d9-4159-bb6d-00b3f54235dc
        schema:
          type: string
    get:
      tags:
        - Schemas
      summary: Get Schema by ID
      operationId: Schemas_getById
      description: Retrieve schema details by its unique ID.
      responses:
        '200':
          description: Schema details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Schema not found.
        '500':
          description: Internal server error.
    patch:
      tags:
        - Schemas
      summary: Update Schema by ID
      operationId: Schemas_updateById
      description: Use this endpoint to update schema metadata.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePatchRequest'
      responses:
        '200':
          description: Schema updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad request.
        '404':
          description: Schema not found.
        '500':
          description: Internal server error.
  /table/tables:
    post:
      tags:
        - Tables
      summary: Create a New Table
      operationId: Tables_createNewTable
      description: >-
        Create a new table with a schema as a parent. The table must be
        associated with an integration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Table created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableResponse'
        '400':
          description: Bad request.
        '500':
          description: Internal server error.
    get:
      tags:
        - Tables
      summary: List Tables
      operationId: Tables_listTablesByFilter
      description: >
        This endpoint retrieves a list of tables, with optional filters for the
        integration, the schema, and the title of the table resource.
      parameters:
        - description: Integration ID
          name: integration_id
          in: query
          schema:
            type: string
            example: df2c0597-13d9-4159-bb6d-00b3f54235dc
        - description: ID of the schema
          name: parent_id
          in: query
          schema:
            type: string
            example: df2c0597-13d9-4159-bb6d-00b3f54235dc
        - description: Title of the table
          name: title
          in: query
          schema:
            type: string
            example: Sample Table
      responses:
        '200':
          description: List of databases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TablesListTablesByFilterResponse'
        '400':
          description: Bad request.
        '500':
          description: Internal server error.
  /table/tables/{table_id}:
    get:
      tags:
        - Tables
      summary: Get Table by ID
      operationId: Tables_getTableById
      description: |
        This endpoint retrieves a specific table by its ID.
      parameters:
        - description: ID of the table to retrieve
          name: table_id
          in: path
          required: true
          schema:
            type: string
            example: d935a76c-2125-4c30-9389-ef42fa7e23bb
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableResponse'
        '404':
          description: Table not found.
        '500':
          description: Internal server error.
    patch:
      tags:
        - Tables
      summary: Update Table by ID
      operationId: Tables_updateById
      description: |
        Use this endpoint to update table metadata.
      parameters:
        - description: ID of the table to update
          name: table_id
          in: path
          required: true
          schema:
            type: string
            example: d935a76c-2125-4c30-9389-ef42fa7e23bb
      requestBody:
        description: Table data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePatchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableResponse'
        '400':
          description: Bad request.
        '404':
          description: Table not found.
        '500':
          description: Internal server error.
    delete:
      tags:
        - Tables
      summary: Delete Table by ID
      operationId: Tables_deleteById
      description: |
        This endpoint deletes a specific table by its ID.
      parameters:
        - description: ID of the table to delete
          name: table_id
          in: path
          required: true
          schema:
            type: string
            example: e7691426-2c2a-46b4-98e7-d09d0b82b2b1
      responses:
        '204':
          description: Table deleted successfully
        '404':
          description: Table not found.
        '500':
          description: Internal server error.
  /table/columns:
    post:
      tags:
        - Columns
      summary: Create a New Column
      operationId: Columns_createNewColumn
      description: >
        This endpoint allows you to create a new column. Columns must have
        tables as a parent or another column for nested records. Columns must be
        associated with an integration.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Column created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColumnResponse'
        '400':
          description: Bad request.
        '500':
          description: Internal server error.
    get:
      tags:
        - Columns
      summary: List Columns
      operationId: Columns_getList
      description: >
        This endpoint allows you to retrieve a list of all columns in the
        workspace. Optional filters for integration_id, title, and parent_id
        (the table or parent column) are available.
      parameters:
        - description: Optional. Filter columns by integration identifier.
          name: integration_id
          in: query
          schema:
            type: string
            example: 6c69de0f-b269-4380-bcf5-0686de276b9e
        - description: >-
            Optional. Filter columns by parent identifier. This could be the ID
            of the table or of the parent column in the case of nested columns.
          name: parent_id
          in: query
          schema:
            type: string
            example: c444bc26-433e-4cd2-b3ee-f5a1fbb2caf8
        - description: Optional. Filter columns by title of the column.
          name: title
          in: query
          schema:
            type: string
            example: Sample Column
        - description: >-
            Optional. Filter columns by title of the table that the columns
            belong to. If several integrations have the same naming of tables,
            it is recommended to combine this with the `integration_id`.
          name: table_title
          in: query
          schema:
            type: string
            example: Sample Table
      responses:
        '200':
          description: List of columns.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColumnsGetListResponse'
        '400':
          description: Bad request.
        '500':
          description: Internal server error.
  /table/columns/{column_id}:
    get:
      tags:
        - Columns
      summary: Get Column by ID
      operationId: Columns_getColumnById
      description: >
        This endpoint allows you to retrieve information about a specific column
        by its identifier.
      parameters:
        - description: Identifier of the column to retrieve.
          name: column_id
          in: path
          required: true
          schema:
            type: string
            example: 8b2e01e0-603b-4559-8eac-4e16ecc61fc7
      responses:
        '200':
          description: Column retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColumnResponse'
        '404':
          description: Column not found.
        '500':
          description: Internal server error.
    patch:
      tags:
        - Columns
      summary: Edit Column by ID
      operationId: Columns_editById
      description: >
        This endpoint allows you to edit the metadata of a specific column by
        its identifier.
      parameters:
        - description: Identifier of the column to retrieve.
          name: column_id
          in: path
          required: true
          schema:
            type: string
            example: 8b2e01e0-603b-4559-8eac-4e16ecc61fc7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePatchRequest'
      responses:
        '200':
          description: Column retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColumnResponse'
        '404':
          description: Column not found.
        '500':
          description: Internal server error.
    delete:
      tags:
        - Columns
      summary: Delete Column by ID
      operationId: Columns_deleteById
      description: |
        This endpoint allows you to delete a specific column by its identifier.
      parameters:
        - description: Identifier of the column to delete.
          name: column_id
          in: path
          required: true
          schema:
            type: string
            example: 8b2e01e0-603b-4559-8eac-4e16ecc61fc7
      responses:
        '204':
          description: Column deleted successfully.
        '404':
          description: Column not found.
        '500':
          description: Internal server error.
  /dashboard/groups:
    post:
      tags:
        - Dashboard Groups
      summary: Create a New Dashboard Group
      operationId: DashboardGroups_createNewGroup
      description: >-
        Use this endpoint to create a dashboard group, which will be the parent
        of dashboards.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardGroupResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Dashboard Groups
      summary: List Dashboard Groups
      operationId: DashboardGroups_list
      description: >-
        List all the dashboard groups in the workspace. Optional filter by
        title.
      parameters:
        - description: Filter groups by title
          in: query
          name: title
          schema:
            type: string
          example: Sample Group
      responses:
        '200':
          description: List of groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardGroupsListResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /dashboard/groups/{group_id}:
    get:
      tags:
        - Dashboard Groups
      summary: Get Dashboard Group by ID
      operationId: DashboardGroups_getById
      description: Retrieve the information of a specific dashboard group.
      parameters:
        - description: ID of the dashboard group to retrieve
          in: path
          name: group_id
          required: true
          schema:
            type: string
          example: 43d7c33d-ad74-4dfb-bfad-c172f6701afb
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardGroupResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /dashboard/dashboards:
    post:
      tags:
        - Dashboards
      summary: Create a new Dashboard
      operationId: Dashboards_createNewDashboard
      description: >
        Create a new dashboard with the provided data. Dashboards must have a
        Group as a parent, and be associated with an integration.
      requestBody:
        description: Dashboard data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Dashboards
      summary: List Dashboards
      operationId: Dashboards_listWithFilter
      description: >
        Retrieve a list of dashboards with optional filtering using the
        integration_id, parent_id (the dashboard group), and title.
      parameters:
        - description: Filter by integration ID
          name: integration_id
          in: query
          schema:
            type: string
            example: cf103b47-8576-4467-ad34-384cd523abd9
        - description: Filter by parent ID
          name: parent_id
          in: query
          schema:
            type: string
            example: 43d7c33d-ad74-4dfb-bfad-c172f6701afb
        - description: Filter by title
          name: title
          in: query
          schema:
            type: string
          example: Sample Dashboard
      responses:
        '200':
          description: List of dashboards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardsListWithFilterResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /dashboard/dashboards/{dashboard_id}:
    get:
      tags:
        - Dashboards
      summary: Get Dashboard by ID
      operationId: Dashboards_getById
      description: |
        Retrieve a specific dashboard by its ID.
      parameters:
        - description: The ID of the dashboard to retrieve.
          name: dashboard_id
          in: path
          required: true
          schema:
            type: string
          example: 226dc8aa-fa8d-4646-8b11-6652cdc64065
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Dashboards
      summary: Update Dashboard by ID
      operationId: Dashboards_updateById
      description: |
        Use this endpoint to update dashboard metadata.
      parameters:
        - description: The ID of the dashboard to update.
          name: dashboard_id
          in: path
          required: true
          schema:
            type: string
          example: 226dc8aa-fa8d-4646-8b11-6652cdc64065
      requestBody:
        description: Represents the description of the dashboard
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePatchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Dashboards
      summary: Delete Dashboard by ID
      operationId: Dashboards_deleteById
      description: |
        Delete a specific dashboard by its ID.
      parameters:
        - description: The ID of the dashboard to delete.
          name: dashboard_id
          in: path
          required: true
          schema:
            type: string
          example: 0b3938f4-692c-4d78-b40c-247c75dc6930
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /dashboard/charts:
    post:
      tags:
        - Charts
      summary: Create a new Chart
      operationId: Charts_createNewChart
      description: >
        Create a new chart with the provided data. Charts must have a dashboard
        as a parent, and be associated with an integration.
      requestBody:
        description: Chart data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Charts
      summary: List Charts
      operationId: Charts_list
      description: >
        Retrieve a list of charts with optional filtering by integration_id,
        parent_id (the dashboard the chart belongs to), and title.
      parameters:
        - description: Filter by integration ID
          name: integration_id
          in: query
          schema:
            type: string
          example: cf103b47-8576-4467-ad34-384cd523abd9
        - description: Filter by parent ID
          name: parent_id
          in: query
          schema:
            type: string
            example: 226dc8aa-fa8d-4646-8b11-6652cdc64065
        - description: Filter by title
          name: title
          in: query
          schema:
            type: string
          example: Sample Chart
      responses:
        '200':
          description: List of charts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartsListResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /dashboard/charts/{chart_id}:
    get:
      tags:
        - Charts
      summary: Get Chart by ID
      operationId: Charts_getById
      description: |
        Retrieve a specific chart by its ID.
      parameters:
        - description: The ID of the chart to retrieve.
          name: chart_id
          in: path
          required: true
          schema:
            type: string
          example: 45813776-8934-442d-adf7-74ec921c53bf
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Charts
      summary: Update Chart by ID
      operationId: Charts_updateById
      description: Use this endpoint to update chart metadata.
      parameters:
        - description: The ID of the chart to update.
          name: chart_id
          in: path
          required: true
          schema:
            type: string
          example: 45813776-8934-442d-adf7-74ec921c53bf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePatchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Charts
      summary: Delete Chart by ID
      operationId: Charts_deleteById
      description: |
        Delete a specific chart by its ID.
      parameters:
        - name: chart_id
          in: path
          required: true
          schema:
            description: The ID of the chart to delete.
            type: string
            example: 45813776-8934-442d-adf7-74ec921c53bf
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /lineage/manual:
    post:
      tags:
        - Lineage
      summary: Create new Lineage
      operationId: Lineage_createNewLineageManually
      description: >-
        Create a new lineage object manually. Only one direction of the
        relationship needs to be created. The opposite direction of the lineage
        is automatically generated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineageCreateNewLineageManuallyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineageResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Lineage
      summary: List Lineage
      operationId: Lineage_listObjectsWithFiltering
      description: >-
        Get lineage objects with optional filtering by source and destination
        entity.
      parameters:
        - name: from_entity__in
          in: query
          schema:
            description: The source resource.
            type: string
            example: 7879886b-9e0e-4d02-8b37-c7d3c496a587
        - name: to_entity__in
          in: query
          schema:
            description: The destination resource.
            type: string
            example: b500ef23-c9b4-4259-a87d-d77b8b588f06
      responses:
        '200':
          description: List of lineage entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineageListObjectsWithFilteringResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /lineage/manual/{lineage_id}:
    get:
      tags:
        - Lineage
      summary: Get Lineage by ID
      operationId: Lineage_getById
      description: Get a lineage object by its ID.
      parameters:
        - description: The ID of the lineage entry to retrieve.
          name: lineage_id
          in: path
          required: true
          schema:
            type: string
            example: 34d983b3-bfe0-4b49-abea-0692c8be6693
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineageResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Lineage
      summary: Delete Lineage by ID
      operationId: Lineage_deleteById
      description: Delete a lineage object by its ID.
      parameters:
        - description: The ID of the lineage entry to delete.
          name: lineage_id
          in: path
          required: true
          schema:
            type: string
            example: 34d983b3-bfe0-4b49-abea-0692c8be6693
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /tag:
    post:
      tags:
        - Tags
      summary: Create a new Tag
      operationId: Tags_createNewTag
      description: Create a new tag for the workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsCreateNewTagRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Tags
      summary: List Tags
      operationId: Tags_list
      description: Get a list of tags. No filtering is currently available.
      responses:
        '200':
          description: List of tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsListResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /tag/{tag_id}:
    get:
      tags:
        - Tags
      summary: Get Tag by ID
      operationId: Tags_getById
      description: Get a tag by its ID.
      parameters:
        - description: The ID of the tag to retrieve.
          name: tag_id
          in: path
          required: true
          schema:
            type: string
            example: 69e0b863-8bb8-47e1-b566-8b8d57441c70
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Tags
      summary: Update Tag by ID
      operationId: Tags_updateById
      description: Use this endpoint to update tag name, color, or icon.
      parameters:
        - description: The ID of the tag to update.
          name: tag_id
          in: path
          required: true
          schema:
            type: string
            example: 38040671-8f1d-4322-b895-4fd7b73317bf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsUpdateByIdRequest'
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Tags
      summary: Delete Tag by ID
      operationId: Tags_deleteById
      description: Delete a tag by its ID.
      parameters:
        - description: The ID of the tag to delete.
          name: tag_id
          in: path
          required: true
          schema:
            type: string
            example: 69e0b863-8bb8-47e1-b566-8b8d57441c70
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /user:
    post:
      tags:
        - Users
      summary: Create a New User
      operationId: Users_createNewUser
      description: Create a new user in the workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersCreateNewUserRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Users
      summary: List Users
      operationId: Users_list
      description: Get a list of users.
      responses:
        '200':
          description: List of users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersListResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /user/{id}:
    get:
      tags:
        - Users
      summary: Get User by ID
      operationId: Users_getUserById
      description: Get a user by their ID.
      parameters:
        - description: The ID of the user to retrieve.
          name: id
          in: path
          required: true
          schema:
            type: string
            example: 3131f219-16bb-4c95-853a-894ae12db42a
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Users
      summary: Update User by ID
      operationId: Users_updateById
      description: >-
        Use this endpoint to update the user. Editable fields include the first
        name, last name, and role.
      parameters:
        - description: The ID of the user to update.
          name: id
          in: path
          required: true
          schema:
            type: string
            example: 3131f219-16bb-4c95-853a-894ae12db42a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersUpdateByIdRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '400':
          description: Bad Request
        '404':
          description: User not found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Users
      summary: Delete User by ID
      operationId: Users_deleteById
      description: Delete a user by their ID.
      parameters:
        - description: The ID of the user to delete.
          name: id
          in: path
          required: true
          schema:
            type: string
            example: 3131f219-16bb-4c95-853a-894ae12db42a
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /auth/teams:
    post:
      tags:
        - Teams
      summary: Create a New Team
      operationId: Teams_createNewTeam
      description: Create a new team in the workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsCreateNewTeamRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Teams
      summary: List Teams
      operationId: Teams_getList
      description: Get a list of teams in the workspace.
      responses:
        '200':
          description: List of teams.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsGetListResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /auth/teams/{id}:
    get:
      tags:
        - Teams
      summary: Get Team by ID
      operationId: Teams_getById
      description: Get a team by their ID.
      parameters:
        - description: The ID of the team to retrieve.
          name: id
          in: path
          required: true
          schema:
            type: string
            example: 3131f219-16bb-4c95-853a-894ae12db42a
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Teams
      summary: Update Team by ID
      operationId: Teams_updateById
      description: >-
        Use this endpoint to update the Team. Editable fields include the name,
        description, icon, type, and sidebar settings.
      parameters:
        - description: The ID of the team to update.
          name: id
          in: path
          required: true
          schema:
            type: string
            example: 3131f219-16bb-4c95-853a-894ae12db42a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsUpdateByIdRequest'
      responses:
        '200':
          description: Team updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsResponse'
        '400':
          description: Bad Request
        '404':
          description: User not found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Teams
      summary: Delete Team by ID
      operationId: Teams_deleteById
      description: >-
        Delete a team by their ID. Any resources that belong solely to this team
        will be set to the default team.
      parameters:
        - description: The ID of the team to delete.
          name: id
          in: path
          required: true
          schema:
            type: string
            example: 3131f219-16bb-4c95-853a-894ae12db42a
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /auth/group:
    post:
      tags:
        - User Groups
      summary: Create a New User Group
      operationId: UserGroups_createNewGroup
      description: Create a new user group in the workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupsCreateNewGroupRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - User Groups
      summary: List User Groups
      operationId: UserGroups_list
      description: Get a list of user groups in the workspace.
      responses:
        '200':
          description: List of groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupsListResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /auth/group/{id}:
    get:
      tags:
        - User Groups
      summary: Get User Group by ID
      operationId: UserGroups_getUserGroupById
      description: Get a user group by their ID.
      parameters:
        - description: The ID of the group to retrieve.
          name: id
          in: path
          required: true
          schema:
            type: string
            example: 3131f219-16bb-4c95-853a-894ae12db42a
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - User Groups
      summary: Update User Group by ID
      operationId: UserGroups_updateById
      description: >-
        Use this endpoint to update the Group. Editable fields include the name,
        description, icon, and users.
      parameters:
        - description: The ID of the group to update.
          name: id
          in: path
          required: true
          schema:
            type: string
            example: 3131f219-16bb-4c95-853a-894ae12db42a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupsUpdateByIdRequest'
      responses:
        '200':
          description: Group updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupResponse'
        '400':
          description: Bad Request
        '404':
          description: User not found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - User Groups
      summary: Delete User Group by ID
      operationId: UserGroups_deleteById
      description: Delete a group by their ID.
      parameters:
        - description: The ID of the group to delete.
          name: id
          in: path
          required: true
          schema:
            type: string
            example: 3131f219-16bb-4c95-853a-894ae12db42a
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /dictionary/terms:
    post:
      tags:
        - Terms
      summary: Create a New Dictionary Term
      operationId: Terms_createNewTerm
      description: >
        This endpoint allows you to create a new dictionary term with the
        specified data. The `title` will map to the dictionary term name, and
        the definition of the term can be added to the `definition` field.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Terms
      summary: List Dictionary Terms
      operationId: Terms_getListByTitle
      description: >
        This endpoint allows you to retrieve a list of dictionary terms with
        optional filtering by name of the term (title).
      parameters:
        - description: Filter terms by title (optional)
          in: query
          name: title
          schema:
            type: string
            example: Sample Dictionary Term
      responses:
        '200':
          description: List of dictionary terms.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsGetListByTitleResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /dictionary/terms/{term_id}:
    get:
      tags:
        - Terms
      summary: Get Dictionary Term by ID
      operationId: Terms_getById
      description: >
        This endpoint allows you to retrieve a single dictionary term by its
        unique identifier (term_id).
      parameters:
        - description: The unique identifier of the dictionary term
          in: path
          name: term_id
          required: true
          schema:
            type: string
            example: 61ce0a34-ce90-4f1a-a135-f122dcbed242
      responses:
        '200':
          description: Dictionary term retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Term not found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Terms
      summary: Edit Dictionary Term by ID
      operationId: Terms_updateById
      description: >
        This endpoint allows you to edit the metadata of a dictionary term by
        its unique identifier (term_id).
      parameters:
        - description: The unique identifier of the dictionary term to edit
          in: path
          name: term_id
          required: true
          schema:
            type: string
            example: 61ce0a34-ce90-4f1a-a135-f122dcbed24
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePatchRequest'
      responses:
        '200':
          description: Description updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad Request
        '404':
          description: Term not found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Terms
      summary: Delete Dictionary Term by ID
      operationId: Terms_deleteById
      description: >
        This endpoint allows you to delete a dictionary term by its unique
        identifier (term_id).
      parameters:
        - description: The unique identifier of the dictionary term to delete
          in: path
          name: term_id
          required: true
          schema:
            type: string
            example: 61ce0a34-ce90-4f1a-a135-f122dcbed242
      responses:
        '204':
          description: Term deleted successfully
        '404':
          description: Term not found
        '500':
          description: Internal Server Error
  /collection/collections:
    post:
      tags:
        - Collections
      summary: Create a New Collection
      operationId: Collections_createNewCollection
      description: >
        This endpoint allows you to create a new collection. Note, adding
        resources to a collection through the API must be done on the resource
        that is added (by adding the collection_id to the `collections`
        parameter). Related resources cannot be added using the
        `/collection/collections` endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Collections
      summary: List Collections
      operationId: Collections_listCollectionsByTitle
      description: >
        This endpoint allows you to retrieve a list of collections. You can
        optionally filter the collections by title using the "title" query
        parameter.
      parameters:
        - description: Filter collections by title (optional)
          in: query
          name: title
          schema:
            type: string
            example: Sample Collection
      responses:
        '200':
          description: List of collections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionsListCollectionsByTitleResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /collection/collections/{collection_id}:
    get:
      tags:
        - Collections
      summary: Get Collection by ID
      operationId: Collections_getById
      description: >
        This endpoint allows you to retrieve a collection by its unique
        identifier (collection_id).
      parameters:
        - description: The unique identifier of the collection
          in: path
          name: collection_id
          required: true
          schema:
            type: string
            example: 3ea9a7c2-9538-46a0-899d-b2018c80113c
      responses:
        '200':
          description: Collection retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        '404':
          description: Collection not found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Collections
      summary: Edit Collection by ID
      operationId: Collections_updateById
      description: >-
        Use this endpoint to update collections. Note, adding resources to a
        collection through the API must be done on the resource that is added
        (by adding the collection_id to the `collections` parameter). Related
        resources cannot be added using the `/collection/collections` endpoints.
      parameters:
        - description: The unique identifier of the collection to edit
          in: path
          name: collection_id
          required: true
          schema:
            type: string
            example: 3ea9a7c2-9538-46a0-899d-b2018c80113c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePatchRequest'
      responses:
        '200':
          description: Description updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        '400':
          description: Bad Request
        '404':
          description: Collection not found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Collections
      summary: Delete Collection by ID
      operationId: Collections_deleteById
      description: >
        This endpoint allows you to delete a collection by its unique identifier
        (collection_id).
      parameters:
        - description: The unique identifier of the collection to delete
          in: path
          name: collection_id
          required: true
          schema:
            type: string
            example: 3ea9a7c2-9538-46a0-899d-b2018c80113c
      responses:
        '204':
          description: Collection deleted successfully
        '404':
          description: Collection not found
        '500':
          description: Internal Server Error
  /question/questions:
    post:
      tags:
        - Questions
      summary: Create a New Question
      operationId: Questions_createNewQuestion
      description: >
        This endpoint allows you to create a new question. The answer to the
        question can be set in the answer field, or added as a reply to the
        `question/replies` endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Questions
      summary: List Questions
      operationId: Questions_getList
      description: |
        This endpoint allows you to retrieve a list of questions.
      responses:
        '200':
          description: List of questions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionsGetListResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /question/questions/{question_id}:
    get:
      tags:
        - Questions
      summary: Get Question by ID
      operationId: Questions_getById
      description: >
        This endpoint allows you to retrieve a question by its unique identifier
        (question_id).
      parameters:
        - description: The unique identifier of the question
          in: path
          name: question_id
          required: true
          schema:
            type: string
            example: 7795133a-6e36-4ef2-b95a-664babb99b71
      responses:
        '200':
          description: Question retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionResponse'
        '404':
          description: Question not found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Questions
      summary: Edit Question by ID
      operationId: Questions_updateById
      description: >
        This endpoint allows you to edit the metadata of a question by its
        unique identifier (question_id).
      parameters:
        - description: The unique identifier of the question to edit
          in: path
          name: question_id
          required: true
          schema:
            type: string
            example: 7795133a-6e36-4ef2-b95a-664babb99b71
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePatchRequest'
      responses:
        '200':
          description: Definition updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionResponse'
        '400':
          description: Bad Request
        '404':
          description: Question not found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Questions
      summary: Delete Question by ID
      operationId: Questions_deleteById
      description: >
        This endpoint allows you to delete a question by its unique identifier
        (question_id).
      parameters:
        - description: The unique identifier of the question to delete
          in: path
          name: question_id
          required: true
          schema:
            type: string
            example: 4272310f-0129-4982-8849-4b20edd3f2d5
      responses:
        '204':
          description: Question deleted successfully
        '404':
          description: Question not found
        '500':
          description: Internal Server Error
  /question/replies:
    post:
      tags:
        - Questions
      summary: Create a New Question Reply
      operationId: Questions_createNewReply
      description: >
        This endpoint allows you to create a new reply to a specified question
        (indicated by the parent_id).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionsCreateNewReplyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplyResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Questions
      summary: List Question Replies
      operationId: Questions_listReplies
      description: >
        This endpoint allows you to retrieve a list of replies. You can
        optionally filter the replies by question_id using the "question_id"
        query parameter.
      parameters:
        - description: Filter replies by question_id (optional)
          in: query
          name: question_id
          schema:
            type: string
            example: 7795133a-6e36-4ef2-b95a-664babb99b71
      responses:
        '200':
          description: List of replies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionsListRepliesResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /question/replies/{reply_id}:
    get:
      tags:
        - Questions
      summary: Get Question Reply by ID
      operationId: Questions_getReplyById
      description: >
        This endpoint allows you to retrieve a reply by its unique identifier
        (reply_id).
      parameters:
        - description: The unique identifier of the reply
          in: path
          name: reply_id
          required: true
          schema:
            type: string
            example: 47f9d5ab-4ae1-4eea-a8b8-6d3847829b3f
      responses:
        '200':
          description: Reply retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplyResponse'
        '404':
          description: Reply not found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Questions
      summary: Edit Question Reply by ID
      operationId: Questions_editReplyById
      description: >
        This endpoint allows you to edit the content of a reply by its unique
        identifier (reply_id). You can also use this endoint to set this reply
        as the accepted answer.
      parameters:
        - description: The unique identifier of the reply to edit
          in: path
          name: reply_id
          required: true
          schema:
            type: string
            example: 47f9d5ab-4ae1-4eea-a8b8-6d3847829b3f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionsEditReplyByIdRequest'
      responses:
        '200':
          description: Definition updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplyResponse'
        '400':
          description: Bad Request
        '404':
          description: Reply not found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Questions
      summary: Delete Question Reply by ID
      operationId: Questions_deleteReplyById
      description: >
        This endpoint allows you to delete a reply by its unique identifier
        (reply_id).
      parameters:
        - description: The unique identifier of the reply to delete
          in: path
          name: reply_id
          required: true
          schema:
            type: string
            example: 47f9d5ab-4ae1-4eea-a8b8-6d3847829b3f
      responses:
        '204':
          description: Reply deleted successfully
        '404':
          description: Reply not found
        '500':
          description: Internal Server Error
  /document:
    post:
      tags:
        - Documents
      summary: Create a New Document
      operationId: Documents_createNewDocument
      description: >
        This endpoint allows you to create a new document with the specified
        data. The document content is pulled from the `definition` parameter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Documents
      summary: List Documents
      operationId: Documents_listDocumentsByTitle
      description: >
        This endpoint allows you to retrieve a list of documents. You can
        optionally filter the documents by title using the "title" query
        parameter.
      parameters:
        - description: Filter documents by title (optional)
          in: query
          name: title
          schema:
            type: string
            example: Sample Document
      responses:
        '200':
          description: List of documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsListDocumentsByTitleResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /document/{document_id}:
    get:
      tags:
        - Documents
      summary: Get Document by ID
      operationId: Documents_getById
      description: >
        This endpoint allows you to retrieve a document by its unique identifier
        (document_id).
      parameters:
        - description: The unique identifier of the document
          in: path
          name: document_id
          required: true
          schema:
            type: string
            example: 1f5c76c3-e7a3-406f-b51e-7ba220244f1b
      responses:
        '200':
          description: Document retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponse'
        '404':
          description: Document not found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Documents
      summary: Edit Document by ID
      operationId: Documents_updateById
      description: >
        This endpoint allows you to edit the definition of a document by its
        unique identifier (document_id). The definition of the document maps to
        the visible content of the document itself.
      parameters:
        - description: The unique identifier of the document to edit
          in: path
          name: document_id
          required: true
          schema:
            type: string
            example: 1f5c76c3-e7a3-406f-b51e-7ba220244f1b
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePatchRequest'
      responses:
        '200':
          description: Definition updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponse'
        '400':
          description: Bad Request
        '404':
          description: Document not found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Documents
      summary: Delete Document by ID
      operationId: Documents_deleteById
      description: >
        This endpoint allows you to delete a document by its unique identifier
        (document_id).
      parameters:
        - description: The unique identifier of the document to delete
          in: path
          name: document_id
          required: true
          schema:
            type: string
            example: 1f5c76c3-e7a3-406f-b51e-7ba220244f1b
      responses:
        '204':
          description: Document deleted successfully
        '404':
          description: Document not found
        '500':
          description: Internal Server Error
  /query/queries:
    get:
      tags:
        - Queries
      summary: List Queries
      operationId: Queries_getList
      description: >
        This endpoint allows you to retrieve a list of all queries in the
        workspace. No filtering is available at this time.
      responses:
        '200':
          description: List of queries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueriesGetListResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /query/queries/{query_id}:
    get:
      tags:
        - Queries
      summary: Get Query by ID
      operationId: Queries_getById
      description: >
        This endpoint allows you to retrieve a query by its unique identifier
        (query_id).
      parameters:
        - description: The unique identifier of the query
          in: path
          name: query_id
          required: true
          schema:
            type: string
            example: 871fc00d-828b-4348-9353-c635313ee459
      responses:
        '200':
          description: Query retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        '404':
          description: Query not found
        '500':
          description: Internal Server Error
  /monitors/monitors:
    get:
      tags:
        - Monitors
      summary: List Monitors
      operationId: Monitors_listMonitors
      description: >
        This endpoint allows you to retrieve a list of all the monitors in your
        workspace.
      responses:
        '200':
          description: List of Monitors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorsListMonitorsResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /monitors/monitors/{monitor_id}:
    get:
      tags:
        - Monitors
      summary: Get Monitor by ID
      operationId: Monitors_getById
      description: >
        This endpoint allows you to retrieve a monitors by it's ID. You can find
        the ID in the URL of the monitor when accessing it from the Secoda UI.
      parameters:
        - description: The unique identifier of the monitor
          in: path
          name: monitor_id
          required: true
          schema:
            type: string
            example: 871fc00d-828b-4348-9353-c635313ee459
      responses:
        '200':
          description: Monitor retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorResponse'
        '404':
          description: Monitor not found
        '500':
          description: Internal Server Error
  /monitors/incidents:
    get:
      tags:
        - Monitors
      summary: List Incidents
      operationId: Monitors_listIncidents
      description: >
        This endpoint allows you to retrieve a list of all the incidents in your
        workspace.
      responses:
        '200':
          description: List of Incidents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorsListIncidentsResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /monitors/incident/{incident_id}:
    get:
      tags:
        - Monitors
      summary: Get Incident by ID
      operationId: Monitors_getIncidentById
      description: |
        This endpoint allows you to retrieve an incident by it's ID.
      parameters:
        - description: The unique identifier of the incident
          in: path
          name: incident_id
          required: true
          schema:
            type: string
            example: 871fc00d-828b-4348-9353-c635313ee459
      responses:
        '200':
          description: Monitor retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentResponse'
        '404':
          description: Incident not found
        '500':
          description: Internal Server Error
  /monitors/measurements:
    get:
      tags:
        - Monitors
      summary: List Measurements
      operationId: Monitors_listMeasurements
      description: >
        This endpoint allows you to retrieve a list of all the measurements in
        your workspace filtered by a Monitor or Incident. A query param of
        either the Monitor ID or Incident ID is required.


        If using monitoring in automatic mode, thresholds will take some time to
        populate as the system learnins the appropriate range for your data.
      parameters:
        - description: The unique identifier of the monitor
          in: query
          name: monitor
          schema:
            type: string
            example: 871fc00d-828b-4348-9353-c635313ee459
        - description: The unique identifier of the incident
          in: query
          name: incident_id
          schema:
            type: string
            example: 40b3e4d3-3bf8-4ec4-ae87-56d1e738ca76
      responses:
        '200':
          description: List of Measurements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorsListMeasurementsResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /event/category:
    post:
      tags:
        - Event Categories
      summary: Create a New Event Category
      operationId: EventCategories_createNewCategory
      description: >-
        Use this endpoint to create a new event category. This will be the
        parent of events. The category must be associated to an integration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCategoriesCreateNewCategoryRequest'
      responses:
        '201':
          description: Event category created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Event Categories
      summary: List Event Categories
      operationId: EventCategories_list
      description: >-
        List all the event categories in the workspace. Optional filter by
        title.
      parameters:
        - description: Filter event categories by title
          in: query
          name: title
          schema:
            type: string
          example: Landing Page
      responses:
        '200':
          description: List of event categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCategoriesListResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /event/category/{event_category_id}:
    get:
      tags:
        - Event Categories
      summary: Get Event Category by Id
      operationId: EventCategories_getById
      description: Retrieve the information of a specific event category.
      parameters:
        - description: ID of the event category to retrieve
          name: event_category_id
          required: true
          in: path
          schema:
            type: string
          example: 43d7c33dad744dfbbfadc172f6701afb
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /event/events:
    post:
      tags:
        - Events
      summary: Create a new Event
      operationId: Events_createNewEvent
      description: >-
        Create a new event with the provided data. Events must have a Category
        as a parent, and be associated with an integration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
        - Events
      summary: List Events
      operationId: Events_listEventsByFiltering
      description: >-
        Retrieve a list of events with optional filtering using the
        integration_id, parent_id (the event category), and title.
      parameters:
        - description: Filter by integration ID
          name: integration_id
          in: query
          schema:
            type: string
          example: cf103b4785764467ad34384cd523abd9
        - description: Filter by parent ID
          name: parent_id
          in: query
          schema:
            type: string
          example: 43d7c33dad744dfbbfadc172f6701afb
        - description: Filter by title
          name: title
          in: query
          schema:
            type: string
          example: Clicked
      responses:
        '200':
          description: List of events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsListEventsByFilteringResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /event/events/{event_id}:
    get:
      tags:
        - Events
      summary: Get Event by ID
      operationId: Events_getById
      description: Retrieve a specific event by its ID.
      parameters:
        - description: The ID of the event to retrieve.
          name: event_id
          in: path
          required: true
          schema:
            type: string
          example: 226dc8aafa8d46468b116652cdc64065
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Events
      summary: Update an Event by ID
      operationId: Events_updateById
      description: Use this endpoint to partially update event metadata.
      parameters:
        - description: The ID of the event to update.
          name: event_id
          in: path
          required: true
          schema:
            type: string
          example: 226dc8aafa8d46468b116652cdc64065
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePatchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Events
      summary: Delete Event by ID
      operationId: Events_deleteById
      description: Delete a specific event by it's ID.
      parameters:
        - description: The ID of the event to delete.
          name: event_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /event/event_properties:
    post:
      tags:
        - Event Properties
      summary: Create a new Event Property
      operationId: EventProperties_createNewProperty
      description: >-
        Create a new event property with the provided data. Event properties
        must have an Event as a parent, and be associated with an integration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseResourceRequest'
      responses:
        '200':
          description: Event property created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventPropertyResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    get:
      tags:
        - Event Properties
      summary: List Event Properties
      operationId: EventProperties_listEventProperties
      description: >-
        Retrieve a list of events with optional filtering using the
        integration_id, parent_id (the event), and title.
      parameters:
        - description: Filter by integration ID
          name: integration_id
          in: query
          schema:
            type: string
          example: cf103b4785764467ad34384cd523abd9
        - description: Filter by parent ID
          name: parent_id
          in: query
          schema:
            type: string
          example: 43d7c33dad744dfbbfadc172f6701afb
        - description: Filter by title
          name: title
          in: query
          schema:
            type: string
          example: 'true'
      responses:
        '200':
          description: List of event properties.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/EventPropertiesListEventPropertiesResponse
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /event/event_properties/{event_property_id}:
    get:
      tags:
        - Event Properties
      summary: Get Event Property by ID
      operationId: EventProperties_getById
      description: Retrieve a specific event property by its ID.
      parameters:
        - description: The ID of the event property to retrieve.
          name: event_property_id
          in: path
          required: true
          schema:
            type: string
          example: 226dc8aafa8d46468b116652cdc64065
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventPropertyResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    patch:
      tags:
        - Event Properties
      summary: Update an Event Property by ID
      operationId: EventProperties_updateByIdentifier
      description: Use this endpoint to partially update event metadata.
      parameters:
        - description: The ID of the event property to update.
          name: event_property_id
          in: path
          required: true
          schema:
            type: string
          example: 226dc8aafa8d46468b116652cdc64065
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePatchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventPropertyResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Event Properties
      summary: Delete Event Property by ID
      operationId: EventProperties_deleteById
      description: Delete a specific event property by it's ID.
      parameters:
        - description: The ID of the event property to delete.
          name: event_property_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventPropertyResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /metric/metrics:
    post:
      tags:
        - Metrics
      summary: Create a new Metric
      operationId: Metrics_createNewMetric
      description: >-
        Create a metric, and define the relevant columns for the metric. This
        endpoint will create the resource, but will not run it. See the
        `metric/metrics/{metric_id}/execute` endpoint to run the metric for the
        first time.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricsCreateNewMetricRequest'
      responses:
        '201':
          description: Metric created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
        '400':
          description: Bad request
    get:
      tags:
        - Metrics
      summary: List Metrics
      operationId: Metrics_list
      description: Retrieve a list of metrics.
      responses:
        '200':
          description: List of metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsListResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /metric/metrics/{metric_id}:
    get:
      tags:
        - Metrics
      summary: Get Metric by ID
      operationId: Metrics_getById
      parameters:
        - name: metric_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Metric retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
        '404':
          description: Metric not found
    patch:
      tags:
        - Metrics
      summary: Update a metric
      operationId: Metrics_updateMetricById
      parameters:
        - name: metric_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricsUpdateMetricByIdRequest'
      responses:
        '200':
          description: Metric updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponse'
        '404':
          description: Metric not found
    delete:
      tags:
        - Metrics
      summary: Delete a metric
      operationId: Metrics_deleteMetricById
      parameters:
        - name: metric_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Metric deleted successfully
        '404':
          description: Metric not found
  /metric/metrics/{metric_id}/execute:
    post:
      tags:
        - Metrics
      summary: Run a Metric
      operationId: Metrics_runMetricExecution
      parameters:
        - name: metric_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricsRunMetricExecutionRequest'
      responses:
        '200':
          description: Metric executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsRunMetricExecutionResponse'
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: string
  schemas:
    UserGroupResponse:
      type: object
      properties:
        description:
          description: The description of the group.
          type: string
          example: >-
            Group of users that are responsible for keeping documentation
            updated.
        id:
          description: The ID of the group.
          type: string
          example: f3bdd4f8-d6ea-4f9b-8384-e179fa8eb3da
        created_at:
          description: The creation timestamp of the group.
          type: string
          example: '2023-05-10T14:27:23.797657Z'
        updated_at:
          description: The last update timestamp of the group.
          type: string
          example: '2023-10-20T13:53:06.088248Z'
        users:
          description: List of user IDs of the members in the group.
          type: array
          items:
            type: string
          example:
            - 33733f42-8ff7-460b-9e20-50a2133d3bb0
            - c90dedee-40ee-47ec-9c27-96dc3b2ec363
        name:
          description: The name of the group.
          type: string
          example: Data Stewards
        icon:
          description: The icon associated with the group.
          type: string
          example: 🧪
        workspace_id:
          description: The ID of the workspace associated with the grop.
          type: string
          example: f71585fa-251c-4102-8d81-c97c57c8d435
        snowflake_role:
          description: This field can be ignored.
    MonitorResponse:
      type: object
      properties:
        id:
          description: The unique identifier of the monitor.
          type: string
          example: 886337a0-f298-4259-84dc-710879c826de
        created_at:
          description: The timestamp when the monitor was created.
          type: string
          example: '2023-10-12T14:59:58.781935Z'
        updated_at:
          description: The timestamp when the data was last updated.
          type: string
          example: '2023-10-12T15:06:19.251573Z'
        integration:
          description: The identifier of the integration associated with the resource.
          type: string
          example: 337c5803-b484-4128-a24d-dcc55dee2ea2
        target:
          description: The identifier of the resource that the monitor is watching.
          type: string
          example: 11db7782-4030-4acf-93e4-85aff3b860a1
        workspace:
          description: The identifier of the workspace.
          type: string
          example: e051db43-cda6-42dc-8a69-12d1aefc3a91
        metric_type:
          description: The type of metric.
          type: string
          enum:
            - row_count
            - cardinality
            - mean
            - max
            - min
            - unique_percentage
            - null_percentage
            - freshness
            - custom_sql
          example: null_percentage
        metric_config:
          description: Configuration for the metric.
          type: string
        frequency:
[...]
