openapi: 3.0.2
info:
  title: Webhooks
  description: SmartOnboard Public API
  version: '201911.1'
  contact:
    name: SmartRecruiters
    url: https://developers.smartrecruiters.com
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.smartrecruiters.com/webhooks-api/v201907
tags:
  - name: configuration
  - name: candidates
  - name: jobs
  - name: users
  - name: offers
  - description: Manage your event subscriptions
    name: subscriptions
  - name: approvals
  - name: assessments
  - name: reports
  - name: interviews
  - name: reviews
  - name: assignments-submissions
  - name: timeslots
  - name: attachments
  - name: configs
  - name: Application API
  - name: integration
  - name: feed
  - name: interview types
  - name: statuses
  - name: messages
  - name: comments
  - name: results
  - name: postings
  - name: result
  - name: packages
  - name: orders
  - name: files
  - name: token
  - name: assessment orders
  - name: audit
  - name: info
  - name: job-applications
  - name: new-hires
  - name: onboarding-processes
  - name: assignments
paths:
  /postings/{uuid}/candidates:
    post:
      tags:
        - Application API
      summary: Create a New Candidate Application
      operationId: ApplicationApi_createNewCandidateApplication
      security:
        - key: []
      description: >-
        Operation is done on behalf of a candidate – they can access and edit
        the data, including attachments
      parameters:
        - description: Posting UUID
          name: uuid
          in: path
          required: true
          schema:
            pattern: >-
              [a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}
            type: string
      requestBody:
        description: New candidate data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyApiRequest'
        required: true
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
        '429':
          description: 'Too Many Requests '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
      externalDocs:
        url: https://developers.smartrecruiters.com/docs/post-an-application
  /postings/{uuid}/candidates/{candidateId}/status:
    get:
      tags:
        - Application API
      summary: Get candidate status
      operationId: ApplicationApi_getCandidateStatus
      security:
        - key: []
      parameters:
        - description: Posting UUID
          name: uuid
          in: path
          required: true
          schema:
            pattern: >-
              [a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}
            type: string
        - name: candidateId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationStatusInfo'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
        '429':
          description: 'Too Many Requests '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
      externalDocs:
        url: >-
          https://developers.smartrecruiters.com/docs/get-candidate-application-status
  /postings/{uuid}/configuration:
    get:
      tags:
        - Application API
      summary: Get application configuration for posting
      operationId: ApplicationApi_getPostingConfiguration
      security:
        - key: []
      description: >
        Returns application configuration for posting.

        Configuration contains screening questions, privacy policies and
        settings.

        Optionally, conditional questions can be included in the response.
      parameters:
        - description: Language for screening questions. By default 'en'.
          name: Accept-Language
          in: header
          schema:
            type: string
        - description: Posting UUID
          name: uuid
          in: path
          required: true
          schema:
            pattern: >-
              [a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}
            type: string
        - description: >
            Specifies whether conditional questions should be returned in the
            response. 'false' if not specified

            - Only available for BETA customers
          name: conditionalsIncluded
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyConfiguration'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
        '429':
          description: 'Too Many Requests '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyApiError'
      externalDocs:
        url: >-
          https://developers.smartrecruiters.com/docs/get-application-screening-questions-and-privacy-policies
  /approvals/{approvalRequestId}:
    get:
      tags:
        - approvals
      summary: Get approval request by id
      operationId: Approvals_getById
      security:
        - key: []
        - oauth:
            - approvals_read
      parameters:
        - description: Approval request identifier
          name: approvalRequestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Found approval request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequest'
        '404':
          description: |
            with code
            * **APPROVAL_REQUEST_NOT_FOUND** when approval request is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /approvals/{approvalRequestId}/comments:
    get:
      tags:
        - approvals
      summary: Get comments for given approval request
      operationId: Approvals_getComments
      security:
        - key: []
        - oauth:
            - approvals_read
      parameters:
        - description: Approval request identifier
          name: approvalRequestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Found comments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comments'
        '404':
          description: |
            with code
            * **APPROVAL_REQUEST_NOT_FOUND** when approval request is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - approvals
      summary: Add comment to given approval request
      operationId: Approvals_addCommentToRequest
      security:
        - key: []
        - oauth:
            - approvals_read
      parameters:
        - description: Approval request identifier
          name: approvalRequestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalsAddCommentToRequestRequest'
      responses:
        '201':
          description: Created comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: >

            * **COMMENT_CONTAINS_ILLEGAL_CHARACTERS** when comment contains
            illegal characters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: |

            * **UNAUTHORIZED_ACCESS** when no permissions to add a comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: |
            with code
            * **APPROVAL_REQUEST_NOT_FOUND** when approval request is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Input validation fails
  /approvals:
    get:
      tags:
        - approvals
      summary: Get pending approvals requests where you are an approver.
      operationId: Approvals_getPendingRequests
      security:
        - key: []
        - oauth:
            - approvals_read
      description: The max number of returned approval requests is 100.
      parameters:
        - description: >
            Identifier for the paged list of approval requests. To get the first
            page of approval request, leave it blank.
          name: pageId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Approval requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequests'
          headers:
            Link:
              description: |
                Links to related resources, in the format defined by
                [RFC 8288](https://tools.ietf.org/html/rfc8288).
                This will include a link with relation type `next` to the
                next page, if there is a next page.
              schema:
                type: string
        '400':
          description: |
            Unable to retrieve approval requests with codes
            * **INVALID_PAGE_ID** when pageId is incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - approvals
      summary: Create approval request
      operationId: Approvals_createApprovalRequest
      security:
        - key: []
        - oauth:
            - approvals_create
      description: >
        The new approval request will be created based on approval request with
        provided baseId. If base approval request is pending, it will be
        abandoned. The newly created request will contain new id, type, decision
        mode and steps, as well as PENDING statuses and decisions.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalsCreateApprovalRequestRequest'
      responses:
        '201':
          description: Approval request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequest'
        '400':
          description: >
            Unable to create approval request with codes

            * **BASE_ID_NOT_FOUND** when base approval request id doesn't exist

            * **APPROVER_ID_NOT_FOUND** when at least one of approver ids
            doesn't exist

            * **INVALID_DECISION_MODE** when decisionMode is `all` and type is
            `sequential`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: >
            Unable to create approval request with codes

            * **UNAUTHORIZED_ACCESS** when no permissions to create approval
            request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /approvals/{approvalRequestId}/approve-decisions:
    post:
      tags:
        - approvals
      summary: Approve the approval request by id
      operationId: Approvals_approveDecisions
      security:
        - key: []
        - oauth:
            - approvals_read
            - approvals_decide
      parameters:
        - description: Approval request identifier
          name: approvalRequestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalsApproveDecisionsRequest'
      responses:
        '204':
          description: Approval request approved
        '400':
          description: >
            with code

            * **APPROVAL_REQUEST_NOT_FOUND**

            * **APPROVAL_COMPLETED** when approval request is already approved,
            rejected or abandoned

            * **DECISION_NOT_YET_ALLOWED** when trying to take decision before
            previous step completion

            * **APPROVER_NOT_ALLOWED** when user is not an approver in given
            approval request

            * **DECISION_ALREADY_TAKEN** when approver is trying to modify
            already taken decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: |
            with code
            * **APPROVAL_REQUEST_NOT_FOUND** when approval request is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /approvals/{approvalRequestId}/reject-decisions:
    post:
      tags:
        - approvals
      summary: Reject the approval request by id
      operationId: Approvals_rejectRequestById
      security:
        - key: []
        - oauth:
            - approvals_read
            - approvals_decide
      parameters:
        - description: Approval request identifier
          name: approvalRequestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalsRejectRequestByIdRequest'
      responses:
        '204':
          description: Approval request rejected
        '400':
          description: >
            with code

            * **APPROVAL_REQUEST_NOT_FOUND**

            * **APPROVAL_COMPLETED** when approval request is already approved,
            rejected or abandoned

            * **DECISION_NOT_YET_ALLOWED** when trying to take decision before
            previous step completion

            * **APPROVER_NOT_ALLOWED** when user is not an approver in given
            approval request

            * **DECISION_ALREADY_TAKEN** when approver is trying to modify
            already taken decision

            * **COMMENT_IS_REQUIRED** when approver is trying reject without the
            comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: |
            with code
            * **APPROVAL_REQUEST_NOT_FOUND** when approval request is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /partner/configuration:
    get:
      tags:
        - configuration
      summary: get partner configuration
      operationId: Configuration_getDetails
      security:
        - oauth2_master:
            - partner_configuration_manage
      responses:
        '200':
          description: Partner configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerConfiguration'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Request missed required scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Configuration does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - configuration
      summary: saves configuration for partner
      operationId: Configuration_savePartnerConfig
      security:
        - oauth2_master:
            - partner_configuration_manage
      description: Endpoint for saving partner's configuration.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerConfigurationRequest'
      responses:
        '200':
          description: Configuration created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerConfiguration'
        '400':
          description: Invalid configuration provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Request missed required scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /integration/company/{companyId}:
    post:
      tags:
        - integration
      summary: enable the company integration
      operationId: Integration_integrationSetup
      security:
        - oauth2_master:
            - partner_configuration_manage
      description: |2-

                    Set up integration.
                    1. Validates if token has client_credentials_write scope (created using master credentials)
                    2. Validates if company gave consent for integration with partner
                    3. Saves credentials send by the partner
                    4. Created credentials for current company
                    5. Sends created credentials back to partner
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCredentials'
      responses:
        '200':
          description: Customer-level integration credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCredentials'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: >-
            Request missed required scopes or company did not give consent for
            integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Partner configuration does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Partner already integrated for company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{orderId}/results:
    patch:
      tags:
        - result
      summary: updates package result
      operationId: Result_updatePackageResult
      security:
        - oauth2:
            - assessment_result_manage
      description: >-
        Updates results for package ordered. Follows RFC 7396 rules to describe
        set of modifications.
      parameters:
        - description: Order ID
          name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageResult'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageResult'
        '400':
          description: Invalid result partial update provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Request missed required scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Order with given id does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported payload format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /orders/{orderId}/results/attachment:
    post:
      tags:
        - result
      summary: add attachment to order
      operationId: Result_addAttachmentToOrder
      description: >-
        Add attachment to order. Adding attachment to inline assessment orders
        is not supported.
      parameters:
        - description: Order ID
          name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResultAddAttachmentToOrderRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResult'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Request missed required scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Order with given id does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /integration:
    get:
      tags:
        - integration
      summary: Shows consent form on partner side
      operationId: Integration_showConsentFormOnPartnerSide
      description: >-
        Endpoint to which SmartRecruiters will send request for consent.

        After that Partner will:

        1. Create client credentials which may be used on SmartRecruiters side

        2. Retrieve access_token using master client credentials

        3. Send generated credentials using oauth token obtained

        In return SmartRecruiters would send client credentials for company
        setting up the integration.
      parameters:
        - description: id of company setting up the integration
          name: companyId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Page with consent for customer admin
          content:
            text/html:
              schema:
                $ref: >-
                  #/components/schemas/IntegrationShowConsentFormOnPartnerSideResponse
  /integrations/companies/{companyId}:
    delete:
      tags:
        - integration
      summary: Removes integration on partner side
      operationId: Integration_removeIntegrationOnPartnerSide
      parameters:
        - description: id of company with integration
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IntegrationRemoveIntegrationOnPartnerSideResponse
  /packages:
    get:
      tags:
        - packages
      summary: Retrieves a list of packages
      operationId: Packages_getList
      security:
        - oauth2:
            - packages_view
      parameters:
        - description: Information about recruiter requesting list of packages
          name: requester
          in: header
          required: false
          schema:
            $ref: '#/components/schemas/Requester'
        - description: country code
          name: country-code
          in: query
          required: false
          schema:
            type: string
        - description: region abbreviation
          name: region-abbr
          in: query
          required: false
          schema:
            type: string
        - description: city
          name: city
          in: query
          required: false
          schema:
            type: string
        - description: address
          name: address
          in: query
          required: false
          schema:
            type: string
        - description: postal code
          name: postal-code
          in: query
          required: false
          schema:
            type: string
        - description: describe whether job is remote or not
          name: remote
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Example partner field. Partner defines list of allowed fields in
            configuration. Client binds job fields in his configuration. All
            fields with non-empty values will be included in this call.
          name: partner-field-id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of assessment packages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackagesGetListResponse'
        '204':
          description: Returned when there are not packages to present
        '400':
          description: Invalid requester data in header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Request missed required scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/{assessmentPackageId}:
    get:
      tags:
        - packages
      summary: Retrieves a package by id
      operationId: Packages_getById
      security:
        - oauth2:
            - packages_view
      parameters:
        - name: assessmentPackageId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Assessment package
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentPackage'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Request missed required scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No assessment package with given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/orders:
    post:
      tags:
        - orders
      summary: Orders assessment package for candidate
      operationId: Orders_assessPackageForCandidate
      security:
        - oauth2:
            - orders_modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentPackageOrderRequest'
      responses:
        '202':
          description: Order acceptance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersAssessPackageForCandidateResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Request missed required scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: There is no package which was ordered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/inline/orders:
    post:
      tags:
        - orders
      summary: Orders inline assessment package for candidate
      operationId: Orders_assessPackageForCandidate
      security:
        - oauth2:
            - orders_modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InlineAssessmentPackageOrderRequest'
      responses:
        '200':
          description: Response containing url to inline assessment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InlineAssessmentPackageResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Request missed required scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: There is no package which was ordered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth/token:
    post:
      tags:
        - token
      summary: Exchange credentials for an access token
      operationId: Token_exchangeCredentialsForAccessToken
      description: >-
        SmartRecruiters will call this endpoint to exchange the credentials
        received from Partner for an access token.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenInput'
      responses:
        '200':
          description: Access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '400':
          description: Error Response https://tools.ietf.org/html/rfc6749#section-5.2
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenErrorResponse'
  /assessment-orders:
    get:
      tags:
        - assessment orders
      summary: Retrieves all assessment orders for specified application
      operationId: AssessmentOrders_getAllForApplication
      security:
        - key: []
        - oauth:
            - assessment_orders_read
      parameters:
        - description: ID of the application
          in: query
          name: applicationId
          required: true
          schema:
            $ref: '#/components/schemas/Uuid'
      responses:
        '200':
          description: Assessment orders were retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentOrders'
        '401':
          description: >
            with codes:

            * **NOT_AUTHORIZED_TO_ACCESS_RESOURCE** when caller is not
            authorized to access resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >
            with codes:

            * **APPLICATION_NOT_FOUND** when there is no application with given
            id

            * **MISSING_COMPANY_INTEGRATION** when no integration with
            assessment partner was found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/ServerError'
  /audit-events:
    get:
      tags:
        - audit
      summary: List audit events
      operationId: Audit_listEvents
      security:
        - key: []
        - oauth:
            - audit_events_read
      description: >
        Data collected via the Audit API will be retained at least 26 months.
        When `eventDateAfter` and `eventDateBefore` are not set, by default, the
        time range is set to the last 7 days. Below is the list of the events
        that are currently exposed in the API:

        * **USER_ACCOUNT_ACTIVATED** - user account has been activated, user can
        now login to the system

        * **USER_ACCOUNT_CREATED** - user account has been created, in order to
        log in to the system account has to be activated first

        * **USER_ACCOUNT_DEACTIVATED** - user account has been deactivated,
        logging possibility disabled for the user

        * **USER_ACCOUNT_UPDATED** - user account has been modified

        * **USER_AUTHENTICATION_INVALID_CREDENTIALS** - user authentication
        failed due to invalid credentials.

        Additional context represents the type of the authentication method:

        ```json

        context: {
            authenticationType: "PASSWORD"
        }

        ```

        * **USER_AUTHENTICATION_SUCCESS** - user authentication succeeded

        Additional context represents the type of the authentication method:

        ```json

        context: {
            authenticationType: "PASSWORD",
            officeName: "string" //Optional
        }

        ```

        * **USER_PASSWORD_CHANGED** - user password has been changed

        * **USER_PASSWORD_RESET** - user password has been reset

        * **USER_ROLE_CHANGED** - user role has been changed,

        Additional context represents previous and current role of the user:

        ```json

        context: {
            currentRole: "RESTRICTED",
            previousRole: "STANDARD"
        }

        ```

        * **USER_API_KEY_RENEWED** - user api-key has been renewed

        * **CREDENTIALS_CREATED** - api-key or OAuth credentials has been
        renewed

        * **CREDENTIALS_CHANGED** - api-key or OAuth credentials has been
        modified

        * **CREDENTIALS_REVOKED** - api-key or OAuth credentials has been
        modified

        Additional context represents credential type:

        ```json

        context: {
            credentialType: "string"
        }

        ```

        * **SEARCH** - user performed search

        For entityType CANDIDATE additional context represents candidate search
        event:

        ```json

        context: {
            keyword: [
                "test"
            ],
            jobTitles: [
                "Freelancer",
                "Software Engineer"
            ],
            jobNames: [
                "Java Developer, San Francisco"
            ],
            companies: [
                "SmartRecruiters"
            ],
            schools: [
                "University of Science and Technology"
            ]
        ```

        * **JOB_DELETED** - job was deleted

        Additional context represents the deleted job:

        ```json

        context: {
            jobName: "string",
            jobRefNumber: "string"
        }

        ```

        * **HIRING_TEAM_MEMBER_ADDED** - a new member was added to the hiring
        team of the job

        Additional context represents the new member:

        ```json

        context: {
            userId: "string",
            roleId: "string",
            roleName: "string"
        }

        ```

        * **HIRING_TEAM_MEMBER_REMOVED** - a member was removed from the hiring
        team of the job

        Additional context represents the removed member:

        ```json

        context: {
            userId: "string"
        }

        ```

        * **HIRING_TEAM_ROLE_UPDATED** - role of one of the hiring team members
        was updated

        Additional context represents previous and current role of the updated
        member:

        ```json

        context: {
            userId: "string",
            previousRoleId: "string",
            previousRoleName: "string",
            currentRoleId: "string",
            currentRoleName: "string"
        }

        ```

        * **APPROVAL_DELEGATION_FROM_USER_CREATED** - a user created an approval
        delegation

        * **APPROVAL_DELEGATION_FROM_USER_CANCELLED** - a user cancelled an
        approval delegation

        * **APPROVAL_DELEGATION_TO_USER_CREATED** - an approval delegation to a
        user (a delegate) has been created

        * **APPROVAL_DELEGATION_TO_USER_CANCELLED** - an approval delegation to
        a user (a delegate) has been created

          Additional context represents approval delegation event's details:

          ```json

          context: {
              originalApproverId: "string",
              delegateApproverId: "string",
              startDate: date,
              endDate: date
          }

          ```

        * **JOB_APPROVAL_REQUESTED** - a job approval was requested

        Additional context represents approval modified event's details:

        ```json

        comment: {
          text: 'string',
          authorId: 'string',
          date: 'string',

        }

        context: {
            comments: [comment]
        }

        ```

        * **JOB_APPROVAL_APPROVED** - a job approval was approved

        Additional context represents approval modified event's details:

        ```json

        comment: {
          text: 'string',
          authorId: 'string',
          date: 'string',

        }

        context: {
            comments: [comment]
        }

        ```

        * **JOB_APPROVAL_REJECTED** - a job approval was rejected

        Additional context represents approval modified event's details:

        ```json

        comment: {
          text: 'string',
          authorId: 'string',
          date: 'string',

        }

        context: {
            comments: [comment]
        }

        ```

        * **JOB_APPROVAL_ABANDONED** - a job approval was abandoned

        Additional context represents approval modified event's details:

        ```json

        comment: {
          text: 'string',
          authorId: 'string',
          date: 'string',

        }

        context: {
            comments: [comment]
        }

        ```

        * **OFFER_APPROVAL_APPROVED** - an offer approval was approved

        * **OFFER_APPROVAL_REJECTED** - an offer approval was rejected

        * **OFFER_APPROVAL_ABANDONED** - an offer approval was abandoned

          Additional context represents approval event's details.
          `type` is one of the values:
            * sequential - consent of every approver is required, approval requests are sent one by one in a defined order.
            * parallel -  all approvers can approve at the same time.

          `decisionMode` is one of the values:
            * all - consent of every approver is required
            * any - consent of a single approver is enough

        ```json

        decision: {
          decidedOn: integer,
          decision: 'string',
          decidedBy: 'string',
          userId: 'string'
        }

        context: {
          approvalRequestId: 'string'
          approvers: [decision]
          type: 'string',
          decisionMode: 'string'
        }

        ```

        * **JOB_APPROVAL_STEP_APPROVED** - a job approval step was approved by
        author

        * **JOB_APPROVAL_STEP_REJECTED** - a job approval step was rejected by
        author

        Additional context represents approval step modified event's details:

        ```json

        context: {
            approver: 'string'
            comment: 'string'
        }

        ```

        * **JOB_APPROVAL_STEP_SKIPPED** - an author skipped approver for a job
        approval step

        * **OFFER_APPROVAL_STEP_APPROVED** - an offer approval step was approved
        by author

        * **OFFER_APPROVAL_STEP_REJECTED** - an offer approval step was rejected
        by author

        * **OFFER_APPROVAL_STEP_SKIPPED** - an author skipped approver for an
        offer approval step

          Additional context represents approval step modified event's details:

        ```json

        context: {
            approvalRequestId: "string"
            approver: "string",
            reasonId: "string",
            comment: "string"
        }

        ```

        * **JOB_APPROVAL_STEP_DELEGATED** - job approval step was delegated to
        new approver

        * **OFFER_APPROVAL_STEP_DELEGATED** - job approval step was delegated to
        new approver

          Additional context represents approval step delegated event's details:

        ```json

        context: {
            approvalRequestId: "string"
            originalApproverId: "string",
            delegateApproverId: "string"
        }

        ```

        * **OFFER_ACCEPTED** - offer was accepted. Returns viaIntegration which
        is set to true if offer was accepted via third party integration like
        Docusign

        ```json

        context: {
            viaIntegration: "boolean"
        }

        ```

        * **OFFER_DECLINED** - offer was declined. Returns viaIntegration which
        is set to true if offer was accepted via third party integration like
        Docusign

        ```json

        context: {
            viaIntegration: "boolean"
        }

        ```

        * **CANDIDATE_PERSONAL_DATA_MODIFIED** - Candidate personal data were
        modified. Only Web Application actions are audited. Event doesn't cover
        Customer API. Personal data covers:
            * First Name
            * Last Name
            * E-mail
            * Phone
            * Location
            * Phone Number
            * Social Links (Skype Id, Indeed Id, Twitter account, LinkedIn profile, Facebook profile, Websites)
        * **CANDIDATE_PROFILE_MODIFIED** - Candidate profile data were modified.
        Only Web Application actions are audited. Event doesn't cover Customer
        API and Mobile application.

        * **CANDIDATE_DELETED** - Candidate was deleted. The authorType property
        can be used to distinguish deletion nature. Following values are
        possible:
            * USER - candidate was deleted by user
            * SYSTEM - candidate was deleted by compliance mechanism (due to retention period end or lack of consent)
            * CANDIDATE - candidate deleted oneself

        * **CANDIDATE_PROFILE_OPENED** - Candidate profile was opened by user.
        Only Web Application actions are audited. Event doesn't cover Customer
        API and Mobile application.

        * **CANDIDATE_EEO_FILLED** - Missing Candidate EEO informations were
        filled by user.

        * **CANDIDATE_PROFILE_UPDATED_DUE_TO_MERGE** - candidate profile updated
        due to merge.

        Additional context with id of duplicated candidate profile:

        ```json

        context: {
            mergedProfileId: "string"
        }

        ```

        * **CANDIDATE_DELETED_DUE_TO_MERGE** - candidate profile deleted due to
        merge.

        Additional context with id of master candidate profile:

        ```json

        context: {
            masterProfileId: "string"
        }

        ```

        * **CANDIDATE_TAGS_MODIFIED** - candidate tags have been modified. It
        means that tags have been added, replaced or deleted from the profile.

          The additional context contains the `tags` that are assigned to the candidate after the successful operation.

          ```json

          context: {
              tags: "string"
          }

          ```

        * **APPLICATION_PROPERTIES_UPDATED** - application properties updated.

        Additional context with id of updated properties:

        ```json

        context: {
            updatedPropertiesIds: "string",
            updatedPropertiesKeys: "string"
        }

        ```

        * **APPLICATION_SOURCE_MODIFIED** - community or job application source
        has been changed.

          The additional context contains the old and new source identifier after the successful operation.

          ```json

          context: {
              previousSource: "string",
              nextSource: "string"
          }

          ```

        * **ONBOARDING_STATUS_UPDATED** - onboarding status updated.

        Additional context with ids of values:

        ```json

        context: {
            fromValueId: "string",
            toValueId: "string"
        }

        ```

        * **JOB_APPLICATION_CREATED** - job application created. Currently, we
        are auditing only actions undertaken by an employee.

        Additional context with ids of values:

        ```json

        context: {
            currentStatus: "string"
        }

        ```

        * **JOB_APPLICATION_STATE_MODIFIED** - job application state modified.
        Currently, we are auditing only actions undertaken by an employee or
        system user.

        Additional context with ids of values:

        ```json

        context: {
            currentStatus: "string",
            currentStep: "string", //optional, might not be returned if lack of configured step
            previousStatus: "string",
            previousStep: "string" //optional, might not be returned if lack of configured step
        }

        ```

        * **LRSC_CONSENT_GIVEN** - Consent for data exchange within LinkedIn
        Recruiter System Connect integration was given.

        * **OAUTH_APPLICATION_ACCESS_GRANTED** - Access to OAuth application was
        granted to given user.

        Additional context represents grant's details:

        ```json

        context: {
            applicationId: "string",
            applicationName: "string",
            startDate: "date-time",
            endDate: "date-time"
        }

        ```

        JOB_PROPERTY_* events audit changes from both Web Application on Job
        Field Settings page and Configuration API unless otherwise indicated.

        * **JOB_PROPERTY_CREATED** - a job property was created.

        * **JOB_PROPERTY_ACTIVATED** - a job property was activated.

        * **JOB_PROPERTY_DEACTIVATED** - a job property was deactivated.

        * **JOB_PROPERTY_UPDATED** - a job property was updated.

        Additional context represents current and previous job property:

        ```json

        property: {
          id: "string",
          label: "string",
          category: "string",
          active: boolean,
          visible: boolean,
          required: boolean
        }

        context: {
            currentProperty: property,
            previousProperty: property
        }

        ```

        * **JOB_PROPERTY_UPDATED_VALUES** - values in job property were updated.
        Only actions from UI are audited within this event.

        Additional context represents updated current and previous values:

        ```json

        value: {
          id: "string",
          label: "string",
          archived: boolean
        }

        context: {
            currentValues: [value],
            previousValues: [value]
        }

        ```

        * **JOB_PROPERTY_UPDATED_VALUE** - a job property value was updated
        (changed label, (un)archived). Only actions from Configuration API are
        audited. These actions from UI are audited within
        JOB_PROPERTY_UPDATED_VALUES event.

        Additional context represents updated current and previous value:

        ```json

        context: {
            currentValue: value,
            previousValue: value
        }

        ```

        * **JOB_PROPERTY_ADDED_VALUE** - a value was added to a job property.
        Only actions from Configuration API are audited. These actions from UI
        are audited within JOB_PROPERTY_UPDATED_VALUES event.

        Additional context represents added value:

        ```json
         context: {
            value: [value]
         }
         ```

        * **JOB_PROPERTY_ARCHIVED_VALUE** - a job property value was archived.
        Only actions from Configuration API are audited. These actions from UI
        are audited within JOB_PROPERTY_UPDATED_VALUES event.

        Additional context represents archived value id:

        ```json

        context: {
            valueId: "string"
        }

        ```

        * **JOB_PROPERTY_DEPENDENT_PROPERTIES_UPDATED** - job property
        dependents were updated.

        Additional context represents updated dependent properties:

        ```json

        context: {
            currentDependents: ["string"],
            previousDependents: ["string"]
        }

        ```

        * **JOB_PROPERTY_DEPENDENT_VALUES_UPDATED** - job property dependent
        values were updated.

        Additional context represents added or updated dependent values:

        ```json

        dependentValue: {
          "parent": {
            "id": "string",
            "label": "string"
          },
          "values": [value],
          "valuesIds": ["string"]
        }


        context: {
            dependentId: "string",
            currentDependentValues: [dependentValue],
            previousDependentValues: [dependentValue]
        }

        ```

        * **JOB_PROPERTY_DEPENDENT_VALUES_MODIFIED** - job property dependent
        values were modified

        Additional context represents modified dependent values:

         ```json

        context: {
          dependentId: "string",
          modifications: {
            "valuesSet": {
              "string": ["string"]
            },
             "valuesAppended": {
               "string": ["string"]
             },
             "valuesRemoved": {
              "string": ["string"]
            },
             "parentValuesWithAllValuesSet": ["string"],
             "clearedOtherParentValues": boolean
          },
        }

        ```


        * **JOB_PROPERTIES_CHANGED** - job details has changed (job fields
        edited on job)

        ```json

        fieldValue: {
          "fieldId": "string",
          "value": "string"
        }

        context: {
          "previousProperties": [fieldValue],
          "currentProperties": [fieldValue]
        }

        ```

        * **POSITION_UPDATED** - when position is updated

        * **POSITION_DELETED** - when position is deleted

        * **POSITION_CREATED** - when position is created

        * **POSITION_ASSIGNED** - when position is assigned

        * **CANCEL_NOT_FILLED_POSITION** - when not filled position is cancelled

        ```json

        position: {
          id: 'string',
          positionId: 'string',
          status: 'string',
          openDate: 'date',
          targetStartDate: 'date',
          type: 'string'
        }

        context: {
          previous: position,
          current: position
        }

        ```

        * **JOB_AD_CREATED** - when job ad is created

        ```json

        location: {
          country: 'string'
          countryCode: 'string'
          regionCode: 'string'
          region: 'string'
          city: 'string'
          address: 'string'
          postalCode: 'string'
          longitude: 'string'
          latitude: 'string'
          manual: boolean
        }

        jobAd: {
          id: 'string',
          title: 'string',
          visibility: 'string',
          creatorId: 'string',
          modifierId: 'string',
          createDate: 'string',
          location: location,
          sections: 'string',
          languageId: 'string',
          applyUrl: 'string'
        }

        context: {
          jobAd: jobAd
        }

        ```

        * **JOB_AD_UPDATED** - when job ad is updated

        ```json

          context: {
            previous: jobAd,
            current: jobAd
          }

        ```

        * **JOB_AD_DELETED** - when job ad is deleted

        ```json

          context: {
            jobAdId: 'string',
            employeeId: 'string'
          }

        ```

        * **ONBOARDING_PROCESS_DELETED** - when an Onboarding Process is deleted
        from SmartOnboard

        ```json

          context: {
            deletionReason: 'string'
          }

        ```

        * **CUSTOMER_REPORT_DOWNLOADED** - when a report is downloaded
        Additional context with ids of values:

        ```json

        context: {
            reportFileId: 'string',
            reportId: 'string'
        } ```
      parameters:
        - description: >-
            ISO8601-formatted time boundaries for the event time, Format:
            yyyy-MM-ddTHH:mm:ss.SSSZZ (example: 2023-01-21T12:50:02.594Z)
          in: query
          name: eventDateAfter
          schema:
            type: string
            format: date-time
        - description: >-
            ISO8601-formatted time boundaries for the event time, Format:
            yyyy-MM-ddTHH:mm:ss.SSSZZ (example: 2023-01-21T12:50:02.594Z)
          in: query
          name: eventDateBefore
          schema:
            type: string
            format: date-time
        - description: Name of the event
          in: query
          name: eventName
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - USER_ACCOUNT_ACTIVATED
                - USER_ACCOUNT_CREATED
                - USER_ACCOUNT_DEACTIVATED
                - USER_ACCOUNT_UPDATED
                - USER_AUTHENTICATION_INVALID_CREDENTIALS
                - USER_AUTHENTICATION_SUCCESS
                - USER_PASSWORD_CHANGED
                - USER_PASSWORD_RESET
                - USER_ROLE_CHANGED
                - USER_API_KEY_RENEWED
                - CREDENTIALS_CREATED
                - CREDENTIALS_CHANGED
                - CREDENTIALS_REVOKED
                - SEARCH
                - CANDIDATE_PERSONAL_DATA_MODIFIED
                - CANDIDATE_PROFILE_MODIFIED
                - CANDIDATE_DELETED
                - CANDIDATE_PROFILE_OPENED
                - CANDIDATE_PROFILE_UPDATED_DUE_TO_MERGE
                - CANDIDATE_DELETED_DUE_TO_MERGE
                - CANDIDATE_TAGS_MODIFIED
                - APPLICATION_PROPERTIES_UPDATED
                - APPLICATION_SOURCE_MODIFIED
                - ONBOARDING_STATUS_UPDATED
                - JOB_APPLICATION_CREATED
                - JOB_APPLICATION_STATE_MODIFIED
                - JOB_DELETED
                - HIRING_TEAM_MEMBER_ADDED
                - HIRING_TEAM_MEMBER_REMOVED
                - HIRING_TEAM_ROLE_UPDATED
                - APPROVAL_DELEGATION_FROM_USER_CREATED
                - APPROVAL_DELEGATION_FROM_USER_CANCELLED
                - APPROVAL_DELEGATION_TO_USER_CREATED
                - APPROVAL_DELEGATION_TO_USER_CANCELLED
                - JOB_APPROVAL_REQUESTED
                - JOB_APPROVAL_APPROVED
                - JOB_APPROVAL_REJECTED
                - JOB_APPROVAL_ABANDONED
                - JOB_APPROVAL_STEP_APPROVED
                - JOB_APPROVAL_STEP_REJECTED
                - JOB_APPROVAL_STEP_SKIPPED
                - JOB_APPROVAL_STEP_DELEGATED
                - OFFER_APPROVAL_APPROVED
                - OFFER_APPROVAL_REJECTED
                - OFFER_APPROVAL_ABANDONED
                - OFFER_APPROVAL_STEP_APPROVED
                - OFFER_APPROVAL_STEP_REJECTED
                - OFFER_APPROVAL_STEP_SKIPPED
                - OFFER_APPROVAL_STEP_DELEGATED
                - OFFER_ACCEPTED
                - OFFER_DECLINED
                - CANDIDATE_EEO_FILLED
                - LRSC_CONSENT_GIVEN
                - OAUTH_APPLICATION_ACCESS_GRANTED
                - JOB_PROPERTY_CREATED
                - JOB_PROPERTY_UPDATED
                - JOB_PROPERTY_ACTIVATED
                - JOB_PROPERTY_DEACTIVATED
                - JOB_PROPERTY_UPDATED_VALUES
                - JOB_PROPERTY_UPDATED_VALUE
                - JOB_PROPERTY_ADDED_VALUE
                - JOB_PROPERTY_ARCHIVED_VALUE
                - JOB_PROPERTY_DEPENDENT_PROPERTIES_UPDATED
                - JOB_PROPERTY_DEPENDENT_VALUES_UPDATED
                - JOB_PROPERTY_DEPENDENT_VALUES_MODIFIED
                - JOB_PROPERTIES_CHANGED
                - POSITION_UPDATED
                - POSITION_DELETED
                - POSITION_CREATED
                - POSITION_ASSIGNED
                - CANCEL_NOT_FILLED_POSITION
                - JOB_AD_CREATED
                - JOB_AD_UPDATED
                - JOB_AD_DELETED
                - ONBOARDING_PROCESS_DELETED
                - CUSTOMER_REPORT_DOWNLOADED
            default:
              - USER_ACCOUNT_ACTIVATED
              - USER_ACCOUNT_CREATED
              - USER_ACCOUNT_DEACTIVATED
              - USER_ACCOUNT_UPDATED
              - USER_AUTHENTICATION_INVALID_CREDENTIALS
              - USER_AUTHENTICATION_SUCCESS
              - USER_PASSWORD_CHANGED
              - USER_PASSWORD_RESET
              - USER_ROLE_CHANGED
              - USER_API_KEY_RENEWED
              - CREDENTIALS_CREATED
              - CREDENTIALS_CHANGED
              - CREDENTIALS_REVOKED
              - SEARCH
              - JOB_DELETED
              - HIRING_TEAM_MEMBER_ADDED
              - HIRING_TEAM_MEMBER_REMOVED
              - HIRING_TEAM_ROLE_UPDATED
              - APPROVAL_DELEGATION_FROM_USER_CREATED
              - APPROVAL_DELEGATION_FROM_USER_CANCELLED
              - APPROVAL_DELEGATION_TO_USER_CREATED
              - APPROVAL_DELEGATION_TO_USER_CANCELLED
              - JOB_APPROVAL_REQUESTED
              - JOB_APPROVAL_APPROVED
              - JOB_APPROVAL_REJECTED
              - JOB_APPROVAL_ABANDONED
              - JOB_APPROVAL_STEP_APPROVED
              - JOB_APPROVAL_STEP_REJECTED
              - JOB_APPROVAL_STEP_SKIPPED
              - JOB_APPROVAL_STEP_DELEGATED
              - OFFER_APPROVAL_APPROVED
              - OFFER_APPROVAL_REJECTED
              - OFFER_APPROVAL_ABANDONED
              - OFFER_APPROVAL_STEP_APPROVED
              - OFFER_APPROVAL_STEP_REJECTED
              - OFFER_APPROVAL_STEP_SKIPPED
              - OFFER_APPROVAL_STEP_DELEGATED
              - OFFER_ACCEPTED
              - OFFER_DECLINED
              - CANDIDATE_PERSONAL_DATA_MODIFIED
              - CANDIDATE_PROFILE_MODIFIED
              - CANDIDATE_DELETED
              - CANDIDATE_PROFILE_OPENED
              - CANDIDATE_EEO_FILLED
              - CANDIDATE_PROFILE_UPDATED_DUE_TO_MERGE
              - CANDIDATE_DELETED_DUE_TO_MERGE
              - CANDIDATE_TAGS_MODIFIED
              - APPLICATION_PROPERTIES_UPDATED
              - APPLICATION_SOURCE_MODIFIED
              - ONBOARDING_STATUS_UPDATED
              - JOB_APPLICATION_CREATED
              - JOB_APPLICATION_STATE_MODIFIED
              - LRSC_CONSENT_GIVEN
              - OAUTH_APPLICATION_ACCESS_GRANTED
              - JOB_PROPERTY_CREATED
              - JOB_PROPERTY_UPDATED
              - JOB_PROPERTY_ACTIVATED
              - JOB_PROPERTY_DEACTIVATED
              - JOB_PROPERTY_UPDATED_VALUES
              - JOB_PROPERTY_UPDATED_VALUE
              - JOB_PROPERTY_ADDED_VALUE
              - JOB_PROPERTY_ARCHIVED_VALUE
              - JOB_PROPERTY_DEPENDENT_PROPERTIES_UPDATED
              - JOB_PROPERTY_DEPENDENT_VALUES_UPDATED
              - JOB_PROPERTY_DEPENDENT_VALUES_MODIFIED
              - JOB_PROPERTIES_CHANGED
              - POSITION_UPDATED
              - POSITION_DELETED
              - POSITION_CREATED
              - POSITION_ASSIGNED
              - CANCEL_NOT_FILLED_POSITION
              - JOB_AD_CREATED
              - JOB_AD_UPDATED
              - JOB_AD_DELETED
              - ONBOARDING_PROCESS_DELETED
              - CUSTOMER_REPORT_DOWNLOADED
        - description: Type of the author who generated the event
          in: query
          name: authorType
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - USER
                - SUPPORT_USER
                - SYSTEM
                - CANDIDATE
            default:
              - USER
              - SUPPORT_USER
              - SYSTEM
              - CANDIDATE
        - description: Unique identifier of the author
          in: query
          name: authorId
          schema:
            type: string
        - description: Type of the entity that the event is related to
          in: query
          name: entityType
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - USER
                - CANDIDATE
                - APPLICATION
                - OFFER
                - JOB
                - COMPANY
                - JOB_PROPERTY
                - JOB_AD
                - CREDENTIAL
                - REPORT_FILE
                - ONBOARDING_PROCESS
            default:
              - USER
              - CANDIDATE
              - APPLICATION
              - OFFER
              - JOB
              - COMPANY
              - JOB_PROPERTY
              - JOB_AD
              - CREDENTIAL
              - REPORT_FILE
              - ONBOARDING_PROCESS
        - description: Unique identifier of the entity that the event is related to
          in: query
          name: entityId
          schema:
            type: string
        - description: Unique identifier for the next page of events
          in: query
          name: nextPageId
          schema:
            type: string
        - description: Number of audit events to return. Maximum value is 100.
          in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: A single page of audit events
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Events'
        '403':
          description: Audit events access forbidden. ADMINISTRATOR role is required.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /candidates/{id}/tags:
    parameters:
      - $ref: '#/components/parameters/candidateId'
    post:
      tags:
        - candidates
      summary: Add tags to a candidate
      operationId: Candidates_addTagsToCandidate
      security:
        - key: []
        - oauth:
            - candidates_manage
      description: Add new tags to a given candidate. It doesn't replace existing tags.
      requestBody:
        description: Tags to be added.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateTags'
        required: true
      responses:
        '201':
          description: Added tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateTags'
        '400':
          description: Adding too many tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: No permission to access this candidate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags:
        - candidates
      summary: Get tags for a candidate
      operationId: Candidates_getTags
      security:
        - key: []
        - oauth:
            - candidates_read
      responses:
        '200':
          description: Candidate's tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateTags'
        '403':
          description: No permission to access this candidate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - candidates
      summary: Update tags for a candidate
      operationId: Candidates_updateCandidateTags
      security:
        - key: []
        - oauth:
            - candidates_manage
      description: >-
        Update tags for a given candidate. It replaces all existing tags with
        the new array provided.
      requestBody:
        description: Tags to be set.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateTags'
        required: true
      responses:
        '201':
          description: Updated tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateTags'
        '403':
          description: No permission to access this candidate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - candidates
      summary: Delete tags for a candidate
      operationId: Candidates_removeTags
      security:
        - key: []
        - oauth:
            - candidates_manage
      description: >-
        Delete tags for a given candidate. All tags associated with a candidate
        are removed.
      responses:
        '204':
          description: Candidate's tags successfully deleted
        '403':
          description: No permission to access this candidate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /candidates/{id}/onboardingStatus:
    parameters:
      - $ref: '#/components/parameters/candidateId'
    get:
      tags:
        - candidates
      summary: Get Onboarding Status for a candidate
      operationId: Candidates_getOnboardingStatus
      security:
        - key: []
        - oauth:
            - candidates_read
      description: >-
        Get Onboarding Status for a candidate. Please use `GET
        /candidates/{id}/jobs/{jobId}/onboardingStatus` instead.
      responses:
        '200':
          description: Onboarding status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingStatus'
        '403':
          description: >
            with codes:

            * **NO_ACCESS_TO_CANDIDATE** when Onboarding Status is not accesible
            with assigned permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >
            with codes:

            * **CANDIDATE_NOT_FOUND** when candidate not found,

            * **ONBOARDING_STATUS_NOT_ACTIVE** when Onboarding Status candidate
            property is not activated,

            * **CANDIDATE_FIELDS_FEATURE_MISSING** when Onboarding Status is not
            accessible. Required feature: 'Candidate Fields'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
    put:
      tags:
        - candidates
      summary: Set Onboarding Status for a candidate
      operationId: Candidates_setOnboardingStatus
      security:
        - key: []
        - oauth:
            - candidates_manage
      description: >-
        Set Onboarding Status for a candidate. Please use `PUT
        /candidates/{id}/jobs/{jobId}/onboardingStatus` instead.
      requestBody:
        $ref: '#/components/requestBodies/OnboardingStatus'
      responses:
        '204':
          description: Onboarding status successfully updated.
        '403':
          description: >
            with codes:

            * **NO_ACCESS_TO_CANDIDATE** when Onboarding Status is not editable
            with assigned permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >
            with codes:

            * **CANDIDATE_NOT_FOUND** when candidate not found,

            * **ONBOARDING_STATUS_NOT_ACTIVE** when Onboarding Status custom
            candidate property is not activated,

            * **CANDIDATE_FIELDS_FEATURE_MISSING** when Onboarding Status is not
            accessible. Required feature: 'Candidate Fields'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
  /candidates/{id}/jobs/{jobId}/onboardingStatus:
    parameters:
      - $ref: '#/components/parameters/candidateId'
      - $ref: '#/components/parameters/jobId'
    get:
      tags:
        - candidates
      summary: Get Onboarding Status for a candidate associated with given job
      operationId: Candidates_getOnboardingStatus
      security:
        - key: []
        - oauth:
            - candidates_read
      description: Get Onboarding Status for a candidate associated with given job.
      responses:
        '200':
          description: Onboarding status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingStatus'
        '403':
          description: >
            with codes:

            * **NO_ACCESS_TO_CANDIDATE** when Onboarding Status is not
            accessible with assigned permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >
            with codes:

            * **CANDIDATE_NOT_FOUND** when candidate not found,

            * **JOB_NOT_FOUND** when candidate is not assigned to given job,

            * **ONBOARDING_STATUS_NOT_ACTIVE** when Onboarding Status candidate
            property is not activated,

            * **CANDIDATE_FIELDS_FEATURE_MISSING** when Onboarding Status is not
            accessible. Required feature: 'Candidate Fields'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - candidates
      summary: Sets Onboarding Status for a candidate associated with given job
      operationId: Candidates_setOnboardingStatus
      security:
        - key: []
        - oauth:
            - candidates_manage
      description: Sets Onboarding Status for a candidate associated with given job.
      requestBody:
        $ref: '#/components/requestBodies/OnboardingStatus'
      responses:
        '204':
          description: Onboarding status successfully updated.
        '403':
          description: >
            with codes:

            * **NO_ACCESS_TO_CANDIDATE** when Onboarding Status is not editable
            with assigned permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >
            with codes:

            * **CANDIDATE_NOT_FOUND** when candidate not found,

            * **JOB_NOT_FOUND** when candidate is not assigned to given job,

            * **ONBOARDING_STATUS_NOT_ACTIVE** when Onboarding Status candidate
            property is not activated,

            * **CANDIDATE_FIELDS_FEATURE_MISSING** when Onboarding Status is not
            accessible. Required feature: 'Candidate Fields'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /candidates:
    get:
      tags:
        - candidates
      summary: Search candidates
      operationId: Candidates_searchResults
      security:
        - key: []
        - oauth:
            - candidates_read
      description: >-
        Only candidates matching all specified criteria and having at least one
        job application are returned.
      parameters:
        - description: >-
            keyword search, for more infromation see [SmartRecruiters
            HelpCenter](https://help.smartrecruiters.com/Getting_Started/Platform/Searching_candidates_via_Candidate_API)
          in: query
          name: q
          schema:
            type: string
        - description: number of elements to return. max value is 100
          in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - description: >
            page identifier of elements to return


            The `pageId` param can be used to fetch multiple page response, in
            case

            the number of results is higher than max number of elements to
            return (specified in the `limit` parameter).

            The `pageId` should not be present when requesting the first page of
            results.

            The pageId of the following page is returned either in the
            `nextPageId` property, or is available

            in the HTTP header `Link` value of relation type `next`.

            Example of the `Link` header:

            ```

            </candidates?limit=10&pageId=SKYfn51wTboVGco6%2FvIsIC%2FYbyYP%2F4WgqHLArvCRtYhQEMCgvp1Zj0ya0wpjfKIblyGRcbHytMcvCehVazcjQA%3D%3D>;
            rel="next"

            ```
          in: query
          name: pageId
          schema:
            type: string
        - description: >-
            job filter to display candidates who applied for a job [id]; can be
            used repeatedly;
          in: query
          name: jobId
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            location keyword search which looks up a string in a candidate’s
            location data; can be used repeatedly; case insensitive; e.g. Krakow
          in: query
          name: location
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            average rating filter to display candidates with a specific average
            rating (integer); can be used repeatedly; e.g. 4
          in: query
          name: averageRating
          deprecated: true
          explode: true
          schema:
            type: array
            items:
              type: integer
              maximum: 5
              minimum: 1
        - description: >-
            candidate’s status filter in a context of a job; can be used
            repeatedly
          in: query
          name: status
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - LEAD
                - NEW
                - IN_REVIEW
                - INTERVIEW
                - OFFERED
                - HIRED
                - REJECTED
                - WITHDRAWN
                - TRANSFERRED
        - description: candidate’s consent status filter; can be used repeatedly
          in: query
          name: consentStatus
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ConsentStatus'
        - description: >-
            candidate’s sub-status filter in a context of a job. Works only in a
            correlation with a set value for the "status" field.
          in: query
          name: subStatus
          schema:
            type: string
        - description: >-
            tag assigned to a candidate; can be used repeatedly; case
            insensitive; e.g. fluent english
          in: query
          name: tag
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            ISO8601-formatted time boundaries for the candidate update time,
            Format: yyyy-MM-ddTHH:mm:ss.SSSZZ
          in: query
          name: updatedAfter
          schema:
            type: string
            format: date-time
        - description: candidate's onboarding status
          in: query
          name: onboardingStatus
          schema:
            type: string
            enum:
              - READY_TO_ONBOARD
              - ONBOARDING_SUCCESSFUL
              - ONBOARDING_FAILED
        - description: >-
            candidate's property id (1-N). Currently it is only possible to
            filter by single-select application fields. Other application field
            type filtering is not possible.
          in: query
          name: propertyId
          explode: true
          schema:
            type: array
            items:
              type: string
            default: []
        - description: candidate's property value id (1-N)
          in: query
          name: propertyValueId
          explode: true
          schema:
            type: array
            items:
              type: string
            default: []
        - description: candidate's source type (1-N)
          in: query
          name: sourceType
          explode: true
          schema:
            type: array
            items:
              type: string
            default: []
        - description: candidate's source subtype (1-N)
          in: query
          name: sourceSubType
          explode: true
          schema:
            type: array
            items:
              type: string
            default: []
        - description: candidate's source value id (1-N)
          in: query
          name: sourceValueId
          explode: true
          schema:
            type: array
            items:
              type: string
            default: []
        - description: screening question category (1-N)
          in: query
          name: questionCategory
          explode: true
          schema:
            type: array
            items:
              type: string
            default: []
        - description: screening question field id (1-N)
          in: query
          name: questionFieldId
          explode: true
          schema:
            type: array
            items:
              type: string
            default: []
        - description: screening question field value id (1-N)
          in: query
          name: questionFieldValueId
          explode: true
          schema:
            type: array
            items:
              type: string
            default: []
      responses:
        '200':
          description: Candidates matching search criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Candidates'
          headers:
            Link:
              description: >
                Links to related resources, in the format defined by

                [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5).

                This will include a link with relation type `next` to the

                next page (containing `pageId` query parameter), if there is a
                next page.
              schema:
                type: string
        '400':
          description: >
            with codes

            * **FIELDS_CRITERIA_SIZE_VIOLATED** when number of elements of query
            param `propertyId` is not
              equal to number of elements of query param `propertyValueId`
            * **SOURCES_CRITERIA_SIZE_VIOLATED** when number of elements of
            query param `sourceType` is not
              equal to number of elements of query param `sourceSubType` or not
              equal to number of elements of query param `sourceValueId`
            * **SCREENING_QUESTIONS_CRITERIA_SIZE_VIOLATED** when number of
            elements of query param `questionCategory` is not
              equal to number of elements of query param `questionFieldId` or not
              equal to number of elements of query param `questionFieldValueId`
            * **ONBOARDING_STATUS_NOT_ACTIVE** when Onboarding Status candidate
            property is not activated or user's
              company does not have candidate property feature, but user has requested to search candidates by
              onboardingStatus query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - candidates
      summary: Create a new candidate and assign to a Talent Pool
      operationId: Candidates_createWithSourceDetails
      security:
        - key: []
        - oauth:
            - candidates_create
      description: >
        Create a new candidate and assign to a Talent Pool.


        **Tracking candidate source**


        When adding a new candidate, it's very important you track its source
        appropriately. In order to associate a source with your app/integration,
        add below object to a candidate body object for this endpoint:

        ```

        {
          "sourceDetails": {
            "sourceTypeId": "string",
            "sourceSubTypeId": "string",
            "sourceId": "string"
          }
        }

        ```

        **sourceTypeId** - it's a Source Type - available values can be found
        using [get
        /configuration/sources](https://developers.smartrecruiters.com/reference/configurationsourcetypes-1)
        endpoint


        **sourceSubTypeId** - it's a Source Subtype, an optional parameter -
        available values can be found using [get
        /configuration/sources](https://developers.smartrecruiters.com/reference/configurationsourcetypes-1)
        endpoint


        **sourceId** - it's a Source Id - available values for a given
        sourceTypeId can be found using [get
        /configuration/sources/:sourceTypeId/values](https://developers.smartrecruiters.com/reference/configurationsourcevaluesall-1)
        endpoint


        NOTE: Not defining the source will default to **API** source.


        NOTE II: In case you can't find an appropriate source to track against
        you can:

        * Create a custom source for each customer account separately on [this
        admin
        page](https://www.smartrecruiters.com/settings/configuration/custom-sources)
        (you need to be logged in as an admin to the customer account in order
        to view this page)

        * Request to
        [partners@smartrecruiters.com](mailto:partners@smartrecruiters.com)
        adding a standard source that will be available for all customers if
        your app/integration is productised (available to all SmartRecruiters
        customers)
      requestBody:
        $ref: '#/components/requestBodies/CandidateInput'
      responses:
        '201':
          description: Created candidate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateDetails'
        '400':
          description: >
            with codes

            * **SOURCE_NOT_FOUND** when provided source does not exist,

            * **SUBTYPE_REQUIRED** when there are more sources and subtype
            parameter is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: >-
            with code **PERMISSION_DENIED** when you are not permitted to create
            candidate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: >
            with code **SOURCE_TYPE_NOT_FOUND** when provided source type does
            not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /candidates/cv:
    post:
      tags:
        - candidates
      summary: Parse a resume, create a candidate and assign to a Talent Pool.
      operationId: Candidates_parseResumeAndAssignToTalentPool
      security:
        - key: []
        - oauth:
            - candidates_create
      description: Parse a resume, create a candidate and assign to a Talent Pool.
      requestBody:
        $ref: '#/components/requestBodies/Resume'
      responses:
        '201':
          description: Created candidate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateDetails'
        '400':
          description: >
            with codes

            * **SOURCE_NOT_FOUND** when provided source does not exist,

            * **SUBTYPE_REQUIRED** when there are more sources and subtype
            parameter is required,

            * **UNPARSABLE_RESUME** when provided resume cannot be parsed, e.g.
            an image

            * **INCOMPLETE_RESUME** when provided resume does not contain all
            required information to create a candidate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: >-
            with code **PERMISSION_DENIED** when you are not permitted to create
            candidate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: |
            with code
            **SOURCE_TYPE_NOT_FOUND** when provided source type does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /candidates/consent-requests:
    post:
      tags:
        - candidates
      summary: Request consent from multiple candidates
      operationId: Candidates_requestConsentFromMultiple
      security:
        - key: []
        - oauth:
            - candidates_manage
      description: >
        Read more about GDPR tools on [SmartRecruiters
        HelpCenter](https://help.smartrecruiters.com/GDPR/GDPR_Tools_for_Companies)
      requestBody:
        required: true
        $ref: '#/components/requestBodies/BatchConsentRequest'
      responses:
        '201':
          description: >
            Consent requests has been scheduled.


            The response contains a list of results for each individual consent
            request in the same order as in the request.


            A single result `status` property value could be:

            * 202 - consent request successfully scheduled,

            * 403 - cannot request consent from candidate as no privacy policy
            has been configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentRequestsResults'
  /candidates/{id}/consent:
    parameters:
      - $ref: '#/components/parameters/candidateId'
    get:
      tags:
        - candidates
      summary: Status of candidate consent
      operationId: Candidates_getStatusOfConsent
      security:
        - key: []
        - oauth:
            - candidates_read
      description: Get candidate consent status
      responses:
        '200':
          description: Candidate's latest consent status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateConsentStatus'
        '403':
          description: Candidate access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /candidates/{id}/consents:
    parameters:
      - $ref: '#/components/parameters/candidateId'
    get:
      tags:
        - candidates
      summary: Candidate consent decisions
      operationId: Candidates_getConsentDecisions
      security:
        - key: []
        - oauth:
            - candidates_read
      description: >
        Depending on the consent approach which a customer chooses, the response
        will either contain one candidates'

        consent decision - known as "single consent" - or contain one
        candidates' consent broken out by the data scopes

        which the customer has subscribed to - such as SmartRecruit and
        SmartCRM. This is referred to as "separated consent".

        Provided there is at least one pending consent request (without a
        decision) for a candidate, the response

        contains a date and time of the most recent of such consent requests.


        Read more about GDPR tools on [SmartRecruiters
        HelpCenter](https://help.smartrecruiters.com/GDPR/GDPR_Tools_for_Companies)
      responses:
        '200':
          description: Candidate's consent decisions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateConsentDecisions'
        '403':
          description: Candidate access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /candidates/{id}:
    parameters:
      - $ref: '#/components/parameters/candidateId'
    get:
      tags:
        - candidates
      summary: Get details of a candidate
      operationId: Candidates_getDetails
      security:
        - key: []
        - oauth:
            - candidates_read
      description: Get details of a candidate
      responses:
        '200':
          description: Candidate details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateDetails'
        '401':
          description: Candidate access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - candidates
      summary: Delete Candidate
      operationId: Candidates_removeCandidateById
      security:
        - key: []
        - oauth:
            - candidates_manage
      description: Delete candidate
      responses:
        '204':
          description: Candidate successfully deleted
        '403':
          description: Candidate access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Candidate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - candidates
      summary: Update candidate personal information
      operationId: Candidates_updatePersonalInfo
      security:
        - key: []
        - oauth:
            - candidates_manage
      description: Update candidate details
      requestBody:
        description: Candidate personal information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalDetails'
      responses:
        '200':
          description: Candidate updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateDetails'
        '403':
          description: >-
            with code **PERMISSION_DENIED** when you are not permitted to update
            candidate details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: |
            with code:
            * **CANDIDATE_NOT_FOUND** when candidate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /candidates/{id}/attachments:
    parameters:
      - $ref: '#/components/parameters/candidateId'
    get:
      tags:
        - candidates
      summary: Get list candidate's attachments.
      operationId: Candidates_listAttachments
      security:
        - key: []
        - oauth:
            - candidates_read
      description: Get list of candidate's attachments.
      responses:
        '200':
          description: Candidate's attachments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachments'
        '401':
          description: Candidate access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Attachment file access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
    post:
      tags:
        - candidates
      summary: Attach files to a candidate.
      operationId: Candidates_attachFiles
      security:
        - key: []
        - oauth:
            - candidates_create
      description: Attach files to a candidate.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CandidatesAttachFilesRequest'
      responses:
        '201':
          description: Candidate's attachment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '400':
          description: >
            with codes:

            * **FILE_ALREADY_EXIST** when file aleady exists,

            * **INVALID_FILE** when file extension not allowed, corrupted file
            or wrong file type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Candidate access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >-
            with code **ATTACHMENT_LIMIT_EXCEEDED** when no more files can be
            added to candidate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
  /candidates/{id}/attachments/{attachmentId}:
    parameters:
      - $ref: '#/components/parameters/candidateId'
    get:
      tags:
        - candidates
      summary: Get a candidate's attachment.
      operationId: Candidates_getAttachmentById
      security:
        - key: []
        - oauth:
            - candidates_read
      description: Get a candidate's attachment.
      parameters:
        - description: Identifier of an attachment
          in: path
          name: attachmentId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Attachment content
        '401':
          description: Candidate access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: with code FILE_NOT_FOUND when file does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
  /candidates/{id}/jobs/{jobId}/attachments:
    parameters:
      - $ref: '#/components/parameters/candidateId'
      - $ref: '#/components/parameters/jobId'
    get:
      tags:
        - candidates
      summary: Get list of candidate's attachments in context of given job.
      operationId: Candidates_getAttachmentsByJobId
      security:
        - key: []
        - oauth:
            - candidates_read
      description: Get list of candidate's attachments in context of given job.
      responses:
        '200':
          description: Candidate's attachments in context of given job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateAttachmentsForJob'
        '403':
          description: >-
            with code **PERMISSION_DENIED** when you are not permitted to view
            candidate attachments in context of given job.
          content:
            application/json:
              schema:
[...]
