openapi: 3.0.0
info:
  title: Vantage
  description: Vantage API
  version: 2.0.0
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    email: support@vantage.sh
    url: https://www.vantage.sh
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://api.vantage.sh/v2
tags:
  - description: Operations about Costs
    name: Costs
  - description: Operations about BusinessMetrics
    name: BusinessMetrics
  - description: Operations about Folders
    name: Folders
  - description: Operations about Filters
    name: Filters
  - description: Operations about Segments
    name: Segments
  - description: Operations about Dashboards
    name: Dashboards
  - description: Operations about Teams
    name: Teams
  - description: Operations about AccessGrants
    name: AccessGrants
  - description: Operations about Notifications
    name: Notifications
  - description: Operations about Prices
    name: Prices
  - description: Operations about ResourceReports
    name: ResourceReports
  - description: Operations about FinancialCommitmentReports
    name: FinancialCommitmentReports
  - description: Operations about Workspaces
    name: Workspaces
  - description: Operations about Users
    name: Users
  - description: Operations about Pings
    name: Ping
paths:
  /workspaces:
    get:
      tags:
        - Workspaces
      operationId: Workspaces_listAccessible
      description: Return all Workspaces that the current API token has access to.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspaces'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/workspaces
                      first: https://api.vantage.com/v2/workspaces?page=1
                      next: null
                      last: https://api.vantage.com/v2/workspaces?page=1
                      prev: null
                    workspaces:
                      - token: wrkspc_f936ced69bcbf8fa
                        name: Senger and Sons
  /workspaces/{workspace_token}:
    get:
      tags:
        - Workspaces
      operationId: Workspaces_getSpecificWorkspace
      description: Return a specific Workspace.
      parameters:
        - in: path
          name: workspace_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                response:
                  value:
                    token: wrkspc_be2a1b2c1ebfa3c9
                    name: Crist-Simonis
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /folders:
    post:
      tags:
        - Folders
      operationId: Folders_createFolderForCostReports
      security:
        - oauth2:
            - write
      description: Create a Folder for CostReports.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postFolders'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                response:
                  value:
                    title: New Folder
                    token: fldr_4aabe6f482c2a9e4
                    parent_folder_token: fldr_4d29cbecf2601266
                    created_at: '2023-09-12T05:06:52Z'
                    updated_at: '2023-09-12T05:06:52Z'
                    workspace_token: wrkspc_510cc77828001f9b
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Folders
      operationId: Folders_listCostReports
      description: Return all Folders for CostReports.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folders'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/folders
                      first: https://api.vantage.com/v2/folders?page=1
                      next: null
                      last: https://api.vantage.com/v2/folders?page=1
                      prev: null
                    folders:
                      - title: synergy
                        token: fldr_baf37f32280f5444
                        parent_folder_token: null
                        created_at: '2023-09-12T05:06:54Z'
                        updated_at: '2023-09-12T05:06:54Z'
                        workspace_token: wrkspc_f583a08beb76f679
                      - title: website
                        token: fldr_625d4591e46f7dfa
                        parent_folder_token: fldr_baf37f32280f5444
                        created_at: '2023-09-12T05:06:54Z'
                        updated_at: '2023-09-12T05:06:54Z'
                        workspace_token: wrkspc_f583a08beb76f679
  /folders/{folder_token}:
    delete:
      tags:
        - Folders
      operationId: Folders_deleteFolderForCostReports
      description: Delete a Folder for CostReports.
      parameters:
        - in: path
          name: folder_token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      tags:
        - Folders
      operationId: Folders_updateFolderForCostReports
      description: Update a Folder for CostReports.
      parameters:
        - in: path
          name: folder_token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putFolders'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                response:
                  value:
                    title: New Title
                    token: fldr_68e18d8d7df0be96
                    parent_folder_token: fldr_9aa0c735a6b615c6
                    created_at: '2023-09-12T05:06:53Z'
                    updated_at: '2023-09-12T05:06:53Z'
                    workspace_token: wrkspc_e65a48e5d9684439
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Folders
      operationId: Folders_getSpecificFolder
      description: Return a specific Folder for CostReports.
      parameters:
        - in: path
          name: folder_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                response:
                  value:
                    title: intermediate
                    token: fldr_3653e0f460786b1e
                    parent_folder_token: fldr_b6bf120a1d3a794b
                    created_at: '2023-09-12T05:07:36Z'
                    updated_at: '2023-09-12T05:07:36Z'
                    workspace_token: wrkspc_a707105ff54966c3
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /saved_filters:
    post:
      tags:
        - Filters
      operationId: Filters_createSavedFilterForCostReports
      security:
        - oauth2:
            - write
      description: Create a SavedFilter for CostReports.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSavedFilters'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
              examples:
                response:
                  value:
                    title: New Saved Filter
                    token: svd_fltr_84a8a4e35a845f97
                    cost_report_tokens: []
                    filter: (costs.provider = 'datadog')
                    created_at: '2023-09-12T05:06:52Z'
                    created_by: usr_4011f2b8a607729d
                    workspace_token: wrkspc_6f54abb1b2a5aefc
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Filters
      operationId: Filters_getCostReportFilters
      description: Return all SavedFilters that can be applied to a CostReport.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilters'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/saved_filters
                      first: https://api.vantage.com/v2/saved_filters?page=1
                      next: null
                      last: https://api.vantage.com/v2/saved_filters?page=1
                      prev: null
                    saved_filters:
                      - title: White
                        token: svd_fltr_52a89bb6b1c84380
                        cost_report_tokens:
                          - rprt_fef8f7e70f993108
                        filter: (costs.provider = 'aws' AND costs.account_id = '74')
                        created_at: '2023-09-12T05:07:35Z'
                        created_by: usr_055cb925f37bfa75
                        workspace_token: wrkspc_c3a582b964a67afd
  /saved_filters/{saved_filter_token}:
    delete:
      tags:
        - Filters
      operationId: Filters_deleteSavedFilter
      description: Delete a SavedFilter for CostReports.
      parameters:
        - in: path
          name: saved_filter_token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      tags:
        - Filters
      operationId: Filters_updateSavedFilterForCostReports
      description: Update a SavedFilter for CostReports.
      parameters:
        - in: path
          name: saved_filter_token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSavedFilters'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
              examples:
                response:
                  value:
                    title: Updated Saved Filter
                    token: svd_fltr_92c840f4c76c76b3
                    cost_report_tokens: []
                    filter: (costs.provider = 'azure')
                    created_at: '2023-09-12T05:07:35Z'
                    created_by: usr_fcd9ff9f8aa6bd1f
                    workspace_token: wrkspc_49c6865bb1f6356f
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Filters
      operationId: Filters_getSavedFilter
      description: Return a specific SavedFilter.
      parameters:
        - in: path
          name: saved_filter_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
              examples:
                response:
                  value:
                    title: Black
                    token: svd_fltr_7d37f2b3704d1c41
                    cost_report_tokens:
                      - rprt_267f8c135c20bf99
                    filter: (costs.provider = 'aws' AND costs.account_id = '57')
                    created_at: '2023-09-12T05:07:36Z'
                    created_by: usr_86017037cec4a852
                    workspace_token: wrkspc_7020b8708f0e6556
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /cost_reports:
    post:
      tags:
        - Costs
      operationId: Costs_createReport
      security:
        - oauth2:
            - write
      description: Create a CostReport.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postCostReports'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
              examples:
                response:
                  value:
                    title: New Cost Report
                    token: rprt_362b04093c087475
                    folder_token: fldr_819fe3807f88ff90
                    saved_filter_tokens:
                      - svd_fltr_a50b002184902819
                    business_metric_tokens_with_metadata:
                      - business_metric_token: bsnss_mtrc_bc0689f1b54094b1
                        unit_scale: per_thousand
                    filter: >-
                      costs.provider = 'aws' AND costs.service = 'Amazon Simple
                      Storage Service'
                    groupings: provider,service
                    settings:
                      include_credits: false
                      include_refunds: false
                      include_discounts: true
                      include_tax: true
                      amortize: true
                      unallocated: false
                    created_at: '2024-03-19T15:22:51Z'
                    workspace_token: wrkspc_d50edff4c3ae23b2
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Costs
      operationId: Costs_getAllCostReports
      description: Return all CostReports.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReports'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/cost_reports
                      first: https://api.vantage.com/v2/cost_reports?page=1
                      next: null
                      last: https://api.vantage.com/v2/cost_reports?page=1
                      prev: null
                    cost_reports:
                      - title: Untitled
                        token: rprt_e97ef22efaa6da12
                        folder_token: null
                        saved_filter_tokens:
                          - svd_fltr_cc4a422cf86f9e26
                        business_metric_tokens_with_metadata: []
                        filter: null
                        groupings: provider,service
                        settings:
                          include_credits: false
                          include_refunds: false
                          include_discounts: true
                          include_tax: true
                          amortize: true
                          unallocated: false
                        created_at: '2024-03-19T15:22:54Z'
                        workspace_token: wrkspc_3dc89ff43657f255
  /cost_reports/{cost_report_token}:
    delete:
      tags:
        - Costs
      operationId: Costs_deleteCostReport
      description: Delete a CostReport.
      parameters:
        - in: path
          name: cost_report_token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      tags:
        - Costs
      operationId: Costs_updateReport
      description: Update a CostReport.
      parameters:
        - in: path
          name: cost_report_token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putCostReports'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
              examples:
                response:
                  value:
                    title: Updated Cost Report
                    token: rprt_77fec1422cfc25df
                    folder_token: fldr_54b65b6cb9af21d0
                    saved_filter_tokens:
                      - svd_fltr_33736ce7e17d7803
                    business_metric_tokens_with_metadata:
                      - business_metric_token: bsnss_mtrc_58c57f66d35a1ad7
                        unit_scale: per_thousand
                    filter: costs.provider = 'azure'
                    groupings: service,account_id
                    settings:
                      include_credits: false
                      include_refunds: false
                      include_discounts: true
                      include_tax: true
                      amortize: true
                      unallocated: false
                    created_at: '2024-03-19T15:22:52Z'
                    workspace_token: wrkspc_ca0b4a774e8fa57c
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Costs
      operationId: Costs_getCostReport
      description: Return a CostReport.
      parameters:
        - in: path
          name: cost_report_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
              examples:
                response:
                  value:
                    title: Segment Report
                    token: rprt_16a4d01d67a50631
                    folder_token: fldr_fa3d9420651c11d7
                    business_metric_tokens_with_metadata: []
                    filter: null
                    groupings: null
                    settings:
                      include_credits: false
                      include_refunds: false
                      include_discounts: true
                      include_tax: true
                      amortize: true
                      unallocated: false
                    created_at: '2024-03-19T15:22:54Z'
                    workspace_token: wrkspc_6a917500aba6bca8
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /segments:
    post:
      tags:
        - Segments
      operationId: Segments_createSegment
      security:
        - oauth2:
            - write
      description: Create a Segment.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSegments'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
              examples:
                response:
                  value:
                    title: New Segment
                    description: I'm a Segment.
                    token: fltr_sgmt_1e47944f3821d5c3
                    parent_segment_token: fltr_sgmt_ac17f90b94f8d00f
                    track_unallocated: false
                    priority: 100
                    filter: >-
                      (costs.provider = 'aws' AND costs.service = 'Amazon Simple
                      Storage Service')
                    created_at: '2024-02-02T01:02:08Z'
                    workspace_token: wrkspc_d5d4814d5e42522c
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Segments
      operationId: Segments_list
      description: Return all Segments.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segments'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/segments
                      first: https://api.vantage.com/v2/segments?page=1
                      next: null
                      last: https://api.vantage.com/v2/segments?page=1
                      prev: null
                    segments:
                      - title: installation
                        description: Multi-lateral attitude-oriented process improvement
                        token: fltr_sgmt_0db07f2863f779cc
                        parent_segment_token: null
                        track_unallocated: false
                        report_settings:
                          include_credits: false
                          include_refunds: false
                          include_discounts: true
                          include_tax: true
                          amortize: true
                        priority: 100
                        filter: (costs.provider = 'aws')
                        created_at: '2024-02-02T01:02:07Z'
                        workspace_token: wrkspc_7036b752bf43a658
  /segments/{segment_token}:
    delete:
      tags:
        - Segments
      operationId: Segments_removeSegment
      description: Delete a Segment.
      parameters:
        - in: path
          name: segment_token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      tags:
        - Segments
      operationId: Segments_updateSegmentById
      description: Update a Segment.
      parameters:
        - in: path
          name: segment_token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSegments'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
              examples:
                response:
                  value:
                    title: Updated Segment
                    description: Ameliorated disintermediate challenge
                    token: fltr_sgmt_99969c652d4df258
                    parent_segment_token: fltr_sgmt_d8d4da2ef1751c13
                    track_unallocated: false
                    priority: 42
                    filter: (costs.provider = 'azure')
                    created_at: '2024-02-02T01:05:01Z'
                    workspace_token: wrkspc_c144e5f763a5b05e
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Segments
      operationId: Segments_getSegmentById
      description: Return a Segment.
      parameters:
        - in: path
          name: segment_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
              examples:
                response:
                  value:
                    title: benchmark
                    description: Synergized bandwidth-monitored help-desk
                    token: fltr_sgmt_d1de6bdb3133d61e
                    parent_segment_token: null
                    track_unallocated: false
                    report_settings:
                      include_credits: false
                      include_refunds: false
                      include_discounts: true
                      include_tax: true
                      amortize: true
                    priority: 100
                    filter: (costs.provider = 'aws')
                    created_at: '2024-02-02T01:02:09Z'
                    workspace_token: wrkspc_5c9b1211804105ff
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /dashboards:
    post:
      tags:
        - Dashboards
        - Costs
      operationId: Dashboards_createDashboard
      security:
        - oauth2:
            - write
      description: Create a Dashboard.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postDashboards'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
              examples:
                response:
                  value:
                    title: New Dashboard
                    token: dshbrd_40d2a85e60872ee4
                    widget_tokens:
                      - rprt_d1262358f4d2de03
                    saved_filter_tokens:
                      - svd_fltr_03bae07fb40ef1e0
                    date_bin: week
                    date_interval: this_month
                    start_date: '2023-08-01'
                    end_date: '2023-08-31'
                    created_at: '2023-08-15T00:00:00Z'
                    updated_at: '2023-08-15T00:00:00Z'
                    workspace_token: wrkspc_7c586d05929f60b4
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Dashboards
        - Costs
      operationId: Dashboards_getAll
      description: Return all Dashboards.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboards'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/dashboards
                      first: https://api.vantage.com/v2/dashboards?page=1
                      next: null
                      last: https://api.vantage.com/v2/dashboards?page=1
                      prev: null
                    dashboards:
                      - title: O Jerusalem!
                        token: dshbrd_0e00316c1b6ccdf5
                        widget_tokens:
                          - rprt_63e2ca172354d16a
                        saved_filter_tokens:
                          - svd_fltr_447e67636b3c789a
                        date_bin: null
                        date_interval: null
                        start_date: null
                        end_date: null
                        created_at: '2024-03-04T18:49:33Z'
                        updated_at: '2024-03-04T18:49:33Z'
                        workspace_token: wrkspc_d42986a4825b18c7
  /dashboards/{dashboard_token}:
    delete:
      tags:
        - Dashboards
        - Costs
      operationId: Dashboards_deleteDashboard
      description: Delete a Dashboard.
      parameters:
        - in: path
          name: dashboard_token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      tags:
        - Dashboards
        - Costs
      operationId: Dashboards_updateDashboard
      description: Update a Dashboard.
      parameters:
        - in: path
          name: dashboard_token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putDashboards'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
              examples:
                response:
                  value:
                    title: Updated Dashboard
                    token: dshbrd_43f0df22a2b28fc1
                    widget_tokens:
                      - rprt_1f78a31ae74c183f
                    saved_filter_tokens:
                      - svd_fltr_c90a915a9b8c4128
                    date_bin: week
                    date_interval: this_month
                    start_date: '2023-08-01'
                    end_date: '2023-08-31'
                    created_at: '2024-03-04T18:49:32Z'
                    updated_at: '2023-08-15T00:00:00Z'
                    workspace_token: wrkspc_1f7d72cc9302b876
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Dashboards
        - Costs
      operationId: Dashboards_getSpecificDashboard
      description: Return a specific Dashboard.
      parameters:
        - in: path
          name: dashboard_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/dashboards
                      first: https://api.vantage.com/v2/dashboards?page=1
                      next: null
                      last: https://api.vantage.com/v2/dashboards?page=1
                      prev: null
                    dashboards:
                      - title: The Road Less Traveled
                        token: dshbrd_77736ea6e502a481
                        widget_tokens:
                          - rprt_7d955d7fbe334706
                        saved_filter_tokens:
                          - svd_fltr_cd8f90c99b33dfa6
                        date_bin: null
                        date_interval: null
                        start_date: null
                        end_date: null
                        created_at: '2024-03-04T18:49:33Z'
                        updated_at: '2024-03-04T18:49:33Z'
                        workspace_token: wrkspc_863089db412905d9
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /costs:
    get:
      tags:
        - Costs
      operationId: Costs_listCostReport
      description: Return all Costs for a CostReport.
      parameters:
        - description: The CostReport token.
          in: query
          name: cost_report_token
          required: true
          schema:
            type: string
        - description: First date you would like to filter costs from. ISO 8601 formatted.
          in: query
          name: start_date
          required: false
          schema:
            type: string
        - description: Last date you would like to filter costs to. ISO 8601 formatted.
          in: query
          name: end_date
          required: false
          schema:
            type: string
        - description: >-
            Group the results by specific field(s). Defaults to provider,
            service, account_id. Valid groupings: account_id,
            billing_account_id, charge_type, cost_category, cost_subcategory,
            provider, region, resource_id, service, tagged, tag:<tag_value>. If
            providing multiple groupings, join as comma separated values:
            groupings=provider,service,region
          in: query
          name: groupings
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: Whether to order costs by date in an ascending or descending manner.
          in: query
          name: order
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Costs'
              examples:
                response:
                  value:
                    links:
                      self: >-
                        https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677
                      first: >-
                        https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677&page=1
                      next: null
                      last: >-
                        https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677&page=1
                      prev: null
                    total_cost:
                      amount: '500.0'
                      currency: USD
                    costs:
                      - accrued_at: '2023-06-05'
                        amount: '100.0'
                        currency: USD
                        provider: aws
                        account_id: mock_56789
                        service: AmazonSNS
                      - accrued_at: '2023-06-04'
                        amount: '100.0'
                        currency: USD
                        provider: aws
                        account_id: mock_56789
                        service: AmazonSNS
                      - accrued_at: '2023-06-03'
                        amount: '100.0'
                        currency: USD
                        provider: aws
                        account_id: mock_56789
                        service: AmazonSNS
                      - accrued_at: '2023-06-02'
                        amount: '100.0'
                        currency: USD
                        provider: aws
                        account_id: mock_56789
                        service: AmazonSNS
                      - accrued_at: '2023-06-01'
                        amount: '100.0'
                        currency: USD
                        provider: aws
                        account_id: mock_56789
                        service: AmazonSNS
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '402':
          description: PaymentRequired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /teams:
    post:
      tags:
        - Teams
      operationId: Teams_createNewTeam
      security:
        - oauth2:
            - write
      description: Create a new Team.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postTeams'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
              examples:
                response:
                  value:
                    description: New Team Description
                    token: team_8467157535a30221
                    name: New Team
                    workspace_tokens:
                      - wrkspc_52b6e5e663b4cde1
                    user_tokens:
                      - usr_a00e614b5843c234
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Teams
      operationId: Teams_listAccessible
      description: Return all Teams that the current API token has access to.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teams'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/teams
                      first: https://api.vantage.com/v2/teams?page=1
                      next: null
                      last: https://api.vantage.com/v2/teams?page=1
                      prev: null
                    teams:
                      - description: Consequuntur ratione.
                        token: team_2d4733920ec4385e
                        name: New Mexico people
                        workspace_tokens:
                          - wrkspc_08026aa5fb4c90f8
                        user_tokens:
                          - usr_c59398553e838116
  /teams/{team_token}:
    delete:
      tags:
        - Teams
      operationId: Teams_removeTeam
      description: Delete a Team.
      parameters:
        - in: path
          name: team_token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      tags:
        - Teams
      operationId: Teams_updateTeam
      description: Update a Team.
      parameters:
        - in: path
          name: team_token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putTeams'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
              examples:
                response:
                  value:
                    description: Updated Team Description
                    token: team_d617e73dcc6b57c5
                    name: Updated Team
                    workspace_tokens:
                      - wrkspc_efc4284a56772481
                    user_tokens:
                      - usr_d268561e520c7aac
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Teams
      operationId: Teams_getSpecificTeam
      description: Return a specific Team.
      parameters:
        - in: path
          name: team_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
              examples:
                response:
                  value:
                    description: Voluptas et.
                    token: team_081e09bbb812d369
                    name: Missouri cats
                    workspace_tokens:
                      - wrkspc_ddc003a2f0171bf8
                    user_tokens:
                      - usr_7c309915e847cfc6
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /access_grants:
    post:
      tags:
        - AccessGrants
      operationId: AccessGrants_createGrant
      security:
        - oauth2:
            - write
      description: Create an Access Grant.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postAccessGrants'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrant'
              examples:
                response:
                  value:
                    token: rsrc_accss_grnt_9f8aeb3cedda3831
                    resource_token: rprt_3b935d26cba36fb0
                    access: denied
                    team_token: team_26865e16e46028ae
                    created_at: '2024-01-18T17:39:37Z'
                    created_by: usr_2fc38883da3726b9
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '406':
          description: NotAcceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - AccessGrants
      operationId: AccessGrants_listAccessible
      description: Return all Access Grants that the current API token has access to.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrants'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/access_grants
                      first: https://api.vantage.com/v2/access_grants?page=1
                      next: null
                      last: https://api.vantage.com/v2/access_grants?page=1
                      prev: null
                    access_grants:
                      - token: rsrc_accss_grnt_c40f15062b6d5c37
                        resource_token: rprt_5a269d316483b01c
                        access: denied
                        team_token: team_fd5c524ba104712b
                        created_at: '2024-01-18T17:39:37Z'
                        created_by: usr_eb8ce6bdc1fa31d5
                      - token: rsrc_accss_grnt_9723e984e93d8907
                        resource_token: dshbrd_a08561ec24875ac9
                        access: allowed
                        team_token: team_fd5c524ba104712b
                        created_at: '2024-01-18T17:39:37Z'
                        created_by: usr_eb8ce6bdc1fa31d5
                      - token: rsrc_accss_grnt_eee5c4fd777d4dc8
                        resource_token: fldr_9d4ad1a769131c58
                        access: allowed
                        team_token: team_fd5c524ba104712b
                        created_at: '2024-01-18T17:39:38Z'
                        created_by: usr_eb8ce6bdc1fa31d5
  /access_grants/{access_grant_token}:
    delete:
      tags:
        - AccessGrants
      operationId: AccessGrants_delete
      description: Delete an Access Grant.
      parameters:
        - in: path
          name: access_grant_token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrant'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      tags:
        - AccessGrants
      operationId: AccessGrants_updateGrantToken
      description: Update an AccessGrant.
      parameters:
        - in: path
          name: access_grant_token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putAccessGrants'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrant'
              examples:
                response:
                  value:
                    token: rsrc_accss_grnt_eea11f0d35318b0d
                    resource_token: rprt_e84d7760ab2dd7dc
                    access: allowed
                    team_token: team_25fc4aa890869602
                    created_at: '2024-01-18T17:39:36Z'
                    created_by: usr_57ed2fa2a7b30166
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - AccessGrants
      operationId: AccessGrants_getSpecificGrant
      description: Return a specific Access Grant.
      parameters:
        - in: path
          name: access_grant_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrant'
              examples:
                response:
                  value:
                    token: rsrc_accss_grnt_07ed83a5069b91c4
                    resource_token: rprt_b8df14aa8a4ad5c7
                    access: denied
                    team_token: team_14bd13a8bccb8406
                    created_at: '2024-01-18T17:39:36Z'
                    created_by: usr_0e1cb254743b26cb
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /report_notifications:
    post:
      tags:
        - Notifications
      operationId: Notifications_createReportNotification
      security:
        - oauth2:
            - write
      description: Create a ReportNotification.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportNotifications'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportNotification'
              examples:
                response:
                  value:
                    title: New Report Notification
                    token: rprt_ntfctn_8ce31b43a149cd2e
                    cost_report_token: rprt_933010600676b02f
                    user_tokens:
                      - usr_45e7d17e9f402226
                    frequency: daily
                    change: percentage
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Notifications
      operationId: Notifications_getAllReportNotifications
      description: Return all ReportNotifications.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportNotifications'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/report_notifications
                      first: https://api.vantage.com/v2/report_notifications?page=1
                      next: null
                      last: https://api.vantage.com/v2/report_notifications?page=1
                      prev: null
                    report_notifications:
                      - title: Test Notification
                        token: rprt_ntfctn_7c09ca27d07d8d1e
                        cost_report_token: rprt_ba0a5a5201390d72
                        user_tokens:
                          - usr_27edb13f3beac3cb
                        frequency: weekly
                        change: percentage
  /report_notifications/{report_notification_token}:
    delete:
      tags:
        - Notifications
      operationId: Notifications_deleteReportNotification
      description: Delete a ReportNotification.
      parameters:
        - in: path
          name: report_notification_token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportNotification'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      tags:
        - Notifications
      operationId: Notifications_updateReportNotification
      description: Update a ReportNotification.
      parameters:
        - in: path
          name: report_notification_token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportNotifications'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportNotification'
              examples:
                response:
                  value:
                    title: Updated Report Notification
                    token: rprt_ntfctn_b36b208a90ee87f6
                    cost_report_token: rprt_07b88c04aa6bed8c
                    user_tokens:
                      - usr_35ed19fadcfed8c9
                    frequency: weekly
                    change: dollars
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - Notifications
      operationId: Notifications_getReportNotification
      description: Return a ReportNotification.
      parameters:
        - in: path
          name: report_notification_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportNotification'
              examples:
                response:
                  value:
                    title: Test Notification
                    token: rprt_ntfctn_21b4287a212406b1
                    cost_report_token: rprt_d084c84455edc606
                    user_tokens:
                      - usr_56d53f802edba3e6
                    frequency: weekly
                    change: percentage
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /users:
    get:
      tags:
        - Users
      operationId: Users_listAccessible
      description: Return all Users that the current API token has access to.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/users
                      first: https://api.vantage.com/v2/users?page=1
                      next: null
                      last: https://api.vantage.com/v2/users?page=1
                      prev: null
                    users:
                      - token: usr_3f30f56e7773e72b
                        name: Pres. Sudie Kuvalis
                        email: kuvalis.sudie.pres@mckenzie-herman.net
                        role: Owner
                      - token: usr_dc69dfedf704d4ea
                        name: Carisa Tromp
                        email: carisa.tromp@morissette.co
                        role: Viewer
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /users/{user_token}:
    get:
      tags:
        - Users
      operationId: Users_getSpecificUser
      description: Return a specific User.
      parameters:
        - in: path
          name: user_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                response:
                  value:
                    token: usr_92c7273af4de2fb4
                    name: Miss Shirlene Weissnat
                    email: miss.shirlene.weissnat@west-howe.net
                    role: Owner
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /business_metrics:
    post:
      tags:
        - BusinessMetrics
      operationId: BusinessMetrics_createNewMetric
      security:
        - oauth2:
            - write
      description: Create a new Business Metric.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postBusinessMetrics'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
              examples:
                response:
                  value:
                    title: New Biz Metric
                    token: bsnss_mtrc_5cb1416ffdb71e45
                    created_by_token: usr_c7ed8af27690461d
                    cost_report_tokens_with_metadata:
                      - cost_report_token: rprt_d9456b5218e47888
                        unit_scale: per_thousand
                    values:
                      - date: '2024-01-03T00:00:00Z'
                        amount: '300.0'
                      - date: '2024-01-02T00:00:00Z'
                        amount: '200.0'
                      - date: '2024-01-01T00:00:00Z'
                        amount: '100.0'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - BusinessMetrics
      operationId: BusinessMetrics_getAllMetrics
      description: Return all Business Metrics that the current API token has access to.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetrics'
              examples:
                response:
                  value:
                    business_metrics:
                      - title: Biz Metric
                        token: bsnss_mtrc_59f5539480219769
                        created_by_token: null
                        cost_report_tokens_with_metadata: []
                        values: []
  /business_metrics/{business_metric_token}:
    delete:
      tags:
        - BusinessMetrics
      operationId: BusinessMetrics_deleteExistingMetric
      description: Deletes an existing BusinessMetric.
      parameters:
        - in: path
          name: business_metric_token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    put:
      tags:
        - BusinessMetrics
      operationId: BusinessMetrics_updateExistingMetric
      description: Updates an existing BusinessMetric.
      parameters:
        - in: path
          name: business_metric_token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putBusinessMetrics'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
              examples:
                response:
                  value:
                    title: New Title
                    token: bsnss_mtrc_892d49c3863e90a6
                    created_by_token: null
                    cost_report_tokens_with_metadata:
                      - cost_report_token: rprt_8914e211c6bad755
                        unit_scale: per_thousand
                    values:
                      - date: '2024-01-03T00:00:00Z'
                        amount: '600.0'
                      - date: '2024-01-02T00:00:00Z'
                        amount: '500.0'
                      - date: '2024-01-01T00:00:00Z'
                        amount: '400.0'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - BusinessMetrics
      operationId: BusinessMetrics_getMetricById
      description: Return a specific Business Metric.
      parameters:
        - in: path
          name: business_metric_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
              examples:
                response:
                  value:
                    title: Biz Metric
                    token: bsnss_mtrc_fef64b1f7e56165f
                    created_by_token: null
                    cost_report_tokens_with_metadata: []
                    values: []
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /business_metrics/{business_metric_token}/values.csv:
    put:
      tags:
        - BusinessMetrics
      operationId: BusinessMetrics_updateValuesCsv
      description: Updates the values for an existing BusinessMetric from a CSV file.
      parameters:
        - in: path
          name: business_metric_token
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BusinessMetricsUpdateValuesCsvRequest'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
              examples:
                response:
                  value:
                    title: Biz Metric
                    token: bsnss_mtrc_6bc29b57fecf9ab5
                    created_by_token: null
                    cost_report_tokens: []
                    values:
                      - date: '2024-01-03T00:00:00Z'
                        amount: '300.3'
                      - date: '2024-01-02T00:00:00Z'
                        amount: '200.2'
                      - date: '2024-01-01T00:00:00Z'
                        amount: '100.1'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /products:
    get:
      tags:
        - Prices
      operationId: Prices_listAvailableProducts
      description: >-
        Return available Products for a Service. For example, with a Provider of
        AWS and a Service of EC2, Products will be a list of all EC2 Instances.
        By default, this endpoint returns all Products across all Services and
        Providers but has optional query parameters for filtering listed below.
      parameters:
        - description: >-
            Query by Provider to list all Products across all Services for a
            Provider. e.g. aws
          in: query
          name: provider_id
          required: false
          schema:
            type: string
        - description: >-
            Query by Service to list all Products for a specific provider
            service. e.g. aws-ec2
          in: query
          name: service_id
          required: false
          schema:
            type: string
        - description: >-
            Query by name of the Product to see a list of products which match
            that name. e.g. m5a.16xlarge
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v1/products
                      first: https://api.vantage.com/v1/products?page=1
                      next: null
                      last: https://api.vantage.com/v1/products?page=1
                      prev: null
                    products:
                      - id: aws-ec2-m5d_16xlarge
                        category: compute
                        name: m5d.16xlarge
                        service_id: aws-ec2
                        provider_id: aws
                        details:
                          gpu: 0
                          name: M5 General Purpose 16xlarge
                          vcpu: 64
                          memory: 256
                          clock_speed_ghz: 3.1
                          physical_processor_description: Intel Xeon Platinum 8175 (Skylake)
                          network_performance_description: 20 Gigabit
                      - id: aws-ec2-c5a_8xlarge
                        category: compute
                        name: c5a.8xlarge
                        service_id: aws-ec2
                        provider_id: aws
                        details:
                          gpu: 0
                          name: C5A 8xlarge
                          vcpu: 64
                          memory: 256
                      - id: aws-ec2-c5a_4large
                        category: compute
                        name: c5a.4large
                        service_id: aws-ec2
                        provider_id: aws
                        details:
                          gpu: 0
                          name: C5A 4large
                          vcpu: 64
                          memory: 4
                      - id: aws-s3-standard
                        category: object_storage
                        name: standard
                        service_id: aws-s3
                        provider_id: aws
                        details: {}
  /products/{id}:
    get:
      tags:
        - Prices
      operationId: Prices_getProduct
      description: Return a product
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
              examples:
                response:
                  value:
                    id: aws-ec2-m5d_16xlargeX
                    category: compute
                    name: m5d.16xlarge
                    service_id: aws-ec2
                    provider_id: aws
                    details:
                      gpu: 0
                      name: M5 General Purpose 16xlarge
                      vcpu: 64
                      memory: 256
                      clock_speed_ghz: 3.1
                      physical_processor_description: Intel Xeon Platinum 8175 (Skylake)
                      network_performance_description: 20 Gigabit
  /products/{product_id}/prices:
    get:
      tags:
        - Prices
      operationId: Prices_getProductPrices
      description: Return available Prices across all Regions for a Product.
      parameters:
        - in: path
          name: product_id
          required: true
          schema:
            type: string
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prices'
              examples:
                response:
                  value:
                    links:
                      self: >-
                        https://api.vantage.com/v1/products/aws-ec2-m5d_16xlarge/prices
                      first: >-
                        https://api.vantage.com/v1/products/aws-ec2-m5d_16xlarge/prices?page=1
                      next: null
                      last: >-
                        https://api.vantage.com/v1/products/aws-ec2-m5d_16xlarge/prices?page=1
                      prev: null
                    prices:
                      - id: >-
                          aws-ec2-m5d_16xlarge-eu_central_1-on_demand-linux_enterprise
                        unit: hour
                        region: eu-central-1
                        rate_type: compute
                        currency: USD
                        amount: 27.328
                        details:
                          platform: linux-enterprise
                          lifecycle: on-demand
                      - id: >-
                          aws-ec2-m5d_16xlarge-us_east_1-on_demand-linux_enterprise
                        unit: hour
                        region: us-east-1
                        rate_type: compute
                        currency: USD
                        amount: 3.616
                        details:
                          platform: linux-enterprise
                          lifecycle: on-demand
                      - id: aws-ec2-m5d_16xlarge-us_east_1-on_demand-rhel
                        unit: hour
                        region: us-east-1
                        rate_type: compute
                        currency: USD
                        amount: 3.746
                        details:
                          platform: rhel
                          lifecycle: on-demand
  /products/{product_id}/prices/{id}:
    get:
      tags:
        - Prices
      operationId: Prices_getProductPrice
      description: Returns a price
      parameters:
        - in: path
          name: product_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
              examples:
                response:
                  value:
                    id: >-
                      aws-ec2-m5d_16xlarge-eu_central_1-on_demand-linux_enterpriseX
                    unit: hour
                    region: eu-central-1
                    rate_type: compute
                    currency: USD
                    amount: 27.328
                    details:
                      platform: linux-enterprise
                      lifecycle: on-demand
  /resource_reports:
    get:
      tags:
        - ResourceReports
      operationId: ResourceReports_getAll
      description: Return all ResourceReports.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The number of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReports'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/provider_resource_reports
                      first: >-
                        https://api.vantage.com/v2/provider_resource_reports?page=1
                      next: null
                      last: >-
                        https://api.vantage.com/v2/provider_resource_reports?page=1
                      prev: null
                    provider_resource_reports:
                      - title: Resource Report 098e130a
                        token: prvdr_rsrc_rprt_c013a8c9280ed485
                        default: false
                        created_at: '2024-03-19T22:09:43Z'
                        workspace_token: wrkspc_5a15339e6128797f
                        report_token: null
                        user_token: null
                        recommendation_service: null
                        recommendation_category: null
  /resource_reports/{resource_report_token}:
    delete:
      tags:
        - ResourceReports
      operationId: ResourceReports_removeReport
      description: Delete a ResourceReport.
      parameters:
        - in: path
          name: resource_report_token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReport'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - ResourceReports
      operationId: ResourceReports_getResourceReport
      description: Return a ResourceReport.
      parameters:
        - in: path
          name: resource_report_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReport'
              examples:
                response:
                  value:
                    title: Resource Report 46d7371d
                    token: prvdr_rsrc_rprt_b4b9884d0bb2e121
                    default: false
                    created_at: '2024-03-19T22:09:43Z'
                    workspace_token: wrkspc_3b72a68131df0d33
                    report_token: null
                    user_token: null
                    recommendation_service: null
                    recommendation_category: null
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /financial_commitment_reports:
    get:
      tags:
        - FinancialCommitmentReports
      operationId: FinancialCommitmentReports_getAllReports
      description: Return all FinancialCommitmentReports.
      parameters:
        - description: The page of results to return.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: The amount of results to return. The maximum is 1000.
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialCommitmentReports'
              examples:
                response:
                  value:
                    links:
                      self: https://api.vantage.com/v2/financial_commitment_reports
                      first: >-
                        https://api.vantage.com/v2/financial_commitment_reports?page=1
                      next: null
                      last: >-
                        https://api.vantage.com/v2/financial_commitment_reports?page=1
                      prev: null
                    financial_commitment_reports:
                      - title: All Financial Commitments
                        token: fncl_cmnt_rprt_8856c4e96c5a7a0e
                        default: false
                        created_at: '2024-03-28T18:26:26Z'
                        workspace_token: wrkspc_1ca9ae316e86906f
                        user_token: null
                        start_date: '2023-12-01'
                        end_date: '2024-03-26'
                        date_interval: last_3_months
                        date_bucket: month
                        groupings: cost_type
                        on_demand_costs_scope: discountable
  /financial_commitment_reports/{financial_commitment_report_token}:
    delete:
      tags:
        - FinancialCommitmentReports
      operationId: FinancialCommitmentReports_deleteReport
      description: Delete a FinancialCommitmentReport.
      parameters:
        - in: path
          name: financial_commitment_report_token
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialCommitmentReport'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      tags:
        - FinancialCommitmentReports
      operationId: FinancialCommitmentReports_get
      description: Return a FinancialCommitmentReport.
      parameters:
        - in: path
          name: financial_commitment_report_token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialCommitmentReport'
              examples:
                response:
                  value:
                    title: All Financial Commitments
                    token: fncl_cmnt_rprt_674cf1d6ef5f55e5
                    default: false
                    created_at: '2024-03-28T18:26:26Z'
                    workspace_token: wrkspc_075ac35ab0dc1b4a
                    user_token: null
                    start_date: '2023-12-01'
                    end_date: '2024-03-26'
                    date_interval: last_3_months
                    date_bucket: month
                    groupings: cost_type
                    on_demand_costs_scope: discountable
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /ping:
    get:
      tags:
        - Ping
      operationId: Ping_healthCheck
      description: >-
        This is a health check endpoint that can be used to determine Vantage
        API healthiness. It will return 200 if everything is running smoothly.
      responses:
        '200':
          description: >-
            This is a health check endpoint that can be used to determine
            Vantage API healthiness. It will return 200 if everything is running
            smoothly.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://console.vantage.sh/account/profile
          scopes:
            read: Grants read access
            write: Grants write access
  schemas:
    Workspaces:
      description: Workspaces model
      type: object
      properties:
        links:
          type: object
        workspaces:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
    Workspace:
      description: Workspace model
      type: object
      properties:
        token:
          type: string
        name:
          description: The name of the Workspace.
          type: string
          example: Acme Corp.
    Errors:
      description: Errors model
      type: object
      properties:
        links:
          type: object
        errors:
          type: array
          items:
            type: string
    postFolders:
      description: Create a Folder for CostReports.
      type: object
      properties:
        title:
          description: The title of the Folder.
          type: string
        parent_folder_token:
          description: The token of the parent Folder.
          type: string
        saved_filter_tokens:
          description: >-
            The tokens of the SavedFilters to apply to any Cost Report contained
            within the Folder.
          type: array
          items:
            type: string
        workspace_token:
          description: >-
            The token of the Workspace to add the Folder to. Ignored if
            'parent_folder_token' is set. Required if the API token is
            associated with multiple Workspaces.
          type: string
      required:
        - title
    Folder:
      description: Folder model
      type: object
      properties:
        title:
          description: The title of the Folder.
          type: string
          example: Platform Team Reports
        token:
          type: string
        parent_folder_token:
          description: The token for the parent Folder, if any.
          type: string
        saved_filter_tokens:
          description: The tokens for the SavedFilters assigned to the Folder.
          type: array
          items:
            type: string
        created_at:
          description: >-
            The date and time, in UTC, the Folder was created. ISO 8601
            Formatted.
          type: string
          example: '2023-08-04T00:00:00Z'
        updated_at:
          description: >-
            The date and time, in UTC, the Folder was last updated at. ISO 8601
            Formatted.
          type: string
          example: '2023-08-04T00:00:00Z'
        workspace_token:
          description: The token for the Workspace the Folder is a part of.
          type: string
    Folders:
      description: Folders model
      type: object
      properties:
        links:
          type: object
        folders:
          type: array
          items:
            $ref: '#/components/schemas/Folder'
    putFolders:
      description: Update a Folder for CostReports.
      type: object
      properties:
        title:
          description: The title of the Folder.
          type: string
        parent_folder_token:
          description: The token of the parent Folder.
          type: string
        saved_filter_tokens:
          description: >-
            The tokens of the SavedFilters to apply to any Cost Report contained
            within the Folder.
          type: array
          items:
            type: string
    postSavedFilters:
      description: Create a SavedFilter for CostReports.
      type: object
      properties:
        title:
          description: The title of the SavedFilter.
          type: string
        workspace_token:
          description: >-
            The Workspace to associate the SavedFilter with. Required if the API
            token is associated with multiple Workspaces.
          type: string
        filter:
          description: >-
            The filter query language to apply to the SavedFilter, which
            subsequently gets applied to a CostReport. Additional documentation
            available at https://docs.vantage.sh/vql.
          type: string
      required:
        - title
    SavedFilter:
      description: SavedFilter model
      type: object
      properties:
        title:
          description: The title of the SavedFilter.
          type: string
          example: Platform Team Reports
        token:
          type: string
        cost_report_tokens:
          description: The tokens for any CostReports the SavedFilter is applied to.
          type: array
          items:
            type: string
            example:
              - rprt_abcd1234
              - rprt_efgh5678
        filter:
          description: >-
            The SavedFilter's filter, applied to any relevant CostReports.
            Additional documentation available at https://docs.vantage.sh/vql.
          type: string
          example: costs.provider = 'azure'
        created_at:
          description: >-
            The date and time, in UTC, the report was created. ISO 8601
            Formatted.
          type: string
          example: '2023-08-04T00:00:00Z'
        created_by:
          description: The User who created the SavedFilter.
          type: string
        workspace_token:
          description: The token for the Workspace the SavedFilter is a part of.
          type: string
    SavedFilters:
      description: SavedFilters model
      type: object
      properties:
        links:
          type: object
        saved_filters:
          type: array
          items:
            $ref: '#/components/schemas/SavedFilter'
    putSavedFilters:
      description: Update a SavedFilter for CostReports.
      type: object
      properties:
        title:
          description: The title of the SavedFilter.
          type: string
        filter:
          description: >-
            The filter query language to apply to the SavedFilter, which
            subsequently gets applied to a CostReport. Additional documentation
            available at https://docs.vantage.sh/vql.
          type: string
    postCostReports:
      description: Create a CostReport.
      type: object
      properties:
        title:
          description: The title of the CostReport.
          type: string
        workspace_token:
          description: >-
            The token of the Workspace to add the Cost Report to. Ignored if
            'folder_token' is set. Required if the API token is associated with
            multiple Workspaces.
          type: string
        groupings:
          description: >-
            Grouping values for aggregating costs on the report. Valid
            groupings: account_id, billing_account_id, charge_type,
            cost_category, cost_subcategory, provider, region, resource_id,
            service, tagged, tag:<tag_value>. If providing multiple groupings,
            join as comma separated values: groupings=provider,service,region
          type: string
        filter:
          description: >-
            The filter query language to apply to the CostReport. Additional
            documentation available at https://docs.vantage.sh/vql.
          type: string
        saved_filter_tokens:
          description: The tokens of the SavedFilters to apply to the CostReport.
          type: array
          items:
            type: string
        business_metric_tokens_with_metadata:
          description: >-
            The tokens for any BusinessMetrics to attach to the CostReport, and
            the unit scale.
          type: array
          items:
            type: object
            properties:
              business_metric_token:
                description: The token of the BusinessMetric to attach to the CostReport.
                type: string
              unit_scale:
                description: >-
                  Determines the scale of the BusinessMetric's values within the
                  CostReport.
                type: string
                enum:
                  - per_unit
                  - per_hundred
                  - per_thousand
                  - per_million
                  - per_billion
                default: per_unit
            required:
              - business_metric_token
        folder_token:
          description: >-
            The token of the Folder to add the CostReport to. Determines the
            Workspace the report is assigned to.
          type: string
        settings:
          description: Report settings.
[...]
