openapi: 3.0.3
info:
  title: intelliHR Public API
  description: >-
    You can find developer's guide and more documentation on
    [https://developers.intellihr.io](https://developers.intellihr.io)
  version: V1
  contact:
    name: Customer Support
    email: support@intellihr.co
  x-logo:
    url: >-
      https://production-assetsbucket-gdzw9b97vxr2.s3.amazonaws.com/images/logos/IntelliHR-on-White-RGB-border.png
    altText: intelliHR logo
    href: https://intellihr.com
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - description: Live Server
    url: https://api.intellihr.io/v1
tags:
  - description: >-
      [Business Entities](https://developers.intellihr.io/docs/v1/) represent
      the legal entities which exist within the organisation. A [Business
      Entity](https://developers.intellihr.io/docs/v1/) can be used as a filter
      for automation logic (eg Pulse configuration) and as a dimension in the
      analytics tools. Every [Job](https://developers.intellihr.io/docs/v1/) in
      the system belongs to a [Business
      Entity](https://developers.intellihr.io/docs/v1/).
    name: Business Entities
  - description: >-
      The administrative units that exist within the organisation. Used to
      render the org chart business unit view. For example, "Finance", "HR", or
      "Information Technology". [Business
      Units](https://developers.intellihr.io/docs/v1/) can be configured as text
      strings with parent -> child relationships. Every
      [Job](https://developers.intellihr.io/docs/v1/) in the system belongs to a
      [Business Unit](https://developers.intellihr.io/docs/v1/).
    name: Business Units
  - description: >-
      Custom Field Definitions can be used to attach extra data fields to
      particular models in the system such as
      [Training](https://developers.intellihr.io/docs/v1/).
    name: Custom Field Definitions
  - description: >-
      [Job Change Reasons](https://developers.intellihr.io/docs/v1/) are used in
      the system to document the reason for changes to a
      [Job](https://developers.intellihr.io/docs/v1/).
    name: Job Change Reasons
  - description: >-
      [Job Requirement Groups](https://developers.intellihr.io/docs/v1/) are
      qualification requirements that a job must fulfill.
    name: Job Requirement Groups
  - description: >-
      Locations can be configured as text strings with parent -> child
      relationships. For example, `Australia` -> `Brisbane` -> `Spring Hill Head
      Office`. These locations are used for filtering in analytics. Every
      [Job](https://developers.intellihr.io/docs/v1/) in the system belongs to a
      [Location](https://developers.intellihr.io/docs/v1/) or the `No Location`
      Location.
    name: Locations
  - description: >-
      Pay Grades are optional attributes applied to a job to provide a salary
      range for analytical purposes. These are configurable for admins in the
      intelliHR application. Every
      [Job](https://developers.intellihr.io/docs/v1/) in the system belongs to a
      [Pay Grade](https://developers.intellihr.io/docs/v1/) or the `No Pay
      Grade` Pay Grade.
    name: Pay Grades
  - description: >-
      [People Skills](https://developers.intellihr.io/docs/v1/) are used to
      assign and update [Skills](https://developers.intellihr.io/docs/v1/) to an
      existing [Person](https://developers.intellihr.io/docs/v1/).
    name: People Skills
  - description: >-
      [Qualification Instance](https://developers.intellihr.io/docs/v1/)
      represents an instance of a qualification library item.
    name: Qualification Instances
  - description: >-
      [Qualification Library Item](https://developers.intellihr.io/docs/v1/)
      represent a type of qualification. E.g. A Drivers license.
    name: Qualification Library Items
  - description: >-
      [Trainings](https://developers.intellihr.io/docs/v1/) are used in the
      system to store details about individual training events.
    name: Trainings
  - description: >-
      [Webhooks](https://developers.intellihr.io/docs/v1/) are used in the
      system to allow developers and integration platforms (such as
      [Zapier](https://zapier.com/)) to subscribe to a [Webhook
      Event](https://developers.intellihr.io/docs/v1/), such as a person.updated
      or person.created event.


      When the [Webhook Event](https://developers.intellihr.io/docs/v1/) is
      triggered, the system will send a payload to the endpoint specified when
      creating the [Webhook](https://developers.intellihr.io/docs/v1/).


      These [Webhooks](https://developers.intellihr.io/docs/v1/) follow the
      [Rest Hook](https://resthooks.org/) pattern.


      # Event Types

      The following properties are always returned for every payload and event
      type. An event type may include more properties than this.<br>

      Please check the specific event/s you would like to implement for the full
      schema.

      <SchemaDefinition schemaRef="#/components/schemas/webhookEvent" />


      ## job.created

      Fired when a job has been created.

      <SchemaDefinition schemaRef="#/components/schemas/webhookJobCreated" />


      ## job.deleted

      Fired when a job has been deleted.

      <SchemaDefinition schemaRef="#/components/schemas/webhookJobDeleted" />


      ## job.updated

      **This event does not fire anymore, please update your
      implementation.**<br>

      ~~Fired when a job has been updated.~~


      ## job.update_scheduled

      Fired when an update has been scheduled for a job.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookEventJobUpdatedScheduled" />


      ## job.timeline_updated

      Fired on the day when an update of the job has taken into effect.


      Eg. if a job update is scheduled for 31/03/2025, this event will fire on
      31/03/2025. Similarly, if there is a job update in the present date, this
      event also will fire.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookJobTimelineUpdated" />


      ## job.ended

      Fired when when the job has been ended.

      <SchemaDefinition schemaRef="#/components/schemas/webhookJobEnded" />


      ## job.end_date_adjusted

      Fires when when the job end date has been adjusted, but before being
      finalised.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookJobEndDateAdjusted" />


      ## job.end_date_finalised

      Fired when when the job end date has been finalised.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookJobEndDateFinalised" />


      ## job.end_date_cancelled

      Fired when when a job end date that had been finalised, was cancelled.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookJobEndDateCancelled" />


      ## job.effective_dates_updated

      Fires when when the effective dates of the job have been updated.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookJobEffectiveDatesUpdated" />


      ## job.company_start_date_upcoming

      Fires at set offsets before and including the job company start date.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookJobStartDateUpcoming" />


      ## job_remuneration.update_scheduled

      Fired when an update has been scheduled for a jobs remuneration.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookEventJobRemUpdatedScheduled" />


      ## person.birthday_upcoming

      Fired at certain intervals before a persons birthday and the date of their
      birthday.

      Intervals are 1 month before, 14 days before, 7 days before, 3 days
      before, 1 day before and on the day of.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookEventPersonBirthdayUpcoming" />


      ## person.created

      Fired when a person has been created.

      <SchemaDefinition schemaRef="#/components/schemas/webhookEventBasic" />


      ## person.deleted

      Fired when a person has been deleted.

      <SchemaDefinition schemaRef="#/components/schemas/webhookPersonDeleted" />


      ## person.updated

      Fired when a person has been updated.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookEventPersonUpdated" />


      ## training.created

      Fired when a training is created.

      <SchemaDefinition schemaRef="#/components/schemas/webhookTrainingCreated"
      />


      ## training.deleted

      Fired when a training has been deleted.

      <SchemaDefinition schemaRef="#/components/schemas/webhookTrainingDeleted"
      />


      ## training.updated

      Fired when a training has been updated.

      <SchemaDefinition schemaRef="#/components/schemas/webhookTrainingUpdated"
      />


      ## form.created

      Fired when an instance of a form has been created.

      <SchemaDefinition schemaRef="#/components/schemas/webhookFormCreated" />


      ## form.completed

      Fired when a instance of a form has been completed.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookEventFormCompleted" />


      ## user.created

      Fired when a user has been created.

      <SchemaDefinition schemaRef="#/components/schemas/webhookUserCreated" />


      ## user.deleted

      Fired when a user has been deleted.

      <SchemaDefinition schemaRef="#/components/schemas/webhookUserDeleted" />


      ## user.disabled

      Fired when a user has been disabled.

      <SchemaDefinition schemaRef="#/components/schemas/webhookUserDisabled" />


      ## user.disabled_upcoming

      Fired at set offsets before the user is scheduled to be disabled.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookUserDisabledUpcoming" />


      ## user.updated

      Fired when a user has been updated.

      <SchemaDefinition schemaRef="#/components/schemas/webhookUserUpdated" />


      ## qualification.instance_created

      Fired when a qualification instance has been created.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookQualificationCreated" />


      ## qualification.instance_updated

      Fired when a qualification instance has been updated.

      <SchemaDefinition
      schemaRef="#/components/schemas/webhookQualificationUpdated" />
        
    name: Webhooks
  - description: >-
      The Job object is the core data object for past, current and future roles
      that a Person holds in the organisation. A Person can have more than one
      Job at a point in time to represent secondment / role sharing.<br/>
          The data returned from this endpoint represents the data at this current time, which may change over time due to scheduled changes. This endpoint returns the [Job's](https://developers.intellihr.io/docs/v1/) Remuneration Schedule. <br/>
          Establishment fields are currently in testing and require your tenant to be flagged for usage.
    name: Jobs
  - description: >-
      People represent the base objects in the intelliHR data model. All past,
      present and future employees should be created as a Person and then have a
      Job created which references that Person object. Contact information for
      the employee (eg emergency contact, phone numbers, email addresses, etc)
      is referenced to the Person object. While Jobs can have scheduled updates
      which will take effect in the future, People are always static in the
      system and will not change unless updated.
    name: People
  - description: >-
      Position Titles that exist within the organisation. Position Title are
      assigned to [Jobs](https://developers.intellihr.io/docs/v1/).
    name: Position Titles
  - description: >-
      [Skills](https://developers.intellihr.io/docs/v1/) are used to catalogue
      the Skills available in the organisation and whether they are business
      critical.  Skills are categorised into groups with each belonging to a
      parent [Skill Discipline](https://developers.intellihr.io/docs/v1/). 
      Skills can be assigned to a
      [Person](https://developers.intellihr.io/docs/v1/) to facilitate the
      tracking of competencies across teams and the organisation.
    name: Skills
  - description: >-
      Skill Disciplines that exist within the organisation. Skill Disciplines
      are used to categorise [Skills](https://developers.intellihr.io/docs/v1/)
      and can contain multiple child skills.
    name: Skill Disciplines
  - description: >-
      A [User](https://developers.intellihr.io/docs/v1/) account gives employees
      access to the intelliHR platform and is linked to an existing Person.
        A Person can exist without a User, as employees can still complete tasks sent to their primary email address.
    name: Users
  - description: >-
      [People Images](https://developers.intellihr.io/docs/v1/) are used to
      assign and update Images to an existing
      [Person](https://developers.intellihr.io/docs/v1/).
    name: People Images
  - description: >-
      [People Document](https://developers.intellihr.io/docs/v1/) is an object
      which represents the document stored in the "Documents" tab in Person
      Profile in intelliHR system. You can upload a document through this API by
      following the steps below. <p>1. Create a presigned upload URL which
      enables you to upload a document to S3 by using [Create a presigned upload
      URL](https://developers.intellihr.io/docs/v1/) endpoint. <br/>2. Upload a
      document to the S3 presigned URL with HTTP PUT method. <br/>3. Mark the
      upload status successful with [Update a
      Document](https://developers.intellihr.io/docs/v1/) endpoint.</p>These
      steps can be automatically handled by
      [Zapier](https://zapier.com/apps/intellihr/integrations) "Upload Person
      Document" action.
    name: People Documents
  - description: >-
      [Default Remuneration
      Components](https://developers.intellihr.io/docs/v1/) are the
      organization-wide remuneration components for both additions and
      breakdowns.
    name: Default Remuneration Components
  - description: >-
      Employment conditions are the conditions under which someone is paid for
      their remuneration schedule. Every
      [Job](https://developers.intellihr.io/docs/v1/) in the system belongs to a
      [Employment Condition](https://developers.intellihr.io/docs/v1/) or the
      `No Employment Condition` Employment Condition.
    name: Employment Conditions
  - description: >-
      [Extended Leave](https://developers.intellihr.io/docs/v1/) can be added to
      an existing [Job](https://developers.intellihr.io/docs/v1/).  Only one
      Extended Leave without a confirmed return date can on a Job at any one
      time.
    name: Extended Leave
  - description: >-
      [Extended Leave Types](https://developers.intellihr.io/docs/v1/) are used
      in the system when adding [Extended
      Leave](https://developers.intellihr.io/docs/v1/) to a Job.
    name: Extended Leave Types
  - description: >-
      Set and finalise the end date of a job. Finalising a job changes it to a
      past job on the end date.
    name: End Job
  - description: '[Permission Groups](https://developers.intellihr.io/docs/v1/).'
    name: Permission Groups
  - description: >-
      Note that this has been <b>deprecated</b>, it is recommended to use
      [People Document](https://developers.intellihr.io/docs/v1/)</br>[Person
      Document](https://developers.intellihr.io/docs/v1/) is an object which
      represents the document stored in the "Documents" tab in Person Profile in
      intelliHR system. You can upload a document through this API by following
      the steps below. <p>1. Create a presigned upload URL which enables you to
      upload a document to S3 by using [Create a presigned upload
      URL](https://developers.intellihr.io/docs/v1/) endpoint. <br/>2. Upload a
      document to the S3 presigned URL with HTTP PUT method. <br/>3. Mark the
      upload status successful with [Update a
      Document](https://developers.intellihr.io/docs/v1/) endpoint.</p>These
      steps can be automatically handled by
      [Zapier](https://zapier.com/apps/intellihr/integrations) "Upload Person
      Document" action.
    name: Person Documents (deprecated)
  - description: >-
      [Qualification Type](https://developers.intellihr.io/docs/v1/) represent a
      type of qualification. E.g. A License
    name: Qualification Types
  - description: >-
      Recruitment sources refer to the origin of this employee, such as a job
      board or a recruitment agency. These are configured as text strings in the
      intelliHR application and are used as filters for analytical purposes.
      [Recruitment Sources](https://developers.intellihr.io/docs/v1/) can be
      configured as text strings with parent -> child relationships.
    name: Recruitment Sources
  - description: >-
      [Representative Type](https://developers.intellihr.io/docs/v1/) represent
      a type of representative for a certain intelliHR Object type.
    name: Representative Types
  - description: >-
      [Training Providers](https://developers.intellihr.io/docs/v1/) are used in
      the system to document what/who provided the
      [Training](https://developers.intellihr.io/docs/v1/).
    name: Training Providers
  - description: >-
      [Training Types](https://developers.intellihr.io/docs/v1/) are used in the
      system to document the category of a
      [Training](https://developers.intellihr.io/docs/v1/) record.
    name: Training Types
  - description: >-
      Work Classes are a sub-class of Work Types. For example, the `Permanent`
      Work Type has both `Full-Time` and `Part-Time` Work Classes. These are
      used for to configure automation and analytics filters. Every
      [Job](https://developers.intellihr.io/docs/v1/) in the system belongs to a
      [Work Class](https://developers.intellihr.io/docs/v1/).
    name: Work Classes
  - description: >-
      [Work Rights](https://developers.intellihr.io/docs/v1/) are the
      organization-wide work rights.
    name: Work Rights
  - description: >-
      Work Types represent the primary work classification for a job. It is one
      of the types `Permanent`, `Fixed Contract`, `Unpaid` or
      `Temporary/Casual`. This attribute is always used with the Work Class
      attribute which is a sub class of Work Type. Every
      [Job](https://developers.intellihr.io/docs/v1/) in the system belongs to a
      [Work Type](https://developers.intellihr.io/docs/v1/).
    name: Work Types
  - description: >-
      [Webhook Events](https://developers.intellihr.io/docs/v1/) are hardcoded
      events which occur within the intelliHR platform which can be subscribed
      to using [Webhooks](https://developers.intellihr.io/docs/v1/).

        As an example, person.created is a [Webhook Event](https://developers.intellihr.io/docs/v1/), which can trigger a [Webhook](https://developers.intellihr.io/docs/v1/) when a [Person](https://developers.intellihr.io/docs/v1/) is created within the platform.
    name: Webhook Events
  - description: >-
      [Forms](https://developers.intellihr.io/docs/v1/) represent the actionable
      forms which exist within the organisation and are sent to the users of the
      system.
    name: Forms
  - description: >-
      [Job Timeline](https://developers.intellihr.io/docs/v1/) show upcoming
      changes and current information about a
      [Job](https://developers.intellihr.io/docs/v1/).
    name: Job Timeline
  - description: >-
      [Qualification Status](https://developers.intellihr.io/docs/v1/)
      represents the current status of the qualification instance.
    name: Qualification Statuses
  - description: >-
      [Training Statuses](https://developers.intellihr.io/docs/v1/) are used in
      the system to define the progress of a
      [Training](https://developers.intellihr.io/docs/v1/) record.
    name: Training Statuses
  - description: >-
      A [Workflow Events](https://developers.intellihr.io/docs/v1/) is a
      triggered event within the intelliHR platform, associated to certain
      events such as job changes (eg onboarding, offboarding, going on extended
      leave), or by specific events (eg a training event).


      [Workflows](https://developers.intellihr.io/docs/v1/) can be created
      within intelliHR and assigned under a specific Workflow Event.
    name: Workflow Events
  - description: >-
      A [Workflow](https://developers.intellihr.io/docs/v1/) is a pre-set
      schedule of tasks that will be assigned to various people at different
      points in time.


      They are triggered by an action within the system and all the tasks
      created relate to a single subject person.

      Workflows use the date of an action or change in the system as a starting
      point to calculate when forms are assigned. Multiple WorkFlows can be part
      of the same [Workflow Event](https://developers.intellihr.io/docs/v1/).
    name: Workflows
paths:
  /business-entities:
    get:
      tags:
        - Business Entities
      summary: List all Business Entities
      operationId: BusinessEntities_listAll
      description: >-
        Returns a list of all [Business
        Entities](https://developers.intellihr.io/docs/v1/).
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-entities_list'
        '500':
          $ref: '#/responses/errors/500'
    post:
      tags:
        - Business Entities
      summary: Create a new Business Entity
      operationId: BusinessEntities_createNewEntity
      description: >-
        Returns the created [Business
        Entity](https://developers.intellihr.io/docs/v1/).
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/business-entities_create_request'
            example:
              name: IntelliHR
              code: BE001
              legalName: IntelliHR Systems Limited
              number: 00 000 000 000
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: '50'
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                      - Bananas
                      - Apples
                people_dropdown_api_name:
                  value:
                    - person:
                        id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                        name: Bruce Wayne
                        primaryEmailAddress: bruce.wayne@example.com
                        employeeNumber: '00001'
                        autoIncrementIntellihrId: '1000'
                      job:
                        id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Maintenance worker
                    - person:
                        id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                        name: Batman
                        primaryEmailAddress: batman@example.com
                        employeeNumber: '00002'
                        autoIncrementIntellihrId: '1001'
                      job:
                        id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Janitor
      responses:
        '201':
          description: Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-entities'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /business-entities/{id}:
    get:
      tags:
        - Business Entities
      summary: Find a Business Entity by ID
      operationId: BusinessEntities_findById
      description: >-
        Returns a single [Business
        Entity](https://developers.intellihr.io/docs/v1/) by its identifier.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-entities'
        '500':
          $ref: '#/responses/errors/500'
    patch:
      tags:
        - Business Entities
      summary: Update a Business Entity by ID
      operationId: BusinessEntities_updateById
      description: >-
        Returns the updated [Business
        Entity](https://developers.intellihr.io/docs/v1/).
      parameters:
        - $ref: '#/parameters/resourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/business-entities_patch_request'
            example:
              name: IntelliHR
              code: BE001
              legalName: IntelliHR Systems Limited
              number: 00 000 000 000
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: '50'
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                      - Bananas
                      - Apples
                people_dropdown_api_name:
                  value:
                    - person:
                        id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                        name: Bruce Wayne
                        primaryEmailAddress: bruce.wayne@example.com
                        employeeNumber: '00001'
                        autoIncrementIntellihrId: '1000'
                      job:
                        id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Maintenance worker
                    - person:
                        id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                        name: Batman
                        primaryEmailAddress: batman@example.com
                        employeeNumber: '00002'
                        autoIncrementIntellihrId: '1001'
                      job:
                        id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Janitor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-entities'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
    delete:
      tags:
        - Business Entities
      summary: Delete a Business Entity by ID
      operationId: BusinessEntities_deleteById
      description: >-
        Deletes the [Business
        Entity](https://developers.intellihr.io/docs/v1/)'s by the given ID.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /business-units:
    get:
      tags:
        - Business Units
      summary: List all Business Units
      operationId: BusinessUnits_listAll
      description: >-
        Returns a list of all [Business
        Units](https://developers.intellihr.io/docs/v1/) recorded in the system.
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
        - description: "Filters can be applied in the query string to limit the data returned from this endpoint. Filters are provided in the format `filters[<filter_name>][<operation_type>]=<filter_value>`.For example, a filter to get items matching a specific filter value would be `filters[identifier][eq]=Engineering`\n\rBelow is a list of operation types available on filters, note that each filter may not support every type:\n\r• Equality `[eq]`: Checks for an exact match with the given filter value\n\rThe list of supported filters is given below."
          in: query
          name: filters
          schema:
            type: object
            properties:
              identifier:
                description: "The customer identifier given to a [Business Unit](https://developers.intellihr.io/docs/v1/) in the system. This filter checks for an exact string match with any part of a [Business Units](https://developers.intellihr.io/docs/v1/) identifier. If multiple [Business Units](https://developers.intellihr.io/docs/v1/) match the `<filter_value>`, they will all be returned.\n\rExample filter: `filters[identifier][eq]=Engineering`\n\rThis filter supports the equality `[eq]` operation"
                type: string
                example: Engineering
              name:
                description: "Name of a [Business Unit](https://developers.intellihr.io/docs/v1/) in the system. This filter checks for an exact string match with any part of a [Business Units](https://developers.intellihr.io/docs/v1/) name. If multiple [Business Units](https://developers.intellihr.io/docs/v1/) match the `<filter_value>`, they will all be returned.\n\rExample filter: `filters[name][eq]=Engineering`\n\rThis filter supports the equality `[eq]` operation"
                type: string
                example: Engineering
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-units_list'
        '500':
          $ref: '#/responses/errors/500'
    post:
      tags:
        - Business Units
      summary: Create a new Business Unit
      operationId: BusinessUnits_createNewUnit
      description: >-
        Returns the created [Business
        Unit](https://developers.intellihr.io/docs/v1/).
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/business-units_create_request'
            example:
              name: Engineering
              code: BE001
              parentId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: '50'
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                      - Bananas
                      - Apples
                people_dropdown_api_name:
                  value:
                    - person:
                        id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                        name: Bruce Wayne
                        primaryEmailAddress: bruce.wayne@example.com
                        employeeNumber: '00001'
                        autoIncrementIntellihrId: '1000'
                      job:
                        id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Maintenance worker
                    - person:
                        id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                        name: Batman
                        primaryEmailAddress: batman@example.com
                        employeeNumber: '00002'
                        autoIncrementIntellihrId: '1001'
                      job:
                        id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Janitor
      responses:
        '201':
          description: Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-units'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /business-units/{id}:
    get:
      tags:
        - Business Units
      summary: Find a Business Unit by ID
      operationId: BusinessUnits_findById
      description: >-
        Returns a single [Business
        Unit](https://developers.intellihr.io/docs/v1/).
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-units'
        '500':
          $ref: '#/responses/errors/500'
    patch:
      tags:
        - Business Units
      summary: Update a Business Unit by ID
      operationId: BusinessUnits_updateById
      description: >-
        Returns the updated [Business
        Unit](https://developers.intellihr.io/docs/v1/).
      parameters:
        - $ref: '#/parameters/resourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/business-units_patch_request'
            example:
              name: Engineering
              code: BE001
              parentId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: '50'
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                      - Bananas
                      - Apples
                people_dropdown_api_name:
                  value:
                    - person:
                        id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                        name: Bruce Wayne
                        primaryEmailAddress: bruce.wayne@example.com
                        employeeNumber: '00001'
                        autoIncrementIntellihrId: '1000'
                      job:
                        id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Maintenance worker
                    - person:
                        id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                        name: Batman
                        primaryEmailAddress: batman@example.com
                        employeeNumber: '00002'
                        autoIncrementIntellihrId: '1001'
                      job:
                        id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Janitor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-units'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
    delete:
      tags:
        - Business Units
      summary: Delete a Business Unit by ID
      operationId: BusinessUnits_deleteById
      description: >-
        Deletes the [Business Unit](https://developers.intellihr.io/docs/v1/)'s
        by the given ID.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /custom-field-definitions:
    get:
      tags:
        - Custom Field Definitions
      summary: List all Custom Field Definitions
      operationId: CustomFieldDefinitions_listAll
      description: Returns a list of all Custom Field Definitions.
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
        - description: "Filters can be applied in the query string to limit the data returned from this endpoint. Filters are provided in the format `filters[<filter_name>][<operation_type>]=<filter_value>`.For example, a filter to get items matching a specific filter value would be `filters[modelType][eq]=TRAINING`\n\rBelow is a list of operation types available on filters, note that each filter may not support every type:\n\r• Equality `[eq]`: Checks for an exact match with the given filter value\n\rThe list of supported filters is given below."
          in: query
          name: filters
          schema:
            type: object
            properties:
              modelType:
                description: "The model that this custom field relates to and can be attached to. Enum: `ADDRESS`, `BUSINESS_ENTITY`, `BUSINESS_UNIT`, `EMAIL_ADDRESS`, `JOB`, `LOCATION`, `PERSON`, `POSITION_TITLE`, `PHONE_NUMBER`, `REMUNERATION`, `TRAINING`.\n\rExample filter: `filters[modelType][eq]=TRAINING`\n\rThis filter supports the equality `[eq]` operation"
                type: string
                example: TRAINING
              isEnabled:
                description: "If the custom field is disabled in the intelliHR platform or not\n\rExample filter: `filters[isEnabled][eq]=true`\n\rThis filter supports the equality `[eq]` operation"
                type: boolean
                example: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field-definitions_list'
        '500':
          $ref: '#/responses/errors/500'
    post:
      tags:
        - Custom Field Definitions
      summary: Create a Custom Field Definition
      operationId: CustomFieldDefinitions_createDefinition
      description: >-
        Returns the created [Custom Field
        Definition](https://developers.intellihr.io/docs/v1/)
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom-field-definition_create_request'
      responses:
        '201':
          description: Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field-definitions'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /custom-field-definitions/{id}:
    get:
      tags:
        - Custom Field Definitions
      summary: Find a Custom Field Definition by ID
      operationId: CustomFieldDefinitions_findDefinitionById
      description: Returns a single Custom Field Definition.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field-definitions'
        '500':
          $ref: '#/responses/errors/500'
    patch:
      tags:
        - Custom Field Definitions
      summary: Update a Custom Field Definition
      operationId: CustomFieldDefinitions_updateDefinitionById
      description: >-
        Returns the updated [Custom Field
        Definition](https://developers.intellihr.io/docs/v1/)
      parameters:
        - $ref: '#/parameters/resourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom-field-definition_patch_request'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field-definitions'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
    delete:
      tags:
        - Custom Field Definitions
      summary: Delete a Custom Field Definition by ID
      operationId: CustomFieldDefinitions_deleteById
      description: >-
        Deletes the [Custom Field
        Definition](https://developers.intellihr.io/docs/v1/) by the given ID.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /default-remuneration-components:
    get:
      tags:
        - Default Remuneration Components
      summary: List all Default Remuneration Components
      operationId: DefaultRemunerationComponents_listAll
      description: >-
        Returns a list of all [Default Remuneration
        Components](https://developers.intellihr.io/docs/v1/) recorded in the
        system.
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-remuneration-components_list'
        '500':
          $ref: '#/responses/errors/500'
  /default-remuneration-components/{id}:
    get:
      tags:
        - Default Remuneration Components
      summary: Find a Default Remuneration Component by ID
      operationId: DefaultRemunerationComponents_findById
      description: Returns a single default remuneration component.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/default-remuneration-components'
        '500':
          $ref: '#/responses/errors/500'
  /employment-conditions:
    get:
      tags:
        - Employment Conditions
      summary: List all employment conditions
      operationId: EmploymentConditions_listAllEmploymentConditions
      description: Returns a list of all employment conditions.
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employment-conditions_list'
        '500':
          $ref: '#/responses/errors/500'
  /employment-conditions/{id}:
    get:
      tags:
        - Employment Conditions
      summary: Find an Employment Condition by ID
      operationId: EmploymentConditions_findById
      description: Returns a single employment condition.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employment-conditions'
        '500':
          $ref: '#/responses/errors/500'
  /extended-leave:
    post:
      tags:
        - Extended Leave
      summary: Create Extended Leave
      operationId: ExtendedLeave_createNew
      description: Create a new Extended Leave on an existing Job.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/leave_create_request'
      responses:
        '201':
          description: Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/leave_create_response'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /extended-leave/{id}:
    patch:
      tags:
        - Extended Leave
      summary: Update or Finalise Extended Leave
      operationId: ExtendedLeave_updateFinalise
      description: Update or Finalise an existing Extended Leave.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/leave_update_request'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/leave_update_response'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /extended-leave-types:
    get:
      tags:
        - Extended Leave Types
      summary: List all Extended Leave Types
      operationId: ExtendedLeaveTypes_listAll
      description: Returns a list of all Extended Leave Types.
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extended-leave-types_list'
        '500':
          $ref: '#/responses/errors/500'
  /extended-leave-types/{id}:
    get:
      tags:
        - Extended Leave Types
      summary: Find an Extended Leave Type by ID
      operationId: ExtendedLeaveTypes_findById
      description: Returns a single Extended Leave Type.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extended-leave-types'
        '500':
          $ref: '#/responses/errors/500'
  /forms/{id}:
    get:
      tags:
        - Forms
      summary: Find a Form by ID
      operationId: Forms_findById
      description: >-
        Returns a single [Form](https://developers.intellihr.io/docs/v1/)
        instance by its identifier.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forms'
              example:
                data:
                  id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                  issueDate: '2015-03-01T22:30:00+00:00'
                  dueDate: '2015-03-01T22:30:00+00:00'
                  reminderDate: '2015-03-01T22:30:00+00:00'
                  accessCode: ABCDE12345
                  completedAt: '2015-03-01T22:30:00+00:00'
                  formDesign:
                    id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                    name: Self Assessment
                  subject:
                    job:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Janitor
                      link: >-
                        https://api.intellihr.io/v1/jobs/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                    person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      displayName: Batman (Bruce) Wayne
                      employeeNumber: '00001'
                      autoIncrementIntellihrId: 1000
                      link: >-
                        https://api.intellihr.io/v1/people/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                  respondent: null
                  submitter:
                    job:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      name: Janitor
                      link: >-
                        https://api.intellihr.io/v1/jobs/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                    person:
                      id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      displayName: Batman (Bruce) Wayne
                      emailAddresses:
                        - email: bruce.wayne@batman.org
                          isPrimary: true
                          isPersonal: true
                      employeeNumber: '00001'
                      autoIncrementIntellihrId: 1000
                      link: >-
                        https://api.intellihr.io/v1/people/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                  answers:
                    - fieldId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                      question: Please answer this text based question
                      value:
                        - My answer
                      label:
                        - My answer
                    - fieldId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                      question: Please select multiple options
                      value:
                        - '0'
                        - '1'
                      label:
                        - Option 1
                        - Option 2
                  documentUploads:
                    - id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      url: >-
                        http://{tenant}.internihr.ninja/api/domain/people/6ced7aed-adeb-4645-896a-5eaa21f4bf6e/attachments/0f1d4fb7-ef1b-4ca5-908f-1c73f489be04/download
                meta:
                  asAt: '2015-03-01T22:30:00+00:00'
                  requestId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
        '500':
          $ref: '#/responses/errors/500'
  /job-change-reasons:
    get:
      tags:
        - Job Change Reasons
      summary: List all Job Change Reasons
      operationId: JobChangeReasons_listAll
      description: >-
        Returns a list of all [Job Change
        Reasons](https://developers.intellihr.io/docs/v1/) recorded in the
        system.
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-change-reasons_list'
        '500':
          $ref: '#/responses/errors/500'
    post:
      tags:
        - Job Change Reasons
      summary: Create a new Job Change Reason
      operationId: JobChangeReasons_createNewReason
      description: >-
        Returns the created [Job Change
        Reason](https://developers.intellihr.io/docs/v1/).
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/job-change-reasons_create_request'
            example:
              name: Engineering
              isEnabled: true
      responses:
        '201':
          description: Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-change-reasons'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /job-change-reasons/{id}:
    get:
      tags:
        - Job Change Reasons
      summary: Find a Job Change Reason by ID
      operationId: JobChangeReasons_findById
      description: >-
        Returns a single [Job Change
        Reason](https://developers.intellihr.io/docs/v1/).
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-change-reasons'
        '500':
          $ref: '#/responses/errors/500'
    patch:
      tags:
        - Job Change Reasons
      summary: Update a Job Change Reason by ID
      operationId: JobChangeReasons_updateById
      description: >-
        Returns the updated [Job Change
        Reason](https://developers.intellihr.io/docs/v1/).
      parameters:
        - $ref: '#/parameters/resourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/job-change-reasons_patch_request'
            example:
              name: Engineering
              isEnabled: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-change-reasons'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
    delete:
      tags:
        - Job Change Reasons
      summary: Delete a Job Change Reason by ID
      operationId: JobChangeReasons_deleteById
      description: >-
        Deletes the [Job Change
        Reason](https://developers.intellihr.io/docs/v1/)'s by the given ID.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /job-requirement-groups:
    get:
      tags:
        - Job Requirement Groups
      summary: List all Job Requirement Groups
      operationId: JobRequirementGroups_listAll
      description: ''
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-requirement-groups_list'
        '500':
          $ref: '#/responses/errors/500'
    post:
      tags:
        - Job Requirement Groups
      summary: Create a new Job Requirement Group
      operationId: JobRequirementGroups_createNewGroup
      description: >-
        Create a new [Job Requirement
        Group](https://developers.intellihr.io/docs/v1/) record with the
        provided data.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/job-requirement-groups_create_request'
            example:
              name: ABCDE12345
              libraryItemIds:
                - 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
      responses:
        '201':
          description: Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-requirement-groups'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /job-requirement-groups/{id}:
    get:
      tags:
        - Job Requirement Groups
      summary: Find a Job Requirement Group by ID
      operationId: JobRequirementGroups_findById
      description: >-
        Returns a single [Job Requirement
        Group](https://developers.intellihr.io/docs/v1/) by its identifier.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-requirement-groups'
              example:
                data:
                  id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                  name: ABCDE12345
                  libraryItems:
                    - id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                      link: >-
                        https://api.intellihr.io/v1/qualification-library-items/8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                meta:
                  asAt: '2015-03-01T22:30:00+00:00'
                  requestId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
        '500':
          $ref: '#/responses/errors/500'
    patch:
      tags:
        - Job Requirement Groups
      summary: Patch an existing Job Requirement Group
      operationId: JobRequirementGroups_updateAttributes
      description: >-
        Patch attributes of an existing [Job Requirement
        Group](https://developers.intellihr.io/docs/v1/) record with the
        provided data.
      parameters:
        - $ref: '#/parameters/resourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/job-requirement-groups_patch_request'
            example:
              name: ABCDE12345
              libraryItemIds:
                - 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job-requirement-groups'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
    delete:
      tags:
        - Job Requirement Groups
      summary: Delete a Job Requirement Group by ID
      operationId: JobRequirementGroups_deleteById
      description: >-
        Deletes the [Job Requirement
        Group](https://developers.intellihr.io/docs/v1/) by the given ID.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /job-end/{id}:
    patch:
      tags:
        - End Job
      summary: End a job
      operationId: EndJob_jobFinalize
      description: Set an end date, and finalise a job.
      parameters:
        - $ref: '#/parameters/resourceId'
        - description: If true, do not finalise the job.
          type: string
          in: query
          name: shouldNotFinaliseEndDate
          example: 'true'
          default: 'false'
        - description: If true, keeps the user account when finalising the job.
          type: string
          in: query
          name: shouldRetainUserAccount
          example: 'true'
          default: 'false'
        - description: When true, no events will be fired from this action
          type: string
          in: query
          name: suppressEvents
          example: 'true'
          default: 'false'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/job_end_patch_request'
            example:
              endDate: '2015-03-01T22:30:00+00:00'
              reassignDirectReportsTo: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              turnoverType: involuntary
              turnoverReason: Medical reasons
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job_end_patch_response'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
    delete:
      tags:
        - End Job
      summary: Cancel job end date
      operationId: EndJob_cancelEndDate
      description: If a job end date has been finalised, this will cancel the finalisation
      parameters:
        - $ref: '#/parameters/resourceId'
        - description: >-
            Whether to cancel the disabling of the users account upon the job
            end date, if user doesn't exist the Boolean has no effect yet the
            request will still succeed.
          type: string
          in: query
          name: cancelDisablingUserAccount
          example: 'true'
          default: 'true'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job_end_remove_response'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /jobs:
    get:
      tags:
        - Jobs
      summary: List all Jobs
      operationId: Jobs_getAll
      description: >-
        Returns a list of all [Job](https://developers.intellihr.io/docs/v1/)
        entity records as at the current date.
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
        - description: "Filters can be applied in the query string to limit the data returned from this endpoint. Filters are provided in the format `filters[<filter_name>][<operation_type>]=<filter_value>`.For example, a filter to get items matching a specific filter value would be `filters[personId][eq]=dc996d73-a75e-499c-a96e-bd7d0df45f57,26d0ffc4-60f6-4672-a603-caaa4564af12`\n\rBelow is a list of operation types available on filters, note that each filter may not support every type:\n\r• Equality `[eq]`: Checks for an exact match with the given filter value\n\rThe list of supported filters is given below."
          in: query
          name: filters
          schema:
            type: object
            properties:
              personId:
                title: UUIDv4
                description: "The identifier string for the [Person](https://developers.intellihr.io/docs/v1/). This can be chained by `,` to search for multiple jobs\n\rExample filter: `filters[personId][eq]=dc996d73-a75e-499c-a96e-bd7d0df45f57,26d0ffc4-60f6-4672-a603-caaa4564af12`\n\rThis filter supports the equality `[eq]` operation"
                maxLength: 36
                minLength: 36
                example: >-
                  dc996d73-a75e-499c-a96e-bd7d0df45f57,26d0ffc4-60f6-4672-a603-caaa4564af12
                type: string
              personName:
                description: "The name for the [Person](https://developers.intellihr.io/docs/v1/) to whom the [Job](https://developers.intellihr.io/docs/v1/) belongs.\n\rExample filter: `filters[personName][eq]=Batman`\n\rThis filter supports the equality `[eq]` operation"
                example: Batman
                type: string
              primaryEmail:
                description: "The email address flagged as primary for the [Person](https://developers.intellihr.io/docs/v1/) to whom the [Job](https://developers.intellihr.io/docs/v1/) belongs.\n\rExample filter: `filters[primaryEmail][eq]=bruce.wayne@example.com`\n\rThis filter supports the equality `[eq]` operation"
                example: bruce.wayne@example.com
                type: string
              employeeNumber:
                description: "The employee number for the [Person](https://developers.intellihr.io/docs/v1/) to whom the [Job](https://developers.intellihr.io/docs/v1/) belongs.\n\rExample filter: `filters[employeeNumber][eq]=00001`\n\rThis filter supports the equality `[eq]` operation"
                example: '00001'
                type: string
              autoIncrementIntellihrId:
                description: "The autogenerated number that uniquely identifies [Person](https://developers.intellihr.io/docs/v1/) in intelliHR to whom the [Job](https://developers.intellihr.io/docs/v1/) belongs.\n\rExample filter: `filters[autoIncrementIntellihrId][eq]=1000`\n\rThis filter supports the equality `[eq]` operation"
                example: 1000
                type: number
              jobId:
                description: "The identifier string for the [Job](https://developers.intellihr.io/docs/v1/). This can be chained by `,` to search for multiple jobs\n\rExample filter: `filters[jobId][eq]=dc996d73-a75e-499c-a96e-bd7d0df45f57,26d0ffc4-60f6-4672-a603-caaa4564af12`\n\rThis filter supports the equality `[eq]` operation"
                example: >-
                  dc996d73-a75e-499c-a96e-bd7d0df45f57,26d0ffc4-60f6-4672-a603-caaa4564af12
                type: string
              jobName:
                description: "The name/position title for the [Job](https://developers.intellihr.io/docs/v1/).\n\rExample filter: `filters[jobName][eq]=Food%20Scientist`\n\rThis filter supports the equality `[eq]` operation"
                example: Food%20Scientist
                type: string
              jobNameAsAt:
                description: "The date to filter jobName. This filter should be used in conjunction with jobName filter above. If not provided, it defaults to today.\n\rExample filter: `filters[jobNameAsAt][eq]=2020-10-08T22%3A30%3A00%2B00%3A00`\n\rThis filter supports the equality `[eq]` operation"
                example: 2020-10-08T22%3A30%3A00%2B00%3A00
                type: string
              jobStatus:
                description: "The current status of this [Job](https://developers.intellihr.io/docs/v1/) within this organisation. Enum: `Past Job`, `Future Job`, `Ending Job`, `Current Job`.\n\rExample filter: `filters[jobStatus][eq]=Current%20Job`\n\rThis filter supports the equality `[eq]` operation"
                example: Current%20Job
                type: string
              jobEndingWithin:
                description: "The amount of days including today to filter jobs with an upcoming end date.\n\rExample filter: `filters[jobEndingWithin][eq]=14`\n\rThis filter supports the equality `[eq]` operation"
                example: '14'
                type: string
              jobEndedWithin:
                description: "The amount of days including today to filter jobs that have already ended.\n\rExample filter: `filters[jobEndedWithin][eq]=14`\n\rThis filter supports the equality `[eq]` operation"
                example: '14'
                type: string
              updatedWithin:
                description: "The amount of days including today to filter updated jobs.\n\rExample filter: `filters[updatedWithin][eq]=14`\n\rThis filter supports the equality `[eq]` operation"
                example: '14'
                type: string
              workType:
                description: "The name of the current [Work Type](https://developers.intellihr.io/docs/v1/) for the job.\n\rExample filter: `filters[workType][eq]=Fixed%20Contract`\n\rThis filter supports the equality `[eq]` operation"
                example: Fixed%20Contract
                type: string
              isPrimaryJob:
                description: "Whether this job is the primary job on the [Person](https://developers.intellihr.io/docs/v1/). Parse 'true' to filter primary job. Parse 'false' for non-primary job\n\rExample filter: `filters[isPrimaryJob][eq]=true`\n\rThis filter supports the equality `[eq]` operation"
                example: 'true'
                type: string
              employmentConditionId:
                title: UUIDv4
                description: "The identifier string for the current [Employment Condition](https://developers.intellihr.io/docs/v1/) of the job.\n\rExample filter: `filters[employmentConditionId][eq]=8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9`\n\rThis filter supports the equality `[eq]` operation"
                maxLength: 36
                minLength: 36
                example: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
                type: string
        - description: >-
            Sorting can be applied in the query string to order the data
            returned from this endpoint. Sort can be prepended with a minus to
            return the data in descending (-) order. For example, a sort to get
            the most recent records first would be `-createdAt`.
          in: query
          name: sort
          schema:
            description: 'Enum: `createdAt`.'
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobs_list'
        '500':
          $ref: '#/responses/errors/500'
    post:
      tags:
        - Jobs
      summary: Create a new Job
      operationId: Jobs_createRecord
      description: Create a new Job record with the provided data.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/job_create_request'
            example:
              person:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Bruce Wayne
                primaryEmailAddress: bruce.wayne@example.com
                employeeNumber: '00001'
                autoIncrementIntellihrId: '1000'
              companyStartDate: '2015-03-01T22:30:00+00:00'
              companyEndDate: '2015-03-01T22:30:00+00:00'
              name: Food Scientist
              businessEntity:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: IntelliHR
                legalName: IntelliHR Systems Limited
                number: 00 000 000 000
              businessUnit:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Engineering
              establishment:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: NewCo Software Engineer
              supervisorPerson:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Bruce Wayne
                primaryEmailAddress: bruce.wayne@example.com
                employeeNumber: '00001'
                autoIncrementIntellihrId: '1000'
              supervisorJob:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Janitor
              location:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Brisbane Office
                address: 1234 Queen Street, Brisbane City QLD 4000
              workClass:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Casual
              workType:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Permanent
              fte: '1'
              payGrade:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                code: L0
                name: Founder
              employmentCondition:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Professional Employees Award 2010
                awardName: >-
                  MA000065: Professional Employees Award 2010 - Fair Work
                  Commission
              remunerationSchedule:
                type: Annual Salary
                payCycle: Fortnightly
                currency: AUD
                hoursPerCycle: 80
                baseAnnualSalary: 50000
                baseHourlyRate: 24
                additions:
                  - name: Referral Bonus
                    type: FixedAmount
                    value: '200'
                    defaultRemunerationComponent:
                      name: Referral Bonus
                additionsToTotal:
                  - name: Superannuation
                    type: MultipleOfBase
                    value: '9.5'
                    defaultRemunerationComponent:
                      name: Superannuation
                customFields:
                  text_field_api_name:
                    value: Some text value
                  numeric_field_api_name:
                    value: '50'
                  single_select_api_name:
                    value:
                      label: Drama
                  multi_select_api_name:
                    value:
                      labels:
                        - Bananas
                        - Apples
                  people_dropdown_api_name:
                    value:
                      - person:
                          id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                          name: Bruce Wayne
                          primaryEmailAddress: bruce.wayne@example.com
                          employeeNumber: '00001'
                          autoIncrementIntellihrId: '1000'
                        job:
                          id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                          name: Maintenance worker
                      - person:
                          id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                          name: Batman
                          primaryEmailAddress: batman@example.com
                          employeeNumber: '00002'
                          autoIncrementIntellihrId: '1001'
                        job:
                          id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                          name: Janitor
              recruitment:
                source:
                  id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                  name: Direct
                cost: 5000
                currency: AUD
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: '50'
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                      - Bananas
                      - Apples
                people_dropdown_api_name:
                  value:
                    - person:
                        id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                        name: Bruce Wayne
                        primaryEmailAddress: bruce.wayne@example.com
                        employeeNumber: '00001'
                        autoIncrementIntellihrId: '1000'
                      job:
                        id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Maintenance worker
                    - person:
                        id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                        name: Batman
                        primaryEmailAddress: batman@example.com
                        employeeNumber: '00002'
                        autoIncrementIntellihrId: '1001'
                      job:
                        id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Janitor
      responses:
        '201':
          description: Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job_create_response'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /jobs/{id}:
    get:
      tags:
        - Jobs
      summary: Find a Job by ID
      operationId: Jobs_findById
      description: Get a single Job record by UUIDv4 identifier.
      parameters:
        - $ref: '#/parameters/resourceId'
        - title: asAt configuration
          description: >-
            Used to configure what date to return this job data for, as a
            [RFC3339](https://tools.ietf.org/html/rfc3339#section-5.6)
            datetime. 


            All data returned from the job endpoints represent the values of the
            Person's job attributes at a specific point in time. 


            By default, the current datetime is used, but this parameter can be
            used to configure a different datetime to see historical data.
          name: asAt
          in: query
          example: '2015-03-01T22:30:00+00:00'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobs'
        '500':
          $ref: '#/responses/errors/500'
    patch:
      tags:
        - Jobs
      summary: Patch an existing Job
      operationId: Jobs_updateAttributes
      description: Patch attributes of an existing Job record with the provided data.
      parameters:
        - $ref: '#/parameters/resourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/job_patch_request'
            example:
              effectiveFrom: '2015-03-01T22:30:00+00:00'
              effectiveTo: '2015-03-01T22:30:00+00:00'
              name: Food Scientist
              businessEntity:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: IntelliHR
                legalName: IntelliHR Systems Limited
                number: 00 000 000 000
              businessUnit:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Engineering
              establishment:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: NewCo Software Engineer
              jobChangeReason:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
              supervisorPerson:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Bruce Wayne
                primaryEmailAddress: bruce.wayne@example.com
                employeeNumber: '00001'
                autoIncrementIntellihrId: '1000'
              supervisorJob:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Janitor
              location:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Brisbane Office
                address: 1234 Queen Street, Brisbane City QLD 4000
              workClass:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Casual
              workType:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Permanent
              fte: '1'
              payGrade:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                code: L0
                name: Founder
              employmentCondition:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Professional Employees Award 2010
                awardName: >-
                  MA000065: Professional Employees Award 2010 - Fair Work
                  Commission
              remunerationSchedule:
                type: Annual Salary
                payCycle: Fortnightly
                currency: AUD
                hoursPerCycle: 80
                baseAnnualSalary: 50000
                baseHourlyRate: 24
                additions:
                  - name: Referral Bonus
                    type: FixedAmount
                    value: '200'
                    defaultRemunerationComponent:
                      name: Referral Bonus
                additionsToTotal:
                  - name: Superannuation
                    type: MultipleOfBase
                    value: '9.5'
                    defaultRemunerationComponent:
                      name: Superannuation
                customFields:
                  text_field_api_name:
                    value: Some text value
                  numeric_field_api_name:
                    value: '50'
                  single_select_api_name:
                    value:
                      label: Drama
                  multi_select_api_name:
                    value:
                      labels:
                        - Bananas
                        - Apples
                  people_dropdown_api_name:
                    value:
                      - person:
                          id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                          name: Bruce Wayne
                          primaryEmailAddress: bruce.wayne@example.com
                          employeeNumber: '00001'
                          autoIncrementIntellihrId: '1000'
                        job:
                          id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                          name: Maintenance worker
                      - person:
                          id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                          name: Batman
                          primaryEmailAddress: batman@example.com
                          employeeNumber: '00002'
                          autoIncrementIntellihrId: '1001'
                        job:
                          id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                          name: Janitor
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: '50'
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                      - Bananas
                      - Apples
                people_dropdown_api_name:
                  value:
                    - person:
                        id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                        name: Bruce Wayne
                        primaryEmailAddress: bruce.wayne@example.com
                        employeeNumber: '00001'
                        autoIncrementIntellihrId: '1000'
                      job:
                        id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Maintenance worker
                    - person:
                        id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                        name: Batman
                        primaryEmailAddress: batman@example.com
                        employeeNumber: '00002'
                        autoIncrementIntellihrId: '1001'
                      job:
                        id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Janitor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job_patch_response'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /jobs/{jobId}/timeline:
    get:
      tags:
        - Job Timeline
      summary: Get Job Timeline
      operationId: JobTimeline_getUpcomingChanges
      description: >-
        Returns the upcoming changes and current information about a
        [Job](https://developers.intellihr.io/docs/v1/).
      parameters:
        - description: >-
            Id string param for relevant
            [Job](https://developers.intellihr.io/docs/v1/)
          name: jobId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/:jobId_timeline_get_response'
        '500':
          $ref: '#/responses/errors/500'
  /locations:
    get:
      tags:
        - Locations
      summary: List all locations
      operationId: Locations_listAll
      description: Returns a list of all locations.
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations_list'
        '500':
          $ref: '#/responses/errors/500'
    post:
      tags:
        - Locations
      summary: Create a new Location
      operationId: Locations_createNewLocation
      description: >-
        Returns the created
        [Location](https://developers.intellihr.io/docs/v1/).
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/locations_create_request'
            example:
              parentId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              name: Brisbane Office
              code: BE001
              address: 1234 Queen Street, Brisbane City QLD 4000
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: '50'
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                      - Bananas
                      - Apples
                people_dropdown_api_name:
                  value:
                    - person:
                        id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                        name: Bruce Wayne
                        primaryEmailAddress: bruce.wayne@example.com
                        employeeNumber: '00001'
                        autoIncrementIntellihrId: '1000'
                      job:
                        id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Maintenance worker
                    - person:
                        id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                        name: Batman
                        primaryEmailAddress: batman@example.com
                        employeeNumber: '00002'
                        autoIncrementIntellihrId: '1001'
                      job:
                        id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Janitor
      responses:
        '201':
          description: Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /locations/{id}:
    get:
      tags:
        - Locations
      summary: Find a Location by ID
      operationId: Locations_findLocationById
      description: Returns a single location.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations'
        '500':
          $ref: '#/responses/errors/500'
    patch:
      tags:
        - Locations
      summary: Update a Location by ID
      operationId: Locations_updateById
      description: >-
        Returns the updated
        [Location](https://developers.intellihr.io/docs/v1/).
      parameters:
        - $ref: '#/parameters/resourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/locations_patch_request'
            example:
              parentId: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9
              name: Brisbane Office
              code: BE001
              address: 1234 Queen Street, Brisbane City QLD 4000
              isEnabled: true
              customFields:
                text_field_api_name:
                  value: Some text value
                numeric_field_api_name:
                  value: '50'
                single_select_api_name:
                  value:
                    label: Drama
                multi_select_api_name:
                  value:
                    labels:
                      - Bananas
                      - Apples
                people_dropdown_api_name:
                  value:
                    - person:
                        id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                        name: Bruce Wayne
                        primaryEmailAddress: bruce.wayne@example.com
                        employeeNumber: '00001'
                        autoIncrementIntellihrId: '1000'
                      job:
                        id: 569904c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Maintenance worker
                    - person:
                        id: 313fde44-f24e-4ec9-9473-0d0f3527222dX
                        name: Batman
                        primaryEmailAddress: batman@example.com
                        employeeNumber: '00002'
                        autoIncrementIntellihrId: '1001'
                      job:
                        id: 653304c8-5d36-4c2f-afb0-525eeb8da32dX
                        name: Janitor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
    delete:
      tags:
        - Locations
      summary: Delete a Location by ID
      operationId: Locations_deleteById
      description: >-
        Deletes the [Location](https://developers.intellihr.io/docs/v1/)'s by
        the given ID.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /pay-grades:
    get:
      tags:
        - Pay Grades
      summary: List all pay grades
      operationId: PayGrades_getAll
      description: Returns a list of all pay grades.
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
        - title: asAt configuration
          description: >-
            Used to configure what date to return this data, as a
            [RFC3339](https://tools.ietf.org/html/rfc3339#section-5.6)
            datetime. 


            All data returned from the endpoints represent the values of the
            attributes at a specific point in time. 


            By default, the current datetime is used, but this parameter can be
            used to configure a different datetime to see historical data.
          name: asAt
          in: query
          example: '2015-03-01T22:30:00+00:00'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pay-grades_list'
        '500':
          $ref: '#/responses/errors/500'
    post:
      tags:
        - Pay Grades
      summary: Create a new Pay Grade
      operationId: PayGrades_createRecord
      description: Create a new Pay Grade record with the provided data.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pay_grade_create_request'
            example:
              description: The founder pay grade
              name: Founder
              code: L0
              employmentCondition:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Professional Employees Award 2010
                awardName: >-
                  MA000065: Professional Employees Award 2010 - Fair Work
                  Commission
              payGradeType: FIXED
              isOverridable: true
              permanentHourlyRate: 25.5
              permanentHourlyRateCurrency: AUD
              casualHourlyRate: 25.5
              casualHourlyRateCurrency: AUD
              annualSalary: 25.5
              annualSalaryCurrency: AUD
              paySteps:
                - name: Level 1
                  permanentHourlyRate: 25.5
                  permanentHourlyRateCurrency: AUD
                  casualHourlyRate: 25.5
                  casualHourlyRateCurrency: AUD
                  annualSalary: 25.5
                  annualSalaryCurrency: AUD
      responses:
        '201':
          description: Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pay-grades'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /pay-grades/{id}:
    get:
      tags:
        - Pay Grades
      summary: Find a Pay Grade by ID
      operationId: PayGrades_findById
      description: Returns a single pay grade.
      parameters:
        - $ref: '#/parameters/resourceId'
        - title: asAt configuration
          description: >-
            Used to configure what date to return this data, as a
            [RFC3339](https://tools.ietf.org/html/rfc3339#section-5.6)
            datetime. 


            All data returned from the endpoints represent the values of the
            attributes at a specific point in time. 


            By default, the current datetime is used, but this parameter can be
            used to configure a different datetime to see historical data.
          name: asAt
          in: query
          example: '2015-03-01T22:30:00+00:00'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pay-grades'
        '500':
          $ref: '#/responses/errors/500'
    patch:
      tags:
        - Pay Grades
      summary: Patch an existing Pay Grade
      operationId: PayGrades_updateRecord
      description: Patch attributes of an existing Pay Grade record with the provided data.
      parameters:
        - $ref: '#/parameters/resourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pay_grade_update_request'
            example:
              description: The founder pay grade
              effectiveFrom: '2015-03-01T22:30:00+00:00'
              effectiveTo: '2015-03-01T22:30:00+00:00'
              isEnabled: true
              name: Founder
              code: L0
              employmentCondition:
                id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                name: Professional Employees Award 2010
                awardName: >-
                  MA000065: Professional Employees Award 2010 - Fair Work
                  Commission
              payGradeType: FIXED
              isOverridable: true
              permanentHourlyRate: 25.5
              permanentHourlyRateCurrency: AUD
              casualHourlyRate: 25.5
              casualHourlyRateCurrency: AUD
              annualSalary: 25.5
              annualSalaryCurrency: AUD
              paySteps:
                - id: 8a5f3ea6-ea6b-4425-8a87-3c256bb7b6f9X
                  name: Level 1
                  permanentHourlyRate: 25.5
                  permanentHourlyRateCurrency: AUD
                  casualHourlyRate: 25.5
                  casualHourlyRateCurrency: AUD
                  annualSalary: 25.5
                  annualSalaryCurrency: AUD
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pay-grades'
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
    delete:
      tags:
        - Pay Grades
      summary: Delete a Pay Grade by ID
      operationId: PayGrades_deleteById
      description: >-
        Deletes the [Pay Grade](https://developers.intellihr.io/docs/v1/) by the
        given ID.
      parameters:
        - $ref: '#/parameters/resourceId'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/responses/errors/400'
        '403':
          $ref: '#/responses/errors/403'
        '500':
          $ref: '#/responses/errors/500'
  /people:
    get:
      tags:
        - People
      summary: List all people
      operationId: People_listAllPeople
      description: >-
        Returns a list of all [People](https://developers.intellihr.io/docs/v1/)
        as at the current date.
      parameters:
        - $ref: '#/parameters/collectionLimit'
        - $ref: '#/parameters/collectionPage'
        - description: "Filters can be applied in the query string to limit the data returned from this endpoint. Filters are provided in the format `filters[<filter_name>][<operation_type>]=<filter_value>`.For example, a filter to get items matching a specific filter value would be `filters[jobId][eq]=dc996d73-a75e-499c-a96e-bd7d0df45f57,26d0ffc4-60f6-4672-a603-caaa4564af12`\n\rBelow is a list of operation types available on filters, note that each filter may not support every type:\n\r• Equality `[eq]`: Checks for an exact match with the given filter value\n\rThe list of supported filters is given below."
          in: query
          name: filters
          schema:
            type: object
            properties:
              jobId:
                title: UUIDv4
                description: "The identifier string for the [Job](https://developers.intellihr.io/docs/v1/). This can be chained by `,` to search for current jobs that belong to multiple [people](https://developers.intellihr.io/docs/v1/).\n\rExample filter: `filters[jobId][eq]=dc996d73-a75e-499c-a96e-bd7d0df45f57,26d0ffc4-60f6-4672-a603-caaa4564af12`\n\rThis filter supports the equality `[eq]` operation"
                maxLength: 36
                minLength: 36
                example: >-
                  dc996d73-a75e-499c-a96e-bd7d0df45f57,26d0ffc4-60f6-4672-a603-caaa4564af12
                type: string
              primaryEmailAddress:
                description: "This Person's primary email address.\n\rExample filter: `filters[primaryEmailAddress][eq]=bruce.wayne@batman.org`\n\rThis filter supports the equality `[eq]` operation"
                type: string
                example: bruce.wayne@batman.org
              employeeNumber:
                description: "A manually entered employee number that identifies a [Person](https://developers.intellihr.io/docs/v1/) in intelliHR. It may be hidden in the system's UI depending upon your tenant's configuration.\n\rExample filter: `filters[employeeNumber][eq]=00001`\n\rThis filter supports the equality `[eq]` operation"
                example: '00001'
                type: string
              autoIncrementIntellihrId:
                description: "An autogenerated number that uniquely identifies a [Person](https://developers.intellihr.io/docs/v1/) in intelliHR. It may be hidden in the system's UI depending upon your tenant's configuration.\n\rExample filter: `filters[autoIncrementIntellihrId][eq]=1000`\n\rThis filter supports the equality `[eq]` operation"
                type: number
                example: 1000
              name:
[...]
