openapi: 3.0.0
info:
  title: PacketFabric API
  description: >
    Use [/v2/auth/login](https://api.packetfabric.com) endpoint to get the
    token.



    Use that token and "Authorize" button to authenticate your requests.



    You can also use that token to authorize your `curl` request:


    ```

    curl -X GET "https://api.packetfabric.com/v2/activity-logs" -H "accept: */*"
    -H "Authorization: Bearer 12a30d30-20c0-4f62-a982-eb1424631094"

    ```


    Python code to authenticate and utilize the

    [Bearer
    token](https://swagger.io/docs/specification/authentication/bearer-authentication/):


    ```

    import requests

    login_url = 'https://api.packetfabric.com/v2/auth/login'

    login_payload = {
        'login': 'admin',
        'password': 'p4ssw0rd'
    }

    r = requests.post(login_url, json=login_payload)

    auth_token = r.json()['token']

    request_header = {
        'Authorization': f'Bearer {auth_token}'
    }

    contacts_url = 'https://api.packetfabric.com/v2/contacts'

    r = requests.get(contacts_url, headers=request_header)

    ```


    *For resellers only*:


    To make the request on behalf of reseller's customer - add `On-Behalf:
    customer UUID` header to the request:


    ```

    curl -X GET "https://api.packetfabric.com/v2/activity-logs" -H "accept: */*"
    -H "Authorization: Bearer 12a30d30-20c0-4f62-a982-eb1424631094" -H
    "On-Behalf: 11111111-2222-3333-4444-eb1424631094"

    ```


    *For API Key Authentication*

    To utilize an API Key instead of login/password, you will need to generate a
    key and save the token.

    Using that token, as the Bearer token, you can then login.


    ```

    api_key = <TOKEN>

    request_header = {
        'Authorization': f'Bearer {api_key}'
    }

    contacts_url = 'https://api.packetfabric.com/v2/contacts'

    r = requests.get(contacts_url, headers=request_header)

    ```
  version: 2.0.0
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Production API
    url: https://api.packetfabric.com
tags:
  - description: Cloud-to-Cloud connections.
    name: Cloud Router Connections
  - description: AWS specific, and compatible generic cloud routes.
    name: Cloud Services - AWS
  - description: Google Cloud specific, and compatible generic cloud routes.
    name: Cloud Services - Google Cloud
  - description: Virtual Circuit based 3rd-party and backbone services
    name: Services
  - description: Azure specific, and compatible generic cloud routes.
    name: Cloud Services - Azure
  - description: Viewing and managing marketplace services
    name: Marketplace
  - description: Details about the current customer and publicly searchable third parties
    name: Customers
  - description: Getting metric data for the current customer
    name: Metrics
  - description: Ports of the current customer
    name: Ports
  - description: Cloud Router Third Party services.
    name: Cloud Router Third Party
  - description: PacketFabric quotes created through the PacketFabric portal
    name: Portal Quotes
  - description: IPAM (IP Address Management)
    name: IPAM
  - description: Users management for the current customer
    name: Users
  - description: IBM Cloud specific, and compatible generic cloud routes.
    name: Cloud Services - IBM
  - description: Billing endpoints
    name: Billing
  - description: Oracle Cloud specific, and compatible generic cloud routes.
    name: Cloud Services - Oracle
  - description: Details of physical locations, markets and regions
    name: Locations
  - description: Base services to build Cloud-to-Cloud connections.
    name: Cloud Routers
  - description: Layer 3 network functionality
    name: Cloud Router BGP Session Settings
  - description: >-
      Point-to-point service is a bundled service with two ports and an EPL
      virtual-circuit connecting them
    name: PTP Services
  - description: >-
      Request aliases are used to manage points of contact for connection
      requests.
    name: Request Aliases
  - description: Contact persons of the current customer
    name: Contacts
  - description: Bundled capacity for virtual circuits
    name: Flex Bandwidth
  - description: High Performance Internet (HPI)
    name: High Performance Internet
  - description: Link aggregation groups
    name: LAGs
  - description: Login/logout endpoints
    name: Authentication
  - description: Manage your credentials to Cloud Providers.
    name: Cloud Provider Credentials
  - description: Route Sets for Cloud Router Marketplace Services.
    name: Cloud Router Route Sets
  - description: Managing multi-factor authentication for the current user
    name: Multi-Factor Authentication
  - description: Viewing and managing outbound cross connects
    name: Outbound Cross Connects
  - description: Associate labels with SVlans on a particular port
    name: SVlan Labels
  - description: Team-based signup invitations
    name: TeamSignup
  - description: Diagnostic reports
    name: Diagnostic Reports
  - description: Correlation between services and custom identifiers.
    name: Labels
  - description: History of scheduled maintenance operations and sent notifications
    name: Maintenance Notifications
  - description: API keys management API
    name: API keys
  - description: IPsec related services.
    name: Cloud Router IPsec
  - description: Documents of the current customer
    name: Documents
  - description: Groups management for the current customer
    name: Groups
  - description: Linking objects to their labels
    name: Objects
  - description: Log of activities performed by the customer
    name: Activity Logs
  - description: Stream events in real-time
    name: Streaming Events - Beta
  - description: Messages from PacketFabric
    name: Announcements
  - name: Signup
paths:
  /v2/activity-logs/{log_uuid}:
    get:
      tags:
        - Activity Logs
      summary: Get activity log entry
      operationId: ActivityLogs_getEntry
      parameters:
        - description: UUID of Activity Log entry
          required: true
          in: path
          name: log_uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Activity log entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogsGetEntryResponse'
  /v2/activity-logs:
    get:
      tags:
        - Activity Logs
      summary: Get activity log entries
      operationId: ActivityLogs_getActivityLogList
      description: >
        Use this endpoint to get paginated list of Activity Log entries.

        You can set additional filters or set sorting order using query
        parameters.
      parameters:
        - description: Filter by [the level](https://tools.ietf.org/html/rfc5424#page-11)
          name: level
          required: false
          in: query
          schema:
            type: integer
            minimum: 0
            example: 3
            maximum: 7
        - description: Filter by category
          name: category
          required: false
          in: query
          schema:
            description: Category of the activity
            type: string
            enum:
              - auth
              - billing
              - contact
              - customer
              - document
              - lag_interface
              - physical_interface
              - logical_interface
              - user
              - virtual_circuit
              - cloud_connection
              - point_to_point
              - high_performance_internet
        - description: >
            Unified circuit_id filter, supports filtering by:

            - Port - port_circuit_id (eg. PF-AP-SFO1-58)

            - VirtualCircuit - vc_circuit_id (eg. PF-BC-NYC-NYC-12345)

            - Cloud - cloud_circuit_id (eg. PF-CC-GOG-GOG-12345)

            - Point to Point - ptp_circuit_id (eg. PF-PD-LAX-NYC-12345)

            - Cloud Router - cloud_router_circuit_id (eg. PF-L3-CUST-12345)

            - Cloud Router Connection - connection_circuit_id (eg.
            PF-L3-CON-12345)

            - High Performance Internet - hpi_circuit_id (eg. PF-L3-TRAN-12345)
          name: circuit_id
          required: false
          in: query
          schema:
            type: string
            example: PF-BC-NYC-NYC-12345
        - description: The description of the port to be queried
          name: description
          required: false
          in: query
          schema:
            type: string
            example: The user description
        - description: Filter by event
          name: event
          required: false
          in: query
          schema:
            type: string
            example: login
        - description: Number of records to skip
          name: offset
          required: false
          in: query
          schema:
            type: integer
            example: 20
        - description: Number of records to show
          name: page_size
          required: false
          in: query
          schema:
            type: integer
            example: 10
        - description: Column to sort results on
          name: sort_column
          required: false
          in: query
          schema:
            type: string
            example: time_created
        - description: Sort order
          name: sort_order
          required: false
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
        - description: Filter by time_created greater than (after) or equal to this time.
          name: time_from
          required: false
          in: query
          schema:
            type: string
            format: date-time
            example: '2020-04-01T19:14:42.642Z'
        - description: Filter by time_created less than (before) or equal to this time.
          name: time_to
          required: false
          in: query
          schema:
            type: string
            format: date-time
            example: '2020-04-30T19:14:42.642Z'
      responses:
        '200':
          description: List of activity log entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogsGetActivityLogListResponse'
  /v2/api-keys:
    post:
      tags:
        - API keys
      summary: Add the new API key
      operationId: ApiKeys_createNewKey
      description: >
        This endpoint adds the new API key. The API keys can be used by
        automated solutions instead of the user session tokens. Use the response
        of this endpoint wisely, it is the only time you can see the `token`.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeysCreateNewKeyRequest'
      responses:
        '201':
          description: Created API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeysCreateNewKeyResponse'
    get:
      tags:
        - API keys
      summary: Get the list of user's API keys
      operationId: ApiKeys_getUserList
      description: Get the list of user's API keys
      responses:
        '200':
          description: Created API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeysGetUserListResponse'
  /v2/api-keys/{uuid}:
    delete:
      tags:
        - API keys
      summary: Deletes API key by UUID
      operationId: ApiKeys_deleteByKey
      description: Deletes API key by UUID
      parameters:
        - description: Target API key UUID
          required: true
          in: path
          name: uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Deletion message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeysDeleteByKeyResponse'
  /v2/auth/login:
    post:
      tags:
        - Authentication
      summary: Login
      operationId: Authentication_startSession
      security: []
      description: Start user session. Get the token to authenticate requests
      requestBody:
        description: User credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationStartSessionRequest'
            example:
              login: admin
              password: p4ssw0rd
      responses:
        '200':
          description: User session information and token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationStartSessionResponse'
              example:
                token: 12a30d30-20c0-4f62-a982-eb1424631094
                time_expires: '2020-06-11T19:08:10.150711'
    get:
      tags:
        - Authentication
      summary: Login
      operationId: get_login
      security: []
      description: >
        Authenticates the user with an existing session token. Creates a new
        session token for the user and redirects to the PacketFabric Portal
        dashboard.
      parameters:
        - description: A valid session_token for the user
          name: session_token
          required: true
          in: query
          schema:
            type: string
        - description: Timeout in minutes to set the session expiration
          name: timeout
          required: false
          in: query
          schema:
            type: integer
      responses:
        default:
          description: Redirect to the PacketFabric Portal dashboard
  /v2/auth/login/mfa:
    post:
      tags:
        - Multi-Factor Authentication
      summary: Login into the application using a multi-factor authentication code
      operationId: login_mfa
      security: []
      description: >
        This endpoint needs to be used only if the user has multi-factor
        authentication enabled for their account. After the normal login process
        this endpoint must be accessed to send the code used as a second factor
        of authentication.<br><br> **Note:** Apart from the authentication code,
        this endpoint requires the session_token cookie to be properly set.
        That's how the application can validate the first factor of
        authentication (user/password combination) was completed successfully.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginMfaRequest'
            example:
              authentication_code: 123456
      responses:
        '200':
          description: Success message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginMfaResponse'
              example:
                message: success
  /v2/auth/logout:
    get:
      tags:
        - Authentication
      summary: Logout
      operationId: Authentication_invalidateSession
      security: []
      description: Invalidate current user session. Makes the token invalid
      responses:
        '200':
          description: Farewell message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationInvalidateSessionResponse'
              example:
                message: logged out
  /v2/auth/sessions:
    get:
      tags:
        - Authentication
      summary: Get all active user sessions
      operationId: Authentication_getAllActiveUserSessions
      description: Get the list of all active user sessions
      parameters:
        - description: User UUID to get sessions for (for Admin only)
          name: user_uuid
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User sessions
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AuthenticationGetAllActiveUserSessionsResponse
              example:
                - token: 12a30d30-20c0-4f62-a982-eb1424631094
                  time_expires: '2020-06-11T19:08:10.150711'
    delete:
      tags:
        - Authentication
      summary: Deletes all user sessions
      operationId: Authentication_removeAllSessions
      description: Delete all user sessions
      parameters:
        - description: User UUID to delete sessions for (for Admin only)
          name: user_uuid
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Farewell message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationRemoveAllSessionsResponse'
              example:
                message: logged out
  /v2/bgp-settings:
    get:
      tags:
        - Cloud Router BGP Session Settings
      summary: >-
        Returns a list of BGP settings instances associated with the current
        account.
      operationId: CloudRouterBgpSessionSettings_getList
      responses:
        '200':
          description: A list of BGP session settings instances.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudRouterBgpSessionSettingsGetListResponse
  /v2/bgp-settings/{bgp_settings_uuid}/prefixes:
    get:
      tags:
        - Cloud Router BGP Session Settings
      summary: Returns a list of prefixes associated with a BGP settings instance.
      operationId: CloudRouterBgpSessionSettings_listPrefixes
      parameters:
        - description: UUID of BGP settings to fetch prefixes for.
          required: true
          in: path
          name: bgp_settings_uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A list of BGP prefixes.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudRouterBgpSessionSettingsListPrefixesResponse
  /v2/bgp-settings/{bgp_settings_uuid}/l3:
    get:
      tags:
        - Cloud Router BGP Session Settings
      summary: Returns the L3 IFL data associated with a BGP Session.
      operationId: CloudRouterBgpSessionSettings_getL3IflData
      parameters:
        - description: UUID of BGP settings to fetch prefixes for.
          required: true
          in: path
          name: bgp_settings_uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The L3 data associated with a BGP session.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudRouterBgpSessionSettingsGetL3IflDataResponse
  /v2/billing/services/{circuit_id}:
    get:
      tags:
        - Billing
      summary: >-
        Returns billing details for the given circuit (Port, Cloud, or Virtual
        Circuit)
      operationId: get_order
      parameters:
        - description: ID of Port, Cloud, or Virtual Circuit to fetch billing data for
          required: true
          in: path
          name: circuit_id
          schema:
            type: string
        - description: >-
            (Optional) You can specify the type of the product to fetch the
            order for
          required: false
          in: query
          name: service_type
          schema:
            type: string
            enum:
              - cross-connect
          example: cross-connect
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
  /v2/billing/services/{circuit_id}/modify:
    post:
      tags:
        - Billing
      summary: Modify an existing order
      operationId: modify_order
      parameters:
        - description: Circuit ID of the order to modify
          required: true
          in: path
          name: circuit_id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyOrderRequest'
      responses:
        '200':
          description: Order modification details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyOrderResponse'
        '202':
          description: Order modification details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyOrder202Response'
  /v2/billing/services/{circuit_id}/modify/preview:
    post:
      tags:
        - Billing
      summary: >-
        Preview the price of modifying an existing order. Currently only
        supports renewals without speed upgrades.
      operationId: Billing_modifyOrderPreview
      parameters:
        - description: Circuit ID of the order to modify
          required: true
          in: path
          name: circuit_id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingModifyOrderPreviewRequest'
      responses:
        '200':
          description: >-
            List of orders that would be created if this modification was
            applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingModifyOrderPreviewResponse'
  /v2/billing/services/{account_uuid}:
    get:
      tags:
        - Billing
      summary: Returns all orders for the given billing account
      operationId: Billing_accountOrdersGet
      parameters:
        - description: UUID of the billing account
          required: true
          in: path
          name: account_uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccountOrdersGetResponse'
  /v2/billing/pricing:
    get:
      tags:
        - Billing
      summary: Get pricing for specific services
      operationId: get_pricing
      security: []
      parameters:
        - required: true
          in: query
          name: product_type
          schema:
            description: Type of product to retrieve pricing for
            type: string
            enum:
              - aggregate_capacity
              - cloud_dedicated
              - cloud_dedicated_vc
              - cloud_hosted
              - crossconnect
              - pointtopoint
              - port
              - port_enni
              - vcbwc
              - cloud_router
              - cr_connection
              - vc_ix
              - vc_marketplace
              - add_on_fee
              - high_performance_internet
        - description: The subscription term, in months, to retrieve pricing for
          required: false
          in: query
          name: subscription_term
          schema:
            type: integer
            enum:
              - 1
              - 12
              - 24
              - 36
        - description: >-
            Filter pricing info by location type. If no pricing is found, the
            service will attempt to search by a broader location type. eg. site
            -> pop
          required: true
          in: query
          name: location_type
          schema:
            type: string
            example: pop
            enum:
              - site
              - pop
              - market
              - country
              - region
        - description: >-
            Code for the a-side location eg. SFO1.  When using this paramater to
            filter results, ensure location_type is also set.
          required: false
          in: query
          name: side_a
          example: SFO1
          schema:
            type: string
        - description: >-
            Code for the z-side location eg. NYC1.  When using this paramater to
            filter results, ensure location_type is also set.
          required: false
          in: query
          name: side_z
          example: NYC1
          schema:
            type: string
        - description: >-
            Limit results to pricing for a specific network provider on the a
            side. Valid for location_type of market or region.
          required: false
          in: query
          name: network_provider_a
          schema:
            type: string
            enum:
              - PacketFabric
              - Colt
        - description: >-
            Limit results to pricing for a specific network provider on the z
            side. Valid for location_type of market or region.
          required: false
          in: query
          name: network_provider_z
          schema:
            type: string
            enum:
              - PacketFabric
              - Colt
        - description: Optic media type
          required: false
          in: query
          name: media
          example: LX
          schema:
            type: string
        - description: Filter pricing by provider type
          required: false
          in: query
          name: provider
          example: aws
          schema:
            type: string
        - description: Filter by dedicated or usage-base pricing
          required: false
          in: query
          name: bandwidth_type
          example: usage
          schema:
            type: string
        - description: Filter by metro or longhaul connections
          required: false
          in: query
          name: service_class
          example: metro
          schema:
            type: string
        - description: Filter by connection speed
          required: false
          in: query
          name: speed
          schema:
            type: string
            enum:
              - 50Mbps
              - 100Mbps
              - 200Mbps
              - 300Mbps
              - 400Mbps
              - 500Mbps
              - 1Gbps
              - 2Gbps
              - 5Gbps
              - 10Gbps
              - 20Gbps
              - 30Gbps
              - 40Gbps
              - 50Gbps
              - 60Gbps
              - 80Gbps
              - 100Gbps
        - description: Filter for account specific pricing
          required: false
          in: query
          name: account_uuid
          schema:
            type: string
            format: uuid
          example: c25e0c64-6da7-487e-8f47-f5e744813976
        - description: >-
            Filter by the add-on fee key - this is only used for add_on_fee
            product types
          required: false
          in: query
          name: add_on_fee_key
          schema:
            type: string
            enum:
              - route_set
      responses:
        '200':
          description: Pricing details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPricingResponse'
  /v2/billing/services/early-termination-liability/{circuit_id}:
    get:
      tags:
        - Billing
      summary: >-
        Returns cost for stopping service on a circuit with a subscription term
        early
      operationId: Billing_earlyTerminationCost
      parameters:
        - description: ID of circuit to get early termination liability for
          required: true
          in: path
          name: circuit_id
          schema:
            type: string
        - description: >-
            Datetime (ISO-8601 format) for which to fetch the early termination
            liability. Defaults to right now. User's timezone will be used if
            timestamp is not timezone aware. Examples:
            `2020-04-01T19:14:42.642+00:00`, `2020-04-01T19:14:42.642`
          required: false
          in: query
          name: termination_date
          schema:
            type: string
            format: date-time
            example: '2020-04-01T19:14:42'
      responses:
        '200':
          description: Early termination liability
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BillingEarlyTerminationCostResponse'
  /v2/billing/accounts/{account_uuid}/invoices:
    get:
      tags:
        - Billing
      summary: Returns list of invoices
      operationId: get_invoices
      parameters:
        - description: uuid of the billing account to get the list of invoices for
          required: true
          in: path
          name: account_uuid
          schema:
            type: string
        - description: Filter invoices which created after the start_date (UTC)
          required: false
          in: query
          name: start_date
          schema:
            type: string
            format: date
            example: '2020-04-01'
        - description: Filter invoices which created before the end_date (UTC)
          required: false
          in: query
          name: end_date
          schema:
            type: string
            format: date
            example: '2020-04-01'
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvoicesResponse'
  /v2/billing/accounts/{account_uuid}/invoices/{invoice_id}.pdf:
    get:
      tags:
        - Billing
      summary: Returns invoice as PDF
      operationId: get_pdf
      parameters:
        - description: uuid of the billing account to get the list of invoices for
          required: true
          in: path
          name: account_uuid
          schema:
            type: string
        - description: Filter invoices which created after the start_date
          required: true
          in: path
          name: invoice_id
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Invoice as PDF file
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GetPdfResponse'
  /v2/billing/accounts/{account_uuid}/invoices/{invoice_id}.csv:
    get:
      tags:
        - Billing
      summary: Returns invoice as CSV
      operationId: get_csv
      parameters:
        - description: uuid of the billing account to get the list of invoices for
          required: true
          in: path
          name: account_uuid
          schema:
            type: string
        - description: Filter invoices which created after the start_date
          required: true
          in: path
          name: invoice_id
          schema:
            type: integer
            example: 1
        - description: Get condensed CSV output
          required: false
          in: query
          name: condensed
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: Invoice as CSV file (base64)
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/GetCsvResponse'
  /v2/billing/stripe/{account_uuid}/stripe_customer_session:
    get:
      tags:
        - Billing
      summary: Returns stripe customer portal session url
      operationId: Billing_getStripeCustomerSessionUrl
      parameters:
        - description: >-
            uuid of the billing account to get the stripe customer portal
            session for
          required: true
          in: path
          name: account_uuid
          schema:
            type: string
      responses:
        '200':
          description: Stripe customer portal session url as json
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BillingGetStripeCustomerSessionUrlResponse
  /v2/contacts:
    get:
      tags:
        - Contacts
      summary: Get the contacts associated with the current customer
      operationId: Contacts_getCurrentCustomerList
      parameters:
        - description: >-
            Filter for billing contacts (`true`) or non-billing contacts
            (`false`)
          name: billing
          required: false
          in: query
          schema:
            type: boolean
        - description: Filter contact by UUID
          name: contact_uuid
          required: false
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsGetCurrentCustomerListResponse'
    post:
      tags:
        - Contacts
      summary: Add the contact for the current customer
      operationId: contact_post
      requestBody:
        description: |
          Details to create the Contact. The following validation rules apply:
           * Technical contacts require only `first_name`, `last_name`, `phone` and `email` fields;
           * `po_number` can only be used for `billing` contacts;
           * If `po_number` is used, `first_name` and `last_name` fields are not required
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactPostRequest'
      responses:
        '201':
          description: Created contact details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactPostResponse'
  /v2/contacts/{contact_uuid}:
    get:
      tags:
        - Contacts
      summary: Get a single contact
      operationId: contact_get
      parameters:
        - description: UUID of the contact to fetch
          required: true
          in: path
          name: contact_uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Contact object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetResponse'
    delete:
      tags:
        - Contacts
      summary: Delete a single contact
      operationId: contact_delete
      parameters:
        - description: UUID of the contact to delete
          required: true
          in: path
          name: contact_uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Delete confirmation message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDeleteResponse'
    patch:
      tags:
        - Contacts
      summary: Update contact
      operationId: contact_update
      parameters:
        - description: UUID of the contact to update
          required: true
          in: path
          name: contact_uuid
          schema:
            type: string
            format: uuid
      requestBody:
        description: |
          Details to update the Contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateRequest'
      responses:
        '200':
          description: Updated contact information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateResponse'
  /v2/contacts/{contact_uuid}/links/{circuit_id}:
    post:
      tags:
        - Contacts
      summary: Link a technical contact to a circuit
      operationId: Contacts_linkCircuit
      description: >-
        Circuit-specific contacts are not enabled by default. Please contact
        your PacketFabric Sales Engineer or Customer Success Manager if you are
        interested in this feature.
      parameters:
        - description: UUID of the contact to link. Must be a technical contact.
          name: contact_uuid
          required: true
          in: path
          schema:
            type: string
            format: uuid
        - description: Circuit to link.
          name: circuit_id
          required: true
          in: path
          schema:
            type: string
            example: PF-AP-WDC1-1234
      responses:
        '200':
          description: Success message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsLinkCircuitResponse'
    delete:
      tags:
        - Contacts
      summary: Delete a link between a technical contact and a circuit
      operationId: Contacts_deleteLink
      description: >-
        Circuit-specific contacts are not enabled by default. Please contact
        your PacketFabric Sales Engineer or Customer Success Manager if you are
        interested in this feature.
      parameters:
        - description: UUID of the contact to unlink.
          name: contact_uuid
          required: true
          in: path
          schema:
            type: string
            format: uuid
        - description: Circuit to unlink.
          name: circuit_id
          required: true
          in: path
          schema:
            type: string
            example: PF-AP-WDC1-1234
      responses:
        '200':
          description: Success message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsDeleteLinkResponse'
  /v2/contacts/links:
    get:
      tags:
        - Contacts
      summary: Retrieve list of contact-circuit links
      operationId: Contacts_getContactCircuitLinks
      description: >-
        Circuit-specific contacts are not enabled by default. Please contact
        your PacketFabric Sales Engineer or Customer Success Manager if you are
        interested in this feature.
      parameters:
        - description: Only retrieve links associated with this contact
          name: contact_uuid
          required: false
          in: query
          schema:
            type: string
            format: uuid
        - description: Only retrieve links associated with this circuit
          name: circuit_id
          required: false
          in: query
          schema:
            type: string
            example: PF-AP-WDC1-1234
      responses:
        '200':
          description: Contact-circuit links
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsGetContactCircuitLinksResponse'
  /v2/customers/company-types:
    get:
      tags:
        - Customers
      summary: Get list of company types
      operationId: Customers_getCompanyTypes
      security: []
      description: Company types are used during the signup process
      responses:
        '200':
          description: List of company types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersGetCompanyTypesResponse'
  /v2/customers/current:
    get:
      tags:
        - Customers
      summary: Get current customer data
      operationId: customer_get
      responses:
        '200':
          description: Current customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerGetResponse'
    patch:
      tags:
        - Customers
      summary: Update current customer data
      operationId: customer_update
      requestBody:
        description: Modified fields for the current customer
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateRequest'
      responses:
        '200':
          description: Current customer details updated with provided fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerUpdateResponse'
  /v2/customers/images/{uuid}:
    get:
      tags:
        - Customers
      summary: Return customer logo for provided customer's UUID
      operationId: Customers_getLogoByUuid
      parameters:
        - description: Customer UUID
          required: true
          in: path
          name: uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Customer logo in PNG, JPEG or BMP format
          content:
            image/jpeg:
              schema:
                $ref: '#/components/schemas/CustomersGetLogoByUuidResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/CustomersGetLogoByUuid200Response'
            image/bmp:
              schema:
                $ref: '#/components/schemas/CustomersGetLogoByUuid200Response1'
  /v2/customers/current/image:
    post:
      tags:
        - Customers
      summary: >-
        Upload image file with a company logo. Supported formats are PNG, JPEG
        or BMP
      operationId: Customers_uploadLogoImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomersUploadLogoImageRequest'
      responses:
        '200':
          description: Logo changed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersUploadLogoImageResponse'
  /v2/customers/current/locations:
    get:
      tags:
        - Customers
      summary: Get location list for the current customer
      operationId: Customers_getLocationList
      parameters:
        - description: Filter locations by the POP name
          required: false
          in: query
          name: pop
          schema:
            type: string
            example: LAX1
        - description: Filter locations by the city name
          required: false
          in: query
          name: city
          schema:
            type: string
            example: Los Angeles
        - description: Filter locations by the state
          required: false
          in: query
          name: state
          schema:
            type: string
            example: CA
        - description: Filter locations by the market code
          required: false
          in: query
          name: market
          schema:
            type: string
            example: LAX
        - description: Filter locations by the region's short name
          required: false
          in: query
          name: region
          schema:
            type: string
            example: US
      responses:
        '200':
          description: >-
            List of locations the current customer is in, optionally filtered by
            provided parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersGetLocationListResponse'
  /v2/customers/current/account-managers:
    get:
      tags:
        - Customers
      summary: Get all customer account managers for the current customer
      operationId: Customers_getCurrentAccountManagers
      responses:
        '200':
          description: An object containing a list of customer account managers
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomersGetCurrentAccountManagersResponse
      deprecated: true
  /v2/customers/current/sales-team:
    get:
      tags:
        - Customers
      summary: Get the sales team details for the current customer
      operationId: Customers_getCurrentSalesTeam
      responses:
        '200':
          description: An object containing lists of the different sales team members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersGetCurrentSalesTeamResponse'
  /v2/customers:
    get:
      tags:
        - Customers
      summary: Get customer list by filter params
      operationId: get_customers
      parameters:
        - description: Search query string used to filter customers by name or description
          required: false
          in: query
          name: q
          schema:
            type: string
        - description: Filter customers by exact name
          required: false
          in: query
          name: name
          schema:
            type: string
        - description: Filter customers by Customer Routing ID
          required: false
          in: query
          name: routing_id
          schema:
            type: string
        - description: Filter customers by the market operated in
          required: false
          in: query
          name: market
          schema:
            type: string
        - description: Filter customers by POP name
          required: false
          in: query
          name: pop
          schema:
            type: string
        - description: >-
            Filter customers by type. Accepts either a single value or an array
            of values.
          required: false
          in: query
          name: type
          schema:
            type: array
            items:
              type: string
              enum:
                - customer
                - ix
                - partner
      responses:
        '200':
          description: List of customers, optionally filtered by provided filter parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomersResponse'
  /v2/customers/{customer_uuid}/industries:
    get:
      tags:
        - Customers
      summary: Return customer industries by UUID
      operationId: Customers_getIndustriesByUuid
      parameters:
        - description: UUID of chosen customer
          required: true
          in: path
          name: customer_uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of industries for selected customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersGetIndustriesByUuidResponse'
  /v2/customers/{customer_uuid}/locations:
    get:
      tags:
        - Customers
      summary: Return customer locations by UUID
      operationId: Customers_getLocationsByUuid
      parameters:
        - description: UUID of chosen customer
          required: true
          in: path
          name: customer_uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of locations for selected customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersGetLocationsByUuidResponse'
  /v2/customers/{customer_uuid}/service-provider-types:
    get:
      tags:
        - Customers
      summary: Return customer service_provider_types by UUID
      operationId: Customers_getServiceProviderTypesByUuid
      parameters:
        - description: UUID of chosen customer
          required: true
          in: path
          name: customer_uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of service provider types for selected customer
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomersGetServiceProviderTypesByUuidResponse
  /v2/customers/current/ix-details:
    patch:
      tags:
        - Customers
      summary: Update IX details for the current customer
      operationId: Customers_updateIxDetails
      requestBody:
        description: Modified IX details for the current customer
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomersUpdateIxDetailsRequest'
      responses:
        '200':
          description: Current customer IX details updated with provided fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersUpdateIxDetailsResponse'
  /v2/customers/{customer_uuid}/ix-details:
    get:
      tags:
        - Customers
      summary: Return IX details by IX customer UUID
      operationId: Customers_ixDetailsGet
      parameters:
        - description: UUID of chosen customer
          required: true
          in: path
          name: customer_uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: IX details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersIxDetailsGetResponse'
  /v2/diagnostic-reports:
    post:
      tags:
        - Diagnostic Reports
      summary: Create a diagnostic report
      operationId: DiagnosticReports_createReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticReportsCreateReportRequest'
      responses:
        '200':
          description: Response of a created diagnostic report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticReportsCreateReportResponse'
    get:
      tags:
        - Diagnostic Reports
      summary: Get diagnostic reports
      operationId: get_reports
      parameters:
        - description: The number of results to return per page
          required: false
          in: query
          name: page_size
          schema:
            type: integer
        - description: The reason to filter by
          required: false
          in: query
          name: reason
          schema:
            type: string
            enum:
              - USER
              - SYSTEM
              - OTHER
        - description: The user login to filter by
          required: false
          in: query
          name: user_login
          schema:
            type: string
        - description: Circuit ID of the service to get the reports
          required: false
          in: query
          name: circuit_id
          schema:
            type: string
        - description: The offset of results for this page
          required: false
          in: query
          name: offset
          schema:
            type: integer
        - description: Search query string used to filter reports
          required: false
          in: query
          name: q
          schema:
            type: string
        - description: The user provided description of the report
          required: false
          in: query
          name: description
          schema:
            type: string
        - description: Column to sort results on
          required: false
          in: query
          name: sort_column
          schema:
            type: string
            enum:
              - current_event_num
              - num_expected_events
              - report_uuid
              - state
              - time_created
        - description: The offset of results for this page
          required: false
          in: query
          name: sort_order
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Get list of diagnostic reports based on query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReportsResponse'
  /v2/diagnostic-reports/{report_uuid}:
    get:
      tags:
        - Diagnostic Reports
      summary: Get diagnostic report details by UUID
      operationId: get_report
      parameters:
        - description: UUID of the diagnostic report to fetch
          name: report_uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Diagnostic report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReportResponse'
    delete:
      tags:
        - Diagnostic Reports
      summary: Delete diagnostic report
      operationId: delete_report
      parameters:
        - description: UUID of the diagnostic report to delete
          name: report_uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Diagnostic report deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteReportResponse'
  /v2/documents:
    get:
      tags:
        - Documents
      summary: Get documents list filtered by params
      operationId: Documents_listFilteredByParams
      description: |
        Use this endpoint to fetch the list of the documents.
        You can use filters for your search results
      parameters:
        - description: Search documents by UUID
          name: uuid
          schema:
            type: string
            format: uuid
          example: 12a30d30-20c0-4f62-a982-eb1424631094
          in: query
        - description: Search document by name
          name: name
          schema:
            type: string
          example: loa.pdf
          in: query
          required: false
        - description: Search document by type
          name: type
          example: loa
          schema:
            type: string
            enum:
              - loa
              - msa
              - service_order
              - test_results
              - other
          in: query
        - description: Search LOA by port id
          name: port_circuit_id
          schema:
            type: string
          example: PF-AP-WDC1-1000
          in: query
        - description: Search LOA by pop
          name: pop
          schema:
            type: string
          example: WDC1
          in: query
        - description: Search service orders by Virtual Circuit ID
          name: vc_circuit_id
          schema:
            type: string
          example: PF-DC-SMF-PDX-12345
          in: query
        - description: Search service orders by Cloud Router Circuit ID
          name: cloud_router_circuit_id
          schema:
            type: string
          example: PF-L3-CUST-1400
          in: query
        - description: Search service orders by Cloud Router Connection Circuit ID
          name: cloud_router_connection_circuit_id
          schema:
            type: string
          example: PF-L3-CON-12345
          in: query
        - description: Search service orders by High Performance Internet Circuit ID
          name: hpi_circuit_id
          schema:
            type: string
          example: PF-L3-TRAN-1400
          in: query
        - description: Search service orders by Flex Bandwidth Container ID
          name: aggregate_capacity_id
          schema:
            type: string
          example: PF-AB-12345
          in: query
          deprecated: true
        - description: Search service orders by Flex Bandwidth Container ID
          name: flex_bandwidth_id
          schema:
            type: string
          example: PF-AB-12345
          in: query
        - description: Search documents by partial name
          name: q
          required: false
          schema:
            type: string
          example: loa
          in: query
        - description: Number of records to skip
          name: offset
          required: false
          in: query
          schema:
            type: integer
            example: 20
        - description: Number of records to show
          name: page_size
          required: false
          in: query
          schema:
            type: integer
            example: 10
        - description: Column to sort results on
          name: sort_column
          required: false
          in: query
          schema:
            type: string
            enum:
              - type
              - name
              - created
              - updated
        - description: Sort order
          name: sort_order
          required: false
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsListFilteredByParamsResponse'
    post:
      tags:
        - Documents
      summary: Create/Upload a document
      operationId: document_upload
      requestBody:
        description: Document uploading form
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentUploadRequest'
      responses:
        '201':
          description: Created document details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadResponse'
  /v2/documents/{uuid}:
    get:
      tags:
        - Documents
      summary: Download the document
      operationId: Documents_download
      security: []
      parameters:
        - description: UUID of the document to download
          required: true
          in: path
          name: uuid
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Document's binary data
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/DocumentsDownloadResponse'
  /v2/events:
    post:
      tags:
        - Streaming Events - Beta
      summary: Create event subscription
      operationId: StreamingEventsBeta_createSubscription
      description: >
        **This is a beta feature.**


        Cloud router connections are not supported yet.


        This is the first step to receive a real-time event stream via

        [Server-sent
        Events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events).


        In this POST request, you declare which types of events and categories
        of those event

        types you wish to stream. Assuming your request is valid, the response
        will contain a

        `subscription_uuid` that you will use as a path parameter for the
        *Stream Events* `/v2/events/{uuid}`

        endpoint described below.


        Each subscription bundle is permanently associated with the session that
        created it and can

        only be streamed within that session. This includes subscription bundles
        created using API

        Keys (`/v2/api-keys`). Further, you must begin streaming your new
        subscription bundle within

        5 minutes of creation or it will expire. However, once you begin
        streaming a particular

        bundle it will be valid until the session associated with it expires.


        **Make sure to fully expand the schema by clicking `>` to see the
        details for each type of payload.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/StreamingEventsBetaCreateSubscriptionRequest
      responses:
        '201':
          description: Subscription bundle created successfully
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/StreamingEventsBetaCreateSubscriptionResponse
  /v2/events/{uuid}:
    get:
      tags:
        - Streaming Events - Beta
      summary: Stream events
      operationId: stream_events
      description: >
        **This is a beta feature.**


        Ensure that you have created a subscription bundle using the *Create
        event subscription* `/v2/events`

        endpoint described above and that you have access to the
        `subscription_uuid` returned from that request.


        Using this `subscription_uuid`, you can now stream events in real-time
        via

        [Server-sent
        Events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events)
        from

        `/v2/events/{subscription_uuid}`.


        Every message that you receive will have the same basic structure of an
        `event` field and a

        `data` field. The `data` field will always be a JSON object. The below
        is an example of the

        response you would receive when one of your users authenticates with the
        PacketFabric Portal or API.

        ```

        event: customer|auth

        data: {"log_level": "info","category": "auth","event":
        "login","ip_address": "192.168.1.0","message": "User Hank Aaron logged
        in.","timestamp": "2020-06-11T19:08:10.150711"}


        ```

        The precise content of the `data` of a given message will vary widely
        depending on its particular

        type. The specifics of each are documented below.


        In order to keep the connection open, you will also receive heartbeat
        messages (`:`) if enough

        time has passed between events. Our API enforces a maximum connection
        duration of two hours,

        so any automated system that uses this endpoint will need to account for
        reconnecting periodically.


        The below is a small example client using the
        [sseclient](https://github.com/btubbs/sseclient)

        library for consuming a stream of Server-sent events. To use it, you'll
        need to install sseclient and

        [requests](https://docs.python-requests.org/en/master/index.html) and be
        using Python 3.7 or later.

        You will need to set your username and password into the `username` and
        `password`

        variables near the bottom of the file as well. Also, the sseclient
        library will automatically

        reconnect when the connection is lost.


        ```

        import asyncio

        import datetime


        import requests

        from sseclient import SSEClient


        BASE_URL = "https://api.packetfabric.com"


        LOGIN = f"{BASE_URL}/v2/auth/login"

        LOGOUT = f"{BASE_URL}/v2/auth/logout"

        EVENTS_BASE = f"{BASE_URL}/v2/events"



        def login(username, password):
            print("Logging in...")
            resp = requests.post(LOGIN, json={"login": username, "password": password})
            print(f"Login response: {resp.json()}")
            return resp.json()["token"]


        def logout(token):
            headers = {"Authorization": f"Bearer {token}"}
            requests.get(LOGOUT, headers=headers)
            print("Logged out")


        def create_subscription(token):
            url = EVENTS_BASE
            headers = {"Authorization": f"Bearer {token}"}
            body = {
                "streams": [{"type": "customer"}]
            }
            resp = requests.post(url, json=body, headers=headers)
            return resp.json()["subscription_uuid"]


        async def consume_client(token, subscription_uuid):
            headers = {"Authorization": f"Bearer {token}", "Accept": "text/event-stream"}
            url = f"{EVENTS_BASE}/{subscription_uuid}"
            r = SSEClient(url, headers=headers)
            for event in r:
                print(event.dump())


        if __name__ == "__main__":
            username = ""
            password = ""
            token = login(username, password)
            subscription_uuid = create_subscription(token)
            try:
                print(f"Starting stream at {datetime.datetime.utcnow().isoformat()}")
                asyncio.run(consume_client(token, subscription_uuid))
            finally:
                print(f"Ending stream at {datetime.datetime.utcnow().isoformat()}")
                logout(token)
        ```
      parameters:
        - description: UUID of the subscription bundle
          required: true
          in: path
          name: uuid
          schema:
            type: string
            format: uuid
      responses:
        default:
          description: Event stream
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/StreamEventsResponse'
  /v2/flex-bandwidth:
    post:
      tags:
        - Flex Bandwidth
      summary: Create a flex bandwidth container
      operationId: FlexBandwidth_createContainer
      description: >-
        Flex Bandwidth containers can be used to provision backbone, dedicated
        cloud, marketplace, and internet exchange virtual circuits as long as
        they are not usage-based or metro (single market) VCs.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlexBandwidthCreateContainerRequest'
      responses:
        '201':
          description: New flex bandwidth container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexBandwidthCreateContainerResponse'
    get:
      tags:
        - Flex Bandwidth
      summary: Get all flex bandwidth containers for the current customer
      operationId: FlexBandwidth_getAllContainers
      responses:
        '200':
          description: A list of flex bandwidth containers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexBandwidthGetAllContainersResponse'
  /v2/flex-bandwidth/{flex_bandwidth_id}:
    get:
      tags:
        - Flex Bandwidth
      summary: Get a flex bandwidth container by ID
      operationId: FlexBandwidth_getById
      parameters:
        - description: The ID of the flex bandwidth container
          in: path
          name: flex_bandwidth_id
          required: true
          schema:
            type: string
            example: PF-AB-1234
      responses:
        '200':
          description: The flex bandwidth container
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexBandwidthGetByIdResponse'
    delete:
      tags:
        - Flex Bandwidth
      summary: Delete a flex bandwidth container
      operationId: FlexBandwidth_deleteContainer
      parameters:
        - description: The ID of the flex bandwidth container
          in: path
          name: flex_bandwidth_id
          required: true
          schema:
            type: string
            example: PF-AB-1234
      responses:
        '200':
          description: Aggregate Capacity deleted successfully
  /v2/groups:
    get:
      tags:
        - Groups
      summary: Get the current customer's groups
      operationId: group_get
      description: >-
        Use this endpoint to get the list of groups available for the current
        customer
      responses:
        '200':
          description: List of the current customer's groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetResponse'
  /v2/groups/{group_name}/users:
    get:
      tags:
        - Groups
      summary: Get the list of users in the group
      operationId: Groups_getUserList
      parameters:
        - description: Name of the group to get the list of users in
          required: true
          in: path
          name: group_name
          schema:
            type: string
            example: regular
      responses:
        '200':
          description: List of users in the group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsGetUserListResponse'
  /v2/groups/{group_name}/permissions:
    get:
      tags:
        - Groups
      summary: Get the list of permissions granted for the group
      operationId: Groups_listPermissions
      description: >-
        Every granted permission makes it possible to use corresponding
        resources
      parameters:
        - description: Name of the group to get the list of permissions in
          required: true
          in: path
          name: group_name
          schema:
            type: string
            example: regular
      responses:
        '200':
          description: List of group's permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsListPermissionsResponse'
  /v2/locations/{site_code}:
    get:
      tags:
        - Locations
      summary: Get location data for specified location
      operationId: get_location
      parameters:
        - description: Site code of the target location
          required: true
          in: path
          name: site_code
          schema:
            type: string
            example: CS-LA1
      responses:
        '200':
          description: Details of a physical location specified by the site code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLocationResponse'
  /v2/locations:
    get:
      tags:
        - Locations
      summary: Get location list by filter params
      operationId: Locations_filterParamsList
      security: []
      parameters:
        - description: Filter locations by the POP name
          required: false
          in: query
          name: pop
          schema:
            type: string
            example: LAX1
        - description: Filter locations by the city name
          required: false
          in: query
          name: city
          schema:
            type: string
            example: Los Angeles
        - description: Filter locations by the state
          required: false
          in: query
          name: state
          schema:
            type: string
            example: CA
        - description: Filter locations by the market code
          required: false
          in: query
          name: market
          schema:
            type: string
            example: LAX
        - description: Filter locations by the region's short name
          required: false
          in: query
          name: region
          schema:
            type: string
            example: US
        - description: >-
            Flag specifying should only primary locations or locations of any
            type be returned
          required: false
          in: query
          name: any_type
          schema:
            type: boolean
            default: false
        - description: >-
            Flag specifying that only locations capable of IPSec should be
            returned
          required: false
          in: query
          name: ipsec_capable
          schema:
            type: boolean
            default: false
        - description: >-
            Flag specifying that only locations capable of NAT should be
            returned
          required: false
          in: query
          name: nat_capable
          schema:
            type: boolean
            default: false
        - description: >-
            Flag specifying that only locations with a proximity to a Cloud
            Router port should be returned
          required: false
          in: query
          name: near_cloud_router
          schema:
            type: boolean
            default: false
        - description: Filter locations by whether or not they are single armed
          required: false
          in: query
          name: single_armed
          schema:
            type: boolean
            default: false
        - description: >-
            Filter locations by the device port type. device_port_type can be
            specified multiple times with different values.
          required: false
          in: query
          name: device_port_type
          schema:
            type: string
          example: blue
      responses:
        '200':
          description: >-
            List of physical locations, optionally filtered by provided
            parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsFilterParamsListResponse'
  /v2.1/locations:
    get:
      tags:
        - Locations
      summary: Get location list by filter params
      operationId: Locations_filterParamsList
      security: []
      parameters:
        - description: Filter locations by the POP name
          required: false
          in: query
          name: pop
          schema:
            type: string
            example: LAX1
        - description: Filter locations by the city name
          required: false
          in: query
          name: city
          schema:
            type: string
            example: Los Angeles
        - description: Filter locations by the state
          required: false
          in: query
          name: state
          schema:
            type: string
            example: CA
        - description: Filter locations by the market code
          required: false
          in: query
          name: market
          schema:
            type: string
            example: LAX
        - description: Filter locations by the region's short name
          required: false
          in: query
          name: region
          schema:
            type: string
            example: US
        - description: >-
            Flag specifying should only primary locations or locations of any
            type be returned
          required: false
          in: query
          name: any_type
          schema:
            type: boolean
            default: false
        - description: >-
            Flag specifying that only locations capable of IPSec should be
            returned
          required: false
          in: query
          name: ipsec_capable
          schema:
            type: boolean
            default: false
        - description: >-
            Flag specifying that only locations capable of NAT should be
            returned
          required: false
          in: query
          name: nat_capable
          schema:
            type: boolean
            default: false
        - description: >-
            Flag specifying that only locations with a proximity to a Cloud
            Router port should be returned
          required: false
          in: query
          name: near_cloud_router
          schema:
            type: boolean
            default: false
        - description: Filter locations by the cloud provider
          required: false
          in: query
          name: cloud_provider
          schema:
            type: string
            enum:
              - aws
              - azure
              - google
              - ibm
              - oracle
        - description: Filter locations by the cloud connection type
          required: false
          in: query
          name: cloud_connection_type
          schema:
            type: string
            enum:
              - dedicated
              - hosted
        - description: Filter locations by the network provider
          required: false
          in: query
          name: network_provider
          schema:
            type: string
            example: PacketFabric
        - description: Filter locations by whether or not they are single armed
          required: false
          in: query
          name: single_armed
          schema:
            type: boolean
        - description: Export the data as a CSV file
          required: false
          in: query
          name: export
          schema:
            type: string
            example: csv
        - description: Filter locations by whether or not they support ENNI
          required: false
          in: query
          name: enni
          schema:
            type: boolean
        - description: >-
            Filter locations by the device port type. device_port_type can be
            specified multiple times with different values.
          required: false
          in: query
          name: device_port_type
          schema:
            type: string
          example: blue
      responses:
        '200':
          description: >-
            List of physical locations, optionally filtered by provided
            parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsFilterParamsList200Response'
  /v2/locations/cloud:
    get:
      tags:
        - Locations
      summary: Get a list of cloud locations filtered by query params
      operationId: Locations_listCloudLocations
      parameters:
        - description: Filter locations by the POP name
          required: false
          in: query
          name: pop
          schema:
            type: string
            example: LAX1
        - description: Filter locations by the city name
          required: false
          in: query
          name: city
          schema:
            type: string
            example: Los Angeles
        - description: Filter locations by the state
          required: false
          in: query
          name: state
          schema:
            type: string
            example: CA
        - description: Filter locations by the market code
          required: false
          in: query
          name: market
          schema:
            type: string
            example: LAX
        - description: Filter locations by the region's short name
          required: false
          in: query
          name: region
          schema:
            type: string
            example: US
        - description: >-
            Flag specifying should only primary locations or locations of any
            type be returned
          required: false
          in: query
          name: any_type
          schema:
            type: boolean
            default: false
        - description: Flag to look for only cloud-router capable locations
          required: false
          in: query
          name: has_cloud_router
          schema:
            type: boolean
            default: false
        - description: Filter locations by the cloud provider key
          required: true
          in: query
          name: cloud_provider
          schema:
            type: string
            enum:
              - aws
              - azure
              - packet
              - google
              - ibm
              - oracle
              - salesforce
              - webex
        - description: Filter locations by the cloud connection type
          required: true
          in: query
          name: cloud_connection_type
          schema:
            type: string
            enum:
              - hosted
              - dedicated
        - description: >-
            Flag specifying that only locations capable of NAT should be
            returned
          required: false
          in: query
          name: nat_capable
          schema:
            type: boolean
            default: false
        - description: >-
            Filter locations by the device port type. device_port_type can be
            specified multiple times with different values.
          required: false
          in: query
          name: device_port_type
          schema:
            type: string
          example: blue
      responses:
        '200':
          description: >-
            List of physical locations, optionally filtered by provided
            parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsListCloudLocationsResponse'
  /v2/locations/extrametro:
    get:
      tags:
        - Locations
      summary: Get a list of extrametro locations
      operationId: Locations_listExtrametro
      responses:
        '200':
          description: List of extrametro locations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsListExtrametroResponse'
  /v2/locations/regions:
    get:
      tags:
        - Locations
      summary: Get region list
      operationId: Locations_list
      responses:
        '200':
          description: List of available regions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsListResponse'
  /v2/locations/markets:
    get:
      tags:
        - Locations
      summary: Get market list
      operationId: Locations_getMarketList
      responses:
        '200':
          description: List of available markets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsGetMarketListResponse'
  /v2/locations/{pop}/port-availability:
    get:
      tags:
        - Locations
      summary: Get port availability data for a POP
      operationId: Locations_getPortAvailabilityDataForPop
      parameters:
        - description: POP name of the target port
          required: true
          in: path
          name: pop
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/LocationsGetPortAvailabilityDataForPopResponse
  /v2/locations/{pop}/zones:
    get:
      tags:
        - Locations
      summary: Get zones for a POP.
      operationId: Locations_getZonesForPOP
      parameters:
        - description: POP name of the target port
          required: true
          in: path
          name: pop
          schema:
            type: string
      responses:
        '200':
          description: A list of zones in the given POP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsGetZonesForPopResponse'
  /v2/locations/{pop}/image:
    get:
      tags:
        - Locations
      summary: Get image for a specified location
      operationId: Locations_getImage
      parameters:
        - description: POP name of the target location
          required: true
          in: path
          name: pop
          schema:
            type: string
      responses:
        '200':
          description: Location image in PNG, JPEG or BMP format
          content:
            image/jpeg:
              schema:
                $ref: '#/components/schemas/LocationsGetImageResponse'
            image/png:
              schema:
                $ref: '#/components/schemas/LocationsGetImage200Response'
            image/bmp:
              schema:
                $ref: '#/components/schemas/LocationsGetImage200Response1'
  /v2/labels/{value}:
    put:
      tags:
        - Labels
      summary: Update a label
      operationId: update_label
      parameters:
        - description: Label value
          required: true
          in: path
          name: value
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLabelRequest'
      responses:
        '200':
          description: Successfully updated labels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLabelResponse'
    patch:
      tags:
        - Labels
      summary: Add to a label's circuit_ids
      operationId: add_label
      parameters:
        - description: Label value
          required: true
          in: path
          name: value
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddLabelRequest'
      responses:
        '200':
          description: Successfully updated labels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddLabelResponse'
    get:
      tags:
        - Labels
      summary: Get a list of objects associated with a label
      operationId: Labels_associatedObjectsGet
      parameters:
        - description: Label value
          required: true
          in: path
          name: value
          schema:
            type: string
        - description: >-
            Label type. customer_ref by default. reseller_ref is only for the
            reseller customers
          required: false
          in: query
          name: label_type
          schema:
            type: string
            enum:
              - customer_ref
              - reseller_ref
      responses:
        '200':
          description: List of circuit IDs associated with a label
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelsAssociatedObjectsGetResponse'
  /v2/labels:
    get:
      tags:
        - Labels
      summary: Get a list of labels associated with a customer
      operationId: get_labels
      responses:
        '200':
          description: List of labels associated with a customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLabelsResponse'
  /v2/lags:
    post:
      tags:
        - LAGs
      summary: Create a LAG Interface
      operationId: lag_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LagPostRequest'
      responses:
        '201':
          description: LAG creation successful, returns newly created LAG
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LagPostResponse'
  /v2/lags/{port_circuit_id}:
    patch:
      tags:
        - LAGs
      summary: Updates a LAG Interface
      operationId: lag_patch
      parameters:
        - description: Port identifier
          required: true
          in: path
          name: port_circuit_id
          schema:
            type: string
          example: PF-AE-LAX1-1234
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LagPatchRequest'
      responses:
        '200':
          description: Returns the updated interface
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LagPatchResponse'
    delete:
      tags:
        - LAGs
      summary: Deletes a LAG Interface
      operationId: lag_delete
      parameters:
        - description: Port identifier
          required: true
          in: path
          name: port_circuit_id
          schema:
            type: string
          example: PF-AE-LAX1-1234
      responses:
        '200':
          description: Successfully started task to delete the interface
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LagDeleteResponse'
  /v2/lags/{port_circuit_id}/enable:
    post:
      tags:
        - LAGs
      summary: Enables a target LAG Interface
      operationId: LaGs_enableTargetInterface
      parameters:
        - description: Port identifier
          required: true
          in: path
          name: port_circuit_id
          schema:
            type: string
          example: PF-AE-LAX1-1234
      responses:
        '200':
          description: Successfully started task to enable the interface
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaGsEnableTargetInterfaceResponse'
  /v2/lags/{port_circuit_id}/disable:
    post:
      tags:
        - LAGs
      summary: Disables a target LAG Interface
      operationId: LaGs_disableTargetInterface
      parameters:
        - description: Port identifier
          required: true
          in: path
          name: port_circuit_id
          schema:
            type: string
          example: PF-AE-LAX1-1234
      responses:
        '200':
          description: Successfully started task to disable the interface
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaGsDisableTargetInterfaceResponse'
  /v2/lags/{lag_port_circuit_id}/members:
    get:
      tags:
        - LAGs
      summary: Lists member interfaces for a LAG
      operationId: LaGs_listMembers
      parameters:
        - description: ID of a LAG
          required: true
          in: path
          name: lag_port_circuit_id
          schema:
            type: string
          example: PF-AE-LAX1-1234
      responses:
        '200':
          description: List of port members of the LAG
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaGsListMembersResponse'
    post:
      tags:
        - LAGs
      summary: >-
        Adds a member interface to a target LAG. All members must have the same
        speed and media.
      operationId: LaGs_addMemberInterface
      parameters:
        - description: ID of a target LAG
          required: true
          in: path
          name: lag_port_circuit_id
          schema:
            type: string
          example: PF-AE-LAX1-1234
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaGsAddMemberInterfaceRequest'
      responses:
        '200':
          description: Successfully started task to add member interface(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaGsAddMemberInterfaceResponse'
  /v2/lags/{lag_port_circuit_id}/members/{member_port_circuit_id}:
    delete:
      tags:
        - LAGs
      summary: Remove a member interface from a target LAG
      operationId: LaGs_removeMemberInterface
      parameters:
        - description: ID of a target LAG
          required: true
          in: path
          name: lag_port_circuit_id
          schema:
            type: string
          example: PF-AE-LAX1-1234
        - description: ID of the member to remove
          required: true
          in: path
          name: member_port_circuit_id
          schema:
            type: string
          example: PF-AE-LAX1-7890
      responses:
        '200':
          description: Successfully started task to delete member interface
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaGsRemoveMemberInterfaceResponse'
  /v2/marketplace/services:
    get:
      tags:
        - Marketplace
      summary: Get the collection of customers with services offered in the marketplace
      operationId: Marketplace_customerServicesGet
      parameters:
        - description: >-
            Filters the service list to a specific service-provider customer.
            Allows multiple comma-separated values.
          required: false
          in: query
          name: routing_id
          schema:
            type: string
            example: GAL-OHR-I9MM
        - description: >-
            Filters the service list to a specific location. Allows multiple
            comma-separated values.
          required: false
          in: query
          name: pop
          schema:
            type: string
            example: SAC1
        - description: >-
            Filters the service list to a specific market. Allows multiple
            comma-separated values.
          required: false
          in: query
          name: market
          schema:
            type: string
            example: SAC
        - description: Filters the service list to a specific category
          required: false
          in: query
          name: category
          schema:
            type: string
            example: cloud-computing
        - description: >-
            Filters the service list to a specific industry. Allows multiple
            comma-separated values.
          required: false
          in: query
          name: industry
          schema:
            type: string
            example: telecommunications
        - description: >-
            Filters the service list by service provider type. Allows multiple
            comma-separated values.
          required: false
          in: query
          name: service_provider_type
          schema:
            type: string
            example: Cloud Computing Providers
        - description: >-
            Filters the service list by service type. Allows multiple
            comma-separated values. Defaults to port-service.
          required: false
          in: query
          name: service_type
          schema:
            type: string
            enum:
              - port-service
              - cloud-router-service
            example: Port Service
        - description: >-
            Show unpublished services. Only returns results for the current
            customer. Defaults to false.
          required: false
          in: query
          name: show_unpublished
          schema:
            type: boolean
            example: true
        - description: >-
            Filters services by partial name, description, service uuid, or
            customer name
          required: false
          in: query
          name: q
          schema:
            type: string
            example: 2ab4-948d-6954-2ab4
        - description: Show cloud-router services with no prefixes.
          required: false
          in: query
          name: show_empty
          schema:
            type: boolean
            example: true
            default: false
        - description: Number of records to skip
          name: offset
          required: false
          in: query
          schema:
            type: integer
            example: 20
        - description: Number of records to show
          name: page_size
          required: false
          in: query
          schema:
            type: integer
            example: 10
        - description: Column to sort results on
          name: sort_column
          required: false
          in: query
          schema:
            type: string
            enum:
              - customer_uuid
              - name
              - time_created
        - description: Pagination sort order.
          required: false
          in: query
          name: sort_order
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: List of all marketplace services matching the applied filters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceCustomerServicesGetResponse'
    post:
      tags:
        - Marketplace
      summary: Create a new service
      operationId: Marketplace_createService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceCreateServiceRequest'
      responses:
        '201':
          description: Created marketplace service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceCreateServiceResponse'
  /v2/marketplace/services/quick-connect:
    get:
      tags:
        - Marketplace
      summary: Get the collection of Quick Connect services
      operationId: Marketplace_quickConnectList
      parameters:
        - description: Filters the service list to a specific service-provider customer.
          required: false
          in: query
          name: routing_id
          schema:
            type: string
            example: GAL-OHR-I9MM
        - description: >-
            Indicates whether to return published services or unpublished
            services, used with routing_id param.
          required: false
          in: query
          name: published
          schema:
            type: boolean
            example: true
        - description: >-
            Filters the service list to a specific category. Allows multiple
            comma-separated values.
          required: false
          in: query
          name: category
          schema:
            type: string
            example: cloud-computing
        - description: >-
            Filters the service list to a specific industry. Allows multiple
            comma-separated values.
          required: false
          in: query
          name: industry
          schema:
            type: string
            example: telecommunications
        - description: >-
            Filters the service list by service provider type. Allows multiple
            comma-separated values.
          required: false
          in: query
          name: service_provider_type
          schema:
            type: string
            example: Cloud Computing Providers
        - description: Filters the service list by the attached cloud router id.
          required: false
          in: query
          name: l3nf_id
          schema:
            type: integer
            example: 1000
        - description: Filters services by partial name, description or service uuid
          required: false
          in: query
          name: q
          schema:
            type: string
            example: 2ab4-948d-6954-2ab4
        - description: Show cloud-router services with no prefixes.
          required: false
          in: query
          name: show_empty
          schema:
            type: boolean
            example: true
            default: false
        - description: Number of records to skip
          name: offset
          required: false
          in: query
          schema:
            type: integer
            example: 20
        - description: Number of records to show
          name: page_size
          required: false
          in: query
          schema:
            type: integer
            example: 10
        - description: Column to sort results on
          name: sort_column
          required: false
          in: query
          schema:
            type: string
            enum:
              - description
              - name
              - uuid
        - description: Pagination sort order.
          required: false
          in: query
          name: sort_order
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: List of all Quick Connect services matching the applied filters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceQuickConnectListResponse'
  /v2/marketplace/services/{service_uuid}:
    get:
      tags:
        - Marketplace
      summary: Get a single service object
      operationId: Marketplace_getServiceObject
      parameters:
        - description: UUID by which to filter
[...]
