openapi: 3.0.0
info:
  title: (v1.0) Dynamics 365 Business Central
  description: (v1.0) Business Central Standard APIs
  version: 1.0.0
servers:
  - description: (v1.0) "Sandbox"
    url: https://api.businesscentral.dynamics.com/v2.0/sandbox/api/v1.0
  - description: (v1.0) "Production"
    url: https://api.businesscentral.dynamics.com/v2.0/production/api/v1.0
tags:
  - description: >-
      (v1.0) Represents an object of type defaultDimensions in Dynamics 365
      Business Central
    name: defaultDimensions
  - description: >-
      (v1.0) Represents an object of type picture in Dynamics 365 Business
      Central
    name: picture
  - description: >-
      (v1.0) Represents an object of type attachments in Dynamics 365 Business
      Central
    name: attachments
  - description: >-
      (v1.0) Represents an object of type salesInvoice in Dynamics 365 Business
      Central
    name: salesInvoice
  - description: >-
      (v1.0) Represents an object of type salesInvoiceLine in Dynamics 365
      Business Central
    name: salesInvoiceLine
  - description: >-
      (v1.0) Represents an object of type pdfDocument in Dynamics 365 Business
      Central
    name: pdfDocument
  - description: >-
      (v1.0) Represents an object of type customerPayment in Dynamics 365
      Business Central
    name: customerPayment
  - description: >-
      (v1.0) Represents an object of type journalLine in Dynamics 365 Business
      Central
    name: journalLine
  - description: >-
      (v1.0) Represents an object of type timeRegistrationEntry in Dynamics 365
      Business Central
    name: timeRegistrationEntry
  - description: >-
      (v1.0) Represents an object of type salesOrderLine in Dynamics 365
      Business Central
    name: salesOrderLine
  - description: >-
      (v1.0) Represents an object of type salesQuoteLine in Dynamics 365
      Business Central
    name: salesQuoteLine
  - description: >-
      (v1.0) Represents an object of type salesCreditMemo in Dynamics 365
      Business Central
    name: salesCreditMemo
  - description: >-
      (v1.0) Represents an object of type salesCreditMemoLine in Dynamics 365
      Business Central
    name: salesCreditMemoLine
  - description: >-
      (v1.0) Represents an object of type purchaseInvoiceLine in Dynamics 365
      Business Central
    name: purchaseInvoiceLine
  - description: >-
      (v1.0) Represents an object of type salesQuote in Dynamics 365 Business
      Central
    name: salesQuote
  - description: >-
      (v1.0) Represents an object of type journal in Dynamics 365 Business
      Central
    name: journal
  - description: >-
      (v1.0) Represents an object of type salesOrder in Dynamics 365 Business
      Central
    name: salesOrder
  - description: >-
      (v1.0) Represents an object of type purchaseInvoice in Dynamics 365
      Business Central
    name: purchaseInvoice
  - description: (v1.0) Represents an object of type item in Dynamics 365 Business Central
    name: item
  - description: >-
      (v1.0) Represents an object of type customer in Dynamics 365 Business
      Central
    name: customer
  - description: >-
      (v1.0) Represents an object of type vendor in Dynamics 365 Business
      Central
    name: vendor
  - description: >-
      (v1.0) Represents an object of type customerPaymentJournal in Dynamics 365
      Business Central
    name: customerPaymentJournal
  - description: >-
      (v1.0) Represents an object of type taxGroup in Dynamics 365 Business
      Central
    name: taxGroup
  - description: >-
      (v1.0) Represents an object of type employee in Dynamics 365 Business
      Central
    name: employee
  - description: >-
      (v1.0) Represents an object of type currency in Dynamics 365 Business
      Central
    name: currency
  - description: >-
      (v1.0) Represents an object of type paymentMethod in Dynamics 365 Business
      Central
    name: paymentMethod
  - description: >-
      (v1.0) Represents an object of type dimensionLine in Dynamics 365 Business
      Central
    name: dimensionLine
  - description: >-
      (v1.0) Represents an object of type paymentTerm in Dynamics 365 Business
      Central
    name: paymentTerm
  - description: >-
      (v1.0) Represents an object of type shipmentMethod in Dynamics 365
      Business Central
    name: shipmentMethod
  - description: >-
      (v1.0) Represents an object of type itemCategory in Dynamics 365 Business
      Central
    name: itemCategory
  - description: >-
      (v1.0) Represents an object of type countryRegion in Dynamics 365 Business
      Central
    name: countryRegion
  - description: >-
      (v1.0) Represents an object of type unitOfMeasure in Dynamics 365 Business
      Central
    name: unitOfMeasure
  - description: >-
      (v1.0) Represents an object of type taxArea in Dynamics 365 Business
      Central
    name: taxArea
  - description: >-
      (v1.0) Represents an object of type generalLedgerEntryAttachments in
      Dynamics 365 Business Central
    name: generalLedgerEntryAttachments
  - description: >-
      (v1.0) Represents an object of type project in Dynamics 365 Business
      Central
    name: project
  - description: >-
      (v1.0) Represents an object of type bankAccount in Dynamics 365 Business
      Central
    name: bankAccount
  - description: >-
      (v1.0) Represents an object of type customerFinancialDetail in Dynamics
      365 Business Central
    name: customerFinancialDetail
  - description: >-
      (v1.0) Represents an object of type dimensionValue in Dynamics 365
      Business Central
    name: dimensionValue
  - description: >-
      (v1.0) Represents an object of type companyInformation in Dynamics 365
      Business Central
    name: companyInformation
  - description: >-
      (v1.0) Represents an object of type company in Dynamics 365 Business
      Central
    name: company
  - description: >-
      (v1.0) Represents an object of type account in Dynamics 365 Business
      Central
    name: account
  - description: >-
      (v1.0) Represents an object of type generalLedgerEntry in Dynamics 365
      Business Central
    name: generalLedgerEntry
  - description: >-
      (v1.0) Represents an object of type dimension in Dynamics 365 Business
      Central
    name: dimension
  - description: >-
      (v1.0) Represents an object of type cashFlowStatement in Dynamics 365
      Business Central
    name: cashFlowStatement
  - description: >-
      (v1.0) Represents an object of type retainedEarningsStatement in Dynamics
      365 Business Central
    name: retainedEarningsStatement
  - description: >-
      (v1.0) Represents an object of type agedAccountsReceivable in Dynamics 365
      Business Central
    name: agedAccountsReceivable
  - description: >-
      (v1.0) Represents an object of type agedAccountsPayable in Dynamics 365
      Business Central
    name: agedAccountsPayable
  - description: >-
      (v1.0) Represents an object of type balanceSheet in Dynamics 365 Business
      Central
    name: balanceSheet
  - description: >-
      (v1.0) Represents an object of type trialBalance in Dynamics 365 Business
      Central
    name: trialBalance
  - description: >-
      (v1.0) Represents an object of type incomeStatement in Dynamics 365
      Business Central
    name: incomeStatement
  - description: >-
      (v1.0) Represents an object of type customerSale in Dynamics 365 Business
      Central
    name: customerSale
  - description: >-
      (v1.0) Represents an object of type vendorPurchase in Dynamics 365
      Business Central
    name: vendorPurchase
paths:
  /companies:
    get:
      tags:
        - company
      summary: Returns a list of companies
      operationId: Company_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - systemVersion
                - name
                - displayName
                - businessProfileId
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of companies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetListResponse'
  /companies({company_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - company
      summary: >-
        Retrieve the properties and relationships of an object of type company
        for Dynamics 365 Business Central.
      operationId: Company_getProperties
      parameters:
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - systemVersion
                - name
                - displayName
                - businessProfileId
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/company'
  /companies({company_id})/items:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - item
      summary: Returns a list of items
      operationId: Item_list
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - picture
                - defaultDimensions
                - itemCategory
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - displayName
                - type
                - itemCategoryId
                - itemCategoryCode
                - blocked
                - baseUnitOfMeasureId
                - baseUnitOfMeasure
                - gtin
                - inventory
                - unitPrice
                - priceIncludesTax
                - unitCost
                - taxGroupId
                - taxGroupCode
                - lastModifiedDateTime
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemListResponse'
    post:
      tags:
        - item
      summary: Creates an object of type item in Dynamics 365 Business Central
      operationId: Item_createDynamicsObject
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/item'
      responses:
        '201':
          description: (v1.0) A new item has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item'
  /companies({company_id})/items({item_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for item
        name: item_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - item
      summary: >-
        Retrieve the properties and relationships of an object of type item for
        Dynamics 365 Business Central.
      operationId: Item_getProperties
      parameters:
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - picture
                - defaultDimensions
                - itemCategory
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - displayName
                - type
                - itemCategoryId
                - itemCategoryCode
                - blocked
                - baseUnitOfMeasureId
                - baseUnitOfMeasure
                - gtin
                - inventory
                - unitPrice
                - priceIncludesTax
                - unitCost
                - taxGroupId
                - taxGroupCode
                - lastModifiedDateTime
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item'
    delete:
      tags:
        - item
      summary: Deletes an object of type item in Dynamics 365 Business Central
      operationId: Item_deleteD365Object
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified item
    patch:
      tags:
        - item
      summary: Updates an object of type item in Dynamics 365 Business Central
      operationId: Item_updateDynamicsObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/item'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifieditem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item'
  /companies({company_id})/items({item_id})/picture:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for item
        name: item_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - picture
      summary: Returns a list of picture
      operationId: Picture_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - width
                - height
                - contentType
                - content
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PictureGetListResponse'
  /companies({company_id})/items({item_id})/picture({picture_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for item
        name: item_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for picture
        name: picture_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - picture
      summary: >-
        Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: Picture_getProperties
      parameters:
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - width
                - height
                - contentType
                - content
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
    delete:
      tags:
        - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: Picture_deleteObjectById
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified picture
    patch:
      tags:
        - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: Picture_updateDynamicsObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
  /companies({company_id})/items({item_id})/defaultDimensions:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for item
        name: item_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: DefaultDimensions_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - account
                - dimension
                - dimensionValue
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - parentId
                - dimensionId
                - dimensionCode
                - dimensionValueId
                - dimensionValueCode
                - postingValidation
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensionsGetListResponse'
    post:
      tags:
        - defaultDimensions
      summary: >-
        Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_createDynamicsObject
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '201':
          description: (v1.0) A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/items({item_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for item
        name: item_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) parentId for defaultDimensions
        name: defaultDimensions_parentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) dimensionId for defaultDimensions
        name: defaultDimensions_dimensionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - defaultDimensions
      summary: >-
        Retrieve the properties and relationships of an object of type
        defaultDimensions for Dynamics 365 Business Central.
      operationId: DefaultDimensions_getProperties
      parameters:
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - account
                - dimension
                - dimensionValue
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - parentId
                - dimensionId
                - dimensionCode
                - dimensionValueId
                - dimensionValueCode
                - postingValidation
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
    delete:
      tags:
        - defaultDimensions
      summary: >-
        Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_deleteObject
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified defaultDimensions
    patch:
      tags:
        - defaultDimensions
      summary: >-
        Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_updateObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/picture:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - picture
      summary: Returns a list of picture
      operationId: Picture_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - width
                - height
                - contentType
                - content
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PictureGetList200Response'
  /companies({company_id})/picture({picture_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for picture
        name: picture_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - picture
      summary: >-
        Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: Picture_getProperties
      parameters:
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - width
                - height
                - contentType
                - content
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
    delete:
      tags:
        - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: Picture_deleteD365Object
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified picture
    patch:
      tags:
        - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: Picture_updateDynamicsObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
  /companies({company_id})/defaultDimensions:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: DefaultDimensions_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - account
                - dimension
                - dimensionValue
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - parentId
                - dimensionId
                - dimensionCode
                - dimensionValueId
                - dimensionValueCode
                - postingValidation
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensionsGetList200Response'
    post:
      tags:
        - defaultDimensions
      summary: >-
        Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_createD365Object
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '201':
          description: (v1.0) A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) parentId for defaultDimensions
        name: defaultDimensions_parentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) dimensionId for defaultDimensions
        name: defaultDimensions_dimensionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - defaultDimensions
      summary: >-
        Retrieve the properties and relationships of an object of type
        defaultDimensions for Dynamics 365 Business Central.
      operationId: DefaultDimensions_getProperties
      parameters:
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - account
                - dimension
                - dimensionValue
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - parentId
                - dimensionId
                - dimensionCode
                - dimensionValueId
                - dimensionValueCode
                - postingValidation
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
    delete:
      tags:
        - defaultDimensions
      summary: >-
        Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_deleteObject
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified defaultDimensions
    patch:
      tags:
        - defaultDimensions
      summary: >-
        Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_updateObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/customers:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - customer
      summary: Returns a list of customers
      operationId: Customer_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - customerFinancialDetails
                - picture
                - defaultDimensions
                - currency
                - paymentTerm
                - shipmentMethod
                - paymentMethod
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - displayName
                - type
                - address
                - phoneNumber
                - email
                - website
                - taxLiable
                - taxAreaId
                - taxAreaDisplayName
                - taxRegistrationNumber
                - currencyId
                - currencyCode
                - paymentTermsId
                - shipmentMethodId
                - paymentMethodId
                - blocked
                - lastModifiedDateTime
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerGetListResponse'
    post:
      tags:
        - customer
      summary: Creates an object of type customer in Dynamics 365 Business Central
      operationId: Customer_createDynamicsObject
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/customer'
      responses:
        '201':
          description: (v1.0) A new customer has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
  /companies({company_id})/customers({customer_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for customer
        name: customer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - customer
      summary: >-
        Retrieve the properties and relationships of an object of type customer
        for Dynamics 365 Business Central.
      operationId: Customer_getProperties
      parameters:
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - customerFinancialDetails
                - picture
                - defaultDimensions
                - currency
                - paymentTerm
                - shipmentMethod
                - paymentMethod
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - displayName
                - type
                - address
                - phoneNumber
                - email
                - website
                - taxLiable
                - taxAreaId
                - taxAreaDisplayName
                - taxRegistrationNumber
                - currencyId
                - currencyCode
                - paymentTermsId
                - shipmentMethodId
                - paymentMethodId
                - blocked
                - lastModifiedDateTime
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
    delete:
      tags:
        - customer
      summary: Deletes an object of type customer in Dynamics 365 Business Central
      operationId: Customer_deleteD365Object
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified customer
    patch:
      tags:
        - customer
      summary: Updates an object of type customer in Dynamics 365 Business Central
      operationId: Customer_updateDynamicsObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/customer'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifiedcustomer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
  /companies({company_id})/customers({customer_id})/customerFinancialDetails:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for customer
        name: customer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - customerFinancialDetail
      summary: Returns a list of customerFinancialDetails
      operationId: CustomerFinancialDetail_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - balance
                - totalSalesExcludingTax
                - overdueAmount
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of customerFinancialDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFinancialDetailGetListResponse'
  /companies({company_id})/customers({customer_id})/customerFinancialDetails({customerFinancialDetail_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for customer
        name: customer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for customerFinancialDetail
        name: customerFinancialDetail_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - customerFinancialDetail
      summary: >-
        Retrieve the properties and relationships of an object of type
        customerFinancialDetail for Dynamics 365 Business Central.
      operationId: CustomerFinancialDetail_getProperties
      parameters:
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - balance
                - totalSalesExcludingTax
                - overdueAmount
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested customerFinancialDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerFinancialDetail'
  /companies({company_id})/customers({customer_id})/picture:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for customer
        name: customer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - picture
      summary: Returns a list of picture
      operationId: Picture_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - width
                - height
                - contentType
                - content
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PictureGetList200Response'
  /companies({company_id})/customers({customer_id})/picture({picture_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for customer
        name: customer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for picture
        name: picture_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - picture
      summary: >-
        Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: Picture_getProperties
      parameters:
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - width
                - height
                - contentType
                - content
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
    delete:
      tags:
        - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: Picture_deleteObjectById
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified picture
    patch:
      tags:
        - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: Picture_updateObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
  /companies({company_id})/customers({customer_id})/defaultDimensions:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for customer
        name: customer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: DefaultDimensions_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - account
                - dimension
                - dimensionValue
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - parentId
                - dimensionId
                - dimensionCode
                - dimensionValueId
                - dimensionValueCode
                - postingValidation
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensionsGetList200Response'
    post:
      tags:
        - defaultDimensions
      summary: >-
        Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_createDynamicsObject
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '201':
          description: (v1.0) A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/customers({customer_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for customer
        name: customer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) parentId for defaultDimensions
        name: defaultDimensions_parentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) dimensionId for defaultDimensions
        name: defaultDimensions_dimensionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - defaultDimensions
      summary: >-
        Retrieve the properties and relationships of an object of type
        defaultDimensions for Dynamics 365 Business Central.
      operationId: DefaultDimensions_getProperties
      parameters:
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - account
                - dimension
                - dimensionValue
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - parentId
                - dimensionId
                - dimensionCode
                - dimensionValueId
                - dimensionValueCode
                - postingValidation
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
    delete:
      tags:
        - defaultDimensions
      summary: >-
        Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_deleteObject
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified defaultDimensions
    patch:
      tags:
        - defaultDimensions
      summary: >-
        Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_updateObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/customerFinancialDetails:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - customerFinancialDetail
      summary: Returns a list of customerFinancialDetails
      operationId: CustomerFinancialDetail_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - balance
                - totalSalesExcludingTax
                - overdueAmount
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of customerFinancialDetails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFinancialDetailGetList200Response'
  /companies({company_id})/customerFinancialDetails({customerFinancialDetail_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for customerFinancialDetail
        name: customerFinancialDetail_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - customerFinancialDetail
      summary: >-
        Retrieve the properties and relationships of an object of type
        customerFinancialDetail for Dynamics 365 Business Central.
      operationId: CustomerFinancialDetail_getProperties
      parameters:
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - balance
                - totalSalesExcludingTax
                - overdueAmount
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested customerFinancialDetail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerFinancialDetail'
  /companies({company_id})/vendors:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - vendor
      summary: Returns a list of vendors
      operationId: Vendor_list
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - picture
                - defaultDimensions
                - currency
                - paymentTerm
                - paymentMethod
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - displayName
                - address
                - phoneNumber
                - email
                - website
                - taxRegistrationNumber
                - currencyId
                - currencyCode
                - irs1099Code
                - paymentTermsId
                - paymentMethodId
                - taxLiable
                - blocked
                - balance
                - lastModifiedDateTime
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of vendors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorListResponse'
    post:
      tags:
        - vendor
      summary: Creates an object of type vendor in Dynamics 365 Business Central
      operationId: Vendor_createDynamicsObject
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/vendor'
      responses:
        '201':
          description: (v1.0) A new vendor has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vendor'
  /companies({company_id})/vendors({vendor_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for vendor
        name: vendor_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - vendor
      summary: >-
        Retrieve the properties and relationships of an object of type vendor
        for Dynamics 365 Business Central.
      operationId: Vendor_getProperties
      parameters:
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - picture
                - defaultDimensions
                - currency
                - paymentTerm
                - paymentMethod
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - displayName
                - address
                - phoneNumber
                - email
                - website
                - taxRegistrationNumber
                - currencyId
                - currencyCode
                - irs1099Code
                - paymentTermsId
                - paymentMethodId
                - taxLiable
                - blocked
                - balance
                - lastModifiedDateTime
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested vendor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vendor'
    delete:
      tags:
        - vendor
      summary: Deletes an object of type vendor in Dynamics 365 Business Central
      operationId: Vendor_deleteD365Object
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified vendor
    patch:
      tags:
        - vendor
      summary: Updates an object of type vendor in Dynamics 365 Business Central
      operationId: Vendor_updateDynamicsObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/vendor'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifiedvendor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vendor'
  /companies({company_id})/vendors({vendor_id})/picture:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for vendor
        name: vendor_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - picture
      summary: Returns a list of picture
      operationId: Picture_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - width
                - height
                - contentType
                - content
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PictureGetList200Response'
  /companies({company_id})/vendors({vendor_id})/picture({picture_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for vendor
        name: vendor_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for picture
        name: picture_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - picture
      summary: >-
        Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: Picture_getProperties
      parameters:
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - width
                - height
                - contentType
                - content
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
    delete:
      tags:
        - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: Picture_deleteObjectById
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified picture
    patch:
      tags:
        - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: Picture_updateObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/picture'
  /companies({company_id})/vendors({vendor_id})/defaultDimensions:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for vendor
        name: vendor_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: DefaultDimensions_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - account
                - dimension
                - dimensionValue
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - parentId
                - dimensionId
                - dimensionCode
                - dimensionValueId
                - dimensionValueCode
                - postingValidation
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensionsGetList200Response'
    post:
      tags:
        - defaultDimensions
      summary: >-
        Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_createDynamicsObject
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '201':
          description: (v1.0) A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/vendors({vendor_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for vendor
        name: vendor_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) parentId for defaultDimensions
        name: defaultDimensions_parentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) dimensionId for defaultDimensions
        name: defaultDimensions_dimensionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - defaultDimensions
      summary: >-
        Retrieve the properties and relationships of an object of type
        defaultDimensions for Dynamics 365 Business Central.
      operationId: DefaultDimensions_getProperties
      parameters:
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - account
                - dimension
                - dimensionValue
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - parentId
                - dimensionId
                - dimensionCode
                - dimensionValueId
                - dimensionValueCode
                - postingValidation
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
    delete:
      tags:
        - defaultDimensions
      summary: >-
        Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_deleteObject
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified defaultDimensions
    patch:
      tags:
        - defaultDimensions
      summary: >-
        Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: DefaultDimensions_updateObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defaultDimensions'
  /companies({company_id})/companyInformation:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - companyInformation
      summary: Returns a list of companyInformation
      operationId: CompanyInformation_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - displayName
                - address
                - phoneNumber
                - faxNumber
                - email
                - website
                - taxRegistrationNumber
                - currencyCode
                - currentFiscalYearStartDate
                - industry
                - picture
                - lastModifiedDateTime
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of companyInformation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInformationGetListResponse'
  /companies({company_id})/companyInformation({companyInformation_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for companyInformation
        name: companyInformation_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - companyInformation
      summary: >-
        Retrieve the properties and relationships of an object of type
        companyInformation for Dynamics 365 Business Central.
      operationId: CompanyInformation_getProperties
      parameters:
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - displayName
                - address
                - phoneNumber
                - faxNumber
                - email
                - website
                - taxRegistrationNumber
                - currencyCode
                - currentFiscalYearStartDate
                - industry
                - picture
                - lastModifiedDateTime
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested companyInformation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyInformation'
    patch:
      tags:
        - companyInformation
      summary: >-
        Updates an object of type companyInformation in Dynamics 365 Business
        Central
      operationId: CompanyInformation_updateDynamicsObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/companyInformation'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifiedcompanyInformation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyInformation'
  /companies({company_id})/salesInvoices:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - salesInvoice
      summary: Returns a list of salesInvoices
      operationId: SalesInvoice_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - salesInvoiceLines
                - pdfDocument
                - customer
                - currency
                - paymentTerm
                - shipmentMethod
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - externalDocumentNumber
                - invoiceDate
                - dueDate
                - customerPurchaseOrderReference
                - customerId
                - contactId
                - customerNumber
                - customerName
                - billToName
                - billToCustomerId
                - billToCustomerNumber
                - shipToName
                - shipToContact
                - sellingPostalAddress
                - billingPostalAddress
                - shippingPostalAddress
                - currencyId
                - currencyCode
                - orderId
                - orderNumber
                - paymentTermsId
                - shipmentMethodId
                - salesperson
                - pricesIncludeTax
                - remainingAmount
                - discountAmount
                - discountAppliedBeforeTax
                - totalAmountExcludingTax
                - totalTaxAmount
                - totalAmountIncludingTax
                - status
                - lastModifiedDateTime
                - phoneNumber
                - email
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of salesInvoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceGetListResponse'
    post:
      tags:
        - salesInvoice
      summary: Creates an object of type salesInvoice in Dynamics 365 Business Central
      operationId: SalesInvoice_createDynamicsObject
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/salesInvoice'
      responses:
        '201':
          description: (v1.0) A new salesInvoice has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesInvoice'
  /companies({company_id})/salesInvoices({salesInvoice_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoice
        name: salesInvoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - salesInvoice
      summary: >-
        Retrieve the properties and relationships of an object of type
        salesInvoice for Dynamics 365 Business Central.
      operationId: SalesInvoice_getProperties
      parameters:
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - salesInvoiceLines
                - pdfDocument
                - customer
                - currency
                - paymentTerm
                - shipmentMethod
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - number
                - externalDocumentNumber
                - invoiceDate
                - dueDate
                - customerPurchaseOrderReference
                - customerId
                - contactId
                - customerNumber
                - customerName
                - billToName
                - billToCustomerId
                - billToCustomerNumber
                - shipToName
                - shipToContact
                - sellingPostalAddress
                - billingPostalAddress
                - shippingPostalAddress
                - currencyId
                - currencyCode
                - orderId
                - orderNumber
                - paymentTermsId
                - shipmentMethodId
                - salesperson
                - pricesIncludeTax
                - remainingAmount
                - discountAmount
                - discountAppliedBeforeTax
                - totalAmountExcludingTax
                - totalTaxAmount
                - totalAmountIncludingTax
                - status
                - lastModifiedDateTime
                - phoneNumber
                - email
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested salesInvoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesInvoice'
    delete:
      tags:
        - salesInvoice
      summary: Deletes an object of type salesInvoice in Dynamics 365 Business Central
      operationId: SalesInvoice_deleteObject
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified salesInvoice
    patch:
      tags:
        - salesInvoice
      summary: Updates an object of type salesInvoice in Dynamics 365 Business Central
      operationId: SalesInvoice_updateObjectById
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/salesInvoice'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifiedsalesInvoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesInvoice'
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.cancelAndSend:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoice
        name: salesInvoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - salesInvoice
      summary: Performs the cancelAndSend action for salesInvoices entity
      operationId: SalesInvoice_cancelAndSendAction
      responses:
        '204':
          description: >-
            (v1.0) Succesfully performed a cancelAndSend action on the Dynamic
            365 Business Central salesInvoices entity
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.cancel:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoice
        name: salesInvoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - salesInvoice
      summary: Performs the cancel action for salesInvoices entity
      operationId: SalesInvoice_cancelAction
      responses:
        '204':
          description: >-
            (v1.0) Succesfully performed a cancel action on the Dynamic 365
            Business Central salesInvoices entity
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.makeCorrectiveCreditMemo:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoice
        name: salesInvoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - salesInvoice
      summary: Performs the makeCorrectiveCreditMemo action for salesInvoices entity
      operationId: SalesInvoice_performMakeCorrectiveCreditMemo
      responses:
        '204':
          description: >-
            (v1.0) Succesfully performed a makeCorrectiveCreditMemo action on
            the Dynamic 365 Business Central salesInvoices entity
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.postAndSend:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoice
        name: salesInvoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - salesInvoice
      summary: Performs the postAndSend action for salesInvoices entity
      operationId: SalesInvoice_postAndSendAction
      responses:
        '204':
          description: >-
            (v1.0) Succesfully performed a postAndSend action on the Dynamic 365
            Business Central salesInvoices entity
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.post:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoice
        name: salesInvoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - salesInvoice
      summary: Performs the post action for salesInvoices entity
      operationId: SalesInvoice_postAction
      responses:
        '204':
          description: >-
            (v1.0) Succesfully performed a post action on the Dynamic 365
            Business Central salesInvoices entity
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.send:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoice
        name: salesInvoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - salesInvoice
      summary: Performs the send action for salesInvoices entity
      operationId: SalesInvoice_sendAction
      responses:
        '204':
          description: >-
            (v1.0) Succesfully performed a send action on the Dynamic 365
            Business Central salesInvoices entity
  /companies({company_id})/salesInvoices({salesInvoice_id})/salesInvoiceLines:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoice
        name: salesInvoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - salesInvoiceLine
      summary: Returns a list of salesInvoiceLines
      operationId: SalesInvoiceLine_list
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - item
                - account
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - documentId
                - sequence
                - itemId
                - accountId
                - lineType
                - lineDetails
                - description
                - unitOfMeasureId
                - unitOfMeasure
                - unitPrice
                - quantity
                - discountAmount
                - discountPercent
                - discountAppliedBeforeTax
                - amountExcludingTax
                - taxCode
                - taxPercent
                - totalTaxAmount
                - amountIncludingTax
                - invoiceDiscountAllocation
                - netAmount
                - netTaxAmount
                - netAmountIncludingTax
                - shipmentDate
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of salesInvoiceLines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceLineListResponse'
    post:
      tags:
        - salesInvoiceLine
      summary: >-
        Creates an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: SalesInvoiceLine_createD365Object
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/salesInvoiceLine'
      responses:
        '201':
          description: (v1.0) A new salesInvoiceLine has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesInvoiceLine'
  /companies({company_id})/salesInvoices({salesInvoice_id})/salesInvoiceLines('{salesInvoiceLine_id}'):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoice
        name: salesInvoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoiceLine
        name: salesInvoiceLine_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - salesInvoiceLine
      summary: >-
        Retrieve the properties and relationships of an object of type
        salesInvoiceLine for Dynamics 365 Business Central.
      operationId: SalesInvoiceLine_getProperties
      parameters:
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - item
                - account
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - documentId
                - sequence
                - itemId
                - accountId
                - lineType
                - lineDetails
                - description
                - unitOfMeasureId
                - unitOfMeasure
                - unitPrice
                - quantity
                - discountAmount
                - discountPercent
                - discountAppliedBeforeTax
                - amountExcludingTax
                - taxCode
                - taxPercent
                - totalTaxAmount
                - amountIncludingTax
                - invoiceDiscountAllocation
                - netAmount
                - netTaxAmount
                - netAmountIncludingTax
                - shipmentDate
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested salesInvoiceLine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesInvoiceLine'
    delete:
      tags:
        - salesInvoiceLine
      summary: >-
        Deletes an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: SalesInvoiceLine_delete
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified salesInvoiceLine
    patch:
      tags:
        - salesInvoiceLine
      summary: >-
        Updates an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: SalesInvoiceLine_updateObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/salesInvoiceLine'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifiedsalesInvoiceLine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesInvoiceLine'
  /companies({company_id})/salesInvoices({salesInvoice_id})/pdfDocument:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoice
        name: salesInvoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - pdfDocument
      summary: Returns a list of pdfDocument
      operationId: PdfDocument_getPdf
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - content
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of pdfDocument
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfDocumentGetPdfResponse'
  /companies({company_id})/salesInvoices({salesInvoice_id})/pdfDocument({pdfDocument_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoice
        name: salesInvoice_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for pdfDocument
        name: pdfDocument_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - pdfDocument
      summary: >-
        Retrieve the properties and relationships of an object of type
        pdfDocument for Dynamics 365 Business Central.
      operationId: PdfDocument_getProperties
      parameters:
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - content
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested pdfDocument
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pdfDocument'
  /companies({company_id})/salesInvoiceLines:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - salesInvoiceLine
      summary: Returns a list of salesInvoiceLines
      operationId: SalesInvoiceLine_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - item
                - account
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - documentId
                - sequence
                - itemId
                - accountId
                - lineType
                - lineDetails
                - description
                - unitOfMeasureId
                - unitOfMeasure
                - unitPrice
                - quantity
                - discountAmount
                - discountPercent
                - discountAppliedBeforeTax
                - amountExcludingTax
                - taxCode
                - taxPercent
                - totalTaxAmount
                - amountIncludingTax
                - invoiceDiscountAllocation
                - netAmount
                - netTaxAmount
                - netAmountIncludingTax
                - shipmentDate
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of salesInvoiceLines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceLineGetListResponse'
    post:
      tags:
        - salesInvoiceLine
      summary: >-
        Creates an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: SalesInvoiceLine_createDynamicsObject
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/salesInvoiceLine'
      responses:
        '201':
          description: (v1.0) A new salesInvoiceLine has been succesfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesInvoiceLine'
  /companies({company_id})/salesInvoiceLines('{salesInvoiceLine_id}'):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for salesInvoiceLine
        name: salesInvoiceLine_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - salesInvoiceLine
      summary: >-
        Retrieve the properties and relationships of an object of type
        salesInvoiceLine for Dynamics 365 Business Central.
      operationId: SalesInvoiceLine_getProperties
      parameters:
        - description: (v1.0) Entities to expand
          name: $expand
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - item
                - account
          style: form
          explode: false
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - documentId
                - sequence
                - itemId
                - accountId
                - lineType
                - lineDetails
                - description
                - unitOfMeasureId
                - unitOfMeasure
                - unitPrice
                - quantity
                - discountAmount
                - discountPercent
                - discountAppliedBeforeTax
                - amountExcludingTax
                - taxCode
                - taxPercent
                - totalTaxAmount
                - amountIncludingTax
                - invoiceDiscountAllocation
                - netAmount
                - netTaxAmount
                - netAmountIncludingTax
                - shipmentDate
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned the requested salesInvoiceLine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesInvoiceLine'
    delete:
      tags:
        - salesInvoiceLine
      summary: >-
        Deletes an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: SalesInvoiceLine_deleteObject
      responses:
        '204':
          description: (v1.0) Succesfully deleted the specified salesInvoiceLine
    patch:
      tags:
        - salesInvoiceLine
      summary: >-
        Updates an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: SalesInvoiceLine_updateObject
      parameters:
        - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/salesInvoiceLine'
      responses:
        '200':
          description: (v1.0) Succesfully updated the specifiedsalesInvoiceLine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/salesInvoiceLine'
  /companies({company_id})/pdfDocument:
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - pdfDocument
      summary: Returns a list of pdfDocument
      operationId: PdfDocument_getList
      parameters:
        - $ref: '#/components/parameters/topParam'
        - $ref: '#/components/parameters/skipParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filterParam'
        - description: (v1.0) Selected properties to be retrieved
          name: $select
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - content
          style: form
          explode: false
      responses:
        '200':
          description: (v1.0) Succesfully returned a list of pdfDocument
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfDocumentGetListResponse'
  /companies({company_id})/pdfDocument({pdfDocument_id}):
    parameters:
      - description: (v1.0) id for company
        name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - description: (v1.0) id for pdfDocument
        name: pdfDocument_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
[...]
