openapi: 3.0.1
info:
  title: Adatree ADR Platform Data API
  description: >-
    Adatree's Accredited Data Recipient (ADR) Platform Data API definition.
    Includes Banking and Energy.
  version: 1.1.0
  contact:
    name: Adatree Pty Ltd
    url: https://adatree.com.au
    email: engineering@adatree.com.au
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://cdr-insights-prod.api.adatree.com.au
tags:
  - name: Banking
  - name: Energy
  - name: Common
paths:
  /data/banking/accounts:
    get:
      tags:
        - Banking
      summary: Get Banking Accounts
      operationId: Banking_getAccounts
      security:
        - bearerAuth:
            - data:banking:accounts:read
      description: >-
        Obtain the list of banking accounts that consumers have consented to
        share across all data holders
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryAccountIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryAccountIsOwned'
        - $ref: '#/components/parameters/QueryAccountOpenStatus'
        - $ref: '#/components/parameters/QueryProductCategory'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/HeaderConsumerAuthDate'
        - $ref: '#/components/parameters/HeaderConsumerIpAddress'
        - $ref: '#/components/parameters/HeaderUserAgent'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankingAccountList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/banking/transactions:
    get:
      tags:
        - Banking
      summary: Get Banking Transactions
      operationId: Banking_getTransactions
      security:
        - bearerAuth:
            - data:banking:transactions:read
      description: >-
        Obtain the list of banking transactions that consumers have consented to
        share across all data holders
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryAccountIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryTransactionTypes'
        - $ref: '#/components/parameters/QueryTransactionStatuses'
        - $ref: '#/components/parameters/QueryTransactionMinimumAmount'
        - $ref: '#/components/parameters/QueryTransactionMaximumAmount'
        - $ref: '#/components/parameters/QueryTransactionOldestRetrievalTime'
        - $ref: '#/components/parameters/QueryTransactionNewestRetrievalTime'
        - $ref: '#/components/parameters/QueryTransactionOldestTime'
        - $ref: '#/components/parameters/QueryTransactionNewestTime'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankingTransactionList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/banking/payees:
    get:
      tags:
        - Banking
      summary: Get Banking Payees
      operationId: Banking_getPayeeList
      security:
        - bearerAuth:
            - data:banking:payees:read
      description: >-
        Obtain the list of banking payees that consumers have consented to share
        across all data holders
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryPayeeTypes'
        - $ref: '#/components/parameters/QueryPayeeIds'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankingPayeeList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/banking/payments/direct-debits:
    get:
      tags:
        - Banking
      summary: Get Banking Direct Debits
      operationId: Banking_getDirectDebitsList
      security:
        - bearerAuth:
            - data:banking:regular_payments:read
      description: >-
        Obtain the list of banking direct debits that consumers have consented
        to share across all data holders
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryAccountIds'
        - $ref: '#/components/parameters/QueryAccountIsOwned'
        - $ref: '#/components/parameters/QueryAccountOpenStatus'
        - $ref: '#/components/parameters/QueryProductCategory'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankingDirectDebitAuthorisationList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/banking/payments/scheduled:
    get:
      tags:
        - Banking
      summary: Get Scheduled Payments
      operationId: Banking_listScheduledPayments
      security:
        - bearerAuth:
            - data:banking:regular_payments:read
      description: >-
        Obtain the list of banking scheduled payments that consumers have
        consented to share across all data holders
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryAccountIds'
        - $ref: '#/components/parameters/QueryAccountIsOwned'
        - $ref: '#/components/parameters/QueryAccountOpenStatus'
        - $ref: '#/components/parameters/QueryProductCategory'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankingScheduledPaymentsList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/banking/products:
    get:
      tags:
        - Banking
      summary: Get Banking Products
      operationId: Banking_getBankingProducts
      security:
        - bearerAuth: []
      description: >-
        Obtain the list of banking products across all data holders in banking
        industry
      parameters:
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryProductCategory'
        - $ref: '#/components/parameters/QueryProductIds'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankingProductList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/common/customers:
    get:
      tags:
        - Common
      summary: Get Customers
      operationId: Common_getConsumerList
      security:
        - bearerAuth:
            - data:common:customers:read
      description: >-
        Obtain a list of consumers that have consented to share across all data
        holders
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryCustomerUTypes'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCommonCustomerList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/energy/plans:
    get:
      tags:
        - Energy
      summary: Get Energy Plans
      operationId: Energy_getPlans
      security:
        - bearerAuth:
            - data:energy:plans:read
      description: Obtain the list of energy plans across all data holders
      parameters:
        - $ref: '#/components/parameters/QueryPlanIds'
        - $ref: '#/components/parameters/QueryPlanTypes'
        - $ref: '#/components/parameters/QueryPlanFuelTypes'
        - $ref: '#/components/parameters/QueryPlanEffective'
        - $ref: '#/components/parameters/QueryPlanUpdatedSince'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyPlanList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/energy/accounts:
    get:
      tags:
        - Energy
      summary: Get Energy Accounts
      operationId: Energy_getConsumerEnergyAccounts
      security:
        - bearerAuth:
            - data:energy:accounts:read
      description: >-
        Obtain the list of energy accounts that consumers have consented to
        share across all data holders
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryAccountIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyAccountList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/energy/invoices:
    get:
      tags:
        - Energy
      summary: Get Energy Invoices
      operationId: Energy_getInvoices
      security:
        - bearerAuth:
            - data:energy:invoices:read
      description: >-
        Obtain the list of energy invoices that consumers have consented to
        share across all data holders
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryAccountIds'
        - $ref: '#/components/parameters/QueryInvoiceIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyInvoiceList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/energy/bills:
    get:
      tags:
        - Energy
      summary: Get Energy Bills
      operationId: Energy_getBills
      security:
        - bearerAuth:
            - data:energy:billing:read
      description: >-
        Obtain the list of energy bills that consumers have consented to share
        across all data holders
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryAccountIds'
        - $ref: '#/components/parameters/QueryBillingIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyBillingList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/energy/electricity/servicepoints:
    get:
      tags:
        - Energy
      summary: Get Electricity Service Points
      operationId: Energy_getServicePoints
      security:
        - bearerAuth:
            - data:energy:electricity.servicepoints:read
      description: >-
        Obtain the list of energy service points that consumers have consented
        to share across all data holders
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryServicePointIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyServicePointList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /data/energy/electricity/usage:
    get:
      tags:
        - Energy
      summary: Get Electricity Usage
      operationId: Energy_getConsumerElectricityUsage
      security:
        - bearerAuth:
            - data:energy:electricity.usage:read
      description: >-
        Obtain the list of electricity usage records that consumers have
        consented to share across all data holders. 

        Provide Adatree-Consumer-Auth-Date, Adatree-Consumer-Ip-Address,
        Adatree-Consumer-User-Agent headers and consumerId parameter with
        exactly one value 

        to trigger a realtime data update
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryServicePointIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QueryOldestDate'
        - $ref: '#/components/parameters/QueryNewestDate'
        - $ref: '#/components/parameters/HeaderConsumerAuthDate'
        - $ref: '#/components/parameters/HeaderConsumerIpAddress'
        - $ref: '#/components/parameters/HeaderUserAgent'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyUsageList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
components:
  parameters:
    QueryAccountIds:
      description: Used to filter results on the accountId field.
      name: accountIds
      in: query
      required: false
      schema:
        type: array
        items:
          description: Array of specific accountIds to obtain data for
          type: string
          example: 30370f1b-cd27-4d56-b56d-beb49fc9aa48
    QueryAccountIsOwned:
      description: >-
        Filters accounts based on whether they are owned by the authorised
        customer. True for owned accounts, false for unowned accounts and absent
        for all accounts
      name: isOwned
      in: query
      schema:
        type: boolean
        example: true
    QueryAccountOpenStatus:
      description: >-
        Used to filter results according to open/closed status. Values can be
        OPEN, CLOSED
      name: openStatus
      in: query
      required: false
      schema:
        type: string
        example: OPEN
        enum:
          - OPEN
          - CLOSED
    QueryPage:
      description: Page of results to request (standard pagination)
      name: page
      in: query
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
        example: 1
    QueryPageSize:
      description: Page size to request
      name: pageSize
      in: query
      schema:
        type: integer
        format: int32
        default: 25
        minimum: 1
        example: 10
    QueryProductCategory:
      description: >-
        Used to filter results on the productCategory field applicable to
        accounts. Any one of the valid values for this field can be supplied. If
        absent then all accounts returned.
      name: productCategories
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          example: BUSINESS_LOANS
          enum:
            - BUSINESS_LOANS
            - CRED_AND_CHRG_CARDS
            - LEASES
            - MARGIN_LOANS
            - OVERDRAFTS
            - PERS_LOANS
            - REGULATED_TRUST_ACCOUNTS
            - RESIDENTIAL_MORTGAGES
            - TERM_DEPOSITS
            - TRADE_FINANCE
            - TRAVEL_CARDS
            - TRANS_AND_SAVINGS_ACCOUNTS
    QueryUseCaseIds:
      description: Used to filter results on the useCaseId field.
      name: useCaseIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific UseCaseIds to obtain data for
          type: string
          example: HOME_LOAN
    QueryCdrArrangementIds:
      description: Used to filter results on the cdrArrangementId field.
      name: cdrArrangementIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific cdrArrangementIds to obtain data for
          type: string
          example: 30370f1b-cd27-4d56-b56d-beb49fc9aa48
    QueryConsentIds:
      description: Used to filter results on the consentId field.
      name: consentIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific consentIds to obtain data for
          type: string
          example: 30370f1b-cd27-4d56-b56d-beb49fc9aa48
    QueryConsumerIds:
      description: Used to filter results on the consumerId field.
      name: consumerIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific consumerIds to obtain data for
          type: string
          example: 30370f1b-cd27-4d56-b56d-beb49fc9aa48
    QueryDataHolderBrandIds:
      description: Used to filter results on the dataHolderBrandId field.
      name: dataHolderBrandIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific dataHolderBrandIds to obtain data for
          type: string
          example: 30370f1b-cd27-4d56-b56d-beb49fc9aa48
    QueryProductIds:
      description: IDs of the specific products
      name: productIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific productId to obtain data for
          type: string
          example:
            - f632041c-d7c8-4679-a165-aa406cd62b13
    QueryTransactionOldestRetrievalTime:
      description: >-
        Constrain the transaction history request to transactions with retrieval
        time at or after this date/time. Format is aligned to DateTimeString
        common type.
      name: oldestRetrievalTime
      in: query
      schema:
        type: string
        example: '2012-12-25T15:43:00-08:00'
    QueryTransactionNewestRetrievalTime:
      description: >-
        Constrain the transaction history request to transactions with retrieval
        time at or before this date/time. Format is aligned to DateTimeString
        common type.
      name: newestRetrievalTime
      in: query
      schema:
        type: string
        example: '2012-12-25T15:43:00-08:00'
    QueryTransactionNewestTime:
      description: >-
        Constrain the transaction history request to transactions with effective
        time at or before this date/time. Format is aligned to DateTimeString
        common type.
      name: newestTime
      in: query
      schema:
        type: string
        example: '2012-12-25T15:43:00-08:00'
    QueryTransactionOldestTime:
      description: >-
        Constrain the transaction history request to transactions with effective
        time at or after this date/time. If absent defaults to newest-time minus
        90 days.  Format is aligned to DateTimeString common type
      name: oldestTime
      in: query
      schema:
        type: string
        example: '2012-12-25T15:43:00-08:00'
    QueryTransactionStatuses:
      description: Used to filter results by status.
      name: statuses
      in: query
      schema:
        type: array
        items:
          description: Array of specific transaction status to obtain data for
          type: string
          example:
            - POSTED
    QueryTransactionTypes:
      description: Used to filter results on the type field.
      name: types
      in: query
      schema:
        type: array
        items:
          description: Array of specific types to obtain data for
          type: string
          example: FEE
    QueryTransactionMinimumAmount:
      description: Used to filter results on the amount field
      name: minimumAmount
      in: query
      schema:
        type: number
        example: 100
    QueryTransactionMaximumAmount:
      description: Used to filter results on the amount field
      name: maximumAmount
      in: query
      schema:
        type: number
        example: 300
    QueryPayeeTypes:
      description: Used to filter results on the payee type field.
      name: types
      in: query
      schema:
        type: array
        items:
          description: Array of specific types to obtain data for
          type: string
          example: BILLER
    QueryPayeeIds:
      description: Used to filter results on the payeeId field.
      name: payeeIds
      in: query
      required: false
      schema:
        type: array
        items:
          description: Array of specific payeeIds to obtain data for
          type: string
          example: 30370f1b-cd27-4d56-b56d-beb49fc9aa48
    QueryCustomerUTypes:
      description: >-
        Used to filter results on the customerUType field applicable to
        customers. Any one of the valid values for this field can be supplied.
      name: customerUTypes
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          example: person
          enum:
            - person
            - organisation
    QueryServicePointIds:
      description: Used to filter results on the servicePointId field.
      name: servicePointIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific servicePointIds to filter the result list by
          type: string
    QueryInvoiceIds:
      description: Used to filter results on the invoiceId field.
      name: invoiceIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific invoiceIds to filter the result list by
          type: string
    QueryBillingIds:
      description: Used to filter results on the billingId field.
      name: billingIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific billingId to filter the result list by
          type: string
    QueryPlanIds:
      description: Used to filter results on the planId field.
      name: planIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific planIds to filter the result list by
          type: string
    QueryPlanTypes:
      description: Used to filter results on the type field.
      name: planTypes
      in: query
      schema:
        type: array
        items:
          type: string
          example: STANDING
          enum:
            - STANDING
            - MARKET
            - REGULATED
    QueryPlanFuelTypes:
      description: Used to filter results on the fuel type field.
      name: fuelTypes
      in: query
      schema:
        type: array
        items:
          type: string
          example: GAS
          enum:
            - ELECTRICITY
            - GAS
            - DUAL
    QueryPlanEffective:
      description: Used to filter results on the effective field.
      name: effective
      in: query
      schema:
        type: string
        example: CURRENT
        enum:
          - CURRENT
          - FUTURE
    QueryPlanUpdatedSince:
      description: Used to filter results on the updatedSince field
      name: updatedSince
      in: query
      schema:
        type: string
        example: '2021-01-12T15:43:00.121Z'
    HeaderConsumerAuthDate:
      description: >-
        The time when the customer last logged in. Mandatory for consumer
        present calls using a Machine token.
      name: Adatree-Consumer-Auth-Date
      in: header
      schema:
        type: string
        example: Tue, 11 Sep 2012 19:43:31 GMT
    HeaderConsumerIpAddress:
      description: >-
        The consumer's original IP address. Mandatory for consumer present calls
        using a Machine token.
      name: Adatree-Consumer-Ip-Address
      in: header
      schema:
        type: string
        example: 127.0.0.1
    HeaderUserAgent:
      description: >-
        User Agent header of the consumer facing application. Mandatory for
        consumer present calls using a Machine token.
      name: Adatree-Consumer-User-Agent
      in: header
      schema:
        type: string
    QueryOldestDate:
      description: >
        Constrain the request to records with effective date at or after this
        date. If absent defaults to newest-date minus 24 months.
      name: oldestDate
      in: query
      schema:
        type: string
        example: '2022-12-31'
    QueryNewestDate:
      description: >
        Constrain the request to records with effective date at or before this
        date. If absent defaults to current date.
      name: newestDate
      in: query
      schema:
        type: string
        example: '2022-12-31'
  responses:
    401Unauthorised:
      description: Unauthorised
    403Forbidden:
      description: Forbidden
    404NotFound:
      description: The specified resource was not found.
    400BadRequest:
      description: Request is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorList'
    429RateLimited:
      description: Ratelimit reached
    GenericError:
      description: An error occurred.
      content:
        application/json:
          schema:
            type: string
            example: something went wrong
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    BankingTransactionList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/BankingTransactionList_data'
        links:
          $ref: '#/components/schemas/LinksPaginated'
        meta:
          $ref: '#/components/schemas/MetaPaginated'
    BankingAccountList:
      type: object
      required:
        - data
        - errors
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/BankingAccountList_data'
        links:
          $ref: '#/components/schemas/LinksPaginated'
        meta:
          $ref: '#/components/schemas/MetaPaginated'
    BankingPayeeList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/BankingPayeeList_data'
        links:
          $ref: '#/components/schemas/LinksPaginated'
        meta:
          $ref: '#/components/schemas/MetaPaginated'
    BankingProductList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/BankingProductList_data'
        links:
          $ref: '#/components/schemas/LinksPaginated'
        meta:
          $ref: '#/components/schemas/MetaPaginated'
    BankingDirectDebitAuthorisationList:
      properties:
        data:
          $ref: '#/components/schemas/BankingDirectDebitAuthorisationList_data'
        links:
          $ref: '#/components/schemas/LinksPaginated'
        meta:
          $ref: '#/components/schemas/MetaPaginated'
      required:
        - data
        - links
        - meta
      type: object
    BankingScheduledPaymentsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/BankingScheduledPaymentsList_data'
        links:
          $ref: '#/components/schemas/LinksPaginated'
        meta:
          $ref: '#/components/schemas/MetaPaginated'
    BankingAccountList_data:
      required:
        - accounts
      properties:
        accounts:
          description: >-
            The list of accounts returned. If the filter results in an empty set
            then this array may have no records
          type: array
          items:
            $ref: '#/components/schemas/BankingAccountDetail'
    BankingPayeeList_data:
      required:
        - payees
      properties:
        payees:
          type: array
          items:
            $ref: '#/components/schemas/BankingPayeeDetail'
    BankingProductList_data:
      required:
        - products
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/BankingProductDetail'
    BankingDirectDebitAuthorisationList_data:
      type: object
      required:
        - directDebitAuthorisations
      properties:
        directDebitAuthorisations:
          description: The list of authorisations returned
          items:
            $ref: '#/components/schemas/BankingDirectDebit'
          type: array
    BankingScheduledPaymentsList_data:
      required:
        - scheduledPayments
      properties:
        scheduledPayments:
          description: The list of scheduled payments to return
          type: array
          items:
            $ref: '#/components/schemas/BankingScheduledPayment'
    BankingScheduledPayment:
      type: object
      required:
        - from
        - payeeReference
        - payerReference
        - paymentSet
        - recurrence
        - scheduledPaymentId
        - status
        - adatree
      properties:
        scheduledPaymentId:
          description: >-
            A unique ID of the scheduled payment adhering to the standards for
            ID permanence
          type: string
          example: f632041c-d7c8-4679-a165-aa406cd62b13
        nickname:
          description: The short display name of the payee as provided by the customer
          type: string
          example: council
        payerReference:
          description: >-
            The reference for the transaction that will be used by the
            originating institution for the purposes of constructing a statement
            narrative on the payer's account. Empty string if no data provided
          type: string
          example: 1231234142
        payeeReference:
          description: >-
            The reference for the transaction that will be provided by the
            originating institution. Empty string if no data provided
          type: string
          example: 234134241234
        status:
          description: >-
            Indicates whether the schedule is currently active. The value SKIP
            is equivalent to ACTIVE except that the customer has requested the
            next normal occurrence to be skipped.
          type: string
          example: ACTIVE
          enum:
            - ACTIVE
            - INACTIVE
            - SKIP
        from:
          $ref: '#/components/schemas/BankingScheduledPaymentFrom'
        paymentSet:
          type: array
          items:
            $ref: '#/components/schemas/BankingScheduledPaymentSet'
        recurrence:
          $ref: '#/components/schemas/BankingScheduledPaymentRecurrence'
        adatree:
          $ref: '#/components/schemas/Adatree'
    BankingScheduledPaymentSet:
      description: >-
        The set of payment amounts and destination accounts for this payment
        accommodating multi-part payments. A single entry indicates a simple
        payment with one destination account. Must have at least one entry
      required:
        - to
      properties:
        to:
          $ref: '#/components/schemas/BankingScheduledPaymentTo'
        isAmountCalculated:
          description: >-
            Flag indicating whether the amount of the payment is calculated
            based on the context of the event. For instance a payment to reduce
            the balance of a credit card to zero. If absent then false is
            assumed
          type: boolean
          example: true
        amount:
          description: >-
            The amount of the next payment if known. Mandatory unless the
            isAmountCalculated field is set to true. Must be zero or positive if
            present
          type: string
          example: 123
        currency:
          description: The currency for the payment. AUD assumed if not present
          type: string
          example: AUD
      x-conditional:
        - amount
    BankingScheduledPaymentTo:
      description: >-
        Object containing details of the destination of the payment. Used to
        specify a variety of payment destination types
      type: object
      required:
        - toUType
      properties:
        toUType:
          description: >-
            The type of object provided that specifies the destination of the
            funds for the payment.
          type: string
          example: payeeId
          enum:
            - accountId
            - payeeId
            - domestic
            - biller
            - international
        accountId:
          description: >-
            Present if toUType is set to accountId. Indicates that the payment
            is to another account that is accessible under the current consent
          type: string
          example: ''
        payeeId:
          description: >-
            Present if toUType is set to payeeId. Indicates that the payment is
            to registered payee that can be accessed using the payee end point.
            If the Bank Payees scope has not been consented to then a payeeId
            should not be provided and the full payee details should be provided
            instead
          type: string
          example: f632041c-d7c8-4679-a165-aa406cd62b13
        domestic:
          $ref: '#/components/schemas/BankingDomesticPayee'
        biller:
          $ref: '#/components/schemas/BankingBillerPayee'
        international:
          $ref: '#/components/schemas/BankingInternationalPayee'
      x-conditional:
        - accountId
        - payeeId
        - domestic
        - biller
        - international
    BankingScheduledPaymentFrom:
      description: >-
        Object containing details of the source of the payment. Currently only
        specifies an account ID but provided as an object to facilitate future
        extensibility and consistency with the to object
      type: object
      required:
        - accountId
      properties:
        accountId:
          description: ID of the account that is the source of funds for the payment
          type: string
          example: f632041c-d7c8-4679-a165-aa406cd62b13
    BankingScheduledPaymentRecurrence:
      description: Object containing the detail of the schedule for the payment
      type: object
      required:
        - recurrenceUType
      properties:
        nextPaymentDate:
          description: The date of the next payment under the recurrence schedule
          type: string
          example: '2017-12-31'
        recurrenceUType:
          description: The type of recurrence used to define the schedule
          type: string
          example: onceOff
          enum:
            - onceOff
            - intervalSchedule
            - lastWeekDay
            - eventBased
        onceOff:
          $ref: '#/components/schemas/BankingScheduledPaymentRecurrenceOnceOff'
        intervalSchedule:
          $ref: >-
            #/components/schemas/BankingScheduledPaymentRecurrenceIntervalSchedule
        lastWeekDay:
          $ref: '#/components/schemas/BankingScheduledPaymentRecurrenceLastWeekday'
        eventBased:
          $ref: '#/components/schemas/BankingScheduledPaymentRecurrenceEventBased'
      x-conditional:
        - onceOff
        - intervalSchedule
        - lastWeekDay
        - eventBased
    BankingScheduledPaymentRecurrenceOnceOff:
      description: >-
        Indicates that the payment is a once off payment on a specific future
        date. Mandatory if recurrenceUType is set to onceOff
      type: object
      required:
        - paymentDate
      properties:
        paymentDate:
          description: The scheduled date for the once off payment
          type: string
          example: '2017-12-31'
    BankingScheduledPaymentRecurrenceIntervalSchedule:
      description: >-
        Indicates that the schedule of payments is defined by a series of
        intervals. Mandatory if recurrenceUType is set to intervalSchedule
      type: object
      required:
        - intervals
      properties:
        finalPaymentDate:
          description: >-
            The limit date after which no more payments should be made using
            this schedule. If both finalPaymentDate and paymentsRemaining are
            present then payments will stop according to the most constraining
            value. If neither field is present the payments will continue
            indefinitely
          type: string
          example: '2017-12-31'
        paymentsRemaining:
          description: >-
            Indicates the number of payments remaining in the schedule. If both
            finalPaymentDate and paymentsRemaining are present then payments
            will stop according to the most constraining value, If neither field
            is present the payments will continue indefinitely
          type: integer
          example: 12
        nonBusinessDayTreatment:
          description: >-
            Enumerated field giving the treatment where a scheduled payment date
            is not a business day. If absent assumed to be ON.<br/>**AFTER** -
            If a scheduled payment date is a non-business day the payment will
            be made on the first business day after the scheduled payment
            date.<br/>**BEFORE** - If a scheduled payment date is a non-business
            day the payment will be made on the first business day before the
            scheduled payment date.<br/>**ON** - If a scheduled payment date is
            a non-business day the payment will be made on that day
            regardless.<br/>**ONLY** - Payments only occur on business days. If
            a scheduled payment date is a non-business day the payment will be
            ignored
          type: string
          example: AFTER
          default: 'ON'
          enum:
            - AFTER
            - BEFORE
            - 'ON'
            - ONLY
        intervals:
          description: >-
            An array of interval objects defining the payment schedule.  Each
            entry in the array is additive, in that it adds payments to the
            overall payment schedule.  If multiple intervals result in a payment
            on the same day then only one payment will be made. Must have at
            least one entry
          type: array
          items:
            $ref: '#/components/schemas/BankingScheduledPaymentInterval'
    BankingScheduledPaymentInterval:
      type: object
      required:
        - interval
      properties:
        interval:
          description: >-
            An interval for the payment. Formatted according to [ISO 8601
            Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) 
            (excludes recurrence syntax) with components less than a day in
            length ignored. This duration defines the period between payments
            starting with nextPaymentDate
          type: string
          example: P1D
        dayInInterval:
          description: >-
            Uses an interval to define the ordinal day within the interval
            defined by the interval field on which the payment occurs. If the
            resulting duration is 0 days in length or larger than the number of
            days in the interval then the payment will occur on the last day of
            the interval. A duration of 1 day indicates the first day of the
            interval. If absent the assumed value is P1D. Formatted according to
            [ISO 8601
            Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)
            (excludes recurrence syntax) with components less than a day in
            length ignored. The first day of a week is considered to be Monday.
          type: string
          example: ''
    BankingScheduledPaymentRecurrenceLastWeekday:
      description: >-
        Indicates that the schedule of payments is defined according to the last
        occurrence of a specific weekday in an interval. Mandatory if
        recurrenceUType is set to lastWeekDay
      type: object
      required:
        - interval
        - lastWeekDay
      properties:
        finalPaymentDate:
          description: >-
            The limit date after which no more payments should be made using
            this schedule. If both finalPaymentDate and paymentsRemaining are
            present then payments will stop according to the most constraining
            value. If neither field is present the payments will continue
            indefinitely
          type: string
          example: '2017-12-31'
        paymentsRemaining:
          description: >-
            Indicates the number of payments remaining in the schedule. If both
            finalPaymentDate and paymentsRemaining are present then payments
            will stop according to the most constraining value. If neither field
            is present the payments will continue indefinitely
          type: integer
          example: 12
        interval:
          description: >-
            The interval for the payment. Formatted according to [ISO 8601
            Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)
            (excludes recurrence syntax) with components less than a day in
            length ignored. This duration defines the period between payments
            starting with nextPaymentDate
          type: string
          example: P1D
        lastWeekDay:
          description: >-
            The weekDay specified. The payment will occur on the last occurrence
            of this weekday in the interval.
          type: string
          example: MON
          enum:
            - MON
            - TUE
            - WED
            - THU
            - FRI
            - SAT
            - SUN
        nonBusinessDayTreatment:
          description: >-
            Enumerated field giving the treatment where a scheduled payment date
            is not a business day. If absent assumed to be ON.<br/>**AFTER** -
            If a scheduled payment date is a non-business day the payment will
            be made on the first business day after the scheduled payment
            date.<br/>**BEFORE** - If a scheduled payment date is a non-business
            day the payment will be made on the first business day before the
            scheduled payment date.<br/>**ON** - If a scheduled payment date is
            a non-business day the payment will be made on that day
            regardless.<br/>**ONLY** - Payments only occur on business days. If
            a scheduled payment date is a non-business day the payment will be
            ignored
          type: string
          example: AFTER
          default: 'ON'
          enum:
            - AFTER
            - BEFORE
            - 'ON'
            - ONLY
    BankingScheduledPaymentRecurrenceEventBased:
      description: >-
        Indicates that the schedule of payments is defined according to an
        external event that cannot be predetermined. Mandatory if
        recurrenceUType is set to eventBased
      type: object
      required:
        - description
      properties:
        description:
          description: >-
            Description of the event and conditions that will result in the
            payment. Expected to be formatted for display to a customer
          type: string
          example: pay every Thursday
    EnergyAccountList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/EnergyAccountList_data'
        links:
          $ref: '#/components/schemas/LinksPaginated'
        meta:
          $ref: '#/components/schemas/MetaPaginated'
    EnergyAccountList_data:
      required:
        - accounts
      properties:
        accounts:
          description: >-
            The list of energy accounts returned. If the filter results in an
            empty set then this array may have no records
          type: array
          items:
            $ref: '#/components/schemas/EnergyAccountDetailV2'
    BankingAccount:
      type: object
      required:
        - accountId
        - displayName
        - maskedNumber
        - productCategory
        - productName
      properties:
        accountId:
          description: >-
            A unique ID of the account adhering to the standards for ID
            permanence
          type: string
          example: d9e75179-104f-47cf-9d29-18284222bab0
        creationDate:
          description: Date that the account was created (if known)
          type: string
          example: '2012-12-25'
        displayName:
          description: >-
            The display name of the account as defined by the bank. This should
            not incorporate account numbers or PANs. If it does the values
            should be masked according to the rules of the MaskedAccountString
            common type.
          type: string
          example: savings
        nickname:
          description: A customer supplied nickname for the account
          type: string
          example: sav
        openStatus:
          description: >-
            Open or closed status for the account. If not present then OPEN is
            assumed
          type: string
          example: OPEN
          default: OPEN
          enum:
            - OPEN
            - CLOSED
        isOwned:
          description: >-
            Flag indicating that the customer associated with the authorisation
            is an owner of the account. Does not indicate sole ownership,
            however. If not present then 'true' is assumed
          type: boolean
          example: true
          default: true
        accountOwnership:
          description: >-
            Value indicating the number of customers that have ownership of the
            account, according to the data holder's definition of account
            ownership. Does not indicate that all account owners are eligible
            consumers
          type: string
          enum:
            - UNKNOWN
            - ONE_PARTY
            - TWO_PARTY
            - MANY_PARTY
            - OTHER
        maskedNumber:
          description: >-
            A masked version of the account. Whether BSB/Account Number, Credit
            Card PAN or another number
          type: string
          example: xxx-xxx xxxxx1234
        productCategory:
          $ref: '#/components/schemas/BankingProductCategory'
        productName:
          description: >-
            The unique identifier of the account as defined by the data holder
            (akin to model number for the account)
          type: string
          example: Savings
    BankingAccountDetail:
      allOf:
        - $ref: '#/components/schemas/BankingAccount'
        - type: object
          properties:
            bsb:
              description: >-
                The unmasked BSB for the account. Is expected to be formatted as
                digits only with leading zeros included and no punctuation or
                spaces
              type: string
              example: 62000
            accountNumber:
              description: >-
                The unmasked account number for the account. Should not be
                supplied if the account number is a PAN requiring PCI
                compliance. Is expected to be formatted as digits only with
                leading zeros included and no punctuation or spaces
              example: 12345678
              type: string
            balance:
              $ref: '#/components/schemas/BankingBalance'
            bundleName:
              description: >-
                Optional field to indicate if this account is part of a bundle
                that is providing additional benefit for to the customer
              type: string
              example: ''
            specificAccountUType:
              description: The type of structure to present account specific fields.
              type: string
              example: termDeposit
              enum:
                - termDeposit
                - creditCard
                - loan
            termDeposit:
              type: array
              items:
                $ref: '#/components/schemas/BankingTermDepositAccount'
            creditCard:
              $ref: '#/components/schemas/BankingCreditCardAccount'
            loan:
              $ref: '#/components/schemas/BankingLoanAccount'
            depositRate:
              description: >-
                current rate to calculate interest earned being applied to
                deposit balances as it stands at the time of the API call
              type: string
              example: 2.2
            lendingRate:
              description: >-
                The current rate to calculate interest payable being applied to
                lending balances as it stands at the time of the API call
              type: string
              example: 3.19
            depositRates:
              description: >-
                Fully described deposit rates for this account based on the
                equivalent structure in Product Reference
              type: array
              items:
                $ref: '#/components/schemas/BankingProductDepositRate'
            lendingRates:
              description: >-
                Fully described deposit rates for this account based on the
                equivalent structure in Product Reference
              type: array
              items:
                $ref: '#/components/schemas/BankingProductLendingRateV2'
            features:
              description: >-
                Array of features of the account based on the equivalent
                structure in Product Reference with the following additional
                field
              type: array
              items:
                $ref: '#/components/schemas/BankingAccountProductFeature'
            fees:
              description: >-
                Fees and charges applicable to the account based on the
                equivalent structure in Product Reference
              type: array
              items:
                $ref: '#/components/schemas/BankingProductFee'
            addresses:
              description: The addresses for the account to be used for correspondence
              type: array
              items:
                $ref: '#/components/schemas/CommonPhysicalAddress'
            adatree:
              $ref: '#/components/schemas/BankingAccountDetail_adatree'
          x-conditional:
            - termDeposit
            - creditCard
            - loan
    BankingAccountProductFeature:
      description: >-
        Array of features of the account based on the equivalent structure in
        Product Reference with the following additional field
      type: object
      allOf:
        - $ref: '#/components/schemas/BankingProductFeature'
        - type: object
          properties:
            isActivated:
              description: >-
                True if the feature is already activated and false if the
                feature is available for activation. Defaults to true if absent.
                (note this is an additional field appended to the feature object
                defined in the Product Reference payload)
              type: boolean
              default: true
              example: true
    BankingTermDepositAccount:
      type: object
      required:
        - lodgementDate
        - maturityDate
        - maturityInstructions
      properties:
        lodgementDate:
          description: The lodgement date of the original deposit
          type: string
          example: '2017-12-31'
        maturityDate:
          description: Maturity date for the term deposit
          type: string
          example: '2018-12-30'
        maturityAmount:
          description: >-
            Amount to be paid upon maturity. If absent it implies the amount to
            paid is variable and cannot currently be calculated
          type: string
          example: '10000.00'
        maturityCurrency:
          description: If absent assumes AUD
          type: string
          example: AUD
        maturityInstructions:
          description: >-
            Current instructions on action to be taken at maturity. This
            includes default actions that may be specified in the terms and
            conditions for the product e.g. roll-over to the same term and
            frequency of interest payments
          type: string
          example: ROLLED_OVER
          enum:
            - ROLLED_OVER
            - PAID_OUT_AT_MATURITY
            - HOLD_ON_MATURITY
    BankingCreditCardAccount:
      type: object
      required:
        - minPaymentAmount
        - paymentDueAmount
        - paymentDueDate
      properties:
        minPaymentAmount:
          description: The minimum payment amount due for the next card payment
          type: string
          example: 99.99
        paymentDueAmount:
          description: The amount due for the next card payment
          type: string
          example: 2999.99
        paymentCurrency:
          description: If absent assumes AUD
          type: string
          example: AUD
        paymentDueDate:
          description: Date that the next payment for the card is due
          type: string
          example: '2021-01-01'
    BankingLoanAccount:
      type: object
      properties:
        originalStartDate:
          description: Optional original start date for the loan
          type: string
          example: '2017-12-31'
        originalLoanAmount:
          description: Optional original loan value
          type: string
          example: 300000
        originalLoanCurrency:
          description: If absent assumes AUD
          type: string
          example: AUD
        loanEndDate:
          description: Date that the loan is due to be repaid in full
          type: string
          example: '2047-12-30'
        nextInstalmentDate:
          description: Next date that an instalment is required
          type: string
          example: '2021-02-28'
        minInstalmentAmount:
          description: Minimum amount of next instalment
          type: string
          example: 999.99
        minInstalmentCurrency:
          description: If absent assumes AUD
          type: string
          example: AUD
        maxRedraw:
          description: >-
            Maximum amount of funds that can be redrawn. If not present redraw
            is not available even if the feature exists for the account
          type: string
          example: 9999.99
        maxRedrawCurrency:
          description: If absent assumes AUD
          type: string
          example: AUD
        minRedraw:
          description: Minimum redraw amount
          type: string
          example: 1000
        minRedrawCurrency:
          description: If absent assumes AUD
          type: string
          example: AUD
        offsetAccountEnabled:
          description: >-
            Set to true if one or more offset accounts are configured for this
            loan account
          type: boolean
          example: true
        offsetAccountIds:
          description: >-
            The accountIDs of the configured offset accounts attached to this
            loan. Only offset accounts that can be accessed under the current
            authorisation should be included. It is expected behaviour that
            offsetAccountEnabled is set to true but the offsetAccountIds field
            is absent or empty. This represents a situation where an offset
            account exists but details can not be accessed under the current
            authorisation
          type: array
          items:
            example:
              - f632041c-d7c8-4679-a165-aa406cd62b13
            type: string
        repaymentType:
          description: >-
            Options in place for repayments. If absent defaults to
            PRINCIPAL_AND_INTEREST
          type: string
          example: INTEREST_ONLY
          default: PRINCIPAL_AND_INTEREST
          enum:
            - INTEREST_ONLY
            - PRINCIPAL_AND_INTEREST
        repaymentFrequency:
          description: >-
            The expected or required repayment frequency. Formatted according to
            [ISO 8601
            Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)
            (excludes recurrence syntax)
          type: string
          example: P1M
    BankingBalance:
      type: object
      required:
        - availableBalance
        - currentBalance
      properties:
        currentBalance:
          description: >-
            The balance of the account at this time. Should align to the balance
            available via other channels such as Internet Banking. Assumed to be
            negative if the customer has money owing
          type: string
          example: '10000.00'
        availableBalance:
          description: >-
            Balance representing the amount of funds available for transfer.
            Assumed to be zero or positive
          type: string
          example: '10000.00'
        creditLimit:
          description: >-
            Object representing the maximum amount of credit that is available
            for this account. Assumed to be zero if absent
          type: string
          example: '10000.00'
        amortisedLimit:
          description: >-
            Object representing the available limit amortised according to
            payment schedule. Assumed to be zero if absent
          type: string
          example: '0.00'
        currency:
          description: The currency for the balance amounts. If absent assumed to be AUD
          type: string
          example: AUD
        purses:
          description: >-
            Optional array of balances for the account in other currencies.
            Included to support accounts that support multi-currency purses such
            as Travel Cards
          type: array
          items:
            $ref: '#/components/schemas/BankingBalancePurse'
        refreshDateTime:
          description: Most recent refresh date time stamp
          type: string
    BankingBalancePurse:
      type: object
      required:
        - amount
      properties:
        amount:
          description: The balance available for this additional currency purse
          type: string
          example: '1000.00'
        currency:
          description: The currency for the purse
          type: string
          example: AUD
    BankingProductCategory:
      description: >-
        The category to which a product or account belongs. See
        [here](https://raw.githubusercontent.com) for more details
      type: string
      example: LEASES
      enum:
        - BUSINESS_LOANS
        - CRED_AND_CHRG_CARDS
        - LEASES
        - MARGIN_LOANS
        - OVERDRAFTS
        - PERS_LOANS
        - REGULATED_TRUST_ACCOUNTS
        - RESIDENTIAL_MORTGAGES
        - TERM_DEPOSITS
        - TRADE_FINANCE
        - TRAVEL_CARDS
        - TRANS_AND_SAVINGS_ACCOUNTS
    BankingProductDepositRate:
      type: object
      required:
        - depositRateType
        - rate
      properties:
        depositRateType:
          description: >-
            The type of rate (base, bonus, etc). See the next section for an
            overview of valid values and their meaning
          type: string
          example: FIXED
          enum:
            - BONUS
            - BUNDLE_BONUS
            - FIXED
            - FLOATING
            - INTRODUCTORY
            - MARKET_LINKED
            - VARIABLE
        rate:
          description: The rate to be applied
          type: string
          example: 2.5
        calculationFrequency:
          description: >-
            The period after which the rate is applied to the balance to
            calculate the amount due for the period. Calculation of the amount
            is often daily (as balances may change) but accumulated until the
            total amount is 'applied' to the account (see applicationFrequency).
            Formatted according to [ISO 8601
            Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)
            (excludes recurrence syntax)
          type: string
          example: P1M
        applicationFrequency:
          description: >-
            The period after which the calculated amount(s) (see
            calculationFrequency) are 'applied' (i.e. debited or credited) to
            the account. Formatted according to [ISO 8601
            Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)
            (excludes recurrence syntax)
          type: string
          example: P1M
        tiers:
          description: Rate tiers applicable for this rate
          type: array
          items:
            $ref: '#/components/schemas/BankingProductRateTierV3'
        additionalValue:
          description: >-
            Generic field containing additional information relevant to the
            [depositRateType](https://raw.githubusercontent.com) specified.
            Whether mandatory or not is dependent on the value of
            [depositRateType](https://raw.githubusercontent.com)
          type: string
          example: additional value for deposit rate
        additionalInfo:
          description: Display text providing more information on the rate
          type: string
          example: additional info for deposit rate
        additionalInfoUri:
          description: Link to a web page with more information on this rate
          type: string
          example: https://depositrate.example.com.au
      x-conditional:
        - additionalValue
    BankingProductLendingRateV2:
      type: object
      required:
        - lendingRateType
        - rate
      properties:
        lendingRateType:
          description: >-
            The type of rate (fixed, variable, etc). See the next section for an
            overview of valid values and their meaning
          type: string
          example: CASH_ADVANCE
          enum:
            - BUNDLE_DISCOUNT_FIXED
            - BUNDLE_DISCOUNT_VARIABLE
            - CASH_ADVANCE
            - DISCOUNT
            - FLOATING
            - INTRODUCTORY
            - MARKET_LINKED
            - PENALTY
            - PURCHASE
            - VARIABLE
            - FIXED
        rate:
          description: The rate to be applied
          type: string
          example: 3.99
        comparisonRate:
          description: A comparison rate equivalent for this rate
          type: string
          example: 4.99
        calculationFrequency:
          description: >-
            The period after which the rate is applied to the balance to
            calculate the amount due for the period. Calculation of the amount
            is often daily (as balances may change) but accumulated until the
            total amount is 'applied' to the account (see applicationFrequency).
            Formatted according to [ISO 8601
            Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)
            (excludes recurrence syntax)
          type: string
          example: P1M
        applicationFrequency:
          description: >-
            The period after which the calculated amount(s) (see
            calculationFrequency) are 'applied' (i.e. debited or credited) to
            the account. Formatted according to [ISO 8601
            Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)
            (excludes recurrence syntax)
          type: string
          example: P1M
        interestPaymentDue:
          description: >-
            When loan payments are due to be paid within each period. The
            investment benefit of earlier payments affect the rate that can be
            offered
          type: string
          example: IN_ARREARS
          enum:
            - IN_ADVANCE
            - IN_ARREARS
        repaymentType:
          description: >-
            Options in place for repayments. If absent, the lending rate is
            applicable to all repayment types
          type: string
          example: INTEREST_ONLY
          enum:
            - INTEREST_ONLY
            - PRINCIPAL_AND_INTEREST
        loanPurpose:
          description: >-
            The reason for taking out the loan. If absent, the lending rate is
            applicable to all loan purposes
          type: string
          example: OWNER_OCCUPIED
          enum:
            - OWNER_OCCUPIED
            - INVESTMENT
        tiers:
          description: Rate tiers applicable for this rate
          type: array
          items:
            $ref: '#/components/schemas/BankingProductRateTierV3'
        additionalValue:
          description: >-
            Generic field containing additional information relevant to the
            [lendingRateType](https://raw.githubusercontent.com) specified.
            Whether mandatory or not is dependent on the value of
            [lendingRateType](https://raw.githubusercontent.com)
          type: string
          example: additional value for lending
        additionalInfo:
          description: Display text providing more information on the rate.
          type: string
          example: additional info for lending
        additionalInfoUri:
          description: Link to a web page with more information on this rate
          type: string
          example: https://lendingrate.example.com.au
      x-conditional:
        - additionalValue
    BankingProductFee:
      type: object
      required:
        - feeType
        - name
      properties:
        name:
          description: Name of the fee
          type: string
          example: account fee
        feeType:
          description: The type of fee
          type: string
          example: PERIODIC
          enum:
            - DEPOSIT
            - EVENT
            - EXIT
            - PAYMENT
            - PERIODIC
            - PURCHASE
            - TRANSACTION
            - UPFRONT
            - VARIABLE
            - WITHDRAWAL
        amount:
          description: >-
            The amount charged for the fee. One of amount, balanceRate,
            transactionRate and accruedRate is mandatory unless the *feeType*
            "VARIABLE" is supplied
          type: string
          example: 4
        balanceRate:
          description: >-
            A fee rate calculated based on a proportion of the balance. One of
            amount, balanceRate, transactionRate and accruedRate is mandatory
            unless the *feeType* "VARIABLE" is supplied.
          type: string
          example: 3.99
        transactionRate:
          description: >-
            A fee rate calculated based on a proportion of a transaction. One of
            amount, balanceRate, transactionRate and accruedRate is mandatory
            unless the *feeType* "VARIABLE" is supplied
          type: string
          example: 0.02
        accruedRate:
          description: >-
            A fee rate calculated based on a proportion of the calculated
            interest accrued on the account. One of amount, balanceRate,
            transactionRate and accruedRate is mandatory unless the *feeType*
            "VARIABLE" is supplied
          type: string
          example: 0
        accrualFrequency:
          description: >-
            The indicative frequency with which the fee is calculated on the
            account. Only applies if balanceRate or accruedRate is also present.
            Formatted according to [ISO 8601
            Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)
            (excludes recurrence syntax)
          type: string
          example: P1M
        currency:
          description: The currency the fee will be charged in. Assumes AUD if absent
          type: string
          example: AUD
        additionalValue:
          description: >-
            Generic field containing additional information relevant to the
            [feeType](https://raw.githubusercontent.com) specified. Whether
            mandatory or not is dependent on the value of
            [feeType](https://raw.githubusercontent.com)
          type: string
          example: additional info for bank account fee
        additionalInfo:
          description: Display text providing more information on the fee
          type: string
          example: additional info on the fee
        additionalInfoUri:
          description: Link to a web page with more information on this fee
          type: string
          example: https://bankfee.example.com.au
        discounts:
          description: An optional list of discounts to this fee that may be available
          type: array
          items:
            $ref: '#/components/schemas/BankingProductDiscount'
      x-conditional:
        - additionalValue
        - amount
        - balanceRate
        - transactionRate
        - accruedRate
    CommonPhysicalAddress:
      type: object
      required:
        - addressUType
      properties:
        addressUType:
          description: The type of address object present
          type: string
          example: simple
          enum:
            - simple
            - paf
        simple:
          $ref: '#/components/schemas/CommonSimpleAddress'
        paf:
          $ref: '#/components/schemas/CommonPAFAddress'
      x-conditional:
        - simple
        - paf
    BankingProductFeature:
      type: object
      required:
        - featureType
      properties:
        featureType:
          description: The type of feature described
          type: string
          example: BONUS_REWARDS
          enum:
            - ADDITIONAL_CARDS
            - BALANCE_TRANSFERS
            - BILL_PAYMENT
            - BONUS_REWARDS
            - CARD_ACCESS
            - CASHBACK_OFFER
            - COMPLEMENTARY_PRODUCT_DISCOUNTS
            - DIGITAL_BANKING
            - DIGITAL_WALLET
            - DONATE_INTEREST
            - EXTRA_REPAYMENTS
            - FRAUD_PROTECTION
            - FREE_TXNS
            - FREE_TXNS_ALLOWANCE
            - GUARANTOR
            - INSURANCE
            - INSTALMENT_PLAN
            - INTEREST_FREE
            - INTEREST_FREE_TRANSFERS
            - LOYALTY_PROGRAM
            - NOTIFICATIONS
            - NPP_ENABLED
            - NPP_PAYID
            - OFFSET
            - OTHER
            - OVERDRAFT
            - REDRAW
            - RELATIONSHIP_MANAGEMENT
            - UNLIMITED_TXNS
        additionalValue:
          description: >-
            Generic field containing additional information relevant to the
            [featureType](https://raw.githubusercontent.com) specified. Whether
            mandatory or not is dependent on the value of the
            [featureType.](https://raw.githubusercontent.com)
          type: string
          example: free mobile device screen smash insurance
        additionalInfo:
          description: >-
            Display text providing more information on the feature. Mandatory if
            the [feature type](https://raw.githubusercontent.com) is set to
            OTHER
          type: string
          example: the best of a kind
        additionalInfoUri:
          description: Link to a web page with more information on this feature
          type: string
          example: https://productfeature.example.com.au
      x-conditional:
        - additionalValue
        - additionalInfo
    BankingProductRateTierV3:
      description: Defines the criteria and conditions for which a rate applies
      type: object
      required:
        - minimumValue
        - name
        - unitOfMeasure
      properties:
        name:
          description: A display name for the tier
          type: string
          example: basic
        unitOfMeasure:
          description: >-
            The unit of measure that applies to the tierValueMinimum and
            tierValueMaximum values e.g. a **DOLLAR** amount. **PERCENT** (in
            the case of loan-to-value ratio or LVR). Tier term period
            representing a discrete number of **MONTH**'s or **DAY**'s (in the
            case of term deposit tiers)
          type: string
          example: MONTH
          enum:
            - DOLLAR
            - PERCENT
            - DAY
            - MONTH
        minimumValue:
          description: >-
            The number of tierUnitOfMeasure units that form the lower bound of
            the tier. The tier should be inclusive of this value
          type: number
          example: 1
        maximumValue:
          description: >-
            The number of tierUnitOfMeasure units that form the upper bound of
            the tier or band. For a tier with a discrete value (as opposed to a
            range of values e.g. 1 month) this must be the same as
            tierValueMinimum. Where this is the same as the tierValueMinimum
            value of the next-higher tier the referenced tier should be
            exclusive of this value. For example a term deposit of 2 months
            falls into the upper tier of the following tiers: (1 - 2 months, 2 -
            3 months). If absent the tier's range has no upper bound.
          type: number
          example: 3
        rateApplicationMethod:
          description: >-
            The method used to calculate the amount to be applied using one or
            more tiers. A single rate may be applied to the entire balance or
            each applicable tier rate is applied to the portion of the balance
            that falls into that tier (referred to as 'bands' or 'steps')
          type: string
          example: PER_TIER
          enum:
            - PER_TIER
            - WHOLE_BALANCE
        applicabilityConditions:
          $ref: '#/components/schemas/BankingProductRateCondition'
        additionalInfo:
          description: Display text providing more information on the rate tier.
          type: string
          example: additional info for tier
        additionalInfoUri:
          description: Link to a web page with more information on this rate tier
          type: string
          example: https://tier.example.com.au
    BankingProductDiscount:
      type: object
      required:
        - description
        - discountType
      properties:
        description:
          description: Description of the discount
          type: string
          example: loyalty discount
        discountType:
          description: >-
            The type of discount. See the next section for an overview of valid
            values and their meaning
          type: string
          example: ELIGIBILITY_ONLY
          enum:
            - BALANCE
            - DEPOSITS
            - ELIGIBILITY_ONLY
            - FEE_CAP
            - PAYMENTS
        amount:
          description: >-
            Dollar value of the discount. One of amount, balanceRate,
            transactionRate, accruedRate and feeRate is mandatory.
          type: string
          example: 10
        balanceRate:
          description: >-
            A discount rate calculated based on a proportion of the balance.
            Note that the currency of the fee discount is expected to be the
            same as the currency of the fee itself. One of amount, balanceRate,
            transactionRate, accruedRate and feeRate is mandatory. Unless noted
            in additionalInfo, assumes the application and calculation frequency
            are the same as the corresponding fee
          type: string
          example: 0.05
        transactionRate:
          description: >-
            A discount rate calculated based on a proportion of a transaction.
            Note that the currency of the fee discount is expected to be the
            same as the currency of the fee itself. One of amount, balanceRate,
            transactionRate, accruedRate and feeRate is mandatory
          type: string
          example: 0.05
        accruedRate:
          description: >-
            A discount rate calculated based on a proportion of the calculated
            interest accrued on the account. Note that the currency of the fee
            discount is expected to be the same as the currency of the fee
            itself. One of amount, balanceRate, transactionRate, accruedRate and
            feeRate is mandatory. Unless noted in additionalInfo, assumes the
            application and calculation frequency are the same as the
            corresponding fee
          type: string
          example: 0.05
        feeRate:
          description: >-
            A discount rate calculated based on a proportion of the fee to which
            this discount is attached. Note that the currency of the fee
            discount is expected to be the same as the currency of the fee
            itself. One of amount, balanceRate, transactionRate, accruedRate and
            feeRate is mandatory. Unless noted in additionalInfo, assumes the
            application and calculation frequency are the same as the
            corresponding fee
          type: string
          example: 0.05
        additionalValue:
          description: >-
            Generic field containing additional information relevant to the
            [discountType](https://raw.githubusercontent.com) specified. Whether
            mandatory or not is dependent on the value of
            [discountType](https://raw.githubusercontent.com)
          type: string
          example: extra discount
        additionalInfo:
          description: Display text providing more information on the discount
          type: string
          example: addition info for discount
        additionalInfoUri:
          description: Link to a web page with more information on this discount
          type: string
          example: https://productdiscount.example.com.au
        eligibility:
          description: >-
            Eligibility constraints that apply to this discount. Mandatory if
            ``discountType`` is ``ELIGIBILITY_ONLY``.
          type: array
          items:
            $ref: '#/components/schemas/BankingProductDiscountEligibility'
      x-conditional:
        - accruedRate
        - additionalValue
        - amount
        - balanceRate
        - eligibility
        - feeRate
        - transactionRate
    CommonSimpleAddress:
      type: object
      required:
        - addressLine1
        - city
        - state
      properties:
        mailingName:
          description: >-
            Name of the individual or business formatted for inclusion in an
            address used for physical mail
          type: string
          example: John Doe
        addressLine1:
          description: First line of the standard address object
          type: string
          example: 1 Pitt ST
        addressLine2:
          description: Second line of the standard address object
          type: string
          example: ''
        addressLine3:
          description: Third line of the standard address object
          type: string
          example: ''
        postcode:
          description: Mandatory for Australian addresses
          type: string
          example: 2000
        city:
          description: Name of the city or locality
          type: string
          example: SYDNEY
        state:
          description: >-
            Free text if the country is not Australia. If country is Australia
            then must be one of the values defined by the [State Type
            Abbreviation](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf)
            in the PAF file format. NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT
          type: string
          example: NSW
        country:
          description: >-
            A valid [ISO 3166
            Alpha-3](https://www.iso.org/iso-3166-country-codes.html) country
            code. Australia (AUS) is assumed if country is not present.
          type: string
          example: AUS
          default: AUS
      x-conditional:
        - postcode
    CommonPAFAddress:
      description: >-
        Australian address formatted according to the file format defined by the
        [PAF file
        format](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf)
      type: object
      required:
        - localityName
        - postcode
        - state
      properties:
        dpid:
          description: >-
            Unique identifier for an address as defined by Australia Post.  Also
            known as Delivery Point Identifier
          type: string
          example: 17160
        thoroughfareNumber1:
          description: >-
            Thoroughfare number for a property (first number in a property
            ranged address)
          type: integer
          example: 16
        thoroughfareNumber1Suffix:
          description: >-
            Suffix for the thoroughfare number. Only relevant is
            thoroughfareNumber1 is populated
          type: string
          example: ''
        thoroughfareNumber2:
          description: >-
            Second thoroughfare number (only used if the property has a ranged
            address eg 23-25)
          type: integer
          example: 19
        thoroughfareNumber2Suffix:
          description: >-
            Suffix for the second thoroughfare number. Only relevant is
            thoroughfareNumber2 is populated
          type: string
          example: ''
        flatUnitType:
          description: Type of flat or unit for the address
          type: string
          example: unit
        flatUnitNumber:
          description: Unit number (including suffix, if applicable)
          type: string
          example: 10
        floorLevelType:
          description: Type of floor or level for the address
          type: string
          example: level
        floorLevelNumber:
          description: Floor or level number (including alpha characters)
          type: string
          example: 3
        lotNumber:
          description: Allotment number for the address
          type: string
          example: 10
        buildingName1:
          description: Building/Property name 1
          type: string
          example: summer
        buildingName2:
          description: Building/Property name 2
          type: string
          example: ''
        streetName:
          description: The name of the street
          type: string
          example: Long
        streetType:
          description: >-
            The street type. Valid enumeration defined by Australia Post PAF
            code file
          type: string
          example: ST
        streetSuffix:
          description: >-
            The street type suffix. Valid enumeration defined by Australia Post
            PAF code file
          type: string
        postalDeliveryType:
          description: >-
            Postal delivery type. (eg. PO BOX). Valid enumeration defined by
            Australia Post PAF code file
          type: string
          example: PO BOX
        postalDeliveryNumber:
          description: Postal delivery number if the address is a postal delivery type
          type: integer
          example: 15
        postalDeliveryNumberPrefix:
          description: Postal delivery number prefix related to the postal delivery number
          type: string
          example: ''
        postalDeliveryNumberSuffix:
          description: Postal delivery number suffix related to the postal delivery number
          type: string
          example: ''
        localityName:
          description: Full name of locality
          type: string
          example: Sydney
        postcode:
          description: Postcode for the locality
          type: string
          example: 2000
        state:
          description: >-
            State in which the address belongs. Valid enumeration defined by
            Australia Post PAF code file [State Type
            Abbreviation](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf).
            NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT
          type: string
          example: NSW
    BankingProductRateCondition:
      description: Defines a condition for the applicability of a tiered rate
      type: object
      properties:
        additionalInfo:
          description: Display text providing more information on the condition
          type: string
          example: additional info for rate condition
        additionalInfoUri:
          description: Link to a web page with more information on this condition
          type: string
          example: https://ratecondition.example.com.au
    BankingProductDiscountEligibility:
      type: object
      required:
        - discountEligibilityType
      properties:
        discountEligibilityType:
          description: The type of the specific eligibility constraint for a discount
          type: string
          example: STAFF
          enum:
            - BUSINESS
            - EMPLOYMENT_STATUS
            - INTRODUCTORY
            - MAX_AGE
            - MIN_AGE
            - MIN_INCOME
            - MIN_TURNOVER
            - NATURAL_PERSON
            - PENSION_RECIPIENT
            - RESIDENCY_STATUS
            - STAFF
            - STUDENT
            - OTHER
        additionalValue:
          description: >-
            Generic field containing additional information relevant to the
            [discountEligibilityType](https://raw.githubusercontent.com)
            specified. Whether mandatory or not is dependent on the value of
            [discountEligibilityType](https://raw.githubusercontent.com)
          type: string
          example: additional value for discount eligibility
        additionalInfo:
          description: >-
            Display text providing more information on this eligibility
            constraint. Whether mandatory or not is dependent on the value of
            [discountEligibilityType](https://raw.githubusercontent.com)
          type: string
          example: additional info for discount eligibility
        additionalInfoUri:
          description: >-
            Link to a web page with more information on this eligibility
            constraint
          type: string
          example: https://discounteligibility.example.com.au
      x-conditional:
        - additionalInfo
        - additionalValue
    LinksPaginated:
      type: object
      required:
        - self
      properties:
        self:
          description: >-
            Fully qualified link that generated the current response document.
            https://self.example.com.au will be converted to
            https://self.example.com.au?page=1&page-size=25
          type: string
          example: https://self.example.com.au?page=3&page-size=25
        first:
          description: >-
            URI to the first page of this set. Mandatory if this response is not
            the first page
          type: string
          example: https://self.example.com.au?page=1&page-size=25
        prev:
          description: >-
            URI to the previous page of this set. Mandatory if this response is
            not the first page
          type: string
          example: https://self.example.com.au?page=2&page-size=25
        next:
          description: >-
            URI to the next page of this set. Mandatory if this response is not
            the last page
          type: string
          example: https://self.example.com.au?page=4&page-size=25
        last:
          description: >-
            URI to the last page of this set. Mandatory if this response is not
            the last page
          type: string
          example: https://self.example.com.au?page=15&page-size=25
      x-conditional:
        - prev
        - next
        - first
        - last
    MetaPaginated:
      type: object
      required:
        - totalPages
        - totalRecords
      properties:
        totalRecords:
          description: >-
            The total number of records in the full set. See
            [pagination](https://raw.githubusercontent.com).
          type: integer
          example: 581
        totalPages:
          description: >-
            The total number of pages in the full set. See
            [pagination](https://raw.githubusercontent.com).
          type: integer
          example: 24
    ErrorList:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorList_errors'
    BankingTransactionList_data:
      required:
        - transactions
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/BankingTransaction'
    BankingTransaction:
      type: object
      required:
        - accountId
        - amount
        - description
        - isDetailAvailable
        - reference
        - status
        - type
      properties:
        description:
          description: The transaction description as applied by the financial institution
          example: banking fee
          type: string
        accountId:
          description: ID of the account for which transactions are provided
          type: string
          example: f632041c-d7c8-4679-a165-aa406cd62b13
        transactionId:
          description: >-
            A unique ID of the transaction adhering to the standards for ID
            permanence.  This is mandatory (through hashing if necessary) unless
            there are specific and justifiable technical reasons why a
            transaction cannot be uniquely identified for a particular account
            type
          type: string
          example: f111111-d7c8-4679-a165-aa406cd62b13
        isDetailAvailable:
          description: >-
            True if extended information is available using the transaction
            detail end point. False if extended data is not available
          type: boolean
          example: true
        type:
          description: The type of the transaction
          type: string
          example: FEE
          enum:
            - DIRECT_DEBIT
            - FEE
            - INTEREST_CHARGED
            - INTEREST_PAID
            - PAYMENT
            - TRANSFER_OUTGOING
            - TRANSFER_INCOMING
            - OTHER
        status:
          description: >-
            Status of the transaction whether pending or posted. Note that there
            is currently no provision in the standards to guarantee the ability
            to correlate a pending transaction with an associated posted
            transaction
          type: string
          example: POSTED
          enum:
            - PENDING
            - POSTED
        postingDateTime:
          description: >-
            The time the transaction was posted. This field is Mandatory if the
            transaction has status POSTED.  This is the time that appears on a
            standard statement. DateTimeString can be found at
            https://consumerdatastandardsaustralia.github.io/standards/#common-field-types
          type: string
          example: '2021-01-12T15:43:00.121Z'
        valueDateTime:
          description: >-
            Date and time at which assets become available to the account owner
            in case of a credit entry, or cease to be available to the account
            owner in case of a debit transaction entry
          type: string
          example: '2021-01-12T15:43:00.121Z'
        executionDateTime:
          description: >-
            The time the transaction was executed by the originating customer,
            if available
          type: string
          example: '2021-01-12T15:43:00.121Z'
        amount:
          description: >-
            The value of the transaction. Negative values mean money was
            outgoing from the account
          type: string
          example: 100
        currency:
          description: The currency for the transaction amount. AUD assumed if not present
          type: string
          example: AUD
        reference:
          description: >-
            The reference for the transaction provided by the originating
            institution. Empty string if no data provided
          type: string
          example: overdraw
        merchantName:
          description: Name of the merchant for an outgoing payment to a merchant
          type: string
          example: McDonald
        merchantCategoryCode:
          description: >-
            The merchant category code (or MCC) for an outgoing payment to a
            merchant
          type: string
          example: RANDOM
        billerCode:
          description: BPAY Biller Code for the transaction (if available)
          type: string
          example: 234213427384923
        billerName:
          description: Name of the BPAY biller for the transaction (if available)
          type: string
          example: test biller
        crn:
          description: BPAY CRN for the transaction (if available)
          type: string
          example: 1234asdf1
        apcaNumber:
          description: >-
            6 Digit APCA number for the initiating institution. The field is
            fixed-width and padded with leading zeros if applicable.
          type: string
[...]
