openapi: 3.0.3
info:
  title: Browse AI API Documentation
  description: >-
    If you are still using the deprecated API v1 version, you can see its
    documentation [here](https://www.browse.ai/docs/api/v1).
  version: v2
servers:
  - url: https://api.browse.ai/v2
tags:
  - description: >
      Each robot on Browse AI can optionally have one or more monitors.
      Monitoring robots come with one monitor by default.


      For example, if you set up a monitoring robot to monitor a category page
      on an e-commerce site for changes daily,  you can set up additional
      monitors to monitor other category pages on the same site using the same
      robot.


      Each monitor can have different input parameters and schedule.
    name: monitors
    x-displayName: Monitors
  - description: >
      A robot can be trained do almost anything you do manually on the web. For
      example:

        - Open a webpage,
        - Log in,
        - Click on buttons,
        - Fill out forms,
        - Extract structured data from a webpage into a spreadsheet,
        - Take screenshots,
        - Monitor specific parts of webpages for visual or content changes.

      Robots are created either by using Prebuilt Robots or using Browse AI
      Recorder and its click-and-extract interface.  Every robot has a few input
      parameters (like the webpage address) that you can adjust every time you
      run it.
    name: robots
    x-displayName: Robots
  - description: >
      Each robot is trained to perform a certain task. Every time you run that
      robot, it will perform that task and the  details, including the extracted
      data, will be stored under that task.


      If you set up a monitoring robot to monitor a webpage for changes daily, 
      it will have to run a task every day or about 30 tasks per month for you.
    name: tasks
    x-displayName: Tasks
  - description: |
      After a robot finishes a task, its webhooks will be called.
    name: webhooks
    x-displayName: Webhooks
  - description: >
      You can run up to 50,000 tasks at once using a robot with different input
      parameters for each task.
    name: bulk runs
    x-displayName: Bulk Runs
  - description: >
      There are some endpoints that are only used by our integrations, so we
      don't add this tag to our core resources
    name: internal
    x-displayName: Internal
  - description: >
      This tag is used for endpoints that are used to check the status of Browse
      AI infrastructure
    name: system
    x-displayName: System
paths:
  /status:
    get:
      tags:
        - system
      summary: Endpoint for checking the status of Browse AI infrastructure
      operationId: System_checkInfrastructureStatus
      description: >
        This endpoint provides you with real-time information regarding the
        operational status of the Browse AI infrastructure. It gives insights
        into the condition of the tasks queue, thus allowing you to understand
        if the services are running smoothly or are under maintenance.
      responses:
        '200':
          description: A JSON containing Browse AI infrastructure status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSystemStatus-200'
      x-codeSamples:
        - lang: C#
          label: C#
          source: |
            var client = new RestClient("https://api.browse.ai/v2/status");
            var request = new RestRequest(Method.GET);
            request.AddHeader("Authorization", "Bearer YOUR_SECRET_API_KEY");
            IRestResponse response = client.Execute(request);
        - lang: Go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.browse.ai/v2/status\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Bearer YOUR_SECRET_API_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}\n"
        - lang: Java
          label: Java
          source: >
            HttpResponse<String> response =
            Unirest.get("https://api.browse.ai/v2/status")
              .header("Authorization", "Bearer YOUR_SECRET_API_KEY")
              .asString();
        - lang: Node
          label: Node (Native)
          source: |
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.browse.ai",
              "port": null,
              "path": "/v2/status",
              "headers": {
                "Authorization": "Bearer YOUR_SECRET_API_KEY"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node
          label: Node (request)
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://api.browse.ai/v2/status',
              headers: {Authorization: 'Bearer YOUR_SECRET_API_KEY'}
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Objective-C
          label: Objective-C
          source: >
            #import <Foundation/Foundation.h>


            NSDictionary *headers = @{ @"Authorization": @"Bearer
            YOUR_SECRET_API_KEY" };


            NSMutableURLRequest *request = [NSMutableURLRequest
            requestWithURL:[NSURL
            URLWithString:@"https://api.browse.ai/v2/status"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"GET"];

            [request setAllHTTPHeaderFields:headers];


            NSURLSession *session = [NSURLSession sharedSession];

            NSURLSessionDataTask *dataTask = [session
            dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: PHP
          label: PHP
          source: |
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.browse.ai/v2/status",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer YOUR_SECRET_API_KEY"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          label: Python (python3)
          source: |
            import http.client

            conn = http.client.HTTPSConnection("api.browse.ai")

            headers = { 'Authorization': "Bearer YOUR_SECRET_API_KEY" }

            conn.request("GET", "/v2/status", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python
          label: Python (requests)
          source: |
            import requests

            url = "https://api.browse.ai/v2/status"

            headers = {"Authorization": "Bearer YOUR_SECRET_API_KEY"}

            response = requests.request("GET", url, headers=headers)

            print(response.text)
        - lang: Ruby
          label: Ruby
          source: |
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.browse.ai/v2/status")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'Bearer YOUR_SECRET_API_KEY'

            response = http.request(request)
            puts response.read_body
        - lang: Shell
          label: Shell (cURL)
          source: |
            curl --request GET \
              --url https://api.browse.ai/v2/status \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY'
        - lang: Shell
          label: Shell (wget)
          source: |
            wget --quiet \
              --method GET \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY' \
              --output-document \
              - https://api.browse.ai/v2/status
        - lang: Swift
          label: Swift
          source: >
            import Foundation


            let headers = ["Authorization": "Bearer YOUR_SECRET_API_KEY"]


            let request = NSMutableURLRequest(url: NSURL(string:
            "https://api.browse.ai/v2/status")! as URL,
                                                    cachePolicy: .useProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.httpMethod = "GET"

            request.allHTTPHeaderFields = headers


            let session = URLSession.shared

            let dataTask = session.dataTask(with: request as URLRequest,
            completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                print(error)
              } else {
                let httpResponse = response as? HTTPURLResponse
                print(httpResponse)
              }
            })


            dataTask.resume()
  /teams:
    get:
      tags:
        - internal
      summary: Retrieve list of teams under user account
      operationId: Internal_getTeamsByAuth0AccessToken
      description: >
        this endpoint be used on Browse AI integrations to fetch all of the
        teams by auth0 access token
      parameters:
        - $ref: '#/components/parameters/authorization'
      responses:
        '200':
          description: A JSON containing the total number of the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserTeams-200'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
      x-codeSamples:
        - lang: C#
          label: C#
          source: |
            var client = new RestClient("https://api.browse.ai/v2/teams");
            var request = new RestRequest(Method.GET);
            request.AddHeader("Authorization", "Bearer YOUR_SECRET_API_KEY");
            IRestResponse response = client.Execute(request);
        - lang: Go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.browse.ai/v2/teams\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Bearer YOUR_SECRET_API_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}\n"
        - lang: Java
          label: Java
          source: >
            HttpResponse<String> response =
            Unirest.get("https://api.browse.ai/v2/teams")
              .header("Authorization", "Bearer YOUR_SECRET_API_KEY")
              .asString();
        - lang: Node
          label: Node (Native)
          source: |
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.browse.ai",
              "port": null,
              "path": "/v2/teams",
              "headers": {
                "Authorization": "Bearer YOUR_SECRET_API_KEY"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node
          label: Node (request)
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://api.browse.ai/v2/teams',
              headers: {Authorization: 'Bearer YOUR_SECRET_API_KEY'}
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Objective-C
          label: Objective-C
          source: >
            #import <Foundation/Foundation.h>


            NSDictionary *headers = @{ @"Authorization": @"Bearer
            YOUR_SECRET_API_KEY" };


            NSMutableURLRequest *request = [NSMutableURLRequest
            requestWithURL:[NSURL
            URLWithString:@"https://api.browse.ai/v2/teams"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"GET"];

            [request setAllHTTPHeaderFields:headers];


            NSURLSession *session = [NSURLSession sharedSession];

            NSURLSessionDataTask *dataTask = [session
            dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: PHP
          label: PHP
          source: |
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.browse.ai/v2/teams",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer YOUR_SECRET_API_KEY"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          label: Python (python3)
          source: |
            import http.client

            conn = http.client.HTTPSConnection("api.browse.ai")

            headers = { 'Authorization': "Bearer YOUR_SECRET_API_KEY" }

            conn.request("GET", "/v2/teams", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python
          label: Python (requests)
          source: |
            import requests

            url = "https://api.browse.ai/v2/teams"

            headers = {"Authorization": "Bearer YOUR_SECRET_API_KEY"}

            response = requests.request("GET", url, headers=headers)

            print(response.text)
        - lang: Ruby
          label: Ruby
          source: |
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.browse.ai/v2/teams")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'Bearer YOUR_SECRET_API_KEY'

            response = http.request(request)
            puts response.read_body
        - lang: Shell
          label: Shell (cURL)
          source: |
            curl --request GET \
              --url https://api.browse.ai/v2/teams \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY'
        - lang: Shell
          label: Shell (wget)
          source: |
            wget --quiet \
              --method GET \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY' \
              --output-document \
              - https://api.browse.ai/v2/teams
        - lang: Swift
          label: Swift
          source: >
            import Foundation


            let headers = ["Authorization": "Bearer YOUR_SECRET_API_KEY"]


            let request = NSMutableURLRequest(url: NSURL(string:
            "https://api.browse.ai/v2/teams")! as URL,
                                                    cachePolicy: .useProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.httpMethod = "GET"

            request.allHTTPHeaderFields = headers


            let session = URLSession.shared

            let dataTask = session.dataTask(with: request as URLRequest,
            completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                print(error)
              } else {
                let httpResponse = response as? HTTPURLResponse
                print(httpResponse)
              }
            })


            dataTask.resume()
  /robots:
    get:
      tags:
        - robots
      summary: Retrieve list of robots under your account
      operationId: Robots_listRetrieval
      description: >
        If you have already created a few robots on [your
        dashboard](https://dashboard.browse.ai), you can use this endpoint to
        retrieve a list of them.
          
        You can then use other endpoints to retrieve more information about your
        robots or run robots.
      parameters:
        - $ref: '#/components/parameters/authorization'
      responses:
        '200':
          description: >-
            A JSON containing the total number of robots and an array of robots
            under this team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRobots-200'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
      x-codeSamples:
        - lang: C#
          label: C#
          source: |
            var client = new RestClient("https://api.browse.ai/v2/robots");
            var request = new RestRequest(Method.GET);
            request.AddHeader("Authorization", "Bearer YOUR_SECRET_API_KEY");
            IRestResponse response = client.Execute(request);
        - lang: Go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.browse.ai/v2/robots\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Bearer YOUR_SECRET_API_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}\n"
        - lang: Java
          label: Java
          source: >
            HttpResponse<String> response =
            Unirest.get("https://api.browse.ai/v2/robots")
              .header("Authorization", "Bearer YOUR_SECRET_API_KEY")
              .asString();
        - lang: Node
          label: Node (Native)
          source: |
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.browse.ai",
              "port": null,
              "path": "/v2/robots",
              "headers": {
                "Authorization": "Bearer YOUR_SECRET_API_KEY"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node
          label: Node (request)
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://api.browse.ai/v2/robots',
              headers: {Authorization: 'Bearer YOUR_SECRET_API_KEY'}
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Objective-C
          label: Objective-C
          source: >
            #import <Foundation/Foundation.h>


            NSDictionary *headers = @{ @"Authorization": @"Bearer
            YOUR_SECRET_API_KEY" };


            NSMutableURLRequest *request = [NSMutableURLRequest
            requestWithURL:[NSURL
            URLWithString:@"https://api.browse.ai/v2/robots"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"GET"];

            [request setAllHTTPHeaderFields:headers];


            NSURLSession *session = [NSURLSession sharedSession];

            NSURLSessionDataTask *dataTask = [session
            dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: PHP
          label: PHP
          source: |
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.browse.ai/v2/robots",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer YOUR_SECRET_API_KEY"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          label: Python (python3)
          source: |
            import http.client

            conn = http.client.HTTPSConnection("api.browse.ai")

            headers = { 'Authorization': "Bearer YOUR_SECRET_API_KEY" }

            conn.request("GET", "/v2/robots", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python
          label: Python (requests)
          source: |
            import requests

            url = "https://api.browse.ai/v2/robots"

            headers = {"Authorization": "Bearer YOUR_SECRET_API_KEY"}

            response = requests.request("GET", url, headers=headers)

            print(response.text)
        - lang: Ruby
          label: Ruby
          source: |
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.browse.ai/v2/robots")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'Bearer YOUR_SECRET_API_KEY'

            response = http.request(request)
            puts response.read_body
        - lang: Shell
          label: Shell (cURL)
          source: |
            curl --request GET \
              --url https://api.browse.ai/v2/robots \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY'
        - lang: Shell
          label: Shell (wget)
          source: |
            wget --quiet \
              --method GET \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY' \
              --output-document \
              - https://api.browse.ai/v2/robots
        - lang: Swift
          label: Swift
          source: >
            import Foundation


            let headers = ["Authorization": "Bearer YOUR_SECRET_API_KEY"]


            let request = NSMutableURLRequest(url: NSURL(string:
            "https://api.browse.ai/v2/robots")! as URL,
                                                    cachePolicy: .useProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.httpMethod = "GET"

            request.allHTTPHeaderFields = headers


            let session = URLSession.shared

            let dataTask = session.dataTask(with: request as URLRequest,
            completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                print(error)
              } else {
                let httpResponse = response as? HTTPURLResponse
                print(httpResponse)
              }
            })


            dataTask.resume()
  /robots/{robotId}:
    get:
      tags:
        - robots
      summary: Retrieve single robot by ID
      operationId: Robots_getById
      description: |
        You can use this endpoint to retrieve a single robot by ID.
      parameters:
        - $ref: '#/components/parameters/authorization'
        - description: >
            Unique robot ID You can find a robot's ID by opening it on the
            dashboard and copying its ID in the browser address bar.
          in: path
          name: robotId
          schema:
            type: string
          required: true
          example: c3689adb-50aa-44af-b265-a7e0d4e5846e
      responses:
        '200':
          description: >-
            A JSON containing the total number of robots and an array of robots
            under this team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRobot-200'
        '400':
          description: A JSON containing an error code and message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRobot-400'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: The resource is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: There was an error on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
      x-codeSamples:
        - lang: C#
          label: C#
          source: >
            var client = new
            RestClient("https://api.browse.ai/v2/robots/{robotId}");

            var request = new RestRequest(Method.GET);

            request.AddHeader("Authorization", "Bearer YOUR_SECRET_API_KEY");

            IRestResponse response = client.Execute(request);
        - lang: Go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.browse.ai/v2/robots/{robotId}\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Bearer YOUR_SECRET_API_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}\n"
        - lang: Java
          label: Java
          source: >
            HttpResponse<String> response =
            Unirest.get("https://api.browse.ai/v2/robots/{robotId}")
              .header("Authorization", "Bearer YOUR_SECRET_API_KEY")
              .asString();
        - lang: Node
          label: Node (Native)
          source: |
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.browse.ai",
              "port": null,
              "path": "/v2/robots/{robotId}",
              "headers": {
                "Authorization": "Bearer YOUR_SECRET_API_KEY"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node
          label: Node (request)
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://api.browse.ai/v2/robots/{robotId}',
              headers: {Authorization: 'Bearer YOUR_SECRET_API_KEY'}
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Objective-C
          label: Objective-C
          source: >
            #import <Foundation/Foundation.h>


            NSDictionary *headers = @{ @"Authorization": @"Bearer
            YOUR_SECRET_API_KEY" };


            NSMutableURLRequest *request = [NSMutableURLRequest
            requestWithURL:[NSURL
            URLWithString:@"https://api.browse.ai/v2/robots/{robotId}"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"GET"];

            [request setAllHTTPHeaderFields:headers];


            NSURLSession *session = [NSURLSession sharedSession];

            NSURLSessionDataTask *dataTask = [session
            dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: PHP
          label: PHP
          source: |
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.browse.ai/v2/robots/{robotId}",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer YOUR_SECRET_API_KEY"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          label: Python (python3)
          source: |
            import http.client

            conn = http.client.HTTPSConnection("api.browse.ai")

            headers = { 'Authorization': "Bearer YOUR_SECRET_API_KEY" }

            conn.request("GET", "/v2/robots/{robotId}", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python
          label: Python (requests)
          source: |
            import requests

            url = "https://api.browse.ai/v2/robots/{robotId}"

            headers = {"Authorization": "Bearer YOUR_SECRET_API_KEY"}

            response = requests.request("GET", url, headers=headers)

            print(response.text)
        - lang: Ruby
          label: Ruby
          source: |
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.browse.ai/v2/robots/{robotId}")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'Bearer YOUR_SECRET_API_KEY'

            response = http.request(request)
            puts response.read_body
        - lang: Shell
          label: Shell (cURL)
          source: |
            curl --request GET \
              --url https://api.browse.ai/v2/robots/{robotId} \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY'
        - lang: Shell
          label: Shell (wget)
          source: |
            wget --quiet \
              --method GET \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY' \
              --output-document \
              - https://api.browse.ai/v2/robots/{robotId}
        - lang: Swift
          label: Swift
          source: >
            import Foundation


            let headers = ["Authorization": "Bearer YOUR_SECRET_API_KEY"]


            let request = NSMutableURLRequest(url: NSURL(string:
            "https://api.browse.ai/v2/robots/{robotId}")! as URL,
                                                    cachePolicy: .useProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.httpMethod = "GET"

            request.allHTTPHeaderFields = headers


            let session = URLSession.shared

            let dataTask = session.dataTask(with: request as URLRequest,
            completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                print(error)
              } else {
                let httpResponse = response as? HTTPURLResponse
                print(httpResponse)
              }
            })


            dataTask.resume()
  /robots/{robotId}/cookies:
    patch:
      tags:
        - robots
      summary: Update a robot's cookies
      operationId: Robots_updateCookies
      description: Update a robot's cookies
      parameters:
        - $ref: '#/components/parameters/authorization'
        - description: >
            Unique robot ID


            You can find a robot's ID by opening it on the dashboard and copying
            its ID in the browser address bar.
          in: path
          name: robotId
          schema:
            type: string
          required: true
          example: c3689adb-50aa-44af-b265-a7e0d4e5846e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RobotsUpdateCookiesRequest'
      responses:
        '200':
          description: A JSON object containing the updated monitor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upsertRobotCookies-200'
        '400':
          description: >-
            A JSON containing error attributes. This will happen if any of the
            parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upsertRobotCookies-400'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: The resource is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: There was an error on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
      x-codeSamples:
        - lang: C#
          label: C#
          source: >
            var client = new
            RestClient("https://api.browse.ai/v2/robots/{robotId}/monitors/{monitorId}");

            var request = new RestRequest(Method.PATCH);

            request.AddHeader("Authorization", "Bearer YOUR_SECRET_API_KEY");

            request.AddParameter("undefined", "{\"name\":\"Monitor
            products\",\"inputParameters\":{\"originUrl\":\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\"},\"schedule\":\"FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR\",\"notifyOnCapturedScreenshotChange\":false,\"notifyOnCapturedTextChange\":true,\"capturedScreenshotNotificationThreshold\":16}",
            ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.browse.ai/v2/robots/{robotId}/monitors/{monitorId}\"\n\n\tpayload := strings.NewReader(\"{\\\"name\\\":\\\"Monitor products\\\",\\\"inputParameters\\\":{\\\"originUrl\\\":\\\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\\\"},\\\"schedule\\\":\\\"FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR\\\",\\\"notifyOnCapturedScreenshotChange\\\":false,\\\"notifyOnCapturedTextChange\\\":true,\\\"capturedScreenshotNotificationThreshold\\\":16}\")\n\n\treq, _ := http.NewRequest(\"PATCH\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"Bearer YOUR_SECRET_API_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}\n"
        - lang: Java
          label: Java
          source: >
            HttpResponse<String> response =
            Unirest.patch("https://api.browse.ai/v2/robots/{robotId}/monitors/{monitorId}")
              .header("Authorization", "Bearer YOUR_SECRET_API_KEY")
              .body("{\"name\":\"Monitor products\",\"inputParameters\":{\"originUrl\":\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\"},\"schedule\":\"FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR\",\"notifyOnCapturedScreenshotChange\":false,\"notifyOnCapturedTextChange\":true,\"capturedScreenshotNotificationThreshold\":16}")
              .asString();
        - lang: Node
          label: Node (Native)
          source: |
            const http = require("https");

            const options = {
              "method": "PATCH",
              "hostname": "api.browse.ai",
              "port": null,
              "path": "/v2/robots/{robotId}/monitors/{monitorId}",
              "headers": {
                "Authorization": "Bearer YOUR_SECRET_API_KEY"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({
              name: 'Monitor products',
              inputParameters: {
                originUrl: 'https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines'
              },
              schedule: 'FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR',
              notifyOnCapturedScreenshotChange: false,
              notifyOnCapturedTextChange: true,
              capturedScreenshotNotificationThreshold: 16
            }));
            req.end();
        - lang: Node
          label: Node (request)
          source: |
            const request = require('request');

            const options = {
              method: 'PATCH',
              url: 'https://api.browse.ai/v2/robots/{robotId}/monitors/{monitorId}',
              headers: {Authorization: 'Bearer YOUR_SECRET_API_KEY'},
              body: {
                name: 'Monitor products',
                inputParameters: {
                  originUrl: 'https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines'
                },
                schedule: 'FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR',
                notifyOnCapturedScreenshotChange: false,
                notifyOnCapturedTextChange: true,
                capturedScreenshotNotificationThreshold: 16
              },
              json: true
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Objective-C
          label: Objective-C
          source: >
            #import <Foundation/Foundation.h>


            NSDictionary *headers = @{ @"Authorization": @"Bearer
            YOUR_SECRET_API_KEY" };

            NSDictionary *parameters = @{ @"name": @"Monitor products",
                                          @"inputParameters": @{ @"originUrl": @"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines" },
                                          @"schedule": @"FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR",
                                          @"notifyOnCapturedScreenshotChange": @NO,
                                          @"notifyOnCapturedTextChange": @YES,
                                          @"capturedScreenshotNotificationThreshold": @16 };

            NSData *postData = [NSJSONSerialization
            dataWithJSONObject:parameters options:0 error:nil];


            NSMutableURLRequest *request = [NSMutableURLRequest
            requestWithURL:[NSURL
            URLWithString:@"https://api.browse.ai/v2/robots/{robotId}/monitors/{monitorId}"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"PATCH"];

            [request setAllHTTPHeaderFields:headers];

            [request setHTTPBody:postData];


            NSURLSession *session = [NSURLSession sharedSession];

            NSURLSessionDataTask *dataTask = [session
            dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: PHP
          label: PHP
          source: |
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.browse.ai/v2/robots/{robotId}/monitors/{monitorId}",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "PATCH",
              CURLOPT_POSTFIELDS => "{\"name\":\"Monitor products\",\"inputParameters\":{\"originUrl\":\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\"},\"schedule\":\"FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR\",\"notifyOnCapturedScreenshotChange\":false,\"notifyOnCapturedTextChange\":true,\"capturedScreenshotNotificationThreshold\":16}",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer YOUR_SECRET_API_KEY"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          label: Python (python3)
          source: >
            import http.client


            conn = http.client.HTTPSConnection("api.browse.ai")


            payload = "{\"name\":\"Monitor
            products\",\"inputParameters\":{\"originUrl\":\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\"},\"schedule\":\"FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR\",\"notifyOnCapturedScreenshotChange\":false,\"notifyOnCapturedTextChange\":true,\"capturedScreenshotNotificationThreshold\":16}"


            headers = { 'Authorization': "Bearer YOUR_SECRET_API_KEY" }


            conn.request("PATCH", "/v2/robots/{robotId}/monitors/{monitorId}",
            payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Python
          label: Python (requests)
          source: >
            import requests


            url =
            "https://api.browse.ai/v2/robots/{robotId}/monitors/{monitorId}"


            payload = {
                "name": "Monitor products",
                "inputParameters": {"originUrl": "https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines"},
                "schedule": "FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR",
                "notifyOnCapturedScreenshotChange": False,
                "notifyOnCapturedTextChange": True,
                "capturedScreenshotNotificationThreshold": 16
            }

            headers = {"Authorization": "Bearer YOUR_SECRET_API_KEY"}


            response = requests.request("PATCH", url, json=payload,
            headers=headers)


            print(response.text)
        - lang: Ruby
          label: Ruby
          source: >
            require 'uri'

            require 'net/http'

            require 'openssl'


            url =
            URI("https://api.browse.ai/v2/robots/{robotId}/monitors/{monitorId}")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Patch.new(url)

            request["Authorization"] = 'Bearer YOUR_SECRET_API_KEY'

            request.body = "{\"name\":\"Monitor
            products\",\"inputParameters\":{\"originUrl\":\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\"},\"schedule\":\"FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR\",\"notifyOnCapturedScreenshotChange\":false,\"notifyOnCapturedTextChange\":true,\"capturedScreenshotNotificationThreshold\":16}"


            response = http.request(request)

            puts response.read_body
        - lang: Shell
          label: Shell (cURL)
          source: |
            curl --request PATCH \
              --url https://api.browse.ai/v2/robots/{robotId}/monitors/{monitorId} \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY' \
              --data '{"name":"Monitor products","inputParameters":{"originUrl":"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines"},"schedule":"FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR","notifyOnCapturedScreenshotChange":false,"notifyOnCapturedTextChange":true,"capturedScreenshotNotificationThreshold":16}'
        - lang: Shell
          label: Shell (wget)
          source: |
            wget --quiet \
              --method PATCH \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY' \
              --body-data '{"name":"Monitor products","inputParameters":{"originUrl":"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines"},"schedule":"FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR","notifyOnCapturedScreenshotChange":false,"notifyOnCapturedTextChange":true,"capturedScreenshotNotificationThreshold":16}' \
              --output-document \
              - https://api.browse.ai/v2/robots/{robotId}/monitors/{monitorId}
        - lang: Swift
          label: Swift
          source: >
            import Foundation


            let headers = ["Authorization": "Bearer YOUR_SECRET_API_KEY"]

            let parameters = [
              "name": "Monitor products",
              "inputParameters": ["originUrl": "https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines"],
              "schedule": "FREQ=HOURLY;INTERVAL=1;BYWEEKDAY=MO,TU,WE,TH,FR",
              "notifyOnCapturedScreenshotChange": false,
              "notifyOnCapturedTextChange": true,
              "capturedScreenshotNotificationThreshold": 16
            ] as [String : Any]


            let postData = JSONSerialization.data(withJSONObject: parameters,
            options: [])


            let request = NSMutableURLRequest(url: NSURL(string:
            "https://api.browse.ai/v2/robots/{robotId}/monitors/{monitorId}")!
            as URL,
                                                    cachePolicy: .useProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.httpMethod = "PATCH"

            request.allHTTPHeaderFields = headers

            request.httpBody = postData as Data


            let session = URLSession.shared

            let dataTask = session.dataTask(with: request as URLRequest,
            completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                print(error)
              } else {
                let httpResponse = response as? HTTPURLResponse
                print(httpResponse)
              }
            })


            dataTask.resume()
  /robots/{robotId}/tasks:
    get:
      tags:
        - tasks
      summary: Get all tasks by a robot
      operationId: Tasks_getAllByRobot
      description: |
        Get all of a robot's tasks
      parameters:
        - $ref: '#/components/parameters/authorization'
        - description: >
            Unique robot ID


            You can find a robot's ID by opening it on the dashboard and copying
            its ID in the browser address bar.
          in: path
          name: robotId
          schema:
            type: string
          required: true
          example: c3689adb-50aa-44af-b265-a7e0d4e5846e
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
            minimum: 1
            example: 1
          required: false
        - description: Page size
          in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 10
            example: 10
          required: false
        - description: Task status
          in: query
          name: status
          schema:
            type: string
            enum:
              - failed
              - successful
              - in-progress
            example: successful
          required: false
        - description: filter the result based on robot bulk run ID
          in: query
          name: robotBulkRunId
          schema:
            type: string
            example: f6fb62b6-f06a-4bf7-a623-c6a35c2e70b0
          required: false
        - description: >-
            A comma separated list of fields to sort by. Default sorting is
            ascending and prefixing field names with a hyphen '-' yields a
            descending order.
          in: query
          name: sort
          schema:
            type: string
            example: '-createdAt,finishedAt'
          required: false
        - description: by passing false you can exclude the retried tasks
          in: query
          name: includeRetried
          schema:
            type: boolean
            example: false
          required: false
        - description: From task creation date and time in the form of a Unix timestamp
          in: query
          name: fromDate
          schema:
            type: integer
            example: 1678795867879
          required: false
        - description: To task creation date and time in the form of a Unix timestamp
          in: query
          name: toDate
          schema:
            type: integer
            example: 1678795867879
          required: false
      responses:
        '200':
          description: A JSON including robots list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRobotTasks-200'
        '400':
          description: >-
            A JSON containing error attributes. This will happen if any of the
            parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRobotTasks-400'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
      x-codeSamples:
        - lang: C#
          label: C#
          source: >
            var client = new
            RestClient("https://api.browse.ai/v2/robots/{robotId}/tasks?page=1");

            var request = new RestRequest(Method.GET);

            request.AddHeader("Authorization", "Bearer YOUR_SECRET_API_KEY");

            IRestResponse response = client.Execute(request);
        - lang: Go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.browse.ai/v2/robots/{robotId}/tasks?page=1\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Bearer YOUR_SECRET_API_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}\n"
        - lang: Java
          label: Java
          source: >
            HttpResponse<String> response =
            Unirest.get("https://api.browse.ai/v2/robots/{robotId}/tasks?page=1")
              .header("Authorization", "Bearer YOUR_SECRET_API_KEY")
              .asString();
        - lang: Node
          label: Node (Native)
          source: |
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.browse.ai",
              "port": null,
              "path": "/v2/robots/{robotId}/tasks?page=1",
              "headers": {
                "Authorization": "Bearer YOUR_SECRET_API_KEY"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node
          label: Node (request)
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://api.browse.ai/v2/robots/{robotId}/tasks',
              qs: {page: '1'},
              headers: {Authorization: 'Bearer YOUR_SECRET_API_KEY'}
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Objective-C
          label: Objective-C
          source: >
            #import <Foundation/Foundation.h>


            NSDictionary *headers = @{ @"Authorization": @"Bearer
            YOUR_SECRET_API_KEY" };


            NSMutableURLRequest *request = [NSMutableURLRequest
            requestWithURL:[NSURL
            URLWithString:@"https://api.browse.ai/v2/robots/{robotId}/tasks?page=1"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"GET"];

            [request setAllHTTPHeaderFields:headers];


            NSURLSession *session = [NSURLSession sharedSession];

            NSURLSessionDataTask *dataTask = [session
            dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: PHP
          label: PHP
          source: |
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.browse.ai/v2/robots/{robotId}/tasks?page=1",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer YOUR_SECRET_API_KEY"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          label: Python (python3)
          source: >
            import http.client


            conn = http.client.HTTPSConnection("api.browse.ai")


            headers = { 'Authorization': "Bearer YOUR_SECRET_API_KEY" }


            conn.request("GET", "/v2/robots/{robotId}/tasks?page=1",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Python
          label: Python (requests)
          source: >
            import requests


            url = "https://api.browse.ai/v2/robots/{robotId}/tasks"


            querystring = {"page":"1"}


            headers = {"Authorization": "Bearer YOUR_SECRET_API_KEY"}


            response = requests.request("GET", url, headers=headers,
            params=querystring)


            print(response.text)
        - lang: Ruby
          label: Ruby
          source: |
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.browse.ai/v2/robots/{robotId}/tasks?page=1")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'Bearer YOUR_SECRET_API_KEY'

            response = http.request(request)
            puts response.read_body
        - lang: Shell
          label: Shell (cURL)
          source: |
            curl --request GET \
              --url 'https://api.browse.ai/v2/robots/{robotId}/tasks?page=1' \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY'
        - lang: Shell
          label: Shell (wget)
          source: |
            wget --quiet \
              --method GET \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY' \
              --output-document \
              - 'https://api.browse.ai/v2/robots/{robotId}/tasks?page=1'
        - lang: Swift
          label: Swift
          source: >
            import Foundation


            let headers = ["Authorization": "Bearer YOUR_SECRET_API_KEY"]


            let request = NSMutableURLRequest(url: NSURL(string:
            "https://api.browse.ai/v2/robots/{robotId}/tasks?page=1")! as URL,
                                                    cachePolicy: .useProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.httpMethod = "GET"

            request.allHTTPHeaderFields = headers


            let session = URLSession.shared

            let dataTask = session.dataTask(with: request as URLRequest,
            completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                print(error)
              } else {
                let httpResponse = response as? HTTPURLResponse
                print(httpResponse)
              }
            })


            dataTask.resume()
    post:
      tags:
        - tasks
      summary: Run a robot
      operationId: Tasks_runRobotTask
      description: >
        Run a robot on-demand with custom input parameters.


        When you need to run a robot and get its captured data, you can use this
        endpoint to run  the task, and then use webhooks to receive the captured
        data as soon as the task is finished.  Alternatively, you can poll the
        GET endpoint to retrieve a task's details as soon as it is finished.
      parameters:
        - $ref: '#/components/parameters/authorization'
        - description: >
            Unique robot ID


            You can find a robot's ID by opening it on the dashboard and copying
            its ID in the browser address bar.
          in: path
          name: robotId
          schema:
            type: string
          required: true
          example: c3689adb-50aa-44af-b265-a7e0d4e5846e
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewRobotTaskBodyParams'
      responses:
        '200':
          description: A JSON including robots list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/newRobotTask-200'
        '400':
          description: >-
            A JSON containing error attributes. This will happen if any of the
            parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/newRobotTask-400'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: The request can not be processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsLimitReachedResponse'
        '404':
          description: The resource is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: There was an error on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
        '503':
          description: A JSON containing error attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RobotUnderMaintenanceResponse'
      x-codeSamples:
        - lang: C#
          label: C#
          source: >
            var client = new
            RestClient("https://api.browse.ai/v2/robots/{robotId}/tasks");

            var request = new RestRequest(Method.POST);

            request.AddHeader("Authorization", "Bearer YOUR_SECRET_API_KEY");

            request.AddParameter("undefined",
            "{\"inputParameters\":{\"originUrl\":\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\"}}",
            ParameterType.RequestBody);

            IRestResponse response = client.Execute(request);
        - lang: Go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.browse.ai/v2/robots/{robotId}/tasks\"\n\n\tpayload := strings.NewReader(\"{\\\"inputParameters\\\":{\\\"originUrl\\\":\\\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"Bearer YOUR_SECRET_API_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}\n"
        - lang: Java
          label: Java
          source: >
            HttpResponse<String> response =
            Unirest.post("https://api.browse.ai/v2/robots/{robotId}/tasks")
              .header("Authorization", "Bearer YOUR_SECRET_API_KEY")
              .body("{\"inputParameters\":{\"originUrl\":\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\"}}")
              .asString();
        - lang: Node
          label: Node (Native)
          source: |
            const http = require("https");

            const options = {
              "method": "POST",
              "hostname": "api.browse.ai",
              "port": null,
              "path": "/v2/robots/{robotId}/tasks",
              "headers": {
                "Authorization": "Bearer YOUR_SECRET_API_KEY"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({
              inputParameters: {
                originUrl: 'https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines'
              }
            }));
            req.end();
        - lang: Node
          label: Node (request)
          source: |
            const request = require('request');

            const options = {
              method: 'POST',
              url: 'https://api.browse.ai/v2/robots/{robotId}/tasks',
              headers: {Authorization: 'Bearer YOUR_SECRET_API_KEY'},
              body: {
                inputParameters: {
                  originUrl: 'https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines'
                }
              },
              json: true
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Objective-C
          label: Objective-C
          source: >
            #import <Foundation/Foundation.h>


            NSDictionary *headers = @{ @"Authorization": @"Bearer
            YOUR_SECRET_API_KEY" };

            NSDictionary *parameters = @{ @"inputParameters": @{ @"originUrl":
            @"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines"
            } };


            NSData *postData = [NSJSONSerialization
            dataWithJSONObject:parameters options:0 error:nil];


            NSMutableURLRequest *request = [NSMutableURLRequest
            requestWithURL:[NSURL
            URLWithString:@"https://api.browse.ai/v2/robots/{robotId}/tasks"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"POST"];

            [request setAllHTTPHeaderFields:headers];

            [request setHTTPBody:postData];


            NSURLSession *session = [NSURLSession sharedSession];

            NSURLSessionDataTask *dataTask = [session
            dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: PHP
          label: PHP
          source: |
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.browse.ai/v2/robots/{robotId}/tasks",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"inputParameters\":{\"originUrl\":\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\"}}",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer YOUR_SECRET_API_KEY"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          label: Python (python3)
          source: >
            import http.client


            conn = http.client.HTTPSConnection("api.browse.ai")


            payload =
            "{\"inputParameters\":{\"originUrl\":\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\"}}"


            headers = { 'Authorization': "Bearer YOUR_SECRET_API_KEY" }


            conn.request("POST", "/v2/robots/{robotId}/tasks", payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Python
          label: Python (requests)
          source: >
            import requests


            url = "https://api.browse.ai/v2/robots/{robotId}/tasks"


            payload = {"inputParameters": {"originUrl":
            "https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines"}}

            headers = {"Authorization": "Bearer YOUR_SECRET_API_KEY"}


            response = requests.request("POST", url, json=payload,
            headers=headers)


            print(response.text)
        - lang: Ruby
          label: Ruby
          source: >
            require 'uri'

            require 'net/http'

            require 'openssl'


            url = URI("https://api.browse.ai/v2/robots/{robotId}/tasks")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Post.new(url)

            request["Authorization"] = 'Bearer YOUR_SECRET_API_KEY'

            request.body =
            "{\"inputParameters\":{\"originUrl\":\"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines\"}}"


            response = http.request(request)

            puts response.read_body
        - lang: Shell
          label: Shell (cURL)
          source: |
            curl --request POST \
              --url https://api.browse.ai/v2/robots/{robotId}/tasks \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY' \
              --data '{"inputParameters":{"originUrl":"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines"}}'
        - lang: Shell
          label: Shell (wget)
          source: |
            wget --quiet \
              --method POST \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY' \
              --body-data '{"inputParameters":{"originUrl":"https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines"}}' \
              --output-document \
              - https://api.browse.ai/v2/robots/{robotId}/tasks
        - lang: Swift
          label: Swift
          source: >
            import Foundation


            let headers = ["Authorization": "Bearer YOUR_SECRET_API_KEY"]

            let parameters = ["inputParameters": ["originUrl":
            "https://www.espressozone.com/espresso-machines/semi-automatic-espresso-machines"]]
            as [String : Any]


            let postData = JSONSerialization.data(withJSONObject: parameters,
            options: [])


            let request = NSMutableURLRequest(url: NSURL(string:
            "https://api.browse.ai/v2/robots/{robotId}/tasks")! as URL,
                                                    cachePolicy: .useProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.httpMethod = "POST"

            request.allHTTPHeaderFields = headers

            request.httpBody = postData as Data


            let session = URLSession.shared

            let dataTask = session.dataTask(with: request as URLRequest,
            completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                print(error)
              } else {
                let httpResponse = response as? HTTPURLResponse
                print(httpResponse)
              }
            })


            dataTask.resume()
  /robots/{robotId}/tasks/{taskId}:
    get:
      tags:
        - tasks
      summary: Retrieve a task
      operationId: Tasks_getTaskDetails
      description: Retrieve a task's details and captured data.
      parameters:
        - $ref: '#/components/parameters/authorization'
        - description: >
            Unique robot ID


            You can find a robot's ID by opening it on the dashboard and copying
            its ID in the browser address bar.
          in: path
          name: robotId
          schema:
            type: string
          required: true
          example: c3689adb-50aa-44af-b265-a7e0d4e5846e
        - description: Unique task ID
          in: path
          name: taskId
          schema:
            type: string
          required: true
          example: f3672790-4561-424b-8a7b-7b7df182b236
      responses:
        '200':
          description: A JSON including robots list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRobotTask-200'
        '400':
          description: >-
            A JSON containing error attributes. This will happen if any of the
            parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRobotTask-400'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: The resource is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
      x-codeSamples:
        - lang: C#
          label: C#
          source: >
            var client = new
            RestClient("https://api.browse.ai/v2/robots/{robotId}/tasks/{taskId}");

            var request = new RestRequest(Method.GET);

            request.AddHeader("Authorization", "Bearer YOUR_SECRET_API_KEY");

            IRestResponse response = client.Execute(request);
        - lang: Go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.browse.ai/v2/robots/{robotId}/tasks/{taskId}\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Bearer YOUR_SECRET_API_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}\n"
        - lang: Java
          label: Java
          source: >
            HttpResponse<String> response =
            Unirest.get("https://api.browse.ai/v2/robots/{robotId}/tasks/{taskId}")
              .header("Authorization", "Bearer YOUR_SECRET_API_KEY")
              .asString();
        - lang: Node
          label: Node (Native)
          source: |
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.browse.ai",
              "port": null,
              "path": "/v2/robots/{robotId}/tasks/{taskId}",
              "headers": {
                "Authorization": "Bearer YOUR_SECRET_API_KEY"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node
          label: Node (request)
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://api.browse.ai/v2/robots/{robotId}/tasks/{taskId}',
              headers: {Authorization: 'Bearer YOUR_SECRET_API_KEY'}
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Objective-C
          label: Objective-C
          source: >
            #import <Foundation/Foundation.h>


            NSDictionary *headers = @{ @"Authorization": @"Bearer
            YOUR_SECRET_API_KEY" };


            NSMutableURLRequest *request = [NSMutableURLRequest
            requestWithURL:[NSURL
            URLWithString:@"https://api.browse.ai/v2/robots/{robotId}/tasks/{taskId}"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"GET"];

            [request setAllHTTPHeaderFields:headers];


            NSURLSession *session = [NSURLSession sharedSession];

            NSURLSessionDataTask *dataTask = [session
            dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: PHP
          label: PHP
          source: |
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.browse.ai/v2/robots/{robotId}/tasks/{taskId}",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer YOUR_SECRET_API_KEY"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          label: Python (python3)
          source: >
            import http.client


            conn = http.client.HTTPSConnection("api.browse.ai")


            headers = { 'Authorization': "Bearer YOUR_SECRET_API_KEY" }


            conn.request("GET", "/v2/robots/{robotId}/tasks/{taskId}",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Python
          label: Python (requests)
          source: |
            import requests

            url = "https://api.browse.ai/v2/robots/{robotId}/tasks/{taskId}"

            headers = {"Authorization": "Bearer YOUR_SECRET_API_KEY"}

            response = requests.request("GET", url, headers=headers)

            print(response.text)
        - lang: Ruby
          label: Ruby
          source: >
            require 'uri'

            require 'net/http'

            require 'openssl'


            url =
            URI("https://api.browse.ai/v2/robots/{robotId}/tasks/{taskId}")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true

            http.verify_mode = OpenSSL::SSL::VERIFY_NONE


            request = Net::HTTP::Get.new(url)

            request["Authorization"] = 'Bearer YOUR_SECRET_API_KEY'


            response = http.request(request)

            puts response.read_body
        - lang: Shell
          label: Shell (cURL)
          source: |
            curl --request GET \
              --url https://api.browse.ai/v2/robots/{robotId}/tasks/{taskId} \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY'
        - lang: Shell
          label: Shell (wget)
          source: |
            wget --quiet \
              --method GET \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY' \
              --output-document \
              - https://api.browse.ai/v2/robots/{robotId}/tasks/{taskId}
        - lang: Swift
          label: Swift
          source: >
            import Foundation


            let headers = ["Authorization": "Bearer YOUR_SECRET_API_KEY"]


            let request = NSMutableURLRequest(url: NSURL(string:
            "https://api.browse.ai/v2/robots/{robotId}/tasks/{taskId}")! as URL,
                                                    cachePolicy: .useProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.httpMethod = "GET"

            request.allHTTPHeaderFields = headers


            let session = URLSession.shared

            let dataTask = session.dataTask(with: request as URLRequest,
            completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                print(error)
              } else {
                let httpResponse = response as? HTTPURLResponse
                print(httpResponse)
              }
            })


            dataTask.resume()
  /robots/{robotId}/monitors:
    get:
      tags:
        - monitors
      summary: Retrieve a robot's monitors
      operationId: Monitors_getList
      description: Retrieve a robot's monitors list.
      parameters:
        - $ref: '#/components/parameters/authorization'
        - description: >
            Unique robot ID


            You can find a robot's ID by opening it on the dashboard and copying
            its ID in the browser address bar.
          in: path
          name: robotId
          schema:
            type: string
          required: true
          example: c3689adb-50aa-44af-b265-a7e0d4e5846e
      responses:
        '200':
          description: A JSON including monitors list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getMonitors-200'
        '400':
          description: >-
            A JSON containing error attributes. This will happen if any of the
            parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getMonitors-400'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: The resource is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: There was an error on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
      x-codeSamples:
        - lang: C#
          label: C#
          source: >
            var client = new
            RestClient("https://api.browse.ai/v2/robots/{robotId}/monitors");

            var request = new RestRequest(Method.GET);

            request.AddHeader("Authorization", "Bearer YOUR_SECRET_API_KEY");

            IRestResponse response = client.Execute(request);
        - lang: Go
          label: Go
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.browse.ai/v2/robots/{robotId}/monitors\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Bearer YOUR_SECRET_API_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}\n"
        - lang: Java
          label: Java
          source: >
            HttpResponse<String> response =
            Unirest.get("https://api.browse.ai/v2/robots/{robotId}/monitors")
              .header("Authorization", "Bearer YOUR_SECRET_API_KEY")
              .asString();
        - lang: Node
          label: Node (Native)
          source: |
            const http = require("https");

            const options = {
              "method": "GET",
              "hostname": "api.browse.ai",
              "port": null,
              "path": "/v2/robots/{robotId}/monitors",
              "headers": {
                "Authorization": "Bearer YOUR_SECRET_API_KEY"
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node
          label: Node (request)
          source: |
            const request = require('request');

            const options = {
              method: 'GET',
              url: 'https://api.browse.ai/v2/robots/{robotId}/monitors',
              headers: {Authorization: 'Bearer YOUR_SECRET_API_KEY'}
            };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Objective-C
          label: Objective-C
          source: >
            #import <Foundation/Foundation.h>


            NSDictionary *headers = @{ @"Authorization": @"Bearer
            YOUR_SECRET_API_KEY" };


            NSMutableURLRequest *request = [NSMutableURLRequest
            requestWithURL:[NSURL
            URLWithString:@"https://api.browse.ai/v2/robots/{robotId}/monitors"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"GET"];

            [request setAllHTTPHeaderFields:headers];


            NSURLSession *session = [NSURLSession sharedSession];

            NSURLSessionDataTask *dataTask = [session
            dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: PHP
          label: PHP
          source: |
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.browse.ai/v2/robots/{robotId}/monitors",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer YOUR_SECRET_API_KEY"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python
          label: Python (python3)
          source: >
            import http.client


            conn = http.client.HTTPSConnection("api.browse.ai")


            headers = { 'Authorization': "Bearer YOUR_SECRET_API_KEY" }


            conn.request("GET", "/v2/robots/{robotId}/monitors",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Python
          label: Python (requests)
          source: |
            import requests

            url = "https://api.browse.ai/v2/robots/{robotId}/monitors"

            headers = {"Authorization": "Bearer YOUR_SECRET_API_KEY"}

            response = requests.request("GET", url, headers=headers)

            print(response.text)
        - lang: Ruby
          label: Ruby
          source: |
            require 'uri'
            require 'net/http'
            require 'openssl'

            url = URI("https://api.browse.ai/v2/robots/{robotId}/monitors")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'Bearer YOUR_SECRET_API_KEY'

            response = http.request(request)
            puts response.read_body
        - lang: Shell
          label: Shell (cURL)
          source: |
            curl --request GET \
              --url https://api.browse.ai/v2/robots/{robotId}/monitors \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY'
        - lang: Shell
          label: Shell (wget)
          source: |
            wget --quiet \
              --method GET \
              --header 'Authorization: Bearer YOUR_SECRET_API_KEY' \
              --output-document \
              - https://api.browse.ai/v2/robots/{robotId}/monitors
        - lang: Swift
          label: Swift
          source: >
            import Foundation


            let headers = ["Authorization": "Bearer YOUR_SECRET_API_KEY"]


            let request = NSMutableURLRequest(url: NSURL(string:
            "https://api.browse.ai/v2/robots/{robotId}/monitors")! as URL,
                                                    cachePolicy: .useProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.httpMethod = "GET"

            request.allHTTPHeaderFields = headers


            let session = URLSession.shared

            let dataTask = session.dataTask(with: request as URLRequest,
            completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                print(error)
              } else {
                let httpResponse = response as? HTTPURLResponse
                print(httpResponse)
              }
            })


            dataTask.resume()
    post:
      tags:
        - monitors
      summary: Create a new monitor on a robot
      operationId: Monitors_createNew
      description: Create a new monitor on a robot.
      parameters:
        - $ref: '#/components/parameters/authorization'
        - description: >
            Unique robot ID


            You can find a robot's ID by opening it on the dashboard and copying
            its ID in the browser address bar.
          in: path
          name: robotId
          schema:
            type: string
          required: true
          example: c3689adb-50aa-44af-b265-a7e0d4e5846e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNewMonitorRequestBody'
      responses:
        '200':
          description: A JSON object containing the newly created monitor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createNewMonitor-200'
        '400':
          description: >-
            A JSON containing error attributes. This will happen if any of the
            parameters are not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateMonitorBadRequestResponse'
        '401':
          description: The request is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: A JSON containing error attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateMonitorForbiddenResponse'
        '404':
          description: The resource is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: There was an error on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerResponse'
      x-codeSamples:
        - lang: C#
          label: C#
          source: >
            var client = new
            RestClient("https://api.browse.ai/v2/robots/{robotId}/monitors");

            var request = new RestRequest(Method.POST);

[...]
