openapi: 3.0.3
info:
  title: Snyk API
  description: >-
    Snyk helps software-driven businesses develop fast and stay secure.
    Continuously find and fix vulnerabilities for npm, Maven, NuGet, RubyGems,
    PyPI and more.
  version: REST
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Snyk REST API
    url: https://api.snyk.io/rest
tags:
  - description: >-
      Third-party Apps that integrate with the Snyk platform. See our [overview
      documentation](https://docs.snyk.io/integrations/snyk-apps) for more
      details.
    name: Apps
  - description: >-
      Service accounts can be used for continuous integration (CI) and other
      automation purposes, without using an actual Snyk user’s token.
    name: ServiceAccounts
  - description: User-defined collections of projects
    name: Collection
  - description: Slack app integration settings.
    name: SlackSettings
  - description: Issues relevant to a particular package
    name: Issues
  - description: >
      Through the Custom Base Image Recommendation feature, Snyk can recommend
      an image upgrade from a pool of the your internal images. 

      This allows your teams to be notified of newer and more secure versions of
      internal base images.


      Notable changes to this API resource:

      - starting with version "2023-09-20", the `GET` `/custom_base_images`
      endpoint requires the `repository` filter when sorting by `version`.

      - starting with version "2024-01-04", `VersioningSchema` objects with
      `type` `"date"` are no longer supported. Snyk recommends updating custom
      base images with the deprecated type to `"single-selection"`.
    name: Custom Base Images
  - description: Infrastructure as Code Settings.
    name: IacSettings
  - description: >-
      An Organization is the lowest level of Snyk's tenancy hierarchy, and may
      contain projects and other data.
    name: Orgs
  - description: >
      A project is a single external resource which has been scanned by Snyk
      such as a manifest file or a container image. It may also be continuously
      monitored by Snyk.
    name: Projects
  - description: Container Image resource
    name: ContainerImage
  - description: Organization Invites.
    name: Invites
  - name: Targets
  - description: Audit Logs
    name: Audit Logs
  - description: The OpenAPI specification for slack-app.
    name: OpenAPI
  - description: SAST Settings modifications for an org
    name: SastSettings
  - description: Slack integration configuration.
    name: Slack
  - description: A Software Bill of Materials document
    name: SBOM
  - description: An example of a v3 API resource
    name: Examples
paths:
  /custom_base_images:
    get:
      tags:
        - Custom Base Images
      summary: Get a custom base image collection
      operationId: CustomBaseImages_list
      description: >
        Get a list of custom base images with support for ordering and
        filtering.

        Either the org_id or group_id parameters must be set to authorize
        successfully.

        If sorting by version, the repository filter is required.
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - $ref: '#/components/parameters/Limit'
        - description: >-
            The ID of the container project that the custom base image is based
            off of.
          in: query
          name: project_id
          schema:
            format: uuid
            type: string
        - description: The organization ID of the custom base image
          in: query
          name: org_id
          schema:
            format: uuid
            type: string
        - description: The group ID of the custom base image
          in: query
          name: group_id
          schema:
            format: uuid
            type: string
        - $ref: '#/components/parameters/Repository'
        - $ref: '#/components/parameters/Tag'
        - $ref: '#/components/parameters/IncludeInRecommendations'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Returns custom base images
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CustomBaseImageCollectionResponse'
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      x-snyk-api-releases:
        - '2023-08-21'
        - '2023-09-20'
        - '2024-01-04'
      x-snyk-api-version: '2024-01-04'
    post:
      tags:
        - Custom Base Images
      summary: Create a Custom Base Image from an existing container project
      operationId: CustomBaseImages_markImageAsCustomBase
      description: >
        In order to create a custom base image, you first need to import your
        base images into Snyk.

        You can do this through the CLI, UI, or API.


        This endpoint marks an image as a custom base image. This means that the
        image will get

        added to the pool of images from which Snyk can recommend base image
        upgrades.


        Note, after the first image in a repository gets added, a versioning
        schema cannot be passed in this endpoint.

        To update the versioning schema, the PATCH endpoint must be used.
      parameters:
        - $ref: '#/components/parameters/Version'
      requestBody:
        description: The properties used in the creation of a custom base image
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CustomBaseImagePostRequest'
      responses:
        '201':
          description: Successfully created a custom base image
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CustomBaseImageResponse'
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      x-snyk-api-releases:
        - '2023-08-21'
        - '2023-09-20'
        - '2024-01-04'
      x-snyk-api-version: '2024-01-04'
    x-snyk-api-resource: custombaseimages
  /custom_base_images/{custombaseimage_id}:
    delete:
      tags:
        - Custom Base Images
      summary: Delete a custom base image
      operationId: CustomBaseImages_removeCustomBaseImage
      description: >-
        Delete a custom base image resource. (the related container project is
        unaffected)
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/CustomBaseImageId'
      responses:
        '204':
          description: Successfully deleted the custom base image
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      x-snyk-api-releases:
        - '2023-08-21'
        - '2023-09-20'
        - '2024-01-04'
      x-snyk-api-version: '2024-01-04'
    get:
      tags:
        - Custom Base Images
      summary: Get a custom base image
      operationId: CustomBaseImages_getById
      description: Get a custom base image
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/CustomBaseImageId'
      responses:
        '200':
          description: Returns a custom base image
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CustomBaseImageResponse'
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      x-snyk-api-releases:
        - '2023-08-21'
        - '2023-09-20'
        - '2024-01-04'
      x-snyk-api-version: '2024-01-04'
    patch:
      tags:
        - Custom Base Images
      summary: Update a custom base image
      operationId: CustomBaseImages_updateAttributes
      description: Updates a custom base image's attributes
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/CustomBaseImageId'
      requestBody:
        description: custom base image to be updated
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CustomBaseImagePatchRequest'
      responses:
        '200':
          description: Returns the updated custom base image
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CustomBaseImageResponse'
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      x-snyk-api-releases:
        - '2023-08-21'
        - '2023-09-20'
        - '2024-01-04'
      x-snyk-api-version: '2024-01-04'
    x-snyk-api-resource: custombaseimages
  /groups/{group_id}/apps/installs:
    get:
      tags:
        - Apps
      summary: Get a list of apps installed for a group.
      operationId: Apps_listGroupAppInstalls
      description: Get a list of apps installed for a group.
      parameters:
        - description: Expand relationships.
          explode: false
          in: query
          name: expand
          schema:
            items:
              enum:
                - app
              type: string
            type: array
          style: form
        - description: Group ID
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A list of apps installed for the specified group.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsListGroupAppInstallsResponse'
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          description: >-
            Bad Request: A parameter provided as a part of the request was
            invalid.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsListGroupAppInstalls400Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '401':
          description: >-
            Unauthorized: the request requires an authentication token or a
            token with more permissions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsListGroupAppInstalls401Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '403':
          description: >-
            Forbidden: the request requires an authentication token with more or
            different permissions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsListGroupAppInstalls403Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '404':
          description: 'Not Found: The resource being operated on could not be found.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsListGroupAppInstalls404Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '409':
          description: >-
            Conflict: The requested operation conflicts with the current state
            of the resource in some way.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsListGroupAppInstalls409Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '500':
          description: >-
            Internal Server Error: An error was encountered while attempting to
            process the request.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsListGroupAppInstalls500Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
      x-snyk-api-releases:
        - 2023-06-19~experimental
        - '2023-11-03'
      x-snyk-api-version: '2023-11-03'
    post:
      tags:
        - Apps
      summary: Install a Snyk Apps to this group.
      operationId: Apps_installGroupApp
      description: >-
        Install a Snyk Apps to this group, the Snyk App must use unattended
        authentication eg client credentials.
      parameters:
        - $ref: '#/components/parameters/Version'
        - description: Group ID
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        description: App Install to be created
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AppsInstallGroupAppRequest'
      responses:
        '201':
          description: The newly created app install.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsInstallGroupAppResponse'
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          description: >-
            Bad Request: A parameter provided as a part of the request was
            invalid.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsInstallGroupApp400Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '401':
          description: >-
            Unauthorized: the request requires an authentication token or a
            token with more permissions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsInstallGroupApp401Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '403':
          description: >-
            Forbidden: the request requires an authentication token with more or
            different permissions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsInstallGroupApp403Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '404':
          description: 'Not Found: The resource being operated on could not be found.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsInstallGroupApp404Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '409':
          description: >-
            Conflict: The requested operation conflicts with the current state
            of the resource in some way.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsInstallGroupApp409Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '500':
          description: >-
            Internal Server Error: An error was encountered while attempting to
            process the request.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsInstallGroupApp500Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
      x-snyk-api-releases:
        - 2023-06-19~experimental
        - '2023-11-03'
      x-snyk-api-version: '2023-11-03'
    x-snyk-api-resource: app_installs
  /groups/{group_id}/apps/installs/{install_id}:
    delete:
      tags:
        - Apps
      summary: Revoke app authorization for an Snyk Group with install ID.
      operationId: Apps_revokeGroupAppInstall
      description: Revoke app authorization for an Snyk Group with install ID.
      parameters:
        - $ref: '#/components/parameters/Version'
        - description: Group ID
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
        - $ref: '#/components/parameters/InstallId'
      responses:
        '204':
          description: The app install has been de-authorized.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          description: >-
            Bad Request: A parameter provided as a part of the request was
            invalid.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsRevokeGroupAppInstallResponse'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '401':
          description: >-
            Unauthorized: the request requires an authentication token or a
            token with more permissions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsRevokeGroupAppInstall401Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '403':
          description: >-
            Forbidden: the request requires an authentication token with more or
            different permissions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsRevokeGroupAppInstall403Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '404':
          description: 'Not Found: The resource being operated on could not be found.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsRevokeGroupAppInstall404Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '409':
          description: >-
            Conflict: The requested operation conflicts with the current state
            of the resource in some way.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsRevokeGroupAppInstall409Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '500':
          description: >-
            Internal Server Error: An error was encountered while attempting to
            process the request.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsRevokeGroupAppInstall500Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
      x-snyk-api-releases:
        - 2023-06-19~experimental
        - '2023-11-03'
      x-snyk-api-version: '2023-11-03'
    x-snyk-api-resource: app_installs
  /groups/{group_id}/apps/installs/{install_id}/secrets:
    post:
      tags:
        - Apps
      summary: Manage client secret for non-interactive Snyk App installations.
      operationId: Apps_createInstallSecret
      description: Manage client secret for non-interactive Snyk App installations.
      parameters:
        - $ref: '#/components/parameters/Version'
        - description: Group ID
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
        - $ref: '#/components/parameters/InstallId'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AppsCreateInstallSecretRequest'
      responses:
        '200':
          description: Secret has been updated.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsCreateInstallSecretResponse'
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          description: >-
            Bad Request: A parameter provided as a part of the request was
            invalid.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsCreateInstallSecret400Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '401':
          description: >-
            Unauthorized: the request requires an authentication token or a
            token with more permissions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsCreateInstallSecret401Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '403':
          description: >-
            Forbidden: the request requires an authentication token with more or
            different permissions.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsCreateInstallSecret403Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '404':
          description: 'Not Found: The resource being operated on could not be found.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsCreateInstallSecret404Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '409':
          description: >-
            Conflict: The requested operation conflicts with the current state
            of the resource in some way.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsCreateInstallSecret409Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
        '500':
          description: >-
            Internal Server Error: An error was encountered while attempting to
            process the request.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AppsCreateInstallSecret500Response'
          headers:
            deprecation:
              description: >
                A header containing the deprecation date of the underlying
                endpoint. For more information, please refer to the deprecation
                header RFC:

                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: '2021-07-01T00:00:00Z'
              schema:
                format: date-time
                type: string
            snyk-request-id:
              description: >
                A header containing a unique id used for tracking this request.
                If you are reporting an issue to Snyk it's very helpful to
                provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              schema:
                format: uuid
                type: string
            snyk-version-lifecycle-stage:
              description: >
                A header containing the version stage of the endpoint. This
                stage describes the guarantees snyk provides surrounding
                stability of the endpoint.
              schema:
                enum:
                  - wip
                  - experimental
                  - beta
                  - ga
                  - deprecated
                  - sunset
                example: ga
                type: string
            snyk-version-requested:
              description: >-
                A header containing the version of the endpoint requested by the
                caller.
              example: '2021-06-04'
              schema:
                description: Requested API version
                pattern: >-
                  ^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$
                type: string
            snyk-version-served:
              description: >-
                A header containing the version of the endpoint that was served
                by the API.
              example: '2021-06-04'
              schema:
                description: Resolved API version
                pattern: >-
                  ^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$
                type: string
            sunset:
              description: >
                A header containing the date of when the underlying endpoint
                will be removed. This header is only present if the endpoint has
                been deprecated. Please refer to the RFC for more information:

                https://datatracker.ietf.org/doc/html/rfc8594
              example: '2021-08-02T00:00:00Z'
              schema:
                format: date-time
                type: string
      x-snyk-api-releases:
        - 2023-06-19~experimental
        - '2023-11-03'
      x-snyk-api-version: '2023-11-03'
    x-snyk-api-resource: app_installs
  /groups/{group_id}/audit_logs/search:
    get:
      tags:
        - Audit Logs
      summary: Search Group audit logs.
      operationId: AuditLogs_searchGroupAuditLogs
      description: >
        Search audit logs for a Group. Some Organization level events are
        supported as well as the following

        Group level events:
          - api.access
          - group.cloud_config.settings.edit
          - group.create
          - group.delete
          - group.edit
          - group.notification_settings.edit
          - group.org.add
          - group.org.remove
          - group.policy.create
          - group.policy.delete
          - group.policy.edit
          - group.request_access_settings.edit
          - group.role.create
          - group.role.delete
          - group.role.edit
          - group.service_account.create
          - group.service_account.delete
          - group.service_account.edit
          - group.settings.edit
          - group.settings.feature_flag.edit
          - group.sso.add
          - group.sso.auth0_connection.create
          - group.sso.auth0_connection.edit
          - group.sso.create
          - group.sso.delete
          - group.sso.edit
          - group.sso.membership.sync
          - group.sso.remove
          - group.tag.create
          - group.tag.delete
          - group.user.add
          - group.user.remove
          - group.user.role.edit
      parameters:
        - $ref: '#/components/parameters/Version'
        - description: The ID of the Group.
          example: 0d3728ec-eebf-484d-9907-ba238019f10b
          in: path
          name: group_id
          required: true
          schema:
            format: uuid
            type: string
        - description: The ID for the next page of results.
          in: query
          name: cursor
          schema:
            type: string
        - description: >
            The start date (inclusive) of the audit logs search. If this is not
            specified, the start of yesterday is used. Example: 2023-07-27
          in: query
          name: from
          schema:
            format: date
            type: string
        - description: >
            The end date (inclusive) of the audit logs search. Example:
            2023-07-27
          in: query
          name: to
          schema:
            format: date
            type: string
        - description: Number of results to return per page.
          example: 10
          in: query
          name: size
          schema:
            format: int32
            maximum: 100
            minimum: 1
            multipleOf: 1
            type: integer
        - description: Order in which results are returned.
          example: ASC
          in: query
          name: sort_order
          schema:
            default: DESC
            enum:
              - ASC
              - DESC
            type: string
        - description: Filter logs by user ID.
          example: 0d3728ec-eebf-484d-9907-ba238019f10b
          in: query
          name: user_id
          schema:
            format: uuid
            type: string
        - description: Filter logs by project ID.
          example: 0d3728ec-eebf-484d-9907-ba238019f10b
          in: query
          name: project_id
          schema:
            format: uuid
            type: string
        - description: >-
            Filter logs by event type, cannot be used in conjunction with
            exclude_event parameter.
          example: api.access
          in: query
          name: event
          schema:
            type: string
        - description: >-
            Exclude event type from results, cannot be used in conjunctions with
            event parameter.
          example: api.access
          in: query
          name: exclude_event
          schema:
            type: string
      responses:
        '200':
          description: Group Audit Logs.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AuditLogsSearchGroupAuditLogsResponse'
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              schema:
                type: string
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
[...]
