openapi: 3.0.0
info:
  title: LeafLink Marketplace V2 API
  description: >
    # Introduction

    ## HTTP Request Notes

    All endpoints covered in this document are preceded by
    `https://{{domain}}/api/v2/` unless otherwise noted.


    Available domains


    - `www.leaflink.com` - production environment


    - `sandbox.leaflink.com` - sandbox environment


    - `leaflink-integrations.leaflink.com` - integrations sandbox environment


    [Learn more about sandbox
    environments](https://developer.leaflink.com/brands/api/authorization/#sandbox-environments)



    Request paths must end in a slash character ('/'). Those that do not will
    return a 400 (Bad Request) response.


    ## Dynamic Responses

    Some of our API endpoints support dynamic responses. These

    are responses that vary in content and/or object level payload size

    according to request path or query parameters.


    Available parameters are listed beneath endpoint definitions.
  version: ''
  termsOfService: https://leaflink.com/terms-and-conditions/
  contact:
    email: support@leaflink.com
servers:
  - url: https://www.leaflink.com/api/v2
tags:
  - description: Access the order object
    name: orders-received
  - description: >-
      The `CompanyActivityEntry` model represents a CRM action taken by a staff
      member that relates to a customer, with an optional description.
    name: activity-entries
  - description: >-
      The Customer model represents a business relationship between a buyer and
      seller on LeafLink.
    name: customers
  - description: >-
      The `CompanyCustomerStatus` represents a set of customizable states for
      customers in the sales funnel.
    name: customer-statuses
  - description: >-
      The LineItem model represents a single entry in an itemized purchase
      order.
    name: line-items
  - description: >-
      The Product model represents a physical product offered for sale by a
      Company.
    name: products
  - description: Product information for a retailer company.
    name: retailer-inventory
  - description: >-
      The `Contact` model represents the contact information a user has stored
      as a company resource within LeafLink.
    name: contacts
  - name: batches
  - description: >-
      The Promocode model represents a promotional discount code for a specific
      Brand.
    name: promocodes
  - name: product-lines
  - description: >-
      Product images for display in the marketplace.  Each product may have up
      to 5 images.
    name: product-images
  - description: Manage assignments.
    name: product-batches
  - description: >-
      The `InventoryItem` model represents items of a particular inventory batch
      at a given facility.
    name: inventory-items
    x-displayName: Inventory Items
  - name: batch-documents
  - name: order-sales-reps
  - name: order-payments
  - name: strains
  - description: The Report model represents a report download initiated by a User
    name: reports
  - name: brands
  - name: company-staff
  - description: >-
      The `CompanyCustomerTier` represents a set of read only objects depicting
      a customer's tier in relationship to a company.
    name: customer-tiers
  - description: >-
      The License model represents a single state-issued license held by a
      Company.
    name: licenses
  - name: product-categories
  - name: product-subcategories
  - description: The LicenseType model represents a category of state-issued licenses.
    name: license-types
  - description: The `Facility` model represents a location where inventory is located.
    name: facilities
    x-displayName: Facilities
  - name: companies
  - name: order-event-logs
  - name: buyer-orders
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/CustomerResponse" />
    name: customer-object
    x-displayName: The customer object
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/OrderResponse" />
    name: order-object
    x-displayName: The order object
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/BuyerOrderResponse" />
    name: buyer-order-object
    x-displayName: The buyer order object
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/LineItemResponse" />
    name: line-item-object
    x-displayName: The line item object
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/ProductResponse" />
    name: product-object
    x-displayName: The product object
  - name: listing-states
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/BatchResponse" />
    name: batch-object
    x-displayName: The batch object
  - description: |
      The product batch object assigns a batch to a product.
      <SchemaDefinition schemaRef="#/components/schemas/ProductBatchResponse" />
    name: product-batch-object
    x-displayName: The product batch object
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/BatchDocumentNew" />
    name: batch-document-object
    x-displayName: The batch document object
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/InventoryItem" />
    name: inventory-item-object
    x-displayName: The inventory item object
  - description: |
      <SchemaDefinition schemaRef="#/components/schemas/Facility" />
    name: facility-object
    x-displayName: The facility object
paths:
  /activity-entries:
    parameters: []
    get:
      tags:
        - activity-entries
      summary: List
      operationId: Activityentries_getAll
      description: |-
        List all `CompanyActivityEntry` objects of companies the requester has
            CRM management access for.
      parameters:
        - description: Filter by entered activity datetime, less than.
          name: date__lt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by entered activity datetime, less than or equal to.
          name: date__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by entered activity datetime, greater than.
          name: date__gt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by entered activity datetime, greater than or equal to.
          name: date__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by activity entry descriptions.
          name: entry
          in: query
          required: false
          schema:
            type: string
        - description: Filter by entry__in
          name: entry__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by entry__startswith
          name: entry__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the datetime the object was last modified, less than.
          name: modified__lt
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by the datetime the object was last modified, less than or
            equal to.
          name: modified__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the datetime the object was last modified, greater than.
          name: modified__gt
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by the datetime the object was last modified, greater than or
            equal to.
          name: modified__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by id
          name: id
          in: query
          required: false
          schema:
            type: number
        - description: Filter by created_on datetime, less than.
          name: created_on__lt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by created_on datetime, less than or equal to.
          name: created_on__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by created_on datetime, greater than.
          name: created_on__gt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by created_on datetime, greater than or equal to.
          name: created_on__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by owner ID.
          name: owner
          in: query
          required: false
          schema:
            type: number
        - description: Filter by author ID.
          name: author
          in: query
          required: false
          schema:
            type: number
        - description: Filter by associated company ID.
          name: company
          in: query
          required: false
          schema:
            type: number
        - description: Filter by associated customer ID.
          name: customer
          in: query
          required: false
          schema:
            type: number
        - description: Filter by associated staff ID.
          name: staff
          in: query
          required: false
          schema:
            type: number
        - description: Filter by activity type.
          name: type
          in: query
          required: false
          schema:
            type: string
        - description: Filter by associated brand ID.
          name: brand
          in: query
          required: false
          schema:
            type: number
        - description: Filter by associated contact ID.
          name: contact
          in: query
          required: false
          schema:
            type: number
        - description: Filter by Company slug
          name: company_slug
          in: query
          required: false
          schema:
            type: string
        - description: Filter by deleted or non-deleted entries.
          name: delete
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityentriesGetAllResponse'
    post:
      tags:
        - activity-entries
      summary: Create
      operationId: Activityentries_createEntry
      description: |-
        Create a new `CompanyActivityEntry` object for a company you have CRM
            management access for.
      requestBody:
        $ref: '#/components/requestBodies/CompanyActivityEntry'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyActivityEntry'
  /activity-entries/{id}:
    parameters:
      - description: A unique integer value identifying this company activity entry.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - activity-entries
      summary: Read
      operationId: Activityentries_readById
      description: Get a `CompanyActivityEntry` by ID.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyActivityEntry'
    patch:
      tags:
        - activity-entries
      summary: Update
      operationId: Activityentries_updateById
      description: Update an individual `CompanyActivityEntry` by ID.
      requestBody:
        $ref: '#/components/requestBodies/CompanyActivityEntry'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyActivityEntry'
    delete:
      tags:
        - activity-entries
      summary: Delete
      operationId: Activityentries_deleteFlag
      description: |-
        Set the `delete` flag on a `CompanyActivityEntry` to true. These can
            be filtered out in list requests.
      responses:
        '204':
          description: ''
  /batch-documents:
    get:
      tags:
        - batch-documents
      summary: List batch documents
      operationId: Batchdocuments_listAllDocuments
      description: List all batch documents.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchdocumentsListAllDocumentsResponse'
      operationID: batch-documents_list
    post:
      tags:
        - batch-documents
      summary: Upload a batch document
      operationId: Batchdocuments_uploadNewDocument
      description: Upload a new batch document.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BatchdocumentsUploadNewDocumentRequest'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDocumentNew'
      operationID: batch-documents_create
  /batch-documents/{id}:
    parameters:
      - description: The id for the batch document.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - batch-documents
      summary: Retrieve a batch document
      operationId: Batchdocuments_getIndividualDocument
      description: Retrieve an individual batch document.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDocumentNew'
    delete:
      tags:
        - batch-documents
      summary: Delete a batch document
      operationId: Batchdocuments_deleteDocument
      description: Delete a batch document.
      responses:
        '204':
          description: ''
  /batches:
    parameters: []
    get:
      tags:
        - batches
      summary: List batches
      operationId: batches_list
      description: >-
        List all batches. <br /> <br /> For legacy auth, retrieved per company
        with the owner query parameter or with the following path parameter,
        /companies/{company_id}/batches/
      parameters:
        - description: Filter by batch_date__lt
          name: batch_date__lt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by batch_date__lte
          name: batch_date__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by batch_date__gt
          name: batch_date__gt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by batch_date__gte
          name: batch_date__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by one or multiple batch ids, separated by commas.
          name: id
          in: query
          required: false
          schema:
            type: number
        - description: Filter by one or multiple company ids, separated by commas.
          name: owner
          in: query
          required: false
          schema:
            type: number
        - description: Filter by owner company slug.
          name: company_slug
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by one or multiple production_batch_numbers, separated by
            commas.
          name: production_batch_number
          in: query
          required: false
          schema:
            type: string
        - description: Filter by one or multiple product ids, separated by commas.
          name: products
          in: query
          required: false
          schema:
            type: number
        - description: Filter by a range of THC percent.
          name: thc
          in: query
          required: false
          schema:
            type: string
        - description: Filter by a range of THCa percent.
          name: thca
          in: query
          required: false
          schema:
            type: string
        - description: Filter by a range of total THC percent.
          name: total_thc
          in: query
          required: false
          schema:
            type: string
        - description: Filter by a range of CBD percent.
          name: cbd
          in: query
          required: false
          schema:
            type: string
        - description: Filter by a range of CBDa percent.
          name: cbda
          in: query
          required: false
          schema:
            type: string
        - description: Filter by a range of CBG percent.
          name: cbg
          in: query
          required: false
          schema:
            type: string
        - description: Filter by a range of CBN percent.
          name: cbn
          in: query
          required: false
          schema:
            type: string
        - description: Filter by a range of total cannabinoids percent.
          name: total_cannabinoids
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchesListResponse'
    post:
      tags:
        - batches
      summary: Create a batch
      operationId: batches_create
      description: Create a new batch.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreate'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
  /batches/{id}:
    parameters:
      - description: The id for the batch.
        name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - batches
      summary: Retrieve a batch
      operationId: Batches_getBatch
      description: Retrieve an individual batch.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
    patch:
      tags:
        - batches
      summary: Update a batch
      operationId: Batches_updateBatch
      description: Update an existing batch.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
    delete:
      tags:
        - batches
      summary: Delete a batch
      operationId: Batches_deleteBatch
      description: Delete a batch.
      responses:
        '204':
          description: ''
  /inventory/items:
    parameters: []
    get:
      tags:
        - inventory-items
      summary: List
      operationId: Inventoryitems_listAllItems
      description: >
        List all inventory items. By default this returns non-archived items -
        you can query for archived items by 

        including the "include_archived" query parameter.


        __⚠️ WARNING - BETA FEATURE:__ This API is in active development and is
        subject to change.
      parameters:
        - description: Filter by archived status
          name: include_archived
          in: query
          required: false
          schema:
            type: boolean
        - description: Filter by product ID
          name: product
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryitemsListAllItemsResponse'
    post:
      tags:
        - inventory-items
      summary: Create
      operationId: Inventoryitems_createItem
      description: >
        Create an inventory item.


        __NOTE__: If a non-archived inventory item is found with the same
        product and facility but no batch,

        it will be marked as "archived" and a new inventory item will be
        created. As a result, subsequent GET

        requests will no longer return the old inventory item. As mentioned in
        the GET method description, you can query

        for archived items by including the "include_archived" query parameter.


        __⚠️ WARNING - BETA FEATURE:__ This API is in active development and is
        subject to change.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItemCreate'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
  /inventory/items/{id}:
    get:
      tags:
        - inventory-items
      summary: Read
      operationId: Inventoryitems_getById
      description: >
        Get inventory item by ID.


        __⚠️ WARNING - BETA FEATURE:__ This API is in active development and is
        subject to change.
      parameters:
        - description: A unique integer value identifying this inventory item.
          name: id
          in: path
          required: true
          schema:
            type: integer
        - description: Filter by the archived status. (False by default.)
          name: include_archived
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
    patch:
      tags:
        - inventory-items
      summary: Update
      operationId: Inventoryitems_updateById
      description: >
        Update an existing inventory item by ID.


        __⚠️ WARNING - BETA FEATURE:__ This API is in active development and is
        subject to change.
      parameters:
        - description: A unique integer value identifying this inventory item.
          name: id
          in: path
          required: true
          schema:
            type: integer
        - description: Filter by the archived status. (False by default.)
          name: include_archived
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItemUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
  /inventory/facilities:
    get:
      tags:
        - facilities
      summary: List
      operationId: facilities_list
      description: >
        List all facilities.


        __⚠️ WARNING - BETA FEATURE:__ This API is in active development and is
        subject to change.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilitiesListResponse'
  /inventory/facilities/{id}:
    get:
      tags:
        - facilities
      summary: Read
      operationId: facilities_read
      description: >
        Get facility by ID.


        __⚠️ WARNING - BETA FEATURE:__ This API is in active development and is
        subject to change.
      parameters:
        - description: A unique integer value identifying this facility.
          name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facility'
  /brands:
    parameters: []
    get:
      tags:
        - brands
      summary: List brands
      operationId: brands_list
      description: >-
        List all brands. <br /> <br /> Retrieved per company with the company
        query parameter or with the following path parameter,
        /companies/{company_id}/brands/
      parameters:
        - description: Filter by a list of company ids.
          name: company__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by company id.
          name: company
          in: query
          required: false
          schema:
            type: string
        - description: Filter by a company slug.
          name: company_slug
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandsListResponse'
  /brands/{id}:
    parameters:
      - description: The id for the brand.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - brands
      summary: Retrieve a brand
      operationId: brands_read
      description: Retrieve an individual brand.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResponse'
  /companies:
    parameters: []
    get:
      tags:
        - companies
      summary: List companies
      operationId: companies_list
      description: List companies the requesting user is a staff member of.
      parameters:
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesListResponse'
  /companies/{id}:
    parameters:
      - description: The id for the company.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - companies
      summary: Retrieve a company
      operationId: companies_read
      description: Retrieve an individual company.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
  /company-staff:
    parameters: []
    get:
      tags:
        - company-staff
      summary: List staff members
      operationId: Companystaff_listStaffMembers
      description: List all staff members.
      parameters:
        - description: Filter by company id
          name: company
          in: query
          required: false
          schema:
            type: string
        - description: Filter by admin status, `true` or `false`
          name: is_admin
          in: query
          required: false
          schema:
            type: string
        - description: Filter by active status, `true` or `false`
          name: is_active
          in: query
          required: false
          schema:
            type: string
        - description: Filter by company slug
          name: company_slug
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanystaffListStaffMembersResponse'
  /company-staff/{id}:
    parameters:
      - description: The staff member id.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - company-staff
      summary: Retrieve a staff member
      operationId: Companystaff_getStaffMember
      description: Retrieve an individual staff member.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyStaffResponse'
  /contacts:
    parameters: []
    get:
      tags:
        - contacts
      summary: List
      operationId: contacts_list
      description: >-
        List all contacts for all active companies where the user has the
        MANAGE_CRM permission.

        Can be filtered by id, creation date, last modified date, first name,
        and last name.

        The contact's associated `CompanyCustomer`s can be retrieved at
        `/api/v2/contacts/{id}/customers/?`
      parameters:
        - description: Filter by modified__lt
          name: modified__lt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by modified__lte
          name: modified__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by modified__gt
          name: modified__gt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by modified__gte
          name: modified__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the exact id of the contact
          name: id
          in: query
          required: false
          schema:
            type: number
        - description: Filter by the last name of a contact.
          name: last_name
          in: query
          required: false
          schema:
            type: string
        - description: Filter by last_name__in
          name: last_name__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by last_name__startswith
          name: last_name__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by created_on datetime, less than.
          name: created_on__lt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by created_on datetime, less than or equal to.
          name: created_on__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by created_on datetime, greater than.
          name: created_on__gt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by created_on datetime, greater than or equal to.
          name: created_on__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by owner Company slug.
          name: company_slug
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the first name of a contact.
          name: first_name
          in: query
          required: false
          schema:
            type: string
        - description: Filter by first_name__in
          name: first_name__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by first_name__startswith
          name: first_name__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by one or multiple company ids, separated by commas.
          name: owner
          in: query
          required: false
          schema:
            type: number
        - description: Filter by contact deletion status
          name: delete
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsListResponse'
    post:
      tags:
        - contacts
      summary: Create
      operationId: contacts_create
      description: Create a new contact.
      requestBody:
        $ref: '#/components/requestBodies/Contact'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
  /contacts/{id}:
    parameters:
      - description: A unique integer value identifying this contact.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - contacts
      summary: Read
      operationId: contacts_read
      description: Retrieve an individual contact by ID.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
    patch:
      tags:
        - contacts
      summary: Update
      operationId: Contacts_updateById
      description: Update an existing contact by ID.
      requestBody:
        $ref: '#/components/requestBodies/Contact'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
    delete:
      tags:
        - contacts
      summary: Delete
      operationId: contacts_delete
      description: >-
        Set the `delete` flag to True on a contact by ID. Deleted objects can be
        filtered out in lists with query parameters.
      responses:
        '204':
          description: ''
  /customer-status:
    parameters: []
    get:
      tags:
        - customer-statuses
      summary: List
      operationId: Customerstatuses_listAllAvailableObjects
      description: List all `CompanyCustomerStatus` objects available for use.
      parameters:
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerstatusesListAllAvailableObjectsResponse
    post:
      tags:
        - customer-statuses
      summary: Create
      operationId: Customerstatuses_createNewStatus
      description: Create a new customer status.
      requestBody:
        $ref: '#/components/requestBodies/CompanyCustomerStatus'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCustomerStatus'
  /customer-statuses/{id}:
    parameters:
      - description: A unique integer value identifying this company customer status.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - customer-statuses
      summary: Read
      operationId: Customerstatuses_getById
      description: Retrieve a `CompanyCustomerStatus` by ID.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCustomerStatus'
    patch:
      tags:
        - customer-statuses
      summary: Update
      operationId: Customerstatuses_updateById
      description: Update an existing customer status by ID.
      requestBody:
        $ref: '#/components/requestBodies/CompanyCustomerStatus'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCustomerStatus'
    delete:
      tags:
        - customer-statuses
      summary: Delete
      operationId: Customerstatuses_deleteById
      description: Delete a customer status by ID.
      responses:
        '204':
          description: ''
  /customer-tiers:
    parameters: []
    get:
      tags:
        - customer-tiers
      summary: List
      operationId: Customertiers_listAllAvailableObjects
      description: List all `CompanyCustomerTier` objects available for use.
      parameters:
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomertiersListAllAvailableObjectsResponse
  /customer-tiers/{id}:
    parameters:
      - description: A unique integer value identifying this company customer tier.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - customer-tiers
      summary: Read
      operationId: Customertiers_getById
      description: Retrieve a `CompanyCustomerTier` by ID.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCustomerTier'
  /customers:
    parameters: []
    get:
      tags:
        - customers
      summary: List customers
      operationId: customers_list
      description: List customers for all active companies where the user is a member of.
      parameters:
        - description: Include only specific fields in the response, separated by commas.
          name: fields_include
          in: query
          schema:
            type: string
        - description: Exclude specific fields in the response, separated by commas.
          name: fields_exclude
          in: query
          schema:
            type: string
        - description: >-
            Include additional fields in the response. Available values include
            `tags`, `service_zone`, `managers`, `contacts`, and `license_type`
          name: include_children
          in: query
          schema:
            type: string
        - description: Filter by the customer's nickname.
          name: nickname
          in: query
          required: false
          schema:
            type: string
        - description: Filter by nickname__in
          name: nickname__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by nickname__startswith
          name: nickname__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's business phone number.
          name: phone
          in: query
          required: false
          schema:
            type: string
        - description: Filter by phone__in
          name: phone__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by phone__startswith
          name: phone__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's dba.
          name: dba
          in: query
          required: false
          schema:
            type: string
        - description: Filter by dba__in
          name: dba__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by dba__startswith
          name: dba__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the slug of the Company that owns this Customer record.
          name: owner__slug
          in: query
          required: false
          schema:
            type: string
        - description: Filter by id__in
          name: id__in
          in: query
          required: false
          schema:
            type: number
        - description: Filter by id
          name: id
          in: query
          required: false
          schema:
            type: number
        - description: Filter by next_contact_date__lt
          name: next_contact_date__lt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by next_contact_date__lte
          name: next_contact_date__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by next_contact_date__gt
          name: next_contact_date__gt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by next_contact_date__gte
          name: next_contact_date__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the slug of the Company that owns this Customer record.
          name: company_slug
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's external id.
          name: external_id
          in: query
          required: false
          schema:
            type: string
        - description: Filter by external_id__in
          name: external_id__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by external_id__startswith
          name: external_id__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's EIN.
          name: ein
          in: query
          required: false
          schema:
            type: string
        - description: Filter by ein__in
          name: ein__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by ein__startswith
          name: ein__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by discount_percent__lt
          name: discount_percent__lt
          in: query
          required: false
          schema:
            type: number
        - description: Filter by discount_percent__lte
          name: discount_percent__lte
          in: query
          required: false
          schema:
            type: number
        - description: Filter by discount_percent__gt
          name: discount_percent__gt
          in: query
          required: false
          schema:
            type: number
        - description: Filter by discount_percent__gte
          name: discount_percent__gte
          in: query
          required: false
          schema:
            type: number
        - description: Filter by the customer's previous license number.
          name: old_license_number
          in: query
          required: false
          schema:
            type: string
        - description: Filter by old_license_number__in
          name: old_license_number__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by old_license_number__startswith
          name: old_license_number__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the datetime the object was last modified, less than.
          name: modified__lt
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by the datetime the object was last modified, less than or
            equal to.
          name: modified__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the datetime the object was last modified, greater than.
          name: modified__gt
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by the datetime the object was last modified, greater than or
            equal to.
          name: modified__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's associated brand.
          name: brand
          in: query
          required: false
          schema:
            type: string
        - description: Filter by brand__in
          name: brand__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by brand__startswith
          name: brand__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by created_on datetime, less than.
          name: created_on__lt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by created_on datetime, less than or equal to.
          name: created_on__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by created_on datetime, greater than.
          name: created_on__gt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by created_on datetime, greater than or equal to.
          name: created_on__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's address.
          name: address
          in: query
          required: false
          schema:
            type: string
        - description: Filter by address__in
          name: address__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by address__startswith
          name: address__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's business license name.
          name: business_license_name
          in: query
          required: false
          schema:
            type: string
        - description: Filter by business_license_name__in
          name: business_license_name__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by business_license_name__startswith
          name: business_license_name__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's name.
          name: name
          in: query
          required: false
          schema:
            type: string
        - description: Filter by name__in
          name: name__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by name__startswith
          name: name__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's business identifier.
          name: business_identifier
          in: query
          required: false
          schema:
            type: string
        - description: Filter by business_identifier__in
          name: business_identifier__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by business_identifier__startswith
          name: business_identifier__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's license number.
          name: license_number
          in: query
          required: false
          schema:
            type: string
        - description: Filter by license_number__in
          name: license_number__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by license_number__startswith
          name: license_number__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's external account id.
          name: ext_acct_id
          in: query
          required: false
          schema:
            type: string
        - description: Filter by ext_acct_id__in
          name: ext_acct_id__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by ext_acct_id__startswith
          name: ext_acct_id__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by ext_acct_id__isnull
          name: ext_acct_id__isnull
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's email.
          name: email
          in: query
          required: false
          schema:
            type: string
        - description: Filter by email__in
          name: email__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by email__startswith
          name: email__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the customer's website.
          name: website
          in: query
          required: false
          schema:
            type: string
        - description: Filter by website__in
          name: website__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by website__startswith
          name: website__startswith
          in: query
          required: false
          schema:
            type: string
        - description: Filter by owner ID.
          name: owner
          in: query
          required: false
          schema:
            type: number
        - description: Filter by partner ID.
          name: partner
          in: query
          required: false
          schema:
            type: number
        - description: Filter by the ID of a customer's tier.
          name: tier
          in: query
          required: false
          schema:
            type: number
        - description: Filter by the ID of a customer's price schedule.
          name: price_schedule
          in: query
          required: false
          schema:
            type: number
        - description: Filter by the ID of a customer's service zone.
          name: service_zone
          in: query
          required: false
          schema:
            type: number
        - description: Filter by the ID of a customer's license type.
          name: license_type
          in: query
          required: false
          schema:
            type: number
        - description: Filter by the whether a customer's license is active.
          name: license_inactive
          in: query
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/PaymentTermFilter'
        - $ref: '#/components/parameters/PaymentMethodFilter'
        - description: Filter by the ID of a customer's status.
          name: status
          in: query
          required: false
          schema:
            type: number
        - description: Filter by the ID of a customer's state.
          name: state
          in: query
          required: false
          schema:
            type: number
        - description: Filter by whether the customer was added by LeafLink.
          name: leaflink_source
          in: query
          required: false
          schema:
            type: string
        - description: Filter by whether the customer has been archived.
          name: archived
          in: query
          required: false
          schema:
            type: string
        - description: Filter by whether the customer is delinquent.
          name: delinquent
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
        - description: >-
            Filter for orders that match external_ids key:values.  Must be used
            with external_id_values.
          name: external_id_key
          in: query
          schema:
            type: string
        - description: >-
            Filter for orders that match external_ids key:values.  Multiple
            values separated by a comma.  Must be used with external_id_key.
          name: external_id_values
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersListResponse'
    post:
      tags:
        - customers
      summary: Create a customer
      operationId: customers_create
      description: Create a new customer.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
  /customers/{id}:
    parameters:
      - description: A unique integer value identifying this company customer.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - customers
      summary: Retrieve a customer
      operationId: customers_read
      description: Retrieve a customer by ID.
      parameters:
        - description: Include only specific fields in the response, separated by commas.
          name: fields_include
          in: query
          schema:
            type: string
        - description: Exclude specific fields in the response, separated by commas.
          name: fields_exclude
          in: query
          schema:
            type: string
        - description: >-
            Include additional fields in the response. Available values include
            `tags`, `service_zone`, `managers`, `contacts`, and `license_type`
          name: include_children
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
    patch:
      tags:
        - customers
      summary: Update a customer
      operationId: Customers_updateById
      description: Update a customer by ID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
    delete:
      tags:
        - customers
      summary: Archive a customer
      operationId: customers_delete
      description: Archive a customer by ID.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
  /license-types:
    parameters: []
    get:
      tags:
        - license-types
      summary: List
      operationId: Licensetypes_listAll
      description: |-
        List all licenses types available on LeafLink.
        <br />You can list the license types associated with
        a company's products at <b>/companies/{company_id}/license-types</b>
      parameters:
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensetypesListAllResponse'
  /license-types/{id}:
    parameters:
      - description: A unique integer value identifying this license type.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - license-types
      summary: Read
      operationId: Licensetypes_getById
      description: Retrieve an individual license type by ID.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseType'
  /licenses:
    parameters: []
    get:
      tags:
        - licenses
      summary: List
      operationId: licenses_list
      description: |-
        List all licenses for a user's companies.
        <br />You can list the licenses associated with
        a company's products at <b>/companies/{company_id}/licenses</b>
      parameters:
        - description: Filter by number__in
          name: number__in
          in: query
          required: false
          schema:
            type: string
        - description: Filter by number
          name: number
          in: query
          required: false
          schema:
            type: string
        - description: Filter by company_slug
          name: company_slug
          in: query
          required: false
          schema:
            type: string
        - description: Filter by id
          name: id
          in: query
          required: false
          schema:
            type: number
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensesListResponse'
  /licenses/{id}:
    parameters:
      - description: A unique integer value identifying this license.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - licenses
      summary: Read
      operationId: licenses_read
      description: Retrieve an individual license by ID.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceLicense'
  /line-items:
    get:
      tags:
        - line-items
      summary: List line items
      operationId: Lineitems_listAllActiveCompanies
      description: >-
        List line items for all active companies where the user has the Manage
        Orders Received permission.
            <br />
            <br />Line items can also be retrieved by order via <b>/orders-received/{order_number}/line-items</b>
            <br />or by company via <b>/companies/{company_id}/line-items/</b>
      parameters:
        - description: >-
            Expand an id field into its full object.  Supported values include
            `product`.
          name: expand
          in: query
          required: false
          schema:
            type: string
        - description: Filter by id
          name: id
          in: query
          required: false
          schema:
            type: number
        - description: Filter by product name.
          name: product__name
          in: query
          required: false
          schema:
            type: string
        - description: Filter by product id.
          name: product_id
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by order number or external_id_seller. Multiple values may be
            separated by commas.
          name: order
          in: query
          required: false
          schema:
            type: string
        - description: Filter by sample status.
          name: is_sample
          in: query
          required: false
          schema:
            type: string
        - description: Filter by Order created_on, greater than or equal to
          name: order__created_on__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by Order created_on, less than or equal to
          name: order__created_on__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by Order ship_date, greater than or equal to
          name: order__ship_date__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by Order ship_date, less than or equal to
          name: order__ship_date__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by Order modified, greater than or equal to
          name: order__modified__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by Order modified, less than or equal to
          name: order__modified__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by Order Customer cities, separated by commas.
          name: order__customer__cities
          in: query
          required: false
          schema:
            type: string
        - description: Filter by Order Customer managers, separated by commas.
          name: order__customer__managers
          in: query
          required: false
          schema:
            type: string
        - description: Filter by Order Customer, separated by commas.
          name: order__customers
          in: query
          required: false
          schema:
            type: string
        - description: Filter by seller company slug
          name: company_slug
          in: query
          required: false
          schema:
            type: string
        - description: Filter by order__service_zone
          name: order__service_zone
          in: query
          required: false
          schema:
            type: number
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineitemsListAllActiveCompaniesResponse'
    post:
      tags:
        - line-items
      summary: Create line item
      operationId: Lineitems_createNewLineItem
      description: |
        Create a line item for an existing order.

         > ⚠️ **WARNING - BETA FEATURE**
         >
         > This API is in active development and is subject to change.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemCreate'
            example:
              product: 2093
              quantity: 10
              notes: Please include sample
              ordered_unit_price:
                amount: 108
                currency: USD
              sale_price:
                amount: 99
                currency: USD
              order: 93b532b3-a125-4cd2-9b71-9996b1e164ce
        x-s2o-overloaded: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemResponse'
      x-s2o-warning: Operation line-items_create has multiple requestBodies
  /line-items/{id}:
    parameters:
      - description: A unique integer value identifying this ordered product.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - line-items
      summary: Retrieve a line item
      operationId: Lineitems_getById
      description: Retrieve an individual line item
      parameters:
        - description: >-
            Expand an id field into its full object.  Supported values include
            `product`.
          name: expand
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemResponse'
    patch:
      tags:
        - line-items
      summary: Update a line item
      operationId: Lineitems_updateLineItem
      description: Update an existing line item
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemUpdate'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemResponse'
    delete:
      tags:
        - line-items
      summary: Delete a line item
      operationId: Lineitems_deleteLineItem
      description: Delete a line item
      responses:
        '204':
          description: ''
  /order-event-logs:
    parameters: []
    get:
      tags:
        - order-event-logs
      summary: List
      operationId: Ordereventlogs_listAllLogs
      description: List all order event logs.
      parameters:
        - description: Filter by id
          name: id
          in: query
          required: false
          schema:
            type: number
        - description: >-
            Filter Event Logs by the username, first name, or last name of the
            person whose event created it.
          name: by
          in: query
          required: false
          schema:
            type: string
        - description: Filter Event Logs by their associated order number.
          name: order
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdereventlogsListAllLogsResponse'
  /order-event-logs/{id}:
    parameters:
      - description: A unique integer value identifying this order event log.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - order-event-logs
      summary: Read
      operationId: Ordereventlogs_getById
      description: Retrieve an individual order event log by id.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderEventLog'
  /order-payments:
    parameters: []
    get:
      tags:
        - order-payments
      summary: List payments
      operationId: Orderpayments_listAllActiveCompanies
      description: >-
        List payments for all active companies where the user has the Manage
        Orders Received permission. <br /> <br />Filter by order with
        /orders-received/{order_number}/payments/
      parameters:
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrderpaymentsListAllActiveCompaniesResponse
    post:
      tags:
        - order-payments
      summary: Create a payment
      operationId: Orderpayments_createPayment
      description: Create a new payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderPaymentCreate'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPaymentResponse'
  /order-payments/{id}:
    parameters:
      - description: A unique integer value identifying the order payment.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - order-payments
      summary: Retrieve a payment
      operationId: Orderpayments_getById
      description: Retrieve a payment by id.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPaymentResponse'
  /order-sales-reps:
    parameters: []
    get:
      tags:
        - order-sales-reps
      summary: List
      operationId: Ordersalesreps_listAll
      description: >-
        List all OrderSalesReps under the company access scope.  For legacy
        auth, includes companies where the user has the `Can Manage Orders
        Received` permission.
      parameters:
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersalesrepsListAllResponse'
    post:
      tags:
        - order-sales-reps
      summary: Create
      operationId: Ordersalesreps_createNewSalesRep
      description: Create a new OrderSalesRep.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderSalesRepSerialzer'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSalesRepSerialzer'
  /order-sales-reps/{id}:
    parameters:
      - description: A unique integer value identifying this order sales rep.
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - order-sales-reps
      summary: Read
      operationId: Ordersalesreps_getById
      description: Retrieve an individual OrderSalesRep by ID.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSalesRepSerialzer'
    delete:
      tags:
        - order-sales-reps
      summary: Delete
      operationId: Ordersalesreps_removeById
      description: Remove OrderSalesRep object by ID.
      responses:
        '204':
          description: ''
  /buyer/orders:
    get:
      tags:
        - buyer-orders
      summary: List orders
      operationId: Buyerorders_listOrdersSent
      description: List orders sent
      parameters:
        - description: Filter results by seller id
          name: seller
          in: query
          schema:
            type: string
        - description: Include only specific fields in the response, separated by commas.
          name: fields_include
          in: query
          schema:
            type: string
        - description: Exclude specific fields in the response, separated by commas.
          name: fields_exclude
          in: query
          schema:
            type: string
        - description: >-
            Include additional fields in the response. Available values include
            `created_by` and `last_changed_by`
          name: fields_add
          in: query
          schema:
            type: string
        - description: >-
            Include additional fields in the response. Available values include
            `line_items`, `customer`, and `sales_reps`
          name: include_children
          in: query
          schema:
            type: string
        - description: >-
            Filter results the company slug on the seller side of the order. 
            Case-insensitive exact match.
          name: seller__slug__iexact
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the modified date, greater than or equal to
          name: modified__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the modified date, less than or equal to
          name: modified__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the modified date, greater than
          name: modified__gt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the modified date, less than
          name: modified__lt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the number assigned to the order by the seller company
          name: external_id_seller
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by the number assigned to the order by the seller company.
            Case-insensitive containment match: returns orders that contain the
            string
          name: external_id_seller__icontains
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the created_on date, greater than or equal to
          name: created_on__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the created_on date, less than or equal to
          name: created_on__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the created_on date, greater than
          name: created_on__gt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the created_on date, less than
          name: created_on__lt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the external_id_seller or the number
          name: order_id
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the unique order number generated by LeafLink.
          name: number
          in: query
          required: false
          schema:
            type: string
        - description: Filter by status.
          name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - submitted
              - accepted
              - backorder
              - fulfilled
              - shipped
              - complete
              - rejected
              - combined
              - cancelled
        - description: Filter by brand id
          name: brand
          in: query
          required: false
          schema:
            type: number
        - description: Filter by multiple brand ids, separated by commas
          name: brand__in
          in: query
          required: false
          schema:
            type: number
        - description: Filter by paid status
          name: paid
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by the user id of the sales rep assigned to an order.  This
            is the id field on the company-staff object.
          name: sales_rep
          in: query
          required: false
          schema:
            type: number
        - description: >-
            Filter by the classification of the license-type associated to the
            order
          name: classification
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by the username, first name, or last name of the last person
            who edited the order
          name: user
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by whether or not they have metrc packages associated with
            their line items
          name: connected_to_metrc
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by whether or not orders were manually created by the company
            on the seller side of the order
          name: manual
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the slug of seller company
          name: company_slug
          in: query
          required: false
          schema:
            type: string
        - description: Filter Orders by service zone of customers
          name: service_zone
          in: query
          required: false
          schema:
            type: number
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
        - description: >-
            Filter for orders that match external_ids key:values.  Must be used
            with external_id_values.
          name: external_id_key
          in: query
          schema:
            type: string
        - description: >-
            Filter for orders that match external_ids key:values.  Multiple
            values separated by a comma.  Must be used with external_id_key.
          name: external_id_values
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerordersListOrdersSentResponse'
  /orders-received:
    get:
      tags:
        - orders-received
      summary: List orders
      operationId: Ordersreceived_listAllActiveCompanies
      description: >-
        List received orders for all active companies where the user has the
        Manage Orders Received permission. <br /> <br />Per company via
        <b>/companies/{company_id}/orders-received/</b>
      parameters:
        - description: Include only specific fields in the response, separated by commas.
          name: fields_include
          in: query
          schema:
            type: string
        - description: Exclude specific fields in the response, separated by commas.
          name: fields_exclude
          in: query
          schema:
            type: string
        - description: >-
            Include additional fields in the response. Available values include
            `created_by` and `last_changed_by`
          name: fields_add
          in: query
          schema:
            type: string
        - description: >-
            Include additional fields in the response. Available values include
            `line_items`, `customer`, and `sales_reps`
          name: include_children
          in: query
          schema:
            type: string
        - description: >-
            Filter results the company slug on the seller side of the order. 
            Case-insensitive exact match.
          name: seller__slug__iexact
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the modified date, greater than or equal to
          name: modified__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the modified date, less than or equal to
          name: modified__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the modified date, greater than
          name: modified__gt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the modified date, less than
          name: modified__lt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the number assigned to the order by the seller company
          name: external_id_seller
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by the number assigned to the order by the seller company.
            Case-insensitive containment match: returns orders that contain the
            string
          name: external_id_seller__icontains
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the created_on date, greater than or equal to
          name: created_on__gte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the created_on date, less than or equal to
          name: created_on__lte
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the created_on date, greater than
          name: created_on__gt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the created_on date, less than
          name: created_on__lt
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the external_id_seller or the number
          name: order_id
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the unique order number generated by LeafLink.
          name: number
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by status. Multiple statuses can be submitted as
            comma-separated list. Case Insensitive.
          name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - draft
              - submitted
              - accepted
              - backorder
              - fulfilled
              - shipped
              - complete
              - rejected
              - combined
              - cancelled
        - description: >-
            Exclude by order status. Multiple statuses can be submitted as a
            comma-separated list. Case Insensitive.
          name: status__not
          in: query
          required: false
          schema:
            type: string
            enum:
              - draft
              - submitted
              - accepted
              - backorder
              - fulfilled
              - shipped
              - complete
              - rejected
              - combined
              - cancelled
        - description: Filter by brand id
          name: brand
          in: query
          required: false
          schema:
            type: number
        - description: Filter by multiple brand ids, separated by commas
          name: brand__in
          in: query
          required: false
          schema:
            type: number
        - description: Filter by the id of the company on the buyer side of the order
          name: buyer
          in: query
          required: false
          schema:
            type: string
        - description: Filter by paid status
          name: paid
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by the customer name or nickname for the company on the buyer
            side of the order
          name: customer
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by the user id of the sales rep assigned to an order.  This
            is the id field on the company-staff object.
          name: sales_rep
          in: query
          required: false
          schema:
            type: number
        - description: >-
            Filter by the classification of the license-type associated to the
            order
          name: classification
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by the username, first name, or last name of the last person
            who edited the order
          name: user
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by whether or not they have metrc packages associated with
            their line items
          name: connected_to_metrc
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by whether or not orders were manually created by the company
            on the seller side of the order
          name: manual
          in: query
          required: false
          schema:
            type: string
        - description: Filter by the slug of seller company
          name: company_slug
          in: query
          required: false
          schema:
            type: string
        - description: Filter Orders by service zone of customers
          name: service_zone
          in: query
          required: false
          schema:
            type: number
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
        - description: >-
            Filter for orders that match external_ids key:values.  Must be used
            with external_id_values.
          name: external_id_key
          in: query
          schema:
            type: string
        - description: >-
            Filter for orders that match external_ids key:values.  Multiple
            values separated by a comma.  Must be used with external_id_key.
          name: external_id_values
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrdersreceivedListAllActiveCompaniesResponse
    post:
      tags:
        - orders-received
      summary: Create an order
      operationId: Ordersreceived_createOrderWithLineItems
      description: >
        Create an Order. May create child LineItem objects in the same request.


        __WARNING - BETA FEATURE:__ This API is in active development and is
        subject to change.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
            example:
              external_id_seller: INV-1092
              ext_acct_id: null
              seller: 1
              customer:
                id: 148515
              line_items:
                - product: 2093
                  quantity: 10
                  notes: Please include sample
                  ordered_unit_price:
                    amount: 108
                    currency: USD
                  sale_price:
                    amount: 99
                    currency: USD
              status: Draft
              discount: 0
              discount_type: '%'
              tax_amount: 0
              tax_type: '%'
              shipping_charge:
                amount: 0
                currency: USD
              payment_term: Net 7
              selected_payment_option:
                payment_method_id: 4
                payment_term_id: 3
              delivery_preferences: Monday - Wednesday Only Please
              sales_reps:
                - id: 13
              facility_id: 123
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
  /orders-received/{number}:
    parameters:
      - description: Order number
        name: number
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - orders-received
      summary: Retrieve an order
      operationId: Ordersreceived_getOrder
      description: Retrieve an individual order.
      parameters:
        - description: Include only specific fields in the response, separated by commas.
          name: fields_include
          in: query
          schema:
            type: string
        - description: Exclude specific fields in the response, separated by commas.
          name: fields_exclude
          in: query
          schema:
            type: string
        - description: >-
            Include additional fields in the response. Available values include
            `created_by` and `last_changed_by`
          name: fields_add
          in: query
          schema:
            type: string
        - description: >-
            Include additional fields in the response. Available values include
            `line_items`, `customer`, and `sales_reps`
          name: include_children
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
    patch:
      tags:
        - orders-received
      summary: Update an order
      operationId: Ordersreceived_updateOrder
      description: Update an Order. May update child LineItem objects in the same request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderUpdate'
            example:
              discount: 15
              discount_type: $
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
    delete:
      tags:
        - orders-received
      summary: Delete a draft order
      operationId: Ordersreceived_deleteDraftOrder
      description: >-
        Delete a draft order. This operation is <b>only available for draft
        orders</b>.
      responses:
        '204':
          description: ''
  /orders-received/{number}/transition/{action}:
    parameters:
      - description: Order number
        name: number
        in: path
        required: true
        schema:
          type: string
      - description: >-
          Order transition action.  Available values include `submit`, `accept`,
          `fulfill`, `cancel`, `reject`, `ship`, and `complete`
        name: action
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - orders-received
      summary: Transition an order
      operationId: Ordersreceived_transitionOrder
      description: Perform an order transition action.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
  /product-batches:
    parameters: []
    get:
      tags:
        - product-batches
      summary: List assignments
      operationId: Productbatches_listAssignments
      parameters:
        - description: Number of results to return per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductbatchesListAssignmentsResponse'
    post:
      tags:
        - product-batches
      summary: Create an assignment
      operationId: Productbatches_createAssignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductBatchCreate'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBatchResponse'
  /product-batches/{id}:
    parameters:
      - description: The id for the assignment.
        name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - product-batches
      summary: Retrieve an assignment
      operationId: Productbatches_getAssignment
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductBatchResponse'
    delete:
      tags:
        - product-batches
      summary: Delete an assignment
      operationId: Productbatches_deleteAssignment
      responses:
        '204':
          description: ''
  /product-categories:
    parameters: []
    get:
      tags:
        - product-categories
      summary: List categories
[...]
