openapi: 3.0.0
info:
  title: Talentlink REST API Documentation
  description: >-
    This is a live documentation of Talentlink RESTful services.


    You will find detailed descriptions on how to use the TalentLink Exchange
    API to build your integrations in Developers Guide.


    To use this documentation and call first go to green <span
    class="bold-span">"Authorize"</span> button and provide your credentials.
    Once you do this you will be able to call the API directly from this page.
    However, if you only wish to check the syntax or list the filters then
    credentials are not mandatory.


    To write a query, go to any method, expand it and press <span
    class="bold-span">"Try it out"</span> button. It will display the method
    details window where in case of GET methods you will be able to write the
    query and check the filters.


    You will also notice some of the methods have more specific details in their
    descriptions.


    <span class="bold-span">QuickTip:</span> when writing the GraphQL query you
    can use CTRL + SPACE to see suggestions of the available schemas/tags.
  version: 23.5-SNAPSHOT
  x-api-status-urls: false
servers:
  - url: https://apiproxy.shared.lumessetalentlink.com/tlk/rest
tags:
  - description: '- set of methods for advanced candidate management'
    name: Candidate API
  - description: '- provides methods to manage Talentlink users.'
    name: User API
  - description: >-
      - allows complete management of the contracts for temporary and permanent
      employees. This includes setting the rates, timesheets, mid period
      changes, cost centres and Timesheet approvers
    name: Contract API
  - description: >-
      - provides methods to build career websites based on adverts posted from
      Talentlink.
    name: Published Advert API
  - description: >-
      - Provides method that allow to perform basic operations on selection
      steps for a given candidate
    name: Selection Process API
  - description: >-
      - allows managing the organization chart from another external system.
      Administrators can create unlimited levels of organization, edit their
      properties, move, deactivate and delete them if required.
    name: Department API
  - description: '- Provides methods to manage Configurable Field (LOV) values'
    name: LOV API - Configurable LOV
  - description: '- Provides methods to manage Free Form Field LOV values'
    name: LOV API - Free Form Field LOV
  - description: '- Provides methods to manage values of User Data LOVs'
    name: LOV API - User data
  - description: '- methods to manage Positions'
    name: Position API
  - description: >-
      - Global operations on queues: deleting elements from queue, list of all
      queues, import & export of queues etc. 
    name: Queues API
  - description: >-
      - Provides methods for Assessment Providers & Background checking. Queues
      API are also required.
    name: Assessment Provider API
  - description: '- provides methods for developers to manage interview locations.'
    name: Interview Location API
  - description: >-
      - Provides methods to manage Timesheets for a given candidate (submit,
      approve, reject, retrieve details)
    name: Timesheet API
  - description: '- allows fetching applications of candidates.'
    name: Application API
  - description: '- provides methods for developers to manage job locations.'
    name: Location API
  - description: '- provides methods for developers to manage search agent.'
    name: Search Agent API
  - description: '- allows managing, creating, editing and assignment of Candidate Pools'
    name: Candidate Pools
  - description: '- allows managing TalentLink internal messages and notifications.'
    name: Internal Message API
  - description: '- Provides methods to manage values of Standard LOVs'
    name: LOV API - Standard Fields
  - description: '- allows to get Talentlink roles. '
    name: Role API
  - description: >-
      - allows fetching Adverts which are not yet published for a given job and
      to generate Preview Tokens.
    name: Advertisements API
  - description: '- provides methods to manage personal job templates.'
    name: Personal job template API
  - description: '- Allows to fetch Application details from queue'
    name: Queues API - Application
  - description: '- Methods to fetch data of archived candidates from queue'
    name: Queues API - Archived Candidate
  - description: '- Allows to fetch Candidate  details from queue'
    name: Queues API - Candidates
  - description: '- Allows to fetch Contract details from queue'
    name: Queues API - Contract
  - description: >-
      - Allows to fetch External Assessment Providers Requests details from
      queue
    name: Queues API - External System Request
  - description: '- Allows to fetch Position / Requisition details from queue'
    name: Queues API - Position (Requisitions)
  - description: '- Allows to fetch Advert details from queue'
    name: Queues API - Posting (Adverts)
  - description: '- Allows to fetch details of Selection Steps from the queue'
    name: Queues API - Selection Step
  - description: '- Allows to fetch details of candidates Timesheets from the queue'
    name: Queues API - Timesheets
  - description: '- allows to fetch details of Users from the queue'
    name: Queues API - Users
  - description: '- provides methods for developers to manage campaigns'
    name: Campaign API
  - description: '- Allows to fetch details of all types of LOVs'
    name: LOV API
  - description: '- provides method to read password rules.'
    name: Password Rule API
paths:
  /advertisement/generate-token:
    post:
      tags:
        - Advertisements API
      summary: >-
        Allows to generate token to preview the advert which is not yet
        published
      operationId: AdvertisementsApi_generateToken
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method allows to generate a token which then can be used to
        preview the advert (https://developer.lumesse-talenthub.com) which is
        not yet published.</p>
      responses:
        '200':
          description: Token generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertisementsApiGenerateTokenResponse'
  /advertisement/postings/{jobNumber}:
    get:
      tags:
        - Advertisements API
      summary: Allows to fetch details of adverts created for a given requisition
      operationId: AdvertisementsApi_getAdvertsForRequisition
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: <p>Returns the list of created adverts for a requisition</p>
      parameters:
        - description: jobNumber
          name: jobNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of postings
  /agency:
    get:
      tags:
        - Contract API
      summary: List of agencies
      operationId: ContractApi_listAgencies
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: Returns a list of agencies. DTO structure depends on a GraphQL query.
      parameters:
        - description: >-
            This is a GraphQL query parameter. You can find more about GraphlQL
            [here](https://graphql.org/learn/ "Go to the GraphQL official
            documentation").
          name: query
          in: query
          required: true
          schema:
            type: string
            default: >-
              { agencies(first: 10, after: 0, sortBy: id, orderBy: ASC, where:
              {agencyId_gt: 0}) { agencyId } }
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentGraphQlWrapperDto'
  /application:
    get:
      tags:
        - Application API
      summary: List of applications
      operationId: ApplicationApi_listApplications
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        Returns a list of applications. DTO structure depends on a GraphQL
        query.
      parameters:
        - description: >-
            This is a GraphQL query parameter. You can find more about GraphlQL
            [here](https://graphql.org/learn/ "Go to the GraphQL official
            documentation").
          name: query
          in: query
          required: true
          schema:
            type: string
            default: >-
              { applications(first: 10, after: 0, sortBy: id, orderBy: ASC,
              where: {id_gt: 0}) { id } }
        - description: Enables streaming mode
          name: stream
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGraphQlWrapperDto'
  /application/available-statuses:
    get:
      tags:
        - Application API
      summary: retrieves application statuses
      operationId: ApplicationApi_getStatuses
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        This method allows to retrieve all application statuses for a given
        language. Method returns a list from operation.
      parameters:
        - name: langCode
          in: query
          required: false
          schema:
            type: string
            enum:
              - AR
              - AT
              - BG
              - BR
              - CA
              - CH
              - CN
              - CS
              - CY
              - DE
              - DN
              - EL
              - US
              - EN
              - ET
              - FL
              - FN
              - FR
              - GL
              - HR
              - HU
              - ID
              - IS
              - IT
              - JA
              - KO
              - LT
              - LV
              - MX
              - MY
              - NL
              - NW
              - PL
              - PT
              - RO
              - RU
              - SK
              - SL
              - SP
              - SR
              - SW
              - TH
              - TR
              - TW
              - UA
              - UK
              - VI
              - WA
              - XX
      responses:
        '200':
          description: Application statuses retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableApplicationStatusesDto'
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to retrieve application statuses
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /application/status:
    put:
      tags:
        - Application API
      summary: Updates application status
      operationId: ApplicationApi_updateStatusById
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        This method allows to update application status for a given application
        ID. It works in the same way as manual change of appliciation status in
        Talentlink BO. Method returns a report from operation.
      requestBody:
        description: statuses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationsStatusDto'
        required: true
      responses:
        '200':
          description: Application status update processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsStatusReportDto'
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to change application status
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /application/{applicationId}/update-application-context:
    get:
      tags:
        - Application API
      summary: >-
        Generates JWT token to be used in Apply API for updating an existing
        general application in TLK
      operationId: ApplicationApi_generateJwtToken
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        This method allows to update an existing general application record
        (referenced by Application ID) instead of creating a new record or
        relying on a merge rules configured in TalentLink. JWT token returned by
        this endpoint should be used while calling Apply API. Please refer to
        Apply API documentation (Submissions endpoint) for further details.
      parameters:
        - description: Application ID
          name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Application update possible for given Application ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsStatusReportDto'
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /assessment-provider/results-template/{systemName}:
    get:
      tags:
        - Assessment Provider API
      summary: Method returns the structure of a form to be used for uploading results
      operationId: AssessmentProviderApi_getResultsTemplate
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>In the configuration of the External System Provider there is a
        dedicated form assigned.That form is used to upload the results and in
        some cases scoring. This method returns the structure of the configured
        form.System Name is to be provided (which is the name which is setup in
        the External System configuration).This structure can then be used in
        <b>submitResults</b> method.</p>
      parameters:
        - description: systemName
          name: systemName
          in: path
          required: true
          schema:
            type: string
        - description: showLocalizedValue
          name: showLocalizedValue
          in: query
          required: false
          schema:
            type: boolean
        - description: localizedValueLangCode
          name: localizedValueLangCode
          in: query
          required: false
          schema:
            type: string
            enum:
              - AR
              - AT
              - BG
              - BR
              - CA
              - CH
              - CN
              - CS
              - CY
              - DE
              - DN
              - EL
              - US
              - EN
              - ET
              - FL
              - FN
              - FR
              - GL
              - HR
              - HU
              - ID
              - IS
              - IT
              - JA
              - KO
              - LT
              - LV
              - MX
              - MY
              - NL
              - NW
              - PL
              - PT
              - RO
              - RU
              - SK
              - SL
              - SP
              - SR
              - SW
              - TH
              - TR
              - TW
              - UA
              - UK
              - VI
              - WA
              - XX
      responses:
        '200':
          description: Results template structure successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructuredDocumentDto'
  /assessment-provider/submit-report:
    post:
      tags:
        - Assessment Provider API
      summary: >-
        Allows an assessment provider to submit a physical file containing a
        report of the candidate's assessment.
      operationId: AssessmentProviderApi_submitReport
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>Method allows an assessment provider to submit a physical file
        containing a report of the candidate's assessment. Such file usually
        contains more descriptive information about the results. Uploaded file
        is visible in TalentLink and is linked to Selection Step which was used
        to trigger the assessment. <b>RequestID</b> contains the unique
        correlation ID which is generated by TalentLink (it is visible in the
        Queue and also on the Selection Step</p>
      requestBody:
        description: submitReportRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitReportRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultDto'
        '201':
          description: Report submitted
  /assessment-provider/submit-resource:
    post:
      tags:
        - Assessment Provider API
      summary: Allows to pass the assessment URL to TalentLink
      operationId: AssessmentProviderApi_submitResource
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>The Assessment Provider API needs to be used with Queues
        API.</p></br><p><b>Work Flow</b></p><p>A typical work flow would
        be:</p><ul><li><p>A recruiter starts the candidate's selection step
        which is linked to an assessment.</p></li><li><p>The request is added to
        a Queue which usually is monitored by the assessment provider.
        Optionally queues are also able to send out notifications to the
        specified endpoint.</p></li><li><p>The assessment provider calls the
        Queue web service to retrieve details of the request (especially the
        <b>RequestID</b> which identifies the selection step which was
        used).</p></li><li><p>Provider registers candidate.</p></li><li><p>The
        assessment provider calls the Queue web service to remove the request
        from the queue.</p></li><li><p>Provider calls <b>submitResource</b>
        method to pass the URL for the candidate to take the
        assessment.</p></li><li><p>Once the URL is provided an email containing
        the URL is sent to the candidate by TalentLink.</p></li><li><p>Candidate
        takes assessment.</p></li><li><p>Provider sends results back either as a
        report (<b>submitReport</b>)or as a TalentLink defined form
        (<b>submitResults</b>).</p></li><li><p>Provider use <b>submitStatus</b>
        method  to send 'Completed' value as status.  This action closes the
        selection step and automatically proceeds or reject Candidate to next
        selection step based on auto-scoring rules set-up within the dedicated
        form in TalentLink.</p></li></ul>
      requestBody:
        description: submitResourceRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitResourceRequest'
        required: true
      responses:
        '200':
          description: Resource submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultDto'
  /assessment-provider/submit-results:
    post:
      tags:
        - Assessment Provider API
      summary: >-
        Allows an assessment provider to submit a structured document (form)
        containing results.
      operationId: AssessmentProviderApi_submitResultsForm
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>After using <b>getResultsTemplate</b> method and fetching the
        structure of the form configured in the External System settings the
        obtained structure should be used to upload the results and scoring.</p>
      requestBody:
        description: submitResultsRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitResultsRequest'
        required: true
      responses:
        '200':
          description: Result submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultDto'
  /assessment-provider/submit-status:
    post:
      tags:
        - Assessment Provider API
      summary: >-
        Allows an assessment provider to update the status of a candidate's
        assessment & selection step.
      operationId: AssessmentProviderApi_updateAssessmentStatus
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        This method allows to send the status of the assessment and close the
        selection step, which allows for the next steps to be started (or
        candidate to be rejected) based on the scoring.
      requestBody:
        description: submitStatusRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitStatusRequest'
        required: true
      responses:
        '200':
          description: Status submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultDto'
  /campaign/type:
    put:
      tags:
        - Campaign API
      summary: Assign campaign types to candidates
      operationId: CampaignApi_assignCampaignTypesToCandidates
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      requestBody:
        description: campaign type assignment data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignTypeAssignmentDto'
        required: true
      responses:
        '200':
          description: Campaign types successfully assigned
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate:
    get:
      tags:
        - Candidate API
      summary: List of candidates
      operationId: CandidateApi_listCandidates
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: Returns a list of candidates. DTO structure depends on a GraphQL query.
      parameters:
        - description: >-
            This is a GraphQL query parameter. You can find more about GraphlQL
            [here](https://graphql.org/learn/ "Go to the GraphQL official
            documentation").
          name: query
          in: query
          required: true
          schema:
            type: string
            default: >-
              { candidates(first: 10, after: 0, sortBy: id, orderBy: ASC, where:
              {id_gt: 0}) { id } }
        - description: Enables streaming mode
          name: stream
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateGraphQlWrapperDto'
    post:
      tags:
        - Candidate API
      summary: Creates Candidate
      operationId: CandidateApi_createCandidateRecord
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method allows to create candidates in Talentlink. Please note it
        creates a basic candidate record based on a set of standard
        fields.</p><p>Before creating the candidate: If you wish to know the
        structure of the fields in Candidate Summary for a given department (and
        also indication of required fields) please call below method:</br> GET
        candidate/summary/{templateType} - where a template type needs to be
        provided on entry and the response contains the fields structure for a
        given template and candidate type (i.e. internal, external, temporary,
        contractor).</p><p>Please note that candidate in Talentlink must have a
        context (Position or Candidate Pool).Therefore when creating the
        candidate one of the below parameters must be used:</br>"openingId" - ID
        of the position (job/requisition).

        </br>"poolId" - ID of the candidate Pool.

        </p><p>NOTE: One of them must be used  (both parameters can also be
        used).</p><p>If you wish to add LOVS, FFF or any custom fields after you
        create the basic record then you need to run below method:</br>PUT:
        /candidate/{candidateId}/summary - Update Candidate
        Summary</p></br><p>List of possible consent statuses:</p><ul> 
        <li><b>GRANTED</b></li>   <li><b>REVOKED_BY_USER</b></li>   
        <li><b>NOT_REQUESTED</b></li>  </ul>
      requestBody:
        description: new candidate data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicCandidateDto'
        required: true
      responses:
        '201':
          description: Candidate successfully created
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/application/score:
    put:
      tags:
        - Candidate API
      summary: Update Candidate Application Score
      operationId: CandidateApi_updateApplicationScore
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      requestBody:
        description: new candidate sumary data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationScoreDto'
        required: true
      responses:
        '204':
          description: Candidate application score successfully updated
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/archive/mark:
    patch:
      tags:
        - Candidate API
      summary: Mark candidates for archiving
      operationId: CandidateApi_markForArchiving
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      requestBody:
        $ref: '#/components/requestBodies/CandidateListDto'
      responses:
        '200':
          description: >-
            Eligible candidates were marked for archiving. There is returned
            structure with list of all input candidates and their archiving
            statuses. If a candidate cannot be marked for archiving then this
            information is returned in a response structure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivingSummariesDto'
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/archive/unmark:
    patch:
      tags:
        - Candidate API
      summary: Unmark candidates from archiving
      operationId: CandidateApi_unmarkFromArchiving
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      requestBody:
        $ref: '#/components/requestBodies/CandidateListDto'
      responses:
        '200':
          description: >-
            Eligible candidates were unmarked from archiving. There is returned
            structure with list of all input candidates and their archiving
            statuses. If a candidate cannot be unmarked from archiving then this
            information is returned in a response structure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivingSummariesDto'
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/attachment/{documentId}:
    get:
      tags:
        - Candidate API
      summary: Download candidate attachment file
      operationId: CandidateApi_downloadAttachment
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method allows to fetch all documents that were uploaded
        manually, as attachments linked to specific candidate.</br>Such
        documents can include Resumes, Cover Letters, Emails etc. Usually they
        are uploaded after the candidate is created via API or manually in
        Talentlink by the user.</p><p>List of all types of attachment
        types:<ul><li>RESUME,</li><li>COVER_LETTER,</li><li>MAIL,</li><li>OFFER_LETTER,</li><li>OTHER.</li></ul></p><p>NOTE:
        This method returns ONLY attachments.</br> For the list of structured
        documents that are part of Application or Selection processes please
        call GET/candidate/documents/{documentId} endpoint.</p>
      parameters:
        - description: Id of attachment document
          name: documentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Document found
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have access to this document
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/consent:
    get:
      tags:
        - Candidate API
      summary: List of consents
      operationId: CandidateApi_getConsents
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: Returns a list of consents. DTO structure depends on a GraphQL query.
      parameters:
        - description: >-
            This is a GraphQL query parameter. You can find more about GraphlQL
            [here](https://graphql.org/learn/ "Go to the GraphQL official
            documentation").
          name: query
          in: query
          required: true
          schema:
            type: string
            default: >-
              { consents (first: 10, after: 0, sortBy: id, orderBy: ASC, where:
              {id_gt: 0}) { id } }
      responses:
        '200':
          description: Candidate consent successfully returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentGraphQlWrapperDto'
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to candidate consent
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/document/{documentId}:
    get:
      tags:
        - Candidate API
      summary: Download candidate document
      operationId: CandidateApi_downloadDocument
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method allows to fetch all structured documents of the
        candidate. </br>Structured documents are pre defined in Talentlink as
        templates and are usually used & created as part of theapplication
        process (typically Questionnaires, PIF etc.) or as part of Selection
        process (Feedback Forms etc.).</br>List of all types of the documents
        that can appear in the response can be found
        POSSIBLE_DOCUMENT_TYPE_VALUES_PLACEHOLDER.</p><p>NOTE: This method
        returns ONLY structured documents.</br>For the list of documents
        uploaded by the user during creation of the candidate manually (CREATE
        method)please call GET/candidate/attachment/{documentId} endpoint.</p>
      parameters:
        - description: Id of attachment document
          name: documentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Document found
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have access to this document
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/email-document/attachment/{attachmentId}:
    get:
      tags:
        - Candidate API
      summary: Fetch complete email documents (base64)
      operationId: CandidateApi_getCompleteEmailDocument
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        Each email is saved as a document in Talentlink. The global method GET
        allows to fetch it as attachment. However it is not returning all of the
        information strictly related to email (like subject, sender etc.) as it
        only returns the email body.

        This particular method allows to fetch complete email documents with all
        the additional, email related information.
      parameters:
        - description: Id of attachment
          name: attachmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Attachment found
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have access to this attachment
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/email-document/{documentId}:
    get:
      tags:
        - Candidate API
      summary: Get details about candidate email document for provided ID
      operationId: CandidateApi_getEmailDocumentDetails
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: Id of email document
          name: documentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Document found
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have access to this document
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/form-document/{documentId}:
    get:
      tags:
        - Candidate API
      summary: Get answers from candidate documents
      operationId: CandidateApi_getDocumentAnswers
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: Id of document
          name: documentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Document found
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have access to this document
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/structured-document/{documentId}:
    get:
      tags:
        - Candidate API
      summary: Get document with answer for specified id
      operationId: CandidateApi_getDocumentAnswerById
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: Id of document
          name: documentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: showLocalizedValues
          in: query
          required: false
          schema:
            type: boolean
        - name: langCode
          in: query
          required: false
          schema:
            type: string
            enum:
              - AR
              - AT
              - BG
              - BR
              - CA
              - CH
              - CN
              - CS
              - CY
              - DE
              - DN
              - EL
              - US
              - EN
              - ET
              - FL
              - FN
              - FR
              - GL
              - HR
              - HU
              - ID
              - IS
              - IT
              - JA
              - KO
              - LT
              - LV
              - MX
              - MY
              - NL
              - NW
              - PL
              - PT
              - RO
              - RU
              - SK
              - SL
              - SP
              - SR
              - SW
              - TH
              - TR
              - TW
              - UA
              - UK
              - VI
              - WA
              - XX
      responses:
        '200':
          description: Document found
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have access to this document
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/summary/{templateType}:
    get:
      tags:
        - Candidate API
      summary: >-
        Fetch Candidate summary structure for a given template type or candidate
        type
      operationId: CandidateApi_getSummaryStructure
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        This method allows to fetch Candidate summary structure for a given
        template type or candidate type before creation of a candidate. In
        Talentlink there can be deifferent Candidate Summary structures
        depending on the candidate type (internal/external) and employee type
        (permanent / contractor). Therefore it is sometimes necessary to fetch
        the correct structure of the fields.
      parameters:
        - description: ' it can accept following values: candidate, employee, externalContractor, internalContractor.'
          name: templateType
          in: path
          required: true
          schema:
            type: string
        - description: ' language parameter'
          name: localizedValueLangCode
          in: query
          required: false
          schema:
            type: string
            enum:
              - AR
              - AT
              - BG
              - BR
              - CA
              - CH
              - CN
              - CS
              - CY
              - DE
              - DN
              - EL
              - US
              - EN
              - ET
              - FL
              - FN
              - FR
              - GL
              - HR
              - HU
              - ID
              - IS
              - IT
              - JA
              - KO
              - LT
              - LV
              - MX
              - MY
              - NL
              - NW
              - PL
              - PT
              - RO
              - RU
              - SK
              - SL
              - SP
              - SR
              - SW
              - TH
              - TR
              - TW
              - UA
              - UK
              - VI
              - WA
              - XX
        - description: ' this parameters controls whether the field values display localized or unlocalized values. Possible values: true, false.'
          name: showLocalizedValue
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Candidate summary definition successfully returned
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to Candidate Summary
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Template not found
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/{candidateId}:
    delete:
      tags:
        - Candidate API
      summary: Delete candidate
      operationId: CandidateApi_removeById
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: Id of the candidate
          name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: >-
            Candidate was deleted completely (response field
            'candidateDeletedCompletely' set to true) or partially (response
            field 'candidateDeletedCompletely' set to false). Candidate deletion
            depends on API user rights.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateDeletionStatusDto'
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/{candidateId}/consent:
    put:
      tags:
        - Candidate API
      summary: Update the candidate consent
      operationId: CandidateApi_updateConsent
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: Id of the candidate
          name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: new candidate consent data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConsentDto'
        required: true
      responses:
        '200':
          description: Consent updated
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to update consent
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/{candidateId}/linktojob:
    put:
      tags:
        - Candidate API
      summary: Link candidate to one or more jobs
      operationId: CandidateApi_linkToJob
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: Id of candidate which will be linked to job/s
          name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: linkToJobsDto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkToJobsDto'
        required: true
      responses:
        '200':
          description: Candidate linked
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to link candidate
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/{candidateId}/referral/{referralId}:
    put:
      tags:
        - Candidate API
      summary: Update Referral Info
      operationId: CandidateApi_updateReferralInfo
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>After creating the candidate you may wish to change Referral
        information.</p><p>Before calling this method you may want to use
        GET/candidate method to fetch the structure of the Referral</p>
      parameters:
        - description: Id of candidate whom Referrer data will be updated
          name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Id of Referral to be updated
          name: referralId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: new Referrer data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferrerDto'
        required: true
      responses:
        '204':
          description: Referral data successfully updated
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to update candidate summary
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/{candidateId}/summary:
    get:
      tags:
        - Candidate API
      summary: Fetch candidate summary for a given Candidate.
      operationId: CandidateApi_getSummaryById
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: Id of candidate whom candidate summary is requested
          name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Language of localized values
          name: langCode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Candidate summary successfully returned
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to candidate summary of candidate
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
    put:
      tags:
        - Candidate API
      summary: Update Candidate Summary
      operationId: CandidateApi_updateSummary
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>After creating the candidate you may wish to add extra fields defined
        in the summary.</p><p>Before calling this method you may want to use
        GET/candidate/{candidateId}/summary/definition method to fetch the
        structure of the form</p>
      parameters:
        - description: Id of candidate whom candidate summary will be updated
          name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: new candidate sumary data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnsweredDto'
        required: true
      responses:
        '204':
          description: Candidate summary successfully updated
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to update candidate summary
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/{candidateId}/summary/definition:
    get:
      tags:
        - Candidate API
      summary: >-
        Fetch empty Candidate Summary structure for existing candidate. Useful
        for updating candidate
      operationId: CandidateApi_getEmptySummaryDefinition
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method returns the empty structure of the candidate summary
        along with all the possible values for a given candidateID.</p><p>Main
        template for the summary can be edited, while existing candidate may
        have older version of the form.</p><p>With this method user can view the
        exact structure of the existing candidate summary along with the
        possible values</p>
      parameters:
        - description: Id of candidate whom candidate summary is requested
          name: candidateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Candidate summary definition successfully returned
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to Candidate Summary Definition
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/{id}/tag:
    post:
      tags:
        - Candidate API
      summary: Add tag to candidate
      operationId: CandidateApi_addTagToCandidate
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: candidate id
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: tag
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateTagAssignmentDto'
        required: true
      responses:
        '204':
          description: Tag added to candidate.
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/{id}/tag/{tagId}:
    delete:
      tags:
        - Candidate API
      summary: Remove tag from candidate
      operationId: CandidateApi_removeTag
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: candidate id
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: document
          name: tagId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Tag removed from candidate.
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidate/{id}/upload/document:
    post:
      tags:
        - Candidate API
      summary: Upload candidate document
      operationId: CandidateApi_uploadDocument
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: candidate id
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: document
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateDocumentDto'
        required: true
      responses:
        '200':
          description: File uploaded.
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '403':
          description: User does not have the right to perform this operation
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidatepool:
    get:
      tags:
        - Candidate Pools
      summary: Returns the list of shared candidate pools available to the user
      operationId: CandidatePools_getList
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>Candidate Pools allow to group candidates in specific sets.
        <br/>These sets can be then used for filtering purposes and to build a
        potential Talent base for future job opprtunities.<br/>Pools can be used
        to group candidates by skills, particular positions etc.<br/>there are
        two types of Pools in Talentlink:<br/>- users's private Pool (each user
        has one by default) - contents of this Pooll cannot be shared with other
        users.<br/>- shared Pool which is assigned to a specific Department.
        Users with access to candidates from this department are be able to see
        & add/remove candidates to/from this pool.</p><br/><p>This method
        returns all the details of existing Candidate Pool(s) that are available
        to view by the user.<br/>It is possible to filter the response based on
        the GrapQL logic and to get one or more pool details.</p>
      parameters:
        - description: >-
            This is a GraphQL query parameter. You can find more about GraphlQL
            [here](https://graphql.org/learn/ "Go to the GraphQL official
            documentation").
          name: query
          in: query
          required: true
          schema:
            type: string
            default: >-
              { candidatePools(first: 10, after: 0, sortBy: id, orderBy: ASC,
              where: {id_gt: 0}) { id } }
        - description: Enables streaming mode
          name: stream
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidatePoolGraphQlWrapperDto'
    post:
      tags:
        - Candidate Pools
      summary: Method to create a new, shared Candidate Pool
      operationId: CandidatePools_createNewShared
      security:
        - username: []
        - password: []
        - apiKey: []
      description: >-
        This method allows the user to create a new Shared pool. 

        Please note, that the Pool needs to be assigned to a specific Department
        of the company so that users of this department could view the contents
        of it. 
      requestBody:
        $ref: '#/components/requestBodies/CandidatePoolCreationDto'
      responses:
        '201':
          description: Candidate Pool was successfully created
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: >-
            User has no right Can Manage Candidate Pools via Rest API (1019) for
            the given department
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /candidatepool/{poolId}:
    put:
      tags:
        - Candidate Pools
      summary: allows to update or delete existing pool
      operationId: CandidatePools_updateExistingPool
      security:
        - username: []
        - password: []
        - apiKey: []
      description: |-
        This method allows the user to update or delete existing pool. 
        User needs to provide the ID  of the Pool he wish to modify. 
      parameters:
        - description: candidatepool id
          name: poolId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: '#/components/requestBodies/CandidatePoolCreationDto'
      responses:
        '204':
          description: Candidate Pool was successfully updated
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: >-
            User has no right Can Manage Candidate Pools via Rest API (1019) for
            the given department
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Candidate Pool not found
  /contract:
    get:
      tags:
        - Contract API
      summary: List of contracts
      operationId: ContractApi_listContracts
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: Returns a list of contracts. DTO structure depends on a GraphQL query.
      parameters:
        - description: >-
            This is a GraphQL query parameter. You can find more about GraphlQL
            [here](https://graphql.org/learn/ "Go to the GraphQL official
            documentation").
          name: query
          in: query
          required: true
          schema:
            type: string
            default: >-
              { contracts(first: 10, after: 0, sortBy: id, orderBy: ASC, where:
              {id_gt: 0}) { id } }
        - description: Enables streaming mode
          name: stream
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractGraphQlWrapperDto'
    post:
      tags:
        - Contract API
      summary: Creates a new contract
      operationId: ContractApi_createNewContract
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method allows to create a contract for the candidate. Contract
        contents are separately configured in Talentlink.Therefore before you
        create a contract you may want to use below methods to fetch the
        configuration first: </br>Method:
        GET/department/{departmentId}/contractorcontract/config - Fetch
        configuration of the Temporary contract </br>Method:
        GET/department/{departmentId}/permanentcontract/config - Fetch
        configuration of the Permanent contract</p><p>Please also note that each
        position has a defined Selection Process assigned. So for the contract
        to be created via API all of the restrictions of Selection Process need
        to be fulfilled first (all the necessary steps need to be closed).
        Otherwise it will be impossible to create the contract</p><p>Optionally
        there can be a dedicated Selection Process created where there are no
        restrictions before hiring. In both cases however please be aware that
        the PreScreening step is always mandatory in Talentlink.</p><p>It is
        possible to close the PreScreening step using the dedicated method in
        Selection Process
        API:<br>PUT/selection-process/application/{applicationId}/completePrescreening</p>
      requestBody:
        $ref: '#/components/requestBodies/BasicContractDto'
      responses:
        '201':
          description: Contract successfully created
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '409':
          description: Contract for given application already exists
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '412':
          description: Contract for given application cannot be created
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /contract/rateset:
    get:
      tags:
        - Contract API
      summary: List of rate formula set
      operationId: ContractApi_listRateSets
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        Returns a list of rate formula set. DTO structure depends on a GraphQL
        query.
      parameters:
        - description: >-
            This is a GraphQL query parameter. You can find more about GraphlQL
            [here](https://graphql.org/learn/ "Go to the GraphQL official
            documentation").
          name: query
          in: query
          required: true
          schema:
            type: string
            default: >-
              { ratesFormulas(first: 10, after: 0, sortBy: id, orderBy: ASC,
              where: {id_gt: 0}) { id } }
        - description: Enables streaming mode
          name: stream
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateFormulaSetGraphQlWrapperDto'
  /contract/{contractId}:
    delete:
      tags:
        - Contract API
      summary: Delete a Contract Extension
      operationId: ContractApi_deleteContractExtension
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method allows to delete an accepted Extension of the existing
        contract. To delete it you need to provide the ID of the accepted
        contract extension which is to be deleted.</p>
      parameters:
        - description: Id of the contract's extension to delete
          name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Contract extension successfully deleted
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Contract with given id does not exist
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /contract/{contractId}/extension:
    post:
      tags:
        - Contract API
      summary: Create a new Contract Extension
      operationId: ContractApi_createExtension
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method allows to create an Extension of the existing temporary
        contract. To create it you need to provide the ID of the contract which
        is to be extended.</p><p>NOTE: Extension start / end dates should not
        overlap with already existing contacts or extensions.</p>
      parameters:
        - description: Id of the contract's current version
          name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: '#/components/requestBodies/BasicContractDto'
      responses:
        '201':
          description: Contract successfully created
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Contract with given id does not exist
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '412':
          description: Contract for given application cannot be extended
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
    patch:
      tags:
        - Contract API
      summary: >-
        Create a new Contract Extension based on contract values, using PATCH
        logic (provide only elements that are changing)
      operationId: ContractApi_createExtension
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method allows to create an Extension of the existing temporary
        contract. To create it you need to provide the ID of the contract which
        is to be extended.</p><p>NOTE: Extension start / end dates should not
        overlap with already existing contacts or extensions.</br>If you wish to
        delete a value you need to use POST method.</p>
      parameters:
        - description: Id of the contract's current version
          name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: '#/components/requestBodies/BasicContractDto'
      responses:
        '201':
          description: Contract successfully created
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Contract with given id does not exist
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '412':
          description: Contract for given application cannot be extended
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /contract/{contractId}/update:
    post:
      tags:
        - Contract API
      summary: >-
        Update existing contract (creates new contract version) - entire
        structure is required
      operationId: ContractApi_updateContractEntireStructure
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method allows to update the existing extension using POST
        logic.</p><p>It means that you need to provide all contract details even
        for the fields you do not wish to change. Therefore it is advised to
        call GET/contract first and cache the information and only then use the
        POST method.</p><p>This type of update is faster in terms of response as
        the system does not need to cache any data.</p><p>Please note:  if you
        use an empty tag in this method it means you wish to set it to  "null"
        value.</p>
      parameters:
        - description: Id of the contract's current version
          name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: '#/components/requestBodies/BasicContractDto'
      responses:
        '201':
          description: Contract successfully updated
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Contract with given id does not exist
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '409':
          description: Contract for given id is not the current version
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '412':
          description: Contract for given application cannot be updated
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
    patch:
      tags:
        - Contract API
      summary: >-
        Update contract using PATCH logic (provide only elements that are
        changing)
      operationId: ContractApi_updateContractUsingPatch
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method allows to update the existing contract using PATCH logic.
        It means that you do not need to provide all contract details (like when
        using POST). Instead you can only use the elements which you wish to
        update. All other unused tags will be copied from the previous contract
        and remain unchanged.</p><p>Please note:  if you wish to delete a value
        you need to use POST method</p>
      parameters:
        - description: Id of the contract's current version
          name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: '#/components/requestBodies/BasicContractDto'
      responses:
        '201':
          description: Contract successfully updated
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Contract with given id does not exist
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '409':
          description: Contract for given id is not the current version
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '412':
          description: Contract for given application cannot be updated
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /contract/{extensionId}/extension/update:
    post:
      tags:
        - Contract API
      summary: >-
        Update existing extension (creates new extension version) - entire
        structure is required
      operationId: ContractApi_updateExtension
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>This method allows to update the existing extension using POST
        logic.</p><p>It means that you need to provide all contract details even
        for the fields you do not wish to change. Therefore it is advised to
        call GET/contract first and cache the information and only then use the
        POST method.</p><p>This type of update is faster in terms of response as
        the system does not need to cache any data.</p><p>Please note:  if you
        use an empty tag in this method it means you wish to set it to  "null"
        value.</p>
      parameters:
        - description: Id of the contract's extension
          name: extensionId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: '#/components/requestBodies/BasicContractDto'
      responses:
        '201':
          description: Contract successfully created
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Contract with given id does not exist
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '412':
          description: Contract for given application cannot be extended
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
    patch:
      tags:
        - Contract API
      summary: >-
        Update extension using PATCH logic (provide only elements that are
        changing)
      operationId: ContractApi_updateExtensionUsingPatch
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>Details: This method allows to update the existing extension using
        PATCH logic. It means that you do not need to provide all contract
        details (like when using POST). Instead you can only use the elements
        which you wish to update. All other unused tags will be copied from the
        previous contract and remain unchanged.</p><p>Please note:  if you wish
        to delete a value you need to use POST method</p>
      parameters:
        - description: Id of the contract's extension
          name: extensionId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: '#/components/requestBodies/BasicContractDto'
      responses:
        '201':
          description: Contract successfully created
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Contract with given id does not exist
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '412':
          description: Contract for given application cannot be extended
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /department:
    get:
      tags:
        - Department API
      summary: List of departments
      operationId: DepartmentApi_getList
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: Returns a list of departments. DTO structure depends on a GraphQL query.
      parameters:
        - description: >-
            This is a GraphQL query parameter. You can find more about GraphlQL
            [here](https://graphql.org/learn/ "Go to the GraphQL official
            documentation").
          name: query
          in: query
          required: true
          schema:
            type: string
            default: >-
              { departments(first: 10, after: 0, sortBy: id, orderBy: ASC,
              where: {id_gt: 0}) { id } }
        - description: Enables streaming mode
          name: stream
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentGraphQlWrapperDto'
    post:
      tags:
        - Department API
      summary: Creates a new department
      operationId: DepartmentApi_createNewDepartment
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      requestBody:
        $ref: '#/components/requestBodies/BasicDepartmentDto'
      responses:
        '201':
          description: Department successfully created
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /department/{departmentId}:
    put:
      tags:
        - Department API
      summary: Updates an existing department
      operationId: DepartmentApi_updateDepartment
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: department id to be updated
          name: departmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: '#/components/requestBodies/BasicDepartmentDto'
      responses:
        '201':
          description: Department successfully updated
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Department with a given id does not exists
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
    delete:
      tags:
        - Department API
      summary: Deletes a department with the given id
      operationId: DepartmentApi_deleteDepartmentById
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: department id to be deleted
          name: departmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No content
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Entity not found
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /department/{departmentId}/activate:
    put:
      tags:
        - Department API
      summary: Activates a department with the given id
      operationId: DepartmentApi_activateDepartmentById
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: department to be activated with a given id
          name: departmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No content
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Entity not found
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /department/{departmentId}/contractorcontract/config:
    get:
      tags:
        - Contract API
      summary: Fetch configuration of the Temporary contract
      operationId: ContractApi_getTemporaryContractConfig
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: >-
        <p>Contract content is separately configured in Talentlink. This method
        allows to fetch the list of fields for Temporary contracts.</p>
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: userType
          name: userType
          in: query
          required: true
          schema:
            type: string
            enum:
              - ADVANCED
              - MSS
              - CANDIDATE
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferTermsDto'
  /department/{departmentId}/deactivate:
    put:
      tags:
        - Department API
      summary: Deactivates a department with the given id
      operationId: DepartmentApi_deactivateDepartment
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: department to be deactivated with a given id
          name: departmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No content
        '400':
          description: Invalid parameters provided
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '401':
          description: User does not have the right
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
        '404':
          description: Entity not found
          headers:
            X-Request-Error:
              description: The detailed error message description
              schema:
                type: string
  /department/{departmentId}/job-template/config:
    get:
      tags:
        - Personal job template API
      summary: Fetch Job template configuration for a given Department.
      operationId: PersonalJobTemplateApi_getConfiguration
      security:
        - username: []
        - password: []
        - apiKey: []
        - access-token: []
      description: ''
      parameters:
        - description: Department id
          name: departmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Recruitment context
[...]
