openapi: 3.0.3
info:
  title: Invoices
  description: >-
    Use the Invoicing API to create, send, and manage invoices. You can also use
    the API or webhooks to track invoice payments. When you send an invoice to a
    customer, the invoice moves from draft to payable state. PayPal then emails
    the customer a link to the invoice on the PayPal website. Customers with a
    PayPal account can log in and pay the invoice with PayPal. Alternatively,
    customers can pay as a guest with a debit card or credit card. For more
    information, see the <a href="/docs/invoicing/">Invoicing Overview</a> and
    the <a href="/docs/invoicing/basic-integration/">Invoicing Integration
    Guide</a>.
  version: '2.3'
  contact: {}
servers:
  - description: PayPal Sandbox Environment
    url: https://api-m.sandbox.paypal.com
  - description: PayPal Live Environment
    url: https://api-m.paypal.com
tags:
  - description: >-
      Use the `/invoices` resource to create, update, and send invoices and
      invoice reminders. To manage invoices, you can also list invoices, show
      details for invoices, delete draft invoices, and cancel sent invoices. You
      can also record payments for invoices to mark them as fully or partially
      paid, or record refunds for invoices to mark them as fully or partially
      refunded. You can create QR codes for invoices that can be scanned,
      viewed, and paid by a mobile phone.
    name: invoices
  - description: >-
      Use the `/templates` resource to create, list, show details for, update,
      and delete invoice templates. Use the `/templates` resource when you
      create a third-party invoicing application. For instance, a business can
      create a template with predefined invoice data. Later, the business can
      select the template to populate the invoice
      data.<blockquote><strong>Note:</strong> To upload a logo to display on an
      invoice, you can use the <strong>Template Settings</strong> dashboard to
      <a href="https://www.paypal.com/invoice/settings/templates">create a
      template</a>. When you create an invoice, you can use the URI for that
      logo.</blockquote>
    name: templates
  - description: >-
      Use the `/search-invoices` resource to search for and list invoices that
      match search criteria.
    name: search-invoices
  - description: >-
      Use the `/merchant-config` resource to create, update and show details of
      merchant configuration.
    name: merchant-config
paths:
  /v2/invoicing/invoices:
    post:
      tags:
        - invoices
      summary: Create draft invoice
      operationId: Invoices_createDraftInvoice
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Creates a draft invoice. To move the invoice from a draft to payable
        state, you must <a href="#invoices_send">send the
        invoice</a>.<br/><br/>In the JSON request body, include invoice details
        including merchant information. The <code>invoice</code> object must
        include an <code>items</code> array.<blockquote><strong>Note:</strong>
        The merchant that you specify in an invoice must have a PayPal account
        in good standing.</blockquote>.
      requestBody:
        description: >-
          The invoice details which includes all information of the invoice like
          items, billing information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/invoice'
            examples:
              '0':
                $ref: '#/components/examples/invoice_draft'
        required: true
      responses:
        '201':
          description: >-
            A successful request returns the HTTP `201 Created` status code. A
            JSON response body that shows invoice details is returned if you set
            <code>prefer=return=representation</code>.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
              examples:
                '0':
                  $ref: '#/components/examples/invoice'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoice'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesCreateDraftInvoiceResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesCreateDraftInvoice400Response'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_403'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesCreateDraftInvoice422Response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesCreateDraftInvoice422Response'
        default:
          $ref: '#/components/responses/default'
    get:
      tags:
        - invoices
      summary: List invoices
      operationId: Invoices_getInvoices
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/read
      description: >-
        Lists invoices. To filter the invoices that appear in the response, you
        can specify one or more optional query parameters.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/total_required'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 OK` status code and a
            JSON response body that lists invoices with details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetInvoicesResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesGetInvoices400Response'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_403'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/invoices/{invoice_id}/send:
    post:
      tags:
        - invoices
      summary: Send invoice
      operationId: Invoices_sendInvoice
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Sends or schedules an invoice, by ID, to be sent to a customer. The
        action depends on the invoice issue date:<ul><li>If the invoice issue
        date is current or in the past, sends the invoice
        immediately.</li><li>If the invoice issue date is in the future,
        schedules the invoice to be sent on that date.</li></ul>To suppress the
        merchant's email notification, set the `send_to_invoicer` body parameter
        to `false`. To send the invoice through a share link and not through
        PayPal, set the <code>send_to_recipient</code> parameter to
        <code>false</code> in the <code>notification</code> object. The
        <code>send_to_recipient</code> parameter does not apply to a future
        issue date because the invoice is scheduled to be sent through PayPal on
        that date.<blockquote><strong>Notes:</strong><ul><li>After you send an
        invoice, resending it has no effect.</li><li>To send a notification for
        updates, <a href="#invoices_update">update the invoice</a> and set the
        <code>send_to_recipient</code> body parameter to
        <code>true</code>.</li></ul></blockquote>
      parameters:
        - $ref: '#/components/parameters/invoice_id'
      requestBody:
        description: >-
          The email or SMS notification to send to the payer when they send an
          invoice..
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notification'
            examples:
              '0':
                $ref: '#/components/examples/notification_invoice'
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 OK` when the invoice
            issue date is current date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/link_description'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/link_description'
        '202':
          description: >-
            A successful request returns the HTTP `202 Accepted` status code
            with no JSON response body, when the invoice issue date is in
            future.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/202-response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/202-response'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_400'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_422'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_422'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/invoices/{invoice_id}/remind:
    post:
      tags:
        - invoices
      summary: Send invoice reminder
      operationId: Invoices_sendReminder
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Sends a reminder to the payer about an invoice, by ID. In the JSON
        request body, include a `notification` object that defines the subject
        of the reminder and other details.
      parameters:
        - $ref: '#/components/parameters/invoice_id'
      requestBody:
        description: >-
          The email or SMS notification that will be sent to the payer for
          reminder.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notification'
            examples:
              '0':
                $ref: '#/components/examples/notification_reminder'
      responses:
        '204':
          description: >-
            A successful request returns the HTTP `204 No Content` status code
            with no JSON response body.
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesSendReminderResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesSendReminder400Response'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesSendReminder403Response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesSendReminder403Response'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesSendReminder422Response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesSendReminder422Response'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/invoices/{invoice_id}/cancel:
    post:
      tags:
        - invoices
      summary: Cancel sent invoice
      operationId: Invoices_cancelSentInvoice
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Cancels a sent invoice, by ID, and, optionally, sends a notification
        about the cancellation to the payer, merchant, and CC: emails.
      parameters:
        - $ref: '#/components/parameters/invoice_id'
      requestBody:
        description: >-
          The email or SMS notification that will be sent to the payer on
          cancellation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notification'
            examples:
              '0':
                $ref: '#/components/examples/notification_invoice_cancel'
        required: true
      responses:
        '204':
          description: >-
            A successful request returns the HTTP `204 No Content` status code
            with no JSON response body.
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesCancelSentInvoiceResponse'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesCancelSentInvoice403Response'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesCancelSentInvoice422Response'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/invoices/{invoice_id}/payments:
    post:
      tags:
        - invoices
      summary: Record payment for invoice
      operationId: Invoices_recordPayment
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Records a payment for the invoice. If no payment is due, the invoice is
        marked as `PAID`. Otherwise, the invoice is marked as `PARTIALLY PAID`.
      parameters:
        - $ref: '#/components/parameters/invoice_id'
      requestBody:
        description: The details of the payment to record against the invoice.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_detail'
            examples:
              '0':
                $ref: '#/components/examples/payment_detail'
        required: true
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 Created` status code and
            a reference to the recorded payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_reference'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/payment_reference'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRecordPaymentResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesRecordPayment400Response'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRecordPayment403Response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesRecordPayment403Response'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRecordPayment422Response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesRecordPayment422Response'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/invoices/{invoice_id}/payments/{transaction_id}:
    delete:
      tags:
        - invoices
      summary: Delete external payment
      operationId: Invoices_deleteExternalPayment
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: Deletes an external payment, by invoice ID and transaction ID.
      parameters:
        - $ref: '#/components/parameters/invoice_id'
        - $ref: '#/components/parameters/transaction_id'
      responses:
        '204':
          description: >-
            A successful request returns the HTTP `204 No Content` status code
            with no JSON response body.
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesDeleteExternalPaymentResponse'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesDeleteExternalPayment422Response'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/invoices/{invoice_id}/refunds:
    post:
      tags:
        - invoices
      summary: Record refund for invoice
      operationId: Invoices_recordRefund
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Records a refund for the invoice. If all payments are refunded, the
        invoice is marked as `REFUNDED`. Otherwise, the invoice is marked as
        `PARTIALLY REFUNDED`.
      parameters:
        - $ref: '#/components/parameters/invoice_id'
      requestBody:
        description: The details of the refund to record against the invoice.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refund_detail'
            examples:
              '0':
                $ref: '#/components/examples/refund_detail'
        required: true
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 Created` status code and
            a reference to the recorded refund.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refund_reference'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/refund_reference'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRecordRefundResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesRecordRefund400Response'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRecordRefund403Response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesRecordRefund403Response'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRecordRefund422Response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesRecordRefund422Response'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/invoices/{invoice_id}/refunds/{transaction_id}:
    delete:
      tags:
        - invoices
      summary: Delete external refund
      operationId: Invoices_deleteExternalRefund
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: Deletes an external refund, by invoice ID and transaction ID.
      parameters:
        - $ref: '#/components/parameters/invoice_id'
        - $ref: '#/components/parameters/transaction_id'
      responses:
        '204':
          description: >-
            A successful request returns the HTTP `204 No Content` status code
            with no JSON response body.
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesDeleteExternalRefundResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesDeleteExternalRefund403Response'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/invoices/{invoice_id}/generate-qr-code:
    post:
      tags:
        - invoices
      summary: Generate QR code
      operationId: Invoices_generateQrCode
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Generates a QR code for an invoice, by ID. The QR code is a PNG image in
        <a href="https://www.base64encode.org/">Base64-encoded</a> format that
        corresponds to the invoice ID. You can generate a QR code for an invoice
        and add it to a paper or PDF invoice. When customers use their mobile
        devices to scan the QR code, they are redirected to the PayPal mobile
        payment flow where they can view the invoice and pay online with PayPal
        or a credit card. Before you get a QR code, you must <a
        href="#invoices_create">create an invoice</a> and <a
        href="#invoices_send">send an invoice</a> to move the invoice from a
        draft to payable state. Do not include an email address if you do not
        want the invoice emailed.
      parameters:
        - $ref: '#/components/parameters/invoice_id'
      requestBody:
        description: >-
          Optional configuration parameters to adjust QR code width, height and
          the encoded URL.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/qr_config'
            examples:
              '0':
                $ref: '#/components/examples/qr_config'
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 OK` status code and a
            JSON response body that shows the QR code as a PNG image.
        '400':
          description: Invalid request.
          content:
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesGenerateQrCodeResponse'
        '403':
          description: Authorization Error.
          content:
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesGenerateQrCode403Response'
        '404':
          description: Resource Not Found.
          content:
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/generate-next-invoice-number:
    post:
      tags:
        - invoices
      summary: Generate invoice number
      operationId: Invoices_generateNextInvoiceNumber
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Generates the next invoice number that is available to the merchant. The
        next invoice number uses the prefix and suffix from the last invoice
        number and increments the number by one. For example, the next invoice
        number after `INVOICE-1234` is `INVOICE-1235`.
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 OK` status code and a
            JSON response body that shows the next invoice number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice_number'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/invoices/{invoice_id}:
    get:
      tags:
        - invoices
      summary: Show invoice details
      operationId: Invoices_getDetails
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/read
      description: Shows details for an invoice, by ID.
      parameters:
        - $ref: '#/components/parameters/invoice_id'
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 OK` status code and a
            JSON response body that shows invoice details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetDetailsResponse'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_422'
        default:
          $ref: '#/components/responses/default'
    put:
      tags:
        - invoices
      summary: Fully update invoice
      operationId: Invoices_updateFullInvoice
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Fully updates an invoice, by ID. In the JSON request body, include a
        complete `invoice` object. This call does not support partial updates.
      parameters:
        - $ref: '#/components/parameters/invoice_id'
        - $ref: '#/components/parameters/send_to_recipient'
        - $ref: '#/components/parameters/send_to_invoicer'
      requestBody:
        description: A representation of changes to make in the invoice.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/invoice'
        required: true
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 OK` status code. A JSON
            response body that shows invoice details is returned if you set
            <code>prefer=return=representation</code>.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoice'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesUpdateFullInvoiceResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesUpdateFullInvoice400Response'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesUpdateFullInvoice403Response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesUpdateFullInvoice403Response'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesUpdateFullInvoice422Response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/InvoicesUpdateFullInvoice422Response'
        default:
          $ref: '#/components/responses/default'
    delete:
      tags:
        - invoices
      summary: Delete invoice
      operationId: Invoices_deleteDraftOrScheduledInvoice
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Deletes a draft or scheduled invoice, by ID. Deletes invoices in the
        draft or scheduled state only. For invoices that have already been sent,
        you can <a href="/docs/api/invoicing/v2/#invoices_cancel">cancel the
        invoice</a>. After you delete a draft or scheduled invoice, you can no
        longer use it or show its details. However, you can reuse its invoice
        number.
      parameters:
        - $ref: '#/components/parameters/invoice_id'
      responses:
        '204':
          description: >-
            A successful request returns the HTTP `204 No Content` status code
            with no JSON response body.
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InvoicesDeleteDraftOrScheduledInvoiceResponse
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/search-invoices:
    post:
      tags:
        - search-invoices
      summary: Search for invoices
      operationId: Searchinvoices_list
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/read
      description: >-
        Searches for and lists invoices that match search criteria. If you pass
        multiple criteria, the response lists invoices that match all criteria.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_size'
        - $ref: '#/components/parameters/total_required'
      requestBody:
        description: >-
          The invoice search can be used to retrieve the invoices based on the
          search parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/search_data'
            examples:
              '0':
                $ref: '#/components/examples/search_data'
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 OK` status code and a
            JSON response body that lists the invoices that match the search
            criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchinvoicesListResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/SearchinvoicesList400Response'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_403'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/templates:
    get:
      tags:
        - templates
      summary: List templates
      operationId: Templates_listDetails
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/read
      description: >-
        Lists merchant-created templates with associated details. The associated
        details include the emails, addresses, and phone numbers from the user's
        PayPal profile.<br/>The user can select which values to show in the
        business information section of their template.
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 OK` status code and a
            JSON response body that lists invoices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/templates'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesListDetailsResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/TemplatesListDetails400Response'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_403'
        default:
          $ref: '#/components/responses/default'
    post:
      tags:
        - templates
      summary: Create template
      operationId: Templates_createTemplate
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Creates an invoice template. You can use details from this template to
        create an invoice. You can create up to 50
        templates.<blockquote><strong>Note:</strong> Every merchant starts with
        three PayPal system templates that are optimized for the unit type
        billed. The template includes `Quantity`, `Hours`, and
        `Amount`.</blockquote>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template'
        required: true
      responses:
        '201':
          description: >-
            A successful request returns the HTTP `201 Created` status code. A
            JSON response body that shows template details is returned if you
            set <code>prefer=return=representation</code>.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/template'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesCreateTemplateResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/TemplatesCreateTemplate400Response'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesCreateTemplate422Response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/TemplatesCreateTemplate422Response'
        default:
          $ref: '#/components/responses/default'
  /v2/invoicing/templates/{template_id}:
    get:
      tags:
        - templates
      summary: Show template details
      operationId: Templates_showDetailsById
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/read
      description: Shows details for a template, by ID.
      parameters:
        - $ref: '#/components/parameters/template_id'
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 OK` status code and a
            JSON response body that shows template details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template'
              examples:
                '0':
                  $ref: '#/components/examples/template'
                '1':
                  $ref: '#/components/examples/template_1'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/template'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesShowDetailsByIdResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/TemplatesShowDetailsById403Response'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
        default:
          $ref: '#/components/responses/default'
    put:
      tags:
        - templates
      summary: Fully update template
      operationId: Templates_updateFullTemplate
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: >-
        Fully updates a template, by ID. In the JSON request body, include a
        complete `template` object. This call does not support partial updates.
      parameters:
        - $ref: '#/components/parameters/template_id'
      requestBody:
        description: A representation of changes to make in the template.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template'
        required: true
      responses:
        '200':
          description: >-
            A successful request returns the HTTP `200 OK` status code. A JSON
            response body that shows template details is returned if you set
            <code>prefer=return=representation</code>.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesUpdateFullTemplateResponse'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesUpdateFullTemplate403Response'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesUpdateFullTemplate422Response'
        default:
          $ref: '#/components/responses/default'
    delete:
      tags:
        - templates
      summary: Delete template
      operationId: Templates_deleteById
      security:
        - Oauth2:
            - https://uri.paypal.com/services/invoicing/invoices/readwrite
      description: Deletes a template, by ID.
      parameters:
        - $ref: '#/components/parameters/template_id'
      responses:
        '204':
          description: >-
            A successful request returns the HTTP `204 No Content` status code
            with no JSON response body.
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_400'
        '403':
          description: Authorization Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesDeleteByIdResponse'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/TemplatesDeleteById403Response'
        '404':
          description: Resource Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
        '422':
          description: Unprocessable Entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_422'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_422'
        default:
          $ref: '#/components/responses/default'
components:
  parameters:
    page:
      description: >-
        The page number to be retrieved, for the list of templates. So, a
        combination of `page=1` and `page_size=20` returns the first 20
        templates. A combination of `page=2` and `page_size=20` returns the next
        20 templates.
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 1
    page_size:
      description: The maximum number of templates to return in the response.
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    total_required:
      description: >-
        Indicates whether the to show <code>total_pages</code> and
        <code>total_items</code> in the response.
      name: total_required
      in: query
      schema:
        type: boolean
        default: false
    fields:
      description: >-
        The fields to return in the response. Value is `all` or `none`. To
        return only the template name, ID, and default attributes, specify
        `none`.
      name: fields
      in: query
      schema:
        type: string
        pattern: (?i)^(all|none)$
        default: all
    invoice_id:
      description: The ID of the draft invoice to delete.
      name: invoice_id
      in: path
      required: true
      schema:
        type: string
    transaction_id:
      description: The ID of the external refund transaction to delete.
      name: transaction_id
      in: path
      required: true
      schema:
        type: string
    send_to_recipient:
      description: >-
        Indicates whether to send the invoice update notification to the
        recipient.
      name: send_to_recipient
      in: query
      schema:
        type: boolean
        default: true
    send_to_invoicer:
      description: >-
        Indicates whether to send the invoice update notification to the
        merchant.
      name: send_to_invoicer
      in: query
      schema:
        type: boolean
        default: true
    template_id:
      description: The ID of the template to delete.
      name: template_id
      in: path
      required: true
      schema:
        type: string
  responses:
    default:
      description: The default response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_default'
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 authentication
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth2/token
          scopes:
            https://uri.paypal.com/services/invoicing/invoices/read: For Reading the invoice details.
            https://uri.paypal.com/services/invoicing/invoices/readwrite: For managing (Create, Update, Delete) invoice.
            https://uri.paypal.com/services/invoicing/internal: Manage invoice resource internal clients.
  schemas:
    '400':
      properties:
        details:
          type: array
          items:
            anyOf:
              - title: INVALID_INTEGER_MAX_VALUE
                properties:
                  description:
                    type: string
                    enum:
                      - Value exceeds max value.
                  issue:
                    type: string
                    enum:
                      - INVALID_INTEGER_MAX_VALUE
              - title: INVALID_INTEGER_MIN_VALUE
                properties:
                  description:
                    type: string
                    enum:
                      - Value less than minimum value.
                  issue:
                    type: string
                    enum:
                      - INVALID_INTEGER_MIN_VALUE
    '403':
      properties:
        details:
          type: array
          items:
            anyOf:
              - title: PERMISSION_DENIED
                properties:
                  description:
                    type: string
                    enum:
                      - >-
                        The requested invoice is not associated with the
                        requested user.
                  issue:
                    type: string
                    enum:
                      - PERMISSION_DENIED
    '422':
      properties:
        details:
          type: array
          items:
            anyOf:
              - title: USER_NOT_FOUND
                properties:
                  description:
                    type: string
                    enum:
                      - >-
                        User is not associated with paypal based on invoicer
                        email.
                  issue:
                    type: string
                    enum:
                      - USER_NOT_FOUND
    error_details:
      title: Error Details
      description: The error details. Required for client-side `4XX` errors.
      type: object
      properties:
        description:
          description: >-
            The human-readable description for an issue. The description can
            change over the lifetime of an API, so clients must not depend on
            this value.
          type: string
        field:
          description: >-
            The field that caused the error. If this field is in the body, set
            this value to the field's JSON pointer value. Required for
            client-side errors.
          type: string
        value:
          description: The value of the field that caused the error.
          type: string
        location:
          description: >-
            The location of the field that caused the error. Value is `body`,
            `path`, or `query`.
          type: string
          default: body
        issue:
          description: The unique, fine-grained application-level error code.
          type: string
      required:
        - issue
    error_default:
      description: The default error response.
      oneOf:
        - $ref: '#/components/schemas/error_400'
        - $ref: '#/components/schemas/error_401'
        - $ref: '#/components/schemas/error_403'
        - $ref: '#/components/schemas/error_404'
        - $ref: '#/components/schemas/error_409'
        - $ref: '#/components/schemas/error_415'
        - $ref: '#/components/schemas/error_422'
        - $ref: '#/components/schemas/error_500'
        - $ref: '#/components/schemas/error_503'
    error_link_description:
      title: Link Description
      description: >-
        The request-related [HATEOAS link](/api/rest/responses/#hateoas-links)
        information.
      type: object
      required:
        - href
        - rel
      properties:
        href:
          description: >-
            The complete target URL. To make the related call, combine the
            method with this [URI
            Template-formatted](https://tools.ietf.org/html/rfc6570) link. For
            pre-processing, include the `$`, `(`, and `)` characters. The `href`
            is the key HATEOAS component that links a completed call with a
            subsequent call.
          type: string
          minLength: 0
          maxLength: 20000
          pattern: ^.*$
        rel:
          description: >-
            The [link relation
            type](https://tools.ietf.org/html/rfc5988#section-4), which serves
            as an ID for a link that unambiguously describes the semantics of
            the link. See [Link
            Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml).
          type: string
          minLength: 0
          maxLength: 100
          pattern: ^.*$
        method:
          description: The HTTP method required to make the related call.
          type: string
          minLength: 3
          maxLength: 7
          pattern: ^[A-Z]*$
          enum:
            - CONNECT
            - DELETE
            - GET
            - HEAD
            - OPTIONS
            - PATCH
            - POST
            - PUT
    error_400:
      title: Bad Request Error
      description: Request is not well-formed, syntactically incorrect, or violates schema.
      type: object
      properties:
        name:
          type: string
          enum:
            - INVALID_REQUEST
        message:
          type: string
          enum:
            - >-
              Request is not well-formed, syntactically incorrect, or violates
              schema.
        details:
          type: array
          items:
            $ref: '#/components/schemas/error_details'
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: >-
            An array of request-related [HATEOAS
            links](https://en.wikipedia.org/wiki/HATEOAS).
          type: array
          minItems: 0
          maxItems: 10000
          items:
            $ref: '#/components/schemas/error_link_description'
    error_401:
      title: Unauthorized Error
      description: >-
        Authentication failed due to missing Authorization header, or invalid
        authentication credentials.
      type: object
      properties:
        name:
          type: string
          enum:
            - AUTHENTICATION_FAILURE
        message:
          type: string
          enum:
            - >-
              Authentication failed due to missing authorization header, or
              invalid authentication credentials.
        details:
          type: array
          items:
            $ref: '#/components/schemas/error_details'
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: >-
            An array of request-related [HATEOAS
            links](https://en.wikipedia.org/wiki/HATEOAS).
          type: array
          minItems: 0
          maxItems: 10000
          items:
            $ref: '#/components/schemas/error_link_description'
    error_403:
      title: Not Authorized Error
      description: >-
        The client is not authorized to access this resource, although it may
        have valid credentials. 
      type: object
      properties:
        name:
          type: string
          enum:
            - NOT_AUTHORIZED
        message:
          type: string
          enum:
            - Authorization failed due to insufficient permissions.
        details:
          type: array
          items:
            $ref: '#/components/schemas/error_details'
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: >-
            An array of request-related [HATEOAS
            links](https://en.wikipedia.org/wiki/HATEOAS).
          type: array
          minItems: 0
          maxItems: 10000
          items:
            $ref: '#/components/schemas/error_link_description'
    error_404:
      title: Not found Error
      description: >-
        The server has not found anything matching the request URI. This either
        means that the URI is incorrect or the resource is not available.
      type: object
      properties:
        name:
          type: string
          enum:
            - RESOURCE_NOT_FOUND
        message:
          type: string
          enum:
            - The specified resource does not exist.
        details:
          type: array
          items:
            $ref: '#/components/schemas/error_details'
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: >-
            An array of request-related [HATEOAS
            links](https://en.wikipedia.org/wiki/HATEOAS).
          type: array
          minItems: 0
          maxItems: 10000
          items:
            $ref: '#/components/schemas/error_link_description'
    error_409:
      title: Resource Conflict Error
      description: The server has detected a conflict while processing this request.
      type: object
      properties:
        name:
          type: string
          enum:
            - RESOURCE_CONFLICT
        message:
          type: string
          enum:
            - The server has detected a conflict while processing this request.
        details:
          type: array
          items:
            $ref: '#/components/schemas/error_details'
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: >-
            An array of request-related [HATEOAS
            links](https://en.wikipedia.org/wiki/HATEOAS).
          type: array
          minItems: 0
          maxItems: 10000
          items:
            $ref: '#/components/schemas/error_link_description'
    error_415:
      title: Unsupported Media Type Error
      description: The server does not support the request payload's media type.
      type: object
      properties:
        name:
          type: string
          enum:
            - UNSUPPORTED_MEDIA_TYPE
        message:
          type: string
          enum:
            - The server does not support the request payload's media type.
        details:
          type: array
          items:
            $ref: '#/components/schemas/error_details'
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: >-
            An array of request-related [HATEOAS
            links](https://en.wikipedia.org/wiki/HATEOAS).
          type: array
          minItems: 0
          maxItems: 10000
          items:
            $ref: '#/components/schemas/error_link_description'
    error_422:
      title: Unprocessable Entity Error
      description: >-
        The requested action cannot be performed and may require interaction
        with APIs or processes outside of the current request. This is distinct
        from a 500 response in that there are no systemic problems limiting the
        API from performing the request.
      type: object
      properties:
        name:
          type: string
          enum:
            - UNPROCESSABLE_ENTITY
        message:
          type: string
          enum:
            - >-
              The requested action could not be performed, semantically
              incorrect, or failed business validation.
        details:
          type: array
          items:
            $ref: '#/components/schemas/error_details'
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: >-
            An array of request-related [HATEOAS
            links](https://en.wikipedia.org/wiki/HATEOAS).
          type: array
          minItems: 0
          maxItems: 10000
          items:
            $ref: '#/components/schemas/error_link_description'
    error_500:
      title: Internal Server Error
      description: >-
        This is either a system or application error, and generally indicates
        that although the client appeared to provide a correct request,
        something unexpected has gone wrong on the server.
      type: object
      properties:
        name:
          type: string
          enum:
            - INTERNAL_SERVER_ERROR
        message:
          type: string
          enum:
            - An internal server error occurred.
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: >-
            An array of request-related [HATEOAS
            links](https://en.wikipedia.org/wiki/HATEOAS).
          type: array
          minItems: 0
          maxItems: 10000
          items:
            $ref: '#/components/schemas/error_link_description'
      example:
        name: INTERNAL_SERVER_ERROR
        message: An internal server error occurred.
        debug_id: 90957fca61718
        links:
          - href: >-
              https://developer.paypal.com/api/orders/v2/#error-INTERNAL_SERVER_ERROR
            rel: information_link
    error_503:
      title: Service Unavailable Error
      description: >-
        The server is temporarily unable to handle the request, for example,
        because of planned maintenance or downtime.
      type: object
      properties:
        name:
          type: string
          enum:
            - SERVICE_UNAVAILABLE
        message:
          type: string
          enum:
            - Service Unavailable.
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        links:
          description: >-
            An array of request-related [HATEOAS
            links](https://en.wikipedia.org/wiki/HATEOAS).
          type: array
          minItems: 0
          maxItems: 10000
          items:
            $ref: '#/components/schemas/error_link_description'
      example:
        name: SERVICE_UNAVAILABLE
        message: Service Unavailable.
        debug_id: 90957fca61718
        information_link: >-
          https://developer.paypal.com/docs/api/orders/v2/#error-SERVICE_UNAVAILABLE
    invoice_status:
      title: Invoice Status
      description: The status of the invoice.
      type: string
      enum:
        - DRAFT
        - SENT
        - SCHEDULED
        - PAID
        - MARKED_AS_PAID
        - CANCELLED
        - REFUNDED
        - PARTIALLY_PAID
        - PARTIALLY_REFUNDED
        - MARKED_AS_REFUNDED
        - UNPAID
        - PAYMENT_PENDING
    currency_code:
      description: >-
        The [three-character ISO-4217 currency
        code](https://raw.githubusercontent.com) that identifies the currency.
      type: string
      format: ppaas_common_currency_code_v2
      minLength: 3
      maxLength: 3
    date_time:
      description: >-
        The date and time, in [Internet date and time
        format](https://tools.ietf.org/html/rfc3339#section-5.6). Seconds are
        required while fractional seconds are
        optional.<blockquote><strong>Note:</strong> The regular expression
        provides guidance but does not reject all invalid dates.</blockquote>
      type: string
      format: ppaas_date_time_v3
      minLength: 20
      maxLength: 64
      pattern: >-
        ^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$
    file_reference:
      title: File Reference
      description: >-
        The file reference. Can be a file in PayPal MediaServ, PayPal DMS, or
        other custom store.
      type: object
      properties:
        id:
          description: The ID of the referenced file.
          type: string
          minLength: 1
          maxLength: 255
        reference_url:
          description: The reference URL for the file.
          type: string
          format: uri
          minLength: 1
          maxLength: 2000
        content_type:
          description: >-
            The [Internet Assigned Numbers Authority (IANA) media type of the
            file](https://www.iana.org/assignments/media-types/media-types.xhtml).
          type: string
        create_time:
          description: >-
            The date and time when the file was created, in [Internet date and
            time format](https://tools.ietf.org/html/rfc3339#section-5.6).
          $ref: '#/components/schemas/date_time'
        size:
          description: The size of the file, in bytes.
          type: string
          pattern: ^[0-9]+$
    detail:
      title: Invoice_Detail
      description: >-
        The details of the invoice like notes, terms and conditions, memo,
        attachments.
      required:
        - currency_code
      properties:
        reference:
          description: The reference data. Includes a post office (PO) number.
          type: string
          maxLength: 120
        currency_code:
          description: >-
            The [three-character ISO-4217 currency
            code](https://raw.githubusercontent.com) that identifies the
            currency.
          $ref: '#/components/schemas/currency_code'
        note:
          description: >-
            A note to the invoice recipient. Also appears on the invoice
            notification email.
          type: string
          maxLength: 4000
        terms_and_conditions:
          description: >-
            The general terms of the invoice. Can include return or cancellation
            policy and other terms and conditions.
          type: string
          maxLength: 4000
        memo:
          description: A private bookkeeping memo for the user.
          type: string
          maxLength: 500
        attachments:
          description: >-
            An array of PayPal IDs for the files that are attached to an
            invoice.
          type: array
          maximum: 5
          items:
            $ref: '#/components/schemas/file_reference'
    date_no_time:
      description: >-
        The stand-alone date, in [Internet date and time
        format](https://tools.ietf.org/html/rfc3339#section-5.6). To represent
        special legal values, such as a date of birth, you should use dates with
        no associated time or time-zone data. Whenever possible, use the
        standard `date_time` type. This regular expression does not validate all
        dates. For example, February 31 is valid and nothing is known about leap
        years.
      type: string
      format: ppaas_date_notime_v2
      minLength: 10
      maxLength: 10
      pattern: ^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$
    payment_term_type:
      title: Payment Term Type
      description: >-
        The payment term. Payment can be due upon receipt, a specified date, or
        in a set number of days.
      type: string
      enum:
        - DUE_ON_RECEIPT
        - DUE_ON_DATE_SPECIFIED
        - NET_10
        - NET_15
        - NET_30
        - NET_45
        - NET_60
        - NET_90
        - NO_DUE_DATE
    payment_term:
      title: Payment Term
      description: >-
        The payment term of the invoice. Payment can be due upon receipt, a
        specified date, or in a set number of days.
      type: object
      properties:
        term_type:
          description: >-
            The payment term. Payment can be due upon receipt, a specified date,
            or in a set number of days.
          $ref: '#/components/schemas/payment_term_type'
    invoice_payment_term:
      title: Invoice Payment Term
      description: >-
        The payment term of the invoice. Payment can be due upon receipt, a
        specified date, or in a set number of days.
      type: object
      allOf:
        - $ref: '#/components/schemas/payment_term'
        - properties:
            due_date:
              description: >-
                The date when the invoice payment is due, in [Internet date and
                time format](https://tools.ietf.org/html/rfc3339#section-5.6).
                For example, *yyyy*-*MM*-*dd*T*z*.
              $ref: '#/components/schemas/date_no_time'
    template_metadata:
      title: Template Metadata
      description: The audit metadata. Captures all template actions on create and update.
      type: object
      properties:
        create_time:
          description: >-
            The date and time when the resource was created, in [Internet date
            and time format](https://tools.ietf.org/html/rfc3339#section-5.6).
          $ref: '#/components/schemas/date_time'
          readOnly: true
        created_by:
          description: The email address of the account that created the resource.
          type: string
          readOnly: true
        last_update_time:
          description: >-
            The date and time when the resource was last edited, in [Internet
            date and time
            format](https://tools.ietf.org/html/rfc3339#section-5.6).
          $ref: '#/components/schemas/date_time'
          readOnly: true
        last_updated_by:
          description: The email address of the account that last edited the resource.
          type: string
          readOnly: true
    invoice_creation_flow:
      title: Invoice Creation Flow
      description: >-
        The frequency at which the invoice is sent:<ul><li>Multiple recipient.
        Sent to multiple recipients.</li><li>Batch. Sent in a
        batch.</li><li>Regular single. Sent one time to a single
        recipient.</li></ul>
      type: string
      enum:
        - MULTIPLE_RECIPIENTS_GROUP
        - BATCH
        - REGULAR_SINGLE
    metadata:
      title: Metadata
      description: >-
        The audit metadata. Captures all invoicing actions on create, send,
        update, and cancel.
      type: object
      allOf:
        - $ref: '#/components/schemas/template_metadata'
        - properties:
            cancel_time:
              description: >-
                The date and time when the resource was canceled, in [Internet
                date and time
                format](https://tools.ietf.org/html/rfc3339#section-5.6).
              $ref: '#/components/schemas/date_time'
              readOnly: true
            cancelled_by:
              description: The actor who canceled the resource.
              type: string
              readOnly: true
            first_sent_time:
              description: >-
                The date and time when the resource was first sent, in [Internet
                date and time
                format](https://tools.ietf.org/html/rfc3339#section-5.6).
              $ref: '#/components/schemas/date_time'
              readOnly: true
            last_sent_time:
              description: >-
                The date and time when the resource was last sent, in [Internet
                date and time
                format](https://tools.ietf.org/html/rfc3339#section-5.6).
              $ref: '#/components/schemas/date_time'
              readOnly: true
            last_sent_by:
              description: The email address of the account that last sent the resource.
              type: string
              readOnly: true
            created_by_flow:
              description: The flow variation that created this invoice.
              $ref: '#/components/schemas/invoice_creation_flow'
              readOnly: true
            recipient_view_url:
              description: The URL for the invoice payer view hosted on paypal.com.
              type: string
              readOnly: true
              format: uri
            invoicer_view_url:
              description: The URL for the invoice merchant view hosted on paypal.com.
              type: string
              readOnly: true
              format: uri
    invoice_detail:
      title: Invoice Detail
      description: >-
        The details of the invoice. Includes invoice number, date, payment
        terms, and audit metadata.
      type: object
      allOf:
        - $ref: '#/components/schemas/detail'
        - properties:
            invoice_number:
              description: >-
                The invoice number. Default is the number that is
                auto-incremented number from the last number.
              type: string
              maxLength: 127
            invoice_date:
              description: >-
                The invoice date as specificed by the sender, in [Internet date
                and time
                format](https://tools.ietf.org/html/rfc3339#section-5.6). Only
                UTC is supported in response. For example, *yyyy*-*MM*-*dd*T*z*.
              $ref: '#/components/schemas/date_no_time'
            payment_term:
              description: >-
                The payment due date for the invoice. Value is either but not
                both <code>term_type</code> or <code>due_date</code>.
              $ref: '#/components/schemas/invoice_payment_term'
            metadata:
              description: >-
                The audit metadata. Captures all invoicing actions on create,
                send, update, and cancel.
              $ref: '#/components/schemas/metadata'
              readOnly: true
    business_name:
      title: Business Name
      description: The business name of the party.
      type: object
      properties:
        business_name:
          description: Required. The business name of the party.
          type: string
          maxLength: 300
    name:
      title: Name
      description: The name of the party.
      type: object
      properties:
        prefix:
          description: The prefix, or title, to the party's name.
          type: string
          maxLength: 140
        given_name:
          description: When the party is a person, the party's given, or first, name.
          type: string
          maxLength: 140
        surname:
          description: >-
            When the party is a person, the party's surname or family name. Also
            known as the last name. Required when the party is a person. Use
            also to store multiple surnames including the matronymic, or
            mother's, surname.
          type: string
          maxLength: 140
        middle_name:
          description: >-
            When the party is a person, the party's middle name. Use also to
            store multiple middle names including the patronymic, or father's,
            middle name.
          type: string
          maxLength: 140
        suffix:
          description: The suffix for the party's name.
          type: string
          maxLength: 140
        alternate_full_name:
          description: >-
            DEPRECATED. The party's alternate name. Can be a business name,
            nickname, or any other name that cannot be split into first, last
            name. Required when the party is a business.
          type: string
          maxLength: 300
        full_name:
          description: When the party is a person, the party's full name.
          type: string
          maxLength: 300
    country_code:
      description: >-
        The [two-character ISO 3166-1 code](https://raw.githubusercontent.com)
        that identifies the country or region.<blockquote><strong>Note:</strong>
        The country code for Great Britain is <code>GB</code> and not
        <code>UK</code> as used in the top-level domain names for that country.
        Use the `C2` country code for China worldwide for comparable
        uncontrolled price (CUP) method, bank card, and cross-border
        transactions.</blockquote>
      type: string
      format: ppaas_common_country_code_v2
      maxLength: 2
      minLength: 2
      pattern: ^([A-Z]{2}|C2)$
    address_portable:
      title: Portable Postal Address (Medium-Grained)
      description: >-
        The portable international postal address. Maps to
        [AddressValidationMetadata](https://github.com/googlei18n/libaddressinput/wiki/AddressValidationMetadata)
        and HTML 5.1 [Autofilling form controls: the autocomplete
        attribute](https://www.w3.org/TR/html51/sec-forms.html#autofilling-form-controls-the-autocomplete-attribute).
      type: object
      properties:
        address_line_1:
          description: >-
            The first line of the address. For example, number or street. For
            example, `173 Drury Lane`. Required for data entry and compliance
            and risk checks. Must contain the full address.
          type: string
          maxLength: 300
        address_line_2:
          description: >-
            The second line of the address. For example, suite or apartment
            number.
          type: string
          maxLength: 300
        address_line_3:
          description: >-
            The third line of the address, if needed. For example, a street
            complement for Brazil, direction text, such as `next to Walmart`, or
            a landmark in an Indian address.
          type: string
          maxLength: 100
        admin_area_4:
          description: >-
            The neighborhood, ward, or district. Smaller than
            `admin_area_level_3` or `sub_locality`. Value is:<ul><li>The postal
            sorting code for Guernsey and many French territories, such as
            French Guiana.</li><li>The fine-grained administrative levels in
            China.</li></ul>
          type: string
          maxLength: 100
        admin_area_3:
          description: >-
            A sub-locality, suburb, neighborhood, or district. Smaller than
            `admin_area_level_2`. Value is:<ul><li>Brazil. Suburb, bairro, or
            neighborhood.</li><li>India. Sub-locality or district. Street name
            information is not always available but a sub-locality or district
            can be a very small area.</li></ul>
          type: string
          maxLength: 100
        admin_area_2:
          description: A city, town, or village. Smaller than `admin_area_level_1`.
          type: string
          maxLength: 120
        admin_area_1:
          description: >-
            The highest level sub-division in a country, which is usually a
            province, state, or ISO-3166-2 subdivision. Format for postal
            delivery. For example, `CA` and not `California`. Value, by country,
            is:<ul><li>UK. A county.</li><li>US. A state.</li><li>Canada. A
            province.</li><li>Japan. A prefecture.</li><li>Switzerland. A
            kanton.</li></ul>
          type: string
          maxLength: 300
        postal_code:
          description: >-
            The postal code, which is the zip code or equivalent. Typically
            required for countries with a postal code or an equivalent. See
            [postal code](https://en.wikipedia.org/wiki/Postal_code).
          type: string
          maxLength: 60
        country_code:
          $ref: '#/components/schemas/country_code'
        address_details:
          title: Address Details
          description: >-
            The non-portable additional address details that are sometimes
            needed for compliance, risk, or other scenarios where fine-grain
            address information might be needed. Not portable with common third
            party and open source. Redundant with core fields.<br/>For example,
            `address_portable.address_line_1` is usually a combination of
            `address_details.street_number`, `street_name`, and `street_type`.
          type: object
          properties:
            street_number:
              description: The street number.
              type: string
              maxLength: 100
            street_name:
              description: The street name. Just `Drury` in `Drury Lane`.
              type: string
              maxLength: 100
            street_type:
              description: >-
                The street type. For example, avenue, boulevard, road, or
                expressway.
              type: string
              maxLength: 100
            delivery_service:
              description: >-
                The delivery service. Post office box, bag number, or post
                office name.
              type: string
              maxLength: 100
            building_name:
              description: >-
                A named locations that represents the premise. Usually a
                building name or number or collection of buildings with a common
                name or number. For example, <code>Craven House</code>.
              type: string
              maxLength: 100
            sub_building:
              description: >-
                The first-order entity below a named building or location that
                represents the sub-premise. Usually a single building within a
                collection of buildings with a common name. Can be a flat,
                story, floor, room, or apartment.
              type: string
              maxLength: 100
      required:
        - country_code
    contact_name_address:
      title: Contact Information
      description: The contact information of the user. Includes name and address.
      type: object
      allOf:
        - $ref: '#/components/schemas/business_name'
        - properties:
            name:
              description: The first and Last name of the recipient.
              $ref: '#/components/schemas/name'
            address:
              description: The address of the recipient.
              $ref: '#/components/schemas/address_portable'
    email_address:
      description: >-
        The internationalized email address.<blockquote><strong>Note:</strong>
        Up to 64 characters are allowed before and 255 characters are allowed
        after the <code>@</code> sign. However, the generally accepted maximum
        length for an email address is 254 characters. The pattern verifies that
        an unquoted <code>@</code> sign exists.</blockquote>
      type: string
      format: ppaas_common_email_address_v2
      minLength: 3
      maxLength: 254
      pattern: ^.+@[^"\-].+$
    phone:
      title: Phone
      description: >-
        The phone number, in its canonical international [E.164 numbering plan
        format](https://www.itu.int/rec/T-REC-E.164/en).
      type: object
      properties:
        country_code:
          description: >-
            The country calling code (CC), in its canonical international [E.164
            numbering plan format](https://www.itu.int/rec/T-REC-E.164/en). The
            combined length of the CC and the national number must not be
            greater than 15 digits. The national number consists of a national
            destination code (NDC) and subscriber number (SN).
          type: string
          minLength: 1
          maxLength: 3
          pattern: ^[0-9]{1,3}?$
        national_number:
          description: >-
            The national number, in its canonical international [E.164 numbering
            plan format](https://www.itu.int/rec/T-REC-E.164/en). The combined
            length of the country calling code (CC) and the national number must
            not be greater than 15 digits. The national number consists of a
            national destination code (NDC) and subscriber number (SN).
          type: string
          minLength: 1
          maxLength: 14
          pattern: ^[0-9]{1,14}?$
        extension_number:
          description: The extension number.
          type: string
          minLength: 1
          maxLength: 15
          pattern: ^[0-9]{1,15}?$
      required:
        - country_code
        - national_number
    phone_type:
      title: Phone Type
      description: The phone type.
      type: string
      enum:
        - FAX
        - HOME
        - MOBILE
        - OTHER
        - PAGER
    phone_detail:
      title: Phone Detail
      description: The phone details. Includes the phone number and type.
      type: object
      required:
        - phone_type
      allOf:
        - $ref: '#/components/schemas/phone'
        - properties:
            phone_type:
              $ref: '#/components/schemas/phone_type'
    invoicer_info:
      title: Invoicer Information
      description: The invoicer business information that appears on the invoice.
      type: object
      allOf:
        - $ref: '#/components/schemas/contact_name_address'
        - properties:
            email_address:
              description: >-
                The invoicer email address, which must be listed in the user's
                PayPal profile. If you omit this value, notifications are sent
                from and to the primary email address but do not appear on the
                invoice.
              $ref: '#/components/schemas/email_address'
            phones:
              description: >-
                An array of invoicer's phone numbers. The invoicer can choose to
                hide the phone number on the invoice.
              type: array
              items:
                $ref: '#/components/schemas/phone_detail'
            website:
              description: The invoicer's website.
              type: string
              format: uri
              maxLength: 2048
            tax_id:
              description: The invoicer's tax ID.
              type: string
              maxLength: 100
            additional_notes:
              description: Any additional information. Includes business hours.
              type: string
              maxLength: 400
            logo_url:
              description: >-
                The full URL to an external logo image. The logo image must not
                be larger than 250 pixels wide by 90 pixels high.
              type: string
              format: uri
              maxLength: 2000
    language:
      description: >-
        The [language tag](https://tools.ietf.org/html/bcp47#section-2) for the
        language in which to localize the error-related strings, such as
        messages, issues, and suggested actions. The tag is made up of the [ISO
        639-2 language
        code](https://www.loc.gov/standards/iso639-2/php/code_list.php), the
        optional [ISO-15924 script
        tag](https://www.unicode.org/iso15924/codelists.html), and the [ISO-3166
        alpha-2 country code](https://raw.githubusercontent.com).
      type: string
      format: ppaas_common_language_v3
      maxLength: 10
      minLength: 2
      pattern: ^[a-z]{2}(?:-[A-Z][a-z]{3})?(?:-(?:[A-Z]{2}))?$
    billing_info:
      title: Billing Information
      description: >-
        The billing information of the invoice recipient. Includes name,
        address, email, phone, and language.
      type: object
      allOf:
        - $ref: '#/components/schemas/contact_name_address'
        - properties:
            email_address:
              description: >-
                The invoice recipient email address. If you omit this value, the
                invoice is payable and a notification email is not sent.
              $ref: '#/components/schemas/email_address'
            phones:
              description: >-
                The invoice recipient's phone numbers. Extension number is not
                supported.
              type: array
              items:
                $ref: '#/components/schemas/phone_detail'
            additional_info:
              description: Any additional information about the recipient.
              type: string
              maxLength: 40
            language:
              description: >-
                The language in which to show the invoice recipient's email
                message. Used only when the recipient does not have a PayPal
                account. If you omit the language and the recipient does not
                have a PayPal account, the email message is sent in the language
                of the merchant's PayPal account.
              $ref: '#/components/schemas/language'
    recipient_info:
      title: Recipient Information
      description: >-
        The billing and shipping information. Includes name, email, address,
        phone, and language.
      type: object
      properties:
        billing_info:
          description: >-
            The billing information for the invoice recipient. Includes name,
            address, email, phone, and language.
          $ref: '#/components/schemas/billing_info'
        shipping_info:
          description: >-
            The recipient's shipping information. Includes the user's contact
            information, which includes name and address.
          $ref: '#/components/schemas/contact_name_address'
    money:
      title: Money
      description: >-
        The currency and amount for a financial transaction, such as a balance
        or payment due.
      type: object
      properties:
        currency_code:
          $ref: '#/components/schemas/currency_code'
        value:
          description: >-
            The value, which might be:<ul><li>An integer for currencies like
            `JPY` that are not typically fractional.</li><li>A decimal fraction
            for currencies like `TND` that are subdivided into
            thousandths.</li></ul>For the required number of decimal places for
            a currency code, see [Currency
            Codes](https://raw.githubusercontent.com).
          type: string
          maxLength: 32
          pattern: ^((-?[0-9]+)|(-?([0-9]+)?[.][0-9]+))$
      required:
        - currency_code
        - value
    percentage:
      description: >-
        The percentage, as a fixed-point, signed decimal number. For example,
        define a 19.99% interest rate as `19.99`.
      type: string
      format: ppaas_common_percentage_v2
      pattern: ^((-?[0-9]+)|(-?([0-9]+)?[.][0-9]+))$
    tax:
      title: Tax
      description: >-
        The tax information. Includes the tax name and tax rate of invoice
        items. The tax amount is added to the item total.
      type: object
      properties:
        name:
          description: The name of the tax applied on the invoice items.
          type: string
          maxLength: 100
        percent:
          description: >-
            The tax rate. Value is from `0` to `100`. Supports up to five
            decimal places.
          $ref: '#/components/schemas/percentage'
        amount:
          description: >-
            The calculated tax amount. The tax amount is added to the item
            total.
          $ref: '#/components/schemas/money'
          readOnly: true
      required:
        - name
        - percent
    discount:
      title: Discount
      description: >-
        The discount as a percent or amount at invoice level. The invoice
        discount amount is subtracted from the item total.
      type: object
      properties:
        percent:
          description: >-
            The discount as a percentage value. Value is from `0` to `100`.
            Supports up to five decimal places.
          $ref: '#/components/schemas/percentage'
        amount:
          description: >-
            The invoice level discount amount. Value is from `0` to `1000000`.
            Supports up to two decimal places.
          $ref: '#/components/schemas/money'
    unit_of_measure:
      description: The unit of measure for the invoiced item.
      type: string
      enum:
        - QUANTITY
        - HOURS
        - AMOUNT
    item:
      title: Invoice Item
      description: >-
        An array of invoice line item information. The maximum items for an
        invoice is `100`.
      type: object
      properties:
        description:
          description: The item description for the invoice line item.
          type: string
          maxLength: 1000
        id:
          description: The ID of the invoice line item.
          type: string
          readOnly: true
          maxLength: 22
        name:
          description: The item name for the invoice line item.
          type: string
          maxLength: 200
        quantity:
          description: >-
            The quantity of the item that the invoicer provides to the payer.
            Value is from `-1000000` to `1000000`. Supports up to five decimal
            places.
          type: string
          maxLength: 14
          minLength: 0
        unit_amount:
          description: >-
            The unit price of the item. This does not include tax and discount.
            Value is from `-1000000` to `1000000`. Supports up to two decimal
            places.
          $ref: '#/components/schemas/money'
        tax:
          description: >-
            The tax associated with the item. The tax amount is added to the
            item total. Value is from `0` to `100`. Supports up to five decimal
            places.
          $ref: '#/components/schemas/tax'
        item_date:
          description: >-
            The date when the item or service was provided, in [Internet date
            and time format](https://tools.ietf.org/html/rfc3339#section-5.6).
            For example, *yyyy*-*MM*-*dd*T*z*.
          $ref: '#/components/schemas/date_no_time'
        discount:
          description: >-
            Discount as a percent or amount at invoice level. The invoice
            discount amount is subtracted from the item total.
          $ref: '#/components/schemas/discount'
        unit_of_measure:
          description: >-
            The unit of measure for the invoiced item. For `AMOUNT` the
            `unit_amount` and `quantity` are not shown on the
            invoice.<blockquote><strong>Note:</strong> If your specify different
            `unit_of_measure` values for the same invoice, the invoice uses the
            first value.</blockquote>
          $ref: '#/components/schemas/unit_of_measure'
      required:
        - name
        - quantity
        - unit_amount
    partial_payment:
      title: Partial Payment
      description: >-
        The partial payment details. Includes the minimum amount that the
        invoicer expects from the payer.
      type: object
      properties:
        allow_partial_payment:
          description: >-
            Indicates whether the invoice allows a partial payment. If `false`,
            the invoice must be paid in full. If `true`, the invoice allows
            partial payments.<blockquote><strong>Note:</strong> This feature is
            not available for users in `India`, `Brazil`, or
            `Israel`.</blockquote>
          type: boolean
          default: false
        minimum_amount_due:
          description: >-
            The minimum amount allowed for a partial payment. Valid only when
            `allow_partial_payment` is `true`.
          $ref: '#/components/schemas/money'
    template_configuration:
      title: Template Configuration
      description: >-
        The template configuration details. Includes tax information, tip, and
        partial payment.
      type: object
      properties:
        tax_calculated_after_discount:
          description: >-
            Indicates whether the tax is calculated before or after a discount.
            If `false`, the tax is calculated before a discount. If `true`, the
            tax is calculated after a discount.
          type: boolean
          default: true
        tax_inclusive:
          description: Indicates whether the unit price includes tax.
          type: boolean
          default: false
        allow_tip:
          description: >-
            Indicates whether the invoice enables the customer to enter a tip
            amount during payment. If `true`, the invoice shows a tip amount
            field so that the customer can enter a tip amount. If `false`, the
            invoice does not show a tip amount
            field.<blockquote><strong>Note:</strong> This feature is not
            available for users in `Hong Kong`, `Taiwan`, `India`, or
            `Japan`.</blockquote>
          type: boolean
          default: false
        partial_payment:
          description: >-
            The partial payment details. Includes the minimum amount that the
            invoicer wants the payer to pay.
          $ref: '#/components/schemas/partial_payment'
    configuration:
      title: Configuration
      description: >-
        The invoice configuration details. Includes partial payment, tip, and
        tax calculated after discount.
      type: object
      allOf:
        - $ref: '#/components/schemas/template_configuration'
        - properties:
            template_id:
              description: >-
                The template ID. The template determines the layout of the
                invoice. Includes which fields to show and hide.
              type: string
              default: PayPal system template
              maxLength: 30
    aggregated_discount:
      title: Aggregated Discount
      description: >-
        The discount. Can be an item- or invoice-level discount, or both. Can be
        applied as a percent or amount. If you provide both amount and percent,
        amount takes precedent.
      type: object
      properties:
        invoice_discount:
          description: >-
            The discount as a percent or amount at invoice level. The invoice
            discount amount is subtracted from the item total.
          $ref: '#/components/schemas/discount'
        item_discount:
          description: >-
            The discount as a percent or amount at item level. The item discount
            amount is subtracted from each item amount.
          $ref: '#/components/schemas/money'
    shipping_cost:
      title: Shipping Cost
      description: The shipping fee for all items. Includes tax on shipping.
      type: object
      properties:
        amount:
          description: >-
            The shipping amount. Value is from `0` to `1000000`. Supports up to
            two decimal places.
          $ref: '#/components/schemas/money'
        tax:
          description: The tax associated with the shipping.
          $ref: '#/components/schemas/tax'
    custom_amount:
      title: Custom Amount
      description: >-
        The custom amount to apply to an invoice. If you include a label, you
        must include a custom amount.
      type: object
      required:
        - label
      properties:
        label:
          description: The label to the custom amount of the invoice.
          type: string
          maxLength: 50
        amount:
          description: >-
            The custom amount value. Value is from `-1000000` to `1000000`.
            Supports up to two decimal places.
          $ref: '#/components/schemas/money'
    amount_with_breakdown:
      title: Amount with Breakdown
      description: >-
        The breakdown of the amount. Includes total item amount, total tax
        amount, custom amount, and shipping and discounts, if any.
      type: object
      properties:
        item_total:
          description: >-
            The subtotal for all items. Must equal the sum of
            (`items[].unit_amount` * `items[].quantity`) for all items.
          $ref: '#/components/schemas/money'
        discount:
          description: >-
            The discount can be at the item or invoice level, or both. Can be
            applied as a percent or amount. If you provide both amount and
            percent, amount takes precedent.
          $ref: '#/components/schemas/aggregated_discount'
        tax_total:
          description: The aggregated amount of the item and shipping taxes.
          $ref: '#/components/schemas/money'
        shipping:
          description: The shipping fee for all items. Includes tax on shipping.
          $ref: '#/components/schemas/shipping_cost'
        custom:
          description: >-
            The custom amount to apply to an invoice. If you include a label,
            you must include the custom amount.
          $ref: '#/components/schemas/custom_amount'
    amount_summary_detail:
      title: Invoice Amount Summary
      description: >-
        The invoice amount summary of item total, discount, tax total, and
        shipping.
      type: object
      properties:
        currency_code:
          $ref: '#/components/schemas/currency_code'
        value:
          description: >-
[...]
