openapi: 3.0.2
info:
  title: DriveWealth API
  description: >-
    DriveWealth is the pioneer of fractional equities trading and embedded
    investing. We are a visionary technology company that empowers more than 100
    partners around the world to engage their customers by placing the markets
    in the palm of their hand. We believe the future is fractional,
    transactional and mobile. Every mobile device should be a gateway to
    accessing investing and savings products, services, advice, and assistance
    for global citizens of all ages, wealth stages, and levels of financial
    expertise. DriveWealth's unparalleled consultative support and cloud-based,
    industrial strength technology platform allow partners to seamlessly offer
    branded investing experiences to drive customer acquisition, loyalty,
    retention, and revenue growth. DriveWealth's commitment to continuous
    evolution and innovation makes it the partner of choice for powering the
    future of investing. For more information, please visit drivewealth.com or
    connect with us on Twitter @DriveWealth.‍
  version: '1.0'
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Sandbox server (Uses test data)
    url: https://bo-api.drivewealth.io/back-office
  - description: Production Server (Uses LIVE data)
    url: https://bo-api.drivewealth.net/back-office
tags:
  - name: Accounts
    x-displayName: Accounts
  - name: Orders
    x-displayName: Orders
  - name: Settlements
    x-displayName: Settlements
  - name: Deposits
    x-displayName: Deposits
  - name: Withdrawals
    x-displayName: Withdrawals
  - name: Exchanges
    x-displayName: Exchanges
  - name: Instruments
    x-displayName: Instruments
  - name: Portfolios
    x-displayName: Portfolios
  - name: AutoPilot
    x-displayName: AutoPilot
  - name: Statements
    x-displayName: Statements
  - name: Asset Transfer
    x-displayName: Asset Transfer
  - name: Disclosures
    x-displayName: Disclosures
  - name: Users
    x-displayName: Users
  - name: Funds
    x-displayName: Funds
  - name: Trade Allocations
    x-displayName: Trade Allocations
  - name: Beneficiaries
    x-displayName: Beneficiaries
  - name: Cancel Rebill
    x-displayName: Cancel Rebill
  - name: Physical Documents
    x-displayName: Physical Documents
  - name: Subscriptions
    x-displayName: Subscriptions
  - name: Advisor Reports
    x-displayName: Advisor Reports
  - name: Violations
    x-displayName: Violations
  - name: Transactions
    x-displayName: Transactions
  - name: Positions
    x-displayName: Positions
  - name: Auth
    x-displayName: Auth
  - name: Quotes
    x-displayName: Quotes
  - name: Commission Schedules
    x-displayName: Commission Schedules
  - name: Virtual Bank Accounts
    x-displayName: Virtual Bank Accounts
  - name: Supported Countries
    x-displayName: Supported Countries
  - name: Charts
    x-displayName: Charts
  - name: Depth of Book
    x-displayName: Depth of Book
  - name: Linked Bank Accounts
    x-displayName: Linked Bank Accounts
  - name: Risk
    x-displayName: Risk
paths:
  /managed/allocations:
    post:
      tags:
        - Trade Allocations
      summary: Create Trade Allocation
      operationId: TradeAllocations_createAllocation
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Create an allocation of securities to a User's Account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocationRequest'
        required: true
      responses:
        '200':
          description: The creation of a Trade Allocation was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationResponse'
  /managed/allocations/{allocationID}:
    get:
      tags:
        - Trade Allocations
      summary: Retrieve Trade Allocation
      operationId: TradeAllocations_getDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Retrieves Trade Allocation details by allocationID.
      parameters:
        - description: >-
            The unique identifier returned when a Trade Allocation request is
            made.
          in: path
          name: allocationID
          schema:
            type: string
          required: true
          example: JL.allocation.SomeRIACompany.9d6def3b-14d7-4934-8a64-57d443e67ce6
      responses:
        '200':
          description: Retrieving Trade Allocation details by allocationID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationDetails'
  /managed/funds:
    post:
      tags:
        - Funds
      summary: Create Fund
      operationId: Funds_createFundCollection
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Create a Fund containing a collection of securities.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fundsRequest'
        required: true
      responses:
        '200':
          description: Creating a fund was Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsResponse'
  /managed/funds/{fundID}:
    get:
      tags:
        - Funds
      summary: Retrieve Fund
      operationId: Funds_getDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch the details of a fund using the unique fundID.
      parameters:
        - description: The unique identifier associated with the Fund.
          in: path
          name: fundID
          schema:
            type: string
          required: true
          example: fund_3d7d00d1-f08e-4f52-9cbf-893c75cf77fe
      responses:
        '200':
          description: Fetch fund details was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsResponse'
  /managed/portfolios:
    post:
      tags:
        - Portfolios
      summary: Create Portfolio
      operationId: Portfolios_createPortfolioAllocation
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Create a Portfolio to hold an allocation of funds.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/portfolioReq'
        required: true
      responses:
        '200':
          description: The creation of a Portfolio was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/portfolioRes'
  /managed/portfolios/{portfolioID}:
    get:
      tags:
        - Portfolios
      summary: Retrieve Portfolio
      operationId: Portfolios_getDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Get the details of a specific Portfolio using the portfolioID.
      parameters:
        - description: A unique identifier associated with a specific Portfolio.
          in: path
          name: portfolioID
          schema:
            type: string
          required: true
          example: portfolio_4a22340a-31f8-4f0e-b5ee-24ddfbc66727
      responses:
        '200':
          description: Fetch a portfolio by portfolioID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/portfolioRes'
    patch:
      tags:
        - Portfolios
      summary: Update Portfolio
      operationId: Portfolios_updateHoldings
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Edit the holdings of an existing portfolio using the portfolioID.
      parameters:
        - description: A unique identifier associated with a specific Portfolio.
          in: path
          name: portfolioID
          schema:
            type: string
          required: true
          example: portfolio_4a22340a-31f8-4f0e-b5ee-24ddfbc66727
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/holdingsObject'
      responses:
        '200':
          description: Edit a portfolio by portfolioID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/portfolioRes'
  /managed/autopilot/{partnerID}:
    post:
      tags:
        - AutoPilot
      summary: Create Autopilot Run
      operationId: AutoPilot_createRun
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Create an Autopilot run for a users account.
      parameters:
        - description: >-
            This is the parentIBID or userID of the registered investment
            advisor.
          in: path
          name: partnerID
          schema:
            type: string
          required: true
          example: 66304da9-3h6f-2234-935f-ac6b7933d706
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/autopilotReq'
        required: true
      responses:
        '200':
          description: The creation of an autopilot run was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilotRes'
  /managed/autopilot/{rebalanceRunID}:
    get:
      tags:
        - AutoPilot
      summary: Retrieve Autopilot Run
      operationId: AutoPilot_getRunDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        Fetch the details and run status for a re-balance using the unique
        rebalanceRunID.
      parameters:
        - description: >-
            The unique re-balance run identifier `rebalanceRunID` associated
            with a specific re-balance.
          in: path
          name: rebalanceRunID
          schema:
            type: string
          required: true
          example: ria_rebalance_ebf7e878-e2d6-4b3d-a333-b8ff05b92b83
      responses:
        '200':
          description: Fetch autopilot run details by rebalanceRunID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runStatusRes'
  /accounts:
    post:
      tags:
        - Accounts
      summary: Create Account
      operationId: Accounts_createNewBrokerageAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Create a new brokerage Account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountReq'
            examples:
              Self Directed Account:
                value:
                  userID: cc07f91b-7ee1-4868-b8fc-823c70a1b932
                  accountType: LIVE
                  accountManagementType: SELF
                  tradingType: CASH
              Managed Account:
                value:
                  userID: cc07f91b-7ee1-4868-b8fc-823c70a1b932
                  accountType: LIVE
                  accountManagementType: MANAGED
                  tradingType: CASH
              Robo Advisory Account:
                value:
                  userID: cc07f91b-7ee1-4868-b8fc-823c70a1b932
                  accountType: LIVE
                  accountManagementType: RIA_MANAGED
                  tradingType: CASH
                  riaProductID: product_b94c0b6a-5ac8-43e4-95d1-777051c0503b
                  riaUserID: 80f9b672-120d-4b73-9ccv9-42fb3262c4b9
        required: true
      responses:
        '200':
          description: Account creation was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountRes'
  /accounts/{accountID}:
    get:
      tags:
        - Accounts
      summary: Retrieve Account
      operationId: Accounts_getDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Retrieves Account details by accountID.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Retrieving Account details was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetailRes'
    patch:
      tags:
        - Accounts
      summary: Update Account
      operationId: Accounts_updateAccountDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Update an Account details by accountID.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAcctReq'
            examples:
              Add Authorized User:
                value:
                  authorizedUsers:
                    - userID: f6fd0783-2fdb-4ddb-9fd5-2464d8abc267
                      permissions:
                        - MINOR_GRADUATION_TRANSFER
        required: true
      responses:
        '200':
          description: Update account details was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsUpdateAccountDetailsResponse'
              examples:
                Account Summary:
                  value:
                    account:
                      id: cc07f91b-7ee1-4868-b8fc-823c70a1b932.1407775317759
                      accountNo: DWBG000052
                      accountType:
                        description: Live Account
                        name: LIVE
                      accountMgmtType:
                        description: Self Directed Account
                        name: SELF
                      status:
                        description: Open
                        name: OPEN
                      tradingType:
                        description: Cash Account
                        name: CASH
                      leverage: 1
                      nickname: Steve's Robo Advisor Managed Account
                      parentIB:
                        id: 80f9b672-120d-4b73-9cc9-42fb3262c4b9
                        name: Tendies Trading Company
                      taxProfile:
                        taxStatusCode: W-9
                        taxRecipientCode: INDIVIDUAL
                      commissionID: b3e985dd-9679-63dc-5dd5-9bd7982efecd
                      beneficiaries: false
                      userID: cc07f91b-7ee1-4868-b8fc-823c70a1b932
                      restricted: false
                      goodFaithViolations: 0
                      patternDayTrades: 0
                      freeTradeBalance: 0
                      gfvPdtExempt: false
                      buyingPowerOverride: false
                      bod:
                        moneyMarket: 0
                        equityValue: 0
                        cashAvailableForWithdrawal: 0
                        cashAvailableForTrading: 0
                        cashBalance: 0
                      ria:
                        advisorID: 66304da9-3h6f-2234-935f-ac6b7933d706
                        productID: product_b94c0b6a-5ac8-43e4-95d1-777051c0503b
                      sweepInd: true
                      interestFree: false
                      createdWhen: '2022-12-22T06:07:41.773Z'
                      openedWhen: '2022-12-22T06:07:41Z'
                      updatedWhen: '2022-12-11T22:28:21.810Z'
                      ignoreMarketHoursForTest: false
                      flaggedForACATS: false
                      extendedHoursEnrolled: false
                      accountFeatures:
                        fixedIncome:
                          enrolled: true
  /accounts/{accountID}/commissions:
    get:
      tags:
        - Commission Schedules
      summary: List all Commission Schedules
      operationId: CommissionSchedules_listAll
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        Fetch a list of all commissions available for a customers account
        associated to its parentIBID.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetch a list of commissions was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommissionsRes'
  /accounts/{accountID}/beneficiaries:
    post:
      tags:
        - Beneficiaries
      summary: Create Beneficiaries
      operationId: Beneficiaries_createNewSet
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        Create a new set of Beneficiaries or contingent Beneficiaries on an
        existing Account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryReq'
        required: true
      responses:
        '200':
          description: Beneficiary creation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryRes'
    get:
      tags:
        - Beneficiaries
      summary: Retrieve Beneficiaries by Account
      operationId: Beneficiaries_listByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: List all existing Beneficiaries on an Account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetch list of beneficiaries was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryRes'
    delete:
      tags:
        - Beneficiaries
      summary: Delete Beneficiaries
      operationId: Beneficiaries_removeAll
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Removes all Beneficiaries from an account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '202':
          description: Beneficiaries has been recorded for deletion.
  /accounts/{accountID}/funding/deposit-instructions:
    get:
      tags:
        - Virtual Bank Accounts
      summary: Retrieve Virtual Bank Account by Account
      operationId: VirtualBankAccounts_getDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch a customers virtual account details.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetch virtual account details was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualAccountRes'
  /accounts/{accountID}/funding/deposits:
    get:
      tags:
        - Deposits
      summary: List Deposits by Account
      operationId: Deposits_listByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch all Deposits associated with a specific Account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetching a list of an Account's Deposits was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/depositsByUserIDObject'
  /accounts/{accountID}/funding/redemptions:
    get:
      tags:
        - Withdrawals
      summary: List Withdrawals by Account
      operationId: Withdrawals_listByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch a list of Withdrawals associated to a specific Account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetching a list of Account's Withdrawals was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Redemptions'
  /accounts/{accountID}/summary/orders:
    get:
      tags:
        - Orders
      summary: Retrieve Orders by Account
      operationId: Orders_getByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch a list of pending orders for a users account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetching a list of pending Orders was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingOrders'
  /accounts/{accountID}/reports/order-history:
    get:
      tags:
        - Orders
      summary: List Orders by Account
      operationId: Orders_listByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch a list of all orders for a users account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - description: >-
            Date start time of data. Follow [ISO 8601
            standard](https://en.wikipedia.org/wiki/ISO_8601)
          in: query
          name: from
          schema:
            type: string
          required: true
          example: '2022-06-16'
        - description: >-
            Date end time of data. Follow [ISO 8601
            standard](https://en.wikipedia.org/wiki/ISO_8601)
          in: query
          name: to
          schema:
            type: string
          required: true
          example: '2022-07-16'
        - description: The number of orders to be returned per page.
          in: query
          name: limit
          schema:
            type: number
          required: false
          example: 25
        - description: Follow [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601)
          in: query
          name: offset
          schema:
            type: string
          required: false
          example: '2022-07-16'
        - description: The direction of pagination.
          in: query
          name: direction
          schema:
            type: string
            enum:
              - prev
              - next
          required: false
          example: prev
      responses:
        '200':
          description: Fetching Order history was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHistoryRes'
  /accounts/{accountID}/portfolio:
    get:
      tags:
        - AutoPilot
      summary: Retrieve Portfolio by Account
      operationId: AutoPilot_getPortfolioByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Retrieve Portfolio details by accountID.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetching Portfolio details was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioStatusRes'
  /accounts/{accountID}/summary/money:
    get:
      tags:
        - Accounts
      summary: Retrieve Money by Account
      operationId: Accounts_getMoneyByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Retrieves a real time snapshot of cash balances by accountID.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Retrieving Money details was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneyDetailsRes'
  /accounts/{accountID}/statements:
    get:
      tags:
        - Statements
      summary: List Statements by Account
      operationId: Statements_listByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: List all statement files for a particular account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetching a list of Statements for an Account was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementListRes'
  /accounts/{accountID}/taxforms:
    get:
      tags:
        - Statements
      summary: List Tax Statements by Account
      operationId: Statements_listTaxStatementsByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch a list of all the tax documents for a particular account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - $ref: '#/components/parameters/fromParams'
        - $ref: '#/components/parameters/toParams'
      responses:
        '200':
          description: Fetching a list of tax documents for an Account was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTaxDocsRes'
  /accounts/{accountID}/confirms:
    get:
      tags:
        - Statements
      summary: List Trade Confirmations by Account
      operationId: Statements_listTradeConfirmations
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: List all trade confirmation files for a particular account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - description: Filter, the date from which to start the search.
          in: query
          name: from
          schema:
            type: string
          required: false
          example: '2018-09-18'
        - description: Filter, the date to which to end the search.
          in: query
          name: to
          schema:
            type: string
          required: false
          example: '2019-09-18'
      responses:
        '200':
          description: Fetching a list of trade confirmations was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTradeConfirmsRes'
  /accounts/{accountID}/summary:
    get:
      tags:
        - Accounts
      summary: Retrieve summary by Account
      operationId: Accounts_getSummary
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        Fetch an account summary with the balance, orders, positions, violations
        and transactions of a particular Account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetching account summary details was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryRes'
      deprecated: true
  /accounts/{accountID}/performance:
    get:
      tags:
        - Accounts
      summary: Retrieve Performance Metrics by Account
      operationId: Accounts_getPerformanceMetrics
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        Retrieves daily realized and unrealized profit/loss metrics by
        accountID.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - description: >-
            Used for relative date range, accepts a number and a unit of time
            (E.g: 3d = 3 Days or 2w = 2 Weeks).
          in: query
          name: period
          schema:
            type: string
            enum:
              - 1d
              - '*d'
              - 1w
              - '*w'
              - 1m
              - '*m'
              - 1y
              - '*y'
          required: false
          example: 3d
        - description: >-
            Start date and time of requested time frame of the accounts
            performance.
          in: query
          name: from
          schema:
            type: string
          required: false
          example: '2018-09-18'
        - description: >-
            End date and time of requested time frame of the accounts
            performance.
          in: query
          name: to
          schema:
            type: string
          required: false
          example: '2019-09-18'
      responses:
        '200':
          description: Retrieving Performance Metrics by Account was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceRes'
  /accounts/{accountID}/summary/positions:
    get:
      tags:
        - Positions
      summary: List Positions by Account
      operationId: Positions_listEquityPositions
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch a list of all the equity positions related to an account.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetching an Account's Positions was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsRes'
  /accounts/{accountID}/summary/violations:
    get:
      tags:
        - Violations
      summary: Retrieve Violations by Account
      operationId: Violations_getByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch the summary of all current account violations.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetching an Account's violation summary was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViolationListRes'
  /accounts/{accountID}/violations:
    get:
      tags:
        - Violations
      summary: List Violations by Account
      operationId: Violations_listByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch a list of all current Account Violations.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetching a list of Violations for an Account was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViolationDetailsRes'
  /accounts/{accountID}/summary/margin:
    get:
      tags:
        - Accounts
      summary: Retrieve Margin Details by Account
      operationId: Accounts_getMarginDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Retrieves a list of Margin details by accountID.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetching an Account's margin details was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarginRes'
  /accounts/{accountID}/summary/transactions:
    get:
      tags:
        - Transactions
      summary: Retrieve Transaction Summary by Account
      operationId: Transactions_getSummaryByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch a list of all recent Account Transactions.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Fetching transaction summary details was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionSummaryRes'
  /accounts/{accountID}/transactions:
    get:
      tags:
        - Transactions
      summary: List Transactions by Account
      operationId: Transactions_listByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch a list of all Account Transactions in a given time range
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - description: >-
            Date start time of data. Follow [ISO 8601
            standard](https://en.wikipedia.org/wiki/ISO_8601)
          in: query
          name: from
          schema:
            type: string
          required: true
          example: '2022-06-16'
        - description: >-
            Date end time of data. Follow [ISO 8601
            standard](https://en.wikipedia.org/wiki/ISO_8601)
          in: query
          name: to
          schema:
            type: string
          required: true
          example: '2022-07-16'
        - description: The number of transactions to be returned per page.
          in: query
          name: limit
          schema:
            type: number
          required: false
          example: 25
        - description: Follow [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601)
          in: query
          name: offset
          schema:
            type: string
          required: false
          example: '2022-07-16'
        - description: The direction of pagination
          in: query
          name: direction
          schema:
            type: string
            enum:
              - prev
              - next
          required: false
          example: prev
      responses:
        '200':
          description: Fetching an Account's Transactions was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRes'
  /accounts/{accountID}/position-details:
    get:
      tags:
        - Accounts
      summary: Retrieve Account Position Lots
      operationId: Accounts_getPositionLots
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Retrieves Account Position Lots by accountID.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Retrieving Account Position Lots by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPositionLots'
              examples:
                Account Lots:
                  value:
                    accountID: 0d1d686c-abe3-4203-82e5-62f1bd8266f3.1654094651810
                    accountNo: XYRR000001
                    positions:
                      - instrumentID: 5b85fabb-d57c-44e6-a7f6-a3efc760226c
                        symbol: TSLA
                        currency: USD
                        costBasis: 4
                        quantity: 0.01648699
                        currentMarketPrice: 253.76
                        currentMarketValue: 4.18
                        unrealizedPnL: 0.18
                        effectiveCostPerShare: 242.6155411
                        taxLots:
                          - id: 3db27e74626adac3be7b549f2bbc0ab2480852a7
                            created: '2022-08-25T10:07:47.235Z'
                            initialQuantity: 0.01240767
                            openQuantity: 0.01240767
                            effectiveCostPerShare: 241.79
                            side: B
                            comment: SPLIT CAFB015132 TSLA...
                          - id: 3db27e74626adac3be7b549f2bbc0ab2480852a7X
                            created: '2023-09-25T15:28:12.120Z'
                            initialQuantity: 0.00407932
                            openQuantity: 0.00407932
                            effectiveCostPerShare: 245.14
                            side: B
                            comment: TSLA FRACK part TSLA KI...
  /accounts/{accountID}/options/positions:
    get:
      tags:
        - Positions
      summary: Retrieve Account Option Positions
      operationId: Positions_getAccountOption
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Retrieves Account Option Positions
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - description: The expiration date of options; to filter by.
          in: query
          name: filterBy
          schema:
            type: string
          example: expirationDate
        - description: The start date of the range of option's expiration.
          in: query
          name: from
          schema:
            type: string
          example: '2023-02-16'
        - description: The end date of the range of option's expiration.
          in: query
          name: to
          schema:
            type: string
          required: false
          example: '2023-02-16'
        - description: The number of results to be returned.
          in: query
          name: limit
          schema:
            type: number
            default: 50
          required: false
          example: 10
        - description: The identifier of the page.
          in: query
          name: offset
          schema:
            type: string
          required: false
          example: >-
            86572e14-84ae-4f0c-9533-3c9432637f8e.1627500314555#65d1aee9-9a6c-4720-9879-71c4fcf43060.2023-12-07T21:17:45.743Z
      responses:
        '200':
          description: Retrieving Account Option Positions was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptPositionRes'
  /asset-transfers/acats:
    post:
      tags:
        - Asset Transfer
      summary: Create ACATS Transfer
      operationId: AssetTransfer_createAcatsTransfer
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        The Automated Customer Account Transfer Service (ACATS) is a system that
        facilitates the transfer of securities from one trading account to
        another at a different brokerage firm or bank.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcatsCreateRequestModel'
      responses:
        '200':
          description: Initiating a transfer was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACATSTransfer'
              examples:
                Automated Customer Transfer Full:
                  value:
                    id: acats_41eb5bdd-8ce2-4471-8fc6-9892da089cd1
                    source: BROKER0001
                    destination: DWXR001004
                    clearingNo: '0001'
                    status:
                      description: Asset transfer request is pending
                      name: PENDING
                    type:
                      description: ACAT transfer
                      name: ACAT
                    acatType:
                      description: Full Acats Transfer
                      name: FULL
                    sourceAccountType:
                      description: Individual Account
                      name: INDIVIDUAL
                    positions: []
                    metadata: {}
                    auditDetails:
                      - timestamp: '2023-07-28T23:56:10.507Z'
                        status:
                          description: Asset transfer request has been initiated.
                          name: STARTED
                        comment: Transfer request has been submitted in queue
                      - timestamp: '2023-07-28T23:56:10.645Z'
                        status:
                          description: Asset transfer request is pending
                          name: PENDING
                        comment: <string>
                    created: '2023-07-28T23:56:10.491Z'
                    updated: '2023-07-28T23:56:10.667Z'
                Automated Customer Transfer Partial:
                  value:
                    id: acats_45dc50ac-3daa-484d-98cb-5264abb51d86
                    source: FOLIO123
                    destination: DWKN000094
                    clearingNo: '0001'
                    status:
                      description: Asset transfer request has been initiated.
                      name: STARTED
                    acatType:
                      description: Partial Acats Transfer
                      name: PARTIAL
                    sourceAccountType:
                      description: Individual Account
                      name: INDIVIDUAL
                    cash: 10
                    positions:
                      - symbol: META
                        instrumentID: 4312a85c-93ba-4adb-b50d-cc7973243a53
                        quantity: 1
                Automated Customer Transfer:
                  value:
                    source: FOLIO12345
                    destination: DWST000077
                    clearingNo: '0001'
                    sourceAccountType:
                      description: Individual Account
                      name: INDIVIDUAL
                    acatType:
                      description: Full Acats Transfer
                      name: FULL
                    cash: 0
                    positions:
                      - symbol: AMZN
                        instrumentID: 4312a85c-93ba-4adb-b50d-cc7973243a53
                        quantity: 1
                    comment: string
                    metadata: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetTransferCreateAcatsTransferResponse'
              examples:
                Invalid accountNo on request body:
                  value:
                    errorCode: A012
                    message: >-
                      A required accountNo is missing or invalid. Refer to the
                      API documentation for details.
                    errorDetails:
                      field: destination
                      type: STRING
                Source and Destination are same:
                  value:
                    errorCode: E032
                    message: >-
                      Invalid or missing parameters in the request body. Refer
                      to the API documentation for details. Details: Source
                      can't be DW account
                Destination account is not approved:
                  value:
                    errorCode: T005
                    message: >-
                      ACAT Transfer cannot initiate. Destination account is not
                      approved.
                Invalid Symbol:
                  value:
                    errorCode: E032
                    message: >-
                      Invalid or missing parameters in the request body. Refer
                      to the API documentation for details. Details: Symbol is
                      not active or invalid.
                    errorDetails:
                      field: positions.symbol
                      type: ARRAY
  /asset-transfers/minor-graduation:
    post:
      tags:
        - Asset Transfer
      summary: Create Minor Graduation Transfer
      operationId: AssetTransfer_createMinorGraduationTransfer
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        If an Account is opened for the purpose of allowing a minor to invest,
        this API will allow for the transfer of assets from this account to the
        minor's own named account once they reach the age of majority.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericTransferRequest'
            examples:
              Minor Graduation:
                value:
                  source: LKGE000001
                  destination: LKKZ000004
                  comment: Migrating Teen account to Individual account.
                  metadata: {}
      responses:
        '200':
          description: Initiating a transfer was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACATSTransfer'
              examples:
                Minor Graduation:
                  value:
                    id: grad_28d08c72-3d0f-4c6e-8961-2dc6491c28a8
                    source: LKGE000001
                    destination: LKKZ000004
                    status:
                      description: Asset transfer request has been initiated.
                      name: STARTED
                    type:
                      description: Teen Account Transfer
                      name: TEEN
                    created: '2023-07-26T14:05:18.518Z'
  /asset-transfers/{assetTransferID}:
    parameters:
      - schema:
          type: string
        name: assetTransferID
        in: path
        required: true
    get:
      tags:
        - Asset Transfer
      summary: Retrieve Transfer
      operationId: AssetTransfer_getDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Get a Transfer's current details.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACATSTransfer'
              examples:
                Successful ACATS Transfer:
                  value:
                    id: acats_0a18eea2-c63d-447a-a0f1-1c7d9a08c9da
                    source: TR6666
                    destination: FWCT000005
                    clearingNo: '1111'
                    status:
                      description: Asset transfer request has been successfully completed
                      name: SUCCESSFUL
                    type:
                      description: ACAT transfer
                      name: ACAT
                    acatType:
                      description: Partial Acats Transfer
                      name: PARTIAL
                    acatTransit:
                      description: Incoming Acats Transfer
                      name: ACAT_IN
                    sourceAccountType:
                      description: Individual Account
                      name: INDIVIDUAL
                    partner:
                      id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621
                      name: Stark House
                    positions:
                      - symbol: ACHN
                        instrumentID: 27673f0e-2219-40b0-9ecc-91c87266efaf
                        quantity: 1
                      - symbol: SBSI
                        instrumentID: 1c6c1625-8146-4dd3-a84b-c6a97cd74bcf
                        quantity: 56
                    metadata: {}
                    auditDetails:
                      - timestamp: '2023-10-20T13:02:50.970Z'
                        status:
                          description: Asset transfer request has been initiated.
                          name: STARTED
                        comment: Transfer request has been submitted in queue
                      - timestamp: '2023-10-20T15:00:04.185Z'
                        status:
                          description: Asset transfer request is pending
                          name: PENDING
                        comment: TIF has been created
                      - timestamp: '2023-11-02T00:01:19.340Z'
                        status:
                          description: >-
                            Asset transfer request has been successfully
                            completed
                          name: SUCCESSFUL
                        comment: Transfer Settled
                    created: '2023-10-20T13:02:50.960Z'
                    updated: '2023-11-02T00:01:19.340Z'
                Failed ACATS Transfer:
                  value:
                    id: acats_d9faa000-9d97-4ab8-85f8-cbd856d31b79
                    source: TR6666
                    destination: FWRT000005
                    clearingNo: '1111'
                    status:
                      description: Asset transfer is failed.
                      name: FAILED
                    type:
                      description: ACAT transfer
                      name: ACAT
                    acatType:
                      description: Full Acats Transfer
                      name: FULL
                    sourceAccountType:
                      description: Individual Account
                      name: INDIVIDUAL
                    partner:
                      id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621X
                      name: Stark House
                    positions: []
                    metadata:
                      customer_id: '12345'
                    rejectionInfo:
                      rejectionCode: ACCOUNT_NOT_MATCH
                      rejectionReason: Account Title Mismatch
                    auditDetails:
                      - timestamp: '2023-08-28T11:30:26.367Z'
                        status:
                          description: Asset transfer request has been initiated.
                          name: STARTED
                        comment: Transfer request has been submitted in queue
                      - timestamp: '2023-09-12T15:55:03.294Z'
                        status:
                          description: Asset transfer request is pending
                          name: PENDING
                        comment: Request has been submitted for ACAT transfer
                      - timestamp: '2023-11-02T00:01:34.330Z'
                        status:
                          description: Asset transfer is failed.
                          name: FAILED
                        comment: >-
                          Full Transfer Rejected. Contact Clearing Broker for
                          further information
                    created: '2023-08-28T11:30:25.805Z'
                    updated: '2023-11-02T00:01:34.330Z'
                Minor Graduation:
                  value:
                    id: grad_28d08c72-3d0f-4c6e-8961-2dc6491c28a8X
                    source: LKGE000001
                    destination: LKKZ000004
                    status:
                      description: Asset transfer request has been initiated.
                      name: STARTED
                    acatType:
                      description: Full ACATs Transfer
                      name: FULL
                    type:
                      description: Teen Account Transfer
                      name: TEEN
                    partner:
                      id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621X
                      name: Stark House
                    auditDetails:
                      - timestamp: '2023-07-26T14:05:18.518Z'
                        status:
                          description: Asset transfer request has been initiated.
                          name: STARTED
                        comment: Transfer request has been submitted in queue
                    created: '2023-07-26T14:05:18.518Z'
  /asset-transfers:
    get:
      tags:
        - Asset Transfer
      summary: List Transfers
      operationId: AssetTransfer_listTransfers
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        Lists all of your Transfers across all Accounts. This can be filtered by
        type of Transfer.
      parameters:
        - description: A status to filter by
          schema:
            $ref: '#/components/schemas/AssetTransferStatus'
          in: query
          name: status
        - description: A Transfer type to filter by
          schema:
            $ref: '#/components/schemas/AssetTransferType'
          in: query
          name: type
          required: true
        - description: Maximum number of records to be returned
          in: query
          name: limit
          schema:
            type: string
        - description: >-
            Specify an identifier from last API response to go to the next page
            or prev page
          in: query
          name: offset
          schema:
            type: string
        - description: Go to the next page or prev page
          in: query
          name: direction
          schema:
            type: string
            enum:
              - prev
              - next
      responses:
        '200':
          description: Listing Transfers was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetTransferListTransfersResponse'
              examples:
                List Assets Transfers [TEEN]:
                  value:
                    data:
                      - id: grad_ba9522d8-0f3a-43bd-bb16-9efc0ad1a913
                        source: DWCW001118
                        destination: DWYE001127
                        status:
                          description: >-
                            Asset transfer request has been successfully
                            completed
                          name: SUCCESSFUL
                        type:
                          description: Teen Account Transfer
                          name: TEEN
                        partner:
                          id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621X
                          name: Stark House
                        auditDetails:
                          - timestamp: '2023-10-25T16:00:42.126Z'
                            status:
                              description: Asset transfer request has been initiated.
                              name: STARTED
                            comment: Transfer request has been submitted in queue
                          - timestamp: '2023-10-25T16:00:42.257Z'
                            status:
                              description: Asset transfer request is pending
                              name: PENDING
                            comment: Transfer process started
                          - timestamp: '2023-10-27T21:00:07.959Z'
                            status:
                              description: Asset transfer request is on hold.
                              name: ON_HOLD
                            comment: >-
                              Transfer is on hold for DWCW001118. Settlement is
                              not finished yet.
                          - timestamp: '2023-10-28T14:00:02.453Z'
                            status:
                              description: >-
                                Asset transfer request has been successfully
                                completed
                              name: SUCCESSFUL
                            comment: Transfer Completed
                        created: '2023-10-25T16:00:42.126Z'
                        updated: '2023-10-28T14:00:02.453Z'
                      - id: grad_47edac5a-57f0-456a-83ca-128205fcdf3d
                        source: DWXG000976
                        destination: DWHZ001105
                        status:
                          description: Asset transfer request is on hold.
                          name: ON_HOLD
                        type:
                          description: Teen Account Transfer
                          name: TEEN
                        partner:
                          id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621X
                          name: Stark House
                        auditDetails:
                          - timestamp: '2023-10-29T04:00:56.167Z'
                            status:
                              description: Asset transfer request has been initiated.
                              name: STARTED
                            comment: Transfer request has been submitted in queue
                          - timestamp: '2023-10-29T04:00:56.309Z'
                            status:
                              description: Asset transfer request is pending
                              name: PENDING
                            comment: Transfer process started
                          - timestamp: '2023-11-01T21:00:02.207Z'
                            status:
                              description: Asset transfer request is on hold.
                              name: ON_HOLD
                            comment: >-
                              Transfer is on hold for DWXG000976. Settlement is
                              not finished yet.
                        created: '2023-10-29T04:00:56.167Z'
                        updated: '2023-11-01T21:00:02.207Z'
                    nextPageOffset: >-
                      25f77a3e-2a4b-48bf-bea2-1b8bcd541621#grad_47edac5a-57f0-456a-83ca-128205fcdf3d#2023-07-28T23:55:34.142Z
                    prevPageOffset: ''
                List Assets Transfers [ACAT]:
                  value:
                    data:
                      - id: acats_d83e92cb-ca72-4d0d-9576-ede66ffcee2b
                        source: TR6666
                        destination: FWCT000005
                        clearingNo: '1111'
                        status:
                          description: Asset transfer request is pending
                          name: PENDING
                        type:
                          description: ACAT transfer
                          name: ACAT
                        acatType:
                          description: Partial Acats Transfer
                          name: PARTIAL
                        acatTransit:
                          description: Incomming Acats Transfer
                          name: ACAT_IN
                        sourceAccountType:
                          description: Individual Account
                          name: INDIVIDUAL
                        partner:
                          id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621X
                          name: Stark House
                        cash: 12345.67
                        positions:
                          - symbol: SBSI
                            instrumentID: 1c6c1625-8146-4dd3-a84b-c6a97cd74bcf
                            quantity: 213
                        metadata: {}
                        auditDetails:
                          - timestamp: '2023-10-20T13:18:42.383Z'
                            status:
                              description: Asset transfer request has been initiated.
                              name: STARTED
                            comment: Transfer request has been submitted in queue
                          - timestamp: '2023-10-20T15:00:04.207Z'
                            status:
                              description: Asset transfer request is pending
                              name: PENDING
                            comment: TIF has been created
                        created: '2023-10-20T13:18:42.347Z'
                        updated: '2023-10-20T15:00:04.216Z'
                      - id: acats_0a18eea2-c63d-447a-a0f1-1c7d9a08c9daX
                        source: TR6666
                        destination: FWCT000005
                        clearingNo: '1111'
                        status:
                          description: >-
                            Asset transfer request has been successfully
                            completed
                          name: SUCCESSFUL
                        type:
                          description: ACAT transfer
                          name: ACAT
                        acatType:
                          description: Partial Acats Transfer
                          name: PARTIAL
                        sourceAccountType:
                          description: Individual Account
                          name: INDIVIDUAL
                        partner:
                          id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621X
                          name: Stark House
                        positions:
                          - symbol: ACHN
                            instrumentID: 27673f0e-2219-40b0-9ecc-91c87266efaf
                            quantity: 1
                          - symbol: SBSI
                            instrumentID: 1c6c1625-8146-4dd3-a84b-c6a97cd74bcf
                            quantity: 56
                        metadata: {}
                        auditDetails:
                          - timestamp: '2023-10-20T13:02:50.970Z'
                            status:
                              description: Asset transfer request has been initiated.
                              name: STARTED
                            comment: Transfer request has been submitted in queue
                          - timestamp: '2023-10-20T15:00:04.185Z'
                            status:
                              description: Asset transfer request is pending
                              name: PENDING
                            comment: TIF has been created
                          - timestamp: '2023-11-02T00:01:19.340Z'
                            status:
                              description: >-
                                Asset transfer request has been successfully
                                completed
                              name: SUCCESSFUL
                            comment: Transfer Settled
                        created: '2023-10-20T13:02:50.960Z'
                        updated: '2023-11-02T00:01:19.340Z'
                      - id: acats_d9faa000-9d97-4ab8-85f8-cbd856d31b79X
                        source: TR6666
                        destination: FWRT000005
                        clearingNo: '1111'
                        status:
                          description: Asset transfer is failed.
                          name: FAILED
                        type:
                          description: ACAT transfer
                          name: ACAT
                        acatType:
                          description: Full Acats Transfer
                          name: FULL
                        sourceAccountType:
                          description: Individual Account
                          name: INDIVIDUAL
                        partner:
                          id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621X
                          name: Stark House
                        positions: []
                        metadata:
                          customer_id: '12345'
                        rejectionInfo:
                          rejectionCode: ACCOUNT_NOT_MATCH
                          rejectionReason: Account Title Mismatch
                        auditDetails:
                          - timestamp: '2023-08-28T11:30:26.367Z'
                            status:
                              description: Asset transfer request has been initiated.
                              name: STARTED
                            comment: Transfer request has been submitted in queue
                          - timestamp: '2023-09-12T15:55:03.294Z'
                            status:
                              description: Asset transfer request is pending
                              name: PENDING
                            comment: Request has been submitted for ACAT transfer
                          - timestamp: '2023-11-02T00:01:34.330Z'
                            status:
                              description: Asset transfer is failed.
                              name: FAILED
                            comment: >-
                              Full Transfer Rejected. Contact Clearing Broker
                              for further information
                        created: '2023-08-28T11:30:25.805Z'
                        updated: '2023-11-02T00:01:34.330Z'
                    nextPageOffset: >-
                      25f77a3e-2a4b-48bf-bea2-1b8bcd541621#acats_d9faa000-9d97-4ab8-85f8-cbd856d31b79#2023-08-28T11:30:25.805Z
                    prevPageOffset: ''
  /asset-transfers/cancel-rebills:
    post:
      tags:
        - Cancel Rebill
      summary: Create Cancel Rebill
      operationId: CancelRebill_create
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Create Cancel Rebill
      requestBody:
        description: Created Cancel Rebill
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRebillRequest'
            examples:
              'Create Cancel ':
                value:
                  orderNo: IKJL0000001
                  type: CANCEL
                  reason: FRAUD
                  approvedBy: John Doe
                  comment: Fraud detected.
                  metadata:
                    - {}
              Create Price Adjustment:
                value:
                  orderNo: IKJL0000001
                  type: PRICE_ADJUSTMENT
                  reason: PRICE_ADJUSTMENT_PARTNER
                  adjustedPrice: 22.99
                  approvedBy: John Doe
                  comment: Incorrect price during execution.
                  metadata:
                    - {}
              Create Commission Adjustment:
                value:
                  orderNo: IKJL0000001
                  type: COMMISSION_ADJUSTMENT
                  reason: PARTNER_TECHNICAL_ERROR
                  adjustedCommission: 2.99
                  approvedBy: John Doe
                  comment: Incorrect commission during execution.
                  metadata:
                    - {}
      responses:
        '200':
          description: Creating a Cancel Rebill was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelRebillResponse'
              examples:
                Cancel Rebill Response:
                  value:
                    id: cxl_rbl_497f6eca-6276-4993-bfeb-53cbbbba6f08
                    reason:
                      description: Price Adjustment via Partner
                      name: PRICE_ADJUSTMENT_PARTNER
                    type:
                      description: Price Adjustment
                      name: PRICE_ADJUSTMENT
                    orderNo: KJG000001
                    approvedBy: John Doe
                    status:
                      description: The cancel rebill has been started
                      name: STARTED
                    comment: reported NSF
    get:
      tags:
        - Cancel Rebill
      summary: List Cancel Rebills
      operationId: CancelRebill_listCancelRebills
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Get all the Cancel Rebills
      parameters:
        - description: The start date of the range of Cancel Rebill.
          name: from
          in: query
          required: true
          schema:
            type: string
            example: '2023-04-22'
        - description: The end date of the range of Cancel Rebill.
          name: to
          in: query
          required: true
          schema:
            type: string
            example: '2023-04-22'
        - name: partnerID
          in: query
          schema:
            type: string
            example: 5730ee28-78cb-4736-9c99-ede6dc1084a3
        - description: The Cancel Rebill status code.
          name: status
          in: query
          required: true
          schema:
            type: string
            example: STARTED
            enum:
              - STARTED
              - PENDING
              - ON_HOLD
              - APPROVED
              - REJECTED
              - SUCCESSFUL
        - description: The number of records to be returned by the query.
          name: limit
          in: query
          required: false
          schema:
            type: integer
            example: 20
            minimum: 1
            maximum: 200
            default: 50
        - description: The offset of the last queried result.
          name: offset
          in: query
          required: false
          schema:
            type: string
            example: >-
              5730ee28-78cb-4736-9c99-ede6dc1084a3#cxl_rbl_5730ee28-78cb-4736-9c99-ede6dc1084a3
        - name: direction
          in: query
          required: false
          schema:
            type: string
            enum:
              - next
              - previous
            default: next
            example: next
      responses:
        '200':
          description: Retrieving Cancel Rebills was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelRebillDetailResponse'
  /asset-transfers/cancel-rebills/{id}:
    get:
      tags:
        - Cancel Rebill
      summary: Retrieve Cancel Rebill
      operationId: CancelRebill_getDetailsById
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Get Cancel Rebill details by ID.
      parameters:
        - description: The identifier of the Cancel Rebill.
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retrieving Cancel Rebill was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelRebillResponse'
              examples:
                Cancel Rebill Response:
                  value:
                    id: cxl_rbl_497f6eca-6276-4993-bfeb-53cbbbba6f08X
                    reason:
                      description: Price Adjustment via Partner
                      name: PRICE_ADJUSTMENT_PARTNER
                    type:
                      description: Price Adjustment
                      name: PRICE_ADJUSTMENT
                    orderNo: KJG000001
                    approvedBy: John Doe
                    status:
                      description: The cancel rebill has been started
                      name: STARTED
                    comment: reported NSF
  /auth:
    post:
      tags:
        - Auth
      summary: Create Authentication Token
      operationId: Auth_tokenCreate
      security: []
      description: >-
        Creates an authentication token for an implementer to utilize for
        subsequent API requests.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuthTokenReq'
      responses:
        '200':
          description: Creating Authentication Token was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthToken'
      deprecated: true
  /auth/tokens:
    post:
      tags:
        - Auth
      summary: Create Session Token
      operationId: Auth_createSessionToken
      security: []
      description: >-
        Creates a session token for an implementer to utilize for subsequent API
        requests.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessTokenReq'
      responses:
        '200':
          description: Creating Session Token was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSessToken'
  /countries:
    get:
      tags:
        - Supported Countries
      summary: List Supported Countries
      operationId: SupportedCountries_getList
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        Retrieves a list of allowed countries for which users can be onboard
        from.
      parameters:
        - description: >-
            Filters on the returned countries list has inactive or active
            countries inside it.
          in: query
          name: status
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
          required: true
          example: ACTIVE
      responses:
        '200':
          description: Retrieving a list of Supported Countries was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfAllowedCountries'
  /funding/deposits:
    post:
      tags:
        - Deposits
      summary: Create Deposit
      operationId: Deposits_createUserDeposit
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Creates a Deposit for a User's Account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositRequestReq'
            examples:
              Individual ACH Deposit:
                value:
                  accountNo: DWFS001102
                  amount: 100.25
                  currency: USD
                  type: ACH
                  bankAccountID: bank_a4656e60-321e-425b-aa0d-a2e75c38885f
              Bulk Deposit:
                value:
                  accountNo: DWFS001102
                  amount: 100.25
                  currency: USD
                  type: BULK_FUNDING
      responses:
        '200':
          description: Creating a User's Account Deposit was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deposit'
  /funding/deposits/{depositID}:
    get:
      tags:
        - Deposits
      summary: Retrieve Deposit
      operationId: Deposits_getById
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetches a deposit by the unique Deposit identifier.
      parameters:
        - description: A unique identifier for the user's account deposit.
          in: path
          name: depositID
          schema:
            $ref: '#/components/schemas/depositID'
          required: true
      responses:
        '200':
          description: Fetching a Deposit was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositByDepositID'
  /disclosures:
    get:
      tags:
        - Disclosures
      summary: List Disclosures
      operationId: Disclosures_listItems
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetches a list of disclosures.
      responses:
        '200':
          description: Fetching A List of Disclosures was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfDisclosures'
  /disclosures/{disclosureID}:
    get:
      tags:
        - Disclosures
      summary: Retrieve Disclosure
      operationId: Disclosures_getDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetches a disclosure's details by disclosureID.
      parameters:
        - in: path
          name: disclosureID
          schema:
            $ref: '#/components/schemas/disclosureID'
          required: true
      responses:
        '200':
          description: Disclosure was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disclosure'
  /users/{userID}/acknowledgments:
    post:
      tags:
        - Disclosures
      summary: Create Disclosure Acknowledgment
      operationId: Disclosures_acknowledgeUserDisclosure
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Creates a user's disclosure acknowledgment.
      parameters:
        - in: path
          name: userID
          schema:
            $ref: '#/components/schemas/userID'
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAcknowledgmentInput'
      responses:
        '200':
          description: Creating a disclosure acknowledgment was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgment'
    get:
      tags:
        - Disclosures
      summary: List Disclosures Acknowledgments by User
      operationId: Disclosures_listUserAcknowledgments
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetches a list of disclosures acknowledgments for the given user.
      parameters:
        - in: path
          name: userID
          schema:
            $ref: '#/components/schemas/userID'
          required: true
      responses:
        '200':
          description: Fetching A List of Disclosure Acknowledgments was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfAcknowledgments'
  /exchanges:
    post:
      tags:
        - Exchanges
      summary: Create Exchange
      operationId: Exchanges_createExchange
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        Exchanges allow for the simultaneous sale of a held security and
        purchase of another. This can be used with Mutual Funds, as they only
        trade once per day.
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangesCreateExchangeRequest'
            examples:
              Example 1:
                value:
                  accountNo: DWPH000003
                  sellSymbol: VTSMX
                  buySymbol: VTSAX
                  amountCash: 100
                  quantity: 10
      responses:
        '200':
          description: Creating an Exchange was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesCreateExchangeResponse'
              examples:
                Example 1:
                  value:
                    id: IC.0e352bb7-9869-4233-9861-1173544efedd
                    exchangeNo: ICDU023727
    patch:
      tags:
        - Exchanges
      summary: Update Exchange
      operationId: Exchanges_cancelPendingOrder
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        When an exchange is placed but has not yet been executed (order
        pending), the order can still be cancelled. This will automatically
        cancel the underlying buy and sell orders as well. It also produces an
        exchange.completed event for the exchange and order.completed events for
        the underlying buy and sell orders.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangesCancelPendingOrderRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesCancelPendingOrderResponse'
              examples:
                Example 1:
                  value:
                    id: IC.0e352bb7-9869-4233-9861-1173544efeddX
                    exchangeNo: ICDU023727
  /exchanges/{exchangeIdentifier}:
    parameters:
      - description: The Exchange ID (id) or Exchange Number (exchangeNo)
        schema:
          type: string
        name: exchangeIdentifier
        in: path
        required: true
    get:
      tags:
        - Exchanges
      summary: Retrieve Exchange
      operationId: Exchanges_getDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        To retrieve specific exchange details the exchange endpoint can be used.
        In addition the underlying buy and sell trades, which make up the
        exchange order, will be available through the existing get order
        endpoint. 
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesGetDetailsResponse'
              examples:
                Getting Exchange information by ID:
                  value:
                    id: GC.f7590a52-75c7-4f3a-92c7-6b03e02dc44f
                    exchangeNo: ICDU023727
                    status: FILLED
                    sellSymbol: VTSMX
                    sellOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d111
                    sellOrderNo: EFXM000103
                    buySymbol: VTSAX
                    buyOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d222
                    buyOrderNo: EFXM001102
                    sellAveragePrice: 10
                    sellCumulativeQuantity: 100
                    buyAveragePrice: 50
                    buyCumulativeQuantity: 20
                    amountCash: 1000
                    fees: 0
                    orderExpires: '2019-03-29T20:00:00.000Z'
                    createdBy: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                    userID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                    accountID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd.1403540676095
                    accountNo: DWZR000001
                    created: '2019-03-28T22:40:03.240Z'
  /accounts/{accountID}/summary/exchanges:
    parameters:
      - description: The account id of the user where the order was placed
        schema:
          type: string
        name: accountID
        in: path
        required: true
    get:
      tags:
        - Exchanges
      summary: List Exchanges by Account
      operationId: Exchanges_listByAccount
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        To retrieve all pending exchanges for an account the below endpoint can
        be used. In addition the underlying buy and sell trades which make up
        the exchange order will be available through the existing account
        summary endpoint.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesListByAccountResponse'
              examples:
                Getting all pending exchange:
                  value:
                    accountID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd.1403540676095
                    accountNo: DWBG000052
                    tradingType: CASH
                    updated: '2021-04-23T18:41:32.440Z'
                    exchanges:
                      - id: GC.f7590a52-75c7-4f3a-92c7-6b03e02dc11f
                        exchangeNo: ICDU023727
                        status: NEW
                        sellSymbol: VTSMX
                        sellOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d112
                        sellOrderNo: EFXM000203
                        buySymbol: VTSAX
                        buyOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d223
                        buyOrderNo: EFXM002102
                        amountCash: 0
                        sellAveragePrice: 0
                        sellCumulativeQuantity: 0
                        buyAveragePrice: 0
                        buyCumulativeQuantity: 0
                        fees: 0
                        orderExpires: '2019-03-29T20:00:00.000Z'
                        createdBy: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                        userID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                        accountID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd.1403540676095
                        accountNo: DWZR000001
                        created: '2019-03-28T22:40:03.240Z'
  /accounts/{accountID}/reports/exchange-history:
    parameters:
      - description: The account id of the user where the order was placed
        schema:
          type: string
        name: accountID
        in: path
        required: true
    get:
      tags:
        - Exchanges
      summary: Retrieve Exchange History by Account
      operationId: Exchanges_getExchangeHistory
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        To retrieve ALL exchanges for an account the below endpoint can be used.
        In addition the underlying buy and sell trades which make up the
        exchange order will be available through the existing account summary
        endpoint. 
      responses:
        '200':
          description: retrieving Exchange History by Account was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesGetExchangeHistoryResponse'
              examples:
                Exchanges:
                  value:
                    accountID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd.1403540676095
                    accountNo: DWBG000052
                    tradingType: CASH
                    updated: '2021-04-23T18:41:32.440Z'
                    exchanges:
                      - id: GC.f7590a52-75c7-4f3a-92c7-6b03e02dc11fX
                        exchangeNo: ICDU023727
                        status: FILLED
                        sellSymbol: VTSMX
                        sellOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d112
                        sellOrderNo: EFXM000203
                        buySymbol: VTSAX
                        buyOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d223
                        buyOrderNo: EFXM002102
                        amountCash: 1000
                        sellAveragePrice: 10
                        sellCumulativeQuantity: 100
                        buyAveragePrice: 50
                        buyCumulativeQuantity: 20
                        fees: 0
                        orderExpires: '2019-03-29T20:00:00.000Z'
                        createdBy: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                        userID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                        accountID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd.1403540676095
                        accountNo: DWZR000001
                        created: '2019-03-28T22:40:03.240Z'
  /bars:
    get:
      tags:
        - Charts
      summary: Retrieve Chart
      operationId: Charts_getBars
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch historical bars for a given instrument over a given time period.
      parameters:
        - description: >-
            A unique ID created by DriveWealth to identify a specific
            instrument.
          in: query
          name: instrumentID
          schema:
            type: string
          required: true
          example: 3fb1e8a9-f7d5-4d90-95e2-43e7326b5636
        - description: >-
            The compression number represents the time increments of the chart
            data. Refer to the Compression table above.
          in: query
          name: compression
          schema:
            type: string
            enum:
              - '0'
              - '1'
              - '4'
              - '8'
              - '9'
              - '10'
          required: true
          example: '9'
        - description: The start date of the chart data. Follow ISO-8601 format.
          in: query
          name: dateStart
          schema:
            type: string
          required: true
          example: '2022-11-10T00:00:00Z'
        - description: The end date of the chart data. Follow ISO-8601 format.
          in: query
          name: dateEnd
          schema:
            type: string
          required: true
          example: '2022-11-18T23:59:00Z'
        - description: >-
            TradingDays may be defined as 1-60 days in the past from the current
            date. If set do not use `dateStart` and `dateEnd` values.
          in: query
          name: tradingDays
          schema:
            type: string
          required: false
          example: '20'
      responses:
        '200':
          description: Fetching Chart details was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bars'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartsGetBarsResponse'
              examples:
                Invalid request for daily bars:
                  value:
                    errorCode: B100
                    message: >-
                      The number of bars requested has exceeded the maximum
                      allowed of 10 Years for Daily bars.
                Invalid request for one minute bars:
                  value:
                    errorCode: B100
                    message: >-
                      The number of bars requested has exceeded the maximum
                      allowed of 1 Month for 1 minute bars.
                Invalid request for five minutes bars:
                  value:
                    errorCode: B100
                    message: >-
                      The number of bars requested has exceeded the maximum
                      allowed of 2 Months for 5 minutes bars.
                Invalid request for thirty minutes bars:
                  value:
                    errorCode: B100
                    message: >-
                      The number of bars requested has exceeded the maximum
                      allowed of 1 Year for 30 minutes bars.
                Invalid request for one hour bars:
                  value:
                    errorCode: B100
                    message: >-
                      The number of bars requested has exceeded the maximum
                      allowed of 2 Years for 1 hour bars.
                Invalid request for weekly bars:
                  value:
                    errorCode: B100
                    message: >-
                      The number of bars requested has exceeded the maximum
                      allowed of 20 Years for Weekly bars.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartsGetBars500Response'
              examples:
                OneTick bars request exceeded:
                  value:
                    errorCode: OT002
                    message: >-
                      The Number of Bars request has exceeded the maximum
                      allowed Bars.
                Other OneTick Errors:
                  value:
                    errorCode: OT003
                    message: Unable to retrieve bars data.
  /instruments:
    get:
      tags:
        - Instruments
      summary: List Instruments
      operationId: Instruments_listAll
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: >-
        Fetch a list of all the available Instruments offered on the DriveWealth
        platform. This endpoint will return an array of over 6,500+ instrument
        objects.
      parameters:
        - description: The instrument status; to filter by.
          in: query
          name: status
          schema:
            type: string
          required: false
          example: ACTIVE
        - description: The ability to trade options for this instrument; to filter by.
          in: query
          name: isOptionsEnabled
          schema:
            type: boolean
          required: false
          example: true
      responses:
        '200':
          description: Fetching all Instruments was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instruments'
  /instruments/{symbolOrInstrumentID}:
    get:
      tags:
        - Instruments
      summary: Retrieve Instrument
      operationId: Instruments_getDetails
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Fetch the details of a specific Instrument.
      parameters:
        - description: >-
            A unique ID created by DriveWealth to identify a specific Equity
            Instrument or Option Instrument, also accept the market symbols like
            Ticker for Equities and OSI for Options.
          in: path
          name: symbolOrInstrumentID
          schema:
            type: string
          required: true
          example: 3fb1e8a9-f7d5-4d90-95e2-43e7326b5636
        - description: >-
            This query parameter will add an additional property;
            `fundamentalDataModel` to the response object for an Equity
            Instrument only. This data consists of financial data model specs
            for a specific Instrument.
          in: query
          name: options
          schema:
            type: string
          required: false
          example: Fundamentals
      responses:
        '200':
          description: Fetching Instrument details was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentsGetDetailsResponse'
  /instruments/{symbolOrInstrumentID}/options:
    get:
      tags:
        - Instruments
      summary: Retrieve Options Chain
      operationId: Instruments_getOptionsChain
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
      description: Retrieves a list of Options chain based on query parameters.
      parameters:
        - description: Symbol or instrumentID of the underlying equity security
          in: path
          name: symbolOrInstrumentID
          schema:
            type: string
          required: true
          example: AAPL
        - description: The expiration date of the option security; to filter by.
          in: query
          name: expirationDate
          schema:
            type: string
          required: true
          example: '2022-05-15'
        - in: query
          name: page
          schema:
            type: integer
          required: false
          example: 1
        - description: The number of option instruments to be returned per page.
          in: query
          name: pageSize
          schema:
            type: integer
          required: false
          example: 20
        - description: The sorting order of option instruments.
          in: query
[...]
