openapi: 3.0.3
info:
  title: Promotion Engine
  description: >

    This API is built on HTTP and is a RESTful API. This API is developed for
    merchants to be able to manage orders.

    The API services are published on HTTPS and use OAUTH2 protocol. All calls
    need to have an API key.


    # Definitions


    ### Product
      A product is the stock keeping unit (SKU), the item to sale. The attributes of a product could include manufacturer, material, service, warranty terms.
      The PIM is the repository of all products used by the different services of the solution

    ### Offer
      An offer is a set of products and represents the commercial agreements sent by the merchant.
      An offer can have:
      -  one or many products
      -  Prices
      -  Additional services
      -  A publication period, during this period the offer is active and can be ordered

    ### Order
      An order contains information allowing to purchase some offers.
      An order has one or several order lines, and each order line is for an offer.
      The order has mandatory information such as amounts, payments, and addresses.

    ### Dates
      All Gridbees services use UTC datetime and the default format is: <b>yyyy-MM-dd'T'HH:mm:ss.SSSZ</b>.
  version: v1
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://mock.gridbees.com
tags:
  - name: Customer Service
  - name: Booking Service
  - description: |
      List of services to manage promotions.
    name: Promotion Service
  - description: >
      A merchant needs to pull the offers list to sell. Each offer has a
      publication period (offer.startdate, offer.enddate). During this period,
      the merchant can sell the offer depending the availability.
    name: Offer Service
  - name: MasterData Service
  - name: Product Service
  - description: >
      The pricing service is used to check and guarantee all prices and services
      inside the submitted basket.
    name: Pricing Service
paths:
  /contact/search:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_getContacts
      description: >
        This service is used to retrieve contacts. The total number of contacts
        in the response is a parameter of the service.

        Contact your administrator to know or modify this value.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              Retail:
                value:
                  contactid: b731a80266fe4244b740add6439eeb64
                  requestcontext:
                    queryprojection:
                      - contactid
                      - trackingdata
                      - person
                      - customdata
                      - loyaltycards
            schema:
              $ref: '#/components/schemas/ContactRequest'
        required: true
      responses:
        '200':
          description: List contacts
          content:
            application/json:
              examples:
                Retail:
                  value:
                    - contactid: 99a6da096155410c96fa972cb5b4c4b6
                      tenantid: a6ca93d74c284a1bad47c04191af1188
                      unicitykey: '00000000125'
                      structure:
                        blcode: B2T
                        marketcode: EEMA
                      identifier:
                        externalnumid: CE0015224437
                      person:
                        persontype: PRIVATE
                        countrycode: FR
                        languagecode: fr
                        civility: MR
                        lastname: Alpha
                        firstname: Omega
                        birthdate: '1971-05-16T00:00:00.000Z'
                      emails:
                        - usage: BIL
                          uid: e289e7ef5fd34afaa7512e81d539265d
                          isprincipal: true
                          emailvalue: gridbees@gmail.com
                      phones:
                        - uid: ffd711971aec4134ba945136b42cea19
                          isprincipal: false
                          prefix: '+33'
                          phonevalue: '75332939'
                        - usage: BIL
                          uid: 23495ce25dc34089906173fd4662693d
                          isprincipal: true
                          phonevalue: '+34658912939'
                      addresses:
                        - usage: BIL
                          uid: 5e9b347270c44dddb66cf902e97bb90e
                          externalnumid: '5644990042'
                          isactive: true
                          streetname: BD Marechaux N.2
                          city: Paris
                          postalcode: '75012'
                          countrycode: FR
                          additionalinfo:
                            - attribute: CompanyName
                              value: My Little Company
                      identitydocuments:
                        - usage: PASSPORT
                          numid: 43358431A
                          emittercountrylocation: FR
                          isvalidated: true
                          isexternal: true
                      customdata:
                        - attribute: gdpr
                          value: '1'
                        - attribute: loyalty
                          value: '1'
                        - attribute: shoporigin
                          value: '610'
                      loyaltycards:
                        - externalnumid: GB01536637
                          loyalties:
                            - loyaltyid: '56371334'
                              unicitykey: Club Gridbees
                              label: Club Gridbees
                              tiers:
                                - code: Entry Level
                                  label: Entry Level (< 5 € Cash)
                                  level: '1.0'
                                - code: Redeemable Level
                                  label: Redeemable Level
                                  level: '2.0'
                      createdate: '2023-06-01T12:48:44.434Z'
              schema:
                $ref: '#/components/schemas/Contact'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /contact/stream:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_getContactsStream
      description: |
        This service is used to retrieve contacts. The response is a stream.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              Retail:
                value:
                  contactid: b731a80266fe4244b740add6439eeb64
                  requestcontext:
                    queryprojection:
                      - contactid
                      - trackingdata
                      - person
                      - customdata
                      - loyaltycards
            schema:
              $ref: '#/components/schemas/ContactRequest'
        required: true
      responses:
        '200':
          description: List Contacts (stream results)
          content:
            application/json:
              examples:
                Retail:
                  value:
                    - contactid: 99a6da096155410c96fa972cb5b4c4b6
                      tenantid: a6ca93d74c284a1bad47c04191af1188
                      unicitykey: '00000000125'
                      structure:
                        blcode: B2T
                        marketcode: EEMA
                      identifier:
                        externalnumid: CE0015224437
                      person:
                        persontype: PRIVATE
                        countrycode: FR
                        languagecode: fr
                        civility: MR
                        lastname: Alpha
                        firstname: Omega
                        birthdate: '1971-05-16T00:00:00.000Z'
                      emails:
                        - usage: BIL
                          uid: e289e7ef5fd34afaa7512e81d539265d
                          isprincipal: true
                          emailvalue: gridbees@gmail.com
                      phones:
                        - uid: ffd711971aec4134ba945136b42cea19
                          isprincipal: false
                          prefix: '+33'
                          phonevalue: '75332939'
                        - usage: BIL
                          uid: 23495ce25dc34089906173fd4662693d
                          isprincipal: true
                          phonevalue: '+34658912939'
                      addresses:
                        - usage: BIL
                          uid: 5e9b347270c44dddb66cf902e97bb90e
                          externalnumid: '5644990042'
                          isactive: true
                          streetname: BD Marechaux N.2
                          city: Paris
                          postalcode: '75012'
                          countrycode: FR
                          additionalinfo:
                            - attribute: CompanyName
                              value: My Little Company
                      identitydocuments:
                        - usage: PASSPORT
                          numid: 43358431A
                          emittercountrylocation: FR
                          isvalidated: true
                          isexternal: true
                      customdata:
                        - attribute: gdpr
                          value: '1'
                        - attribute: loyalty
                          value: '1'
                        - attribute: shoporigin
                          value: '610'
                      loyaltycards:
                        - externalnumid: GB01536637
                          loyalties:
                            - loyaltyid: '56371334'
                              unicitykey: Club Gridbees
                              label: Club Gridbees
                              tiers:
                                - code: Entry Level
                                  label: Entry Level (< 5 € Cash)
                                  level: '1.0'
                                - code: Redeemable Level
                                  label: Redeemable Level
                                  level: '2.0'
                      createdate: '2023-06-01T12:48:44.434Z'
              schema:
                $ref: '#/components/schemas/CustomerServiceGetContactsStreamResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /contact/set:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_createNewContact
      description: |
        This service is used to create a new contact.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >
          Contact to create. Technical fields (contactid, uid, create and update
          date, ..) will be discarded if filled in the request body. unicitikey
          will be autotically generated, if not supplied.

          During the creation process, the service will check :

          - if structure is in the request body, blcode must be filled

          - if legalentity is in the request body,commercialname and companyname
          must be filled

          - for each address,countrycode, postalcode, streetname must be filled

          - if email is defined, emailvalue must be filled

          - if phone is defined, phonevalue must be filled
        content:
          application/json:
            examples:
              Retail:
                value:
                  structure:
                    blcode: B2T
                    marketcode: EEMA
                  identifier:
                    externalnumid: CE0015224437
                  person:
                    persontype: PRIVATE
                    countrycode: FR
                    languagecode: fr
                    civility: MR
                    lastname: Alpha
                    firstname: Omega
                    birthdate: '1971-05-16T00:00:00.000Z'
                  emails:
                    - usage: BIL
                      isprincipal: true
                      emailvalue: gridbees@gmail.com
                  phones:
                    - isprincipal: false
                      prefix: '+33'
                      phonevalue: '75332939'
                    - usage: BIL
                      isprincipal: true
                      phonevalue: '+34658912939'
                  addresses:
                    - usage: BIL
                      externalnumid: '5644990042'
                      isactive: true
                      streetname: BD Marechaux N.2
                      city: Paris
                      postalcode: '75012'
                      countrycode: FR
                      additionalinfo:
                        - attribute: CompanyName
                          value: My Little Company
                  identitydocuments:
                    - usage: PASSPORT
                      numid: 43358431A
                      emittercountrylocation: FR
                      isvalidated: true
                      isexternal: true
                  customdata:
                    - attribute: gdpr
                      value: '1'
                    - attribute: loyalty
                      value: '1'
                    - attribute: shoporigin
                      value: '610'
                  loyaltycards:
                    - externalnumid: GB01536637
                      loyalties:
                        - loyaltyid: '56371334'
                          unicitykey: Club Gridbees
                          label: Club Gridbees
                          tiers:
                            - code: Entry Level
                              label: Entry Level (< 5 € Cash)
                              level: '1.0'
                            - code: Redeemable Level
                              label: Redeemable Level
                              level: '2.0'
            schema:
              $ref: '#/components/schemas/Contact'
        required: true
      responses:
        '200':
          description: Contact created
          content:
            application/json:
              examples:
                Retail:
                  value:
                    contactid: 99a6da096155410c96fa972cb5b4c4b6
                    tenantid: a6ca93d74c284a1bad47c04191af1188
                    unicitykey: '00000000125'
                    structure:
                      blcode: B2T
                      marketcode: EEMA
                    identifier:
                      externalnumid: CE0015224437
                    person:
                      persontype: PRIVATE
                      countrycode: FR
                      languagecode: fr
                      civility: MR
                      lastname: Alpha
                      firstname: Omega
                      birthdate: '1971-05-16T00:00:00.000Z'
                    emails:
                      - usage: BIL
                        uid: e289e7ef5fd34afaa7512e81d539265d
                        isprincipal: true
                        emailvalue: gridbees@gmail.com
                    phones:
                      - uid: ffd711971aec4134ba945136b42cea19
                        isprincipal: false
                        prefix: '+33'
                        phonevalue: '75332939'
                      - usage: BIL
                        uid: 23495ce25dc34089906173fd4662693d
                        isprincipal: true
                        phonevalue: '+34658912939'
                    addresses:
                      - usage: BIL
                        uid: 5e9b347270c44dddb66cf902e97bb90e
                        externalnumid: '5644990042'
                        isactive: true
                        streetname: BD Marechaux N.2
                        city: Paris
                        postalcode: '75012'
                        countrycode: FR
                        additionalinfo:
                          - attribute: CompanyName
                            value: My Little Company
                    identitydocuments:
                      - usage: PASSPORT
                        numid: 43358431A
                        emittercountrylocation: FR
                        isvalidated: true
                        isexternal: true
                    customdata:
                      - attribute: gdpr
                        value: '1'
                      - attribute: loyalty
                        value: '1'
                      - attribute: shoporigin
                        value: '610'
                    loyaltycards:
                      - externalnumid: GB01536637
                        loyalties:
                          - loyaltyid: '56371334'
                            unicitykey: Club Gridbees
                            label: Club Gridbees
                            tiers:
                              - code: Entry Level
                                label: Entry Level (< 5 € Cash)
                                level: '1.0'
                              - code: Redeemable Level
                                label: Redeemable Level
                                level: '2.0'
                    createdate: '2023-06-01T12:48:44.434Z'
              schema:
                $ref: '#/components/schemas/Contact'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /contact/upsert:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_upsertContact
      description: |
        This service is used to create or modify a contact.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Contact to create or update. if contactid or unicikey is filled and
          exists, the contact will be updated otherwise created. For array
          lists, like address, email, phone, if uid field is given, the entry
          will be updated, otherwise created.
        content:
          application/json:
            examples:
              Retail:
                value:
                  contactid: 99a6da096155410c96fa972cb5b4c4b6
                  tenantid: a6ca93d74c284a1bad47c04191af1188
                  unicitykey: '00000000125'
                  structure:
                    blcode: B2T
                    marketcode: EEMA
                  identifier:
                    externalnumid: CE0015224437
                  person:
                    persontype: PRIVATE
                    countrycode: FR
                    languagecode: fr
                    civility: MR
                    lastname: Alpha
                    firstname: Omega
                    birthdate: '1971-05-16T00:00:00.000Z'
                  emails:
                    - usage: BIL
                      uid: e289e7ef5fd34afaa7512e81d539265d
                      isprincipal: true
                      emailvalue: gridbees@gmail.com
                  phones:
                    - uid: ffd711971aec4134ba945136b42cea19
                      isprincipal: false
                      prefix: '+33'
                      phonevalue: '75332939'
                    - usage: BIL
                      uid: 23495ce25dc34089906173fd4662693d
                      isprincipal: true
                      phonevalue: '+34658912939'
                  addresses:
                    - usage: BIL
                      uid: 5e9b347270c44dddb66cf902e97bb90e
                      externalnumid: '5644990042'
                      isactive: true
                      streetname: BD Marechaux N.2
                      city: Paris
                      postalcode: '75012'
                      countrycode: FR
                      additionalinfo:
                        - attribute: CompanyName
                          value: My Little Company
                  identitydocuments:
                    - usage: PASSPORT
                      numid: 43358431A
                      emittercountrylocation: FR
                      isvalidated: true
                      isexternal: true
                  customdata:
                    - attribute: gdpr
                      value: '1'
                    - attribute: loyalty
                      value: '1'
                    - attribute: shoporigin
                      value: '610'
                  loyaltycards:
                    - externalnumid: GB01536637
                      loyalties:
                        - loyaltyid: '56371334'
                          unicitykey: Club Gridbees
                          label: Club Gridbees
                          tiers:
                            - code: Entry Level
                              label: Entry Level (< 5 € Cash)
                              level: '1.0'
                            - code: Redeemable Level
                              label: Redeemable Level
                              level: '2.0'
                  createdate: '2023-06-01T12:48:44.434Z'
            schema:
              $ref: '#/components/schemas/Contact'
        required: true
      responses:
        '200':
          description: Contact created
          content:
            application/json:
              examples:
                Retail:
                  value:
                    contactid: 99a6da096155410c96fa972cb5b4c4b6
                    tenantid: a6ca93d74c284a1bad47c04191af1188
                    unicitykey: '00000000125'
                    structure:
                      blcode: B2T
                      marketcode: EEMA
                    identifier:
                      externalnumid: CE0015224437
                    person:
                      persontype: PRIVATE
                      countrycode: FR
                      languagecode: fr
                      civility: MR
                      lastname: Alpha
                      firstname: Omega
                      birthdate: '1971-05-16T00:00:00.000Z'
                    emails:
                      - usage: BIL
                        uid: e289e7ef5fd34afaa7512e81d539265d
                        isprincipal: true
                        emailvalue: gridbees@gmail.com
                    phones:
                      - uid: ffd711971aec4134ba945136b42cea19
                        isprincipal: false
                        prefix: '+33'
                        phonevalue: '75332939'
                      - usage: BIL
                        uid: 23495ce25dc34089906173fd4662693d
                        isprincipal: true
                        phonevalue: '+34658912939'
                    addresses:
                      - usage: BIL
                        uid: 5e9b347270c44dddb66cf902e97bb90e
                        externalnumid: '5644990042'
                        isactive: true
                        streetname: BD Marechaux N.2
                        city: Paris
                        postalcode: '75012'
                        countrycode: FR
                        additionalinfo:
                          - attribute: CompanyName
                            value: My Little Company
                    identitydocuments:
                      - usage: PASSPORT
                        numid: 43358431A
                        emittercountrylocation: FR
                        isvalidated: true
                        isexternal: true
                    customdata:
                      - attribute: gdpr
                        value: '1'
                      - attribute: loyalty
                        value: '1'
                      - attribute: shoporigin
                        value: '610'
                    loyaltycards:
                      - externalnumid: GB01536637
                        loyalties:
                          - loyaltyid: '56371334'
                            unicitykey: Club Gridbees
                            label: Club Gridbees
                            tiers:
                              - code: Entry Level
                                label: Entry Level (< 5 € Cash)
                                level: '1.0'
                              - code: Redeemable Level
                                label: Redeemable Level
                                level: '2.0'
                    createdate: '2023-06-01T12:48:44.434Z'
              schema:
                $ref: '#/components/schemas/Contact'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /contact/get/{contactid}:
    get:
      tags:
        - Customer Service
      operationId: CustomerService_getContact
      description: |
        This service is used to retrieve a given contact.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contact created
          content:
            application/json:
              examples:
                Retail:
                  value:
                    contactid: 99a6da096155410c96fa972cb5b4c4b6
                    tenantid: a6ca93d74c284a1bad47c04191af1188
                    unicitykey: '00000000125'
                    structure:
                      blcode: B2T
                      marketcode: EEMA
                    identifier:
                      externalnumid: CE0015224437
                    person:
                      persontype: PRIVATE
                      countrycode: FR
                      languagecode: fr
                      civility: MR
                      lastname: Alpha
                      firstname: Omega
                      birthdate: '1971-05-16T00:00:00.000Z'
                    emails:
                      - usage: BIL
                        uid: e289e7ef5fd34afaa7512e81d539265d
                        isprincipal: true
                        emailvalue: gridbees@gmail.com
                    phones:
                      - uid: ffd711971aec4134ba945136b42cea19
                        isprincipal: false
                        prefix: '+33'
                        phonevalue: '75332939'
                      - usage: BIL
                        uid: 23495ce25dc34089906173fd4662693d
                        isprincipal: true
                        phonevalue: '+34658912939'
                    addresses:
                      - usage: BIL
                        uid: 5e9b347270c44dddb66cf902e97bb90e
                        externalnumid: '5644990042'
                        isactive: true
                        streetname: BD Marechaux N.2
                        city: Paris
                        postalcode: '75012'
                        countrycode: FR
                        additionalinfo:
                          - attribute: CompanyName
                            value: My Little Company
                    identitydocuments:
                      - usage: PASSPORT
                        numid: 43358431A
                        emittercountrylocation: FR
                        isvalidated: true
                        isexternal: true
                    customdata:
                      - attribute: gdpr
                        value: '1'
                      - attribute: loyalty
                        value: '1'
                      - attribute: shoporigin
                        value: '610'
                    loyaltycards:
                      - externalnumid: GB01536637
                        loyalties:
                          - loyaltyid: '56371334'
                            unicitykey: Club Gridbees
                            label: Club Gridbees
                            tiers:
                              - code: Entry Level
                                label: Entry Level (< 5 € Cash)
                                level: '1.0'
                              - code: Redeemable Level
                                label: Redeemable Level
                                level: '2.0'
                    createdate: '2023-06-01T12:48:44.434Z'
              schema:
                $ref: '#/components/schemas/Contact'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /contact/delete/{contactid}:
    delete:
      tags:
        - Customer Service
      operationId: CustomerService_deleteContact
      description: |
        This service is used to delete a contact.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /contact/addattributes:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_addContactAttribute
      description: >
        This service is used to add a custom attribute with its value to a
        contact.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Adding an attribute to an existing contact is made using contact's
          unicitykey and attributes to add are a label/value pair contained in
          the customdata array. New attributes with an existing label on that
          contact will be inserted, unless that label allready contains the new
          value.
        content:
          application/json:
            examples:
              Retail:
                value:
                  unicitykey: '00000626500'
                  customdata:
                    - attribute: labelName
                      value: aboutThisLabel
            schema:
              $ref: '#/components/schemas/ContactAttributeRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /contact/deleteattributes:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_deleteAttribute
      description: >
        This service is used to delete a custom attribute with its value from a
        contact.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Deleting an attribute of an existing contact is made using contact's
          unicitykey. Attributes are a label/value pair in the customdata array.
          Attributes of a contact will be deleted only if both the label and its
          value matches. No effect if no match.
        content:
          application/json:
            examples:
              Retail:
                value:
                  unicitykey: '00000626500'
                  customdata:
                    - attribute: labelName
                      value: aboutThisLabel
            schema:
              $ref: '#/components/schemas/ContactAttributeRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /webaccount/activate:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_activateUser
      description: |
        This service is used to activate an user.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Activates an user using his login and an optionnal marketcode.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebaccountRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /webaccount/check:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_checkUserExist
      description: |
        This service is used to check if an user exist.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Checks if an user exist using his or her login and an optionnal
          marketcode.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebaccountRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /webaccount/delete:
    delete:
      tags:
        - Customer Service
      operationId: CustomerService_deleteWebAccount
      description: |
        This service is used to delete an web account.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Deletes a web account using his or her webaccountid and his contactid.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebaccountDeleteRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /webaccount/get/{webaccountid}:
    get:
      tags:
        - Customer Service
      operationId: CustomerService_getWebAccountDetails
      description: |
        This service is used to get details of an web account.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAccount'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /webaccount/login:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_logWebAccount
      description: |
        This service is used to log a web account.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Logs a web account.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebaccountLoginRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /webaccount/resetpassword:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_resetWebAccountPassword
      description: |
        This service is used to reset the password of a web account.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Reset the password of a web account.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebaccountResetPasswordRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /webaccount/search:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_searchWebAccount
      description: |
        This service is used to search web accounts.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Finds web accounts by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAccount'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceSearchWebAccountResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /webaccount/set:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_createWebAccount
      description: |
        This service is used to create a web account.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Creates a web account. Login and password in clear is mandatory.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAccount'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceCreateWebAccountResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /webaccount/stream:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_getWebAccountsStream
      description: |
        This service is used to retrieve web accounts. The response is a stream.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Retrieves web accounts by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAccount'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceGetWebAccountsStreamResponse
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /webaccount/update:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_updateWebAccount
      description: |
        This service replaces a web account by the provided web account object.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Replace a web account by the provided web account object. The login is
          mandatory.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAccount'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceUpdateWebAccountResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /supplier/delete:
    delete:
      tags:
        - Customer Service
      operationId: CustomerService_deleteSupplier
      description: |
        This service is used to delete a supplier.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Deletes a supplier using his supplier ID (mandatory).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /supplier/get/{supplierid}:
    get:
      tags:
        - Customer Service
      operationId: CustomerService_getSupplierDetails
      description: |
        This service is used to get details of a supplier.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAccount'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /supplier/search:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_searchSuppliers
      description: |
        This service is used to search suppliers.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Finds suppliers by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Supplier'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceSearchSuppliersResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /supplier/set:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_createSupplier
      description: |
        This service is used to create a new supplier.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Supplier to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Supplier'
        required: true
      responses:
        '200':
          description: Supplier created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /supplier/stream:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_getSuppliersStream
      description: |
        This service is used to retrieve suppliers. The response is a stream.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Retrieves suppliers by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Supplier'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceGetSuppliersStreamResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /supplier/upsert:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_modifySupplier
      description: |
        This service is used to modify a supplier.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Supplier to update. unicikey must be filled. For array lists, like
          address, email, phone, if uid field is given, the entry will be
          updated, otherwise created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Supplier'
        required: true
      responses:
        '200':
          description: Supplier upserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /mail/delete:
    delete:
      tags:
        - Customer Service
      operationId: CustomerService_mailDelete
      description: |
        This service is used to delete a mail.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Deletes a mail using his mail ID and contact ID of recipients
          (mandatory).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailDeleteRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /mail/get/{mailid}:
    get:
      tags:
        - Customer Service
      operationId: CustomerService_getMailDetails
      description: |
        This service is used to get details of a mail.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mail'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /mail/receive:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_receiveMail
      description: |
        This service is used to receive mails.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Receives mails
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailRequest'
        required: true
      responses:
        '200':
          description: Mail received
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceReceiveMailResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /mail/reprocess:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_reprocessMail
      description: |
        This service is used to reprocess mails. The response is a stream.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Retrieves mails by various criterias and reprocesses them.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceReprocessMailResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /mail/search:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_mailSearch
      description: |
        This service is used to search mails by various criterias.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Finds mails by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailRequest'
        required: true
      responses:
        '200':
          description: Mail found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceMailSearchResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /mail/send:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_createMail
      description: |
        This service is used to create and send a new mail.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Creates and send a mail. From, to and subject are mandatory fields.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mail'
        required: true
      responses:
        '200':
          description: Mail sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mail'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /mail/set:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_createNewMail
      description: |
        This service is used to create a new mail.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Creates a mail. From, to and subject are mandatory fields.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mail'
        required: true
      responses:
        '200':
          description: Mail set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mail'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /mail/stream:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_getMailStream
      description: |
        This service is used to retrieve mails. The response is a stream.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Retrieves mails by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mail'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceGetMailStreamResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /mail/upsert:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_modifyMail
      description: |
        This service is used to modify a mail.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Mail to update. mailid must be filled. For array lists, like address,
          email, phone, if uid field is given, the entry will be updated,
          otherwise created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mail'
        required: true
      responses:
        '200':
          description: Mail upserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mail'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /template/delete:
    delete:
      tags:
        - Customer Service
      operationId: CustomerService_deleteMailTemplate
      description: |
        This service is used to delete a mail template.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Deletes a mail template using his mailtemplateid (mandatory).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailTemplateRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /template/get/{mailtemplateid}:
    get:
      tags:
        - Customer Service
      operationId: CustomerService_getMailTemplateDetails
      description: |
        This service is used to get details of a mail template.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailTemplate'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /template/search:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_searchMailTemplate
      description: |
        This service is used to search templates of mail by various criterias.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Finds templates of mail by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailTemplateRequest'
        required: true
      responses:
        '200':
          description: Template of mail found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceSearchMailTemplateResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /template/set:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_createMailTemplate
      description: |
        This service is used to create a new mail template.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Creates a template of mail.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailTemplate'
        required: true
      responses:
        '200':
          description: Mail template set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailTemplate'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /template/stream:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_getMailTemplateStream
      description: >
        This service is used to retrieve mail templates. The response is a
        stream.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Retrieves mail templates by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailTemplateRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceGetMailTemplateStreamResponse
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /template/upsert:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_modifyMailTemplate
      description: |
        This service is used to modify a mail template.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Modifies a template of mail. mailtemplateid is a mandatory field. For
          array lists, like address, email, phone, if uid field is given, the
          entry will be updated, otherwise created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailTemplate'
        required: true
      responses:
        '200':
          description: Mail template set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailTemplate'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /notification/delete:
    delete:
      tags:
        - Customer Service
      operationId: CustomerService_deleteNotification
      description: |
        This service is used to delete a notification.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Deletes a notification using his notificationid (mandatory).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /notification/get/{notificationid}:
    get:
      tags:
        - Customer Service
      operationId: CustomerService_getNotificationDetails
      description: |
        This service is used to get details of a notification.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /notification/search:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_searchNotificationByCriteria
      description: |
        This service is used to search notifications by various criterias.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Finds notifications by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
        required: true
      responses:
        '200':
          description: Notification found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceSearchNotificationByCriteriaResponse
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /notification/set:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_createNotification
      description: |
        This service is used to create a new notification.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Creates a notification.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notification'
        required: true
      responses:
        '200':
          description: Notification set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /notification/stream:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_getNotificationsStream
      description: >
        This service is used to retrieve notifications. The response is a
        stream.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Retrieves notifications by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceGetNotificationsStreamResponse
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /notification/upsert:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_modifyNotification
      description: |
        This service is used to modify a notification.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Modifies a notification. unicitykey is a mandatory field. For array
          lists, like address, email, phone, if uid field is given, the entry
          will be updated, otherwise created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notification'
        required: true
      responses:
        '200':
          description: Notification modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /wallet/delete:
    delete:
      tags:
        - Customer Service
      operationId: CustomerService_deleteWallet
      description: |
        This service is used to delete a wallet.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Deletes a wallet using his walletid (mandatory).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletDetailRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /wallet/get/{walletid}:
    get:
      tags:
        - Customer Service
      operationId: CustomerService_getWalletDetails
      description: |
        This service is used to get details of a wallet.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletDetail'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /wallet/search:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_searchWalletByCriteria
      description: |
        This service is used to search wallets by various criterias.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Finds wallets by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletDetailRequest'
        required: true
      responses:
        '200':
          description: Wallets found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceSearchWalletByCriteriaResponse
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /wallet/set:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_createNewWallet
      description: |
        This service is used to create a new wallet.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Creates a wallet.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletDetail'
        required: true
      responses:
        '200':
          description: Wallet set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletDetail'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /wallet/stream:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_getWalletStream
      description: |
        This service is used to retrieve wallets. The response is a stream.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Retrieves wallets by various criterias.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletDetailRequest'
        required: true
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerServiceGetWalletStreamResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /wallet/upsert:
    post:
      tags:
        - Customer Service
      operationId: CustomerService_modifyWallet
      description: |
        This service is used to modify a wallet.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          Modifies a wallet. walletid is a mandatory field. For array lists,
          like address, email, phone, if uid field is given, the entry will be
          updated, otherwise created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletDetail'
        required: true
      responses:
        '200':
          description: Wallet modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletDetail'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /offer/set:
    post:
      tags:
        - Offer Service
      operationId: OfferService_createNewOffer
      description: |
        This service is used to create a new offer.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Offer to create
        content:
          application/json:
            examples:
              Minor:
                value:
                  title: Ice Cream Sandwich Chocolate Pack 4 pcs. 199.-
                  unicitykey: '577'
                  unicitycode: '1164'
                  offertype: FOOD
                  codification:
                    vendorcode: SW
                  structure:
                    companycode: TDG
                    countrycode: th
                  products:
                    - items:
                        - productcode: '702871'
                          quantity: 1
                  properties:
                    customdata:
                      - attribute: tag
                        value: ICECREAM
                      - attribute: shop
                        value: '456'
                      - attribute: shop
                        value: '906'
                  pricing:
                    currencycode: THB
                    pricetype: RETAIL
                    sellingprice: 199
                  medias:
                    - url: >-
                        https://1112.minorcdn.com/1112one/public/images/products/SW/659115.jpg
                      rank: 1
                      islocalisable: false
                  status: Published
            schema:
              $ref: '#/components/schemas/Offer'
        required: true
      responses:
        '200':
          description: Offer created
          content:
            application/json:
              examples:
                Minor:
                  value:
                    title: Ice Cream Sandwich Chocolate Pack 4 pcs. 199.-
                    unicitykey: '577'
                    unicitycode: '1164'
                    offertype: FOOD
                    codification:
                      vendorcode: SW
                    structure:
                      companycode: TDG
                      countrycode: th
                    products:
                      - items:
                          - productcode: '702871'
                            quantity: 1
                    properties:
                      customdata:
                        - attribute: tag
                          value: ICECREAM
                        - attribute: shop
                          value: '456'
                        - attribute: shop
                          value: '906'
                    pricing:
                      currencycode: THB
                      pricetype: RETAIL
                      sellingprice: 199
                    medias:
                      - url: >-
                          https://1112.minorcdn.com/1112one/public/images/products/SW/659115.jpg
                        rank: 1
                        islocalisable: false
                    status: Published
              schema:
                $ref: '#/components/schemas/OfferServiceCreateNewOfferResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /offer/upsert:
    post:
      tags:
        - Offer Service
      operationId: OfferService_createOrUpdateOffer
      description: >
        This service is used to create or update a new offer. Based on
        unicitykey, the service checks if the offer already exists or not.

        If exists, the offer is updated otherwise is created.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Offer to create
        content:
          application/json:
            examples:
              Minor:
                value:
                  title: Ice Cream Sandwich Chocolate Pack 4 pcs. 199.-
                  unicitykey: '577'
                  unicitycode: '1164'
                  offertype: FOOD
                  codification:
                    vendorcode: SW
                  structure:
                    companycode: TDG
                    countrycode: th
                  products:
                    - items:
                        - productcode: '702871'
                          quantity: 1
                  properties:
                    customdata:
                      - attribute: tag
                        value: ICECREAM
                      - attribute: shop
                        value: '456'
                      - attribute: shop
                        value: '906'
                  pricing:
                    currencycode: THB
                    pricetype: RETAIL
                    sellingprice: 199
                  medias:
                    - url: >-
                        https://1112.minorcdn.com/1112one/public/images/products/SW/659115.jpg
                      rank: 1
                      islocalisable: false
                  status: Published
            schema:
              $ref: '#/components/schemas/Offer'
        required: true
      responses:
        '200':
          description: Offer created
          content:
            application/json:
              examples:
                Minor:
                  value:
                    title: Ice Cream Sandwich Chocolate Pack 4 pcs. 199.-
                    offerid: 1d3c922e67904d48a8bf7ff121b869ad
                    unicitykey: '577'
                    unicitycode: '1164'
                    offertype: FOOD
                    codification:
                      vendorcode: SW
                    structure:
                      companycode: TDG
                      countrycode: th
                    products:
                      - items:
                          - productcode: '702871'
                            quantity: 1
                    properties:
                      customdata:
                        - attribute: tag
                          value: ICECREAM
                        - attribute: shop
                          value: '456'
                        - attribute: shop
                          value: '906'
                    pricing:
                      currencycode: THB
                      pricetype: RETAIL
                      sellingprice: 199
                    medias:
                      - url: >-
                          https://1112.minorcdn.com/1112one/public/images/products/SW/659115.jpg
                        rank: 1
                        islocalisable: false
                    status: Published
                    createdate: '2022-06-16T20:31:43.276Z'
                    updatedate: '2022-06-16T22:03:59.610Z'
              schema:
                $ref: '#/components/schemas/OfferServiceCreateOrUpdateOfferResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /offer/publish:
    post:
      tags:
        - Offer Service
      operationId: OfferService_pullPublishOffer
      description: |
        This service is used to pull offers to publish or unpublish.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Offer request object
        content:
          application/json:
            examples:
              Retail:
                value:
                  offertype: FOOD
              Streaming:
                value:
                  offertype: STREAMING
            schema:
              $ref: '#/components/schemas/OfferRequest'
        required: true
      responses:
        '200':
          description: List of published offers
          content:
            application/json:
              examples:
                Retail:
                  value:
                    - title:
                        en-US: Mango Oak-Rong-Thong 3 lbs.
                        th-TH: ไอศกรีมเค้กมะม่วงอกร่องทอง 3 ปอนด์
                      offerid: 1abb93f0d5c3474480bd9781bc9d47f8
                      unicitykey: '577'
                      unicitycode: '1164'
                      offertype: FOOD
                      structure:
                        countrycode: th
                        companycode: TDG
                      codification:
                        vendorcode: SW
                        platformcode: OTT_APP
                      products:
                        - items:
                            - productcode: '1164'
                              quantity: 1
                      properties:
                        options:
                          - minquantity: 1
                            maxquantity: 1
                            rank: 15332
                            optiondetails:
                              - unicitykey: '576'
                                unicitycode: '641081'
                                rank: 1
                                adjustedprice: 0
                      pricing:
                        currencycode: THB
                        pricetype: RETAIL
                        sellingprice: 899
                      medias:
                        - url: >-
                            https://1112.minorcdn.com/1112one/public/images/products/SW/651047_3.jpg
                          rank: 1
                          islocalisable: false
                      status: Published
                      createdate: '2022-06-24T05:13:42.800Z'
                      updatedate: '2022-06-28T05:49:36.974Z'
                      offerdescription:
                        en-US: >-
                          Ice cream cake 3 lbs. with Mango Oak-Rong-Thong flavor
                          decorated with pandan sticky rice, almond, white
                          chocolate flakes and look choop.
                        th-TH: >-
                          ไอศกรีมเค้ก 3 ปอนด์ รสมะม่วงอกร่องทอง
                          ท็อปด้วยข้าวเหนียวใบเตยหอมและลูกชุบมะม่วงหอมกลิ่นอบควันเทียน
                          พร้อมอร่อยกรุบกรอบกับอัลมอนด์และไวท์ช็อกโกแลต
                Streaming:
                  value:
                    - title:
                        en: True 5G Xclusive
                        th: ทรู 5G เอ็กซ์คลูซีฟ
                      description:
                        - lines:
                            - line:
                                th: รายเดือน
                                en: Monthly
                        - lines:
                            - line:
                                th: >-
                                  ตัดเงินอัตโนมัติ 99 บาท/เดือน
                                  สามารถยกเลิกได้ตลอดเวลา
                                en: You will be charged ฿99/month. Cancel anytime.
                      unicitykey: 5GXCLUSIVE_TRIAL6M_BPN_RC_EVG_REG
                      offertype: STREAMING
                      objecttype: SUBSCRIPTION
                      products:
                        - items:
                            - productcode: 5GXCLUSIVE_TRIAL6M_BPN_RC_EVG_REG
                              productgroup: 5GXCLUSIVE
                      pricing:
                        prices:
                          - currencycode: THB
                            crossedoutprice: 0
                            sellingprice: 9900
                            paymentmode: dcb
                            platformcode: android
                          - currencycode: THB
                            crossedoutprice: 0
                            sellingprice: 9900
                            paymentmode: wallet
                            platformcode: android
                          - currencycode: THB
                            crossedoutprice: 0
                            sellingprice: 9900
                            paymentmode: card
                            platformcode: android
                      medias:
                        - url: >-
                            https://cms.dmpcdn.com/subscription/V1/5GXclusive3_L.jpg
                          languagecode: en
                        - url: >-
                            https://cms.dmpcdn.com/subscription/V1/5GXclusive3_M.jpg
                          languagecode: en
                        - url: >-
                            https://cms.dmpcdn.com/subscription/V1/5GXclusive3_S.jpg
                          languagecode: en
                        - url: >-
                            https://cms.dmpcdn.com/subscription/V1/5GXclusive3_L.jpg
                          languagecode: th
                        - url: >-
                            https://cms.dmpcdn.com/subscription/V1/5GXclusive3_M.jpg
                          languagecode: th
                        - url: >-
                            https://cms.dmpcdn.com/subscription/V1/5GXclusive3_S.jpg
                          languagecode: th
                      status: Published
                      startdate: '2022-03-02T03:20:19.000Z'
                      enddate: '2032-01-05T03:00:00.000Z'
                      createdate: '2022-10-20T18:42:33.924Z'
                      updatedate: '2022-10-20T18:42:33.924Z'
                      offerid: 1a1a1d89300f47bd90d2f04db4db4230
                      subscription:
                        ispublic: false
                        isactive: true
                        isaddon: false
                        isautorenewable: false
                        allowedplatforms: []
                        applicationcodes:
                          - HBTV
                          - LG_SMTV
                          - OTT_ANRDTV_APP
                          - OTT_APP
                          - PARTNER_ORDER
                          - SAMSUNG_SMTV
                          - TRUEID_APP
                          - TRUEID_IOS_APP
                          - TRUEID_WEB
                          - TRUEID_HARMONYOS_APP
                        contentid: X4vlge8E2d95
                        contenttype: collection
                        contentcode: X4vlge8E2d95
                        sequence: 2
                        mincontractperiod:
                          period: '99'
                          typology: 'Y'
                        trialperiod:
                          period: '6'
                          typology: M
                        contractperiod:
                          period: '99'
                          typology: 'Y'
                        partnercode: TDG
                        groupname: 5GXCLUSIVE
                        maxtickets: 0
                        serviceperiod: 30
                        billingperiod: M
                        customergroup:
                          - all
                        category: livetv
                        benefits:
                          - sequence: 1
                            lines:
                              - line:
                                  th: รับชมคอนเทนต์พิเศษมากมาย ราคาพิเศษ
                                  en: Exclusive contents Special price
                              - line:
                                  th: คอนเทนต์เอ็กซ์คลูซีฟหลากหลายจากศิลปินดัง
                                  en: Famous stars and original contents
                          - sequence: 2
                            lines:
                              - line:
                                  th: ทรู 5G อิมเมอร์ซีฟ XR/VR 360°
                                  en: True 5G Immersive XR/VR 360° View
                              - line:
                                  th: >-
                                    ประสบการณ์รับชมใหม่บนทรูไอดีแอพพลิเคชั่นและเว็ปไซต์
                                  en: >-
                                    Enjoy new experience on TrueID Application &
                                    Website
              schema:
                $ref: '#/components/schemas/OfferServicePullPublishOfferResponse'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
  /offer/delete/{offerid}:
    post:
      tags:
        - Offer Service
      operationId: OfferService_deleteOffer
      description: |
        This service is used to delete an offer.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
        - description: Offer identifier
          name: offerid
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The request is correctly processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultCode'
        '401':
          description: >-
            The resource requires authentication, which was not supplied with
            the request
          content: {}
      x-codegen-request-body-name: request
  /product/publish:
    post:
      tags:
        - Product Service
      operationId: ProductService_pullPublishProduct
      description: |
        This service is used to pull products to publish.
      parameters:
        - description: Access ID
          name: X-Access-ID
          in: header
          required: true
          schema:
            type: string
      requestBody:
        description: Product request object
        content:
          application/json:
            examples:
              Product Code:
                value:
                  unicitykey: TVSTID
              Simple Products:
                value:
                  typology: simple
              Group Products:
                value:
                  typology: grouped
              Studios:
                value:
                  studios:
                    - Tiga
            schema:
              $ref: '#/components/schemas/ProductRequest'
        required: true
      responses:
        '200':
          description: List of published product
          content:
            application/json:
              examples:
                Product:
                  value:
                    - title:
                        en: TVS product subscriptkon
                        th: TVS product subscription
                      description:
                        en: >-
                          Level up your enjoy with cartoon,  variety show, 
                          documentary
                      unicitykey: TVSTID
                      status: Published
                      structure:
                        countrycode: TH
                        partnercode: TDG
                        merchandcode: TDG
                      properties:
                        collection: ONLINE
                        sequence: '2'
                        ranking: 0
                        groupcode: EPL
                        accountingcode: '0640000022'
                      content:
                        maxccu: 2
                        ispublic: false
                        sequence: 2
                      productid: b27a0b3a0e314eb0a38beb499683845a
                      highlightshelf:
                        image: 98isoejr
                        trailer: jfs9fjoi
                      termcond:
                        image: https://cms.dmpcdn.com/subscription/V1/NowPre_S.jpg
                        pdf: https://cms.dmpcdn.com/subscription/V1/NowPre_L.jpg
                      privatepolicy: 8si712ij
                      banner:
                        portrait: https://cms.dmpcdn.com/subscription/V1/NowPre_S.jpg
                        landscape: https://cms.dmpcdn.com/subscription/V1/NowPre_L.jpg
                      benfefits:
                        - lines:
                            - line:
                                th: Level up your enjoy
                            - line:
                                en: UCL/LaLiga/LIGUE
                        - lines:
                            - line:
                                en: Enjoy EPL Matches
                            - line:
                                en: >-
                                  Level up your enjoy with cartoon,  variety
                                  show,  documentary
                        - lines:
                            - line:
                                en: '380'
                      logo:
                        sizes: https://cms.dmpcdn.com/subscription/V1/NowPre_S.jpg
                        sizel: https://cms.dmpcdn.com/subscription/V1/NowPre_L.jpg
                      ispublic: true
                Group:
                  value:
                    - title:
                        en: True Visions Now
                        th: ทรูวิชันส์ นาว
                      productid: df8e91fd5c3b4b4e9313a2292b2e4cff
                      unicitykey: TVSNOW
                      status: Published
                      codification:
                        typology: grouped
                      properties:
                        sequence: 3
                        baseprice: 119
                      content:
                        isactive: true
                      benefits:
                        - lines:
                            - line:
                                th: '3 แพ็กเกจ: Lite/ Standard/ Premium'
                                en: '3 packages: Lite Standard Premium'
                        - lines:
                            - line:
                                th: ดูสด UCL Laliga หนัง ซีรีส์ การ์ตูน
                                en: Live UCL /Movies Series/ Cartoon
                    - title:
                        en: Combo
                        th: คอมโบ
                      productid: e9bbcfd732714cbbb119f52731df17e8
                      unicitykey: TIDTVS
                      status: Published
                      codification:
                        typology: grouped
                      properties:
                        sequence: 10
                      content:
                        isactive: true
                      benefits:
                        - lines:
                            - line:
                                th: ช่องรายการดังและคอนเทนต์หลากหลาย
                                en: Live TV + On demand
                        - lines:
                            - line:
                                th: มากกว่า 2, 000 โปรแกรมให้เลือกดู
                                en: + 2, 000 Hit Content
[...]
