openapi: 3.0.1
info:
  title: Intercom API
  description: The intercom API reference.
  version: '2.9'
  contact:
    name: Intercom Developer Hub
    url: https://developers.intercom.com
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - description: The production API server
    url: https://api.intercom.io
  - description: The european API server
    url: https://api.eu.intercom.io
  - description: The australian API server
    url: https://api.au.intercom.io
tags:
  - description: Everything about your contacts
    name: Contacts
  - description: Everything about your Conversations
    name: Conversations
    externalDocs:
      description: What is a conversation?
      url: https://www.intercom.com/help/en/articles/4323904-what-is-a-conversation
  - description: Everything about your Companies
    name: Companies
  - description: Everything about your Help Center
    name: Help Center
  - description: Everything about tags
    name: Tags
  - description: Everything about your News
    name: News
    externalDocs:
      description: News explained
      url: https://www.intercom.com/help/en/articles/6362251-news-explained
  - description: Everything about your Admins
    name: Admins
  - description: Everything about your Articles
    name: Articles
  - description: Everything about your Visitors
    name: Visitors
  - description: Everything about your Data Exports
    name: Data Export
  - description: Everything about subscription types
    name: Subscription Types
  - description: Everything about your ticket types
    name: Ticket Types
  - description: Everything about your tickets
    name: Tickets
  - description: Everything about your Data Attributes
    name: Data Attributes
  - description: Everything about your Data Events
    name: Data Events
  - description: Everything about your Notes
    name: Notes
  - description: Everything about your Segments
    name: Segments
  - description: Everything about your Teams
    name: Teams
  - description: Everything about your ticket type attributes
    name: Ticket Type Attributes
  - description: Everything about your messages
    name: Messages
  - description: Everything about Switch
    name: Switch
    externalDocs:
      description: 'Meet Switch: from on hold to messaging in just a few taps'
      url: https://www.intercom.com/switch
paths:
  /me:
    get:
      tags:
        - Admins
      summary: Identify an admin
      operationId: Admins_getAdminDetails
      description: >

        You can view the currently authorised admin along with the embedded app
        object (a "workspace" in legacy terminology).


        > 🚧 Single Sign On

        >

        > If you are building a custom "Log in with Intercom" flow for your
        site, and you call the `/me` endpoint to identify the logged-in user,
        you should not accept any sign-ins from users with unverified email
        addresses as it poses a potential impersonation security risk.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: admin
                    id: '991267251'
                    email: admin1@email.com
                    name: Ciaran1 Lee
                    email_verified: true
                    app:
                      type: app
                      id_code: this_is_an_id1_that_should_be_at_least_40
                      name: MyApp 1
                      created_at: 1709726300
                      secure: false
                      identity_verification: false
                      timezone: America/Los_Angeles
                      region: US
                    avatar:
                      type: avatar
                      image_url: >-
                        https://static.intercomassets.com/assets/default-avatars/admins/128.png
                    has_inbox_seat: true
              schema:
                $ref: '#/components/schemas/admin_with_app'
  /admins/{id}/away:
    put:
      tags:
        - Admins
      summary: Set an admin to away
      operationId: Admins_setAdminAway
      description: You can set an Admin as away for the Inbox.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier of a given admin
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminsSetAdminAwayRequest'
            examples:
              successful_response:
                summary: Successful response
                value:
                  away_mode_enabled: true
                  away_mode_reassign: true
              admin_not_found:
                summary: Admin not found
                value:
                  away_mode_enabled: true
                  away_mode_reassign: true
              unauthorized:
                summary: Unauthorized
                value:
                  away_mode_enabled: true
                  away_mode_reassign: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: admin
                    id: '991267252'
                    name: Ciaran2 Lee
                    email: admin2@email.com
                    away_mode_enabled: true
                    away_mode_reassign: true
                    has_inbox_seat: true
                    team_ids: []
              schema:
                $ref: '#/components/schemas/admin'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 45681de3-5b16-4651-a6b9-764a374b5f63
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Admin not found
          content:
            application/json:
              examples:
                Admin not found:
                  value:
                    type: error.list
                    request_id: d6395d7b-9a71-4bf3-8f61-f7c30e5be714
                    errors:
                      - code: admin_not_found
                        message: Admin for admin_id not found
              schema:
                $ref: '#/components/schemas/error'
  /admins/activity_logs:
    get:
      tags:
        - Admins
      summary: List all activity logs
      operationId: Admins_listActivityLogs
      description: You can get a log of activities by all admins in an app.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: >-
            The start date that you request data for. It must be formatted as a
            UNIX timestamp.
          name: created_at_after
          in: query
          required: true
          example: '1677253093'
          schema:
            type: string
        - description: >-
            The end date that you request data for. It must be formatted as a
            UNIX timestamp.
          name: created_at_before
          in: query
          required: false
          example: '1677861493'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: activity_log.list
                    pages:
                      type: pages
                      next: null
                      page: 1
                      per_page: 20
                      total_pages: 1
                    activity_logs:
                      - id: 4ac18b8c-429d-4772-9e3c-63611aa65da4
                        performed_by:
                          type: admin
                          id: '991267256'
                          email: admin5@email.com
                          ip: 127.0.0.1
                        metadata:
                          message:
                            title: Initial message title
                            id: 123
                          before: Initial message title
                          after: Eventual message title
                        created_at: 1709726306
                        activity_type: message_state_change
                        activity_description: >-
                          Ciaran5 Lee changed your Initial message title message
                          from Initial message title to Eventual message title.
                      - id: 88822985-9ffd-4dab-a71c-c33c607ed702
                        performed_by:
                          type: admin
                          id: 991267256X
                          email: admin5@email.com
                          ip: 127.0.0.1
                        metadata:
                          before: before
                          after: after
                        created_at: 1709726306
                        activity_type: app_name_change
                        activity_description: >-
                          Ciaran5 Lee changed your app name from before to
                          after.
              schema:
                $ref: '#/components/schemas/activity_log_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 4839969a-d6e9-4a2a-906a-500c21dca8fd
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /admins:
    get:
      tags:
        - Admins
      summary: List all admins
      operationId: Admins_getAll
      description: You can fetch a list of admins for a given workspace.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: admin.list
                    admins:
                      - type: admin
                        email: admin7@email.com
                        id: '991267258'
                        name: Ciaran7 Lee
                        away_mode_enabled: false
                        away_mode_reassign: false
                        has_inbox_seat: true
                        team_ids: []
              schema:
                $ref: '#/components/schemas/admin_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 71b542e4-42f5-482c-9816-80d3b9b07446
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /admins/{id}:
    get:
      tags:
        - Admins
      summary: Retrieve an admin
      operationId: Admins_getAdminById
      description: You can retrieve the details of a single admin.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier of a given admin
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: Admin found
          content:
            application/json:
              examples:
                Admin found:
                  value:
                    type: admin
                    id: '991267260'
                    name: Ciaran9 Lee
                    email: admin9@email.com
                    away_mode_enabled: false
                    away_mode_reassign: false
                    has_inbox_seat: true
                    team_ids: []
              schema:
                $ref: '#/components/schemas/admin'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 77fe52e9-f7d3-48ef-9bf6-c685d99d00ae
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Admin not found
          content:
            application/json:
              examples:
                Admin not found:
                  value:
                    type: error.list
                    request_id: 6e6281df-86e0-4472-bff7-8aee7d21ee70
                    errors:
                      - code: admin_not_found
                        message: Admin not found
              schema:
                $ref: '#/components/schemas/error'
  /articles:
    get:
      tags:
        - Articles
      summary: List all articles
      operationId: Articles_listAll
      description: >
        You can fetch a list of all articles by making a GET request to
        `https://api.intercom.io/articles`.


        > 📘 How are the articles sorted and ordered?

        >

        > Articles will be returned in descending order on the `updated_at`
        attribute. This means if you need to iterate through results then we'll
        show the most recently updated articles first.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    type: list
                    pages:
                      type: pages
                      page: 1
                      per_page: 25
                      total_pages: 1
                    total_count: 1
                    data:
                      - title: This is the article title
                        description: ''
                        id: '52'
                        type: article
                        workspace_id: this_is_an_id22_that_should_be_at_least_4
                        parent_id: 176
                        parent_type: collection
                        parent_ids: []
                        body: ''
                        author_id: 991267263
                        state: published
                        created_at: 1709726310
                        updated_at: 1709726310
                        url: >-
                          http://help-center.test/myapp-22/en/articles/52-this-is-the-article-title
              schema:
                $ref: '#/components/schemas/article_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 7003ba92-b849-4bc1-9c24-2d35243d744a
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Articles
      summary: Create an article
      operationId: Articles_createNewArticle
      description: >-
        You can create a new article by making a POST request to
        `https://api.intercom.io/articles`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_article_request'
            examples:
              article_created:
                summary: article created
                value:
                  title: Thanks for everything
                  description: Description of the Article
                  body: Body of the Article
                  author_id: 991267268
                  state: published
                  parent_id: 178
                  parent_type: collection
                  translated_content:
                    fr:
                      title: Merci pour tout
                      description: Description de l'article
                      body: Corps de l'article
                      author_id: 991267268
                      state: published
              bad_request:
                summary: Bad Request
                value:
                  title: Thanks for everything
                  description: Description of the Article
                  body: Body of the Article
                  state: published
      responses:
        '200':
          description: article created
          content:
            application/json:
              examples:
                article created:
                  value:
                    title: Thanks for everything
                    description: Description of the Article
                    id: '55'
                    type: article
                    workspace_id: this_is_an_id26_that_should_be_at_least_4
                    parent_id: 178
                    parent_type: collection
                    parent_ids: []
                    statistics:
                      type: article_statistics
                      views: 0
                      conversations: 0
                      reactions: 0
                      happy_reaction_percentage: 0
                      neutral_reaction_percentage: 0
                      sad_reaction_percentage: 0
                    body: <p class="no-margin">Body of the Article</p>
                    author_id: 991267268
                    state: published
                    created_at: 1709726313
                    updated_at: 1709726313
                    url: >-
                      http://help-center.test/myapp-26/en/articles/55-thanks-for-everything
              schema:
                $ref: '#/components/schemas/article_list_item'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    type: error.list
                    request_id: 22377ca8-e2be-4fd2-9f9e-62d8286ebd24
                    errors:
                      - code: parameter_not_found
                        message: >-
                          author_id must be in the main body or default locale
                          translated_content object
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: a7097afa-33f9-440f-88b5-97a604743124
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /articles/{id}:
    get:
      tags:
        - Articles
      summary: Retrieve an article
      operationId: Articles_getById
      description: >-
        You can fetch the details of a single article by making a GET request to
        `https://api.intercom.io/articles/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the article which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: Article found
          content:
            application/json:
              examples:
                Article found:
                  value:
                    title: This is the article title
                    description: ''
                    id: '58'
                    type: article
                    workspace_id: this_is_an_id32_that_should_be_at_least_4
                    parent_id: 181
                    parent_type: collection
                    parent_ids: []
                    statistics:
                      type: article_statistics
                      views: 0
                      conversations: 0
                      reactions: 0
                      happy_reaction_percentage: 0
                      neutral_reaction_percentage: 0
                      sad_reaction_percentage: 0
                    body: ''
                    author_id: 991267273
                    state: published
                    created_at: 1709726315
                    updated_at: 1709726315
                    url: >-
                      http://help-center.test/myapp-32/en/articles/58-this-is-the-article-title
              schema:
                $ref: '#/components/schemas/article_list_item'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 840d198c-48e6-4ead-92b8-e7075a5dc26e
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Article not found
          content:
            application/json:
              examples:
                Article not found:
                  value:
                    type: error.list
                    request_id: 3f3166de-dc9f-421a-8d7d-2a3c74af3bd7
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Articles
      summary: Update an article
      operationId: Articles_updateDetails
      description: >-
        You can update the details of a single article by making a PUT request
        to `https://api.intercom.io/articles/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the article which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_article_request'
            examples:
              successful:
                summary: successful
                value:
                  title: Christmas is here!
                  body: <p>New gifts in store for the jolly season</p>
              article_not_found:
                summary: Article Not Found
                value:
                  title: Christmas is here!
                  body: <p>New gifts in store for the jolly season</p>
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    title: Christmas is here!
                    description: ''
                    id: '61'
                    type: article
                    workspace_id: this_is_an_id38_that_should_be_at_least_4
                    parent_id: 184
                    parent_type: collection
                    parent_ids: []
                    statistics:
                      type: article_statistics
                      views: 0
                      conversations: 0
                      reactions: 0
                      happy_reaction_percentage: 0
                      neutral_reaction_percentage: 0
                      sad_reaction_percentage: 0
                    body: >-
                      <p class="no-margin">New gifts in store for the jolly
                      season</p>
                    author_id: 991267279
                    state: published
                    created_at: 1709726317
                    updated_at: 1709726318
                    url: >-
                      http://help-center.test/myapp-38/en/articles/61-christmas-is-here
              schema:
                $ref: '#/components/schemas/article_list_item'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: bf174bf1-9a7d-4c08-94e2-09f9cd1afc43
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Article Not Found
          content:
            application/json:
              examples:
                Article Not Found:
                  value:
                    type: error.list
                    request_id: fbaefe27-f1c3-45bd-aa13-43df1e85acff
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Articles
      summary: Delete an article
      operationId: Articles_deleteArticleById
      description: >-
        You can delete a single article by making a DELETE request to
        `https://api.intercom.io/articles/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the article which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    id: '64'
                    object: article
                    deleted: true
              schema:
                $ref: '#/components/schemas/deleted_article_object'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: faa8129a-0493-4321-b9f2-4f91426c4c4c
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Article Not Found
          content:
            application/json:
              examples:
                Article Not Found:
                  value:
                    type: error.list
                    request_id: 89012a0d-a3ac-46d1-bc65-0787625667c6
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
  /help_center/collections:
    get:
      tags:
        - Help Center
      summary: List all collections
      operationId: HelpCenter_listAllCollections
      description: >
        You can fetch a list of all collections by making a GET request to
        `https://api.intercom.io/help_center/collections`.


        Collections will be returned in descending order on the `updated_at`
        attribute. This means if you need to iterate through results then we'll
        show the most recently updated collections first.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data:
                      - description: english collection description
                        id: '192'
                        workspace_id: this_is_an_id52_that_should_be_at_least_4
                        name: English collection title
                        url: http://help-center.test/myapp-52/collection-17
                        order: 17
                        created_at: 1709726323
                        updated_at: 1709726323
                        icon: bookmark
                        help_center_id: 112
                        type: collection
                    total_count: 1
                    pages:
                      type: pages
                      page: 1
                      per_page: 20
                      total_pages: 1
              schema:
                $ref: '#/components/schemas/collection_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 9d27c9ec-eeea-4a16-ab97-4c8258b8be34
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Help Center
      summary: Create a collection
      operationId: HelpCenter_createCollection
      description: >-
        You can create a new collection by making a POST request to
        `https://api.intercom.io/help_center/collections.`
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_collection_request'
            examples:
              collection_created:
                summary: collection created
                value:
                  name: Thanks for everything
              bad_request:
                summary: Bad Request
                value:
                  description: Missing required parameter
      responses:
        '200':
          description: collection created
          content:
            application/json:
              examples:
                collection created:
                  value:
                    description: ''
                    id: '198'
                    workspace_id: this_is_an_id56_that_should_be_at_least_4
                    name: Thanks for everything
                    url: http://help-center.test/myapp-56/
                    order: 1
                    created_at: 1709726324
                    updated_at: 1709726324
                    icon: book-bookmark
                    help_center_id: 114
                    type: collection
              schema:
                $ref: '#/components/schemas/collection'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    type: error.list
                    request_id: 72bca5d3-f6c7-4d34-afd2-d3345af9ed0f
                    errors:
                      - code: parameter_not_found
                        message: Name is a required parameter.
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 65a1ad41-16b0-4d6f-9662-577044b57fd8
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /help_center/collections/{id}:
    get:
      tags:
        - Help Center
      summary: Retrieve a collection
      operationId: HelpCenter_getCollection
      description: >-
        You can fetch the details of a single collection by making a GET request
        to `https://api.intercom.io/help_center/collections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the collection which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: Collection found
          content:
            application/json:
              examples:
                Collection found:
                  value:
                    description: english collection description
                    id: '203'
                    workspace_id: this_is_an_id62_that_should_be_at_least_4
                    name: English collection title
                    url: http://help-center.test/myapp-62/collection-22
                    order: 22
                    created_at: 1709726326
                    updated_at: 1709726326
                    icon: bookmark
                    help_center_id: 117
                    type: collection
              schema:
                $ref: '#/components/schemas/collection'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 693dc874-52f9-47ce-aa84-03ad965e91b5
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Collection not found
          content:
            application/json:
              examples:
                Collection not found:
                  value:
                    type: error.list
                    request_id: 4a3e5b0c-704c-42ea-852a-f755f50d6dc7
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Help Center
      summary: Update a collection
      operationId: HelpCenter_updateCollectionById
      description: >-
        You can update the details of a single collection by making a PUT
        request to `https://api.intercom.io/collections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the collection which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_collection_request'
            examples:
              successful:
                summary: successful
                value:
                  name: Update collection name
              collection_not_found:
                summary: Collection Not Found
                value:
                  name: Update collection name
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    description: english collection description
                    id: '209'
                    workspace_id: this_is_an_id68_that_should_be_at_least_4
                    name: Update collection name
                    url: http://help-center.test/myapp-68/collection-25
                    order: 25
                    created_at: 1709726328
                    updated_at: 1709726328
                    icon: folder
                    help_center_id: 120
                    type: collection
              schema:
                $ref: '#/components/schemas/collection'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: c4ef0a35-400c-4d9c-9f46-cbec55897ffb
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Collection Not Found
          content:
            application/json:
              examples:
                Collection Not Found:
                  value:
                    type: error.list
                    request_id: dc166249-f6fc-46ff-a6af-60ebc6eed5eb
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Help Center
      summary: Delete a collection
      operationId: HelpCenter_deleteCollection
      description: >-
        You can delete a single collection by making a DELETE request to
        `https://api.intercom.io/collections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the collection which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    id: '215'
                    object: collection
                    deleted: true
              schema:
                $ref: '#/components/schemas/deleted_collection_object'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: eb282244-ebdf-471b-a15b-f0b0f397c2ed
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: collection Not Found
          content:
            application/json:
              examples:
                collection Not Found:
                  value:
                    type: error.list
                    request_id: a035bb7a-f246-4525-b48d-20ad423c3996
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
  /help_center/help_centers/{id}:
    get:
      tags:
        - Help Center
      summary: Retrieve a Help Center
      operationId: HelpCenter_getDetails
      description: >-
        You can fetch the details of a single Help Center by making a GET
        request to `https://api.intercom.io/help_center/help_center/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the collection which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: Collection found
          content:
            application/json:
              examples:
                Collection found:
                  value:
                    id: '126'
                    workspace_id: this_is_an_id80_that_should_be_at_least_4
                    created_at: 1709726331
                    updated_at: 1709726331
                    identifier: help-center-1
                    website_turned_on: false
                    display_name: Intercom Help Center
              schema:
                $ref: '#/components/schemas/help_center'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 5768bbbf-1ce1-4038-b7e5-517aeab9d74b
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Collection not found
          content:
            application/json:
              examples:
                Collection not found:
                  value:
                    type: error.list
                    request_id: 8c2b3866-09c6-4401-8120-0578b687f362
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
  /help_center/help_centers:
    get:
      tags:
        - Help Center
      summary: List all Help Centers
      operationId: HelpCenter_listAllHelpCenters
      description: >-
        You can list all Help Centers by making a GET request to
        `https://api.intercom.io/help_center/help_centers`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Help Centers found
          content:
            application/json:
              examples:
                Help Centers found:
                  value:
                    type: list
                    data: []
              schema:
                $ref: '#/components/schemas/help_center_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 0272824b-da6a-4e20-8fd7-517866b4d531
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /help_center/sections:
    get:
      tags:
        - Help Center
      summary: List all sections
      operationId: HelpCenter_listAllSections
      description: >
        You can fetch a list of all sections by making a GET request to
        `https://api.intercom.io/help_center/sections`.

        > 📘 How are the sections sorted and ordered?

        >

        > Sections will be returned in descending order on the `updated_at`
        attribute. This means if you need to iterate through results then we'll
        show the most recently updated sections first.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data:
                      - id: '222'
                        workspace_id: this_is_an_id90_that_should_be_at_least_4
                        name: English section title
                        url: http://help-center.test/myapp-90/section-15
                        order: 15
                        created_at: 1709726333
                        updated_at: 1709726333
                        type: section
                        parent_id: 221
                    total_count: 1
                    pages:
                      type: pages
                      page: 1
                      per_page: 20
                      total_pages: 1
              schema:
                $ref: '#/components/schemas/section_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 2241e2ca-c5fe-43b4-b0f3-80ac63e4e904
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Help Center
      summary: Create a section
      operationId: HelpCenter_createSection
      description: >-
        You can create a new section by making a POST request to
        `https://api.intercom.io/help_center/sections.`
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_section_request'
            examples:
              section_created:
                summary: section created
                value:
                  name: Thanks for everything
                  parent_id: 225
      responses:
        '200':
          description: section created
          content:
            application/json:
              examples:
                section created:
                  value:
                    id: '227'
                    workspace_id: this_is_an_id94_that_should_be_at_least_4
                    name: Thanks for everything
                    url: http://help-center.test/myapp-94/
                    order: 1
                    created_at: 1709726335
                    updated_at: 1709726335
                    type: section
                    parent_id: '225'
              schema:
                $ref: '#/components/schemas/section'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 29d97559-c951-43bb-b66b-b8341576dfd3
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /help_center/sections/{id}:
    get:
      tags:
        - Help Center
      summary: Retrieve a section
      operationId: HelpCenter_getSectionById
      description: >-
        You can fetch the details of a single section by making a GET request to
        `https://api.intercom.io/help_center/sections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the section which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: Section found
          content:
            application/json:
              examples:
                Section found:
                  value:
                    id: '231'
                    workspace_id: this_is_an_id98_that_should_be_at_least_4
                    name: English section title
                    url: http://help-center.test/myapp-98/section-19
                    order: 19
                    created_at: 1709726335
                    updated_at: 1709726335
                    type: section
                    parent_id: 230
              schema:
                $ref: '#/components/schemas/section'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 2cc98f12-c9ea-4431-81b9-758194ea4b79
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Section not found
          content:
            application/json:
              examples:
                Section not found:
                  value:
                    type: error.list
                    request_id: cbd4dc57-cf49-4e32-80e3-ec575fc41d89
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Help Center
      summary: Update a section
      operationId: HelpCenter_updateSectionById
      description: >-
        You can update the details of a single section by making a PUT request
        to `https://api.intercom.io/sections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the section which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_section_request'
            examples:
              successful:
                summary: successful
                value:
                  name: Update section name
                  parent_id: 236
              section_not_found:
                summary: Section Not Found
                value:
                  name: Update section name
                  parent_id: 238
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    id: '237'
                    workspace_id: this_is_an_id104_that_should_be_at_least_
                    name: Update section name
                    url: http://help-center.test/myapp-104/section-22
                    order: 22
                    created_at: 1709726337
                    updated_at: 1709726337
                    type: section
                    parent_id: '236'
              schema:
                $ref: '#/components/schemas/section'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 9ddbe1d2-e458-459a-a345-f22399af8c95
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Section Not Found
          content:
            application/json:
              examples:
                Section Not Found:
                  value:
                    type: error.list
                    request_id: ea86da89-4866-41fc-af5c-5705121bfe31
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Help Center
      summary: Delete a section
      operationId: HelpCenter_deleteSection
      description: >-
        You can delete a single section by making a DELETE request to
        `https://api.intercom.io/sections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the section which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    id: '243'
                    object: section
                    deleted: true
              schema:
                $ref: '#/components/schemas/deleted_section_object'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 20148c0e-ab92-449a-b8d3-7079d06d5da9
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: section Not Found
          content:
            application/json:
              examples:
                section Not Found:
                  value:
                    type: error.list
                    request_id: 988211e8-70fb-4f36-964c-fa8ee123c0b8
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
  /companies:
    post:
      tags:
        - Companies
      summary: Create or Update a company
      operationId: Companies_createOrUpdateCompany
      description: >
        You can create or update a company.


        Companies will be only visible in Intercom when there is at least one
        associated user.


        Companies are looked up via `company_id` in a `POST` request, if not
        found via `company_id`, the new company will be created, if found, that
        company will be updated.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_or_update_company_request'
            examples:
              successful:
                summary: Successful
                value:
                  company_id: company_remote_id
                  name: my company
                  remote_created_at: 1374138000
              bad_request:
                summary: Bad Request
                value:
                  test: invalid
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    tags:
                      tags: []
                      type: tag.list
                    type: company
                    company_id: company_remote_id
                    id: 65e85a856abd01fdcb4c6fc7
                    app_id: this_is_an_id116_that_should_be_at_least_
                    name: my company
                    remote_created_at: 1374138000
                    created_at: 1709726341
                    updated_at: 1709726341
                    monthly_spend: 0
                    session_count: 0
                    user_count: 0
                    segments:
                      type: segment.list
                      segments: []
                    plan: {}
                    custom_attributes:
                      creation_source: api
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    type: error.list
                    request_id: null
                    errors:
                      - code: bad_request
                        message: bad 'test' parameter
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 2c7755ff-f15e-41c2-a8c4-8f0f62c9faf4
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
    get:
      tags:
        - Companies
      summary: Retrieve companies
      operationId: Companies_getAllCompanies
      description: >
        You can fetch a single company by passing in `company_id` or `name`.

          `https://api.intercom.io/companies?name={name}`

          `https://api.intercom.io/companies?company_id={company_id}`

        You can fetch all companies and filter by `segment_id` or `tag_id` as a
        query parameter.

          `https://api.intercom.io/companies?tag_id={tag_id}`

          `https://api.intercom.io/companies?segment_id={segment_id}`
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The `name` of the company to filter by.
          name: name
          in: query
          required: false
          example: my company
          schema:
            type: string
        - description: The `company_id` of the company to filter by.
          name: company_id
          in: query
          required: false
          example: '12345'
          schema:
            type: string
        - description: The `tag_id` of the company to filter by.
          name: tag_id
          in: query
          required: false
          example: '678910'
          schema:
            type: string
        - description: The `segment_id` of the company to filter by.
          name: segment_id
          in: query
          required: false
          example: '98765'
          schema:
            type: string
        - description: The page of results to fetch. Defaults to first page
          name: page
          in: query
          required: false
          example: 1
          schema:
            type: integer
        - description: How many results to display per page. Defaults to 15
          name: per_page
          in: query
          required: false
          example: 15
          schema:
            type: integer
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data:
                      - tags:
                          tags: []
                          type: tag.list
                        type: company
                        company_id: remote_companies_scroll_2
                        id: 65e85a866abd01fdcb4c6fcf
                        app_id: this_is_an_id122_that_should_be_at_least_
                        name: IntercomQATest1
                        remote_created_at: 1709726342
                        created_at: 1709726342
                        updated_at: 1709726342
                        monthly_spend: 0
                        session_count: 0
                        user_count: 4
                        segments:
                          type: segment.list
                          segments: []
                        plan: {}
                        custom_attributes: {}
                    pages:
                      type: pages
                      next: null
                      page: 1
                      per_page: 15
                      total_pages: 1
                    total_count: 1
              schema:
                $ref: '#/components/schemas/company_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 289c0cfd-5b18-4795-992a-2f753412167f
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: d986bc0d-32de-44a2-ab09-7cba86784b8b
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
  /companies/{id}:
    get:
      tags:
        - Companies
      summary: Retrieve a company by ID
      operationId: Companies_getById
      description: You can fetch a single company.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 5f4d3c1c-7b1b-4d7d-a97e-6095715c6632
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    tags:
                      tags: []
                      type: tag.list
                    type: company
                    company_id: '1'
                    id: 65e85a896abd01fdcb4c6fda
                    app_id: this_is_an_id128_that_should_be_at_least_
                    name: company1
                    remote_created_at: 1709726345
                    created_at: 1709726345
                    updated_at: 1709726345
                    monthly_spend: 0
                    session_count: 0
                    user_count: 1
                    segments:
                      type: segment.list
                      segments: []
                    plan: {}
                    custom_attributes: {}
              schema:
                $ref: '#/components/schemas/company'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 905909ef-1923-414a-8404-2ee78925e6f8
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: 92752272-96a0-452c-b279-f6335a730ede
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Companies
      summary: Update a company
      operationId: Companies_updateCompanyById
      description: You can update a single company
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 5f4d3c1c-7b1b-4d7d-a97e-6095715c6632
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    tags:
                      tags: []
                      type: tag.list
                    type: company
                    company_id: '1'
                    id: 65e85a8b6abd01fdcb4c6fe4
                    app_id: this_is_an_id134_that_should_be_at_least_
                    name: company2
                    remote_created_at: 1709726347
                    created_at: 1709726347
                    updated_at: 1709726347
                    monthly_spend: 0
                    session_count: 0
                    user_count: 1
                    segments:
                      type: segment.list
                      segments: []
                    plan: {}
                    custom_attributes: {}
              schema:
                $ref: '#/components/schemas/company'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: b3685b38-211e-48a2-8447-5c0b036eb35c
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: eaf95b99-c472-4a1d-b364-9dedc476b9a6
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Companies
      summary: Delete a company
      operationId: Companies_deleteCompanyById
      description: You can delete a single company.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 5f4d3c1c-7b1b-4d7d-a97e-6095715c6632
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    id: 65e85a8d6abd01fdcb4c6fee
                    object: company
                    deleted: true
              schema:
                $ref: '#/components/schemas/deleted_company_object'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 355f3d28-b3c9-4942-ad3a-302e13c25513
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: ec8b34a2-eecb-459a-a751-eacc197cf480
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
  /companies/{id}/contacts:
    get:
      tags:
        - Companies
        - Contacts
      summary: List attached contacts
      operationId: Companies_listAttachedContacts
      description: You can fetch a list of all contacts that belong to a company.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 5f4d3c1c-7b1b-4d7d-a97e-6095715c6632
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data: []
                    total_count: 0
                    pages:
                      type: pages
                      page: 1
                      per_page: 50
                      total_pages: 0
              schema:
                $ref: '#/components/schemas/company_attached_contacts'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: ffad400b-d093-4761-aaac-7d9c3be95503
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: e1e99200-9375-4fbe-b142-d6edcd45a4d6
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
  /companies/{id}/segments:
    get:
      tags:
        - Companies
      summary: List attached segments for companies
      operationId: Companies_listAttachedSegments
      description: You can fetch a list of all segments that belong to a company.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 5f4d3c1c-7b1b-4d7d-a97e-6095715c6632
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data: []
              schema:
                $ref: '#/components/schemas/company_attached_segments'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: ec499814-bb1b-4fa2-b55d-49e9d355b1ca
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: c2a46165-5010-442c-962c-71e4655b6b76
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
  /companies/list:
    post:
      tags:
        - Companies
      summary: List all companies
      operationId: Companies_listAll
      description: >
        You can list companies. The company list is sorted by the
        `last_request_at` field and by default is ordered descending, most
        recently requested first.


        Note that the API does not include companies who have no associated
        users in list responses.


        When using the Companies endpoint and the pages object to iterate
        through the returned companies, there is a limit of 10,000 Companies
        that can be returned. If you need to list or iterate on more than 10,000
        Companies, please use the [Scroll
        API](https://developers.intercom.com/reference#iterating-over-all-companies).
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: what page of results to fetch. Defaults to first page
          name: page
          in: query
          required: false
          example: 1
          schema:
            type: integer
        - description: how many results per page. Defaults to 15
          name: per_page
          in: query
          required: false
          example: 15
          schema:
            type: integer
        - description: >-
            `asc` or `desc`. Return the companies in ascending or descending
            order. Defaults to desc
          name: order
          in: query
          required: false
          example: desc
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data:
                      - tags:
                          tags: []
                          type: tag.list
                        type: company
                        company_id: remote_companies_scroll_2
                        id: 65e85a936abd01fdcb4c700a
                        app_id: this_is_an_id158_that_should_be_at_least_
                        name: IntercomQATest1
                        remote_created_at: 1709726355
                        created_at: 1709726355
                        updated_at: 1709726355
                        monthly_spend: 0
                        session_count: 0
                        user_count: 4
                        segments:
                          type: segment.list
                          segments: []
                        plan: {}
                        custom_attributes: {}
                    pages:
                      type: pages
                      next: null
                      page: 1
                      per_page: 15
                      total_pages: 1
                    total_count: 1
              schema:
                $ref: '#/components/schemas/company_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 02b4dfef-99a7-44fa-b858-de8eb7ce9d70
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /companies/scroll:
    get:
      tags:
        - Companies
      summary: Scroll over all companies
      operationId: Companies_scrollAllCompanies
      description: >2
              The `list all companies` functionality does not work well for huge datasets, and can result in errors and performance problems when paging deeply. The Scroll API provides an efficient mechanism for iterating over all companies in a dataset.

        - Each app can only have 1 scroll open at a time. You'll get an error
        message if you try to have more than one open per app.

        - If the scroll isn't used for 1 minute, it expires and calls with that
        scroll param will fail

        - If the end of the scroll is reached, "companies" will be empty and the
        scroll parameter will expire


        > 📘 Scroll Parameter

        >

        > You can get the first page of companies by simply sending a GET
        request to the scroll endpoint. For subsequent requests you will need to
        use the scroll parameter from the response.


        > ❗️ Scroll network timeouts

        >

        > Since scroll is often used on large datasets network errors such as
        timeouts can be encountered. When this occurs you will need to restart
        your scroll query as it is not possible to continue from a specific
        point when using scroll.

        >

        > When this occurs you will see a HTTP 500 error with the following
        message:

        > "Request failed due to an internal network error. Please restart the
        scroll operation."
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: ''
          name: scroll_param
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data:
                      - tags:
                          tags: []
                          type: tag.list
                        type: company
                        company_id: remote_companies_scroll_2
                        id: 65e85a956abd01fdcb4c7010
                        app_id: this_is_an_id162_that_should_be_at_least_
                        name: IntercomQATest1
                        remote_created_at: 1709726357
                        created_at: 1709726357
                        updated_at: 1709726357
                        monthly_spend: 0
                        session_count: 0
                        user_count: 4
                        segments:
                          type: segment.list
                          segments: []
                        plan: {}
                        custom_attributes: {}
                    pages: null
                    total_count: null
                    scroll_param: 3f0851ed-0ad5-41ab-acb6-aac6f7c2711f
              schema:
                $ref: '#/components/schemas/company_scroll'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: cc1c50b0-dc27-4ef9-8d2a-fe87314274e3
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /contacts/{id}/companies:
    post:
      tags:
        - Companies
        - Contacts
      summary: Attach a Contact to a Company
      operationId: Companies_attachContactTo
      description: You can attach a company to a single contact.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the contact which is given by Intercom
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompaniesAttachContactToRequest'
            examples:
              successful:
                summary: Successful
                value:
                  id: 65e85a966abd01fdcb4c7019X
              bad_request:
                summary: Bad Request
                value: null
              company_not_found:
                summary: Company Not Found
                value:
                  id: '123'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    tags:
                      tags: []
                      type: tag.list
                    type: company
                    company_id: '1'
                    id: 65e85a966abd01fdcb4c7019
                    app_id: this_is_an_id166_that_should_be_at_least_
                    name: company6
                    remote_created_at: 1709726358
                    created_at: 1709726358
                    updated_at: 1709726358
                    monthly_spend: 0
                    session_count: 0
                    user_count: 1
                    segments:
                      type: segment.list
                      segments: []
                    plan: {}
                    custom_attributes: {}
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    type: error.list
                    request_id: b9be0310-5f52-491c-a2fc-5e34de4aa8c1
                    errors:
                      - code: parameter_not_found
                        message: company not specified
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 66afab50-0901-40bf-a72b-f65854a7245a
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: 73022839-5cc4-411e-a195-60ea543fce39
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
    get:
      tags:
        - Contacts
        - Companies
      summary: List attached companies for contact
      operationId: Contacts_listAttachedCompanies
      description: You can fetch a list of companies that are associated to a contact.
      parameters:
        - description: The unique identifier for the contact which is given by Intercom
          name: id
          in: path
          example: 63a07ddf05a32042dffac965
          required: true
          schema:
            type: string
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    type: list
                    data:
                      - tags:
                          tags: []
                          type: tag.list
                        type: company
                        company_id: '1'
                        id: 65e85a9d6abd01fdcb4c703a
                        app_id: this_is_an_id182_that_should_be_at_least_
                        name: company12
                        remote_created_at: 1709726365
                        created_at: 1709726365
                        updated_at: 1709726365
                        last_request_at: 1709553565
                        monthly_spend: 0
                        session_count: 0
                        user_count: 1
                        segments:
                          type: segment.list
                          segments: []
                        plan: {}
                        custom_attributes: {}
                    pages:
                      type: pages
                      next: null
                      page: 1
                      per_page: 50
                      total_pages: 1
                    total_count: 1
              schema:
                $ref: '#/components/schemas/contact_attached_companies'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 7cfa0824-17f3-4fcb-b4f3-4e1ba32a3022
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Contact not found
          content:
            application/json:
              examples:
                Contact not found:
                  value:
                    type: error.list
                    request_id: 19ff4de3-1f4c-4b08-931e-bdff43a459ba
                    errors:
                      - code: not_found
                        message: User Not Found
              schema:
                $ref: '#/components/schemas/error'
  /contacts/{contact_id}/companies/{id}:
    delete:
      tags:
        - Companies
        - Contacts
      summary: Detach a contact from a company
      operationId: Companies_detachContactFromCompany
      description: You can detach a company from a single contact.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the contact which is given by Intercom
          name: contact_id
          in: path
          required: true
          example: 58a430d35458202d41b1e65b
          schema:
            type: string
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 58a430d35458202d41b1e65b
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    tags:
                      tags: []
                      type: tag.list
                    type: company
                    company_id: '1'
                    id: 65e85a9a6abd01fdcb4c7029
                    app_id: this_is_an_id174_that_should_be_at_least_
                    name: company8
                    remote_created_at: 1709726362
                    created_at: 1709726362
                    updated_at: 1709726362
                    monthly_spend: 0
                    session_count: 0
                    user_count: 0
                    segments:
                      type: segment.list
                      segments: []
                    plan: {}
                    custom_attributes: {}
              schema:
                $ref: '#/components/schemas/company'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 6ef9c6c2-01c6-4c44-958a-3f39cc3236f2
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Contact Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: 18cb838c-575b-46ce-be23-3404d2434093
                    errors:
                      - code: company_not_found
                        message: Company Not Found
                Contact Not Found:
                  value:
                    type: error.list
                    request_id: 766622bf-19e0-4e08-923d-d5d43c0f77aa
                    errors:
                      - code: not_found
                        message: User Not Found
              schema:
                $ref: '#/components/schemas/error'
  /contacts/{id}/notes:
    get:
      tags:
        - Notes
        - Contacts
      summary: List all notes
      operationId: Notes_listAll
      description: You can fetch a list of notes that are associated to a contact.
      parameters:
        - description: The unique identifier of a contact.
          name: id
          in: path
          required: true
          schema:
            type: integer
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: list
                    data:
                      - type: note
                        id: '29'
                        created_at: 1709121567
                        contact:
                          type: contact
                          id: 65e85a9f6abd01fdcb4c7045
                        author:
                          type: admin
                          id: '991267361'
                          name: Ciaran110 Lee
                          email: admin110@email.com
                          away_mode_enabled: false
                          away_mode_reassign: false
                        body: <p>This is a note.</p>
                      - type: note
                        id: '28'
                        created_at: 1709035167
                        contact:
                          type: contact
                          id: 65e85a9f6abd01fdcb4c7045X
                        author:
                          type: admin
                          id: 991267361X
                          name: Ciaran110 Lee
                          email: admin110@email.com
                          away_mode_enabled: false
                          away_mode_reassign: false
                        body: <p>This is a note.</p>
                      - type: note
                        id: '27'
                        created_at: 1709035167
                        contact:
                          type: contact
                          id: 65e85a9f6abd01fdcb4c7045X
                        author:
                          type: admin
                          id: 991267361X
                          name: Ciaran110 Lee
                          email: admin110@email.com
                          away_mode_enabled: false
                          away_mode_reassign: false
                        body: <p>This is a note.</p>
                    total_count: 3
                    pages:
                      type: pages
                      next: null
                      page: 1
                      per_page: 50
                      total_pages: 1
              schema:
                $ref: '#/components/schemas/note_list'
        '404':
          description: Contact not found
          content:
            application/json:
              examples:
                Contact not found:
                  value:
                    type: error.list
                    request_id: e1eda96f-16d1-4a28-87bd-2c197f03d39c
                    errors:
                      - code: not_found
                        message: User Not Found
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Notes
        - Contacts
      summary: Create a note
      operationId: Notes_addNoteToContact
      description: You can add a note to a single contact.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier of a given contact.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotesAddNoteToContactRequest'
            examples:
              successful_response:
                summary: Successful response
                value:
                  contact_id: 65e85aa06abd01fdcb4c7047
                  admin_id: 991267363
                  body: Hello
              admin_not_found:
                summary: Admin not found
                value:
                  contact_id: 65e85aa16abd01fdcb4c7048
                  admin_id: 123
                  body: Hello
              contact_not_found:
                summary: Contact not found
                value:
                  contact_id: 123
                  admin_id: 991267365
                  body: Hello
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: note
                    id: '34'
                    created_at: 1709726368
                    contact:
                      type: contact
                      id: 65e85aa06abd01fdcb4c7047
                    author:
                      type: admin
                      id: '991267363'
                      name: Ciaran112 Lee
                      email: admin112@email.com
                      away_mode_enabled: false
                      away_mode_reassign: false
                    body: <p>Hello</p>
              schema:
                $ref: '#/components/schemas/note'
        '404':
          description: Contact not found
          content:
            application/json:
              examples:
                Admin not found:
                  value:
                    type: error.list
                    request_id: 33e908d4-5328-48a2-944d-32e2937ff92d
                    errors:
                      - code: not_found
                        message: Resource Not Found
                Contact not found:
                  value:
                    type: error.list
                    request_id: 12f563cb-1e4b-4cab-9f9d-73dcf6cdbc8e
                    errors:
                      - code: not_found
                        message: User Not Found
              schema:
                $ref: '#/components/schemas/error'
  /contacts/{contact_id}/segments:
    get:
      tags:
        - Contacts
        - Segments
      summary: List attached segments for contact
      operationId: Contacts_getSegmentsForContact
      description: You can fetch a list of segments that are associated to a contact.
      parameters:
        - description: The unique identifier for the contact which is given by Intercom
          name: contact_id
          in: path
          example: 63a07ddf05a32042dffac965
          required: true
          schema:
            type: string
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    type: list
                    data:
                      - type: segment
                        id: 65e85aa26abd01fdcb4c704a
                        name: segment
                        created_at: 1709726370
                        updated_at: 1709726370
                        person_type: user
              schema:
                $ref: '#/components/schemas/contact_segments'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 66e3b649-8fd7-4829-871c-887a4eb24a98
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
[...]
