openapi: 3.0.2
info:
  title: Miso API
  description: >

    # Overview

    Miso’s approach to personalization is to train machine learning Engines on
    three core data sets:


    1. Your site’s log of historical and real-time interactions,

    2. Your catalog of products and content, and

    3. Your users. Miso provides the output of its Engines to you, so you can
    build search and recommendation

    experiences that are personalized down to the individual level (n=1
    personalization).


    To see how Miso works and explore the power of its Engines, we recommend
    following

    [this tutorial](https://docs.askmiso.com/) to get

    started with our Playground data. Integrating your site or application with
    Miso happens in three basic steps:


    1. Upload your data

    2. Train your Engines

    3. Build search and recommendation experiences with the output of your
    Engines.



    Miso provides two main integration points. The first is your [Dojo
    Dashboard](https://dojo.askmiso.com/),

    which is used to set up your Engines with the conversions you want to
    optimize and your training schedule.

    Dojo is also a great way to get familiar with Miso by manually uploading
    data and exploring the output of

    Miso’s Engines. In Dojo’s Sandboxes, you can tweak your Engine settings and
    see visual examples of Miso’s search

    and recommendations running on your live data.


    The second integration point is Miso’s API, which lets you automatically
    manage your data in Miso and build

    experiences that leverage the output of Miso’s personalization Engines.



    Miso’s API is composed of two major groups of REST API endpoints: Data APIs
    and Engine APIs.


    ### Data APIs

    Data APIs collect input to Miso's personalization Engines. These APIs all
    support high-throughput

    data ingestion through bulk insert, and satisfy GDPR and CCPA compliance by
    letting users delete their data

    from Miso. Subcategories of Data APIs are:


    * [Interaction APIs](https://api.askmiso.com), for managing your Interaction
    records. By uploading historical and real-time Interaction

    records, you tell Miso how users are engaging with the products and content
    on your site, and in turn, Miso’s

    Engines learn how to optimize your conversion funnels.

    * [Product / Content APIs](https://api.askmiso.com), for managing your
    Product / Content records. These records provide a deep semantic

    understanding of your catalog and keep Miso up to date about your offerings
    so it can make smart and timely

    suggestions. The `product_id` is how Miso links Product / Content records to
    your Interaction records.

    * [User APIs](https://api.askmiso.com), for managing your User records.
    These records tell Miso about your site’s users and visitors,

    so Miso can build an understanding of user segmentation and behavior in
    relation to products and content.

    The `user_id` is how Miso links User records to your Interaction records.


    As a rule of thumb, we recommend batching up data to avoid timeout risks.
    For the Product / Content and User

    Upload APIs, we recommend limiting each API upload call to about 100 records
    at a time. For the Interaction

    Upload API, we recommend limiting your calls to around 10,000 records at a
    time.


    ### Engine APIs

    Engine APIs provide the output of Miso's personalization Engines. We
    designed these APIs with a focus on low

    latency and high availability. Most of these APIs' 95th percentile response
    time is under 75ms,

    and the services are replicated to at least three separate instances for
    high availability.

    The types of Engine APIs are:


    * [Search APIs](https://api.askmiso.com), for getting Miso’s personalized
    search results for a user, with search-as-you-type and

    autocompletion.

    * [Recommendation APIs](https://api.askmiso.com), for retrieving Miso’s
    recommendations that match users with

    the products, categories, and product attributes that are likely to drive
    conversions.


    # Authentication

    [View your API Keys in your Dojo
    Dashboard.](https://dojo.askmiso.com/docs/api-browser)


    There are three environments in Miso:

    * **Playground**, a read-only tutorial environment with sample data.

    * **Development**, for staging, QA, and experimentation.

    * **Production**, where you run your live integration with Miso.


    Access a Miso environment by passing in the corresponding API key in your
    API calls. There is one publishable

    key and one secret key per environment.


    API Key can passed with query parameter `api_key`, or using the `X-API-KEY`
    header.
  version: 1.1.4
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://api.askmiso.com
tags:
  - description: >+

      Miso's Product / Content APIs let you upload, read, and delete Product /
      Content records that represent your site's

      catalog.


      ### Product / Content records

      Miso analyzes your Product / Content records to provide personalized
      search and recommendations that connect users

      with products or content on your site or application.


      Much of Miso's search and personalization capability relies on
      understanding your catalog in-depth and drawing

      correlations between your catalog and your users' consumption or
      purchasing behaviors. In other words, Miso

      discovers that, with high correlation, users who are interested in certain
      product attributes would also be

      interested in other products with similar or related attributes. (For
      simplicity, we will often overload the word

      "products" to mean items for purchase if you are an eCommerce business,
      and content to consume if you are a content

      marketplace.)


      To fully optimize your search and recommendations, it is important to
      provide Miso with Product / Content records

      that are complete and accurate. We define a set of common attributes that
      capture the basics of most eCommerce and

      content media products, such as `title`, `description`, `categories`,
      `tags`, `material`, `authors`, etc.


      If your products' characteristics cannot be fully captured by these
      fields, we recommend that you specify

      `custom_attributes`. For Miso, the more complete the product information
      is, the better its personalized search

      and recommendations become.

    name: Product / Content APIs
  - name: Recommendation APIs
  - description: >+

      Miso’s User APIs let you upload, read, and delete User records that tell
      Miso about your site’s unique users and

      visitors.


      ### User records

      User records specify relatively static attributes for a given user, such
      as their `age`, `gender`, `city`, etc. As a

      rule of thumb, you should put information here that is not already
      captured in your

      [Interaction records](https://api.askmiso.com). For example,
      *last_bought_product* is probably not needed here because

      Miso already can tell that from the [Interaction
      records](https://api.askmiso.com).


      Miso will discover the correlations between a user's attributes and their
      behaviors on your site. For example, Miso

      might determine that users of a certain age group tend to be interested in
      certain products or a certain price

      range. These insights will be taken into account when predicting users'
      interests, in particular for new users who

      have not yet generated many interaction records.


      We define a set of common user attributes for e-Commerce and content media
      sites. Some of them, such as `name` are

      for display in the Dojo dashboard only. The rest are for model quality.
      Most attributes are optional and you don't

      need to specify them if you don't collect such data. On the other hand,
      you can specify your custom user attributes

      in the `custom_attributes` field. Miso will analyze custom user attributes
      to improve the model quality as well.

    name: User APIs
  - name: Search APIs
  - name: Q&A APIs
  - description: >+

      Miso’s Interaction APIs let you manage your Interaction records stored
      with Miso.


      ### Interaction records

      Your Interaction records tell Miso about user interactions with products
      and content on your site or application.

      From these interactions, Miso understands how users move through your
      conversion funnels: which products or content

      assets attract the attention of each individual user, and which products
      or content ultimately will be purchased or

      consumed by each of them. With these insights, Miso makes real-time
      tailored recommendations for each user, and

      responds to each of their clicks and views on the site (even for anonymous
      users).


      Interaction records share some common attributes, but are distinguished by
      their type.

      Miso captures 23 different interaction types, divided into the following 6
      groups:


      #### Core click-streams

      * `product_detail_page_view`: a user viewed the detail page for a product

      * `search`: a user made a search request with keywords and (optionally)
      filters


      The above interactions are the core fuel for Miso's personalization
      Engines, because they happen in a much higher

      frequency than other interactions and provide an unbiased and
      high-fidelity view of users' interests on the site.

      The collection of these interactions is highly important for Miso's
      personalization performance. At the minimum,

      you should implement the `product_detail_page_view` interaction to start
      with.


      #### Conversion (eCommerce)

      * `add_to_cart`: a user added a product to the shopping cart

      * `remove_from_cart`: a user removed a product from the shopping cart

      * `checkout`: a user checked out and started the payment process

      * `refund`: a user refunded the product

      * `subscribe`: a user subscribed to a product


      The above interactions are the main revenue drivers for eCommerce sites.
      It’s important to collect them so that

      Miso can not only drive click-through rates, but actually improve the
      revenue in a targeted way. To start with,

      you should at least implement the `add_to_cart` interaction.


      #### Consumption (content media)

      * `read`, `watch`, and `listen` interactions capture how and for how long
      a user consumed a piece of content.

      * `add_to_collection`: a user added an product to their personal
      collection

      * `remove_from_collection`: a user removed an product from their personal
      collection


      If you are a content site, the above interactions are the main drivers to
      users' satisfaction on the site.

      Collecting these interactions allows Miso to drive consumption rates and
      consumption durations for the content on

      your site. If you run a content site, you should implement at least one of
      these interactions.


      #### Feedback signals

      * `like`, `dislike`, `share`, `rate`,  and `bookmark` are common ways 
      users express their interests.


      These are strong signals for Miso to understand each user's preferences
      regarding your products or content. You

      should send these signals to Miso if you have any of these UI patterns on
      your site.


      #### Performance Checking

      * `impression`: a user saw or was presented with a product or content
      asset (but didn't yet interact with it)

      * `viewable_impression`: the product or content presented is actually
      viewed by the user
        (for example, minimum of 50% of the pixels were in viewable space for at least one continuous second.)
      * `click`: a user clicked on something (for example, a product item)


      #### Additional click-streams

      * `home_page_view`: user viewed your home page

      * `category_page_view`: a user viewed the page for a specific “group” or
      “family” or products or content in your catalog

      * `promo_page_view`: user viewed the promotion pages about certain
      products

      * `product_image_view`: user clicked on or otherwise interacted with  the
      product image (e.g. enlarged the image)


      The above interactions are additional signals for Miso to understand
      users' behavior on the site.


      #### Custom

      * `custom` interaction types are reserved for you to define your own
      business-specific interaction types.


      Miso will analyze any custom interactions you define to infer users'
      interests and preferences.


    name: Interaction APIs
  - description: >+

      Miso's new Ask API is the next generation of question answering APIs.

      It is designed to provide accurate and concise answers to your questions

      based on your existing product documents.


      Ask API offers a seamless and effective way to address complex queries in

      a near-realtime fasion.


      Miso preprocesses your product documents, breaking them into segments.

      When a question is received, Miso finds the most related product and
      segments, then

      summarize to a concise and informative answer based on the identified
      segments,

      including products related to the question.


      Possible use case includes: knowledge base, documentation search, customer
      support, and more.


      To use the Ask API, you first submit a "question" you want to ask.

      Question can be any human-readable text. Then a question ID will returned,

      and the question will be processed in the background.


      After receving question ID, you can then use the question ID to get latest
      answer

      to the question as it is being compiled.


      ----


      For example:


      If you want to know about the inner workings of nginx:


      ```json

      {
          "question":"How nginx works internally?"
      }

      ```


      The API would response with a question id.

      ```json

      {
          "data": {
              "question_id": "ff4775fa-345e-4d28-91b0-8fb8bf095e6a"
          },
          "message": "success"
      }

      ```


      Then you can send a GET request to
      `/v1/ask/questions/{question_id}/answer`

      to get the latest answer as it is being compiled and summerized.

      You can use `answer_stage` and `finished` to check current answer status.


      Here's the response of answer API when data is fetched and being verified,
      before answer is summerized:

      ```json

      {
          "message": "success",
          "data": {
              "question": "How nginx works internally?",
              "question_id": "ff4775fa-345e-4d28-91b0-8fb8bf095e6a",
              "parent_question_id": null,
              "answer_stage": "Verifying possible answers",
              "finished": false,
              "answer": "Verifying possible answers ...",
              "sources": [],
              "related_resources": [],
              "followup_questions": []
          }
      }

      ```


      Here's the response when answer is fullly summerized:


      ```json

      {
          "message": "success",
          "data": {
              "question": "How nginx works internally?",
              "question_id": "ff4775fa-345e-4d28-91b0-8fb8bf095e6a",
              "parent_question_id": null,
              "answer_stage": "Generating summary",
              "finished": true,
              "answer": "# How does Nginx work internally?\n\n## Internal requests [1]\n\nNginx differentiates between external and internal requests. External requests...[omitted for simplicity]",
              "sources": [
                  {
                      "title": "Internal requests",
                      "product_id": "9781788623551",
                      "child_title": "Internal requests",
                      "child_id": "203",
                      "snippet": "<mark>Internal requests\nNginx differentiates external and internal requests.</mark>"
                  },
                  {
                      "title": "5. Nginx Core Architecture",
                      "product_id": "9781484216569",
                      "child_title": "5. Nginx Core Architecture",
                      "child_id": "5",
                      "snippet": "Checks if the client can access of the requested the resource.\n<mark>It is at this step that Nginx...[omitted]</mark>"
                  },
                  {
                      "title": "2. Managing Nginx",
                      "product_id": "9781785289538",
                      "child_title": "2. Managing Nginx",
                      "child_id": "14",
                      "snippet": "<mark>The Nginx connection processing architecture\nBefore you study...[omitted]</mark>"
                  },
                  {
                      "title": "3. Nginx Core Directives",
                      "product_id": "9781484216569",
                      "child_title": "3. Nginx Core Directives",
                      "child_id": "3",
                      "snippet": "<mark>Understanding the Default Configuration\nThe default configuration...[omitted]</mark>"
                  },
                  {
                      "title": "4. Nginx Modules",
                      "product_id": "9781484216569",
                      "child_title": "4. Nginx Modules",
                      "child_id": "4",
                      "snippet": "<mark>Based on the context like HTTP, MAIL, and STREAM, it creates a ...[omitted]</mark>"
                  }
              ],
              "related_resources": [],
              "followup_questions": [
                  "What are the steps involved in processing a request and generating a response in Nginx?",
                  "How do Nginx modules contribute to the internal workings of Nginx?"
              ]
          }
      }

      ```


      Related product IDs will be returned along with human-readable answer.
      Related text section in the product will also be quoted.


      If a product has any children, they will also be matched, `child_id` and
      `child_title` will be included for sources belonging to the product's
      children.


      You can use `fq` to limit the search scope, for example, to a specific
      product type or other condition.


      If you only want to search for books (no articles of videos), you can use
      `fq=type:book` like this:

      ```json

      {
          "question":"How nginx works internally?"
          "fq": "type:book"
      }

      ```


      If you want the answer to contain any other fields, set `source_fl` when
      submitting the question.

    name: Ask APIs
  - description: >

      Miso's experiment APIs let you do the A/B testing of your current result
      with Miso.


      ### Start an experiment in Dojo.


      Login to the [dojo](https://dojo.askmiso.com) platform.

      Create an experiment event for you.


      ### Start running A/B testing in your environment.


      #### Implement A/B testing code.


      Here's an example in NodeJS. You can also use any programming language of
      you choice.

      ```nodejs

      const axios = require('axios');


      async function get_user_experiment_info(api_key, experiment_id, user_id) {
          data = {"user_id": user_id}
          endpoint = `https://api.askmiso.com/v1/experiments/${experiment_id}/events?api_key=${api_key}`
          return await axios.post(endpoint, data)
      }


      const api_key = '<YOUR_SECRET_API_KEY>'

      const experiment_id = "<EXPERIMENT_ID | EXPERIMENT_SLUG_NAME>"

      let user_id = 'user_1234'  // use to evaluate a treatment for


      const user_experiment_info = get_user_experiment_info(api_key,
      experiment_id, user_id)

      user_experiment_info.then((response) => {
          let variant = response.data['variant']
          if (variant['name'] == "treatment") {
              // insert code here to show "treatment" variant
          } else if (variant['name'] == "control") {
              // insert code here to show "control" variant
          } else {
              // unexpected variant name. raise error
              throw new Error(`Unexpected variant name ${variant["name"]}`)
          }
      })

      ```


      If you implement A/B testing code in FrontEnd, like JavaScript, and are
      also worried about exploding the secret api_key. You can choose to use
      anonymous_id with the public_api_key for this API. Here's an example.


      ```javascript

      const apiKey = '<YOUR_PUBLIC_API_KEY>';

      const experimentId = '<EXPERIMENT_ID | EXPERIMENT_SLUG_NAME>';

      const anonymous_id = 'user_1234';  // use to evaluate a treatment for


      function getUserExperimentInfo(apiKey, experimentId, anonymous_id) {
        const data = {
          user_id: anonymous_id
        };
        const url = `https://api.askmiso.com/v1/experiments/${experimentId}/events?api_key=${apiKey}`;
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        };

        return window.fetch(url, options)
          .then((response) => response.json())
          .then((data) => {
            const variantName = data.variant.name;
            if (variantName === `${this.treatmentName}`) {
              // insert code here to show 'treatment' variant
            } else if (variantName === `${this.controlName}`) {
              // insert code here to show 'control' variant
            } else {
              // unexpected variant name, throw error
              throw new Error(`Unexpected variant name: ${variantName}`);
            }
          })
          .catch((error) => console.error(error));
      }


      getUserExperimentInfo(apiKey, experimentId, anonymous_id);

      ```
    name: Experiment APIs
  - description: >

      The Bulk API provides an efficient interface for making multiple Search /
      Recommendations / Q&A requests in one API

      call. These requests will be executed concurrently at the Miso side, and
      returned at once when all of them are finished.

      This API is particularly useful when you need to invoke multiple Miso APIs
      to respond to a user request.

      Using this API, you can batch multiple API calls into one, and
      significantly save the network round-trip times.


      ### Request schema

      The request schema for this API call is as follow:

      ```

      POST /v1/bulk

      {
        "requests": [
          {
            "api_name": "search/search",
            "body": { ... }
          },
          {
            "api_name": "recommendation/product_to_product",
            "body": { ... }
          },
          ...
        ]
      }

      ```

      Each request object should contain:

      * **api_name**: name of the API you want to access. The name should
      contain a slash `/`.

      For example, search/search for search requests, search/autocomplete for
      autocomplete requests, etc.

      * **body**: the complete request body as if you are making the API request
      individually.


      Any errors in one of the requests will be returned, and will not prevent
      other requests from being

      executed.


      ### Response Schema

      Bulk API endpoint will return the API responses in the same order as they
      appear in the request.

      For example, if the Bulk API request is like the following:

      ```

      POST /v1/bulk

      {
        "requests": [
          {... request 1 ...},
          {... request 2 ...}
        ]
      }

      ``` 


      The response will be like:

      ```

      {
        "data": [
          // response for request 1
          {
            "error": false,
            "status_code": 200,
            "body": { ... }
          },
          // response for request 2
          {
            "error": false,
            "status_code": 200,
            "body": { ... }
          }
        ]
      }

      ```


      Each response object will contain the following fields:

      * **error**: whether there was an error with the request. You should check
      this field to determine whether to

      perform error handling.

      * **status_code**: status code of the request.

      * **body**: the response body of the request (as if the request was sent
      individually).


      Let's see a complete example with MovieLens data. The following requests
      will issue two requests in one API call that 

      return the `Sci-Fi` movies directed by

      *Ridley Scott*, and *James Cameron* respectively in the first and second
      responses:

      ```

      POST /v1/bulk

      {
        "requests": [
          {
            "api_name": "search/search",
            "body": {
              "user_id": "test_user",
              "q": "sci-fi",
              "fq": "custom_attributes.director:\"Ridley Scott\""
            }
          },
          {
            "api_name": "search/search",
            "body": {
              "user_id": "test_user",
              "q": "sci-fi",
              "fq": "custom_attributes.director:\"James Cameron\""
            }
          }
        ]
      }

      ```

      The response will be like:

      ```

      {
        "data": [
          {
            "error": false,
            "status_code": 200,
            "body": {
              "data": {
                "took": 136,
                "miso_id": "19ab254c-5fb8-11ec-bd48-b20169940af9",
                "products": [
                  {
                    "product_id": "blade-runner",
                    "title": "Blade Runner (1982)"
                  }
                ],
                "total": 6,
                "start": 0
              }
            }
          },
          {
            "error": false,
            "status_code": 200,
            "body": {
              "data": {
                "took": 116,
                "miso_id": "19ab254c-5fb8-11ec-bd48-b20169940af9",
                "products": [
                  {
                    "product_id": "avatar",
                    "title": "Avatar (2009)"
                  }
                ],
                "total": 10,
                "start": 0
              }
            }
          }
        ]
      }

      ```
    name: Bulk API
paths:
  /v1/experiments/{experiment_id_or_slug}/events:
    post:
      tags:
        - Experiment APIs
      summary: Send Experiment Event
      operationId: ExperimentApIs_sendEvent
      security:
        - Secret API Key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendExperimentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentApIsSendEventResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentApIsSendEvent404Response'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentApIsSendEvent422Response'
  /v1/interactions:
    post:
      tags:
        - Interaction APIs
      summary: Interaction Upload API
      operationId: InteractionApIs_insertRecords
      security:
        - Secret API Key: []
        - Publishable API Key: []
      description: >-
        Bulk API to insert Interaction records. This endpoint accepts POST
        requests with JSON data  containing an array of

        Interaction records wrapped in a dictionary:


        ```

        POST /v1/interactions


        {"data": [interaction_1, interaction_2, interaction_3]}

        ```


        For real-time tracking, we recommend sending the interaction records to
        this API as soon as the interactions take

        place. This API is also ideal for bulk-inserting historical records that
        your site collected before using Miso.
         Miso can analyze the historical records and provide personalization for your users from the get-go. We recommend
         limiting your calls to around 10,000 records at a time to avoid memory issues or timeout risks.

        ###  Anonymous users

        For users who did not sign in, we can still make recommendations for
        them by tracking their `anonymous_id`, which is a pseudo-unique
        substitute for the `user_id`. The personalization and search APIs all
        accept `anonymous_id` in the place of `user_id` to return tailored
        results for anonymous users.


        When an anonymous user later signs in and the `user_id` and
        `anonymous_id` are both present, the `anonymous_id` will be linked to
        the `user_id` along with the past interactions associated with it.


        The typical mechanism to generate an `anonymous_id` is to use cookies or
        the browser localStorage. However, if you don't collect such information
        in your historical records, a hash of the IP address, optionally
        combined with the User-Agent string, is also a reasonable substitute for
        `anonymous_id`, and is most likely collected by your web server logs
        already.


        ### Schema validation

        The Interaction Upload API will validate the inserted records against
        the API schema.

        Any schema errors will cause the whole request to fail, and none of the
        records will be inserted (`status_code=422`).

        You should check the `response.errors` field to see if there are any
        errors.


        For example, the response below means there are no errors
        (`status_code=200`):

        ```javascript

        {
            "message": "success"
        }

        ```


        Any schema error will cause the whole request to fail: the API will
        return `status_code=422`, and none of the

        records will be inserted. You should check `data` field in the response
        to see where the errors are located. For

        example, the response below means there are schema errors in the
        interaction record at index 0:

        ```javascript

        {
            "errors": true, // there are errors. please check!
            "message": "None of the records were inserted because at least one of them contained schema errors. Please see the `data` field for details.",
            "data": [
                "data.0.product_ids is invalid. The attribute was expected to be of type ''array', 'null'' but type 'string' was given.",
                "data.0.timestamp is invalid. The attribute should match the 'date-time' format."
            ]
        }

        ```
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionBulkIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionCreateOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionApIsInsertRecordsResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionApIsInsertRecords403Response'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionApIsInsertRecords422Response'
    delete:
      tags:
        - Interaction APIs
      summary: Interaction Delete API
      operationId: InteractionApIs_removeData
      security:
        - Secret API Key: []
      description: >-
        The endpoint will delete users' interaction data entirely from the log
        of interactions you have uploaded to Miso.

        This API enables you to comply with users' data removal requests (i.e.
        right to be forgotten). Once a user's

        interactions are deleted, we will not be able to recover them, and they
        will no longer contribute to model

        training.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionDeleteIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionDeleteOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/products:
    post:
      tags:
        - Product / Content APIs
      summary: Product / Content Upload API
      operationId: ProductContentApIs_bulkInsert
      security:
        - Secret API Key: []
      description: >-
        Bulk API to insert Product records. This API endpoint accepts POST
        requests with JSON data

        containing a list of Product / Content records wrapped in a dictionary:

        ```

        POST /v1/products


        {"data": [product_1, product_2, product_3]}

        ```


        Each product is uniquely identified by its `product_id`. If a record
        with the same `product_id`

        already exists in the dataset, the existing one will be **replaced** by
        the insertion (no

        partial update is allowed at this time). We recommend limiting your
        calls to around 100

        records at a time to avoid memory issues or timeout risks.


        ### Schema validation

        This API validates the inserted records against the API schema; any
        schema error will cause

        the whole request to fail (`status_code=422`), and none of the records
        will be inserted. You

        should check the `response.errors` field to see if there are any errors.
        For example,

        the response below means there are no errors (`status_code=200`):


        ```json

        {
          "message": "success",
          "data": {
            "task_id": "{task_id}"
          }
        }

        ```


        A common source of errors when uploading Product records is that the
        custom attributes' data

        types are not consistent with the data types of the existing records. In
        such cases,

        you can check the individual error message in the `data` array. For
        example, if there is an

        error regarding the second record you tried to insert, the response
        might look like:


        ```json

        {
          "errors": true, // there are errors. please check!
          "data": [
            "data.0.custom_attributes.designer is invalid. Its data type is not consistent with other records",
            "data.0.product_id is invalid. The attribute expected to be of type 'string', but 'array' is given.",
            "data.0.created_at is invalid. The attribute should match 'date-time' format."
          ]
        }

        ```


        ### Internationalization (I18N)

        Miso has the built-in support for majority of Western European
        languages, including `English`, `French`, `German`,

        `Spanish`, `Italian`, `Dutch`, `Russian`, and `Ukrainian`, as well as,
        major Asian languages, including `Mandarin`
         (both Simplified and Traditional), `Japanese`, and `Korean`.

        In Dojo, you can choose the *Primary Language* for your product catalog
        (default is English).

        However, you can also have more than one language in your product
        catalog that is

        beyond your primary languages using the `i18n_$LN` fields (replace `$LN`
        with the [two-letter language
        code](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) of your
        choice),

        and let Miso apply the language-specific preprocessing for you, such as
        tokenization, stemming, elision

        removal, folding, decompounding, and traditional to simplified Chinese
        conversion.


        For example, you may have a product called "Arizona, Green Tea with
        Ginseng & Honey" in your catalog, and you also

        sell it in your Spanish, French, and Chinese sites, and want your
        customers to be able to search for this product

        in their native languages.


        In this case, your product records will like the following sample
        record, where English is the primary language of

        the record, and `i18n_es`, `i18n_fr`, `i18n_zh` fields contain product
        details in their corresponding languages.

        ```javascript

        {
            "product_id": "arizona-ginseng-honey",
            // the primary language is English
            "title": "Arizona, Green Tea with Ginseng & Honey",
            // ... other product details in English
            "i18n_es": {
               "title": "AriZona, Té verde con ginseng y miel"
                // ... other product details in Spanish
            },
            "i18n_fr": {
               "title": "AriZona - Thé Vert Aromatisé au Miel"
                // ... other product details in French
            },
            "i18n_zh": {
               "title": "美國ARIZONA亞歷桑納 - 蜂蜜人蔘綠茶"
                // ... other product details in Chinese
            }
         }
        ```

        In this way, your customer can find this product with any of the
        following search queries

        without additional configuration:

        * `arizona green tea`

        * `arizona te verde`

        * `arizona the vert`

        * `arizona 綠茶`


        The similar concept applies to Autocomplete as well. You can specify a
        `language` parameter

        in the requests to Autocomplete API, and the autocomplete results for
        the specific language

        will be returned.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductBulkIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContentApIsBulkInsertResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContentApIsBulkInsert401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContentApIsBulkInsert403Response'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContentApIsBulkInsert422Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContentApIsBulkInsert500Response'
  /v1/products/{product_id}:
    get:
      tags:
        - Product / Content APIs
      summary: Product / Content Read API
      operationId: ProductContentApIs_getProductDetails
      security:
        - Secret API Key: []
      description: >-
        This API endpoint retrieves the details of a specific product / content
        using its `product_id`.

        To fetch the product / content information, make a GET request to the
        following URL:


        **Notice**: Make sure the product_id is an urlencode string.


        ```

        GET /v1/products/{product_id}

        ```


        Replace `{product_id}` with the unique identifier of the product /
        content you wish to fetch.


        ## Response Format


        The API will return the product / content details in a JSON object if
        the given `product_id`

        is valid and exists in the system. The JSON object will include fields
        like `title`,

        `description`, `price`, `images`, and any internationalization fields
        (`i18n_$LN`).


        ### Example Response


        Here's an example of a successful API response for a product / content
        with the `product_id`

        "arizona-ginseng-honey":


        ```json

        {
          "product_id": "arizona-ginseng-honey",
          "title": "Arizona, Green Tea with Ginseng & Honey",
          "description": "A refreshing and delicious blend of green tea with ginseng and honey.",
          "price": 1.99,
          "i18n_es": {
            "title": "AriZona, Té verde con ginseng y miel"
            // ... other product details in Spanish
          },
          "i18n_fr": {
            "title": "AriZona - Thé Vert Aromatisé au Miel"
            // ... other product details in French
          },
          "i18n_zh": {
            "title": "美國ARIZONA亞歷桑納 - 蜂蜜人蔘綠茶"
            // ... other product details in Chinese
          }
        }

        ```


        If the provided `product_id` is invalid or does not exist in the system,
        the API will return

        an error response with a `status_code=404`.


        ### Example Error Response

        ```json

        {
          "message": "not found"
        }

        ```
      parameters:
        - required: true
          schema:
            title: Product Id
            maxLength: 512
            type: string
          name: product_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductReadOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductContentApIsGetProductDetailsResponse
        '404':
          description: Product not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductContentApIsGetProductDetails404Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductContentApIsGetProductDetails500Response
    delete:
      tags:
        - Product / Content APIs
      summary: Product / Content Delete API
      operationId: ProductContentApIs_deleteProductContent
      security:
        - Secret API Key: []
      description: >-
        This API endpoint allows you to delete a specific product / content from
        the system using its

        `product_id`. To remove a product, make a DELETE request to:


        **Notice**: Make sure the product_id is an urlencode string.


        ```

        DELETE /v1/products/{product_id}

        ```


        Replace `{product_id}` with the unique identifier of the product /
        content you wish to delete.


        ## Response Format


        The API will return a JSON object indicating the success or failure of
        the deletion request.

        If the deletion is successful, the `status_code` will be `200`, and the
        `message` field will

        confirm the successful deletion.


        ### Example Successful Deletion Response


        ```json

        {
          "message": "deleted",
          "data":  [
            {
              "task_id": "{task_id}"
            }
          ]
        }

        ```


        To check the exact response body of this task_id, make a GET request to
        the following endpoint:


        ```

        GET /v1/products/_status/{task_id}

        ```


        Replace `{task_id}` with the task_id returned from the response.
      parameters:
        - required: true
          schema:
            title: Product Id
            maxLength: 512
            type: string
          name: product_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductContentApIsDeleteProductContentResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductContentApIsDeleteProductContent401Response
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductContentApIsDeleteProductContent403Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductContentApIsDeleteProductContent500Response
  /v1/products/_ids:
    get:
      tags:
        - Product / Content APIs
      summary: Product / Content ID List API
      operationId: ProductContentApIs_getProductIds
      security:
        - Secret API Key: []
      description: >-
        This API endpoint allows you to fetch the unique identifiers
        (product_ids) of all products

        stored in the app. To get a list of product_ids, make a GET request to
        the following URL:


        ```

        GET /v1/products/_ids

        ```


        ## Response Format


        The API will return an array of product_ids in a JSON object. The
        `status_code` will be `200`

        if the request is successful. If any error occurs during the request,
        the `status_code` will

        not be `200` and the `message` field will indicate the error.


        ### Example Successful Response


        ```json

        {
          "message": "success",
          "data": {
            "ids": [
              "product_1",
              "product_2",
              "product_3",
              // ... more product_ids
            ]
          }
        }

        ```


        ### Example Error Response


        If the dataset cannot be found, the API will return a `404` error:


        ```json

        {
          "status_code": 404,
          "message": "not found"
        }

        ```


        If another error occurs during the request, the API will return a `500`
        error


        ```json

        {
          "message": "Something went wrong. Please contact miso product team."
        }

        ```
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContentApIsGetProductIdsResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductContentApIsGetProductIds500Response
  /v1/products/_delete:
    post:
      tags:
        - Product / Content APIs
      summary: Product / Content Bulk Delete API
      operationId: ProductContentApIs_bulkDelete
      security:
        - Secret API Key: []
      description: >-
        This API endpoint allows you to delete multiple products by providing
        their product_ids.


        To delete multiple products, make a POST request to the following URL:


        ```

        POST /v1/products/_delete

        ```


        The request body should contain a JSON object with an array of
        product_ids:


        ```json

        {
          "data": {
            "product_ids": [
              "product-1",
              "product-2",
              // ... more product_ids to delete
            ]
          }
        }

        ```


        ## Response Format


        The API will return a JSON object with a `message` and an array of
        `data`

        containing a `task_id` that can be used to get the status of the bulk
        deletion process.


        #### Example Successful Response


        ```json

        {
          "message": "deleted",
          "data": {
            "task_id": "{task_id}"
          }
        }

        ```


        To check the exact response body of this task_id, make a GET request to
        the following endpoint:


        ```

        GET /v1/products/_status/{task_id}

        ```


        Replace `{task_id}` with the task_id returned from the response.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductBulkDeleteIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContentApIsBulkDeleteResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContentApIsBulkDelete401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContentApIsBulkDelete403Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContentApIsBulkDelete500Response'
  /v1/users:
    post:
      tags:
        - User APIs
      summary: User Upload API
      operationId: UserApIs_bulkUpload
      security:
        - Secret API Key: []
      description: >-
        Bulk API to insert User records. This API endpoint accepts POST requests
        with JSON data

        containing a list of User records wrapped in a dictionary.


        ```

        POST /v1/users

        ```


        ```json

        {
          "data": [user_1, user_2, user_3]
        }

        ```


        If a record with the same `user_id` already exists in the dataset, the
        existing record will

        be replaced (no partial update is allowed at this time). We recommend
        limiting your calls to

        around 100 records at a time to avoid memory issues or timeout risks.


        ### Schema validation


        This API validates the inserted records against the API schema. Any
        schema error will cause

        the whole request to fail (`status_code=422`), and none of the records
        will be inserted. As

        long as the request passes the schema validation, the API will return
        `status_code=200`, but

        you should still check if there is any error occurring with individual
        records.


        ```json

        {
            "errors": true,
            "data": [
                "data.0.user_id is invalid. The attribute was expected to be a `string`"
            ]
        }

        ```


        ## Response Format


        The API will return a JSON object with a `task_id` that can be used to
        retrieve.


        #### Example Successful Response


        ```json

        {
          "data": {
            "task_id": "{task_id}"
          }
        }

        ```


        To check the exact response body of this task_id, make a GET request to
        the following endpoint:


        ```

        GET /v1/users/_status/{task_id}

        ```


        Replace `{task_id}` with the task_id returned from the response.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserBulkIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsBulkUploadResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsBulkUpload401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsBulkUpload403Response'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsBulkUpload422Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsBulkUpload500Response'
  /v1/users/{user_id}:
    get:
      tags:
        - User APIs
      summary: User Read API
      operationId: UserApIs_getUserDetails
      security:
        - Secret API Key: []
      description: >-
        This API endpoint retrieves the details of a specific user using their
        `user_id`.

        To fetch the user information, make a GET request to the following URL:


        **Notice**: Make sure the user_id is an urlencode string.


        ```

        GET /v1/users/{user_id}

        ```


        Replace `{user_id}` with the unique identifier of the user you wish to
        fetch.


        ## Response Format


        The API will return the user details in a JSON object if the given
        `user_id` is valid and

        exists in the system. The JSON object will include fields like `name`,
        `age`, `city`, `gender`

        , and other user information.


        ### Example Response


        Here's an example of a successful API response for a user with the
        `user_id` "user123":


        ```json

        {
            "message": "success",
            "data": {
                "user_id": "user123",
                "name": "johndoe",
                // ... other user details
            }
        }

        ```


        If the provided `user_id` is invalid or does not exist in the system,
        the API will return an

        error response with a `status_code=404`.


        ### Example Error Response


        ```json

        {
            "message": "not found"
        }

        ```
      parameters:
        - required: true
          schema:
            title: Userid
            maxLength: 512
            type: string
          name: userId
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserReadOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsGetUserDetailsResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsGetUserDetails403Response'
        '404':
          description: User not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsGetUserDetails404Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsGetUserDetails500Response'
    delete:
      tags:
        - User APIs
      summary: User Delete API
      operationId: UserApIs_deleteUser
      security:
        - Secret API Key: []
      description: >-
        This API endpoint allows you to delete a specific user from the system
        using their `user_id`.


        **Notice**: Make sure the user_id is an urlencode string.


        To remove a user, make a DELETE request to:


        ```

        DELETE /v1/users/{user_id}

        ```


        Replace `{user_id}` with the unique identifier of the user you wish to
        delete.


        ## Response Format


        The API will return a JSON object with a `task_id` that can be used to
        retrieve.


        #### Example Error Response


        ```json

        {
          "message": "deleted",
          "data": {
            "task_id": "{task_id}"
          }
        }

        ```


        To check the exact response body of this task_id, make a GET request to
        the following endpoint:


        ```

        GET /v1/users/_status/{task_id}

        ```


        Replace `{task_id}` with the task_id returned from the response.
      parameters:
        - required: true
          schema:
            title: User Id
            maxLength: 512
            type: string
          name: user_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsDeleteUserResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsDeleteUser401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsDeleteUser403Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsDeleteUser500Response'
  /v1/users/_delete:
    post:
      tags:
        - User APIs
      summary: User Bulk Delete API
      operationId: UserApIs_bulkUserDelete
      security:
        - Secret API Key: []
      description: >-
        This API endpoint allows you to delete multiple users by providing their
        user_ids.


        To delete multiple users, make a POST request to the following URL:


        ```

        POST /v1/users/_delete

        ```


        The request body should contain a JSON object with an array of user_ids:


        ```json

        {
          "data": {
            "user_ids": [
              "product-1",
              "product-2",
              // ... more product_ids to delete
            ]
          }
        }

        ```


        ## Response Format


        The API will return a JSON object with a `message` and an array of
        `data`

        containing a `task_id` that can be used to get the status of the bulk
        deletion process.


        #### Example Successful Response


        ```json

        {
          "message": "deleted",
          "data": {
            "task_id": "{task_id}"
          }
        }

        ```


        To check the exact response body of this task_id, make a GET request to
        the following endpoint:


        ```

        GET /v1/users/_status/{task_id}

        ```


        Replace `{task_id}` with the task_id returned from the response.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserBulkDeleteIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsBulkUserDeleteResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsBulkUserDelete401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsBulkUserDelete403Response'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApIsBulkUserDelete500Response'
  /v1/search/search:
    post:
      tags:
        - Search APIs
      summary: Search API
      operationId: SearchApIs_searchRequest
      security:
        - Secret API Key: []
      description: >-
        The Search API provides personalized, typo-correcting, semantic search
        for your site.

        You send this API the search queries users entered, and the API returns
        the relevant search results tailored to your

        users' interests.


        ### Personalized search

        Personalized search is a key factor in driving search conversion on many
        major sites.

        It is particularly powerful for short search queries (<= 3 keywords),
        which account for [up to 80% of search traffic in the
        U.S.](https://www.statista.com/statistics/269740/number-of-search-terms-in-internet-research-in-the-us/),

        but are usually the hardest to get right with traditional search
        engines. This is because shorter search queries tend

        to match a larger number of results, but there

        is not enough information in the query strings alone to determine which
        results the users

        are actually looking for.


        For example, when users search for *jeans* on Levi's.com, it is

        impossible to know which *jeans* the user is looking for, among
        thousands of options.

        Even if the user adds: *jeans for men*, it is still unclear to a
        traditional search engine what style, material,

        or size the user wants.


        In the contrary, with Miso's personalized search, we not only analyze
        the search query itself, but also take into

        account the *context* in which the searches are made, including who are
        the users, where are they from, what are their

        past interactions on the site, what other searches the user made, etc.
        These signals together

        allow Miso to generate more than 15% to 20% higher search conversion
        rate than the traditional non-personalized search

        engines.


        ### Balancing relevancy and personalization

        Although personalization is a powerful technique, over-using it can be
        harmful to the user experiences. In the

        context of search optimization, the relevancy of the search results are
        still the most important criteria, and we

        don't want personalization to overwhelm the search relevancy.

        For example, when users search for a very specific term, or directly
        search for the product names,

        Miso's algorithm will respond with the most relevant search results
        first, and then only apply personalization to

        rerank more ambiguous search results.



        ### Basic usage

        For every search query, you let Miso know the user's `user_id` and the
        search keywords in the API request body,

        for example:

        ```

        POST /v1/search/search

        {
          "q": "jeans",
          "user_id": "user-123"
        }

        ```


        For site visitors who do not sign in, you can let Miso know the
        `anonymous_id` of this visitor:

        ```

        POST /v1/search/search

        {
          "q": "jeans",
          "anonymous_id": "visitor-123"
        }

        ```


        ### Search response

        With the query above, Miso responds with the search results like the
        following:

        ```javascript

        {
           "message":"success",
           "data":{
              "took":50,
              "total":30,
              "start":0,
              "miso_id":"f34b90de-086b-11eb-b498-1ee8abb1818b",
              "products":[
                 {
                    "product_id":"505-regular-fit-mens-jeans",
                    "title":"The 505 Regular Fit Men's Jeans",
                    "url":"https://levi.com/jeans/505-regular-fit-mens-jeans/",
                    "size":"29",
                    "material":"Cotton",
                    "color":"Rinse - Dark Wash",
                    "_search_score": 78.12,
                    "_personalization_score": 0.98
                 }
              ],
              "spellcheck":{
                 "spelling_errors":false
              }

           }
        }

        ```

        * **took**: the amount of time (in milliseconds) Miso took to answer the
        query

        * **total**: the total number of matched products. You can paginate
        through all the products by using the combination

        of *start* and *rows* parameters (see *Request Body Schema* below)

        * **miso_id**: a UUID of the search request. You should include
        **miso_id** in the Interaction records for every

        interactions that result from this search request, e.g. user
        click-through a product in the search results.

        Miso use miso_id to track the search performance and fine-tune the
        algorithm accordingly.

        * **products**: an array of [Product records](https://api.askmiso.com)
        that match the search

        query, ranked in the order of relevancy and

        probability that the user will be interested in this product. By
        default, only the `product_id` of the Product is

        returned. You can ask Miso to return additional fields by using the *fl*
        parameter (see *Request Body Schema* below)

        * **products[ ]._search_score**: the search relevancy score of the
        products based on keyword matching and Miso's

        semantic matching. This score is similar to traditional Lucene search
        score.

        * **products[ ]._personalization_score**: the score assigned by Miso's
        personalization algorithm based on users'

        profile and their interactions on the site. This score quantifies the
        probability of whether users will be

        interested in this product or not.

        * **spellcheck**: an dictionary contains spell checking information.


        ### Spellcheck and auto-correction

        According to a [Microsoft Research
        study](https://www.aclweb.org/anthology/W04-3238.pdf), roughly 10-15% of
        the

        queries sent to search engines contain errors. A misspelled search
        keyword often results in poor search

        quality, and users have been accustomed to Google's automatic spelling
        correction functionality and expect the same

        on your site.


        However, correcting spelling and typos at scale is a non-trivial machine
        learning problem.

        Miso's spellcheck is based on a sequence-to-sequence

        deep learning model, trained and updated regularly on a corpus of
        billion tokens. It detects hard-to-spot errors,

        auto-correct keywords according to its context, and recognize terms that
        are newer or lesser known.


        Spellcheck is always on for every search request so you don't need to
        turn it on.

        What you need to decide is whether to turn on *auto spelling
        correction*.

        For example, the following search request turns on the
        auto-spelling-correction, and Miso will automatically

        replace any misspelled queries with their correct spelling:

        ```

        POST /v1/search/search

        {
           "q":"whte denem jeans",
           "user_id":"user-123",
           "spellcheck":{
              "enable_auto_spelling_correction":true
           }
        }

        ```

        The API will respond:

        ```javascript

        {
           "message":"success",
           "data":{
              "took":50,
              "total":30,
              "start":0,
              "miso_id":"f34b90de-086b-11eb-b498-1ee8abb1818b",
              "spellcheck":{
                 "spelling_errors":true,
                 "auto_spelling_correction":true,
                 "original_query":"whte denem jeans",
                 "original_query_with_markups":"<mark>whte</mark> <mark>denem</mark> jeans",
                 "corrected_query":"white denim jeans",
                 "corrected_query_with_markups":"<mark>white</mark> <mark>denim</mark> jeans"
              },
              "products":[
                 ......
              ]
           }
        }

        ```

        The *spellcheck* object contains the following fields:

        * **spelling_errors** indicates whether there is a spelling error in the
        query

        * **auto_spelling_correction** indicates whether the search query has
        been replaced with the *corrected_query*

        * **original_query** the original search query

        * **original_query_with_markups** the original search query with the
        misspelled words highlighted by \<mark\> html tags

        * **corrected_query** the search query with misspelling and typos
        corrected

        * **corrected_query_with_markups** the search query with misspelling and
        typos corrected, and the corrected parts are highlighted by \<mark\>
        html tags


        You can opt-out the auto-spelling-correction by setting
        `enable_auto_spelling_correction=false`. For example:

        ```

        POST /v1/search/search

        {
           "q":"whte denem jeans",
           "user_id":"user-123",
           "spellcheck":{
              "enable_auto_spelling_correction":false
           }
        }

        ```

        In this case, Miso will still run spellcheck against the query. However,
        users' queries will be used as it is,

        and **auto_spelling_correction** field will be *false*.


        ### Boosting and Diversification

        While Miso's personalized search can drive conversion by showing search
        results that are tailored

        to users' interests, ultimately, it is important to make sure that the
        search results meet your business goals.

        To that end, Miso provides a great set of tools that enable you to
        fine-tune the search ranking and make it aligned
         with your goals.

        One great example is **boosting**. Boosting allows you to define a query
        that can be used to boost a

        subset of products to the top of the ranking, or to specific *boost
        positions*. You can use boosting to run

        different kinds of promotion campaigns, or to promote certain set of
        products for individual users that you know

        they will be interested in.


        For example, consider a scenario where you need to promote the sales of
        Nike's products. Then, you might want to

        use the query below, that will promote the sneakers whose brand are
        `Nike` to the top of the search result:

        ```

        POST /v1/search/search

        {
           "q":"sneaker",
           "user_id":"user-123",
           "boost_fq": "brand:\"Nike\""
        }

        ```


        For a slightly more complex example, the query below will promote the
        Nike products which have also been tagged

        as `ON SALE`:

        ```

        POST /v1/search/search

        {
           "q":"sneaker",
           "user_id":"user-123",
           "boost_fq": "brand:\"Nike\" AND tags:\"ON SALE\""
        }

        ```


        You can have as complex boosting logic as you want in the boosting
        query,

        but it is worth mentioning that Miso will only boost

        products that are relevant and have high likelihood to convert. In other
        words, Miso will not boost low

        performance products even if they match the boosting query.


        Depending on your boosting rules, in certain cases, you would like to
        prevent search results from becoming

        too "plain" due to boosting. For example, you don't want the first page
        of the search result to contain only Nike

        products.


        With Miso, you have two tools to avoid so. First, you can specify
        `boost_positions` to place boosted products at

        specific positions in the ranking. For example, the query below will
        place boosted products only at the first,

        fourth, seventh places in the ranking (positions are 0-based), and place
        the remaining products in their original

        ranking, skipping these three positions.


        ```

        POST /v1/search/search

        {
           "q":"sneaker",
           "user_id":"user-123",
           "boost_fq": "brand:\"Nike\" AND tags:\"ON SALE\"",
           "boost_positions": [0, 3, 6]
        }

        ```


        The second tool is `diversification`. Miso's `diversification` algorithm
        will maintain a desired minimum distance

        between any two products that have the same attributes. For example, the

        following query will make sure products made by the same *brand* are at
        least two slots apart from each

        other in the search results.


        ```

        POST /v1/search/search

        {
           "q":"sneaker",
           "user_id":"user-123",
           "boost_fq": "brand:\"Nike\" AND tags:\"ON SALE\"",
           "diversification": {
               "brand": {"minimum_distance": 2}
            }
        }

        ```


        It is also very often to use both "boost_positions" and
        "diversification" at the same time to make sure that

        (1) the search results are not overwhelmed by the boosted products, and
        (2) there is a good mix of products from

        different brands showing side-by-side to increase product discovery
        rate.


        ### Result ordering


        You can override Miso's default ranking order by specifing a list of
        fields for Miso to rank the search results.

        These fields can be any numeric or boolean fields in your Product
        catalog, or one of the following special

        fields:

        * **_personalization_score**: the score that estimates the probability
        that a user will interact with a product

        determined by Miso's personalization algorithm. The range of this score
        is between [0, 1]. The scores are

        non-uniformly distributed. The Products that are relevant to users'
        interests will have scores much closer to 1,

        than products that are not.

        * **_search_score**: the score that rates the degree of "match" between
        search keywords and a product's catalog

        with a focus on Product's titles.

        This score is mostly based on a variant of
        [BM25](https://en.wikipedia.org/wiki/Okapi_BM25), but additionally

        consider the term proximity, typos, term semantic similarity.

        Its value is always larger than 0, but its range is unbounded.

        * **_boosting_score**: a binary score indicates whether a Product is
        boosted by your boosting query.

        * **_geo_distance**: distance between any point on map, `geo` must be
        specified when sorting with this field.


        For example, the following query returns all the Products (because
        `q=*`), ranked by the `_personalization_score`

        first, and then by the values in the `custom_attributes.promote_score`
        field in the Product catalog, then the

        distance between the product and New York city.

        ```

        {
          "q": "*",
          "order_by": [
                {
                    "field": "_personalization_score",
                    "tie_breaker": {
                        "type": "relative_difference",
                        "threshold": "0.05"
                    },
                    "order": "desc"
                },
                {
                    "field": "custom_attributes.promote_score",
                    "order": "desc"
                },
                {
                    "field": "_geo_distance",
                    "geo": {
                        "lat": 40.711967,
                        "lon": -74.006076,
                    }
                    "order": "asc"
                }
          ]
        }

        ```

        #### Mathematical Functions

        Miso supports mathematical functions that transform and combine
        different sorting criteria into one.

        For example, a powerful strategy to improve gross merchandise volume
        (GMV), but maintain user

        experience is

        to sort the products based on the multiplication of personalization
        scores and product prices. You can achieve this with

        the following `order_by` query:

        ```

        {
          "q": "*",
          "order_by": [
                {
                    "field": "_personalization_score * pow(sale_price, 0.5)",
                    "order": "desc"
                }

          ]
        }

        ```

        Function `pow(sale_price, 0.5)` takes the square root of the sale price
        and avoids very expensive products from

        overwhelming the ranking.


        Miso supports all the common mathematical operators including `+`, `-`,
        `*`, `/`, `%`, `^`, `**`, and more

        advanced functions including:
          * Power functions: `pow(X, y)`, `sqrt(X)`
          * Exponents and logarithms: `exp(X)`, `log(X)`, `log2(X)`, `log10(X)`
          * Element-wise maximum / minimum: `maximum(X, y)`, `minimum(X, y)`
          * Absolute function: `abs(X)`
          * Rounding functions: `round(X)`, `floor(X)`, `ceil(X)`
          * Trigonometric functions: `sin(X)`, `cos(X)`, `tan(X)`, `asin(X)`, `acos(X)`, `atan(X)`


        #### Soft Tie-Breaker

        For scores that have granular resolutions, for example
        `_personalization_score`,`_search_scores`, or

        Products' `sale_price`, we usually don't want to rank Products by their
        raw values. After all,

        a 0.001 difference in `_personalization_score` or $0.01 difference in
        sale price typically will not make a

        difference in users' preferences. In such cases, *soft* tie-breakers
        should be used to smooth out these minor

        differences in scores.


        For example, in the query above, we apply a soft tie-breaker to
        `_personalization_score` based on score values'

        relative difference. Specifically, we first sort the score's raw values
        in the descending order, then

        for two consecutive values, if their relative difference is no more than
        a pre-defined threshold

        (in this case `0.05` or `5%`), they are considered as a tie, and the
        next field

        (i.e. `custom_attributes.promote_score`)

        will be used to determine their ranking.


        It is also common to utilize tie-breakers to combine the effect of two
        types of scores. For example, in the

        following query, we set `threshold=0.2` or `20%` for
        `_personalization_score`, then only the

        Products that users are 20% more likely to interact with will be ranked
        higher, the remaining Products will be

        ranked by their sale prices. In this way, we combine the effect of
        personalization score and sale prices, where

        the Products are roughly ranked by personalization, but favor the
        pricier products when they have comparable

        personalization scores.

        ```

        {
          "q": "*",
          "order_by": [
                {
                    "field": "_personalization_score",
                    "tie_breaker": {
                        "type": "relative_difference",
                        "threshold": "0.20"
                    },
                    "order": "desc"
                },
                {
                    "field": "sale_price",
                    "order": "desc"
                }

          ]
        }

        ```


        Also note that, when search keywords are present, it is recommended to
        always include `_search_score`

        as the first field (plus a tie-breaker) to maintain the relevance of the
        search results. A tie-breaker is usually

        required as well to let the subsequent score have effect to the ranking.

        ```

        {
          "q": "toy story",
          "order_by": [
              {
                    "field": "_search_score",
                    "tie_breaker": {
                        "type": "relative_difference",
                        "threshold": "0.20"
                    },
                    "order": "desc"
                },
                {
                    "field": "_personalization_score",
                    "tie_breaker": {
                        "type": "relative_difference",
                        "threshold": "0.20"
                    },
                    "order": "desc"
                },
                {
                    "field": "sale_price",
                    "order": "desc"
                }

          ]
        }

        ```
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/search/autocomplete:
    post:
      tags:
        - Search APIs
      summary: Autocomplete API
      operationId: SearchApIs_autocompleteRequest
      security:
        - Secret API Key: []
      description: >-
        The Autocompletion API provides real-time, personalized, typo resistant
        typeahead for your search bar.

        You send this API what users are currently typing, and the API returns
        the complete search query suggestions.


        ### Personalized typeahead

        Personalized typeahead is an extreme example of personalized search. The
        personalization starts immediately when

        users enter even just one character. The typeahead results are
        personalized so that the entries most likely to drive

        conversion for the current user are ranked at the top. Miso will predict
        what the user is looking for in real-time

        based on their interests and past behaviors.


        ### Basic usage

        The request schema of Autocompletion API is similar to that of Search
        API: you put the search query users typed so

        far, and the `user_id` or `anonymous_id` for Miso to identify the
        current user.

        For example, when a user types the first character `r`, you send Miso
        the following request:

        ```

        POST /v1/search/autocomplete

        {
           "q":"r",
           "user_id":"user-123"
        }

        ```


        The response will be like:

        ```javascript

        {
          "message": "success",
          "data": {
            "took": 50,
            "miso_id": "e93a6d02-0a7a-11eb-a896-d28586dc1386",
            "completions": {
              "title": [
                {
                  "text": "Robin Hood: Prince of Thieves (1991)",
                  "text_with_markups": "R<mark>obin Hood: Prince of Thieves (1991)</mark>",
                  "product": {
                    "product_id": "tmdb-8367"
                  }
                },
                {
                  "text": "Reservoir Dogs (1992)",
                  "text_with_markups": "R<mark>eservoir Dogs (1992)</mark>",
                  "product": {
                    "product_id": "tmdb-500"
                  }
                },
                ...
              ]
            }
          }
        }

        ```

        * **took**: the amount of time (in milliseconds) Miso took to answer the
        query

        * **completions**: an dictionary of autocompletion candidates from
        different sources. By default, we only run

        autocompletion against the titles of products, but you can choose to get
        autocompletion candidates from other fields

        using the `completion_fields` parameters.

        * **completions.title[].text**: the text of completion candidates

        * **completions.title[].text_with_markups**: the completion candidates
        with the part of text that users

        haven't typed yet surrounded by \<mark\> HTML tags.

        * **completions.title[].product**: the product record whose title
        matches the autocompletion candidate. This object can be used to
        implement direct-to-product links: when they click on the link they will
        go

        directly to the product page instead of the search result page. By
        default, only the `product_id` field is returned,
         you use `fl` request parameter to get more fields returned in the product object.


        ### Typo resistance

        Miso's autocompletion algorithm accepts up to 4 typos in the query
        string. For example, users may try to find the
         movie `Robin Hood`, but make two typos in the query, which becomes `robonhood` instead (`robin`->`robon`, and a space is missing).

        ```

        POST /v1/search/autocomplete

        {
           "q":"robanhood",
           "user_id":"user-123"
        }

        ```


        Miso can still find the movie "*Robin Hood: Prince of Thieves*" as a
        autocompletion candidate.

        ```javascript

        {
          "message": "success",
          "data": {
            "took": 50,
            "miso_id": "e93a6d02-0a7a-11eb-a896-d28586dc1386",
            "completions": {
              "title": [
                {
                  "text": "Robin Hood: Prince of Thieves (1991)",
                  "text_with_markups": "Rob<mark>in Hood: Prince of Thieves (1991)</mark>",
                  "product": {
                    "product_id": "tmdb-8367"
                  }
                },
                ...
              ]
            }
          }
        }

        ```


        ### Completion fields

        The auto-completions are made against your product attributes. By
        default, Miso finds completion candidates from the

        `title` field. The `completion_fields` parameter

        lets you specify the attributes you want to perform auto-completion for.

        For example, the following query will return auto-completion candidates
        from the `title` and a custom attribute

        field:`custom_attributes.director`.

        ```

        POST /v1/search/autocomplete

        {
          "q": "rob",
          "user_id": "user-123",
          "completion_fields": [
            "title",
            "custom_attributes.director"
          ]
        }

        ```

        The response will be like the following:

        ```javascript

        {
          "message": "success",
          "data": {
            "took": 52,
            "miso_id": "16d95080-0bb0-11eb-948d-66359cf29022",
            "completions": {
              "title": [
                {
                  "text": "Robin Hood: Prince of Thieves (1991)",
                  "text_with_markups": "Rob<mark>in Hood: Prince of Thieves (1991)</mark>",
                  "product": {
                    "product_id": "tmdb-8367"
                  }
                },
                {
                  "text": "RoboCop (1987)",
                  "text_with_markups": "Rob<mark>oCop (1987)</mark>",
                  "product": {
                    "product_id": "tmdb-5548"
                  }
                },
                ...
              ],
              "custom_attributes.director": [
                {
                  "text": "Robert Z. Leonard",
                  "text_with_markups": "<mark>Rob</mark>ert Z. Leonard",
                },
                ...
              ]
            }
          }
        }

        ```
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutocompleteRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/search/mget:
    post:
      tags:
        - Search APIs
      summary: Multiple Get API
      operationId: SearchApIs_multipleGetProducts
      security:
        - Secret API Key: []
      description: >-
        The Multiple Get API provides a simple and fast interface to retrieve
        Products by their product ids.

        For example, the following query will retrieve products whose
        product_ids are `123ABC-S-Black` and `123ABC-S-Blue`

        ```

        {
            "product_ids": ["123ABC-S-Black", "123ABC-S-Blue"]
        }

        ```

        Miso will respond with the complete Products records in the same order
        as the given `product_ids`:

        ```

        {
          "message": "success",
          "data": {
            "products": [
              {
                "_found": true,
                "product_id": "123ABC-S-Black",
                "title": "Product ABC in Black",
                ...
              },
              {
                "_found": true,
                "product_id": "123ABC-S-Blue",
                "title": "Product ABC in Blue",
                ...
              }
            ]
          }
        }


        ```

        You can use the `_found` field to determine whether a product is found
        in the Miso database or not.

        When the given product_id is not found, the `_found` field in the
        corresponding Product record

        will become `false`.


        For example, the following query requests a `product_id` that does not
        exist in the Miso database:

        ```

        {
            "product_ids": ["Product_Not_Exists", "123ABC-S-Black"]
        }

        ```

        Miso will respond:

        ```

        {
          "message": "success",
          "data": {
            "products": [
              {
                "_found": false,
                "product_id": "Product_Not_Exists"
              },
              {
                "_found": true,
                "product_id": "123ABC-S-Black",
                "title": "Product ABC in Black",
                ...
              }
            ]
          }
        }

        ```

        Finally, like every Miso API, you can use `fl` to control what Product
        fields to return. By default, all the Product

        fields will be returned, but the following query will return only
        `title` field of the product (in addition

        to `product_id`)

        ```

        {
            "product_ids": ["123ABC-S-Black", "123ABC-S-Blue"],
            "fl": ["title"]
        }

        ```
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleGetRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleGetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/ask/questions:
    post:
      tags:
        - Ask APIs
      summary: Create a new qestion
      operationId: AskApIs_submitQuestion
      security:
        - Secret API Key: []
      description: |-
        This API is used to submit questions to Miso.

        After a question is submitted, a `question_id` is returned.
        Then you can use `question_id` to check the latest status of it's answer
        as it is being compiled.
            
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/ask/questions/{question_id}/answer:
    get:
      tags:
        - Ask APIs
      summary: Get latest answer of asked question
      operationId: AskApIs_getAnswerStage
      security:
        - Secret API Key: []
      description: >-
        This API is used to fetch the latest answer of previous submitted
        question from Miso


        A submitted question is put into a job with following stage:


        - Initialization

        - Parsing and fecthing related content

        - Relevance checking

        - Summarization


        This API will tell you at what stage current question is in.

        If answer is fetched and being summerized, it will also return the
        latest summarization result.


        Besides human readable answer, the products used to generate answer are
        also returned.
            
      parameters:
        - required: true
          schema:
            title: Question Id
            type: string
            format: uuid
          name: question_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollAnswerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/recommendation/user_to_products:
    post:
      tags:
        - Recommendation APIs
      summary: User to Products API
      operationId: RecommendationApIs_getRecommendedProducts
      security:
        - Secret API Key: []
      description: >-
        Returns the products that are most likely to drive conversion for the
        given user. Depending on the conversion

        metrics you choose when training your Miso Engines in Dojo, this API
        returns products that are most likely to

        optimize those metrics (such as `add_to_cart`, `checkout`, or `read`).


        This API considers both user's interests and the conversion probability.
        The user's interests are determined from

        their past interactions on the site and the context of their current
        browsing session, including recent trending

        products, time of the day, recent search behaviors, etc.


        ### Application scenarios

        The User to Products API is usually used in homepage recommendations,
        such as "*Inspired by your shopping trends*" on

        Amazon, or "*Recommended videos*" on Youtube. It can also be used to run
        an email marketing campaign such as a

        newsletter from Medium with recent articles you might like. These kind
        of recommendations are particularly powerful

        in driving product discovery.


        ### Basic usage

        For basic usage of this API, you just need to let Miso knows the id of
        the current user or visitor via `user_id`

        or `anonymous_id` field. For example, for a currently logged-in user,
        your request may look like the following:

        ```

        POST /v1/recommendation/user_to_products

        {"user_id": "user-123"}

        ```

        For a un-signed visitor, your request may look like the following:

        ```

        POST /v1/recommendation/user_to_products

        {"anonymous_id": "visitor-123"}

        ```


        This API will respond with the recommended products for the specified
        user or visitor:

        ```javascript

        {
          "message": "success",
          "data": {
            "took": 37,
[...]
