openapi: 3.0.0
info:
  title: Zoom Meeting API
  description: 'The Zoom Meeting APIs let developers to access information from Zoom. '
  version: '2'
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.zoom.us/v2
tags:
  - name: Webinars
  - name: Meetings
  - name: Reports
  - name: Cloud Recording
  - name: Devices
  - name: TSP
  - name: Archiving
  - name: Tracking Field
  - name: H323 Devices
  - name: SIP Phone
  - name: PAC
paths:
  /archive_files:
    get:
      tags:
        - Archiving
      summary: List archived files
      operationId: Archiving_meetingFilesList
      security:
        - openapi_oauth:
            - recording:read:admin
          openapi_authorization: []
      description: >-
        Get an account's archived meeting or webinar files. 

         Zoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA or other compliance requirements. 

         **Prerequisites:** 
        * The [**Meeting and Webinar Archiving**
        feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)
        enabled for your account by [Zoom
        Support](https://support.zoom.us/hc/en-us/articles/201362003).


        **Scopes:** `recording:read:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      parameters:
        - description: The number of records returned within a single API call.
          name: page_size
          in: query
          required: false
          schema:
            maximum: 300
            type: integer
            example: 30
            default: 30
        - description: >-
            Use the next page token to paginate through large result sets. A
            next page token is returned whenever the set of available results
            exceeds the current page size. This token's expiration period is 15
            minutes.
          name: next_page_token
          in: query
          required: false
          schema:
            type: string
            example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
        - description: >-
            The query start date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value
            and the `to` query parameter value cannot exceed seven days.
          name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2021-03-11T05:41:36Z'
        - description: >-
            The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value
            and the `from` query parameter value cannot exceed seven days.
          name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2021-03-18T05:41:36Z'
        - description: |-
            The type of query date.
            * `meeting_start_time` 
            * `archive_complete_time` 

             This value defaults to `meeting_start_time`.
          name: query_date_type
          in: query
          required: false
          schema:
            type: string
            example: meeting_start_time
            default: meeting_start_time
            enum:
              - meeting_start_time
              - archive_complete_time
        - description: >-
            The group ID. To get a group ID, use the [List
            groups](https://developers.zoom.us/docs/api/rest/reference/scim-api/methods/#operation/groupSCIM2List)
            API.
          name: group_id
          in: query
          required: false
          schema:
            type: string
            example: pvFIYKSDTum9iCDOOtQL4w
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`   
             
             Archived files returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivingMeetingFilesListResponse'
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request  

             **Error Code:** `2001` <br>
             Account does not exist: {accountId} <br>
      extensions:
        x-permissions:
          - Recording:Read
        x-macro-scopes:
          - recording:read:admin
        x-granular-scopes:
          - archiving:read:list_archived_files:admin
          - archiving:read:list_archived_files
  /archive_files/statistics:
    get:
      tags:
        - Archiving
      summary: Get archived file statistics
      operationId: Archiving_getStatistics
      security:
        - openapi_oauth:
            - recording:read:admin
          openapi_authorization: []
      description: >-
        Get statistics about an account's archived meeting or webinar files. 

         Zoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA and other compliance requirements. 

         **Prerequisites:** 
        * The [**Meeting and Webinar Archiving**
        feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)
        enabled for your account by [Zoom
        Support](https://support.zoom.us/hc/en-us/articles/201362003).


        **Scopes:** `recording:read:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Medium`
      parameters:
        - description: >-
            The query start date, `yyyy-MM-dd'T'HH:mm:ssZ` format. This value
            and the `to` query parameter value cannot exceed seven days.
          name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2021-03-11T05:41:36Z'
        - description: >-
            The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value
            and the `from` query parameter value cannot exceed seven days.
          name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2021-03-18T05:41:36Z'
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`   
             
             The statistics of Archived files returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivingGetStatisticsResponse'
        '400':
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `2001` <br>
            Account does not exist: {accountId}

      extensions:
        x-macro-scopes:
          - recording:read:admin
  /archive_files/{fileId}:
    patch:
      tags:
        - Archiving
      summary: Update an archived file's auto-delete status
      operationId: Archiving_updateAutoDeleteStatus
      security:
        - openapi_oauth:
            - recording:write
            - recording:write:admin
          openapi_authorization: []
      description: >-
        Update an archived file's auto-delete status. 

         **Prerequisites:** 
        * [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003)
        must enable the [**Meeting and Webinar Archiving**
        feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)
        for your account.

        * Open the disabling auto-delete feature in OP. Contact [Zoom
        Support](https://support.zoom.us/hc/en-us/articles/201362003) to open.


        **Scopes:** `recording:write`,`recording:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `LIGHT`
      parameters:
        - name: fileId
          in: path
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchivingUpdateAutoDeleteStatusRequest'
      responses:
        '204': {}
        '400':
          description: |-
            **HTTP Status Code:** `400` <br>
             Bad Request 

             
        '404':
          description: |-
            **HTTP Status Code:** `404` <br>
             Not Found 

             
      extensions:
        x-permissions:
          - Recording:Edit
        x-macro-scopes:
          - recording:write
          - recording:write:admin
  /past_meetings/{meetingUUID}/archive_files:
    get:
      tags:
        - Archiving
      summary: Get a meeting's archived files
      operationId: Archiving_meetingFilesList
      security:
        - openapi_oauth:
            - recording:read
          openapi_authorization: []
      description: >-
        Return a specific meeting instance's [archived
        files](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators). 

         **Prerequisites:** 
        * The [**Meeting and Webinar Archiving**
        feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)
        enabled for your account by [Zoom
        Support](https://support.zoom.us/hc/en-us/articles/201362003).


        **Scopes:** `recording:read`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `LIGHT`
      parameters:
        - description: >-
            The meeting's universally unique identifier (UUID). Each meeting
            instance generates a UUID. After a meeting ends, a new UUID is
            generated for the next meeting instance.


            If the meeting UUID begins with a `/` character or contains a `//`
            character, you **must** [double
            encode](https://developers.zoom.us/docs/api/rest/using-zoom-apis/#meeting-id-and-uuid)
            the meeting UUID when using the meeting UUID for other API calls.
          name: meetingUUID
          in: path
          required: true
          schema:
            type: string
            example: 4444AAAiAAAAAiAiAiiAii==
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`   

             Meeting archived files returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivingMeetingFilesList200Response'
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found  

             **Error Code:** `3001` <br>
             Meeting {meetingUUId} does not exist. <br> <br>
      extensions:
        x-permissions: []
        x-macro-scopes:
          - recording:read
    delete:
      tags:
        - Archiving
      summary: Delete a meeting's archived files
      operationId: Archiving_meetingFilesDelete
      security:
        - openapi_oauth:
            - recording:write:admin
            - recording:write
          openapi_authorization: []
      description: >-
        Use this API to delete all of a meeting's archived files. 

         **Prerequisites:** 
        * The [**Meeting and Webinar Archiving**
        feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)
        enabled for your account by [Zoom
        Support](https://support.zoom.us/hc/en-us/articles/201362003).


        **Scopes:** `recording:write:admin`,`recording:write`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      parameters:
        - description: >-
            The meeting's universally unique identifier (UUID). Each meeting
            instance generates a UUID. For example, after a meeting ends, a new
            UUID is generated for the next meeting instance.


            If the meeting UUID begins with a `/` character or contains a `//`
            character, you **must** [double
            encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)
            the meeting UUID when using the meeting UUID for other API calls.
          name: meetingUUID
          in: path
          required: true
          schema:
            type: string
            example: 4444AAAiAAAAAiAiAiiAii==
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `200`   
             
             Meeting archived files returned.
        '400':
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `200` <br>
            Only available for Paid account.

            **Error Code:** `200` <br>
            Not available for this account.

        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `3001` <br>
            Meeting does not exist: {0}

      extensions:
        x-macro-scopes:
          - recording:write:admin
          - recording:write
  /meetings/{meetingId}/recordings:
    get:
      tags:
        - Cloud Recording
      summary: Get meeting recordings
      operationId: CloudRecording_getMeetingRecordings
      security:
        - openapi_oauth:
            - recording:read
            - phone_recording:read:admin
          openapi_authorization: []
      description: >-
        Returns all of a meeting's
        [recordings](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording#h_7420acb5-1897-4061-87b4-5b76e99c03b4).

         Use the `download_url` property listed in the response to download the recording files.  To access a passcode-protected cloud recording, send the user's [OAuth access token](https://developers.zoom.us/docs/integrations/oauth/) as a Bearer token in the Authorization header. 
         
         Example:  `curl -H 'Authorization: Bearer <ACCESS_TOKEN>' https://{{base-domain}}/rec/archive/download/xyz`  

        **Scopes:** `recording:read`,`phone_recording:read:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `LIGHT`
      parameters:
        - description: >-
            To get a meeting's cloud recordings, provide the meeting ID or UUID.
            If providing the meeting ID instead of UUID, the response will be
            for the latest meeting instance. 


            To get a webinar's cloud recordings, provide the webinar's ID or
            UUID. If providing the webinar ID instead of UUID, the response will
            be for the latest webinar instance. 


            If a UUID starts with `/` or contains `//` (example:
            `/ajXp112QmuoKj4854875==`), **[double
            encode](https://developers.zoom.us) the UUID** before making an API
            request. 
          name: meetingId
          in: path
          required: true
          schema:
            type: string
            example: atsXxhSEQWit9t+U02HXNQ==
        - description: >-
            The `download_access_token` value for downloading the meeting's
            recordings.
          name: include_fields
          in: query
          required: false
          schema:
            type: string
            example: a2f19f96-9294-4f51-8134-6f0eea108eb2
        - description: >-
            The `download_access_token` Time to Live (TTL) value. This parameter
            is only valid if the `include_fields` query parameter contains the
            `download_access_token` value.
          name: ttl
          in: query
          required: false
          schema:
            maximum: 604800
            minimum: 0
            type: integer
            example: 1
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`   
             
            Recording object returned. 

            **Error Code:** `200`   
             
            You do not have the right permissions.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudRecordingGetMeetingRecordingsResponse
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request  

             **Error Code:** `1010` <br>
             User not found on this account: {accountId}. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found  

             **Error Code:** `1001` <br>
             User "{userId}" does not exist or does not belong to this account. <br>
            **Error Code:** `3301` <br>
             There is no recording for this meeting. <br>
      extensions:
        x-permissions: []
        x-macro-scopes:
          - recording:read
          - phone_recording:read:admin
    delete:
      tags:
        - Cloud Recording
      summary: Delete meeting recordings
      operationId: CloudRecording_deleteMeetingRecordings
      security:
        - openapi_oauth:
            - recording:write:admin
            - recording:write
          openapi_authorization: []
      description: >-
        Delete all recording files of a meeting.  
           
         

        **Prerequisites**:

        * Cloud Recording should be enabled on the user's account.  
         


        **Scopes:** `recording:write:admin`,`recording:write`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      parameters:
        - description: >-
            To get Cloud Recordings of a meeting, provide the meeting ID or
            meeting UUID. If the meeting ID is provided instead of UUID,the
            response will be for the latest meeting instance. 


            To get Cloud Recordings of a webinar, provide the webinar ID or the
            webinar UUID. If the webinar ID is provided instead of UUID,the
            response will be for the latest webinar instance. 


            If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
            (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double
            encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**
            the UUID before making an API request. 
          name: meetingId
          in: path
          required: true
          schema:
            type: string
            example: atsXxhSEQWit9t+U02HXNQ==
        - description: |-
            The recording delete actions:  
             `trash` - Move recording to trash.  
             `delete` - Delete recording permanently.
          name: action
          in: query
          required: false
          schema:
            type: string
            example: trash
            default: trash
            enum:
              - trash
              - delete
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`   
             
            Recordings deleted. 

            **Error Code:** `200`   
             
            You do not have the right permission.
        '204':
          description: |-
            **HTTP Status Code:** `204`   
             
            Meeting recording deleted.
        '400':
          description: >+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>

            User does not belong to this account: {accountId}. <br/>


            **Error Code:** `3332` <br>

            This recording was selected for a simulive webinar. You cannot
            delete or trash it.

        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User {userId} does not exist or does not belong to this account.<br>

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      extensions:
        x-macro-scopes:
          - recording:write:admin
          - recording:write
  /meetings/{meetingId}/recordings/analytics_details:
    get:
      tags:
        - Cloud Recording
      summary: Get Meeting Recording's Analytics Details
      operationId: analytics_details
      security:
        - openapi_oauth:
            - recording:read:admin
            - recording:read
          openapi_authorization: []
      description: >-
        Use this API to return a meeting recording's [analytics
        details](https://support.zoom.us/hc/en-us/articles/205347605-Managing-cloud-recordings#h_0b665029-ce74-4849-9794-d1aa0320d163).
        **Maximum duration: 1 Month**. To access a password-protected cloud
        recording, send the user's [OAuth access
        token](https://developers.zoom.us/docs/integrations/oauth/) as a Bearer
        token in the Authorization header. For example, 

         `curl -H &quot;Authorization: Bearer &lt;ACCESS_TOKEN&gt;&quot; https://{{base-domain}}/rec/archive/download/xyz` 

         

        **Scopes:** `recording:read:admin`,`recording:read`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Medium`
      parameters:
        - description: >-
            To get Cloud Recordings of a meeting, provide the meeting ID or
            meeting UUID. If the meeting ID is provided instead of UUID,the
            response will be for the latest meeting instance. 


            To get Cloud Recordings of a webinar, provide the webinar ID or the
            webinar UUID. If the webinar ID is provided instead of UUID,the
            response will be for the latest webinar instance. 


            If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
            (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double
            encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**
            the UUID before making an API request. 
          name: meetingId
          in: path
          required: true
          schema:
            type: string
            example: atsXxhSEQWit9t+U02HXNQ==
        - description: The number of records returned within a single API call.
          name: page_size
          in: query
          required: false
          schema:
            maximum: 300
            type: integer
            example: 30
            default: 30
        - description: >-
            Use the next page token to paginate through large result sets. A
            next page token is returned whenever the set of available results
            exceeds the current page size. This token's expiration period is 15
            minutes.
          name: next_page_token
          in: query
          required: false
          schema:
            type: string
            example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
        - description: >-
            The start date for the monthly range to query. The maximum range can
            be a month. If you do not provide this value, this defaults to the
            current date.
          name: from
          in: query
          required: false
          schema:
            type: string
            format: date
            example: '2020-06-30'
        - description: >-
            The end date for the monthly range to query. The maximum range can
            be a month.
          name: to
          in: query
          required: false
          schema:
            type: string
            format: date
            example: '2020-07-30'
        - description: |-
            The type of analytics details: 
            * `by_view` &mdash; by_view. 
            * `by_download` &mdash; by_download.
          name: type
          in: query
          required: false
          schema:
            type: string
            example: by_view
            enum:
              - by_view
              - by_download
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`   
             
            Analytics Detail listed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDetailsResponse'
        '400':
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>
            User not found on this account: {accountId}

        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User "{userId}" does not exist or does not belong to this account.

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      extensions:
        x-macro-scopes:
          - recording:read:admin
          - recording:read
  /meetings/{meetingId}/recordings/analytics_summary:
    get:
      tags:
        - Cloud Recording
      summary: Get Meeting Recording's Analytics Summary
      operationId: analytics_summary
      security:
        - openapi_oauth:
            - recording:read:admin
            - recording:read
          openapi_authorization: []
      description: >-
        Use this API to return a meeting recording's [analytics
        summary](https://support.zoom.us/hc/en-us/articles/205347605-Managing-cloud-recordings#h_0b665029-ce74-4849-9794-d1aa0320d163).
        **Maximum duration: 1 Month**. To access a password-protected cloud
        recording, send the user's [OAuth access
        token](https://developers.zoom.us/docs/integrations/oauth/) as a Bearer
        token in the Authorization header. For example, 

         `curl -H &quot;Authorization: Bearer &lt;ACCESS_TOKEN&gt;&quot; https://{{base-domain}}/rec/archive/download/xyz` 

         

        **Scopes:** `recording:read:admin`,`recording:read`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Medium`
      parameters:
        - description: >-
            To get Cloud Recordings of a meeting, provide the meeting ID or
            meeting UUID. If the meeting ID is provided instead of UUID,the
            response will be for the latest meeting instance. 


            To get Cloud Recordings of a webinar, provide the webinar ID or the
            webinar UUID. If the webinar ID is provided instead of UUID,the
            response will be for the latest webinar instance. 


            If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
            (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double
            encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**
            the UUID before making an API request. 
          name: meetingId
          in: path
          required: true
          schema:
            type: string
            example: atsXxhSEQWit9t+U02HXNQ==
        - description: >-
            The start date for the monthly range to query. The maximum range can
            be a month. If you do not provide this value, this defaults to the
            current date.
          name: from
          in: query
          required: false
          schema:
            type: string
            format: date
            example: '2020-06-30'
        - description: >-
            The end date for the monthly range to query. The maximum range can
            be a month.
          name: to
          in: query
          required: false
          schema:
            type: string
            format: date
            example: '2020-07-30'
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`   
             
            Analytics Summary listed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsSummaryResponse'
        '400':
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>
            User not found on this account: {accountId}

        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User "{userId}" does not exist or does not belong to this account.

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      extensions:
        x-macro-scopes:
          - recording:read:admin
          - recording:read
  /meetings/{meetingId}/recordings/registrants:
    get:
      tags:
        - Cloud Recording
      summary: List recording registrants
      operationId: CloudRecording_listRegistrants
      security:
        - openapi_oauth:
            - recording:read:admin
            - recording:read
          openapi_authorization: []
      description: >-
        Use this API to list registrants of a past meeting's [on-demand cloud
        recordings](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-recordings).
        Users must [register](https://developers.zoom.us) to view the
        recordings. 

         

        **Scopes:** `recording:read:admin`,`recording:read`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Medium`
      parameters:
        - description: |-
            The meeting's ID. 

             When storing this value in your database, you must store it as a long format integer and **not** an integer. Meeting IDs can exceed 10 digits.
          name: meetingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            example: 85746065
        - description: |-
            Query by the registrant's status: 
            * `pending` &mdash; The registration is pending. 
            * `approved` &mdash; The registrant is approved. 
            * `denied` &mdash; The registration is denied.
          name: status
          in: query
          required: false
          schema:
            type: string
            example: pending
            default: approved
            enum:
              - pending
              - approved
              - denied
        - description: The number of records returned within a single API call.
          name: page_size
          in: query
          required: false
          schema:
            maximum: 300
            type: integer
            example: 30
            default: 30
        - description: >-
            **Deprecated.** We will no longer support this field in a future
            release. Instead, use the `next_page_token` for pagination.
          name: page_number
          in: query
          required: false
          schema:
            type: integer
            example: 1
            default: 1
        - description: >-
            Use the next page token to paginate through large result sets. A
            next page token is returned whenever the set of available results
            exceeds the current page size. This token's expiration period is 15
            minutes.
          name: next_page_token
          in: query
          required: false
          schema:
            type: string
            example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`   
             
             Registrants returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordingListRegistrantsResponse'
        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

      extensions:
        x-macro-scopes:
          - recording:read:admin
          - recording:read
    post:
      tags:
        - Cloud Recording
      summary: Create a recording registrant
      operationId: CloudRecording_createRegistrant
      security:
        - openapi_oauth:
            - recording:write:admin
            - recording:write
          openapi_authorization: []
      description: >-
        Cloud Recordings of past Zoom Meetings can be made
        [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings).
        Users should be [registered](https://developers.zoom.us) to view these
        recordings.


        Use this API to register a user to gain access to **On-demand Cloud
        Recordings** of a past meeting.  
         


        **Scopes:** `recording:write:admin`,`recording:write`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      parameters:
        - description: |-
            The meeting's ID. 

             When storing this value in your database, you must store it as a long format integer and **not** an integer. Meeting IDs can exceed 10 digits.
          name: meetingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            example: 85746065
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRecordingCreateRegistrantRequest'
      responses:
        '201':
          description: |-
            **HTTP Status Code:** `201`   
             
            Registration submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordingCreateRegistrantResponse'
        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

      extensions:
        x-macro-scopes:
          - recording:write:admin
          - recording:write
  /meetings/{meetingId}/recordings/registrants/questions:
    get:
      tags:
        - Cloud Recording
      summary: Get registration questions
      operationId: CloudRecording_listRegistrationQuestions
      security:
        - openapi_oauth:
            - recording:read:admin
            - recording:read
          openapi_authorization: []
      description: >-
        For
        [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings)
        meeting recordings, you can include fields with questions that will be
        shown to registrants when they register to view the recording.


        Use this API to retrieve a list of questions that are displayed for
        users to complete when registering to view the recording of a specific
        meeting.  
         


        **Scopes:** `recording:read:admin`,`recording:read`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      parameters:
        - description: >-
            To get Cloud Recordings of a meeting, provide the meeting ID or
            meeting UUID. If the meeting ID is provided instead of UUID,the
            response will be for the latest meeting instance. 


            To get Cloud Recordings of a webinar, provide the webinar ID or the
            webinar UUID. If the webinar ID is provided instead of UUID,the
            response will be for the latest webinar instance. 


            If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
            (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double
            encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**
            the UUID before making an API request. 
          name: meetingId
          in: path
          required: true
          schema:
            type: string
            example: atsXxhSEQWit9t+U02HXNQ==
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`  
             
            Recording Registrant Question object returned.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudRecordingListRegistrationQuestionsResponse
        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

      extensions:
        x-macro-scopes:
          - recording:read:admin
          - recording:read
    patch:
      tags:
        - Cloud Recording
      summary: Update registration questions
      operationId: CloudRecording_updateRegistrationQuestions
      security:
        - openapi_oauth:
            - recording:write:admin
            - recording:write
          openapi_authorization: []
      description: >-
        For
        [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings)
        meeting recordings, you can include fields with questions that will be
        shown to registrants when they register to view the recording.


        Use this API to update registration questions that are to be answered by
        users while registering to view a recording.  
         


        **Scopes:** `recording:write:admin`,`recording:write`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      parameters:
        - description: >-
            To get Cloud Recordings of a meeting, provide the meeting ID or
            meeting UUID. If the meeting ID is provided instead of UUID,the
            response will be for the latest meeting instance. 


            To get Cloud Recordings of a webinar, provide the webinar ID or the
            webinar UUID. If the webinar ID is provided instead of UUID,the
            response will be for the latest webinar instance. 


            If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
            (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double
            encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**
            the UUID before making an API request. 
          name: meetingId
          in: path
          required: true
          schema:
            type: string
            example: atsXxhSEQWit9t+U02HXNQ==
      requestBody:
        description: Recording Registrant Questions
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CloudRecordingUpdateRegistrationQuestionsRequest
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `200`  
             
            Recording Registrant Questions Updated
        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

      extensions:
        x-macro-scopes:
          - recording:write:admin
          - recording:write
  /meetings/{meetingId}/recordings/registrants/status:
    put:
      tags:
        - Cloud Recording
      summary: Update registrant's status
      operationId: CloudRecording_updateRegistrantStatus
      security:
        - openapi_oauth:
            - recording:write:admin
            - recording:write
          openapi_authorization: []
      description: >-
        A registrant can either be approved or denied from viewing the
        [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings)
        recording. 

        Use this API to update a registrant's status.




        **Scopes:** `recording:write:admin`,`recording:write`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Medium`
      parameters:
        - description: |-
            The meeting's ID. 

             When storing this value in your database, you must store it as a long format integer and **not** an integer. Meeting IDs can exceed 10 digits.
          name: meetingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            example: 85746065
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRecordingUpdateRegistrantStatusRequest'
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `204`  
             
            Registrant status updated.
        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

      extensions:
        x-macro-scopes:
          - recording:write:admin
          - recording:write
  /meetings/{meetingId}/recordings/settings:
    get:
      tags:
        - Cloud Recording
      summary: Get meeting recording settings
      operationId: CloudRecording_getSettings
      security:
        - openapi_oauth:
            - recording:read:admin
            - recording:read
          openapi_authorization: []
      description: >-
        Retrieves settings applied to a meeting's [Cloud
        Recording](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording).  
           
         


        **Scopes:** `recording:read:admin`,`recording:read`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `LIGHT`
      parameters:
        - description: >-
            The meeting ID enables you to get cloud recording of a:

            - Meeting, provide the meeting ID or meeting UUID. If the meeting ID
            is provided instead of UUID,the response will be for the latest
            meeting instance. 


            - Webinar, provide the webinar ID or the webinar UUID. If the
            webinar ID is provided instead of UUID,the response will be for the
            latest webinar instance. 


            If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
            (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **double
            encode** the UUID before making an API request. 
          name: meetingId
          in: path
          required: true
          schema:
            type: string
            example: atsXxhSEQWit9t+U02HXNQ==
      responses:
        '200':
          description: '**HTTP Status Code:** `200`    Meeting recording settings returned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordingGetSettingsResponse'
        '404':
          description: |-
            **HTTP Status Code:** `404` <br>
             Not Found 

             
      extensions:
        x-permissions: []
        x-macro-scopes:
          - recording:read:admin
          - recording:read
    patch:
      tags:
        - Cloud Recording
      summary: Update meeting recording settings
      operationId: CloudRecording_updateSettings
      security:
        - openapi_oauth:
            - recording:write
            - recording:write:admin
          openapi_authorization: []
      description: >-
        Updates settings applied to a meeting's [Cloud
        Recording](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording).      


        **Scopes:** `recording:write`,`recording:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `LIGHT`
      parameters:
        - description: >-
            To get Cloud Recordings of a meeting, provide the meeting ID or
            meeting UUID. If the meeting ID is provided instead of UUID,the
            response will be for the latest meeting instance. 


            To get Cloud Recordings of a webinar, provide the webinar ID or the
            webinar UUID. If the webinar ID is provided instead of UUID,the
            response will be for the latest webinar instance. 


            If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
            (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **double
            encode** the UUID before making an API request. 
          name: meetingId
          in: path
          required: true
          schema:
            type: string
            example: atsXxhSEQWit9t+U02HXNQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRecordingUpdateSettingsRequest'
      responses:
        '204':
          description: '**HTTP Status Code:** `204`    Meeting recording setting''s updated.'
        '404':
          description: |-
            **HTTP Status Code:** `404` <br>
             Not Found 

             
      extensions:
        x-permissions: []
        x-macro-scopes:
          - recording:write
          - recording:write:admin
  /meetings/{meetingId}/recordings/{recordingId}:
    delete:
      tags:
        - Cloud Recording
      summary: Delete a meeting recording file
      operationId: CloudRecording_deleteRecording
      security:
        - openapi_oauth:
            - recording:write:admin
            - recording:write
          openapi_authorization: []
      description: >-
        Delete a specific recording file from a meeting.&lt;p
        style=&quot;background-color:#e1f5fe; color:#01579b;
        padding:8px&quot;&gt; &lt;b&gt;Note:&lt;/b&gt; To use this API, you must
        enable the &lt;b&gt;The host can delete cloud recordings&lt;/b&gt;
        setting. You can find this setting in the &lt;b&gt;Recording&lt;/b&gt;
        tab of the &lt;b&gt;Settings&lt;/b&gt; interface in the [Zoom web
        portal](https://zoom.us/).&lt;/p&gt;




        **Scopes:** `recording:write:admin`,`recording:write`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      parameters:
        - description: >-
            To get Cloud Recordings of a meeting, provide the meeting ID or
            meeting UUID. If the meeting ID is provided instead of UUID,the
            response will be for the latest meeting instance. 


            To get Cloud Recordings of a webinar, provide the webinar ID or the
            webinar UUID. If the webinar ID is provided instead of UUID,the
            response will be for the latest webinar instance. 


            If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
            (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double
            encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**
            the UUID before making an API request. 
          name: meetingId
          in: path
          required: true
          schema:
            type: string
            example: atsXxhSEQWit9t+U02HXNQ==
        - description: The recording ID.
          name: recordingId
          in: path
          required: true
          schema:
            type: string
            example: a2f19f96-9294-4f51-8134-6f0eea108eb2
        - description: |-
            The recording delete actions:  
             `trash` - Move recording to trash.  
             `delete` - Delete recording permanently.
          name: action
          in: query
          required: false
          schema:
            type: string
            example: trash
            default: trash
            enum:
              - trash
              - delete
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`   
             
            Recording deleted. 

            **Error Code:** `200`  
             
            You do not have the right permissions.
        '204':
          description: |-
            **HTTP Status Code:** `204`   
             
            Meeting recording file deleted.
        '400':
          description: >+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>

            User does not belong to this account: {accountId}.<br>


            **Error Code:** `3303` <br>

            You can not delete an uncompleted meeting. <br/>


            **Error Code:** `3332` <br>

            This recording was selected for a simulive webinar. You cannot
            delete or trash it. <br>


            **Error Code:** `3332` <br>

            Unable to delete this file because this recording is being used for
            Zoom IQ for Sales.

        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User {userId} does not exist or does not belong to this account.<br>

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      extensions:
        x-macro-scopes:
          - recording:write:admin
          - recording:write
  /meetings/{meetingId}/recordings/{recordingId}/status:
    put:
      tags:
        - Cloud Recording
      summary: Recover a single recording
      operationId: CloudRecording_recoverStatus
      security:
        - openapi_oauth:
            - recording:write:admin
            - recording:write
          openapi_authorization: []
      description: >-
        Zoom allows users to recover recordings from trash for up to 30 days
        from the deletion date. Use this API to recover a single recording file
        from the meeting.  
         


        **Scopes:** `recording:write:admin`,`recording:write`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      parameters:
        - description: >-
            To get Cloud Recordings of a meeting, provide the meeting ID or
            meeting UUID. If the meeting ID is provided instead of UUID,the
            response will be for the latest meeting instance. 


            To get Cloud Recordings of a webinar, provide the webinar ID or the
            webinar UUID. If the webinar ID is provided instead of UUID,the
            response will be for the latest webinar instance. 


            If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
            (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double
            encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**
            the UUID before making an API request. 
          name: meetingId
          in: path
          required: true
          schema:
            type: string
            example: atsXxhSEQWit9t+U02HXNQ==
        - description: The recording ID.
          name: recordingId
          in: path
          required: true
          schema:
            type: string
            example: a2f19f96-9294-4f51-8134-6f0eea108eb2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRecordingRecoverStatusRequest'
      responses:
        '204':
          description: |+
            **HTTP Status Code:** `204`   
              Meeting recording recovered.

        '400':
          description: >+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>

            User does not belong to this account: {accountId}.


            **Error Code:** `3309` <br>

            Not enough cloud storage available. Either purchase additional
            storage or delete cloud recordings to free up storage.

        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User {userId} does not exist or does not belong to this account.<br>

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      extensions:
        x-macro-scopes:
          - recording:write:admin
          - recording:write
  /meetings/{meetingUUID}/recordings/status:
    put:
      tags:
        - Cloud Recording
      summary: Recover meeting recordings
      operationId: CloudRecording_recoverRecordingStatus
      security:
        - openapi_oauth:
            - recording:write:admin
            - recording:write
          openapi_authorization: []
      description: >-
        Zoom allows users to recover recordings from trash for up to 30 days
        from the deletion date. Use this API to recover all deleted [Cloud
        Recordings](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording)
        of a specific meeting.  
           
         
        **Prerequisites**:  
         
        * A Pro user with Cloud Recording enabled.


        **Scopes:** `recording:write:admin`,`recording:write`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      parameters:
        - description: >-
            The meeting's universally unique identifier (UUID). Each meeting
            instance generates a UUID. For example, after a meeting ends, a new
            UUID is generated for the next meeting instance.


            If the meeting UUID begins with a `/` character or contains a `//`
            character, you **must** [double
            encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)
            the meeting UUID when using the meeting UUID for other API calls.
          name: meetingUUID
          in: path
          required: true
          schema:
            type: string
            example: 4444AAAiAAAAAiAiAiiAii==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRecordingRecoverRecordingStatusRequest'
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`   
             
            Recordings recovered. 

            **Error Code:** `200`  
             
            You do not have the right permissions.
        '204':
          description: |-
            **HTTP Status Code:** `204`   
             
            Deleted recordings of the meeting recovered.
        '400':
          description: >+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>

            User does not belong to this account: {accountId}.


            **Error Code:** `3309` <br>

            Not enough cloud storage available. Either purchase additional
            storage or delete cloud recordings to free up storage.

        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User does not exist: {userId}.<br>

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      extensions:
        x-macro-scopes:
          - recording:write:admin
          - recording:write
  /users/{userId}/recordings:
    get:
      tags:
        - Cloud Recording
      summary: List all recordings
      operationId: CloudRecording_listRecordings
      security:
        - openapi_oauth:
            - recording:read:admin
            - recording:read
          openapi_authorization: []
      description: >-
        Lists all [cloud
        recordings](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording)
        for a user.  


        For user-level apps, pass the [`me`
        value](https://developers.zoom.us/docs/api/rest/using-zoom-apis/#the-me-keyword)
        instead of the `userId` parameter.  To access a user's passcode
        protected cloud recording, send the user's [OAuth access
        token](https://developers.zoom.us/docs/integrations/oauth/) as a bearer
        token in the authorization header.  


        Example:  `curl -H "Authorization: Bearer <ACCESS_TOKEN>"
        https://{{base-domain}}/rec/archive/download/xyz`  


        **Prerequisites:**  

        * Must have a Pro or a higher plan.  

        * Must enable Cloud Recording on the user's account.


        **Scopes:** `recording:read:admin`,`recording:read`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      parameters:
        - description: >-
            The user's ID or email address. For user-level apps, pass the `me`
            value.
          name: userId
          in: path
          required: true
          schema:
            type: string
        - description: The number of records returned within a single API call.
          name: page_size
          in: query
          required: false
          schema:
            maximum: 300
            type: integer
            example: 30
            default: 30
        - description: >-
            The next page token paginates through a large set of results. A next
            page token returns whenever the set of available results exceeds the
            current page size. The expiration period for this token is 15
            minutes.
          name: next_page_token
          in: query
          required: false
          schema:
            type: string
            example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
        - description: >-
            The query metadata of the recording if using an on-premise meeting
            connector for the meeting.
          name: mc
          in: query
          required: false
          schema:
            type: string
            example: 'false'
            default: 'false'
        - description: >-
            The query trash.

            * `true` - List recordings from trash.  

            * `false` - Do not list recordings from the trash.  


            The default value is `false`. If you set it to `true`, you can use
            the `trash_type` property to indicate the type of Cloud recording
            that you need to retrieve. 
          name: trash
          in: query
          required: false
          schema:
            type: boolean
            example: false
            default: false
        - description: >-
            The start date in 'yyyy-mm-dd' UTC format for the date range where
            you would like to retrieve recordings. The maximum range can be a
            month. If no value is provided for this field, the default will be
            current date. 


            For example, if you make the API request on June 30, 2020, without
            providing the `from` and `to` parameters, by default the value of
            'from' field will be `2020-06-30` and the value of the 'to' field
            will be `2020-07-01`. 


            **Note**: The `trash` files cannot be filtered by date range and
            thus, the `from` and `to` fields should not be used for trash files.
          name: from
          in: query
          required: false
          schema:
            type: string
            format: date
            example: '2020-06-30'
        - description: 'The end date in ''yyyy-mm-dd'' ''yyyy-mm-dd'' UTC format. '
          name: to
          in: query
          required: false
          schema:
            type: string
            format: date
            example: '2020-06-30'
        - description: |-
            The type of cloud recording to retrieve from the trash. 
             
             *   `meeting_recordings`: List all meeting recordings from the trash.  
             *  `recording_file`: List all individual recording files from the trash. 
          name: trash_type
          in: query
          required: false
          schema:
            type: string
            example: meeting_recordings
            default: meeting_recordings
        - description: The meeting ID.
          name: meeting_id
          in: query
          required: false
          schema:
            type: integer
            example: 6840331990
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`  
             
            List of recording objects returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordingListRecordingsResponse'
        '401':
          description: |
            **HTTP Status Code:** `401` <br>
             Unauthorized  

             **Error Code:** `124` <br>
             Requires an access token. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found  

             **Error Code:** `1001` <br>
             User {userId} does not exist, or does not belong to this account. <br>
            **Error Code:** `3301` <br>
             There is no recording for this session. <br>
      extensions:
        x-permissions:
          - Recording:Read
        x-macro-scopes:
          - recording:read:admin
          - recording:read
        x-granular-scopes:
          - user:read:list_recordings
          - user:read:list_recordings:admin
          - user:read:list_recordings:master
  /devices:
    get:
      tags:
        - Devices
      summary: List devices
      operationId: Devices_list
      security:
        - openapi_oauth:
            - device:read:admin
            - device:write:admin
          openapi_authorization: []
      description: >-
        This API lets you list devices. 




        **Scopes:** `device:read:admin`,`device:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `HEAVY`
      parameters:
        - description: Filter devices by name or serial number.
          name: search_text
          in: query
          required: false
          schema:
            type: string
            example: poly
        - description: Filter devices by platform operating system.
          name: platform_os
          in: query
          required: false
          schema:
            type: string
            example: win
            enum:
              - win
              - mac
              - ipad
              - iphone
              - android
              - linux
        - description: Filter devices by enrollment of ZDM (Zoom Device Management).
          name: is_enrolled_in_zdm
          in: query
          required: false
          schema:
            type: boolean
            example: true
            default: true
        - description: |-
            Filter devices by device type.  
              Device Type:  
             `-1` - All Zoom Room device(0,1,2,3,4,6).  
             `0` - Zoom Rooms Computer.  
             `1` - Zoom Rooms Controller.  
             `2` - Zoom Rooms Scheduling Display.  
             `3` - Zoom Rooms Control System.  
             `4` -  Zoom Rooms Whiteboard.  
             `5` - Zoom Phone Appliance.  
             `6` - Zoom Rooms Computer (with Controller).
          name: device_type
          in: query
          required: false
          schema:
            type: integer
            example: 0
            default: -1
            enum:
              - -1
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
        - description: Filter devices by vendor.
          name: device_vendor
          in: query
          required: false
          schema:
            type: string
            example: poly
        - description: Filter devices by model.
          name: device_model
          in: query
          required: false
          schema:
            type: string
            example: ep5
        - description: |-
            Filter devices by status.   
              Device Status:  
             `0` - offline.  
             `1` - online.  
             `-1` - unlink
          name: device_status
          in: query
          required: false
          schema:
            type: integer
            example: 0
            default: -1
            enum:
              - -1
              - 0
              - 1
        - description: The number of records returned within a single API call.
          name: page_size
          in: query
          required: false
          schema:
            maximum: 300
            type: integer
            example: 30
            default: 30
        - description: >-
            Use the next page token to paginate through large result sets. A
            next page token is returned whenever the set of available results
            exceeds the current page size. This token's expiration period is 15
            minutes.
          name: next_page_token
          in: query
          required: false
          schema:
            type: string
            example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200` **OK**  
             
            Device detail returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesListResponse'
        '400':
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `30055008` <br>
            no permission.

      extensions:
        x-permissions:
          - ZoomRooms:Read
          - ZoomRooms:Edit
        x-macro-scopes:
          - device:read:admin
          - device:write:admin
    post:
      tags:
        - Devices
      summary: Add a new device
      operationId: Devices_createNewDevice
      security:
        - openapi_oauth:
            - device:write:admin
          openapi_authorization: []
      description: >-
        Add a new device to Zoom account. 


        **Scope:** `device:write:admin`   
         
         **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Medium`

        **Scopes:** `device:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicesCreateNewDeviceRequest'
      responses:
        '202':
          description: |-
            **HTTP Status:** `202` **Accepted**
            Request processed successfully.
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request 

             **Error Code:** `30055001` <br>
             zoom room does not exist.  <br>
            **Error Code:** `30055002` <br>
             required param can not be empty or null. <br>
            **Error Code:** `30055003` <br>
             device type does not support. <br>
            **Error Code:** `30055004` <br>
             model or vendor not exist. <br>
            **Error Code:** `30055005` <br>
             tag length can not be more than 64. <br>
            **Error Code:** `30055006` <br>
             device has already exist. <br>
            **Error Code:** `30055007` <br>
             invalid mac address. <br>
            **Error Code:** `30055008` <br>
             no permission. <br>
            **Error Code:** `30055009` <br>
             email does not have plan. <br>
      extensions:
        x-permissions:
          - ZoomRooms:Edit
        x-macro-scopes:
          - device:write:admin
  /devices/groups:
    get:
      tags:
        - Devices
      summary: Get zdm group info
      operationId: Devices_listZdmGroupInfo
      security:
        - openapi_oauth:
            - device:read:admin
          openapi_authorization: []
      description: >-
        Get Zoom Device Manager (ZDM) group information for an account.


        **Scopes:** `device:read:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      parameters:
        - description: |-
            The total number of records returned from a single API call.
            Default - 30.
            Max -100.
          name: page_size
          in: query
          required: false
          schema:
            type: integer
            example: 30
        - description: >-
            Use the next page token to paginate through large result sets. A
            next page token is returned whenever the set of available results
            exceeds the current page size. This token's expiration period token
            is 15 minutes.
          name: next_page_token
          in: query
          required: false
          schema:
            type: string
            example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      responses:
        '200':
          description: >-
            **HTTP Status Code:** `200` **OK**  Version detail returned
            successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesListZdmGroupInfoResponse'
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request  

             **Error Code:** `30051037` <br>
             Invalid parameters. <br>
        '403':
          description: |
            **HTTP Status Code:** `403` <br>
             Forbidden  

             **Error Code:** `30055008` <br>
             No permission. <br>
      extensions:
        x-permissions:
          - ZoomRooms:Read
          - MoileDeviceManagement:Read
        x-macro-scopes:
          - device:read:admin
        x-granular-scopes:
          - device:read:list_groups:admin
          - device:read:list_groups:master
  /devices/zpa/assignment:
    post:
      tags:
        - Devices
      summary: Assign a device to a user or commonarea
      operationId: Devices_assignDeviceZpaAssignment
      security:
        - openapi_oauth:
            - device:write:admin
          openapi_authorization: []
      description: >-
        Assign a device to a user or common area, or move a device to another
        user or common area, or remove a device.


        **Prerequisites:**

        * Device must be enrolled in Zoom Device Management (ZDM).


        **Scopes:** `device:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicesAssignDeviceZpaAssignmentRequest'
      responses:
        '204':
          description: >-
            **HTTP Status Code:** `204` **No Content**   Request processed
            successfully.
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request  

             **Error Code:** `30055003` <br>
             Device vendor does not support. <br>
            **Error Code:** `30055007` <br>
             Mac address is wrong. <br>
            **Error Code:** `30051039` <br>
             Device not exists. <br>
            **Error Code:** `30055002` <br>
             AUTO RECEPTIONIST user can not assign to device. <br>
            **Error Code:** `30055009` <br>
             User not have phone plan. <br>
            **Error Code:** `30052024` <br>
             Extension number not exists. <br>
            **Error Code:** `30055002` <br>
             Missing required input. <br>
      extensions:
        x-permissions:
          - MobileDeviceManagement:Edit
          - ZoomRooms:Edit
        x-macro-scopes:
          - device:write:admin
        x-granular-scopes:
          - device:write:zpa_device:admin
          - device:write:zpa_device:master
  /devices/zpa/upgrade:
    post:
      tags:
        - Devices
      summary: upgrade zpa os/app
      operationId: Devices_upgradeZpaOsApp
      security:
        - openapi_oauth:
            - device:write:admin
          openapi_authorization: []
      description: >-
        Upgrade ZPA firmware or app by Zoom Device Manager (ZDM) group ID.


        **Scopes:** `device:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `HEAVY`
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicesUpgradeZpaOsAppRequest'
      responses:
        '202':
          description: >-
            The upgrade request has been accepted and is currently being
            processed.
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request  

             **Error Code:** `30052029` <br>
             Missing required input: firmware_versions. <br>
            **Error Code:** `30055020` <br>
             Upgrade type dose not exist. <br>
            **Error Code:** `30055018` <br>
             Zdm group id dose not exist. <br>
            **Error Code:** `30052030` <br>
             Missing required input: app_version. <br>
      extensions:
        x-permissions:
          - ZoomRooms:Edit
          - MobileDeviceManagement:Edit
        x-macro-scopes:
          - device:write:admin
        x-granular-scopes:
          - device:write:zpa_os_or_app:admin
          - device:write:zpa_os_or_app:master
  /devices/zpa/vendors/{vendor}/mac_addresses/{macAddress}:
    delete:
      tags:
        - Devices
      summary: Delete ZPA device by vendor and mac address
      operationId: Devices_removeZpaDeviceByVendorAndMacAddress
      security:
        - openapi_oauth:
            - device:write:admin
          openapi_authorization: []
      description: >-
        Remove a ZPA device from the device manager, by vendor and mac address.


        **Scopes:** `device:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      parameters:
        - description: The device's manufacturer.
          name: vendor
          in: path
          required: true
          schema:
            type: string
            example: Poly
        - description: The device's mac address.
          name: macAddress
          in: path
          required: true
          schema:
            type: string
            example: 64167ffc0ed7
      responses:
        '204':
          description: >-
            **HTTP Status Code:** `204` **No Content** Device deleted
            successfully.
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request  

             **Error Code:** `30052026` <br>
             Device is not ZPA. <br>
            **Error Code:** `30055003` <br>
             Device vendor does not support. <br>
            **Error Code:** `30055007` <br>
             Mac address is wrong. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found  

             **Error Code:** `30051039` <br>
             Zdm device not found. <br>
      extensions:
        x-permissions:
          - ZoomRooms:Edit
          - MobileDeviceManagement:Edit
        x-macro-scopes:
          - device:write:admin
        x-granular-scopes:
          - device:delete:zpa_device:admin
          - device:delete:zpa_device:master
  /devices/zpa/zdm_groups/{zdmGroupId}/versions:
    get:
      tags:
        - Devices
      summary: Get ZPA version info
      operationId: Devices_getZpaVersionInfo
      security:
        - openapi_oauth:
            - device:read:admin
          openapi_authorization: []
      description: >-
        Get ZPA firmware and app version information that can be upgraded for
        devices.


        **Scopes:** `device:read:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      parameters:
        - description: The Zoom Device Management (ZDM) group ID.
          name: zdmGroupId
          in: path
          required: true
          schema:
            type: string
            example: ff49588c-92c4-4406-99e6-1942d8a61a7b
      responses:
        '200':
          description: >-
            **HTTP Status Code:** `200` **OK**  Version detail returned
            successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesGetZpaVersionInfoResponse'
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request  

             **Error Code:** `30051037` <br>
             * AccountId is empty. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found  

             **Error Code:** `30052027` <br>
             * ZdmGroup not found. <br>
      extensions:
        x-permissions:
          - ZoomRooms:Read
          - MoileDeviceManagement:Read
        x-macro-scopes:
          - device:read:admin
        x-granular-scopes:
          - device:read:list_zpa_versions:admin
          - device:read:list_zpa_versions:master
  /devices/{deviceId}:
    get:
      tags:
        - Devices
      summary: Get device detail
      operationId: Devices_getDetail
      security:
        - openapi_oauth:
            - device:read:admin
            - device:write:admin
          openapi_authorization: []
      description: >-
        Retrieve a device's details.


        **Scopes:** `device:read:admin`,`device:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `HEAVY`
      parameters:
        - description: The device's unique identifier.
          name: deviceId
          in: path
          required: true
          schema:
            type: string
            example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200` **OK** 
             
            Device detail returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesGetDetailResponse'
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request 

             **Error Code:** `30055008` <br>
             No permission. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found 

             **Error Code:** `30055012` <br>
             No found unified deviceId. <br>
      extensions:
        x-permissions:
          - ZoomRooms:Read
          - ZoomRooms:Edit
        x-macro-scopes:
          - device:read:admin
          - device:write:admin
    delete:
      tags:
        - Devices
      summary: Delete device
      operationId: Devices_removeDeviceZMD
      security:
        - openapi_oauth:
            - device:write:admin
          openapi_authorization: []
      description: >-
        Delete a device from a Zoom account. 


        **Prerequisites:**

        * Device must be enrolled in ZMD (Zoom Device Management)


        **Scopes:** `device:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `HEAVY`
      parameters:
        - description: Unique identifier of the device.
          name: deviceId
          in: path
          required: true
          schema:
            type: string
            example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
      responses:
        '204':
          description: >-
            **HTTP Status Code:** `204` **No Content** Device deleted
            successfully.
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request 

             **Error Code:** `30055008` <br>
             no permission. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found 

             **Error Code:** `30055012` <br>
             no found unified deviceId. <br>
      extensions:
        x-permissions:
          - MobileDeviceManagement:Edit
        x-macro-scopes:
          - device:write:admin
    patch:
      tags:
        - Devices
      summary: 'Change device '
      operationId: Devices_updateDeviceName
      security:
        - openapi_oauth:
            - device:write:admin
          openapi_authorization: []
      description: >-
        Change device name. 


        **Prerequisites:**

        * Device must be enrolled in ZMD (Zoom Device Management)


        **Scopes:** `device:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      parameters:
        - description: Unique identifier of the device.
          name: deviceId
          in: path
          required: true
          schema:
            type: string
            example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicesUpdateDeviceNameRequest'
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `204` **No Content** 
             
            Request processed successfully.
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request 

             **Error Code:** `30055001` <br>
             zoom room does not exist. . <br>
            **Error Code:** `30055002` <br>
             required param can not be empty or null. <br>
            **Error Code:** `30055003` <br>
             device type does not support. <br>
            **Error Code:** `30055011` <br>
             device is not enrolled. <br>
            **Error Code:** `30055013` <br>
             device not support this app. <br>
            **Error Code:** `30055014` <br>
             room not support this app. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found 

             **Error Code:** `30055012` <br>
             Device does not exist: {deviceId}. <br>
      extensions:
        x-permissions:
          - ZoomRooms:Edit
        x-macro-scopes:
          - device:write:admin
  /devices/{deviceId}/assignment:
    patch:
      tags:
        - Devices
      summary: Change device association
      operationId: Devices_changeDeviceAssociation
      security:
        - openapi_oauth:
            - device:write:admin
          openapi_authorization: []
      description: >-
        This Device API lets you change device association from one Zoom Room to
        another. 


        **Prerequisites:**

        * Device must be enrolled in ZMD (Zoom Device Management) 




        **Scopes:** `device:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Medium`
      parameters:
        - description: Unique identifier of the device.
          name: deviceId
          in: path
          required: true
          schema:
            type: string
            example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicesChangeDeviceAssociationRequest'
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `204` **No Content**  
             
            Request processed successfully.
        '400':
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `8500` <br>
            Device not enrolled in Zoom Device Management.

            **Error Code:** `8501` <br>
            Device does not support this app.

            **Error Code:** `8502` <br>
            Room does not support this app.

        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1012` <br>
            Room does not exist: {roomId}.

            **Error Code:** `8503` <br>
            Device does not exist: {deviceId}.

      extensions:
        x-macro-scopes:
          - device:write:admin
  /h323/devices:
    get:
      tags:
        - H323 Devices
      summary: List H.323/SIP devices
      operationId: H323Devices_listDevices
      security:
        - openapi_oauth:
            - h323:read:admin
          openapi_authorization: []
      description: >-
        A H.323 or SIP device can make a video call to a [Room
        Connector](https://support.zoom.us/hc/en-us/articles/201363273-Getting-Started-With-H-323-SIP-Room-Connector)
        to join a Zoom cloud meeting. A Room Connector can also call out to a
        H.323 or SIP device to join a Zoom cloud meeting. Use this API to list
        all H.323/SIP Devices on a Zoom account.  
           
         


        **Scopes:** `h323:read:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Medium`
      parameters:
        - description: The number of records returned within a single API call.
          name: page_size
          in: query
          required: false
          schema:
            maximum: 300
            type: integer
            example: 30
            default: 30
        - description: >-
            **Deprecated.** We will no longer support this field in a future
            release. Instead, use the `next_page_token` for pagination.
          name: page_number
          in: query
          required: false
          schema:
            type: integer
            example: 1
            default: 1
        - description: >-
            Use the next page token to paginate through large result sets. A
            next page token is returned whenever the set of available results
            exceeds the current page size. This token's expiration period is 15
            minutes.
          name: next_page_token
          in: query
          required: false
          schema:
            type: string
            example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`  
             
            List of H.323/SIP devices returned.  
             
            **Error Code:** `200`  
             
            No permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/H323DevicesListDevicesResponse'
      extensions:
        x-macro-scopes:
          - h323:read:admin
    post:
      tags:
        - H323 Devices
      summary: Create a H.323/SIP device
      operationId: H323Devices_createDevice
      security:
        - openapi_oauth:
            - h323:write:admin
          openapi_authorization: []
      description: >-
        A H.323 or SIP device can make a video call to a [Room
        Connector](https://support.zoom.us/hc/en-us/articles/201363273-Getting-Started-With-H-323-SIP-Room-Connector)
        to join a Zoom cloud meeting. A Room Connector can also call out to a
        H.323 or SIP device to join a Zoom cloud meeting. Use this API to add a
        H.323/SIP device to your Zoom account  
           
         


        **Scopes:** `h323:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      requestBody:
        description: H.323/SIP device.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/H323DevicesCreateDeviceRequest'
      responses:
        '201':
          description: |-
            **HTTP Status Code:** `201`  
             
            H.323/SIP device created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/H323DevicesCreateDeviceResponse'
        '400':
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `200` <br>
            No permission.

        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `2020` <br>
            H.323 device's display name:{displayName} is already in use.

      extensions:
        x-macro-scopes:
          - h323:write:admin
  /h323/devices/{deviceId}:
    delete:
      tags:
        - H323 Devices
      summary: Delete a H.323/SIP device
      operationId: H323Devices_deleteDevice
      security:
        - openapi_oauth:
            - h323:write:admin
          openapi_authorization: []
      description: >-
        A H.323 or SIP device can make a video call to a [Room
        Connector](https://support.zoom.us/hc/en-us/articles/201363273-Getting-Started-With-H-323-SIP-Room-Connector)
        to join a Zoom cloud meeting. A Room Connector can also call out to a
        H.323 or SIP device to join a Zoom cloud meeting. Use this API to delete
        a H.323/SIP device from your Zoom account.  
           
         


        **Scopes:** `h323:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      parameters:
        - description: The device ID.
          name: deviceId
          in: path
          required: true
          schema:
            type: string
            example: abceHewahkrehwiK
      responses:
        '200':
          description: You do not have the permission to delete this device.
        '204':
          description: H.323/SIP device deleted.
        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

      extensions:
        x-macro-scopes:
          - h323:write:admin
    patch:
      tags:
        - H323 Devices
      summary: Update a H.323/SIP device
      operationId: H323Devices_updateDeviceInfo
      security:
        - openapi_oauth:
            - h323:write:admin
          openapi_authorization: []
      description: >-
        A H.323 or SIP device can make a video call to a [Room
        Connector](https://support.zoom.us/hc/en-us/articles/201363273-Getting-Started-With-H-323-SIP-Room-Connector)
        to join a Zoom cloud meeting. A Room Connector can also call out to a
        H.323 or SIP device to join a Zoom cloud meeting. Use this API to edit
        information of a H.323/SIP device from your Zoom account.  
           
         


        **Scopes:** `h323:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      parameters:
        - description: The device ID.
          name: deviceId
          in: path
          required: true
          schema:
            type: string
            example: abceHewahkrehwiK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/H323DevicesUpdateDeviceInfoRequest'
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `204`  
             
            H.323/SIP device updated.
        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `2020` <br>
            H.323 device's display name:{displayName} is already in use.

      extensions:
        x-macro-scopes:
          - h323:write:admin
  /live_meetings/{meetingId}/chat/messages/{messageId}:
    delete:
      tags:
        - Meetings
      summary: Delete a live meeting message
      operationId: Meetings_deleteMeetingChatMessage
      security:
        - openapi_oauth:
            - meeting:write
            - meeting:write:admin
          openapi_authorization: []
      description: >-
        Delete a message in a live meeting, based on ID. 


        **Prerequisites:** 

        * Have Zoom enable the DLP for the in-meeting chat feature to use this
        API.


        **Scopes:** `meeting:write`,`meeting:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      parameters:
        - description: |-
            The meeting's ID. 

             When storing this value in your database, store it as a long-format integer and **not** an integer. Meeting IDs can exceed 10 digits.
          name: meetingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            example: 85746065
        - description: >-
            The live meeting chat message's unique identifier (UUID), in
            base64-encoded format.
          name: messageId
          in: path
          required: true
          schema:
            type: string
            example: MS17MDQ5NjE4QjYtRjk4Ny00REEwLUFBQUItMTg3QTY0RjU2MzhFfQ==
        - description: >-
            The live webinar chat file's universally unique identifier (UUID),
            in base64-encoded format. Separate multiple values with commas.
          name: file_ids
          in: query
          required: false
          schema:
            type: string
            example: >-
              MS17RDk0QTY3QUQtQkFGQy04QTJFLTI2RUEtNkYxQjRBRTU1MTk5fQ==,MS17NDQ0OEU5MjMtM0JFOS1CMDA1LTQ0NDAtQjdGOTU0Rjk5MTkyfQ==
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `204`   
             
            Meeting chat message deleted.
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request 

             **Error Code:** `200` <br>
             * Only available for Paid accounts. 
            * DLP is not enabled. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found 

             **Error Code:** `3001` <br>
             Meeting {meetingId} does not exist. <br>
      extensions:
        x-permissions: []
        x-macro-scopes:
          - meeting:write
          - meeting:write:admin
    patch:
      tags:
        - Meetings
      summary: Update a live meeting message
      operationId: Meetings_updateMessage
      security:
        - openapi_oauth:
            - meeting:write
            - meeting:write:admin
          openapi_authorization: []
      description: >-
        Update a message in a live meeting, based on ID. **Prerequisites:** *
        Have Zoom enable the DLP for the in-meeting chat feature to use this
        API.


        **Scopes:** `meeting:write`,`meeting:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      parameters:
        - description: |-
            The meeting's ID. 

             When storing this value in your database, store it as a long-format integer and **not** an integer. Meeting IDs can exceed 10 digits.
          name: meetingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
            example: 85746065
        - description: >-
            The live meeting chat message's unique identifier (UUID), in
            base64-encoded format.
          name: messageId
          in: path
          required: true
          schema:
            type: string
            example: MS17MDQ5NjE4QjYtRjk4Ny00REEwLUFBQUItMTg3QTY0RjU2MzhFfQ==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingsUpdateMessageRequest'
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `204` <br>
             Meeting chat message updated.
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request 

             **Error Code:** `300` <br>
             DLP is not enabled on this account <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found 

             **Error Code:** `3001` <br>
             Meeting {meetingId} does not exist. <br>
      extensions:
        x-permissions:
          - User:Edit
        x-macro-scopes:
          - meeting:write
          - meeting:write:admin
  /live_meetings/{meetingId}/events:
    patch:
      tags:
        - Meetings
      summary: Use in-meeting controls
      operationId: Meetings_controlInMeetingFeatures
      security:
        - openapi_oauth:
            - meeting:write
            - meeting:write:admin
            - meeting:master
          openapi_authorization: []
      description: >-
        Control
        [in-meeting](https://support.zoom.us/hc/en-us/articles/360021921032-In-Meeting-Controls)
        features. In-meeting controls include starting and stopping a recording,
        pausing and resuming a recording, and inviting participants. 


        **Note:** This API's recording control only works for cloud recordings.
        It does **not** work for local recordings. 


        **Prerequisites:**

        * The meeting **must** be a live meeting **except** inviting
        participants to the meeting through [call out (phone)/(room system)]. 

        * Recording control: [Cloud
        recording](https://support.zoom.us/hc/en-us/articles/360060231472-Enabling-cloud-recording)
        must be enabled on the account. 

        * The user calling this API must be the host or an alternative meeting
        host.

         

        **Scopes:** `meeting:write`,`meeting:write:admin`,`meeting:master`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Medium`
      parameters:
        - description: The live meeting's ID.
          name: meetingId
          in: path
          required: true
          schema:
            type: string
            example: '93398114182'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingsControlInMeetingFeaturesRequest'
      responses:
        '202':
          description: |-
            **HTTP Status:** `202` **Accepted**
            Request processed successfully.
        '400':
          description: >
            **HTTP Status Code:** `400` <br>
             Bad Request 

             **Error Code:** `300` <br>
             * Meeting id does not exist.<br>
            * Invalid meeting id.<br>

            * Meeting does not exist.<br>

            * No permission.<br>

            * This API is not available for this account, please contact Zoom
            support. <br>

            **Error Code:** `3309` <br>
             Not enough cloud storage available. Either purchase additional storage or delete cloud recordings to free up storage. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found 

[...]
