openapi: 3.0.0
info:
  title: Data API
  description: Serves the Clever Data API
  version: 3.1.0
servers:
  - url: https://api.clever.com/v3.1
tags:
  - name: Users
  - name: Sections
  - name: Schools
  - name: Courses
  - name: Resources
  - name: Terms
  - name: Districts
paths:
  /courses:
    get:
      tags:
        - Courses
      operationId: Courses_getList
      description: Returns a list of courses
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: count
          schema:
            type: string
            enum:
              - ''
              - 'true'
              - 'false'
              - undefined
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoursesResponse'
  /courses/{id}:
    get:
      tags:
        - Courses
      operationId: Courses_getSpecificCourse
      description: Returns a specific course
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /courses/{id}/district:
    get:
      tags:
        - Courses
      operationId: Courses_getDistrict
      description: Returns the district for a course
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /courses/{id}/resources:
    get:
      tags:
        - Courses
      operationId: Courses_getResources
      description: Returns the resources for a course
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcesResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /courses/{id}/schools:
    get:
      tags:
        - Courses
      operationId: Courses_getSchools
      description: Returns the schools for a course
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /courses/{id}/sections:
    get:
      tags:
        - Courses
      operationId: Courses_getSections
      description: Returns the sections for a course
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /districts:
    get:
      tags:
        - Districts
      operationId: Districts_getList
      description: >-
        Returns a list of districts. In practice this will only return the one
        district associated with the bearer token
      parameters:
        - in: query
          name: count
          schema:
            type: string
            enum:
              - ''
              - 'true'
              - 'false'
              - undefined
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictsResponse'
  /districts/{id}:
    get:
      tags:
        - Districts
      operationId: Districts_getSpecificDistrict
      description: Returns a specific district
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /resources:
    get:
      tags:
        - Resources
      operationId: Resources_getList
      description: Returns a list of resources
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcesResponse'
  /resources/{id}:
    get:
      tags:
        - Resources
      operationId: Resources_getById
      description: Returns a specific resource
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /resources/{id}/courses:
    get:
      tags:
        - Resources
      operationId: Resources_getCourses
      description: Returns the courses for a resource
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoursesResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /resources/{id}/sections:
    get:
      tags:
        - Resources
      operationId: Resources_listSections
      description: Returns the sections for a resource
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /resources/{id}/users:
    get:
      tags:
        - Resources
      operationId: Resources_getUsers
      description: Returns the student and/or teacher users for a resource
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: role
          schema:
            type: string
            enum:
              - student
              - teacher
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /schools:
    get:
      tags:
        - Schools
      operationId: Schools_list
      description: Returns a list of schools
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: count
          schema:
            type: string
            enum:
              - ''
              - 'true'
              - 'false'
              - undefined
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolsResponse'
  /schools/{id}:
    get:
      tags:
        - Schools
      operationId: Schools_getSpecificSchool
      description: Returns a specific school
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /schools/{id}/courses:
    get:
      tags:
        - Schools
      operationId: Schools_getCourses
      description: Returns the courses for a school
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoursesResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /schools/{id}/district:
    get:
      tags:
        - Schools
      operationId: Schools_getDistrict
      description: Returns the district for a school
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /schools/{id}/sections:
    get:
      tags:
        - Schools
      operationId: Schools_getSections
      description: Returns the sections for a school
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /schools/{id}/terms:
    get:
      tags:
        - Schools
      operationId: Schools_getTerms
      description: Returns the terms for a school
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /schools/{id}/users:
    get:
      tags:
        - Schools
      operationId: Schools_getUsers
      description: Returns the staff, student, and/or teacher users for a school
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: role
          schema:
            type: string
            enum:
              - staff
              - student
              - teacher
        - in: query
          name: primary
          schema:
            type: string
            enum:
              - ''
              - 'true'
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /sections:
    get:
      tags:
        - Sections
      operationId: Sections_getList
      description: Returns a list of sections
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: count
          schema:
            type: string
            enum:
              - ''
              - 'true'
              - 'false'
              - undefined
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
  /sections/{id}:
    get:
      tags:
        - Sections
      operationId: Sections_getSpecificSection
      description: Returns a specific section
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /sections/{id}/course:
    get:
      tags:
        - Sections
      operationId: Sections_getCourse
      description: Returns the course for a section
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /sections/{id}/district:
    get:
      tags:
        - Sections
      operationId: Sections_getDistrict
      description: Returns the district for a section
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /sections/{id}/resources:
    get:
      tags:
        - Sections
      operationId: Sections_getResources
      description: Returns the resources for a section
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcesResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /sections/{id}/school:
    get:
      tags:
        - Sections
      operationId: Sections_getSchool
      description: Returns the school for a section
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /sections/{id}/term:
    get:
      tags:
        - Sections
      operationId: Sections_getTerm
      description: Returns the term for a section
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /sections/{id}/users:
    get:
      tags:
        - Sections
      operationId: Sections_getUsers
      description: Returns the student and/or teacher users for a section
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: role
          schema:
            type: string
            enum:
              - student
              - teacher
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /terms:
    get:
      tags:
        - Terms
      operationId: Terms_getList
      description: Returns a list of terms
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: count
          schema:
            type: string
            enum:
              - ''
              - 'true'
              - 'false'
              - undefined
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsResponse'
  /terms/{id}:
    get:
      tags:
        - Terms
      operationId: Terms_getSpecificTerm
      description: Returns a specific term
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /terms/{id}/district:
    get:
      tags:
        - Terms
      operationId: Terms_getDistrictById
      description: Returns the district for a term
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /terms/{id}/schools:
    get:
      tags:
        - Terms
      operationId: Terms_getSchoolsForTerm
      description: Returns the schools for a term
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /terms/{id}/sections:
    get:
      tags:
        - Terms
      operationId: Terms_getSections
      description: Returns the sections for a term
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /users:
    get:
      tags:
        - Users
      operationId: Users_getList
      description: >-
        Returns a list of contact, district admin, staff, student, and/or
        teacher users
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: role
          schema:
            type: string
            enum:
              - contact
              - district_admin
              - staff
              - student
              - teacher
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
        - in: query
          name: count
          schema:
            type: string
            enum:
              - ''
              - 'true'
              - 'false'
              - undefined
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
  /users/{id}:
    get:
      tags:
        - Users
      operationId: Users_getUserById
      description: Returns a specific user
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{id}/district:
    get:
      tags:
        - Users
      operationId: Users_getDistrict
      description: Returns the district for a user
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{id}/mycontacts:
    get:
      tags:
        - Users
      operationId: Users_getMyContacts
      description: Returns the contact users for a student user
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{id}/mystudents:
    get:
      tags:
        - Users
      operationId: Users_getStudentUsers
      description: Returns the student users for a teacher or contact user
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{id}/myteachers:
    get:
      tags:
        - Users
      operationId: Users_getTeachersForUser
      description: Returns the teacher users for a student user
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{id}/resources:
    get:
      tags:
        - Users
      operationId: Users_getResources
      description: Returns the resources for a user
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcesResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{id}/schools:
    get:
      tags:
        - Users
      operationId: Users_getSchools
      description: Returns the schools for a user
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: primary
          schema:
            type: string
            enum:
              - ''
              - 'true'
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{id}/sections:
    get:
      tags:
        - Users
      operationId: Users_getSections
      description: Returns the sections for a user
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: starting_after
          schema:
            type: string
        - in: query
          name: ending_before
          schema:
            type: string
      responses:
        '200':
          description: OK Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequest'
    InternalError:
      description: Internal Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalError'
    NotFound:
      description: Entity Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFound'
  securitySchemes:
    oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://clever.com/oauth/authorize
          tokenUrl: https://clever.com/oauth/tokens
          scopes: {}
  schemas:
    BadRequest:
      properties:
        message:
          type: string
      type: object
    Contact:
      properties:
        legacy_id:
          type: string
          x-validation: true
        phone:
          type: string
          nullable: true
        phone_type:
          enum:
            - Cell
            - Home
            - Work
            - Other
            - ''
          type: string
          x-validation: true
          nullable: true
        sis_id:
          type: string
          nullable: true
        student_relationships:
          items:
            $ref: '#/components/schemas/StudentRelationship'
          type: array
          x-validation: true
      type: object
    Course:
      properties:
        district:
          type: string
          x-validation: true
        id:
          type: string
          x-validation: true
        name:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
      type: object
    CourseResponse:
      properties:
        data:
          $ref: '#/components/schemas/Course'
      type: object
    CoursesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CourseResponse'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
    Credentials:
      properties:
        district_username:
          type: string
      type: object
    Disability:
      properties:
        disability_code:
          enum:
            - aut
            - db
            - dd
            - emn
            - hi
            - id
            - md
            - oi
            - other
            - ohi
            - sld
            - sli
            - tbi
            - vi
          type: string
          nullable: true
        disability_status:
          enum:
            - 'Y'
            - 'N'
            - ''
          type: string
          nullable: true
        disability_type:
          enum:
            - Autism
            - Deaf-blindness
            - Developmental delay
            - Emotional disturbance
            - Hearing impairment
            - Intellectual Disability
            - Multiple disabilities
            - Orthopedic impairment
            - Other
            - Other health impairment
            - Specific learning disability
            - Speech or language impairment
            - Traumatic brain injury
            - Visual impairment
          type: string
          nullable: true
      type: object
    District:
      properties:
        district_contact:
          $ref: '#/components/schemas/DistrictContact'
        error:
          type: string
        id:
          type: string
          x-validation: true
        last_sync:
          format: datetime
          type: string
          x-validation: true
          nullable: true
        launch_date:
          format: date
          type: string
          x-validation: true
        lms_state:
          enum:
            - matching_in_progress
            - error
            - disconnected
            - ''
            - success
          type: string
          x-validation: true
          nullable: true
        login_methods:
          items:
            type: string
          type: array
          x-validation: true
        mdr_number:
          type: string
          nullable: true
        name:
          type: string
        nces_id:
          type: string
          nullable: true
        pause_end:
          format: datetime
          type: string
          x-validation: true
          nullable: true
        pause_start:
          format: datetime
          type: string
          x-validation: true
          nullable: true
        portal_url:
          type: string
        sis_type:
          type: string
          x-validation: true
        state:
          enum:
            - running
            - pending
            - error
            - paused
            - ''
            - success
          type: string
          x-validation: true
          nullable: true
      type: object
    DistrictAdmin:
      properties:
        title:
          type: string
          nullable: true
        legacy_id:
          type: string
          x-validation: true
      type: object
    DistrictContact:
      properties:
        title:
          type: string
          x-validation: true
        district:
          type: string
          x-validation: true
        email:
          type: string
          nullable: true
        id:
          type: string
          x-validation: true
        name:
          $ref: '#/components/schemas/Name'
      type: object
    DistrictResponse:
      properties:
        data:
          $ref: '#/components/schemas/District'
      type: object
    DistrictsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/DistrictResponse'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
    InternalError:
      properties:
        message:
          type: string
      type: object
    Link:
      properties:
        rel:
          enum:
            - next
            - prev
            - self
          type: string
        uri:
          type: string
      type: object
    Location:
      properties:
        address:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        lat:
          type: string
          nullable: true
        lon:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        zip:
          type: string
          nullable: true
      type: object
    Name:
      properties:
        first:
          type: string
          nullable: true
        last:
          type: string
          nullable: true
        middle:
          type: string
          nullable: true
      type: object
    NotFound:
      properties:
        message:
          type: string
      type: object
    PreferredName:
      properties:
        first:
          type: string
          nullable: true
        last:
          type: string
          nullable: true
        middle:
          type: string
          nullable: true
      type: object
    Principal:
      properties:
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      type: object
    Resource:
      properties:
        title:
          type: string
        created:
          format: date-time
          type: string
        district:
          type: string
        id:
          type: string
        resource_id:
          type: string
        roles:
          items:
            enum:
              - teacher
              - student
            type: string
          type: array
        updated:
          format: date-time
          type: string
      type: object
    ResourceResponse:
      properties:
        data:
          $ref: '#/components/schemas/Resource'
      type: object
    ResourcesResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ResourceResponse'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
    Roles:
      properties:
        contact:
          $ref: '#/components/schemas/Contact'
        district_admin:
          $ref: '#/components/schemas/DistrictAdmin'
        staff:
          $ref: '#/components/schemas/Staff'
        student:
          $ref: '#/components/schemas/Student'
        teacher:
          $ref: '#/components/schemas/Teacher'
    School:
      properties:
        created:
          format: datetime
          type: string
          x-validation: true
        district:
          type: string
          x-validation: true
        ext:
          type: object
        high_grade:
          enum:
            - InfantToddler
            - Preschool
            - PreKindergarten
            - TransitionalKindergarten
            - Kindergarten
            - '1'
            - '2'
            - '3'
            - '4'
            - '5'
            - '6'
            - '7'
            - '8'
            - '9'
            - '10'
            - '11'
            - '12'
            - '13'
            - PostGraduate
            - Ungraded
            - Other
            - ''
          type: string
          x-validation: true
          nullable: true
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        location:
          $ref: '#/components/schemas/Location'
        low_grade:
          enum:
            - InfantToddler
            - Preschool
            - PreKindergarten
            - TransitionalKindergarten
            - Kindergarten
            - '1'
            - '2'
            - '3'
            - '4'
            - '5'
            - '6'
            - '7'
            - '8'
            - '9'
            - '10'
            - '11'
            - '12'
            - '13'
            - PostGraduate
            - Ungraded
            - Other
            - ''
          type: string
          x-validation: true
          nullable: true
        mdr_number:
          type: string
          nullable: true
        name:
          type: string
        nces_id:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        principal:
          $ref: '#/components/schemas/Principal'
        school_number:
          type: string
        sis_id:
          type: string
        state_id:
          type: string
          nullable: true
      type: object
    SchoolEnrollment:
      properties:
        end_date:
          format: datetime
          type: string
          x-validation: true
        school:
          type: string
          x-validation: true
        start_date:
          format: datetime
          type: string
          x-validation: true
      type: object
    SchoolResponse:
      properties:
        data:
          $ref: '#/components/schemas/School'
      type: object
    SchoolsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/SchoolResponse'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
    Section:
      properties:
        course:
          type: string
          x-validation: true
          nullable: true
        created:
          format: datetime
          type: string
          x-validation: true
        district:
          type: string
          x-validation: true
        ext:
          type: object
        grade:
          enum:
            - InfantToddler
            - Preschool
            - PreKindergarten
            - TransitionalKindergarten
            - Kindergarten
            - '1'
            - '2'
            - '3'
            - '4'
            - '5'
            - '6'
            - '7'
            - '8'
            - '9'
            - '10'
            - '11'
            - '12'
            - '13'
            - PostGraduate
            - Ungraded
            - Other
            - ''
          type: string
          x-validation: true
          nullable: true
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        name:
          type: string
        period:
          type: string
          nullable: true
        school:
          type: string
          x-validation: true
        section_number:
          type: string
          nullable: true
        sis_id:
          type: string
        students:
          items:
            type: string
          type: array
          x-validation: true
        subject:
          enum:
            - english/language arts
            - math
            - science
            - social studies
            - language
            - homeroom/advisory
            - interventions/online learning
            - technology and engineering
            - PE and health
            - arts and music
            - other
            - ''
          type: string
          x-validation: true
          nullable: true
        teacher:
          type: string
          x-validation: true
          nullable: true
        teachers:
          items:
            type: string
          type: array
          x-validation: true
        term_id:
          type: string
          x-validation: true
          nullable: true
      type: object
    SectionResponse:
      properties:
        data:
          $ref: '#/components/schemas/Section'
      type: object
    SectionsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/SectionResponse'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
    Staff:
      properties:
        title:
          type: string
          nullable: true
        credentials:
          $ref: '#/components/schemas/Credentials'
        department:
          type: string
          nullable: true
        ext:
          type: object
        legacy_id:
          type: string
          x-validation: true
        roles:
          items:
            type: string
          type: array
          x-validation: true
        schools:
          items:
            type: string
          type: array
          x-validation: true
        staff_id:
          type: string
      type: object
    Student:
      properties:
        created:
          format: datetime
          type: string
          x-validation: true
        credentials:
          $ref: '#/components/schemas/Credentials'
        disability:
          $ref: '#/components/schemas/Disability'
        dob:
          pattern: (?:[0-9]{1,2})/([0-9]{1,2})/([0-9]{4})
          type: string
          x-validation: true
          nullable: true
        ell_status:
          enum:
            - 'Y'
            - 'N'
            - ''
          type: string
          x-validation: true
          nullable: true
        enrollments:
          items:
            $ref: '#/components/schemas/SchoolEnrollment'
          type: array
          x-validation: true
        ext:
          type: object
        frl_status:
          enum:
            - Free
            - Reduced
            - Paid
            - Other
            - ''
          type: string
          x-validation: true
          nullable: true
        gender:
          enum:
            - M
            - F
            - X
            - ''
          type: string
          x-validation: true
          nullable: true
        gifted_status:
          enum:
            - 'Y'
            - 'N'
            - ''
          type: string
          x-validation: true
          nullable: true
        grade:
          enum:
            - InfantToddler
            - Preschool
            - PreKindergarten
            - TransitionalKindergarten
            - Kindergarten
            - '1'
            - '2'
            - '3'
            - '4'
            - '5'
            - '6'
            - '7'
            - '8'
            - '9'
            - '10'
            - '11'
            - '12'
            - '13'
            - PostGraduate
            - Ungraded
            - Other
            - ''
          type: string
          x-validation: true
          nullable: true
        graduation_year:
          type: string
          x-validation: true
          nullable: true
        hispanic_ethnicity:
          enum:
            - 'Y'
            - 'N'
            - ''
          type: string
          x-validation: true
          nullable: true
        home_language:
          enum:
            - Basque
            - Portuguese
            - Hungarian
            - Hmong
            - Urdu
            - Latvian
            - Hausa
            - Slovenian
            - Chinese (Mandarin)
            - Russian
            - Arabic
            - Telugu
            - Afrikaans
            - Tamil
            - Irish
            - Uzbek
            - Norwegian
            - Serbian
            - Khmer
            - Farsi
            - Lao
            - Gujarati
            - Yiddish
            - Lithuanian
            - Mongolian
            - Samoan
            - Bengali
            - Corsican
            - Romanian
            - Javanese
            - Danish
            - Scots Gaelic
            - Burmese
            - Kinyarwanda
            - Swahili
            - Yoruba
            - Uyghur
            - Hindi
            - Azerbaijani
            - Cabo Verdean
            - Haitian Creole
            - Amharic
            - Maori
            - Somali
            - English
            - Hawaiian
            - Maltese
            - Thai
            - Slovak
            - Nepali
            - Bosnian
            - Marathi
            - Frisian
            - Swedish
            - Kazakh
            - German
            - Turkish
            - Chinese
            - Luxembourgish
            - Armenian
            - Dari
            - Macedonian
            - Karen
            - Iloko
            - Igbo
            - Kannada
            - Galician
            - Cebuano
            - Punjabi
            - Indonesian
            - Estonian
            - Odia
            - Spanish
            - Filipino
            - Albanian
            - Korean
            - Croatian
            - Japanese
            - Bulgarian
            - Catalan
            - Polish
            - Sinhala
            - Other
            - Icelandic
            - Tatar
            - Ukrainian
            - Tajik
            - Italian
            - French
            - Malayalam
            - Chichewa
            - Kurdish (Kurmanji)
            - Czech
            - Xhosa
            - Hebrew
            - Georgian
            - Oromo
            - Shona
            - Sindhi
            - Sesotho
            - Tagalog
            - Malagasy
            - Tigrinya
            - Welsh
            - Turkmen
            - Malay
            - Marshallese
            - Belarusian
            - Dutch
            - Finnish
            - Greek
            - Kyrgyz
            - Zulu
            - Sundanese
            - Vietnamese
            - Pashto
          type: string
          x-validation: true
          nullable: true
        home_language_code:
          enum:
            - hau
            - ilo
            - dan
            - som
            - xho
            - slv
            - bos
            - cos
            - ces
            - mlg
            - vie
            - bel
            - hin
            - hun
            - mon
            - pan
            - tgk
            - heb
            - prs
            - mlt
            - pus
            - tir
            - eng
            - mar
            - nld
            - est
            - zho
            - fas
            - fry
            - jpn
            - aze
            - rus
            - gla
            - yor
            - cmn
            - bul
            - fin
            - hmn
            - ita
            - pol
            - ara
            - ell
            - khm
            - mkd
            - cpp
            - ibo
            - urd
            - cym
            - hat
            - lao
            - ltz
            - snd
            - swa
            - mya
            - ori
            - kat
            - smo
            - spa
            - kor
            - nob
            - ron
            - tha
            - ind
            - fra
            - tel
            - hye
            - guj
            - isl
            - msa
            - slk
            - swe
            - tuk
            - eus
            - kaz
            - mal
            - kan
            - amh
            - orm
            - afr
            - fil
            - haw
            - lav
            - sin
            - yid
            - ben
            - kir
            - mri
            - tam
            - glg
            - ceb
            - tat
            - zul
            - lit
            - nep
            - por
            - sot
            - other
            - nya
            - sun
            - cat
            - tgl
            - ukr
            - uzb
            - gle
            - srp
            - deu
            - jav
            - kur
            - mah
            - sna
            - uig
            - kin
            - hrv
            - kar
            - tur
            - sqi
          type: string
          x-validation: true
          nullable: true
        iep_status:
          type: string
          nullable: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        legacy_id:
          type: string
          x-validation: true
        location:
          $ref: '#/components/schemas/Location'
        preferred_name:
          $ref: '#/components/schemas/PreferredName'
        race:
          enum:
            - Caucasian
            - Asian
            - Black or African American
            - American Indian
            - Hawaiian or Other Pacific Islander
            - Two or More Races
            - Unknown
            - ''
          type: string
          x-validation: true
          nullable: true
        school:
          type: string
          x-validation: true
        schools:
          items:
            type: string
          type: array
          x-validation: true
        section_504_status:
          enum:
            - 'Y'
            - 'N'
            - ''
          type: string
          x-validation: true
          nullable: true
        sis_id:
          type: string
        state_id:
          type: string
          nullable: true
        student_number:
          type: string
          nullable: true
      type: object
    StudentRelationship:
      properties:
        relationship:
          enum:
            - Parent
            - Grandparent
            - Self
            - Aunt/Uncle
            - Sibling
            - Other
            - ''
          type: string
          x-validation: true
          nullable: true
        student:
          type: string
          x-validation: true
        type:
          enum:
            - Parent/Guardian
            - Emergency
            - Primary
            - Secondary
            - Family
            - Other
            - ''
          type: string
          x-validation: true
          nullable: true
      type: object
    Teacher:
      properties:
        title:
          type: string
          nullable: true
        created:
          format: datetime
          type: string
          x-validation: true
        credentials:
          $ref: '#/components/schemas/Credentials'
        district:
          type: string
          x-validation: true
        ext:
          type: object
        last_modified:
          format: datetime
          type: string
          x-validation: true
        legacy_id:
          type: string
          x-validation: true
        name:
          $ref: '#/components/schemas/Name'
        school:
          type: string
          x-validation: true
        schools:
          items:
            type: string
          type: array
          x-validation: true
        sis_id:
          type: string
        state_id:
          type: string
          nullable: true
        teacher_number:
          type: string
          nullable: true
      type: object
    Term:
      properties:
        district:
          type: string
          x-validation: true
        end_date:
          format: datetime
          type: string
          x-validation: true
          nullable: true
        id:
          type: string
          x-validation: true
        name:
          type: string
          nullable: true
        start_date:
          format: datetime
          type: string
          x-validation: true
          nullable: true
      type: object
    TermResponse:
      properties:
        data:
          $ref: '#/components/schemas/Term'
      type: object
    TermsResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/TermResponse'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
    User:
      properties:
        created:
          format: datetime
          type: string
          x-validation: true
        district:
          type: string
          x-validation: true
        email:
          type: string
          nullable: true
        id:
          type: string
          x-validation: true
        last_modified:
          format: datetime
          type: string
          x-validation: true
        name:
          $ref: '#/components/schemas/Name'
        roles:
          $ref: '#/components/schemas/Roles'
      type: object
    UserResponse:
      properties:
        data:
          $ref: '#/components/schemas/User'
      type: object
    UsersResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/UserResponse'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          type: array
      type: object
security:
  - oauth: []
x-samples-languages:
  - curl
  - node
  - ruby
  - python
  - php
  - java
  - go
