openapi: 3.0.1
info:
  title: TalentLyft Customers API
  description: >-
    TalentLyft is an innovative recruitment software that streamlines the hiring
    process, from sourcing candidates to applicant tracking. It offers powerful
    tools for recruiters and HR professionals to attract, evaluate, and hire top
    talent efficiently. With features like job posting, candidate management,
    and customizable workflows, TalentLyft helps companies build their dream
    teams with ease.
  version: v2
servers:
  - url: https://api.talentlyft.com
tags:
  - name: Candidates
  - name: Jobs
  - name: Departments
  - name: Employees
  - name: Pipelines
  - name: Reasons
  - name: Subscriptions
  - name: Forms
  - name: Blogs
  - name: Events
  - name: Members
paths:
  /v2/articles:
    get:
      tags:
        - Blogs
      summary: Get articles
      operationId: Blogs_getArticles
      parameters:
        - description: ''
          name: contains
          in: query
          schema:
            type: string
        - description: ''
          name: tags
          in: query
          schema:
            type: array
            items:
              type: string
        - description: ''
          name: authors
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
        - description: ''
          name: status
          in: query
          schema:
            $ref: >-
              #/components/schemas/TalentLyft.Data.Enumerators.ConvertStatusTypes
        - description: ''
          name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - description: ''
          name: perPage
          in: query
          schema:
            type: integer
            format: int32
            default: 20
        - description: ''
          name: sort
          in: query
          schema:
            type: string
            default: published
        - description: ''
          name: order
          in: query
          schema:
            type: string
            default: desc
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.Paging.PagingResult`1[Adopto.Common.Api.Dto.ArticleReadonly]
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/articles/{id}:
    get:
      tags:
        - Blogs
      summary: Get article
      operationId: Blogs_getArticle
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.ArticleReadonly'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates:
    get:
      tags:
        - Candidates
      summary: Get candidates
      operationId: Candidates_listCandidates
      parameters:
        - name: jobs
          in: query
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: perPage
          in: query
          schema:
            type: integer
            format: int32
            default: 100
        - name: createAfterDate
          in: query
          schema:
            type: string
            format: date-time
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.Paging.PagingResult`1[Adopto.Common.Api.Dto.CandidateSimpleReadonly]
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    post:
      tags:
        - Candidates
      summary: Create Candidate
      operationId: Candidates_addNewCandidate
      parameters:
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.App.CandidateWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.App.CandidateWrite'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.App.CandidateWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.App.CandidateWrite'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.NewApplicationReadOnly
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '422':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}:
    get:
      tags:
        - Candidates
      summary: Get candidate
      operationId: Candidates_getById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidatesGetByIdResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    put:
      tags:
        - Candidates
      summary: Edit candidate
      operationId: Candidates_updateCandidateById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.CandidateSimpleWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.CandidateSimpleWrite'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.CandidateSimpleWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.CandidateSimpleWrite'
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/tags:
    put:
      tags:
        - Candidates
      summary: Updates candidate's tags
      operationId: Candidates_updateCandidateTags
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EditCandidateTags'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EditCandidateTags'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EditCandidateTags'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EditCandidateTags'
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidatesUpdateCandidateTagsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/skills:
    put:
      tags:
        - Candidates
      summary: Updates candidate's skills
      operationId: Candidates_updateSkills
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EditCandidateSkills'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EditCandidateSkills'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EditCandidateSkills'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EditCandidateSkills'
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidatesUpdateSkillsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/note:
    post:
      tags:
        - Candidates
      summary: Creates a note on the candidate's timeline
      operationId: Candidates_createCandidateNote
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.NoteWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.NoteWrite'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.NoteWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.NoteWrite'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.NoteReadWrite'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/log_activity:
    post:
      tags:
        - Candidates
      summary: Log activity on the candidate's timeline
      operationId: Candidates_logActivity
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.LogActivity'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.LogActivity'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.LogActivity'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.LogActivity'
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.LogActivity'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '422':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/evaluations:
    post:
      tags:
        - Candidates
      summary: Log evaluation
      operationId: Candidates_logEvaluation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EvaluationWriteApi'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EvaluationWriteApi'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EvaluationWriteApi'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.EvaluationWriteApi'
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.EvaluationWriteRead'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '422':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/activities:
    get:
      tags:
        - Candidates
      summary: Get candidate activities
      operationId: Candidates_getActivities
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: perPage
          in: query
          schema:
            type: integer
            format: int32
            default: 50
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.Paging.PagingResult`1[Adopto.Common.Api.Dto.ActivityReadOnly]
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/applications/{applicationId}:
    get:
      tags:
        - Candidates
      summary: Get candidate application by id
      operationId: Candidates_getApplicationById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.ApplicationReadonly'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/applications/{applicationId}/education:
    post:
      tags:
        - Candidates
      summary: Create education for a candidate application
      operationId: Candidates_createEducationForApplication
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.EducationWriteRead
          text/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.EducationWriteRead
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.EducationWriteRead
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.EducationWriteRead
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.ApplicantProfileItem
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/applications/{applicationId}/education/{educationId}:
    put:
      tags:
        - Candidates
      summary: Update education for a candidate application
      operationId: Candidates_updateEducationForApplication
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: educationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.EducationWriteRead
          text/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.EducationWriteRead
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.EducationWriteRead
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.EducationWriteRead
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    delete:
      tags:
        - Candidates
      summary: Delete education for a candidate application
      operationId: Candidates_deleteEducationForApplication
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: educationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/applications/{applicationId}/experience:
    post:
      tags:
        - Candidates
      summary: Create experience for a candidate application
      operationId: Candidates_createExperienceForApplication
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.ExperienceWriteRead
          text/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.ExperienceWriteRead
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.ExperienceWriteRead
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.ExperienceWriteRead
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.ApplicantProfileItem
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/applications/{applicationId}/experience/{experienceId}:
    put:
      tags:
        - Candidates
      summary: Update experience for a candidate application
      operationId: Candidates_updateCandidateExperience
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: experienceId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.ExperienceWriteRead
          text/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.ExperienceWriteRead
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.ExperienceWriteRead
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.App.ExperienceWriteRead
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    delete:
      tags:
        - Candidates
      summary: Delete experience for a candidate application
      operationId: Candidates_deleteExperienceForApplication
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: experienceId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/contacts:
    get:
      tags:
        - Candidates
      summary: Get candidate's contacts
      operationId: Candidates_getContacts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.CandidateContactsReadonly
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    post:
      tags:
        - Candidates
      summary: Create candidate's contact
      operationId: Candidates_createContact
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.ContactReadWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.ContactReadWrite'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.ContactReadWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.ContactReadWrite'
      responses:
        '201':
          description: Created
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/candidates/{id}/contacts/{contactId}:
    put:
      tags:
        - Candidates
      summary: Update candidate's contact
      operationId: Candidates_updateCandidateContact
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.ContactReadWrite'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.ContactReadWrite'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.ContactReadWrite'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.ContactReadWrite'
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    delete:
      tags:
        - Candidates
      summary: Delete candidate's contact
      operationId: Candidates_deleteCandidateContact
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/departments:
    get:
      tags:
        - Departments
      summary: Get departments
      operationId: Departments_getAll
      parameters:
        - description: External ids
          name: eids
          in: query
          schema:
            type: array
            items:
              type: string
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetAllResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    post:
      tags:
        - Departments
      summary: Create department
      operationId: Departments_createNew
      parameters:
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.DepartmentWriteRead
          text/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.DepartmentWriteRead
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.DepartmentWriteRead
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.DepartmentWriteRead
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.DepartmentReadOnly'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '422':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/departments/{id}:
    get:
      tags:
        - Departments
      summary: Get department
      operationId: Departments_getById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.DepartmentReadOnly'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    put:
      tags:
        - Departments
      summary: Update department
      operationId: Departments_updateById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.DepartmentWriteRead
          text/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.DepartmentWriteRead
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.DepartmentWriteRead
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.DepartmentWriteRead
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '422':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    delete:
      tags:
        - Departments
      summary: Delete department
      operationId: Departments_removeById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/departments/{id}/external:
    get:
      tags:
        - Departments
      summary: Get department by external ID
      operationId: Departments_getByExternalId
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.DepartmentReadOnly'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/employees:
    get:
      tags:
        - Employees
      summary: Get employees
      operationId: Employees_list
      parameters:
        - description: ''
          name: eids
          in: query
          schema:
            type: array
            items:
              type: string
        - description: ''
          name: departments
          in: query
          schema:
            type: array
            items:
              type: integer
              format: int32
        - description: ''
          name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - description: ''
          name: perPage
          in: query
          schema:
            type: integer
            format: int32
            default: 20
        - description: first_name, last_name, department_name
          name: sort
          in: query
          schema:
            type: string
            default: first_name
        - description: ''
          name: contains
          in: query
          schema:
            type: string
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.Paging.PagingResult`1[Adopto.Common.Api.Dto.Settings.EmployeeWriteRead]
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    post:
      tags:
        - Employees
      summary: Create employee
      operationId: Employees_createNewEmployee
      parameters:
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.EmployeeWriteRead
          text/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.EmployeeWriteRead
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.EmployeeWriteRead
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.EmployeeWriteRead
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.Settings.EmployeeWriteRead
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '422':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/employees/{id}:
    get:
      tags:
        - Employees
      summary: Get employee
      operationId: Employees_getById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.Settings.EmployeeWriteRead
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    put:
      tags:
        - Employees
      summary: Save employee
      operationId: Employees_updateEmployeeById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.EmployeeWriteRead
          text/json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.EmployeeWriteRead
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.EmployeeWriteRead
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/Adopto.Common.Api.Dto.Settings.EmployeeWriteRead
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '422':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    delete:
      tags:
        - Employees
      summary: Delete employee
      operationId: Employees_removeById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/employees/sync:
    post:
      tags:
        - Employees
      summary: Sync all employees
      operationId: Employees_syncAllEmployees
      parameters:
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeesSyncAllEmployeesRequest1'
          text/json:
            schema:
              $ref: '#/components/schemas/EmployeesSyncAllEmployeesRequest2'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EmployeesSyncAllEmployeesRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/EmployeesSyncAllEmployeesRequest3'
      responses:
        '201':
          description: Created
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/events:
    get:
      tags:
        - Events
      summary: Get meetings
      operationId: Events_getMeetings
      parameters:
        - name: members
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
        - name: candidates
          in: query
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: types
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TalentLyft.Data.Enumerators.MeetingTypes'
        - name: jobs
          in: query
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: rangeStart
          in: query
          schema:
            type: string
            format: date-time
        - name: rangeEnd
          in: query
          schema:
            type: string
            format: date-time
        - name: contains
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: perPage
          in: query
          schema:
            type: integer
            format: int32
            default: 20
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.Paging.PagingResult`1[Adopto.Common.Api.Dto.MeetingReadOnly]
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/events/{id}:
    get:
      tags:
        - Events
      summary: Get meeting
      operationId: Events_getMeeting
      parameters:
        - description: ''
          name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.MeetingReadOnly'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/forms:
    get:
      tags:
        - Forms
      summary: Get forms
      operationId: Forms_getAll
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: perPage
          in: query
          schema:
            type: integer
            format: int32
            default: 20
        - name: contains
          in: query
          schema:
            type: string
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.Paging.PagingResult`1[Adopto.Common.Api.Dto.Convert.ConvertForm]
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/forms/{id}:
    get:
      tags:
        - Forms
      summary: Get form deatils
      operationId: Forms_getDetails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.Convert.ConvertForm'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/forms/{id}/candidate:
    post:
      tags:
        - Forms
      summary: Submit candidate
      operationId: Forms_submitCandidate
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.App.CandidateWrite2'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.App.CandidateWrite2'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.App.CandidateWrite2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.App.CandidateWrite2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.NewApplicationReadOnly
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/jobs:
    get:
      tags:
        - Jobs
      summary: Get jobs
      operationId: Jobs_getAll
      parameters:
        - description: >-
            Returns jobs with the current status. Possible values (draft,
            published, closed, internal and archived).
          name: status
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TalentLyft.Data.Enumerators.JobStatusTypes'
        - description: ''
          name: locations
          in: query
          schema:
            type: array
            items:
              type: string
        - description: ''
          name: tags
          in: query
          schema:
            type: array
            items:
              type: string
        - description: Department ids
          name: departments
          in: query
          schema:
            type: array
            items:
              type: integer
              format: int32
        - description: Page, default 1
          name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - description: Per Page, default 20
          name: perPage
          in: query
          schema:
            type: integer
            format: int32
            default: 20
        - description: az, za, modified_date
          name: sort
          in: query
          schema:
            type: string
            default: az
        - description: Language
          name: languageCode
          in: query
          schema:
            type: string
        - description: Title contains value
          name: contains
          in: query
          schema:
            type: string
        - description: Job details (description)
          name: details
          in: query
          schema:
            type: boolean
            default: false
        - description: Include job stages
          name: includeStages
          in: query
          schema:
            type: boolean
            default: false
        - description: Include job requisition
          name: includeJobRequisition
          in: query
          schema:
            type: boolean
            default: false
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Common.Api.Dto.Paging.PagingResult`1[Adopto.Common.Api.Dto.JobSimpleReadOnly]
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    post:
      tags:
        - Jobs
      summary: Create job
      operationId: Jobs_jobCreate
      parameters:
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.JobReadOnly'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.JobReadOnly'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.JobReadOnly'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.JobReadOnly'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.JobReadOnly'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/jobs/locations:
    get:
      tags:
        - Jobs
      summary: Returns a collection of the locations of the public jobs
      operationId: Jobs_listLocations
      parameters:
        - name: subdomain
          in: query
          schema:
            type: string
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsListLocationsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
  /v2/jobs/{id}:
    get:
      tags:
        - Jobs
      summary: Get Job
      operationId: Jobs_findById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: languageCode
          in: query
          schema:
            type: string
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Adopto.Common.Api.Dto.JobReadOnly'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    put:
      tags:
        - Jobs
      summary: Update job
      operationId: Jobs_updateJobById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.JobReadOnly'
          text/json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.JobReadOnly'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.JobReadOnly'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Adopto.Common.Api.Dto.JobReadOnly'
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Adopto.Client.Web.Api.Utils.Errors.ErrorResultModel
    delete:
      tags:
        - Jobs
      summary: Delete job
      operationId: Jobs_deleteJob
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: Company Id
          name: X-TL-CompanyId
          in: header
          schema:
            type: guid
        - description: Account subdomain
          name: X-TL-Subdomain
          in: header
          schema:
            type: guid
        - description: Team member id
          name: X-TL-UserId
          in: header
          schema:
            type: guid
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
[...]
