openapi: 3.0.1
info:
  title: Adatree Insights API
  description: Adatree's catalogue of Insights based on CDR Data
  version: 1.0.0
  contact:
    name: Adatree Pty Ltd
    url: https://adatree.com.au
    email: engineering@adatree.com.au
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://cdr-insights-prod.api.adatree.com.au
tags:
  - name: Banking
  - name: Energy
paths:
  /insights/banking/account:
    get:
      tags:
        - Banking
      summary: Get Account Insights
      operationId: Banking_getInsights
      security:
        - bearerAuth:
            - insights:banking:account
      description: Obtain a list of Bank Account Insights
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountInsightList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
  /insights/energy/account:
    get:
      tags:
        - Energy
      summary: Get Account Insights
      operationId: Energy_getInsights
      security:
        - bearerAuth:
            - insights:energy:account
      description: Obtain a list of Energy Account Insights
      parameters:
        - $ref: '#/components/parameters/QueryUseCaseIds'
        - $ref: '#/components/parameters/QueryCdrArrangementIds'
        - $ref: '#/components/parameters/QueryConsentIds'
        - $ref: '#/components/parameters/QueryConsumerIds'
        - $ref: '#/components/parameters/QueryDataHolderBrandIds'
        - $ref: '#/components/parameters/QueryPage'
        - $ref: '#/components/parameters/QueryPageSize'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyAccountInsightList'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorised'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '429':
          $ref: '#/components/responses/429RateLimited'
components:
  parameters:
    QueryPage:
      description: Page of results to request (standard pagination)
      name: page
      in: query
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
        example: 1
    QueryPageSize:
      description: Page size to request
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        example: 25
    QueryUseCaseIds:
      description: Used to filter results on the useCaseId field.
      name: useCaseIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific UseCaseIds to obtain data for
          type: string
          example: HOME_LOAN
    QueryCdrArrangementIds:
      description: Used to filter results on the cdrArrangementId field.
      name: cdrArrangementIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific cdrArrangementIds to obtain data for
          type: string
          example: 30370f1b-cd27-4d56-b56d-beb49fc9aa48
    QueryConsentIds:
      description: Used to filter results on the consentId field.
      name: consentIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific consentIds to obtain data for
          type: string
          example: 30370f1b-cd27-4d56-b56d-beb49fc9aa48
    QueryConsumerIds:
      description: Used to filter results on the consumerId field.
      name: consumerIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific consumerIds to obtain data for
          type: string
          example: 30370f1b-cd27-4d56-b56d-beb49fc9aa48
    QueryDataHolderBrandIds:
      description: Used to filter results on the dataHolderBrandId field.
      name: dataHolderBrandIds
      in: query
      schema:
        type: array
        items:
          description: Array of specific dataHolderBrandIds to obtain data for
          type: string
          example: 30370f1b-cd27-4d56-b56d-beb49fc9aa48
  responses:
    401Unauthorised:
      description: Unauthorised
    403Forbidden:
      description: Forbidden
    404NotFound:
      description: The specified resource was not found.
    400BadRequest:
      description: Request is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorList'
    429RateLimited:
      description: Ratelimit reached
    GenericError:
      description: An error occurred.
      content:
        application/json:
          schema:
            type: string
            example: something went wrong
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    BankAccountInsightList:
      type: object
      required:
        - data
        - errors
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/BankAccountInsightsList_data'
        links:
          $ref: '#/components/schemas/LinksPaginated'
        meta:
          $ref: '#/components/schemas/MetaPaginated'
    BankAccountInsightsList_data:
      required:
        - insights
      properties:
        insights:
          description: >-
            The list of insights returned. If the filter results in an empty set
            then this array may have no records
          type: array
          items:
            $ref: '#/components/schemas/BankAccountInsight'
    BankAccountInsight:
      type: object
      required:
        - displayName
        - bsb
        - accountNumber
        - balance
      properties:
        bsb:
          description: >-
            The unmasked BSB for the account. Is expected to be formatted as
            digits only with leading zeros included and no punctuation or spaces
          type: string
          example: 62000
        accountNumber:
          description: >-
            The unmasked account number for the account. Should not be supplied
            if the account number is a PAN requiring PCI compliance. Is expected
            to be formatted as digits only with leading zeros included and no
            punctuation or spaces
          example: 12345678
          type: string
        balance:
          description: >-
            Balance representing the amount of funds available for transfer.
            Assumed to be zero or positive
          type: string
          example: '10000.00'
        addresses:
          description: The addresses for the account to be used for correspondence
          type: array
          items:
            $ref: '#/components/schemas/CommonPhysicalAddress'
        adatree:
          $ref: '#/components/schemas/Adatree'
    EnergyAccountInsightList:
      type: object
      required:
        - data
        - errors
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/EnergyAccountInsightList_data'
        links:
          $ref: '#/components/schemas/LinksPaginated'
        meta:
          $ref: '#/components/schemas/MetaPaginated'
    EnergyAccountInsightList_data:
      required:
        - insights
      properties:
        insights:
          description: >-
            The list of insights returned. If the filter results in an empty set
            then this array may have no records
          type: array
          items:
            $ref: '#/components/schemas/EnergyAccountInsight'
    EnergyAccountInsight:
      type: object
      required:
        - accountNumber
        - displayName
        - balance
      properties:
        displayName:
          description: >-
            The display name of the account as defined by the bank. This should
            not incorporate account numbers or PANs. If it does the values
            should be masked according to the rules of the MaskedAccountString
            common type.
          type: string
          example: savings
        accountNumber:
          description: >-
            The unmasked account number for the account. Should not be supplied
            if the account number is a PAN requiring PCI compliance. Is expected
            to be formatted as digits only with leading zeros included and no
            punctuation or spaces
          example: 12345678
          type: string
        balance:
          description: >-
            Balance representing the amount of funds available for transfer.
            Assumed to be zero or positive
          type: string
          example: '10000.00'
        addresses:
          description: The addresses for the account to be used for correspondence
          type: array
          items:
            $ref: '#/components/schemas/CommonPhysicalAddress'
        adatree:
          $ref: '#/components/schemas/Adatree'
    CommonPhysicalAddress:
      type: object
      required:
        - addressUType
      properties:
        addressUType:
          description: The type of address object present
          type: string
          example: simple
          enum:
            - simple
            - paf
        simple:
          $ref: '#/components/schemas/CommonSimpleAddress'
        paf:
          $ref: '#/components/schemas/CommonPAFAddress'
    CommonPAFAddress:
      description: >-
        Australian address formatted according to the file format defined by the
        [PAF file
        format](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf)
      type: object
      required:
        - localityName
        - postcode
        - state
      properties:
        dpid:
          description: >-
            Unique identifier for an address as defined by Australia Post.  Also
            known as Delivery Point Identifier
          type: string
          example: 17160
        thoroughfareNumber1:
          description: >-
            Thoroughfare number for a property (first number in a property
            ranged address)
          type: integer
          example: 16
        thoroughfareNumber1Suffix:
          description: >-
            Suffix for the thoroughfare number. Only relevant is
            thoroughfareNumber1 is populated
          type: string
          example: ''
        thoroughfareNumber2:
          description: >-
            Second thoroughfare number (only used if the property has a ranged
            address eg 23-25)
          type: integer
          example: 19
        thoroughfareNumber2Suffix:
          description: >-
            Suffix for the second thoroughfare number. Only relevant is
            thoroughfareNumber2 is populated
          type: string
          example: ''
        flatUnitType:
          description: Type of flat or unit for the address
          type: string
          example: unit
        flatUnitNumber:
          description: Unit number (including suffix, if applicable)
          type: string
          example: 10
        floorLevelType:
          description: Type of floor or level for the address
          type: string
          example: level
        floorLevelNumber:
          description: Floor or level number (including alpha characters)
          type: string
          example: 3
        lotNumber:
          description: Allotment number for the address
          type: string
          example: 10
        buildingName1:
          description: Building/Property name 1
          type: string
          example: summer
        buildingName2:
          description: Building/Property name 2
          type: string
          example: ''
        streetName:
          description: The name of the street
          type: string
          example: Long
        streetType:
          description: >-
            The street type. Valid enumeration defined by Australia Post PAF
            code file
          type: string
          example: ST
        streetSuffix:
          description: >-
            The street type suffix. Valid enumeration defined by Australia Post
            PAF code file
          type: string
        postalDeliveryType:
          description: >-
            Postal delivery type. (eg. PO BOX). Valid enumeration defined by
            Australia Post PAF code file
          type: string
          example: PO BOX
        postalDeliveryNumber:
          description: Postal delivery number if the address is a postal delivery type
          type: integer
          example: 15
        postalDeliveryNumberPrefix:
          description: Postal delivery number prefix related to the postal delivery number
          type: string
          example: ''
        postalDeliveryNumberSuffix:
          description: Postal delivery number suffix related to the postal delivery number
          type: string
          example: ''
        localityName:
          description: Full name of locality
          type: string
          example: Sydney
        postcode:
          description: Postcode for the locality
          type: string
          example: 2000
        state:
          description: >-
            State in which the address belongs. Valid enumeration defined by
            Australia Post PAF code file [State Type
            Abbreviation](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf).
            NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT
          type: string
          example: NSW
    CommonSimpleAddress:
      type: object
      required:
        - addressLine1
        - city
        - state
      properties:
        mailingName:
          description: >-
            Name of the individual or business formatted for inclusion in an
            address used for physical mail
          type: string
          example: John Doe
        addressLine1:
          description: First line of the standard address object
          type: string
          example: 1 Pitt ST
        addressLine2:
          description: Second line of the standard address object
          type: string
          example: ''
        addressLine3:
          description: Third line of the standard address object
          type: string
          example: ''
        postcode:
          description: Mandatory for Australian addresses
          type: string
          example: 2000
        city:
          description: Name of the city or locality
          type: string
          example: SYDNEY
        state:
          description: >-
            Free text if the country is not Australia. If country is Australia
            then must be one of the values defined by the [State Type
            Abbreviation](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf)
            in the PAF file format. NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT
          type: string
          example: NSW
        country:
          description: >-
            A valid [ISO 3166
            Alpha-3](https://www.iso.org/iso-3166-country-codes.html) country
            code. Australia (AUS) is assumed if country is not present.
          type: string
          example: AUS
          default: AUS
      x-conditional:
        - postcode
    LinksPaginated:
      type: object
      required:
        - self
      properties:
        self:
          description: >-
            Fully qualified link that generated the current response document.
            https://self.example.com.au will be converted to
            https://self.example.com.au?page=1&page-size=25
          type: string
          example: https://self.example.com.au?page=3&page-size=25
        first:
          description: >-
            URI to the first page of this set. Mandatory if this response is not
            the first page
          type: string
          example: https://self.example.com.au?page=1&page-size=25
        prev:
          description: >-
            URI to the previous page of this set. Mandatory if this response is
            not the first page
          type: string
          example: https://self.example.com.au?page=2&page-size=25
        next:
          description: >-
            URI to the next page of this set. Mandatory if this response is not
            the last page
          type: string
          example: https://self.example.com.au?page=4&page-size=25
        last:
          description: >-
            URI to the last page of this set. Mandatory if this response is not
            the last page
          type: string
          example: https://self.example.com.au?page=15&page-size=25
      x-conditional:
        - prev
        - next
        - first
        - last
    MetaPaginated:
      type: object
      required:
        - totalPages
        - totalRecords
      properties:
        totalRecords:
          description: >-
            The total number of records in the full set. See
            [pagination](https://raw.githubusercontent.com).
          type: integer
          example: 581
        totalPages:
          description: >-
            The total number of pages in the full set. See
            [pagination](https://raw.githubusercontent.com).
          type: integer
          example: 24
    ErrorList:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorList_errors'
    ErrorList_errors:
      properties:
        title:
          description: >-
            A short, human-readable summary of the problem that MUST NOT change
            from occurrence to occurrence of the problem represented by the
            error code.
          type: string
        code:
          description: >-
            The code of the error encountered. Where the error is specific to
            the respondent, an application-specific error code, expressed as a
            string value. If the error is application-specific, the URN code
            that the specific error extends must be provided in the meta object.
            Otherwise, the value is the error code URN.
          type: string
        detail:
          description: >-
            A human-readable explanation specific to this occurrence of the
            problem.
          type: string
        meta:
          $ref: '#/components/schemas/ErrorList_meta'
      required:
        - code
        - detail
        - title
      type: object
    ErrorList_meta:
      description: Additional data for customised error codes
      properties:
        urn:
          description: >-
            The CDR error code URN which the application-specific error code
            extends. Mandatory if the error `code` is an application-specific
            error rather than a standardised error code.
          type: string
      type: object
      x-conditional:
        - urn
    Adatree:
      description: Extra data and metadata provided by Adatree
      required:
        - consentId
        - consumerId
        - cdrArrangementId
        - dataHolderBrandId
        - useCaseId
      properties:
        consentId:
          description: Consent Id for related resource
          type: string
          example: 55b3299a-3e50-48a2-a190-cca263ccaba5
        consumerId:
          description: Consumer Id for related resource
          type: string
          example: 55b3299a-3e50-48a2-a190-cca263ccaba5
        cdrArrangementId:
          description: CDR Arrangement for related resource
          type: string
          example: f111111-d7c8-4679-a165-aa406cd62b13
        dataHolderBrandId:
          description: Data Holder Brand Id for related resource
          type: string
          example: 55b3299a-3e50-48a2-a190-cca263ccaba5
        useCaseId:
          description: Use Case Id for related resource
          type: string
          example: HOME_LOAN
