openapi: 3.0.0
info:
  title: AlexisHR API
  description: "<h1 id=\"introduction\">Introduction</h1>\r\n<p>\r\n  AlexisHR API is currently in preview. This means that small, backward\r\n  incompatible changes might be introduced while in preview. The changes will be\r\n  documented and communicated.\r\n  <a\r\n    href=\"https://cdn.forms-content.sg-form.com/56c6a65c-90a2-11eb-a700-a6de1aea3a1a\"\r\n    target=\"_blank\"\r\n    ><button>Subscribe to updates</button></a\r\n  >\r\n</p>\r\n\r\n<h1 id=\"authentication\">Authentication</h1>\r\n<pre class=\"click-to-expand-wrapper is-snippet-wrapper language-undefined\">\r\n<code class=\"is-highlighted language-bash\">curl https://api.alexishr.com/v1/employee \\\r\n  -H \"Authorization: Bearer &lt;your_access_token&gt;\"</code>\r\n</pre>\r\n<p>\r\n  Authenticate your account when using the API by including your secret Access\r\n  Token in the request.\r\n  <a href=\"https://app.alexishr.com/access-tokens\">Manage your Access Tokens</a\r\n  >.\r\n</p>\r\n<p>\r\n  Authentication is performed by passing the Access Token in the Authorization\r\n  header.\r\n</p>\r\n<hr />\r\n\r\n<h1 id=\"structure\">Structure</h1>\r\n<p>\r\n  You will find the structure of the API to be highly uniform and consistent.\r\n  Typically every resource can be accessed via a top level endpoint, such as\r\n  <code>/v1/employee</code>. For every such resource, you can perform some of\r\n  the following operations:\r\n</p>\r\n<h2>Operations</h2>\r\n<table>\r\n  <tr>\r\n    <td>GET /v1/:resource</td>\r\n    <td>List all objects of this type</td>\r\n  </tr>\r\n  <tr>\r\n    <td>GET /v1/:resource/:id</td>\r\n    <td>Retrieve a resource by id</td>\r\n  </tr>\r\n  <tr>\r\n    <td>POST /v1/:resource</td>\r\n    <td>Create a resource of this type</td>\r\n  </tr>\r\n  <tr>\r\n    <td>PATCH /v1/:resource/:id</td>\r\n    <td>Update the resource by id</td>\r\n  </tr>\r\n  <tr>\r\n    <td>DELETE /v1/:resource/:id</td>\r\n    <td>Delete the resource by id</td>\r\n  </tr>\r\n</table>\r\n<hr />\r\n\r\n<h1 id=\"roles\">Roles</h1>\r\n<p>The Access Tokens will have owner permission on the account</p>\r\n<hr />\r\n\r\n<h1 id=\"filters\">Filters</h1>\r\n<p>\r\n  Some of the list endpoints allow to filter results by certain conditions.\r\n  Refer to specific resources to find out what criteria are allowed. Below is a\r\n  list of the different conditions.\r\n</p>\r\n\r\n<h4 id=\"eq\"><code>$eq</code></h4>\r\n<p>Find all results matching the attribute value specified.</p>\r\n<div>\r\n  <pre><code class=\"language-shell\" data-lang=\"shell\">GET /v1/example?filters[fieldName][$eq]=value</code></pre>\r\n</div>\r\n<p>Can also be simplified like this.</p>\r\n<div>\r\n  <pre><code class=\"language-shell\" data-lang=\"shell\">GET /v1/example?filters[fieldName]=value</code></pre>\r\n</div>\r\n\r\n<h4 id=\"neq\"><code>$neq</code></h4>\r\n<p>Find all results not matching the attribute value specified.</p>\r\n<div>\r\n  <pre><code class=\"language-shell\" data-lang=\"shell\">GET /v1/example?filters[fieldName][$neq]=value</code></pre>\r\n</div>\r\n\r\n<h4 id=\"gt\"><code>$gt</code>, <code>$gte</code></h4>\r\n<p>\r\n  Find all results where the value is more (<code>$gt</code>) or more and equal\r\n  (<code>$gte</code>) to a given value.\r\n</p>\r\n<div>\r\n  <pre><code class=\"language-shell\" data-lang=\"shell\">GET /v1/example?filters[startDate][$gte]=2020-01-01</code></pre>\r\n</div>\r\n<hr />\r\n\r\n<h4 id=\"lt\"><code>$lt</code>, <code>$lte</code></h4>\r\n<p>\r\n  Find all results where the value is less (<code>$lt</code>) or less and equal\r\n  (<code>$lte</code>) to a given value.\r\n</p>\r\n<div>\r\n  <pre><code class=\"language-shell\" data-lang=\"shell\">GET /v1/example?filters[startDate][$lte]=2020-01-01</code></pre>\r\n</div>\r\n<hr />\r\n\r\n<h4 id=\"in\"><code>$in</code>, <code>$nin</code></h4>\r\n<p>\r\n  Find all results matching (<code>$in</code>) or not matching\r\n  (<code>$nin</code>) any of the attribute values specified.\r\n</p>\r\n<div>\r\n  <pre><code class=\"language-shell\" data-lang=\"shell\">GET /v1/example?filters[fieldName][$in][]=value1&filters[fieldName][$in][]=value2</code></pre>\r\n</div>\r\n<hr />\r\n\r\n<h4 id=\"between\"><code>$between</code></h4>\r\n<p>Find all results between two values specified.</p>\r\n<div>\r\n  <pre><code class=\"language-shell\" data-lang=\"shell\">GET /v1/example?filters[startDate][$between][]=2020-01-01&filters[startDate][$between][]=2020-12-31</code></pre>\r\n</div>\r\n<hr />\r\n\r\n<h1 id=\"versioning\">Versioning</h1>\r\n<p>\r\n  Each version of the API is guaranteed to be compatible with the resources of\r\n  the same version. When we make breaking changes to the API a new version will\r\n  be published\r\n</p>\r\n<hr />\r\n\r\n<h1 id=\"changelog\">Changelog</h1>\r\n<h3>2023-12-20</h3>\r\n<p>Field [updated] added for filter & select for Get Many Employments and Get Many Employees.</p>\r\n<h3>2021-03-15</h3>\r\n<p>First draft was published</p>\r\n<hr />\r\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  version: v1-preview
  contact:
    name: AlexisHR Support
    url: ''
    email: support@alexishr.com
  termsOfService: https://alexishr.com/terms-of-service
  license:
    name: EUL
    url: https://alexishr.com/public-api-license
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - description: production
    url: https://api.alexishr.com/v1
  - description: sandbox
    url: https://api.sandbox.alexishr.com/v1
tags:
  - name: employee
  - name: department
  - name: office
  - name: team
  - name: employee-team-reference
  - name: compensation
  - name: employment
  - name: employment-type
  - name: cost-center
  - name: leave
  - name: leave-type
  - name: child
  - name: timesheet-entry
  - name: work-week
  - name: company
  - name: leave-transaction
  - name: timesheet
  - name: timesheet-entry-type
paths:
  /company:
    get:
      tags:
        - company
      summary: Get Many Companies
      operationId: Company_listManyCompanies
      security:
        - bearer: []
      description: Get Many Companies
      parameters:
        - description: >-
            Select Company fields, comma-separated. (e.g.
            `select=id,firstName,lastName,workEmail`)
          name: select
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
          style: form
          explode: false
        - description: >-
            Filters conditions per field. (e.g.
            `filters[id][$eq]=507f1f77bcf86cd799439011`)
          name: filters
          required: false
          in: query
          schema:
            type: object
            properties:
              id:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
          style: deepObject
          explode: true
          allowReserved: true
        - description: Limit amount of received Companies. (e.g. `limit=20`)
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: Offset amount of received Companies. (e.g. `offset=20`)
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - description: Sort received Companies by field. (e.g. `sort[id]=asc`)
          name: sort
          required: false
          in: query
          schema:
            type: object
            properties:
              id:
                type: string
                enum:
                  - asc
                  - desc
          style: deepObject
          explode: true
          allowReserved: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesGetManyResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /company/{id}:
    get:
      tags:
        - company
      summary: Get One Company
      operationId: Company_getOne
      security:
        - bearer: []
      description: Get One Company
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
        - description: >-
            Select Company fields, comma-separated. (e.g.
            `select=id,firstName,lastName,workEmail`)
          name: select
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
          style: form
          explode: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetOneResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /employee:
    get:
      tags:
        - employee
      summary: Get Many Employees
      operationId: Employee_listManyEmployees
      security:
        - bearer: []
      description: Get Many Employees
      parameters:
        - description: >-
            Select Employee fields, comma-separated. (e.g.
            `select=id,firstName,lastName,workEmail`)
          name: select
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - title
                - active
                - companyId
                - officeId
                - managerEmployeeId
                - departmentId
                - costCenterId
                - employmentId
                - employmentTypeId
                - employmentCountry
                - compensationId
                - userId
                - userName
                - division
                - organization
                - employeeNumber
                - workEmail
                - workPhone
                - workPhoneSanitized
                - hireDate
                - endDate
                - hasOccupationalPension
                - privateEmail
                - firstName
                - lastName
                - ssn
                - privatePhone
                - privatePhoneSanitized
                - birthDate
                - age
                - nationality
                - gender
                - pronoun
                - created
                - updated
          style: form
          explode: false
        - description: >-
            Select related Employee resources, comma-separated. (e.g.
            `relations=office,department`)
          name: relations
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - office
                - costCenter
                - effectiveCostCenter
                - child
                - department
                - emergencyContact
                - employment
                - employmentType
                - compensation
                - managerEmployee
                - teamReference
          style: form
          explode: false
        - description: >-
            Filters conditions per field. (e.g.
            `filters[id][$eq]=507f1f77bcf86cd799439011`)
          name: filters
          required: false
          in: query
          schema:
            type: object
            properties:
              title:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              id:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              active:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              companyId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              officeId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              managerEmployeeId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              departmentId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              costCenterId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              employmentId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              employmentTypeId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              employmentCountry:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              compensationId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              userId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              userName:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              division:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              organization:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              employeeNumber:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              workEmail:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              workPhone:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              workPhoneSanitized:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              hireDate:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              endDate:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              hasOccupationalPension:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              privateEmail:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              firstName:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              lastName:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              ssn:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              privatePhone:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              privatePhoneSanitized:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              birthDate:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              age:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              nationality:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              gender:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              pronoun:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              created:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              updated:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
          style: deepObject
          explode: true
          allowReserved: true
        - description: Limit amount of received Employees. (e.g. `limit=20`)
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: Offset amount of received Employees. (e.g. `offset=20`)
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - description: Sort received Employees by field. (e.g. `sort[id]=asc`)
          name: sort
          required: false
          in: query
          schema:
            type: object
            properties:
              title:
                type: string
                enum:
                  - asc
                  - desc
              id:
                type: string
                enum:
                  - asc
                  - desc
              active:
                type: string
                enum:
                  - asc
                  - desc
              companyId:
                type: string
                enum:
                  - asc
                  - desc
              officeId:
                type: string
                enum:
                  - asc
                  - desc
              managerEmployeeId:
                type: string
                enum:
                  - asc
                  - desc
              departmentId:
                type: string
                enum:
                  - asc
                  - desc
              costCenterId:
                type: string
                enum:
                  - asc
                  - desc
              employmentId:
                type: string
                enum:
                  - asc
                  - desc
              employmentTypeId:
                type: string
                enum:
                  - asc
                  - desc
              employmentCountry:
                type: string
                enum:
                  - asc
                  - desc
              compensationId:
                type: string
                enum:
                  - asc
                  - desc
              userId:
                type: string
                enum:
                  - asc
                  - desc
              userName:
                type: string
                enum:
                  - asc
                  - desc
              division:
                type: string
                enum:
                  - asc
                  - desc
              organization:
                type: string
                enum:
                  - asc
                  - desc
              employeeNumber:
                type: string
                enum:
                  - asc
                  - desc
              workEmail:
                type: string
                enum:
                  - asc
                  - desc
              workPhone:
                type: string
                enum:
                  - asc
                  - desc
              workPhoneSanitized:
                type: string
                enum:
                  - asc
                  - desc
              hireDate:
                type: string
                enum:
                  - asc
                  - desc
              endDate:
                type: string
                enum:
                  - asc
                  - desc
              hasOccupationalPension:
                type: string
                enum:
                  - asc
                  - desc
              privateEmail:
                type: string
                enum:
                  - asc
                  - desc
              firstName:
                type: string
                enum:
                  - asc
                  - desc
              lastName:
                type: string
                enum:
                  - asc
                  - desc
              ssn:
                type: string
                enum:
                  - asc
                  - desc
              privatePhone:
                type: string
                enum:
                  - asc
                  - desc
              privatePhoneSanitized:
                type: string
                enum:
                  - asc
                  - desc
              birthDate:
                type: string
                enum:
                  - asc
                  - desc
              age:
                type: string
                enum:
                  - asc
                  - desc
              nationality:
                type: string
                enum:
                  - asc
                  - desc
              gender:
                type: string
                enum:
                  - asc
                  - desc
              pronoun:
                type: string
                enum:
                  - asc
                  - desc
              created:
                type: string
                enum:
                  - asc
                  - desc
              updated:
                type: string
                enum:
                  - asc
                  - desc
          style: deepObject
          explode: true
          allowReserved: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeesGetManyResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    post:
      tags:
        - employee
      summary: Create One Employee
      operationId: Employee_createOneEmployee
      security:
        - bearer: []
      description: Create One Employee
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmployeeRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /employee/{id}:
    get:
      tags:
        - employee
      summary: Get One Employee
      operationId: Employee_getOne
      security:
        - bearer: []
      description: Get One Employee
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
        - description: >-
            Select Employee fields, comma-separated. (e.g.
            `select=id,firstName,lastName,workEmail`)
          name: select
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - title
                - active
                - companyId
                - officeId
                - managerEmployeeId
                - departmentId
                - costCenterId
                - employmentId
                - employmentTypeId
                - employmentCountry
                - compensationId
                - userId
                - userName
                - division
                - organization
                - employeeNumber
                - workEmail
                - workPhone
                - workPhoneSanitized
                - hireDate
                - endDate
                - hasOccupationalPension
                - privateEmail
                - firstName
                - lastName
                - ssn
                - privatePhone
                - privatePhoneSanitized
                - birthDate
                - age
                - nationality
                - gender
                - pronoun
                - created
                - updated
          style: form
          explode: false
        - description: >-
            Select related Employee resources, comma-separated. (e.g.
            `relations=office,department`)
          name: relations
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - office
                - costCenter
                - effectiveCostCenter
                - child
                - department
                - emergencyContact
                - employment
                - employmentType
                - compensation
                - managerEmployee
                - teamReference
          style: form
          explode: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetOneResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    patch:
      tags:
        - employee
      summary: Update One Employee
      operationId: Employee_updateOne
      security:
        - bearer: []
      description: Update One Employee
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - employee
      summary: Replace One Employee
      operationId: Employee_replaceOneEmployee
      security:
        - bearer: []
      description: Replace One Employee
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    delete:
      tags:
        - employee
      summary: Delete One Employee
      operationId: Employee_removeEmployee
      security:
        - bearer: []
      description: Delete One Employee
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /department:
    get:
      tags:
        - department
      summary: Get Many Departments
      operationId: Department_listManyDepartments
      security:
        - bearer: []
      description: Get Many Departments
      parameters:
        - description: >-
            Select Department fields, comma-separated. (e.g.
            `select=id,firstName,lastName,workEmail`)
          name: select
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - companyId
                - name
                - costCenterId
                - effectiveCostCenterId
                - parentId
          style: form
          explode: false
        - description: >-
            Select related Department resources, comma-separated. (e.g.
            `relations=office,department`)
          name: relations
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - costCenter
                - effectiveCostCenter
          style: form
          explode: false
        - description: >-
            Filters conditions per field. (e.g.
            `filters[id][$eq]=507f1f77bcf86cd799439011`)
          name: filters
          required: false
          in: query
          schema:
            type: object
            properties:
              id:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              companyId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              name:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              costCenterId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              effectiveCostCenterId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              parentId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
          style: deepObject
          explode: true
          allowReserved: true
        - description: Limit amount of received Departments. (e.g. `limit=20`)
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: Offset amount of received Departments. (e.g. `offset=20`)
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - description: Sort received Departments by field. (e.g. `sort[id]=asc`)
          name: sort
          required: false
          in: query
          schema:
            type: object
            properties:
              id:
                type: string
                enum:
                  - asc
                  - desc
              companyId:
                type: string
                enum:
                  - asc
                  - desc
              name:
                type: string
                enum:
                  - asc
                  - desc
              costCenterId:
                type: string
                enum:
                  - asc
                  - desc
              effectiveCostCenterId:
                type: string
                enum:
                  - asc
                  - desc
              parentId:
                type: string
                enum:
                  - asc
                  - desc
          style: deepObject
          explode: true
          allowReserved: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetManyResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    post:
      tags:
        - department
      summary: Create One Department
      operationId: Department_createOne
      security:
        - bearer: []
      description: Create One Department
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDepartmentRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /department/{id}:
    get:
      tags:
        - department
      summary: Get One Department
      operationId: Department_getOne
      security:
        - bearer: []
      description: Get One Department
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
        - description: >-
            Select Department fields, comma-separated. (e.g.
            `select=id,firstName,lastName,workEmail`)
          name: select
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - companyId
                - name
                - costCenterId
                - effectiveCostCenterId
                - parentId
          style: form
          explode: false
        - description: >-
            Select related Department resources, comma-separated. (e.g.
            `relations=office,department`)
          name: relations
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - costCenter
                - effectiveCostCenter
          style: form
          explode: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentGetOneResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    patch:
      tags:
        - department
      summary: Update One Department
      operationId: Department_updateOneDepartment
      security:
        - bearer: []
      description: Update One Department
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDepartmentRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - department
      summary: Replace One Department
      operationId: Department_replaceOne
      security:
        - bearer: []
      description: Replace One Department
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDepartmentRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    delete:
      tags:
        - department
      summary: Delete One Department
      operationId: Department_deleteOneDepartment
      security:
        - bearer: []
      description: Delete One Department
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /office:
    get:
      tags:
        - office
      summary: Get Many Offices
      operationId: Office_listManyOffices
      security:
        - bearer: []
      description: Get Many Offices
      parameters:
        - description: >-
            Select Office fields, comma-separated. (e.g.
            `select=id,firstName,lastName,workEmail`)
          name: select
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - companyId
                - name
                - phone
                - email
                - timezone
                - CFAR
                - SCB
                - SNI
          style: form
          explode: false
        - description: >-
            Filters conditions per field. (e.g.
            `filters[id][$eq]=507f1f77bcf86cd799439011`)
          name: filters
          required: false
          in: query
          schema:
            type: object
            properties:
              id:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              companyId:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              name:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              phone:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              email:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              timezone:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              CFAR:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              SCB:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              SNI:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
          style: deepObject
          explode: true
          allowReserved: true
        - description: Limit amount of received Offices. (e.g. `limit=20`)
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: Offset amount of received Offices. (e.g. `offset=20`)
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - description: Sort received Offices by field. (e.g. `sort[id]=asc`)
          name: sort
          required: false
          in: query
          schema:
            type: object
            properties:
              id:
                type: string
                enum:
                  - asc
                  - desc
              companyId:
                type: string
                enum:
                  - asc
                  - desc
              name:
                type: string
                enum:
                  - asc
                  - desc
              phone:
                type: string
                enum:
                  - asc
                  - desc
              email:
                type: string
                enum:
                  - asc
                  - desc
              timezone:
                type: string
                enum:
                  - asc
                  - desc
              CFAR:
                type: string
                enum:
                  - asc
                  - desc
              SCB:
                type: string
                enum:
                  - asc
                  - desc
              SNI:
                type: string
                enum:
                  - asc
                  - desc
          style: deepObject
          explode: true
          allowReserved: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficesGetManyResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    post:
      tags:
        - office
      summary: Create One Office
      operationId: Office_createOneOffice
      security:
        - bearer: []
      description: Create One Office
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOfficeRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /office/{id}:
    get:
      tags:
        - office
      summary: Get One Office
      operationId: Office_getOneOffice
      security:
        - bearer: []
      description: Get One Office
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
        - description: >-
            Select Office fields, comma-separated. (e.g.
            `select=id,firstName,lastName,workEmail`)
          name: select
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - companyId
                - name
                - phone
                - email
                - timezone
                - CFAR
                - SCB
                - SNI
          style: form
          explode: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeGetOneResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    patch:
      tags:
        - office
      summary: Update One Office
      operationId: Office_updateOne
      security:
        - bearer: []
      description: Update One Office
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOfficeRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - office
      summary: Replace One Office
      operationId: Office_replaceOne
      security:
        - bearer: []
      description: Replace One Office
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOfficeRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficeResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    delete:
      tags:
        - office
      summary: Delete One Office
      operationId: Office_deleteOne
      security:
        - bearer: []
      description: Delete One Office
      parameters:
        - description: Resource Id
          name: id
          required: true
          in: path
          example: 507f1f77bcf86cd799439011
          schema:
            type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseMapped'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /team:
    get:
      tags:
        - team
      summary: Get Many Teams
      operationId: Team_listTeams
      security:
        - bearer: []
      description: Get Many Teams
      parameters:
        - description: >-
            Select Team fields, comma-separated. (e.g.
            `select=id,firstName,lastName,workEmail`)
          name: select
          required: false
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - companyId
                - name
                - description
                - bgColor
                - fgColor
          style: form
          explode: false
        - description: >-
            Filters conditions per field. (e.g.
            `filters[id][$eq]=507f1f77bcf86cd799439011`)
          name: filters
          required: false
          in: query
          schema:
            type: object
            properties:
              description:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
                  $lte:
                    type: string
                  $in:
                    type: array
                    items:
                      type: string
                  $nin:
                    type: array
                    items:
                      type: string
                  $between:
                    type: array
                    items:
                      type: string
                  $all:
                    type: string
              id:
                type: object
                properties:
                  $eq:
                    type: string
                  $neq:
                    type: string
                  $gt:
                    type: string
                  $lt:
                    type: string
                  $gte:
                    type: string
[...]
