openapi: 3.0.3
info:
  title: ElevenLabs API Documentation
  description: >-
    This is the documentation for the ElevenLabs API. You can use this API to
    use our service programmatically, this is done by using your xi-api-key.
    <br/> You can view your xi-api-key using the 'Profile' tab on
    https://elevenlabs.io. Our API is experimental so all endpoints are subject
    to change.
  version: '1.0'
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.elevenlabs.io
tags:
  - description: >-
      Access, create and convert Projects programmatically, only specifically
      whitelisted accounts can access the Projects API. If you need access
      please contact our sales team.
    name: projects
  - description: Access to voices created either by you or us.
    name: voices
  - description: >-
      Accesses your speech history. Your speech history is a list of all your
      created audio including its metadata using our text-to-speech and
      speech-to-speech models.
    name: speech-history
  - name: dubbing
  - name: voice-generation
  - description: Convert text into lifelike speech using a voice of your choice.
    name: text-to-speech
  - description: >-
      Create speech by combining the style and content of an audio file you
      upload with a voice of your choice.
    name: speech-to-speech
  - description: >-
      Access to your samples. A sample is any audio file you attached to a
      voice. A voice can have one or more samples.
    name: samples
  - name: user
  - name: Pronunciation Dictionary
  - description: Access the different models of the platform.
    name: models
  - name: workspace
  - name: audio-native
  - name: redirect
paths:
  /v1/history:
    get:
      tags:
        - speech-history
      summary: Get Generated Items
      operationId: Speechhistory_getGeneratedAudioMetadata
      description: Returns metadata about all your generated audio.
      parameters:
        - description: >-
            How many history items to return at maximum. Can not exceed 1000,
            defaults to 100.
          required: false
          schema:
            title: Page Size
            description: >-
              How many history items to return at maximum. Can not exceed 1000,
              defaults to 100.
            type: integer
            default: 100
          name: page_size
          in: query
        - description: >-
            After which ID to start fetching, use this parameter to paginate
            across a large collection of history items. In case this parameter
            is not provided history items will be fetched starting from the most
            recently created one ordered descending by their creation date.
          required: false
          schema:
            title: Start After History Item Id
            description: >-
              After which ID to start fetching, use this parameter to paginate
              across a large collection of history items. In case this parameter
              is not provided history items will be fetched starting from the
              most recently created one ordered descending by their creation
              date.
            type: string
          name: start_after_history_item_id
          in: query
        - description: >-
            Voice ID to be filtered for, you can use GET
            https://api.elevenlabs.io/v1/voices to receive a list of voices and
            their IDs.
          required: false
          schema:
            title: Voice Id
            description: >-
              Voice ID to be filtered for, you can use GET
              https://api.elevenlabs.io/v1/voices to receive a list of voices
              and their IDs.
            type: string
          name: voice_id
          in: query
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpeechHistoryResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/history/{history_item_id}:
    get:
      tags:
        - speech-history
      summary: Get History Item By Id
      operationId: Speechhistory_getHistoryItemById
      description: Returns information about an history item by its ID.
      parameters:
        - description: >-
            History item ID to be used, you can use GET
            https://api.elevenlabs.io/v1/history to receive a list of history
            items and their IDs.
          required: true
          schema:
            title: History Item Id
            description: >-
              History item ID to be used, you can use GET
              https://api.elevenlabs.io/v1/history to receive a list of history
              items and their IDs.
            type: string
          example: VW7YKqPnjY4h39yTbx2L
          name: history_item_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechHistoryItemResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - speech-history
      summary: Delete History Item
      operationId: Speechhistory_deleteHistoryItemById
      description: Delete a history item by its ID
      parameters:
        - description: >-
            History item ID to be used, you can use GET
            https://api.elevenlabs.io/v1/history to receive a list of history
            items and their IDs.
          required: true
          schema:
            title: History Item Id
            description: >-
              History item ID to be used, you can use GET
              https://api.elevenlabs.io/v1/history to receive a list of history
              items and their IDs.
            type: string
          example: VW7YKqPnjY4h39yTbx2L
          name: history_item_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SpeechhistoryDeleteHistoryItemByIdResponse
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/history/{history_item_id}/audio:
    get:
      tags:
        - speech-history
      summary: Get Audio From History Item
      operationId: Speechhistory_getHistoryItemAudio
      description: Returns the audio of an history item.
      parameters:
        - description: >-
            History item ID to be used, you can use GET
            https://api.elevenlabs.io/v1/history to receive a list of history
            items and their IDs.
          required: true
          schema:
            title: History Item Id
            description: >-
              History item ID to be used, you can use GET
              https://api.elevenlabs.io/v1/history to receive a list of history
              items and their IDs.
            type: string
          example: VW7YKqPnjY4h39yTbx2L
          name: history_item_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/history/download:
    post:
      tags:
        - speech-history
      summary: Download History Items
      operationId: Speechhistory_downloadHistoryItems
      description: >-
        Download one or more history items. If one history item ID is provided,
        we will return a single audio file. If more than one history item IDs
        are provided, we will provide the history items packed into a .zip file.
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Body_Download_history_items_v1_history_download_post
        required: true
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices/{voice_id}/samples/{sample_id}:
    delete:
      tags:
        - samples
      summary: Delete Sample
      operationId: Samples_removeById
      description: Removes a sample by its ID.
      parameters:
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >-
            Sample ID to be used, you can use GET
            https://api.elevenlabs.io/v1/voices/{voice_id} to list all the
            available samples for a voice.
          required: true
          schema:
            title: Sample Id
            description: >-
              Sample ID to be used, you can use GET
              https://api.elevenlabs.io/v1/voices/{voice_id} to list all the
              available samples for a voice.
            type: string
          example: VW7YKqPnjY4h39yTbx2L
          name: sample_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamplesRemoveByIdResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices/{voice_id}/samples/{sample_id}/audio:
    get:
      tags:
        - samples
      summary: Get Audio From Sample
      operationId: Samples_getAudioFromSample
      description: Returns the audio corresponding to a sample attached to a voice.
      parameters:
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >-
            Sample ID to be used, you can use GET
            https://api.elevenlabs.io/v1/voices/{voice_id} to list all the
            available samples for a voice.
          required: true
          schema:
            title: Sample Id
            description: >-
              Sample ID to be used, you can use GET
              https://api.elevenlabs.io/v1/voices/{voice_id} to list all the
              available samples for a voice.
            type: string
          example: VW7YKqPnjY4h39yTbx2L
          name: sample_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            audio/*: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/text-to-speech/{voice_id}:
    post:
      tags:
        - text-to-speech
      summary: Text To Speech
      operationId: Texttospeech_convertTextToSpeech
      description: >-
        Converts text into speech using a voice of your choice and returns
        audio.
      parameters:
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >
            You can turn on latency optimizations at some cost of quality. The
            best possible final latency varies by model. Possible values:

            0 - default mode (no latency optimizations)

            1 - normal latency optimizations (about 50% of possible latency
            improvement of option 3)

            2 - strong latency optimizations (about 75% of possible latency
            improvement of option 3)

            3 - max latency optimizations

            4 - max latency optimizations, but also with text normalizer turned
            off for even more latency savings (best latency, but can
            mispronounce eg numbers and dates).


            Defaults to 0.
          required: false
          schema:
            title: >-
              How much we should optimize streaming request latency (time to
              first audio byte).
            description: >
              You can turn on latency optimizations at some cost of quality. The
              best possible final latency varies by model. Possible values:

              0 - default mode (no latency optimizations)

              1 - normal latency optimizations (about 50% of possible latency
              improvement of option 3)

              2 - strong latency optimizations (about 75% of possible latency
              improvement of option 3)

              3 - max latency optimizations

              4 - max latency optimizations, but also with text normalizer
              turned off for even more latency savings (best latency, but can
              mispronounce eg numbers and dates).


              Defaults to 0.
            type: integer
            default: 0
          name: optimize_streaming_latency
          in: query
        - description: >
            Output format of the generated audio. Must be one of:

            mp3_22050_32 - output format, mp3 with 22.05kHz sample rate at
            32kbps.

            mp3_44100_32 - output format, mp3 with 44.1kHz sample rate at
            32kbps.

            mp3_44100_64 - output format, mp3 with 44.1kHz sample rate at
            64kbps.

            mp3_44100_96 - output format, mp3 with 44.1kHz sample rate at
            96kbps.

            mp3_44100_128 - default output format, mp3 with 44.1kHz sample rate
            at 128kbps.

            mp3_44100_192 - output format, mp3 with 44.1kHz sample rate at
            192kbps. Requires you to be subscribed to Creator tier or above.

            pcm_16000 - PCM format (S16LE) with 16kHz sample rate.

            pcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.

            pcm_24000 - PCM format (S16LE) with 24kHz sample rate.

            pcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires
            you to be subscribed to Pro tier or above.

            ulaw_8000 - μ-law format (sometimes written mu-law, often
            approximated as u-law) with 8kHz sample rate. Note that this format
            is commonly used for Twilio audio inputs.
          required: false
          schema:
            title: Output format of the generated audio.
            description: >
              Output format of the generated audio. Must be one of:

              mp3_22050_32 - output format, mp3 with 22.05kHz sample rate at
              32kbps.

              mp3_44100_32 - output format, mp3 with 44.1kHz sample rate at
              32kbps.

              mp3_44100_64 - output format, mp3 with 44.1kHz sample rate at
              64kbps.

              mp3_44100_96 - output format, mp3 with 44.1kHz sample rate at
              96kbps.

              mp3_44100_128 - default output format, mp3 with 44.1kHz sample
              rate at 128kbps.

              mp3_44100_192 - output format, mp3 with 44.1kHz sample rate at
              192kbps. Requires you to be subscribed to Creator tier or above.

              pcm_16000 - PCM format (S16LE) with 16kHz sample rate.

              pcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.

              pcm_24000 - PCM format (S16LE) with 24kHz sample rate.

              pcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires
              you to be subscribed to Pro tier or above.

              ulaw_8000 - μ-law format (sometimes written mu-law, often
              approximated as u-law) with 8kHz sample rate. Note that this
              format is commonly used for Twilio audio inputs.
            type: string
            default: mp3_44100_128
          name: output_format
          in: query
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Body_Text_to_speech_v1_text_to_speech__voice_id__post
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/text-to-speech/{voice_id}/stream:
    post:
      tags:
        - text-to-speech
      summary: Text To Speech
      operationId: Texttospeech_convertTextToSpeechStream
      description: >-
        Converts text into speech using a voice of your choice and returns audio
        as an audio stream.
      parameters:
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >
            You can turn on latency optimizations at some cost of quality. The
            best possible final latency varies by model. Possible values:

            0 - default mode (no latency optimizations)

            1 - normal latency optimizations (about 50% of possible latency
            improvement of option 3)

            2 - strong latency optimizations (about 75% of possible latency
            improvement of option 3)

            3 - max latency optimizations

            4 - max latency optimizations, but also with text normalizer turned
            off for even more latency savings (best latency, but can
            mispronounce eg numbers and dates).


            Defaults to 0.
          required: false
          schema:
            title: >-
              How much we should optimize streaming request latency (time to
              first audio byte).
            description: >
              You can turn on latency optimizations at some cost of quality. The
              best possible final latency varies by model. Possible values:

              0 - default mode (no latency optimizations)

              1 - normal latency optimizations (about 50% of possible latency
              improvement of option 3)

              2 - strong latency optimizations (about 75% of possible latency
              improvement of option 3)

              3 - max latency optimizations

              4 - max latency optimizations, but also with text normalizer
              turned off for even more latency savings (best latency, but can
              mispronounce eg numbers and dates).


              Defaults to 0.
            type: integer
            default: 0
          name: optimize_streaming_latency
          in: query
        - description: >
            Output format of the generated audio. Must be one of:

            mp3_22050_32 - output format, mp3 with 22.05kHz sample rate at
            32kbps.

            mp3_44100_32 - output format, mp3 with 44.1kHz sample rate at
            32kbps.

            mp3_44100_64 - output format, mp3 with 44.1kHz sample rate at
            64kbps.

            mp3_44100_96 - output format, mp3 with 44.1kHz sample rate at
            96kbps.

            mp3_44100_128 - default output format, mp3 with 44.1kHz sample rate
            at 128kbps.

            mp3_44100_192 - output format, mp3 with 44.1kHz sample rate at
            192kbps. Requires you to be subscribed to Creator tier or above.

            pcm_16000 - PCM format (S16LE) with 16kHz sample rate.

            pcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.

            pcm_24000 - PCM format (S16LE) with 24kHz sample rate.

            pcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires
            you to be subscribed to Pro tier or above.

            ulaw_8000 - μ-law format (sometimes written mu-law, often
            approximated as u-law) with 8kHz sample rate. Note that this format
            is commonly used for Twilio audio inputs.
          required: false
          schema:
            title: Output format of the generated audio.
            description: >
              Output format of the generated audio. Must be one of:

              mp3_22050_32 - output format, mp3 with 22.05kHz sample rate at
              32kbps.

              mp3_44100_32 - output format, mp3 with 44.1kHz sample rate at
              32kbps.

              mp3_44100_64 - output format, mp3 with 44.1kHz sample rate at
              64kbps.

              mp3_44100_96 - output format, mp3 with 44.1kHz sample rate at
              96kbps.

              mp3_44100_128 - default output format, mp3 with 44.1kHz sample
              rate at 128kbps.

              mp3_44100_192 - output format, mp3 with 44.1kHz sample rate at
              192kbps. Requires you to be subscribed to Creator tier or above.

              pcm_16000 - PCM format (S16LE) with 16kHz sample rate.

              pcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.

              pcm_24000 - PCM format (S16LE) with 24kHz sample rate.

              pcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires
              you to be subscribed to Pro tier or above.

              ulaw_8000 - μ-law format (sometimes written mu-law, often
              approximated as u-law) with 8kHz sample rate. Note that this
              format is commonly used for Twilio audio inputs.
            type: string
            default: mp3_44100_128
          name: output_format
          in: query
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Body_Text_to_speech_v1_text_to_speech__voice_id__stream_post
        required: true
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/speech-to-speech/{voice_id}:
    post:
      tags:
        - speech-to-speech
      summary: Speech To Speech
      operationId: Speechtospeech_createWithVoice
      description: >-
        Create speech by combining the content and emotion of the uploaded audio
        with a voice of your choice.
      parameters:
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >
            You can turn on latency optimizations at some cost of quality. The
            best possible final latency varies by model. Possible values:

            0 - default mode (no latency optimizations)

            1 - normal latency optimizations (about 50% of possible latency
            improvement of option 3)

            2 - strong latency optimizations (about 75% of possible latency
            improvement of option 3)

            3 - max latency optimizations

            4 - max latency optimizations, but also with text normalizer turned
            off for even more latency savings (best latency, but can
            mispronounce eg numbers and dates).


            Defaults to 0.
          required: false
          schema:
            title: >-
              How much we should optimize streaming request latency (time to
              first audio byte).
            description: >
              You can turn on latency optimizations at some cost of quality. The
              best possible final latency varies by model. Possible values:

              0 - default mode (no latency optimizations)

              1 - normal latency optimizations (about 50% of possible latency
              improvement of option 3)

              2 - strong latency optimizations (about 75% of possible latency
              improvement of option 3)

              3 - max latency optimizations

              4 - max latency optimizations, but also with text normalizer
              turned off for even more latency savings (best latency, but can
              mispronounce eg numbers and dates).


              Defaults to 0.
            type: integer
            default: 0
          name: optimize_streaming_latency
          in: query
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/Body_Speech_to_Speech_v1_speech_to_speech__voice_id__post
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/speech-to-speech/{voice_id}/stream:
    post:
      tags:
        - speech-to-speech
      summary: Speech To Speech Streaming
      operationId: Speechtospeech_createWithVoice
      description: >-
        Create speech by combining the content and emotion of the uploaded audio
        with a voice of your choice and returns an audio stream.
      parameters:
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >
            You can turn on latency optimizations at some cost of quality. The
            best possible final latency varies by model. Possible values:

            0 - default mode (no latency optimizations)

            1 - normal latency optimizations (about 50% of possible latency
            improvement of option 3)

            2 - strong latency optimizations (about 75% of possible latency
            improvement of option 3)

            3 - max latency optimizations

            4 - max latency optimizations, but also with text normalizer turned
            off for even more latency savings (best latency, but can
            mispronounce eg numbers and dates).


            Defaults to 0.
          required: false
          schema:
            title: >-
              How much we should optimize streaming request latency (time to
              first audio byte).
            description: >
              You can turn on latency optimizations at some cost of quality. The
              best possible final latency varies by model. Possible values:

              0 - default mode (no latency optimizations)

              1 - normal latency optimizations (about 50% of possible latency
              improvement of option 3)

              2 - strong latency optimizations (about 75% of possible latency
              improvement of option 3)

              3 - max latency optimizations

              4 - max latency optimizations, but also with text normalizer
              turned off for even more latency savings (best latency, but can
              mispronounce eg numbers and dates).


              Defaults to 0.
            type: integer
            default: 0
          name: optimize_streaming_latency
          in: query
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/Body_Speech_to_Speech_Streaming_v1_speech_to_speech__voice_id__stream_post
        required: true
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voice-generation/generate-voice/parameters:
    get:
      tags:
        - voice-generation
      summary: Voice Generation Parameters
      operationId: Voicegeneration_getVoiceGenerationParameters
      description: >-
        Get possible parameters for the /v1/voice-generation/generate-voice
        endpoint.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceGenerationParameterResponseModel'
  /v1/voice-generation/generate-voice:
    post:
      tags:
        - voice-generation
      summary: Generate A Random Voice
      operationId: Voicegeneration_generateRandomVoice
      description: >-
        Generate a random voice based on parameters. This method returns a
        generated_voice_id in the response header, and a sample of the voice in
        the body. If you like the generated voice call
        /v1/voice-generation/create-voice with the generated_voice_id to create
        the voice.
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Body_Generate_a_random_voice_v1_voice_generation_generate_voice_post
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voice-generation/create-voice:
    post:
      tags:
        - voice-generation
      summary: Create A Previously Generated Voice
      operationId: Voicegeneration_createVoice
      description: >-
        Create a previously generated voice. This endpoint should be called
        after you fetched a generated_voice_id using
        /v1/voice-generation/generate-voice.
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Body_Create_a_previously_generated_voice_v1_voice_generation_create_voice_post
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/user/subscription:
    get:
      tags:
        - user
      summary: Get User Subscription Info
      operationId: User_getSubscriptionInfo
      description: Gets extended information about the users subscription
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedSubscriptionResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/user:
    get:
      tags:
        - user
      summary: Get User Info
      operationId: User_getInfo
      description: Gets information about the user
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices:
    get:
      tags:
        - voices
      summary: Get Voices
      operationId: Voices_listAllVoices
      description: Gets a list of all available voices for a user.
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices/settings/default:
    get:
      tags:
        - voices
      summary: Get Default Voice Settings.
      operationId: Voices_getDefaultVoiceSettings
      description: >-
        Gets the default settings for voices. "similarity_boost" corresponds
        to"Clarity + Similarity Enhancement" in the web app and "stability"
        corresponds to "Stability" slider in the web app.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
  /v1/voices/{voice_id}/settings:
    get:
      tags:
        - voices
      summary: Get Voice Settings
      operationId: Voices_getSettings
      description: >-
        Returns the settings for a specific voice. "similarity_boost"
        corresponds to"Clarity + Similarity Enhancement" in the web app and
        "stability" corresponds to "Stability" slider in the web app.
      parameters:
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices/{voice_id}:
    get:
      tags:
        - voices
      summary: Get Voice
      operationId: Voices_getVoiceMetadata
      description: Returns metadata about a specific voice.
      parameters:
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >-
            If set will return settings information corresponding to the voice,
            requires authorization.
          required: false
          schema:
            title: With Settings
            description: >-
              If set will return settings information corresponding to the
              voice, requires authorization.
            type: boolean
            default: false
          name: with_settings
          in: query
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - voices
      summary: Delete Voice
      operationId: Voices_deleteById
      description: Deletes a voice by its ID.
      parameters:
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicesDeleteByIdResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices/{voice_id}/settings/edit:
    post:
      tags:
        - voices
      summary: Edit Voice Settings
      operationId: Voices_editSettingsPost
      description: >-
        Edit your settings for a specific voice. "similarity_boost" corresponds
        to"Clarity + Similarity Enhancement" in the web app and "stability"
        corresponds to "Stability" slider in the web app.
      parameters:
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSettingsResponseModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicesEditSettingsPostResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices/add:
    post:
      tags:
        - voices
      summary: Add Voice
      operationId: Voices_addVoiceToCollection
      description: Add a new voice to your collection of voices in VoiceLab.
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Add_voice_v1_voices_add_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddVoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices/{voice_id}/edit:
    post:
      tags:
        - voices
      summary: Edit Voice
      operationId: Voices_updateVoiceById
      description: Edit a voice created by you.
      parameters:
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/Body_Edit_voice_v1_voices__voice_id__edit_post
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicesUpdateVoiceByIdResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices/add/{public_user_id}/{voice_id}:
    post:
      tags:
        - voices
      summary: Add Sharing Voice
      operationId: Voices_addToCollection
      description: Add a sharing voice to your collection of voices in VoiceLab.
      parameters:
        - description: Public user ID used to publicly identify ElevenLabs users.
          required: true
          schema:
            title: Public User Id
            description: Public user ID used to publicly identify ElevenLabs users.
            type: string
          example: 63e06b7e7cafdc46be4d2e0b3f045940231ae058d508589653d74d1265a574ca
          name: public_user_id
          in: path
        - description: >-
            Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices
            to list all the available voices.
          required: true
          schema:
            title: Voice Id
            description: >-
              Voice ID to be used, you can use
              https://api.elevenlabs.io/v1/voices to list all the available
              voices.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: voice_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Body_Add_sharing_voice_v1_voices_add__public_user_id___voice_id__post
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddVoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects:
    get:
      tags:
        - projects
      summary: Get Projects
      operationId: Projects_getAllProjects
      description: Returns a list of your projects together and its metadata.
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/add:
    post:
      tags:
        - projects
      summary: Add Project
      operationId: Projects_createNewProject
      description: >-
        Creates a new project, it can be either initialized as blank, from a
        document or from a URL.
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Add_project_v1_projects_add_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddProjectResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}:
    get:
      tags:
        - projects
      summary: Get Project By Id
      operationId: Projects_getById
      description: >-
        Returns information about a specific project. This endpoint returns more
        detailed information about a project than GET
        api.elevenlabs.io/v1/projects.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectExtendedResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - projects
      summary: Delete Project
      operationId: Projects_deleteById
      description: Delete a project by its project_id.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsDeleteByIdResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/convert:
    post:
      tags:
        - projects
      summary: Convert Project
      operationId: Projects_startConversion
      description: Starts conversion of a project and all of its chapters.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsStartConversionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/snapshots:
    get:
      tags:
        - projects
      summary: Get Project Snapshots
      operationId: Projects_listSnapshots
      description: Gets the snapshots of a project.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSnapshotsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/snapshots/{project_snapshot_id}/stream:
    post:
      tags:
        - projects
      summary: Stream Project Audio
      operationId: Projects_streamAudioFromSnapshot
      description: Stream the audio from a project snapshot.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            The project_snapshot_id of the project snapshot. You can query GET
            /v1/projects/{project_id}/snapshots to list all available snapshots
            for a project.
          required: true
          schema:
            title: Project Snapshot Id
            description: >-
              The project_snapshot_id of the project snapshot. You can query GET
              /v1/projects/{project_id}/snapshots to list all available
              snapshots for a project.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_snapshot_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/chapters:
    get:
      tags:
        - projects
      summary: Get Chapters
      operationId: Projects_listChapters
      description: Returns a list of your chapters for a project together and its metadata.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChaptersResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/chapters/{chapter_id}:
    get:
      tags:
        - projects
      summary: Get Chapter By Id
      operationId: Projects_getChapterById
      description: Returns information about a specific chapter.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            The chapter_id of the chapter. You can query GET
            https://api.elevenlabs.io/v1/projects/{project_id}/chapters to list
            all available chapters for a project.
          required: true
          schema:
            title: Chapter Id
            description: >-
              The chapter_id of the chapter. You can query GET
              https://api.elevenlabs.io/v1/projects/{project_id}/chapters to
              list all available chapters for a project.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: chapter_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - projects
      summary: Delete Chapter
      operationId: Projects_deleteChapterById
      description: Delete a chapter by its chapter_id.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            The chapter_id of the chapter. You can query GET
            https://api.elevenlabs.io/v1/projects/{project_id}/chapters to list
            all available chapters for a project.
          required: true
          schema:
            title: Chapter Id
            description: >-
              The chapter_id of the chapter. You can query GET
              https://api.elevenlabs.io/v1/projects/{project_id}/chapters to
              list all available chapters for a project.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: chapter_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsDeleteChapterByIdResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/chapters/{chapter_id}/convert:
    post:
      tags:
        - projects
      summary: Convert Chapter
      operationId: Projects_startChapterConversion
      description: Starts conversion of a specific chapter.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            The chapter_id of the chapter. You can query GET
            https://api.elevenlabs.io/v1/projects/{project_id}/chapters to list
            all available chapters for a project.
          required: true
          schema:
            title: Chapter Id
            description: >-
              The chapter_id of the chapter. You can query GET
              https://api.elevenlabs.io/v1/projects/{project_id}/chapters to
              list all available chapters for a project.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: chapter_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsStartChapterConversionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/chapters/{chapter_id}/snapshots:
    get:
      tags:
        - projects
      summary: Get Chapter Snapshots
      operationId: Projects_getChapterSnapshots
      description: >-
        Gets information about all the snapshots of a chapter, each snapshot
        corresponds can be downloaded as audio. Whenever a chapter is converted
        a snapshot will be automatically created.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            The chapter_id of the chapter. You can query GET
            https://api.elevenlabs.io/v1/projects/{project_id}/chapters to list
            all available chapters for a project.
          required: true
          schema:
            title: Chapter Id
            description: >-
              The chapter_id of the chapter. You can query GET
              https://api.elevenlabs.io/v1/projects/{project_id}/chapters to
              list all available chapters for a project.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: chapter_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterSnapshotsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/chapters/{chapter_id}/snapshots/{chapter_snapshot_id}/stream:
    post:
      tags:
        - projects
      summary: Stream Chapter Audio
      operationId: Projects_streamAudioFromSnapshotPost
      description: >-
        Stream the audio from a chapter snapshot. Use GET
        /v1/projects/{project_id}/chapters/{chapter_id}/snapshots to return the
        chapter snapshots of a chapter.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            The chapter_id of the chapter. You can query GET
            https://api.elevenlabs.io/v1/projects/{project_id}/chapters to list
            all available chapters for a project.
          required: true
          schema:
            title: Chapter Id
            description: >-
              The chapter_id of the chapter. You can query GET
              https://api.elevenlabs.io/v1/projects/{project_id}/chapters to
              list all available chapters for a project.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: chapter_id
          in: path
        - description: >-
            The chapter_snapshot_id of the chapter snapshot. You can query GET
            /v1/projects/{project_id}/chapters/{chapter_id}/snapshots to the all
            available snapshots for a chapter.
          required: true
          schema:
            title: Chapter Snapshot Id
            description: >-
              The chapter_snapshot_id of the chapter snapshot. You can query GET
              /v1/projects/{project_id}/chapters/{chapter_id}/snapshots to the
              all available snapshots for a chapter.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: chapter_snapshot_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/update-pronunciation-dictionaries:
    post:
      tags:
        - projects
      summary: Update Pronunciation Dictionaries
      operationId: Projects_updatePronunciationDictionaries
      description: >-
        Updates the set of pronunciation dictionaries acting on a project. This
        will automatically mark text within this project as requiring
        reconverting where the new dictionary would apply or the old one no
        longer does.
      parameters:
        - description: >-
            The project_id of the project, you can query GET
            https://api.elevenlabs.io/v1/projects to list all available
            projects.
          required: true
          schema:
            title: Project Id
            description: >-
              The project_id of the project, you can query GET
              https://api.elevenlabs.io/v1/projects to list all available
              projects.
            type: string
          example: 21m00Tcm4TlvDq8ikWAM
          name: project_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/Body_Update_Pronunciation_Dictionaries_v1_projects__project_id__update_pronunciation_dictionaries_post
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProjectsUpdatePronunciationDictionariesResponse
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/dubbing:
    post:
      tags:
        - dubbing
      summary: Dub A Video Or An Audio File
      operationId: Dubbing_fileInLanguage
      description: Dubs provided audio or video file into given language.
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/Body_Dub_a_video_or_an_audio_file_v1_dubbing_post
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoDubbingResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/dubbing/{dubbing_id}:
    get:
      tags:
        - dubbing
      summary: Get Dubbing Project Metadata
      operationId: Dubbing_getProjectMetadata
      description: >-
        Returns metadata about a dubbing project, including whether it's still
        in progress or not
      parameters:
        - description: ID of the dubbing project.
          required: true
          schema:
            title: Dubbing Id
            description: ID of the dubbing project.
            type: string
          name: dubbing_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingMetadataResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - dubbing
      summary: Delete Dubbing Project
      operationId: Dubbing_deleteProject
      description: Deletes a dubbing project.
      parameters:
        - description: ID of the dubbing project.
          required: true
          schema:
            title: Dubbing Id
            description: ID of the dubbing project.
            type: string
          name: dubbing_id
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubbingDeleteProjectResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/dubbing/{dubbing_id}/audio/{language_code}:
    get:
      tags:
        - dubbing
      summary: Get Dubbed File
      operationId: Dubbing_getFile
      description: >-
        Returns dubbed file as a streamed file. Videos will be returned in MP4
        format and audio only dubs will be returned in MP3.
      parameters:
        - description: ID of the dubbing project.
          required: true
          schema:
            title: Dubbing Id
            description: ID of the dubbing project.
            type: string
          name: dubbing_id
          in: path
        - description: ID of the language.
          required: true
          schema:
            title: Language Code
            description: ID of the language.
            type: string
          name: language_code
          in: path
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /admin/{admin_url_prefix}/sso-provider:
    get:
      tags:
        - workspace
      summary: Get Sso Provider Admin
      operationId: Workspace_getSsoProviderAdmin
      parameters:
        - required: true
          schema:
            title: Workspace Id
            type: string
          name: workspace_id
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoProviderDBModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/models:
    get:
      tags:
        - models
      summary: Get Models
      operationId: Models_listAvailableModels
      description: Gets a list of available models.
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsListAvailableModelsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/audio-native:
    post:
      tags:
        - audio-native
      summary: Creates Audionative Enabled Project.
      operationId: Audionative_createProjectWithEmbeddableHtml
      description: >-
        Creates AudioNative enabled project, optionally starts conversion and
        returns project id and embeddable html snippet.
      parameters:
        - description: >-
            Your API key. This is required by most endpoints to access our API
            programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          required: false
          schema:
            title: Xi-Api-Key
            description: >-
              Your API key. This is required by most endpoints to access our API
              programatically. You can view your xi-api-key using the 'Profile'
              tab on the website.
            type: string
          name: xi-api-key
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/Body_Creates_AudioNative_enabled_project__v1_audio_native_post
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioNativeCreateProjectResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/shared-voices:
    get:
      tags:
        - voices
      summary: Get Voices
      operationId: Voices_getSharedVoices
      description: Gets a list of shared voices.
      parameters:
        - description: >-
            How many shared voices to return at maximum. Can not exceed 500,
            defaults to 30.
          required: false
          schema:
            title: Page Size
            description: >-
              How many shared voices to return at maximum. Can not exceed 500,
              defaults to 30.
            type: integer
            default: 30
          name: page_size
          in: query
        - description: voice category used for filtering
          required: false
          schema:
            title: Category
            description: voice category used for filtering
            type: string
          example: professional
          name: category
          in: query
        - description: gender used for filtering
          required: false
          schema:
            title: Gender
            description: gender used for filtering
            type: string
          example: male
          name: gender
          in: query
        - description: age used for filtering
          required: false
          schema:
            title: Age
            description: age used for filtering
            type: string
          example: young
          name: age
          in: query
        - description: accent used for filtering
          required: false
          schema:
            title: Accent
            description: accent used for filtering
            type: string
          example: american
          name: accent
          in: query
        - description: search term used for filtering
          required: false
          schema:
            title: Search
            description: search term used for filtering
            type: string
          example: tiktok
          name: search
          in: query
        - description: use-case used for filtering
          required: false
          schema:
            title: Use Cases
            description: use-case used for filtering
            items:
              type: string
            type: array
          example: audiobook
          name: use_cases
          in: query
        - description: search term used for filtering
          required: false
          schema:
            title: Descriptives
            description: search term used for filtering
            items:
              type: string
            type: array
          example: tiktok
          name: descriptives
          in: query
        - description: sort criteria
[...]
