openapi: 3.0.3
info:
  title: PostHog API
  description: ''
  version: null
servers:
  - description: US Cloud
    url: https://app.posthog.com
  - description: EU Cloud
    url: https://eu.posthog.com
tags:
  - name: organizations
  - name: insights
  - name: persons
  - name: batch_exports
  - name: feature_flags
  - name: users
  - name: pipeline_destinations
  - name: pipeline_frontend_apps
  - name: pipeline_import_apps
  - name: pipeline_transformations
  - name: plugins
  - name: dashboards
  - name: session_recordings
  - name: plugin_configs
  - name: projects
  - name: roles
  - name: experiments
  - name: pipeline_destination_configs
  - name: pipeline_frontend_apps_configs
  - name: pipeline_import_apps_configs
  - name: pipeline_transformation_configs
  - name: session_recording_playlists
  - name: cohorts
  - name: notebooks
  - name: domains
  - name: dashboard_templates
  - name: surveys
  - name: actions
  - name: annotations
  - name: early_access_feature
  - name: explicit_members
  - name: property_definitions
  - name: subscriptions
  - name: event_definitions
  - name: groups
  - name: invites
  - name: members
  - name: app_metrics
  - name: exports
  - name: query
  - name: activity_log
  - name: events
  - name: groups_types
  - name: funnel
  - name: trend
paths:
  /api/organizations:
    get:
      tags:
        - organizations
      operationId: Organizations_list
      security:
        - PersonalAPIKeyAuth:
            - organization:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationList'
    post:
      tags:
        - organizations
      operationId: Organizations_createOrganization
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Organization'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Organization'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
  /api/organizations/{id}:
    get:
      tags:
        - organizations
      operationId: Organizations_getById
      security:
        - PersonalAPIKeyAuth:
            - organization:read
      parameters:
        - description: A UUID string identifying this organization.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
    put:
      tags:
        - organizations
      operationId: Organizations_updateById
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      parameters:
        - description: A UUID string identifying this organization.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Organization'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Organization'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
    patch:
      tags:
        - organizations
      operationId: partial_update
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      parameters:
        - description: A UUID string identifying this organization.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganization'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganization'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
    delete:
      tags:
        - organizations
      operationId: Organizations_removeById
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      parameters:
        - description: A UUID string identifying this organization.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/batch_exports:
    get:
      tags:
        - organizations
        - batch_exports
      operationId: Organizations_batchExportsList
      security:
        - PersonalAPIKeyAuth:
            - batch_export:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBatchExportList'
    post:
      tags:
        - organizations
        - batch_exports
      operationId: Organizations_createBatchExport
      security:
        - PersonalAPIKeyAuth:
            - batch_export:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchExport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchExport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BatchExport'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchExport'
  /api/organizations/{organization_id}/batch_exports/{id}:
    get:
      tags:
        - organizations
        - batch_exports
      operationId: Organizations_getBatchExportsById
      security:
        - PersonalAPIKeyAuth:
            - batch_export:read
      parameters:
        - description: A UUID string identifying this batch export.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchExport'
    put:
      tags:
        - organizations
        - batch_exports
      operationId: Organizations_updateBatchExport
      security:
        - PersonalAPIKeyAuth:
            - batch_export:write
      parameters:
        - description: A UUID string identifying this batch export.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchExport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchExport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BatchExport'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchExport'
    patch:
      tags:
        - organizations
        - batch_exports
      operationId: Organizations_updateBatchExport
      security:
        - PersonalAPIKeyAuth:
            - batch_export:write
      parameters:
        - description: A UUID string identifying this batch export.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedBatchExport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedBatchExport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedBatchExport'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchExport'
    delete:
      tags:
        - organizations
        - batch_exports
      operationId: Organizations_deleteBatchExport
      security:
        - PersonalAPIKeyAuth:
            - batch_export:write
      parameters:
        - description: A UUID string identifying this batch export.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/batch_exports/{id}/backfill:
    post:
      tags:
        - organizations
        - batch_exports
      operationId: Organizations_triggerBackfill
      description: Trigger a backfill for a BatchExport.
      parameters:
        - description: A UUID string identifying this batch export.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchExport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchExport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BatchExport'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchExport'
  /api/organizations/{organization_id}/batch_exports/{id}/pause:
    post:
      tags:
        - organizations
        - batch_exports
      operationId: Organizations_pauseBatchExport
      description: Pause a BatchExport.
      parameters:
        - description: A UUID string identifying this batch export.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchExport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchExport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BatchExport'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchExport'
  /api/organizations/{organization_id}/batch_exports/{id}/unpause:
    post:
      tags:
        - organizations
        - batch_exports
      operationId: Organizations_unpauseBatchExport
      description: Unpause a BatchExport.
      parameters:
        - description: A UUID string identifying this batch export.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchExport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchExport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BatchExport'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchExport'
  /api/organizations/{organization_id}/domains:
    get:
      tags:
        - organizations
        - domains
      operationId: domains_list
      security:
        - PersonalAPIKeyAuth:
            - organization:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationDomainList'
    post:
      tags:
        - organizations
        - domains
      operationId: domains_create
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationDomain'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganizationDomain'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganizationDomain'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
  /api/organizations/{organization_id}/domains/{id}:
    get:
      tags:
        - organizations
        - domains
      operationId: domains_retrieve
      security:
        - PersonalAPIKeyAuth:
            - organization:read
      parameters:
        - description: A UUID string identifying this domain.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
    put:
      tags:
        - organizations
        - domains
      operationId: domains_update
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      parameters:
        - description: A UUID string identifying this domain.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationDomain'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganizationDomain'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganizationDomain'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
    patch:
      tags:
        - organizations
        - domains
      operationId: Organizations_updateDomainById
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      parameters:
        - description: A UUID string identifying this domain.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganizationDomain'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganizationDomain'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganizationDomain'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
    delete:
      tags:
        - organizations
        - domains
      operationId: domains_destroy
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      parameters:
        - description: A UUID string identifying this domain.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/domains/{id}/verify:
    post:
      tags:
        - organizations
        - domains
      operationId: Organizations_verifyDomainPost
      parameters:
        - description: A UUID string identifying this domain.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationDomain'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganizationDomain'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganizationDomain'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
  /api/organizations/{organization_id}/invites:
    get:
      tags:
        - organizations
        - invites
      operationId: invites_list
      security:
        - PersonalAPIKeyAuth:
            - organization_member:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationInviteList'
    post:
      tags:
        - organizations
        - invites
      operationId: invites_create
      security:
        - PersonalAPIKeyAuth:
            - organization_member:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInvite'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganizationInvite'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganizationInvite'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvite'
  /api/organizations/{organization_id}/invites/{id}:
    delete:
      tags:
        - organizations
        - invites
      operationId: invites_destroy
      security:
        - PersonalAPIKeyAuth:
            - organization_member:write
      parameters:
        - description: A UUID string identifying this organization invite.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/invites/bulk:
    post:
      tags:
        - organizations
        - invites
      operationId: Organizations_bulkInviteCreate
      security:
        - PersonalAPIKeyAuth:
            - organization_member:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInvite'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganizationInvite'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganizationInvite'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvite'
  /api/organizations/{organization_id}/members:
    get:
      tags:
        - organizations
        - members
      operationId: members_list
      security:
        - PersonalAPIKeyAuth:
            - organization_member:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganizationMemberList'
  /api/organizations/{organization_id}/members/{user__uuid}:
    put:
      tags:
        - organizations
        - members
      operationId: members_update
      security:
        - PersonalAPIKeyAuth:
            - organization_member:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: user__uuid
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationMember'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganizationMember'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganizationMember'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMember'
    patch:
      tags:
        - organizations
        - members
      operationId: Organizations_updateMemberByUuid
      security:
        - PersonalAPIKeyAuth:
            - organization_member:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: user__uuid
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganizationMember'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganizationMember'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganizationMember'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMember'
    delete:
      tags:
        - organizations
        - members
      operationId: members_destroy
      security:
        - PersonalAPIKeyAuth:
            - organization_member:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: user__uuid
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/pipeline_destinations:
    get:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_listPipelineDestinations
      security:
        - PersonalAPIKeyAuth:
            - plugin:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPluginList'
    post:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_createPipelineDestinations
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_destinations/{id}:
    get:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_getPipelineDestinations
      security:
        - PersonalAPIKeyAuth:
            - plugin:read
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    put:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_pipelineDestinationsUpdate
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    patch:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_updatePipelineDestination
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    delete:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_removePipelineDestination
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/pipeline_destinations/{id}/check_for_updates:
    get:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_checkForUpdates
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_destinations/{id}/source:
    get:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_getPipelineDestinationsSource
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_destinations/{id}/update_source:
    patch:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_updatePipelineDestinationSourcePartialUpdate
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_destinations/{id}/upgrade:
    post:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_upgradePipelineDestination
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_destinations/activity:
    get:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_getPipelineDestinationsActivity
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_destinations/exports_unsubscribe_configs:
    get:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_getPipelineDestinationsExportsUnsubscribeConfigs
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_destinations/repository:
    get:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_getPipelineDestinationRepository
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_destinations/unused:
    get:
      tags:
        - organizations
        - pipeline_destinations
      operationId: Organizations_getPipelineDestinationsUnused
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_frontend_apps:
    get:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_listPipelineFrontendApps
      security:
        - PersonalAPIKeyAuth:
            - plugin:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPluginList'
    post:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_createPipelineFrontendApps
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_frontend_apps/{id}:
    get:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_getPipelineFrontendAppsById
      security:
        - PersonalAPIKeyAuth:
            - plugin:read
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    put:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_updatePipelineFrontendAppById
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    patch:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_updatePipelineFrontendAppsById
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    delete:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_removePipelineFrontendApps
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/pipeline_frontend_apps/{id}/check_for_updates:
    get:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_pipelineFrontendAppsCheckForUpdatesRetrieve
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_frontend_apps/{id}/source:
    get:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_getPipelineFrontendAppsSource
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_frontend_apps/{id}/update_source:
    patch:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_pipelineFrontendAppsUpdateSourcePatch
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_frontend_apps/{id}/upgrade:
    post:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_upgradePipelineFrontendApp
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_frontend_apps/activity:
    get:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_getPipelineFrontendAppsActivity
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_frontend_apps/exports_unsubscribe_configs:
    get:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_getPipelineFrontendAppExportsUnsubscribeConfigs
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_frontend_apps/repository:
    get:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_getPipelineFrontendAppsRepository
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_frontend_apps/unused:
    get:
      tags:
        - organizations
        - pipeline_frontend_apps
      operationId: Organizations_getPipelineFrontendAppsUnused
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_import_apps:
    get:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_getPipelineImportApps
      security:
        - PersonalAPIKeyAuth:
            - plugin:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPluginList'
    post:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_importPipelineApps
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_import_apps/{id}:
    get:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_getPipelineImportApp
      security:
        - PersonalAPIKeyAuth:
            - plugin:read
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    put:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_pipelineImportAppsUpdate
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    patch:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_updatePipelineImportAppsConfigs
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    delete:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_deletePipelineImportApp
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/pipeline_import_apps/{id}/check_for_updates:
    get:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_pipelineImportAppsCheckForUpdatesRetrieve
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_import_apps/{id}/source:
    get:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_getPipelineImportAppsSource
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_import_apps/{id}/update_source:
    patch:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_updatePipelineImportAppSource
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_import_apps/{id}/upgrade:
    post:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_upgradePipelineImportApp
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_import_apps/activity:
    get:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_getPipelineImportAppsActivity
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_import_apps/exports_unsubscribe_configs:
    get:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_pipelineImportAppsExportsUnsubscribeConfigsRetrieve
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_import_apps/repository:
    get:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_getPipelineImportAppsRepository
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_import_apps/unused:
    get:
      tags:
        - organizations
        - pipeline_import_apps
      operationId: Organizations_getUnusedPipelineImportApps
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_transformations:
    get:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_getPipelineTransformations
      security:
        - PersonalAPIKeyAuth:
            - plugin:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPluginList'
    post:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_createPipelineTransformation
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_transformations/{id}:
    get:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_getPipelineTransformation
      security:
        - PersonalAPIKeyAuth:
            - plugin:read
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    put:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_updatePipelineTransformationById
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    patch:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_updatePipelineTransformationById
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    delete:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_deletePipelineTransformation
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/pipeline_transformations/{id}/check_for_updates:
    get:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_getPipelineTransformationCheckForUpdates
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_transformations/{id}/source:
    get:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_pipelineTransformationsSourceRetrieve
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_transformations/{id}/update_source:
    patch:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_updatePipelineTransformationSourcePartialUpdate
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_transformations/{id}/upgrade:
    post:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_upgradePipelineTransformation
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_transformations/activity:
    get:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_getPipelineTransformationsActivity
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_transformations/exports_unsubscribe_configs:
    get:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_getPipelineTransformationExportsUnsubscribeConfigs
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_transformations/repository:
    get:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_getPipelineTransformationsRepository
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/pipeline_transformations/unused:
    get:
      tags:
        - organizations
        - pipeline_transformations
      operationId: Organizations_getUnusedPipelineTransformations
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/plugins:
    get:
      tags:
        - organizations
        - plugins
      operationId: plugins_list
      security:
        - PersonalAPIKeyAuth:
            - plugin:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPluginList'
    post:
      tags:
        - organizations
        - plugins
      operationId: plugins_create
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/plugins/{id}:
    get:
      tags:
        - organizations
        - plugins
      operationId: plugins_retrieve
      security:
        - PersonalAPIKeyAuth:
            - plugin:read
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    put:
      tags:
        - organizations
        - plugins
      operationId: plugins_update
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    patch:
      tags:
        - organizations
        - plugins
      operationId: Organizations_updatePluginById
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
    delete:
      tags:
        - organizations
        - plugins
      operationId: plugins_destroy
      security:
        - PersonalAPIKeyAuth:
            - plugin:write
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/plugins/{id}/check_for_updates:
    get:
      tags:
        - organizations
        - plugins
      operationId: Organizations_pluginsCheckForUpdates
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/plugins/{id}/source:
    get:
      tags:
        - organizations
        - plugins
      operationId: Organizations_pluginsSourceRetrieve
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/plugins/{id}/update_source:
    patch:
      tags:
        - organizations
        - plugins
      operationId: Organizations_updatePluginSource
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPlugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/plugins/{id}/upgrade:
    post:
      tags:
        - organizations
        - plugins
      operationId: Organizations_upgradePlugin
      parameters:
        - description: A unique integer value identifying this plugin.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plugin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Plugin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Plugin'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/plugins/activity:
    get:
      tags:
        - organizations
        - plugins
      operationId: Organizations_getPluginsActivity
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/plugins/exports_unsubscribe_configs:
    get:
      tags:
        - organizations
        - plugins
      operationId: Organizations_getPluginsExportsUnsubscribeConfigs
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/plugins/repository:
    get:
      tags:
        - organizations
        - plugins
      operationId: Organizations_getPluginsRepository
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/plugins/unused:
    get:
      tags:
        - organizations
        - plugins
      operationId: Organizations_getPluginsUnused
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
  /api/organizations/{organization_id}/projects:
    get:
      tags:
        - organizations
        - projects
      operationId: Organizations_getProjects
      security:
        - PersonalAPIKeyAuth:
            - project:read
      description: Projects for the current organization.
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTeamBasicList'
    post:
      tags:
        - organizations
        - projects
      operationId: Organizations_createProject
      security:
        - PersonalAPIKeyAuth:
            - project:write
      description: Projects for the current organization.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Team'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Team'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Team'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /api/organizations/{organization_id}/projects/{id}:
    get:
      tags:
        - organizations
        - projects
      operationId: Organizations_getProjectsById
      security:
        - PersonalAPIKeyAuth:
            - project:read
      description: Projects for the current organization.
      parameters:
        - description: A unique integer value identifying this team.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    put:
      tags:
        - organizations
        - projects
      operationId: Organizations_updateProjectById
      security:
        - PersonalAPIKeyAuth:
            - project:write
      description: Projects for the current organization.
      parameters:
        - description: A unique integer value identifying this team.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Team'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Team'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Team'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    patch:
      tags:
        - organizations
        - projects
      operationId: Organizations_updateProject
      security:
        - PersonalAPIKeyAuth:
            - project:write
      description: Projects for the current organization.
      parameters:
        - description: A unique integer value identifying this team.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedTeam'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedTeam'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedTeam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    delete:
      tags:
        - organizations
        - projects
      operationId: Organizations_deleteProjectById
      security:
        - PersonalAPIKeyAuth:
            - project:write
      description: Projects for the current organization.
      parameters:
        - description: A unique integer value identifying this team.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/projects/{id}/activity:
    get:
      tags:
        - organizations
        - projects
      operationId: activity_retrieve
      description: Projects for the current organization.
      parameters:
        - description: A unique integer value identifying this team.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /api/organizations/{organization_id}/projects/{id}/is_generating_demo_data:
    get:
      tags:
        - organizations
        - projects
      operationId: Organizations_getIsGeneratingDemoData
      description: Projects for the current organization.
      parameters:
        - description: A unique integer value identifying this team.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /api/organizations/{organization_id}/projects/{id}/reset_token:
    patch:
      tags:
        - organizations
        - projects
      operationId: Organizations_projectsResetTokenPartialUpdate
      description: Projects for the current organization.
      parameters:
        - description: A unique integer value identifying this team.
          in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedTeam'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedTeam'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedTeam'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /api/organizations/{organization_id}/roles:
    get:
      tags:
        - organizations
        - roles
      operationId: roles_list
      security:
        - PersonalAPIKeyAuth:
            - organization:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRoleList'
    post:
      tags:
        - organizations
        - roles
      operationId: roles_create
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Role'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Role'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
  /api/organizations/{organization_id}/roles/{id}:
    get:
      tags:
        - organizations
        - roles
      operationId: roles_retrieve
      security:
        - PersonalAPIKeyAuth:
            - organization:read
      parameters:
        - description: A UUID string identifying this role.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
    put:
      tags:
        - organizations
        - roles
      operationId: roles_update
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      parameters:
        - description: A UUID string identifying this role.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Role'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Role'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
    patch:
      tags:
        - organizations
        - roles
      operationId: Organizations_updateRoleById
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      parameters:
        - description: A UUID string identifying this role.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedRole'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedRole'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedRole'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
    delete:
      tags:
        - organizations
        - roles
      operationId: roles_destroy
      security:
        - PersonalAPIKeyAuth:
            - organization:write
      parameters:
        - description: A UUID string identifying this role.
          in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '204':
          description: No response body
  /api/organizations/{organization_id}/roles/{role_id}/role_memberships:
    get:
      tags:
        - organizations
        - roles
      operationId: Organizations_listRoleMemberships
      security:
        - PersonalAPIKeyAuth:
            - organization:read
      parameters:
        - description: Number of results to return per page.
          name: limit
          required: false
          in: query
          schema:
            type: integer
        - description: The initial index from which to return the results.
          name: offset
          required: false
          in: query
          schema:
            type: integer
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
        - in: path
          name: role_id
          schema:
            type: string
[...]
