openapi: 3.0.0
info:
  title: Trello
  description: |-
    This document describes the REST API of Trello as published by Trello.com.
     - <a href='https://trello.com/docs/index.html' target='_blank'>Official Documentation</a>
     - <a href='https://trello.com/docs/api' target='_blank'>The HTML pages that were scraped in order to generate this specification.</a>
  version: '1.0'
  contact:
    name: Trello
    url: https://trello.com/home
  license:
    name: 'Trello : Terms of Service'
    url: https://trello.com/legal
  termsOfService: https://trello.com/legal
  x-apisguru-categories:
    - collaboration
  x-logo:
    url: >-
      https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/c13d1cd96a2cff30f0460a5e1860c5ea/header-logo-blue.svg
  x-origin:
    - version: '3.0'
      format: openapi
      url: >-
        https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/trello.com/1.0/swagger.yaml
  x-providerName: trello.com
  x-unofficialSpec: true
servers:
  - url: https://trello.com/1
tags:
  - description: https://trello.com/docs/api/board/index.html
    name: board
  - description: https://trello.com/docs/api/member/index.html
    name: member
  - description: https://trello.com/docs/api/card/index.html
    name: card
  - description: https://trello.com/docs/api/organization/index.html
    name: organization
  - description: https://trello.com/docs/api/action/index.html
    name: action
  - description: https://trello.com/docs/api/notification/index.html
    name: notification
  - description: https://trello.com/docs/api/list/index.html
    name: list
  - description: https://trello.com/docs/api/checklist/index.html
    name: checklist
  - description: https://trello.com/docs/api/token/index.html
    name: token
  - description: https://trello.com/docs/api/webhook/index.html
    name: webhook
  - description: https://trello.com/docs/api/label/index.html
    name: label
  - description: https://trello.com/docs/api/session/index.html
    name: session
  - description: https://trello.com/docs/api/search/index.html
    name: search
  - description: https://trello.com/docs/api/batch/index.html
    name: batch
  - description: https://trello.com/docs/api/type/index.html
    name: type
paths:
  /actions/{idAction}:
    delete:
      tags:
        - action
      summary: deleteActionsByIdAction()
      operationId: Action_removeByIdAction
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
    get:
      tags:
        - action
      summary: getActionsByIdAction()
      operationId: Action_getById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: display
          required: false
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: entities
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: data, date, idMemberCreator or
            type
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: ' true or false'
          in: query
          name: member
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: ' true or false'
          in: query
          name: memberCreator
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
    put:
      tags:
        - action
      summary: updateActionsByIdAction()
      operationId: Action_updateByIdAction
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Actions" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/actions'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/board:
    get:
      tags:
        - action
      summary: getActionsBoardByIdAction()
      operationId: Action_getBoardByIdAction
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: closed, dateLastActivity,
            dateLastView, desc, descData, idOrganization, invitations, invited,
            labelNames, memberships, name, pinned, powerUps, prefs, shortLink,
            shortUrl, starred, subscribed or url
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/board/{field}:
    get:
      tags:
        - action
      summary: getActionsBoardByIdActionByField()
      operationId: Action_getBoardByIdActionByField
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/card:
    get:
      tags:
        - action
      summary: getActionsCardByIdAction()
      operationId: Action_getCardByIdAction
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/card/{field}:
    get:
      tags:
        - action
      summary: getActionsCardByIdActionByField()
      operationId: Action_getCardByIdActionByField
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/display:
    get:
      tags:
        - action
      summary: getActionsDisplayByIdAction()
      operationId: Action_getDisplayByIdAction
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/entities:
    get:
      tags:
        - action
      summary: getActionsEntitiesByIdAction()
      operationId: Action_getEntitiesByIdAction
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/list:
    get:
      tags:
        - action
      summary: getActionsListByIdAction()
      operationId: Action_getListByIdAction
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: closed, idBoard, name, pos or
            subscribed
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/list/{field}:
    get:
      tags:
        - action
      summary: getActionsListByIdActionByField()
      operationId: Action_getListByIdActionByField
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/member:
    get:
      tags:
        - action
      summary: getActionsMemberByIdAction()
      operationId: Action_getMemberByIdAction
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, avatarSource, bio,
            bioData, confirmed, email, fullName, gravatarHash, idBoards,
            idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials,
            loginTypes, memberType, oneTimeMessagesDismissed, prefs,
            premiumFeatures, products, status, status, trophies,
            uploadedAvatarHash, url or username
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/member/{field}:
    get:
      tags:
        - action
      summary: getActionsMemberByIdActionByField()
      operationId: Action_getMemberByField
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/memberCreator:
    get:
      tags:
        - action
      summary: getActionsMemberCreatorByIdAction()
      operationId: Action_getMemberCreatorByIdAction
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, avatarSource, bio,
            bioData, confirmed, email, fullName, gravatarHash, idBoards,
            idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials,
            loginTypes, memberType, oneTimeMessagesDismissed, prefs,
            premiumFeatures, products, status, status, trophies,
            uploadedAvatarHash, url or username
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/memberCreator/{field}:
    get:
      tags:
        - action
      summary: getActionsMemberCreatorByIdActionByField()
      operationId: Action_getMemberByIdActionByField
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/organization:
    get:
      tags:
        - action
      summary: getActionsOrganizationByIdAction()
      operationId: Action_getOrganizationByIdAction
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: billableMemberCount, desc,
            descData, displayName, idBoards, invitations, invited, logoHash,
            memberships, name, powerUps, prefs, premiumFeatures, products, url
            or website
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/organization/{field}:
    get:
      tags:
        - action
      summary: getActionsOrganizationByIdActionByField()
      operationId: Action_getOrgByIdActionByField
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/text:
    put:
      tags:
        - action
      summary: updateActionsTextByIdAction()
      operationId: Action_updateTextByIdAction
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Actions Text" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/actions_text'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /actions/{idAction}/{field}:
    get:
      tags:
        - action
      summary: getActionsByIdActionByField()
      operationId: Action_getByIdActionField
      security:
        - api_key: []
          api_token: []
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /batch:
    get:
      tags:
        - batch
      summary: getBatch()
      operationId: Batch_getData
      security:
        - api_key: []
          api_token: []
      parameters:
        - description: list of API v1 GET routes, not including the version prefix
          in: query
          name: urls
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards:
    post:
      tags:
        - board
      summary: addBoards()
      operationId: Board_createBoard
      security:
        - api_key: []
        - api_token: []
      parameters: []
      requestBody:
        description: Attributes of "Boards" to be added.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}:
    get:
      tags:
        - board
      summary: getBoardsByIdBoard()
      operationId: Board_getById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: actions_entities
          required: false
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: actions_display
          required: false
          schema:
            type: string
        - description: 'One of: count, list or minimal'
          in: query
          name: actions_format
          required: false
          schema:
            default: list
            type: string
        - description: A date, null or lastView
          in: query
          name: actions_since
          required: false
          schema:
            type: string
        - description: a number from 0 to 1000
          in: query
          name: actions_limit
          required: false
          schema:
            default: '50'
            type: string
        - description: >-
            all or a comma-separated list of: data, date, idMemberCreator or
            type
          in: query
          name: action_fields
          required: false
          schema:
            default: all
            type: string
        - description: ' true or false'
          in: query
          name: action_member
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: action_member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: ' true or false'
          in: query
          name: action_memberCreator
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: action_memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: 'One of: all, closed, none, open or visible'
          in: query
          name: cards
          required: false
          schema:
            default: none
            type: string
        - description: >-
            all or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url
          in: query
          name: card_fields
          required: false
          schema:
            default: all
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: card_attachments
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: bytes, date, edgeColor, idMember,
            isUpload, mimeType, name, previews or url
          in: query
          name: card_attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: 'One of: all or none'
          in: query
          name: card_checklists
          required: false
          schema:
            default: none
            type: string
        - description: ' true or false'
          in: query
          name: card_stickers
          required: false
          schema:
            type: string
        - description: 'One of: mine or none'
          in: query
          name: boardStars
          required: false
          schema:
            default: none
            type: string
        - description: 'One of: all or none'
          in: query
          name: labels
          required: false
          schema:
            default: none
            type: string
        - description: 'all or a comma-separated list of: color, idBoard, name or uses'
          in: query
          name: label_fields
          required: false
          schema:
            default: all
            type: string
        - description: a number from 0 to 1000
          in: query
          name: labels_limit
          required: false
          schema:
            default: '50'
            type: string
        - description: 'One of: all, closed, none or open'
          in: query
          name: lists
          required: false
          schema:
            default: none
            type: string
        - description: >-
            all or a comma-separated list of: closed, idBoard, name, pos or
            subscribed
          in: query
          name: list_fields
          required: false
          schema:
            default: all
            type: string
        - description: >-
            all or a comma-separated list of: active, admin, deactivated, me or
            normal
          in: query
          name: memberships
          required: false
          schema:
            default: none
            type: string
        - description: ' true or false'
          in: query
          name: memberships_member
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: memberships_member_fields
          required: false
          schema:
            default: fullName and username
            type: string
        - description: 'One of: admins, all, none, normal or owners'
          in: query
          name: members
          required: false
          schema:
            default: none
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, initials, fullName, username and confirmed
            type: string
        - description: 'One of: admins, all, none, normal or owners'
          in: query
          name: membersInvited
          required: false
          schema:
            default: none
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: membersInvited_fields
          required: false
          schema:
            default: avatarHash, initials, fullName and username
            type: string
        - description: 'One of: all or none'
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: 'all or a comma-separated list of: idBoard, idCard, name or pos'
          in: query
          name: checklist_fields
          required: false
          schema:
            default: all
            type: string
        - description: ' true or false'
          in: query
          name: organization
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: billableMemberCount, desc,
            descData, displayName, idBoards, invitations, invited, logoHash,
            memberships, name, powerUps, prefs, premiumFeatures, products, url
            or website
          in: query
          name: organization_fields
          required: false
          schema:
            default: name and displayName
            type: string
        - description: >-
            all or a comma-separated list of: active, admin, deactivated, me or
            normal
          in: query
          name: organization_memberships
          required: false
          schema:
            default: none
            type: string
        - description: ' true or false'
          in: query
          name: myPrefs
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: closed, dateLastActivity,
            dateLastView, desc, descData, idOrganization, invitations, invited,
            labelNames, memberships, name, pinned, powerUps, prefs, shortLink,
            shortUrl, starred, subscribed or url
          in: query
          name: fields
          required: false
          schema:
            default: >-
              name, desc, descData, closed, idOrganization, pinned, url,
              shortUrl, prefs and labelNames
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
    put:
      tags:
        - board
      summary: updateBoardsByIdBoard()
      operationId: Board_updateById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Boards" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/actions:
    get:
      tags:
        - board
      summary: getBoardsActionsByIdBoard()
      operationId: Board_listActionsByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: entities
          required: false
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: display
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization
          in: query
          name: filter
          required: false
          schema:
            default: all
            type: string
        - description: >-
            all or a comma-separated list of: data, date, idMemberCreator or
            type
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: a number from 0 to 1000
          in: query
          name: limit
          required: false
          schema:
            default: '50'
            type: string
        - description: 'One of: count, list or minimal'
          in: query
          name: format
          required: false
          schema:
            default: list
            type: string
        - description: A date, null or lastView
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: A date, or null
          in: query
          name: before
          required: false
          schema:
            type: string
        - description: Page * limit must be less than 1000
          in: query
          name: page
          required: false
          schema:
            default: '0'
            type: string
        - description: Only return actions related to these model ids
          in: query
          name: idModels
          required: false
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: member
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: ' true or false'
          in: query
          name: memberCreator
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/boardStars:
    get:
      tags:
        - board
      summary: getBoardsBoardStarsByIdBoard()
      operationId: Board_getBoardStarsById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: 'One of: mine or none'
          in: query
          name: filter
          required: false
          schema:
            default: mine
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/calendarKey/generate:
    post:
      tags:
        - board
      summary: addBoardsCalendarKeyGenerateByIdBoard()
      operationId: Board_generateCalendarKeyById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/cards:
    get:
      tags:
        - board
      summary: getBoardsCardsByIdBoard()
      operationId: Board_getCardsByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: attachments
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: bytes, date, edgeColor, idMember,
            isUpload, mimeType, name, previews or url
          in: query
          name: attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: ' true or false'
          in: query
          name: stickers
          required: false
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: members
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: ' true or false'
          in: query
          name: checkItemStates
          required: false
          schema:
            type: string
        - description: 'One of: all or none'
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: a number from 1 to 1000
          in: query
          name: limit
          required: false
          schema:
            type: string
        - description: A date, or null
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: A date, or null
          in: query
          name: before
          required: false
          schema:
            type: string
        - description: 'One of: all, closed, none, open or visible'
          in: query
          name: filter
          required: false
          schema:
            default: visible
            type: string
        - description: >-
            all or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/cards/{filter}:
    get:
      tags:
        - board
      summary: getBoardsCardsByIdBoardByFilter()
      operationId: Board_filterCardsByIdBoard
      security:
        - api_key: []
          api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: filter
          in: path
          name: filter
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/cards/{idCard}:
    get:
      tags:
        - board
      summary: getBoardsCardsByIdBoardByIdCard()
      operationId: Board_getCardsByIdBoardByIdCard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idCard
          in: path
          name: idCard
          required: true
          schema:
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: attachments
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: bytes, date, edgeColor, idMember,
            isUpload, mimeType, name, previews or url
          in: query
          name: attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: >-
            all or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: actions_entities
          required: false
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: actions_display
          required: false
          schema:
            type: string
        - description: a number from 0 to 1000
          in: query
          name: actions_limit
          required: false
          schema:
            default: '50'
            type: string
        - description: >-
            all or a comma-separated list of: data, date, idMemberCreator or
            type
          in: query
          name: action_fields
          required: false
          schema:
            default: all
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: action_memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: ' true or false'
          in: query
          name: members
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, initials, fullName and username
            type: string
        - description: ' true or false'
          in: query
          name: checkItemStates
          required: false
          schema:
            type: string
        - description: 'all or a comma-separated list of: idCheckItem or state'
          in: query
          name: checkItemState_fields
          required: false
          schema:
            default: all
            type: string
        - description: ' true or false'
          in: query
          name: labels
          required: false
          schema:
            type: string
        - description: 'One of: all or none'
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: 'all or a comma-separated list of: idBoard, idCard, name or pos'
          in: query
          name: checklist_fields
          required: false
          schema:
            default: all
            type: string
        - description: >-
            all or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/checklists:
    get:
      tags:
        - board
      summary: getBoardsChecklistsByIdBoard()
      operationId: Board_getChecklistsById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: 'One of: all, closed, none, open or visible'
          in: query
          name: cards
          required: false
          schema:
            default: none
            type: string
        - description: >-
            all or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url
          in: query
          name: card_fields
          required: false
          schema:
            default: all
            type: string
        - description: 'One of: all or none'
          in: query
          name: checkItems
          required: false
          schema:
            default: all
            type: string
        - description: 'all or a comma-separated list of: name, nameData, pos, state or type'
          in: query
          name: checkItem_fields
          required: false
          schema:
            default: name, nameData, pos and state
            type: string
        - description: 'One of: all or none'
          in: query
          name: filter
          required: false
          schema:
            default: all
            type: string
        - description: 'all or a comma-separated list of: idBoard, idCard, name or pos'
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
    post:
      tags:
        - board
      summary: addBoardsChecklistsByIdBoard()
      operationId: Board_addChecklists
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Boards Checklists" to be added.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_checklists'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/closed:
    put:
      tags:
        - board
      summary: updateBoardsClosedByIdBoard()
      operationId: Board_updateClosedById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Boards Closed" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_closed'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/deltas:
    get:
      tags:
        - board
      summary: getBoardsDeltasByIdBoard()
      operationId: Board_getDeltasByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: A valid tag for subscribing
          in: query
          name: tags
          required: true
          schema:
            type: string
        - description: a number from -1 to Infinity
          in: query
          name: ixLastUpdate
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/desc:
    put:
      tags:
        - board
      summary: updateBoardsDescByIdBoard()
      operationId: Board_updateDescriptionByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Boards Desc" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_desc'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/emailKey/generate:
    post:
      tags:
        - board
      summary: addBoardsEmailKeyGenerateByIdBoard()
      operationId: Board_generateEmailKey
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/idOrganization:
    put:
      tags:
        - board
      summary: updateBoardsIdOrganizationByIdBoard()
      operationId: Board_updateOrganizationByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Boards Id Organization" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_idOrganization'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/labelNames/blue:
    put:
      tags:
        - board
      summary: updateBoardsLabelNamesBlueByIdBoard()
      operationId: Board_updateLabelNamesBlueById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Label Names Blue" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_blue'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/labelNames/green:
    put:
      tags:
        - board
      summary: updateBoardsLabelNamesGreenByIdBoard()
      operationId: Board_updateLabelNamesGreenByIdBoardPut
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Label Names Green" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_green'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/labelNames/orange:
    put:
      tags:
        - board
      summary: updateBoardsLabelNamesOrangeByIdBoard()
      operationId: Board_updateLabelNamesOrangeByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Label Names Orange" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_orange'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/labelNames/purple:
    put:
      tags:
        - board
      summary: updateBoardsLabelNamesPurpleByIdBoard()
      operationId: Board_updateLabelNamesPurpleByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Label Names Purple" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_purple'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/labelNames/red:
    put:
      tags:
        - board
      summary: updateBoardsLabelNamesRedByIdBoard()
      operationId: Board_updateLabelNamesRed
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Label Names Red" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_red'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/labelNames/yellow:
    put:
      tags:
        - board
      summary: updateBoardsLabelNamesYellowByIdBoard()
      operationId: Board_updateLabelNamesYellowByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Label Names Yellow" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/labelNames_yellow'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/labels:
    get:
      tags:
        - board
      summary: getBoardsLabelsByIdBoard()
      operationId: Board_listLabelsByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: 'all or a comma-separated list of: color, idBoard, name or uses'
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: a number from 0 to 1000
          in: query
          name: limit
          required: false
          schema:
            default: '50'
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
    post:
      tags:
        - board
      summary: addBoardsLabelsByIdBoard()
      operationId: Board_addLabelsByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Boards Labels" to be added.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_labels'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/labels/{idLabel}:
    get:
      tags:
        - board
      summary: getBoardsLabelsByIdBoardByIdLabel()
      operationId: Board_getLabelsByIdBoardByIdLabel
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idLabel
          in: path
          name: idLabel
          required: true
          schema:
            type: string
        - description: 'all or a comma-separated list of: color, idBoard, name or uses'
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/lists:
    get:
      tags:
        - board
      summary: getBoardsListsByIdBoard()
      operationId: Board_getListsByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: 'One of: all, closed, none, open or visible'
          in: query
          name: cards
          required: false
          schema:
            default: none
            type: string
        - description: >-
            all or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url
          in: query
          name: card_fields
          required: false
          schema:
            default: all
            type: string
        - description: 'One of: all, closed, none or open'
          in: query
          name: filter
          required: false
          schema:
            default: open
            type: string
        - description: >-
            all or a comma-separated list of: closed, idBoard, name, pos or
            subscribed
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
    post:
      tags:
        - board
      summary: addBoardsListsByIdBoard()
      operationId: Board_createListsByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Boards Lists" to be added.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_lists'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/lists/{filter}:
    get:
      tags:
        - board
      summary: getBoardsListsByIdBoardByFilter()
      operationId: Board_getListsByFilter
      security:
        - api_key: []
          api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: filter
          in: path
          name: filter
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/markAsViewed:
    post:
      tags:
        - board
      summary: addBoardsMarkAsViewedByIdBoard()
      operationId: Board_markAsViewedByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/members:
    get:
      tags:
        - board
      summary: getBoardsMembersByIdBoard()
      operationId: Board_getMembersByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: 'One of: admins, all, none, normal or owners'
          in: query
          name: filter
          required: false
          schema:
            default: all
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: fields
          required: false
          schema:
            default: fullName and username
            type: string
        - description: true or false ; works for premium organizations only.
          in: query
          name: activity
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
    put:
      tags:
        - board
      summary: updateBoardsMembersByIdBoard()
      operationId: Board_updateMembersByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/boards_members'
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/members/{filter}:
    get:
      tags:
        - board
      summary: getBoardsMembersByIdBoardByFilter()
      operationId: Board_getMembersByFilter
      security:
        - api_key: []
          api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: filter
          in: path
          name: filter
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/members/{idMember}:
    delete:
      tags:
        - board
      summary: deleteBoardsMembersByIdBoardByIdMember()
      operationId: Board_removeMember
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idMember
          in: path
          name: idMember
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
    put:
      tags:
        - board
      summary: updateBoardsMembersByIdBoardByIdMember()
      operationId: Board_updateMembersByIdBoardByIdMember
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idMember
          in: path
          name: idMember
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/boards_members'
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/members/{idMember}/cards:
    get:
      tags:
        - board
      summary: getBoardsMembersCardsByIdBoardByIdMember()
      operationId: Board_getMembersCardsByIdBoardByIdMember
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idMember
          in: path
          name: idMember
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: attachments
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: bytes, date, edgeColor, idMember,
            isUpload, mimeType, name, previews or url
          in: query
          name: attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: ' true or false'
          in: query
          name: members
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: ' true or false'
          in: query
          name: checkItemStates
          required: false
          schema:
            type: string
        - description: 'One of: all or none'
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: ' true or false'
          in: query
          name: board
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: closed, dateLastActivity,
            dateLastView, desc, descData, idOrganization, invitations, invited,
            labelNames, memberships, name, pinned, powerUps, prefs, shortLink,
            shortUrl, starred, subscribed or url
          in: query
          name: board_fields
          required: false
          schema:
            default: name, desc, closed, idOrganization, pinned, url and prefs
            type: string
        - description: ' true or false'
          in: query
          name: list
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: closed, idBoard, name, pos or
            subscribed
          in: query
          name: list_fields
          required: false
          schema:
            default: all
            type: string
        - description: 'One of: all, closed, none, open or visible'
          in: query
          name: filter
          required: false
          schema:
            default: visible
            type: string
        - description: >-
            all or a comma-separated list of: badges, checkItemStates, closed,
            dateLastActivity, desc, descData, due, email, idAttachmentCover,
            idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted,
            idShort, labels, manualCoverAttachment, name, pos, shortLink,
            shortUrl, subscribed or url
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/membersInvited:
    get:
      tags:
        - board
      summary: getBoardsMembersInvitedByIdBoard()
      operationId: Board_getMembersInvitedByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, avatarSource, bio,
            bioData, confirmed, email, fullName, gravatarHash, idBoards,
            idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials,
            loginTypes, memberType, oneTimeMessagesDismissed, prefs,
            premiumFeatures, products, status, status, trophies,
            uploadedAvatarHash, url or username
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/membersInvited/{field}:
    get:
      tags:
        - board
      summary: getBoardsMembersInvitedByIdBoardByField()
      operationId: Board_getMembersInvitedByField
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/memberships:
    get:
      tags:
        - board
      summary: getBoardsMembershipsByIdBoard()
      operationId: Board_getMembershipsByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: active, admin, deactivated, me or
            normal
          in: query
          name: filter
          required: false
          schema:
            default: all
            type: string
        - description: ' true or false'
          in: query
          name: member
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: member_fields
          required: false
          schema:
            default: fullName and username
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/memberships/{idMembership}:
    get:
      tags:
        - board
      summary: getBoardsMembershipsByIdBoardByIdMembership()
      operationId: Board_getMembershipsByIdBoardByIdMembership
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idMembership
          in: path
          name: idMembership
          required: true
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: member
          required: false
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: member_fields
          required: false
          schema:
            default: fullName and username
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
    put:
      tags:
        - board
      summary: updateBoardsMembershipsByIdBoardByIdMembership()
      operationId: Board_updateMembershipsByIdBoardByIdMembership
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idMembership
          in: path
          name: idMembership
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Boards Memberships" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_memberships'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/myPrefs:
    get:
      tags:
        - board
      summary: getBoardsMyPrefsByIdBoard()
      operationId: Board_getMyPrefsById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/myPrefs/emailPosition:
    put:
      tags:
        - board
      summary: updateBoardsMyPrefsEmailPositionByIdBoard()
      operationId: Board_updateMyPrefsEmailPositionByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "My Prefs Email Position" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/myPrefs_emailPosition'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/myPrefs/idEmailList:
    put:
      tags:
        - board
      summary: updateBoardsMyPrefsIdEmailListByIdBoard()
      operationId: Board_updateMyPrefsEmailListByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "My Prefs Id Email List" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/myPrefs_idEmailList'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/myPrefs/showListGuide:
    put:
      tags:
        - board
      summary: updateBoardsMyPrefsShowListGuideByIdBoard()
      operationId: Board_updateMyPrefsShowListGuideByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "My Prefs Show List Guide" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/myPrefs_showListGuide'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/myPrefs/showSidebar:
    put:
      tags:
        - board
      summary: updateBoardsMyPrefsShowSidebarByIdBoard()
      operationId: Board_updateMyPrefsShowSidebar
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "My Prefs Show Sidebar" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/myPrefs_showSidebar'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/myPrefs/showSidebarActivity:
    put:
      tags:
        - board
      summary: updateBoardsMyPrefsShowSidebarActivityByIdBoard()
      operationId: Board_updateMyPrefsShowSidebarActivityByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "My Prefs Show Sidebar Activity" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/myPrefs_showSidebarActivity'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/myPrefs/showSidebarBoardActions:
    put:
      tags:
        - board
      summary: updateBoardsMyPrefsShowSidebarBoardActionsByIdBoard()
      operationId: Board_updateMyPrefsShowSidebarActionsByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "My Prefs Show Sidebar Board Actions" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/myPrefs_showSidebarBoardActions'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/myPrefs/showSidebarMembers:
    put:
      tags:
        - board
      summary: updateBoardsMyPrefsShowSidebarMembersByIdBoard()
      operationId: Board_updatePrefsShowSidebarMembersById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "My Prefs Show Sidebar Members" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/myPrefs_showSidebarMembers'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/name:
    put:
      tags:
        - board
      summary: updateBoardsNameByIdBoard()
      operationId: Board_updateNameById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Boards Name" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_name'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/organization:
    get:
      tags:
        - board
      summary: getBoardsOrganizationByIdBoard()
      operationId: Board_getOrganizationById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: billableMemberCount, desc,
            descData, displayName, idBoards, invitations, invited, logoHash,
            memberships, name, powerUps, prefs, premiumFeatures, products, url
            or website
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/organization/{field}:
    get:
      tags:
        - board
      summary: getBoardsOrganizationByIdBoardByField()
      operationId: Board_getOrganizationByIdBoardByField
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/powerUps:
    post:
      tags:
        - board
      summary: addBoardsPowerUpsByIdBoard()
      operationId: Board_addPowerUpsByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Boards Power Ups" to be added.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_powerUps'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/powerUps/{powerUp}:
    delete:
      tags:
        - board
      summary: deleteBoardsPowerUpsByIdBoardByPowerUp()
      operationId: Board_removePowerUp
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: powerUp
          in: path
          name: powerUp
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/prefs/background:
    put:
      tags:
        - board
      summary: updateBoardsPrefsBackgroundByIdBoard()
      operationId: Board_updatePrefsBackgroundByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Prefs Background" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prefs_background'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/prefs/calendarFeedEnabled:
    put:
      tags:
        - board
      summary: updateBoardsPrefsCalendarFeedEnabledByIdBoard()
      operationId: Board_updatePrefsCalendarFeedEnabledById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Prefs Calendar Feed Enabled" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prefs_calendarFeedEnabled'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/prefs/cardAging:
    put:
      tags:
        - board
      summary: updateBoardsPrefsCardAgingByIdBoard()
      operationId: Board_updatePrefsCardAgingByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Prefs Card Aging" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prefs_cardAging'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/prefs/cardCovers:
    put:
      tags:
        - board
      summary: updateBoardsPrefsCardCoversByIdBoard()
      operationId: Board_updatePrefsCardCoversByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Prefs Card Covers" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prefs_cardCovers'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/prefs/comments:
    put:
      tags:
        - board
      summary: updateBoardsPrefsCommentsByIdBoard()
      operationId: Board_updatePrefsCommentsByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Prefs Comments" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prefs_comments'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/prefs/invitations:
    put:
      tags:
        - board
      summary: updateBoardsPrefsInvitationsByIdBoard()
      operationId: Board_updatePrefsInvitationsByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Prefs Invitations" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prefs_invitations'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/prefs/permissionLevel:
    put:
      tags:
        - board
      summary: updateBoardsPrefsPermissionLevelByIdBoard()
      operationId: Board_updatePrefsPermissionLevelById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/prefs_permissionLevel'
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/prefs/selfJoin:
    put:
      tags:
        - board
      summary: updateBoardsPrefsSelfJoinByIdBoard()
      operationId: Board_updatePrefsSelfJoinByIdBoard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Prefs Self Join" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prefs_selfJoin'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/prefs/voting:
    put:
      tags:
        - board
      summary: updateBoardsPrefsVotingByIdBoard()
      operationId: Board_updateVotingPrefsById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Prefs Voting" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/prefs_voting'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/subscribed:
    put:
      tags:
        - board
      summary: updateBoardsSubscribedByIdBoard()
      operationId: Board_updateSubscribedById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
      requestBody:
        description: Attributes of "Boards Subscribed" to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/boards_subscribed'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /boards/{idBoard}/{field}:
    get:
      tags:
        - board
      summary: getBoardsByIdBoardByField()
      operationId: Board_getByIdField
      security:
        - api_key: []
          api_token: []
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /cards:
    post:
      tags:
        - card
      summary: addCards()
      operationId: Card_createAndUpdate
      security:
        - api_key: []
        - api_token: []
      parameters: []
      requestBody:
        description: Attributes of "Cards" to be added.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cards'
        required: true
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
  /cards/{idCard}:
    delete:
      tags:
        - card
      summary: deleteCardsByIdCard()
      operationId: Card_removeByIdCard
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: card id or shortlink
          in: path
          name: idCard
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Server rejection
    get:
      tags:
        - card
      summary: getCardsByIdCard()
      operationId: Card_getById
      security:
        - api_key: []
        - api_token: []
      parameters:
        - description: card id or shortlink
          in: path
          name: idCard
          required: true
          schema:
            type: string
        - description: >-
            all or a comma-separated list of: addAttachmentToCard,
            addChecklistToCard, addMemberToBoard, addMemberToCard,
            addMemberToOrganization, addToOrganizationBoard, commentCard,
            convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard,
            createBoard, createCard, createList, createOrganization,
            deleteAttachmentFromCard, deleteBoardInvitation, deleteCard,
            deleteOrganizationInvitation, disablePowerUp, emailCard,
            enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard,
            makeNormalMemberOfOrganization, makeObserverOfBoard,
            memberJoinedTrello, moveCardFromBoard, moveCardToBoard,
            moveListFromBoard, moveListToBoard, removeChecklistFromCard,
            removeFromOrganizationBoard, removeMemberFromCard,
            unconfirmedBoardInvitation, unconfirmedOrganizationInvitation,
            updateBoard, updateCard, updateCard:closed, updateCard:desc,
            updateCard:idList, updateCard:name, updateCheckItemStateOnCard,
            updateChecklist, updateList, updateList:closed, updateList:name,
            updateMember or updateOrganization
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: actions_entities
          required: false
          schema:
            type: string
        - description: ' true or false'
          in: query
          name: actions_display
          required: false
          schema:
            type: string
        - description: a number from 0 to 1000
          in: query
          name: actions_limit
          required: false
          schema:
            default: '50'
            type: string
        - description: >-
            all or a comma-separated list of: data, date, idMemberCreator or
            type
          in: query
          name: action_fields
          required: false
          schema:
            default: all
            type: string
        - description: >-
            all or a comma-separated list of: avatarHash, bio, bioData,
            confirmed, fullName, idPremOrgsAdmin, initials, memberType,
            products, status, url or username
          in: query
          name: action_memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
[...]
